<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-button type="primary"
                 size='small'
                 @click="search">刷新</el-button>
      <el-button type="primary"
                 size='small'
                 icon="el-icon-download"
                 @click="exportFile">导出</el-button>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="table.list"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="设备保管者姓名">
          <template slot-scope="scope">
            <div class="ly-box"
                 v-if="scope.row.staffId">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px"
                     :src="scope.row.headIcon | wechatAvtor"
                     v-image-view>
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.account}}</p>
                <p class="ly-margin-top-4">{{scope.row.staffName}}</p>
              </div>
            </div>
            <p v-else
               class="c-primary">{{scope.row.staffName}}</p>
          </template>
        </el-table-column>

        <el-table-column label="设备保管者电话"
                         prop="phone">
          <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者部门"
                         prop="departmentName">
          <template slot-scope="scope">
            <span>{{scope.row.departmentName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="分配总数"
                         width="150px"
                         prop="total" />
        <el-table-column label="分配男性"
                         width="150px"
                         prop="male" />
        <el-table-column label="分配女性"
                         width="150px"
                         prop="female" />
        <el-table-column label="分配未知"
                         width="150px"
                         prop="unKnow" />
      </el-table>
    </div>
  </div>
</template>

<script>
import { indexMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import { downloadFile } from '@/utils'
export default {
  mixins: [indexMixin],
  methods: {
    list(current, size) {
      v3indexApi.getUserAssignCount(Object.assign({}, this.params)).then(data => {
        this.table.list = data || []
      })
    },
    // 导出
    exportFile() {
      v3indexApi.exportUserAssignCount(this.params).then((res) => {
        //downloadFile(res, '好友分配统计.xls')
        this.success(res)
      })
    },
    // exportFile() {
    //   this.downloadFile(v3indexApi.exportUserAssignCount(Object.assign({}, this.params)), '好友分配统计.xls')
    // }
  }
}
</script>
