<template>
  <div>
    <el-form class="ly-padding-horizontal-sm"
             label-width="100px"
             ref="formName"
             :model="params"
             :rules="rules"
             @submit.native.prevent>
      <el-form-item label="重置密码："
                    size="small"
                    prop="password">
        <el-input v-model.trim="params.password"
                  placeholder="123456"
                  type="password"
                  clearable></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { businessManageApi } from '@/api/oms'
import { passwordValidator } from '@/assets/js/validators'
export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      params: {
        enterpriseId: null,
        password: ''
      },
      rules: {
        password: [
          { required: true, message: '密码不能为空' },
          { validator: passwordValidator }
        ]
      }
    }
  },
  methods: {
    // 弹窗-确定
    sureCallback() {
      this.$refs.formName.validate((valid) => {
        if (valid) {
          this.submitData()
        } else {
          return false
        }
      })
    },
    submitData() {
      this.params.enterpriseId = this.dialog.info.id
      businessManageApi.getAgentListResetPwd(this.params).then(res => {
        this.success('恭喜你，重置成功')
        this.dialog.open = false
      })
    }
  }
}
</script>
