<template>
  <el-dialog title="修改备注" :visible.sync="dialogVisible" width="490px" @close="closeDialog" append-to-body>
    <div>请输入备注</div>
    <el-input v-model.trim="form.remark" :placeholder="placeholder
" class="mt-20 el-input-wechat" :maxlength="50"></el-input>
    <div slot="footer">
      <el-button @click="closeDialog">取 消</el-button>
      <el-button type="primary" @click="saveRemark">保存</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { userInfoApi } from '@/api/chat'

export default {
  props: {
    data: {
      type: Object
    }
  },
  data () {
    return {
      dialogVisible: true,
      form: {
        id: null,
        remark: ''
      },
      placeholder: ''
    }
  },
  created () {
    this.dialogVisible = true
    this.form = {
      id: this.data.id,
      remark: this.data.remark
    }
    this.placeholder = this.data.remark || this.data.nickName || ''
  },
  methods: {
    closeDialog () {
      this.$emit('on-close')
    },
    saveRemark () {
      let params = Object.assign({}, this.form)
      userInfoApi.editChatFriendUserInfo(params).then(() => {
        this.closeDialog()
        this.success('修改成功')
        this.$emit('on-success', params.remark)
      })
    }
  }
}
</script>
<style scoped>
.dialog-footer {
  padding-top: 0 !important;
}
</style>
