<template>
  <div class="countPie"
       ref="chart"></div>
</template>

<script>
import echarts from 'echarts'
import options from './src/options'
import { v3indexApi } from '@/api/system'
import { echartResizeMixin } from '@/mixins'

export default {
  mixins: [echartResizeMixin],
  data() {
    return {
      chart: null
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart()
    })
  },
  methods: {
    buildChart() {
      v3indexApi.getSensitiveAction().then(data => {
        const legendData = []
        let sum = 0
        options.series[0].data = data.map(v => {
          v.name = v.actionInfo
          v.value = v.number
          sum += v.value
          if (!legendData.includes(v.name)) {
            legendData.push(v.name)
          }
          return v
        })
        options.title.text = `敏感操作统计 共${sum}(个)`
        options.legend.data = legendData
        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        this.chart.setOption(options)
      })
    }
  }
}
</script>
