<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
          <span class="ly-margin-left-sm ly-font-14 ly-font-color-7">只同步三个月订单，需要同步更多订单请导入更多订单</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="importOrder">导入订单</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="导入店铺">
        </el-table-column>
        <el-table-column prop="name"
                         label="平台类型">
        </el-table-column>
        <el-table-column prop="address"
                         label="操作员工">
        </el-table-column>
        <el-table-column prop="address"
                         label="导入订单数">
        </el-table-column>
        <el-table-column prop="address"
                         label="成功">
        </el-table-column>
        <el-table-column prop="address"
                         label="失败">
          <template slot-scope="scope">
            <span class="ly-font-color-5"
                  @click="showFailDialog">{{scope.row.status}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="导入时间">
        </el-table-column>
        <el-table-column prop="address"
                         label="完成时间">
        </el-table-column>
        <el-table-column prop="address"
                         label="导入状态">
          <template slot-scope="scope">
            <span class="ly-font-color-5">已完成</span>
            <span class="ly-font-color-6">导入中</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
    <!-- 导入订单 -->
    <importOrderDialog ref="importOrderCom"></importOrderDialog>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'
import importOrderDialog from './components/importOrderDialog.vue'

export default {
  components: { collapse, importOrderDialog },
  data() {
    return {
      activeNames: ['1'],
      params: {
        platformType: true,
        importShop: true,
        importState: true,
        operatingStaff: true,
        date: true
      },
      tableData: [],
      showImportDialog: false
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          status: '1'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          status: '1'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          status: '1'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    },
    // 导入订单
    importOrder() {
      this.$refs.importOrderCom.openDialog()
    },
    showFailDialog() {
      this.$refs.importOrderCom.openDialog()
    }
  }
}
</script>
