<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="addCall">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData3"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="店铺名称">
        </el-table-column>
        <el-table-column prop="name"
                         label="平台类型">
        </el-table-column>
        <el-table-column prop="address"
                         label="店铺类目">
        </el-table-column>
        <el-table-column prop="address"
                         label="授权状态">
        </el-table-column>
        <el-table-column prop="address"
                         label="授权时间">
        </el-table-column>
        <el-table-column prop="address"
                         label="授权到期时间">
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="scope">
            <el-button @click="authorizeCall"
                       type="text"
                       size="small">授权</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'

export default {
  components: { collapse },
  data() {
    return {
      activeNames: ['1'],
      params: {
        platformType: true
      },
      tableData3: [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    }
  },
  created() {
  },
  methods: {
    queryCallback() { },
    // 新增员工
    addCall() {
      alert('新增员工')
    },
    authorizeCall() {
      console('dianji')
    }
  }
}
</script>
