<template>
  <!-- 下面的tab切换 -->
  <el-tabs v-model="activeName"
           class="system-home-container">
    <el-tab-pane label="基础信息"
                 name="basicInfo">
      <vma-lazy :initial="activeName === 'basicInfo'">
        <basic-info :info="info" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="企业列表"
                 name="enterpriseList">
      <vma-lazy :initial="activeName === 'enterpriseList'">
        <enterprise-list :info="info" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="设备明细"
                 name="equipmentDetails">
      <vma-lazy :initial="activeName === 'equipmentDetails'">
        <equipment-details :info="info" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="授权店铺"
                 name="authorizedShop">
      <vma-lazy :initial="activeName === 'authorizedShop'">
        <authorized-shop :info="info" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="个人号"
                 name="personalNum">
      <vma-lazy :initial="activeName === 'personalNum'">
        <personal-num :info="info" />
      </vma-lazy>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import {
  basicInfo,
  enterpriseList,
  equipmentDetails,
  authorizedShop,
  personalNum
} from './src'

export default {
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  components: {
    basicInfo,
    enterpriseList,
    equipmentDetails,
    authorizedShop,
    personalNum
  },
  data() {
    return {
      activeName: 'basicInfo'
    }
  }
}
</script>
