<template>
  <div class="ly-text-center" style="overflow: hidden;">
    <div style="margin: 0 10%">
      <div class="ly-box">
        <div class="ly-box-1">
          <div class="ly-box">
            <div class="ly-font-weight-600">IMEI:</div>
            <div class="ly-box-1 ly-text-left">{{info.data.imei}}</div>
          </div>
        </div>
        <div class="ly-width-230px">
          <div class="ly-box">
            <div class="ly-font-weight-600">设备当时所属员工:</div>
            <div class="ly-box-1 ly-text-left">{{info.data.staffName || '--'}}</div>
          </div>
        </div>
      </div>
      <div class="ly-box ly-margin-top-4">
        <div class="ly-box-1">
          <div class="ly-box">
            <div class="ly-font-weight-600">{{info.data.callType===1?'被叫':'主叫'}}号码:</div>
            <div class="ly-box-1 ly-text-left">{{info.data.phone || '--'}}</div>
          </div>
        </div>
        <div class="ly-width-230px">
          <div class="ly-box">
            <div class="ly-font-weight-600">呼叫类型:</div>
            <div class="ly-box-1 ly-text-left">{{info.data.callType==1?'主叫':'被叫'}}</div>
          </div>
        </div>
      </div>
      <div class="ly-box ly-margin-top-4">
        <div class="ly-box-1">
          <div class="ly-box">
            <div class="ly-font-weight-600">呼叫时间:</div>
            <div
              class="ly-box-1 ly-text-left"
            >{{fmt.date(info.data.beginTime) || '--'}}至{{fmt.date(info.data.endTime) || '--'}}</div>
          </div>
        </div>
        <div class="ly-width-230px">
          <div class="ly-box">
            <div class="ly-font-weight-600">呼叫时长:</div>
            <!-- <div class="ly-box-1 ly-text-left">{{info.data.duration | timeLongFmt}}s</div> -->
            <div class="ly-box-1 ly-text-left">{{voiceLength}}s</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 音频 -->
    <div class="audiolay ly-margin-top-20px" style="display: inline-block;">
      <!--amr文件-->
      <template v-if="player.canPlay && (audioType === 1)">
        <div v-if="player.audioContext && player.canPlay">
          <span
            class="audioBtn ly-cursor-pointer"
            style="line-height: 18px;"
            v-if="!player.isPlaying"
            @click="amrPlay"
          >
            <i class="el-icon-caret-right"></i>
          </span>
          <span class="audioBtn ly-cursor-pointer" v-if="player.isPlaying" @click="amrPause">
            <i class="ly-play-icon-small">
              <img src="@/assets/images/chat/audioPlaying.gif" />
            </i>
          </span>
        </div>
        <div v-else>音频文件解析出错！</div>
      </template>
      <!--MP3文件-->
      <!--
      <template v-if="audioType === 2">
        <span class="audioBtn"
              style="line-height: 18px;"
              v-if="!visible.isPlay"
              @click="audioPlay">
          <i class="el-icon-caret-right"></i>
        </span>
        <span class="audioBtn ly-cursor-pointer"
                v-if="visible.isPlay"
                @click="audioPause">
          <i class="ly-play-icon-small">
            <img src="@/assets/images/chat/audioPlaying.gif" />
          </i>
        </span>
        <span>{{info.voiceLength*1000 | soundLength}}</span>
        <audio class="audio"
               v-if="audioType === 2"
               controls
               preload
               ref="audioRef"
               id="audioId">
          <source :src="info.msgSource"
                  type="audio/mpeg">
          您的浏览器不支持该音频格式。
        </audio>
      </template>
      -->
    </div>
    <div class="audio-div" v-if="audioType === 2">
      <audio
        class="audio"
        v-if="audioType === 2"
        controls
        preload
        ref="audioRef"
        id="audioId"
        @durationchange="durationchange($event)"
      >
        <source :src="info.msgSource" type="audio/mpeg" />您的浏览器不支持该音频格式。
      </audio>
      <el-button class="toText" :disabled="isDisabled" icon="el-icon-document" @click="toTextFun()">转文本</el-button>
    </div>
    <!-- 语音转文本 -->
    <div class="recordTOtext" v-if="isDisplay">
      
        {{recordText}} 
    
    </div>

    <div slot="footer" class="dialog-footer ly-box" style="margin-top: 0px;">
      <div v-if="isDisplay" class="ly-box-1 ly-text-left recordTOtextBtn ">
        <el-button size="mini"  type="info" icon="el-icon-check" circle></el-button>
      </div>
      <div class="ly-box-1 ly-text-right">
        <el-button
          @click="initAmrSource"
          v-if="player.canPlay && (audioType === 1) && (!(player.audioContext && player.canPlay))"
        >重新加载</el-button>
        <el-button @click="info.open = false">关闭</el-button>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * info格式：iv> msgSource: 'http://www.w3school.com.cn/i/movie.mp4',--文本，图片url,音频url,视频url
 * vedioImg/coverInfo: 'http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L', --如果是视频额外添加背景图片
 * msgType: 4 --类型
 */
import AmrPlayer from "@static/js/amr/amrnb.js";
import { riskManagementApi } from "@/api/system";
export default {
  props: {
    info: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {
      visible: {
        imageUrl: "",
        imageVisible: false,
        videoUrl: "",
        videoVisible: false,
        audioDuration: 0,
        isPlay: false
      },
      audioType: 1, // 1--amr, 2--mp3
      player: {},
      voiceLength: 0,
      params: {
        id: ""
      },
      recordText:'',
      isDisplay:false,
      isDisabled:false
    };
  },
  created() {
    if (this.info.msgSource.indexOf(".amr") > -1) {
      // amr文件
      this.initAmrSource();
    } else {
      // MP3文件
      this.audioType = 2;
    }
  },
  mounted() {
    // mp3文件
    if (this.audioType === 2) {
      this.audioAddEventListen();
    }
  },
  methods: {
    durationchange(data, index) {
      let voiceLength = parseInt(data.target.duration);
      this.voiceLength = voiceLength;
    },
    initAmrSource() {
      let player = new AmrPlayer(this.info.msgSource);
      // let player = new AmrPlayer('https://keji-res.h5h5h5.cn/call/1f6dc9a2-23ad-43f3-ba8e-28f1c5f8b64e.amr?attname=18650997858_1557134433985.amr')
      this.player = player;
      this.$nextTick(() => {
        this.playerCall();
      });
    },
    playerCall() {
      if (this.player.canPlay) {
      } else {
        setTimeout(() => {
          this.playerCall(this.player);
        }, 100);
      }
    },
    amrPlay() {
      this.player.play();
    },
    amrPause() {
      this.player.pause();
    },
    /**
     * 播放
     */
    audioPlay() {
      // 先暂停其他音频的播放
      let audioEles = document.getElementsByTagName("audio");
      for (let i = 0; i < audioEles.length; i++) {
        audioEles[i].pause();
        audioEles[i].currentTime = 0;
      }
      let audioEle = this.$refs.audioRef;
      this.visible.isPlay = true;
      audioEle.play();
    },
    /**
     * 停止播放
     */
    audioPause() {
      let audioEle = this.$refs.audioRef;
      this.visible.isPlay = false;
      audioEle.pause();
      audioEle.currentTime = 0;
    },
    /**
     * 监听播放
     */
    audioAddEventListen() {
      let eles = this.$refs.audioRef;
      let _this = this;
      if (eles) {
        eles.addEventListener("play", function() {
          _this.toggleState(eles);
        });
        eles.addEventListener("pause", function() {
          _this.toggleState(eles);
        });
        eles.addEventListener("ended", function() {
          _this.toggleState(eles);
        });
      }
    },
    toggleState(eles) {
      this.visible.isPlay = !eles.paused;
    },
    // 转文本
    async toTextFun() {
      this.params.id = this.info.data.id;
      await riskManagementApi.callrecordToText(this.params).then(res => {
        this.recordText = res.text
        this.isDisplay = true
        this.isDisabled = true
      });
    }
  },
  destroyed() {
    let eles = this.$refs.audioRef;
    if (eles) {
      eles.removeEventListener("play", this.toggleState(eles));
      eles.addEventListener("pause", this.toggleState(eles));
      eles.addEventListener("ended", this.toggleState(eles));
    }
    if (this.audioType === 1) {
      this.player.pause();
      this.player = null;
    }
  }
};
</script>
<style lang="scss" scoped>
.el-popover {
  max-width: 1000px;
}
.audiolay .audio {
  position: relative;
  opacity: 1;
}
.audiolay .audio:focus {
  outline: none;
}
.audio-div {
  text-align: center;
  position: relative;
  audio {
    width: 74%;
    padding-right: 74px;
    margin: 0 auto;
    &:focus {
      outline: none;
    }
  }
  .toText {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.recordTOtext {
  width: 74%;
  padding: 10px 0 0 74px;
  text-align: left;
}
.recordTOtextBtn {
  padding-left: 40px;
}
</style>
