<template>
  <el-form :model="dialog.data"
           ref="dialog"
           :rules="rules"
           label-width="100px">
    <el-form-item label="敏感词："
                  prop="keyWord">
      <el-input :type="dialog.data.type"
                :rows="5"
                clearable
                placeholder="请输入内容"
                v-model="dialog.data.keyWord"
                size="small">
      </el-input>
      <p class="ly-font-12"
         v-if="dialog.data.type == 'textarea'">一行一个敏感词，支持同时添加多个敏感词</p>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('dialog')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { riskManagementApi } from '@/api/system'

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      rules: {
        keyWord: [
          { required: true, message: '请填写敏感词', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    // 弹窗-确定
    sureCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.dialog.data.id) {
            this.editCallback()
          } else {
            this.addCallback()
          }
        } else {
          return false
        }
      })
    },
    // 新增敏感词
    addCallback() {
      let keyWordsArr = this.dialog.data.keyWord.split('\n')
      for (let i = 0; i < keyWordsArr.length; i++) {
        let item = keyWordsArr[i]
        if (item.length > 10) {
          this.error('每个敏感词不可以超过10个字')
          return
        }
      }
      if (keyWordsArr.length > 200) {
        this.error('不可同时添加超过200个敏感词')
        return
      }
      riskManagementApi.addSensitiveConfig(keyWordsArr).then(res => {
        this.success('恭喜你，新增成功')
        this.dialog.open = false
        this.$emit('getTableList')
      })
    },
    // 编辑敏感词
    editCallback() {
      if (this.dialog.data.keyWord.length > 10) {
        this.error('敏感词不可以超过10个字')
        return
      }
      riskManagementApi.editSensitiveConfig({ id: this.dialog.data.id, keyWord: this.dialog.data.keyWord }).then(res => {
        this.success('恭喜你，编辑成功')
        this.dialog.open = false
        this.$emit('getTableList')
      })
    }
  }
}
</script>
