<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.keyWord"
                    placeholder="应用名/包名"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="openCallback($event,'set')">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="appName"
                         label="应用名称">
        </el-table-column>
        <el-table-column prop="packageName"
                         label="包名称">
        </el-table-column>
        <el-table-column prop="eqNum"
                         label="已添加设备">
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="openCallback($event,'set',scope.row)">编辑</el-button>
            <el-button type="text"
                       size="small"
                       @click="openCallback($event,'tree',scope.row)">分配设备</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
    <!-- 弹窗 -->
    <el-dialog :title="set.title"
               class="ly-font-color-4"
               width="560px"
               :visible.sync="set.open" append-to-body>
      <appSet :dataInfo="set"
              v-if="set.open"
              @getTableList="getTableList"></appSet>
    </el-dialog>

    <el-dialog :title="tree.title"
               class="ly-font-color-4"
               width="700px"
               :visible.sync="tree.open" append-to-body>
      <treeSet :dataInfo="tree"
               v-if="tree.open"
               @getTableList="getTableList"></treeSet>
    </el-dialog>
  </div>
</template>

<script>
import appSet from './components/appSettings/appSet'
import treeSet from './components/appSettings/treeSet'
import { riskManagementApi } from '@/api/system'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { appSet, treeSet },
  data() {
    return {
      activeNames: ['1'],
      params: {
        keyWord: ''
      },
      set: {
        title: '',
        open: false,
        data: {
          appName: '',
          packageName: ''
        }
      },
      tree: {
        open: false,
        keyWord: '',
        title: '',
        data: [
          {
            label: '全选',
            children: []
          }
        ],
        defaultCheckeds: [],
        checkeds: [],
        id: null
      }
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await riskManagementApi.appList(this.params).then(res => {
        this.tableData = res
      })
    },
    // 弹窗-打开
    openCallback(defObj, val, obj) {
      switch (val) {
        case 'set':
          if (obj) {
            this.set.title = '编辑App设置'
            this.set.data = {
              appName: obj.appName,
              packageName: obj.packageName,
              id: obj.id
            }
          } else {
            this.set.title = '新增App设置'
            this.set.data = {
              appName: '',
              packageName: ''
            }
          }
          this.set.open = true
          break
        case 'tree':
          this.tree.title = `App[${obj.appName}]的设置`
          this.tree.open = true
          this.tree.id = obj.id
          break
      }
    }
  }
}
</script>
