<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.keyWord"
                    placeholder="敏感词"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click.native="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="openCallback($event,'add')">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="keyWord"
                         label="敏感词">
        </el-table-column>
        <el-table-column prop="staffName"
                         label="创建者">
        </el-table-column>
        <el-table-column label="创建时间"
                         min-width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="openCallback($event,scope.row)">编辑</el-button>
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small"
                       @click.native="handleClose(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
    <!-- 弹窗 -->
    <el-dialog :title="dialog.dialogName+'敏感词'"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open" append-to-body>
      <sensitiveWord :dialog="dialog"
                     v-if="dialog.open"
                     @getTableList="getTableList"></sensitiveWord>
    </el-dialog>
  </div>
</template>

<script>
import sensitiveWord from './components/smsSensitiveWord'
import { riskManagementApi } from '@/api/system'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { sensitiveWord },
  data() {
    return {
      activeNames: ['1'],
      params: {
        keyWord: ''
      },
      dialog: {
        dialogName: '新增',
        open: false,
        data: {
          keyWord: '',
          type: ''
        }
      }
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await riskManagementApi.sensitiveConfigList(this.params).then(res => {
        this.tableData = res
      })
    },
    // 敏感词弹窗-打开
    openCallback(defObj, val) {
      if (val === 'add') {
        this.dialog = {
          dialogName: '新增',
          open: true,
          data: {
            keyWord: '',
            type: 'textarea'
          }
        }
      } else {
        this.dialog = {
          dialogName: '编辑',
          open: true,
          data: {
            keyWord: val.keyWord,
            type: 'text',
            id: val.id
          }
        }
      }
    },
    // 删除
    deleteCallback(id) {
      riskManagementApi.deleteSensitiveConfig(id).then((res) => {
        this.success('恭喜你，删除成功')
        if (this.tableData.records.length === 1) {
          this.params.current--
        }
        this.getTableList()
      })
    }
  }
}
</script>
