<template>
  <div>
    <!-- 筛选查询 -->
    <collapseLay :params="params"></collapseLay>
    <div class="ly-box ly-margin-top-sm ly-width-100">
      <div>
        <!-- 重复群 -->
        <div class="ly-width-300px ly-bg-white ly-width-100">
          <div class="ly-border-bottom-1 ly-margin-horizontal-sm ly-padding-vertical-sm">
            <span class="ly-vertical-line ly-font-16 ly-font-color-1 ly-font-weight-400 ly-vertical-middle">重复群</span>
          </div>
          <div class="ly-margin-top-sm">
            <div class="item-info ly-box ly-border-bottom-1"
                 v-bind:class="{'choice': isChoiceNowIndex}"
                 @click="choiceFriend">
              <img class="photo"
                   :src="headIcon | wechatAvtor"
                   v-image-view />
              <div class="ly-box-1">
                <p class="ly-font-14 ly-font-color-3">测试</p>
                <p class="ly-font-14 ly-font-color-2">asd598485165</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 数据列表 -->
      <div class="ly-bg-white ly-padding-sm ly-width-100 ly-margin-left-sm">
        <!-- 表头 -->
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
          </div>
          <span class="ly-margin-top-nge-4">
            <el-button type="primary"
                       size="small">导出重复群</el-button>
          </span>
        </div>
        <!-- 表格 -->
        <el-table ref="multipleTable"
                  :data="tableData.records"
                  tooltip-effect="dark"
                  style="width: 100%">
          <el-table-column prop="name"
                           label="所属个人号"
                           min-width="200">
            <template slot-scope="scope">
              <div class="ly-box">
                <div class="ly-margin-right-xs">
                  <img class="ly-wh-50px"
                       :src="scope.row.userInfo.headIcon | wechatAvtor"
                       v-image-view />
                </div>
                <div class="ly-box-1 ly-font-color-2 line-height-14">
                  <p class="ly-font-color-3">{{scope.row.userInfo.nickName}}</p>
                  <p class="ly-margin-top-4">{{scope.row.userInfo.phone}}</p>
                  <p class="ly-margin-top-4">{{scope.row.userInfo.wxAccount}}</p>
                </div>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="staffName"
                           label="已分配员工">
          </el-table-column>
          <el-table-column prop="name"
                           label="最早聊天时间"
                           min-width="160">
            <template slot-scope="scope">
              <span>{{fmt.date(scope.row.createTime)}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="firstStaffName"
                           label="最早聊天员工">
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="ly-box ly-margin-top-sm"
             v-if="tableData.total>0">
          <vma-pagination class="ly-text-right ly-box-1"
                          :pageNum="params.current"
                          :total="tableData.total"
                          :pageSize="params.size"
                          @change="getTableList" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import collapseLay from '@/pages/ui/components/collapseLay'

export default {
  components: { personalInfo, collapseLay },
  data() {
    return {
      activeNames: ['1'],
      params: {
        groupName: true
      },
      headIcon: '',
      tableData: {
        records: [
          {
            userInfo: {
              nickName: '测试',
              phone: 189712199,
              wxAccount: 15615646
            },
            staffName: '测试'
          }
        ]
      },
      isChoiceNowIndex: false,
      list: [
        {
          headIcon: '',
          groupName: 'lzxjhc',
          wxId: 1231565465
        }
      ]
    }
  },
  methods: {
    queryCallback() {
      console.log(this.params)
    },
    // 敏感操作设置
    childenCall(val) {
      this.dialogFormVisible = true
    },
    choiceFriend() {
      this.isChoiceNowIndex = !this.isChoiceNowIndex
    }
  }
}
</script>
