<template>
  <div>
    <!-- 筛选查询 -->
    <collapseLay :params="params"></collapseLay>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="childenCall('add')">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="敏感词">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="敏感类型">
        </el-table-column>
        <el-table-column prop="address"
                         label="创建员工">
        </el-table-column>
        <el-table-column prop="name"
                         label="创建时间">
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="">
            <el-button type="text"
                       size="small">编辑</el-button>
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
    <!-- 弹窗 -->
    <el-dialog :title="dialogName"
               class="ly-font-color-4"
               :visible.sync="dialogFormVisible">
      <div class="ly-box labelLay">
        <span class="star ly-font-16 key"> 敏感词：</span>
        <div class="ly-box-1">
          <el-input type="textarea"
                    :rows="5"
                    placeholder="请输入内容"
                    v-model="textarea">
          </el-input>
          <p class="ly-font-12 ly-margin-top-xs">一行一个敏感词，支持同时添加多个敏感词</p>
        </div>
      </div>
      <div class="labelLay am-margin-top-xl">
        <span class="ly-font-16 key">敏感类型：</span>
        <el-button-group>
          <el-button :type="earlyWarning?'primary':''"
                     @click="earlyWarning = true">阻止并预警</el-button>
          <el-button :type="!earlyWarning?'primary':''"
                     @click="earlyWarning = false">仅预警</el-button>
        </el-button-group>
      </div>
      <div slot="footer"
           class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary"
                   @click="dialogFormVisible = false">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import collapseLay from '@/pages/ui/components/collapseLay'

export default {
  components: { collapseLay },
  data() {
    return {
      activeNames: ['1'],
      params: {
        sensitive: true,
        date: true
      },
      tableData: [],
      multipleSelection: [],
      dialogName: '新增敏感词',
      dialogFormVisible: false,
      textarea: '',
      earlyWarning: true
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    },
    // 新增敏感词
    childenCall(val) {
      if (val === 'add') {
        this.dialogName = '新增敏感词'
      } else {
        this.dialogName = '编辑敏感词'
      }
      this.dialogFormVisible = true
    }
  }
}
</script>
