<template>
  <div>
    <!-- 筛选查询 -->
    <collapseLay :params="params"></collapseLay>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button size="small"
                     @click="childenCall('add')">设置</el-button>
          <el-button type="primary"
                     size="small"
                     @click="childenCall('add')">导出</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         width="55">
        </el-table-column>
        <el-table-column label="敏感行为">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="异常">
        </el-table-column>
        <el-table-column prop="address"
                         label="状态"
                         show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作员工">
        </el-table-column>
        <el-table-column prop="name"
                         label="个人号信息"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="好友/群昵称"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="好友备注">
        </el-table-column>
        <el-table-column prop="name"
                         label="好友/群所属员工">
        </el-table-column>
        <el-table-column prop="name"
                         label="设备所属员工">
        </el-table-column>
        <el-table-column prop="name"
                         label="发生时间">
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="200">
          <template slot-scope="">
            <el-button @click="handleClick"
                       type="text"
                       size="small">详情</el-button>
            <el-button type="text"
                       size="small">聊天记录</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <div>
          <el-button class="ly-"
                     type="primary"
                     size="small"
                     @click="childenCall('add')">批量处理</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
    <!-- 弹窗 -->
    <el-dialog title="敏感操作设置"
               class="ly-font-color-4"
               :visible.sync="dialogFormVisible">
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="敏感行为">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="是否默认正常">
        </el-table-column>
        <el-table-column prop="address"
                         label="显示色值"
                         show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="">
            <el-button type="primary"
                       size="mini">保存</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div slot="footer"
           class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import collapseLay from '@/pages/ui/components/collapseLay'

export default {
  components: { personalInfo, collapseLay },
  data() {
    return {
      activeNames: ['1'],
      params: {
        personalId: true,
        processing: true,
        abnormal: true,
        employees: true,
        deviceGrouping: true,
        equipmentEmployees: true,
        date: true
      },
      tableData: [],
      multipleSelection: [],
      dialogFormVisible: false
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    },
    // 敏感操作设置
    childenCall(val) {
      this.dialogFormVisible = true
    },
    handleSelectionChange(val) {
      console.log('1')
    },
    handleClick(val) {
      console.log('1')
    }
  }
}
</script>
