<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-date-picker class="ly-margin-right-xs"
                      type="daterange"
                      size='small'
                      range-separator="至"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期"
                      :default-time="['00:00:00', '23:59:59']"
                      :clearable="false"
                      v-model="dateRange.params"
                      @change="delaySearch">
      </el-date-picker>
      <departmenTreeCascadert v-model="departmentId"
                              filterable
                              size='small'
                              clearable
                              placeholder="团队"
                              class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
      <el-button type="primary"
                 size='small'
                 @click="search">搜索</el-button>
      <el-button type="primary"
                 size='small'
                 icon="el-icon-download"
                 @click="exportFile">导出</el-button>
      <el-tag size="medium ">接待人数总数: {{takingCount}}</el-tag>

    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="table.list"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="设备保管者">
          <template slot-scope="scope">
            {{scope.row.loginAccount}}({{scope.row.staffName}})
          </template>
        </el-table-column>
        <el-table-column label="设备保管者电话"
                         prop="phone">
          <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者部门"
                         prop="departmentName">
          <template slot-scope="scope">
            <span>{{scope.row.departmentName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="总接待数"
                         prop="totalChatTarget" />
        <el-table-column label="接待男性好友总数"
                         prop="totalMale" />
        <el-table-column label="接待女性好友总数"
                         prop="totalFemale" />
        <el-table-column label="接待未知性别好友总数"
                         prop="totalUnKnowCount" />
        <el-table-column label="接待群聊总数"
                         prop="totalChatroom" />
        <el-table-column label="未回复总数"
                         prop="totalNoReplyChatTarget" />
        <el-table-column label="显示趋势">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="showDetail(Object.assign({}, scope.row, params))">显示趋势图</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog class="dialog-hide-footer dialog-lg"
               :title="detail.entity ? (detail.entity.loginAccount + `(${detail.entity.staffName})`) : '详情'"
               :visible.sync="detail.show" append-to-body>
      <mod-detail v-if="detail.show"
                  :data="detail.entity" />
    </el-dialog>
  </div>
</template>

<script>
import { indexMixin } from '@/mixins'
import { watchDateRangeToTimestamp, getRangeDate, accurateTodate,downloadFile } from '@/utils'
import { v3indexApi } from '@/api/system'
import ModDetail from './detail'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  mixins: [indexMixin],
  components: {
    ModDetail,departmenTreeCascadert
  },
  watch: {
    departmentId: function (val, oldVal) {
      if (val.length) {
        this.params.departmentId = val[val.length - 1]
      } else {
        this.params.departmentId = ''
      }
    }
  },
  data() {
    return {
      takingCount:'null',
      departmentId: [],
      params: {
        from: '',
        to: '',
        departmentId: '',
      },
      dateRange: {
        params: ''
      }
    }
  },
  created() {
    this.$watch('dateRange.params', watchDateRangeToTimestamp(this.params, 'from', 'to'))
    const weekDate = getRangeDate()
    weekDate.now = accurateTodate(weekDate.now, 23, 59, 59)
    this.dateRange.params = [weekDate.then, weekDate.now]
  },
  methods: {
    list(current, size) {
      v3indexApi.getStaffJiedaiCount(Object.assign({}, this.params)).then(data => {
        this.table.list = data || []
        this.takingCount = this.table.list[0].sum
      })
    },
    // 导出
    exportFile() {
      v3indexApi.exportStaffJiedaiCount(this.params).then((res) => {
       //downloadFile(res, '接待人数统计.xls')
        this.success(res)
      })
    },
    // exportFile() {
    //   this.downloadFile(v3indexApi.exportStaffJiedaiCount(Object.assign({}, this.params)), '接待人数统计.xls')
    // }
  }
}
</script>
