<template>
  <div class="exportExcel">
      <p style="float: right;">
        <el-button @click = 'exportExcel' type="primary">导出</el-button>
      </p>
  </div>
</template>
<script>
    import {
        wechatApi
    } from '@/api/oms'
    import {
        downloadFile
    } from '@/utils'
    export default {
        props: {
            excelName: {
                type: Object,
                default: () => {
                    return {}
                }
            },
        },
        data() {
            return {
                params: {
                    page: 1,
                    size: 10
                }
            }
        },
        created() {},
        methods: {
            async exportExcel() {
                // console.log(this.excelName)
                switch (this.excelName.excel) {
                    case 'eq':
                        await this.eqExport()
                        break;
                    case 'staffTalk':
                        await this.staffTalkExport()
                        break;
                    case 'addFans':
                        await this.addFansExport()
                        break;
                    case 'noWork':
                        await this.staffCountNoDayExport()
                }
            },
            //设备统计导出
            eqExport() {
                wechatApi.eqExport().then(res => {
                    downloadFile(res, '设备统计.xls')
                    this.success('恭喜你，导出成功')
                })
            },
            // 对话统计-导出
            staffTalkExport() {
                wechatApi.staffTalkCountExport().then(res => {
                    downloadFile(res, '对话统计.xls')
                    this.success('恭喜你，导出成功')
                })
            },
            // 信加粉统计-导出
            addFansExport() {
                wechatApi.addFansCountExport().then(res => {
                    downloadFile(res, '微信加粉统计.xls')
                    this.success('恭喜你，导出成功')
                })
            },
            //非工作日-导出
            staffCountNoDayExport() {
                wechatApi.staffCountNoDayExport().then(res => {
                    downloadFile(res, '非工作日统计.xls')
                    this.success('恭喜你，导出成功')
                })
            }
        },
    }
</script>
<style scoped>
    .exportExcel {
        width: 100%;
        background: #fff;
        height: 80px;
        padding: 20px;
        box-sizing: border-box;
    }
</style>