<template>
  <div class="pagintion">
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.current"
      :page-sizes="[100, 300, 500, 1000]"
      :page-size="params.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="params.total">
    </el-pagination>
  </div>
</template>
<script>
    import mixinsList from './mixinsList.js'
    export default {
        props: {
            params: {
                type: Object,
                default: function() {
                    return {}
                }
            },
        },
        mixins: [mixinsList],
        data() {
            return {
                pageParams: {
                    current: 1,
                    size: 100
                }
            }
        },
        created() {

        },
        methods: {
            handleSizeChange(size) {
                this.publicParams.size = size
                this.pageParams.size = size
                this.pageParams.logo = this.params.logo
                this.$emitBus('sizeParams', this.pageParams)
            },
            handleCurrentChange(page) {
                this.publicParams.current = page
                this.pageParams.current = page
                this.pageParams.logo = this.params.logo
                this.$emitBus('sizeParams', this.pageParams)
            }
        },
    }
</script>
<style lang="scss">
    .pagintion {
        width: 100%;
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
    }
</style>