<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model="params.enterpriseName"
                    placeholder="请输入企业名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-select class="ly-margin-right-sm"
                     clearable
                     v-model="params.status"
                     placeholder="审核状态">
            <el-option v-for="item in statusList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1, 10)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         width="55">
        </el-table-column>
        <el-table-column prop="enterpriseName"
                         label="企业名称"
                         width="200">
        </el-table-column>
        <el-table-column label="提交时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="msgText"
                         label="短信内容">
        </el-table-column>
        <el-table-column label="审核状态"
                         width="150">
          <template slot-scope="scope">
            <span v-if="scope.row.status === 1">待审核</span>
            <span v-if="scope.row.status === 2">审核通过</span>
            <span v-if="scope.row.status === 3">审核不通过</span>
          </template>
        </el-table-column>
        <el-table-column label="操作"
                         width="100">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       v-if="scope.row.status === 1"
                       @click="openCallback($event, 'set', scope.row)">审核</el-button>
            <span v-else>--</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <div>
          <el-button type="primary"
                     size="small"
                     @click="openCallback($event, 'set')">批量审核</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
      <el-dialog :title="set.title"
                 :visible.sync="set.open"
                 width="560px">
        <auditInfo :dataInfo="set"
                   v-if="set.open"
                   @getTableList="getTableList"></auditInfo>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
import auditInfo from './components/auditInfo.vue'
// import { smsTemplateApi } from '@/api/sms'

export default {
  mixins: [tableMixin],
  components: {
    auditInfo
  },
  data() {
    return {
      activeNames: ['1'],
      params: {
        enterpriseName: '',
        status: null
      },
      date: '',
      tableData: {
        records: [
          {
            enterpriseName: '说的克己复礼',
            createTime: 1578747602000,
            msgText: '圣诞快乐房价上课',
            status: 1
          }
        ],
        total: 1
      },
      statusList: [
        { value: 1, label: '待审核' },
        { value: 2, label: '审核通过' },
        { value: 3, label: '审核不通过' }
      ],
      set: {
        open: false,
        data: {
          selectIdArr: []
        },
        title: ''
      },
      selectArr: []
    }
  },
  methods: {
    /**
    * 日期格式转换
    */
    dateChange(val) {
      if (!val) {
        this.params.begin_time = ''
        this.params.end_time = ''
      } else {
        this.params.begin_time = new Date(val[0]).getTime()
        this.params.end_time = new Date(val[1]).getTime()
      }
    },
    /**
     * 获取短信模板列表
     */
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      // smsTemplateApi.getSmsTemplateList(this.params).then((res) => {
      // this.tableData = res
      // })
    },
    openCallback(defObj, val, data) {
      switch (val) {
        case 'set':
          if (data) {
            this.set.data.selectIdArr.push(data.id)
            this.set.title = '审核'
            this.set.open = true
          } else {
            if (this.selectArr.length > 0) {
              this.set.data.selectIdArr = this.selectArr
              this.set.title = '审核'
              this.set.open = true
            } else {
              this.error('请先选择至少一个待审核的短信模板')
            }
          }
          break
      }
    },
    handleSelectionChange(val) {
      this.selectArr = []
      val.forEach(item => {
        if (item.status === 1) {
          this.selectArr.push(item.id)
        }
      })
    }
  }
}
</script>
