<template>
  <div>
    <business-list entry="oms" />
  </div>
</template>

<script>
import businessList from '@/components/common/pmsOms/businessManage/business/businessList'

export default {
  components: { businessList }
}
</script>
