<template>
  <el-card class="box-card">
    <div slot="header"
         class="clearfix">
      <span>晒图活动(个)</span>
      <i class="el-icon-refresh fr"
         @click="refresh"></i>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">待审核: </span>
      <span class="card-item-2 fr">{{data.wait || 0}}</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">已通过: </span>
      <span class="card-item-2 fr">{{data.through || 0}}</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">已拒绝: </span>
      <span class="card-item-2 fr">{{data.refused || 0}}</span>
    </div>
  </el-card>
</template>

<script>
import mixin from './mixin'

export default {
  mixins: [mixin]
}
</script>
