<template>
  <el-card class="box-card">
    <div slot="header"
         class="clearfix">
      <span>入库设备</span>
      <i class="el-icon-refresh fr"
         @click="refresh"></i>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">入库量: </span>
      <span class="card-item-2 fr">{{data.goCount || 0}}</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">下发量: </span>
      <span class="card-item-2 fr">{{data.issueCount || 0}}</span>
    </div>
  </el-card>
</template>

<script>
import mixin from './mixin'

export default {
  mixins: [mixin]
}
</script>
