<template>
  <el-card class="box-card">
    <div slot="header"
         class="clearfix">
      <span>昨日新增好友</span>
      <i class="el-icon-refresh fr"
         @click="refresh"></i>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">全部: </span>
      <span class="card-item-2 fr">{{data.yesterdayUser || 0}}</span>
    </div>
  </el-card>
</template>

<script>
import mixin from './mixin'

export default {
  mixins: [mixin]
}
</script>
