<template>
  <div class="ly-height-100 ly-bg-white">
    <div class="ly-bg-white ly-padding-sm">
      <el-form label-position="right" label-width="104px" :model="params" ref="ruleForm" @submit.native.prevent>
        <el-form-item label="风控敏感词:" prop="riskSensitiveWord">
            <el-input-number v-model="params.globalSensitiveWords" :min="0"></el-input-number>
        </el-form-item>
        <el-form-item label="群行为敏感词:" prop="groupSensitiveWord">
            <el-input-number v-model="params.groupAutoReply" :min="0"></el-input-number>
        </el-form-item>
        <el-form-item label="群自动回复:" prop="groupAuto">
            <el-input-number v-model="params.groupSensitiveWords" :min="0"></el-input-number>
        </el-form-item>
        <el-form-item>
            <el-button size="medium"  type="primary" @click="submitInfo">保存</el-button>
        </el-form-item>
        </el-form>
    </div>
  </div>
</template>

<script>
import { v2condifApi } from '@/api/system'
export default {
  data() {
    return {
      params: {
        globalSensitiveWords: '',
        groupAutoReply: '',
        groupSensitiveWords: ''
      }
    }
  },
  created() {
    this.getEnterpriseConfig()
  },
  methods: {
    /**
     * 保存
     */
    submitInfo() {
      this.setEnterpriseConfig()
    },
    /**
     * 获取配置
     */
    async getEnterpriseConfig() {
      await v2condifApi.getEnterpriseConfig().then((res) => {
        this.params = res
      })
    },
    /**
     * 修改配置
     */
    async setEnterpriseConfig() {
      await v2condifApi.setEnterpriseConfig(this.params).then((res) => {
        this.success('修改成功!')
      })
    }
  }
}
</script>
