<template>
  <div>
    <div v-if="!audioSrc.length">
      <el-button type="primary" @click="record" v-if="audioTitle !== audioTitleUping">{{audioTitle}}</el-button>
      <el-button type="primary" v-else>{{audioTitleUping}}</el-button>
    </div>
    <div>
      <el-button class="ly-position-relative ly-margin-top-10px" type="success" v-if="!audioSrc.length && !recording">
        上传语音
        <vma-upload class="audio-position-ab" v-model="modelValue" :limit="limit" :exts="['WAV', 'wav']" :singleFileSize="10" @on-success="uploadAudio" />
      </el-button>
    </div>
    <div v-if="audioSrc.length">
      <div class="ly-audio" v-for="(item, index) in audioSrc" :key="item">
        <div>
          <div class="matterlists-img ly-text-center ly-height-80px-im">
            <div class="material-audio">
              <span class="audioBtn">
                <i class="ly-margin-top-2px" :class="[isPlaying ? 'el-icon-caret-top':'el-icon-caret-right']" @click="playAudio"></i>
              </span>
            </div>
            <span class=" ly-margin-top-2px ly-font-12">{{voiceLengthArr[index] | soundLength}}</span>
            <span class="ly-float-right ly-margin-top-2 ly-margin-left-10px" @click="deleteRecord(index)"><i class="el-icon-delete"></i></span>
          </div>
          <audio :key="item" ref="audioEles" controls="controls" @play="playingAudio($event, index)" @ended="endedAudio($event, index)" @pause="pauseAudio($event, index)" @durationchange="durationchange($event, index)" style="display: none">
            <source :src="item" type="audio/mpeg" :key="item" />
            您的浏览器不支持 audio 标签。
          </audio>
          <span class="ly-float-right" @click="deleteRecord(index)" style="display: none"><i class="el-icon-delete"></i></span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Recorder from '@/assets/js/recorder'
import Upload from '@/assets/js/upload'
import Logger from '@/utils/logger'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    voiceLengthArr: {
      type: [Array],
      default: function () {
        return []
      }
    },
    limit: {
      type: [Number]
    },
    value: {
      type: [Array],
      default: function () {
        return []
      }
    }
  },
  created () {
    this.audioSrc = this.value
  },
  data () {
    return {
      recording: false,
      recorderInstance: null,
      recorderData: null,
      timer: null,
      audioSrc: [],
      audioTitle: '开始录音',
      audioTitleUping: '文件上传中',
      up: null,
      modelValue: [],
      isPlaying: false
    }
  },
  watch: {
    value (val, oldval) {
      this.audioSrc = val
      // 先暂停其他音频的播放
      let audioEles = document.getElementsByTagName('audio')
      for (let i = 0; i < audioEles.length; i++) {
        audioEles[i].pause()
        audioEles[i].currentTime = 0
      }
    },
    modelValue (val, oldVal) {
    }
  },
  methods: {
    record () {
      if (this.recording === false) {
        this.startRecord()
      } else {
        clearInterval(this.timer)
        this.endRecord()
      }
      // this.recording = !this.recording
    },
    startRecord () {
      if (!this.recorderInstance) {
        this.recorderInstance = new Recorder({
          sampleRate: 24000
        })
      }
      this.recorderInstance.open().then(() => {
        this.recording = true
        this.setInterval()
        this.recorderInstance.start()
        // this.audioTitle = `再次点击结束(${60}s)`
      }, errMsg => {
        this.recording = false
        this.warning(errMsg)
      })
    },
    endRecord () {
      if (this.recorderInstance) {
        this.recorderInstance.stop().then(data => {
          this.recorderData = data
          this.recorderInstance.close().then(() => {
            this.createAudioSrc()
            Logger.log('成功释放录音资源')
          })
        }, errMsg => {
          this.audioTitle = `开始录音`
          this.recording = false
          this.warning(errMsg)
        })
      }
    },
    setInterval () {
      var count = 59
      this.audioTitle = `再次点击结束(${count}s)`
      let that = this
      this.timer = setInterval(function () {
        if (count > 0) {
          count = count - 1
          that.audioTitle = `再次点击结束(${count}s)`
        } else {
          clearInterval(that.timer)
          that.audioTitle = that.audioTitleUping
          that.endRecord()
        }
      }, 1000)
    },
    async createAudioSrc () {
      const recorderData = this.recorderData
      if (!this.up) {
        this.up = new Upload()
      }
      await this.up.upload(recorderData.blob).then((url) => {
        let audioUrl = url.url
        this.audioSrc.push(audioUrl)
        this.audioTitle = `开始录音`
        this.recording = false
        this.postAudioSrc()
      }, (reject) => {
        this.audioTitle = `开始录音`
        this.recording = false
      })
    },
    /**
     * 记录音频时长
     */
    durationchange (data, index) {
      console.log('datadatadatadatadatadatadatadata', data)
      let voiceLength = data.target.duration * 1000
      this.$emit('getAudioLength', voiceLength)
    },
    playingAudio (data, index) {
      this.isPlaying = true
    },
    pauseAudio (data, index) {
      this.isPlaying = false
    },
    endedAudio (data, index) {
      this.isPlaying = false
    },
    /**
     * 播放/暂停
     */
    playAudio () {
      const audio = this.$refs.audioEles[0]
      if (!(audio.ended || audio.paused)) {
        audio.pause()
      } else {
        audio.play()
      }
    },
    deleteRecord (index) {
      let that = this
      this.$confirm('此操作将删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$notify({
          title: '成功',
          message: '删除成功',
          type: 'success'
        })
        that.recorderData = null
        that.audioSrc.splice(index, 1)
        that.modelValue.splice(index, 1)
        that.postAudioSrc()
      }).catch(() => { })
    },
    postAudioSrc () {
      this.$emit('input', this.audioSrc)
      this.$emit('getAudioLength', 0)
    },
    /**
    *语音上传
    * */
    uploadAudio (data) {
      this.modelValue.forEach(o => {
        this.audioSrc.push(o)
      })
      this.postAudioSrc()
    }
  }
}
</script>
<style>
.audio-position-ab ul {
  display: none;
}
</style>
