<template>
  <div v-click-outside="closeWeChatExprssion">
    <div class="ly-padding-top-4px" @click="closeWeChatExprssion">
      <el-tag v-if="chatProp" class="mr-10 cursor nickname-btn" size="mini" @click="setNickname">好友/群昵称</el-tag>
      <el-button type="text" size="mini" class="smile-emoji" @click.stop="toggleWechatExpression"></el-button>
    </div>
    <el-input ref="elInputText" type="textarea" :rows="5" :maxlength="textLimit" :value="value" @input="inputEvent" style="width: 100%;"></el-input>
    <div v-show="wechatExprssionShow" class="ly-position-relative">
      <div>
        <wechat-expression @choose="chooseExpress" />
      </div>
    </div>
  </div>
</template>

<script>
import { WechatExpression, parseHTML } from '@/components/libs/wechatExpression'
export default {
  components: {
    WechatExpression
  },
  props: {
    value: {},
    textLimit: {
      type: Number,
      default: function () {
        return 2000
      }
    },
    chatProp: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      wechatExprssionShow: false,
      maxlength: 2000
    }
  },
  methods: {
    parseHTML,
    chooseExpress (icon, e) {
      this.setTextArea(icon)
      // let newVal = this.value + icon
      // this.$emit('input', newVal)
    },
    /**
     * 修改文本值
     * @param str
     */
    setTextArea (icon) {
      let valueLen = this.value.length || 0
      let totalLen = valueLen + icon.length
      if (totalLen > this.maxlength) {
        return false
      }
      let str = icon
      let obj = this.$refs.elInputText.$refs.textarea
      if (document.selection) {
        var sel = document.selection.createRange()
        sel.text = str
      } else if (typeof obj.selectionStart === 'number' && typeof obj.selectionEnd === 'number') {
        this.getSelectPosition(str)
      } else {
        let newVal = this.value + icon
        this.$emit('input', newVal)
      }
    },
    /**
     * 获取光标位置
     * @param str
     */
    getSelectPosition (str) {
      let obj = this.$refs.elInputText.$refs.textarea
      let startPos = obj.selectionStart
      let endPos = obj.selectionEnd
      let tmpStr = obj.value
      let newVal = tmpStr.substring(0, startPos) + str + tmpStr.substring(endPos, tmpStr.length)
      this.$emit('input', newVal)
      setTimeout(() => {
        obj.focus()
        let cursorPos = startPos
        cursorPos += str.length
        obj.selectionStart = obj.selectionEnd = cursorPos
      }, 50)
    },
    /**
     * toggle表情
     * @param str
     */
    toggleWechatExpression () {
      this.wechatExprssionShow = !this.wechatExprssionShow
      this.setTextArea('')
    },
    inputEvent (val) {
      this.$emit('input', val)
    },
    closeWeChatExprssion (val) {
      if (val) {
        this.wechatExprssionShow = false
      }
    },
    // 添加好友/群昵称
    setNickname () {
      this.setTextArea('{nickname}')
    }
  }
}
</script>
<style type="text/scss" scoped>
.nickname-btn {
  vertical-align: text-bottom;
}
</style>
