<template>
  <checkbox-lay :tableList="tableList"
                :arr="arr"
                entry="data"
                label="groupName"
                @getList="getList"
                @addCallback="addCallback"
                @updateCallback="updateCallback"
                @deleteCallback="deleteCallback" />
</template>

<script>
import { commonApi } from '@/api/common'
import checkboxLay from './components/checkbox'

export default {
  components: { checkboxLay },
  data() {
    return {
      tableList: [],
      arr: ['全局数据权限', '同部门数据权限', '子部门数据权限']
    }
  },
  created() {
    this.getList('enterprise')
  },
  methods: {
    async getList(currentMenu) {
      this.tableList = await commonApi.dataList(currentMenu)
    },
    async addCallback(obj) {
      await commonApi.dataAdd(obj.data).then((res) => {
        this.success('新增成功')
        this.getList(obj.currentMenu)
      })
    },
    async updateCallback(obj) {
      await commonApi.dataUpdate(obj.data).then(res => {
        this.success('编辑成功')
        this.dialog.open = false
        this.getList(obj.currentMenu)
      })
    },
    async deleteCallback(obj) {
      await commonApi.dataDelete(obj.data).then(res => {
        this.success('删除成功')
        this.getList(obj.currentMenu)
      })
    }
  }
}
</script>
