<template>
  <div>
    <el-menu :default-active="activeIndex"
             class="el-menu-demo"
             mode="horizontal"
             @select="handleSelect">
      <el-menu-item v-for="item in list"
                    :index="item.id"
                    :key="item.id">{{item.name}}</el-menu-item>
    </el-menu>
    <div>
      <menu-lay v-if="activeIndex === '1'"></menu-lay>
      <data-lay v-if="activeIndex === '2'"></data-lay>
      <basics-lay v-if="activeIndex === '3'"></basics-lay>
    </div>
  </div>
</template>

<script>
import menuLay from './menu'
import dataLay from './data'
import basicsLay from './basics'
import roleLay from './role'

export default {
  components: { menuLay, dataLay, basicsLay, roleLay },
  data() {
    return {
      activeIndex: '1',
      list: [
        {
          name: '菜单管理',
          id: '1'
        },
        {
          name: '数据权限',
          id: '2'
        },
        {
          name: '基础功能权限',
          id: '3'
        }
      ]
    }
  },
  methods: {
    handleSelect(key, keyPath) {
      this.activeIndex = key
    }
  }
}
</script>
