<template>
  <div class="ly-box">
    <el-container>
      <!-- 左侧 -->
      <el-aside width="300px"
                class="ly-bg-white ly-padding-horizontal-sm ly-padding-bottom-20px">
        <div class="ly-position-relative ly-padding-vertical-sm">
          <span class="ly-vertical-line ly-font-16 ly-font-color-1 ly-font-weight-300 ly-vertical-middle">菜单目录</span>
        </div>
        <div class="ly-text-center">
          <el-select v-model="currentMenu"
                     placeholder="请选择后台类型"
                     @change="getMenuList">
            <el-option v-for="item in menuTypeList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
        </div>
        <div class="ly-margin-top-10px">
          <el-tree :data="memuDataList"
                   :props="defaultProps"
                   node-key="id"
                   :highlight-current="true"
                   :accordion="true"
                   :check-on-click-node="true"
                   :expand-on-click-node="false"
                   :default-expanded-keys="[0]"
                   @node-click="getMenuDetails"></el-tree>
        </div>
      </el-aside>
      <!-- 数据列表 -->
      <el-main class="ly-bg-white ly-padding-sm ly-margin-left-sm ly-padding-bottom-20px">
        <!-- 表头 -->
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">菜单详情</span>
          </div>
          <span class="ly-margin-top-nge-4">
            <el-button type="primary"
                       size="small"
                       @click="openCallback('add')">新增菜单</el-button>
          </span>
        </div>
        <el-table :data="tableData.node"
                  style="width: 100%">
          <!-- <el-table-column label="父级菜单"
                           min-width="100">
            <template>
              {{tableData.title}}
            </template>
          </el-table-column> -->
          <el-table-column prop="title"
                           label="名称"
                           min-width="100" />
          <el-table-column prop="code"
                           label="资源编码"
                           min-width="100" />
          <el-table-column label="图标"
                           class-name="ly-bg-f6 ly-text-center">
            <template slot-scope="scope">
              <img class="ly-wh-60-60px" :src="scope.row.menuIcon" />
            </template>
          </el-table-column>
          <el-table-column prop="url"
                           label="路由">
          </el-table-column>
          <el-table-column prop="sort"
                           label="排序">
          </el-table-column>
          <el-table-column label="状态">
            <template slot-scope="scope">
              {{scope.row.status === 1 ? '显示' : '隐藏'}}
            </template>
          </el-table-column>
          <el-table-column label="操作"
                           min-width="120">
            <template slot-scope="scope">
              <el-button type="text"
                         @click="openCallback('edit', scope.row)">编辑</el-button>
              <el-button type="text"
                         @click="openCallback('move',scope.row.id)">移动</el-button>
              <el-button class="ly-font-color-7"
                         type="text"
                         v-if="!scope.row.node || (scope.row.node && scope.row.node.length===0)"
                         @click="deleteCallback(scope.row.id)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-main>
    </el-container>

    <el-dialog title="新增菜单"
               :visible.sync="dialog.open && dialog.type==='add'"
               width="540px"
               @close="closeCallback" append-to-body>
      <addEdit :dialog="dialog"
               v-if="dialog.open"
               @getMenuList="getMenuList">
      </addEdit>
    </el-dialog>

    <el-dialog title="编辑菜单"
               :visible.sync="dialog.open && dialog.type==='edit'"
               width="540px"
               @close="closeCallback" append-to-body>
      <addEdit :dialog="dialog"
               v-if="dialog.open"
               @getMenuList="getMenuList">
      </addEdit>
    </el-dialog>

    <el-dialog title="移动菜单"
               :visible.sync="dialog.open && dialog.type==='move'"
               width="540px"
               @close="closeCallback" append-to-body>
      <el-form>
        <el-form-item label="选择父级菜单:">
          <el-cascader clearable
                       placeholder="请选择父级菜单"
                       class="ly-width-280px-im"
                       :options="memuDataList"
                       :props="defaultProps"
                       change-on-select
                       v-model="parentId">
          </el-cascader>
        </el-form-item>
        <el-form-item class="ly-text-right">
          <el-button @click="closeCallback">取 消</el-button>
          <el-button type="primary"
                     @click="moveCallback">确 定</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { commonApi } from '@/api/common'
import addEdit from './components/addEdit'

export default {
  components: { addEdit },
  data() {
    return {
      menuTypeList: [
        {
          value: 'enterprise',
          label: '企业后台'
        }, {
          value: 'proxy',
          label: '代理商后台'
        }, {
          value: 'oem',
          label: '运营商后台'
        }, {
          value: 'super',
          label: '超级后台'
        }
      ],
      currentMenu: 'enterprise',
      memuDataList: [{
        id: 0,
        title: '系统菜单',
        node: []
      }],
      defaultProps: {
        children: 'node',
        label: 'title',
        value: 'id'
      },
      tableData: {},
      dialog: {
        open: false,
        type: null,
        data: null,
        isEdit: false,
        id: null,
        mid: null
      },
      childId: null,
      parentId: null
    }
  },
  created() {
    this.getMenuList()
  },
  methods: {
    getMenuList() {
      commonApi.menuList(this.currentMenu).then(res => {
        this.memuDataList[0].node = res
        this.tableData = this.memuDataList[0]
      })
    },
    getMenuDetails(data) {
      this.tableData = data
      if (data.id) {
        this.dialog.id = data.id
        this.dialog.mid = data.mid
      } else {
        this.dialog.id = null
        this.dialog.mid = null
      }
    },
    openCallback(entry, data) {
      this.dialog.type = entry
      switch (entry) {
        case 'add':
          this.dialog.isEdit = false
          this.dialog.data = {
            menuIcon: '',
            url: '',
            code: '',
            relateType: this.currentMenu,
            sort: '',
            description: '',
            status: 1
          }
          if (this.dialog.mid) {
            this.dialog.data.parentId = this.dialog.mid
          }
          break
        case 'edit':
          this.dialog.isEdit = true
          this.dialog.data = data
          break
        case 'move':
          this.childId = data
          break
      }
      this.dialog.open = true
    },
    closeCallback() {
      this.dialog.data = null
      this.dialog.open = false
      this.dialog.type = null
      this.dialog.id = null
      this.childId = null
      this.parentId = null
    },
    deleteCallback(id) {
      this.$confirm('此操作将删除该菜单, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        commonApi.menuDelete(id).then(res => {
          this.success('恭喜你，删除成功')
          this.closeCallback()
          this.getMenuList()
        })
      }).catch(() => { })
    },
    moveCallback() {
      let index = this.parentId.length - 1
      commonApi.menuMove({ child_id: this.childId, parent_id: this.parentId[index] }).then(res => {
        this.success('恭喜你，移动成功')
        this.closeCallback()
        this.getMenuList()
      })
    }
  }
}
</script>
