<template>
  <div>
    <div class="top-content">
      <el-card class="item-card"
               shadow="always">
        总是显示总是显示总是显示总是显示
      </el-card>
      <el-card class="item-card"
               shadow="always">
        总是显示
      </el-card>
    </div>
  </div>
</template>

<script>
export default {
}
</script>
<style lang="scss" scoped>
.top-content {
  overflow-x: auto;
  .item-card {
    width: 254px;
    height: 202px;
    margin-right: 20px;
  }
}
</style>
