<template>
  <login :loginType="loginType"
         :name="hostname">
    <div slot="loginType"
         class="login-tabs">
      <span class="login-tab-item login-title active">代理商登录</span>
    </div>
  </login>
</template>

<script>
import Login from './components/login'
import { LOGIN_TYPE } from '@/constants'

export default {
  components: {
    Login
  },
  data() {
    return {
      loginType: LOGIN_TYPE.PMS,
      hostname: location.hostname
    }
  }
}
</script>
