<template>
  <login :loginType="loginType"
         :name="hostname"
         ref="login">
    <div slot="loginType"
         class="login-tabs">
      <span class="login-tab-item"
            :class="{'active': loginType === LOGIN_TYPE.SYSTEM}"
            @click="changeLoginType(LOGIN_TYPE.SYSTEM)">企业登录</span>
      <span class="login-tab-item"
            :class="{'active': loginType === LOGIN_TYPE.CHAT}"
            @click="changeLoginType(LOGIN_TYPE.CHAT)">微客服登录</span>
    </div>
  </login>
</template>

<script>
    import Login from './components/login'
    import {
        LOGIN_TYPE
    } from '@/constants'
    import {
        loginTypeLocal
    } from '@/storage'

    export default {
        components: {
            Login
        },
        data() {
            return {
                loginType: loginTypeLocal.getOrDefault() === LOGIN_TYPE.CHAT ? LOGIN_TYPE.CHAT : LOGIN_TYPE.SYSTEM,
                LOGIN_TYPE,
                hostname: location.hostname
            }
        },
        created() {
            // console.log(loginTypeLocal.getOrDefault(), '-----')
        },
        methods: {
            changeLoginType(loginType) {
                this.loginType = loginType
                this.$refs.login.focusAccount()
            }
        }
    }
</script>