<template>
  <el-form>
    <div class="el-center">
      <p class="ly-font-12 ly-margin-bottom-sm">温馨提示：数据过大时会导致导出速度变慢，建议每次只导出5~7天的数据！</p>
      <el-date-picker class="ly-width-350px-im"
                      v-model="dataInfo.date"
                      type="datetimerange"
                      size="small"
                      range-separator="至"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期"
                      :default-time="['00:00:00', '23:59:59']"
                      @change="dateChange"
                      clearable>
      </el-date-picker>
    </div>
    <div class="el-center ly-margin-top-20px">
      <el-select v-model="dataInfo.data.type"
                 placeholder="请选择"
                 class="ly-width-350px-im"
                 size="small">
        <el-option label="群聊 + 微信好友"
                   value="1"></el-option>
        <el-option label="群聊"
                   value="2"></el-option>
        <el-option label="微信好友"
                   value="3"></el-option>
      </el-select>
    </div>
  </el-form>
</template>

<script>

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  created() {
    this.dateChange(this.dataInfo.date)
  },
  methods: {
    // 日期格式转换
    dateChange(val) {
      if (!val) {
        this.dataInfo.data.beginTime = ''
        this.dataInfo.data.endTime = ''
      } else {
        this.dataInfo.data.beginTime = new Date(val[0]).getTime()
        this.dataInfo.data.endTime = new Date(val[1]).getTime()
      }
    }
  }
}
</script>
