<template>
  <el-form>
    <div class="el-center">
      <p class="ly-font-12 ly-margin-bottom-sm">温馨提示：数据过大时会导致导出速度变慢！</p>
      <div style="display: flex;">
        <span style="line-height: 32px;">好友建立时间：</span>
        <el-date-picker class="ly-width-350px-im"
                      v-model="dataInfo.date[0]"
                      type="datetimerange"
                      size="small"
                      range-separator="至"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期"
                      :default-time="['00:00:00', '23:59:59']"
                      @change="dateChange"
                      clearable>
      </el-date-picker>
      </div>
      <div style="display: flex;margin-top: 20px;">
        <span style="line-height: 32px;">车牌备注日期：</span>
        <el-date-picker class="ly-width-350px-im"
                      v-model="dataInfo.date[1]"
                      type="datetimerange"
                      size="small"
                      range-separator="至"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期"
                      :default-time="['00:00:00', '23:59:59']"
                      @change="dateCarChange"
                      clearable>
      </el-date-picker>
      </div>
    </div>
  </el-form>
</template>

<script>
    export default {
        props: {
            dataInfo: {
                type: [Number, String, Object, Array],
                default: null
            }
        },
        created() {
            // console.log(this.dataInfo.date[0], '-------------', this.dataInfo.date[1])
            this.dateChange(this.dataInfo.date[0])
            this.dateCarChange(this.dataInfo.date[1])
        },
        methods: {
            // 日期格式转换
            dateChange(val) {
                if (!val) {
                    this.dataInfo.dataFriend.timeBegin = ''
                    this.dataInfo.dataFriend.timeEnd = ''
                } else {
                    this.dataInfo.dataFriend.timeBegin = new Date(val[0]).getTime()
                    this.dataInfo.dataFriend.timeEnd = new Date(val[1]).getTime()
                }
            },
            // 车牌备注日期
            dateCarChange(val) {
                if (!val) {
                    this.dataInfo.dataFriend.carNumberBeginTime = ''
                    this.dataInfo.dataFriend.carNumberEndTime = ''
                } else {
                    this.dataInfo.dataFriend.carNumberBeginTime = new Date(val[0]).getTime()
                    this.dataInfo.dataFriend.carNumberEndTime = new Date(val[1]).getTime()
                }

            },

        }
    }
</script>