<template>
  <el-form
    :model="dialog.data"
    ref="dialog"
    :rules="rules"
    label-width="108px"
    @submit.native.prevent
  >
    <el-form-item label="敏感词：" prop="keyWord">
      <el-input
        :type="dialog.data.type"
        :rows="5"
        clearable
        placeholder="请输入内容"
        v-model="dialog.data.keyWord"
        size="small"
      ></el-input>
      <p class="ly-font-12" v-if="dialog.data.type == 'textarea'">一行一个敏感词，支持同时添加多个敏感词</p>
    </el-form-item>

    <el-form-item label="敏感词层级：" prop="sensitiveLevel">
      <el-select v-model="dialog.data.sensitiveLevel" placeholder="请选择敏感词层级">
        <el-option
          v-for="item in sensitiveOptions"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="敏感词分组：" prop="groupId">
      <senitiveGroup
        placeholder="请选择敏感词分组"
        style="width: 100%;"
        size="medium"
        clearable
        v-model="dialog.data.groupId"
      ></senitiveGroup>
    </el-form-item>
    <el-form-item label="适用范围：" prop="applyType">
      <el-radio-group v-model="dialog.data.applyType">
        <el-radio :label="1">微客服消息</el-radio>
        <el-radio :label="2">朋友圈</el-radio>
        <el-radio :label="3">微客服和朋友圈</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary" @click="sureCallback('dialog')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
    import {
        riskManagementApi
    } from "@/api/system";
    import {
        senitiveGroup
    } from "@/components/packages/system/lazySelect";
    export default {
        components: {
            senitiveGroup
        },
        props: {
            dialog: {
                type: [Number, String, Object, Array],
                default: null
            }
        },
        data() {
            return {
                sensitiveOptions: [{
                    value: '1',
                    label: '一级'
                }, {
                    value: '2',
                    label: '二级'
                }, {
                    value: '3',
                    label: '三级'
                }],
                rules: {
                    keyWord: [{
                        required: true,
                        message: "请填写敏感词"
                    }],
                    groupId: [{
                        required: true,
                        message: "请选择敏感词分组"
                    }],
                    applyType: [{
                        required: true,
                        message: "请选择适用范围"
                    }],
                    sensitiveLevel: [{
                        required: true,
                        message: "请选择敏感词层级"
                    }]
                }
            };
        },
        methods: {
            // 过滤特殊字符
            stripscript(s) {
                var pattern = new RegExp("[`~!@#$^&*]")
                var rs = "";
                for (var i = 0; i < s.length; i++) {
                    rs = rs + s.substr(i, 1).replace(pattern, '');
                }
                return rs;
            },
            // 弹窗-确定
            sureCallback(formName) {
                this.$refs[formName].validate(valid => {
                    if (valid) {
                        let bugKeyWord = this.dialog.data.keyWord;
                        this.dialog.data.keyWord = this.stripscript(bugKeyWord)
                        if (this.dialog.data.keyWord == '') {
                            this.error('含有特殊符号以消除')
                            return false;
                        }
                        if (this.dialog.data.checkedbox) {
                            this.dialog.data.checkedbox = 1;
                        } else {
                            this.dialog.data.checkedbox = 2;
                        }
                        if (this.dialog.data.id) {
                            this.editCallback();
                        } else {
                            this.addCallback();
                        }
                    } else {
                        return false;
                    }
                });
            },
            // 新增敏感词
            addCallback() {
                let keyWordsArr = this.dialog.data.keyWord.split("\n");
                for (let i = 0; i < keyWordsArr.length; i++) {
                    let item = keyWordsArr[i];
                    if (item.length > 10) {
                        this.$message.error("每个敏感词不可以超过10个字");
                        return;
                    }
                }
                if (keyWordsArr.length > 200) {
                    this.$message.error("不可同时添加超过200个敏感词");
                    return;
                }
                riskManagementApi
                    .addWordConfig({
                        groupId: this.dialog.data.groupId,
                        applyType: this.dialog.data.applyType,
                        key_word: keyWordsArr,
                        sensitiveLevel: this.dialog.data.sensitiveLevel
                    })
                    .then(res => {
                        this.$message.success("恭喜你，新增成功");
                        this.dialog.open = false;
                        this.$emit("getTableList");
                    });
            },
            // 编辑敏感词
            editCallback() {
                if (this.dialog.data.keyWord.length > 10) {
                    this.$message.error("敏感词不可以超过10个字");
                    return;
                }
                riskManagementApi
                    .editWordConfig({
                        id: this.dialog.data.id,
                        groupId: this.dialog.data.groupId,
                        applyType: this.dialog.data.applyType,
                        key_word: this.dialog.data.keyWord,
                        sensitiveLevel: this.dialog.data.sensitiveLevel
                    })
                    .then(res => {
                        this.$message.success("恭喜你，编辑成功");
                        this.dialog.open = false;
                        this.$emit("getTableList");
                    });
            }
        }
    };
</script>