<template>
  <el-form
    :model="dialog.data"
    ref="dialog"
    :rules="rules"
    label-width="108px"
    @submit.native.prevent
  >
    <el-form-item v-if="dialog.title !== '批量修改'" label="分组名称：" prop="groupName">
      <el-input
        placeholder="分组名称"
        maxlength="20"
        clearable
        v-model="dialog.data.groupName"
        size="medium"
      ></el-input>
    </el-form-item>
    <el-form-item label="敏感类型：" prop="riskType">
      <el-select
        v-model="dialog.data.riskType"
        placeholder="敏感类型"
        size="medium"
        style="width: 100%"
      >
        <el-option
          v-for="item in RISK_TYPE"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="分组备注：" prop="remark">
      <el-input
        type="textarea"
        :rows="5"
        clearable
        placeholder
        maxlength="200"
        v-model="dialog.data.remark"
        size="medium"
      ></el-input>
    </el-form-item>
   
    <!-- v-model="selectedOptions" -->
    <el-form-item label="所属坐席:" >
      <el-cascader placeholder="输入坐席名称"
      
       v-model="dialog.data.valid"
       @change="addOption"
      :options="options" :props="{ multiple: true }" filterable clearable collapse-tags></el-cascader>
    </el-form-item>
   

    <el-form-item class="ly-text-right">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary" @click="sureCallback('dialog')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { v2riskManagementApi } from "@/api/system";
import { senitiveGroup } from "@/components/packages/system/lazySelect";
import { RISK_TYPE } from "@/constants/selects";
export default {
  components: {
    senitiveGroup
  },
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },

  data() {
    return {
      selectedOptions:[],
      staffIDs:[],
      options: [],
      checkListValue: [],
      chs: false,
      RISK_TYPE: RISK_TYPE,
      checkAll: false,
      // department: [],
      isIndeterminate: true,
      rules: {
        groupName: [
          { required: true, message: "请输入分组名称" },
          { min: 2, message: "分组名称长度为2~20字符" }
        ],
        riskType: [{ required: true, message: "请选择敏感类型" }]
      }
    };
  },
  created() {
    // this.getArea();
    this.getStaff();
  },
  methods: {
    // 弹窗-确定
    sureCallback(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (
            this.dialog.data.id &&
            typeof this.dialog.data.id.length == "undefined"
          ) {
            this.editCallback();
          } else if (this.dialog.data.id && this.dialog.data.id.length > 1) {
            this.updateCallback();
          } else {
            this.addCallback();
          }
        } else {
          return false;
        }
      });
    },
    // 新增敏感词
    addCallback() {
      this.getStaffValid(this.dialog.data.valid)
      // this.dialog.data.valid = this.staffIDs
      v2riskManagementApi.riskwordListAdd(this.dialog.data).then(res => {
        this.$message.success("恭喜你，新增成功");
        this.dialog.open = false;
        this.$emit("getTableList");
      });
    },
    // 编辑敏感词
    editCallback() {
      this.getStaffValid(this.dialog.data.valid)
      v2riskManagementApi.riskwordListModify(this.dialog.data).then(res => {
        this.$message.success("恭喜你，编辑成功");
        this.dialog.open = false;
        this.$emit("getTableList");
      });
    },
    // 批量修改
    updateCallback() {
     
      this.getStaffValid(this.dialog.data.valid)
      v2riskManagementApi.riskwordListUpdate(this.dialog.data).then(res => {
        this.$message.success("恭喜你，批量修改成功");
        this.dialog.open = false;
        this.$emit("che", this.chs);
        this.$emit("getTableList");
      });
    },

   
    // 获取坐席id
    getStaff() {
      v2riskManagementApi.getStaffId().then(data => {
        const arr = (data || []).map(v => this.convertData(v.id, v.name, v));
        this.options = arr;
      });
    },
    //
    convertData(value, label, data) {
      let dataObj = {
        value,
        label,
        data
      };
      if (data.children && data.children.length) {
        dataObj.children = data.children.map(v =>
          this.convertData(v.id, v.name, v)
        );
      }
      return dataObj;
    },
    addOption(value){
    
    },
    getStaffValid(value){
      let  staffsId = []
      value.forEach(function(v,i){ 
        const staffs = value[i]
        const staffId = staffs[staffs.length-1]
        staffsId.push(staffId)
       
      })
      this.dialog.data.valid = staffsId
    
    }
    
  }
};
</script>
