<template>
  <div>
    <!-- 查询选择 -->
    <search @search="buildChart" />

    <!-- echarts -->
    <div class="countPie"
         ref="chart"></div>
  </div>
</template>

<script>
import echarts from 'echarts'
import options from './src/options'
import { echartResizeMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import Search from './components/search'

export default {
  mixins: [echartResizeMixin],
  components: {
    Search
  },
  data() {
    return {
      chart: null
    }
  },
  methods: {
    buildChart(params) {
      v3indexApi.getUserIncreaseCount(params || {}).then(data => {
        // x轴
        const xAxisData = []
        // 男性数据
        const maleData = []
        // 女性数据
        const femaleData = []
        // 未知性别数据
        const unknownData = []
        // 全部性别数据
        const allData = []
        if (data && data.length) {
          data.forEach(v => {
            xAxisData.push(v.date)
            maleData.push(v.maleCount)
            femaleData.push(v.femaleCount)
            unknownData.push(v.unKnowCount)
            allData.push(v.totalCount)
          })
        }

        options.xAxis[0].data = xAxisData
        options.series[0].data = maleData
        options.series[1].data = femaleData
        options.series[2].data = unknownData
        options.series[3].data = allData

        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        this.chart.setOption(options)
      })
    }
  }
}
</script>
