<template>
  <div>
    <!-- 筛选查询 -->
    <search @search="search"
            entry="personalNum" />
    <!-- 数据列表 -->
    <div class="ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号信息">
          <template slot-scope="scope">
            <div class="ly-box"
                 v-if="scope.row.acountInfo">
              <div class="ly-margin-right-xs">
                <img :src="scope.row.acountInfo.headIcon | wechatAvtor"
                     alt=""
                     class="ly-wh-50px"
                     v-image-view>
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">微信昵称：{{scope.row.acountInfo.nickName || ''}}</p>
                <p class="ly-margin-top-4">手机号：{{scope.row.acountInfo.phone || ''}}</p>
                <p class="ly-margin-top-4">微信号：{{ scope.row.acountInfo.wxAccount || ''}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="同步时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">
            <span class="ly-font-color-5"
                  v-if="scope.row.status==='正常'">正常</span>
            <span class="ly-font-color-7"
                  v-else>删除</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import search from '../search'
import { customerManageApi } from '@/api/sms'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  props: ['id'],
  components: {
    search
  },
  data() {
    return {
      params: {
        enterpriseId: null
      }
    }
  },
  methods: {
    async requestTableList() {
      this.params.enterpriseId = this.id
      await customerManageApi.getEnterAccount(this.params).then(res => {
        this.tableData = res
      })
    },
    search(params) {
      this.params = {
        current: 1,
        size: 10,
        enterpriseId: this.id
      }
      this.params = Object.assign(params, this.params)
      this.getTableList(1)
    }
  }
}
</script>
