<template>
  <div>
    <h2>
      <img class="logo" v-if="adminInfo.headIcon || theme.systemLogo" :src="adminInfo.headIcon || theme.systemLogo">
      <span>管理后台</span>
    </h2>
    <div class="main-head-right fr">
      <el-button class="main-el-header-button ly-float-left" type="primary" icon="el-icon-service" v-if="hasIMLoginAction" round @click="turnToChatHome">微客服</el-button>
      <!--<el-badge :is-dot="noticeTip"  ly-noticenum-tip-->
      <!--<el-badge v-if="hasNoticeMenu"-->
      <el-badge v-if="hasNoticeMenu" class="main-el-header-notice-button ly-margin-right-30px ly-float-left">
        <el-button class="" @click="turnToNoticePage" type="text">
          <img class="main-head-notice" :src="iconNotice" />
          <span class="ly-icon-noticetip" v-if="noticeTip"></span>
        </el-button>
      </el-badge>

      <el-dropdown class="ly-float-left">
        <span class="el-dropdown-link">
          {{adminInfo.name}} <i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown" style="min-width: 98px">
          <el-dropdown-item v-if="showDownloadDoc" @click.native="downloadDoc">帮助文档</el-dropdown-item>
          <el-dropdown-item @click.native="() => modifyPassword.show = true">修改密码</el-dropdown-item>
          <el-dropdown-item @click.native="logout">退出登录</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>

    <el-dialog title="修改密码" class="dialog-hide-footer" width="500px" append-to-body :visible.sync="modifyPassword.show">
      <modify-password v-if="modifyPassword.show" @after-submit="afterModifyPassword" @on-cancel="() => modifyPassword.show = false" />
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import * as mutationsType from '@/store/mutation-types'
import { redirectToChatHome } from '@/router'
import * as systemTypes from '@/router/system/types'
import * as omsTypes from '@/router/oms/types'
import * as pmsTypes from '@/router/pms/types'
import ICONNOTICE from '@/assets/images/icons/icon-notice.png'
import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP, LOGIN_TYPE, SYSTEM_CONFIG } from '@/constants'
import ModifyPassword from './components/modifyPassword'
import { loginTypeLocal } from '@/storage'
import { noticeApi as systemNoticeApi } from '@/api/system'
import { noticeApi as pmsNoticeApi } from '@/api/pms'
import { configApi } from '@/api/common'
import { compatUrl } from '@/utils'

export default {
  mixins: [resourceMixin],
  components: {
    ModifyPassword
  },
  data () {
    return {
      iconNotice: ICONNOTICE,
      modifyPassword: {
        show: false
      },
      loginType: loginTypeLocal.getOrDefault(),
      hasNoticeNum: false,
      docDownloadUrl: ''
    }
  },
  computed: {
    ...mapGetters(['theme', 'adminInfo', 'noticeTip']),
    // 是否拥有通知菜单权限
    hasNoticeMenu () {
      // 根据不同后台类型，验证不同的通知菜单权限
      switch (this.loginType) {
        case LOGIN_TYPE.OMS:
          return this.hasResourceMenu(omsTypes.NOTICE)
        case LOGIN_TYPE.PMS:
          return this.hasResourceMenu(pmsTypes.NOTICE)
        case LOGIN_TYPE.SYSTEM:
          return this.hasResourceMenu(systemTypes.NOTICE)
      }
    },
    // 是否拥有微客服登录权限
    hasIMLoginAction () {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.IM_LOGIN)
    },
    // 企业后台/微客服后台下显示帮助文档下载
    showDownloadDoc () {
      return [LOGIN_TYPE.SYSTEM].includes(this.loginType)
    }
  },
  created () {
    this.hasNotice()
    if (this.showDownloadDoc) {
      configApi.getConfig(SYSTEM_CONFIG.DOC_SYSTEM).then(data => {
        this.docDownloadUrl = data
      })
    }
  },
  methods: {
    ...mapActions(['logout']),
    ...mapMutations({
      updateNoticeTip: mutationsType.UPDATE_NOTICE_TIP
    }),
    turnToChatHome () {
      if (this.hasIMLoginAction) {
        redirectToChatHome()
      } else {
        this.warn('暂无权限')
      }
    },
    turnToNoticePage () {
      // 根据不同后台类型，跳转不同的通知菜单
      switch (this.loginType) {
        case LOGIN_TYPE.OMS:
          this.$router.push({ name: omsTypes.NOTICE })
          break
        case LOGIN_TYPE.PMS:
          this.$router.push({ name: pmsTypes.NOTICE })
          break
        case LOGIN_TYPE.SYSTEM:
          this.$router.push({ name: systemTypes.NOTICE })
          break
      }
    },
    getNoticeNum (type) {
      let noticeStatus = false
      switch (type) {
        case 'system':
          systemNoticeApi.getNoticeNum().then(res => {
            if (res > 0) {
              noticeStatus = true
            } else {
              noticeStatus = false
            }
            this.updateNoticeTip(noticeStatus)
          })
          break
        case 'pms':
          pmsNoticeApi.getNoticeNum().then(res => {
            if (res > 0) {
              noticeStatus = true
            } else {
              noticeStatus = false
            }
            this.updateNoticeTip(noticeStatus)
          })
          break
      }
    },
    hasNotice () {
      switch (this.loginType) {
        case LOGIN_TYPE.PMS:
          this.getNoticeNum('pms')
          break
        case LOGIN_TYPE.SYSTEM:
          this.getNoticeNum('system')
          break
      }
    },
    afterModifyPassword () {
      this.modifyPassword.show = false
      this.success('修改密码成功，请重新登录')
      setTimeout(() => {
        this.logout(true)
      }, 2000)
    },
    downloadDoc () {
      if (this.showDownloadDoc) {
        window.open(compatUrl(this.docDownloadUrl, {
          __: Date.now()
        }), '_blank')
      }
    }
  }
}
</script>
