<template>
  <div>
    <el-menu class="main-aside-elmenu" :default-active="tagList.defaultActive" :collapse="isCollapse" :unique-opened="true" @open="handleOpen" @close="handleClose">
      <template v-for="item in params">
        <el-menu-item v-if="item.deep === 1" :index="item.index" :key="item.index" @click="routePush(item)">
          <i :class="item.menuIcon?'el-icon-':'el-icon-setting'">
            <img v-if="item.menuIcon" :src="item.menuIcon" />
          </i>
          <span slot="title">{{item.title}}</span>
        </el-menu-item>
        <el-submenu v-else-if="item.deep === 2" :index="item.index" :key="item.index">
          <template slot="title">
            <i :class="item.menuIcon?'el-icon-':'el-icon-setting'">
              <img v-if="item.menuIcon" :src="item.menuIcon" />
            </i>
            <span slot="title">{{item.title}}</span>
          </template>
          <el-menu-item-group>
            <template v-for="itemSec in item.child">
              <el-menu-item :index='itemSec.index' :key="itemSec.index" @click="routePush(itemSec)">{{itemSec.title}}</el-menu-item>
            </template>
          </el-menu-item-group>
        </el-submenu>
        <el-submenu v-else-if="item.deep === 3" :index="item.index" :key="item.index">
          <template slot="title">
            <i :class="item.menuIcon?'el-icon-':'el-icon-setting'">
              <img v-if="item.menuIcon" :src="item.menuIcon" />
            </i>
            <span slot="title">{{item.title}}</span>
          </template>
          <template v-for="itemSec in item.child">
            <el-menu-item-group v-if="itemSec && !itemSec.child" :key="itemSec.index">
              <el-menu-item :index="itemSec.index" @click="routePush(itemSec)">{{itemSec.title}}</el-menu-item>
            </el-menu-item-group>
            <el-submenu v-if="itemSec && itemSec.child" :index="itemSec.index" :key="itemSec.index">
              <span slot="title">{{itemSec.title}}</span>
              <el-menu-item v-for="itemThrd in itemSec.child" :index="itemThrd.index" :key="itemThrd.index" @click="routePush(itemThrd)">{{itemThrd.title}}</el-menu-item>
            </el-submenu>
          </template>
        </el-submenu>
      </template>
    </el-menu>
  </div>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex'
import * as mutationsType from '@/store/mutation-types.js'

export default {
  data () {
    return {
      isCollapse: false,
      defaultActive: '1-1',
      params: [],
      firstMenu: null
    }
  },
  computed: {
    ...mapGetters([
      'tagList',
      'adminInfo',
      'resourceMenuMap'
    ])
  },
  watch: {
    '$route': function (val, oldVal) {
      this.checkTagList(val, true)
    }
  },
  created () {
    this.getMenuList()
  },
  methods: {
    ...mapMutations({
      updateTagList: mutationsType.UPDATE_TAG_LIST,
      updateDefaultActive: mutationsType.UPDATE_DEFAULT_ACTIVE,
      setResourceMenuMap: mutationsType.SET_RESOURCE_MENU_MAP
    }),
    routePush (item) {
      if (this.$route.name !== item.name) {
        this.updateTagList(item)
        this.$router.push({ name: item.name })
      }
    },
    async getMenuList () {
      const resourceMenuMap = {}
      const loop = (list, deep = 1, parentRoot) => {
        return list.map(v => {
          v.index = v.id
          v.name = v.url
          v.icon = v.menuIcon
          if (v.node && v.node.length) {
            v.child = v.node = loop(v.node, deep + 1, parentRoot || v)
          } else {
            // 记录name-menu的映射
            resourceMenuMap[v.name] = v
            // 记录第一个叶子菜单的路由
            if (!this.firstMenu) {
              this.firstMenu = v
            }
            if (((parentRoot || v).deep || 1) <= deep) {
              (parentRoot || v).deep = deep
            }
          }
          return v
        })
      }
      this.params = loop(this.adminInfo.resourceMenuList)
      this.setResourceMenuMap(resourceMenuMap)
      this.checkTagList()
    },
    checkTagList (routeVal, iswatch) {
      let tagListArr = this.tagList.tagList
      let isInTagList = false
      let routeName = iswatch ? routeVal.name : this.$route.name
      // 判断当前页面是否已经在taglist中
      for (let m = 0; m < tagListArr.length; m++) {
        if (tagListArr[m].name === routeName) {
          let index = tagListArr[m].index
          this.updateDefaultActive(index)
          let newItem = tagListArr[m]
          this.updateTagList(newItem)
          isInTagList = true
          return false
        }
      }
      // 表示不在taglist中，判断是否是能匹配到左侧菜单--考虑到用户手动修改url
      if (!isInTagList) {
        let newItem = this.resourceMenuMap[routeName]
        if (newItem && newItem.name) {
          // 表示当前路由匹配到左侧菜单
          this.updateTagList(newItem)
        } else {
          // 表示当前路由路径无效
          this.turnToFirstPage()
        }
      }
    },
    turnToFirstPage () {
      if (this.firstMenu) {
        this.$router.replace({ name: this.firstMenu.name })
      }
    },
    handleOpen (key, keyPath) {
      // console.log(key, keyPath)
    },
    handleClose (key, keyPath) {
      // console.log(key, keyPath)
    }
  }
}
</script>
