<template>
  <transition name="el-zoom-in-top">
    <div class="vma-dialog"
         v-show="visible"
         :style="style">
      <div class="el-dialog">
        <div class="el-dialog__header">
          <slot name="title">
            <span class="el-dialog__title">{{title}}</span>
          </slot>
          <button type="button"
                  class="el-dialog__headerbtn"
                  @click="close">
            <i class="el-dialog__close el-icon el-icon-close"></i>
          </button>
        </div>
        <div class="el-dialog__body">
          <slot />
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import PopupManager from 'element-ui/lib/utils/popup/popup-manager'

export default {
  model: {
    prop: 'visible',
    event: 'model'
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: '标题'
    },
    fixedScrollDom: {
      default: '.lyy-page-vmadialog'
    }
  },
  data() {
    return {
      defaultOptions: {},
      domScroll: '',
      initial: false,
      style: {
        zIndex: 1,
        left: 0,
        top: 0
      }
    }
  },
  watch: {
    visible: {
      immediate: true,
      handler(val) {
        let scrollDom = this.getScrollDom()
        if (val) {
          this.style.zIndex = PopupManager.nextZIndex()
          if (scrollDom) {
            this.domScroll = scrollDom.style.overflow
            scrollDom.style.overflow = 'hidden'
            this.style.left = scrollDom.scrollLeft + 'px'
            this.style.top = scrollDom.scrollTop + 'px'
          }
          this.initial = true
        } else if (this.initial) {
          if (scrollDom) {
            scrollDom.style.overflow = this.domScroll
            this.domScroll = ''
          }
        }
      }
    }
  },
  mounted() {
    let scrollDom = this.getScrollDom()
    if (scrollDom) {
      scrollDom.appendChild(this.$el)
    }
  },
  destroyed() {
    let scrollDom = this.getScrollDom()
    if (scrollDom) {
      scrollDom.removeChild(this.$el)
      if (this.visible) {
        scrollDom.style.overflow = this.domScroll
      }
    }
  },
  methods: {
    getScrollDom() {
      if (this.fixedScrollDom) {
        return document.querySelector(this.fixedScrollDom)
      }
      return null
    },
    close() {
      this.$emit('model', false)
    }
  }
}
</script>
