<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFnOrDataList"
               :options="mergedOptions"
               @initial="initial"
               @change="change"
               ref="lazySelect" />
</template>

<script>
import { commonApi } from '@/api/chat'
import lazySelectMixin from '@/components/common/lazySelect/components/mixin'
import { SESSION_TYPE } from '@/constants/chat'
import { wechatInfoSession } from '@/storage'

export default {
  mixins: [lazySelectMixin],
  props: {
    freindType: [Number]
  },
  methods: {
    async getData() {
      let staffId = wechatInfoSession.getJSON().staffId
      let list
      if (this.freindType === SESSION_TYPE.C2C) {
        list = await commonApi.getAccountFriendGroupList(staffId)
      } else {
        list = await commonApi.getAccountTeamGroupList(staffId)
      }
      return (list || []).map(v => this.convertData(v.id, v.name, v))
    }
  }
}
</script>
