<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFnOrDataList"
               :options="mergedOptions"
               @initial="initial"
               @change="change"
               ref="lazySelect" />
</template>

<script>
import { commonApi } from '@/api/common'
import lazySelectMixin from './mixin'

export default {
  mixins: [lazySelectMixin],
  methods: {
    getData() {
      return commonApi.provinceList().then(data => (data || []).map(v => this.convertData(v.id, v.name, v)))
    }
  }
}
</script>
