<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.searchName"
                    placeholder="请输入昵称/ID/所在群名称"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)" />
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange($event,'startCreateTime','endCreateTime')">
          </el-date-picker>
          <el-select v-model="params.type"
                     clearable
                     placeholder="黑名单位置">
            <el-option v-for="item in blacklist"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表（黑名单用户在群内发言或者重新进群，系统将自动将其踢出群）</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="头像昵称">
          <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs ly-width-50px">
                <div class="ly-wh-50px ly-bg-f6">
                  <img class="ly-wh-50px"
                       :src="scope.row.headIcon | csAvtor"
                       v-image-view>
                </div>
              </div>
              <div class="ly-box-1 ly-margin-top-nge-4">
                <p class="ly-font-color-3 ly-width-120px ly-ellipsis2">{{scope.row.nickName || '--'}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="wechatUser"
                         label="微信ID" />
        <el-table-column prop="groupName"
                         label="所在群">
          <template slot-scope="scope">
            <div class="ly-width-100px ly-max-height-40px ly-ellipsis2"
                 :title="scope.row.groupName">{{ scope.row.groupName || '--' }}</div>
          </template>
        </el-table-column>
        <el-table-column label="被踢时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       v-if="scope.row.type === 1 && hasAction"
                       @click.native="removeCallback(scope.row)">移出群黑名单</el-button>
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small"
                       v-if="scope.row.type === 1 && hasAction"
                       @click.native="intoCallback(scope.row.id)">移入全局黑名单</el-button>
            <el-button type="text"
                       size="small"
                       v-if="scope.row.type === 2 && hasAction"
                       @click.native="deleteCallback(scope.row)">移出全局黑名单</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import { resourceMixin, tableMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [resourceMixin, tableMixin],
  data() {
    return {
      activeNames: ['1'],
      params: {
        searchName: '',
        type: ''
      },
      blacklist: [
        {
          value: '1',
          label: '群黑名单'
        },
        {
          value: '2',
          label: '全局黑名单'
        }
      ]
    }
  },
  computed: {
    // 黑名单移除移入
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.BLACK_LIST)
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await v2communityManage.groupBlackList(this.params).then(res => {
        this.tableData = res
      })
    },
    // 移入全局黑名单
    intoCallback(id) {
      this.$confirm('是否将该成员移入全局黑名单？', '提示').then(_ => {
        v2communityManage.groupBlackListId(id).then((res) => {
          this.success('移入成功！该用户被移入全局黑名单，所有的个人号为群主的群都不能加入')
          this.getTableList()
        })
      })
    },
    // 移出群黑名单
    removeCallback(obj) {
      this.$confirm('是否将该成员移出群黑名单？', '提示').then(() => {
        this.sureCallback(obj.id, 2, 1)
      })
    },
    // 移出全局黑名单
    deleteCallback(obj, type) {
      this.$confirm('若需取消所有群对该用户的黑名单标记，请选择【彻底移除】。移除后，该用户进入任意群都不会被系统踢出。若还需保留该用户在移入全局黑名单之前群黑名单标记，请选择【移入群黑名单】。', '提示', {
        confirmButtonText: '彻底移除',
        cancelButtonText: '移入群黑名单'
      }).then(_ => {
        this.sureCallback(obj.id, 2)
      }).catch(() => {
        this.sureCallback(obj.id, 1)
      })
    },
    // 移出黑名单请求
    sureCallback(id, type, num) {
      v2communityManage.groupBlackDelete({ id: id, type: type }).then((res) => {
        if (num) {
          this.success('移出成功！该用户被移出群黑名单，从黑名单列表消失')
        } else {
          this.success('移除成功！')
        }
        this.getTableList()
      })
    }
  }
}
</script>
