<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.searchName"
                    placeholder="请输入昵称/微信号/群名称"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)" />
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange($event,'startCreateTime','endCreateTime')">
          </el-date-picker>
          <el-select v-model="params.illegalType"
                     class="ly-margin-right-bottom-sm"
                     clearable
                     placeholder="违规行为">
            <el-option v-for="item in IRREGULARITIES"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-select v-model="params.status"
                     clearable
                     placeholder="状态">
            <el-option v-for="item in stateList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="头像昵称"
                         min-width="160">
          <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs ly-width-50px">
                <div class="ly-wh-50px ly-bg-f6">
                  <img class="ly-wh-50px"
                       :src="scope.row.headIcon | csAvtor"
                       v-image-view>
                </div>
              </div>
              <div class="ly-box-1 ly-margin-top-nge-4">
                <p class="ly-font-color-3 ly-width-120px ly-ellipsis2">{{scope.row.nickName || '--'}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="wxId"
                         label="微信ID" />
        <el-table-column prop="groupName"
                         label="所在群">
          <template slot-scope="scope">
            <div class="ly-width-100px ly-max-height-40px ly-ellipsis2"
                 :title="scope.row.groupName">{{ scope.row.groupName || '--' }}</div>
          </template>
        </el-table-column>
        <el-table-column prop="wechatGroupMainName"
                         label="群主" />
        <el-table-column label="触发时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="违规行为">
          <template slot-scope="scope">
            <span v-if="scope.row.illegalType===1"
                  class="ly-cursor-pointer"
                  @click="openCallback($event,scope.row)">群聊内容触发敏感词</span>
            <span v-else-if="scope.row.illegalType===2">群内发送名片</span>
            <span v-else-if="scope.row.illegalType===3"
                  class="ly-cursor-pointer"
                  @click="openCallback($event,scope.row)">群内发送链接</span>
            <span v-else-if="scope.row.illegalType===4">群内发送小程序</span>
            <span v-else-if="scope.row.illegalType===5"
                  class="ly-cursor-pointer"
                  @click="openCallback($event,scope.row)">群内发送小视频</span>
            <span v-else-if="scope.row.illegalType===6">防骚扰</span>
            <span v-else-if="scope.row.illegalType===7">群名锁定禁止修改</span>
            <span v-else-if="scope.row.illegalType===8">已加入黑名单，系统自动踢人</span>
            <span v-else>--</span>
          </template>
        </el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">
            <span>{{scope.row.status===1?'已警告':'已踢出'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       v-if="hasActionIllegalWarning && scope.row.status===1"
                       @click="behaviorCallback(scope.row,1)">警告</el-button>
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small"
                       v-if="hasActionIllegalKicking && scope.row.status===1"
                       @click.native="behaviorCallback(scope.row,2)">踢人</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import { IRREGULARITIES } from '@/constants/selects'
import { resourceMixin, tableMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [resourceMixin, tableMixin],
  data() {
    return {
      activeNames: ['1'],
      IRREGULARITIES: IRREGULARITIES,
      params: {
        searchName: '',
        illegalType: '',
        status: ''
      },
      stateList: [
        {
          value: '1',
          label: '已警告'
        },
        {
          value: '2',
          label: '已踢出'
        }
      ]
    }
  },
  computed: {
    // 违规行为警告
    hasActionIllegalWarning() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.ILLEGAL_WARNING)
    },
    // 违规记录踢人
    hasActionIllegalKicking() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.ILLEGAL_KICKING)
    },
    // 违规行为记录查看
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.ILLEGAL_VIEW)
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await v2communityManage.groupIllegalActionList(this.params).then(res => {
        this.tableData = res
      })
    },
    // 详情
    async openCallback(defObj, obj) {
      if (!this.hasAction) {
        return
      }
      await v2communityManage.groupIllegalActionDetails(obj.id).then(res => {
        this.$alert(res, '详情', {
          customClass: 'lyClass',
          confirmButtonText: '关闭',
          callback: action => { }
        })
      })
    },
    // 踢人或警告
    behaviorCallback(obj, type) {
      let tip = '是否对该用户再次发送警告？'
      if (type === 2) {
        tip = '是否将该成员踢出群？'
      }
      this.$confirm(tip, '提示')
        .then(_ => {
          v2communityManage.groupIllegalAction({ id: obj.id, status: type }).then((res) => {
            this.success('恭喜你，操作成功')
            this.getTableList()
          })
        })
        .catch(_ => { })
    }
  }
}
</script>
