<template>
  <!-- 下面的tab切换 -->
  <el-tabs v-model="activeName"
           class="system-home-container">
    <el-tab-pane label="基础信息"
                 name="basicInfo">
      <vma-lazy :initial="activeName === 'basicInfo'">
        <basic-info :id="id"
                    :entry="entry"
                    @getLocal="getLocal" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="设备明细"
                 name="equipmentDetails">
      <vma-lazy :initial="activeName === 'equipmentDetails'">
        <equipment-details :id="id"
                           :entry="entry" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="授权店铺"
                 name="authorizedShop">
      <vma-lazy :initial="activeName === 'authorizedShop'">
        <authorized-shop :id="id"
                         :entry="entry" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="个人号"
                 name="personalNum">
      <vma-lazy :initial="activeName === 'personalNum'">
        <personal-num :id="id"
                      :entry="entry" />
      </vma-lazy>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import { basicInfo, equipmentDetails, authorizedShop, personalNum } from './src'

export default {
  props: ['id', 'entry'],
  components: { basicInfo, equipmentDetails, authorizedShop, personalNum },
  data() {
    return {
      activeName: 'basicInfo'
    }
  },
  methods: {
    getLocal(val) {
      this.$emit('getLocal', val)
    }
  }
}
</script>
