<template>
  <div>
    <!-- 筛选查询 -->
    <collapseLay :params="params"></collapseLay>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="企业名称">
        </el-table-column>
        <el-table-column prop="name"
                         label="红包ID">
        </el-table-column>
        <el-table-column prop="name"
                         label="发送员工"
                         show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="name"
                         label="发送时间">
        </el-table-column>
        <el-table-column prop="name"
                         label="发送金额">
        </el-table-column>
        <el-table-column prop="name"
                         label="接收好友/群"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="领取者"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="领取金额">
        </el-table-column>
        <el-table-column prop="name"
                         label="领取时间">
        </el-table-column>
        <el-table-column prop="name"
                         label="红包标题">
        </el-table-column>
        <el-table-column prop="name"
                         label="红包模式">
        </el-table-column>
        <el-table-column prop="name"
                         label="购物订单号">
        </el-table-column>
        <el-table-column prop="name"
                         label="发送状态">
        </el-table-column>
        <el-table-column prop="name"
                         label="备注">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import collapseLay from '@/pages/ui/components/collapseLay'
import Logger from '@/utils/logger'

export default {
  components: { personalInfo, collapseLay },
  data() {
    return {
      activeNames: ['1'],
      params: {
        enterpriseName: true,
        friendGroupName: true,
        redEnvelopeMode: true,
        sendOutDate: true,
        receiveDate: true,
        sendingState: true
      },
      tableData: [],
      multipleSelection: [],
      dialogFormVisible: false
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      Logger.log(this.params)
    },
    // 敏感操作设置
    childenCall(val) {
      this.dialogFormVisible = true
    },
    handleSelectionChange(val) {
      Logger.log('1')
    },
    handleClick(val) {
      Logger.log('1')
    }
  }
}
</script>
