<template>
  <div>
    <!-- 筛选查询 -->
    <collapseLay :params="params"></collapseLay>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="enterpriseName"
                         label="企业名称">
        </el-table-column>
        <el-table-column prop="id"
                         label="付款时间">
        </el-table-column>
        <el-table-column label="支出金额（元）">
          <template slot-scope="scope">
            <span v-if="scope.row.msgType === 1">系统发送</span>
            <span v-else-if="scope.row.msgType === 2">员工发送</span>
          </template>
        </el-table-column>
        <el-table-column prop="staffName"
                         label="领取者"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column label="活动名称"
                         width="180">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="msgText"
                         label="订单编号">
        </el-table-column>
        <el-table-column prop="num"
                         label="审核方式">
        </el-table-column>
        <el-table-column prop="num"
                         label="审核员工">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
import collapseLay from '@/pages/ui/components/collapseLay'
import personalInfo from '@/components/common/personalInfo'

export default {
  mixins: [tableMixin],
  components: { collapseLay, personalInfo },
  data() {
    return {
      activeNames: ['1'],
      params: {
        enterpriseName: true,
        activityName: true,
        recipients: true,
        auditMode: true,
        sendingStaff: true,
        date: true
      },
      date: '',
      tableData: {
        records: [
          {
            enterpriseName: '说的克己复礼',
            createTime: 1578747602000,
            msgText: '圣诞快乐房价上课',
            status: 1
          }
        ],
        total: 1
      },
      smsType: [
        { value: 1, label: '系统发送' },
        { value: 2, label: '员工发送' }
      ]
    }
  },
  methods: {
    /**
     * 日期格式转换
     */
    dateChange(val) {
      if (!val) {
        this.params.begin_time = ''
        this.params.end_time = ''
      } else {
        this.params.begin_time = new Date(val[0]).getTime()
        this.params.end_time = new Date(val[1]).getTime()
      }
    },
    /**
     * 获取短信发送记录
     */
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      // rechargeDetailsApi.getSmsSendList(this.params).then((res) => {
      //   this.tableData = res
      // })
    }
  }
}
</script>
