<template>
  <div>
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item label="分组名称:" :label-width="formLabelWidth"  prop="groupName">
        <el-input autocomplete="off"
                  placeholder="请输入分组名称"
                  class="ly-width-280px-im"
                  :maxlength="20"
                  v-model="params.groupName"
                  @blur="blurGroupName"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="分组备注:" :label-width="formLabelWidth">
        <el-input type="textarea"
                  placeholder="请输入分组备注"
                  :rows="5"
                  class="ly-width-280px-im"
                  :maxlength="200"
                  v-model.trim="params.remark"
                  clearable></el-input>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" @click="colseDialog">取 消</el-button>
          <el-button size="medium"  type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'

export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      params: {
        groupName: '',
        remark: ''
      },
      rules: {
        groupName: [
          { required: true, message: '请输入分组名称' }
        ]
      }
    }
  },
  created() {
    if (this.dialogProp.data) {
      this.params.groupName = this.dialogProp.data.groupName
      this.params.remark = this.dialogProp.data.remark
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    colseDialog() {
      this.$emit('closeDialog')
    },
    /**
     * 保存
     */
    submitInfo() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (this.dialogProp.data) {
            // 修改
            this.submitModifyInfo()
          } else {
            // 新增
            this.submitAddInfo()
          }
        } else {
          return false
        }
      })
    },
    /**
     * 新增--保存
     */
    async submitAddInfo() {
      await deviceManageApi.eGroupAdd(this.params).then((res) => {
        this.success('新增成功')
        this.$emit('getTableList')
        this.$emit('closeDialog')
      })
    },
    /**
     * 修改--保存
     */
    async submitModifyInfo() {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.dialogProp.data) {
        params.id = this.dialogProp.data.id
      } else {
        return false
      }
      await deviceManageApi.eGroupEdit(params).then((res) => {
        this.success('修改成功')
        this.$emit('getTableList')
        this.$emit('closeDialog')
      })
    },
    blurGroupName(event) {
      let value = event.target.value.trim()
      this.params.groupName = value
    }
  }
}
</script>
