<template>
    <el-form :model="params" :rules="rules" ref="ruleForm" label-width="140px" class="demo-ruleForm">
        <el-form-item label="日志等级：">
            <ul>
                <li>
                    <el-switch
                    @change='changeType'
                    v-model="params.openLogBasic"
                    active-color="#13ce66"
                    disabled>
                    </el-switch>
                    <span>一级日志</span>
                </li>
                <li>
                    <el-switch
                    @change='changeTypeOne'
                    v-model="params.openLogKeyBussiness"
                    active-color="#13ce66">
                    </el-switch>
                    <span>二级日志</span>
                </li>
                <li>
                    <el-switch
                    @change='changeTypeTwo'
                    v-model="params.openLogDetail"
                    active-color="#13ce66">
                    </el-switch>
                    <span>三级日志</span>
                </li>
                <li>
                    <el-switch
                    @change='changeTypeThree'
                    v-model="params.openLogDebug"
                    active-color="#13ce66">
                    </el-switch>
                    <span>四级日志</span>
                </li>
            </ul>
        </el-form-item>
        <!-- label="即时配送" -->
        <el-form-item label="延时发送时间：">
            <el-input-number size="medium" v-model="params.duration" :min='10' :max='60'></el-input-number>
        </el-form-item>        
        <el-form-item right>
          <el-button type="primary" @click="submitDialog">确认</el-button>
          <el-button @click="closeDialog">取消</el-button>
        </el-form-item>
      </el-form>
</template>
<script>
    import {
        deviceManageApi
    } from '@/api/system'
    export default {
        props: {
            dialogProp: {
                type: Object,
                default: function() {

                }
            }
        },
        data() {
            return {
                value: 1,
                params: {
                    openLogBasic: true, //一级日志永远开启
                    openLogKeyBussiness: false, //二级日志
                    openLogDetail: false, //三级日志
                    openLogDebug: false, //四级日志
                    duration: 10, //默认延迟时间2s
                    ids: []
                },
                rules: {},
            }
        },
        created() {
            // console.log(this.dialogProp.data.logLevel)
            this.$nextTick(() => {
                // 进来时判断是否存在各个状态
                if (this.dialogProp.data.logLevel) {
                    this.params = this.dialogProp.data.logLevel
                }
                // 判断是否为批量的开启
                if (this.dialogProp.data.ids) {
                    this.params.ids = this.dialogProp.data.ids
                } else {
                    let arr = []
                    if (this.dialogProp.data.id) {
                        arr.push(this.dialogProp.data.id)
                    } else {
                        for (let i in this.dialogProp.data.ids) {
                            arr.push(this.dialogProp.data.ids[i])
                        }
                    }
                    this.params.ids = arr
                }

            })
        },
        methods: {
            getJournalList() {
                // console.log(this.params)
                deviceManageApi.batchUploadLogMsg(this.params).then(res => {
                    // console.log(res)
                    this.closeDialog()
                })
            },
            submitDialog() {
                this.$emit('successCommit', this.params)
                this.getJournalList()
            },
            closeDialog() {
                this.$emit('closeDialog')
            },
            changeType(type) {

            },
            changeTypeOne(type) {

            },
            changeTypeTwo(type) {

            },
            changeTypeThree(type) {

            },
        },
    }
</script>