<template>
  <div>
    <!--<el-dialog title="导入联系人"-->
    <!--:visible.sync="dialogProp.show"-->
    <!--width="560px"-->
    <!--@close="colseDialog">-->
    <el-form :model="params"
             :rules="rules"
             ref="ruleForm"
             @submit.native.prevent>
      <div class="ly-margin-center ly-width-500px">
        <p>mel：{{dialogProp.data.imei || '--'}}</p>
        <p>备注：{{dialogProp.data.remark || '--'}}</p>
        <div class="ly-margin-top-20px">
          <el-button type="primary"
                     size="medium"
                     @click="downloadExcel">下载导入模板（Excel）</el-button>
          <div class="fileupLay">
            <span>导入模板</span>
            <input type="file"
                   name="fileup"
                   class="file"
                   v-on:change="fileChange($event)" />
          </div>
        </div>
        <el-form-item prop="concatList">
          <p>
            <el-input v-model="params.concatList"
                      class="ly-margin-top-20px"
                      type="textarea"
                      :rows="6"
                      :maxlength="50000"
                      placeholder="联系人姓名 联系人手机号 一行一个联系人，先写联系人姓名后写联系人手机号, 联系人姓名和手机号用一个逗号隔开"
                      @blur="checkConcatNo(true)"></el-input>
          </p>
        </el-form-item>
        <p class="ly-margin-top-10px">
          <el-checkbox label="b"
                       v-model="checkList"
                       class="ly-checkbox-label">清理手机设备上现有联系人</el-checkbox>
        </p>
        <p class="ly-margin-top-10px ly-font-color-7">提示：联系人姓名 联系人手机号 一行一个联系人，先写联系人姓名后写联系人手机号,联系人姓名和手机号用一个逗号隔开</p>
      </div>
      <el-form-item>
        <div class="ly-margin-top-20px ly-text-right">
          <el-button size="medium"
                     @click="colseDialog">关 闭</el-button>
          <el-button size="medium"
                     type="primary"
                     @click="confirmSubmit">导 入</el-button>
        </div>
      </el-form-item>
    </el-form>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import { downloadFile, fileUpload } from '@/utils'
import { mobile, removeInvalidMarkGlobal, commaCNToENGlobal } from '@/utils/validator'

export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      file: '',
      checkList: false,
      params: {
        concatList: ''
      },
      concatList: '',
      fileList: [],
      rules: {
        concatList: [
          { required: true, message: '请输入联系人和对应的联系电话' }
        ]
      }
    }
  },
  created() { },
  methods: {
    colseDialog() {
      this.$emit('closeDialog')
    },
    /**
     * 设备管理--导出excel
     */
    async downloadExcel() {
      await deviceManageApi.equipmentDownFile().then((res) => {
        downloadFile(res, 'wechatLog.xls')
        this.success('下载导入模板成功')
        // this.colseDialog()
      })
    },
    /**
     * 设备管理--导入提交--校验
     */
    regTextArea() {
      let removeInvalidCode = removeInvalidMarkGlobal.replace(this.params.concatList, '') // 去除除汉字，数字，空格，逗号（中英）外的所有其他字符
      let newConcatList = commaCNToENGlobal.replace(removeInvalidCode, ',') // 把逗号（中）转为（英）
      let resultStr = newConcatList.split(/[\r\n]/g) // 去掉回车换行
      let newArr = []
      let rowErrNo = 0
      let phoneErrNo = 0
      resultStr.forEach(o => {
        if (o.length) {
          let newOArr = []
          let oArr = o.split(',')
          oArr.forEach(osec => {
            newOArr.push(osec.trim())
          })
          if (newOArr.length !== 2) {
            rowErrNo += 1
          }
          if (newOArr.length >= 2) {
            let testResult = mobile.valid(newOArr[1])
            if (!testResult) {
              phoneErrNo += 1
            }
          }
          newArr.push(newOArr)
        }
      })
      return {
        newArr: newArr,
        rowErrNo: rowErrNo,
        phoneErrNo: phoneErrNo
      }
    },
    checkConcatNo(cancelTip) {
      let regResult = this.regTextArea()
      this.params.concatList = regResult.newArr.join('\r\n')
      if (regResult.rowErrNo + regResult.phoneErrNo) {
        let phoneMessge = regResult.phoneErrNo ? `手机号不规范${regResult.phoneErrNo}处` : ''
        let splitMessge = regResult.rowErrNo ? `姓名与手机号格式不规范${regResult.rowErrNo}处` : ''
        let messageArr = []
        if (phoneMessge) {
          messageArr.push(phoneMessge)
        }
        if (splitMessge) {
          messageArr.push(splitMessge)
        }
        let messageStr = messageArr.join(',')
        if (!cancelTip) {
          this.warn(messageStr)
        }
        return false
      } else {
        return regResult
      }
    },
    /**
     * 设备管理--导入提交
     */
    async confirmSubmit() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.submitData()
        } else {
          return false
        }
      })
    },
    async submitData() {
      let regResult = this.checkConcatNo()
      if ((!regResult) || (regResult.rowErrNo + regResult.phoneErrNo)) {
        return false
      }
      let paramsList = []
      regResult.newArr.forEach(o => {
        let paramsOne = {
          name: o[0],
          phoneNumber: o[1]
        }
        paramsList.push(paramsOne)
      })
      let typeVal = this.checkList ? 1 : 0
      let params = {
        id: this.dialogProp.data.id,
        type: typeVal,
        list: paramsList
      }
      await deviceManageApi.equipmentConcatesUpload(params).then((res) => {
        let message = `成功导入${res}条,请稍后查看，请不要连续在同一个设备导入联系人，手机会卡顿`
        this.success(message)
        this.colseDialog()
      })
    },
    /**
     * 设备管理--上传数据
     */
    async fileChange(el) {
      let formData = await fileUpload(el, ['xls', 'xlsx'], 2)
      if (!formData.formData) {
        return
      }
      deviceManageApi.equipmentUploadFile(formData.formData, { type: this.checkList ? 1 : 0, id: this.dialogProp.data.id }).then((res) => {
        let arr = []
        res.forEach(o => {
          let oneArr = []
          oneArr.push(o.name)
          oneArr.push(o.phoneNumber)
          let oneStr = oneArr.join(',')
          arr.push(oneStr)
        })
        let arrStr = arr.join('\r\n')
        this.params.concatList = arrStr
        let message = `成功导入${res.length}条`
        this.success(message)
      })
    }
  }
}
</script>
