<template>
  <div>
    <!--<el-dialog title="设置设备备注" :visible.sync="dialogProp.show" width="489px" @close="colseDialog">-->
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item label="Imei:" :label-width="formLabelWidth">
        {{dialogProp.data.imei}}
      </el-form-item>
      <el-form-item label="设备备注:" :label-width="formLabelWidth"  prop="remark">
        <el-input v-model.trim="params.remark" :maxlength="10" autocomplete="off" placeholder="设备备注" class="ly-width-280px-im" @keyup.enter.prevent clearable></el-input>
      </el-form-item>
      <el-form-item label="当前分配用户:" :label-width="formLabelWidth">
        {{dialogProp.data.ownerStaffName || '--'}}
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" @click="colseDialog">取 消</el-button>
          <el-button size="medium" type="primary" @click="confirmSubmit">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>

    <!--</el-dialog>-->
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'

export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      params: {
        id: '',
        remark: ''
      },
      rules: {
        /*
        remark: [
          { required: true, message: '请输入备注信息' }
        ]
        */
      }
    }
  },
  created() {
    this.params.id = this.dialogProp.data.id
    this.params.remark = this.dialogProp.data.remark || ''
  },
  methods: {
    colseDialog() {
      this.$emit('closeDialog')
    },
    confirmSubmit() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.submitData()
        } else {
          return false
        }
      })
    },
    async submitData() {
      await deviceManageApi.modifyDeviceRemark(this.params).then(() => {
        let modifyInfo = {
          index: this.dialogProp.index,
          remark: this.params.remark
        }
        this.success('修改成功')
        this.colseDialog()
        this.$emit('upDateRecord', modifyInfo)
      })
    }
  }
}
</script>
