<template>
  <div>
    <!--<el-dialog title="设置设备分组" :visible.sync="dialogProp.show" width="489px" @close="colseDialog">-->
    <el-form>
      <el-form-item label="设备IMEI:" :label-width="formLabelWidth">
        {{dialogProp.data.imei}}
      </el-form-item>
      <el-form-item label="设备备注:" :label-width="formLabelWidth">
        {{dialogProp.data.remark || '--'}}
      </el-form-item>
      <el-form-item label="设备分组:" :label-width="formLabelWidth">
        <deviceGroupingSelect v-model="params.groupId"
                              placeholder="请选择分组"></deviceGroupingSelect>
      </el-form-item>
    </el-form>
    <div class="ly-text-right">
      <el-button size="medium" @click="colseDialog">取 消</el-button>
      <el-button size="medium" type="primary" @click="confirmSubmit">确 定</el-button>
    </div>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import { deviceGroupingSelect } from '@/components/packages/system/lazySelect'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  components: { deviceGroupingSelect },
  data() {
    return {
      formLabelWidth: '136px',
      params: {
        id: '',
        groupId: ''
      }
    }
  },
  created() {
    this.params.id = this.dialogProp.data.id
    this.params.groupId = this.dialogProp.data.groupId || ''
  },
  methods: {
    colseDialog() {
      this.$emit('closeDialog')
    },
    async confirmSubmit() {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.params.groupId === '') {
        params.groupId = 0
      }
      await deviceManageApi.equipmentModify(params).then(() => {
        this.success('修改成功')
        this.colseDialog()
        if (this.params.groupId !== this.dialogProp.data.groupId) {
          this.$emit('getTableList')
        }
      })
    }
  }
}
</script>
