<template>
  <div>
    <!--<el-dialog title="分配设备给员工" :visible.sync="dialogProp.show" width="489px" @close="colseDialog">-->
    <el-form :model="params" :rules="rules" ref="ruleForm">
      <el-form-item label="设备IMEI:" :label-width="formLabelWidth">
        {{dialogProp.data.imei}}
      </el-form-item>
      <el-form-item label="设备备注:" :label-width="formLabelWidth">
        {{dialogProp.data.remark || '--'}}
      </el-form-item>
      <el-form-item label="当前员工部门:" :label-width="formLabelWidth" v-if="dialogProp.data.departmentName">
        {{dialogProp.data.departmentName || '--'}}
      </el-form-item>
      <el-form-item label="当前分配员工:" :label-width="formLabelWidth" v-if="dialogProp.data.ownerStaffName">
        {{dialogProp.data.ownerStaffName}}
      </el-form-item>
      <el-form-item label="接收员工部门:" :label-width="formLabelWidth">
        <!--部门级联已经调整-->
        <departmenTreeCascadert v-model="departmentId"
                                filterable
                                clearable
                                :currentDepartmentId="dialogProp.data.departmentId ? dialogProp.data.departmentId : null"
                                @initDepartmentIds="initDepartmentIds"
                                style="width: 230px"
                                placeholder="请选择接收员工部门"></departmenTreeCascadert>
      </el-form-item>
      <el-form-item label="接收员工:" :label-width="formLabelWidth" prop="staffId">
        <!--分配员工已经调整-->
        <departmentStaff placeholder="请选择或搜索要分配的员工"
                         style="width: 230px"
                         v-model="params.staffId"
                         filterable
                         clearable
                         v-if="initStaffStatus"
                         :parentId="departmentId"></departmentStaff>
      </el-form-item>
      <el-form-item class="ly-text-center">
        <el-checkbox v-model="params.isOldStep" :true-label="1" :false-label="0" :disabled="disabled?true:false"><span class="el-tooltip">将该设备个人号的所有好友/群分配给该设备保管者</span></el-checkbox>
      </el-form-item>
      <el-form-item class="ly-text-center">
        <el-checkbox v-model="params.isStep" :true-label="1" :false-label="0" :disabled="disabled?true:false">该设备个人号新添加的好友/群分配给该设备保管者</el-checkbox>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" @click="colseDialog">取 消</el-button>
          <el-button size="medium" type="primary" @click="confirmSubmit">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
    <!--</el-dialog>-->
  </div>
</template>
<script>
import { deviceManageApi } from '@/api/system'
import { departmentStaff } from '@/components/packages/system/lazySelect'
import { departmenTreeCascadert } from '@/components/packages/system/lazyCascader'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  components: { departmentStaff, departmenTreeCascadert },
  data() {
    return {
      formLabelWidth: '136px',
      departmentId: [],
      disabled: false,
      params: {
        id: '',
        staffId: '',
        isOldStep: 1,
        isStep: 1
      },
      initStaffStatus: true,
      rules: {
        staffId: [
          { required: true, message: '请选择要分配的员工' }
        ]
      }
    }
  },
  watch: {
    'departmentId': function(val, oldVal) {
      let oldDepartmentId = this.params.departmentId
      let newDepartmentId = val[val.length - 1] || ''
      if (oldDepartmentId !== newDepartmentId && oldDepartmentId !== undefined) {
        this.params.staffId = ''
        this.initStaffStatus = false
        this.$nextTick(() => {
          this.initStaffStatus = true
        })
      }
      this.params.departmentId = newDepartmentId
    }
  },
  created() {
    this.params.id = this.dialogProp.data.id
    let dialogProp = Object.assign({}, this.dialogProp.data)
    if (this.dialogProp.data.account || this.dialogProp.data.wxId) {
      if (dialogProp.isOldStep === null || dialogProp.isOldStep === undefined) {
        this.params.isOldStep = 1
      } else {
        this.params.isOldStep = dialogProp.isOldStep
      }
      if (dialogProp.isStep === null || dialogProp.isStep === undefined) {
        this.params.isStep = 1
      } else {
        this.params.isStep = dialogProp.isStep
      }
      this.disabled = false
    } else {
      this.params.isOldStep = 0
      this.params.isStep = 0
      this.disabled = true
    }
    if (this.dialogProp.typeVal === 1) {
      // 单个记录
      this.departmentId = this.dialogProp.data.departmentId ? [this.dialogProp.data.departmentId] : []
      this.params.staffId = parseInt(this.dialogProp.data.ownerStaffId) || ''
    }
  },
  methods: {
    initDepartmentIds(val) {
      this.departmentId = val
    },
    colseDialog() {
      this.$emit('closeDialog')
    },
    confirmSubmit() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.submitData()
        } else {
          return false
        }
      })
    },
    async submitData() {
      let params = {
        id: this.params.id,
        staffId: this.params.staffId,
        isOldStep: this.params.isOldStep,
        isStep: this.params.isStep
        // isOldStep: 0,
        // isStep: 0
      }
      if (this.departmentId && this.departmentId[0]) {
        params.departmentId = this.departmentId[0]
      }
      await deviceManageApi.equipmentModify(params).then(() => {
        this.success('修改成功')
        this.colseDialog()
        this.$emit('getTableList')
      })
    }
  }
}
</script>
