<template>
  <div class="block">
    <el-timeline :reverse="reverse">
      <el-timeline-item
        v-for="(activity, index) in activities"
        :key="index"
        :timestamp="fmt.date(activity.createTime)"
      >{{activity.staffName }} </el-timeline-item>
    </el-timeline>
  </div>
</template>

<script>
import { deviceManageApi } from "@/api/system";
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {
      reverse: true,
      activities: [],
      flag:'',
      params: {
        id: ""
      }
    };
  },
  created() {
    this.params.id = this.dialogProp.data.id;
    this.requestTableList();
  },
  methods: {
    async requestTableList() {
      await deviceManageApi.equipmentUserPer(this.params.id).then(data => {
        this.activities = data;
      });
    }
  }
};
</script>
