<template>
  <div>
    <div>
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">新消息自动回复</span>
        </div>
        <span class="ly-margin-top-nge-4 ly-collapse">
          <el-input class="ly-margin-right-sm ly-width-214px"
                    placeholder="请输入匹配词或者回复内容"
                    v-model.trim="params.relatesInformation"
                    :maxlength="100"
                    @keyup.native.enter="searchMessage"
                    clearable></el-input>
          <el-button type="primary"
                     size="small" @click="searchMessage">查询</el-button>
          <el-button type="primary"
                     size="small" @click="showGMessageRuleAddDialog">新增规则</el-button>
        </span>
      </div>
      <div class="ly-margin-bottom-sm">
        <el-button-group>
          <el-button :type="params.ruleType==ruleType[0]?'primary':''"
                     @click="toggleRuleType(ruleType[0])">私有规则</el-button>
          <el-button :type="params.ruleType==ruleType[1]?'primary':''"
                     @click="toggleRuleType(ruleType[1])">公共规则</el-button>
        </el-button-group>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="匹配模式">
          <template slot-scope="scope">
            <span>{{ matchModel[scope.row.matchModel] }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="matchWord"
                         label="关键词"
                         class-name="ly-font-color-9">
        </el-table-column>
        <el-table-column label="回复内容">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row" v-if="scope.row.count===1"></videoAudioImg>
            <div v-else>{{scope.row.count?scope.row.count+'条回复内容':'--'}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       :disabled="!hasAction&&params.ruleType===2?true:false"
                       @click="showGMessageRuleModifyDialog(scope.$index, scope.row)">编辑</el-button>
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small"
                       :disabled="!hasAction&&params.ruleType===2?true:false"
                       @click="msgRelayDeleteConfirm(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="pageChange" />
      </div>
    </div>
    <!--新增规则-->
    <el-dialog title="新增规则" :visible.sync="dialogGMessageRuleAdd.show" width="880px" v-if="dialogGMessageRuleAdd.show" @close="closeGMessageRuleAddDialog" append-to-body>
      <gReplayMessageRuleAdd :dialogProp="dialogGMessageRuleAdd" :hasAction="hasAction"  @closeDialog="closeGMessageRuleAddDialog" @refreshTabelList="refreshRuleTabelList"></gReplayMessageRuleAdd>
    </el-dialog>
    <!--编辑规则-->
    <el-dialog title="编辑规则" :visible.sync="dialogGMessageRuleModify.show" width="880px" v-if="dialogGMessageRuleModify.show" @close="closeGMessageRuleModifyDialog" append-to-body>
      <gReplayMessageRuleAdd :dialogProp="dialogGMessageRuleModify"  @closeDialog="closeGMessageRuleModifyDialog" @refreshTabelList="refreshRuleTabelList"></gReplayMessageRuleAdd>
    </el-dialog>
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import videoAudioImg from '@/components/common/videoAudioImg'
import gReplayMessageRuleAdd from './gReplayMessageRuleAdd.vue'
import { MESSAGE_TPYE, MESSAGE_TPYE_KEY } from '@/constants/messageType'
import { RESOURCE_ACTION_MAP } from '@/constants'
import { resourceMixin, tableMixin } from '@/mixins'
export default {
  mixins: [resourceMixin, tableMixin],
  components: { videoAudioImg, gReplayMessageRuleAdd },
  data() {
    return {
      msgType: MESSAGE_TPYE,
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      ruleType: [1, 2],
      matchModel: {
        1: '包含所有词',
        2: '包含任意词',
        3: '和任意词完全相同'
      },
      params: {
        ruleType: 1,
        relatesInformation: ''
      },
      tableData: {},
      dialogGMessageRuleAdd: {},
      dialogGMessageRuleModify: {}
    }
  },
  computed: {
    // 公共规则是否拥有增删改查的权限权限
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.NEW_MESSAGE_REPLY)
    }
  },
  created() {},
  methods: {
    /**
     * 消息自动回复列表--获取
     */
    async requestTableList() {
      await deviceManageApi.globalReplayMsgListGet(this.params).then((data) => {
        data.records.forEach(o => {
          o.msgSource = o.msgText
          if (o.msgType === 4) {
            o.vedioImg = o.vedioImg
          }
        })
        this.tableData = data
      })
    },
    /**
     * 消息自动回复列表--切换规则
     */
    toggleRuleType(typeVal) {
      this.params.ruleType = typeVal
      this.params.relatesInformation = ''
      this.getTableList(1)
    },
    /**
     * 消息自动回复列表--搜索
     */
    searchMessage() {
      this.getTableList(1)
    },
    /**
     * 消息自动回复列表--删除确认
     */
    msgRelayDeleteConfirm(index, data) {
      let that = this
      this.$confirm('确定删除该新消息自动回复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        that.msgRelayDelete(index, data)
      }).catch(() => {})
    },
    /**
     * 消息自动回复列表--删除请求
     */
    async msgRelayDelete(index, data) {
      await deviceManageApi.globalReplayMsgListDelete(data.id).then(() => {
        this.success('删除成功!')
        this.getTableList()
      })
    },
    /**
     * 消息自动回复列表--分页请求
     */
    pageChange(pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    /**
     * 右侧--规则--新增--弹窗--关闭
     */
    closeGMessageRuleAddDialog() {
      this.dialogGMessageRuleAdd = {}
    },
    /**
     * 右侧--规则--新增--弹窗--显示
     */
    showGMessageRuleAddDialog() {
      this.dialogGMessageRuleAdd = {
        show: true
      }
    },
    /**
     * 右侧--规则--列表--刷新
     */
    refreshRuleTabelList() {
      this.getTableList(1)
      this.closeGMessageRuleAddDialog()
      this.closeGMessageRuleModifyDialog()
    },
    /**
     * 右侧--规则--编辑--弹窗--显示
     */
    showGMessageRuleModifyDialog(index, item) {
      this.dialogGMessageRuleModify = {
        show: true,
        data: item
      }
    },
    /**
     * 右侧--规则--编辑--弹窗--关闭
     */
    closeGMessageRuleModifyDialog(index, item) {
      this.dialogGMessageRuleModify = {}
    }
  }
}
</script>
