<template>
  <div class="ly-margin-right-30px">
    <div class="ly-height-max-50vh ly-scroll-y">
      <messageOfTxtImgAudVido
        ref="messageEles"
        :info="modifyObj" :limit="1"></messageOfTxtImgAudVido>
    </div>
    <div class="ly-text-right">
      <el-button @click="closeDialog">取 消</el-button>
      <el-button type="primary" @click="submitInfo">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import { messageOfTxtImgAudVido } from '@/components/common/messageAdd'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'
import { txtImgAudVideoInitDataMixin, msgTIAVSubmitMessage } from '@/mixins'
export default {
  mixins: [txtImgAudVideoInitDataMixin, msgTIAVSubmitMessage],
  components: { messageOfTxtImgAudVido },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      formLabelWidth: '136px',
      modifyObj: {
        content: '',
        imgList: [],
        audioList: [],
        posterArr: []
      },
      params: {
        msgText: '',
        msgType: '',
        id: '',
        coverInfo: '',
        voiceLength: null
      }
    }
  },
  created() {
    if (this.dialogProp.id) {
      this.params.id = this.dialogProp.id
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    closeDialog() {
      this.$emit('closeDialog')
    },
    /**
     * 保存
     */
    submitInfo() {
      let info = this.$refs.messageEles.getMessageInfo()
      if (info) {
        /**
         * 保存--消息的内容--在mixins/src/msgTIAVSubmitMessage文件下方法SubmitMessage
         */
        this.submitMessage(info)
      } else {
        return false
      }
    },
    /**
     * 新增--保存
     */
    async submitAddInfo() {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.params.msgType !== MESSAGE_TPYE_KEY.VIDEO) {
        delete params.coverInfo
      }
      await deviceManageApi.globalReplayFriendsListAdd(params).then((res) => {
        this.success('新增成功')
        this.$emit('refreshTabelList', true)
      })
    },
    /**
     * 修改--保存
     */
    async submitModifyInfo() {
      let params = JSON.parse(JSON.stringify(this.params))
      await deviceManageApi.globalReplayFriendsListModify(params).then((res) => {
        this.success('修改成功')
        this.$emit('refreshTabelList')
      })
    }
  }
}
</script>
