
<template>
  <div class="ly-margin-right-30px">
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <div class="ly-height-max-50vh ly-scroll-y">
        <el-form-item label="标题:" :label-width="formLabelWidth" prop="title">
          <el-input autocomplete="off" placeholder="请输入标题" v-model.trim="params.title" :maxlength="20" clearable></el-input>
        </el-form-item>
        <messageOfTxtImgAudVido ref="messageEles" :addDialogWeChat="showDialogWeChat" :checkMaterialBtn="false" :info="modifyObj" :limit="50"></messageOfTxtImgAudVido>
      </div>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import {
  deviceManageApi
} from '@/api/system'
import {
  messageOfTxtImgAudVido
} from '@/components/common/messageAdd'
import {
  MESSAGE_TPYE_KEY
} from '@/constants/messageType'
import {
  txtImgAudVideoInitDataMixin,
  msgTIAVSubmitMessage
} from '@/mixins'
export default {
  mixins: [txtImgAudVideoInitDataMixin, msgTIAVSubmitMessage],
  components: {
    messageOfTxtImgAudVido
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data () {
    return {
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      formLabelWidth: '136px',
      modifyObj: {},
      showDialogWeChat: false, // 判断是否是营销模板消息的标志
      params: {
        msgText: '',
        msgType: '',
        msgGroupId: '',
        coverInfo: '',
        title: '',
        // 小程序内容
        msgObject: {}
      },
      rules: {
        title: [{
          required: true,
          message: '请输入标题'
        }]
      }
    }
  },
  created () {
    if (this.dialogProp.id) {
      this.params.msgGroupId = this.dialogProp.id
    }
    if (this.dialogProp.data) {
      this.params.title = this.dialogProp.data.title
      // if (this.dialogProp.data.msgType === 6) {
      //     this.params.msgObject = JSON.parse(this.dialogProp.data.msgText)
      // }
    }
    // 营销-素材管理-添加小程序
    if (this.dialogProp.materialShow) {
      // 从父组件传过来的 要传到子组件
      this.showDialogWeChat = true
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    closeDialog () {
      this.$emit('closeDialog')
    },
    /**
     * 保存
     */
    submitInfo () {
      let info = this.$refs.messageEles.getMessageInfo()
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (info) {
            /**
             * 保存--消息的内容--在mixins/src/msgTIAVSubmitMessage文件下方法SubmitMessage
             */
            this.submitMessage(info)
          } else {
            return false
          }
        } else {
          return false
        }
      })
    },
    /**
     * 新增--保存
     */
    async submitAddInfo () {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.params.msgType !== MESSAGE_TPYE_KEY.VIDEO) {
        delete params.coverInfo
      }
      await deviceManageApi.mManageLisAdd(params).then((res) => {
        this.success('新增成功')
        this.$emit('refreshLeftGroupInfo', this.params)
      })
    },
    /**
     * 修改--保存
     */
    async submitModifyInfo () {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.dialogProp.data) {
        params.id = this.dialogProp.data.id
      } else {
        return false
      }
      if (params.msgType === 6) {
        if (params.msgObject.miniProgramId === '' || params.msgObject.miniProgramName === '' || params.msgObject.thumbPath === '') {
          this.warn('请输入或选择消息内容')
          return false
        } else {
          await deviceManageApi.mManageLisModify(params).then((res) => {
            this.success('修改成功')
            this.$emit('refreshLeftGroupInfo', params)
          })
        }
      } else if (params.msgType === 7) {
        if (params.msgObject.imgtxtTitle === '' || params.msgObject.imgtxtLinking === '' || params.msgObject.imgtxtUrl === '') {
          this.warn('请输入或选择消息内容')
          return false
        } else {
          await deviceManageApi.mManageLisModify(params).then((res) => {
            this.success('修改成功')
            this.$emit('refreshLeftGroupInfo', params)
          })
        }
      } else {
        await deviceManageApi.mManageLisModify(params).then((res) => {
          this.success('修改成功')
          this.$emit('refreshLeftGroupInfo', params)
        })
      }
    }
  }
}
</script>
