<template>
  <div class="ly-margin-right-30px">
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <div class="ly-height-max-50vh ly-scroll-y">
        <el-form-item label="标题:" :label-width="formLabelWidth" prop="title">
          <el-input autocomplete="off" placeholder="请输入标题" v-model.trim="params.title" :maxlength="200" clearable></el-input>
        </el-form-item>
        <messageOfTxtImgAudVido ref="messageEles" :info="modifyObj" :limit="1" :chatProp="chatProp" :textLimit="textLimit" :object='wechatMsg'></messageOfTxtImgAudVido>
      </div>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import { messageOfTxtImgAudVido } from '@/components/common/messageAdd'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'
import { txtImgAudVideoInitDataMixin, msgTIAVSubmitMessage } from '@/mixins'
export default {
  mixins: [txtImgAudVideoInitDataMixin, msgTIAVSubmitMessage],
  components: {
    messageOfTxtImgAudVido
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    },
    chatProp: {
      type: Boolean,
      default: function () {
        return false
      }
    },
    textLimit: {
      type: Number,
      default: function () {
        return 2000
      }
    }
  },
  data () {
    return {
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      formLabelWidth: '136px',
      modifyObj: {},
      params: {
        msgText: '',
        msgType: '',
        quickReplyGroupId: '',
        coverInfo: '',
        voiceLength: null,
        title: ''
      },
      wechatMsg: {},
      rules: {
        title: [
          {
            required: true,
            message: '请输入标题'
          }
        ]
      }
    }
  },
  created () {
    if (this.dialogProp.id) {
      this.params.quickReplyGroupId = this.dialogProp.id
    }
    if (this.dialogProp.data) {
      this.params.title = this.dialogProp.data.title
      // txtImgAudVideoInitDataMixin
      // if (this.dialogProp.data.msgType === 6) {
      //     // this.wechatMsg = JSON.parse(this.dialogProp.data)
      //     this.wechatMsg = this.dialogProp.data.msgObject
      // }
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    closeDialog () {
      this.$emit('closeDialog')
    },
    /**
     * 保存
     */
    submitInfo () {
      let info = this.$refs.messageEles.getMessageInfo()
      // console.log('info====info', info)
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (info) {
            /**
             * 保存--消息的内容--在mixins/src/msgTIAVSubmitMessage文件下方法SubmitMessage
             */
            this.submitMessage(info)
          } else {
            return false
          }
        } else {
          return false
        }
      })
    },
    /**
     * 保存--消息的内容
     */
    /*
            submitMessage(info) {
              this.params.msgType = info.msgType
              if ((!info.msgText)) {
                this.warn('请输入或选择消息内容')
                return false
              } else {
                this.params.msgText = info.msgText
                this.params.coverInfo = info.coverInfo || ''
                this.params.voiceLength = info.voiceLength || ''
              }
              if (this.dialogProp.data) {
                // 修改
                this.submitModifyInfo()
              } else {
                // 新增
                this.submitAddInfo()
              }
            },
             */
    /**
     * 新增--保存
     */
    async submitAddInfo () {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.params.msgType !== MESSAGE_TPYE_KEY.VIDEO) {
        delete params.coverInfo
      }
      if (this.onlyGet(params)) return
      await deviceManageApi.qReplayReplayListAdd(params).then((res) => {
        this.success('新增成功')
        this.$emit('refreshRightTabelList', this.params)
      })
    },
    /**
     * 修改--保存
     */
    async submitModifyInfo () {
      // debugger
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.dialogProp.data) {
        params.id = this.dialogProp.data.id
      } else {
        return false
      }
      if (this.onlyGet(params, 'edit')) return
      await deviceManageApi.qReplayReplayListModify(params).then((res) => {
        this.success('修改成功')
        this.$emit('refreshRightTabelList', params)
      })
    },
    /**
     * 是否只取结果，不发送给服务端进行保存
     * @return {[type]} [description]
     */
    onlyGet (params, type) {
      if (this.dialogProp.onlyGet) {
        this.$emit('getMsg', params)
        return true
      }
    }
  }
}
</script>
