<template>
  <div>
    <!-- 筛选查询 -->
    <search @search="search"
            entry="personalNum" />
    <!-- 数据列表 -->
    <div class="ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号信息">
          <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs">
                <img :src="scope.row.acountInfo.headIcon | wechatAvtor"
                     alt=""
                     class="ly-wh-50px"
                     v-image-view>
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">微信昵称：{{scope.row.acountInfo.nickName || ''}}</p>
                <p class="ly-margin-top-4">手机号：{{scope.row.acountInfo.phone || ''}}</p>
                <p class="ly-margin-top-4">微信号：{{ scope.row.acountInfo.wxAccount || ''}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="同步时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="状态"
                         prop="status" />
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import search from '../search'
// import { businessApi } from '@/api/pms'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  props: ['id'],
  components: {
    search
  },
  methods: {
    // 获取列表
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      // businessApi.enterListAccount(this.params).then(res => {
      this.tableData = {
        current: 1,
        pages: 1,
        records: [],
        size: 10,
        total: 1
      }
      // })
    },
    search(params) {
      this.params = Object.assign(params, this.params)
      this.params.enterpriseId = this.id
      this.getTableList(1)
    }
  }
}
</script>
