<template>
  <div>
    <!-- 筛选查询 -->
    <search @search="search"
            entry="equipmentDetails" />
    <!-- 数据列表 -->
    <div class="ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="时间"
                         prop="totalChatTarget">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="事项"
                         prop="matter" />
        <el-table-column label="数量"
                         prop="totalFemale">
          <template slot-scope="scope">
            <span>{{scope.row.type===1?'+':'-' + scope.row.num}}</span>
          </template>
        </el-table-column>
        <el-table-column label="备注"
                         prop="remark" />
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import search from '../search'
// import { businessApi } from '@/api/pms'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  props: ['id'],
  components: {
    search
  },
  methods: {
    // 获取列表
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      // businessApi.enterListEuq(this.params).then(res => {
      this.tableData = {
        current: 1,
        pages: 1,
        records: [],
        size: 10,
        total: 1
      }
      // })
    },
    search(params) {
      this.params = Object.assign(params, this.params)
      this.params.enterpriseId = this.id
      this.getTableList(1)
    }
  }
}
</script>
