<template>
  <div>
    <el-dialog :title="isEdit?'编辑微活码':'新增微活码'"
               :visible.sync="computedValue"
               width="995px"
               class="ly-dialogbody-maxh-60vh" append-to-body>
      <div class="ly-box ly-paddingtop-20px">
        <div class="ly-box-1 ly-margin-right-116px">
          <el-form ref="form"
                   :model="form"
                   :rules="rules">
            <el-form-item class="dialogpowder-num-remark"
                          label="标题:"
                          prop="title"
                          :label-width="formLabelWidth3">
              <el-input placeholder="请输入标题"
                        v-model.trim="form.title"
                        :maxlength="8"
                        class="ly-width-400px-im"
                        size="medium"></el-input>
            </el-form-item>
            <el-form-item class="dialogpowder-num-remark"
                          label="文字说明:"
                          :label-width="formLabelWidth3">
              <el-input placeholder="文字说明"
                        v-model.trim="form.tip"
                        :maxlength="20"
                        class="ly-width-400px-im"
                        size="medium"></el-input>
            </el-form-item>
            <el-form-item class="dialogpowder-num-remark"
                          label="背景图:"
                          :label-width="formLabelWidth3">
              <vma-image-upload v-model="form.bgUrl"
                                :exts="['jpg','png']"
                                :singleFileSize="1" />
              <p class="ly-font-12 ly-font-color-4 line-height-18 ly-margin-top-20px">图片建议尺寸640*1136px，小于1M，格式为png或jpg图片（如不上传，则使用系统默认背景图）</p>
            </el-form-item>
            <el-form-item class="dialogpowder-num-remark"
                          label="轮播方式:"
                          :label-width="formLabelWidth3">
              <!-- 轮播方式：1、顺序轮播，2、随机轮播 -->
              <el-radio-group v-model="form.type">
                <el-radio :label="1">每次打开顺序轮播</el-radio>
                <el-radio :label="2">每次打开随机轮播</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item class="dialogpowder-num-remark"
                          label="上传二维码:"
                          required
                          :label-width="formLabelWidth3">
              <vma-image-upload v-model="form.qrCodeUrl"
                                :limit="30"
                                :exts="['jpg','png']"
                                :singleFileSize="1" />
              <p class="ly-font-12 ly-font-color-4 line-height-18 ly-margin-top-20px">最多可上传30张，图片建议尺寸400*400px，小于1M，格式为png或jpg图片</p>
            </el-form-item>
          </el-form>
        </div>
        <div class="ly-width-196px ly-margin-right-40px ly-position-relative iphone-contain"
             style="height:408px">
          <div class="h5-view-container"
               v-show="viewUrl">
            <!-- h5主页 -->
            <h5-view :url="viewUrl" />
          </div>
        </div>
      </div>
      <div slot="footer"
           class="dialog-footer ly-text-left">
        <el-button type="primary"
                   @click="viewForm('form')"
                   class="ly-margin-left-106px">预览</el-button>
        <el-button type="primary"
                   @click="submitForm('form')"
                   class="ly-margin-left-106px">马上生成</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { powderManageApi } from '@/api/system'
import defaultAvatar from '@/assets/images/common/iPhone.png'
import { compatUrl } from '@/utils'
import { vmaH5ScrmMicroCode } from '@/config'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    currId: [Number, String],
    // 是否是编辑（还是新增）
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  filters: {
    backgroundImgurl(url) {
      let bgImg = {
        'background-image': `url(${url})`,
        'background-repeat': 'no-repeat',
        'background-size': '100% 100%'
      }
      return bgImg
    }
  },
  data() {
    return {
      formLabelWidth3: '110px',
      phoneImg: defaultAvatar,
      form: {
        type: 1,
        bgUrl: '',
        qrCodeUrl: [],
        isPreview: ''
      },
      viewUrl: '',
      rules: {
        title: [
          { required: true, message: '请输入标题', trigger: 'blur' },
          { min: 1, max: 8, message: '标题的长度在1~个字符' }
        ]
      }
    }
  },
  mounted() {
    if (this.isEdit) {
      this.getMicroCodeDtail()
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          if (this.isEdit) {
            this.editMicroCode()
          } else {
            this.newMicroCode()
          }
        } else {
          return false
        }
      })
    },
    // 生成微活码
    async newMicroCode() {
      const data = await powderManageApi.newMicroCode(this.form)
      this.$emit('on-success', data)
      this.computedValue = false
    },
    // 编辑微活码
    async editMicroCode() {
      const data = await powderManageApi.editMicroCode(this.form)
      this.$emit('on-success', data)
      this.computedValue = false
    },
    // 通过id获取微活码详情信息
    async getMicroCodeDtail() {
      const data = await powderManageApi.getMicroCodeDtail(this.currId)
      this.form = data
    },
    // 预览
    async viewForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          const entity = Object.assign({}, this.form)
          entity.isPreview = 1
          const key = await powderManageApi.newMicroCode(entity)
          this.viewUrl = compatUrl(vmaH5ScrmMicroCode, {
            id: key,
            view: 1
          })
        } else {
          return false
        }
      })
    }
  }
}
</script>
