<template>
  <div class="lyy-body">
    <router-view class="frame-person"
                 name="person" />
    <div class="lyy-page-head lyy-el-header">
      <main-header class="frame-header" />
    </div>
    <div class="lyy-page-container">
      <div class="lyy-page-aside">
        <main-menu class="frame-nav" />
      </div>
      <div class="lyy-page-main">
        <page-tags class="lyy-page-control" />
        <div class="lyy-page-body lyy-page-vmadialog">
          <transition mode="out-in"
                      enter-active-class="fadeInRightBig"
                      leave-active-class="fadeOutRightBig">
            <router-view class="container animated" />
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainHeader from '@/components/packages/system/main/header.vue'
import MainMenu from '@/components/packages/system/main/menu.vue'
import PageTags from '@/components/packages/system/main/tags.vue'

export default {
  components: {
    MainHeader,
    MainMenu,
    PageTags
  }
}
</script>
