<template>
  <!-- 下面的tab切换 -->
  <el-tabs v-model="activeName"
           class="system-home-container">
    <el-tab-pane label="基础信息"
                 name="basicInfo">
      <vma-lazy :initial="activeName === 'basicInfo'">
        <basic-info :id="id" ref="basicInfoEle" @postUserState="postUserState" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="代理商列表"
                 name="agentsList">
      <vma-lazy :initial="activeName === 'agentsList'">
        <agents-list :id="id" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="企业列表"
                 name="enterpriseList">
      <vma-lazy :initial="activeName === 'enterpriseList'">
        <enterprise-list :id="id" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="设备明细"
                 name="equipmentDetails">
      <vma-lazy :initial="activeName === 'equipmentDetails'">
        <equipment-details :id="id" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="授权店铺"
                 name="authorizedShop">
      <vma-lazy :initial="activeName === 'authorizedShop'">
        <authorized-shop :id="id" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="个人号"
                 name="personalNum">
      <vma-lazy :initial="activeName === 'personalNum'">
        <personal-num :id="id" />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane label="通知列表"
                 name="notificationList">
      <vma-lazy :initial="activeName === 'notificationList'">
        <notification-list :id="id" />
      </vma-lazy>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import {
  basicInfo,
  agentsList,
  enterpriseList,
  equipmentDetails,
  authorizedShop,
  personalNum,
  notificationList
} from './src'

export default {
  props: ['id'],
  components: {
    basicInfo,
    agentsList,
    enterpriseList,
    equipmentDetails,
    authorizedShop,
    personalNum,
    notificationList
  },
  data() {
    return {
      activeName: 'basicInfo'
    }
  },
  methods: {
    /**
     * 传递值到父组件
     * @param data
     */
    postUserState(data) {
      this.$emit('postUserState', 'basicInfo', data)
    },
    /**
     * 当用户禁止或启用的时候更新状态
     * @param data
     */
    setUserState(type, data) {
      // 调用基础信息组件的方法
      if (type === 'basicInfo') {
        this.$refs.basicInfoEle.setUserState(data)
      }
    }
  }
}
</script>
