<template>
  <el-form label-width="100px"
           :model="entity"
           :rules="rules"
           ref="form">
    <el-form-item label-width="1"
                  prop="content">
      <el-input type="textarea"
                placeholder="请输入评论"
                :rows="3"
                :maxlength="1000"
                clearable
                v-model.trim="entity.content"
                ref="input">
      </el-input>
    </el-form-item>
    <el-form-item>
      <el-button @click="cancel">取消</el-button>
      <el-button type="primary"
                 @click="submit">确定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { formMixin } from '@/mixins'

export default {
  mixins: [formMixin],
  data() {
    return {
      entity: {
        content: ''
      },
      rules: {
        content: [
          { required: true, message: '请输入评论' }
        ]
      }
    }
  },
  mounted() {
    this.$refs.input.focus()
  },
  methods: {
    submit() {
      this.$refs.form.validate().then(valid => {
        if (valid) {
          this.$emit('after-submit', Object.assign({}, this.entity))
        }
      })
    }
  }
}
</script>
