<template>
  <div>
    <el-table :data="tableData.records"
              style="width: 100%">
      <el-table-column label="个人号"
                       min-width="160">
        <template slot-scope="scope">
          <div class="ly-box">
            <div class="ly-margin-right-xs">
              <img :src="scope.row.wechatAccountHeadIcon"
                   class="ly-wh-50px">
            </div>
            <div class="ly-box-1 ly-font-color-2 line-height-14">
              <p class="ly-font-color-3">{{scope.row.wechatAccountWxId}}</p>
            </div>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="wxAccount"
                       label="微信或手机"
                       min-width="110">
      </el-table-column>
      <el-table-column prop="msg"
                       label="打招呼">
      </el-table-column>
      <el-table-column prop="remark"
                       label="备注">
      </el-table-column>
      <el-table-column label="执行时间"
                       width="100">
        <template slot-scope="scope">
          <span>{{fmt.date(scope.row.startTime)}}</span>
        </template>
      </el-table-column>
      <el-table-column label="结束时间"
                       width="100">
        <template slot-scope="scope">
          <span>{{fmt.date(scope.row.endTime)}}</span>
        </template>
      </el-table-column>
      <el-table-column label="状态"
                       width="100">
        <template slot-scope="scope">
          <!-- <p class="ly-font-color-5">{{scope.row.status==1? '执行成功' : '执行失败'}}</p> -->
          <p class="ly-font-color-9"
             v-if="scope.row.status===0">待执行</p>
          <p class="ly-font-color-12"
             v-else-if="scope.row.status===1">执行中</p>
          <p class="ly-font-color-5"
             v-else-if="scope.row.status===2">执行成功</p>
          <p class="ly-font-color-7"
             v-else>执行失败</p>
          <p class="ly-font-12 ly-font-color-8">
            <i class="spot-border-radius"
               :class="[scope.row.onLine==1?'active': '']"></i>
            {{scope.row.onLine==1? '微信在线' : '微信离线'}}
          </p>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm"
         v-if="tableData.total>0">
      <vma-pagination class="ly-text-right ly-box-1"
                      :pageNum="params.current"
                      :total="tableData.total"
                      :pageSize="params.size"
                      @change="getTableList" />
    </div>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dataInfo.open = false">关 闭</el-button>
    </div>
  </div>
</template>

<script>
import { powderManageApi } from '@/api/system'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      params: {
        id: this.dataInfo.id
      }
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await powderManageApi.logsList(this.params).then(res => {
        this.tableData = res
      })
    }
  }
}
</script>
