<template>
  <div class="dialog-powdermanage">
    <p class="ly-margin-horizontal-sm ly-margin-bottom-sm colortip">提示：近期微信加大力度查封微信号，为避免被封号，建议近期减少使用此功能</p>
    <div class="ly-margin-horizontal-sm ly-clearfix">
      <a class="ly-font-white" :href="xlsxUrl" download="手机号微信号加好友">
        <button type="button" class="el-button el-button--primary el-button--medium">下载导入模板(excel)</button>
      </a>
      <div class="fileupLay ly-margin-left-sm">
        <span>上传数据</span>
        <input type="file" name="fileup" class="file" v-on:change="fileChange($event)" />
      </div>
      <span class="ly-margin-left-sm" v-if="num">导入成功：{{num}}</span>
    </div>
    <el-form @submit.native.prevent style="margin-top:20px;">
      <div v-if="isImport">
        <el-form-item class="dialogpowder-num-ul dialogpowder-num-ulborder">
          <div class="ly-box dialogpowder-num-li" style="padding-top: 0;" v-for="(item, index) in details" :key="index">
            <div class="dialogpowder-numlist">
              <el-form-item label="个人号:" required>
                <!--
                <wechatAccountNew v-model="item.wechatAccountId"
                               placeholder="请选择个人号1"
                               @change="change(index)"
                               @initial="initialWechatAccount"
                               :list="wechatAccount.list"
                               size="small" />-->
                <selectPersonNumCascadert v-model="item.wechatAccountId" @initial="initialWechatAccount" :list="wechatAccount.list" @change="change(index)" filterable size="small" placeholder="请选择个人号">

                </selectPersonNumCascadert>
              </el-form-item>
              <el-form-item label="加好友后打标签:" class="elmargintop-12">
                <wechatLabel v-model="item.labelId" :wechatAccountId="item.wechatAccountId[item.wechatAccountId.length - 1]" placeholder="请选择标签" size="small"></wechatLabel>
              </el-form-item>
            </div>
            <div class="dialogpowder-numlist">
              <el-form-item label="手机或微信:" required>
                <el-input type="textarea" :rows="5" placeholder="请输入手机号或微信号，添加多个好友时必须回车分隔" v-model="item.wechatUser" size="small">
                </el-input>
              </el-form-item>
            </div>
            <!-- <div class="dialogpowder-numbtn">
              <div style="margin-top: 33px;">
                <el-button type="primary"
                           size="small"
                           @click="newAddRecord(item,index)"
                           v-if="index == (details.length-1)">新增</el-button>
              </div>
              <div>
                <el-button type="danger"
                           size="small"
                           @click="removeRecord('details',index)"
                           v-if="details.length > 1">移除</el-button>
              </div>
            </div> -->
          </div>
        </el-form-item>
        <div class="powderremak-width">
          <el-form-item label="备注:">
            <el-input v-model.trim="parameter.remark" autocomplete="off" placeholder="请输入备注" clearable size="small" maxlength="50"></el-input>
          </el-form-item>
          <el-form-item label="消息内容:">
            <span class="colortip">可以添加多个消息，会在这些信息里面按序发送</span>
            <el-button type="primary" size="small" class="ly-float-right" @click="addMessageList">新增</el-button>
            <div v-for="(item, index) in someMsg" :key="index" class="ly-box ly-margin-bottom-sm">
              <el-input type="textarea" :rows="3" placeholder="请输入消息内容" v-model="item.content" maxlength="50">
              </el-input>&ensp;
              <i class="el-icon-remove ly-font-color-7 ly-cursor-pointer" @click="removeRecord('someMsg',index)"></i>
            </div>
          </el-form-item>
        </div>
      </div>
      <el-form-item class="dialogpowder-num-remark" label="起始结束时间:" :label-width="formLabelWidth" required>
        <el-date-picker v-model="date" size="small" type="datetimerange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" @change="dateChange($event,'startTime','entTime')">
        </el-date-picker>
      </el-form-item>
      <el-form-item class="dialogpowder-num-remark" label="每轮间隔时间:" :label-width="formLabelWidth" required>
        <div>
          <el-input-number v-model="parameter.interval" :min="1" label="描述文字" size="small"></el-input-number>
          分钟
          <el-checkbox v-model="checked" class="ly-margin-right-18px">随机间隔</el-checkbox>
          <span class="colortip">默认1分钟</span>
        </div>
      </el-form-item>
      <el-form-item class="dialogpowder-num-remark" label="每轮申请好友:" :label-width="formLabelWidth" required>
        <div>
          <el-input-number v-model="parameter.friendNum" :min="1" label="描述文字" size="small"></el-input-number>
          位
          <span class="colortip">每轮申请好友的数量</span>
        </div>
      </el-form-item>
      <el-form-item class="dialogpowder-num-remark" label="每日有效时段:" :label-width="formLabelWidth">
        <el-time-select placeholder="起始时间" v-model="parameter.dayStartTime" size="small" :picker-options="{
                          start: '00:00',
                          step: '00:15',
                          end: '23:59'
                        }">
        </el-time-select>
        ~
        <el-time-select placeholder="结束时间" v-model="parameter.dayEndTime" size="small" :picker-options="{
                          start: '00:00',
                          step: '00:15',
                          end: '23:59',
                          minTime: parameter.dayStartTime
                        }" @change="timeChange">
        </el-time-select>
        <span class="colortip">每日有效执行任务的时间段</span>
      </el-form-item>
      <el-form-item class="ly-text-right">
        <el-button @click="dataInfo.open = false">取 消</el-button>
        <el-button type="primary" @click="sureCallback">确 定</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { wechatAccountNew, wechatLabel } from '@/components/packages/system/lazySelect'
import { selectPersonNumCascadert } from '@/components/packages/system/lazyCascader'
import { wxNumValidator } from '@/assets/js/validators'
import { powderManageApi, commonApi } from '@/api/system'
import { fileUpload } from '@/utils'

export default {
  components: { wechatAccountNew, wechatLabel, selectPersonNumCascadert },
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data () {
    return {
      checked: false,
      xlsxUrl: null,
      num: 0,
      formLabelWidth: '120px',
      details: [
        {
          wechatUser: '',
          wechatAccountId: [],
          labelId: ''
        }
      ],
      importDetails: [],
      someMsg: [
        { content: '' }
      ],
      date: '',
      dayStartTime: '',
      dayEndTime: '',
      parameter: {
        details: [],
        remark: '',
        someMsg: [],
        startTime: '',
        entTime: '',
        interval: 0,
        friendNum: 0,
        dayStartTime: '',
        dayEndTime: '',
        isRandom: 0
      },
      isImport: true,
      wechatAccount: {
        list: null
      }
    }
  },
  created () {
    this.configEnterprise()
  },
  methods: {
    // 下载导入模板
    configEnterprise () {
      commonApi.configEnterprise({ enterpriseId: 0, key: 'time_add_fans_template' }).then((res) => {
        this.xlsxUrl = res
      })
    },
    change (index) {
      this.details[index].labelId = ''
    },
    // 新增
    newAddRecord (item, index) {
      this.details.push({
        phone: '',
        wechatAccountId: [],
        labelId: ''
      })
    },
    // 新增消息内容
    addMessageList () {
      this.someMsg.push({
        content: ''
      })
    },
    // 移除
    removeRecord (typr, index) {
      switch (typr) {
        case 'details':
          this.details.splice(index, 1)
          break
        case 'someMsg':
          this.someMsg.splice(index, 1)
          break
      }
    },
    dateChange (val, begin, end) {
      if (!val) {
        this.parameter[begin] = ''
        this.parameter[end] = ''
      } else {
        this.parameter[begin] = new Date(val[0]).getTime()
        this.parameter[end] = new Date(val[1]).getTime()
      }
    },
    timeChange (val) {
      if (!this.parameter.dayStartTime) {
        this.error('请先选择开始时间')
        this.parameter.dayEndTime = ''
      }
    },
    // 弹窗-确定
    sureCallback () {
      if (!this.parameter.startTime) {
        this.error('很遗憾，请选择起始结束时间')
        return
      }
      if (!this.parameter.interval) {
        this.error('很遗憾，请选择每轮间隔时间')
        return
      }
      if (!this.parameter.friendNum) {
        this.error('很遗憾，请选择每轮申请好友')
        return
      }
      if ((this.parameter.dayStartTime && !this.parameter.dayEndTime) || (!this.parameter.dayStartTime && this.parameter.dayEndTime)) {
        this.error('很遗憾，请选择每日有效时段')
        return
      }
      this.parameter.isRandom = this.checked ? 1 : 0
      if (this.isImport) {
        this.addCallback()
      } else {
        this.importCallback()
      }
    },
    // 通过文本框获取的数据
    addCallback () {
      for (let i = 0; i < this.details.length; i++) {
        let item = this.details[i]
        if (!item.wechatAccountId) {
          this.error('很遗憾，请选择个人号')
          return
        }
        if (!item.wechatUser) {
          this.error('很遗憾，需要输入手机号或微信号')
          return
        }
        this.parameter.details[i] = {
          wechatUser: item.wechatUser.split('\n'),
          wechatAccountId: item.wechatAccountId[item.wechatAccountId.length - 1],
          labelId: item.labelId
        }
        for (let x = 0; x < this.parameter.details[i].wechatUser.length; x++) {
          let itemCld = this.parameter.details[i].wechatUser[x]
          if (itemCld) {
            if (!wxNumValidator.valid(itemCld)) {
              this.error('每个手机号或微信号必须为6-20位字母、数字、下划线、连接符')
              return
            }
          } else {
            this.parameter.details[i].wechatUser.splice(x, 1)
          }
        }
        if (this.parameter.details[i].wechatUser.length > 1 && this.parameter.remark) {
          this.error('很遗憾，添加多个好友时不可备注')
          return
        }
        if (this.parameter.details[i].wechatUser.length > 50) {
          this.error('很遗憾，一次添加多个好友时不可超过50个')
          return
        }
      }
      for (let y = 0; y < this.someMsg.length; y++) {
        let obj = this.someMsg[y]
        this.parameter.someMsg[y] = obj.content
      }
      powderManageApi.addByFormImport(this.parameter).then((res) => {
        this.dataInfo.open = false
        this.$emit('getTableList')
      })
    },
    // 通过导入excel文件获取的数据
    importCallback () {
      this.parameter.details = this.importDetails
      delete this.parameter.remark
      delete this.parameter.someMsg
      if (!this.parameter.details || !this.parameter.details.length) {
        this.error('请检查模板是否有数据')
        return false
      }
      powderManageApi.addByExcelImport(this.parameter).then((res) => {
        this.dataInfo.open = false
        this.$emit('getTableList')
      })
    },
    async fileChange (el) {
      let formData = await fileUpload(el, ['xls', 'xlsx'], 2)
      if (!formData.formData) {
        return
      }
      powderManageApi.importExcel(formData.formData).then((res) => {
        this.importDetails = res.details
        this.num = res.count
        this.isImport = false
        this.success('上传成功')
      })
    },
    initialWechatAccount (data) {
      this.wechatAccount.list = data
    }
  }
}
</script>
