<template>
  <div class="ly-margin-vertical-sm ly-bg-white business ly-box">
    <div>
      <ul class="ly-nav-menu">
        <li class="ly-item"
            :class="{'ly-active':isActive===0}"
            @click="isActive = 0">账号/基本信息</li>
        <li class="ly-item"
            :class="{'ly-active':isActive===1}"
            @click="submitForm('params',1)">APP设置</li>
        <li class="ly-item"
            :class="{'ly-active':isActive===2}"
            @click="submitForm('params',2)">登录页设置</li>

      </ul>
    </div>
    <account-info v-show="isActive===0"
                  :dialog='dialog'
                  @on-confirm='accountStep'
                  ref="account"></account-info>
    <app-setting v-show="isActive===1"
                 :dialog='dialog'
                 :isActive='isActive'
                 :accountParams='accountParams'
                 @on-confirm="appSettingStep"></app-setting>
    <login-info v-show="isActive===2"
                :dialog='dialog'
                :isActive='isActive'
                :appSettingParams='appSettingParams'
                :accountParams='accountParams'
                @on-confirm='loginStep'
                ref="login"></login-info>
  </div>
</template>

<script>
import accountInfo from '../components/oemList/newOem/account'
import loginInfo from '../components/oemList/newOem/login'
import appSetting from '../components/oemList/newOem/appSetting'

export default {
  props: ['dialog'],
  components: { accountInfo, loginInfo, appSetting },
  data() {
    return {
      isActive: 0,
      accountParams: {},
      appSettingParams: {},
      type: 0
    }
  },
  methods: {
    // 第一步 基础信息
    accountStep(params, type) {
      this.accountParams = params
      if (type === 1) {
        this.isActive = 1
      } else {
        this.isActive = 2
      }
    },
    // 第二步 app设置
    appSettingStep(params) {
      this.appSettingParams = params
      this.isActive = 2
    },
    // 第二步 登录信息
    loginStep() {
      this.$emit('on-confirm', true)
      this.dialog.open = false
    },
    submitForm(formName, type) {
      this.$refs.account.submitForm(formName, type)
    }
  }
}
</script>
