<template>
  <div>
    <!-- 个人号总数 -->
    <div class="ly-bg-white ly-padding-sm">
      <div class="ly-box ly-border-bottom-1">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">个人号总数</span>
        </div>
      </div>
      <ul class="ly-block-list ly-clearfix">
        <li class="ly-item"
            v-for="(item,index) in accountTotal"
            :key="index">{{item}}</li>
      </ul>
    </div>
    <div class="ly-clearfix ly-block-lay">
      <!-- 个人号数据 -->
      <div class="ly-item-lay ly-item-lay-left">
        <div class="ly-padding-sm">
          <div class="ly-box ly-border-bottom-1">
            <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
              <span class="ly-vertical-line">个人号数据</span>
            </div>
          </div>
          <ul class="ly-block-list-sm ly-clearfix">
            <li class="ly-item">
              <p>35</p>
              <p class="ly-remarks">个人号总数</p>
            </li>
            <li class="ly-item">
              <p>5</p>
              <p class="ly-remarks">近7天新增</p>
            </li>
            <li class="ly-item">
              <p>3</p>
              <p class="ly-remarks">近30天新增</p>
            </li>
            <li class="ly-item">
              <p>10</p>
              <p class="ly-remarks">近90天新增</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- 设备数据 -->
      <div class="ly-item-lay ly-item-lay-right">
        <div class="ly-padding-sm">
          <div class="ly-box ly-border-bottom-1">
            <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
              <span class="ly-vertical-line">设备数据</span>
            </div>
          </div>
          <ul class="ly-block-list-sm ly-clearfix">
            <li class="ly-item">
              <p>35</p>
              <p class="ly-remarks">个人号总数</p>
            </li>
            <li class="ly-item">
              <p>5</p>
              <p class="ly-remarks">近7天新增</p>
            </li>
            <li class="ly-item">
              <p>3</p>
              <p class="ly-remarks">近30天新增</p>
            </li>
            <li class="ly-item">
              <p>10</p>
              <p class="ly-remarks">近90天新增</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ly-clearfix ly-block-lay ly-kidney">
      <!-- 企业数 -->
      <div class="ly-item-lay ly-item-lay-left">
        <div class="ly-padding-sm">
          <div class="ly-box ly-border-bottom-1">
            <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
              <span class="ly-vertical-line">企业数</span>
            </div>
            <span class="ly-margin-top-nge-4">
              <BtnSelect :optionList='optionList'
                         @on-click="itemClick"></BtnSelect>
            </span>
          </div>
          <enterprises></enterprises>
        </div>
      </div>
      <!-- 授权店铺 -->
      <div class="ly-item-lay ly-item-lay-right">
        <div class="ly-padding-sm">
          <div class="ly-box ly-border-bottom-1">
            <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
              <span class="ly-vertical-line">授权店铺</span>
            </div>
            <span class="ly-margin-top-nge-4">
              <BtnSelect :optionList='optionList'
                         @on-click="itemClick"></BtnSelect>
            </span>
          </div>
          <enterprises></enterprises>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import enterprises from './components/enterprises'
import BtnSelect from '@/components/common/btnSelect'
import Logger from '@/utils/logger'

export default {
  components: { enterprises, BtnSelect },
  data() {
    return {
      accountTotal: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1],
      optionList: ['近7天', '近30天', '近90天']
    }
  },
  created() {
  },
  methods: {
    itemClick(val) {
      Logger.log(val)
    }
  }
}
</script>
