<template>
  <div class="chat-right-side-tab">
    <ul class="tabs">
      <!------------ 讯飞新增内容 ----------------------------------------------------------------->
      <li :class="selecteTab === 3 ? 'active' : ''" @click="selecteTabPage(3)" v-if="activeChatFriendInfo && activeChatFriendInfo.type === SESSION_TYPE.C2C && adminInfo.isXunFeiUser == 1">
        <span class="ellipsis">
          AI助理
        </span>
      </li>
      <!-- -------------------------------------------------------------------------------------------- -->
      <li :class="selecteTab === 0 ? 'active' : ''" @click="selecteTabPage(0)">
        <span class="ellipsis">
          快捷回复
        </span>
      </li>
      <li :class="selecteTab === 1 ? 'active' : ''" @click="selecteTabPage(1)" v-if="activeChatFriendInfo && activeChatFriendInfo.type === SESSION_TYPE.C2C">
        <span class="ellipsis">
          客户资料
        </span>
      </li>
      <li :class="selecteTab === 1 ? 'active' : ''" @click="selecteTabPage(1)" v-else-if="activeChatFriendInfo && activeChatFriendInfo.type === SESSION_TYPE.GROUP">
        <span class="ellipsis">
          群组资料
        </span>
      </li>
      <li :class="selecteTab === 2 ? 'active' : ''" @click="selecteTabPage(2)" v-if="activeChatFriendInfo">
        <span class="ellipsis">聊天记录</span>
      </li>
    </ul>
    <div class="tab-pages">
      <div class="ly-height-100 tab-pages-container">
        <!-- 快捷回复 -->
        <reply-msg v-if="selecteTab === 0" :data="activeChatAccountInfo" @send-quick-reply="sendQuickReply"></reply-msg>
        <!-- 客户资料 -->
        <customer-info v-else-if="activeChatFriendInfo && activeChatFriendInfo.type === SESSION_TYPE.C2C && selecteTab === 1"></customer-info>
        <!-- 群组资料 -->
        <group-info v-else-if="activeChatFriendInfo && activeChatFriendInfo.type === SESSION_TYPE.GROUP && selecteTab === 1"></group-info>
        <!-- 聊天记录 -->
        <chat-record v-else-if="activeChatFriendInfo && selecteTab === 2" ref="customerInfo"></chat-record>
        <!-- ------------------------------------------讯飞新增内容------------------------------------------------------------- -->
        <!-- ai助理 -->
        <ai-assistant v-if="selecteTab === 3 " :data="activeChatAccountInfo"></ai-assistant>
      </div>
    </div>
  </div>
</template>

<script>
import replyMsg from './chatRightSideTabPages/replyMsg/index'
import customerInfo from './chatRightSideTabPages/customerInfo'
import groupInfo from './chatRightSideTabPages/groupInfo'
import chatRecord from './chatRightSideTabPages/chatRecord'
import aiAssistant from './chatRightSideTabPages/aiAssistant/index'
import { mapGetters } from 'vuex'
import { SESSION_TYPE } from '@/constants/chat'
import PersonNum from '../../../../components/packages/system/lazySelectGroup/components/personNum.vue'
// import { adminInfo } from '../../../../store/getters'
export default {
  components: {
    replyMsg,
    customerInfo,
    groupInfo,
    chatRecord,
    PersonNum,
    aiAssistant
  },
  data () {
    return {
      SESSION_TYPE,
      selecteTab: 3
    }
  },
  computed: {
    ...mapGetters([
      'activeChatAccountInfo',
      'activeChatFriendInfo',
      'adminInfo'
    ])
  },
  watch: {
    activeChatFriendInfo (val) {
      if (this.activeChatFriendInfo && this.activeChatFriendInfo.type === this.SESSION_TYPE.C2C && this.adminInfo.isXunFeiUser == 1) {
        this.selecteTab = 3
      } else {
        this.selecteTab = 0
      }
      if (val) return
      this.selecteTabPage(0)
    }
  },
  created () {
    /**
     * 为了暂时解决登录 进来不显示ai 需要临时存储下   isXunFeiUser字段
     */

    if (this.activeChatFriendInfo && this.activeChatFriendInfo.type === this.SESSION_TYPE.C2C && this.adminInfo.isXunFeiUser == 1) {
      this.selecteTab = 3
    } else {
      this.selecteTab = 0
    }
  },
  methods: {
    selecteTabPage (index) {
      this.selecteTab = index
    },
    /**
     * 发送快捷回复消息
     * @param  {[type]} data 快捷回复数据
     */
    sendQuickReply (data) {
      this.$emit('send-quick-reply', data)
    },
    showChatRecord () {
      if (this.selecteTab === 2) {
        return this.$refs.customerInfo.refreshChatRecord()
      }
      this.selecteTabPage(2)
    }
  }
}
</script>
