<template>
  <div class="frame-header">
    <h2>
      <img v-if="adminInfo.headIcon || theme.systemLogo" :src="adminInfo.headIcon || theme.systemLogo" class="logo">
      <span>微客服</span>
    </h2>
    <!-- 中间菜单 -->
    <el-menu class="main-head-menu-center" mode="horizontal" :default-active="defaultNavMenuIndex" @select="selectNavMenu" ref="headerNavMenus">
      <el-menu-item index="1" v-if="showChatHeaderProductionRecommand">
        <div class="icon icon-chat-goods item-icon"></div>
        <div>商品推荐</div>
      </el-menu-item>
      <el-menu-item index="2" v-if="showChatHeaderShoppingOrder && activeChatFriendInfo && activeChatFriendInfo.type === SESSION_TYPE.C2C">
        <div class="icon icon-chat-order item-icon"></div>
        <div>购物订单</div>
      </el-menu-item>
      <el-menu-item index="3">
        <div class="icon icon-chat-favorite item-icon"></div>
        <div>我的收藏</div>
      </el-menu-item>
      <el-menu-item index="4" v-if="hasMessageSendAction">
        <div class="icon icon-chat-message item-icon"></div>
        <div>消息推送</div>
      </el-menu-item>
      <el-menu-item index="5" v-if="activeChatFriendInfo && activeChatFriendInfo.type === SESSION_TYPE.C2C">
        <div class="icon icon-chat-moments item-icon"></div>
        <div>朋友圈</div>
      </el-menu-item>
    </el-menu>
    <!-- 状态 -->
    <div class="main-head-right fr">
      <el-button class="main-el-header-button" type="primary" icon="el-icon-setting" round @click="tureToSystemHome">管理后台</el-button>
      <i class="icon icon-chat-online title-icon" v-if="status === 1"></i>
      <i class="icon icon-chat-off-line title-icon" v-else-if="status === 2"></i>
      <el-dropdown trigger="click">
        <span class="el-dropdown-link">
          {{adminInfo.name}}<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown" class="menu-icon">
          <el-dropdown-item>工号：{{adminInfo.jobNum}}</el-dropdown-item>
          <el-dropdown-item @click.native="handleChangeStatus(1)"><i class="icon icon-chat-online"></i>在线</el-dropdown-item>
          <el-dropdown-item @click.native="handleChangeStatus(2)"><i class="icon icon-chat-off-line"></i>离开</el-dropdown-item>
          <el-dropdown-item @click.native="downloadDoc">帮助文档</el-dropdown-item>
          <!-- <el-dropdown-item @click.native="getChatFriend">获取好友</el-dropdown-item> -->
          <el-dropdown-item @click.native="logout">退出</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import {
  redirectToSystemHome
} from '@/router'
import {
  mapGetters,
  mapActions
} from 'vuex'
import {
  commonApi
} from '@/api/chat'
import {
  wechatInfoSession
} from '@/storage'
import Logger from '@/utils/logger'
import {
  SESSION_TYPE
} from '@/constants/chat'
import {
  configApi
} from '@/api/common'
import {
  compatUrl
} from '@/utils'
import {
  resourceMixin
} from '@/mixins'
import {
  RESOURCE_ACTION_MAP,
  SYSTEM_CONFIG
} from '@/constants'

import {
  showChatHeaderProductionRecommand,
  showChatHeaderShoppingOrder
} from '@/config'

export default {
  mixins: [resourceMixin],
  props: {
    index: {
      type: [Number, String]
    }
  },
  data () {
    return {
      SESSION_TYPE,
      defaultNavMenuIndex: null,
      selectNavMenuIndex: null,
      status: 1,
      staffId: null,
      docDownloadUrl: '',
      showChatHeaderProductionRecommand,
      showChatHeaderShoppingOrder
    }
  },
  computed: {
    ...mapGetters([
      'theme',
      'chatIM',
      'adminInfo',
      'activeChatFriendInfo'
    ]),
    // 是否拥有消息推送的权限
    hasMessageSendAction () {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.MESSAGE_SEND)
    }
  },
  watch: {
    index (val) {
      this.$refs['headerNavMenus'].activeIndex = val
    }
  },
  created () {
    this.status = 1
    configApi.getConfig(SYSTEM_CONFIG.DOC_CHAT).then(data => {
      this.docDownloadUrl = data
    })
    if (this.adminInfo.isXunFeiUser !== null && this.adminInfo.isXunFeiUser !== null && this.adminInfo.isXunFeiUser !== undefined) {
      window.localStorage.setItem('adminInfos', JSON.stringify(this.adminInfo))
    }
  },
  mounted () {
    // 解决session 会话丢失
    if (!this.adminInfo.jobNum) {
      const { jobNum, enterpriseId, isXunFeiUser, deptId, deptName } = JSON.parse(window.localStorage.getItem('adminInfos'))
      this.adminInfo.jobNum = jobNum
      this.adminInfo.enterpriseId = enterpriseId
      this.adminInfo.isXunFeiUser = isXunFeiUser
      this.adminInfo.deptId = deptId
      this.adminInfo.deptName = deptName
    }
  },
  methods: {
    ...mapActions(['logout', 'webimLogout']),
    selectNavMenu (index, indexPath) {
      if (index === '4') {
        this.$refs['headerNavMenus'].activeIndex = this.index
      }
      this.$emit('select-nav-menu', index, indexPath)
    },
    tureToSystemHome () {
      if (this.adminInfo && this.adminInfo.resourceMenuList.length) {
        this.webimLogout()
        redirectToSystemHome()
      } else {
        return this.warning('暂无权限，请联系管理员')
      }
    },
    // 修改在线状态
    handleChangeStatus (command) {
      Logger.info('command', command)
      commonApi.updateStaffOnline({
        onLine: command,
        staffId: wechatInfoSession.getJSON().staffId
      }).then(resp => {
        this.status = command
        this.success('修改成功')
      })
    },
    downloadDoc () {
      window.open(compatUrl(this.docDownloadUrl, {
        __: Date.now()
      }), '_blank')
    },
    getChatFriend () {
      commonApi.getChatFriend().then(data => {

      })
    }
  }
}
</script>
