<template>
  <!-- 个人号主菜单 -->
  <div class="customer-list-wrap fl">
    <div class="fs-20 tc mt-20" v-if="isNothingAccount">您没有被分配个人号</div>
    <div class="customer-list-top" v-if="accountList.length > 0">
      <!-- 个人信息 -->
      <div class="info" v-if="!concentratedDialogue">
        <img :src="(activeChatAccountInfo ? activeChatAccountInfo.headIcon : '') | csAvtor" class="vm user-avtor" />
        <div class="vm ml-20 nick-name">{{activeChatAccountInfo ? (activeChatAccountInfo.remark || activeChatAccountInfo.nickName || activeChatAccountInfo.wxId) : ''}}</div>
      </div>
      <!-- 搜索 -->
      <div class="rlt mt-20 search-bar">
        <i class="icon icon-search abs wechat-search-icon"></i>
        <input placeholder="昵称/备注" :maxlength="100" type="text" class="vm search" v-model.trim="searchData.name" @keyup.enter="searchFriend">
      </div>
    </div>
    <!-- 标签页 -->
    <div class="bb tabs" v-if="accountList.length > 0">
      <div class="vm text-c tab-item" @click="changeTab(1)">
        <el-badge :value="data.notReadTotalNum > 999 ? '999+' : data.notReadTotalNum" class="item" v-if="data && data.notReadTotalNum > 0">
          <i class="icon icon-news-message-active" v-if="nowFriendListType === 1 ? 'active' : ''"></i>
          <i class="icon icon-news-message" v-else></i>
        </el-badge>
        <i class="icon icon-news-message-active" v-else-if="nowFriendListType === 1 ? 'active' : ''"></i>
        <i class="icon icon-news-message" v-else></i>
      </div>
      <div class="vm text-c tab-item" @click="changeTab(2)">
        <i class="icon icon-linkman-list-active" v-if="nowFriendListType === 2 ? 'active' : ''"></i>
        <i class="icon icon-linkman-list" v-else></i>
      </div>
    </div>
    <!-- 聊天列表 -->
    <div v-if="accountList.length > 0" class="scroll-wrap" :class="concentratedDialogue ? 'stretch' : ''">
      <!-- 最近联系 -->
      <chats v-if="activeChatAccountInfo && activeChatAccountInfo.id && nowFriendListType === 1" :data="searchData" :not-read-msgs="data && data.notReadMsgs" :account-map="accountMap" class="ly-height-100" ref="chats"></chats>
      <contacts :data="searchData" :account-map="accountMap" class="ly-height-100" ref="contacts" v-else-if="activeChatAccountInfo && activeChatAccountInfo.id && nowFriendListType === 2"></contacts>
    </div>
  </div>
</template>

<script>
import contacts from './chatLeftSideAccountMainMenu/contacts'
import chats from './chatLeftSideAccountMainMenu/chats'
import { mapGetters } from 'vuex'
import { FOOTER_SWITCHS } from '@/constants/chat'
import chatFooterSwitchsMxins from '@/pages/chat/home/src/chatFooterSwitchsMxins'
import { customerServiceApi } from '@/api/chat'

export default {
  props: {
    data: {
      type: Object
    },
    accountList: {
      type: Array,
      default: () => {
        return []
      }
    },
    accountMap: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  components: {
    contacts,
    chats
  },
  mixins: [
    chatFooterSwitchsMxins
  ],
  data () {
    return {
      FOOTER_SWITCHS,
      nowFriendListType: 1,
      searchData: {
        name: null
      },
      isNothingAccount: false
    }
  },
  computed: {
    ...mapGetters([
      'activeChatAccountInfo',
      'chatUserInfoDB'
    ]),
    concentratedDialogue () {
      return this.getChatFooterSwitchsStatus(FOOTER_SWITCHS.CONCENTRATED_DIALOGUE)
    }
  },
  watch: {
    accountList (val) {
      if (val && val.length === 0) {
        this.isNothingAccount = true
      } else if (val.length > 0) {
        this.isNothingAccount = false
      }
    }
  },
  created () {
    // 发送完毕之后，更改最近联系人排序
    this.$onBus('after-sendMsg-success', (options, accountId) => {
      this.afterSendMsgSuccess(options.msgData, accountId)
    })
    // 更改昵称之后，来自非本组件中触发的修改昵称，比如修改好友信息
    this.$onBus('set-new-remark', (remark, accountId, id, type, wxId) => {
      this.setNewRemark(remark, id, type, accountId, wxId)
    })
    // 转接完毕之后
    this.$onBus('after-transfer-success', ({ fId, fType, fWxId, accountId, delAccount } = {}) => {
      this.afterTransferSuccess({ fId, fType, fWxId, accountId, delAccount })
    })
  },
  methods: {
    changeTab (index) {
      this.nowFriendListType = index
      // this.initForm()
      this.$emit('change-list-type', this.nowFriendListType === 1 ? 'chats' : 'contacts')
    },
    setNotReadNum (msgData) {
      this.totalNotReadNum++
      this.$refs.chats.receivedNotReadMsg(msgData)
    },
    /**
     * 搜索
     */
    searchFriend () {
      if (this.nowFriendListType === 2) {
        this.$refs.contacts.searchFriendByKeyName()
      } else {
        this.$refs.chats.searchFriendByKeyName()
      }
    },
    // 收到一条客户发来的消息
    onReceivedActiveAccountFriendMsg (msgData, fromImAccount, fromPersonalAccount) {
      if (this.nowFriendListType === 2) return
      this.$refs.chats.onReceivedMsg(msgData, fromImAccount, fromPersonalAccount)
    },
    // 收到一条客户端同步过来的消息
    onActiveAccountWechatClientPushMsg (msgData, fromImAccount, fromPersonalAccountId) {
      if (this.nowFriendListType === 2) return
      this.afterSendMsgSuccess(msgData, fromPersonalAccountId)
    },
    /**
     * 转接好友进来
     * @param  {[type]} msgData [description]
     * @return {[type]}         [description]
     */
    onReceivedTransferFriend (serverMsgData, needNotice = true, addFriend) {
      if (this.nowFriendListType === 1) {
        // 在最近联系人添加一条好友
        this.$refs.chats && needNotice && this.$refs.chats.onReceivedTransferFriend(serverMsgData)
      } else {
        // 在所有联系人
        this.$refs.contacts && addFriend && this.$refs.contacts.onReceivedTransferFriend(serverMsgData, addFriend)
      }
    },
    /**
     * 发送消息成功后，最近联系人列表更新
     * @return {[type]} [description]
     */
    afterSendMsgSuccess (msgData, fromPersonalAccountId) {
      // 不是同一个个人号/集中对话，就不更新
      if (this.nowFriendListType === 2 || !(fromPersonalAccountId === this.activeChatAccountInfo.id || this.concentratedDialogue)) return
      this.$refs.chats.afterSendMsgSuccess(msgData, fromPersonalAccountId)
    },
    /**
     * 发送一条推送消息后
     * @return {[type]} [description]
     */
    // afterPushMsg(msgData, fromImAccount, fromPersonalAccountId) {
    //   if (this.nowFriendListType === 2) return
    //   this.$refs.chats.afterPushMsg(msgData, fromImAccount, fromPersonalAccountId)
    // },
    // 修改备注之后
    setNewRemark (remark, id, type, accountId, wxId) {
      if (this.nowFriendListType === 1) {
        this.$refs.chats.setNewRemark(remark, id, type, accountId)
      } else {
        this.$refs.contacts.setNewRemark(remark, id, type, accountId)
      }
    },
    /**
     * 转接出去成功后
     * @return {[type]} [description]
     * @param  {[type]} delAccountId 整个被移除的个人号id
     */
    afterTransferSuccess ({ fId, fType, fWxId, accountId, delAccount = 0 } = {}) {
      if (this.nowFriendListType === 1) {
        this.$refs.chats && this.$refs.chats.afterTransferSuccess({ fId, fType, fWxId, accountId, delAccount })
      } else {
        this.$refs.contacts && this.$refs.contacts.afterTransferSuccess({ fId, fType, fWxId, accountId, delAccount })
      }
    },
    /**
     * 页面非激活时，获取非当前好友的头像、昵称等信息
     * @return {false/Object} 好友的信息
     */
    async getFriendData (wxId, type, fromPersonalAccountId) {
      let ids = [{
        type,
        wxId,
        wechatAccountId: fromPersonalAccountId
      }]
      // 先从本地获取缓存的用户信息，并列出没有的id
      let { infoList, emptyList } = await this.chatUserInfoDB.selectUserByIds(ids)
      let result = infoList || []
      // 获取完，更新本地缓存，并输出请求的用户信息
      if (infoList.length === 0) {
        let records
        // 是否集中对话
        if (this.concentratedDialogue) {
          records = await customerServiceApi.getRecentChatsInfoListByIdsNoAccount({
            details: emptyList
          }) || []
        } else {
          records = await customerServiceApi.getPersonalAccountRecentChatsInfoListByIds({
            details: emptyList,
            id: this.activeChatAccountInfo.id
          }) || []
        }
        result.push(...records)
        // 加入缓存
        this.chatUserInfoDB.addUserInfos(records)
      }
      return result[0]
    },
    /**
     * 刷新列表，在转接出去某个个人号的最后一个好友之后，触发刷新
     */
    refreshTableList () {
      if (this.nowFriendListType === 1) {
        return this.$refs.chats.refreshTableList()
      } else {
        return this.$refs.contacts.refreshTableList()
      }
    },
    // 一键分配好友结束后，刷新所有联系人
    afterTransferFirendPull () {
      this.$refs.contacts && this.$refs.contacts.refreshTableList()
    }
  }
}
</script>
