<template>
  <div class="main-chat-footer">
    <el-badge is-dot class="item setTodoItem" size="small">
      <li class="setTodoIconLi" @click="showSetTodoAll">
        <i class="el-icon-s-claim setTodoIcon"></i>
      </li>
    </el-badge>
    <div class="switch-item first">
      <span>集中对话</span>
      <el-switch v-model="switchStatus.concentratedDialogue" active-color="#13ce66" @change="changeConcentratedDialogue"></el-switch>
    </div>
    <div class="switch-item last">
      <span>隐藏空分组</span>
      <el-switch v-model="switchStatus.hideEmptyGroup" active-color="#13ce66" @change="changeHideEmptyGroup"></el-switch>
    </div>

    <div class="switch-item last">
      <span>自动回复</span>
      <el-switch v-model="switchStatus.replyMsgAuto" active-color="#13ce66" @change="changeReplyMsgAuto"></el-switch>
    </div>
    <div class="switch-item last">
      <span>AI自动回复</span>
      <el-switch v-model="switchStatus.aiReplyMsgAuto" active-color="#13ce66" @change="changeAiReplyMsgAuto"></el-switch>
    </div>
    <div class="sending" v-show="messageQueue.total > 0 && messageQueue.process < messageQueue.total">
      消息推送中&nbsp;&nbsp;
      <i class="el-icon-loading"></i>
      &nbsp;&nbsp;进度：{{messageQueue.process}} / {{messageQueue.total}}
    </div>
    <!-- 设置待办 -->
    <el-dialog title="设置待办" width="500px" append-to-body :visible.sync="setTodoAll.show">
      <setTodoAll ref="todoAll"></setTodoAll>
      <!-- @on-cancel="() => modifyPassword.show = true" -->
      <!-- <modify-password
        v-if="modifyPassword.show"
        @after-submit="afterModifyPassword"
        @on-cancel="handleClose"
      />-->
    </el-dialog>
  </div>
</template>

<script>
// 设置待办
import setTodoAll from './setTodoAll'
import { customerServiceApi, xunfeiApi } from '@/api/chat'
import { mapMutations, mapGetters } from 'vuex'
import * as mutationsType from '@/store/mutation-types.js'
import { wechatFooterSession, aiUserQuestion } from '@/storage'
export default {
  components: {
    setTodoAll
  },
  computed: {
    ...mapGetters(['adminInfo'])
  },
  data () {
    return {
      setTodoAll: {
        show: false
      },
      switchStatus: {
        // 集中对话
        concentratedDialogue: false,
        // 隐藏空分组
        hideEmptyGroup: false,
        // 自动回复的开关状态
        replyMsgAuto: false,
        // AI自动回复的开关状态
        aiReplyMsgAuto: false
      },
      // 发送中的消息统计
      messageQueue: {
        openStatus: false,
        total: 0,
        process: 0,
        msgsMap: {}
      }
    }
  },
  created () {
    // 初始化本地footer状态
    this.initFooterStatus()
    this.getAutoReplyStatus()
    this.getAutoAiReplyStatus()
    // 推送助手发送给一个个人号一条群发消息后
    this.$onBus(
      'on-push-send-footer',
      ({ messageNum, type, friendList, accountId } = {}) => {
        this.onPushAssistantSend(messageNum, type, friendList, accountId)
      }
    )
  },
  methods: {
    ...mapMutations({
      updateChatFooterSwitchs: mutationsType.CHAT_FOOTER_SWITCHS
    }),
    /**
     * 更改发送中的消息统计
     * @param  {[type]} options.type 1.好友 2.群聊
     * @param  {[type]} options.wxId [description]
     * @param  {[type]} options.inc  增加的数量
     * @return {[type]}              [description]
     */
    incSendingMessageQueue (type, wxId, accountId, inc = 1) {
      // console.log(' 更改发送中的消息统计 ')
      if (this.messageQueue.openStatus === false) {
        this.$set(this.messageQueue, 'openStatus', true)
      }
      if (!this.messageQueue.msgsMap[`${accountId}${type}${wxId}`]) {
        this.messageQueue.msgsMap[`${accountId}${type}${wxId}`] = 0
      }
      // map详情
      this.messageQueue.msgsMap[`${accountId}${type}${wxId}`] += inc
      // 总数
      this.$set(this.messageQueue, 'total', this.messageQueue.total + inc)
    },
    reduceSendingMessageQueue (type, wxId, accountId, reduce = 1) {
      if (!this.messageQueue.msgsMap[`${accountId}${type}${wxId}`]) return
      // map详情
      this.messageQueue.msgsMap[`${accountId}${type}${wxId}`] -= reduce
      // 总数
      this.$set(
        this.messageQueue,
        'process',
        this.messageQueue.process + reduce
      )
      // 全部发送成功
      if (this.messageQueue.total === this.messageQueue.process) {
        this.resetMessageQueue()
      }
    },
    // 全部发送成功
    resetMessageQueue () {
      this.messageQueue = {
        openStatus: false,
        total: 0,
        process: 0,
        msgsMap: {}
      }
      // 默认初始化的讯飞是否自动回复来源区分 1界面发送，2自动回复
      aiUserQuestion.setJSON({ isCall: '2' })
    },
    /**
     * 获取自动回复开关状态
     */
    getAutoReplyStatus () {
      customerServiceApi.getAutoReplyStatus().then(
        status => {
          if (this.switchStatus.replyMsgAuto === status) return
          this.$set(this.switchStatus, 'replyMsgAuto', status)
          this.changeReplyMsgAuto()
        },
        () => {
          this.updateSwitchs(this.switchStatus)
        }
      )
    },
    /**
     * ai获取自动回复开关状态
     */
    getAutoAiReplyStatus () {
      customerServiceApi.getAiautoEeply().then(
        status => {
          if (this.switchStatus.aiReplyMsgAuto === status) return
          this.$set(this.switchStatus, 'aiReplyMsgAuto', status)
        },
        () => {
          this.updateSwitchs(this.switchStatus)
        }
      )
    },
    // 集中对话
    changeConcentratedDialogue (val) {
      this.updateSwitchs(this.switchStatus)
    },
    // 隐藏空分组
    changeHideEmptyGroup (val) {
      this.updateSwitchs(this.switchStatus)
    },
    // 自动回复
    changeReplyMsgAuto (val) {
      this.updateSwitchs(this.switchStatus)
      // 更改服务器保存的默认状态
      customerServiceApi.setAutoReplyStatus(
        this.switchStatus.replyMsgAuto ? 1 : 0
      )
    },
    // ai自动回复开关(讯飞保存、微客服保存)
    async changeAiReplyMsgAuto (val) {
      // this.updateSwitchs(this.switchStatus)
      // 更改服务器保存的默认状态
      if (!this.adminInfo.jobNum) {
        this.warn('员工工号不存在')
        return false
      }
      let params = {
        jobNumber: this.adminInfo.jobNum,
        status: this.switchStatus.aiReplyMsgAuto ? 1 : 0
      }
      await xunfeiApi.setAutoAiReplyStatus(params).then((res) => {
        if (res.code === 0) {
          customerServiceApi.setAiAutoReplyStatus(
            this.switchStatus.aiReplyMsgAuto ? 1 : 0
          )
          this.$message({
            type: 'success',
            message: res.msg
          })
        } else {
          this.warn('自动回复操作失败')
        }
      })
    },
    updateSwitchs (status) {
      this.updateChatFooterSwitchs(status)
      this.setLocalFooterStatus(status)
    },
    /**
     * 推送助手发送给一个个人号一条群发消息后
     * @param  {[type]} messageNum  消息数量
     * @param  {[type]} type        好友类型
     * @param  {[type]} accountWxId 个人号的微信id
     * @param  {Array}  friendList  [description]
     * @param  {[type]} accountId   [description]
     * @return {[type]}             [description]
     */
    onPushAssistantSend (messageNum, type, friendList = [], accountId) {
      friendList.forEach(v => {
        let wxId = v.wxId
        this.incSendingMessageQueue(type, wxId, accountId, messageNum)
      })
    },
    // 初始化本地footer状态
    initFooterStatus () {
      let status = this.getLocalFooterStatus()
      // 当前已经保存了,就设置
      if (status) {
        this.switchStatus = status
        this.updateSwitchs(this.switchStatus)
      }
    },
    // 获取保存在本地的开关状态
    getLocalFooterStatus () {
      let switchStatus = wechatFooterSession.getJSON()
      return Object.keys(switchStatus).length > 0 ? switchStatus : null
    },
    // 保存开关状态
    setLocalFooterStatus (switchStatus) {
      wechatFooterSession.setJSON(switchStatus)
    },
    // 展示设置待办弹窗总
    showSetTodoAll () {
      this.setTodoAll.show = true
      this.$refs.todoAll.getSetTodoList()
    }
  }
}
</script>
