<template>
  <div class="main-info-box">
    <div class="box-hd">
      <span class="title ">详细信息</span>
    </div>
    <div class="box-bd">
      <div class="profile">
        <img :src="activeChatFriendInfo.headIcon | wechatAvtor" class="avator" />
        <div class="nick-name">{{activeChatFriendInfo.nickName}}</div>
        <div class="meta-area">
          <div class="remark">备注：{{activeChatFriendInfo.remark}}</div>
          <div class="address">地区：{{activeChatFriendInfo.areaName}}</div>
        </div>
        <el-button type="primary" class="send-btn" @click="toSendMsg">发消息</el-button>
      </div>
    </div>
  </div>
</template>

<script>
    import {
        mapGetters
    } from 'vuex'
    export default {
        computed: {
            ...mapGetters([
                'activeChatFriendInfo'
            ])
        },
        // watch: {
        //   activeChatFriendInfo() {
        //     this.getFriendInfo()
        //   }
        // },
        created() {
            // this.getFriendInfo()
            // console.log(this.activeChatFriendInfo, '------')
        },
        methods: {
            toSendMsg() {
                this.$emit('show-chat-box')
            }
        }
    }
</script>