/* eslint-disable no-unused-expressions */

<template>
  <div class="main-chat-box" v-show="visible" @click="checkvisbleTrick">
    <div class="box-hd">
      <span class="title" v-if="activeChatFriendInfo && activeChatFriendInfo.remark">{{
          activeChatFriendInfo.remark +
          "(" +
          activeChatFriendInfo.nickName +
          ")"
        }}</span>
      <span class="title" v-else-if="activeChatFriendInfo">{{
        activeChatFriendInfo.nickName
      }}</span>
    </div>
    <div class="box-bd">
      <div class="scroll-content pos-r">
        <chatMsgListBox ref="chatMsgListBox" @send-red-packet-msg="handlerSendRedPacketMsg" @send-cancel-message="sendCancelMessage" @quote-message="quoteMsg" v-model="visible" @after-get-history="setAlreadyRead" @resend-fail-msg="resendFailMsg"></chatMsgListBox>
      </div>
    </div>
    <div class="box-ft rlt">
      <!-- 工具栏 -->
      <div class="toolbar">
        <i class="icon icon-face" @click="showWeChatExprssion"></i>
        <i class="icon icon-screenshot" @click="screenshotNotice" v-if="hasScreenAction"></i>
        <!-- 上传文件 -->
        <vma-upload v-model="fileList" :limit="10000" class="vm file-btn" v-if="hasSendFileAction" @on-success="onFileUploadSuccess" @on-error="onFileUploadError" :on-error="onFileUploadError" :before-upload="onbeforeUpload" :singleFileSize="20" :show-file-list="false">
          <i class="icon icon-file"></i>
        </vma-upload>
        <!-- 图文链接 -->
        <!-- <i class="icon el-icon-connection" style="font-size:20px" @click="openImgTxtLinkDialog"></i> -->
        <!-- 单发小程序 -->
        <!-- <i class="icon el-icon-link" style="font-size:20px" @click="openWeChatDialog"></i>  -->

        <!-- 红包 -->
        <!--<i class="icon icon-red-packets" v-if="hasResourceAction(RESOURCE_ACTION_MAP.RED_PACKET_CREATE_OR_SEND)" @click="showNewRedPacket"></i>-->
        <el-button size="mini fr" v-if="hasResourceAction(RESOURCE_ACTION_MAP.SESSION_TRANSFER)" @click="showTransferCustomerPanel">转接会话</el-button>
        <el-button size="mini fr" @click="showChatRecord">聊天记录</el-button>
        <el-button size="mini fr" @click="staffCustomerWork('02')" v-if="activeChatFriendInfo && activeChatFriendInfo.type === SESSION_TYPE.C2C">员工任务台</el-button>
        <el-button size="mini fr" @click="staffCustomerWork('01')" v-if="activeChatFriendInfo && activeChatFriendInfo.type === SESSION_TYPE.C2C">客户工作台</el-button>
      </div>
      <!-- 输入框 -->
      <!-- <div class="input-box"> :deleteMatch='deleteMatch' -->
      <!-- <el-input ref="elInputText" type="textarea" :maxlength="contentMaxlength" v-model="content" @paste.native="onPasteEvent" @keydown.native.enter.prevent="handlerKeyupEnter"></el-input> -->
      <at-ta :deleteMatch="deleteMatch" :avoidEmail="avoidEmail" :members="groupList" name-key="nickName" @keyup.native.down.prevent="handleKeyDown(groupList)" @keyup.native.up.prevent="handleKeyUp(groupList)" @keydown.native.enter.prevent="handleKeyEnter(groupList)">
        <template slot="item" slot-scope="groupList">
          <div contenteditable="true" tabindex="-1" style="width: 100%; overflow: hidden" @click="selectFriend(groupList)">
            <img style="display: inline-block; width: 20px; height: 20px" :src="groupList.item.headIcon" />
            <span style="font-size: 14px" v-text="groupList.item.nickName"></span>
          </div>
        </template>
        <!-- <el-input @input="atInput" @focus="getFocus" class="input-box" type="textarea" v-model="content" ref="elInputText" id="elInput" @paste.native="onPasteEvent" @keydown.native.enter.prevent="handlerKeyupEnter"></el-input> -->
        <el-autocomplete class="autocomplete  input-box" @input="atInput" @focus="getFocus" id="elInput" type="textarea" popper-class="my-autocomplete" placeholder="请输入内容" @select="handleSelect" v-model="content" ref="elInputText" :fetch-suggestions="querySearch" :trigger-on-focus="false" @paste.native="onPasteEvent" @keydown.native.enter.prevent="handlerKeyupEnter">
        </el-autocomplete>
      </at-ta>

      <!-- </div> -->
      <!-- 发送 -->
      <div class="action">
        <span class="desc">按下Ctrl+Enter换行</span>
        <!-- <button class="btn-send" style="display: none;">返回</button> -->
        <!-- 录音 -->
        <recordVoice class="vm" @record-success="directlySendRecordVoiceMessge" ref="recordVoice"></recordVoice>
        <el-button size="mini" class="send" @click="clickSendMessgeBtn">发送</el-button>
      </div>
    </div>
    <!-- 新建红包 -->
    <newRedPacket v-if="newRedPacketShow" @on-close="onNewRedPacketDailogClose" @on-success="onSuccessNewRedPacket"></newRedPacket>
    <!-- 转接 -->
    <transferCustomerPanel v-if="transferCustomerPanelShow" @on-close="closeTransferCustomer" @after-transfer-success="afterTransferSuccess"></transferCustomerPanel>
    <!-- 粘贴图片预览 -->
    <sendPastImgDialog v-if="sendPastImgDialogShow" :imgData="pasteImgData" @on-close="onPastImgDialogclose" @upload-success="sendPastImgMessge" @directly-send-img="directlySendImageMsg"></sendPastImgDialog>
    <!-- 表情 -->
    <div class="expression-box" v-if="exprssionShow" v-click-outside="closeWeChatExprssion">
      <wechatExpression @choose="chooseExpress" />
    </div>
    <!-- 讯飞表情 -->
    <div class="expression-box" v-if="xfChatemoShow" v-click-outside="closeChoosechatemo">
      <xfChatemo :xfimgData="xfimgDataList" @chatemo="choosechatemo" />
    </div>
    <!-- 讯飞推荐 -->
    <!-- v-click-outside="closeChooseverbalTrick" -->
    <div class="expression-box" v-if="xfverbalTrickShow">
      <xfweChatVerbalTrick :xfTricklist="xfverbalTrickData" @chatxfverbalTrick="choosexfverbalTrick" @colseChatxfverbalTrick="choosexfverbalTrickMain" />
    </div>
    <!-- 图文链接dialog -->
    <imgTxtLinkDialog v-if="openLinkBox" @on-close="closeImgTxtLinkDialog" @on-success="linkSend"></imgTxtLinkDialog>
    <!-- 单发小程序Dialog -->
    <wechatAppDialog v-if="sendWeChatDialogShow" @on-close="sendWeChatDialogClose" @on-success="wechatSend"></wechatAppDialog>
  </div>
</template>

<script>
// 引入图文链接dialog
import imgTxtLinkDialog from './mainChatBox/components/imgTxtLinkDialog'
// 单发小程序dialog
import wechatAppDialog from './mainChatBox/components/weChatAppDialog'
// 引入中央组件
import connect from '@/bus.js'
// @好友功能
import AtTa from 'vue-at/dist/vue-at-textarea'
import sendPastImgDialog from '@/pages/chat/home/components/mainChatBox/sendPastImgDialog'
import recordVoice from './mainChatBox/recordVoice'
import newRedPacket from './mainChatBox/newRedPacket'
import { WechatExpression, xfChatemo, xfweChatVerbalTrick } from '@/components/libs/wechatExpression'
import transferCustomerPanel from './mainChatBox/transferCustomerPanel'
import { addEventPasteListener, changeFileSize, getVideoPoster } from '@/utils'
import { wechatInfoSession, aiUserQuestion } from '@/storage'
import { mapGetters } from 'vuex'
// eslint-disable-next-line import/no-duplicates
import { userInfoApi, customerServiceApi } from '@/api/chat'
import chatMsgListBox from './mainChatBox/chatMsgListBox'
// import chatMsgListBox from './mainChatBox/chatMsgListBox/index'
import Upload from '@/assets/js/upload'
import { MESSAGE_SUB_TYPE, SESSION_TYPE } from '@/constants/chat'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'

import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
import Logger from '@/utils/logger'
// Decrypt
import { Encrypt } from '@/utils/Aes'
import getSessionTypeAndWxId from '@/pages/chat/home/src/getSessionTypeAndWxId'
import sensitiveWordsMixin from '@/pages/chat/home/src/sensitiveWordsMixin'
import requestIdMixins from '@/pages/chat/home/src/requestIdMixins'
// eslint-disable-next-line import/no-duplicates
import { xunfeiApi } from '@/api/chat'
import { cxsijp } from '@/config'

export default {
  model: {
    prop: 'visible',
    event: 'model'
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    selfData: this.selfData
  },
  components: {
    wechatExpression: WechatExpression,
    xfChatemo: xfChatemo,
    xfweChatVerbalTrick: xfweChatVerbalTrick,
    newRedPacket,
    transferCustomerPanel,
    sendPastImgDialog,
    chatMsgListBox,
    recordVoice,
    AtTa,
    wechatAppDialog,
    timer: null,
    imgTxtLinkDialog
  },
  mixins: [resourceMixin, sensitiveWordsMixin, requestIdMixins],
  data () {
    return {
      SESSION_TYPE,
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      sendWeChatDialogShow: false,
      openLinkBox: false,
      // 群列表成员名单
      groupList: [],
      // at好友取消避免触发
      rightAt: [],
      sendAtFriendList: [],
      // @好友列表
      friendNameList: [],
      // 实时更新的输入框内容
      newContent: '',
      avoidEmail: false,
      itemName: '',
      newGroupList: [],
      params: {
        name: null,
        id: null,
        size: 40,
        current: 1
      },
      // PreviewImgdialogVisible:false,
      previewImgObj: {
        show: false,
        imgUrl: ''
      },
      RESOURCE_ACTION_MAP,
      MESSAGE_SUB_TYPE,
      exprssionShow: false,
      xfChatemoShow: false,
      xfverbalTrickShow: false,
      contentMaxlength: 2000,
      content: '',
      newRedPacketShow: false,
      transferCustomerPanelShow: false,
      sendPastImgDialogShow: false,
      pasteImgData: null,
      // 微客服的im系统id
      imIdentifier: null,
      // 对方的im系统id编号
      selToID: null,
      // 上传文件
      fileList: [],
      // 已经添加到预览的文件，存储uid为key
      // 用来记录选择并上传七牛云的文件、消息数据
      sendingFileUidMap: {},
      // 用来存储匹配发送中的粘贴图片，以组件中生成的时间戳为key
      sendingPasteImgMap: {},
      // 最大文件大小，单位M
      maxSize: 20,
      // 口令解析
      pwLink: '',
      overItem: {},
      selectItem: {},
      restaurants: [],
      timeout: null,
      xfimgDataList: [],
      xfverbalTrickData: [],
      isAccessId: true,
      accessId: null

    }
  },
  computed: {
    ...mapGetters(['activeChatAccountInfo', 'activeChatFriendInfo', 'chatIM', 'adminInfo']),
    // 截屏权限
    hasScreenAction () {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.SCREENSHOTS)
    },
    // 微客服发送文件权限
    hasSendFileAction () {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.SEND_FILE)
    }
  },
  watch: {
    activeChatFriendInfo (val, oldVal) {
      val && oldVal && !(val.id === oldVal.id && val.accountId === oldVal.accountId) && this.initBox()
      this.afterEntity()
      this.isAccessId = true
    },
    visible (val, oldVal) {
      oldVal === true && val === false && this.initBox()
    },
    content (val, oldVal) {
      this.content = val
      // 兼容火狐的复制带HTML代码的问题
      // this.content = this.content.replace(/<\/?[^>]*>/g, '')
      let listEl = this.$el.querySelector('.atwho-view')
      // 当@框存在时才调用不然会报错 style不存在
      if (listEl && this.content === '') {
        this.$nextTick(() => {
          listEl.style.display = 'none'
        })
      }
      var arr = []
      for (let i in this.friendNameList) {
        var bbqnl = val.indexOf(this.friendNameList[i].nickName)
        if (bbqnl > 0) {
          arr.push(this.friendNameList[i].id)
        } else {
          this.friendNameList.splice(i, 1)
        }
      }
      // 点击发送前再进行一次去重
      this.sendAtFriendList = Array.from(new Set(arr))
      // 删除选择好友存进去的id
      this.rightAt = this.sendAtFriendList
    }
  },
  created () {
    // 中央组件
    connect.$on('rightClick', (name, obj, item) => {
      this.content += '@' + name + ' '
      // 获取talkerWxid
      // this.rightAt.push(item.talkerWxId)
      // this.sendAtFriendList = Array.from(new Set(this.rightAt))
      // 获取id
      this.rightAt.push(obj.id)
      this.sendAtFriendList = Array.from(new Set(this.rightAt))
      // 将这个好友的信息push进去
      this.friendNameList.push(obj)
    })
    // 敏感词
    this.initSensitiveWords()
    // 商品推荐
    this.$onBus('recommend-good', (goodData) => {
      this.recommendGood(goodData)
    })
    // 发送快捷回复
    this.$onBus('send-quick-reply', (data) => {
      this.sendQuickReplyData(data)
    })
    // 发送收藏消息
    this.$onBus('send-collection-msg', (data) => {
      this.sendFromCollection(data)
    })
    // 推送助手发送给一个个人号一条群发消息后
    this.$onBus(
      'on-push-send-chatbox',
      ({ messageList, type, friendList, accountId } = {}) => {
        this.onPushAssistantSendMsg(messageList, type, friendList, accountId)
      }
    )
    // 发送链接
    this.$onBus('send-auth-link', (data) => {
      this.sendAuthLink(data)
    })
    // 重新查询个人库 公司库
    this.$onBus('xfweChatVerbalTrickClick', (data) => {
      // this.getMsgDatalist()
    })
  },
  beforeDestroy () {
    // 组件销毁前需要解绑事件。否则会出现重复触发事件的问题!!!!!!!!!!!!!
    connect.$off('rightClick')
  },
  mounted () {

  },
  methods: {
    checkvisbleTrick () {
      this.xfverbalTrickShow = false
    },
    getMsgDatalist () {
      let param = {
        staffId: wechatInfoSession.getJSON().staffId,
        jobNumber: this.adminInfo.jobNum, // 工号
        userName: this.adminInfo.name, // 用户名
        businessId: this.adminInfo.enterpriseId // 企业ID
      }
      xunfeiApi.commonData(param).then((res) => {
        if (res.data && res.data.length > 0) {
          for (let item of res.data) {
            item.value = item.shortcutWord
            item.value = item.content
          }
          this.restaurants = res.data
        }
      })
    },

    querySearch (queryString, cb) {
      let cname = document.querySelector('.my-autocomplete')
      if (queryString !== '') {
        // 生成随机唯一的标识
        // console.log('xxxx001', this.isAccessId)
        if (this.isAccessId) {
          this.accessId = this.adminInfo.jobNum + this.activeChatFriendInfo.talkerWxId + '_' + Math.random()
          this.isAccessId = false
        }
        // console.log('xxxx002', this.isAccessId)
        let param = {
          customerName: wechatInfoSession.getJSON().staffId,
          jobNumber: this.adminInfo.jobNum, // 工号
          userName: this.adminInfo.name, // 用户名
          businessId: this.adminInfo.enterpriseId, // 企业ID
          content: queryString,
          accessId: this.accessId,
          deptId: this.adminInfo.deptId
        }
        let arr = []
        this.$emitBus('send-time', this.accessId)
        xunfeiApi.queryTopQuestions(param).then((res) => {
          if (res.data && res.data.length > 0) {
            this.xfverbalTrickData = res.data.filter(item => item.type !== 7)
            this.xfimgDataList = res.data.filter(item => item.type === 7)
            cname.style.display = 'none'

            if (Array.isArray(this.xfimgDataList) && this.xfimgDataList.length > 0) {
              this.xfChatemoShow = true
            } else {
              this.xfChatemoShow = false
            }
            if (Array.isArray(this.xfverbalTrickData) && this.xfverbalTrickData.length > 0) {
              this.xfverbalTrickShow = true
            } else {
              this.xfverbalTrickShow = false
            }
            console.log(this.xfverbalTrickData, this.xfverbalTrickShow)
            cb(arr)
          } else {
            let results = []
            this.xfverbalTrickShow = false
            this.xfChatemoShow = false
            cname.style.display = ''
            cb(results)
          }
        })
      } else {
        this.xfverbalTrickShow = false
        this.xfChatemoShow = false
      }
    },
    handleSelect (item) {
      this.$emitBus('send-ai-person-company', { origin: 'historyTxt', msgText: item.value })
    },
    handleIconClick (ev) {
      console.log(ev)
    },
    /**
   * 选择文件
   * @return {[type]} [description]
   */
    async onbeforeUpload (file) {
      if (!this.checkUpStatus()) {
        return Promise.reject(new Error('状态不符合，无法发送消息'))
      }
      Logger.info('选择文件', file)
      const isLt20M = file.size / 1024 / 1024 < this.maxSize
      if (!isLt20M) {
        let error = `文件大小不能超过${this.maxSize}M`
        this.error(error)
        return Promise.reject(new Error(error))
      }
      let src, msgType, options
      if (file.type.indexOf('image') >= 0) {
        let reader = new FileReader()
        // 图片
        reader.readAsDataURL(file)
        src = await new Promise((resolve, reject) => {
          reader.onload = function (e) {
            resolve(this.result)
          }
        })
        msgType = MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM
        options = this.getOptionsSendMsg({
          resourceUrl: src,
          msgType
        })
      } else if (file.type.indexOf('video') >= 0) {
        src = URL.createObjectURL(file)
        msgType = MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM
        let videoImgUrl = await getVideoPoster(src)
        options = this.getOptionsSendMsg({
          resourceUrl: src,
          videoImgUrl,
          msgType
        })
      } else {
        msgType = MESSAGE_SUB_TYPE.VMA_FILE_ELEM
        options = this.getOptionsSendMsg({
          content: {
            fileName: file.name,
            fileSize: file.size
          },
          resourceUrl: src,
          msgType
        })
        options.msgData.content.des = changeFileSize(file.size)
      }
      this.sendingFileUidMap[file.uid] = options
      // 添加新消息,设置发送中标志
      this.addNewMsgToView(options.msgData)
    },
    /**
   * 上传视频/图片/文件成功
   * @param  {[type]} qiniuData  上传文件结果
   * @param  {[type]} file 文件数据
   * @return {[type]}      [description]
   */
    async onFileUploadSuccess (qiniuData, file) {
      if (!this.checkUpStatus()) return
      Logger.info('上传视频/图片/文件成功', qiniuData, file)
      let options = this.sendingFileUidMap[file.uid]
      let oldWkfMsgId = options.msgData.wkfMsgId
      // 更换链接
      options.msgData.resourceUrl = file.url
      let timestamp = new Date().getTime()
      options.msgData.createTime = timestamp
      options.msgData.wkfMsgId = timestamp
      if (options.msgData.msgType === MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM) {
        // 把视频封面也传成七牛
        let up = new Upload()
        const qiniuData = await up.upload(options.msgData.videoImgUrl)
        options.msgData.videoImgUrl = qiniuData.url
      }
      // 替换掉数组里面的链接
      this.replaceFileUrl(options, oldWkfMsgId)
      // this.$set(this.sendingFileUidMap, file.uid, null)
      this.handlerSendMsg(options)
      // 显示雨啦
    },
    /**
   * 上传文件失败
   * @param  {[type]} err      [description]
   * @param  {[type]} file     [description]
   * @param  {[type]} fileList [description]
   */
    onFileUploadError (err, file, fileList) {
      Logger.error(err, file, fileList)
      let delIndex
      this.fileList.some((val, index) => {
        if (val.uid === file.uid) {
          delIndex = index
          return true
        }
      })
      this.fileList.splice(delIndex, 1)
      return this.error(`文件上传失败，请选择文件并重新上传`)
    },
    deleteMatch () {
      // var arr = [];
      // for (let i in this.friendNameList) {
      //     var bbqnl = this.content.indexOf(this.friendNameList[i].nickName)
      //     if (bbqnl > 0) {
      //         arr.push(this.friendNameList[i].id)
      //     } else {
      //         this.friendNameList.splice(i, 1)
      //     }
      // }
      // //点击发送前再进行一次去重
      // this.sendAtFriendList = Array.from(new Set(arr))
      //     // 删除选择好友存进去的id
      // this.rightAt = this.sendAtFriendList
    },
    /**
   * 发送按钮
   * @return {[type]} [description]
   */
    async clickSendMessgeBtn () {
      // 这里是区分讯飞的自动回复还是手动触发来源字段
      aiUserQuestion.setJSON({ isCall: '1' })
      // 发送accessId 状态转换
      this.isAccessId = true
      // 检查敏感词 trim()去除前后空格
      let content = this.preText(this.content.trim())
      if (!content) {
        return this.warn('不能发送空白消息')
      }
      if (!this.checkUpStatus()) return
      if (!this.getSensitiveWordsResult(content)) return

      // 判断发送的是否在@好友
      var regex = /@/
      let data = {
        atId: this.sendAtFriendList,
        content: content
      }
      // 判断有@并且有选择好友
      if (regex.test(content) && data.atId.length !== 0) {
        userInfoApi.sendAtMsg(data).then((res) => {
          // 如果发送成功清空 this.sendAtFriendList
          // if (res) {
          let options = {
            content,
            msgType: MESSAGE_SUB_TYPE.VMA_TEXT_ELEM
          }
          // 再聊天框显示发送的消息内容
          // this.addNewMsgToView(options.msgData);
          this.rightAt = []
          this.sendAtFriendList = []
          this.content = ''
          // 发送完信息改变聊天消息的顺序
          this.handlerSendMsg(options)
          // }
        })
      } else {
        let options = this.getOptionsSendMsg({
          content,
          msgType: MESSAGE_SUB_TYPE.VMA_TEXT_ELEM
        })
        // 再聊天框显示发送的消息内容
        this.addNewMsgToView(options.msgData)
        this.rightAt = []
        this.content = ''
        // 发送完信息改变聊天消息的顺序
        this.handlerSendMsg(options)
      }
    },

    /**
   * 发送消息数据
   * @param  {[type]} content [description]
   * @param  {[type]} msgType [description]
   * @return {[type]}         [description]
   */
    getOptionsSendMsg (data, selToID) {
      let timestamp = new Date().getTime()
      let talkerWxId, talkerRoomWxId, wxId
      if (this.activeChatFriendInfo && this.activeChatFriendInfo.type) {
        if (this.activeChatFriendInfo.type === SESSION_TYPE.C2C) {
          // 好友聊填好友
          talkerWxId = this.activeChatFriendInfo.wxId
        } else {
          // 如果是群聊就填自己
          talkerWxId = this.activeChatAccountInfo.wxId
          talkerRoomWxId = this.activeChatFriendInfo.wxId
        }
        wxId = this.activeChatAccountInfo.wxId
      }
      let msgData = {
        // 废弃，消息发送者账号类型 1:微客服 2:客户端
        // msgSenderType: 1,
        // 消息类型,具体参见msgType类型列表
        msgType: null,
        // 消息内容(语音、图片、视频、表情包等传url)
        content: null,
        // 文件下载url
        resourceUrl: null,
        // 视频未播放状态展示的图片
        videoImgUrl: null,
        // 好友（群聊内发言人）微信ID。
        // talkerWxId: 'SB_869071035428177',
        talkerWxId: talkerWxId || null,
        // 群聊微信ID
        talkerRoomWxId: talkerRoomWxId || null,
        createTime: timestamp,
        // 是否个人号自己发出消息,0:否1:是
        isSelfSend: 1,
        // 当前个人号的微信id
        wxId,
        // 微信个人号ID
        wechatAccountId:
          this.activeChatAccountInfo && this.activeChatAccountInfo.id,
        // 微客服本地消息id--用来确认微客服消息是否发送成功,以及撤消消息
        wkfMsgId: timestamp
      }
      msgData = Object.assign({}, msgData, data)
      let options = {
        msgData,
        selToID: selToID || this.activeChatAccountInfo.imAccount,
        identifier: this.getIdentifier(),
        msgSubType: 'custom',
        sessionType: 'c2c'
      }
      return options
    },
    /**
   * 发送图片消息
   * @return {[type]} [description]
   */
    sendPastImgMessge (url, getPasteImgMsKey) {
      if (!this.checkUpStatus()) return
      let options = this.getOptionsSendMsg({
        resourceUrl: url,
        msgType: MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM
      })
      this.addNewMsgToView(options.msgData)
      this.onPastImgDialogclose()
      this.handlerSendMsg(options)
    },
    /**
   * 发送语音消息
   */
    directlySendRecordVoiceMessge (url, soundTimeLength) {
      if (!this.checkUpStatus()) return
      let options = this.getOptionsSendMsg({
        content: {
          soundLength: soundTimeLength
        },
        resourceUrl: url,
        msgType: MESSAGE_SUB_TYPE.VMA_SOUND_ELEM
      })
      this.addNewMsgToView(options.msgData)
      this.handlerSendMsg(options)
    },
    /**
   * 发送撤回消息
   */
    sendCancelMessage (wxMsgId) {
      Logger.info(wxMsgId)
      if (!this.checkUpStatus()) return
      let options = this.getOptionsSendMsg({
        msgType: MESSAGE_SUB_TYPE.VMA_CANCEL_ELEM,
        wxMsgId: wxMsgId
      })
      this.addNewMsgToView(options.msgData)
      this.handlerSendMsg(options)
    },
    getSendApi (options) {
      Logger.info('发送消息', options)
      if (options.msgData.miniProgramId === 'gh_e00595d90431') {
        options.msgData.miniProgramPath += '&wxUserId=' + options.msgData.talkerWxId
        let obj = JSON.parse(options.msgData.content)
        obj.miniProgramPath += '&wxUserId=' + options.msgData.talkerWxId
        options.msgData.content = JSON.stringify(obj)
      }
      return this.chatIM.sendMessge(options)
    },
    /**
   * 发送消息
   * @param  {[type]} options [description]
   */
    async handlerSendMsg (
      options,
      checkOnline = true,
      friendInfo = null,
      show = true
    ) {
      if (checkOnline && !this.checkUpStatus()) return
      return this.getSendApi(options).then(
        () => {
          // 最近联系列表顺序更改
          this.afterSendMsgSuccess(
            options,
            (friendInfo && friendInfo.fromAccountId) ||
            this.activeChatAccountInfo.id
          )
        },
        (error) => {
          Logger.info('sendMsgError', error)
          if (!show) return
          // 设置失败标志
          this.setFailStatus(options.msgData)
          // 清除
          if (friendInfo) {
            this.$emit(
              'after-send-msg-fail',
              friendInfo.type,
              friendInfo.wxId,
              friendInfo.fromAccountId
            )
          } else {
            this.$emit(
              'after-send-msg-fail',
              this.activeChatFriendInfo.type,
              this.activeChatFriendInfo.wxId,
              this.activeChatAccountInfo.id
            )
          }
        }
      )
    },
    /**
   * 检查状态，决定是否可以发送
   * @return {[type]} [description]
   */
    checkUpStatus () {
      return this.checkUpOnlineStatus() && this.checkUpFreindStatus()
    },
    /**
   * 检查对方是否在线
   * @return {[type]} [description]
   */
    checkUpOnlineStatus () {
      // 不在线无法发送
      if (this.activeChatAccountInfo.onLine === 0) {
        let errorMsg = '微信设备或账号不在线，无法发送消息'
        this.error(errorMsg)
        // 暂时注释
        return false
      }
      return true
    },
    /**
   * 检查好友/群聊是否删除
   */
    checkUpFreindStatus () {
      if (this.activeChatFriendInfo.status === 0) {
        let errorMsg = '已被删除，无法发送消息'
        this.error(errorMsg)
        return false
      }
      return true
    },
    /**
   * 接收到当前好友/群组的消息
   * @return {[type]} [description]
   */
    receivedNowFriendMsg (content) {
      // 聊天窗口
      if (content.msgType === MESSAGE_SUB_TYPE.VMA_CANCEL_ELEM) {
        // 撤回消息
        this.receivedCancelMessage(content)
      } else {
        // 向窗体添加一条消息
        this.addNewMsgToView(content, false, false)
      }
      // 发送已接收回执给微信客户端
      this.sendAlreadyReadMsgToWechatClient()
      // 向im通知一次已读
      this.setAlreadyRead()
    },
    // 向im通知一次已读
    setAlreadyRead () {
      Logger.info('向im通知一次已读')
      // isOn,将selSess的自动已读消息标志改为isOn，同时是否上报当前会话已读消息
      this.chatIM.setAlreadyRead({
        selToID: this.activeChatAccountInfo.imAccount,
        isAutoOn: true,
        selType: 'c2c'
      })
      // 将selSess的自动已读消息标志改为isOff
      setTimeout(() => {
        this.chatIM.setAlreadyRead({
          selToID: this.activeChatAccountInfo.imAccount,
          isAutoOn: false,
          selType: 'c2c'
        })
      }, 200)
    },
    /**
   * 微信手机端主动发的消息同步过来
   * @return {[type]} [description]
   */
    onWechatClientMsgPushToWeb (msgData) {
      if (msgData.msgType === MESSAGE_SUB_TYPE.VMA_CANCEL_ELEM) {
        // 撤回消息
        return this.receivedCancelMessage(msgData)
      }
      // 向窗体添加一条消息
      this.addNewMsgToView(msgData, false, false)
    },
    /**
   * 向窗口添加一条新消息
   * @param {[type]}  data    [description]
   * @param {Boolean} sending 是否添加发送中状态
   * @param {Boolean} count   是否添加到统计消息
   */
    async addNewMsgToView (data, sending = true, count = true) {
      // await this.checkUpOnlineStatus()
      this.$refs.chatMsgListBox.addNewMsgToView(data, sending)
      // 修改发送中消息的进度统计
      count && this.changeSendMsgQueue(data)
    },
    /**
   * 修改发送中消息的进度统计
   */
    changeSendMsgQueue (msgData) {
      let { type, wxId } = getSessionTypeAndWxId(
        msgData.talkerRoomWxId,
        msgData.talkerWxId
      )
      this.$emit(
        'on-ready-send-msg',
        type,
        wxId,
        1,
        this.activeChatAccountInfo.id
      )
    },
    // 收到撤回消息
    receivedCancelMessage (msgData) {
      this.$refs.chatMsgListBox.receivedCancelMessage(msgData)
    },
    // 收到手机上面删除消息
    receivedDeleteMessage (msgData) {
      this.$refs.chatMsgListBox.receivedDeleteMessage(msgData)
    },
    /**
   * 向微信端发送消息后，对方给的回调消息,当前好友
   * @param {[type]} data [description]
   */
    afterSendWexinCallbackActiveFriend (msgData) {
      this.$refs.chatMsgListBox.afterSendWexinCallbackActiveFriend(msgData)
    },
    /**
   * 向微信端发送消息后，对方给的回调消息,非当前好友
   * @param {[type]} data [description]
   */
    afterSendWexinCallbackNoActiveFriend (
      msgData,
      fromImAccount,
      fromPersonalAccountId
    ) {
      this.$refs.chatMsgListBox.afterSendWexinCallbackNoActiveFriend(
        msgData,
        fromImAccount,
        fromPersonalAccountId
      )
    },
    /**
   * 发送已接收回执给微信客户端
   */
    sendAlreadyReadMsgToWechatClient () {
      let options = this.getOptionsSendMsg({
        msgType: this.MESSAGE_SUB_TYPE.VMA_READ_ELEM
      })
      // 只发送不显示
      this.getSendApi(options)
    },
    /**
   * 自动回复
   */
    async autoReplyCustomerMsg (msgData, fromImAccount, fromPersonalAccountId) {
      // 群消息、非文字消息,无需自动回复
      if (
        msgData.msgType !== this.MESSAGE_SUB_TYPE.VMA_TEXT_ELEM ||
        msgData.talkerRoomWxId
      ) {
        return
      }
      let replyData = await customerServiceApi.getAutoReplyWithCustomerMsg({
        content: msgData.content
      })
      Logger.info('自动回复-准备', replyData)
      if (replyData.length === 0) return
      replyData.forEach((val) => {
        // 定时发送

        setTimeout(() => {
          this.sendAutoCustomerMsg(
            val,
            msgData,
            fromImAccount,
            fromPersonalAccountId
          )
        }, val.waitTime * 1000)
      })
    },
    /**
   * 发送自动回复
   * @param  {[type]} replyData             [description]
   * @param  {[type]} msgData               [description]
   * @param  {[type]} fromImAccount         [description]
   * @param  {[type]} fromPersonalAccountId [description]
   * @return {[type]}                       [description]
   */
    sendAutoCustomerMsg (
      replyData,
      msgData,
      fromImAccount,
      fromPersonalAccountId
    ) {
      let params = {
        talkerWxId: msgData.talkerWxId
      }
      if (replyData.msgType === MESSAGE_TPYE_KEY.TXT) {
        params.msgType = this.MESSAGE_SUB_TYPE.VMA_TEXT_ELEM
        params.content = replyData.msgText
      } else if (replyData.msgType === MESSAGE_TPYE_KEY.IMG) {
        params.msgType = this.MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM
        params.resourceUrl = replyData.msgText
      } else if (replyData.msgType === MESSAGE_TPYE_KEY.AUDIO) {
        params.msgType = this.MESSAGE_SUB_TYPE.VMA_SOUND_ELEM
        params.content = {
          soundLength: replyData.voiceLength
        }
        params.resourceUrl = replyData.msgText
      } else if (replyData.msgType === MESSAGE_TPYE_KEY.VIDEO) {
        params.msgType = this.MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM
        params.resourceUrl = replyData.msgText
        params.videoImgUrl = replyData.coverInfo
      } else if (replyData.msgType === MESSAGE_TPYE_KEY.WECHAT) {
        params.msgType = this.MESSAGE_SUB_TYPE.VMA_MINI_PROGRAM_ELEM
        params.content = replyData.msgText
        params.resourceUrl = JSON.parse(params.content).thumbPath
        // params.videoImgUrl = replyData.coverInfo;
      } else if (replyData.msgType === MESSAGE_TPYE_KEY.IMGTXTLINK) {
        params.msgType = this.MESSAGE_SUB_TYPE.VMA_IMGTXTLINK_ELEM
        params.content = replyData.msgText
        params.resourceUrl = JSON.parse(replyData.msgText).imgtxtUrl
      } else if (replyData.msgType === MESSAGE_TPYE_KEY.PULLGROUP) { // 拉群口令
        params.msgType = this.MESSAGE_SUB_TYPE.VMA_GROUPCOMMAND_ELEM
        params.content = replyData.msgText
        // console.log(params.content, 'mainChatBox')
        // params.resourceUrl = JSON.parse(replyData.msgText).imgtxtUrl;
      }

      params.talkerWxId = msgData.talkerWxId
      params.talkerRoomWxId = msgData.talkerRoomWxId
      params.wxId = msgData.wxId
      let options = this.getOptionsSendMsg(params, fromImAccount)
      // 如果是当前好友，要显示发送的消息
      // if (this.activeChatAccountInfo && this.activeChatAccountInfo.id === fromPersonalAccountId && this.activeChatFriendInfo && msgData.talkerWxId === this.activeChatFriendInfo.talkerWxId) {
      //   this.addNewMsgToView(options.msgData)
      // }
      Logger.info('自动回复-发送', replyData)
      let { type, wxId } = getSessionTypeAndWxId(
        msgData.talkerRoomWxId,
        msgData.talkerWxId
      )
      let isActive = this.whetherActiveFriend(fromPersonalAccountId, wxId)
      // 如果是当前好友，要显示发送的消息
      if (isActive && this.visible) {
        this.addNewMsgToView(options.msgData)
        this.handlerSendMsg(options, false)
      } else {
        this.handlerSendMsg(options, false, {
          fromAccountId: fromPersonalAccountId,
          type,
          wxId
        })
      }
    },
    // 是否是当前好友
    whetherActiveFriend (accountId, wxId) {
      return (
        this.activeChatFriendInfo &&
        this.activeChatFriendInfo.accountId === accountId &&
        this.activeChatFriendInfo.wxId === wxId
      )
    },
    // 发送成功后
    afterSendMsgSuccess (options, fromPersonalAccountId) {
      this.$emitBus('after-sendMsg-success', options, fromPersonalAccountId)
    },
    /**
   * 设置消息发送失败提醒标志
   * @param {[type]} data [description]
   */
    setFailStatus (data) {
      this.$refs.chatMsgListBox.setFailStatus(data)
    },
    /**
   * 上传完文件后，用链接来代替本地文件路径
   * @return {[type]} [description]
   */
    replaceFileUrl (data, oldWkfMsgId) {
      this.$refs.chatMsgListBox.replaceFileUrl(data, oldWkfMsgId)
    },
    // 打开表情弹窗
    showWeChatExprssion () {
      this.exprssionShow = true
    },
    closeWeChatExprssion () {
      this.exprssionShow = false
    },
    // 选择表情弹窗
    chooseExpress (icon, e) {
      console.log('e', e)
      if (e.emotionPath) {
        this.directlySendImageMsg(e.emotionPath)
        this.exprssionShow = false
      } else {
        this.setTextArea(icon, true)
      }
    },
    closeChoosechatemo () {
      this.xfChatemoShow = false
    },
    closeChooseverbalTrick () {
      this.xfverbalTrickShow = false
    },
    choosechatemo (v) {
      this.directlySendImageMsg(v)
      this.xfChatemoShow = false
    },
    choosexfverbalTrick (v) {
      if (v.type === MESSAGE_TPYE_KEY.TXT) {
        this.content = v.target
        this.$emitBus('send-ai-person-company', { origin: 'historyTxt', msgText: v.target })
      }
      this.xfverbalTrickShow = false
      this.isAccessId = true
    },
    choosexfverbalTrickMain () {
      this.xfverbalTrickShow = false
      this.isAccessId = true
    },

    /**
   * 修改文本值
   * @param str
   */
    setTextArea (icon, isIcon) {
      let str = icon
      let obj = this.$refs.elInputText.$refs.textarea
      if (document.selection) {
        var sel = document.selection.createRange()
        sel.text = str
      } else if (
        obj && typeof obj.selectionStart === 'number' &&
        typeof obj.selectionEnd === 'number'
      ) {
        this.getSelectPosition(str, isIcon)
      } else {
        let elInput = document.getElementById('elInput')
        let startPos = elInput.selectionStart
        let endPos = elInput.selectionEnd
        // 加入坐席换行显示
        let content = this.content.replace(/<br\/>/g, '\n').replace(/&nbsp;/ig, '').substring(0, startPos) + icon + this.content.substring(endPos)
        // this.$nextTick() // 这句是重点, 圈起来,不加的话后面两步有问题
        // elInput.focus()
        // let content = (this.content || '') + icon
        // 这是为了连续插入表情防止
        elInput.value = content
        elInput.selectionStart = startPos + icon.length
        elInput.selectionEnd = startPos + icon.length
        if (isIcon && content.length > this.contentMaxlength) {
          return
        } else if (content.length > this.contentMaxlength) {
          content.substr(0, this.contentMaxlength)
        }
        this.content = content
      }
    },
    insertInputTxt (id, insertTxt) {
      var elInput = document.getElementById(id)
      var startPos = elInput.selectionStart
      var endPos = elInput.selectionEnd
      if (startPos === undefined || endPos === undefined) return
      var txt = elInput.value; var result = txt.substring(0, startPos) + insertTxt + txt.substring(endPos)
      elInput.value = result
      elInput.focus()
      elInput.selectionStart = startPos + insertTxt.length
      elInput.selectionEnd = startPos + insertTxt.length
    },
    /**
    * 获取光标位置
    * @param str
    */
    getSelectPosition (str, isIcon) {
      let obj = this.$refs.elInputText.$refs.textarea
      let startPos = obj.selectionStart
      let endPos = obj.selectionEnd
      let tmpStr = obj.value
      let newVal =
        tmpStr.substring(0, startPos) +
        str +
        tmpStr.substring(endPos, tmpStr.length)
      if (isIcon && newVal.length > this.contentMaxlength) {
        return
      } else if (newVal.length > this.contentMaxlength) {
        newVal = newVal.substr(0, this.contentMaxlength)
      }
      this.content = newVal || ''
      setTimeout(() => {
        obj.focus()
        let cursorPos = startPos
        cursorPos += str.length
        obj.selectionStart = obj.selectionEnd = cursorPos
      }, 50)
    },
    async getFocus () {
      let params = Object.assign({}, this.params)
      var groupList = await userInfoApi.getChatGroupMembers(params, false)
      this.newGroupList = groupList.records
      if (this.activeChatAccountInfo.wxId) {
        this.newGroupList.map((item, index) => {
          if (item.wxId == this.activeChatAccountInfo.wxId) {
            this.newGroupList.splice(index, 1)
            return this.newGroupList
          }
        })
      } else {
        return this.newGroupList
      }
    },
    enterFrend (group) {
      // for (let i in group) {
      //     if (this.content.indexOf(group[i].nickName) > 0) {
      //     } else {
      //     }
      // }
    },
    // 获取@后面的字符
    getCaption (obj) {
      var index = obj.lastIndexOf('@')
      obj = obj.substring(index + 1, obj.length)
      return obj
    },
    // str:原始字符串，index,开始位置,changeStr，改变后的字
    changeStr (str, index, changeStr) {
      return (
        str.substr(0, index) + changeStr + str.substr(index + changeStr.length)
      )
    },
    async selectFriend (item) {
      // 选中之后将内容加到输入框
      let regex = this.content.lastIndexOf('@')
      let newStr = this.content.substring(regex + 1, this.content.length)
      // 如果@后的字符长度大于1
      if (newStr.length > 0) {
        this.content = this.content.substring(0, this.content.length - 1)
      }
      let lastContengt = await this.getCaption(this.content)

      lastContengt = lastContengt.replace(lastContengt, item.item.nickName)

      this.content += lastContengt + ' '

      this.rightAt.push(item.item.id)
      this.sendAtFriendList = Array.from(new Set(this.rightAt))
      this.friendNameList.push(item.item)
    },
    async keyMethod (item) {
      // 选中之后将内容加到输入框
      let regex = this.content.lastIndexOf('@')
      let newStr = this.content.substring(regex + 1, this.content.length)
      // 如果@后的字符长度大于1
      if (newStr.length > 0) {
        this.content = this.content.substring(0, this.content.length - 1)
      }
      let lastContengt = await this.getCaption(this.content)

      lastContengt = lastContengt.replace(lastContengt, item.nickName)

      this.content += lastContengt + ' '

      this.rightAt.push(item.id)
      this.sendAtFriendList = Array.from(new Set(this.rightAt))
      this.friendNameList.push(item)
    },
    handleKeyDown (groupList) {
      try {
        let atList = this.$el.querySelector('.atwho-view>ul').childNodes
        atList.forEach((item, index) => {
          if (item.className === 'atwho-li atwho-cur') {
            this.selectItem = groupList[index]
          }
        })
      } catch (error) {
      }
    },
    handleKeyUp (groupList) {
      try {
        let atList = this.$el.querySelector('.atwho-view>ul').childNodes
        atList.forEach((item, index) => {
          if (item.className === 'atwho-li atwho-cur') {
            this.selectItem = groupList[index]
          }
        })
      } catch (error) {
      }
    },
    // 回车选择要@的好友
    handleKeyEnter (groupList, e) {
      try {
        if (this.$el.querySelector('.atwho-view>ul')) {
          let atList = this.$el.querySelector('.atwho-view>ul').childNodes
            ? this.$el.querySelector('.atwho-view>ul')
            : null
          atList.forEach((item, index) => {
            if (item.className === 'atwho-li atwho-cur') {
              this.selectItem = groupList[index]
            }
          })
          let atListBox = this.$el.querySelector('.atwho-view')
          if (atListBox) {
            return this.keyMethod(this.selectItem)
          } else {
          }
        }
      } catch (error) {
      }
    },
    filterMatch (name, chunk, at) {
    },
    // 新增 @好友
    atInput () {
      var regex = /@/ // 是否存在"@"
      let listEl = this.$el.querySelector('.atwho-view')
      var onregex = regex.test(this.content)
      this.newContent = this.content
      if (listEl === null) {
        if (onregex) {
          this.groupList = this.newGroupList
        } else {
        }
      } else {
        if (onregex) {
          this.groupList = this.newGroupList
          this.$nextTick(() => {
            listEl.style.display = 'block'
          })
        } else {
          this.$nextTick(() => {
            listEl.style.display = 'none'
          })
        }
      }
    },
    afterEntity () {
      this.params.id = this.activeChatFriendInfo.id
    },
    handlerKeyupEnter (e) {
      let elInput = document.getElementById('elInput')
      let startPos = elInput.selectionStart
      let endPos = elInput.selectionEnd
      console.log(startPos, endPos)
      let atList = this.$el.querySelector('.atwho-view')
      if (atList) {
      } else {
        // 判断如果是@好友中那么就先不回车发送
        // var regexAt = this.content.charAt(this.content.length - 1)
        // if (regexAt === '@') {
        //     if (this.sendAtFriendList.length > 0) {
        //         this.clickSendMessgeBtn();
        //     } else {
        //     }
        // } else {
        //     this.clickSendMessgeBtn();
        // }
        if (e.ctrlKey && e.keyCode === 13) {
          e.cancelBubble = true// ie阻止冒泡行为
          e.stopPropagation()// Firefox阻止冒泡行为
          e.preventDefault() // 取消事件的默认动作*换行
          this.content = this.content.substring(0, startPos) + '\n' + this.content.substring(endPos) // 中间断行 获取光标位置插入
        } else {
          // 执行一些逻辑方法
          if (e !== undefined) {
            e.preventDefault()
            this.clickSendMessgeBtn()
          }
        }
      }
    },
    preText (pretext) {
      return pretext.replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, '&nbsp;')
    },
    // 打开发送红包弹窗
    showNewRedPacket () {
      if (!this.checkUpStatus()) return
      this.newRedPacketShow = true
    },
    onNewRedPacketDailogClose () {
      this.newRedPacketShow = false
    },
    /**
    * 新建红包成功，获取二维码
    * @return {[type]} [description]
    */
    async onSuccessNewRedPacket (base64List, title) {
      let options
      base64List.forEach((val, i) => {
        setTimeout(() => {
          options = this.getOptionsSendMsg({
            resourceUrl: val,
            msgType: MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM,
            customHtml: true,
            redPacketTitle: title
          })
          this.$refs.chatMsgListBox.addRedPacketMsgToView(options)
          // 修改发送中消息的进度统计
          this.changeSendMsgQueue(options.msgData)
        }, i * 300)
      })
    },
    /**
    * 发出一条红包消息
    * @param  {[type]} options 消息
    * @return {[type]}         [description]
    */
    handlerSendRedPacketMsg (options) {
      delete options.msgData.customHtml
      // 替换掉里面的链接
      this.replaceFileUrl(options)
      this.handlerSendMsg(options)
    },
    // 活动链接
    activityLink () {
    },
    // 转接会话
    showTransferCustomerPanel () {
      this.transferCustomerPanelShow = true
    },
    closeTransferCustomer () {
      this.transferCustomerPanelShow = false
    },
    // 转接成功后
    afterTransferSuccess () {
      // 更改联系人列表
      this.$emit('after-transfer-success', {
        fId: this.activeChatFriendInfo.id,
        fType: this.activeChatFriendInfo.type,
        fWxId: this.activeChatFriendInfo.wxId,
        accountId: this.activeChatAccountInfo.id
      })
    },

    // 监听粘贴事件
    async onPasteEvent (e) {
      e.preventDefault()
      let data = await addEventPasteListener(e)
      if ((data && data.base64) || data.string.indexOf('data:image') > -1) {
        // 直接截屏到粘贴板,直接发送
        if (this.hasScreenAction) {
          this.showSendImgDialog(data)
        } else {
          this.warn('暂无发送截屏图片权限')
        }
      } else if (data.type === 'string') {
        // 复制某条消息
        data.string = data.string.replace(/<br\/>/g, '\n').replace(/&nbsp;/ig, ' ')
        if (!data.string) return
        let obj
        try {
          obj = JSON.parse(data.string)
          switch (obj.msgType) {
            // 图片
            case MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM:
              this.showSendImgDialog({
                url: obj.resourceUrl
              })
              return
            // 视频
            case MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM:
              this.directlySendVideoMsg(obj.resourceUrl, obj.videoImgUrl)
              return
            // 音频
            case MESSAGE_SUB_TYPE.VMA_SOUND_ELEM:
              this.directlySendRecordVoiceMessge(
                obj.resourceUrl,
                obj.content.soundLength
              )
              return
            // 文件
            case MESSAGE_SUB_TYPE.VMA_FILE_ELEM:
              this.directlySendFileMsg(
                obj.resourceUrl,
                obj.content.fileName,
                obj.content.fileSize,
                obj.content.des
              )
              return
          }
          if (typeof obj === 'number') {
            this.setTextArea(data.string)
          }
        } catch (err) {
          this.setTextArea(data.string)
        }
      }
    },
    /**
    * 上传粘贴的图片之后
    * @return {[type]} [description]
    */
    onPastImgDialogclose (url) {
      this.sendPastImgDialogShow = false
      this.pasteImgData = null
    },
    /**
    * 弹窗预览图片，选择发送
    * @param  {[type]} data [description]
    * @return {[type]}      [description]
    */
    showSendImgDialog (data) {
      this.pasteImgData = data
      this.sendPastImgDialogShow = true
    },
    /**
    * 显示聊天记录
    */
    showChatRecord () {
      this.$emit('show-chat-record')
    },
    /**
     * 员工任务台
     */
    staffCustomerWork (str) {
      if (!this.adminInfo.jobNum) {
        this.warn('请检查员工工号是否存在')
        return false
      }
      let params = {
        plateType: str,
        un: {
          userCode: this.adminInfo.jobNum // 工号,
        },
        ct: {
          userWxId: this.activeChatFriendInfo.wxId
        }
      }
      let url = `${cxsijp}?hashCode=${Encrypt(JSON.stringify(params))}&sourceType=${'WKPT'}`
      // console.log('encryptData解密', Decrypt(Encrypt(JSON.stringify(params))))
      window.open(url, '_blank')
    },

    // 截屏提醒
    screenshotNotice () {
      this.warn('请使用QQ截屏等工具截图后粘贴到下方输入框')
    },
    // 单发小程序
    openWeChatDialog () {
      this.sendWeChatDialogShow = true
    },
    // 图文链接
    closeImgTxtLinkDialog () {
      this.openLinkBox = false
    },
    sendWeChatDialogClose () {
      this.sendWeChatDialogShow = false
    },
    /**
    * 引用消息
    * @return {[type]} [description]
    */
    quoteMsg (contextmenuChatRecord, nickName) {
      Logger.info(contextmenuChatRecord)
      this.content = (
        `「${nickName}：${contextmenuChatRecord.content}」\r\n—————————\r\n` +
        (this.content || '')
      ).substr(0, this.contentMaxlength)
    },
    /**
    * 发送快捷回复消息
    * @param  {[type]} data 快捷回复数据
    */
    sendQuickReplyData (data) {
      Logger.info('发送快捷回复消息', data, MESSAGE_TPYE_KEY.AUDIO)
      // if (!this.visible) return
      switch (data.msgType) {
        // 文本
        case MESSAGE_TPYE_KEY.TXT:
          if (data.msgText.length > this.contentMaxlength) {
            this.warn('消息过长，超出部分已被截取')
            data.msgText = data.msgText.substr(0, this.contentMaxlength)
          }
          this.setTextArea(data.msgText)
          break
        // 图片
        case MESSAGE_TPYE_KEY.IMG:
          this.directlySendImageMsg(data.msgText)
          if (data.jobNumber && data.content) {
            this.sendAiMsg(data)
          }
          break
        // 语音
        case MESSAGE_TPYE_KEY.AUDIO:
          this.directlySendRecordVoiceMessge(data.msgText, data.voiceLength)
          if (data.jobNumber && data.content) {
            this.sendAiMsg(data)
          }
          break
        // 视频
        case MESSAGE_TPYE_KEY.VIDEO:
          this.directlySendVideoMsg(data.msgText, data.coverInfo)
          if (data.jobNumber && data.content) {
            this.sendAiMsg(data)
          }
          break
        // 小程序
        case MESSAGE_TPYE_KEY.WECHAT:
          this.directlySendMiniProgramMsg(data.msgText)
          break
        // 图文链接
        case MESSAGE_TPYE_KEY.IMGTXTLINK:
          this.directlySendImgtxtlinkMsg(data.msgText)
          break
        // 拉群口令
        case MESSAGE_TPYE_KEY.PULLGROUP:
          if (data.msgText.length > this.contentMaxlength) {
            this.warn('消息过长，超出部分已被截取')
            data.msgText = data.msgText.substr(0, this.contentMaxlength)
          }
          this.setTextArea(JSON.parse(data.msgText))
          break
      }
    },
    // 快捷发送AI话术库语音+文本
    sendAiMsg (data) {
      let content = data.content
      let options = this.getOptionsSendMsg({
        content,
        msgType: MESSAGE_SUB_TYPE.VMA_TEXT_ELEM
      })
      // 再聊天框显示发送的消息内容
      this.addNewMsgToView(options.msgData)
      // 发送完信息改变聊天消息的顺序
      this.handlerSendMsg(options)
    },
    // 发送授权链接
    sendAuthLink (data) {
      Logger.info('发送授权链接', data)
      if (!this.visible) return
      if (data.length > this.contentMaxlength) {
        this.warn('消息过长，超出部分已被截取')
        data = data.substr(0, this.contentMaxlength)
      }
      this.setTextArea(data)
    },
    /**
    * 直接发送文字消息
    * @param  {[type]} text [description]
    * @return {[type]}      [description]
    */
    directlySendTextMsg (text) {
      if (!this.checkUpStatus()) return
      // 检查敏感词
      if (!this.getSensitiveWordsResult(text)) return
      if (text.length > this.contentMaxlength) {
        text = text.substr(0, this.contentMaxlength)
        this.warn('消息过长，超出部分已被截取')
      }
      let options = this.getOptionsSendMsg({
        msgType: MESSAGE_SUB_TYPE.VMA_TEXT_ELEM,
        content: text
      })
      this.addNewMsgToView(options.msgData)
      this.handlerSendMsg(options)
      // 发送成功后清除@的好友
      this.sendAtFriendList = []
    },
    /**
    * 直接发送图片消息
    * @param  {[type]} text [description]
    * @return {[type]}      [description]
    */
    directlySendImageMsg (resourceUrl) {
      if (!this.checkUpStatus()) return
      let options = this.getOptionsSendMsg({
        resourceUrl: resourceUrl,
        msgType: MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM
      })
      this.addNewMsgToView(options.msgData)

      this.handlerSendMsg(options)
    },
    /**
    * 直接发送视频消息
    * @param  {[type]} url         [description]
    * @param  {[type]} videoImgUrl [description]
    * @return {[type]}             [description]
    */
    directlySendVideoMsg (url, videoImgUrl) {
      if (!this.checkUpStatus()) return
      let options = this.getOptionsSendMsg({
        resourceUrl: url,
        msgType: MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM,
        videoImgUrl
      })
      this.addNewMsgToView(options.msgData)
      this.handlerSendMsg(options)
    },
    /**
    * 直接发送文件音消息
    * @param  {[type]} url         [description]
    * @param  {[type]} videoImgUrl [description]
    * @return {[type]}             [description]
    */
    directlySendFileMsg (url, fileName, fileSize, des) {
      if (!this.checkUpStatus()) return
      let options = this.getOptionsSendMsg({
        msgType: MESSAGE_SUB_TYPE.VMA_FILE_ELEM,
        content: {
          fileName: fileName,
          fileSize: fileSize,
          des: des
        },
        resourceUrl: url
      })
      this.addNewMsgToView(options.msgData)
      this.handlerSendMsg(options)
    },
    // 直接发送红包图片
    directlySendRedPacketMsg (resourceUrl) {
      if (!this.checkUpStatus()) return
      let options = this.getOptionsSendMsg({
        msgType: MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM,
        resourceUrl
      })
      this.addNewMsgToView(options.msgData)
      this.handlerSendMsg(options)
    },

    //  直接发送小程序消息
    directlySendMiniProgramMsg (data) {
      var miniProgramMsg = JSON.parse(data)
      let objContent = {};
      (objContent.miniProgramName = miniProgramMsg.miniProgramName),
        (objContent.description = miniProgramMsg.description),
        (objContent.miniProgramId = miniProgramMsg.miniProgramId)
      objContent.miniProgramPath = miniProgramMsg.miniProgramPath
      if (!this.checkUpStatus()) return
      let options = this.getOptionsSendMsg({
        content: JSON.stringify(objContent),
        // content: {
        //     miniProgramName: miniProgramMsg.miniProgramName,
        //     description: miniProgramMsg.description,
        //     miniProgramId: miniProgramMsg.miniProgramId,
        //     miniProgramPath: miniProgramMsg.miniProgramPath,
        // },
        // miniProgramName: miniProgramMsg.miniProgramName,
        // description: miniProgramMsg.description,
        resourceUrl: miniProgramMsg.thumbPath,
        miniProgramId: miniProgramMsg.miniProgramId,
        miniProgramPath: miniProgramMsg.miniProgramPath,
        msgType: MESSAGE_SUB_TYPE.VMA_MINI_PROGRAM_ELEM
      })
      this.addNewMsgToView(options.msgData)
      this.handlerSendMsg(options)
    },
    // 直接发送图文链接
    directlySendImgtxtlinkMsg (linkdata) {
      var linkData = JSON.parse(linkdata)
      let objimgtxtContent = {};
      (objimgtxtContent.imgtxtDescribe = linkData.imgtxtDescribe),
        (objimgtxtContent.imgtxtLinking = linkData.imgtxtLinking),
        (objimgtxtContent.imgtxtTitle = linkData.imgtxtTitle)
      if (!this.checkUpStatus()) return
      let options = this.getOptionsSendMsg({
        // imgtxtDescribe: linkData.imgtxtDescribe,
        // imgtxtLinking: linkData.imgtxtLinking,
        // imgtxtTitle: linkData.imgtxtTitle,
        content: JSON.stringify(objimgtxtContent),
        msgType: MESSAGE_SUB_TYPE.VMA_IMGTXTLINK_ELEM,
        resourceUrl: linkData.imgtxtUrl
      })
      this.addNewMsgToView(options.msgData)
      this.handlerSendMsg(options)
    },
    /**
    * 向用户推荐商品
    */
    recommendGood (goodData) {
      if (!this.visible) return
      if (!this.checkUpStatus()) return
      this.directlySendTextMsg(
        `${goodData.goodsName}\r\n【售价】 ${goodData.goodsPrice}\r\n【下单链接】 ${goodData.transLink}`
      )
      setTimeout(() => {
        this.directlySendImageMsg(goodData.goodsUrl)
      }, 500)
    },
    /**
    * 发送我的收藏列表的消息
    * @return {[type]} [description]
    */
    sendFromCollection (collectedMsgData) {
      Logger.info('发送我的收藏列表的消息', collectedMsgData)
      if (!this.visible) return
      switch (collectedMsgData.msgType) {
        // 文本
        case 1:
          return this.directlySendTextMsg(collectedMsgData.msgText)
        // 图片
        case 2:
          return this.directlySendImageMsg(collectedMsgData.msgText)
        // 视频
        case 3:
          return this.directlySendVideoMsg(
            collectedMsgData.msgText,
            collectedMsgData.coverInfo
          )
        // 语音
        case 4:
          return this.directlySendRecordVoiceMessge(
            collectedMsgData.msgText,
            collectedMsgData.voiceLength
          )
        // 小程序
        case 5:
          return this.directlySendMiniProgramMsg(collectedMsgData.msgText)
      }
    },
    // 推送消息时
    onPushAssistantSendMsg (messageList, type, friendList, accountId) {
      let nowFriend = this.activeChatFriendInfo
      let nowAccountInfo = this.activeChatAccountInfo
      // 是否是当前好友
      if (
        !(
          nowAccountInfo &&
          nowFriend &&
          nowAccountInfo.id === accountId &&
          nowFriend.type === type
        )
      ) {
        return
      }
      let result = friendList.find((v) => {
        return v.wxId === nowFriend.wxId
      })
      if (!result) return
      let nickName = nowFriend.remark || nowFriend.nickName || nowFriend.wxId
      messageList.forEach((v) => {
        let options = this.getOptionsSendMsg(v)
        if (
          options.msgData.content &&
          typeof options.msgData.content === 'string'
        ) {
          options.msgData.content = v.content.replace(/\{nickname}/g, nickName)
        }
        // 加入聊天窗显示
        this.addNewMsgToView(options.msgData, true, false)
        this.afterSendMsgSuccess(options, accountId)
      })
      // 加入聊天窗显示
      // this.addNewMsgToView(options.msgData, false)
      // this.afterSendMsgSuccess(options, fromPersonalAccountId)
    },
    initBox () {
      this.getIdentifier()
      this.content = ''
      this.wechatExprssionShow = false
      this.newRedPacketShow = false
      this.transferCustomerPanelShow = false
      this.sendPastImgDialogShow = false
      // 取消录音
      this.$refs.recordVoice && this.$refs.recordVoice.cancelRecordeVoice()
    },
    /**
    * 微客服的im账号id
    * @return {[type]} [description]
    */
    getIdentifier () {
      if (this.imIdentifier) {
        return this.imIdentifier
      }
      this.imIdentifier = wechatInfoSession.getJSON().identifier
      return this.imIdentifier
    },
    /**
    * 更新敏感词列表
    */
    onNoticeRefreshSensitiveWords () {
      this.refreshSensitiveWords()
    },
    /**
    * 检查敏感词匹配结果
    * @param  {[type]} content [description]
    * @return {[type]}         [description]
    */
    getSensitiveWordsResult (content) {
      let warning = this.checkUpSensitiveWords(
        content,
        this.activeChatAccountInfo.imAccount,
        this.activeChatFriendInfo.type,
        this.activeChatFriendInfo.wxId
      )
      // 检查敏感词
      if (typeof warning === 'object' && warning.type === 'error') return false
      return true
    },
    // 重新发送消息
    resendFailMsg (msgData) {
      switch (msgData.msgType) {
        case MESSAGE_SUB_TYPE.VMA_TEXT_ELEM:
          this.directlySendTextMsg(msgData.content)
          break
        case MESSAGE_SUB_TYPE.VMA_SOUND_ELEM:
          this.directlySendRecordVoiceMessge(
            msgData.resourceUrl,
            msgData.content.soundLength
          )
          break
        case MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM:
          this.directlySendImageMsg(msgData.resourceUrl)
          break
        case MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM:
          this.directlySendVideoMsg(msgData.resourceUrl, msgData.videoImgUrl)
          break
        case MESSAGE_SUB_TYPE.VMA_FILE_ELEM:
          this.directlySendFileMsg(
            msgData.resourceUrl,
            msgData.content.fileName,
            msgData.content.fileSize,
            msgData.content.des
          )
          break
        case MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM:
          this.directlySendRedPacketMsg(msgData.resourceUrl)
          break
      }
    },
    // 群聊新成员入群
    onNoticeNewGroupMember (serverMsg) {
      if (!this.visible || !this.activeChatFriendInfo) return
      let isActive = this.whetherActiveFriend(
        serverMsg.notice.accountId,
        serverMsg.notice.friendWxId
      )
      isActive &&
        this.activeChatFriendInfo.type === SESSION_TYPE.GROUP &&
        this.$refs.chatMsgListBox.onNoticeNewGroupMember(serverMsg)
    },

    // 打开图文链接
    openImgTxtLinkDialog () {
      this.openLinkBox = true
    },
    // icon发送小程序
    wechatSend (wechatMsg) {
      if (!this.checkUpStatus()) return
      let options = this.getOptionsSendMsg({
        miniProgramName: wechatMsg.miniProgramName,
        description: wechatMsg.description,
        resourceUrl: wechatMsg.thumbPath,
        miniProgramId: wechatMsg.miniProgramId,
        msgType: MESSAGE_SUB_TYPE.VMA_MINI_PROGRAM_ELEM
      })
      this.addNewMsgToView(options.msgData)
      this.handlerSendMsg(options)
    },
    // icon发送图文链接
    linkSend (lingkMsg) {
      if (!this.checkUpStatus()) return
      let options = this.getOptionsSendMsg({
        imgtxtDescribe: lingkMsg.imgtxtDescribe,
        imgtxtLinking: lingkMsg.imgtxtLinking,
        resourceUrl: lingkMsg.imgtxtUrl,
        imgtxtTitle: lingkMsg.imgtxtTitle,
        msgType: MESSAGE_SUB_TYPE.VMA_IMGTXTLINK_ELEM
      })
      this.addNewMsgToView(options.msgData)
      this.handlerSendMsg(options)
    }
  }
}
</script>
<style>
#pwResP {
  max-width: 180px;
  min-width: 120px;
  /* margin-top: 3px; */
}

#pwResP .el-input-group__append {
  /* background-color: #fff; */
  padding: 0;
}

#pwResP .el-input-group__append .pwBtn {
  min-width: 20px;
  margin-left: 10px;
  padding: 0;
  padding-right: 10px;
}

#pwRes {
  /* width: 120px; */
  min-width: 100px;
  height: 30px;
}

#pwRes .el-input__inner {
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  font-size: 12px;
  float: left;
}
</style>
<style lang="scss">
.main-chat-box {
  .my-autocomplete {
    li {
      line-height: normal;
      padding: 7px;

      .name {
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .addr {
        font-size: 12px;
        color: #b4b4b4;
      }

      .highlighted .addr {
        color: #ddd;
      }
    }
  }
  .autocomplete {
    width: 100%;
    input {
      border: none;
      height: 60px;
    }
  }
  .el-autocomplete-suggestion {
    display: none;
    position: absolute;
    left: 0;
    bottom: -75px;
    width: 80% !important;
  }
  .el-autocomplete-suggestion li {
    word-wrap: break-word;
    white-space: normal;
  }
}
</style>
