<template>
  <div class="my-favorites">
    <div class="nav-menu-page-container">
      <div class="nav-menu-page-header">
        <span class="title">我的收藏</span>
        <i class="el-icon-close close" @click="closePage"></i>
      </div>
      <div class="nav-menu-page-content">
        <div v-if="tableData.length === 0" class="list-nothing">暂无收藏</div>
        <ul class="favorites-list" v-else>
          <li class="favorites-item" v-for="(item, index) in tableData" :key="item.id">
            <!-- 文本 -->
            <div class="item-content" v-if="item.msgType === 1">{{item.msgText}}</div>
            <!-- 图片 -->
            <div class="item-content" v-else-if="item.msgType === 2"><img :src="item.msgText" v-image-view></div>
            <!-- 视频 -->
            <div class="item-content" v-else-if="item.msgType === 3">
              <div class="video-preview" @click="showDialogVisibleVideo(item.msgText, item.coverInfo)">
                <video :src="item.msgText" :poster="item.coverInfo">您的浏览器不支持 video 标签
                </video>
                <div class="play-circle">
                  <div class="play"></div>
                </div>
              </div>
            </div>
            <!-- 语音 -->
            <div class="item-content" v-else-if="item.msgType === 4">
              {{item.voiceLength | soundLength(0)}}
              <div class="audio inline-b vm" @click="playAudio(item.createTime)">
                <img class="playing" :src="audioGif" v-if="playingAudioKey === item.createTime" />
                <div class="play" v-else></div>
                <audio :src="item.msgText" @ended="onAudioEnded(item.createTime)" :ref="'myAudio' + item.createTime"></audio>
              </div>
            </div>
            <div class="item-bottom">
              {{item.createTime | date('yyyy-MM-dd hh:mm')}}
              
              <el-button size="mini" class="send-btn fr" @click="hanlderSendCollectedMsg(index)">发送</el-button>
              <el-button plain size="mini" class="del-btn fr" @click="hanlderDeleteCollectedMsg(index, item.id)">删除</el-button>
            </div>
          </li>
        </ul>
      </div>
    </div>>
    <videoDialog v-if="videoDialogData.show" :data="videoDialogData" @on-close="closeDialogVideo"></videoDialog>
    <delDialog :delId='delId' v-if="delDialogData.show" @on-sucess-del='sucessDelFavorites' @on-close-frame = 'closeDelDialog'></delDialog>
  </div>
</template>

<script>
    import {
        customerServiceApi
    } from '@/api/chat'
    import audioGif from '@/assets/images/chat/audioPlaying.gif'
    import videoDialog from '@/components/packages/chat/home/videoDialog'
    import delDialog from '@/components/packages/chat/home/delDialog'
    import Logger from '@/utils/logger'

    export default {
        components: {
            videoDialog,
            delDialog
        },
        data() {
            return {
                audioGif,
                tableData: [],
                // 删除收藏框
                delId: null,
                delDialogData: {
                    show: false
                },
                videoDialogData: {
                    show: false,
                    url: null,
                    poster: null
                },
                // 播放中的audio
                playingAudioKey: null,
                lastSendTime: null,
            }
        },
        created() {
            this.getTableList()
                // 收藏消息后的刷新页面
            this.$onBus('refresh-favorite', (goodData) => {
                this.getTableList()
            })
        },
        methods: {
            closePage() {
                this.$emit('close-nav-page')
            },
            async getTableList() {
                //请求接口方法
                const data = await customerServiceApi.getAccountCollection()
                this.tableData = data
                Logger.info('tableData', data)
            },
            search() {
                this.getTableList()
            },
            //点击关闭删除我的收藏弹窗
            closeDelDialog() {
                this.delDialogData.show = false;
            },
            sucessDelFavorites() {
                // this.success('修改成功!')
            },
            //删除我的收藏
            async hanlderDeleteCollectedMsg(index, id) {
                // 点击的时候弹出提示框 并获取点击时的该条信息的id 调用删除接口  讲id传入确定删除即可
                this.delId = id;
                await this.$confirm('确定要删除该收藏消息？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                })
                await customerServiceApi.getDelCollectionId(id).then(res => {
                    // console.log(res, '-------------')
                });
                this.success('删除成功!')
                    // 更新收藏列表
                this.$emitBus('refresh-favorite')
            },
            hanlderSendCollectedMsg(index) {
                let timestamp = new Date().getTime()
                if (this.lastSendTime && (timestamp - this.lastSendTime < 500)) {
                    this.warn('短时间内过于频繁发送消息可能会导致消息发送失败!')
                }
                this.lastSendTime = timestamp
                    // this.$emit('send-collection-msg', this.tableData[index])
                this.$emitBus('send-collection-msg', this.tableData[index])
            },
            /**
             * 点击视频消息
             * @param  {[type]} url [description]
             * @return {[type]}     [description]
             */
            showDialogVisibleVideo(url, poster) {
                this.videoDialogData = {
                    show: true,
                    url: url,
                    poster: poster
                }
            },
            closeDialogVideo() {
                this.videoDialogData = {
                    show: false,
                    url: null,
                    poster: null
                }
            },
            /**
             * 播放音频
             */
            playAudio(createTime) {
                const audio = this.$refs['myAudio' + createTime][0]
                Logger.info('暂停音频', audio.ended, audio.paused)
                if (!(audio.ended || audio.paused)) {
                    Logger.info('stopPlayingAudio')
                    this.stopPlayingAudio(audio, createTime)
                    return
                }
                // 先暂停正在播放的
                if (this.playingAudioKey) {
                    this.stopPlayingAudio(this.$refs['myAudio' + this.playingAudioKey][0])
                }
                if (this.playingAudioKey) return
                Logger.info('播放音频', audio.ended, audio.paused)
                this.playingAudioKey = createTime
                audio.play()
            },
            stopPlayingAudio(audio) {
                audio.currentTime = 0
                audio.pause()
                this.playingAudioKey = null
            },
            /**
             * 音频播放结束事件
             * @return {[type]} [description]
             */
            onAudioEnded(id) {
                Logger.info('onAudioEnded')
                if (id !== this.playingAudioKey) return
                this.playingAudioKey = null
            }
        }
    }
</script>