<template>
  <div class="recommended-goods">
    <div class="nav-menu-page-container">
      <div class="nav-menu-page-header">
        <span class="title">商品推荐</span>
        <i class="el-icon-close close" @click="closePage"></i>
      </div>
      <div class="nav-menu-page-content wechat-custom-service">
        <div class="select-bar">
          <shopList class="select chat-select" v-model="params.shopId" placeholder="店铺"></shopList>
          <el-button type="primary" class="select-btn" @click="search">搜索</el-button>
        </div>
        <div class="search-bar pos-r">
          <el-input placeholder="请输入商品名称" v-model.trim="params.shopName" :maxlength="20"></el-input>
          <el-button type="info" icon="el-icon-search" plain class="abs" @click="search"></el-button>
        </div>
        <div v-if="total === 0" class="list-nothing">暂无数据</div>
        <ul class="goods-list" v-else>
          <li class="goods-item" v-for="(item, index) in tableData" :key="item.id">
            <img :src="item.goodsUrl | productAvtor" class="avator fl">
            <div class="item-main pos-r">
              <div class="title">{{item.goodsName}}</div>
              <div class="price">
                ¥ <span class="number">{{item.goodsPrice}}</span>
              </div>
              <el-button size="mini" class="pos-a recommend-btn" @click="hanlderRecommendGoods(index)">推荐</el-button>
            </div>
          </li>
          <el-pagination
            small
            layout="prev, pager, next"
            :current-page="params.current"
            :page-size="params.size"
            :total="total"
            @current-change="getTableList"
            class="mt-20 fr"
            v-if="total > 0">
          </el-pagination>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { commonApi } from '@/api/chat'
import { shopList } from '@/components/packages/system/lazySelect'

export default {
  components: {
    shopList
  },
  data() {
    return {
      tableData: [],
      total: 0,
      params: {
        current: 1,
        size: 10,
        shopName: null,
        shopId: null
      },
      lastSendTime: null
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    closePage() {
      this.$emit('close-nav-page')
    },
    async getTableList(page = 1, size = 10) {
      let params = Object.assign({}, this.params, {
        current: page,
        size
      })
      const data = await commonApi.getRecommendGoodsList(params)
      this.total = data.total
      this.tableData = data.records
    },
    search() {
      this.getTableList()
    },
    hanlderRecommendGoods(index) {
      let timestamp = new Date().getTime()
      if (this.lastSendTime && (timestamp - this.lastSendTime < 500)) {
        this.warn('短时间内过于频繁发送消息可能会导致消息发送失败!')
      }
      this.lastSendTime = timestamp
      this.$emitBus('recommend-good', this.tableData[index])
    }
  }
}
</script>
