<template>
  <div class="main-chat-box">
    <!-- <div>设置待办</div> -->
    <!-- <el-date-picker
      class="input-border-null"
      prefix-icon="el-icon-alarm-clock"
      v-model="param.setTodotime"
      type="datetime"
      placeholder="请写下你的待办事项"
    ></el-date-picker>-->
    <div class="setTodoAll">
      <el-input placeholder="请设置待办事项" class="setTodoInput" v-model="param.scheduleValue"></el-input>
      <div class="time" @click="alarmClock">
        <i class="el-icon-alarm-clock"></i>
        <el-date-picker id="clickMe" class="input-border-null alarmClock" prefix-icon="el-icon-alarm-clock" v-model="param.scheduleTime" type="datetime" placeholder="提醒我" :picker-options="pickerOptions0"></el-date-picker>
      </div>
      <div class="player" @click="setTodoPlayersOpen">
        <i class="el-icon-user"></i>
      </div>
      <el-input type="hidden" v-model="param.id" size="mini"></el-input>
      <el-button class="setTodoBtn" size="mini" type="primary" @click="sendForm" icon="el-icon-check" circle></el-button>
    </div>

    <div class="setTodoList">
      <el-checkbox-group v-model="checkList">
        <el-checkbox class="chenkboxClass" @change="finishStatus(unfinishSetTodo.id)" v-for="unfinishSetTodo in unfinishList" :label="unfinishSetTodo.id" :key="unfinishSetTodo.id">
          <div class="el-checkbox__label" @mousemove="updateXY" @contextmenu.prevent="showContextmenu(unfinishSetTodo)">
            <div class="rowsBreak">{{unfinishSetTodo.scheduleValue}}</div>
            <div class="remarkClass">
              <span>参与人：</span>
              <span class="rowsBreak">{{unfinishSetTodo.scheduleUser}}</span>
            </div>
            <div class="remarkClass">
              <span>提醒我：</span>
              <span>{{fmt.date(unfinishSetTodo.scheduleTime)}}</span>
            </div>
          </div>
        </el-checkbox>
      </el-checkbox-group>
    </div>

    <div class="setTodoFinish" @click="centerVisibleShow">
      显示已完成事项
      <i class="el-icon-arrow-down"></i>
    </div>
    <div class="setTodoList" v-if="centerVisible">
      <el-checkbox-group v-model="checkListFin">
        <el-checkbox class="chenkboxClass" @change="finishStatus(finishSetTodo.id)" v-for="finishSetTodo in finishList" :label="finishSetTodo.id" :key="finishSetTodo.id">
          <div class="el-checkbox__label" @mousemove="updateXY" @contextmenu.prevent="showContextmenu(finishSetTodo)">
            <div class="rowsBreak">{{finishSetTodo.scheduleValue}}</div>
            <div class="remarkClass">
              <span>参与人：</span>
              <span class="rowsBreak">{{finishSetTodo.scheduleUser}}</span>
            </div>
            <div class="remarkClass">
              <span>提醒我：</span>
              <span>{{fmt.date(finishSetTodo.scheduleTime)}}</span>
            </div>
          </div>
        </el-checkbox>

        <!-- <el-checkbox
              v-for="setThing in manyThings"
              :label="setThing"
              :key="setThing"
        >{{setThing}}</el-checkbox>-->
      </el-checkbox-group>
    </div>
    <!-- 弹框 -->
    <setTodoPlayers @set-players="setTodoData" v-if="setTodoPlayersDialog.show " :data="setTodoPlayersDialog.data" @on-close="setTodoPlayersDialogClose" @on-sucess="setTodoPlayersSucess"></setTodoPlayers>

    <!-- 右击弹窗 -->
    <contextmenu :data="contextmenu.data" v-model="contextmenu.show" @click-contextmenu="clickContextmenu"></contextmenu>
  </div>
</template>

<script>
// 引入右击编辑、删除组件
import contextmenu from '@/components/packages/chat/home/contextmenu'
import setTodoPlayers from './chatLeftSideAccountMainMenu/components/components/setTodoPlayers'
import { customerServiceApi } from '@/api/chat'
export default {
  // model: {
  //   prop: "visible",
  //   event: "model"
  // },
  props: {},
  components: {
    setTodoPlayers,
    contextmenu
  },

  data () {
    return {
      // 设置只能选择当前日期及之后的日期
      pickerOptions0: {
        disabledDate (time) {
          return time.getTime() < Date.now() - 8.64e7 // 如果没有后面的-8.64e7就是不可以选择今天的
        }
      },
      props: {
        // show: {
        //   type: Boolean,
        //   default: true
        // }
      },
      // 选中的待办项
      checkList: [],
      centerVisible: false,
      // 已完成选中的事项
      checkListFin: [],
      finishList: [],
      unfinishList: [],
      x: '',
      y: '',
      // 展示的待办项
      // manyThings: ["A", "B", "c"],
      // visible: {
      //   type: Boolean,
      //   default: true
      // },
      setTodoPlayersDialog: {
        show: false,
        data: ''
      },
      param: {
        id: '',
        scheduleValue: '',
        scheduleTime: '',
        wehcatUserIds: []
      },
      Status: {
        id: ''
      },
      //   右击菜单
      contextmenu: {
        show: false,
        data: null
      }
    }
  },
  created () {
    this.getSetTodoList()
  },
  methods: {
    // 打开设置时间
    alarmClock () {
      document.getElementById('clickMe').focus()
    },

    // 打开参与人的弹窗
    setTodoPlayersOpen () {
      this.setTodoPlayersDialog.show = true
      this.param.wehcatUserIds = []
    },
    // 关闭参与人弹窗
    setTodoPlayersDialogClose () {
      this.setTodoPlayersDialog.show = false
    },
    // 设置待办参与人成功
    setTodoPlayersSucess () { },
    setTodoData (setTodoData) {
      this.setTodoPlayersData = {
        // type: this.radioTargetType,
        list: setTodoData
      }
      let that = this
      this.setTodoPlayersData.list.forEach(function (v, i) {
        that.PlayersData = that.PlayersData + v.remark + ','
        that.param.wehcatUserIds.push(v.id)
      })
    },
    // 將未完成改為已完成
    async finishStatus (val) {
      this.Status.id = val
      // this.checkListFin = []
      await customerServiceApi.finishStatus(this.Status).then(data => {
        this.getSetTodoList()
      })
    },
    async sendForm () {
      if (
        this.param.scheduleValue == '' ||
        this.param.scheduleTime == '' ||
        this.param.wehcatUserIds.length <= 0
      ) {
        return this.warning('请输入待办事项')
      }
      //  this.param.scheduleTime =  new Date().getTime(this.param.scheduleTime)
      if (this.param.id) {
        await customerServiceApi.updateToDo(this.param).then(data => {
          this.onSendSuccess(data)
        })
      } else {
        await customerServiceApi.setTodo(this.param).then(data => {
          this.onSendSuccess(data)
        })
      }
    },
    onSendSuccess (data) {
      this.success('操作成功!');
      (this.param.scheduleValue = ''),
        (this.param.scheduleTime = ''),
        (this.param.wehcatUserIds = [])
      this.getSetTodoList()

      // this.$emit("on-sucess", data);
      // this.closeDialog();
    },

    // 获取待办项的列表
    async getSetTodoList () {
      this.checkList = []
      this.checkListFin = []
      await customerServiceApi.getSetTodoList().then(data => {
        this.finishList = data.finish
        this.unfinishList = data.unfinish
        let that = this
        this.finishList.forEach(function (v, i) {
          that.checkListFin.push(v.id)
        })
      })
    },
    // 切换显示已完成事项
    centerVisibleShow () {
      if (!this.centerVisible) {
        this.centerVisible = true
      } else if (this.centerVisible) {
        this.centerVisible = false
      }
    },
    // 获取鼠标停留位置
    updateXY (event) {
      this.x = event.clientX
      this.y = event.clientY
    },

    /**
     * 右击菜单
     */
    showContextmenu (val) {
      let contextmenuData = {
        axios: { x: null, y: null },
        menuList: [
          {
            btnName: '编辑',
            fnHandler: 'edit',
            data: {
              id: val.id,
              scheduleTime: val.scheduleTime,
              scheduleUser: val.scheduleUserId,
              scheduleValue: val.scheduleValue
            }
          },
          {
            btnName: '删除',
            fnHandler: 'delete',
            data: {
              id: val.id
            }
          }
        ]
      }

      contextmenuData.axios = { x: this.x, y: this.y }

      this.contextmenu = {
        show: true,
        data: contextmenuData
      }
    },
    /**
     * 点击右击菜单
     */
    clickContextmenu (index, menuData) {
      if (menuData.fnHandler === 'edit') {
        // 编辑待办(后端需要返回对应的用户id)
        this.param.id = menuData.data.id
        this.param.scheduleValue = menuData.data.scheduleValue
        this.param.scheduleTime = menuData.data.scheduleTime
        this.param.wehcatUserIds = menuData.data.scheduleUser
      } else if (menuData.fnHandler === 'delete') {
        this.deleteToDo(menuData.data)
      }
      this.contextmenu = {
        show: false,
        data: null
      }
    },
    async deleteToDo (val) {
      await customerServiceApi.deleteToDo(val).then(data => {
        this.getSetTodoList()
      })
    }
  }
}
</script>
<style lang="scss">
.setTodoAll {
  position: relative;
  width: 90%;

  .time {
    position: absolute;
    right: 34px;
    top: 10px;
    .alarmClock {
      position: absolute;
      bottom: 64px;
      right: 50px;
      width: 50px;
      // visibility: hidden;
      // display: none;
    }
  }
  .player {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .setTodoBtn {
    position: absolute;
    top: 6px;
    right: -35px;
  }
}
.setTodoList {
  padding: 20px 0;
  .remarkClass {
    font-size: 12px;
    color: #c0c4cc;
  }
}
.setTodoFinish {
  text-align: center;
}
.chenkboxClass {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;
}

.el-checkbox__label {
  width: 410px;
}
.main-chat-box {
  overflow: auto;
}
.el-input__inner {
  padding: 0 54px 0 15px;
}
.rowsBreak {
  word-wrap: break-word;
  word-break: normal;
  white-space: normal;
}
</style>
