<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down" :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="微信号/微信昵称/备注" class="ly-margin-right-bottom-sm" clearable v-model.trim="params.wechatUserRelatesInformation" :maxlength="100" @keyup.native.enter="queryCallback">
            <template slot="prepend">微信好友信息</template>
          </el-input>
          <el-input placeholder="微信号/微信昵称/手机号" class="ly-margin-right-bottom-sm" clearable v-model.trim="params.wechatAccountRelatesInformation" :maxlength="100" @keyup.native.enter="queryCallback">
            <template slot="prepend">所属个人号</template>
          </el-input>
          <!-- <personNumFriendGroups v-model="params.wxGroupInfoId"
                          placeholder="所属分组"></personNumFriendGroups> -->
          <setGroupCascader :placeholder="'请选择所属分组'" :groupId="null" :modify="0" :groupType="1" @getInitVal="getInitVal" class="ly-margin-right-bottom-sm ly-inline-block"></setGroupCascader>

          <!--
          <el-input placeholder="所属分组"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    v-model.trim="params.wxGroupInfoName"
                    :maxlength="100"
                    @keyup.native.enter="queryCallback">
          </el-input>
          -->
          <el-input placeholder="分配员工" class="ly-margin-right-bottom-sm" clearable v-model.trim="params.staffName" :maxlength="100" @keyup.native.enter="queryCallback">
          </el-input>
          <el-select clearable class="ly-margin-right-bottom-sm" style="width: 80px" v-model="params.sex" placeholder="性别">
            <el-option v-for="item in SELECT_SEX" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
          <el-select clearable v-model="params.isAllot" placeholder="分配状态" style="width: 100px" class="ly-margin-right-bottom-sm">
            <el-option v-for="item in SELECT_ALLOT" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
          <el-select clearable placeholder="好友来源" class="ly-margin-right-bottom-sm" style="width: 100px" v-model="params.resource">
            <el-option v-for="item in SELECT_FRIEND_SOURCE" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
          <!--部门级联已经调整-->
          <departmenTreeCascadert v-model="departmentId" filterable clearable placeholder="员工所在部门" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
          <el-date-picker v-model="searchDate" class="ly-margin-right-bottom-sm" type="daterange" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right" type="primary" size="medium" @click="queryCallback">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary" :disabled="hasDistribution?false:true" size="small" @click="showAssignStaffKeyDialog">一键分配</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%" max-height="500" row-key="id" @clearSelection="clearSelection" @selection-change="handleSelectionChange">
        <el-table-column type="selection" fixed reserve-selection :selectable="selectAble" width="55">
        </el-table-column>
        <el-table-column label="微信好友" fixed width="180">
          <template slot-scope="scope">
            <personalInfo :info="scope.row.wechatFreind" :secretFalse="scope.row.power?true:false"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column label="姓名">
          <template slot-scope="scope">
            <div>{{scope.row.realName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="性别">
          <template slot-scope="scope">
            <div>{{scope.row.sex==1?'男':''}}{{scope.row.sex==2?'女':''}}{{scope.row.sex==0?'未知':''}}</div>
          </template>
        </el-table-column>
        <el-table-column label="手机号" width="110">
          <template slot-scope="scope">
            <div v-if="scope.row.power === 1">{{scope.row.phone || '--'}}</div>
            <div v-else>{{scope.row.phone || mobileNumSecret}}</div>
          </template>
        </el-table-column>
        <el-table-column label="分配员工" class-name="ly-font-color-5" width="110">
          <template slot-scope="scope">
            <!-- <div v-if="scope.row.power === 1"> -->
            <div class="ly-font-color-5" v-if="scope.row.staffAccount|| scope.row.staffName">
              <div v-if="scope.row.distribution" @click="showAssignStaffDialog(1, scope.$index, scope.row)" class="ly-cursor-point">
                {{scope.row.staffAccount}}<span v-if="scope.row.staffName">({{scope.row.staffName}})</span>
              </div>
              <div v-else>
                {{scope.row.staffAccount}}<span v-if="scope.row.staffName">({{scope.row.staffName}})</span>
              </div>

            </div>
            <el-button type="primary" size="mini" v-else :disabled="scope.row.distribution?false:true" @click="showAssignStaffDialog(1, scope.$index, scope.row)">
              分配员工
            </el-button>
            <!-- </div> -->
            <!-- <div class="ly-font-color-2" v-else>
              <div  v-if="scope.row.staffAccount|| scope.row.staffName">
                {{scope.row.staffAccount}}<span v-if="scope.row.staffName">({{scope.row.staffName}})</span>
              </div>
              <p class="ly-font-color-2" v-else>分配员工</p> -->
            <!--<el-button type="primary"-->
            <!--size="mini"-->
            <!--disabled-->
            <!--v-else>-->
            <!--分配员工-->
            <!--</el-button>-->
            <!-- </div> -->
          </template>
        </el-table-column>
        <el-table-column label="员工所在部门" width="110">
          <template slot-scope="scope">
            <div>{{scope.row.departmentName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="所属个人号" min-width="220">
          <template slot-scope="scope">
            <personalInfos :info="scope.row.info"></personalInfos>
          </template>
        </el-table-column>
        <el-table-column label="好友标签" class-name="labelBtns">
          <template slot-scope="scope">
            <el-popover placement="top" popper-class="tip-green" trigger="hover" v-if="scope.row.userLabel.length > 2">
              <span class="ly-margin-bottom-5px ly-btn-success ly-margin-right-5px" v-for="(item, index) in scope.row.userLabel" :key="index" plain>{{item}}</span>
              <div slot="reference">
                <template v-for="(item, index) in scope.row.userLabel">
                  <div class="ly-text-center  ly-margin-bottom-5px ly-margin-right-5px" :key="index" v-if="index==1 || index ==0">
                    <span class="ly-btn-success">{{item}}</span>
                  </div>
                </template>
              </div>
            </el-popover>
            <div class="ly-text-center" v-else-if="scope.row.userLabel.length==1 || scope.row.userLabel.length==2">
              <template v-for="(item, index) in scope.row.userLabel">
                <div class="ly-text-center  ly-margin-bottom-5px" :key="index" v-if="index==1 || index ==0">
                  <span class="ly-btn-success">{{item}}</span>
                </div>
              </template>
            </div>
            <div class="ly-text-center" v-else>--</div>
          </template>
        </el-table-column>
        <el-table-column label="所属分组">
          <template slot-scope="scope">
            <div class="ly-cursor-point ly-font-color-5" v-if="scope.row.power === 1 && scope.row.isGroupPower === 1" @click="showSetGroupDialog(1, scope.$index, scope.row)">
              {{scope.row.wxGroupInfoName || '设置分组'}}
            </div>
            <div class="ly-font-color-2" v-else>{{scope.row.wxGroupInfoName || '设置分组'}}</div>
            <!--<el-button type="text"-->
            <!--size="small" @click="showSetGroupDialog(1, scope.$index, scope.row)">{{scope.row.wxGroupInfoName || '设置分组'}}</el-button>-->
          </template>
        </el-table-column>
        <el-table-column label="聊天查看" class-name="ly-text-center">
          <template slot-scope="scope">
            <p>
              <el-button type="text" size="small" @click="showCRFriendDialog(scope.$index, scope.row)">聊天记录</el-button>
            </p>
            <p class="ly-font-color-5"><i class="el-icon-download" @click="loadChatRechord(scope.$index, scope.row)" v-if="scope.row.exportFriend"></i></p>
          </template>
        </el-table-column>
        <el-table-column label="来源">
          <template slot-scope="scope">
            <div v-if="SELECT_FRIEND_SOURCE_KEY[scope.row.resource]">通过{{SELECT_FRIEND_SOURCE_KEY[scope.row.resource].label || '--'}}添加</div>
            <div v-else>未知</div>
          </template>
        </el-table-column>
        <!--<el-table-column prop="name"-->
        <!--label="是否被删除"-->
        <!--width="100">-->
        <!--<template slot-scope="scope">-->
        <!--<div>{{scope.row.status==0?'是':'否'}}</div>-->
        <!--</template>-->
        <!--</el-table-column>-->
        <el-table-column label="好友时间" min-width="200">
          <template slot-scope="scope">
            <div class="font-12">
              <p class=" ly-font-color-8">入库：</p>
              <p>{{scope.row.createTime | date}}{{scope.row.createTime?'':'--'}}</p>
            </div>
            <div class="font-12">
              <p class=" ly-font-color-8">通过：</p>
              <p>{{scope.row.acceptTime | date}}{{scope.row.acceptTime?'':'--'}}</p>
            </div>
            <div class="font-12">
              <p class=" ly-font-color-8">申请：</p>
              <p>{{scope.row.submitTime | date}}{{scope.row.submitTime?'':'--'}}</p>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="地区" min-width="100">
          <template slot-scope="scope">
            <div>{{scope.row.areaName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="备注">
          <template slot-scope="scope">
            <div>{{scope.row.remark || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="生日" min-width="110">
          <template slot-scope="scope">
            <div>{{scope.row.birthday | date('yyyy-MM-dd')}}</div>
          </template>
        </el-table-column>
        <el-table-column label="其他" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.otherInfo || '--'}}</div>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <div>
          <el-button type="primary" size="small" @click="assignStaffMore">批量分配员工</el-button>
          <el-button type="primary" size="small" :disabled="moreControl" @click="setGroupMore">批量分组</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="pageChange" />
      </div>
    </div>
    <!--分配员工弹窗-->
    <el-dialog title="分配员工" width="489px" :visible.sync="dialogAssignStaffInfo.show" v-if="dialogAssignStaffInfo.show" @close="closeAssignStaffDialog" append-to-body>
      <fListDialogAssignStaff :dialogProp="dialogAssignStaffInfo" @colseDialog="closeAssignStaffDialog" @removeChecked="removeChecked" @getTableList="getTableList"></fListDialogAssignStaff>
    </el-dialog>
    <!--一键分配员工弹窗-->
    <el-dialog title="一键分配" width="489px" :visible.sync="dialogAssignStaffInfoKey.show" v-if="dialogAssignStaffInfoKey.show" @close="closeAssignStaffKeyDialog" append-to-body>
      <fListGViewDialogAssignStaff :dialogProp="dialogAssignStaffInfoKey" @colseDialog="closeAssignStaffKeyDialog" @removeChecked="removeChecked" @getTableList="getTableList"></fListGViewDialogAssignStaff>
    </el-dialog>
    <!--设置分组弹窗-->
    <el-dialog title="选择好友分组" width="489px" :visible.sync="dialogSetGroupnfo.show" v-if="dialogSetGroupnfo.show" @close="closeSetGroupDialog" append-to-body>
      <fListDialogSetGroup :dialogProp="dialogSetGroupnfo" @colseDialog="closeSetGroupDialog" @removeChecked="removeChecked" @getTableList="getTableList"></fListDialogSetGroup>
    </el-dialog>
    <!--好友聊天弹窗-->
    <el-dialog class="dialog-chat-dialog" title="好友以及好友聊天记录" width="1160px" :visible.sync="chatRecordFriendDialog.show" v-if="chatRecordFriendDialog.id" @close="closeFriendsDialog" append-to-body>
      <chatRecordFriends :chatRecordInfo="chatRecordFriendDialog" @closeRecordFriendDialog="closeFriendsDialog"></chatRecordFriends>
    </el-dialog>
    <!--<chatRecordFriends :chatRecordInfo="chatRecordFriendDialog"-->
    <!--v-if="chatRecordFriendDialog.show"-->
    <!--@closeFriendsDialog="closeFriendsDialog"></chatRecordFriends>-->
    <!--下载聊天记录弹窗-->
    <el-dialog title="聊天记录导出" width="489px" :visible.sync="exportLogDialog.show" v-if="exportLogDialog.show" @close="closeExportLogDialog" append-to-body>
      <fListDialogExportLog :dialogProp="exportLogDialog" @closeDialog="closeExportLogDialog"></fListDialogExportLog>
    </el-dialog>
  </div>
</template>

<script>
import { SELECT_SEX, SELECT_ALLOT, SELECT_FRIEND_SOURCE, SELECT_FRIEND_SOURCE_KEY } from '@/constants/selects'
import { personalNumManageApi } from '@/api/system'
import { fListDialogAssignStaff, fListGViewDialogAssignStaff, fListDialogSetGroup, chatRecordFriends, fListDialogExportLog } from './components'
import {
  personNumFriendGroups
} from '@/components/packages/system/lazySelect'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
import personalInfo from '@/components/common/personalInfo'
import personalInfos from '@/components/common/personalInfos'
import { resourceMixin, tableMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
import setGroupCascader from '@/components/common/setGroupCascader'
import { currentMonthOne } from '@/utils'

export default {
  mixins: [resourceMixin, tableMixin],
  components: {
    departmenTreeCascadert,
    personNumFriendGroups,
    personalInfo,
    personalInfos,
    fListDialogAssignStaff,
    fListGViewDialogAssignStaff,
    fListDialogSetGroup,
    chatRecordFriends,
    fListDialogExportLog,
    setGroupCascader
  },
  data () {
    return {
      activeNames: ['1'],
      searchDate: '',
      SELECT_SEX: SELECT_SEX,
      SELECT_ALLOT: SELECT_ALLOT,
      SELECT_FRIEND_SOURCE: SELECT_FRIEND_SOURCE,
      SELECT_FRIEND_SOURCE_KEY,
      departmentId: [],
      params: {
        wechatUserRelatesInformation: '',
        wechatAccountRelatesInformation: '',
        sex: '',
        isAllot: '',
        staffName: '',
        departmentId: '',
        wxGroupInfoName: '',
        resource: '',
        timeBegin: '',
        timeEnd: ''
      },
      tableData: {},
      tableSelectArr: [],
      dialogAssignStaffInfo: {},
      dialogAssignStaffInfoKey: {},
      dialogSetGroupnfo: {},
      chatRecordFriendDialog: {},
      exportLogDialog: {},
      moreControl: false
    }
  },
  watch: {
    searchDate: function (val, oldVal) {
      val = val || []
      this.params.timeBegin = val[0] || ''
      this.params.timeEnd = val[1] || ''
    },
    departmentId: function (val, oldVal) {
      this.params.departmentId = val[val.length - 1] || ''
    }
  },
  computed: {
    // 是否拥有一键分配权限
    hasDistribution () {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.ONE_KEY_DISTRIBUTION)
    }
  },
  created () {
    let currentMonth = currentMonthOne()
    let currentDate = new Date()
    this.searchDate = [currentMonth.getTime(), currentDate.getTime()]
  },
  methods: {
    getInitVal (val) {
      this.params.wxGroupInfoId = val
    },
    /**
     * 获取微信好友列表
     */
    async requestTableList () {
      await personalNumManageApi.friendsListGetList(this.params).then((data) => {
        data.records = data.records || []
        data.records.forEach(o => {
          o.wechatFreind = {
            img: o.headIcon,
            id: o.wxId,
            name: o.nickName,
            mobile: o.wxAccount,
            row: o
          }
          o.info = {
            headIcon: o.wechatAccountHeadIcon,
            wxId: o.wechatAccountWxId,
            nickName: o.wechatAccountNickName,
            phone: o.wechatAccountPhone,
            account: o.wechatAccount,
            row: o
          }
        })
        this.tableData = data
      })
    },
    /**
     * 分配员工弹窗--显示
     */
    showAssignStaffDialog (type, index, data) {
      this.dialogAssignStaffInfo = this.setDialogInfoStaffOrGroup(type, data)
    },
    /**
     * 分配员工弹窗--关闭
     */
    closeAssignStaffDialog () {
      if (this.dialogAssignStaffInfo.typeVal === 2) {
        this.removeChecked()
      }
      this.dialogAssignStaffInfo = {}
    },
    /**
     * 分配员工--批量
     */
    assignStaffMore () {
      let state = this.checkTableCheckNum()
      if (state > 100) {
        return this.warning(`单次最多允许分配[100]个好友, 当前已选[${state}]个好友`)
      }
      if (state) {
        this.showAssignStaffDialog(2, '', this.tableSelectArr)
      }
    },
    /**
     * 一键分配--显示
     */
    showAssignStaffKeyDialog () {
      this.dialogAssignStaffInfoKey = {
        show: true,
        type: 1
      }
    },
    /**
     * 一键分配--关闭
     */
    closeAssignStaffKeyDialog () {
      this.dialogAssignStaffInfoKey = {}
    },
    /**
     * 设置分组弹窗--显示,增加staffIdVal是用于批量设置的时候分组的请求
     */
    showSetGroupDialog (type, index, data, staffId) {
      this.dialogSetGroupnfo = this.setDialogInfoStaffOrGroup(type, data, staffId)
    },
    /**
     * 设置分组弹窗--关闭
     */
    closeSetGroupDialog (index, data) {
      if (this.dialogSetGroupnfo.typeVal === 2) {
        this.removeChecked()
      }
      this.dialogSetGroupnfo = {}
    },
    /**
     * 设置分组--批量
     */
    setGroupMore () {
      let state = this.checkTableCheckNum()
      if (state) {
        let staffIdArr = this.checkStaffIDS(this.tableSelectArr)
        if (staffIdArr.length < 2) {
          let staffIdVal = staffIdArr[0] || ''
          this.showSetGroupDialog(2, '', this.tableSelectArr, staffIdVal)
        } else {
          this.warn('只能分配同一员工下的微信好友')
        }
      }
    },
    /**
     * 批量分组校验过滤
    */
    checkStaffIDS (arr) {
      var n = []
      for (var i = 0; i < arr.length; i++) {
        if (n.indexOf(arr[i].staffId) === -1) {
          if (arr[i].staffId) {
            n.push(arr[i].staffId)
          }
        }
      }
      return n
    },
    /**
     * 批量操作记录选择校验
     */
    checkTableCheckNum () {
      if (!this.tableSelectArr.length) {
        this.warn('请选择要设置的微信好友')
      }
      return this.tableSelectArr.length || false
    },
    /**
     * 设置分组或分配员工弹窗的初始化参数
     */
    setDialogInfoStaffOrGroup (type, data, staffId) {
      let ids = []
      let staffIdVal = null
      if (type === 1) {
        ids[0] = data.id
        staffIdVal = data.staffId
      } else {
        this.tableSelectArr.forEach(o => {
          ids.push(o.id)
        })
        staffIdVal = staffId
      }
      let dialogInfo = {
        typeVal: type,
        ids: ids,
        show: true,
        data: data,
        staffId: staffIdVal
      }
      return dialogInfo
    },
    /**
     * 查询
     */
    queryCallback () {
      this.getTableList(1)
    },
    /**
     * 表格左侧选择
     */
    handleSelectionChange (val) {
      let disabled = false
      this.tableSelectArr = val
      for (let i = 0; i < val.length; i++) {
        if (!(val[i].power === 1 && val[i].isGroupPower === 1)) {
          disabled = true
          break
        }
      }
      this.moreControl = disabled
    },
    /**
     * 表格左侧选择--清除
     */
    removeChecked () {
      this.clearSelection('multipleTable')
      this.moreControl = false
    },
    selectAble (row, index) {
      if (row.power === 1) {
        return true
      } else {
        return false
      }
    },
    /**
     * 显示好友聊天记录
     */
    showCRFriendDialog (index, data) {
      let chatRecordFriendDialog = {
        typeVal: 1,
        show: true,
        id: data.wechatAccountId,
        talkId: data.id,
        data: data
      }
      this.chatRecordFriendDialog = chatRecordFriendDialog
    },
    /**
     * 关闭好友聊天记录
     */
    closeFriendsDialog () {
      this.chatRecordFriendDialog = {}
    },
    /**
     * 下载聊天记录
     */
    loadChatRechord (index, data) {
      let exportLogDialog = {
        show: true,
        id: data.wechatAccountId,
        wxId: data.wxId,
        data: data
      }
      this.exportLogDialog = exportLogDialog
    },
    /**
     * 关闭下载聊天记录--弹窗
     */
    closeExportLogDialog () {
      this.exportLogDialog = {}
    },
    /**
     * 微信好友列表列表分页请求
     */
    pageChange (pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    }
  }
}
</script>
