<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down" :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model="params.title" @keyup.native.enter="getTableList(1)" :maxlength="100" placeholder="请输入群发名称" class="ly-margin-right-bottom-sm" clearable>
          </el-input>
          <el-input v-model="params.staffRelatesInformation" @keyup.native.enter="getTableList(1)" placeholder="请输入员工账号/姓名" :maxlength="100" class="ly-margin-right-bottom-sm" clearable>
          </el-input>
          <el-date-picker class="ly-margin-right-bottom-sm" type="daterange" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" v-model="searchDate" clearable>
          </el-date-picker>
          <el-button class="ly-float-right" type="primary" size="medium" @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%" row-key="id">
        <el-table-column label="群发内容名称">
          <template slot-scope="scope">
            {{scope.row.title || '--'}}
          </template>
        </el-table-column>
        <el-table-column label="群发好友/群数" align="center">
          <template slot-scope="scope">
            {{scope.row.userCount || 0}}
          </template>
        </el-table-column>
        <el-table-column label="消息数" align="center">
          <template slot-scope="scope">
            {{scope.row.msgCount || 0}}
          </template>
        </el-table-column>
        <el-table-column label="已发" align="center">
          <template slot-scope="scope">
            {{scope.row.successMsgCount || 0}}
          </template>
        </el-table-column>
        <el-table-column label="剩余未发" align="center">
          <template slot-scope="scope">
            {{scope.row.failMsgCount || 0}}
          </template>
        </el-table-column>
        <el-table-column label="创建员工" align="center">
          <template slot-scope="scope">
            {{scope.row.staffAccount}}({{scope.row.staffName}})
          </template>
        </el-table-column>
        <el-table-column label="消息内容" min-width="140">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
        </el-table-column>
        <!--新增 定时时间需求-->
        <!-- <el-table-column label='定时时间' align='center'>
            <template slot-scope='scope'>
            {{(scope.row.sendTime | date) || '暂无定时'}}
          </template>
        </el-table-column> -->

        <el-table-column label="创建时间" align="center">
          <template slot-scope="scope">
            {{scope.row.createTime | date}}
          </template>
        </el-table-column>
        <el-table-column prop="address" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="showDetailDialog(scope.$index, scope.row)">群发明细</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="getTableList" />
      </div>
    </div>
    <!--群发明细-->
    <vma-dialog v-model="detailDialog.open" title="群发明细">
      <gRecordsDetail :dialogProps="detailDialog"></gRecordsDetail>
    </vma-dialog>

  </div>
</template>
<script>
import {
  personalNumManageApi
} from '@/api/system'
import {
  tableMixin
} from '@/mixins'
import videoAudioImg from '@/components/common/videoAudioImg'
import {
  gRecordsDetail
} from './components'
export default {
  mixins: [tableMixin],
  components: {
    videoAudioImg,
    gRecordsDetail
  },
  data () {
    return {
      activeNames: ['1'],
      searchDate: '',
      params: {
        title: '',
        staffRelatesInformation: '',
        createTimeBegin: '',
        createTimeEnd: ''
      },
      tableData: {},
      detailDialog: {
        open: false
      }
    }
  },
  watch: {
    'searchDate' (val, oldVal) {
      val = val || []
      this.params.createTimeBegin = val[0] || ''
      this.params.createTimeEnd = val[1] || ''
    }
  },
  created () { },
  methods: {
    async requestTableList () {
      await personalNumManageApi.groupRecord(this.params).then((data) => {
        data.records.forEach(o => {
          o.msgSource = o.content
          o.msgType = o.type
          if (o.type === 4) {
            o.vedioImg = o.coverInfo
          }
        })
        this.tableData = data
      })
    },
    /**
     * 查询
     */
    queryCallback () {
      this.getTableList(1)
    },
    /**
     * 群发明细
     */
    showDetailDialog (index, data) {
      this.detailDialog = {
        open: true,
        data: data
      }
    }
  }
}
</script>
