<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="分组名称"
                    class="ly-margin-right-bottom-sm"
                    v-model.trim="params.groupName"
                    :maxlength="100"
                    @keyup.native.enter="queryCallback"
                    clearable>
          </el-input>
          <el-select clearable
                     style="width: 100px"
                     class="ly-margin-right-bottom-sm"
                     v-model="params.groupType"
                     placeholder="分组类型">
            <el-option v-for="item in PERSON_NUM_GROUP_TYPE"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-select clearable
                   v-model="params.groupLevel"
                   class="ly-margin-right-bottom-sm"
                   style="width: 100px"
                   placeholder="分组所属">
          <el-option v-for="item in PERSON_NUM_GROUP_OWER"
                     :key="item.value"
                     :label="item.label"
                     :disabled="item.disabled"
                     :value="item.value">
          </el-option>
        </el-select>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="queryCallback">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="showAddDialog">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="groupName"
                         label="分组名称">
        </el-table-column>
        <el-table-column prop="groupType"
                         label="分组类型">
          <template slot-scope="scope">
            {{groupType[scope.row.groupType]}}
          </template>
        </el-table-column>
        <el-table-column prop="groupType"
                         label="分组所属">
          <template slot-scope="scope">
            {{groupLevel[scope.row.groupLevel]}}
          </template>
        </el-table-column>
        <el-table-column prop="remark"
                         label="分组备注">
        </el-table-column>
        <el-table-column prop="groupType"
                         label="创建员工">
          <template slot-scope="scope">
            {{scope.row.loginAccount || '--'}}({{scope.row.realName}})
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="200">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="showModifyDialog(scope.$index, scope.row)">修改</el-button>
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small"
                       @click="showDeleteDialog(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="pageChange" />
      </div>
    </div>
    <!--新增弹窗-->
    <el-dialog title="新增分组"
               width="489px"
               :visible.sync="dialogAdd.show"
               v-if="dialogAdd.show"
               @close="hideAddDialog"
               append-to-body>
      <gManageDialogAdd :dialogProp="dialogAdd"
                        @closeDialog="hideAddDialog"
                        @getTableList="getTableList"
                        @refreshGetTableList="refreshGetTableList"></gManageDialogAdd>
    </el-dialog>
    <!--修改弹窗-->
    <el-dialog title="修改分组"
               width="489px"
               :visible.sync="dialogModify.show"
               v-if="dialogModify.show"
               @close="hideModifyDialog"
               append-to-body>
      <gManageDialogAdd :dialogProp="dialogModify"
                        @closeDialog="hideModifyDialog"
                        v-if="dialogModify.show"
                        @getTableList="getTableList"></gManageDialogAdd>
    </el-dialog>
    <!--删除弹窗-->
    <el-dialog width="489px"
               title="提示"
               :visible.sync="dialogDelete.show"
               v-if="dialogDelete.show"
               @close="hideDeleteDialog"
               append-to-body>
      <gManageDialogDelete :dialogProp="dialogDelete"
                           @closeDialog="hideDeleteDialog"
                           @getTableList="getTableList"></gManageDialogDelete>
    </el-dialog>
  </div>
</template>
<script>
import { personalNumManageApi } from '@/api/system'
import { gManageDialogAdd, gManageDialogDelete } from './components'
import { PERSON_NUM_GROUP_TYPE, PERSON_NUM_GROUP_OWER } from '@/constants/selects'
import { tableMixin } from '@/mixins'
export default {
  mixins: [tableMixin],
  components: { gManageDialogAdd, gManageDialogDelete },
  data() {
    return {
      PERSON_NUM_GROUP_TYPE: PERSON_NUM_GROUP_TYPE,
      PERSON_NUM_GROUP_OWER,
      activeNames: ['1'],
      params: {
        groupType: '',
        groupName: ''
      },
      tableData: {},
      dialogAdd: {},
      dialogModify: {},
      dialogDelete: {},
      groupType: {
        1: '好友分组',
        2: '群分组',
        3: '个人号分组'
      },
      groupLevel: {
        0: '个人分组',
        1: '公共分组',
        2: '部门分组'
      }
    }
  },
  created() {},
  methods: {
    /**
     * 分组管理列表--获取
     */
    async requestTableList() {
      await personalNumManageApi.groupManageList(this.params).then((data) => {
        this.tableData = data
      })
    },
    /**
     * 分组管理列表--查询
     */
    queryCallback() {
      this.getTableList(1)
    },
    /**
     * 分组管理列表--新增搜索条件并刷新
     */
    refreshGetTableList() {
      this.params.groupType = ''
      this.params.groupName = ''
      this.getTableList(1)
    },
    /**
     * 分组管理列表--分页请求
     */
    pageChange(pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    /**
     * 分组管理列表--新增弹窗显示
     */
    showAddDialog() {
      let addDialog = {
        show: true
      }
      this.dialogAdd = addDialog
    },
    /**
     * 分组管理列表--新增弹窗隐藏
     */
    hideAddDialog(index, data) {
      this.dialogAdd = {}
    },
    /**
     * 分组管理列表--修改弹窗显示
     */
    showModifyDialog(index, data) {
      let dialogModify = {
        show: true,
        data: data,
        id: data.id,
        remark: data.remark,
        groupName: data.groupName,
        groupType: data.groupType,
        groupLevel: data.groupLevel
      }
      this.dialogModify = dialogModify
    },
    /**
     * 分组管理列表--修改弹窗隐藏
     */
    hideModifyDialog(index, data) {
      this.dialogModify = {}
    },
    /**
     * 分组管理列表--删除弹窗显示
     */
    showDeleteDialog(index, data) {
      let dialogDelete = {
        show: true,
        id: data.id,
        groupTypeName: this.groupType[data.groupType]
      }
      this.dialogDelete = dialogDelete
    },
    /**
     * 分组管理列表--删除弹窗隐藏1
     */
    hideDeleteDialog(index, data) {
      this.dialogDelete = {}
    }
  }
}
</script>
