<template>
  <div class="ly-bg-white system-home-row ly-box">
    <FriendTotal v-if="dataScreen.nowUserNumTopBo" :data="dataScreen.nowUserNumTopBo || {}"></FriendTotal>
    <NewFriendNum v-if="dataScreen.yesterdayAddUserTopBo&&adminInfo.isAdmin" :data="dataScreen.yesterdayAddUserTopBo || {}"></NewFriendNum>
    <GroupNum v-if="dataScreen.nowGroupNumTopBo" :data="dataScreen.nowGroupNumTopBo || {}"></GroupNum>
    <CirclePublish v-if="dataScreen.yesterdayCiclePublishTopBo" :data="dataScreen.yesterdayCiclePublishTopBo || {}"></CirclePublish>
    <RedPacketNum v-if="dataScreen.redpageSendToBo" :data="dataScreen.redpageSendToBo || {}"></RedPacketNum>
    <RiskNum v-if="dataScreen.eqRiskToBo" :data="dataScreen.eqRiskToBo || {}"></RiskNum>
  </div>
</template>
<script>
import { homeApi } from '@/api/oms'
import FriendTotal from './components/friendTotal.vue'
import NewFriendNum from './components/newFriendNum.vue'
import GroupNum from './components/groupNum.vue'
import CirclePublish from './components/circlePublish.vue'
import RedPacketNum from './components/redPacketNum.vue'
import RiskNum from './components/riskNum.vue'
import {
  mapGetters
} from 'vuex'
export default {
  components: {
    FriendTotal,
    NewFriendNum,
    GroupNum,
    CirclePublish,
    RedPacketNum,
    RiskNum
  },
  computed: {
    ...mapGetters(['adminInfo'])
  },
  props: {
    data: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      // cardId:[],
      params:{
        enterpriseId:''
      },
      dataScreen: {} // 数据总览
    }
  },
  created() {
    this.getDataScreen()
  },
  methods: {
    getDataScreen(m ) {
     
      this.params.enterpriseId = m
     
      homeApi.getDataScreen(this.params ).then(data => {
        this.dataScreen = data
        this.cardId = []
      })
    }
  }
}
</script>
