<template>
  <el-button-group>
    <el-button v-for="item in list"
               :key="item.value"
               :type="item == selectedItem ? 'primary' : ''"
               style="width:80px; line-height:10px"
               @click="click(item)">{{item.label}}</el-button>
  </el-button-group>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      default() {
        // { label: '近7天', value: 7 }
        return []
      }
    }
  },
  data() {
    return {
      selectedItem: this.list[0]
    }
  },
  watch: {
    list(val) {
      if (!this.selectedItem) {
        this.selectedItem = val[0]
      }
    }
  },
  methods: {
    click(item) {
      this.selectedItem = item
      this.$emit('click', item)
    }
  }
}
</script>
