<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="红包ID">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="发送员工"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            lianghuan（梁欢）
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="发送时间"
                         width="200">
        </el-table-column>
        <el-table-column prop="name"
                         label="发送金额">
        </el-table-column>
        <el-table-column label="接收好友/群"
                         width="200">
          <template slot-scope="scope">
            <personalInfoGroup :info="scope.row"></personalInfoGroup>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="领取者"
                         width="200">
          <template slot-scope="scope">
            <personalInfoGroup :info="scope.row"></personalInfoGroup>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="领取金额">
        </el-table-column>
        <el-table-column prop="name"
                         label="领取时间">
        </el-table-column>
        <el-table-column prop="name"
                         label="红包标题">
        </el-table-column>
        <el-table-column prop="name"
                         label="红包模式">
        </el-table-column>
        <el-table-column prop="name"
                         label="购物订单号">
        </el-table-column>
        <el-table-column prop="name"
                         label="发送状态">
        </el-table-column>
        <el-table-column prop="name"
                         label="备注">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'
import personalInfoGroup from '@/components/common/personalInfoGroup'

export default {
  components: { collapse, personalInfoGroup },
  data() {
    return {
      activeNames: ['1'],
      params: {
        sendingStaff: true,
        groupName: true,
        redEnvelopeMode: true,
        sendOutDate: true,
        receiveDate: true
      },
      tableData: []
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    }
  }
}
</script>
