<template>
  <div class="system-home-cards">
    <el-tabs type="border-card">
      <el-tab-pane v-for="(n,i) in 10"
                   :key="i">
        <el-card slot="label"
                 class="box-card">
          <div slot="header"
               class="clearfix">
            <span>卡片名称</span>
            <i class="el-icon-refresh fr"></i>
          </div>
          <div v-for="o in 4"
               :key="o"
               class="card-item clearfix">
            <span class="card-item-1 fl">{{'列表内容 ' + o }}</span>
            <span class="card-item-2 fr">1234567</span>
          </div>
        </el-card>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>

export default {
  components: {
    // dialogTemp
  },
  data() {
    return {
    }
  },
  created() {
    console.log(13)
  }
}
</script>
