<template>
  <div class="dialog-chat-fiendslist">
    <ul v-if="friendsList.records && friendsList.records.length>0">
      <li v-for="(item, index) in friendsList.records" :key="item.id" :class="[(activeIndex == index && listType != 3) ? 'active':'']" @click="changeFriends(item, index)">
        <div class="friendslist-img">
          <img :src="item.headIcon | csAvtor" v-image-view/>
        </div>
        <div class="friendslist-info">
          <div class="chatname">
            <div v-if="item.nickName || item.groupName">
              <p class="ell" v-if="item.nickName">{{item.nickName}}<span v-if="listType === 3 && item.status === 0">(被踢出/主动退出)</span></p>
              <p class="ell" v-if="item.groupName">{{item.groupName}}</p>
            </div>
            <div v-else>--</div>
          </div>
          <p class="chatno">今日消息数:{{item.todayChatLogCount}}</p>
        </div>
      </li>
      <li v-if="(friendsList.records.length < friendsList.total)" class="ly-height-30px-im ly-text-center line-height-30 ly-bg-white" @click="loadMoreFriends">加载更多</li>
    </ul>
    <div class="ly-margin-top-20px ly-font-color-8 ly-text-center" v-else>暂时没有{{listType === 2 ? '群':'好友'}}列表</div>
  </div>
</template>

<script>
    import {
        MESSAGE_SUB_TYPE,
        NOTICE_TYPE,
        FOOTER_SWITCHS,
        SESSION_TYPE,
        IM_LOGIN_ERROR_CODE,
        MESSAGE_COUNT_TYPE
    } from "@/constants/chat";
    export default {
        props: {
            listType: {
                type: Number,
                default: function() {
                    return 1
                }
            },
            friendsList: {
                type: Object,
                default: function() {
                    return {}
                }
            }
        },
        data() {
            return {
                activeIndex: ''
            }
        },
        methods: {
            /**
             *  初始化activeIndex
             */
            resetActiveIndex() {
                this.activeIndex = 0
            },
            /**
             *  加载更多好友
             */
            loadMoreFriends() {
                if (this.listType === 3) {
                    this.$emit('loadMoreFriends', 'member')
                } else {
                    this.$emit('loadMoreFriends')
                }
            },
            /**
             *  切换好友好友
             */
            changeFriends(data, index) {
                if (this.listType === 3) {
                    return false
                }
                this.activeIndex = index
                this.$emit('changeFriends', data, index)
            }
        },
        created() {}
    }
</script>