<template>
  <!--<div>-->
    <!--<el-dialog title="微信群聊天记录" :visible.sync="chatRecordInfo.show" width="1192px" class="dialog-chat-dialog" @close="colseDialog">-->
  <div class="dialog-chat dialog-chat-group">
    <el-container>
      <el-aside width="240px">
        <div class="dialog-chat-search">
          <el-input placeholder="请输入群名称"
                    class="input-with-select"
                    size="small"
                    v-model="friendListParam.name"
                    :maxlength="100"
                    clearable>
            <el-button slot="append" icon="el-icon-search"  @click="searchFriendsList"></el-button>
          </el-input>
        </div>
        <!--群列表-->
        <chatRecordFriendsList ref="friendsListEle" :friendsList="chatRecordFriendsList" @loadMoreFriends="loadMoreFriends" @changeFriends="changeFriends" :listType="2"></chatRecordFriendsList>
      </el-aside>
      <el-container class="chatgroup-contain">
        <el-header height="71px">
          <!--搜索聊天记录-->
          <chatRecordSearch @searchRecord="searchRecord"  @upDateSearchInfo="updateSearchInfo" ref="searchRecordEle"></chatRecordSearch>
        </el-header>
        <el-main>
          <!--聊天记录-->
          <chatRecordList :recordType="'group'" :chatRecord="chatRecordList" @loadMoreRecord="loadMoreRecord" ref="chatRecordListEle"></chatRecordList>
        </el-main>
        <div class="chatroup-memberlist">
          <div class="dialog-chat-search">
            <el-input placeholder="输入成员昵称"
                      class="input-with-select"
                      size="small"
                      :maxlength="100"
                      v-model="groupFriendParam.name"
                      @keyup.native.enter="getGroupFriend(1)"
                      clearable>
              <el-button slot="append"
                         icon="el-icon-search"
                         @click="getGroupFriend(1)"></el-button>
            </el-input>
          </div>
          <div class="chatgroup-member-no">群成员（<span v-if="groupFriendList.records">{{groupFriendList.total}}</span>)</div>
          <!--群成员列表-->
          <chatRecordFriendsList :friendsList="groupFriendList" :listType="3" @loadMoreFriends="loadMoreFriends"></chatRecordFriendsList>
        </div>
      </el-container>
    </el-container>
  </div>
    <!--</el-dialog>-->
  <!--</div>-->
</template>

<script>
    import {
        personalNumManageApi
    } from '@/api/system'
    import chatRecordFriendsList from './chatRecordFriendsList.vue'
    import chatRecordSearch from './chatRecordSearch.vue'
    import chatRecordList from './chatRecordList.vue'
    export default {
        components: {
            chatRecordFriendsList,
            chatRecordSearch,
            chatRecordList
        },
        props: {
            chatRecordInfo: {
                type: Object,
                default: function() {
                    return {}
                }
            }
        },
        data() {
            return {
                friendSearch: '',
                chatRecoorddateval: '',
                chatRecordSearch: '',
                // 左侧群列表
                friendListParam: {
                    current: 1,
                    size: 20,
                    name: '',
                    id: '',
                    talkId: ''
                },
                chatRecordFriendsList: {},
                // 左侧群聊天记录
                friendRecordParam: {
                    current: 1,
                    size: 20,
                    wxId: '',
                    id: '',
                    message: '',
                    createTimeBegin: '',
                    createTimeEnd: ''
                },
                chatRecordList: {},
                // 右侧群成员
                groupFriendParam: {
                    id: '',
                    name: '',
                    current: 1,
                    size: 20
                },
                groupFriendList: {
                    records: [],
                    total: 0
                },
                noticeNumParam: {
                    id: '',
                    talkWxId: ''
                }
            }
        },
        methods: {
            /**
             *  获取好友聊天--群列表
             */
            async getFrindsList() {
                await personalNumManageApi.accountGroups(this.friendListParam).then(data => {
                    if (this.friendListParam.current === 1) {
                        this.chatRecordFriendsList = data
                            // 初始化好友第一个好友为选中状态
                        if (this.$refs.friendsListEle) {
                            this.$refs.friendsListEle.resetActiveIndex()
                        }
                        // 初始化聊天记录的搜索条件
                        this.resetSearchRecordsContent()
                            // 获取聊天记录
                        this.resetFriendRecordParam()
                        if (data.records.length) {
                            this.friendRecordParam.wxId = data.records[0].wxId
                            this.groupFriendParam.id = data.records[0].id
                            this.getFrindsRecord()
                            this.getGroupFriend()
                        } else {
                            this.chatRecordList = {}
                        }
                    } else {
                        data.records = this.chatRecordFriendsList.records.concat(data.records)
                        this.chatRecordFriendsList = data
                    }
                }, (data) => {
                    this.friendListParam.current -= 1
                    if (!data.response || data.response.status !== 500) {
                        this.$confirm(data.message + '是否重新请求', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.getFrindsList()
                        }).catch(() => {})
                    } else {
                        this.$notify({
                            title: '提示',
                            message: '请求好友列表失败',
                            type: 'warning'
                        })
                    }
                })
            },
            /**
             *  获取好友聊天--群列表--加载更多群
             */
            loadMoreFriends(type) {
                if (type === 'member') {
                    this.groupFriendParam.current += 1
                    this.getGroupFriend()
                } else {
                    this.friendListParam.current += 1
                    this.getFrindsList()
                }
            },
            /**
             *  搜索群
             */
            searchFriendsList() {
                this.friendListParam.current = 1
                this.resetGroupFreindSearch()
                this.getFrindsList()
            },
            /**
             *  获取群聊天--聊天记录
             */
            async getFrindsRecord() {
                await personalNumManageApi.accountGroupsLog(this.friendRecordParam).then(data => {
                    data.records.forEach(val => {
                        if (val.content && (val.msgType === 'VmaFileElem' || val.msgType === 'WxBusinessCardElem' || val.msgType === 'VmaSoundElem')) {
                            val.content = JSON.parse(val.content)
                        }
                    })
                    if (this.friendRecordParam.current === 1) {
                        this.chatRecordList = data
                    } else {
                        data.records = data.records.concat(this.chatRecordList.records)
                            // data.records = this.chatRecordList.records.concat(data.records)
                        this.chatRecordList = data
                    }
                }, (data) => {
                    this.friendRecordParam.current -= 1
                    if (!data.response || data.response.status !== 500) {
                        this.$confirm(data.message + '是否重新请求', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.getFrindsRecord()
                        }).catch(() => {})
                    } else {
                        this.$notify({
                            title: '提示',
                            message: '请求聊天记录失败',
                            type: 'warning'
                        })
                    }
                })
            },
            /**
             *  获取群聊天--聊天记录--加载更多聊天记录
             */
            loadMoreRecord() {
                this.friendRecordParam.current += 1
                this.getFrindsRecord()
            },
            /**
             *  切换群
             */
            changeFriends(data, index) {
                this.resetFriendRecordParam()
                this.resetSearchRecordsContent()
                this.chatRecordList = {}
                this.resetGroupFreindSearch()
                this.friendRecordParam.current = 1
                this.friendRecordParam.wxId = data.wxId
                this.getFrindsRecord()
                this.groupFriendParam.current = 1
                this.groupFriendParam.id = data.id
                this.getGroupFriend()
                this.noticeNumParam.talkWxId = data.wxId
                this.getLatestNoticeNum(data, index)
            },
            /**
             *  获取最新的消息数
             */
            async getLatestNoticeNum(data, index) {
                await personalNumManageApi.recordNoticeNum(this.noticeNumParam).then(data => {
                    this.chatRecordFriendsList.records[index].todayChatLogCount = data
                }, (data) => {
                    this.$confirm(data.message + '是否重新请求', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.getLatestNoticeNum(data, index)
                    }).catch(() => {})
                })
            },
            /**
             *  搜索聊天记录
             */
            searchRecord(val) {
                this.friendRecordParam = Object.assign(this.friendRecordParam, val)
                this.friendRecordParam.current = 1
                this.getFrindsRecord()
            },
            /**
             *  更新搜索条件
             */
            updateSearchInfo(val) {
                this.friendRecordParam = Object.assign(this.friendRecordParam, val)
            },
            /**
             *  重置聊天记录的参数
             */
            resetFriendRecordParam() {
                this.friendRecordParam.message = ''
                this.friendRecordParam.createTimeBegin = ''
                this.friendRecordParam.createTimeEnd = ''
                    // this.$refs.chatRecordListEle.scrollToTop()
            },
            /**
             *  重置聊天记录的搜索条件
             */
            resetSearchRecordsContent() {
                this.$refs.searchRecordEle.resetSearch()
            },
            colseDialog() {
                this.$emit('closeRecordGroupDialog')
            },
            /**
             *  群成员搜索重置
             */
            resetGroupFreindSearch() {
                this.groupFriendParam.name = ''
            },
            /**
             *  获取群成员
             */
            async getGroupFriend(current) {
                if (current) {
                    this.groupFriendParam.current = 1
                }
                await personalNumManageApi.accountGroupsFriends(this.groupFriendParam).then(data => {
                    let groupFriendList = {}
                    if (this.groupFriendParam.current === 1) {
                        groupFriendList.total = data.total
                        groupFriendList.records = data.records
                    } else {
                        groupFriendList.total = data.total
                        groupFriendList.records = this.groupFriendList.records.concat(data.records)
                    }
                    this.groupFriendList = groupFriendList
                }, (data) => {
                    this.groupFriendParam.current -= 1
                    if (!data.response || data.response.status !== 500) {
                        this.$confirm(data.message + '是否重新请求', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.getGroupFriend()
                        }).catch(() => {})
                    }
                })
            }
        },
        created() {
            this.friendListParam.talkId = this.chatRecordInfo.talkId || ''
            this.friendListParam.id = this.chatRecordInfo.id
            this.friendRecordParam.id = this.chatRecordInfo.id
            this.noticeNumParam.id = this.chatRecordInfo.id
            this.getFrindsList()
        }
    }
</script>