<template>
  <div class="dialog-chatcontent-search">
    <el-date-picker clearable
                    v-model="chatRecoorddateval"
                    type="daterange"
                    size="small"
                    format="yyyy-MM-dd"
                    range-separator="至"
                    value-format="timestamp"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    :default-time="['00:00:00', '23:59:59']">
    </el-date-picker>
    <el-input clearable
              placeholder="请输入聊天内容"
              class="input-with-select"
              size="small"
              v-model.trim="params.message"
              :maxlength="100"
              @keyup.native.enter="searchRecord">
      <el-button slot="append" icon="el-icon-search" @click="searchRecord"></el-button>
    </el-input>
  </div>
</template>
<script>
export default {
  props: [],
  data() {
    return {
      chatRecoorddateval: null,
      chatRecordSearch: '',
      params: {
        createTimeBegin: '',
        createTimeEnd: '',
        message: ''
      }
    }
  },
  watch: {
    chatRecoorddateval: function (val, oldVal) {
      val = val || []
      this.params.createTimeBegin = val[0] || ''
      this.params.createTimeEnd = val[1] || ''
      this.updateSearchInfo()
    },
    'params.message': function (val, oldVal) {
      this.updateSearchInfo()
    }
  },
  methods: {
    searchRecord() {
      this.$emit('searchRecord', this.params)
    },
    updateSearchInfo() {
      this.$emit('updateSearchInfo', this.params)
    },
    resetSearch() {
      this.chatRecoorddateval = null
      this.params.message = ''
    }
  },
  created() {}
}
</script>
