<template>
  <div>
    <ul class="chatcontent-record pwoer-chatcontent-record" v-if="chatRecord.records && chatRecord.records.length> 0" ref="chatRecordContainer">
      <li class="ly-text-center" v-if="chatRecord.records.length < chatRecord.total"><span class="ly-cursor-point" @click="loadMoreRecord">点击加载更早消息</span></li>
      <template v-for="(item, index) in chatRecord.records">
        <!-- 文字/表情/转账/微信端发的红包/共享位置  /小程序-->
        <li :class="item.isSelfSend === 0 ? '' : 'chatconent-record-right'" :id="'m' + item.createTime" :key="index" v-if="item && (item.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM || item.msgType === MESSAGE_SUB_TYPE.WX_LOCATION_ELEM || item.msgType === MESSAGE_SUB_TYPE.WX_TRANSFER_ELEM || (item.msgType === MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM && item.isSelfSend === 0) || item.msgType === MESSAGE_SUB_TYPE.WX_SHARE_LOCATION_ELEM || item.msgType === MESSAGE_SUB_TYPE.VMA_MINI_PROGRAM_ELEM || item.msgType === MESSAGE_SUB_TYPE.VMA_IMGTXTLINK_ELEM)">
          <div class="chatcontent-record-li">
            <div class="chatcontent-record-conent">
              <div class="chatcontent-record-userimg">
                <img :src="item.isSelfSend===1?item.staffHead:item.wxUserHead | csAvtor" v-image-view />
              </div>
              <p class="chatcontent-record-time">
                <span class="ly-inline-block ly-width-max-100px ell ly-vertical-top ly-padding-right-10px" v-if="recordType === 'group' && item.isSelfSend === 0">
                  {{item.wxUserName || ''}}
                </span>
                <span>{{item.createTime | date('MM-dd hh:mm:ss')}}</span>
              </p>
              <div class="chatcontent-record-detail">
                <!-- 撤回 -->
                <span class="chatcontent-label" v-if="item.isCancel===1"><i class="ly-icon-cancel"></i></span>
                <!-- 删除 -->
                <span class="chatcontent-label" v-else-if="item.isCancel===2"><i class="el-icon-close"></i></span>
                <span class="chatcontent-record-triggle"></span>
                <!-- 文字 -->
                <div class="ly-record-textsize" v-html="parseHTML($xss(item.content))" :id="'text' + item.createTime" v-if="item.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM"></div>
                <!-- 图文链接 -->
                <!-- <div class="ly-record-textsize" v-if="item.msgType === MESSAGE_SUB_TYPE.VMA_IMGTXTLINK_ELEM"> -->

                <!-- </div> -->
                <!-- 转账/共享位置/收到客户发送的红包  /小程序  -->
                <div v-else>
                  [不支持此消息，请在手机上查看]
                </div>
              </div>
              <!--<div class="ly-margin-56px ly-margin-top-3px ly-font-color-8 ly-font-12" v-if="item.staffId"><span class="ly-padding-right-3px"><i class="el-icon-mobile-phone" v-if="item.sendType === 2"></i><i class="el-icon-service" v-else></i></span>客服：{{item.staffName || '&#45;&#45;'}}({{item.staffRealName || '&#45;&#45;'}})</div>-->
              <div class="ly-margin-56px  ly-margin-top-3px ly-font-color-8 ly-font-12">
                <div v-if="item.staffId"><span class="ly-padding-right-3px"><i class="el-icon-mobile-phone" v-if="item.sendType === 2"></i><i class="el-icon-service" v-else></i></span>客服：{{item.staffName || item.talker_wx_id || '--'}}({{item.staffRealName || '--'}})</div>
                <div v-else>未分配员工</div>
              </div>
            </div>
          </div>
        </li>

        <!-- 图片/视频/音频/文件/撤回消息 -->
        <li :class="item.isSelfSend === 0? '' : 'chatconent-record-right'" :key="index" :id="'m' + item.createTime" v-else-if="item && (item.msgType === MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM || item.msgType === MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM || item.msgType === MESSAGE_SUB_TYPE.VMA_SOUND_ELEM || (item.msgType === MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM && item.isSelfSend === 1) || item.msgType === MESSAGE_SUB_TYPE.VMA_FILE_ELEM || item.msgType === MESSAGE_SUB_TYPE.WX_BUSINESS_CARD_ELEM)">
          <div class="chatcontent-record-li">
            <div class="chatcontent-record-conent">
              <div class="chatcontent-record-userimg">
                <img :src="item.isSelfSend===1?item.staffHead:item.wxUserHead | csAvtor" v-image-view />
              </div>
              <p class="chatcontent-record-time">
                <span class="ly-inline-block ly-width-max-100px ell ly-vertical-top ly-padding-right-10px" v-if="recordType === 'group' && item.isSelfSend === 0">
                  {{item.wxUserName || '--'}}
                </span>
                <span>{{item.createTime | date('MM-dd hh:mm:ss')}}</span>
              </p>
              <!-- 图片消息 -->
              <div class="chatcontent-record-detail chatcontent-record-img" v-if="item.msgType === MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM">
                <!-- 撤回 -->
                <span class="chatcontent-label" v-if="item.isCancel===1"><i class=" ly-icon-cancel"></i></span>
                <div><img :src="item.resourceUrl" v-image-view /></div>
                <div class="ly-font-12 ly-font-color-8 ly-padding-top-10px" v-if="!item.resourceUrl">无效图片</div>
              </div>
              <!-- 视频消息 -->
              <div class="chatcontent-record-detail chatcontent-record-video" :class="item.resourceUrl?'':'chatcontent-record-img'" v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM" @click="showDialogVisibleVideo(item.resourceUrl)">
                <!-- 撤回 -->
                <span class="chatcontent-label" v-if="item.isCancel===1"><i class=" ly-icon-cancel"></i></span>
                <div class="video-preview" :class="item.resourceUrl?'':'video-preview-fail'">
                  <video :src="item.resourceUrl">您的浏览器不支持 video 标签
                  </video>
                  <div class="play-circle">
                    <div class="play"></div>
                  </div>
                </div>
                <div class="ly-font-12 ly-font-color-8 ly-padding-top-10px" v-if="!item.resourceUrl">无效视频</div>
              </div>
              <!-- 音频消息 -->
              <div class="chatcontent-record-detail chatcontent-record-audio" v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_SOUND_ELEM">
                <!-- 撤回 -->
                <span class="chatcontent-label" v-if="item.isCancel===1"><i class=" ly-icon-cancel"></i></span>
                <div>
                  <!-- {{Math.ceil(item.content.soundLength / 1000)}}” -->
                  {{(item.content ? item.content.soundLength : '') | soundLength}}
                  <div class="audio inline-b ml-10" style="margin-top: -7px;" @click="playAudio(item.createTime, item)">
                    <img class="playing" :src="audioGif" v-if="playingAudioKey === item.createTime" />
                    <div class="play" v-else></div>
                    <audio :src="item.resourceUrl" @ended="onAudioEnded(item.createTime)" :ref="'audio' + item.createTime"></audio>
                  </div>
                </div>
                <div class="ly-font-12 ly-font-color-8 ly-padding-top-10px" v-if="!item.resourceUrl">无效音频</div>
              </div>
              <!-- 微客服生成红包的html -->
              <div class="chatcontent-record-detail chatcontent-record-img" v-else-if="item.msgType === MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM && item.customHtml">
                <!-- 撤回 -->
                <span class="chatcontent-label" v-if="item.isCancel===1"><i class=" ly-icon-cancel"></i></span>
                <div :id="'redPacket' + item.createTime">
                  <div class="chatcontent-record-red-packets">
                    <div class="packets-main">
                      <i class="icon icon-msg-red-packets red-packets-photo"></i>
                      <div class="qr-code"><img src="https://res.wx.qq.com/mpres/htmledition/images/mp_qrcode3a7b38.gif" /></div>
                      <div class="packets-info">
                        <div class="main-title ellipsis">恭喜发财，大吉大利</div>
                        <div class="subheading">扫码领红包</div>
                      </div>
                    </div>
                    <div class="packets-bottom">微信红包</div>
                  </div>
                </div>
              </div>
              <!-- 微客服发的红包消息 -->
              <div class="chatcontent-record-detail chatcontent-record-img-red-packets" v-else-if="item.msgType === MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM && !item.customHtml">
                <!-- 撤回 -->
                <span class="chatcontent-label" v-if="item.isCancel===1"><i class=" ly-icon-cancel"></i></span>
                <img :src="item.resourceUrl" v-image-view>
              </div>
              <!-- 文件消息 -->
              <div class="chatcontent-record-detail chatcontent-record-file" v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_FILE_ELEM">
                <!-- 撤回 -->
                <span class="chatcontent-label" v-if="item.isCancel===1"><i class=" ly-icon-cancel"></i></span>
                <div>
                  <div class="chat-file">
                    <div class="file-header">
                      <i class="icon icon-chat-record-file file-logo"></i>
                      <div class="file-name">{{item.content.fileName}}</div>
                      <div class="file-size mt-10">{{item.content.fileSize | fmtFileSize}}</div>
                    </div>
                    <div class="file-footer" @click="downFile(item)">下载</div>
                  </div>
                </div>
              </div>
              <!-- 微信分享名片消息 -->
              <div class="chatcontent-record-detail chatcontent-record-share-user-card" v-else-if="item.msgType === MESSAGE_SUB_TYPE.WX_BUSINESS_CARD_ELEM">
                <!-- 撤回 -->
                <span class="chatcontent-label" v-if="item.isCancel===1"><i class="ly-icon-cancel"></i></span>
                <div>
                  <div class="share-user-card">
                    <div class="card-header">
                      <img :src="item.content.headUrl" class="card-avator" v-image-view>
                      <div class="card-name">{{item.content.nickName}}</div>
                    </div>
                    <div class="card-footer">个人名片</div>
                  </div>
                </div>
              </div>
              <!-- 撤销消息 -->
              <!-- <div class="chatcontent-record-detail" @contextmenu.prevent="showContextmenu(item, index, $event)" v-else-if="item.msgType === 'VmaCancelElem'">
                <span class="chatcontent-label" v-if="item.msgSenderType === 1 && failMsgs[item.createTime]"><i class="el-icon-close"></i>
                </span>
                <span class="chatcontent-label" v-else-if="item.msgSenderType === 1 && sendingMsgs[item.createTime]"><i class="el-icon-loading"></i></span>
                <span class="chatcontent-label" v-else-if="cancelMsgs[item.wxMsgId]"></span>
                <div>{{item.msgSenderType === 1 ? '你' : '对方'}}撤回了一条消息</div>
              </div> -->
            </div>
            <div class="ly-margin-56px  ly-margin-top-3px ly-font-color-8 ly-font-12">
              <div v-if="item.staffId"><span class="ly-padding-right-3px"><i class="el-icon-mobile-phone" v-if="item.sendType === 2"></i><i class="el-icon-service" v-else></i></span>客服：{{item.staffName || item.talkerWxId || '--'}}({{item.staffRealName || '--'}})</div>
              <div v-else>未分配员工</div>
            </div>
          </div>
        </li>
        <!-- 系统消息  -->
        <li class="chatcontent-record-system" :key="index" v-else-if="item && (item.msgType === MESSAGE_SUB_TYPE.VMA_SYSTEM_ELEM || item.noticeType === NOTICE_TYPE.TRANSFER_FRIEND)">
          <div class="chatcontent-record-li">
            <p class="chatcontent-record-time">{{item.createTime | date('MM-dd hh:mm:ss')}}</p>
            <div class="chatcontent-record-conent ly-font-14">{{item.content}}</div>
          </div>
        </li>
      </template>
    </ul>
    <div class="ly-text-center line-height-30" v-else>暂时没有聊天记录</div>
    <el-dialog title="视频播放" :visible.sync="dialogVisibleVideo" append-to-body custom-class="chat-video-dialog" @close="closeDialogVisibleVideo" v-if="dialogVisibleVideo">
      <video :src="videoUrl" controls="">您的浏览器不支持 video 标签
      </video>
    </el-dialog>
  </div>
</template>

<script>
import {
  parseHTML
} from '@/components/libs/wechatExpression'
import audioGif from '@/assets/images/chat/audioPlaying.gif'
import {
  MESSAGE_SUB_TYPE
} from '@/constants/chat'
export default {
  props: {
    recordType: {
      type: String,
      default: function () {
        return null
      }
    },
    chatRecord: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  watch: {
    'chatRecord': function (val, oldVal) {
      this.$nextTick(() => {
        let newHeight = this.getLiElesHeight()
        let marginHeight = 0
        if (val.current === 1) {
          marginHeight = newHeight
        } else {
          marginHeight = newHeight - this.oldScrollHeight
        }
        if (this.$refs.chatRecordContainer) {
          this.$refs.chatRecordContainer.scrollTop = marginHeight
        }
      })
    }
  },
  filters: {
    jsonFileContent (val, type) {
      let jsonVal = JSON.parse(val)
      if (type === 'fileSize') {
        let value = jsonVal[type]
        if (value === null || value === '') {
          jsonVal[type] = '0 Bytes'
        }
        let unitArr = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
        let index = 0
        let srcsize = parseFloat(value)
        index = Math.floor(Math.log(srcsize) / Math.log(1024))
        let size = srcsize / Math.pow(1024, index)
        size = size.toFixed(2) // 保留的小数位数
        jsonVal[type] = size + unitArr[index]
      }
      return jsonVal[type] || ''
    }
  },
  data () {
    return {
      /*
                msgType: [
                  'VmaTextElem', // ：文本消息
                  'VmaSoundElem', // ：语音消息
                  'VmaImageElem', // ：图片消息
                  'VmaVideoElem', // ：视频消息
                  'VmaFileElem', // ：文件消息
                  'VmaSystemElem', // ：系统消息
                  'WxBusinessCardElem', // ：微信分享名片消息
                  'WxLocationElem', // ：微信位置消息
                  'WxTransferElem', // ：微信转账消息
                  'WxRedPacketElem', // ：微信红包消息
                  'WxShareLocationElem' // ：微信共享位置消息
                ],
                */
      MESSAGE_SUB_TYPE,
      dialogVisibleVideo: false,
      // 播放中的audio
      playingAudioKey: null,
      audioGif: audioGif,
      friendSearch: '',
      chatRecoorddateval: '',
      chatRecordSearch: '',
      chatRecordPage: {},
      oldScrollHeight: 0,
      TRANSFER_FRIEND: null
    }
  },
  methods: {
    /**
             * 下载文件
             * @param  {[type]} chatRecordItem 聊天记录数据
             */
    downFile (chatRecordItem) {
      if (chatRecordItem.resourceUrl) {
        window.open(chatRecordItem.resourceUrl)
      } else {
        this.$notify.error({
          title: '错误',
          message: '文件下载路径出错'
        })
      }
    },
    /**
             * 播放音频
             */
    playAudio (createTime, item) {
      if (item.resourceUrl) {
        const audio = this.$refs['audio' + createTime][0]
        if (!(audio.ended || audio.paused)) {
          this.stopPlayingAudio(audio, createTime)
          return
        }
        // 先暂停正在播放的
        if (this.playingAudioKey) {
          this.stopPlayingAudio(this.$refs['audio' + this.playingAudioKey][0])
        }
        if (this.playingAudioKey) return
        this.playingAudioKey = createTime
        audio.play()
      } else {
        this.$notify.error({
          title: '错误',
          message: '无效音频'
        })
      }
    },
    stopPlayingAudio (audio) {
      audio.currentTime = 0
      audio.pause()
      this.playingAudioKey = null
    },
    /**
             * 音频播放结束事件
             * @return {[type]} [description]
             */
    onAudioEnded (createTime) {
      if (createTime !== this.playingAudioKey) return
      this.playingAudioKey = null
    },
    parseHTML,
    /**
             * 点击视频消息
             * @param  {[type]} url [description]
             * @return {[type]}     [description]
             */
    showDialogVisibleVideo (url) {
      if (url) {
        this.dialogVisibleVideo = true
        this.videoUrl = url
      } else {
        this.$notify.error({
          title: '错误',
          message: '视频播放路径出错'
        })
      }
    },
    closeDialogVisibleVideo () {
      this.dialogVisibleVideo = false
      this.videoUrl = null
    },
    /**
             *  加载更多聊天记录
             */
    loadMoreRecord () {
      this.oldScrollHeight = this.getLiElesHeight()
      this.$emit('loadMoreRecord')
    },
    getLiElesHeight () {
      let height = 0
      if (this.$refs.chatRecordContainer) {
        let liArr = this.$refs.chatRecordContainer.querySelectorAll('li')
        liArr.forEach(o => {
          height += (o.offsetHeight + 10)
        })
      }
      return height
    }
  },
  created () {

  }
}
</script>

<style scoped>
.linkBox {
  width: 180px;
  background: rgba(243, 240, 240, 0.7);
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.linkBox-title {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  width: 100%;
  height: 40px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 300;
}

.linkBox-bottom {
  width: 100%;
  height: 50px;
}

.linkBox-bottom span {
  float: left;
  width: 60%;
  font-size: 10px;
  color: rgb(184, 184, 184);
  line-height: 20px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.linkBox-bottom img {
  float: right;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 2px;
}
</style>
