<template>
  <!--<div>-->
    <!--<el-dialog class="dialog-chat-dialog" title="好友以及好友聊天记录" :visible.sync="chatRecordInfo.show" width="1160px" @close="colseDialog">-->
  <div class="dialog-chat">
    <el-container v-if="chatRecordFriendsList">
      <el-aside width="240px">
        <!--搜索好友-->
        <div class="dialog-chat-search">
          <el-input placeholder="请输入好友信息"
                    class="input-with-select"
                    size="small"
                    clearable
                    v-model.trim="friendListParam.name"
                    :maxlength="100"
                    @keyup.native.enter="searchFriendsList">
            <el-button slot="append" icon="el-icon-search" @click="searchFriendsList"></el-button>
          </el-input>
        </div>
        <!--好友列表-->
        <chatRecordFriendsList ref="friendsListEle" :friendsList="chatRecordFriendsList" @loadMoreFriends="loadMoreFriends" @changeFriends="changeFriends"  :listType="1"></chatRecordFriendsList>
      </el-aside>
      <el-container>
        <el-header height="71px">
          <!--搜索聊天记录-->
          <chatRecordSearch @searchRecord="searchRecord" @upDateSearchInfo="updateSearchInfo" ref="searchRecordEle"></chatRecordSearch>
        </el-header>
        <el-main>
          <!--聊天记录-->
          <chatRecordList :chatRecord="chatRecordList" @loadMoreRecord="loadMoreRecord" ref="chatRecordListEle"></chatRecordList>
        </el-main>
      </el-container>
    </el-container>
  </div>
    <!--</el-dialog>-->
  <!--</div>-->
</template>

<script>
    import {
        MESSAGE_SUB_TYPE,
        NOTICE_TYPE,
        FOOTER_SWITCHS,
        SESSION_TYPE,
        IM_LOGIN_ERROR_CODE,
        MESSAGE_COUNT_TYPE
    } from "@/constants/chat";
    import {
        personalNumManageApi
    } from '@/api/system'
    import chatRecordFriendsList from './chatRecordFriendsList.vue'
    import chatRecordSearch from './chatRecordSearch.vue'
    import chatRecordList from './chatRecordList.vue'
    export default {
        components: {
            chatRecordFriendsList,
            chatRecordSearch,
            chatRecordList
        },
        props: {
            chatRecordInfo: {
                type: Object,
                default: function() {
                    return {}
                }
            }
        },
        data() {
            return {
                friendSearch: '',
                chatRecoorddateval: '',
                chatRecordSearch: '',
                // 左侧好友列表
                friendListParam: {
                    current: 1,
                    size: 20,
                    name: '',
                    id: '',
                    talkId: ''
                },
                chatRecordFriendsList: {},
                // 左侧好友聊天记录
                friendRecordParam: {
                    current: 1,
                    size: 20,
                    wxId: '',
                    id: '',
                    message: '',
                    createTimeBegin: '',
                    createTimeEnd: ''
                },
                chatRecordList: {},
                noticeNumParam: {
                    id: '',
                    talkWxId: ''
                }
            }
        },
        methods: {
            /**
             *  获取好友聊天--好友列表
             */
            async getFrindsList() {
                await personalNumManageApi.accountFriends(this.friendListParam).then(data => {
                    if (this.friendListParam.current === 1) {
                        this.chatRecordFriendsList = data
                            // 初始化好友第一个好友为选中状态
                        if (this.$refs.friendsListEle) {
                            this.$refs.friendsListEle.resetActiveIndex()
                        }
                        // 初始化聊天记录的搜索条件
                        this.resetSearchRecordsContent()
                            // 获取聊天记录
                        this.resetFriendRecordParam()
                        if (data.records.length) {
                            this.friendRecordParam.wxId = data.records[0].wxId
                            this.getFrindsRecord()
                        } else {
                            this.chatRecordList = {}
                        }
                    } else {
                        data.records = this.chatRecordFriendsList.records.concat(data.records)
                        this.chatRecordFriendsList = data
                    }
                }, (data) => {
                    this.friendListParam.current -= 1
                    if (!data.response || data.response.status !== 500) {
                        this.$confirm(data.message + '是否重新请求', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.getFrindsList()
                        }).catch(() => {})
                    } else {
                        this.$notify({
                            title: '提示',
                            message: '请求好友列表失败',
                            type: 'warning'
                        })
                    }
                })
            },
            /**
             *  获取好友聊天--好友列表--加载更多好友
             */
            loadMoreFriends() {
                this.friendListParam.current += 1
                this.getFrindsList()
            },
            /**
             *  搜索好友
             */
            searchFriendsList() {
                this.friendListParam.current = 1
                this.getFrindsList()
            },
            /**
             *  获取好友聊天--聊天记录
             */
            async getFrindsRecord() {
                await personalNumManageApi.accountFriendsLog(this.friendRecordParam).then(data => {
                    data.records.forEach(val => {
                        if (val.content && (val.msgType === 'VmaFileElem' || val.msgType === 'WxBusinessCardElem' || val.msgType === 'VmaSoundElem' || val.msgType === 'VmaMiniProgramElem')) {
                            val.content = JSON.parse(val.content)
                        }
                    })
                    if (this.friendRecordParam.current === 1) {
                        this.chatRecordList = data
                            // for (let i in this.chatRecordList) {}
                    } else {
                        data.records = data.records.concat(this.chatRecordList.records)

                        // data.records = this.chatRecordList.records.concat(data.records)
                        this.chatRecordList = data
                    }
                }, (data) => {
                    this.friendRecordParam.current -= 1
                    if (!data.response || data.response.status !== 500) {
                        this.$confirm(data.message + '是否重新请求', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.getFrindsRecord()
                        }).catch(() => {})
                    } else {
                        this.$notify({
                            title: '提示',
                            message: '请求聊天记录失败',
                            type: 'warning'
                        })
                    }
                })
            },
            /**
             *  获取好友聊天--聊天记录--加载更多聊天记录
             */
            loadMoreRecord() {
                this.friendRecordParam.current += 1
                this.getFrindsRecord()
            },
            /**
             *  切换好友
             */
            changeFriends(data, index) {
                this.resetFriendRecordParam()
                this.resetSearchRecordsContent()
                this.friendRecordParam.current = 1
                this.friendRecordParam.wxId = data.wxId
                this.noticeNumParam.talkWxId = data.wxId
                this.chatRecordList = {}
                this.getFrindsRecord()
                this.getLatestNoticeNum(data, index)
            },
            /**
             *  获取最新的消息数
             */
            async getLatestNoticeNum(data, index) {
                await personalNumManageApi.recordNoticeNum(this.noticeNumParam).then(data => {
                    this.chatRecordFriendsList.records[index].todayChatLogCount = data
                }, (data) => {
                    this.$confirm(data.message + '是否重新请求', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.getLatestNoticeNum(data, index)
                    }).catch(() => {})
                })
            },
            /**
             *  搜索列条记录
             */
            searchRecord(val) {
                this.friendRecordParam = Object.assign(this.friendRecordParam, val)
                this.friendRecordParam.current = 1
                this.getFrindsRecord()
            },
            /**
             *  更新搜索条件
             */
            updateSearchInfo(val) {
                this.friendRecordParam = Object.assign(this.friendRecordParam, val)
            },
            /**
             *  重置聊天记录的参数
             */
            resetFriendRecordParam() {
                this.friendRecordParam.message = ''
                this.friendRecordParam.createTimeBegin = ''
                this.friendRecordParam.createTimeEnd = ''
                    // this.$refs.chatRecordListEle.scrollToTop()
            },
            /**
             *  重置聊天记录的搜索条件
             */
            resetSearchRecordsContent() {
                this.$refs.searchRecordEle.resetSearch()
            },
            colseDialog() {
                this.$emit('closeRecordFriendDialog')
            }
        },
        created() {
            this.friendListParam.id = this.chatRecordInfo.id
            this.friendListParam.talkId = this.chatRecordInfo.talkId || ''
            this.friendRecordParam.id = this.chatRecordInfo.id
            this.noticeNumParam.id = this.chatRecordInfo.id
            this.getFrindsList()
        }
    }
</script>