.home {
  padding-bottom: rem(20px);
}
.system-home-row{
  padding:31px 0 29px;
  border:1px solid #DDD;
  .system-home-column{
    position: relative;
    text-align: center;
    // border-right:1px solid #DDD;
    &:after{
      content:'';
      position: absolute;
      height:rem(60px);
      width:1px;
      background: #DDD;
      top:50%;
      right:0;
      margin-top:rem(-30px); 
    }
    &:last-child{
      border-right:none;
    }
    .system-home-column-title{
      font-size: rem(16px);
      color:#959595;
    }
    .system-home-column-number{
      font-size: 28px;
      color:#151515;
    }
  }
}
.system-home-cards {
  margin-bottom: 20px;

  .el-tabs {
    border: none !important;

    .el-tabs__nav {
      line-height: 0;
    }

    .el-tabs__nav-prev,
    .el-tabs__nav-next {
      width: 20px;
      height: 100%;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      // background: black;
      // opacity: 0.5;

      // &:hover {
      //   background-color:rgba(0,0,0,0.15);
      //   // opacity: 0.5;
      //   color: #fff;
      // }
    }

    .el-tabs__item {
      height: auto !important;
      padding: 0 !important;
      line-height: 32px;
      margin: 0;

      &:not(:first-child) {
        margin-left: 20px;
      }

      &.is-active {
        // border-right-color: #fff;
        border: none;
      }

      .el-card {
        width: 300px;
        color: #858585;

        .el-card__header {
          padding: 5px 20px;

          span {
            border-left: 4px solid #2897FF;
            padding-left: 10px;
            font-size: 16px;
            color: #003E6C;
            font-weight: bold;
          }

          i {
            margin-top: 10px;

          }
        }

        .el-card__body {
          height: 128px;
          ;
        }

        .card-item {
          .card-item-2 {
            color: #3A4762;
          }

        }
      }
    }

    .el-tabs__content {
      display: none;
    }
  }
}

.system-home-container {
  background: #fff;
  padding: 0 20px 60px 20px;

  .el-tabs__content {
    padding-top: 20px;
  }

  .countPie {
    flex: 1;
    height: 500px;
    margin: 0 auto;
  }

  .map {
    flex: 1;
    height: 500px;
    margin: 0 auto;
  }

  .el-tabs__nav-wrap::after {
    background-color: #fff;
  }
}

.chome-hart {
  height: rem(350px);
  overflow: hidden;
}

.home-ins {
  float: left;
  margin: rem(50px) 0 0;

  .home-ins-item {
    width: rem(100px);
    padding: rem(4px) rem(20px);
    background: #F6F6F6;
    border-radius: rem(4px);
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rem(30px);
    }
  }

  h3 {
    font-size: rem(24px);
    color: #151515;

    em {
      font-size: rem(14px);
    }
  }

  p {
    font-size: rem(12px);
    color: #858585;
  }
}
.ly-button-width90px{
  width:90px;
}
.el-button-group{
  .ly-button-width90px{
    width:90px;
  }
}
// 首页改版
.home-page{
  .system-home-row{
    padding:rem(24px) 0;
  }
  .system-home-column-number{
    line-height: 52px;
  }
  .ly-font-16{
    font-size: rem(16px);
  }
  .ly-font-14{
    font-size: rem(14px);
  }
  .ly-vertical-line{
    border-left:rem(4px) solid #2897ff;
  }
  .graytip{
    font-size: rem(12px);
  }
  .ly-button-width90px{
    font-size: rem(14px);
  }
  .ly-padding-25-32px{
    padding:rem(25px) rem(32px);
  }
  .el-icon-caret-top{
    margin-left: rem(10px);
  }
  .el-icon-caret-bottom{
    margin-left: rem(10px);
  }
}
