.recharge-redpacket-pay {
  width: 140px;
  height: 44px;
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 6px;
}

.code-pay {

  .qrcode,
  #qrcode {
    img {
      margin: 0 auto;
    }
  }
}

.newgroupsent-grid-content {
  margin: 30px 0;

  &.newgroupsent-grid-content-box1 {
    border-right: 2px solid #dcdfe1;
    padding: 0 30px 0 10px;
  }

  &.newgroupsent-grid-content-box2 {
    padding: 0 10px 0 30px;
  }

  .ly-vertical-line {
    color: #003E6C;
    font-weight: 800;
  }
}

.newmicrojump-remark {
  color: #bbbcbe;
  margin: 30px 0 20px 0;
}

.micro-jump-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>div {
    margin-bottom: 30px;
  }
}

.show-picture-newedit-radios {
  .el-radio-group {
    .el-radio {
      display: block;
      line-height: 32px;
      margin-left: 0;

      &:nth-child(2) {
        margin: 10px 0;
      }

    }
  }
}
