<template>
  <el-form :model="dataInfo.data"
           ref="dataInfo"
           :rules="rules"
           label-width="100px"
           @submit.native.prevent>
    <el-form-item label="敏感行为:">
      <p>{{dataInfo.data.actionName}}</p>
    </el-form-item>
    <el-form-item label="发送邮件:">
      <el-checkbox v-model="dataInfo.data.mailOpen">发送邮件</el-checkbox>
    </el-form-item>
    <el-form-item label="邮件地址:"
                  prop="acceptMailAddress">
      <el-input v-model.trim="dataInfo.data.acceptMailAddress"
                autocomplete="off"
                placeholder="请填写邮件地址"
                clearable
                class="ly-width-280px-im"
                maxlength="36"></el-input>
    </el-form-item>
    <el-form-item label="发送短信:">
      <el-checkbox v-model="dataInfo.data.messageOpen">发送短信</el-checkbox>
    </el-form-item>
    <el-form-item label="手机号:"
                  prop="acceptMsgPhone">
      <el-input v-model.trim="dataInfo.data.acceptMsgPhone"
                autocomplete="off"
                placeholder="请填写手机号"
                clearable
                class="ly-width-280px-im"
                maxlength="36"></el-input>
      <p class="ly-font-color-4 ly-font-12">短信通知每天上限20条</p>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="validateCallback('dataInfo')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { emailValidator, mobileValidator } from '@/assets/js/validators'
import { riskManagementApi, commonApi } from '@/api/system'

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    var validateMailOpen = (rule, value, callback) => {
      if (this.dataInfo.data.mailOpen && !value) {
        callback(new Error('请输入邮件地址'))
      } else if (value) {
        emailValidator(rule, value, callback)
      } else {
        callback()
      }
    }
    var validateMessageOpen = (rule, value, callback) => {
      if (this.dataInfo.data.messageOpen && !value) {
        callback(new Error('请输入手机号'))
      } else if (value) {
        mobileValidator(rule, value, callback)
      } else {
        callback()
      }
    }
    return {
      rules: {
        acceptMailAddress: [
          { validator: validateMailOpen, trigger: 'blur' }
        ],
        acceptMsgPhone: [
          { validator: validateMessageOpen, trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    validateCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.sureCallback()
        } else {
          return false
        }
      })
    },
    // 编辑敏感通知
    async sureCallback() {
      this.dataInfo.data.mailOpen = +this.dataInfo.data.mailOpen
      this.dataInfo.data.messageOpen = +this.dataInfo.data.messageOpen
      await riskManagementApi.editNoticeConfig(this.dataInfo.data)
      await this.getgMessageLeft()
    },
    // 获取当前企业的剩余短信数量
    async getgMessageLeft() {
      let num = await commonApi.getgMessageLeft()
      if (num === 0) {
        this.error('您没有短信条数，请到【其他】-【财务管理】-【短信充值】里进行充值')
      }
      this.$emit('getTableList')
      this.dataInfo.open = false
    }
  }
}
</script>
