<template>
  <div class="maintain">
    <img src="@/assets/images/common/maintain@2x.png">
    <p>系统维护中......</p>
    <el-button type="info" icon="el-icon-refresh" size="small" round @click="forceRefresh">刷新一下</el-button>
  </div>
</template>
<script>
import {
  redirectToLoign
} from '@/router'
import { homeApi } from '@/api/common'

export default {
  name: 'maintain',
  data () {
    return {
      time: 5000,
      timer: null
    }
  },
  created () {
    this.timer = setInterval(() => {
      this.refresh()
    }, this.time)
  },
  destroyed () {
    if (this.timer) {
      clearInterval(this.timer)
    }
  },
  methods: {
    forceRefresh () {
      this.refresh().then(() => { }, error => {
        this.warning('维护尚未完成，请稍候')
        Promise.reject(error)
      })
    },
    refresh () {
      return homeApi.getCurrent(false).then(() => {
        redirectToLoign()
      }, error => {
        if (error.response && error.response.status) {
          redirectToLoign()
        } else {
          Promise.reject(error)
        }
      })
    }
  }
}
</script>
