<template>
  <div class="scrmp-side">
    <div class="scrmp-slide-ele" v-for="(item, index) in leftMenuArr" :key="item.title + index">
      <div class="scrmp-slide-label">
        <div class="scrmp-slide-icon"><img src="http://wx.qlogo.cn/mmhead/ver_1/iaiciaHtnzicxgq4dbwdN3uX562Cib2QH71JjPwlFJrRVrfXjdJDBt2V9sRa40Gx5rbrtEEj5PFJrIFmPXv7KMkbtJF58kt1a6FC6dDP8EBiaiaWWk/0"/></div>
        <div class="scrmp-slide-title ell">{{item.title}}</div>
      </div>
      <div class="scrmp-slide-ul" v-for="(itemSec, indexSec) in item.child" :key="itemSec.title + indexSec">
        <div class="scrmp-slide-li ell" :class="isInMenu(itemSec)?'active':''" @click="changeRoute(itemSec)">{{itemSec.title}}</div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex'
// import params from './meunList'
export default {
  data() {
    return {
      isCollapse: false,
      defaultActive: '1-1',
      params: []
    }
  },
  watch: {
    '$route': function(val, oldVal) {
      // this.checkTagList(val, true)
    }
  },
  computed: {
    ...mapGetters([
      'leftMenuArr'
    ])
  },
  methods: {
    ...mapMutations({
      updateNavTag: 'UPDATE_NAV_TAG'
    }),
    /**
     * 是否是当前选择的路由
     * */
    isInMenu(data) {
      let currentRoute = this.$route.name
      if (currentRoute === data.name) {
        return true
      } else {
        return false
      }
    },
    /**
     * 点击菜单
     * */
    changeRoute(data) {
      this.$router.push({name: data.name})
      this.updateNavTag(data.tagArr)
    }
  },
  created() {
  }
}
</script>
