<template>
  <div class="scrmp-nav">
    <div>
      <div class="ly-inline-block" v-for="(item, index) in navTagArr" :key="index">
        <span>{{item}}</span><i v-if="index < navTagArr.length -1">/</i>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters([
      'navTagArr'
    ])
  },
  methods: {
    routePush(item) {
      if (this.$route.name !== item.name) {
        this.updateTagList(item)
        this.$router.push({name: item.name})
      }
    },
    closeRoutePush(item) {
      let obj = {
        vm: this,
        item: item
      }
      this.deleteTagListOne(obj)
    },
    ...mapMutations({
      updateTagList: 'UPDATE_TAG_LIST',
      deleteTagListOne: 'DELETE_TAG_LIST_ONE'
    })
  },
  created() {
    // console.log(13)
  }
}
</script>
