<template>
  <el-form class="ly-padding-horizontal-sm"
           label-width="100px"
           :model="params"
           ref="params"
           :rules="rules"
           @submit.native.prevent>
    <el-form-item class="demo-dynamic"
                  label="增加工作群："
                  size="small"
                  prop="num">
      <div>
        <el-input v-model.trim="params.num"
                  clearable></el-input>个
      </div>
      <p class="ly-font-12">还可增加{{numInfo.left}}个</p>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('params')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { positiveIntegerValidator } from '@/assets/js/validators'
import { pmsBusinessApi } from '@/api/pms'
import { omsBusinessApi } from '@/api/oms'
let businessApi = null

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    const letterMax = (rule, value, callback) => {
      if (value > this.numInfo.left) {
        callback(new Error('当前工作群数不足！'))
      } else {
        positiveIntegerValidator(rule, value, callback)
      }
      callback()
    }
    return {
      params: {
        enterpriseId: null,
        num: ''
      },
      numInfo: {},
      rules: {
        num: [
          { required: true, message: '增加工作群个数不能为空' },
          { validator: letterMax }
        ]
      }
    }
  },
  created() {
    if (this.dialog.entry === 'pms') {
      businessApi = pmsBusinessApi
    } else {
      businessApi = omsBusinessApi
    }
    this.groupNum()
  },
  methods: {
    // 弹窗-确定
    sureCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.params.num = Number(this.params.num)
          this.params.enterpriseId = this.dialog.id
          businessApi.groupAdd(this.params).then(res => {
            this.success('恭喜你，新增成功')
            this.dialog.open = false
            this.$emit('getList', this.dialog.id)
          })
        } else {
          return false
        }
      })
    },
    // 可用工作群
    groupNum() {
      businessApi.groupNum().then(res => {
        this.numInfo = res
      })
    }
  }
}
</script>
<style>
.demo-dynamic .el-input {
  margin-right: 10px;
  width: 80%;
  vertical-align: top;
}
</style>
