<template>
  <el-form class="ly-padding-horizontal-sm"
           label-width="100px"
           :model="params"
           ref="params"
           :rules="rules"
           @submit.native.prevent>
    <el-form-item label="到期时间："
                  size="small"
                  prop="time">
      <el-date-picker v-model="params.time"
                      type="datetime"
                      value-format="timestamp"
                      placeholder="选择日期时间">
      </el-date-picker>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('params')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { pmsBusinessApi } from '@/api/pms'
import { omsBusinessApi } from '@/api/oms'
let businessApi = null

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    },
    time: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  created() {
    this.params.time = this.time
    if (this.dialog.entry === 'pms') {
      businessApi = pmsBusinessApi
    } else {
      businessApi = omsBusinessApi
    }
  },
  data() {
    return {
      params: {
        enterpriseId: null,
        time: null
      },
      rules: {
        time: [
          { required: true, message: '到期时间不能为空' }
        ]
      }
    }
  },
  methods: {
    // 弹窗-确定
    sureCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.params.id = this.dialog.id
          businessApi.enterAddTime(this.params).then(res => {
            this.success('恭喜你，操作成功')
            this.dialog.open = false
            this.$emit('getList', this.dialog.id)
          })
        } else {
          return false
        }
      })
    }
  }
}
</script>
