<template>
  <el-form class="ly-padding-horizontal-sm"
           label-width="100px"
           :model="params"
           ref="params"
           :rules="rules"
           @submit.native.prevent>
    <el-form-item label="重置密码："
                  size="small"
                  prop="password">
      <el-input v-model.trim="params.password"
                clearable></el-input>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('params')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { pmsBusinessApi } from '@/api/pms'
import { omsBusinessApi } from '@/api/oms'
import { passwordValidator } from '@/assets/js/validators'
let businessApi = null

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      params: {
        enterpriseId: null,
        password: ''
      },
      rules: {
        password: [
          { required: true, message: '重置密码不能为空' },
          { validator: passwordValidator }
        ]
      }
    }
  },
  created() {
    if (this.dialog.entry === 'pms') {
      businessApi = pmsBusinessApi
    } else {
      businessApi = omsBusinessApi
    }
  },
  methods: {
    // 弹窗-确定
    sureCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.params.enterpriseId = this.dialog.id
          businessApi.enterReset(this.params).then(res => {
            this.success('恭喜你，重置成功')
            this.dialog.open = false
          })
        } else {
          return false
        }
      })
    }
  }
}
</script>
