<template>
  <div class="scrmp">
    <div class="scrmp-bodys">
      <!--头部-->
      <main-header />
      <!--左侧-->
      <main-menu v-if="navTagArr.length" />
      <!--正文内容-->
      <div class="scrmp-content" :class="navTagArr.length>0?'':'active'">
        <!--导航-->
        <page-tags v-if="navTagArr.length" />
        <!--正文内容路由-->
        <div class="scrmp-body lyy-page-vmadialog">
          <div class="scrmp-container">
            <transition mode="out-in"
                        enter-active-class="fadeInRightBig"
                        leave-active-class="fadeOutRightBig">
              <router-view class="container animated" />
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import MainHeader from '@/components/packages/system/mainSystem/header.vue'
import MainMenu from '@/components/packages/system/mainSystem/menu.vue'
import PageTags from '@/components/packages/system/mainSystem/tags.vue'
import { mapGetters } from 'vuex'
import { setDocumentMixin } from '@/mixins'
export default {
  components: {
    MainHeader,
    MainMenu,
    PageTags
  },
  computed: {
    ...mapGetters([
      'navTagArr'
    ])
  },
  mixins: [setDocumentMixin]
}
</script>
<style scoped>
  .container{
    padding: 0;
  }
</style>
