<template>
  <div>
    <el-tabs type="border-card">
      <el-tab-pane label="设备管理 => 设备管理">
        <p>未完成：</p>
        <p>已完成：请使用安卓版工作手机客户端扫描、权限、app设置、联系人导入、删除，设置设备备注、设置设备分组</p>
      </el-tab-pane>
    </el-tabs>
    <!--设备管理 => 设备管理 => 请使用安卓版工作手机客户端扫描-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible1 = true">请使用安卓版工作手机客户端扫描</el-button>
      <el-dialog title="请使用安卓版工作手机客户端扫描" :visible.sync="dialogVisible1" width="489px">
        <el-form>
          <el-form-item label="套餐信息:" :label-width="formLabelWidth" class="ly-font-color-2">
            <p>总设备数：12</p>
            <p>剩余设备数：11</p>
            <p>最晚过期：2019-11-15</p>
            <p class="ly-margin-top-30px">
              <img class="ly-wh-200-200px" :src="backgroundImgurl"/>
            </p>
          </el-form-item>
        </el-form>
        <p class="ly-text-center ly-font-color-7">如果好友没有完全同步到后台，可以选择重新扫码同步好友</p>
      </el-dialog>
    </div>
    <!--设备管理 => 设备管理 => 权限-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible2 = true">权限</el-button>
      <el-dialog title="风控权限" :visible.sync="dialogVisible2" width="560px">
        <div class="ly-margin-center ly-width-400px">
          <p>mel：451d68dd174b5c66f7c84043ef2eeba4</p>
          <p>备注：11</p>
          <div class="ly-width-400px ly-mheight-50vh ly-bg-f6">
            <ul class="ly-padding-20px">
              <li class="ly-paddingtb-6px">
                <el-checkbox label="a" v-model="checkList" class="ly-checkbox-label">复选框复选框复选框复选框复选框复选框复选框复选框复选框复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 设备管理 => App设置-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible3 = true">App设置</el-button>
      <el-dialog title="App设置" :visible.sync="dialogVisible3" width="489px">
        <div class="ly-margin-center ly-width-400px">
          <p>mel：451d68dd174b5c66f7c84043ef2eeba4</p>
          <p>备注：11</p>
          <div class="ly-width-400px ly-mheight-50vh ly-bg-f6">
            <ul class="ly-padding-20px">
              <li class="ly-paddingtb-6px">
                <el-checkbox label="a" v-model="checkList" class="ly-checkbox-label">复选框复选框复选框复选框复选框复选框复选框复选框复选框复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
              <li class="ly-paddingtb-6px">
                <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
              </li>
            </ul>
          </div>
        </div>
        <div slot="footer" class="dialog-footer ly-text-left ly-paddingleft-26px">
          <el-button @click="dialogVisible3 = false">全不选</el-button>
          <el-button type="primary" @click="dialogVisible3 = false">全选</el-button>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 设备管理 => 删除-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible4 = true">删除</el-button>
      <el-dialog title="提示" :visible.sync="dialogVisible4" width="489px">
        <span>确定要删除该设备吗？</span>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible4 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible4 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 设备管理 => 联系人导入-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible5 = true">联系人导入</el-button>
      <el-dialog title="导入联系人" :visible.sync="dialogVisible5" width="560px">
        <div class="ly-margin-center ly-width-500px">
          <p>mel：451d68dd174b5c66f7c84043ef2eeba4</p>
          <p>备注：11</p>
          <div class="ly-margin-top-20px">
            <el-button type="primary" size="medium">下载导入模板（Excel）</el-button>
            <el-button type="success" size="medium" class="ly-float-right">上传数据</el-button>
          </div>
          <p>
            <el-input class="ly-margin-top-20px" type="textarea" :rows="6" placeholder="联系人姓名 联系人手机号 一行一个联系人，先写联系人姓名后写联系人手机号, 联系人姓名和手机号用一个逗号隔开"></el-input>
          </p>
          <p class="ly-margin-top-10px">
            <el-checkbox label="b" v-model="checkList" class="ly-checkbox-label">复选框 A</el-checkbox>
          </p>
          <p class="ly-margin-top-10px ly-font-color-7">提示：联系人姓名 联系人手机号 一行一个联系人，先写联系人姓名后写联系人手机号,联系人姓名和手机号用一个逗号隔开</p>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible5 = false">关 闭</el-button>
          <el-button type="primary" @click="dialogVisible5 = false">导 入</el-button>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 设备管理 => 设置设备备注-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible6 = true">设置设备备注</el-button>
      <el-dialog title="设置设备备注" :visible.sync="dialogVisible6" width="489px">
        <el-form :model="form">
          <el-form-item label="Imei:" :label-width="formLabelWidth">
            451d68dd174b5c66f7c84043ef2eeba4
          </el-form-item>
          <el-form-item label="设备备注:" :label-width="formLabelWidth" required>
            <el-input v-model="name" autocomplete="off" placeholder="设备备注" class="ly-width-280px-im"></el-input>
          </el-form-item>
          <el-form-item label="当前分配用户:" :label-width="formLabelWidth">
            yufanghufu()
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible6 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible6 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 设备管理 => 设置设备分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible7 = true">设置设备分组</el-button>
      <el-dialog title="设置设备分组" :visible.sync="dialogVisible7" width="489px">
        <el-form :model="form">
          <el-form-item label="设备IMEI:" :label-width="formLabelWidth">
            451d68dd174b5c66f7c84043ef2eeba4
          </el-form-item>
          <el-form-item label="设备备注:" :label-width="formLabelWidth" required>
            备注
          </el-form-item>
          <el-form-item label="设备分组:" :label-width="formLabelWidth">
            <el-select v-model="group" placeholder="请选择分组">
              <el-option label="分组1" value="group1"></el-option>
              <el-option label="分组2" value="group2"></el-option>
              <el-option label="分组3" value="group3"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible7 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible7 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="设备管理 => 设备分组">
        <p>未完成：</p>
        <p>已完成：新增分组、删除分组</p>
      </el-tab-pane>
    </el-tabs>
    <!--设备管理 => 设备分组 => 新增分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible8 = true">新增分组</el-button>
      <el-dialog title="新增分组" :visible.sync="dialogVisible8" width="489px">
        <el-form :model="form">
          <el-form-item label="设备名称:" :label-width="formLabelWidth" required>
            <el-input v-model="name" autocomplete="off" placeholder="设备备注" class="ly-width-280px-im"></el-input>
          </el-form-item>
          <el-form-item label="分组备注:" :label-width="formLabelWidth">
            <el-input type="textarea" :rows="5" v-model="remark"  class="ly-width-280px-im"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible8 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible8 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 设备分组 => 删除分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible9 = true">删除</el-button>
      <el-dialog title="提示" :visible.sync="dialogVisible9" width="489px">
        <span>确定删除该设备分组吗？</span>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible9 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible9 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="设备管理 => 快捷回复">
        <p>未完成：</p>
        <p>已完成：新增快捷回复分组、删除该快捷回复分组、删除选中的快捷语、新增快捷回复</p>
      </el-tab-pane>
    </el-tabs>
    <!--设备管理 => 快捷回复 => 新增快捷回复分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible10 = true">新增快捷回复分组</el-button>
      <el-dialog title="新增快捷回复分组" :visible.sync="dialogVisible10" width="489px">
        <el-form :model="form">
          <el-form-item label="分组名称:" :label-width="formLabelWidth" required>
            <el-input v-model="name" autocomplete="off" placeholder="分组名称" class="ly-width-280px-im"></el-input>
          </el-form-item>
          <el-form-item label="分组类型:" :label-width="formLabelWidth" required>
            <el-select v-model="group" placeholder="请选择分组类型" class="ly-width-280px-im">
              <el-option label="分组1" value="group1"></el-option>
              <el-option label="分组2" value="group2"></el-option>
              <el-option label="分组3" value="group3"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible10 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible10 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 快捷回复 => 删除快捷回复分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible11 = true">删除该快捷回复分组</el-button>
      <el-dialog title="提示" :visible.sync="dialogVisible11" width="489px">
        <span>确定要删除该快捷回复分组吗？</span>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible11 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible11 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 快捷回复 => 删除快捷语-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible12 = true">删除选中的快捷语</el-button>
      <el-dialog title="提示" :visible.sync="dialogVisible12" width="489px">
        <span>确定要删除选中的快捷语吗？</span>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible12 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible12 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 快捷回复 => 新增快捷回复-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible13 = true">新增快捷回复</el-button>
      <el-dialog title="新增快捷回复" :visible.sync="dialogVisible13" width="880px" class="dialogforminput-100">
        <el-form :model="form">
          <el-form-item label="标题:" :label-width="formLabelWidth" required>
            <el-input v-model="name" autocomplete="off" placeholder="请输入标题"></el-input>
          </el-form-item>
          <el-form-item label="消息类型:" :label-width="formLabelWidth" required>
            <el-select v-model="messageType" placeholder="请选择消息类型" @change="messageTypeChange">
              <el-option label="文本消息" value="txt"></el-option>
              <el-option label="图片消息" value="img"></el-option>
              <el-option label="语音消息" value="audio"></el-option>
              <el-option label="视频消息" value="video"></el-option>
            </el-select>
            <el-button type="primary" size="medium" v-if="messageType=='img'||messageType=='audio'||messageType=='video'"  @click="dialogMatterVisible = true">选择素材</el-button>
          </el-form-item>
          <el-form-item label="消息内容:" :label-width="formLabelWidth" required v-if="messageType">
            <template v-if="messageType=='txt'">
              <div><el-button type="text" size="mini" class="ly-font-color-4" @click="toggleWechatExpression">😊</el-button></div>
              <el-input type="textarea" :rows="5" v-model="content" style="width: 100%;"></el-input>
              <div v-show="wechatExprssionShow" class="ly-position-relative">
                <div>
                  <wechat-expression @choose="chooseExpress" />
                </div>
              </div>
            </template>
            <template v-if="messageType=='img'">
              <el-upload
                action="https://jsonplaceholder.typicode.com/posts/"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove">
                <i class="el-icon-plus"></i>
              </el-upload>
              <p class="colortip">注意：上传的图片如果和电脑上图片相对旋转了，请先在电脑上旋转一下角度再上传</p>
            </template>
            <template v-if="messageType=='audio'">
              <el-button size="medium" @click="audiotimeCount">{{audioBindText}}</el-button>
              <div class="uploadaudio-btn">
                <el-button type="success" size="medium">上传语音</el-button>
              </div>
              <div class="ly-box">
                <p class="colortip">
                  上传的语音素材必须通过该专用转换工具转换后上传<br />
                  目前只支持wav格式，语音大小不超过10MB<br />
                  语音文件大小超过60秒，微信发送会失败
                </p>
                <div class="uploadaudio">
                  <el-button type="primary"  size="medium">下载语音转换工具</el-button>
                </div>
              </div>

            </template>
            <template v-if="messageType=='video'">
              <el-upload
                action="https://jsonplaceholder.typicode.com/posts/"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove">
                <i class="el-icon-plus"></i>
              </el-upload>
              <p class="colortip">视频大小不超过180MB</p>
            </template>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible13 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible13 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--图片放大功能-->
    <div class="dialog-list">
      <el-dialog v-if="dialogImageVisible" title="图片预览" :visible.sync="dialogImageVisible" append-to-body>
        <img width="100%" :src="dialogImageUrl" alt="">
      </el-dialog>
    </div>
    <!--选择素材功能--开始-->
    <div class="dialog-list">
      <el-button type="primary" size="medium"  @click="dialogMatterVisible = true">选择素材</el-button>
      <el-dialog title="选择图片" :visible.sync="dialogMatterVisible" width="880px" class="checkmatter-container"  append-to-body>
        <el-container>
          <el-aside width="240px">
            <div class="asidetab">
              <el-radio-group  v-model="tabPosition" size="small">
                <el-radio-button label="common">公共素材</el-radio-button>
                <el-radio-button label="part">部门素材</el-radio-button>
              </el-radio-group>
            </div>
            <div class="matterslide">
              <ul v-show="tabPosition=='common'">
                <li class="ly-box">
                  <div  class="ly-box-1 active">公共素材1</div>
                  <div class="edit-del-icons">
                    <el-button type="text" icon="el-icon-edit"></el-button><el-button type="text" icon="el-icon-delete"></el-button>
                  </div>
                </li>
                <li class="ly-box">
                  <div  class="ly-box-1">公共素材2</div>
                  <div class="edit-del-icons">
                    <el-button type="text" icon="el-icon-edit"></el-button><el-button type="text" icon="el-icon-delete"></el-button>
                  </div>
                </li>
              </ul>
              <el-tree
                class="resource-tree"
                v-show="tabPosition=='part'"
                :data="data5"
                node-key="id"
                :expand-on-click-node="false">
                  <span class="custom-tree-node" slot-scope="{ node, data }">
                    <span class="custom-tree-text">{{ node.label }}</span>
                    <span class="custom-tree-btns">
                      <el-button type="text" size="mini" icon="el-icon-edit" @click="() => append(data)"></el-button>
                      <el-button type="text" size="mini" icon="el-icon-delete"  @click="() => remove(node, data)"></el-button>
                    </span>
                  </span>
              </el-tree>
              <!--<ul   v-show="tabPosition=='part'">-->
                <!--<li class="ly-box">-->
                  <!--<div  class="ly-box-1">部门素材1</div>-->
                  <!--<div class="edit-del-icons">-->
                    <!--<el-button type="text" icon="el-icon-edit"></el-button><el-button type="text" icon="el-icon-delete"></el-button>-->
                  <!--</div>-->
                <!--</li>-->
              <!--</ul>-->
            </div>
          </el-aside>
          <el-main>
            <el-form>
              <el-form-item class="matter-search">
                <el-input v-model="name" placeholder="输入标题搜索素材"></el-input>
                <el-button type="primary" size="medium">搜索</el-button>
              </el-form-item>
            </el-form>
            <div class="matterlists">
              <ul class="ly-box">
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="1">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="2">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="3">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="4">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="5">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="6">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="7">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="8">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="9">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="10">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="11">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
                <li>
                  <div class="matterlists-img" :style="{backgroundImage:'url(' + backgroundImgurl + ')'}"  :data-imgurl="backgroundImgurl" @click="previewImg($event)">
                  </div>
                  <div class="matterlists-radio">
                    <el-radio v-model="radio" label="12">标题标题标题标题标题标题标题标题标题</el-radio>
                  </div>
                </li>
              </ul>
            </div>
          </el-main>
        </el-container>
        <div slot="footer" class="dialog-footer">
          <div class="matterlists-pagination">
            <el-pagination
              background
              :current-page="1"
              :page-size="12"
              :page-sizes="[12]"
              layout="total, prev, pager, next, jumper"
              :total="600">
            </el-pagination>
          </div>
          <el-button @click="dialogMatterVisible = false">取 消</el-button>
          <el-button type="primary" @click="dialogMatterVisible = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--选择素材功能--结束-->
    <el-tabs type="border-card">
      <el-tab-pane label="设备管理 => 下属快捷回复">
        <p>未完成：</p>
        <p>已完成：删除</p>
      </el-tab-pane>
    </el-tabs>
    <!--设备管理 => 下属快捷回复 => 删除-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible14 = true">删除</el-button>
      <el-dialog title="提示" :visible.sync="dialogVisible14" width="489px">
        <span>确定要删除该快捷回复吗？</span>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible14 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible14 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="设备管理 => 全局自动回复">
        <p>未完成：</p>
        <p>已完成：新增/编辑消息、新增/编辑规则</p>
      </el-tab-pane>
    </el-tabs>
    <!--设备管理 => 全局自动回复 => 新增/编辑消息-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible15 = true">新增/编辑消息</el-button>
      <el-dialog title="新增/编辑消息" :visible.sync="dialogVisible15" width="880px" class="dialogforminput-100">
        <el-form :model="form">
          <el-form-item label="消息类型:" :label-width="formLabelWidth" required>
            <el-select v-model="messageType" placeholder="请选择消息类型" @change="messageTypeChange">
              <el-option label="文本消息" value="txt"></el-option>
              <el-option label="图片消息" value="img"></el-option>
              <el-option label="语音消息" value="audio"></el-option>
              <el-option label="视频消息" value="video"></el-option>
            </el-select>
            <el-button type="primary" size="medium" v-if="messageType=='img'||messageType=='audio'||messageType=='video'"  @click="dialogMatterVisible = true">选择素材</el-button>
          </el-form-item>
          <el-form-item label="消息内容:" :label-width="formLabelWidth" required v-if="messageType">
            <template v-if="messageType=='txt'">
              <p>表情</p>
              <el-input type="textarea" :rows="5" v-model="remark" style="width: 100%;"></el-input>
            </template>
            <template v-if="messageType=='img'">
              <el-upload
                action="https://jsonplaceholder.typicode.com/posts/"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove">
                <i class="el-icon-plus"></i>
              </el-upload>
              <p class="colortip">注意：上传的图片如果和电脑上图片相对旋转了，请先在电脑上旋转一下角度再上传</p>
            </template>
            <template v-if="messageType=='audio'">
              <el-button size="medium" @click="audiotimeCount">{{audioBindText}}</el-button>
              <div class="uploadaudio-btn">
                <el-button type="success" size="medium">上传语音</el-button>
              </div>
              <div class="ly-box">
                <p class="colortip">
                  上传的语音素材必须通过该专用转换工具转换后上传<br />
                  目前只支持wav格式，语音大小不超过10MB<br />
                  语音文件大小超过60秒，微信发送会失败
                </p>
                <div class="uploadaudio">
                  <el-button type="primary"  size="medium">下载语音转换工具</el-button>
                </div>
              </div>

            </template>
            <template v-if="messageType=='video'">
              <el-upload
                action="https://jsonplaceholder.typicode.com/posts/"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove">
                <i class="el-icon-plus"></i>
              </el-upload>
              <p class="colortip">视频大小不超过180MB</p>
            </template>
          </el-form-item>
          <el-form-item label="等待时间:" :label-width="formLabelWidth" required  v-if="messageType">
            <el-input-number v-model="num" :min="1" :max="10" label="描述文字" size="medium"></el-input-number> 秒
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible15 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible15 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <!--设备管理 => 全局自动回复 => 新增/编辑规则-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible16 = true">新增/编辑规则</el-button>
      <el-dialog title="新增/编辑规则" :visible.sync="dialogVisible16" width="880px"  class="dialogforminput-100">
        <el-form :model="form">
          <el-form-item label="规则:" :label-width="formLabelWidth">
            <el-radio v-model="radio" label="1">私有规则</el-radio>
            <el-radio v-model="radio" label="2">共有规则</el-radio>
          </el-form-item>
          <el-form-item label="匹配词:" :label-width="formLabelWidth">
            <el-input v-model="name" autocomplete="off" placeholder="请输入匹配词" class="ly-width-280px-im"></el-input>
          </el-form-item>
          <el-form-item label="匹配模式:" :label-width="formLabelWidth">
            <el-radio-group v-model="radio" size="medium">
              <el-radio-button label="1">包含所有词</el-radio-button>
              <el-radio-button label="2">包含任意词</el-radio-button>
              <el-radio-button label="3">和任意词完全相同</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="回复内容:" :label-width="formLabelWidth">
            <el-button type="primary" size="medium"  @click="dialogVisible15 = true">新增消息</el-button>
          </el-form-item>
        </el-form>
        <el-table
          :data="tableData"
          height="250"
          style="width: 715px;margin:0 auto;">
          <el-table-column
            prop="mesageType"
            label="消息类型"
            width="180">
          </el-table-column>
          <el-table-column
            prop="messageContent"
            label="消息内容"
            width="180">
          </el-table-column>
          <el-table-column
            prop="waitTime"
            label="等待时间（秒）">
          </el-table-column>
          <el-table-column
            label="操作">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
              <el-button
                size="mini"
                type="text"
                class="delbtn-text-color"
                @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible16 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible16 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <el-tabs type="border-card">
      <el-tab-pane label="设备管理 => 个人号自动回复">
        <p>未完成：</p>
        <p>已完成：设置自动回复、删除</p>
      </el-tab-pane>
    </el-tabs>
    <!--设备管理 => 个人号自动回复 => 设置自动回复-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible17 = true">设置自动回复</el-button>
      <el-dialog title="设置自动回复" class="dialog-timepick" :visible.sync="dialogVisible17" width="880px" >
        <el-form>
          <el-form-item label="时间段选择:" :label-width="formLabelWidth" required>
            <el-time-select
              placeholder="起始时间"
              v-model="startTime"
              :picker-options="{
              start: '00:00',
              step: '00:15',
              end: '24:00'
            }">
            </el-time-select>
            <el-time-select
              placeholder="结束时间"
              v-model="endTime"
              :picker-options="{
              start: '00:00',
              step: '00:15',
              end: '24:00'
            }">
            </el-time-select>
            <span>从00:00点到00:00点表示全天有效</span>
          </el-form-item>
        </el-form>
        <el-table
          :data="tableData"
          height="250"
          style="width: 100%;margin-top:20px;">
          <el-table-column
            prop="mesageType"
            label="消息类型">
          </el-table-column>
          <el-table-column
            prop="messageContent"
            label="消息内容">
          </el-table-column>
          <el-table-column
            label="操作"
            width="180">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
              <el-button
                size="mini"
                type="text"
                class="delbtn-text-color"
                @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="dialogVisible17 = false">添加消息</el-button>
          <el-button @click="dialogVisible17 = false">关 闭</el-button>
        </div>
      </el-dialog>
    </div>
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible21 = true">删除</el-button>
      <el-dialog title="提示" :visible.sync="dialogVisible21" width="489px"   append-to-body>
        <span>确定要删除该记录吗？</span>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible21 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible21 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="设备管理 => 素材管理">
        <p>未完成：</p>
        <p>已完成：新增素材分组、新增快捷回复分组、删除素材分组</p>
      </el-tab-pane>
    </el-tabs>
    <!--设备管理 => 素材管理 => 新增素材分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible18 = true">新增素材分组</el-button>
      <el-dialog title="新增素材分组" :visible.sync="dialogVisible18" width="489px">
        <el-form :model="form">
          <el-form-item label="分组名称:" :label-width="formLabelWidth" required>
            <el-input v-model="name" autocomplete="off" placeholder="请输入分组名称"></el-input>
          </el-form-item>
          <el-form-item label="分组类型:" :label-width="formLabelWidth" required>
            <el-select v-model="messageType" placeholder="请选择分组类型" @change="messageTypeChange">
              <el-option label="类型1" value="1"></el-option>
              <el-option label="类型1" value="2"></el-option>
              <el-option label="类型3" value="3"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible18 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible18 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 素材管理 => 新增快捷回复分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible18 = true">新增快捷回复分组</el-button>
      <el-dialog title="新增快捷回复分组" :visible.sync="dialogVisible18" width="489px">
        <el-form :model="form">
          <el-form-item label="分组名称:" :label-width="formLabelWidth" required>
            <el-input v-model="name" autocomplete="off" placeholder="请输入分组名称" class="ly-width-280px-im"></el-input>
          </el-form-item>
          <el-form-item label="分组类型:" :label-width="formLabelWidth" required>
            <el-select v-model="messageType" placeholder="请选择分组类型"  class="ly-width-280px-im" @change="messageTypeChange">
              <el-option label="类型1" value="1"></el-option>
              <el-option label="类型1" value="2"></el-option>
              <el-option label="类型3" value="3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="部门:" :label-width="formLabelWidth" required>
            <el-select v-model="messageType" placeholder="请选择分组类型"  class="ly-width-280px-im" @change="messageTypeChange">
              <el-option label="部门1" value="1"></el-option>
              <el-option label="部门2" value="2"></el-option>
              <el-option label="部门3" value="3"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible18 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible18 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 素材管理 => 删除素材分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible19 = true">删除</el-button>
      <el-dialog title="提示" :visible.sync="dialogVisible19" width="489px">
        <span>确定要删除该素材分组吗？</span>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible19 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible19 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--设备管理 => 素材管理 => 新增素材-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible20 = true">新增素材</el-button>
      <el-dialog title="新增素材" :visible.sync="dialogVisible20" width="880px" class="dialogforminput-100">
        <el-form :model="form">
          <el-form-item label="标题:" :label-width="formLabelWidth" required>
            <el-input v-model="name" autocomplete="off" placeholder="请输入标题"></el-input>
          </el-form-item>
          <el-form-item label="类型:" :label-width="formLabelWidth" required>
            <el-select v-model="messageType" placeholder="请选择消息类型" @change="messageTypeChange">
              <el-option label="文本消息" value="txt"></el-option>
              <el-option label="图片消息" value="img"></el-option>
              <el-option label="语音消息" value="audio"></el-option>
              <el-option label="视频消息" value="video"></el-option>
            </el-select>
            <el-button type="primary" size="medium" v-if="messageType=='img'||messageType=='audio'||messageType=='video'"  @click="dialogMatterVisible = true">选择素材</el-button>
          </el-form-item>
          <el-form-item label="消息内容:" :label-width="formLabelWidth" required v-if="messageType">
            <template v-if="messageType=='txt'">
              <p>表情</p>
              <el-input type="textarea" :rows="5" v-model="remark" style="width: 100%;"></el-input>
            </template>
            <template v-if="messageType=='img'">
              <el-upload
                action="https://jsonplaceholder.typicode.com/posts/"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove">
                <i class="el-icon-plus"></i>
              </el-upload>
              <p class="colortip">注意：上传的图片如果和电脑上图片相对旋转了，请先在电脑上旋转一下角度再上传</p>
            </template>
            <template v-if="messageType=='audio'">
              <el-button size="medium" @click="audiotimeCount">{{audioBindText}}</el-button>
              <div class="uploadaudio-btn">
                <el-button type="success" size="medium">上传语音</el-button>
              </div>
              <div class="ly-box">
                <p class="colortip">
                  上传的语音素材必须通过该专用转换工具转换后上传<br />
                  目前只支持wav格式，语音大小不超过10MB<br />
                  语音文件大小超过60秒，微信发送会失败
                </p>
                <div class="uploadaudio">
                  <el-button type="primary"  size="medium">下载语音转换工具</el-button>
                </div>
              </div>

            </template>
            <template v-if="messageType=='video'">
              <el-upload
                action="https://jsonplaceholder.typicode.com/posts/"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove">
                <i class="el-icon-plus"></i>
              </el-upload>
              <p class="colortip">视频大小不超过180MB</p>
            </template>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible20 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible20 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <br />
    <br />
  </div>
</template>
<script>
import { WechatExpression, parseHTML } from '@/components/libs/wechatExpression'
export default {
  components: {
    WechatExpression
  },
  data() {
    return {
      wechatExprssionShow: false,
      content: '',
      checkList: ['a', 'b'],
      // 设备管理 => 设备管理 => 修改微信备注
      formLabelWidth: '136px',
      form: {},
      remark: '',
      name: '',
      group: '',
      radio: '1',
      num: 2,
      data5: [{
        id: 1,
        label: '一级一级一级一级一级 1',
        children: [{
          id: 4,
          label: '二级一级一级一级一级 1-1',
          children: [{
            id: 9,
            label: '三级一级一级一级一级 1-1-1'
          }, {
            id: 10,
            label: '三级一级一级一级一级 1-1-2'
          }]
        }]
      }, {
        id: 2,
        label: '一级一级一级一级一级 2',
        children: [{
          id: 5,
          label: '二级一级一级一级一级 2-1'
        }, {
          id: 6,
          label: '二级一级一级一级一级 2-2'
        }]
      }, {
        id: 3,
        label: '一级一级一级一级一级 3',
        children: [{
          id: 7,
          label: '二级 3-1'
        }, {
          id: 8,
          label: '二级 3-2'
        }]
      }, {
        id: 4,
        label: '一级一级一级一级一级 3'
      }],
      backgroundImgurl: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
      dialogVisible1: false,
      dialogVisible2: false,
      dialogVisible3: false,
      dialogVisible4: false,
      dialogVisible5: false,
      dialogVisible6: false,
      dialogVisible7: false,
      dialogVisible8: false,
      dialogVisible9: false,
      dialogVisible10: false,
      dialogVisible11: false,
      dialogVisible12: false,
      dialogVisible13: false,
      messageType: '',
      dialogImageUrl: '',
      dialogImageVisible: false,
      dialogMatterVisible: false,
      tabPosition: 'common',
      audioBindText: '按住说话',
      audioState: true,
      countTime: 60,
      dialogVisible14: false,
      tableData: [{
        mesageType: '2016-05-02',
        messageContent: '王小虎',
        waitTime: 12
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }, {
        mesageType: '2016-05-01',
        messageContent: '王小虎',
        waitTime: 2
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }, {
        mesageType: '2016-05-01',
        messageContent: '王小虎',
        waitTime: 2
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }, {
        mesageType: '2016-05-01',
        messageContent: '王小虎',
        waitTime: 2
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }],
      dialogVisible15: false,
      startTime: '00:00',
      endTime: '00:00',
      dialogVisible16: false,
      dialogVisible17: false,
      dialogVisible18: false,
      dialogVisible19: false,
      dialogVisible20: false,
      dialogVisible21: false,
      dialogVisible22: false,
      dialogVisible23: false,
      dialogVisible24: false,
      dialogVisible25: false
    }
  },
  computed: {
    textArearContent() {
      let content = parseHTML(this.content)
      return content
    }
  },
  methods: {
    parseHTML,
    chooseExpress(icon, e) {
      this.content += icon
    },
    messageTypeChange(val) {
      console.log(val)
      console.log(this.messageType)
    },
    handleRemove(file, fileList) {
      console.log(file, fileList)
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogImageVisible = true
    },
    previewImg(event) {
      let url = event.target.dataset.imgurl
      this.dialogImageUrl = url
      this.dialogImageVisible = true
    },
    audiotimeCount() {
      if (this.audioState) {
        // 开始录音
        this.audioState = false
        this.setTimecount()
      } else {
        // 结束录音
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    },
    setTimecount() {
      if ((this.dialogVisible20 || this.dialogVisible15 || this.dialogVisible13) && !this.audioState && this.countTime > 0) {
        this.audioBindText = `再次点击结束(${this.countTime}s)`
        this.countTime -= 1
        setTimeout(() => {
          this.setTimecount()
        }, 1000)
      } else {
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    },
    handleEdit(index, row) {
      console.log(index, row)
    },
    handleDelete(index, row) {
      console.log(index, row)
      this.dialogVisible21 = true
    },
    toggleWechatExpression() {
      this.wechatExprssionShow = !this.wechatExprssionShow
    }
  },
  created() {
    // console.log(13)
  }
}
</script>
<style>
  .dialog-list{
    margin: 10px 0;
  }
</style>
