<template>
  <div>
    <el-tabs type="border-card" v-model="activename">
      <el-tab-pane label="首页" name="home">
        <homeDialog></homeDialog>
      </el-tab-pane>
      <el-tab-pane label="个人号管理--完成" name="personNoManage">
        <personNumManage></personNumManage>
      </el-tab-pane>
      <el-tab-pane label="设备管理--完成" name="deviceMange">
        <deviceManage></deviceManage>
      </el-tab-pane>
      <el-tab-pane label="营销平台--UI未出" name="marketPlatform">
        <marketPlatform></marketPlatform>
      </el-tab-pane>
      <el-tab-pane label="加粉管理" name="powderManage">
        <powderManage></powderManage>
      </el-tab-pane>
      <el-tab-pane label="风控管理--完成" name="riskManagement">
        <riskManagement></riskManagement>
      </el-tab-pane>
      <el-tab-pane label="员工管理" name="staffManage">
        <staffManage></staffManage>
      </el-tab-pane>
      <el-tab-pane label="电商平台" name="ecommercePlatform">
        <ecommercePlatform></ecommercePlatform>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
import homeDialog from '@/pages/ui/system/dialogs/home.vue'
import personNumManage from '@/pages/ui/system/dialogs/personNumManage.vue'
import deviceManage from '@/pages/ui/system/dialogs/deviceManage.vue'
import marketPlatform from '@/pages/ui/system/dialogs/marketPlatform.vue'
import powderManage from '@/pages/ui/system/dialogs/powderManage.vue'
import riskManagement from '@/pages/ui/system/dialogs/riskManagement.vue'
import staffManage from '@/pages/ui/system/dialogs/staffManage.vue'
import ecommercePlatform from '@/pages/ui/system/dialogs/ecommercePlatform.vue'
export default {
  components: {
    homeDialog, // 首页
    personNumManage, // 个人号管理
    deviceManage, // 设备管理
    marketPlatform, // 营销平台
    powderManage, // 加粉管理
    riskManagement, // 风控管理
    staffManage, // 员工管理
    ecommercePlatform // 电商平台
  },
  data() {
    return {
      activename: 'home'
    }
  },
  created() {
    // console.log(13)
  }
}
</script>
<style>
  .dialog-list{
    margin: 10px 0;
  }
</style>
