<template>
  <div>
    <el-tabs type="border-card">
      <el-tab-pane label="首页 => 通知">
        <p>未完成：</p>
        <p>已完成：通知详情</p>
      </el-tab-pane>
    </el-tabs>
    <!--首页 => 通知 => 通知详情-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible1 = true">通知详情</el-button>
      <el-dialog title="通知详情" :visible.sync="dialogVisible1" width="880px">
        <div>
          <h3 class="ly-font-color-5 ly-font-16 ly-font-weight-normal">标题：活动标题</h3>
          <p class="ly-margin-top-12px ly-font-color-11">发布时间：2017-08-02 15:47:44</p>
          <p class="ly-margin-top-12px ly-font-color-2">内容：</p>
          <div class="ly-margin-top-10px ly-font-color-4 line-height-30">
            点击删除选中快捷语，页面遮罩，弹窗如下图.点击新增快捷回复，页面遮罩，弹窗如下图，标题1~15字（点击新点击删除选中快捷语，页面遮罩，弹窗如下图点击新增快捷回复，页面遮罩，弹窗如下图，标题1~15字（点击新增快捷回复时必须选中私有/公共快捷语中的某组，没选中时点击toast提示“请选择快捷语分组”）
            点击删除快捷回复分组，页面遮罩，弹窗如下图，要删除组必须删除该分组下所有快捷语
            取消

            确定

            提示
            建时间的倒序排序，图片/视频/语音支持点击预览

            公共快捷语所有账号都能看到，私有快捷语只有当前账号能看，每个账号都可以创建公共快捷语
          </div>
        </div>
      </el-dialog>
    </div>

    <br />
    <br />
  </div>
</template>
<script>
import { WechatExpression, parseHTML } from '@/components/libs/wechatExpression'
export default {
  components: {
    WechatExpression
  },
  data() {
    return {
      wechatExprssionShow: false,
      content: '',
      checkList: ['a', 'b'],
      // 设备管理 => 设备管理 => 修改微信备注
      formLabelWidth: '136px',
      form: {},
      remark: '',
      name: '',
      group: '',
      radio: '1',
      num: 2,
      backgroundImgurl: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
      dialogVisible1: false,
      dialogVisible2: false,
      dialogVisible3: false,
      dialogVisible4: false,
      dialogVisible5: false,
      dialogVisible6: false,
      dialogVisible7: false,
      dialogVisible8: false,
      dialogVisible9: false,
      dialogVisible10: false,
      dialogVisible11: false,
      dialogVisible12: false,
      dialogVisible13: false,
      messageType: '',
      dialogImageUrl: '',
      dialogImageVisible: false,
      dialogMatterVisible: false,
      tabPosition: 'common',
      audioBindText: '按住说话',
      audioState: true,
      countTime: 60,
      dialogVisible14: false,
      tableData: [{
        mesageType: '2016-05-02',
        messageContent: '王小虎',
        waitTime: 12
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }, {
        mesageType: '2016-05-01',
        messageContent: '王小虎',
        waitTime: 2
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }, {
        mesageType: '2016-05-01',
        messageContent: '王小虎',
        waitTime: 2
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }, {
        mesageType: '2016-05-01',
        messageContent: '王小虎',
        waitTime: 2
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }],
      dialogVisible15: false,
      startTime: '00:00',
      endTime: '00:00',
      dialogVisible16: false,
      dialogVisible17: false,
      dialogVisible18: false,
      dialogVisible19: false,
      dialogVisible20: false,
      dialogVisible21: false,
      dialogVisible22: false,
      dialogVisible23: false,
      dialogVisible24: false,
      dialogVisible25: false
    }
  },
  computed: {
    textArearContent() {
      let content = parseHTML(this.content)
      return content
    }
  },
  methods: {
    parseHTML,
    chooseExpress(icon, e) {
      this.content += icon
    },
    messageTypeChange(val) {
      console.log(val)
      console.log(this.messageType)
    },
    handleRemove(file, fileList) {
      console.log(file, fileList)
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogImageVisible = true
    },
    previewImg(event) {
      let url = event.target.dataset.imgurl
      this.dialogImageUrl = url
      this.dialogImageVisible = true
    },
    audiotimeCount() {
      if (this.audioState) {
        // 开始录音
        this.audioState = false
        this.setTimecount()
      } else {
        // 结束录音
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    },
    setTimecount() {
      if ((this.dialogVisible20 || this.dialogVisible15 || this.dialogVisible13) && !this.audioState && this.countTime > 0) {
        this.audioBindText = `再次点击结束(${this.countTime}s)`
        this.countTime -= 1
        setTimeout(() => {
          this.setTimecount()
        }, 1000)
      } else {
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    },
    handleEdit(index, row) {
      console.log(index, row)
    },
    handleDelete(index, row) {
      console.log(index, row)
      this.dialogVisible21 = true
    },
    toggleWechatExpression() {
      this.wechatExprssionShow = !this.wechatExprssionShow
    }
  },
  created() {
    // console.log(13)
  }
}
</script>
<style>
  .dialog-list{
    margin: 10px 0;
  }
</style>
