<template>
  <div>
    <el-tabs type="border-card">
      <el-tab-pane label="营销平台 => 红包营销">
        <p>未完成：</p>
        <p>已完成：代发红包账户充值、微信扫码支付</p>
      </el-tab-pane>
    </el-tabs>
    <!--营销平台 => 红包营销 => 红包充值 => 代发红包账户充值-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible1 = true">代发红包账户充值</el-button>
      <el-dialog title="代发红包账户充值"
                 :visible.sync="dialogVisible1"
                 width="880px">
        <el-form class="ly-padding-10px">
          <p class="ly-paddingleft-10px ly-font-color-7">温馨提示：当前充值的金额用于发放红包和晒图活动，一经充值不可退回</p>
          <el-form-item label="请输入充值金额："
                        :label-width="formLabelWidth"
                        class="ly-padding-top-10px">
            <el-input v-model="form.name"
                      autocomplete="off"
                      placeholder="请输入充值金额"
                      class="ly-width-160px"></el-input>
            <span class="ly-paddingleft-10px">元</span>
            <p><span class="ly-paddingleft-10px ly-font-12 ly-font-color-8">自定义充值的金额应大于等于100元</span></p>
          </el-form-item>
          <el-form-item label="实付金额："
                        :label-width="formLabelWidth">
            <p class="ly-font-color-2"><span class="ly-font-color-7">0.00元</span>（由于微信收取转账手续费，自<span class="ly-font-color-7">2017年6月1日</span>起，代发红包账户充值也将开始收费，费率为
              单次充值金额的<span class="ly-font-color-7">1%</span>，敬请谅解）（含转账手续费1%：0元，手续费由第三方微信额外收取）</p>
          </el-form-item>
          <el-form-item label="充值说明："
                        :label-width="formLabelWidth">
            <el-input v-model="form.name"
                      autocomplete="off"
                      placeholder="您可以自己填写一些备忘信息记录，记录这一笔充值…"
                      class="ly-width-600px"
                      size="small"></el-input>
            <span class="ly-paddingleft-10px">元</span>
            <p><span class="ly-paddingleft-10px ly-font-12 ly-font-color-8">自定义充值的金额应大于等于100元</span></p>
          </el-form-item>
          <el-form-item label="支付方式："
                        :label-width="formLabelWidth">
            <div class="ly-inline-block ly-padding-6-12px ly-border-1 ly-line-height-0">
              <img class="ly-height-30px"
                   :src="backgroundImgurl" />
            </div>
            <div class="ly-margin-left-20px ly-inline-block ly-padding-6-12px ly-border-1 ly-line-height-0">
              <img class="ly-inline-block ly-height-30px"
                   :src="backgroundImgurl" />
            </div>
          </el-form-item>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button type="primary"
                     @click="dialogVisible1 = false"
                     size="small">确定充值</el-button>
        </div>
      </el-dialog>
    </div>
    <!--营销平台 => 红包营销 红包充值 => => 微信扫码支付-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible2 = true">微信扫码支付</el-button>
      <el-dialog title="微信扫码支付"
                 :visible.sync="dialogVisible2"
                 width="880px">
        <div class="ly-box ly-padding-bottom-20px">
          <div class="ly-box-1">
            <p class="ly-margin-bottom-12px ly-font-16 ly-font-color-4">商品名称： 红包功能</p>
            <p class="ly-font-16 ly-font-color-0">订单号： 501201811271107346945914</p>
          </div>
          <div>
            <p class="ly-padding-top-8px ly-font-36 ly-font-color-7 ly-font-weight-bold">101.00<span class="ly-font-16 ly-font-color-4 ly-font-weight-normal">元</span></p>
          </div>
        </div>
        <hr />
        <div class="ly-padding-20px ly-padding-top-26px ly-text-center">
          <div>
            <img class="ly-wh-140-140px"
                 :src="backgroundImgurl" />
          </div>
          <div class="ly-margin-top-20px">
            <span class="ly-width-350px ly-inline-block ly-font-12">请打开「手机微信-扫一扫」扫码上方二维码，按操作提示完成支付。请在2小时内完成操作，过期后请返回重新开始购买</span>
          </div>
        </div>
        <hr />
        <div class="ly-padding-top-26px ly-text-center">
          <p class="ly-font-16 ly-font-weight-bold ly-font-color-4">支付结果</p>
        </div>
        <div slot="footer"
             class="dialog-footer">
          <div class="ly-text-center">
            <el-button class="ly-font-color-3"
                       type="text">付款失败</el-button>
            <el-button type="primary"
                       @click="dialogVisible2 = false"
                       size="small">付款成功</el-button>
          </div>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="营销平台 => 晒图活动 => 晒图活动">
        <p>未完成：</p>
        <p>已完成：提示、链接二维码，活动详情，申请详情，拒绝理由，订单详情</p>
      </el-tab-pane>
    </el-tabs>
    <!--营销平台 => 晒图活动 => 晒图活动 => => 提示-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible3 = true">提示</el-button>
      <el-dialog title="提示"
                 :visible.sync="dialogVisible3"
                 width="400px">
        <div class="ly-text-center">活动下线后不可再次编辑上线，是否确定下线该活动</div>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible3 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible3 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--营销平台 => 晒图活动 => 晒图活动 => => 链接二维码-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible4 = true">链接二维码</el-button>
      <el-dialog title="链接二维码"
                 :visible.sync="dialogVisible4"
                 width="620px">
        <div class="ly-width-500px-im ly-margin-center ly-box">
          <div class="ly-width-444px">
            <el-input placeholder="请输入内容"
                      v-model="name"
                      class="input-with-select leftbg-white"
                      size="medium">
              <el-button plain
                         slot="prepend">短链接</el-button>
              <el-button slot="append">复制链接</el-button>
            </el-input>
          </div>
          <div class="ly-margin-left-20px">
            <el-button type="primary"
                       size="medium"
                       class="ly-wh-36-36px padding-8px ly-position-relative">
              <img class="ly-wh-20-20px"
                   :src="backgroundImgurl" />
              <div class="ly-position-absolute  dialog-link-code-position">
                <div class="ly-wh-120-120px ly-bg-white">
                  <img class="ly-wh-104-104px"
                       :src="backgroundImgurl" />
                </div>
              </div>
            </el-button>
          </div>
        </div>
        <el-table class="ly-width-500px ly-margin-center ly-margin-top39px"
                  :data="tableData1"
                  :show-header="false"
                  border
                  style="width: 500px">
          <el-table-column label="尺寸"
                           width="100">
            <template slot-scope="scope">
              <p class="ly-text-center">{{scope.row.size}}</p>
            </template>
          </el-table-column>
          <el-table-column label="详情"
                           class="ly-text-center">
            <template slot-scope="scope">
              <p class="ly-font-color-4 ly-text-center">{{scope.row.use}}</p>
              <p class="ly-font-12 ly-font-color-10 ly-text-center">{{scope.row.rule}}</p>
            </template>
          </el-table-column>
          <el-table-column label="操作"
                           width="100">
            <template slot-scope="scope">
              <div class="ly-text-center">
                <i class="el-icon-download"></i>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </el-dialog>
    </div>
    <!--营销平台 => 晒图活动 => 晒图活动 => => 活动详情-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible5 = true">活动详情</el-button>
      <el-dialog title="活动详情"
                 :visible.sync="dialogVisible5"
                 width="880px">
        <table class="active-detail-dialog">
          <tr>
            <td>累计参与人数</td>
            <td>0</td>
            <td>待审核</td>
            <td>0</td>
          </tr>
          <tr>
            <td>容累计申请数量</td>
            <td>0</td>
            <td>已用过</td>
            <td>0</td>
          </tr>
          <tr>
            <td>支出红包数量</td>
            <td>0</td>
            <td>已拒绝</td>
            <td>0</td>
          </tr>
          <tr>
            <td>支出红包金额</td>
            <td colspan="3">0</td>
          </tr>
          <tr>
            <td>返现客户数</td>
            <td colspan="3">0</td>
          </tr>
          <tr>
            <td>参与订单数</td>
            <td colspan="3">0</td>
          </tr>
        </table>
      </el-dialog>
    </div>

    <!--营销平台 => 晒图活动 => 活动审核 => => 申请详情-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible6 = true">申请详情</el-button>
      <el-dialog title="申请详情"
                 :visible.sync="dialogVisible6"
                 width="880px">
        <div class="ly-width-780px ly-margin-center">
          <ul class="ly-box line-height-26">
            <li class="ly-box-1">
              <div class="ly-width-90px ly-inline-block ly-text-right">申请时间：</div>
              <div class="ly-inline-block">2018-10-15 15:51:21</div>
            </li>
            <li class="ly-box-1">
              <div class="ly-width-90px ly-float-left ly-text-right">微信昵称：</div>
              <div class="ly-inline-block"><img class="ly-wh-30px  ly-float-left"
                     src="http://pic1.cxtuku.com/00/03/76/b37005566943.jpg" /><span class="ly-margin-left-10px ly-float-left">zero</span></div>
            </li>
            <li class="ly-box-1">
              <div class="ly-width-90px ly-inline-block ly-text-right">审核状态：</div>
              <div class="ly-inline-block">待审核</div>
            </li>
          </ul>
          <hr>
          <ul class="ly-padding-vertical-sm line-height-26">
            <li>
              <div class="ly-width-90px ly-inline-block ly-text-right">订单号：</div>
              <div class="ly-inline-block">ZAN1535628189379546<el-button class="ly-margin-left-10px"
                           type="text">订单详情</el-button>
              </div>
            </li>
            <li>
              <div class="ly-width-90px ly-inline-block ly-text-right">下单时间：</div>
              <div class="ly-inline-block">2018-10-15 15:51:21</div>
            </li>
            <li>
              <div class="ly-width-90px ly-inline-block ly-text-right">订单金额：</div>
              <div class="ly-inline-block ly-font-color-7">¥546</div>
            </li>
            <li>
              <div class="ly-width-90px ly-inline-block ly-text-right">手机号：</div>
              <div class="ly-inline-block">13401973053</div>
            </li>
            <li>
              <div class="ly-width-90px ly-inline-block ly-text-right">评价状态：</div>
              <div class="ly-inline-block">好评</div>
            </li>
            <li>
              <div class="ly-width-90px ly-inline-block ly-text-right">购物状态：</div>
              <div class="ly-inline-block">51zan1535628185833</div>
            </li>
            <li>
              <div class="ly-width-90px ly-inline-block ly-text-right">下单店铺：</div>
              <div class="ly-inline-block">亲情无价tb_13681765966<el-button class="ly-margin-left-10px"
                           type="success"
                           plain
                           size="small">淘宝/天猫</el-button>
              </div>
            </li>
          </ul>
          <hr>
          <ul class="ly-padding-vertical-sm line-height-26">
            <li>
              <div class="ly-width-90px ly-inline-block ly-text-right">红包金额：</div>
              <div class="ly-inline-block">¥1</div>
            </li>
            <li>
              <div class="ly-width-90px ly-inline-block ly-text-right ly-vertical-top">系统提示：</div>
              <div class="ly-inline-block">
                <ul>
                  <li>1、被拒绝以后第二次提交 </li>
                  <li>2、该订单号参加过其他返现活动 </li>
                </ul>
              </div>
            </li>
          </ul>
          <hr>
        </div>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible6 = false">拒 接</el-button>
          <el-button type="primary"
                     @click="dialogVisible6 = false">通 过</el-button>
        </div>
      </el-dialog>
    </div>

    <!--营销平台 => 晒图活动 => 活动审核 => => 拒绝理由-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible7 = true">拒绝理由</el-button>
      <el-dialog title="拒绝理由"
                 :visible.sync="dialogVisible7"
                 width="489px">
        <el-form :model="form">
          <el-form-item label="拒绝理由"
                        :label-width="formLabelWidth1">
            <el-input type="textarea"
                      :rows="5"
                      v-model="remark"
                      class="ly-width-280px-im"></el-input>
            <p class="ly-font-color-4">拒绝理由将反馈给客户（最多20字）</p>
          </el-form-item>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible7 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible7 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <!--营销平台 => 晒图活动 => 活动审核 => => 订单详情-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible8 = true">订单详情</el-button>
      <el-dialog title="订单详情"
                 :visible.sync="dialogVisible8"
                 width="880px">
        <table class="ly-width-780px ly-margin-center ly-table-td-padding-8px ly-table-border-collapse ly-table-td-border ly-font-color-4">
          <tr>
            <td>创建时间</td>
            <td>2018-12-30 20:12</td>
            <td>付款时间</td>
            <td>018-12-30 20:12</td>
          </tr>
          <tr>
            <td>发货时间</td>
            <td>2018-12-30 20:12</td>
            <td>成交时间</td>
            <td>018-12-30 20:12</td>
          </tr>
          <tr>
            <td>订单来源</td>
            <td>自动同步</td>
            <td>订单状态</td>
            <td>已发货</td>
          </tr>
          <tr>
            <td>订单号</td>
            <td>24170941758927589327568</td>
            <td>店铺名称</td>
            <td>智婴美婴幼儿官方店铺</td>
          </tr>
          <tr>
            <td>实收金额</td>
            <td>139.00元</td>
            <td>购物账号</td>
            <td>徐苏2019</td>
          </tr>
          <tr>
            <td>收货人</td>
            <td>徐苏</td>
            <td>联系电话</td>
            <td>18503066384</td>
          </tr>
          <tr>
            <td>收货地址</td>
            <td colspan="3">福建省福州市闽侯县上街高新区</td>
          </tr>
          <tr>
            <td>备注</td>
            <td colspan="3"></td>
          </tr>
        </table>
        <el-table :data="tableData"
                  border
                  class="ly-width-780px ly-margin-center ly-margintop-40px">
          <el-table-column label="商品"
                           width="357">
            <template slot-scope="scope">
              <div class="el-imgtxt-mix">
                <div class="el-imgtxt-mix-img ly-wh-60-60px-im">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L" />
                </div>
                <div class="el-imgtxt-mix-txt ly-paddingleft-70px-im">
                  <p class="el-imgtxt-mix-p1 ly-ellipsis2">微信昵称微信昵称微信昵称微信昵称微信昵称微信昵称微信昵称微信昵称</p>
                  <p class="el-imgtxt-mix-p3 ly-font-color-8">ceiling1212</p>
                </div>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="单价">
            <template slot-scope="scope">
              139.00
            </template>
          </el-table-column>
          <el-table-column label="单价">
            <template slot-scope="scope">
              2
            </template>
          </el-table-column>
          <el-table-column label="买家实付款">
            <template slot-scope="scope">
              123
            </template>
          </el-table-column>
          <el-table-column label="状态">
            <template slot-scope="scope">
              <span class="ly-font-color-7"
                    @click="handleEdit(scope.$index, scope.row)">取消交易</span>
            </template>
          </el-table-column>
        </el-table>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible8 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible8 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="营销平台 => 定时发朋友圈">
        <p>未完成：</p>
        <p>已完成：提示、链接二维码</p>
      </el-tab-pane>
    </el-tabs>
    <!--营销平台 => 定时发朋友圈 => 发朋友圈-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible9 = true">发朋友圈</el-button>
      <el-dialog title="发朋友圈"
                 :visible.sync="dialogVisible9"
                 width="660px">
        <el-form :model="form"
                 class="ly-margin-right-30px">
          <el-form-item label="个人号:"
                        :label-width="formLabelWidth1"
                        required>
            <el-button type="primary"
                       size="small">选择个人号</el-button>
          </el-form-item>
          <el-form-item label="朋友圈内容:"
                        :label-width="formLabelWidth1">
            <el-input type="textarea"
                      :rows="5"
                      v-model="content"
                      placeholder="请填写朋友圈内容"></el-input>
            <div class="textarea-expression">
              <div class="textarea-expression-icon">
                <span @click="toggleWechatExpression">😊</span>
              </div>
              <div class="textarea-expression-list"
                   v-show="wechatExprssionShow">
                <wechat-expression @choose="chooseExpress" />
              </div>
            </div>
          </el-form-item>
          <el-form-item label="类型:"
                        :label-width="formLabelWidth">
            <el-select v-model="messageType"
                       placeholder="请选择类型"
                       @change="messageTypeChange">
              <el-option label="文本消息"
                         value="txt"></el-option>
              <el-option label="图片消息"
                         value="img"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="上传图片:"
                        :label-width="formLabelWidth"
                        v-show="messageType=='img'">
            <el-button type="primary"
                       size="small">选择素材</el-button>
            <el-button type="primary"
                       size="small">点击上传</el-button>
            <div class="ly-font-color-4">只能上传jpg/png文件，且不超过15MB</div>
          </el-form-item>
          <el-form-item label="类型:"
                        :label-width="formLabelWidth">
            <el-radio v-model="radio"
                      label="1">全部</el-radio>
            <el-radio v-model="radio"
                      label="2">私密</el-radio>
            <el-radio v-model="radio"
                      label="3">指定标签</el-radio>
            <el-radio v-model="radio"
                      label="4">屏蔽标签列表</el-radio>
          </el-form-item>
          <el-form-item label="延后评论:"
                        :label-width="formLabelWidth1">
            <el-input type="textarea"
                      :rows="5"
                      v-model="content"
                      placeholder="请填写朋友圈评论"></el-input>
            <div class="textarea-expression">
              <div class="textarea-expression-icon">
                <span @click="toggleWechatExpression">😊</span>
              </div>
              <div class="textarea-expression-list"
                   v-show="wechatExprssionShow">
                <wechat-expression @choose="chooseExpress" />
              </div>
            </div>
          </el-form-item>
          <el-form-item label="可见范围:"
                        :label-width="formLabelWidth">
            <div>
              <el-radio v-model="radio"
                        label="1">立刻发送</el-radio>
            </div>
            <div>
              <el-radio v-model="radio"
                        label="2">预约发送</el-radio>
              <el-date-picker class="ly-margin-left-10px"
                              v-model="value"
                              type="datetime"
                              size="samll"
                              placeholder="选择日期时间">
              </el-date-picker>
            </div>
          </el-form-item>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible9 = false">预 览</el-button>
          <el-button @click="dialogVisible9 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible9 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--营销平台 => 定时发朋友圈 => 结果查询 -->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible10 = true">结果查询</el-button>
      <el-dialog title="结果查询"
                 :visible.sync="dialogVisible10"
                 width="1000px">
        <el-table :data="tableData"
                  border
                  class="ly-width-880px ly-margin-center">
          <el-table-column label="个人号"
                           width="218">
            <template slot-scope="scope">
              <div class="justflex">
                <img class="ly-wh-40px ly-float-left"
                     src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L" />
                <p class="ly-inline-block ly-margin-left-10px">wxid-sdfsdfccfdsdfsdfccfdsdfsdfccfdsdfsdfccfdsdfsdfccfdsdfsdfccfdsdfsdfccfdsdfsdfccfdsdfsdfccfdsdfsdfccfdsdfsdfccfdsdfsdfccfd</p>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="延后评论">
            <template slot-scope="scope">
              错过现在再等1年！
            </template>
          </el-table-column>
          <el-table-column label="标签">
            <template slot-scope="scope">
              <el-tag type="success"
                      class="ly-margin-vertical-3px">不可见</el-tag>
              <el-tag type="success"
                      class="ly-margin-vertical-3px">可见</el-tag>
            </template>
          </el-table-column>
          <el-table-column label="状态">
            <template slot-scope="scope">
              <div>执行成功</div>
              <div>微信离线</div>
            </template>
          </el-table-column>
          <el-table-column label="执行时间">
            <template slot-scope="scope">
              立刻发送
            </template>
          </el-table-column>
          <el-table-column label="结束时间">
            <template slot-scope="scope">
              2018-11-19
              10:32:04
            </template>
          </el-table-column>
        </el-table>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible10 = false">关 闭</el-button>
        </div>
      </el-dialog>
    </div>
    <el-tabs type="border-card">
      <el-tab-pane label="营销平台 => 短信营销">
        <p>未完成：</p>
        <p>已完成：短信历史模板</p>
      </el-tab-pane>
    </el-tabs>
    <!--营销平台 => 短信营销 => 短信历史模板=>编辑 -->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible26 = true">编辑</el-button>
      <el-dialog title="编辑模板"
                 :visible.sync="dialogVisible26"
                 width="590px">

        <el-form ref="form"
                 class="ly-margin-right-30px"
                 :model="form"
                 label-width="100px">
          <el-form-item label="短信内容：">
            <el-input type="textarea"
                      :rows="8"
                      placeholder="请输入内容"
                      v-model="content">
            </el-input>
            <p><span class="ly-font-12 ly-font-color-8">70个字算一条（含标点符号），多出部分按多条计算</span></p>
          </el-form-item>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible26 = false">确定</el-button>
        </div>
      </el-dialog>
    </div>
    <br />
    <br />
  </div>
</template>
<script>
import { WechatExpression, parseHTML } from '@/components/libs/wechatExpression'
export default {
  components: {
    WechatExpression
  },
  data() {
    return {
      content: '',
      wechatExprssionShow: false,
      // 营销平台 => 红包营销
      formLabelWidth1: '120px',
      formLabelWidth: '136px',
      form: {},
      remark: '',
      name: '',
      group: '',
      radio: '1',
      num: 2,
      value: '',
      backgroundImgurl: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
      dialogVisible1: false,
      dialogVisible2: false,
      dialogVisible3: false,
      dialogVisible4: false,
      tableData1: [
        {
          size: '大尺寸',
          use: '适用于屏幕类，宣传册类',
          rule: '边长8cm（258*258px）'
        },
        {
          size: '大尺寸',
          use: '适用于屏幕类，宣传册类',
          rule: '边长8cm（258*258px）'
        },
        {
          size: '大尺寸',
          use: '适用于屏幕类，宣传册类',
          rule: '边长8cm（258*258px）'
        }
      ],
      dialogVisible5: false,
      dialogVisible6: false,
      dialogVisible7: false,
      dialogVisible8: false,
      dialogVisible9: false,
      dialogVisible10: false,
      dialogVisible11: false,
      dialogVisible12: false,
      dialogVisible13: false,
      messageType: '',
      dialogImageUrl: '',
      dialogImageVisible: false,
      dialogMatterVisible: false,
      tabPosition: 'common',
      audioBindText: '按住说话',
      audioState: true,
      countTime: 60,
      dialogVisible14: false,
      tableData: [{
        mesageType: '2016-05-02',
        messageContent: '王小虎',
        waitTime: 12
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }, {
        mesageType: '2016-05-01',
        messageContent: '王小虎',
        waitTime: 2
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }, {
        mesageType: '2016-05-01',
        messageContent: '王小虎',
        waitTime: 2
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }, {
        mesageType: '2016-05-01',
        messageContent: '王小虎',
        waitTime: 2
      }, {
        mesageType: '2016-05-04',
        messageContent: '王小虎',
        waitTime: 1
      }],
      dialogVisible15: false,
      startTime: '00:00',
      endTime: '00:00',
      dialogVisible16: false,
      dialogVisible17: false,
      dialogVisible18: false,
      dialogVisible19: false,
      dialogVisible20: false,
      dialogVisible21: false,
      dialogVisible22: false,
      dialogVisible23: false,
      dialogVisible24: false,
      dialogVisible25: false,
      dialogVisible26: false
    }
  },
  methods: {
    parseHTML,
    chooseExpress(icon, e) {
      this.content += icon
    },
    toggleWechatExpression() {
      this.wechatExprssionShow = !this.wechatExprssionShow
    },
    messageTypeChange(val) {
      console.log(val)
      console.log(this.messageType)
    },
    handleRemove(file, fileList) {
      console.log(file, fileList)
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogImageVisible = true
    },
    previewImg(event) {
      let url = event.target.dataset.imgurl
      this.dialogImageUrl = url
      this.dialogImageVisible = true
    },
    audiotimeCount() {
      if (this.audioState) {
        // 开始录音
        this.audioState = false
        this.setTimecount()
      } else {
        // 结束录音
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    },
    setTimecount() {
      if ((this.dialogVisible20 || this.dialogVisible15 || this.dialogVisible13) && !this.audioState && this.countTime > 0) {
        this.audioBindText = `再次点击结束(${this.countTime}s)`
        this.countTime -= 1
        setTimeout(() => {
          this.setTimecount()
        }, 1000)
      } else {
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    },
    handleEdit(index, row) {
      console.log(index, row)
    },
    handleDelete(index, row) {
      console.log(index, row)
      this.dialogVisible21 = true
    }
  },
  created() {
    // console.log(13)
  }
}
</script>
<style>
.dialog-list {
  margin: 10px 0;
}
</style>
