<template>
  <div>
    <el-tabs type="border-card">
      <el-tab-pane label="个人号管理 => 个人号管理">
        <p>未完成：</p>
        <p>已完成：修改微信备注、好友以及好友聊天记录、微信群聊天记录、删除个人号</p>
      </el-tab-pane>
    </el-tabs>
    <!--个人号管理 => 个人号列表 => 修改微信备注-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogFormVisible = true">修改微信备注</el-button>
      <el-dialog title="修改微信备注" :visible.sync="dialogFormVisible" width="489px">
        <el-form :model="form">
          <el-form-item label="微信昵称:" :label-width="formLabelWidth">
            weixinnicheng
          </el-form-item>
          <el-form-item label="微信备注:" :label-width="formLabelWidth">
            <el-input v-model="form.name" autocomplete="off" placeholder="微信备注" class="ly-width-280px-im"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--个人号管理 => 个人号列表 => 好友以及好友聊天记录-->
    <div class="dialog-list">
      <el-button type="primary" @click="showChatRecordFriends">好友以及好友聊天记录</el-button>
      <chatRecordFriend :chatRecord="chatRecordFriend"></chatRecordFriend>
      <!--<el-dialog title="好友以及好友聊天记录" :visible.sync="dialogFormVisible2" width="1160px" class="dialog-chat">-->
        <!--<el-container>-->
          <!--<el-aside width="240px">-->
            <!--<div class="dialog-chat-search">-->
              <!--<el-input placeholder="请输入内容" v-model="chatSearch" class="input-with-select" size="small">-->
                <!--<el-button slot="append" icon="el-icon-search"></el-button>-->
              <!--</el-input>-->
            <!--</div>-->
            <!--<div class="dialog-chat-fiendslist">-->
              <!--<ul>-->
                <!--<li class="active">-->
                  <!--<div class="friendslist-img">-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                  <!--</div>-->
                  <!--<div class="friendslist-info">-->
                    <!--<p class="chatname">测试账号1</p>-->
                    <!--<p class="chatno">今日消息数:1</p>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="friendslist-img">-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                  <!--</div>-->
                  <!--<div class="friendslist-info">-->
                    <!--<p class="chatname">测试账号1</p>-->
                    <!--<p class="chatno">今日消息数:</p>-->
                  <!--</div>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</el-aside>-->
          <!--<el-container>-->
            <!--<el-header height="71px">-->
              <!--<div class="dialog-chatcontent-search">-->
                <!--<el-date-picker-->
                  <!--v-model="chatconentdateval"-->
                  <!--type="daterange"-->
                  <!--size="small"-->
                  <!--range-separator="至"-->
                  <!--start-placeholder="开始日期"-->
                  <!--end-placeholder="结束日期">-->
                <!--</el-date-picker>-->
                <!--<el-input placeholder="请输入聊天内容" v-model="chatcontentSearch" class="input-with-select" size="small">-->
                  <!--<el-button slot="append" icon="el-icon-search"></el-button>-->
                <!--</el-input>-->
              <!--</div>-->
            <!--</el-header>-->
            <!--<el-main>-->
              <!--<ul class="chatcontent-record">-->
                <!--<li>-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail">-->
                        <!--<span class="chatcontent-label"><i class="el-icon-close"></i></span>-->
                        <!--<span class="chatcontent-label"><i class="el-icon-back"></i></span>-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="chatconent-record-right">-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail">-->
                        <!--<span class="chatcontent-label"><i class="el-icon-close"></i></span>-->
                        <!--<span class="chatcontent-label"><i class="el-icon-back"></i></span>-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="chatconent-record-right">-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail chatcontent-record-img">-->
                        <!--<span class="chatcontent-label"><i class="el-icon-close"></i></span>-->
                        <!--<span class="chatcontent-label"><i class="el-icon-back"></i></span>-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div><img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/></div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail chatcontent-record-img">-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div><img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/></div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</el-main>-->
          <!--</el-container>-->
        <!--</el-container>-->
      <!--</el-dialog>-->
    </div>
    <!--个人号管理 => 个人号列表 => 微信群聊天记录-->
    <div class="dialog-list">
      <el-button type="primary" @click="showChatRecordGroup">微信群聊天记录</el-button>
      <ChatRecordGroup :chatRecord="chatRecordGroup"></ChatRecordGroup>
      <!--<el-dialog title="微信群聊天记录" :visible.sync="dialogFormVisible11" width="1192px" class="dialog-chat dialog-chat-group">-->
        <!--<el-container>-->
          <!--<el-aside width="240px">-->
            <!--<div class="dialog-chat-search">-->
              <!--<el-input placeholder="请输入群名称" v-model="chatSearch" class="input-with-select" size="small">-->
                <!--<el-button slot="append" icon="el-icon-search"></el-button>-->
              <!--</el-input>-->
            <!--</div>-->
            <!--<div class="dialog-chat-fiendslist">-->
              <!--<ul>-->
                <!--<li class="active">-->
                  <!--<div class="friendslist-img">-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                  <!--</div>-->
                  <!--<div class="friendslist-info">-->
                    <!--<p class="chatname">测试账号1</p>-->
                    <!--<p class="chatno">今日消息数:1</p>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="friendslist-img">-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                  <!--</div>-->
                  <!--<div class="friendslist-info">-->
                    <!--<p class="chatname">测试账号1</p>-->
                    <!--<p class="chatno">今日消息数:</p>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="friendslist-img">-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                  <!--</div>-->
                  <!--<div class="friendslist-info">-->
                    <!--<p class="chatname">测试账号1</p>-->
                    <!--<p class="chatno">今日消息数:</p>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="friendslist-img">-->
                    <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                  <!--</div>-->
                  <!--<div class="friendslist-info">-->
                    <!--<p class="chatname">测试账号1</p>-->
                    <!--<p class="chatno">今日消息数:</p>-->
                  <!--</div>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</el-aside>-->
          <!--<el-container class="chatgroup-contain">-->
            <!--<el-header height="71px">-->
              <!--<div class="dialog-chatcontent-search">-->
                <!--<el-date-picker-->
                  <!--v-model="chatconentdateval"-->
                  <!--type="daterange"-->
                  <!--size="small"-->
                  <!--range-separator="至"-->
                  <!--start-placeholder="开始日期"-->
                  <!--end-placeholder="结束日期">-->
                <!--</el-date-picker>-->
                <!--<el-input placeholder="请输入聊天内容" v-model="chatcontentSearch" class="input-with-select" size="small">-->
                  <!--<el-button slot="append" icon="el-icon-search"></el-button>-->
                <!--</el-input>-->
              <!--</div>-->
            <!--</el-header>-->
            <!--<el-main>-->
              <!--<ul class="chatcontent-record">-->
                <!--<li>-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail">-->
                        <!--<span class="chatcontent-label"><i class="el-icon-close"></i></span>-->
                        <!--<span class="chatcontent-label"><i class="el-icon-back"></i></span>-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="chatconent-record-right">-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail">-->
                        <!--<span class="chatcontent-label"><i class="el-icon-close"></i></span>-->
                        <!--<span class="chatcontent-label"><i class="el-icon-back"></i></span>-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="chatconent-record-right">-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail">-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="chatconent-record-right">-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail">-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="chatconent-record-right">-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail">-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="chatconent-record-right">-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail">-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="chatconent-record-right">-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail">-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="chatconent-record-right">-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail">-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="chatconent-record-right">-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail chatcontent-record-img">-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div><img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/></div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="chatcontent-record-li">-->
                    <!--<p class="chatcontent-record-time">11-23 12:12:12</p>-->
                    <!--<div class="chatcontent-record-conent">-->
                      <!--<div class="chatcontent-record-userimg">-->
                        <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                      <!--</div>-->
                      <!--<div class="chatcontent-record-detail chatcontent-record-img">-->
                        <!--<span class="chatcontent-record-triggle"></span>-->
                        <!--<div><img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/></div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</el-main>-->
            <!--<div class="chatroup-memberlist">-->
              <!--<div class="dialog-chat-search">-->
                <!--<el-input placeholder="输入成员昵称" v-model="chatSearch" class="input-with-select" size="small">-->
                  <!--<el-button slot="append" icon="el-icon-search"></el-button>-->
                <!--</el-input>-->
              <!--</div>-->
              <!--<div class="chatgroup-member-no">群成员 （3）</div>-->
              <!--<div class="dialog-chat-fiendslist">-->
                <!--<ul>-->
                  <!--<li class="active">-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="friendslist-img">-->
                      <!--<img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>-->
                    <!--</div>-->
                    <!--<div class="friendslist-info">-->
                      <!--<p class="chatname">测试账号1</p>-->
                    <!--</div>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
          <!--</el-container>-->
        <!--</el-container>-->
      <!--</el-dialog>-->
    </div>
    <!--个人号管理 => 个人号列表 => 删除个人号-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible = true">删除个人号</el-button>
      <el-dialog
        title="提示"
        :visible.sync="dialogVisible"
        width="489px">
        <span>该删除不会真的删除微信，只是在平台上看不到该微信及微信里的好友和群，是否确定要删除？</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
        </span>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="个人号管理 => 微信好友列表">
        <p>未完成：</p>
        <p>已完成：分配好友、选择好友分组、好友以及好友聊天记录、聊天记录导出</p>
      </el-tab-pane>
    </el-tabs>
    <!--个人号管理 => 微信好友列表 => 分配好友-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible2 = true">分配好友</el-button>
      <el-dialog title="分配好友" :visible.sync="dialogVisible2" width="489px">
        <el-form :model="form">
          <el-form-item label="微信信息:" :label-width="formLabelWidth">
            <div class="el-imgtxt-mix">
              <div class="el-imgtxt-mix-img">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L" />
              </div>
              <div class="el-imgtxt-mix-txt">
                <p class="el-imgtxt-mix-p1">微信昵称: 嬷嬷茶</p>
                <p class="el-imgtxt-mix-p2">微信号：mengme</p>
                <p class="el-imgtxt-mix-p3">微信号：wxid_toh7051fzkgs22</p>
              </div>
            </div>
          </el-form-item>
          <el-form-item label="性别:" :label-width="formLabelWidth">
            女性
          </el-form-item>
          <el-form-item label="部门:" :label-width="formLabelWidth" required>
            <el-select v-model="form.group" placeholder="请选择部门">
              <el-option label="部门1" value="group1"></el-option>
              <el-option label="部门2" value="group2"></el-option>
              <el-option label="部门3" value="group3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="分配员工:"  :label-width="formLabelWidth">
            <el-select v-model="form.staff" placeholder="请选择或搜索要分配的员工">
              <el-option label="员工1" value="staff1"></el-option>
              <el-option label="员工2" value="staff2"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible2 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible2 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--个人号管理 => 微信好友列表 => 选择好友分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible3 = true">选择好友分组</el-button>
      <el-dialog title="选择好友分组" :visible.sync="dialogVisible3" width="489px">
        <el-form :model="form">
          <el-form-item label="好友昵称:" :label-width="formLabelWidth">
            嬷嬷茶
          </el-form-item>
          <el-form-item label="好友分组:" :label-width="formLabelWidth" required>
            <el-select v-model="form.group" placeholder="请选择好友分组">
              <el-option label="分组1" value="group1"></el-option>
              <el-option label="分组2" value="group2"></el-option>
              <el-option label="分组3" value="group3"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible3 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible3 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--个人号管理 => 微信好友列表 => 聊天记录导出-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible4 = true">聊天记录导出</el-button>
      <el-dialog title="聊天记录导出" :visible.sync="dialogVisible4" width="489px">
        <el-form :model="form" >
          <div class="el-center">
            <el-date-picker
              v-model="datetimerange"
              type="daterange"
              size="small"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              :default-time="['00:00:00', '23:59:59']">
            </el-date-picker>
          </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible4 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible4 = false">导出聊天记录</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="个人号管理 => 微信群查看">
        <p>未完成：</p>
        <p>已完成：分配聊天群，批量分配聊天群、选择群聊分组、微信群聊天记录、聊天记录导出、查看群成员</p>
      </el-tab-pane>
    </el-tabs>
    <!--个人号管理 => 微信群查看 =>分配聊天群-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible5 = true">分配聊天群</el-button>
      <el-dialog title="分配聊天群" :visible.sync="dialogVisible5" width="489px">
        <el-form :model="form">
          <el-form-item label="群昵称:" :label-width="formLabelWidth">
            女性
          </el-form-item>
          <el-form-item label="部门:" :label-width="formLabelWidth">
            <el-select v-model="form.group" placeholder="请选择部门">
              <el-option label="部门1" value="group1"></el-option>
              <el-option label="部门2" value="group2"></el-option>
              <el-option label="部门3" value="group3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="分配员工:"  :label-width="formLabelWidth" required="">
            <el-select v-model="form.staff" placeholder="请选择或搜索要分配的员工">
              <el-option label="员工1" value="staff1"></el-option>
              <el-option label="员工2" value="staff2"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible5 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible5 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--个人号管理 => 微信群查看 =>批量分配聊天群-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible6 = true">批量分配聊天群</el-button>
      <el-dialog title="分配聊天群" :visible.sync="dialogVisible6" width="489px">
        <el-form :model="form">
          <el-form-item label="部门:" :label-width="formLabelWidth">
            <el-select v-model="form.group" placeholder="请选择部门">
              <el-option label="部门1" value="group1"></el-option>
              <el-option label="部门2" value="group2"></el-option>
              <el-option label="部门3" value="group3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="分配员工:"  :label-width="formLabelWidth" required="">
            <el-select v-model="form.staff" placeholder="请选择或搜索要分配的员工">
              <el-option label="员工1" value="staff1"></el-option>
              <el-option label="员工2" value="staff2"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible6 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible6 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--个人号管理 => 微信群查看 =>选择群聊分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible7 = true">选择群聊分组</el-button>
      <el-dialog title="选择群聊分组" :visible.sync="dialogVisible7" width="489px">
        <el-form :model="form">
          <el-form-item label="群聊昵称:" :label-width="formLabelWidth">
            女性
          </el-form-item>
          <el-form-item label="群聊分组:"  :label-width="formLabelWidth">
            <el-select v-model="form.staff" placeholder="请选择群聊分组">
              <el-option label="群聊分组1" value="staff1"></el-option>
              <el-option label="群聊分组2" value="staff2"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible7 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible7 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--个人号管理 => 微信群查看 =>查看群成员-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible8 = true">群成员列表</el-button>
      <el-dialog title="群[123]的成员" :visible.sync="dialogVisible8" width="489px" class="dialog-groupmembers-list">
        <el-table :data="gridData">
          <el-table-column
            label="姓名"
            align="center"
            width="80">
            <template slot-scope="scope">
              <div class="user-avatar">
                <img :src="scope.row.avatar"/>
              </div>
            </template>
          </el-table-column>
          <el-table-column property="nickname" label="成员昵称"></el-table-column>
        </el-table>
        <div class="dialog-groupmenber-list-page">
          <el-pagination
            background
            layout="prev, pager, next"
            :page-size="20"
            :total="1000">
          </el-pagination>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="个人号管理 => 分组管理">
        <p>未完成：</p>
        <p>已完成：新增分组、删除分组</p>
      </el-tab-pane>
    </el-tabs>
    <!--个人号管理 => 分组管理 =>新增分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible9 = true">新增/修改分组</el-button>
      <el-dialog title="新增/修改分组" :visible.sync="dialogVisible9" width="489px">
        <el-form :model="form">
          <el-form-item label="分组名称:" :label-width="formLabelWidth" required>
            <el-input v-model="form.name" autocomplete="off" placeholder="微信备注" class="ly-width-280px-im"></el-input>
          </el-form-item>
          <el-form-item label="分组类型:" :label-width="formLabelWidth">
            <el-select v-model="form.group" placeholder="请选择分组类型" class="ly-width-280px-im">
              <el-option label="分组类型1" value="group1"></el-option>
              <el-option label="分组类型2" value="group2"></el-option>
              <el-option label="分组类型3" value="group3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="活动形式" :label-width="formLabelWidth">
            <el-input type="textarea" :rows="5" v-model="remark" class="ly-width-280px-im"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible9 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible9 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--个人号管理 => 分组管理 =>删除分组-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible10 = true">删除分组</el-button>
      <el-dialog
        title="提示"
        :visible.sync="dialogVisible10"
        width="489px">
        <span>确定删除该设备分组吗？</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible10 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible10 = false">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import chatRecordFriend from '@/pages/ui/system/dialogs/common/dialogChatRecordFriends.vue'
import ChatRecordGroup from '@/pages/ui/system/dialogs/common/dialogChatRecordGroup.vue'
export default {
  components: {
    chatRecordFriend, // 好友以及好友聊天记录
    ChatRecordGroup // 微信群聊天记录
  },
  data() {
    return {
      chatRecordFriend: {
        diaologVisible: false
      },
      chatRecordGroup: {
        diaologVisible: false
      },
      // 个人号管理 => 个人号列表 => 修改微信备注
      formLabelWidth: '136px',
      dialogFormVisible: false,
      form: {
        name: ''
      },
      // 个人号管理 => 个人号列表 => 好友以及好友聊天记录
      dialogFormVisible2: false,
      chatSearch: '',
      chatcontentSearch: '',
      chatconentdateval: '',
      // 个人号管理 => 个人号列表 => 删除个人号
      dialogVisible: false,
      // 个人号管理 => 微信好友列表 => 分配好友
      dialogVisible2: false,
      groupForm: {
        group: 'group1',
        staff: 'staff1'
      },
      // 个人号管理 => 微信好友列表 => 选择好友分组
      dialogVisible3: false,
      // 个人号管理 => 微信好友列表 => 导出聊天记录
      dialogVisible4: false,
      datetimerange: '',
      // 个人号管理 => 微信群查看 => 分配聊天群
      dialogVisible5: false,
      // 个人号管理 => 微信群查看 => 批量分配聊天群
      dialogVisible6: false,
      // 个人号管理 => 微信群查看 => 选择群聊分组
      dialogVisible7: false,
      // 个人号管理 => 微信群查看 => 查看群成员
      dialogVisible8: false,
      gridData: [{
        avatar: 'http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L',
        nickname: '王小虎'
      }, {
        avatar: 'http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L',
        nickname: '王小虎2'
      }],
      // 个人号管理 => 分组管理 => 新增分组
      dialogVisible9: false,
      remark: '',
      // 个人号管理 => 分组管理 => 删除分组
      dialogVisible10: false,
      // 个人号管理 => 微信群聊天
      dialogFormVisible11: false
    }
  },
  methods: {
    showChatRecordFriends() {
      // 显示好友及好友聊天记录窗口
      this.chatRecordFriend.diaologVisible = true
    },
    showChatRecordGroup() {
      // 显示好友及好友聊天记录窗口
      this.chatRecordGroup.diaologVisible = true
    }
  },
  created() {
    // console.log(13)
  }
}
</script>
<style>
  .dialog-list{
    margin: 10px 0;
  }
</style>
