<template>
  <div>
    <el-tabs type="border-card">
      <el-tab-pane label="加粉管理 => 手机号加好友">
        <p>未完成：</p>
        <p>已完成：手机号/微信号加好友、提示</p>
      </el-tab-pane>
    </el-tabs>
    <!--加粉管理 => 手机号加好友 => 手机号/微信号加好友-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible1 = true">手机号/微信号加好友</el-button>
      <el-dialog title="手机号/微信号加好友" :visible.sync="dialogVisible1" width="639px" class="dialog-powdermanage">
        <el-form>
          <el-form-item class="dialogpowder-num-ul dialogpowder-num-ulborder">
            <div class="ly-box dialogpowder-num-li" v-for="(item, index) in addpersonNum" :key="index">
              <div class="dialogpowder-numlist">
                <el-form-item label="个人号:">
                  <el-select v-model="item.checkedPersonVal" placeholder="请选择个人号" @change="messageTypeChange"  size="small" :key="index">
                    <el-option :label="itemPerson.name" :value="itemPerson.value" v-for="itemPerson in item.person" :key="itemPerson.value"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="加好友后打标签:" class="elmargintop-12">
                  <el-select v-model="item.checkedLabelVal" placeholder="请选择标签" @change="messageTypeChange"  size="small">
                    <el-option :label="itemLable.name" :value="itemLable.value" v-for="itemLable in item.lable" :key="itemLable.value"></el-option>
                  </el-select>
                </el-form-item>
              </div>
              <div class="dialogpowder-numlist">
                <el-form-item label="手机或微信:">
                  <el-input
                    type="textarea"
                    :rows="5"
                    placeholder="请输入手机或微信"
                    v-model="item.numStr">
                  </el-input>
                </el-form-item>
              </div>
              <div class="dialogpowder-numbtn">
                <div  style="margin-top: 33px;">
                  <el-button type="primary" size="small" @click="newAddRecord(index, item)" v-if="index == (addpersonNum.length-1)">新增</el-button>
                </div>
                <div>
                  <el-button  type="danger" size="small" @click="removeRecord(index, item)" v-if="addpersonNum.length > 1">移除</el-button>
                </div>
              </div>
            </div>
          </el-form-item>
          <el-form-item class="dialogpowder-num-ul dialogpowder-num-remark">
            <div class="ly-box dialogpowder-num-li">
              <div class="dialogpowder-numlist">
                <el-form-item label="备注:">
                  <el-input
                    type="textarea"
                    :rows="5"
                    placeholder="请输入备注"
                    v-model="remark">
                  </el-input>
                </el-form-item>
              </div>
              <div class="dialogpowder-numlist">
                <el-form-item label="消息内容:" required>
                  <el-input
                    type="textarea"
                    :rows="5"
                    placeholder="请输入消息内容"
                    v-model="remark">
                  </el-input>
                </el-form-item>
              </div>
            </div>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible1 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible1 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="加粉管理 => 手机号加好友">
        <p>未完成：</p>
        <p>已完成：手机号/微信号加好友、提示</p>
      </el-tab-pane>
    </el-tabs>
    <!--加粉管理 => 手机号加好友 => 定时加好友-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible2 = true">手机号/微信号加好友</el-button>
      <el-dialog title="手机号/微信号加好友" :visible.sync="dialogVisible2" width="639px" class="dialog-powdermanage">
        <el-form>
          <el-form-item class="dialogpowder-num-ul dialogpowder-num-ulborder">
            <div class="ly-box dialogpowder-num-li" v-for="(item, index) in addpersonNum" :key="index">
              <div class="dialogpowder-numlist">
                <el-form-item label="个人号:">
                  <el-select v-model="item.checkedPersonVal" placeholder="请选择个人号" @change="messageTypeChange"  size="small" :key="index">
                    <el-option :label="itemPerson.name" :value="itemPerson.value" v-for="itemPerson in item.person" :key="itemPerson.value"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="加好友后打标签:" class="elmargintop-12">
                  <el-select v-model="item.checkedLabelVal" placeholder="请选择标签" @change="messageTypeChange"  size="small">
                    <el-option :label="itemLable.name" :value="itemLable.value" v-for="itemLable in item.lable" :key="itemLable.value"></el-option>
                  </el-select>
                </el-form-item>
              </div>
              <div class="dialogpowder-numlist">
                <el-form-item label="手机或微信:">
                  <el-input
                    type="textarea"
                    :rows="5"
                    placeholder="请输入手机或微信"
                    v-model="item.numStr">
                  </el-input>
                </el-form-item>
              </div>
              <div class="dialogpowder-numbtn">
                <div  style="margin-top: 33px;">
                  <el-button type="primary" size="small" @click="newAddRecord(index, item)" v-if="index == (addpersonNum.length-1)">新增</el-button>
                </div>
                <div>
                  <el-button  type="danger" size="small" @click="removeRecord(index, item)" v-if="addpersonNum.length > 1">移除</el-button>
                </div>
              </div>
            </div>
          </el-form-item>
          <div class="powderremak-width">
            <el-form-item label="备注:">
              <el-input v-model="name" autocomplete="off" placeholder="请输入备注"></el-input>
            </el-form-item>
            <el-form-item label="消息内容:">
              <span class="colortip">可以添加多个消息，会在这些信息里面按序发送</span>
              <el-button type="primary" size="small" class="ly-float-right" @click="addMessageList">新增</el-button>
              <el-input
                v-for="(item, index) in messageArr"
                :key="index"
                type="textarea"
                :rows="3"
                placeholder="请输入消息内容"
                v-model="item.content">
              </el-input>
            </el-form-item>
          </div>
          <el-form-item class="dialogpowder-num-remark" label="起始结束时间:" :label-width="formLabelWidth2">
            <el-date-picker
              v-model="value"
              size="small"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              :default-time="['00:00:00', '23:59:59']">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="dialogpowder-num-remark" label="每轮间隔时间:" :label-width="formLabelWidth2">
            <el-input-number v-model="num" :min="1" :max="10" label="描述文字" size="small"></el-input-number>
          </el-form-item>
          <el-form-item class="dialogpowder-num-remark" label="每轮申请好友:" :label-width="formLabelWidth2">
            <el-input-number v-model="num" :min="1" :max="10" label="描述文字" size="small"></el-input-number>
          </el-form-item>
          <el-form-item class="dialogpowder-num-remark" label="每日有效时段:" :label-width="formLabelWidth2">
            <el-time-select
              size="small"
              placeholder="起始时间"
              v-model="startTime"
              :picker-options="{
              start: '00:00',
              step: '00:15',
              end: '24:00'
            }">
            </el-time-select>
            ~
            <el-time-select
              size="small"
              placeholder="结束时间"
              v-model="endTime"
              :picker-options="{
              start: '00:00',
              step: '00:15',
              end: '24:00'
            }">
            </el-time-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible2 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible2 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--加粉管理 => 手机号加好友 => 申请加好友详情-->
    <div class=" dialog-list">
      <el-button type="primary" @click="dialogVisible3 = true">申请加好友详情</el-button>
      <el-dialog class="dialog-applyfrienddetail" title="手机号/微信号加好友" :visible.sync="dialogVisible3" width="1001px">
        <el-table
          :data="tableData"
          style="width: 100%">
          <el-table-column
            width="200"
            label="个人号">
            <template slot-scope="scope">
              <div class="ly-box useravatars">
                <div class="useravatars-img">
                  <span class="justflex">
                    <img :src="scope.row.avatar" />
                  </span>
                </div>
                <div class="ly-box-1"><span class="justflex">{{ scope.row.personNo }}</span></div>
              </div>
            </template>
          </el-table-column>
          <el-table-column
            prop="mobile"
            label="微信或手机">
          </el-table-column>
          <el-table-column
            prop="call"
            label="打招呼">
          </el-table-column>
          <el-table-column
            prop="remark"
            label="备注">
          </el-table-column>
          <el-table-column
            prop="startTime"
            label="执行时间">
          </el-table-column>
          <el-table-column
            prop="endTime"
            label="结束时间">
          </el-table-column>
          <el-table-column
            label="状态">
            <template slot-scope="scope">
              <el-button type="text" v-if="scope.row.carryState==1">执行成功</el-button>
              <el-button type="text" class="colortip-orange" v-else>执行失败</el-button>
              <p v-if="scope.row.online"><span class="linesate lineon"></span><span class="linetext">微信在线</span></p>
              <p v-else><span class="linesate lineoff"></span><span class="linetext">微信离线</span></p>
            </template>
          </el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible3 = false">关 闭</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="加粉管理 => 手机号加好友">
        <p>未完成：</p>
        <p>已完成：设置、提示</p>
      </el-tab-pane>
    </el-tabs>
    <!--加粉管理 => 店铺自动加好友 => 设置-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible4 = true">设置</el-button>
      <el-dialog title="设置" :visible.sync="dialogVisible4" width="536px" class="ly-dialogbody-maxh-60vh">
        <el-form>
          <el-form-item class="dialogpowder-num-remark" label="订单创建时间:" :label-width="formLabelWidth2">
            <el-date-picker
              class="ly-width-280px-im"
              v-model="value"
              size="small"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              :default-time="['00:00:00', '23:59:59']">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="dialogpowder-num-remark" label="自动加好友时间:" :label-width="formLabelWidth2">
            <div class="addfrendtimeli">
              <el-radio v-model="value" label="1">下单后</el-radio>
              <el-input type="number" v-model="value" min="1" step="1" placeholder="" size="small"></el-input>天
            </div>
            <div class="addfrendtimeli">
              <el-radio v-model="value" label="1">待发货状态后</el-radio>
              <el-input type="number" v-model="value" min="1" step="1" placeholder="" size="small"></el-input>天
            </div>
            <div class="addfrendtimeli">
              <el-radio v-model="value" label="1">已发货状态后</el-radio>
              <el-input type="number" v-model="value" min="1" step="1" placeholder="" size="small"></el-input>天
            </div>
            <div class="addfrendtimeli">
              <el-radio v-model="value" label="1">确认收货状态后</el-radio>
              <el-input type="number" v-model="value" min="1" step="1" placeholder="" size="small"></el-input>天
            </div>
          </el-form-item>
          <el-form-item class="dialogpowder-num-remark" label="自动加好友频率:" :label-width="formLabelWidth2">
            <el-form-item class="dialogpowder-num-remark" label="每轮间隔时间:" :label-width="formLabelWidth3">
              <el-input-number v-model="num" :min="1" :max="10" label="描述文字" size="small"></el-input-number>
            </el-form-item>
            <el-form-item class="dialogpowder-num-remark" label="每轮申请好友:" :label-width="formLabelWidth3">
              <el-input-number v-model="num" :min="1" :max="10" label="描述文字" size="small"></el-input-number>
            </el-form-item>
            <el-form-item class="dialogpowder-num-remark dialogpowder-num-times" label="每日有效时段:" :label-width="formLabelWidth3">
              <el-time-select
                placeholder="起始时间"
                v-model="startTime"
                size="small"
                :picker-options="{
                  start: '00:00',
                  step: '00:15',
                  end: '24:00'
                }">
              </el-time-select>
              ~
              <el-time-select
                placeholder="结束时间"
                v-model="endTime"
                size="small"
                :picker-options="{
                  start: '00:00',
                  step: '00:15',
                  end: '24:00'
                }">
              </el-time-select>
            </el-form-item>
          </el-form-item>
          <el-form-item class="dialogpowder-num-remark" label="选择个人号:" :label-width="formLabelWidth3">
            <el-select v-model="value" placeholder="请选择消息类型" size="small">
              <el-option label="文本消息" value="1"></el-option>
              <el-option label="图片消息" value="2"></el-option>
              <el-option label="语音消息" value="3"></el-option>
              <el-option label="视频消息" value="4"></el-option>
            </el-select>
            <div class="line-height-28">
              <el-radio v-model="radio" label="1" size="small">按选择个人号的顺序添加</el-radio>
            </div>
            <div class="line-height-28">
              <el-radio v-model="radio" label="2" size="small">随机添加到选择的个人号</el-radio>
            </div>
          </el-form-item>
          <el-form-item label="消息内容:" :label-width="formLabelWidth3">
            <el-input
              class="ly-width-280px-im"
              v-for="(item, index) in messageArr"
              :key="index"
              type="textarea"
              :rows="3"
              placeholder="请输入消息内容"
              v-model="item.content">
            </el-input>
          </el-form-item>
          <el-form-item label="自动加好友:" :label-width="formLabelWidth3">
            <el-switch
              v-model="value"
              active-color="#13ce66"
              inactive-color="#ff4949">
            </el-switch>
          </el-form-item>
          <el-form-item label="过滤重复手机:" :label-width="formLabelWidth3">
            <el-switch
              v-model="value"
              active-color="#13ce66"
              inactive-color="#ff4949">
            </el-switch>
          </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible4 = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible4 = false">保 存</el-button>
        </div>
      </el-dialog>
    </div>
    <!--加粉管理 => 店铺自动加好友 => 提示-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible7 = true">提示</el-button>
      <el-dialog title="提示" :visible.sync="dialogVisible7" width="400px">
        <div class="ly-text-center">
          <p class="ly-inline-block ly-width-280px ly-font-color-4">批量添加好友运行期间，请不要切换页面，否则会导致添加任务中止</p>
          <el-button class="ly-margintop-25px" type="primary" size="medium"  @click="dialogVisible7 = false">我知道了</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="加粉管理 => 微活码">
        <p>未完成：</p>
        <p>已完成：新增微活码,生成成功</p>
      </el-tab-pane>
    </el-tabs>
    <!--加粉管理 => 店铺自动加好友 => 新增微活码-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible5 = true">新增微活码</el-button>
      <el-dialog title="新增微活码" :visible.sync="dialogVisible5" width="995px" class="ly-dialogbody-maxh-60vh">
        <div class="ly-box ly-paddingtop-20px">
          <div class="ly-box-1 ly-margin-right-116px">
            <el-form>
              <el-form-item class="dialogpowder-num-remark" label="标题:" :label-width="formLabelWidth3">
                <el-input placeholder="请输入标题" v-model="remark" class="ly-width-400px-im" size="medium"></el-input>
              </el-form-item>
              <el-form-item class="dialogpowder-num-remark" label="文字说明:" :label-width="formLabelWidth3">
                <el-input placeholder="文字说明" v-model="remark" class="ly-width-400px-im" size="medium"></el-input>
              </el-form-item>
              <el-form-item class="dialogpowder-num-remark" label="背景图:" :label-width="formLabelWidth3">
                <el-button type="primary" size="small">背景图</el-button>
                <img v-if="value" :src="backgroundImgurl" class="ly-width-178px ly-height-100px" />
                <p class="ly-font-12 ly-font-color-4 line-height-18">图片建议尺寸640*1136px，小于1M，格式为png或jpg图片（如不上传，则使用系统默认背景图）</p>
              </el-form-item>
              <el-form-item class="dialogpowder-num-remark" label="轮播方式:" :label-width="formLabelWidth3">
                <el-radio v-model="radio" label="1">每次打开顺序轮播</el-radio>
                <el-radio v-model="radio" label="2">每次打开随机轮播</el-radio>
              </el-form-item>
              <el-form-item class="dialogpowder-num-remark" label="上传二维码:" :label-width="formLabelWidth3">
                <el-button type="primary" size="small">上传二维码</el-button>
                <div class="ly-box ly-flexwrap-wrap ly-margin-top-20px">
                  <div class="ly-wh-97px ly-margin-right-bottom-sm"><img v-if="!value" :src="backgroundImgurl" class="ly-wh-100-100" /></div>
                  <div class="ly-wh-97px ly-margin-right-bottom-sm"><img v-if="!value" :src="backgroundImgurl" class="ly-wh-100-100" /></div>
                  <div class="ly-wh-97px ly-margin-right-bottom-sm"><img v-if="!value" :src="backgroundImgurl" class="ly-wh-100-100" /></div>
                  <div class="ly-wh-97px ly-margin-right-bottom-sm"><img v-if="!value" :src="backgroundImgurl" class="ly-wh-100-100" /></div>
                  <div class="ly-wh-97px ly-margin-right-bottom-sm"><img v-if="!value" :src="backgroundImgurl" class="ly-wh-100-100" /></div>
                  <div class="ly-wh-97px ly-margin-right-bottom-sm"><img v-if="!value" :src="backgroundImgurl" class="ly-wh-100-100" /></div>
                  <div class="ly-wh-97px ly-margin-right-bottom-sm"><img v-if="!value" :src="backgroundImgurl" class="ly-wh-100-100" /></div>
                  <div class="ly-wh-97px ly-margin-right-bottom-sm"><img v-if="!value" :src="backgroundImgurl" class="ly-wh-100-100" /></div>
                  <div class="ly-wh-97px ly-margin-right-bottom-sm"><img v-if="!value" :src="backgroundImgurl" class="ly-wh-100-100" /></div>
                  <div class="ly-wh-97px ly-margin-right-bottom-sm"><img v-if="!value" :src="backgroundImgurl" class="ly-wh-100-100" /></div>
                </div>
                <p class="ly-font-12 ly-font-color-4 line-height-18">最多可上传30张，图片建议尺寸400*400px，小于1M，格式为png或jpg图片</p>
              </el-form-item>
            </el-form>
          </div>
          <div class="ly-width-196px ly-margin-right-40px ly-position-relative iphone-contain" style="height:408px">
            <img :src="phoneImg"/>
            <div class="iphone-content">
              <img :src="backgroundImgurl"/>
              <div class="iphone-conent-white">
                <div class="iphone-code">
                  <img :src="backgroundImgurl"/>
                </div>
                <div class="iphone-content-foot ly-font-12 ly-font-color-2">长安以上二维码</div>
              </div>
            </div>
          </div>
        </div>
        <div slot="footer" class="dialog-footer ly-text-left">
          <el-button type="primary" @click="dialogVisible5 = false" class="ly-margin-left-106px">马上生成</el-button>
        </div>
      </el-dialog>
    </div>
    <!--加粉管理 => 店铺自动加好友 => 二维码生成成功-->
    <div class="dialog-list">
      <el-button type="primary" @click="dialogVisible6 = true">恭喜，生成成功!</el-button>
      <el-dialog title="恭喜，生成成功!" :visible.sync="dialogVisible6" width="639px">
        <div class="ly-text-center">
          <p class="ly-paddingtop-25px ly-font-color-8">你可以扫码试一试效果。并下载保存进行传播</p>
          <div>
            <img class="ly-paddingtop-25px ly-wh-220-220px" :src="backgroundImgurl"/>
          </div>
          <el-button class="ly-margintop-25px" type="primary" size="medium">下载二维码</el-button>
          <div>
            <el-input class="ly-width-300px ly-margintop-40px" placeholder="请输入内容" v-model="value" size="medium">
              <template slot="append">复制链接</template>
            </el-input>
          </div>
        </div>
      </el-dialog>
    </div>
    <br />
    <br />
  </div>
</template>
<script>
import defaultAvatar from '@/assets/images/common/iPhone.png'
export default {
  data() {
    return {
      phoneImg: defaultAvatar,
      // 加粉管理
      formLabelWidth: '136px',
      formLabelWidth2: '120px',
      formLabelWidth3: '110px',
      form: {},
      remark: '',
      name: '',
      group: '',
      radio: '1',
      num: 2,
      value: '',
      value2: [new Date(2016, 9, 10, 8, 40), new Date(2016, 9, 10, 9, 40)],
      backgroundImgurl: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
      backups: {
        person: [{
          name: 'name1',
          value: '1'
        }, {
          name: 'name2',
          value: '2'
        }],
        lable: [{
          name: 'label1',
          value: '1'
        }, {
          name: 'label2',
          value: '2'
        }],
        numStr: '',
        checkedPersonVal: '',
        checkedLabelVal: ''
      },
      addpersonNum: [{
        random: 1,
        person: [{
          name: 'name1',
          value: '1'
        }, {
          name: 'name2',
          value: '2'
        }],
        lable: [{
          name: 'label1',
          value: '1'
        }, {
          name: 'label2',
          value: '2'
        }],
        numStr: '',
        checkedPersonVal: '',
        checkedLabelVal: ''
      }],
      messageArr: [{
        content: ''
      }],
      dialogVisible1: false,
      dialogVisible2: false,
      dialogVisible3: false,
      dialogVisible4: false,
      dialogVisible5: false,
      dialogVisible6: false,
      dialogVisible7: false,
      dialogVisible8: false,
      dialogVisible9: false,
      dialogVisible10: false,
      dialogVisible11: false,
      dialogVisible12: false,
      dialogVisible13: false,
      messageType: '',
      dialogImageUrl: '',
      dialogImageVisible: false,
      dialogMatterVisible: false,
      tabPosition: 'common',
      audioBindText: '按住说话',
      audioState: true,
      countTime: 60,
      dialogVisible14: false,
      tableData: [{
        personNo: '21545dasd24asdasd21545dasd24asdasd21545dasd24asdasd',
        avatar: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
        mobile: '18100001212',
        call: 12,
        remark: 'remark1',
        startTime: '2016-05-04',
        endTime: '2016-05-05',
        carryState: '1',
        online: 1
      }, {
        personNo: '21545dasd24asdasd21545dasd24asdasd21545dasd24asdasd',
        avatar: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
        mobile: '18100001212',
        call: 12,
        remark: 'remark1',
        startTime: '2016-05-04',
        endTime: '2016-05-05',
        carryState: '1',
        online: 1
      }, {
        personNo: '21545dasd24asdasd21545dasd24asdasd21545dasd24asdasd',
        avatar: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
        mobile: '18100001212',
        call: 12,
        remark: 'remark1',
        startTime: '2016-05-04',
        endTime: '2016-05-05',
        carryState: '1',
        online: 0
      }, {
        personNo: '21545dasd24asdasd21545dasd24asdasd21545dasd24asdasd',
        avatar: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
        mobile: '18100001212',
        call: 12,
        remark: 'remark1',
        startTime: '2016-05-04',
        endTime: '2016-05-05',
        carryState: '0',
        online: 0
      }, {
        personNo: '21545dasd24asdasd21545dasd24asdasd21545dasd24asdasd',
        avatar: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
        mobile: '18100001212',
        call: 12,
        remark: 'remark1',
        startTime: '2016-05-04',
        endTime: '2016-05-05',
        carryState: '1',
        online: 0
      }, {
        personNo: '21545dasd24asdasd21545dasd24asdasd21545dasd24asdasd',
        avatar: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
        mobile: '18100001212',
        call: 12,
        remark: 'remark1',
        startTime: '2016-05-04',
        endTime: '2016-05-05',
        carryState: '1',
        online: 1
      }, {
        personNo: '21545dasd24asdasd21545dasd24asdasd21545dasd24asdasd',
        avatar: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
        mobile: '18100001212',
        call: 12,
        remark: 'remark1',
        startTime: '2016-05-04',
        endTime: '2016-05-05',
        carryState: '1',
        online: 1
      }, {
        personNo: '21545dasd24asdasd21545dasd24asdasd21545dasd24asdasd',
        avatar: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
        mobile: '18100001212',
        call: 12,
        remark: 'remark1',
        startTime: '2016-05-04',
        endTime: '2016-05-05',
        carryState: '1',
        online: 0
      }],
      dialogVisible15: false,
      startTime: '00:00',
      endTime: '00:00',
      dialogVisible16: false,
      dialogVisible17: false,
      dialogVisible18: false,
      dialogVisible19: false,
      dialogVisible20: false,
      dialogVisible21: false,
      dialogVisible22: false,
      dialogVisible23: false,
      dialogVisible24: false,
      dialogVisible25: false
    }
  },
  methods: {
    messageTypeChange(val) {
      console.log(val)
      console.log(this.messageType)
    },
    handleRemove(file, fileList) {
      console.log(file, fileList)
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogImageVisible = true
    },
    previewImg(event) {
      let url = event.target.dataset.imgurl
      this.dialogImageUrl = url
      this.dialogImageVisible = true
    },
    audiotimeCount() {
      if (this.audioState) {
        // 开始录音
        this.audioState = false
        this.setTimecount()
      } else {
        // 结束录音
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    },
    setTimecount() {
      if ((this.dialogVisible20 || this.dialogVisible15 || this.dialogVisible13) && !this.audioState && this.countTime > 0) {
        this.audioBindText = `再次点击结束(${this.countTime}s)`
        this.countTime -= 1
        setTimeout(() => {
          this.setTimecount()
        }, 1000)
      } else {
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    },
    handleEdit(index, row) {
      console.log(index, row)
    },
    handleDelete(index, row) {
      console.log(index, row)
      this.dialogVisible21 = true
    },
    // 新增
    newAddRecord(index, item) {
      let newAddpersonNum = JSON.parse(JSON.stringify(this.addpersonNum))
      let newBackups = JSON.parse(JSON.stringify(this.backups))
      newAddpersonNum.push(newBackups)
      this.addpersonNum = []
      this.addpersonNum = newAddpersonNum
    },
    // 移除
    removeRecord(index, item) {
      this.addpersonNum.splice(index, 1)
    },
    // 新增消息内容
    addMessageList() {
      let message = JSON.parse(JSON.stringify(this.messageArr))
      message.push({content: ''})
      this.messageArr = message
    }
  },
  created() {
    console.log(this.phoneImg)
  }
}
</script>
<style>
  .dialog-list{
    margin: 10px 0;
  }
</style>
