<template>
  <div>
    <!-- 新增部门 -->
    <el-button type="primary"
               @click="dialogVisible1 = true">新增部门</el-button>
    <el-dialog title="新增部门"
               :visible.sync="dialogVisible1"
               width="50%">
      <el-form label-width="100px">
        <el-form-item label="部门名称"
                      required>
          <el-input class="ly-width-280px-im" size="medium"></el-input>
        </el-form-item>
        <el-form-item label="父级部门"
                      required>
          <el-select placeholder="请选择部门"
                     size="medium"
                     v-model="parentDepartmanet">
            <el-option label="区域一"
                       value="shanghai"></el-option>
            <el-option label="区域二"
                       value="beijing"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer"
            class="dialog-footer">
        <el-button @click="dialogVisible1 = false">取 消</el-button>
        <el-button type="primary">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 新增员工 -->
    <el-button type="primary"
               @click="dialogVisible2 = true">新增员工</el-button>
    <el-dialog title="新增员工"
               :visible.sync="dialogVisible2"
               width="560px">
      <el-form ref="ruleForm"
               label-width="100px">
        <el-form-item label="登录账号:"
                      required>
          <el-input class="ly-width-280px-im" size="medium"></el-input>
        </el-form-item>
        <el-form-item label="登录密码:"
                      required>
          <el-input class="ly-width-280px-im" size="medium"></el-input>
        </el-form-item>
        <el-form-item label="真实姓名:"
                      required>
          <el-input class="ly-width-280px-im" size="medium"></el-input>
        </el-form-item>
        <el-form-item label="真实手机号:"
                      required>
          <el-input class="ly-width-280px-im" size="medium"></el-input>
        </el-form-item>
        <el-form-item label="用户角色:"
                      required>
          <el-select v-model="parentDepartmanet" size="medium" class="ly-width-280px-im"
                     placeholder="请选择角色">
            <el-option label="区域一"
                       value="shanghai"></el-option>
            <el-option label="区域二"
                       value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="用户部门:"
                      required>
          <el-select v-model="parentDepartmanet" size="medium" class="ly-width-280px-im"
                     placeholder="请选择部门">
            <el-option label="区域一"
                       value="shanghai"></el-option>
            <el-option label="区域二"
                       value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="用户备注:">
          <el-input type="textarea"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer"
            class="dialog-footer">
        <el-button @click="dialogVisible2 = false">取 消</el-button>
        <el-button type="primary">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 重置密码 -->
    <el-button type="primary"
               @click="dialogVisible3 = true">重置密码</el-button>
    <el-dialog title="重置密码"
               :visible.sync="dialogVisible3"
               width="560px">
      <el-form label-width="100px">
        <el-form-item label="设置新密码:"
                      required>
          <el-input class="ly-width-280px-im" size="medium"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer"
            class="dialog-footer">
        <el-button @click="dialogVisible3 = false">取 消</el-button>
        <el-button type="primary">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 添加角色 -->
    <el-button type="primary"
               @click="dialogVisible4 = true">添加角色</el-button>
    <el-dialog title="添加角色"
               :visible.sync="dialogVisible4"
               width="1076px">
      <el-form label-width="100px"
               class="add-role-dialog">
        <span class="ly-font-color-4 ly-font-16 ly-margin-right-sm">角色名称:</span>
        <el-input style="width:280px;" size="medium"></el-input>
        <p class="ly-font-16 detail-margin-top ly-font-color-4 ly-margin-bottom-sm">角色权限</p>
        <table border="1"
               cellspacing="0"
               class="add-role-table ly-font-color-4 ly-font-14">
          <tr class="product-detail-bg">
            <td colspan="6"
                class="ly-position-relative">
              <span class="ly-margin-left-sm ly-font-color-3 ly-font-16">首页统计权限</span>
              <span class="ly-position-absolute add-authority">
                <el-checkbox></el-checkbox>
              </span>
            </td>
          </tr>
          <tr>
            <td align="center">
              <el-checkbox>菜单名称</el-checkbox>
            </td>
            <td align="center">
              <el-checkbox>菜单名称</el-checkbox>
            </td>
            <td align="center">
              <el-checkbox>菜单名称</el-checkbox>
            </td>
            <td align="center">
              <el-checkbox>菜单名称</el-checkbox>
            </td>
            <td align="center">
              <el-checkbox>菜单名称</el-checkbox>
            </td>
            <td align="center">
              <el-checkbox>菜单名称</el-checkbox>
            </td>
          </tr>
        </table>
        <div class="detail-margin-top">
          <table border="1"
                 cellspacing="0"
                 class="add-role-table ly-font-color-4 ly-font-14">
            <tr class="product-detail-bg">
              <td colspan="6"
                  class="ly-position-relative">
                <span class="ly-margin-left-sm ly-font-color-3 ly-font-16">菜单权限</span>
                <span class="ly-position-absolute add-authority">
                  <el-checkbox></el-checkbox>
                </span>
              </td>
            </tr>
            <tr>
              <td align="center">
                <el-checkbox>首页</el-checkbox>
              </td>
              <td align="center">
                <el-checkbox>个人号管理</el-checkbox>
              </td>
              <td align="center">
                <el-checkbox>设备管理</el-checkbox>
              </td>
              <td align="center">
                <el-checkbox>营销平台</el-checkbox>
              </td>
              <td align="center">
                <el-checkbox>加粉管理</el-checkbox>
              </td>
              <td align="center">
                <el-checkbox>风控管理</el-checkbox>
              </td>
            </tr>
            <tr>
              <td align="center">
                <el-checkbox>员工管理</el-checkbox>
              </td>
              <td align="center">
                <el-checkbox>电商平台</el-checkbox>
              </td>
              <td align="center">
                <el-checkbox>操作日志</el-checkbox>
              </td>
            </tr>
          </table>
        </div>
        <div class="detail-margin-top ">
          <el-checkbox class="ly-margin-bottom-sm ly-font-color-3 ly-font-16">同部门数据权限</el-checkbox>
          <div>
            <ul>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看同部门统计数据</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看同部门微信号</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看同部门微信好友</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看同部门微信群</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看同部门的设备</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看同部门重复好友</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看同部门重复群</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看同部门分配记录</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看同部门手机号加好友</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看同部门财务统计</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看同部门定时任务加好友</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看同部门敏感操作</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看同部门定时任务发朋友圈</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看同部门通话录音</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看同部门手机短信</el-checkbox>
                </span>
              </li>
              <li>
                <el-checkbox class="ly-font-color-4 ly-font-14">查看同部门朋友圈点赞</el-checkbox>
              </li>
            </ul>
          </div>
        </div>
        <div class="detail-margin-top ">
          <el-checkbox class="ly-margin-bottom-sm ly-font-color-3 ly-font-16">子部门数据权限</el-checkbox>
          <div>
            <ul>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看子部门统计数据</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看子部门微信号</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看子部门微信好友</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看子部门微信群</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看子部门的设备</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看子部门重复好友</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看子部门重复群</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看子部门分配记录</el-checkbox>
                </span>
                <span class="ly-box-1 ly-font-color-4 ly-font-14">
                  <el-checkbox>查看子部门手机号加好友</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看子部门财务统计</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看子部门定时任务加好友</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看子部门敏感操作</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看子部门定时任务发朋友圈</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看子部门通话录音</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>查看子部门手机短信</el-checkbox>
                </span>
              </li>
              <li>
                <el-checkbox class="ly-font-color-4 ly-font-14">查看子部门朋友圈点赞</el-checkbox>
              </li>
            </ul>
          </div>
        </div>
        <div class="detail-margin-top ">
          <el-checkbox class="ly-margin-bottom-sm ly-font-color-3 ly-font-16">基础功能权限</el-checkbox>
          <div>
            <ul>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>客服登录</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>删除微信</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>删除设备</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>公共快捷语</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>账户权限设置</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>显示/导出好友微信号/微信号,手机号</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>新建&发送红包</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>转移会话</el-checkbox>
                </span>
              </li>
              <li class="ly-box">
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>新建晒图活动</el-checkbox>
                </span>
                <span class="ly-font-color-4 ly-font-14 ly-box-1">
                  <el-checkbox>审核晒图活动</el-checkbox>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </el-form>
      <span slot="footer"
            class="dialog-footer">
        <el-button @click="dialogVisible4 = false">关闭</el-button>
        <el-button type="primary">保存</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data() {
    return {
      dialogVisible1: false,
      dialogVisible2: false,
      dialogVisible3: false,
      dialogVisible4: false,
      parentDepartmanet: ''
    }
  }
}
</script>
