<template>
  <div class="frame">
    <div class="frame-body">
      <router-view class="frame-person"
                   name="person" />
      <el-container class="ly-page-setion">
        <el-header height="auto"
                   class="main-el-header">
          <main-header class="frame-header" />
        </el-header>
        <el-main class="ly-page-main-position">
          <el-container class="ly-page-main-position-setion">
            <el-aside width="auto"
                      class="main-el-aside">
              <main-menu class="frame-nav" />
            </el-aside>
            <el-main class="main-el-main">
              <div class="frame-wrapper">
                <page-tags class="frame-control" />
                <div class="frame-main">
                  <transition mode="out-in"
                              enter-active-class="fadeInRightBig"
                              leave-active-class="fadeOutRightBig">
                    <router-view class="container animated" />
                  </transition>
                </div>
              </div>
            </el-main>
          </el-container>
        </el-main>
      </el-container>
    </div>
  </div>
</template>

<script>
import MainHeader from '@/components/packages/system/main/header.vue'
import MainMenu from '@/components/packages/system/main/menu.vue'
import PageTags from '@/components/packages/system/main/tags.vue'

export default {
  components: {
    MainHeader,
    MainMenu,
    PageTags
  }
}
</script>
