<template>
  <el-form :model="params"
           ref="params"
           label-width="120px"
           class="demo-ruleForm ly-padding-sm ly-box-1"
           :rules="rules">
    <div class="ly-border-bottom-1">
      <el-form-item label="账号信息"
                    class="ly-font-16">
      </el-form-item>
      <el-form-item label="账号："
                    prop="account">
        <div>
          <el-input type="account"
                    v-model="params.account"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
          <span>6~20位字符或数字</span>
        </div>
      </el-form-item>
      <el-form-item label="初始密码："
                    prop="passwords">
        <div>
          <el-input type="password"
                    v-model.trim="params.passwords"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
          <span>6~20位字符或数字</span>
        </div>
      </el-form-item>
      <el-form-item label="确认密码："
                    prop="password">
        <div>
          <el-input type="password"
                    v-model.trim="params.password"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
          <span>6~20位字符或数字</span>
        </div>
      </el-form-item>
    </div>
    <el-form-item label="基本信息"
                  class="ly-font-16 ly-margin-top-sm">
    </el-form-item>
    <el-form-item label="编号：">{{params.id || ''}}
    </el-form-item>
    <el-form-item label="贴牌商名称："
                  class="ruleForm-sm"
                  prop="name">
      <div>
        <el-input type="name"
                  v-model="params.name"
                  autocomplete="off"
                  clearable></el-input>
        <span>20字</span>
      </div>
    </el-form-item>
    <el-form-item label="联系电话："
                  prop="phone">
      <el-input type="phone"
                v-model.number="params.phone"
                autocomplete="off"
                clearable></el-input>
    </el-form-item>
    <el-form-item label="设备："
                  class="ruleForm-xs"
                  prop="equipmentNum">
      <div>
        <el-input type="equipmentNum"
                  v-model.number="params.equipmentNum"
                  autocomplete="off"
                  clearable
                  :disabled="isEdit"></el-input>
        <span>台</span>
      </div>
    </el-form-item>
    <el-form-item label="店铺："
                  class="ruleForm-xs"
                  prop="shopNum">
      <div>
        <el-input type="shopNum"
                  v-model.number="params.shopNum"
                  autocomplete="off"
                  clearable
                  :disabled="isEdit"></el-input>
        <span>个</span>
      </div>
    </el-form-item>
    <el-form-item label="个人号："
                  class="ruleForm-xs"
                  prop="wechatNum">
      <div>
        <el-input type="wechatNum"
                  v-model.number="params.wechatNum"
                  autocomplete="off"
                  clearable
                  :disabled="isEdit"></el-input>
        <span>个</span>
      </div>
    </el-form-item>
    <el-form-item label="企业账号："
                  class="ruleForm-xs"
                  prop="wechatNum">
      <div>
        <el-input type="wechatNum"
                  v-model.number="params.wechatNum"
                  autocomplete="off"
                  clearable
                  :disabled="isEdit"></el-input>
        <span>个</span>
      </div>
    </el-form-item>
    <el-form-item label="地址："
                  class="ruleForm-xs">
      <el-select v-model="params.provinceId"
                 placeholder="省">
        <el-option v-for="item in list"
                   :key="item.value"
                   :label="item.label"
                   :value="item.value">
        </el-option>
      </el-select>
      <el-select v-model="params.cityId"
                 placeholder="市">
        <el-option v-for="item in list"
                   :key="item.value"
                   :label="item.label"
                   :value="item.value">
        </el-option>
      </el-select>
      <el-select v-model="params.areaId"
                 placeholder="区">
        <el-option v-for="item in list"
                   :key="item.value"
                   :label="item.label"
                   :value="item.value">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="详细地址："
                  class="ruleForm-sm"
                  prop="detailAddress">
      <div>
        <el-input v-model="params.detailAddress"
                  autocomplete="off"
                  clearable></el-input>
        <span>50字</span>
      </div>
    </el-form-item>
    <el-form-item label="备注："
                  class="ruleForm-sm"
                  prop="remark">
      <div>
        <el-input type="textarea"
                  v-model="params.remark"
                  rows="5"
                  maxlength="500"></el-input>
        <span>{{remarkLen}}/{{remarkTotal}}</span>
      </div>
    </el-form-item>
    <el-form-item>
      <el-button type="primary"
                 @click="submitForm('params')">确定</el-button>
      <el-button v-if="!isEdit"
                 @click="resetForm('params')">重置</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { mobileValidator } from '@/assets/js/validators'
import Logger from '@/utils/logger'

export default {
  watch: {
    'params.remark': {
      handler: function (val, oldval) {
        this.remarkLen = val.length
      },
      deep: true
    }
  },
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请再次输入密码'))
      } else if (value !== this.params.passwords) {
        callback(new Error('两次输入密码不一致!'))
      } else {
        callback()
      }
    }
    return {
      isActive: 0,
      list: [],
      params: {
        account: '',
        passwords: '',
        password: '',
        name: '',
        phone: '',
        equipmentNum: 1,
        shopNum: 1,
        wechatNum: 1,
        dataRole: [],
        provinceId: null,
        cityId: null,
        areaId: null,
        detailAddress: '',
        remark: '',
        roleId: ''
      },
      rules: {
        account: [
          { required: true, message: '请输入账号' },
          { min: 6, max: 20, message: '账号的长度在6~20个字符' }
        ],
        passwords: [
          { required: true, message: '请输入初始密码' },
          { min: 6, max: 20, message: '密码的长度在6~20个字符' }
        ],
        password: [
          { required: true, message: '请再次输入密码' },
          { validator: validatePass }
        ],
        name: [
          { required: true, message: '企业名称不能为空' },
          { max: 20, message: '企业名称不能超过20个字符' }
        ],
        phone: [
          { required: true, message: '联系电话不能为空' },
          { validator: mobileValidator }
        ],
        equipmentNum: [
          { required: true, message: '设备数量不能为空' },
          { type: 'number', message: '设备数量只能为数字' }
        ],
        shopNum: [
          { required: true, message: '店铺数量不能为空' },
          { type: 'number', message: '店铺数量只能为数字' }
        ],
        wechatNum: [
          { required: true, message: '个人号数量不能为空' },
          { type: 'number', message: '个人号数量只能为数字' }
        ],
        detailAddress: [
          { max: 50, message: '详细地址不能超过50个字符' }
        ]
      },
      isEdit: false,
      remarkLen: 0,
      remarkTotal: 500,
      numInfo: {
        equNum: {},
        shopNum: {},
        accountNum: {}
      }
    }
  },
  created() {
  },
  methods: {
    // 保存验证
    submitForm(formName) {
      Logger.log(this.$refs.menuRightList.getData())
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.submitCallback()
        } else {
          this.error('很遗憾，请填写正确数据')
          return false
        }
      })
    },
    // 保存
    submitCallback() {
      Logger.log(this.params)
    },
    // 重置
    resetForm(formName) {
      this.$refs[formName].resetFields()
    }
  }
}
</script>
