<template>
  <el-form :model="params"
           ref="params"
           label-width="120px"
           class="demo-ruleForm ly-padding-sm ly-box-1"
           :rules="rules">
    <el-form-item label="登录页设置"
                  class="ly-font-16">
    </el-form-item>
    <el-form-item label="LOGO："
                  prop="account">
      <el-upload class="avatar-uploader"
                 action="https://jsonplaceholder.typicode.com/posts/"
                 :show-file-list="false"
                 :on-success="handleAvatarSuccess"
                 :before-upload="beforeAvatarUpload">
        <img v-if="imageUrl"
             :src="imageUrl"
             class="avatar">
        <i v-else
           class="el-icon-plus avatar-uploader-icon"></i>
      </el-upload>
      <p class="ly-tip">建议尺寸124*26px</p>
    </el-form-item>
    <el-form-item label="客服热线："
                  prop="name">
      <el-input type="name"
                v-model.trim="params.name"
                autocomplete="off"
                clearable></el-input>
    </el-form-item>
    <el-form-item label="公众号二维码："
                  prop="password">
      <el-upload class="avatar-uploader"
                 action="https://jsonplaceholder.typicode.com/posts/"
                 :show-file-list="false"
                 :on-success="handleAvatarSuccess"
                 :before-upload="beforeAvatarUpload">
        <img v-if="imageUrl"
             :src="imageUrl"
             class="avatar">
        <i v-else
           class="el-icon-plus avatar-uploader-icon"></i>
      </el-upload>
      <p class="ly-tip">建议尺寸124*26px</p>
    </el-form-item>
    <el-form-item label="技术支持："
                  prop="name"
                  class="ruleForm-sm">
      <el-input type="account"
                v-model="params.account"
                autocomplete="off"
                clearable></el-input>
    </el-form-item>
    <el-form-item label="备案号："
                  prop="phone"
                  class="ruleForm-sm">
      <el-input type="phone"
                v-model.number="params.phone"
                autocomplete="off"
                clearable></el-input>
    </el-form-item>
    <el-form-item label="版权所有："
                  prop="equipmentNum"
                  class="ruleForm-sm">
      <el-input type="account"
                v-model="params.account"
                autocomplete="off"
                clearable></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="text">查看示例</el-button>
      <el-button type="primary"
                 @click="submitCallback('params')">确定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import Logger from '@/utils/logger'

export default {
  data() {
    return {
      isActive: 0,
      list: [],
      params: {
        account: '',
        name: '',
        phone: ''
      },
      rules: {
        account: [
          { required: true, message: '请输入账号' },
          { min: 6, max: 20, message: '账号的长度在6~20个字符' }
        ],
        name: [
          { required: true, message: '企业名称不能为空' },
          { max: 20, message: '企业名称不能超过20个字符' }
        ],
        phone: [
          { required: true, message: '联系电话不能为空' }
        ]
      },
      imageUrl: ''
    }
  },
  created() {
  },
  methods: {
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isJPG) {
        this.error('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.error('上传头像图片大小不能超过 2MB!')
      }
      return isJPG && isLt2M
    },
    // 保存
    submitCallback() {
      Logger.log(this.params)
    }
  }
}
</script>
