<template>
  <div class="group-info">
    <div class="info-header">
      <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="avator">
      <div class="main">
        <div class="nick-name ellipsis">微信昵称：嬷嬷茶</div>
        <div class="remark">
          群成员：50个
        </div>
        <div class="wechat-id ellipsis" title="哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈">群公告：哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
      </div>
    </div>
    <div class="info-body">
      <div class="search-bar rlt">
        <el-input placeholder="请输入昵称"></el-input>
        <el-button type="info" icon="el-icon-search" plain class="abs"></el-button>
      </div>
      <ul class="group-member-list tl">
        <li class="member">
          <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="avator" />
          <div class="nick-name">
            <span class="name ellipsis">何事非君</span>
            <span class="identity">群主</span>
          </div>
        </li>
        <li class="member">
          <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="avator" />
          <div class="nick-name">
            <span class="name ellipsis">何事非君</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {

}
</script>
