<template>
  <div class="reply-msg">
    <div class="template-type">
      <el-radio-group v-model="templateType">
        <el-radio-button label="个人快捷语"></el-radio-button>
        <el-radio-button label="公共快捷语"></el-radio-button>
      </el-radio-group>
    </div>
    <div class="search-bar">
      <el-input placeholder="输入关键字进行过滤"></el-input>
    </div>
    <div class="template-list" v-if="templateType">
      <div class="group-switch">
        <i class="el-icon-caret-bottom"></i>
        <span>公司</span>
      </div>
      <ul class="group-list">
        <li class="template-item">
          <i class="icon icon-text"></i>
          <span class="title">文本输入关键字进行过滤输入关键字进行过滤输入关键字进行过滤</span>
        </li>
        <li class="template-item">
          <i class="icon icon-image"></i>
          <span class="title">图片</span>
              <span class="fr mr-10 preview-btn">预览</span>
        </li>
        <li class="template-item">
          <i class="icon icon-video"></i>
          <span class="title">视频</span>
              <span class="fr mr-10 preview-btn">预览</span>
        </li>
        <li class="template-item">
          <i class="icon icon-voice"></i>
          <span class="title">语音</span>
              <span class="fr mr-10 preview-btn">预览</span>
        </li>
      </ul>
      <div class="group-switch">
        <i class="el-icon-caret-right"></i>
        <span class="title">快递</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      templateType: '个人快捷语'
    }
  }
}
</script>
