<template>
  <div class="chart" ref="chart"></div>
</template>

<script>
import { detailMixin, echartResizeMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import options from './src/options'
import echarts from 'echarts'

export default {
  mixins: [detailMixin, echartResizeMixin],
  data () {
    return {
      chart: null
    }
  },
  methods: {
    afterEntity (entity) {
      v3indexApi.equipmentOnlineDetail(entity.imei).then(res => {
        // x轴
        const xAxisData = []
        const serialData = []

        if (res.data && res.data.length) {
          res.data.forEach(v => {
            xAxisData.push(v.todayDate)
            serialData.push(v.onlineTimeHours)
          })
        }
        options.xAxis[0].data = xAxisData
        options.series[0].data = serialData

        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        this.chart.setOption(options)
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.chart {
  height: rem(400px);
}
</style>
