<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-date-picker
            class="ly-margin-right-bottom-sm"
            v-model="dateVal"
            type="daterange"
            size="small"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :default-time="['00:00:00', '23:59:59']"
            value-format="timestamp"
            @change="dateChange">
          </el-date-picker>
          <payMethod placeholder="请选择支付类型"
                     class="ly-margin-right-bottom-sm"
                     v-model="params.payType"></payMethod>
          <el-select class="ly-margin-right-bottom-sm"
                     v-model="params.type"
                     clearable
                     placeholder="请选择支出类型">
            <el-option v-for="item in PAYOUT_TYPE"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="queryCallback">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="日期">
          <template slot-scope="scope">
            {{scope.row.payTime | date}}
          </template>
        </el-table-column>
        <el-table-column label="支出类型">
          <template slot-scope="scope">
            {{scope.row.activityTypeLable || '--'}}
          </template>
        </el-table-column>
        <el-table-column label="支出金额">
          <template slot-scope="scope">
            {{scope.row.payMoney | numberToFixed}}
          </template>
        </el-table-column>
        <el-table-column label="支付方式">
          <template slot-scope="scope">
            {{scope.row.payMethodLable || '--'}}
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { walletApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import { PAYOUT_TYPE } from '@/constants/selects'
import {
  payMethod
} from '@/components/packages/system/lazySelect'
export default {
  mixins: [tableMixin],
  components: {
    payMethod
  },
  data() {
    return {
      activeNames: ['1'],
      dateVal: null,
      params: {
        createStartTime: '',
        createEndTime: '',
        type: '',
        payType: ''
      },
      PAYOUT_TYPE: PAYOUT_TYPE,
      tableData: {}
    }
  },
  created() {
  },
  methods: {
    /**
     * 获取消费记录列表
     */
    async requestTableList() {
      await walletApi.getWalletRecords(this.params).then((data) => {
        this.tableData = data
      })
    },
    dateChange(val) {
      val = val || []
      this.params.createStartTime = val[0] || ''
      this.params.createEndTime = val[1] || ''
    },
    /**
     * 查询
     */
    queryCallback() {
      this.getTableList(1)
    }
  }
}
</script>
