<template>
  <div>
    <!--步骤-->
    <stepList :data="dialogProp"></stepList>
    <div class="ly-margin-top-20px ly-font-16 ly-font-color-4">请用您的个人微信号扫描下图二维码；</div>
    <div class="ly-margin-top-10px ly-font-16 ly-font-color-4">将从公众号中支付一分钱到您微信号上，来验证公众号是否满足支付条件。</div>
    <div class="ly-margin-top-10px colortip">支付条件：</div>
    <div class="colortip">1、公众号绑定的商户已开通微信支付；</div>
    <div class="colortip">2、公众号绑定的商户已开通企业付款到零钱功能；</div>
    <div class="colortip">3、公众号绑定的商户有连续30天交易流水；</div>
    <div class="colortip">4、公众号绑定的商户的余额大于0。</div>
    <div class="ly-margin-top-20px ly-text-center">
      <div class="qart">
        <div id="qrcode"
             class="ly-inline-block"
             ref="qrcode">
        </div>
      </div>
    </div>
    <el-form class="ly-margin-top-20px" :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" type="primary" @click="prevStep(-1)">上一步</el-button>
          <el-button size="medium" @click="closeDialog">取 消</el-button>
          <el-button size="medium" type="primary" @click="nextStep(1)">已扫码</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
// import { personalNumManageApi } from '@/api/system'
import stepList from './stepList'
import { walletSetPayAccountStep } from '@/mixins'
import QRCode from 'qrcodejs2'
import Logger from '@/utils/logger'
export default {
  props: {
  },
  mixins: [walletSetPayAccountStep],
  components: {
    stepList
  },
  data() {
    return {
      params: {},
      rules: {}
    }
  },
  created() {
    // console.log(this.dialogProp)
    this.$nextTick(() => {
      this.qrcode(this.dialogProp.codeInfo.redpackageUrl)
    })
  },
  methods: {
    async qrcode(url) {
      let qrcode = new QRCode('qrcode', {
        width: 200,
        height: 200,
        text: url
      })
      Logger.log(qrcode)
    },
    prevStep(step) {
      let data = Object.assign(this.dialogProp, {step: this.dialogProp.step + step})
      this.$emit('nextStep', data)
    },
    nextStep(step) {
      let data = Object.assign(this.dialogProp, {step: this.dialogProp.step + step})
      this.$emit('nextStep', data)
    }
  }
}
</script>
