<template>
  <div>
    <!--步骤-->
    <stepList :data="dialogProp"></stepList>
    <!--成功-->
    <div class="ly-text-center" v-if="checkStatus === true">
      <div class="ly-margin-top-20px">
        <img class="ly-width-max-100p" src="@/assets/images/system/wallet/icon-setpayaccount-success.png"/>
      </div>
      <div class="ly-margin-top-20px ly-font-20 ly-font-color-4">公众号支付账户配置成功</div>
      <div class="ly-margin-top-4 ly-font-14 ly-font-color-8">已成功将当前微信公众号配置为支付账户！</div>
      <div class="ly-font-14 ly-font-color-8">请注意查验此次1分钱转账的交易记录。</div>
      <div class="ly-margin-top-45px">
        <el-button type="primary" size="medium" @click="confirmOpen">开启支付</el-button>
        <el-button size="medium" @click="compelteSetting">完成</el-button>
      </div>
      <div class="ly-margin-top-10px ly-font-color-5">开启支付后，将从该公众号账户中进行支出</div>
      <div class="ly-font-color-5">（已创建的活动不受影响），将自动关闭其他支付账户。</div>
    </div>
    <!--失败-->
    <div class="ly-text-center" v-if="checkStatus === false">
      <div class="ly-margin-top-20px">
        <img class="ly-width-max-100p" src="@/assets/images/system/wallet/icon-setpayaccount-fail.png"/>
      </div>
      <div class="ly-margin-top-20px ly-font-20 ly-font-color-4">公众号支付账户配置失败</div>
      <div class="ly-margin-top-4 ly-font-14 ly-font-color-8">公众号支付验证失败，请核对以下条件后，再尝试提交。或与客服联系。</div>
      <div class="ly-font-color-5">
        <div>1、公众号绑定的商户已开通微信支付；</div>
        <div>2、公众号绑定的商户已开通企业付款到零钱功能；</div>
        <div>3、公众号绑定的商户有连续30天交易流水；</div>
        <div>4、公众号绑定的商户的余额大于0。</div>
      </div>
      <div class="ly-margin-top-45px">
        <el-button type="primary" size="medium" @click="resetAgain">重新配置</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { walletApi } from '@/api/system'
import stepList from './stepList'
import { walletSetPayAccountStep } from '@/mixins'
export default {
  mixins: [walletSetPayAccountStep],
  components: {
    stepList
  },
  data() {
    return {
      checkStatus: null,
      params: {},
      rules: {}
    }
  },
  created() {
    this.checkAccountInfo()
  },
  methods: {
    /**
     * 获取配置状态
     */
    async checkAccountInfo() {
      let params = {
        uuid: this.dialogProp.codeInfo.uuid,
        id: this.dialogProp.info.id
      }
      await walletApi.checkWxpayAccountInfo(params).then((res) => {
        if (res) {
          this.checkStatus = true
        } else {
          this.checkStatus = false
        }
      })
    },
    /**
     * 开启支付--确认弹窗
     */
    confirmOpen() {
      this.$confirm('开启后，活动红包将从该支付账户中进行支出（已创建的活动不受影响），将自动关闭其他支付账户。确定要继续吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        customClass: 'message-tip-color',
        type: 'warning'
      }).then(() => {
        this.openPay()
      }).catch(() => {
        /*
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
        */
      })
    },
    /**
     * 开启支付--确认
     */
    async openPay() {
      let params = {
        payId: this.dialogProp.data.id
      }
      await walletApi.changePayMethod(params).then((res) => {
        this.compelteSetting()
      })
    },
    /**
     * 完成
     */
    compelteSetting() {
      this.$emit('setSuccess')
    },
    /**
     * 重新配置
     */
    resetAgain() {
      this.$emit('resetAgain')
    }
  }
}
</script>
