<template>
  <div>
    <!--步骤-->
    <stepList :data="dialogProp"></stepList>
    <div class="ly-margin-top-20px">①请登录<a href="https://pay.weixin.qq.com/index.php/core/home/login?return_url=%2F" target="_blank"> <span class="ly-font-color-5">微信支付平台</span></a>，获取以下信息并填写。</div>
    <el-form class="ly-margin-top-20px" :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item label="支付商户名" :label-width="formLabelWidth" prop="macId">
        <el-input class="ly-width-200px"
                  placeholder=""
                  autocomplete="off"
                  size="medium"
                  v-model.trim="params.macId"
                  :maxlength="100"
                  clearable></el-input>
        <span>该商户名为支付商户名，不是公众号登录名</span>
      </el-form-item>
      <el-form-item label="支付秘钥" :label-width="formLabelWidth" prop="mchKey">
        <el-input class="ly-width-200px"
                  placeholder=""
                  autocomplete="off"
                  size="medium"
                  v-model.trim="params.mchKey"
                  :maxlength="100"
                  clearable></el-input>
        <span>请登录微信支付平台-账户中心-API安全尽心秘钥设置</span>
      </el-form-item>
      <el-form-item label="证书有效期" :label-width="formLabelWidth" prop="certificateStartTime">
        <el-date-picker
          v-model="dateVal"
          type="daterange"
          size="medium"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :default-time="['00:00:00', '23:59:59']"
          value-format="timestamp"
          @change="dateChange">
        </el-date-picker>
      </el-form-item>
      <el-form-item class="" label="上传证书" :label-width="formLabelWidth" prop="certificate">
        <div class="ly-inline-block  ly-position-relative ly-cursor-pointer">
          <el-button size="medium">{{params.certificate ? '重新上传':'点击上传'}}</el-button>
          <input type="file"
                 name="fileup"
                 class="ly-file-upload ly-cursor-pointer ly-font-0"
                 v-on:change="fileChange($event)"
                 style="padding:18px 49px" />
        </div>
        <div class="ly-inline-block ly-margin-left-5px" v-if="params.certificate">{{params.certificate}}</div>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" type="primary" @click="nextOrPrevStep(-1)">上一步</el-button>
          <el-button size="medium" @click="closeDialog">取 消</el-button>
          <el-button size="medium" type="primary" @click="nextOrPrevStep(1)">下一步</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import { walletApi } from '@/api/system'
import stepList from './stepList'
import { walletSetPayAccountStep } from '@/mixins'
import { fileUpload } from '@/utils'
export default {
  mixins: [walletSetPayAccountStep],
  components: {
    stepList
  },
  data() {
    return {
      dateVal: null,
      params: {
        macId: '',
        mchKey: '',
        certificateStartTime: '',
        certificateEndTime: '',
        certificate: ''
      },
      formLabelWidth: '100px',
      rules: {
        macId: [
          { required: true, message: '请输入支付商户名' }
        ],
        mchKey: [
          { required: true, message: '请输入支付秘钥' }
        ],
        certificateStartTime: [
          { required: true, message: '请选择证书有效期' }
        ],
        certificate: [
          { required: true, message: '请上传证书' }
        ]
      }
    }
  },
  created() {
    if (this.dialogProp.data.certificateStartTime) {
      this.dateVal = [this.dialogProp.data.certificateStartTime, this.dialogProp.data.certificateEndTime]
    } else {
      this.dateVal = null
    }
    this.params.macId = this.dialogProp.data.macId
    this.params.mchKey = this.dialogProp.data.mchKey
    this.params.certificateStartTime = this.dialogProp.data.certificateStartTime
    this.params.certificateEndTime = this.dialogProp.data.certificateEndTime
    this.params.certificate = this.dialogProp.data.certificate
  },
  methods: {
    dateChange(val) {
      val = val || []
      this.params.certificateStartTime = val[0] || ''
      this.params.certificateEndTime = val[1] || ''
    },
    /**
     * 设备管理--上传数据
     */
    async fileChange(el) {
      let formData = await fileUpload(el, ['cer', 'p12'])
      if (!formData.formData) {
        this.params.certificate = ''
        return
      }
      walletApi.certificateUploadFile(formData.formData, { id: this.dialogProp.info.id }).then((res) => {
        this.params.certificate = formData.file.name
        this.$refs.ruleForm.validate((valid) => {
        })
      })
    }
  }
}
</script>
