<template>
  <div>
    <!--步骤-->
    <stepList :data="dialogProp"></stepList>
    <div class="ly-margin-top-20px ly-font-16 ly-font-color-4">①在微信支付平台，进入企业付款到零钱功能页面，如下图。</div>
    <div class="ly-margin-top-20px">
      <img class="ly-width-max-100p" src="@/assets/images/system/wallet/icon-setpayaccount-step4.png"  v-image-view />
    </div>
    <div class="ly-margin-top-20px ly-font-16 ly-font-color-4">②付款方式选择“使用API接口发起付款”；</div>
    <div class="ly-margin-top-20px ly-font-16 ly-font-color-4">③IP地址请填写 {{dialogProp.info.ipAddress}} ，并保存设置。</div>
    <div class="ly-margin-top-20px ly-font-16 ly-font-color-4">④修改企业付款到零钱的单笔最低金额为0.3元。</div>
    <el-form class="ly-margin-top-20px" :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" type="primary" @click="nextOrPrevStep(-1)">上一步</el-button>
          <el-button size="medium" @click="closeDialog">取 消</el-button>
          <el-button size="medium" type="primary" @click="confirmData">下一步</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { walletApi } from '@/api/system'
import stepList from './stepList'
import { walletSetPayAccountStep } from '@/mixins'
export default {
  mixins: [walletSetPayAccountStep],
  components: {
    stepList
  },
  data() {
    return {
      params: {},
      rules: {}
    }
  },
  created() {
  },
  methods: {
    async confirmData() {
      await walletApi.submitAccountInfo(this.dialogProp.data).then((res) => {
        let data = Object.assign({}, this.dialogProp, {codeInfo: res, step: this.dialogProp.step + 1})
        this.$emit('nextStep', data)
      })
    }
  }
}
</script>
