<template>
  <div class="ly-box ly-step-list">
    <div class="ly-box-1" :class="[data.step >= 1 ? 'active':'']">
      <div class="ly-step-circle">1</div>
      <div class="ly-step-title">公众号信息</div>
    </div>
    <div class="ly-box-1" :class="[data.step >= 2 ? 'active':'']">
      <div class="ly-step-circle">2</div>
      <div class="ly-step-title">公众号网页授权</div>
    </div>
    <div class="ly-box-1" :class="[data.step >= 3 ? 'active':'']">
      <div class="ly-step-circle">3</div>
      <div class="ly-step-title">商户信息</div>
    </div>
    <div class="ly-box-1" :class="[data.step >= 4 ? 'active':'']">
      <div class="ly-step-circle">4</div>
      <div class="ly-step-title">商户企业付款方式修改</div>
    </div>
    <div class="ly-box-1" :class="[data.step >= 5 ? 'active':'']">
      <div class="ly-step-circle">5</div>
      <div class="ly-step-title">支付验证</div>
    </div>
    <div class="ly-box-1" :class="[data.step >= 6 ? 'active':'']">
      <div class="ly-step-circle">6</div>
      <div class="ly-step-title">完成</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
    }
  },
  created() {
  },
  methods: {
  }
}
</script>
