<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <ul class="ly-clearfix ly-margin-bottom-sm">
        <li class="ly-float-left ly-margin-right-sm">
          <el-date-picker class="ly-margin-right-xs" type="daterange" size='small' range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" :clearable="false" v-model="dateRange.params" @change="delaySearch">
          </el-date-picker>
          <departmenTreeCascadert v-model="departmentId" filterable size='small' clearable placeholder="团队" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
        </li>
        <li class="ly-float-left ly-margin-right-sm">
          <el-select placeholder="呼叫类型" size="small" style="width: 100px;" clearable v-model="params.type" @change="search">
            <el-option :value="1" label="主叫" />
            <el-option :value="2" label="被叫" />
          </el-select>
        </li>
        <li class="ly-float-left ly-margin-right-sm">
          <el-input placeholder="请输入imei" size="small" :maxlength="100" v-model.trim="params.search" @keyup.native.enter="search" />
        </li>
        <li class="ly-float-left ly-margin-right-sm">
          <el-button type="primary" size='small' @click="searchCallEvent">搜索</el-button>
        </li>
        <li class="ly-float-right ly-margin-right-sm">
          <el-button type="primary" size='small' @click="exportAllCallback">导出全部</el-button>
        </li>
      </ul>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" @selection-change="handleSelectionChange" style="width: 100%">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column label="imei" prop="imei" />
        <el-table-column label="设备备注" prop="remark" />
        <el-table-column label="设备保管者姓名" prop="staffName">
          <template slot-scope="scope">
            <span>{{scope.row.staffName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者电话" prop="phone">
          <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者部门" prop="departmentName">
          <template slot-scope="scope">
            <span>{{scope.row.departmentName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="呼叫类型" prop="type">
          <template slot-scope="scope">
            <span>{{scope.row.type | value({'1': '主叫', '2': '被叫'})}}</span>
          </template>
        </el-table-column>
        <el-table-column label="呼入呼出次数" prop="totalNum" />
        <el-table-column label="总呼叫时间" prop="totalTime" />
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <el-button type="primary" size='small' :disabled="this.selectIds.length === 0?true:false" @click="exportCallback">导出</el-button>
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="pageChange" v-if="tableData.records && tableData.records.length" />
      </div>
    </div>
  </div>
</template>

<script>
import { indexMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import { watchDateRangeToTimestamp, getRangeDate, downloadFile, accurateTodate } from '@/utils'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  mixins: [indexMixin],
  components: {
    departmenTreeCascadert
  },
  watch: {
    departmentId: function (val, oldVal) {
      if (val.length) {
        this.params.departmentId = val[val.length - 1]
      } else {
        this.params.departmentId = ''
      }
    }
  },
  data () {
    return {
      departmentId: [],
      params: {
        from: '',
        to: '',
        type: '',
        search: '',
        departmentId: ''
      },
      tableData: {},
      dateRange: {
        params: ''
      },
      exportParams: {},
      selectIds: [] // 选择的项id集合
    }
  },
  created () {
    this.$watch('dateRange.params', watchDateRangeToTimestamp(this.params, 'from', 'to'))
    const weekDate = getRangeDate()
    weekDate.now = accurateTodate(weekDate.now, 23, 59, 59)
    this.dateRange.params = [weekDate.then, weekDate.now]
  },
  methods: {
    // 选择
    handleSelectionChange (arr) {
      let ids = []
      arr.forEach(res => {
        ids.push(res.id)
      })
      this.selectIds = ids
    },
    searchCallEvent () {
      this.search()
    },
    /**
     * 分页请求
     */
    pageChange (pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    async getTableList (pageNum, pageSize, type) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      await this.list(type)
      if (this.tableData.total > 0 && this.tableData.current > 1 && this.tableData.records.length === 0) {
        this.getTableList(1)
      }
    },
    list (current, size) {
      if (typeof current === 'number') {
        this.params.current = current
      }
      if (typeof size === 'number') {
        this.params.size = size
      }
      v3indexApi.getCallList(Object.assign({}, this.params)).then(data => {
        // this.table.list = data || []
        this.exportParams = Object.assign({}, this.params)
        this.tableData = data
      })
    },

    // 导出全部
    exportAllCallback () {
      let params = this.exportParams
      params.uuid = this.tableData.records[0].uuid
      v3indexApi.exportCallAll(params).then((res) => {
        downloadFile(res, '通话录音统计.xls')
        this.success('恭喜你，导出成功')
      })
    },

    // 批量导出
    exportCallback () {
      let params = Object.assign({}, this.exportParams)
      params.ids = this.selectIds
      params.uuid = this.tableData.records[0].uuid
      v3indexApi.exportCall(params).then((res) => {
        downloadFile(res, '通话录音统计.xls')
        this.success('恭喜你，导出成功')
      })
    }
  }
}
</script>
