// 针对el-dialog样式调整
.el-dialog__header {
  padding: 15px 30px;
  background-color: #F1F4F6;
}

.el-dialog__title {
  font-size: 18px;
  color: #003E6C;
}

.el-dialog__headerbtn {
  right: 30px;
  top: 15px;
}

.el-dialog__footer .el-button {
  padding: 10px 20px;
}

// dialog-form
.el-dialog__body {
  max-height: 100vh;
  overflow-y: auto;
  color: #454545;
}

.vma-dialog .el-dialog__body {
  max-height: inherit;
}

.el-dialog__body .el-form .el-form-item__label {
  line-height: 36px;
  color: #454545;
}

.el-dialog__body .el-form .el-form-item__content {
  line-height: 36px;
}

.ly-width-280px-im {
  width: 280px !important;
}

.ly-width-340px-im {
  width: 340px !important;
}

.ly-width-400px-im {
  width: 400px !important;
}

.ly-margin-right-40px {
  margin-right: 40px;
}

.ly-margin-right-116px {
  margin-right: 116px;
}

.ly-dialogbody-maxh-60vh .el-dialog__body {
  max-height: 60vh;
}

// 好友及好友聊天记录
.dialog-chat-dialog .el-dialog__body {
  padding: 0;
  height: 60vh;
}

.dialog-chat {
  padding: 0;
  height: calc(100% - 1px);
  //min-height: 420px;
  border-top: 1px solid rgba(221, 221, 221, 1);
}

.dialog-chat .el-container {
  height: 100%;
}

.dialog-chat .el-aside {
  background-color: #f6f6f6;
  height: 100%;
}

.dialog-chat .dialog-chat-search {
  width: 208px;
  margin: 0 auto;
  padding: 20px 0;
}

.dialog-chat-fiendslist {
  height: calc(100% - 76px);
  overflow-y: auto;
}

.dialog-chat-fiendslist ul {
  display: block;
}

.dialog-chat-fiendslist ul li {
  display: block;
  position: relative;
  height: 72px;
  cursor: pointer;

  &.active {
    background-color: #e9e9e9;
  }

  &:hover {
    background-color: #f1f1f1;
  }
}

.dialog-chat-fiendslist .friendslist-img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  left: 16px;
  border-radius: 4px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.dialog-chat-fiendslist .friendslist-info {
  padding-left: 72px;
  padding-right: 16px;
  height: 72px;
  font-size: 14px;

  .chatname {
    display: block;
    padding-top: 16px;
    color: $elbg-color-3a;
    @extend %ellipse;
    line-height: 20px;
  }

  .chatno {
    display: block;
    color: $eltext-color-grey-85;
    @extend %ellipse;
    line-height: 18px;
  }
}

.dialog-chat .el-header {
  padding: 0;
  border-bottom: 1px solid #E6E7E8;
  text-align: right;
}

.dialog-chatcontent-search {
  display: inline-block;
  margin-right: 30px;
  padding-top: 20px;
}

.dialog-chatcontent-search .el-date-editor {
  float: left;
  width: 250px;
  margin-right: 30px;
}

.dialog-chatcontent-search .input-with-select {
  float: left;
  width: 400px;
}

.dialog-chat .el-main {
  position: relative;
}

.chatcontent-record-system {
  color: #B3B3B3;
  font-size: 14px;

  .chatcontent-record-conent,
  .chatcontent-record-time {
    text-align: center;
  }
}

.chatcontent-record {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // padding-right: 20px;
  overflow-y: auto;

  li {
    display: block;
    margin: 10px;
    text-align: left;
  }

  .chatcontent-record-time {
    padding: 0 56px;
    font-size: 12px;
    color: #B3B3B3;
  }

  .chatcontent-record-conent {
    position: relative;
    min-height: 44px;
    margin-top: 6px;
  }

  .chatcontent-record-userimg {
    position: absolute;
    top: 3px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .chatcontent-record-resend {
    margin-top: 10px;

    .resend-btn {
      color: #2897FF;
    }
  }

  .chatcontent-record-customer {
    font-size: 14px;
    color: #454545;
  }

  .chatcontent-record-detail {
    position: relative;
    display: inline-block;
    margin: 0px 56px;
    padding: 3px 13px;
    min-height: 18px;
    border-radius: 4px;
    border: 1px solid rgba(221, 221, 221, 1);
    background-color: rgba(240, 240, 240, 1);
    text-align: left;
    word-break: break-all;

    .chatcontent-label {
      position: absolute;
      top: 50%;
      left: calc(100% + 10px);
      width: 20px;
      height: 20px;
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      border-radius: 50%;
      background-color: #ff786e;
      color: #fff;
      cursor: pointer;
      transform: translateY(-50%);
    }

    .chatcontent-label-m {
      position: absolute;
      top: 50%;
      left: calc(100% + 40px);
      width: 20px;
      height: 20px;
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      transform: translateY(-50%);
    }

    .chatcontent-label-icon {
      position: absolute;
      top: 30%;
      left: calc(100% + 10px);
      width: 20px;
      height: 20px;
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      border-radius: 50%;
      color: #fff;
      transform: translateY(-50%);
    }

    .chatcontent-record-triggle {
      position: absolute;
      width: 6px;
      height: 10px;
      top: 8px;
      left: -6px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid rgba(221, 221, 221, 1);
      }

      &:after {
        right: -1px;
        border-right: 6px solid rgba(240, 240, 240, 1);
      }
    }

    img {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .chatcontent-record-red-packets {
    width: rem(418px);
    text-align: left;
    overflow: hidden;

    .packets-main {
      box-sizing: border-box;
      padding: rem(20px);
      background: #FC9E2A;
      height: rem(113px);

      .red-packets-photo {
        float: left;
        margin-right: rem(10px);
      }

      .packets-info {
        .main-title {
          font-size: rem(20px);
          color: #fff;
        }

        .subheading {
          font-size: rem(14px);
          color: #F6F6F6;
          margin-top: rem(10px);
        }
      }

      .qr-code {
        float: right;
        box-sizing: border-box;
        width: rem(74px);
        height: rem(74px);
        background: #fff;
        padding: rem(5px);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .packets-bottom {
      height: rem(37px);
      line-height: rem(37px);
      background: #fff;
      font-size: rem(14px);
      color: #858585;
      padding-left: rem(18px);
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
  }

  .chatcontent-record-img-red-packets {
    padding: 0;
    border: 0 !important;
    background: none !important;
    max-width: rem(418px);
    font-size: 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .chatcontent-record-video {
    padding: 0 !important;
    border: 0 !important;
    max-width: 160px;
    max-height: 240px;
    font-size: 0;

    video {
      //width: 100%;
      max-width: 160px;
      max-height: 240px;
    }
  }

  .chatcontent-record-audio {
    padding: 0;
    border: 0 !important;
    background: none !important;
    color: #858585 !important;
    font-size: 14px;

    .audio {
      position: relative;
      width: 80px;
      height: 22px;
      border: 12px;
      background: #fff;
      border: 1px solid #A2A2A2;
      border-radius: 12px;
      top: 1px;
      vertical-align: bottom;

      .play {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        transform: translate(-50%, -50%);
        border-style: solid;
        border-width: 6px 0 6px 10px;
        border-color: transparent transparent transparent #3A4762;
      }

      .playing {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 16px;
        transform: translate(-50%, -50%);
      }
    }
  }

  .chatcontent-record-share-user-card {
    padding: 0;
    border-radius: 0;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 5px 5px 0px rgba(69, 69, 69, 0.05);

    .share-user-card {
      width: rem(330px);
      background: #fff;

      .card-header {
        padding: rem(16px) rem(16px);
        border-bottom: 1px solid #DDDDDD;

        .card-avator {
          float: left;
          width: rem(70px);
          height: rem(70px);
          margin-right: rem(15px);
        }

        .card-name {
          color: #151515;
          font-size: rem(16px);
          height: rem(70px);
          line-height: rem(70px);
          font-weight: bold;
          @extend %ellipse;
        }
      }

      .card-footer {
        color: #858585;
        font-size: rem(14px);
        padding: rem(15px);
      }
    }
  }

  .chatcontent-record-file {
    padding: 0;
    border-radius: 0;
    border: 1px solid #DDDDDD !important;
    box-shadow: 1px 5px 5px 0px rgba(69, 69, 69, 0.05);

    .chat-file {
      width: rem(328px);
      background: #fff;
      color: #858585;
      font-size: rem(14px);

      .file-header {
        padding: rem(15px) rem(20px) rem(10px) rem(15px);
        border-bottom: 1px solid #DDDDDD;

        .file-logo {
          float: right;
          margin-left: rem(20px);
        }

        .file-name {
          color: #151515;
          font-size: rem(16px);
          @extend %ellipse-two-line;
        }
      }

      .file-footer {
        padding: rem(15px);
        color: #2897FF;
        cursor: pointer;
      }
    }
  }

  .chatcontent-record-img {
    padding: 0;
    font-size: 0;
    border: 0 !important;
    background: none !important;

    & div {
      border-color: transparent;
    }

    .chatcontent-record-triggle {
      display: none;
    }
  }

  .chatconent-record-right {
    text-align: right;

    .chatcontent-record-detail {
      background-color: #2897FF;
      border: 1px solid #2897FF;
      color: #fff;
    }

    .chatcontent-record-time {
      text-align: right;
    }

    .chatcontent-record-userimg {
      left: inherit;
      right: 0;
    }

    .chatcontent-label {
      left: inherit;
      right: calc(100% + 10px);
    }

    .chatcontent-record-triggle {
      left: inherit;
      right: -6px;

      &:before,
      &:after {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: inherit;
        border-left: 6px solid #2897FF;
      }

      &:after {
        left: -1px;
        border-left: 6px solid #2897FF;
      }
    }

    .ly-font-12.ly-font-color-8.ly-padding-top-10px {
      text-align: right;
    }
  }

  .chatcontent-record-card {
    margin: 0 56px;
  }
}

// 群聊天
.dialog-chat-group {

  /*
  .el-aside {
    .friendslist-img {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      border: 1px solid #ddd;
      img {
        width: 18px;
        height: 18px;
        border-radius: 2px;
        &:nth-child(1) {
          margin: 1px 2px 2px 1px;
        }
        &:nth-child(2) {
          margin-top: 1px;
          margin-bottom: 2px;
        }
        &:nth-child(3) {
          margin-left: 1px;
          margin-right: 2px;
        }
      }
    }
  }
  */
  .dialog-chatcontent-search {
    margin-right: 16px;
  }

  .chatgroup-contain {
    position: relative;
    padding-right: 240px;

    .dialog-chat-search {
      padding-bottom: 10px;
    }

    .chatgroup-member-no {
      padding-left: 24px;
      font-size: 18px;
      line-height: 38px;
      color: #454545;
      margin-bottom: 5px;
    }

    .chatroup-memberlist {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 240px;
      background-color: #f6f6f6;

      .friendslist-info {
        padding-left: 54px !important;
        height: 48px;
        line-height: 48px;

        .chatno {
          display: none;
        }
      }
    }

    .dialog-chat-fiendslist {
      height: calc(100% - 106px);

      ul li {
        height: 48px;

        .friendslist-img {
          height: 28px;
          width: 28px;
          top: 10px;
        }

        .friendslist-info {
          padding-left: 64px;

          .chatname {
            padding-top: 14px;
            color: #3A4762;
          }
        }
      }
    }
  }
}

// 查看群成员头像大小
.dialog-groupmembers-list .user-avatar {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.dialog-groupmenber-list-page {
  text-align: center;
  margin-top: 20px;
}

.el-center {
  text-align: center;
}

// 快捷回复
.dialogforminput-100 .el-form {
  margin-right: 61px;
}

.dialogforminput-100 .el-dialog__body .el-form .el-input__inner {
  width: 100%;
}

.dialogforminput-100 .el-dialog__footer {
  padding-right: 81px;
}

// 选择素材
.checkmatter-container {
  .el-dialog__body {
    height: 56vh;
    min-height: 400px;
  }

  .el-container {
    height: 100%;
  }

  .el-aside {
    border: 1px solid rgba(221, 221, 221, 1);
    box-shadow: 0px 5px 5px 0px rgba(80, 104, 130, 0.05);
    border-radius: 4px;

    .asidetab {
      width: 200px;
      margin: 0 auto;
      padding-top: 20px;
      padding-bottom: 10px;

      //text-align: center;
      .el-radio-group {
        .el-radio-button--small {
          .el-radio-button__inner {
            width: 100px;
            background-color: #F2F5F8;
            border: none;
          }
        }

        .is-active {
          .el-radio-button__inner {
            background-color: #409EFF;
          }
        }
      }
    }

    .matterslide {
      display: block;
      width: 200px;
      padding-right: 10px;
      margin-left: 20px;
      height: calc(100% - 70px);
      overflow-y: auto;
    }

    ul {
      li {
        padding: 7px 0;

        .ly-box-1 {
          cursor: pointer;
          color: $elbg-color-3a;
          @extend %ellipse;

          &:hover {
            color: #409EFF;
          }

          &.active {
            color: $eltable-color-blue-36;
          }
        }

        .edit-del-icons {
          width: 48px;

          button {
            width: 14px;
            margin-left: 10px;
            color: #ddd;

            &:hover {
              color: $eltable-color-blue-36;
            }
          }
        }
      }
    }
  }

  .el-main {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;

    .matter-search .el-input {
      width: 470px;
      margin-right: 18px;

      .el-input__inner {
        width: 100%;
      }
    }

    .matterlists {
      width: 100%;
      //height: calc(100% - 70px);
      overflow-y: auto;

      ul {
        flex-wrap: wrap;

        li {
          width: 120px;
          margin-right: 20px;
          margin-bottom: 12px;

          .matterlists-img {
            width: 120px;
            height: 160px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }

          .matterlists-radio {
            margin-top: 7px;
            padding-bottom: 7px;

            .el-radio__label {
              display: inline-block;
              width: 100px;
              @extend %ellipse;
            }
          }
        }
      }
    }
  }

  .matterlists-pagination {
    float: left;
    width: 626px;
    text-align: left;
  }
}

.uploadaudio-btn {
  margin-top: 30px;
  margin-bottom: 20px;

  .el-button--success {
    background-color: #44C89A;
    border-color: #44C89A;
  }
}

.uploadaudio {
  margin-left: 20px;
}

// 新增、编辑规则
.inputrule-width {
  margin-right: 61px;

  input {
    width: 100%;
  }
}

.delbtn-text-color {
  color: #FF786E;

  &:focus {
    color: #FF786E;
  }
}

.dialog-timepick {
  .el-form-item__content {
    &>span {
      font-size: 12px;
      color: $eltext-color-grey-45;
    }
  }

  .el-date-editor--time-select {
    width: 128px;
  }

  .el-dialog__body .el-form .el-input__inner {
    width: 100%;
  }
}

// 吸粉管理
.dialog-powdermanage {
  .el-dialog__body {
    max-height: 60vh;
    min-height: 400px;
    padding: 20px 31px;
    overflow-y: auto;
  }

  .dialogpowder-num-ul {
    padding-left: 20px;
  }

  .dialogpowder-num-ulborder {
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
  }

  .dialogpowder-num-li {
    width: inherit;
    height: 166px;
    padding-top: 24px;

    .el-input__inner,
    .el-textarea {
      width: 100%;
    }

    .dialogpowder-numlist {
      width: 200px;
      margin-right: 20px;

      .el-textarea {
        height: 120px;

        .el-textarea__inner {
          height: 120px;
          resize: none;
        }
      }

      &:first-child {
        margin-right: 40px;
      }
    }

    .dialogpowder-numbtn {
      width: 60px;
    }
  }

  .dialogpowder-num-remark {
    .dialogpowder-num-li {
      padding-top: 12px;
      height: auto;

      .el-textarea {
        height: 100px;

        .el-textarea__inner {
          height: 100px;
          resize: none;
        }
      }
    }
  }

  .el-form .el-range-editor--small {
    width: 280px;
  }

  .el-form-item__content {
    .el-date-editor--datetimerange {
      width: 360px;
    }

    .el-input-number--small {
      width: 150px;

      input {
        width: 100%;
      }
    }

    .el-date-editor--time-select {
      width: 134px;

      input {
        width: 100%;
      }
    }
  }

  .powderremak-width {
    margin: 0 20px;

    .el-form-item {
      input {
        width: 100%;
      }
    }

    .el-textarea {
      width: 100%;

      &:nth-child(n+2) {
        margin-top: 15px;
      }
    }
  }
}

// 加粉管理 申请加好友详情
.dialog-applyfrienddetail {
  .el-dialog__body {
    max-height: 56vh;
    min-height: 400px;
    overflow-y: auto;

    .el-table {
      border: 1px solid #ddd;

      .useravatars {
        min-height: 40px;

        .useravatars-img {
          width: 40px;

          img {
            width: 40px;
            height: 40px;
          }
        }

        div {
          margin-left: 10px;
        }
      }
    }
  }
}

.linesate {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 3px;
  border-radius: 50%;
  background-color: #B3B3B3;

  &.lineon {
    background-color: #00AD73;
  }
}

.linetext {
  font-size: 12px;
  color: #B3B3B3;
}

.dialogpowder-num-times .el-form-item__content .el-date-editor--time-select {
  width: 100px;
}

.addfrendtimeli {
  .el-radio {
    width: 150px;
  }

  .el-input {
    width: 80px;
    margin-right: 10px;

    input {
      width: 100% !important;
    }
  }
}

// 吸粉管理--iphone图片
.iphone-contain {
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
  }

  .iphone-content {
    position: absolute;
    width: 177px;
    height: 308px;
    left: 10px;
    top: 50px;
    background-color: #1e9f52;
  }

  .iphone-conent-white {
    position: absolute;
    width: 155px;
    height: 212px;
    top: 50px;
    left: 11px;
    background-color: #fff;
  }

  .iphone-code {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .iphone-content-foot {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    background-color: #f7f7f7;
  }
}

.ly-checkbox-label span.el-checkbox__label {
  padding-right: 14px;
  white-space: normal;
}

.ly-checkbox-label span.el-checkbox__input {
  margin-top: 3px;
  vertical-align: top;
}

.leftbg-white .el-input-group__prepend {
  background-color: transparent;
}

.ly-wh-36-36px.el-button--medium {
  padding: 8px;
}

.active-detail-dialog {
  width: 780px;
  margin: 0 auto;
  border-collapse: collapse;
}

.active-detail-dialog td {
  border: 1px solid #ddd;
  height: 40px;
  line-height: 40px;
}

.active-detail-dialog tr td:nth-child(2n+1) {
  width: 130px;
  text-align: center;
}

.active-detail-dialog tr td:nth-child(2n+2) {
  padding: 0 20px;
}

.ly-position-relative:hover {
  .dialog-link-code-position {
    display: block;
  }
}

.dialog-link-code-position {
  display: none;
  top: 100%;
  left: 50%;
  padding-top: 20px;
  transform: translateX(-50%);
  z-index: 10;

  .ly-wh-120-120px {
    border: 1px solid #ddd;

    img {
      margin-top: 8px;
      margin-left: 8px;
    }
  }
}

// 电商平台
.detail-margin-top {
  margin-top: 40px;
}

.product-detail-bg {
  background-color: #F6F6F6;
}

.detail-info-table {
  width: 780px;
  margin: 0 auto;
  border-collapse: collapse;
}

.detail-info-div {
  width: 780px;
  margin: 0 auto;
}

.detail-info-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.product-detail-title {
  max-width: 241px;
  // white-space: nowrap;
  overflow: hidden;
}

.product-detail-pic {
  width: 60px;
  height: 60px;
}

// 部门管理
.add-role-dialog {
  // margin: 0 auto;
  margin: 0 60px;
}

.add-role-table {
  width: 955px;
  // margin: 0 auto;
  border-collapse: collapse;
}

.add-role-table td {
  border: 1px solid #ddd;
  height: 40px;
  line-height: 40px;
}

.add-authority {
  right: 20px;
}

.authority-li {
  margin-left: 115px;
  display: inline-block;
}

// 搜索失败订单
.search-fail-order {
  margin: 0 50px;
}

.fail-order-table {
  margin-top: 32px;
}

//.dialog-footer {
//  margin-right: 50px;
//}

// 新增店铺
.add-store {
  margin: 0 40px;
}

// 营销管理--定时发朋友圈 => 发朋友圈
.textarea-expression {
  position: relative;

  .textarea-expression-icon {
    position: absolute;
    top: -30px;
    left: 1px;
    right: 18px;
    padding-bottom: 10px;
    line-height: 16px;
    padding-top: 3px;
    background: #fff;
    border-radius: 6px;

    span {
      cursor: pointer;
      margin-left: 10px;
    }
  }
}

// 选择素材树结构修改
.custom-tree-text {
  display: inline-block;
  width: 125px;
  @extend %ellipse
}

.custom-tree-btns {
  position: absolute;
  right: 0;

  button {
    width: 14px;
    width: 14px;
    color: #ddd;

    i {
      width: 14px;
      height: 14px;
      font-size: 14px;
    }
  }
}

.resource-tree {
  .el-tree-node__children {
    .el-tree-node {
      .el-tree-node__content {
        .custom-tree-text {
          width: 110px;
        }
      }
    }

    .el-tree-node__children {
      .el-tree-node__content {
        .custom-tree-text {
          width: 93px;
        }
      }
    }
  }
}

.dialog-hide-footer {
  .el-dialog__footer {
    display: none;
  }
}

.dialog-lg {
  .dialog {
    width: rem(1040px)
  }
}

.addfrendtimeli {
  .el-input .el-input__inner {
    padding: 0px 0px 0px 15px;
  }
}

.diaolog-height-auto .el-dialog__body {
  height: auto !important;
  min-height: inherit !important;
}

.ly-record-textsize {
  font-size: 14px;
  letter-spacing: 1px;

  .icon-wechat-express {
    vertical-align: middle;
    margin-right: 1px;
    width: 18px;
    height: 18px;
  }
}

.ly-full-screen-dailog>.el-dialog {
  width: 100%;
  height: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  .el-dialog__body {
    max-height: 85%;
  }
}
