// 针对表单固定调整
.el-table__fixed-header-wrapper tr {
  background-color: transparent;
  border-bottom: none;
}

.el-table__fixed-header-wrapper td,
.el-table__fixed-header-wrapper.is-leaf {
  background-color: transparent;
  border-bottom: none;
}

.el-table__fixed-header-wrapper table th,
.el-table__fixed-header-wrapper table tr {
  background-color: $eltable-bgcolor-default;
}

.el-table {
  thead {
    color: #454545;
  }

  th {
    background-color: #F2F5F8;
    color: #454545;
    border-bottom: none;
  }

  .el-table__body {
    color: #3A4762;

    p {
      line-height: 20px;
    }

    img {
      cursor: pointer;
    }
  }

  .cell {
    line-height: 20px;
  }
}

.el-upload-list--picture-card.ly-mask {
  display: block;

  .el-upload-list__item-actions {
    opacity: 1;
  }

  .el-upload-list__item-actions span {
    display: inline-block;
  }
}

.el-table .cell,
.el-table th div {
  overflow: visible;
}
