<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model="params.enterpriseName"
                    placeholder="请输入企业名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1, 10)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="enterpriseName"
                         label="企业名称">
        </el-table-column>
        <el-table-column prop="chargeTotal"
                         label="累计充值">
        </el-table-column>
        <el-table-column prop="payMoneyTotal"
                         label="累计充值金额">
        </el-table-column>
        <el-table-column prop="systemNum"
                         label="系统短信">
        </el-table-column>
        <el-table-column prop="staffSendNum"
                         label="员工发送">
        </el-table-column>
        <el-table-column prop="lastMsg"
                         label="剩余短信">
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="openCallback($event, 'set', scope.row)">充值明细</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
      <el-dialog :title="set.title"
                 :visible.sync="set.open"
                 width="950px">
        <rechargeDetails :dataInfo="set"
                   v-if="set.open"
                   @getTableList="getTableList"></rechargeDetails>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
import rechargeDetails from './components/rechargeDetails.vue'
// import { rechargeDetailsApi } from '@/api/sms'

export default {
  mixins: [tableMixin],
  components: { rechargeDetails },
  data() {
    return {
      activeNames: ['1'],
      params: {
        enterpriseName: ''
      },
      date: '',
      tableData: {
        records: [
          {
            enterpriseName: '说的克己复礼',
            createTime: 1578747602000,
            msgText: '圣诞快乐房价上课',
            status: 1
          }
        ],
        total: 1
      },
      set: {
        title: '',
        open: false,
        data: {}
      }
    }
  },
  methods: {
    /**
     * 日期格式转换
     */
    dateChange(val) {
      if (!val) {
        this.params.beg_time = ''
        this.params.end_time = ''
      } else {
        this.params.beg_time = new Date(val[0]).getTime()
        this.params.end_time = new Date(val[1]).getTime()
      }
    },
    openCallback(defObj, val, data) {
      switch (val) {
        case 'set':
          this.set.title = '充值明细'
          this.set.open = true
          this.set.data = {
            id: data.id
          }
          break
      }
    },
    /**
     * 获取操作日志列表信息
     */
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      // rechargeDetailsApi.getSmsRechargeList(this.params).then((res) => {
      //   this.tableData = res
      // })
    }
  }
}
</script>
