<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model="params.enterpriseName"
                    placeholder="请输入企业名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-select class="ly-margin-right-sm"
                     clearable
                     v-model="params.msgType"
                     placeholder="短信类型">
            <el-option v-for="item in smsType"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1, 10)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="enterpriseName"
                         label="企业名称"
                         width="150">
        </el-table-column>
        <el-table-column prop="id"
                         label="ID"
                         width="100">
        </el-table-column>
        <el-table-column label="短信类型"
                         width="150">
          <template slot-scope="scope">
            <span v-if="scope.row.msgType === 1">系统发送</span>
            <span v-else-if="scope.row.msgType === 2">员工发送</span>
          </template>
        </el-table-column>
        <el-table-column prop="staffName"
                         label="发送/接收员工"
                         width="150">
        </el-table-column>
        <el-table-column label="创建/发送时间"
                         width="180">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="msgText"
                         label="短信内容">
        </el-table-column>
        <el-table-column prop="num"
                         label="使用条数"
                         width="100">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
// import { rechargeDetailsApi } from '@/api/sms'

export default {
  mixins: [tableMixin],
  data() {
    return {
      activeNames: ['1'],
      params: {
        enterpriseName: '',
        msgType: null
      },
      date: '',
      tableData: {
        records: [
          {
            enterpriseName: '说的克己复礼',
            createTime: 1578747602000,
            msgText: '圣诞快乐房价上课',
            status: 1
          }
        ],
        total: 1
      },
      smsType: [
        { value: 1, label: '系统发送' },
        { value: 2, label: '员工发送' }
      ]
    }
  },
  methods: {
    /**
     * 日期格式转换
     */
    dateChange(val) {
      if (!val) {
        this.params.begin_time = ''
        this.params.end_time = ''
      } else {
        this.params.begin_time = new Date(val[0]).getTime()
        this.params.end_time = new Date(val[1]).getTime()
      }
    },
    /**
     * 获取短信发送记录
     */
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      // rechargeDetailsApi.getSmsSendList(this.params).then((res) => {
      //   this.tableData = res
      // })
    }
  }
}
</script>
