<template>
  <div class="ly-margin-right-30px">
    <el-form :model="params" :rules="rules" ref="ruleFormNum">
      <div class="ly-height-max-50vh ly-scroll-y">
        <messageOfTxtImgAudVido
          ref="messageEles"
          :info="modifyObj" :limit="1" :textLimit="1500"></messageOfTxtImgAudVido>
        <!--<el-form-item label="等待时间:"-->
                      <!--:label-width="formLabelWidth"-->
                      <!--prop="num">-->
          <!--<el-input-number label="等待时间"-->
                           <!--v-model="params.num"-->
                           <!--:min="1"-->
                           <!--:max="20"></el-input-number>-->
        <!--</el-form-item>-->
      </div>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { messageOfTxtImgAudVido } from '@/components/common/messageAdd'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'
import { txtImgAudVideoInitDataMixin, msgTIAVSubmitMessage } from '@/mixins'
export default {
  mixins: [txtImgAudVideoInitDataMixin, msgTIAVSubmitMessage],
  components: { messageOfTxtImgAudVido },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      formLabelWidth: '136px',
      // 用于编辑字段
      modifyObj: {
        content: '',
        imgList: [],
        audioList: [],
        posterArr: []
      },
      // 用于提交字段
      params: {
        msgText: '',
        msgType: '',
        id: '',
        coverInfo: ''
      },
      rules: {}
    }
  },
  created() {
    if (this.dialogProp.id) {
      this.params.id = this.dialogProp.id
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    closeDialog() {
      this.$emit('closeDialog')
    },
    /**
     * 保存
     */
    submitInfo() {
      let info = this.$refs.messageEles.getMessageInfo()
      this.$refs.ruleFormNum.validate((valid) => {
        if (valid) {
          if (info) {
            /**
             * 保存--消息的内容--在mixins/src/msgTIAVSubmitMessage文件下方法SubmitMessage
             */
            this.submitMessage(info)
          } else {
            return false
          }
        } else {
          return false
        }
      })
    },
    /**
     * 新增--保存
     */
    async submitAddInfo() {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.params.msgType !== MESSAGE_TPYE_KEY.VIDEO) {
        delete params.coverInfo
      }
      this.$emit('getMessageContent', params)
    },
    /**
     * 修改--保存
     */
    async submitModifyInfo() {
      let params = JSON.parse(JSON.stringify(this.params))
      this.$emit('getMessageContent', params)
    }
  }
}
</script>
