<template>
  <div class="ly-margin-right-30px">
    <div class="ly-height-max-50vh ly-scroll-y">
      <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
        <!--<el-form-item label="规则:" :label-width="formLabelWidth" prop="ruleType">-->
          <!--<el-radio v-model="params.ruleType" :label="1">私有规则</el-radio>-->
          <!--<el-radio v-model="params.ruleType" :label="2">共有规则</el-radio>-->
        <!--</el-form-item>-->
        <el-form-item label="关键词:" :label-width="formLabelWidth" prop="matchWord">
          <el-input autocomplete="off"
                    placeholder="请输入关键词"
                    class="ly-width-280px-im"
                    v-model.trim="params.matchWord"
                    :maxlength="200"
                    clearable></el-input>
          <span class="ly-padding-left-10px ly-font-color-8">多个关键字用中文竖线 | 隔开</span>
        </el-form-item>
        <el-form-item label="匹配模式:" :label-width="formLabelWidth" prop="matchModel">
          <el-radio-group v-model="params.matchModel" size="medium">
            <el-radio-button :label="1">包含所有词</el-radio-button>
            <el-radio-button :label="2">包含任意词</el-radio-button>
            <el-radio-button :label="3">和任意词完全相同</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="回复内容:" :label-width="formLabelWidth">
          <el-button type="primary" size="medium" @click="showAddMessageDialog" :disabled="params.replyMsg.length > 9 ? true : false">新增消息</el-button>
          <span class="ly-padding-left-10px ly-font-color-8">建议回复内容不要创建过多，以1~3条为佳</span>
        </el-form-item>
        <el-table
          :data="params.replyMsg"
          style="width: 715px;margin:0 auto;">
          <el-table-column
            prop="mesageType"
            label="消息类型"
            width="180">
            <template slot-scope="scope">
              <span>{{ msgType[scope.row.msgType] }}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="messageContent"
            label="消息内容"
            width="180">
            <template slot-scope="scope">
              <videoAudioImg :info="scope.row"></videoAudioImg>
            </template>
          </el-table-column>
          <el-table-column label="操作" min-width="120">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
              <el-button
                size="mini"
                type="text"
                class="delbtn-text-color"
                @click="handleDelete(scope.$index, scope.row)">删除</el-button>
              <el-button
                size="mini"
                type="text"
                v-if="scope.$index > 0"
                @click="sort(scope.$index, scope.row, 1)">上移</el-button>
              <el-button
                size="mini"
                type="text"
                v-if="scope.$index < params.replyMsg.length - 1"
                @click="sort(scope.$index, scope.row, 2)">下移</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 新增消息 -->
        <el-dialog  :title="modifyObjTitle" append-to-body
                    width="880px"
                    :visible.sync="dialogAddMessage.show"
                    v-if="dialogAddMessage.show"
                    @close="closeAddMessageDialog">
          <autoMaticRecoveryRuleAddMsg
            :dialogProp="modifyObj" @closeDialog="closeAddMessageDialog" @getMessageContent="getMessageContent"></autoMaticRecoveryRuleAddMsg>
        </el-dialog>
        <el-form-item>
          <div class="ly-margin-top-20px ly-text-right">
            <el-button @click="closeDialog">取 消</el-button>
            <el-button type="primary" @click="submitInfo">确 定</el-button>
          </div>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import autoMaticRecoveryRuleAddMsg from './autoMaticRecoveryRuleAddMsg.vue'
import videoAudioImg from '@/components/common/videoAudioImg'
import { MESSAGE_TPYE, MESSAGE_TPYE_KEY } from '@/constants/messageType'
export default {
  components: { autoMaticRecoveryRuleAddMsg, videoAudioImg },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      msgType: MESSAGE_TPYE,
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      formLabelWidth: '136px',
      params: {
        ruleType: 2,
        matchWord: '',
        matchModel: '',
        replyMsg: []
      },
      dialogAddMessage: {},
      modifyObj: {},
      modifyObjTitle: '新增消息',
      index: '',
      rules: {
        ruleType: [
          { required: true, message: '请选择规则' }
        ],
        matchWord: [
          { required: true, message: '请输入匹配词' }
        ],
        matchModel: [
          { required: true, message: '请选择匹配模式' }
        ]
      }
    }
  },
  watch: {
    'modifyObj.data'(val) {
      if (val) {
        this.modifyObjTitle = '编辑消息'
      } else {
        this.modifyObjTitle = '新增消息'
      }
    }
  },
  created() {
    if (this.dialogProp.type === 2) {
      this.eidtMessageInit(this.dialogProp.data.id)
    }
  },
  methods: {
    /**
     * 获取编辑详情
     */
    async eidtMessageInit(id) {
      await v2communityManage.getAutoRecoveryRecordsDetail(id).then((res) => {
        res.replyMsg.forEach(o => {
          o.msgSource = o.msgText
          if (o.msgType === 4) {
            o.vedioImg = o.vedioImg
          }
        })
        this.params = res
        this.params.id = id
      })
    },
    /**
     * 关闭弹窗
     */
    closeDialog() {
      this.$emit('closeDialog')
    },
    /**
     * 新增消息--弹窗--显示
     */
    showAddMessageDialog() {
      this.dialogAddMessage = {
        show: true
      }
    },
    /**
     * 新增消息--弹窗--关闭
     */
    closeAddMessageDialog() {
      this.dialogAddMessage = {}
      this.modifyObj = {}
      this.index = ''
    },
    /**
     * 新增消息--获取新增消息内容
     */
    getMessageContent(data) {
      let listObj = {
        msgText: data.msgText,
        msgType: data.msgType,
        waitTime: data.num,
        coverInfo: data.coverInfo,
        voiceLength: data.voiceLength
      }
      listObj.msgSource = data.msgText
      if (this.index !== '') {
        let newData = JSON.parse(JSON.stringify(this.params.replyMsg))
        newData[this.index] = listObj
        this.params.replyMsg = newData
      } else {
        this.params.replyMsg.push(listObj)
      }
      this.closeAddMessageDialog()
    },
    /**
     * 新增消息--编辑
     */
    handleEdit(index, item) {
      this.dialogAddMessage = {
        show: true
      }
      this.modifyObj = {
        data: item
      }
      this.index = index
    },
    handleDelete(index, item) {
      let that = this
      this.$confirm('是否删除该内容?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.success('删除成功!')
        that.params.replyMsg.splice(index, 1)
      }).catch(() => {})
    },
    /**
     * 保存
     */
    submitInfo() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (!this.params.replyMsg.length) {
            this.warn('请先新增消息')
            return false
          }
          if (this.dialogProp.type === 2) {
            // 修改
            this.submitModifyInfo()
          } else {
            // 新增
            this.submitAddInfo()
          }
        } else {
          return false
        }
      })
    },
    /**
     * 新增--保存
     */
    async submitAddInfo() {
      let params = JSON.parse(JSON.stringify(this.params))
      await v2communityManage.addAutoRecoveryRecordsDetail(params).then((res) => {
        this.success('新增成功')
        this.$emit('refreshTabelList', this.params)
      })
    },
    /**
     * 修改--保存
     */
    async submitModifyInfo() {
      let params = JSON.parse(JSON.stringify(this.params))
      await v2communityManage.modifyAutoRecoveryRecordsDetail(params).then((res) => {
        this.success('修改成功')
        this.$emit('refreshTabelList', params)
      })
    },
    /**
     * 排序
     */
    sort(index, data, type) {
      // type 1-上移，2--下移
      let arr = [...this.params.replyMsg]
      let changeIndex
      if (type === 1) {
        changeIndex = index - 1
      } else {
        changeIndex = index + 1
      }
      let changeItem = arr[changeIndex]
      arr[changeIndex] = data
      arr[index] = changeItem
      this.params.replyMsg = arr
    }
  }
}
</script>
