<template>
  <div class="ly-box ly-box-align-center ly-box-justify-between">
    <sex-stat/>
    <map-stat/>
  </div>
</template>

<script>
import SexStat from './compoents/sex'
import MapStat from './compoents/map'

export default {
  components: {
    SexStat,
    MapStat
  }
}
</script>
