<template>
  <div class="basic-lay">
    <div class="ly-border-bottom-1">
      <div class="ly-box-1 ly-font-color-3 basic-info">
        <p class="ly-font-20">代理商名称：{{details.name || ''}}</p>
        <p class="ly-font-16">编号：{{details.id || ''}}</p>
        <p class="ly-font-16">账号：{{details.account || ''}}</p>
        <p class="ly-font-16">代理商状态：{{details.status===1?'正常':'禁用'}}</p>
        <p class="ly-font-16">上级：{{info.parentName || ''}}</p>
        <ul class="basic-methods ly-clearfix">
          <li class="basic-item"
              v-if="details.equmentInfo">
            <p>授权设备数：{{toFixedW(details.equmentInfo.equInit)}}</p>
            <p>出售设备数：{{toFixedW(details.equmentInfo.equSum)}}</p>
            <p>实际入网数：{{toFixedW(details.equmentInfo.equNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.shopInfo">
            <p>授权店铺数：{{toFixedW(details.shopInfo.shopInit)}}</p>
            <p>出售店铺数：{{toFixedW(details.shopInfo.shopSum)}}</p>
            <p>实际店铺数：{{toFixedW(details.shopInfo.shopNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.accountInfo">
            <p>授权个人号：{{toFixedW(details.accountInfo.accountInit)}}</p>
            <p>出售个人号：{{toFixedW(details.accountInfo.accountSum)}}</p>
            <p>实际个人号：{{toFixedW(details.accountInfo.accountuNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.enterpriseBo">
            <p>授权企业账号：{{toFixedW(details.enterpriseBo.enterInit)}}</p>
            <p>出售企业账号：{{toFixedW(details.enterpriseBo.enterSum)}}</p>
            <p>实际开通账号：{{toFixedW(details.enterpriseBo.enterNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.groupBo">
            <p>授权工作群数：{{toFixedW(details.groupBo.groupInit)}}</p>
            <p>出售工作群数：{{toFixedW(details.groupBo.groupSum)}}</p>
            <p>实际开通群数：{{toFixedW(details.groupBo.groupNum)}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="basic-contact" style="margin-left:0;">
      <p>联系电话：<span class="val">{{details.phone || ''}}</span></p>
      <p>地址：<span class="val">{{details.address || ''}}</span></p>
      <p>创建时间：<span class="val">{{details.createTime | date('yyyy-MM-dd hh:mm')}}</span></p>
      <p>创建人：<span class="val">{{details.createStaffName || ''}}</span></p>
      <p>备注：<span class="val">{{details.remark || ''}}</span></p>
    </div>
  </div>
</template>

<script>
import { customerManageApi } from '@/api/sms'
import { toFixedW } from '@/utils'

export default {
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      details: {},
      toFixedW
    }
  },
  created() {
    this.getData()
  },
  methods: {
    async getData() {
      await customerManageApi.getOmsListDetail(this.info.id).then((res) => {
        this.details = res
      })
    }
  }
}
</script>
