<template>
  <div>
    <el-form label-width="100px"
             :model="params"
             :rules="rules"
             @submit.native.prevent
             ref="params">
      <el-form-item label="导入说明:"
                    required>
        <p class="ly-font-16 ly-font-color-2">1、导入文件格式必须为 .csv；</p>
        <p class="ly-font-16 ly-font-color-2">2、导入的文件大小不能超过10M，如果文件过大请分多次导入；</p>
        <div class="ly-margin-top-sm">
          <ul>
            <li> <a :href="taobaoFileAddress"
                 download="taobaoTemplate.csv"
                 class="ly-font-16 ly-font-white ly-bg-blue upload-btn">下载淘宝模板</a>
              <a :href="pddFileAddress"
                 download="pddTemplate.csv"
                 class="ly-font-16 ly-font-white ly-bg-blue upload-btn">下载拼多多模板</a>
            </li>
            <li><span class="ly-font-14 ly-font-color-2">(可用淘宝/拼多多导出的订单直接导入)</span></li>
          </ul>
        </div>
      </el-form-item>
      <el-form-item label="平台类型:"
                    prop="type"
                    required>
        <el-select clearable
                   v-model="params.type"
                   placeholder="平台类型"
                   class="ly-margin-right-bottom-sm"
                   @change="changeStore">
          <el-option v-for="item in platformType"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="所属店铺:"
                    prop="shopId"
                    required>
        <affiliatedShopSelect v-model="params.shopId"
                              :type="params.type"
                              :disabled="params.type?false:true"
                              placeholder="请先选择平台"></affiliatedShopSelect>
      </el-form-item>
      <el-form-item label="选择文件:"
                    required>
        <input type="file"
               name="fileup"
               class="file"
               v-if="!fileName"
               v-on:change="fileChange($event)" />
        <span v-if="fileName">{{fileName}}</span>
        <i class="el-icon-delete ly-cursor-pointer"
           v-if="fileName"
           @click="deleteUploadFile"></i>
      </el-form-item>
    </el-form>
    <div class="ly-float-right">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="importOrder('params')">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { affiliatedShopSelect } from '@/components/packages/system/lazySelect'
import { ecommercePlatformApi, commonApi } from '@/api/system'
import { PLATFORM_TYPE } from '@/constants/selects'
import { fileUpload } from '@/utils'

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  components: { affiliatedShopSelect },
  data() {
    return {
      params: {
        type: '',
        shopId: '',
        formData: null
      },
      platformType: PLATFORM_TYPE,
      parentDepartmanet: '',
      type: null,
      shopId: null,
      file: '',
      formData: {},
      taobaoFileAddress: '',
      pddFileAddress: '',
      enterprisId: 0,
      taoBaokey: 'taobao_template',
      pddKey: 'pinduoduo_template',
      rules: {
        type: [
          { required: true, message: '平台类型不能为空' }
        ],
        shopId: [
          { required: true, message: '店铺不能为空' }
        ]
      },
      fileName: null
    }
  },
  methods: {
    async fileChange(el) {
      let formData = await fileUpload(el, ['csv'])
      if (!formData.formData) {
        return
      } else {
        this.fileName = formData.file.name
      }
      this.params.formData = formData.formData
    },
    /**
     * 导入订单
     */
    importOrder(formName) {
      if (!this.fileName) {
        this.error('请上传文件')
        return
      }
      this.validateForm(formName).then(() => {
        let params = {
          shopId: this.params.shopId,
          formData: this.params.formData
        }
        ecommercePlatformApi.addOrderImport(params).then(() => {
          this.success('导入成功')
          this.dataInfo.open = false
          this.$emit('getTableList')
        })
      }, () => { })
    },
    // 表单验证
    validateForm(formName) {
      return new Promise((resolve, reject) => {
        this.$refs[formName].validate(async (valid) => {
          if (valid) {
            resolve()
          } else {
            this.warn('请输入正确表单信息')
            reject(new Error('请输入正确表单信息'))
          }
        })
      })
    },
    /**
     * 下载订单模板
     */
    async downloadTemplate() {
      this.taobaoFileAddress = await commonApi.systemConfig(this.taoBaokey, this.enterprisId)
      this.pddFileAddress = await commonApi.systemConfig(this.pddKey, this.enterprisId)
    },
    changeStore() {
      this.shopId = null
      this.params.shopId = null
    },
    deleteUploadFile() {
      this.fileName = null
      this.params.formData = null
    }
  },
  created() {
    this.downloadTemplate()
  }
}
</script>
