<template>
  <div>
    <div class="search-fail-order">
      <div class="ly-box ly-box-align-center">
        <span class="ly-font-size-16 ly-font-color-4">订单搜索:</span>
        <el-input clearable
                  placeholder="订单号"
                  class="ly-width-280px-im ly-margin-horizontal-sm"
                  v-model.trim="params.orderNo"
                  :maxlength="100"></el-input>
        <el-button type="primary"
                   size="small"
                   @click="getTableList(1)">查询</el-button>
      </div>
      <el-table class="fail-order-table"
                :data="tableData.records">
        <el-table-column label="订单号"
                         align="center"
                         prop="orderNo"
                         width="180">
        </el-table-column>
        <el-table-column label="失败原因"
                         prop="failReason"></el-table-column>
      </el-table>
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { ecommercePlatformApi } from '@/api/system'

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      tableData: [],
      params: {
        current: 1,
        size: 10,
        orderRecordId: this.dataInfo.data.orderRecordId
      }
    }
  },
  methods: {
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      ecommercePlatformApi.getOrderRecordFail(this.params).then((result) => {
        this.tableData = result
        if (this.tableData.total > 0 && this.tableData.current > 1 && this.tableData.records.length === 0) {
          this.getTableList(1)
        }
      })
    }
  },
  created() {
    if (this.dataInfo.data.orderRecordId) {
      this.getTableList()
    }
  }
}
</script>
