<template>
  <div>
    <el-dialog title="代发红包账户充值"
               :visible.sync="computedValue"
               width="880px" append-to-body>
      <el-form class="ly-padding-10px"
               ref="form"
               :model="form"
               :rules="rules">
        <p class="ly-paddingleft-10px ly-font-color-7">温馨提示：当前充值的金额用于发放红包和晒图活动，一经充值不可退回</p>
        <el-form-item label="请输入充值金额："
                      prop="actualMoneyVal"
                      :label-width="formLabelWidth"
                      class="ly-padding-top-10px">
          <vamInputNumber v-model="form.actualMoney"
                          :min="100"
                          :max="999999"
                          :precision='2'
                          placeholder="请输入充值金额"
                          @blur="blurVal"
                          @keyupVal="keyupVal"
                          class="ly-width-280px">
          </vamInputNumber>
          <span class="ly-paddingleft-10px">元</span>
          <p><span class="ly-paddingleft-10px ly-font-12 ly-font-color-8">自定义充值的金额最少100元，最多999999元</span></p>
        </el-form-item>
        <el-form-item label="实付金额："
                      :label-width="formLabelWidth">
          <p class="ly-font-color-2"><span class="ly-font-color-7">{{rechargeMoney}}元</span>（由于微信/支付宝收取转账手续费，自<span class="ly-font-color-7">2017年6月1日</span>起，代发红包账户充值也将开始收费，费率为
            单次充值金额的<span class="ly-font-color-7">{{redpageRate}}%</span>，敬请谅解）（含转账手续费{{redpageRate}}%：{{rateMoney}}元，手续费由第三方微信/支付宝额外收取）</p>
        </el-form-item>
        <el-form-item label="充值说明："
                      :label-width="formLabelWidth">
          <el-input v-model.trim="form.remark"
                    autocomplete="off"
                    :maxlength='50'
                    placeholder="您可以自己填写一些备忘信息记录，记录这一笔充值…"
                    class="ly-width-600px"
                    size="small"></el-input>
          <p><span class="ly-paddingleft-10px ly-font-12 ly-font-color-8">充值说明应少于50字</span></p>
        </el-form-item>
        <el-form-item label="支付方式："
                      :label-width="formLabelWidth">
          <div class="ly-clearfix">
            <!-- 微信 -->
            <div :style="form.type==1?backgroundImgurl:''"
                 @click="form.type=1"
                 class="recharge-redpacket-pay ly-box ly-box-align-justify-center ly-float-left ly-margin-right-30px">
              <img src="@/assets/css/theme/default/images/system/marketPlatform/wechat.png" />
            </div>
            <!-- 现在暂时没有支付宝，之后有 -->
            <!-- 支付宝 -->
            <!-- <div :style="form.type==2?backgroundImgurl:''"
                 @click="form.type=2"
                 class="recharge-redpacket-pay ly-box ly-box-align-justify-center ly-float-left">
              <img src="@/assets/css/theme/default/images/system/marketPlatform/zhifubao.png" />
            </div> -->
          </div>
        </el-form-item>
      </el-form>
      <div slot="footer"
           class="dialog-footer">
        <el-button type="primary"
                   @click="submitForm('form')"
                   size="small">确定充值</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { marketPlatformApi, commonApi } from '@/api/system'
import payBgImg from '@/assets/css/theme/default/images/system/marketPlatform/pay-active.png'
import vamInputNumber from '@/components/libs/inputNumber'
export default {
  components: { vamInputNumber },
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    const actualMoneyValValidator = (rule, value, callback, source, options) => {
      let errors = []
      let actualMoneyVal = this.form.actualMoneyVal
      if (actualMoneyVal < 100) {
        errors.push('充值的金额最少100元')
      }
      callback(errors)
    }
    return {
      // 营销平台 => 红包营销
      formLabelWidth: '136px',
      rechargeMoney: 0,
      form: {
        // type 1微信，2支付宝
        type: 1,
        actualMoneyVal: 0
      },
      // 短信费率
      redpageRate: 0,
      keyupValue: 0,
      rateMoney: 0,
      backgroundImgurl: {
        'background-image': `url(${payBgImg})`,
        'background-repeat': 'no-repeat',
        'background-size': '100% 100%'
      },
      rules: {
        actualMoney: [
          { required: true, message: '请输入充值金额' }
        ],
        actualMoneyVal: [
          { required: true, message: '请输入充值金额' },
          { validator: actualMoneyValValidator }
        ]
      }
    }
  },
  mounted() {
    this.getSysConfig()
  },
  methods: {
    keyupVal(val) {
      this.keyupValue = val
      this.form.actualMoneyVal = Number(val)
      this.getRateMoney(val)
      if (val) {
        this.rechargeMoney = (Number(val) + Number((this.redpageRate / 100) * val)).toFixed(2)
      } else {
        this.rechargeMoney = 0
      }
      this.$refs['form'].validate(async (valid) => {
        if (valid) {
        } else {
          return false
        }
      })
    },
    blurVal(event) {
      this.form.actualMoneyVal = event.target.value
      this.keyupVal(event.target.value)
    },
    // 费率金额
    getRateMoney(val) {
      if (val) {
        this.rateMoney = Number((this.redpageRate / 100) * val).toFixed(2)
      } else {
        this.rateMoney = 0
      }
    },
    // 新增红包充值记录
    async confirm() {
      const data = await marketPlatformApi.newPacketsRecharge(this.form)
      this.computedValue = false
      let codePayInfo = Object.assign({}, this.form, { payCodeUrl: data, money: this.rechargeMoney })
      this.$emit('on-confirm', codePayInfo)
    },
    // 提交表单
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.confirm()
        } else {
          return false
        }
      })
    },
    // 获取系统配置
    async getSysConfig() {
      // redpage 红包费率
      const data = await commonApi.systemConfig('redpage')
      this.redpageRate = data
    }
  }
}
</script>
<style scoped>
</style>
