<template>
  <div>
    <el-dialog title="活动详情"
               :visible.sync="computedValue"
               width="880px" append-to-body>
      <table class="active-detail-dialog">
        <tr>
          <td>累计参与人数</td>
          <td>{{statisticsData.joinNum}}</td>
          <td>待审核</td>
          <td>{{statisticsData.auditNum}}</td>
        </tr>
        <tr>
          <td>累计申请数量</td>
          <td>{{statisticsData.applyNum}}</td>
          <td>已通过</td>
          <td>{{statisticsData.passNum}}</td>
        </tr>
        <tr>
          <td>支出红包数量</td>
          <td>{{statisticsData.redpageNum}}</td>
          <td>已拒绝</td>
          <td>{{statisticsData.refusNum}}</td>
        </tr>
        <tr>
          <td>支出红包金额</td>
          <td colspan="3">{{statisticsData.redpageMoney}}</td>
        </tr>
        <tr>
          <td>返现客户数</td>
          <td colspan="3">{{statisticsData.customerNum}}</td>
        </tr>
        <tr>
          <td>参与订单数</td>
          <td colspan="3">{{statisticsData.orderNum}}</td>
        </tr>
      </table>
    </el-dialog>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    currId: [String, Number]
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
      statisticsData: {}
    }
  },
  mounted() {
    this.statisticsActivity()
  },
  methods: {
    // 活动统计数据
    async statisticsActivity() {
      const data = await marketPlatformApi.statisticsActivity(this.currId)
      this.statisticsData = data
    }
  }
}
</script>
<style scoped>
</style>
