<template>
  <div class="code-pay">
    <el-dialog title="微信扫码支付"
               :visible.sync="computedValue"
               width="880px" append-to-body>
      <!-- <div class="ly-box ly-padding-bottom-20px">
        <div class="ly-box-1">
          <p class="ly-margin-bottom-12px ly-font-16 ly-font-color-4">商品名称： 红包功能</p>
          <p class="ly-font-16 ly-font-color-0">订单号： 501201811271107346945914</p>
        </div>
        <div>
          <p class="ly-padding-top-8px ly-font-36 ly-font-color-7 ly-font-weight-bold">101.00<span class="ly-font-16 ly-font-color-4 ly-font-weight-normal">元</span></p>
        </div>
      </div> -->
      <div class="ly-box ly-padding-bottom-20px ly-box-align-justify-center">
        <div>
          <p class="ly-padding-top-8px ly-font-36 ly-font-color-7 ly-font-weight-bold">{{codePayInfo.money}}<span class="ly-font-16 ly-font-color-4 ly-font-weight-normal">元</span></p>
        </div>
      </div>
      <hr />
      <div class="ly-padding-20px ly-padding-top-26px ly-text-center">
        <div>
          <div class="qrcode"
               id="codepay-qrcode"
               ref="codepay-qrcode">
          </div>
        </div>
        <div class="ly-margin-top-20px">
          <span class="ly-width-350px ly-inline-block ly-font-12">请打开「手机微信-扫一扫」扫码上方二维码，按操作提示完成支付。请在2小时内完成操作，过期后请返回重新开始购买</span>
        </div>
      </div>
      <hr />
      <!-- <div class="ly-padding-top-26px ly-text-center">
        <p class="ly-font-16 ly-font-weight-bold ly-font-color-4">支付结果</p>
      </div>
      <div slot="footer">
        <div class="ly-text-center">
          <el-button type="primary"
                     @click="computedValue=false"
                     size="small">付款成功</el-button>
        </div>
      </div> -->
    </el-dialog>
  </div>
</template>

<script>
import QRCode from 'qrcodejs2'
import Logger from '@/utils/logger'
export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    codePayInfo: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.qrcode(this.codePayInfo.payCodeUrl)
    })
  },
  methods: {
    qrcode(url) {
      let qrcode = new QRCode('codepay-qrcode', {
        width: 140,
        height: 140,
        text: url
      })
      Logger.log(qrcode)
    }
  }
}
</script>
<style scoped>
</style>
