<template>
  <div>
    <el-dialog title="恭喜，转换成功！"
               :visible.sync="computedValue"
               width="640px" append-to-body>
      <div class="micro-jump-code">
        <div class="ly-text-center ly-font-color-2">你可以扫码试一试效果。并下载保存进行传播</div>
        <Qrcode :url='linkUrl'
                ref="Qrcode"
                remark='mounted'
                :size='220'></Qrcode>
        <div @click="downloadQRCode">
          <el-button type="primary">下载二维码</el-button>
        </div>
        <CopyToClipboard :url='linkUrl'></CopyToClipboard>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import CopyToClipboard from '@/components/common/copyToClipboard' // 复制到剪贴板
import Qrcode from '@/components/common/qrcode' // 生成二维码

export default {
  components: { CopyToClipboard, Qrcode },
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    linkUrl: {
      type: String,
      default: ''
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  methods: {
    // 下载二维码
    downloadQRCode() {
      this.$refs.Qrcode.downloadClick()
    }
  }
}
</script>
<style scoped>
</style>
