<template>
  <div>
    <el-dialog
      title="发朋友圈"
      :visible.sync="computedValue"
      :close-on-click-modal="false"
      width="660px"
      append-to-body
    >
      <el-form ref="form" :model="form" :rules="rules" class="ly-margin-right-30px">
        <!-- 选择个人号 -->
        <el-form-item label="个人号:" :label-width="formLabelWidth" required>
          <el-button type="primary" size="small" @click="showSelectPersonalNumDialog=true">选择个人号</el-button>
          <p v-if="isSelected">
            <el-tag
              v-for="(item,i) in gerenaNolList"
              :key="`gerenaNolList_${i}`"
              class="ly-margin-right-xs ly-margin-bottom-5px"
            >{{item.accountName}}</el-tag>
          </p>
        </el-form-item>
        <!-- 有个人号时显示 -->
        <div v-if="isSelected">
          <el-form-item label="朋友圈内容:" :label-width="formLabelWidth">
            <!-- 文本组件 -->
            <messageOfText v-model="form.msgText" :textLimit="textLimit"></messageOfText>
          </el-form-item>
          <!-- 图片视频组件（素材） 消息类型和消息内容 -->
          <messageOfImgVido ref="messageEles" :info="modifyObj" :limit="9"></messageOfImgVido>
          <el-form-item label="可见范围:" :label-width="formLabelWidth">
            <!-- showLimit 1全部2私密3指定标签4屏蔽标签 -->
            <el-radio-group v-model="form.showLimit">
              <el-radio :label="1">全部</el-radio>
              <el-radio :label="2">私密</el-radio>
              <el-radio :label="3">指定标签</el-radio>
              <el-radio :label="4">屏蔽标签</el-radio>
              <!--
              <el-radio :label="3"
                        :disabled='isMultiPnalNo'>指定标签</el-radio>
              <el-radio :label="4"
                        :disabled='isMultiPnalNo'>屏蔽标签</el-radio>
              -->
            </el-radio-group>
          </el-form-item>
          <el-form-item
            v-if="form.showLimit==3 || form.showLimit==4"
            :label="form.showLimit===4?'标签:':'可见标签:'"
            prop="selectedLabelList"
            :label-width="formLabelWidth"
          >
            <el-select
              v-model="form.selectedLabelList"
              :key="form.showLimit"
              :placeholder="form.showLimit===4?'请选择标签':'请选择可见标签'"
              multiple
            >
              <el-option
                v-for="(item,i) in labelList"
                :key="`labelList_${i}`"
                :label="item.labelName"
                :value="item.id"
              >{{item.labelName}}</el-option>
            </el-select>
          </el-form-item>
          <!--
          <el-form-item v-if="!isMultiPnalNo && (form.showLimit==3 || form.showLimit==4)"
                        :label="form.showLimit===4?'标签:':'可见标签:'"
                        prop="selectedLabelList"
                        :label-width="formLabelWidth">
            <el-select v-model="form.selectedLabelList"
                       :placeholder="form.showLimit===4?'请选择标签':'请选择可见标签'"
                       multiple>
              <el-option v-for="(item,i) in labelList"
                         :key="`labelList_${i}`"
                         :label="item.labelName"
                         :value="item.id">{{item.labelName}}</el-option>
            </el-select>
          </el-form-item>
          -->
          <el-form-item label="延后评论:" :label-width="formLabelWidth">
            <!-- 文本组件 -->
            <messageOfText v-model="form.comment" :textLimit="textLimit"></messageOfText>
          </el-form-item>
          <el-form-item label="定时发送时间:" prop="sendType" :label-width="formLabelWidth">
            <el-row>
              <el-col :span="12">
                <!--sendType 1立刻发送2预约发送-->
                <el-radio-group v-model="form.sendType">
                  <el-radio :label="1">立刻发送</el-radio>
                  <el-radio :label="2">预约发送</el-radio>
                </el-radio-group>
              </el-col>
              <el-col :span="12" v-if="form.sendType==2">
                <el-form-item label-width="0" prop="sendTime">
                  <el-date-picker
                    v-model="form.sendTime"
                    type="datetime"
                    value-format="timestamp"
                    :picker-options="pickerOptions"
                    size="samll"
                    class="ly-margin-left-10px"
                    placeholder="选择日期时间"
                  ></el-date-picker>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>
        </div>
      </el-form>
      <div v-if="isSelected" slot="footer" class="dialog-footer">
        <el-button @click="computedValue = false">取 消</el-button>
        <el-button type="primary" @click="newCircle('form')">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 发朋友圈=>选择个人号（点击选择个人号） -->
    <SelectPersonalNum
      v-model="showSelectPersonalNumDialog"
      :checkArr="checkArr"
      @on-confirm="confirmPersonal"
    ></SelectPersonalNum>
  </div>
</template>

<script>
    import {
        marketPlatformApi
    } from "@/api/system";
    import {
        WechatExpression
    } from "@/components/libs/wechatExpression";
    import {
        messageOfText,
        messageOfImgVido
    } from "@/components/common/messageAdd";
    import SelectPersonalNum from "./selectPersonalNum";
    import {
        MESSAGE_TPYE_KEY
    } from "@/constants/messageType";

    export default {
        components: {
            WechatExpression,
            SelectPersonalNum,
            messageOfText,
            messageOfImgVido
        },
        model: {
            prop: "value",
            event: "model"
        },
        props: {
            value: {
                type: Boolean,
                default: false
            },
            isCopy: {
                type: Boolean,
                default: false
            },
            currId: [String, Number]
        },
        computed: {
            // 计算属性默认只有 getter,不过在需要时你也可以提供一个 setter
            computedValue: {
                get() {
                    return this.value;
                },
                set(val) {
                    this.$emit("model", val);
                }
            },
            // 已经选择了个人号 只要this.gerenaNolList改变，isSelected就改变
            isSelected: {
                get() {
                    return this.gerenaNolList.length > 0;
                },
                set(newValue) {}
            },
            // 是否多个个人号
            isMultiPnalNo: {
                get() {
                    let bool = false;
                    if (this.gerenaNolList.length > 0 && this.gerenaNolList.length === 1) {
                        bool = false;
                    } else {
                        bool = true;
                    }
                    return bool;
                },
                set(newValue) {}
            }
        },
        data() {
            const dateValidator = (rule, value, callback, source, options) => {
                let errors = [];
                if (value && value <= Date.now()) {
                    errors.push("预约发送时间小于当前时间");
                }
                callback(errors);
            };
            return {
                isUrlFlag: "",
                MESSAGE_TPYE_KEY,
                modifyObj: {},
                showSelectPersonalNumDialog: false,
                formLabelWidth: "136px",
                textLimit: 500,
                form: {
                    selectedLabelList: [], // labelId 需要用到（服务器不用）
                    showLimit: 1,
                    sendType: 1,
                    sendTime: "",
                    msgText: "",
                    comment: "",
                    msgUrl: ""
                },
                checkArr: [],
                pickerOptions: {
                    disabledDate(time) {
                        // 86400000 1天 ms
                        return time.getTime() < Date.now() - 86400000;
                    }
                },
                labelList: [], // 标签列表([{id: xx, labelName: xx}])
                gerenaNolList: [], // 个人号列表 [{accountId: xx, accountName: xx}]
                rules: {
                    selectedLabelList: [{
                        type: "array",
                        required: true,
                        message: "请选择可见标签",
                        trigger: "change"
                    }],
                    sendType: [{
                        required: true,
                        message: "请选择定时发送时间",
                        trigger: "change"
                    }],
                    msgText: [{
                        required: true,
                        message: "朋友圈内容不能为空"
                    }],
                    sendTime: [{
                        required: true,
                        validator: dateValidator
                    }]
                }
            };
        },
        created() {},
        methods: {
            // 发朋友圈(跟圈)
            newCircle(formName) {
                this.$refs[formName].validate(async valid => {
                    if (valid) {
                        let modifyObj = this.$refs.messageEles.getMessageInfo();
                        if (this.form.msgText.length > 0 || modifyObj.msgText) {
                            this.needToHandleNewInfo();
                            let formObj = Object.assign({},
                                this.form,
                                this.setMessageInfo(modifyObj)
                            );
                            this.isUrlFlag = 0;
                            if (formObj.msgType === 5) {
                                this.isUrl(formObj.msgUrl);
                                if (this.isUrlFlag == 1) {
                                    return this.warning("请输入正确的图文链接");
                                }
                            }

                            //  var reg =
                            // if (formObj.msgUrl === "" || !reg.test(formObj.msgUr)) {
                            // return this.warning("请输入正确的图文链接");
                            // }
                            // let formObj = Object.assign({}, this.form)
                            if (formObj.resourceInfo === "") {
                                delete formObj.resourceInfo;
                                delete formObj.msgType;
                            }
                            await marketPlatformApi.newCircle(formObj);
                            this.computedValue = false;
                            this.$emit("on-success", true);
                        } else {
                            this.$notify({
                                title: "提示",
                                message: "请填写朋友圈内容或选择图片/视频",
                                type: "warning"
                            });
                        }
                    } else {
                        return false;
                    }
                });
            },

            // 获取定时发朋友圈详情
            async getCircleDetail() {
                const data = await marketPlatformApi.getCircleDetail(this.currId);
                this.form = Object.assign({}, this.form, data);
                this.needToHandleDetailInfo(data);
                this.getMessageInfo();
                this.getVisibleLabelList();
            },
            // 获取可见标签列表
            async getVisibleLabelList() {
                let ids = [];
                this.gerenaNolList.forEach((o, i) => {
                    ids.push(o.accountId);
                });
                const data = await marketPlatformApi.getVisibleLabelList(ids);
                this.labelList = data;
            },
            // 需要手动处理的发朋友圈数据
            needToHandleNewInfo() {
                // 选择个人号
                let ids = [];
                this.gerenaNolList.forEach(o => {
                    ids.push(o.accountId);
                    this.form.wechatAccountIds = ids.join(",");
                });
                // 可见标签
                this.form.labelId = this.form.selectedLabelList.join(",");
            },
            // 需要手动处理的朋友圈详情数据
            needToHandleDetailInfo(data) {
                // 选择个人号
                this.gerenaNolList = data.accountList;
                // 可见标签
                if (data.labelList) {
                    data.labelList.forEach((o, i) => {
                        this.form.selectedLabelList.push(Number(o.labelId));
                    });
                }
                // 消息类型
                if (data.msgType === 1) {
                    this.form.msgType = null;
                }
            },
            // 确定选择个人号
            confirmPersonal(gerenaNolList) {
                // 每个个人号的标签，需要清空
                this.form.selectedLabelList = [];
                this.form.showLimit = 1;
                this.gerenaNolList = gerenaNolList;
                let arr = [];
                gerenaNolList.forEach(item => {
                    arr.push(item.accountId);
                });
                this.checkArr = arr;
                this.getVisibleLabelList();
            },
            // 处理消息类型和消息内容组件的信息并且显示出来
            getMessageInfo() {
                let modifyObj = {};
                modifyObj.msgType = this.form.msgType;
                switch (this.form.msgType) {
                    // 图片
                    case this.MESSAGE_TPYE_KEY.IMG:
                        modifyObj.imgList = this.form.resourceInfo.split(",");
                        break;
                        // 视频
                    case this.MESSAGE_TPYE_KEY.VIDEO:
                        modifyObj.videoList = this.form.resourceInfo.split(",");
                        let coverInfoArr = this.form.coverInfo ?
                            this.form.coverInfo.split(",") : [];
                        let posterArr = [];
                        for (let i = 0; i < modifyObj.videoList.length; i++) {
                            let postObj = {
                                img: coverInfoArr[i] || "",
                                video: modifyObj.videoList[i]
                            };
                            posterArr.push(postObj);
                        }
                        modifyObj.posterArr = posterArr;
                        break;
                        // 公众号图文链接
                    case this.MESSAGE_TPYE_KEY.PUBLICK:
                        modifyObj.imageTextUrl = this.form.resourceInfo;
                        break;
                }
                this.modifyObj = modifyObj;
            },
            // 设置为可供提交的数据
            setMessageInfo(modifyObj) {
                let form = {};
                switch (modifyObj.msgType) {
                    // 图片
                    case this.MESSAGE_TPYE_KEY.IMG:
                        form.msgType = modifyObj.msgType;
                        form.resourceInfo = modifyObj.msgText;
                        break;
                        // 视频
                    case this.MESSAGE_TPYE_KEY.VIDEO:
                        form.msgType = modifyObj.msgType;
                        form.resourceInfo = modifyObj.msgText;
                        form.coverInfo = modifyObj.coverInfo;
                        break;
                        // 公众号图文链接
                    case this.MESSAGE_TPYE_KEY.PUBLICK:
                        form.msgType = modifyObj.msgType;
                        form.resourceInfo = modifyObj.msgText;
                        form.msgUrl = modifyObj.msgText;
                        break;
                }
                return form;
            },
            isUrl(str) {
                var reg = /^https?:\/\/(([a-zA-Z0-9_-])+(\.)?)*(:\d+)?(\/((\.)?(\?)?=?&?[a-zA-Z0-9_-](\?)?)*)*$/i;
                // console.log(reg.test(str));
                if (str === "" || !reg.test(str)) {
                    this.isUrlFlag = 1;
                }
            }
        }
    };
</script>
<style scoped>

</style>