<template>
  <div class="code-pay">
    <el-dialog title="转换链接"
               :visible.sync="computedValue"
               width="700px" append-to-body>
      <div class="ly-box ly-box-align-justify-center">
        <div class="ly-width-600px">
          <el-form label-width="100px"
                   :model="form"
                   ref="form"
                   :rules="rules"
                   label-position="left">
            <el-form-item label-width="0"
                          prop="originalLink">
              <el-input placeholder="请输入店铺首页/宝贝页/优惠券链接"
                        v-model.trim="form.originalLink"
                        class="input-with-select leftbg-white"
                        id="copy-input">
                <el-button slot="append"
                           class="copy-btn"
                           @click="newMicroJump('form')">转换链接</el-button>
              </el-input>
              <div class="view-microJump-example">
                <i class="el-icon-question ly-font-color-7"></i>
                <img src="@/assets/css/theme/default/images/system/marketPlatform/microJump-explain.png"
                     alt=""
                     v-image-view>
              </div>
            </el-form-item>
            <el-form-item label="所属店铺:"
                          prop="shopId">
              <!-- 选择店铺 -->
              <shopList v-model="form.shopId"
                        :params='params'
                        placeholder="店铺"></shopList>
            </el-form-item>
          </el-form>
        </div>

      </div>
      <div class="ly-box ly-box-align-justify-center newmicrojump-remark">
        <p class="ly-width-600px">
          1.微跳转支持淘宝与天猫的店铺首页、宝贝详情页、优惠券一键转换，转换后可在微信中直接打开淘宝链接；
          <br />
          2.上传的商品会同步到【微客服】--【商品推荐】，可对用户进行新款商品推荐；
          <br />
          3.价格发生变化时需要重新转换链接
        </p>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'
import { shopList } from '@/components/packages/system/lazySelect'

export default {
  components: { shopList },
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
      // https://detail.tmall.com/item.htm?id=583792851644&ali_refid=a3_430673_1006:1180290062:N:%E8%BF%9E%E8%A1%A3%E8%A3%99:aab469920a32ed7aaa294e1575bbef12&ali_trackid=1_aab469920a32ed7aaa294e1575bbef12&spm=a2e15.8261149.07626516002.1
      form: {
        originalLink: '',
        shopId: null
      },
      rules: {
        originalLink: [
          { required: true, message: '请输入店铺首页/宝贝页/优惠券链接' }
        ],
        shopId: [
          { required: true, message: '请选择所属店铺', trigger: 'change' }
        ]
      },
      params: {
        type: 1
      }
    }
  },
  methods: {
    // 生成微跳转
    newMicroJump(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          const data = await marketPlatformApi.newMicroJump(this.form)
          this.$emit('on-success', data)
        } else {
          return false
        }
      })
    }
  }
}
</script>
<style scoped>
</style>
