<template>
  <div>
    <el-dialog title="新增模板"
               :visible.sync="computedValue"
               width="590px" append-to-body>

      <el-form ref="form"
               class="ly-margin-right-30px"
               :model="form"
               :rules="rules"
               label-width="120px">
        <el-form-item label="短信标题："
                      prop="msgTitle">
          <el-input v-model.trim="form.msgTitle"
                    :maxlength="8"></el-input>
        </el-form-item>
        <el-form-item label="短信签名："
                      prop="msgSign">
          <el-input v-model.trim="form.msgSign"
                    :maxlength="12"></el-input>
        </el-form-item>
        <el-form-item label="短信内容："
                      prop="msgText">
          <el-input type="textarea"
                    :rows="8"
                    placeholder="请输入内容"
                    v-model="form.msgText"
                    :maxlength="2000">
          </el-input>

        </el-form-item>
        <div style="margin-left:120px">
          <p><span class="ly-font-12 ly-font-color-8">计费规则：</span></p>
          <p><span class="ly-font-12 ly-font-color-8">1.70个字算一条（含标点、字母），多出部分按多条计算；</span></p>
          <p><span class="ly-font-12 ly-font-color-8">2.受短信运营商限制，签名包含在字数内。</span></p>
        </div>
      </el-form>
      <div slot="footer"
           class="dialog-footer">
        <el-button @click="submitForm('form')">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    codePayInfo: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
      form: {},
      rules: {
        msgTitle: [
          { required: true, message: '请输入短信标题', trigger: 'blur' }
        ],
        msgSign: [
          { required: true, message: '请输入短信签名', trigger: 'blur' }
        ],
        msgText: [
          { required: true, message: '请输入短信内容', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    // 新增短信模板
    async newTemplate() {
      await marketPlatformApi.newTemplate(this.form)
    },
    // 提交表单
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          await this.newTemplate()
          this.computedValue = false
          this.$emit('on-success', true)
          this.resetForm('form')
        } else {
          return false
        }
      })
    },
    // 重置表单
    resetForm(formName) {
      this.$refs[formName].resetFields()
    }
  }
}
</script>
<style scoped>
</style>
