<template>
  <div>
    <el-dialog title="提示"
               :visible.sync="computedValue"
               width="400px" append-to-body>
      <div class="ly-text-center">活动下线后不可再次编辑上线，是否确定下线该活动</div>
      <div slot="footer"
           class="dialog-footer">
        <el-button @click="computedValue = false">取 消</el-button>
        <el-button type="primary"
                   @click="offActivityRecord">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    currId: [String, Number]
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
    }
  },
  methods: {
    // 下线晒图活动
    async offActivityRecord() {
      await marketPlatformApi.offActivityRecord(this.currId)
      this.computedValue = false
      this.$emit('on-off', true)
    }
  }
}
</script>
<style scoped>
</style>
