<template>
  <div>
    <el-dialog title="订单详情"
               :visible.sync="computedValue"
               width="880px" append-to-body>
      <table class="ly-width-780px ly-margin-center ly-table-td-padding-8px ly-table-border-collapse ly-table-td-border ly-font-color-4">
        <tr>
          <td>创建时间</td>
          <td>{{(tableData[0].orderTime || '--') | date}}</td>
          <td>付款时间</td>
          <td>{{(tableData[0].payTime || '--') | date}}</td>
        </tr>
        <tr>
          <td>发货时间</td>
          <td>{{(tableData[0].deliveryTime || '--') | date}}</td>
          <td>成交时间</td>
          <td>{{(tableData[0].finishTime || '--') | date }}</td>
        </tr>
        <tr>
          <!--source 1同步2导入 -->
          <td>订单来源</td>
          <td v-if="tableData[0].source==1">同步</td>
          <td v-else>导入</td>
          <!-- tradingStatus 订单状态1待付款2待发货3待收货4待评价 -->
          <td>订单状态</td>
          <td v-if="tableData[0].tradingStatus==1">待付款</td>
          <td v-if="tableData[0].tradingStatus==2">待发货</td>
          <td v-if="tableData[0].tradingStatus==3">待收货</td>
          <td v-if="tableData[0].tradingStatus==4">待评价</td>
          <td v-if="tableData[0].tradingStatus==5">交易成功</td>
          <td v-if="tableData[0].tradingStatus==6">交易关闭</td>
        </tr>
        <tr>
          <td>订单号</td>
          <td>{{tableData[0].orderNo}}</td>
          <td>平台类型</td>
          <td>{{tableData[0].typeLabel}}</td>
        </tr>
        <tr>
          <td>实收金额</td>
          <td>{{tableData[0].totalPay}}元</td>
          <td>购物账号</td>
          <td>{{tableData[0].buyersAccount}}</td>
        </tr>
        <tr>
          <td>收货人</td>
          <td>{{tableData[0].recipient}}</td>
          <td>联系电话</td>
          <td>{{tableData[0].phone}}</td>
        </tr>
        <tr>
          <td>收货地址</td>
          <td colspan="3">{{tableData[0].receiverAddressComplete}}</td>
        </tr>
        <tr>
          <td>店铺名称</td>
          <td colspan="3">{{tableData[0].shopName}}</td>
        </tr>
        <tr>
          <td>备注</td>
          <td colspan="3">{{tableData[0].remark}}</td>
        </tr>
      </table>
      <el-table :data="tableData"
                border
                class="ly-width-780px ly-margin-center ly-margintop-40px">
        <el-table-column label="商品"
                         width="357">
          <template slot-scope="scope">
            <!-- 图文排行 -->
            <div class="ly-box ly-box-align-c-justify-s">
              <img :src="scope.row.goodsPicUrl | productAvtor"
                   alt=""
                   class="ly-wh-50px ly-margin-right-xs"
                   v-image-view>
              <span>{{ scope.row.goodsName }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="数量"
                         prop="goodsNum">
        </el-table-column>
        <el-table-column label="单价"
                         prop="goodsPrice">
        </el-table-column>
        <el-table-column label="买家实付款"
                         prop="totalPay">
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
import { commonApi } from '@/api/system'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    currOrderNo: [Number, String]
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
      // 返回数据是对象，表格要用得转化成数组
      tableData: [{}]
    }
  },
  watch: {
    computedValue(val) {
      if (val) {
        this.getOrder()
      }
    }
  },
  methods: {
    // 订单查询
    async getOrder() {
      const data = await commonApi.getOrder(this.currOrderNo)
      this.tableData = [data]
    }
  }
}
</script>
<style scoped>
</style>
