<template>
  <div>
    <el-dialog title="短信充值"
               :visible.sync="computedValue"
               width="880px" append-to-body>
      <el-form class="ly-padding-10px"
               ref="form"
               :model="form"
               :rules="rules">
        <p class="ly-paddingleft-10px ly-font-color-7">温馨提示：当前充值的金额用于发放红包和晒图活动，一经充值不可退回</p>
        <el-form-item label="请输入充值条数"
                      prop="msgNum"
                      :label-width="formLabelWidth"
                      class="ly-padding-top-10px">
          <el-input-number v-model="form.msgNum"
                           :min="10000"
                           :max="1000000000"
                           :precision='0'
                           placeholder="请输入充值条数"
                           class="ly-width-280px">
          </el-input-number>
          <span class="ly-paddingleft-10px">条</span>
          <p><span class="ly-paddingleft-10px ly-font-12 ly-font-color-8">最少充值条数10000条,最多1000000000条（资费：{{messageRate}}元/条，70个字算一条，多出字数按多条计算）</span></p>
        </el-form-item>
        <el-form-item label="实付金额："
                      :label-width="formLabelWidth">
          <span class="ly-font-color-7">{{actualMoney}}元</span>
        </el-form-item>
        <el-form-item label="充值说明："
                      :label-width="formLabelWidth">
          <el-input v-model.trim="form.remark"
                    :maxlength='50'
                    autocomplete="off"
                    placeholder="您可以自己填写一些备忘信息记录，记录这一笔充值…"
                    class="ly-width-600px"></el-input>
          <p><span class="ly-paddingleft-10px ly-font-12 ly-font-color-8">充值说明应少于50字</span></p>
        </el-form-item>
        <el-form-item label="支付方式："
                      :label-width="formLabelWidth">
          <div class="ly-clearfix">
            <!-- 微信 -->
            <div :style="form.payType==1?backgroundImgurl:''"
                 @click="form.payType=1"
                 class="recharge-redpacket-pay ly-box ly-box-align-justify-center ly-float-left ly-margin-right-30px">
              <img src="@/assets/css/theme/default/images/system/marketPlatform/wechat.png" />
            </div>
            <!-- 显示没有支付宝 -->
            <!-- 支付宝 -->
            <!-- <div :style="form.payType==2?backgroundImgurl:''"
                 @click="form.payType=2"
                 class="recharge-redpacket-pay ly-box ly-box-align-justify-center ly-float-left">
              <img src="@/assets/css/theme/default/images/system/marketPlatform/zhifubao.png" />
            </div> -->
          </div>
        </el-form-item>
      </el-form>
      <div slot="footer"
           class="dialog-footer">
        <el-button type="primary"
                   @click="submitForm('form')"
                   size="small">确定充值</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { marketPlatformApi, commonApi } from '@/api/system'
import payBgImg from '@/assets/css/theme/default/images/system/marketPlatform/pay-active.png'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  watch: {
    // 监听对象里面的属性-充值条数
    'form.msgNum'(val) {
      if (val) {
        this.actualMoney = Number(val * this.messageRate).toFixed(2)
        // this.actualMoney = 0.01
      } else {
        this.actualMoney = 0
      }
    }
  },
  data() {
    return {
      formLabelWidth: '150px',
      form: {
        // payType 1微信 2支付宝
        payType: 1
      },
      // 实付金额
      actualMoney: 0,
      // 短信费率
      messageRate: 0,
      backgroundImgurl: {
        'background-image': `url(${payBgImg})`,
        'background-repeat': 'no-repeat',
        'background-size': '100% 100%'
      },
      rules: {
        msgNum: [
          { required: true, message: '请输入充值条数', trigger: 'blur' }
        ]
      }
    }
  },
  mounted() {
    this.getSysConfig()
  },
  methods: {
    // 新增短信充值记录
    async confirm() {
      this.form.msgNum = Number(this.form.msgNum)
      const data = await marketPlatformApi.newRechargeSms(this.form)
      this.computedValue = false
      let codePayInfo = Object.assign({}, this.form, { payCodeUrl: data, money: this.actualMoney })
      this.$emit('on-confirm', codePayInfo)
    },
    // 提交表单
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.confirm()
        } else {
          return false
        }
      })
    },
    // 获取系统配置
    async getSysConfig() {
      // message 短信费率
      const data = await commonApi.systemConfig('message')
      this.messageRate = data
    }
  }
}
</script>
<style scoped>
</style>
