<template>
  <div>
    <el-dialog title="拒绝理由"
               :visible.sync="computedValue"
               width="489px" append-to-body>
      <el-form ref="form"
               :model="form"
               :rules="rules">
        <el-form-item label="拒绝理由"
                      prop="remark"
                      :label-width="formLabelWidth1">
          <el-input type="textarea"
                    :rows="5"
                    v-model="form.remark"
                    :maxlength="20"
                    class="ly-width-280px-im"></el-input>
          <p class="ly-font-color-4">拒绝理由将反馈给客户（最多20字）</p>
        </el-form-item>
      </el-form>
      <div slot="footer"
           class="dialog-footer">
        <el-button @click="computedValue = false">取 消</el-button>
        <el-button type="primary"
                   @click="submitForm('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
      formLabelWidth1: '120px',
      form: {
        remark: ''
      },
      rules: {
        remark: [
          { required: true, message: '请填写拒绝理由' }
        ]
      }
    }
  },
  methods: {
    comfire() {
      this.computedValue = false
      this.$emit('on-comfire', this.form.remark)
    },
    // 提交表单
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.comfire()
        } else {
          return false
        }
      })
    }
  }
}
</script>
<style scoped>
</style>
