<template>
  <div>
    <el-dialog title="请选择个人号" :visible.sync="computedValue" width="700px" append-to-body>
      <el-input v-model.trim="filters" :maxlength="100" autocomplete="off" clearable placeholder="请输入微信信息进行过滤" class="ly-width-641px">
        <!--<el-button slot="append"-->
        <!--icon="el-icon-search"-->
        <!--@click="getPersonalNoList"></el-button>-->
      </el-input>
      <div class="ly-margin-top-15px">
        <el-tree :data="treeData" :props="defaultProps" :disabled="treeData.length ? false:true" :expand-on-click-node="false" :check-on-click-node="true" default-expand-all show-checkbox node-key="id+'-only'" ref="tree" :filter-node-method="filterNode" :default-expanded-keys="[1]"></el-tree>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="computedValue = false">取 消</el-button>
        <el-button type="primary" @click="confirm">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  v2marketPlatformApi
} from '@/api/system'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    checkArr: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  computed: {
    computedValue: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('model', val)
      }
    }
  },
  data () {
    return {
      filters: '',
      treeData: [{
        id: 1,
        name: '全选',
        root: true, // 全选标识
        children: []
      }],
      defaultProps: {
        children: 'children',
        label: 'name'
      }
    }
  },
  watch: {
    computedValue (val) {
      if (val) {
        this.getPersonalNoList()
      }
    },
    filters (val) {
      this.$refs.tree.filter(val)
    }
  },
  methods: {
    filterNode (value, data) {
      if (!value) return true
      return data.name.indexOf(value) !== -1
    },
    // 获取发朋友圈个人号
    async getPersonalNoList () {
      // await marketPlatformApi.getPersonApi().then((res)=>{
      // })
      const data = await v2marketPlatformApi.getPersonalNoListCircle()
      let treeData = data
      // let treeData = this.initLabel(data)
      this.treeData[0].children = treeData
      this.$nextTick(() => {
        this.$refs.tree.setCheckedKeys(this.checkArr)
      })
    },
    // 获取个人号列表
    // async getPersonalNoList() {
    //   const data = await v2marketPlatformApi.getPersonalNoListCircle()
    //   let treeData = this.initLabel(data)
    //   this.treeData[0].children = treeData
    //   this.$nextTick(() => {
    //     this.$refs.tree.setCheckedKeys(this.checkArr)
    //   })
    // },
    // initLabel(arr, type) {
    //   arr.forEach(item => {
    //     let name = item.nickName
    //     if (type) {
    //       let onLine = item.onLine ? '[在线]' : '[离线]'
    //       name = `${item.nickName}(${item.wxId})${onLine}`
    //     }
    //     item.label = name
    //     if (item.children && item.children.length) {
    //       item.children = this.initLabel(item.children, true)
    //     }
    //   })
    //   return arr
    // },
    // 确定
    confirm () {
      let nodes = this.$refs.tree.getCheckedNodes(true)
      let gerenaNolList = []
      nodes.forEach(o => {
        if (!o.root) {
          // 过滤全选选项
          gerenaNolList.push({
            accountId: o.id,
            accountName: o.name
          })
        }
      })
      if (gerenaNolList.length === 0) {
        this.$notify({
          title: '提示',
          message: '请选择个人号',
          type: 'warning'
        })
        return
      }
      this.$emit('on-confirm', gerenaNolList)
      this.computedValue = false
    }
  }
}
</script>
<style scoped>
</style>
