<template>
  <div>
    <el-dialog title="结果查询"
               :visible.sync="computedValue"
               width="1180px" append-to-body>
      <el-table :data="tableData"
                border
                class="ly-margin-center">
        <el-table-column label="个人号"
                         width="218">
          <template slot-scope="scope">
            <!-- 图文排行 -->
            <div class="ly-box ly-box-align-c-justify-s">
              <img :src="scope.row.headIcon | wechatAvtor"
                   alt=""
                   class="ly-wh-50px ly-margin-right-xs">
              <span>{{ scope.row.nickName }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="comment"
                         label="延后评论">
        </el-table-column>
        <el-table-column label="可见范围">
          <!--showLimit 1全部2私密3指定标签4屏蔽标签列表 -->
          <template slot-scope="scope">
            <span v-if="scope.row.showLimit==1">全部</span>
            <span v-if="scope.row.showLimit==2">私密</span>
            <span v-if="scope.row.showLimit==3">指定标签</span>
            <span v-if="scope.row.showLimit==4">屏蔽标签</span>
          </template>
        </el-table-column>
        <el-table-column label="标签">
          <template slot-scope="scope">
            <el-tag v-for='(item,i) in scope.row.labelName'
                    :key="`labelName_${i}`"
                    type="success"
                    class="ly-margin-vertical-3px">{{item}}</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="执行状态"
                         width="200">
          <template slot-scope="scope">
            <div>
              <!--status 1待执行2执行中3执行成功4执行失败-->
              <span v-if="scope.row.status==1">待执行</span>
              <span v-if="scope.row.status==2">执行中</span>
              <span v-if="scope.row.status==3">执行成功</span>
              <span v-if="scope.row.status==4">执行失败</span>
            </div>
            <div>
              <!-- 设备是否在线1在线0不在线 -->
              <p v-if="scope.row.onLine==1">
                <img class="vm"
                     src="@/assets/images/icons/yuan_green.png"
                     alt="">
                <span class="ly-font-color-6">个人号在线</span>
              </p>
              <p v-else>
                <img class="vm"
                     src="@/assets/images/icons/yuan_gray.png"
                     alt="">
                <span>个人号离线</span>
              </p>
            </div>
          </template>
        </el-table-column>
         <el-table-column label="设备状态" width="150">
            <template slot-scope="scope" >
                <!-- 微信是否在线？0不在线 1在线 -->
                <span v-if="scope.row.wxOnLine==0">微信离线</span>
                <span v-if="scope.row.wxOnLine==1">微信在线</span>
            </template>
          </el-table-column>
        <el-table-column label="执行时间">
          <!--sendType 1立刻发送 2预约发送 -->
          <template slot-scope="scope">
            <span v-if="scope.row.sendType==1">立刻发送</span>
            <span v-else>预约发送</span>
          </template>
        </el-table-column>
        <el-table-column label="结束时间"
                         width="200">
          <template slot-scope="scope">
            {{scope.row.sendTime | date}}
          </template>
        </el-table-column>
      </el-table>
      <div slot="footer"
           class="dialog-footer">
        <el-button @click="computedValue = false">关 闭</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    currId: [Number, String]
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
      radioOnLine: true,
      radioOffLine: false,
      tableData: []
    }
  },
  watch: {
    computedValue(val) {
      if (val) {
        this.viewCircle()
      }
    }
  },
  methods: {
    async viewCircle() {
      const data = await marketPlatformApi.viewCircle(this.currId)
      this.tableData = data
    }
  }
}
</script>
<style scoped>
</style>
