<template>
  <div>
    <el-dialog title="短信明细"
               :visible.sync="computedValue"
               width="1000px" append-to-body>
      <el-table :data="tableData.msgInfos"
                class="ly-width-880px ly-margin-center">
        <el-table-column label="短信内容"
                         width="400">
          <template slot-scope="scope">
            {{tableData.msgText}}
          </template>
        </el-table-column>
        <el-table-column prop="phones"
                         label="接收号码">
        </el-table-column>
        <el-table-column prop="status"
                         label="状态">
          <template slot-scope="scope">
            <!-- status 1、成功 2、失败 -->
            <span v-if="scope.row.status==1">发送成功</span>
            <span v-else>发送失败</span>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    currId: [String, Number]
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
      tableData: {}
    }
  },
  watch: {
    currId(val) {
      this.viewGroupSend()
    }
  },
  methods: {
    async viewGroupSend() {
      const data = await marketPlatformApi.viewGroupSend(this.currId)
      if (data.length > 0) {
        this.tableData = data[0]
      } else {
        this.tableData = {}
      }
    }
  }
}
</script>
