<template>
  <div class="chat-history">
    <el-date-picker
      v-model="dateRange.params"
      type="daterange"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      :default-time="['00:00:00', '23:59:59']"
      clearable
      class="datatime"
      prefix-icon="el-icon-date"
      @change="delaySearch"
    ></el-date-picker>
    <div class="search-bar rlt">
      <el-input
        v-model.trim="params.message"
        placeholder="请输入内容"
        :maxlength="100"
        @keyup.enter.native="search"
      ></el-input>
      <el-button type="info" icon="el-icon-search" plain class="abs" @click="search"></el-button>
    </div>
    <div class="history-list rlt">
      <ul class="chatcontent-record" ref="chatcontent">
        <!-- 点击加载更早消息 -->
        <li class="ly-text-center" v-if="!noMore && chatRecordList.length > 0">
          <span class="ly-cursor-point" @click="loadMoreRecord">点击加载更早消息</span>
        </li>
        <li class="ly-text-center" v-else-if="page.total === 0 && nonthing">没有对应消息记录</li>
        <template v-for="(item, index) in chatRecordList">
          <!-- 文字/表情/转账/微信端发的红包/共享位置 /小程序 -->
          <li
            :class="item.isSelfSend === 1 ? 'chatconent-record-right' : ''"
            :id="'records' + item.createTime + item.wxMsgId"
            :key="index"
            v-if="item && (item.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM || item.msgType === MESSAGE_SUB_TYPE.WX_LOCATION_ELEM || item.msgType === MESSAGE_SUB_TYPE.WX_TRANSFER_ELEM || (item.msgType === MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM && item.isSelfSend === 0) || item.msgType === MESSAGE_SUB_TYPE.WX_SHARE_LOCATION_ELEM || item.msgType === MESSAGE_SUB_TYPE.VMA_MINI_PROGRAM_ELEM )"
          >
            <div class="chatcontent-record-li">
              <div class="chatcontent-record-conent">
                <div class="chatcontent-record-userimg">
                  <img
                    v-if="item.isSelfSend === 0"
                    :src="(item.wxUserHead || activeChatFriendInfo.headIcon) | wechatAvtor"
                  />
                  <img v-else :src="activeChatAccountInfo.headIcon | csAvtor" />
                </div>
                <p class="chatcontent-record-time">
                  <span
                    class="ly-inline-block ly-width-max-100px ell ly-vertical-top ly-padding-right-10px"
                    v-if="activeChatFriendInfo.type === SESSION_TYPE.GROUP && item.isSelfSend === 0"
                  >{{item.wxUserName || ''}}</span>
                  <span>{{item.createTime | date('MM-dd hh:mm:ss')}}</span>
                </p>

                
<!-- v-if="item.msgType !== MESSAGE_SUB_TYPE.VMA_IMGTXTLINK_ELEM" -->
                <div
                  class="chatcontent-record-detail"
                   >
                  <!-- 撤回 -->
                  <span class="chatcontent-label" v-if="item.isCancel === 1">
                    <i class="ly-icon-cancel"></i>
                  </span>
                  <!-- 在手机上删除 -->
                  <span class="chatcontent-label" v-else-if="item.isCancel === 2">
                    <i class="el-icon-close"></i>
                  </span>
                  <span class="chatcontent-record-triggle"></span>
                  <!-- 文字 -->
                  <div
                    class="ly-record-textsize"
                    v-html="parseHTML($xss(item.content))"
                    v-if="item.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM"
                  ></div>

                  <!-- 转账/共享位置/收到客户发送的红包  /小程序-->
                  <div v-else>[不支持此消息，请在手机上查看]</div>
                </div>
               
                <div class="ly-margin-56px ly-margin-top-3px ly-font-color-8 ly-font-12">
                  <div v-if="item.staffId">
                    <span class="ly -padding-right-3px">
                      <i class="el-icon-mobile-phone" v-if="item.sendType === 2"></i>
                      <i class="el-icon-service" v-else></i>
                    </span>
                    客服：{{item.staffName || item.talkerWxId || '--'}}({{item.staffRealName || '--'}})
                  </div>
                  <span v-else>未分配客服</span>
                </div>
              </div>
            </div>
          </li>
          <!-- 文字/表情/图片/视频/音频/文件/撤回消息 / 图文链接 -->
          <li
            :class="item.isSelfSend === 1 ? 'chatconent-record-right' : ''"
            :key="index"
            :id="'records' + item.createTime + item.wxMsgId"
            v-else-if="item && (item.msgType === MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM || item.msgType === MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM || item.msgType === MESSAGE_SUB_TYPE.VMA_SOUND_ELEM || (item.msgType === MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM && item.isSelfSend === 1) || item.msgType === MESSAGE_SUB_TYPE.VMA_FILE_ELEM || item.msgType === MESSAGE_SUB_TYPE.WX_BUSINESS_CARD_ELEM || item.msgType === MESSAGE_SUB_TYPE.VMA_IMGTXTLINK_ELEM)"
          >
            <div class="chatcontent-record-li">
              <div class="chatcontent-record-conent">
                <div class="chatcontent-record-userimg">
                  <img
                    v-if="item.isSelfSend === 0"
                    :src="(item.wxUserHead || activeChatFriendInfo.headIcon) | wechatAvtor"
                  />
                  <img v-else :src="activeChatAccountInfo.headIcon | csAvtor" />
                </div>
                <p class="chatcontent-record-time">
                  <span
                    class="ly-inline-block ly-width-max-100px ell ly-vertical-top ly-padding-right-10px"
                    v-if="activeChatFriendInfo.type === SESSION_TYPE.GROUP && item.isSelfSend === 0"
                  >{{item.wxUserName || ''}}</span>
                  <span>{{item.createTime | date('MM-dd hh:mm:ss')}}</span>
                </p>
                <!-- 图文链接 -->
                 <div
                  class="chatcontent-record-detail"
                  style="background: #fff;border: none"
                  v-if="item.msgType === MESSAGE_SUB_TYPE.VMA_IMGTXTLINK_ELEM">
                  <!-- 撤回 -->
                  <span class="chatcontent-label" v-if="item.isCancel === 1">
                    <i class="ly-icon-cancel"></i>
                  </span>
                  <!-- 在手机上删除 -->
                  <span class="chatcontent-label" v-else-if="item.isCancel === 2">
                    <i class="el-icon-close"></i>
                  </span>
                  <!-- <span class="chatcontent-record-triggle"></span> -->
                  <!-- 图文链接 -->
                  <div
                    class="linkBox"
                    @click="goLink(item)"
                  >
                    <p class="linkBox-title">{{JSON.parse(item.content).imgtxtTitle}}</p>
                    <div class="linkBox-bottom">
                      <span class="time">{{JSON.parse(item.content).imgtxtDescribe}}</span>
                      <img class="image" :src="item.resourceUrl" />
                    </div>
                  </div>
                </div>
                <!-- 图片消息 -->
                <div
                  class="chatcontent-record-detail chatcontent-record-img"
                  v-if="item.msgType === MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM"
                >
                  <!-- 撤回 -->
                  <span class="chatcontent-label" v-if="item.isCancel === 1">
                    <i class="ly-icon-cancel"></i>
                  </span>
                  <!-- 在手机上删除 -->
                  <span class="chatcontent-label" v-else-if="item.isCancel === 2">
                    <i class="el-icon-close"></i>
                  </span>
                  <div>
                    <img :src="item.resourceUrl" v-image-view />
                  </div>
                </div>
                <!-- 视频消息 -->
                <div
                  class="chatcontent-record-detail chatcontent-record-video"
                  v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM"
                  @click="showDialogVisibleVideo(item.resourceUrl, item.videoImgUrl)"
                >
                  <!-- 撤回 -->
                  <span class="chatcontent-label" v-if="item.isCancel === 1">
                    <i class="ly-icon-cancel"></i>
                  </span>
                  <!-- 在手机上删除 -->
                  <span class="chatcontent-label" v-else-if="item.isCancel === 2">
                    <i class="el-icon-close"></i>
                  </span>
                  <div class="video-preview">
                    <video :src="item.resourceUrl" :poster="item.videoImgUrl">您的浏览器不支持 video 标签</video>
                    <div class="play-circle">
                      <div class="play"></div>
                    </div>
                  </div>
                </div>
                <!-- 音频消息 -->
                <div
                  class="chatcontent-record-detail chatcontent-record-audio"
                  v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_SOUND_ELEM"
                >
                  <!-- 撤回 -->
                  <span class="chatcontent-label" v-if="item.isCancel === 1">
                    <i class="ly-icon-cancel"></i>
                  </span>
                  <!-- 在手机上删除 -->
                  <span class="chatcontent-label" v-else-if="item.isCancel === 2">
                    <i class="el-icon-close"></i>
                  </span>
                  <div>
                    <span>{{(item.content ? item.content.soundLength : '') | soundLength(0)}}</span>
                    <div class="audio inline-b ml-10" @click="playAudio(item.createTime)">
                      <img
                        class="playing"
                        :src="audioGif"
                        v-if="playingAudioKey === item.createTime"
                      />
                      <div class="play" v-else></div>
                      <audio
                        :src="item.resourceUrl"
                        @ended="onAudioEnded(item.createTime)"
                        :ref="'myAudio' + item.createTime"
                      ></audio>
                    </div>
                  </div>
                </div>
                <!-- 微客服发的红包消息 -->
                <div
                  class="chatcontent-record-detail chatcontent-record-img-red-packets"
                  v-else-if="item.msgType === MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM && !item.customHtml"
                >
                  <!-- 撤回 -->
                  <span class="chatcontent-label" v-if="item.isCancel === 1">
                    <i class="ly-icon-cancel"></i>
                    <i class="ly-icon-cancel"></i>
                  </span>
                  <!-- 在手机上删除 -->
                  <span class="chatcontent-label" v-else-if="item.isCancel === 2">
                    <i class="el-icon-close"></i>
                  </span>
                  <img :src="item.resourceUrl" />
                </div>
                <!-- 文件消息 -->
                <div
                  class="chatcontent-record-detail chatcontent-record-file"
                  v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_FILE_ELEM"
                >
                  <!-- 撤回 -->
                  <span class="chatcontent-label" v-if="item.isCancel === 1">
                    <i class="ly-icon-cancel"></i>
                  </span>
                  <!-- 在手机上删除 -->
                  <span class="chatcontent-label" v-else-if="item.isCancel === 2">
                    <i class="el-icon-close"></i>
                  </span>
                  <div>
                    <div class="chat-file">
                      <div class="file-header">
                        <i class="icon icon-chat-record-file file-logo"></i>
                        <div class="file-name">{{item.content.fileName}}</div>
                        <div class="file-size mt-10" v-if="item.content.des">{{item.content.des}}</div>
                        <div class="file-size mt-10" v-else>{{item.content.fileSize | fmtFileSize}}</div>
                      </div>
                      <div class="file-footer" @click="downFile(item)">下载</div>
                    </div>
                  </div>
                </div>
                <!-- 微信分享名片消息 -->
                <div
                  class="chatcontent-record-detail chatcontent-record-share-user-card"
                  v-else-if="item.msgType === MESSAGE_SUB_TYPE.WX_BUSINESS_CARD_ELEM"
                >
                  <!-- 撤回 -->
                  <span class="chatcontent-label" v-if="item.isCancel === 1">
                    <i class="ly-icon-cancel"></i>
                  </span>
                  <!-- 在手机上删除 -->
                  <span class="chatcontent-label" v-else-if="item.isCancel === 2">
                    <i class="el-icon-close"></i>
                  </span>
                  <div>
                    <div class="share-user-card">
                      <div class="card-header">
                        <img :src="item.content.headUrl | wechatAvtor" class="card-avator" />
                        <div class="card-name">{{item.content.nickName}}</div>
                      </div>
                      <div class="card-footer">个人名片</div>
                    </div>
                  </div>
                </div>
                <div class="ly-margin-56px ly-margin-top-3px ly-font-color-8 ly-font-12">
                  <div v-if="item.staffId">
                    <span class="ly-padding-right-3px">
                      <i class="el-icon-mobile-phone" v-if="item.sendType === 2"></i>
                      <i class="el-icon-service" v-else></i>
                    </span>
                    客服：{{item.staffName || item.talkerWxId || '--'}}({{item.staffRealName || '--'}})
                  </div>
                  <span v-else>未分配客服</span>
                </div>
              </div>
            </div>
          </li>
          <!-- 微信系统通知消息，如 结束共享位置。服务器消息，转接好友(转接消息只会从历史记录获取) -->
          <li
            class="chatcontent-record-system"
            :key="index"
            :id="'records' + item.createTime + item.wxMsgId"
            v-else-if="item && (item.msgType === MESSAGE_SUB_TYPE.VMA_SYSTEM_ELEM || item.noticeType === NOTICE_TYPE.TRANSFER_FRIEND)"
          >
            <div class="chatcontent-record-li">
              <p class="chatcontent-record-time">{{item.createTime | date('MM-dd hh:mm:ss')}}</p>
              <div class="chatcontent-record-conent">{{item.content}}</div>
            </div>
          </li>
        </template>
</ul>
</div>
<videoDialog v-if="videoDialogData.show" :data="videoDialogData" @on-close="closeDialogVideo"></videoDialog>
</div>
</template>

<script>
    import {
        mapGetters
    } from "vuex";
    import {
        chatLogApi
    } from "@/api/chat";
    import {
        watchDateRangeToTimestamp
    } from "@/utils";
    import {
        NOTICE_TYPE,
        MESSAGE_SUB_TYPE,
        SESSION_TYPE
    } from "@/constants/chat";
    import videoDialog from "@/components/packages/chat/home/videoDialog";
    import {
        parseHTML
    } from "@/components/libs/wechatExpression";
    import audioGif from "@/assets/images/chat/audioPlaying.gif";
    import Logger from "@/utils/logger";
    import requestIdMixins from "@/pages/chat/home/src/requestIdMixins";

    export default {
        mixins: [requestIdMixins],
        components: {
            videoDialog
        },
        data() {
            return {
                audioGif,
                SESSION_TYPE,
                NOTICE_TYPE,
                MESSAGE_SUB_TYPE,
                dateRange: {
                    params: ""
                },
                params: {
                    current: 1,
                    size: 30,
                    // 个人号id
                    id: null,
                    wxId: null,
                    message: null,
                    createTimeBegin: null,
                    createTimeEnd: null
                        // accountId: null,
                        // talkWxId: null,
                        // type: null,
                        // startTime: null,
                        // endTime: null,
                        // content: null
                },
                page: {
                    total: 0
                },
                chatRecordList: [],
                noMore: false,
                nonthing: false,
                videoDialogData: {
                    show: false,
                    url: null,
                    poster: null
                },
                playingAudioKey: null
            };
        },
        computed: {
            ...mapGetters(["activeChatAccountInfo", "activeChatFriendInfo", "chatIM"])
        },
        watch: {
            activeChatFriendInfo() {
                this.afterEntity();
            }
        },
        created() {
            this.$watch(
                "dateRange.params",
                watchDateRangeToTimestamp(
                    () => this.params,
                    "createTimeBegin",
                    "createTimeEnd"
                )
            );
            this.afterEntity();
        },
        methods: {
            goLink(data) {
                let goLink = JSON.parse(data.content).imgtxtLinking;
                window.location.href = goLink;
            },
            parseHTML,
            afterEntity() {
                this.initAll();
                this.getLastHistoryChatRecord();
            },
            delaySearch() {
                setTimeout(() => {
                    this.search();
                });
            },
            search() {
                this.initTable();
                this.getLastHistoryChatRecord();
            },
            /**
             * 获取最近的聊天记录
             */
            getLastHistoryChatRecord() {
                let params = Object.assign({}, this.params);
                this.getHistoryMsgs(params);
            },
            // 获取更早一点的
            loadMoreRecord(entity) {
                let params = Object.assign({}, this.params);
                params.current++;
                this.getHistoryMsgs(params);
            },
            /**
             * 获取历史记录
             */
            async getHistoryMsgs(params) {
                let requestID = this.getChatRequestID();
                let page;
                try {
                    page = await this.getList(params);
                } catch (error) {
                    this.$notify({
                        title: "提示",
                        message: "请求聊天记录失败",
                        type: "warning"
                    });
                }
                if (requestID !== this.getChatRequestID()) {
                    throw new Error("当前好友不符");
                }
                if (!page) {
                    throw new Error("请求聊天记录失败");
                }
                // console.log(page);
                this.afterGetHistoryMsgs(page);
            },
            /**
             * 聊天记录使用后台的接口，为了性能，不用额外获取头像
             */
            getList(params) {
                if (this.activeChatFriendInfo.type === SESSION_TYPE.C2C) {
                    let ChatFriendLog = chatLogApi.getChatFriendLog(params);
                    // return chatLogApi.getChatFriendLog(params)
                    return ChatFriendLog;
                    // return this.chatIM.getLastC2CHistoryMsgs(params)
                } else {
                    return chatLogApi.getChatGroupsLog(params);
                    // return this.chatIM.getChatGroupsLog(params)
                }
            },
            // 数据处理
            afterGetHistoryMsgs(resp) {
                if (resp.total === 0) {
                    this.nonthing = true;
                }
                if (resp.records.length === 0) {
                    this.noMore = true;
                    return;
                } else if (resp.records.length < this.params.size) {
                    this.noMore = true;
                }
                this.page = {
                    total: resp.total
                };
                // Logger.info("记录", resp.records);
                // 记录好友头像，群聊时
                let records = resp.records.map(val => {
                    // 文件、名片、音频
                    if (
                        val &&
                        (val.msgType === "VmaFileElem" ||
                            val.msgType === "WxBusinessCardElem" ||
                            val.msgType === "VmaSoundElem")
                    ) {
                        val.content = JSON.parse(val.content);
                    }
                    return val;
                });
                let lastOneId =
                    records[records.length - 1].createTime +
                    "" +
                    records[records.length - 1].wxMsgId;
                this.params.current = resp.current;
                if (resp.current === 1) {
                    this.chatRecordList = records;
                } else {
                    this.chatRecordList.splice(0, 0, ...records);
                }
                let that = this;
                this.$nextTick(() => {
                    let el = that.$el.querySelector("#records" + lastOneId);
                    el && el.scrollIntoView(false);
                });
            },
            initTable() {
                this.chatRecordList = [];
                if (this.noMore) {
                    this.noMore = false;
                }
                if (this.nonthing) {
                    this.nonthing = false;
                }
                this.page = {
                    total: 0
                };
                this.$set(this.params, "current", 1);
            },
            initAll() {
                this.initTable();
                this.params = {
                    current: 1,
                    size: 30,
                    id: this.activeChatFriendInfo.accountId,
                    wxId: this.activeChatFriendInfo.wxId
                        // accountId: this.activeChatAccountInfo.id,
                        // talkWxId: this.activeChatFriendInfo.talkerRoomWxId || this.activeChatFriendInfo.talkerWxId,
                        // type: this.activeChatFriendInfo.talkerRoomWxId ? SESSION_TYPE.GROUP : SESSION_TYPE.C2C,
                        // startTime: null,
                        // endTime: null,
                        // content: null
                };
                this.playingAudioKey && this.stopPlayingAudio();
            },
            /**
             * 下载文件
             * @param  {[type]} chatRecordItem 聊天记录数据
             */
            downFile(chatRecordItem) {
                window.open(chatRecordItem.resourceUrl);
            },
            /**
             * 点击视频消息
             */
            showDialogVisibleVideo(url, poster) {
                this.videoDialogData = {
                    show: true,
                    url: url,
                    poster: poster
                };
            },
            closeDialogVideo() {
                this.videoDialogData = {
                    show: false,
                    url: null,
                    poster: null
                };
            },
            /**
             * 播放音频
             */
            playAudio(createTime) {
                const audio = this.$refs["myAudio" + createTime][0];
                if (!(audio.ended || audio.paused)) {
                    Logger.info("stopPlayingAudio");
                    return this.stopPlayingAudio(audio);
                } else if (this.playingAudioKey) {
                    // 先暂停正在播放的
                    this.stopPlayingAudio();
                }
                this.playingAudioKey = createTime;
                audio.play();
            },
            stopPlayingAudio(audio) {
                if (!audio) {
                    audio = this.$refs["myAudio" + this.playingAudioKey][0];
                }
                audio.currentTime = 0;
                audio.pause();
                this.playingAudioKey = null;
            },
            /**
             * 音频播放结束事件
             */
            onAudioEnded(createTime) {
                if (createTime !== this.playingAudioKey) return;
                this.playingAudioKey = null;
            },
            // 刷新页面
            refreshChatRecord() {
                this.afterEntity();
            }
        }
    };
</script>
<style scoped>
    .linkBox {
        /* min-width: 150px; */
        background: rgba(243, 240, 240, 0.7);
        border-radius: 10px;
        padding: 10px 10px;
        margin-right: -13px;
        cursor: pointer;
        overflow: hidden;
    }
    
    .linkBox-title {
        font-size: 14px;
        line-height: 20px;
        color: #000;
        width: 100%;
        height: 40px;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-weight: 300;
    }
    
    .linkBox-bottom {
        width: 100%;
        height: 65px;
    }
    
    .linkBox-bottom span {
        float: left;
        width: 60%;
        font-size: 10px;
        color: rgb(184, 184, 184);
        line-height: 20px;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
    .linkBox-bottom img {
        float: right;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 2px;
    }
</style>