<template>
  <div>
    <!--数量统计-->
    <div class=" ly-padding-top-28px ly-padding-bottom-34px ly-bg-white ly-box ly-text-center">
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">20</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">总活动数</p>
      </div>
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">20</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">总群数</p>
      </div>
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">20</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">总群员数</p>
      </div>
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">20</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">总进群人数</p>
      </div>
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">20</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">群码展示次数</p>
      </div>
    </div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-margin-top-20px ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
<div class="ly-clearfix">
    <el-input placeholder="请输入活动主题/备注" class="ly-margin-right-bottom-sm" clearable v-model.trim="params.theme" :maxlength="100" @keyup.native.enter="getTableList(1)">
    </el-input>
    <el-date-picker v-model="date" class="ly-margin-right-bottom-sm" type="daterange" @change="dateChange" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']">
    </el-date-picker>
    <!-- button -->
    <el-button class="ly-float-right" size="medium" @click="resetCallback">重置
    </el-button>
    <el-button class="ly-float-right ly-margin-right-sm" type="primary" size="medium" @click="getTableList(1)">查询
    </el-button>
</div>
</el-collapse-item>
</el-collapse>
<!-- 数据列表 -->
<div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm">
    <!-- 表头 -->
    <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small" @click="addGroupActivity(1)">新建</el-button>
        </span>
    </div>
    <!-- 表格 -->
    <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%">
        <el-table-column label="活动主题" min-width="120">
            <template slot-scope="scope">
            {{ scope.row.groupName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="备注" min-width="120">
            <template slot-scope="scope">
            <div class="ly-width-100px ly-height40px ly-ellipsis2" title="scope">{{ scope.row.groupName || '--' }}</div>
          </template>
        </el-table-column>
        <el-table-column label="活动群码" min-width="120" align="center">
            <template slot-scope="scope">
            <img class="ly-wh-50px" src="http://h.hiphotos.baidu.com/image/pic/item/962bd40735fae6cd9456784901b30f2442a70f3c.jpg" @click="showCode" />
            <p class="ly-font-color-13"><i class="el-icon-warning"></i>请添加群</p>
            <p class="ly-font-color-7"><i class="el-icon-warning"></i>群已满</p>
          </template>
        </el-table-column>
        <el-table-column label="群码启用">
            <template slot-scope="scope">
            <el-switch v-model="switchBoolean"
                       active-color="#13ce66"
                       :active-value='1'
                       :inactive-value='0'
                       @change="changeStatus($event, scope.row)">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="人数设置" align="center">
            <template slot-scope="scope">
            <el-button type="text" @click="setGroupNum(scope.$index, scope.row)">{{ scope.row.groupName || '设置' }}</el-button>
          </template>
        </el-table-column>
        <el-table-column label="总群数" align="center">
            <template slot-scope="scope">
            {{ scope.row.groupName || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="群成员数" align="center">
            <template slot-scope="scope">
            {{ scope.row.groupName || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="总进群人数" align="center">
            <template slot-scope="scope">
            {{ scope.row.groupName || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="群码展示次数" align="center">
            <template slot-scope="scope">
            <p class="ly-font-color-5"><el-button type="text" @click="showStatistices(scope.row, scope.$index)">{{ scope.row.groupName || 0 }}</el-button></p>
          </template>
        </el-table-column>
        <el-table-column label="创建人">
            <template slot-scope="scope">
            {{ scope.row.groupName }}chenwei(陈薇)
          </template>
        </el-table-column>
        <el-table-column label="创建时间">
            <template slot-scope="scope">
            {{ scope.row.creatTime | date }}
          </template>
        </el-table-column>
        <el-table-column label="操作" min-width="120">
            <template slot-scope="scope">
            <el-button type="text"
                       class="ly-margin-5px"
                       size="small" @click="addGroupActivity(2, scope.row)">编辑</el-button>
            <el-button class="ly-margin-5px"
                       type="text"
                       size="small" @click="showGroupList(scope.row, scope.$index)">群列表</el-button>
            <el-button class="ly-margin-5px"
                       type="text"
                       size="small" @click="showPageSet(scope.row, scope.$index)">页面设置</el-button>
          </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="getTableList" />
    </div>
</div>
<!-- 新建--弹窗 -->
<el-dialog :title="gActivityAddDialogInfo.type === 1 ? '新建活动' : '编辑活动'" :visible.sync="gActivityAddDialogInfo.show" width="489px" v-if="gActivityAddDialogInfo.show">
    <gActivityAdd :dialogProp="gActivityAddDialogInfo" @closeDialog="closeGActivityDialog" @getTableList="getTableList"></gActivityAdd>
</el-dialog>
<!--二维码推广--弹窗-->
<el-dialog title="二维码推广" :visible.sync="codeDialogInfo.show" :width="codeDialogInfo.width" v-if="codeDialogInfo.show">
    <!--正常展示二维码信息-->
    <DownloadCode v-if="codeDialogInfo.type === 1" :dialog="codeDialogInfo"></DownloadCode>
    <!--新增二维码信息-->
    <gActivityAddCode v-if="codeDialogInfo.type === 2 || codeDialogInfo.type === 3" :dialogProp="codeDialogInfo" @closeDialog="closeCodeDialog" @addGroupCode="addGroupCode"></gActivityAddCode>
</el-dialog>
<!-- 设置人数--弹窗 -->
<el-dialog title="人数设置" :visible.sync="groupNumDialogInfo.show" width="489px" v-if="groupNumDialogInfo.show">
    <gActivitySetGroupNum :dialogProp="groupNumDialogInfo" @closeDialog="closeSetGroupNumDialog" @refreshNumber="refreshNumber"></gActivitySetGroupNum>
</el-dialog>
<!-- 群码展示次数--弹窗 -->
<vma-dialog v-model="activityStatistices.show" @close="closeDialogStatistices" title="群活动统计" class="ly-statistices-body">
    <Statistics :dialog="activityStatistices" @closeDialog="closeDialogGroupList" v-if="activityStatistices.show"></Statistics>
</vma-dialog>
<!-- 群列表--弹窗 -->
<vma-dialog v-model="dialogGroupList.show" @close="closeDialogGroupList" title="群列表">
    <gActivityGroupList :dialog="dialogGroupList" @closeDialog="closeDialogGroupList" v-if="dialogGroupList.show"></gActivityGroupList>
</vma-dialog>
<!-- 页面设置--弹窗 -->
<vma-dialog v-model="dialogPageSet.show" title="页面配置">
    <!--<agentAdd :dialog="dialogAddInfo"-->
    <!--@closeDialog="closeDialogAdd"-->
    <!--v-if="dialogAddBoolean"></agentAdd>-->
</vma-dialog>
</div>
</template>

<script>
    // import { SELECT_SEX, SELECT_ALLOT, SELECT_FRIEND_SOURCE, SELECT_FRIEND_SOURCE_KEY } from '@/constants/selects'
    // import { personalNumManageApi } from '@/api/system'
    import {
        gActivityAdd,
        gActivityAddCode,
        gActivitySetGroupNum,
        gActivityGroupList,
        Statistics
    } from './components/groupActivity'
    import DownloadCode from '@/components/common/downloadCode.vue'
    import {
        tableMixin
    } from '@/mixins'
    export default {
        mixins: [tableMixin],
        components: {
            gActivityAdd,
            gActivityAddCode,
            DownloadCode,
            gActivitySetGroupNum,
            gActivityGroupList,
            Statistics
        },
        data() {
            return {
                activeNames: ['1'],
                date: '',
                params: {
                    theme: ''
                },
                tableData: {
                    total: 1,
                    size: 10,
                    current: 1,
                    records: [{}, {}]
                },
                switchBoolean: false,
                codeDialogWidth: '378px',
                gActivityAddDialogInfo: {},
                codeDialogInfo: {},
                groupNumDialogInfo: {},
                dialogGroupList: {
                    show: false
                },
                dialogPageSet: {
                    show: false
                },
                activityStatistices: {
                    show: false
                }
            }
        },
        created() {},
        methods: {
            /**
             * 获取微信好友列表
             */
            async requestTableList() {
                /*
                await personalNumManageApi.friendsListGetList(this.params).then((data) => {
                  this.tableData = data
                })
                */
            },
            /**
             * 群码启用--toggle
             */
            changeStatus(status, data) {
                if (data.status) {} else {
                    this.switchBoolean = false
                    this.$notify({
                        title: '提示',
                        message: '无可用群码,请在群列表添加活动群',
                        type: 'warning'
                    })
                }
            },
            /**
             * 群码--新增/编辑--弹窗--show
             */
            addGroupActivity(type, data) {
                this.gActivityAddDialogInfo = {
                    type: type,
                    show: true,
                    data: data
                }
            },
            /**
             * 群码--新增/编辑--弹窗--hide
             */
            closeGActivityDialog() {
                this.gActivityAddDialogInfo = {}
            },
            /**
             * 群码--二维码--弹窗--show
             */
            showCode() {
                let type = 1
                let width = type === 1 ? '620px' : '378px'
                this.codeDialogInfo = {
                    show: true,
                    width: width,
                    url: 'www.baidu.com',
                    type: type // 1--正常，2、3--已满或未设置
                }
            },
            /**
             * 群码--二维码--弹窗--hide
             */
            closeCodeDialog() {
                this.codeDialogInfo = {}
            },
            /**
             * 群码--二维码--弹窗--添加
             */
            addGroupCode() {},
            /**
             * 人数设置--弹窗--添加
             */
            setGroupNum(index, data) {
                this.groupNumDialogInfo = {
                    show: true,
                    data: data,
                    index: index
                }
            },
            /**
             * 人数设置--弹窗--关闭
             */
            closeSetGroupNumDialog() {
                this.groupNumDialogInfo = {}
            },
            /**
             * 人数设置--刷新人数
             */
            refreshNumber() {},
            /**
             * 群码展示次数统计--show
             */
            showStatistices(data) {
                this.activityStatistices = {
                    show: true,
                    title: '群活动名称',
                    data: data
                }
            },
            /**
             * 群码展示次数统计--hide
             */
            closeDialogStatistices() {
                this.activityStatistices = {
                    show: false
                }
            },
            /**
             * 群列表--展示
             */
            showGroupList(data) {
                this.dialogGroupList = {
                    show: true,
                    data: data
                }
            },
            closeDialogGroupList() {
                this.dialogGroupList = {
                    show: true
                }
            },
            /**
             * 页面设置--展示
             */
            showPageSet(data) {
                this.dialogPageSet = {
                    show: true,
                    data: data
                }
            }
        }
    }
</script>