<template>
  <div>
    <!-- 朋友圈自动点赞 -->
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model="params.sendingStaff"
                    placeholder="微信号/微信昵称/手机号"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-select clearable
                     v-model="params.nowTaskState"
                     placeholder="当前任务状态"
                     class="ly-margin-right-bottom-sm">
            <el-option v-for="item in nowTaskState"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-select clearable
                     v-model="params.taskType"
                     placeholder="任务类型"
                     class="ly-margin-right-bottom-sm">
            <el-option v-for="item in taskType"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-input v-model="params.sendingStaff"
                    placeholder="员工账号/姓名"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="queryCallback">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small">转换链接</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="个人号"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="当前任务状态"
                         width="200">
        </el-table-column>
        <el-table-column prop="name"
                         label="任务类型">
        </el-table-column>
        <el-table-column prop="name"
                         label="执行时间段">
        </el-table-column>
        <el-table-column prop="name"
                         label="操作员工">
        </el-table-column>
        <el-table-column prop="name"
                         label="结果查询"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">查看</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">设置</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import Logger from '@/utils/logger'
export default {
  components: { personalInfo },
  data() {
    return {
      activeNames: ['1'],
      taskType: [
        {
          label: '循环每日执行',
          value: '1'
        },
        {
          label: '单次执行',
          value: '2'
        }
      ],
      nowTaskState: [
        {
          label: '待执行',
          value: '1'
        },
        {
          label: '执行中',
          value: '2'
        },
        {
          label: '执行完成',
          value: '3'
        }
      ],
      params: {
        personalId: '',
        taskStatus: true,
        sendingStaff: '',
        nowTaskState: '',
        taskType: ''
      },
      tableData: [
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市'
        }
      ],
      multipleSelection: [],
      dialogFormVisible: false
    }
  },
  created() {
  },
  methods: {
    queryCallback() {
      Logger.log(this.params)
    }
  }
}
</script>
