<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.goodsName"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    clearable
                    placeholder="商品名称"
                    class="ly-margin-right-sm"></el-input>
          <!-- 选择店铺 -->
          <shopList v-model="params.shopId"
                    :params='shopParams'
                    placeholder="店铺"></shopList>
          <!--status 状态1、成功，0、失败-->
          <el-select v-model="params.status"
                     placeholder="转换状态"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="成功"
                       :value="1">
            </el-option>
            <el-option label="失败"
                       :value="0">
            </el-option>
          </el-select>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="showNewMicroJumpDialog=true">转换链接</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="shopName"
                         label="店铺名称"
                         width="300"
                         fixed>
        </el-table-column>
        <el-table-column label="商品图片">
          <template slot-scope="scope">
            <img v-if="scope.row.goodsUrl"
                 :src="scope.row.goodsUrl"
                 class="ly-wh-50px"
                 alt=""
                 v-image-view>
          </template>
        </el-table-column>
        <el-table-column prop="goodsName"
                         label="商品名称"
                         width="300">
        </el-table-column>
        <el-table-column prop="goodsPrice"
                         label="单价"
                         width="150">
        </el-table-column>
        <el-table-column prop="createTime"
                         label="创建时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="originalLink"
                         label="原链接"
                         width="900">
        </el-table-column>
        <el-table-column prop="transLink"
                         label="转换后链接"
                         width="300">
        </el-table-column>
        <el-table-column label="二维码">
          <template slot-scope="scope">
            <el-popover placement="bottom"
                        width="200"
                        trigger="click">
              <img slot="reference"
                   src="@/assets/images/icons/qrcode.png"
                   class="ly-wh-30px">
              <MiQrcode :url='scope.row.transLink'
                        ref="Qrcode"
                        :size='200'
                        :key="scope.row.id"
                        :id='scope.row.id'></MiQrcode>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column label="状态"
                         width="100">
          <!--status 状态1、成功，0、失败-->
          <template slot-scope="scope">
            <span v-if="scope.row.status==1"
                  class="ly-font-color-5">转换成功</span>
            <span v-else
                  class="ly-font-color-7">转换失败</span>
          </template>
        </el-table-column>
        <el-table-column label="操作"
                         width="80"
                         fixed="right">
          <template slot-scope="scope">
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small"
                       @click="handleClose(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <!-- 微跳转 => 转换链接(相当于新增) -->
    <NewMicroJump v-if='showNewMicroJumpDialog'
                  v-model="showNewMicroJumpDialog"
                  @on-success='transferSuccss'></NewMicroJump>
    <!--  微跳转 => 转换后的二维码 -->
    <MicroJumpCode v-if="showMicroJumpCodeDialog"
                   v-model="showMicroJumpCodeDialog"
                   :linkUrl='linkUrl'></MicroJumpCode>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import { NewMicroJump, MicroJumpCode, MiQrcode } from './components'
import { shopList } from '@/components/packages/system/lazySelect'

export default {
  mixins: [tableMixin],
  components: { NewMicroJump, MicroJumpCode, shopList, MiQrcode },
  data() {
    return {
      activeNames: ['1'],
      showNewMicroJumpDialog: false,
      showMicroJumpCodeDialog: false,
      linkUrl: '', // 转换后的链接二维码
      shopParams: {
        type: 1
      }
    }
  },
  methods: {
    async requestTableList() {
      const data = await marketPlatformApi.getMicroJumpList(this.params)
      this.tableData = data
    },
    // 删除
    async deleteCallback(id) {
      await marketPlatformApi.delMicroJump(id)
      this.getTableList(1, this.params.size)
    },
    // 转换链接成功
    transferSuccss(url) {
      this.linkUrl = url
      this.showNewMicroJumpDialog = false
      this.showMicroJumpCodeDialog = true
      this.getTableList(1, this.params.size)
    }
  }
}
</script>
