<template>
  <div>
    <!-- 定时发送朋友圈 -->
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down" :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.msgText" @keyup.native.enter="getTableList(1,params.size)" :maxlength='100' placeholder="朋友圈内容" class="ly-margin-right-bottom-sm" clearable>
          </el-input>
          <!-- 1待执行 2 执行中 3执行结束 -->
          <el-select v-model="params.status" placeholder="执行状态" clearable class="ly-margin-right-sm">
            <el-option label="待执行" :value="1">
            </el-option>
            <el-option label="执行中" :value="2">
            </el-option>
            <el-option label="执行结束" :value="3">
            </el-option>
            <el-option label="已删除" :value="4">
            </el-option>
          </el-select>
          <el-input v-model.trim="params.accountOrName" @keyup.native.enter="getTableList(1,params.size)" :maxlength='100' placeholder="员工账号/姓名" class="ly-margin-right-bottom-sm" clearable>
          </el-input>
          <el-date-picker v-model="date" class="ly-margin-right-bottom-sm" type="daterange" @change="dateChange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-button class="ly-float-right" type="primary" size="medium" @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary" size="small" @click="NewCircleClick">发朋友圈</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%">
        <el-table-column prop="msgText" label="朋友圈内容" width="300">
          <template slot-scope="scope">
            <div v-html="parseHTML($xss(scope.row.msgText))" class="ly-emoji-icons"></div>
          </template>
        </el-table-column>
        <el-table-column label="图片/视频" width="300">
          <template slot-scope="scope">
            <videoImg :info="scope.row"></videoImg>
          </template>
        </el-table-column>
        <el-table-column prop="showLimit" label="可见范围">
          <!-- 1全部2私密3指定标签4屏蔽标签 -->
          <template slot-scope="scope">
            <span v-if="scope.row.showLimit==1">全部</span>
            <span v-if="scope.row.showLimit==2">私密</span>
            <span v-if="scope.row.showLimit==3">指定标签</span>
            <span v-if="scope.row.showLimit==4">屏蔽标签</span>
          </template>
        </el-table-column>
        </el-table-column>
        <el-table-column prop="status" label="状态">
          <!-- 1待执行 2 执行中 3执行结束 -->
          <template slot-scope="scope">
            <span v-if="scope.row.status==1">待执行</span>
            <span v-if="scope.row.status==2" class="ly-font-color-6">执行中</span>
            <span v-if="scope.row.status==3" class="ly-font-color-5">执行结束</span>
            <span v-if="scope.row.status==4" class="ly-font-color-7">已删除</span>
          </template>
        </el-table-column>
        <el-table-column prop="realName" label="操作员工">
        </el-table-column>
        <el-table-column label="定时时间" width="200">
          <template slot-scope="scope">
            <span>{{ scope.row.sendTime | date }}</span>
          </template>
        </el-table-column>
        <el-table-column label="创建时间" width="200">
          <template slot-scope="scope">
            <span>{{ scope.row.createTime | date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="结果查询" width='100'>
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="viewCircleClick(scope.row.id)">查看</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="操作" width="200">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="copyCircleClick(scope.row.id)">跟圈</el-button>
            <el-button v-if="scope.row.status==1" class="ly-font-color-7" type="text" size="small" @click="handleClose(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed" class="ly-text-right ly-box-1" :pageNum="params.current" :total="tableData.total" :pageSize="params.size" @change='getTableList' />
      </div>
    </div>
    <!-- 朋友圈营销=>定时发送朋友圈=>发朋友圈（点击发朋友圈） -->
    <NewCircle v-if="showNewCircleDialog" v-model="showNewCircleDialog" :currId='currId' :isCopy='isCopy' ref="newCircle" @on-success='getTableList(1,params.size)'></NewCircle>
    <!-- 朋友圈营销=>定时发送朋友圈=>查看朋友圈（点击查看） -->
    <ViewCircle v-model="showViewCircleDialog" :currId='currId'></ViewCircle>
  </div>
</template>

<script>
/**
   * info格式：
   * msgSource: 'http://www.w3school.com.cn/i/movie.mp4',--文本，图片url,音频url,视频url
   * vedioImg/coverInfo: 'http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L', --如果是视频额外添加背景图片
   * msgType: 4 --类型
   */
import {
  marketPlatformApi
} from '@/api/system'
import {
  tableMixin
} from '@/mixins'
import videoImg from '@/components/common/videoImg' // 视频、图片
import {
  parseHTML
} from '@/components/libs/wechatExpression'
import {
  NewCircle,
  ViewCircle
} from './components'

export default {
  mixins: [tableMixin],
  components: {
    videoImg,
    NewCircle,
    ViewCircle
  },
  data () {
    return {
      activeNames: ['1'],
      showNewCircleDialog: false,
      showViewCircleDialog: false,
      currId: '',
      isCopy: false
    }
  },
  methods: {
    parseHTML,
    async requestTableList () {
      const data = await marketPlatformApi.getRegularCircleList(this.params)
      this.tableData = data
      // console.log(this.tableData, 'geiwoyigcaoyuan')
    },
    // 删除
    async deleteCallback (id) {
      await marketPlatformApi.delCircle(id)
      this.getTableList(1, this.params.size)
    },
    // 跟圈点击
    copyCircleClick (id) {
      this.currId = id
      this.isCopy = true
      this.showNewCircleDialog = true
      this.$nextTick(() => {
        this.$refs.newCircle.getCircleDetail()
      })
    },
    // 发朋友圈点击
    NewCircleClick () {
      this.isCopy = false
      this.showNewCircleDialog = true
    },
    // 查看朋友圈点击
    viewCircleClick (id) {
      this.currId = id
      this.showViewCircleDialog = true
    }
  }
}
</script>
