<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-switch v-model="params.type" active-text="按客服统计" inactive-text="按微信号统计" :active-value="1" :inactive-value="2" @change="clearListAndSearch">
      </el-switch>
      <el-button type="primary" size="small" @click="exportCallback">导出</el-button>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="table.list" tooltip-effect="dark" style="width: 100%">
        <el-table-column v-if="params.type === 2" label="个人号" key="nickName">
          <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px" :src="scope.row.headIcon | wechatAvtor" v-image-view>
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.account}}</p>
                <p class="ly-margin-top-4">{{scope.row.wxId}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <template v-else>
          <el-table-column label="客服账号" prop="account" />
          <el-table-column label="客服姓名" prop="nickName" />
        </template>
        <el-table-column label="设备保管者姓名" prop="staffName">
          <template slot-scope="scope">
            <span>{{scope.row.staffName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者电话" prop="phone">
          <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者部门" prop="departmentName">
          <template slot-scope="scope">
            <span>{{scope.row.departmentName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="昨日响应次数" prop="time" />
        <el-table-column label="昨日平均响应时间" prop="avgTime" />
        <el-table-column label="30天响应次数" prop="thirtyResTime" />
        <el-table-column label="30天平均响应时间" prop="thirtyAvgResTime" />
        <el-table-column label="显示趋势">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="showDetail(scope.row)">30天趋势图</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog class="dialog-hide-footer dialog-lg" title="平均响应时间走势(单位:毫秒)" :visible.sync="detail.show" append-to-body>
      <mod-detail v-if="detail.show" :data="detail.entity" />
    </el-dialog>
  </div>
</template>

<script>
import { downloadFile } from '@/utils'
import { indexMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import ModDetail from './detail'

export default {
  mixins: [indexMixin],
  components: {
    ModDetail
  },
  data () {
    return {
      params: {
        type: 1
      }
    }
  },
  methods: {
    // 好友响应时间统计导出
    exportCallback () {
      // 按客服
      if (this.params.type === 1) {
        v3indexApi.getStaffReport(this.params).then((res) => {
          downloadFile(res, '客服-好友响应时间统计.xls')
          this.success('恭喜你，导出成功')
        })
      } else {
        // 按微信号
        v3indexApi.getChatReport(this.params).then((res) => {
          downloadFile(res, '微信-好友响应时间统计.xls')
          this.success('恭喜你，导出成功')
        })
      }
    },
    clearListAndSearch () {
      this.table.list = []
      this.search()
    },
    list (current, size) {
      if (this.params.type === 1) {
        this.listStaff()
      } else {
        this.listChat()
      }
    },
    listStaff () {
      v3indexApi.getStaffResponse(Object.assign({}, this.params)).then(data => {
        // data.forEach(item => {
        //   item.avgTime = Math.floor((item.avgTime) / 1000)
        //   item.thirtyAvgResTime = Math.floor((item.thirtyAvgResTime) / 1000)
        // })
        this.table.list = data || []
      })
    },
    listChat () {
      v3indexApi.getChatResponse(Object.assign({}, this.params)).then(data => {
        this.table.list = data || []
      })
    },
    showDetail (entity) {
      this.detail.entity = {
        ...entity,
        type: this.params.type
      }
      this.detail.show = true
    }
  }
}
</script>
