<template>
  <div class="home-page">
    <div class="ly-bg-white ly-padding-sm">
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据总览</span>
        </div>
      </div>
      <Cards></Cards>
      <div class="ly-box ly-margin-top-36pxrem">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">个人号统计</span>
          <span class="graytip ly-margin-left-8px">近7天数据</span>
        </div>
      </div>
      <div class="ly-border-DDD-1 ly-padding-25-32px">
        <div class="ly-margin-bottom-25px">
          <el-button-group class="ly-button-group-border">
            <el-button :type="type==1?'primary':''" @click="wxTypeTab(1)" class="ly-button-border ly-button-width90px">微信好友</el-button>
            <el-button :type="type==2?'primary':''" @click="wxTypeTab(2)" class="ly-button-border ly-button-width90px">微信群</el-button>
          </el-button-group>
        </div>
        <!-- ly-echarts-height362rem -->
        <div class="ly-box">
          <div class="ly-box-1">
            <div class="ly-position-relative ly-height-0 ly-padding-top-42-percent">
              <div class="ly-echarts-content">
                <FriendTotal ref="FriendTotal" class="ly-border-right-DDD-1 ly-padding-right-30px ly-height-100"></FriendTotal>
              </div>
            </div>
          </div>
          <div class="ly-box-1">
            <div class="ly-position-relative ly-height-0 ly-padding-top-42-percent">
              <div class="ly-echarts-content">
                <SendRecieveLine ref="SendRecieveLine" class="ly-paddingleft-30px ly-height-100"></SendRecieveLine>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ly-box">
        <FriendCountPie></FriendCountPie>
        <chinese-map></chinese-map>
        <FollowQuestion></FollowQuestion>
      </div>
    </div>

    <!-- 弹框 -->
    <el-dialog :before-close="handleClose" title="修改密码" class="dialog-hide-footer" width="500px" append-to-body :visible.sync="modifyPassword.show">
      <!-- @on-cancel="() => modifyPassword.show = true" -->
      <modify-password v-if="modifyPassword.show" @after-submit="afterModifyPassword" @on-cancel="handleClose" />
    </el-dialog>
  </div>
</template>
<script>
import ModifyPassword from '@/components/packages/system/main/components/modifyPassword'
import {
  mapActions,
  mapGetters
} from 'vuex'

import {
  Cards,
  FriendTotal,
  FriendCountPie,
  SendRecieveLine,
  ChineseMap,
  FollowQuestion
} from './components'
export default {
  components: {
    Cards,
    FriendCountPie,
    FriendTotal,
    SendRecieveLine,
    ChineseMap,
    FollowQuestion,

    ModifyPassword
  },
  data () {
    return {
      // 弹框是否弹出
      modifyPassword: {
        show: false
      },
      type: 1
    }
  },
  created () {
    // this.getPassWord();
  },
  computed: {
    ...mapGetters(['adminInfo'])
  },
  methods: {
    ...mapActions(['logout']),
    wxTypeTab (type) {
      if (this.type === type) return
      this.type = type
      this.$refs.FriendTotal.buildChart(this.type)
      this.$refs.SendRecieveLine.buildChart(this.type)
    },

    afterModifyPassword () {
      this.modifyPassword.show = false
      this.success('修改密码成功，请重新登录')
      setTimeout(() => {
        this.logout(true)
      }, 2000)
    },
    // 判断密码的状态
    getPassWord () {
      if (!this.adminInfo.isStrong) {
        this.modifyPassword.show = true
        this.warning('当前密码为弱密码，请及时修改密码！')
      }
      // if (window.localStorage.getItem("x") == 1) {
      //   this.modifyPassword.show = true;
      //   this.warning("当前密码为弱密码，请及时修改密码！");
      // }
    },
    // 关闭弹窗前的判断
    handleClose () {
      if (this.adminInfo.isStrong) {
        return this.warning('请修改密码')
      }
    }
  }
}
</script>
