<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="朋友圈内容"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            lianghuan（梁欢）
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="图片/视频"
                         width="200">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="可见范围">
        </el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">
            <span :class="{'ly-font-color-5':scope.row.name}">{{ scope.row.name }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作员工">
        </el-table-column>
        <el-table-column prop="name"
                         label="定时时间">
        </el-table-column>
        <el-table-column prop="name"
                         label="创建时间">
        </el-table-column>
        <el-table-column prop="name"
                         label="结果查询">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">查看</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">发送</el-button>
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'
import videoAudioImg from '@/components/common/videoAudioImg'

export default {
  components: { collapse, videoAudioImg },
  data() {
    return {
      activeNames: ['1'],
      params: {
        circleFriends: true,
        executionState: true,
        sendingStaff: true,
        date: true,
        implementState: true
      },
      tableData: [
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市',
          type: 1
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市',
          type: 2
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市',
          type: 2
        }
      ],
      multipleSelection: [],
      dialogFormVisible: false
    }
  },
  created() {
  },
  methods: {
    queryCallback() {
      console.log(this.params)
    }
  }
}
</script>
