<template>
  <div>
    <!-- tab -->
    <div>
        <ul class="ly-page-menu ly-margin-bottom-lh">
          <li class="ly-page-menu-item ly-page-menu-item--mini"
              :class="params.dateType.key===item.key?'active':''"
              v-for="item in menuList"
              :key="item.key"
              @click="changeDateType(item)">
            {{item.title}}
          </li>
        </ul>
    </div>
    <!-- echart图 -->
    <div class="ly-width-100 statistics-chart"
         ref="chart"></div>
  </div>
</template>

<script>
    import options from './src/options'
    import INTERACTIVE_STATISTICS_MAP from '../src/interactiveStatisticsMap'
    import echarts from 'echarts'
    // import { date } from '@/utils'
    import {
        echartResizeMixin
    } from '@/mixins'

    export default {
        props: {
            tableData: {
                type: Array,
                default: () => {
                    return []
                }
            }
        },
        mixins: [echartResizeMixin],
        data() {
            const defaultType = INTERACTIVE_STATISTICS_MAP.GROUP_MSG_NUM
            return {
                chart: null,
                typeMap: INTERACTIVE_STATISTICS_MAP,
                defaultType,
                menuList: [
                    INTERACTIVE_STATISTICS_MAP.GROUP_MSG_NUM,
                    INTERACTIVE_STATISTICS_MAP.GROUP_MSG_USER_NUM,
                    INTERACTIVE_STATISTICS_MAP.GROUP_AVG_MSG_NUM,
                    INTERACTIVE_STATISTICS_MAP.GROUP_MSG_PROPORTION
                ],
                params: {
                    dateType: defaultType
                }
            }
        },
        watch: {
            tableData(val) {
                this.setChart(val)
            }
        },
        created() {
            this.$nextTick(() => {
                this.setChart()
            })
        },
        methods: {
            changeDateType(dateType) {
                this.params.dateType = dateType
                this.setChart(this.tableData)
            },
            setChart(tableData = []) {
                const type = this.params.dateType
                    // x轴
                let xAxisData = []
                    // 对应类型的数据
                let typeData = []
                tableData.forEach(v => {
                    xAxisData.push(v.countStringDate)
                        // xAxisData.push(date.format(v.countDate, 'MM-dd'))
                    typeData.push(v[type.key])
                })
                options.xAxis[0].data = xAxisData
                if (type.key === this.typeMap.GROUP_MSG_PROPORTION.key) {
                    options.yAxis[0].axisLabel = {
                        formatter: '{value} %'
                    }
                } else {
                    options.yAxis[0].axisLabel = {
                        formatter: '{value}'
                    }
                }
                options.series[0] = {
                    name: type.title,
                    type: 'line',
                    smooth: true,
                    data: typeData
                }
                options.legend.data[0] = type.title
                if (!this.chart) {
                    this.chart = echarts.init(this.$refs.chart)
                    this.adaptWindowResize(this.chart);
                }
                this.chart.setOption(options)
            }
        }
    }
</script>