<template>
  <div>
    <el-form label-width="100px" @submit.native.prevent>
      <el-form-item label="审核："
                    required>
        <el-radio-group v-model="form.status">
          <el-radio :label="2">审核通过</el-radio>
          <el-radio :label="3">审核不通过</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="反馈详情："
                    :required="form.status === 3 ? true : false">
        <el-input type="textarea"
                  maxlength="200"
                  class="ly-width-214px"
                  :rows="5"
                  v-model="form.feedbackDetail"></el-input>
        <p class="ly-font-12 ly-font-color-8">审核不通过时反馈详情必填</p>
      </el-form-item>
    </el-form>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureAudit">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { smsTemplateApi } from '@/api/sms'

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      form: {
        status: 2,
        feedbackDetail: '',
        ids: this.dataInfo.data.selectIdArr
      }
    }
  },
  methods: {
    sureAudit() {
      if (this.form.status === 3 && !this.form.feedbackDetail) {
        this.error('请填写反馈详情！')
        return
      }
      smsTemplateApi.templateAudit(this.form).then(() => {
        this.success('提交成功')
        this.dataInfo.open = false
        this.$emit('clearSelection')
        this.$emit('getTableList')
      })
    }
  }
}
</script>
