<template>
  <div>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号"
                         width="260">
          <template slot-scope="scope">
            <personalInfo :info="scope.row.person"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="备注">
        </el-table-column>
        <el-table-column label="开关" min-width="165">
          <template slot-scope="scope">
            <el-checkbox v-model="scope.row.isOpen" :checked="scope.row.isOpen?true:false" :true-label="1" :false-label="0" @change="checkChange($event, scope.$index, scope.row)">开启自动通过好友</el-checkbox>
          </template>
        </el-table-column>
        <el-table-column label="周期（分钟）" min-width="165">
          <template slot-scope="scope" v-if="scope.row.isOpen">
            <el-input-number controls-position="right"
                             size="mini"
                             :min="1"
                             :precision="0"
                             v-model="scope.row.revolution"
                             @change="handleChange($event, scope.$index, scope.row)"></el-input-number>
            &ensp;分钟
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         width="200">
          <template slot="header" slot-scope="scope">
            周期内通过好友数量上限
            <el-popover placement="top"
                        popper-class="tip-green"
                        trigger="hover">
              为避免被封号，建议通过好友数量上限不超过50
              <el-button slot="reference"
                         type="text">
                <i class="el-icon-question ly-font-color-6"></i>
              </el-button>
            </el-popover>
          </template>
          <template slot-scope="scope" v-if="scope.row.isOpen">
            <el-input-number size="mini"
                             :min="1"
                             :precision="0"
                             controls-position="right"
                             v-model="scope.row.limitNumber"
                             @change="handleChange($event, scope.$index, scope.row)"></el-input-number>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="scope" v-if="scope.row.isOpen">
            <el-button type="text"
                       size="small" @click="saveModifyInfo(scope.$index, scope.row)">保存</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="pageChange" />
      </div>
    </div>
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import personalInfo from '@/components/common/personalInfo'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { personalInfo },
  data() {
    return {
      tableData: {},
      tableDataRecords: [],
      checked: true,
      params: {
      }
    }
  },
  created() {},
  methods: {
    /**
     * 自动通过好友--获取列表
     */
    async requestTableList() {
      await deviceManageApi.autoPassFriendsGetList(this.params).then((data) => {
        data.records.forEach(o => {
          o.person = {
            img: o.headIco,
            id: o.wxId,
            name: o.nickName,
            mobile: o.phone,
            row: o
          }
        })
        this.tableData = data
      })
    },
    /**
     * 自动通过好友--分页请求
     */
    pageChange(pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    handleChange(event, index, data) {},
    /**
     * 自动通过好友--开关切换
     */
    checkChange(event, index, data) {
      if (!event) {
        this.saveModifyInfo(index, data)
      }
    },
    async saveModifyInfo(index, data) {
      let params = {
        id: data.id,
        isSend: data.isOpen,
        limitNumber: data.limitNumber,
        revolution: data.revolution
      }
      await deviceManageApi.autoPassFriendsModify(params).then((res) => {
        this.success('修改成功!')
      })
    }
  }
}
</script>
