<template>
  <div>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm">
      <!--新好友通过后自动回复-->
      <gReplayFriendsAutoTableList></gReplayFriendsAutoTableList>
    </div>

    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!--新消息自动回复-->
      <gReplayMessageAutoTableList></gReplayMessageAutoTableList>
    </div>
  </div>
</template>

<script>
import {
  gReplayFriendsAutoTableList,
  gReplayMessageAutoTableList
} from './components'
export default {
  components: { gReplayFriendsAutoTableList, gReplayMessageAutoTableList },
  data() {
    return {
    }
  },
  created() {
  },
  methods: {
  }
}
</script>
