<template>
  <div>
    <!-- 素材管理左侧 -->
    <el-container>
      <el-aside class="ly-bg-white ly-padding-horizontal-sm" width="220px">
        <materialGroup :materialGroupInfo="materialGroupInfo" :edit="true" @changeGroupId="changeGroupId"></materialGroup>
      </el-aside>
      <!-- 数据列表 -->
      <el-main class="ly-bg-white ly-padding-sm ly-margin-left-sm ">
        <!-- 表头 -->
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
          </div>
          <span class="ly-margin-top-nge-4">
            <el-button type="primary" size="small" v-if="params.msgGroupId" @click="showMManageAddDialog">新增素材</el-button>
          </span>
        </div>
        <!-- 表格 -->
        <el-table ref="multipleTable" :data="tableData.records" row-key="id" tooltip-effect="dark" style="width: 100%" @clearSelection="clearSelection" @selection-change="handleSelectionChange">
          <el-table-column type="selection" fixed reserve-selection width="55">
          </el-table-column>
          <el-table-column label="素材类型" fixed width="120">
            <template slot-scope="scope">
              <span>{{ MESSAGE_TPYE[scope.row.msgType] }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="title" label="标题" fixed min-width="120">
          </el-table-column>
          <el-table-column prop="name" min-width="160" label="消息内容">
            <template slot-scope="scope">
              <videoAudioImg :key="scope.row.msgText" :info="scope.row"></videoAudioImg>
            </template>
          </el-table-column>
          <el-table-column prop="name" label="操作" width="230">
            <template slot-scope="scope">
              <el-button type="text" size="small" @click="showMManageModifyDialog(scope.$index, scope.row)">编辑</el-button>
              <el-button type="text" class="ly-font-color-7" size="small" @click="deleteTableList(scope.$index, scope.row)">删除</el-button>
              <el-button type="text" size="small" @click="sortChange(scope.$index, scope.row, SORTTYPE[0])" v-if="scope.$index != 0">上移</el-button>
              <el-button type="text" size="small" @click="sortChange(scope.$index, scope.row, SORTTYPE[1])" v-if="scope.$index != (tableData.records.length-1)">下移</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
          <div>
            <el-button type="primary" size="small" data-click="assignStaffMore" v-if="tableData.records && tableData.records.length" @click="deleteTableList('', '', true)">删除选中素材</el-button>
          </div>
          <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="pageChange" />
        </div>
      </el-main>
    </el-container>
    <!--新增右侧快捷回复-->
    <el-dialog title="新增素材" :visible.sync="dialogmMangeAdd.show" width="880px" v-if="dialogmMangeAdd.show" @close="closeMManageAddDialog" append-to-body>
      <mManageMessageAdd :dialogProp="dialogmMangeAdd" @closeDialog="closeMManageAddDialog" @refreshLeftGroupInfo="refreshRightTabelList"></mManageMessageAdd>
    </el-dialog>
    <!--编辑右侧快捷回复-->
    <el-dialog title="编辑素材" :visible.sync="dialogmMangeModify.show" width="880px" v-if="dialogmMangeModify.show" @close="closeMManageModifyDialog" append-to-body>
      <mManageMessageAdd :dialogProp="dialogmMangeModify" @closeDialog="closeMManageModifyDialog" @refreshLeftGroupInfo="refreshRightTabelListModify"></mManageMessageAdd>
    </el-dialog>
  </div>
</template>

<script>
import {
  deviceManageApi
} from '@/api/system'
import videoAudioImg from '@/components/common/videoAudioImg'
import {
  materialGroup
} from '@/components/common/materialManageGroup'
import {
  MESSAGE_TPYE
} from '@/constants/messageType'
import {
  mManageMessageAdd
} from './components'
import {
  tableMixin
} from '@/mixins'
export default {
  mixins: [tableMixin],
  components: {
    videoAudioImg,
    materialGroup,
    mManageMessageAdd
  },
  data () {
    return {
      MESSAGE_TPYE: MESSAGE_TPYE,
      SORTTYPE: [1, 2],
      params: {
        current: 1,
        size: 10,
        msgGroupId: ''
      },
      tableData: {},
      createNotGetTableList: true,
      tableDataChecked: [],
      materialGroupInfo: {
        add: true
      },
      dialogmMangeAdd: {},
      dialogmMangeModify: {}
    }
  },
  created () { },
  methods: {
    /**
     * 左侧--切换分组
     */
    changeGroupId (id) {
      if (id !== undefined) {
        this.params.msgGroupId = id
        this.getTableList(1)
        this.removeChecked()
      } else {
        this.params.msgGroupId = ''
        this.tableData = {}
        this.removeChecked()
      }
    },
    /**
     * 右侧--列表获取
     */
    async requestTableList () {
      await deviceManageApi.mManageListGet(this.params).then((data) => {
        data.records.forEach(o => {
          o.msgSource = o.msgText
        })
        this.tableData = data
      })
    },
    /**
     * --分页请求
     */
    pageChange (pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    /**
     * --列表删除-有效性校验
     */
    deleteCheck (index, data, types) {
      let ids = []
      if (types) {
        // 批量删除
        this.tableDataChecked.forEach(o => {
          if (o.id) {
            ids.push(o.id)
          }
        })
      } else {
        // 单个删除
        if (data.id) {
          ids.push(data.id)
        }
      }
      if (!ids.length) {
        let message = types ? '未选择或消息id无效' : 'id不存在'
        this.warn(message)
        return false
      }
      return ids
    },
    /**
     * --列表删除-弹窗
     */
    deleteTableList (index, data, types) {
      let ids = this.deleteCheck(index, data, types)
      if (!ids) {
        return false
      }
      let that = this
      let params = ids
      this.$confirm('确定要删除该素材信息吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        that.deleteTableListSure(params, types)
      }).catch(() => {
        if (types) {
          this.removeChecked()
        }
      })
    },
    /**
    * --列表删除-确认删除
    */
    async deleteTableListSure (data, types) {
      await deviceManageApi.mManageLisDelete(data).then(() => {
        this.success('删除成功!')
        this.removeChecked()
        let current = null
        if (types) {
          current = 1
        }
        this.getTableList(current)
      })
    },
    /**
    * --列表--上移/下移
    */
    async sortChange (index, data, typeVal) {
      if (data.id) {
        let params = {}
        params.id = data.id
        params.mindex = data.mindex
        params.moveType = typeVal
        params.groupId = this.params.msgGroupId
        await deviceManageApi.mManageLisSort(params).then(() => {
          this.success('修改成功!')
          this.getTableList()
        })
      }
    },
    /**
    * 表格左侧选择
    */
    handleSelectionChange (val) {
      this.tableDataChecked = val
    },
    /**
     * 表格左侧选择--清除
     */
    removeChecked () {
      this.clearSelection('multipleTable')
    },
    /**
    * 右侧--新增素材--弹窗--显示
    */
    // materialShow:true  营销-新增小程序素材的标识
    showMManageAddDialog () {
      this.dialogmMangeAdd = {
        show: true,
        id: this.params.msgGroupId,
        materialShow: true
      }
    },
    /**
    * 右侧--新增素材--弹窗--关闭
    */
    closeMManageAddDialog () {
      this.dialogmMangeAdd = {}
    },
    refreshRightTabelList (data) {
      this.getTableList(1)
      this.closeMManageAddDialog()
    },
    /**
    * 右侧--编辑素材--弹窗--关闭
    */
    closeMManageModifyDialog () {
      this.dialogmMangeModify = {}
    },
    /**
    * 右侧--编辑素材--弹窗--显示
    */
    showMManageModifyDialog (index, item) {
      console.log('-----------', item)
      this.dialogmMangeModify = {
        show: true,
        id: this.params.msgGroupId,
        data: item
      }
      // console.log(item, 'dialog框')
    },
    /**
    * 右侧--编辑素材--刷新
    */
    refreshRightTabelListModify () {
      this.getTableList()
      this.closeMManageModifyDialog()
    }
  }
}
</script>
