<template>
  <div>
    <el-container>
      <el-aside class="ly-width-220rem ly-bg-white ly-padding-horizontal-sm ly-padding-bottom-sm" width="220px">
        <div class="ly-position-relative ly-padding-vertical-sm">
          <span class="ly-vertical-line ly-font-16 ly-font-color-1 ly-font-weight-300 ly-vertical-middle">快捷语</span>
          <span class="ly-vertical-middle ico_add" @click="showLeftGroupAddDialog"></span>
        </div>
        <div class="ly-text-center ly-box">
          <span class="ly-cursor-point ly-font-14 ly-font-weight-300 switch-btn ly-box-1" v-bind:class="{ 'switch-btn-choice' : isChoicePerson === 1}" @click="switchTag(1)">私有快捷语</span>
          <span class="ly-cursor-point ly-font-14 ly-font-weight-300 switch-btn ly-box-1" v-bind:class="{ 'switch-btn-choice' : isChoicePerson === 2}" @click="switchTag(2)">公共快捷语</span>
          <span class="ly-cursor-point ly-font-14 ly-font-weight-300 switch-btn ly-box-1" v-bind:class="{ 'switch-btn-choice' : isChoicePerson === 3}" @click="switchTag(3)">公司库素材</span>
        </div>
        <div class="fra-content ly-margin-top-sm" v-if="isChoicePerson === 1">
          <div class="ly-box ly-box-align-center ly-box-justify-between ly-cursor-point qreplay-edit-parent ly-vertical-align-icon" v-for="item in leftInfoPrivate" :key="item.id" @click="changeGroupId(item)">
            <div class="ly-font-14 ly-font-color-3 ly-font-weight-300 ly-width-100p-m46px ell" :title="item.groupName" :class="[item.id==params.quickReplyGroupId?'ly-font-color-5':'']">{{item.groupName}}</div>
            <div class="qreplay-edit-btn">
              <span class="ico_editor" @click.stop="showLeftGroupModifyDialog(item)"><i class="el-icon-edit-outline"></i></span>
              <span class="ico_delete" @click.stop="deleteGroupOne(item)"><i class="el-icon-delete"></i></span>
            </div>
          </div>
        </div>
        <div class="fra-content ly-margin-top-sm" v-if="isChoicePerson === 2">
          <div class="ly-box ly-box-align-center ly-box-justify-between ly-cursor-point qreplay-edit-parent ly-vertical-align-icon" v-for="item in leftInfoCommon" :key="item.id" @click="changeGroupId(item)">
            <div class="ly-font-14 ly-font-color-3 ly-font-weight-300 ly-width-100p-m46px ell" :title="item.groupName" :class="[item.id==params.quickReplyGroupId?'ly-font-color-5':'']">{{item.groupName}}</div>
            <div class="qreplay-edit-btn" v-if="(isChoicePerson === 2) && hasCommonEditAction">
              <span class="ico_editor" @click.stop="showLeftGroupModifyDialog(item)"><i class="el-icon-edit-outline"></i></span>
              <span class="ico_delete" @click.stop="deleteGroupOne(item)"><i class="el-icon-delete"></i></span>
            </div>
          </div>
        </div>
        <div class="fra-content ly-margin-top-sm" v-if="isChoicePerson === 3">
          <div class="ly-box ly-box-align-center ly-box-justify-between ly-cursor-point qreplay-edit-parent ly-vertical-align-icon" v-for="item in leftInfoCompany" :key="item.id" @click="changeGroupId(item)">
            <div class="ly-font-14 ly-font-color-3 ly-font-weight-300 ly-width-100p-m46px ell" :title="item.groupName" :class="[item.id==params.quickReplyGroupId?'ly-font-color-5':'']">{{item.groupName}}</div>
            <div class="qreplay-edit-btn" v-if="(isChoicePerson === 3) && hasCommonEditAction">
              <span class="ico_editor" @click.stop="showLeftGroupModifyDialog(item)"><i class="el-icon-edit-outline"></i></span>
              <span class="ico_delete" @click.stop="deleteGroupOne(item)"><i class="el-icon-delete"></i></span>
            </div>
          </div>
        </div>
      </el-aside>
      <el-main class="ly-bg-white ly-padding-sm ly-margin-left-sm">
        <!-- 表头 -->
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
          </div>
          <span class="ly-margin-top-nge-4">
            <el-button type="primary" size="small" @click="showRightQuikeReplayAddDialog" v-if="params.quickReplyGroupId && ((!currntIsChoicePerson && hasCommonEditAction) || currntIsChoicePerson)">新增快捷回复</el-button>
          </span>
        </div>
        <!-- 表格 -->
        <el-table ref="multipleTable" :data="tableData.records" row-key="id" tooltip-effect="dark" style="width: 100%" @clearSelection="clearSelection" @selection-change="handleSelectionChange">
          <el-table-column type="selection" reserve-selection width="55">
          </el-table-column>
          <el-table-column label="消息类型" min-width="120">
            <template slot-scope="scope">
              <span>{{ MESSAGE_TPYE[scope.row.msgType] }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="title" label="标题" min-width="120">
          </el-table-column>
          <el-table-column label="消息内容" min-width="140">
            <template slot-scope="scope">
              <videoAudioImg :info="scope.row"></videoAudioImg>
            </template>
          </el-table-column>
          <el-table-column label="创建时间" min-width="140" show-overflow-tooltip>
            <template slot-scope="scope">
              {{scope.row.createTime | date}}
            </template>
          </el-table-column>
          <el-table-column prop="name" label="操作" width="230" v-if="((!currntIsChoicePerson && hasCommonEditAction) || currntIsChoicePerson)">
            <template slot-scope="scope">
              <el-button type="text" size="small" @click="showRightQuikeReplayModifyDialog(scope.$index, scope.row)">编辑</el-button>
              <el-button type="text" class="ly-font-color-7" size="small" @click="deleteTableList(scope.$index, scope.row)">删除</el-button>
              <el-button type="text" size="small" @click="sortChange(scope.$index, scope.row, SORTTYPE[0])" v-if="scope.$index != 0">上移</el-button>
              <el-button type="text" size="small" @click="sortChange(scope.$index, scope.row, SORTTYPE[1])" v-if="scope.$index != (tableData.records.length-1)">下移</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
          <div>
            <el-button type="primary" size="small" data-click="assignStaffMore" v-if="(!currntIsChoicePerson && hasCommonEditAction) || currntIsChoicePerson" @click="deleteTableList('', '', true)">删除选中快捷语</el-button>
          </div>
          <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="pageChange" />
        </div>
      </el-main>
    </el-container>
    <!--新增左侧快捷语分组-->
    <el-dialog title="新增快捷回复分组" :visible.sync="dialogleftGroupAdd.show" width="489px" v-if="dialogleftGroupAdd.show" @close="closeLeftGroupAddDialog" append-to-body>
      <qReplayGroupAdd :dialogProp="dialogleftGroupAdd" @closeDialog="closeLeftGroupAddDialog" @refreshLeftGroupInfo="refreshLeftGroupInfo"></qReplayGroupAdd>
    </el-dialog>
    <!--编辑左侧快捷语分组-->
    <el-dialog title="编辑快捷回复分组" :visible.sync="dialogleftGroupModify.show" width="489px" v-if="dialogleftGroupModify.show" @close="closeLeftGroupModifyDialog" append-to-body>
      <qReplayGroupAdd :dialogProp="dialogleftGroupModify" @closeDialog="closeLeftGroupModifyDialog" @refreshLeftGroupInfo="refreshLeftGroupInfoModify"></qReplayGroupAdd>
    </el-dialog>
    <!--新增右侧快捷回复-->
    <el-dialog title="新增快捷回复" :visible.sync="dialogRightQuikeReplayAdd.show" width="880px" v-if="dialogRightQuikeReplayAdd.show" @close="closeRightQuikeReplayAddDialog" append-to-body>
      <qReplayMessageAdd :dialogProp="dialogRightQuikeReplayAdd" @closeDialog="closeRightQuikeReplayAddDialog" @refreshRightTabelList="refreshRightTabelList"></qReplayMessageAdd>
    </el-dialog>
    <!--编辑右侧快捷回复-->
    <el-dialog title="编辑快捷回复" :visible.sync="dialogRightQuikeReplayModify.show" width="880px" v-if="dialogRightQuikeReplayModify.show" @close="closeRightQuikeReplayAddDialog" append-to-body>
      <qReplayMessageAdd :dialogProp="dialogRightQuikeReplayModify" @closeDialog="closeRightQuikeReplayModifyDialog" @refreshRightTabelList="refreshRightTabelList"></qReplayMessageAdd>
    </el-dialog>
  </div>
</template>

<script>
import {
  deviceManageApi
} from '@/api/system'
import videoAudioImg from '@/components/common/videoAudioImg'
import {
  MESSAGE_TPYE,
  MESSAGE_TPYE_KEY
} from '@/constants/messageType'
import {
  qReplayGroupAdd,
  qReplayMessageAdd
} from './components'
import {
  resourceMixin,
  tableMixin
} from '@/mixins'
import {
  RESOURCE_ACTION_MAP
} from '@/constants'

export default {
  mixins: [resourceMixin, tableMixin],
  components: {
    videoAudioImg,
    qReplayMessageAdd,
    qReplayGroupAdd
  },
  data () {
    return {
      MESSAGE_TPYE: MESSAGE_TPYE,
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      SORTTYPE: [1, 2, 3],
      tableData: {},
      tableDataChecked: [],
      leftInfoPrivate: [],
      leftInfoCommon: [],
      leftInfoCompany:[],
      dialogleftGroupAdd: {},
      dialogleftGroupModify: {},
      params: {
        quickReplyGroupId: ''
      },
      isChoicePerson: 1,
      currntIsChoicePerson: null,
      dialogRightQuikeReplayAdd: {},
      dialogRightQuikeReplayModify: {},
      createNotGetTableList: true
    }
  },
  created () {
    this.getLeftList()
  },
  computed: {
    // 是否拥有编辑公共快捷语的权限
    hasCommonEditAction () {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.REPLY_COMMON)
    }
  },
  methods: {
    /**
     * 左侧--类型--切换
     */
    switchTag (isChoicePerson) {
      this.isChoicePerson = isChoicePerson
      this.params.quickReplyGroupId = ''
      this.tableData = {}
      this.getLeftList()


       console.log("44444", this.isChoicePerson)
    },
    getLeftList () {
      if (this.isChoicePerson === 2) {
        this.LeftListCommon()
      } else if(this.isChoicePerson === 1){
        this.LeftListPrivate()
      } else if(this.isChoicePerson === 3){
        this.LeftListCompany()
      }
    },
    initLeftGroup () {
      this.leftInfoPrivate = []
      this.leftInfoCommon = []
      this.leftInfoCompany = []
      this.getLeftList()
    },
    /**
     * 左侧--快捷--私有列表
     */
    async LeftListPrivate () {
      if (!this.leftInfoPrivate.length) {
        await deviceManageApi.qReplayReplayLeftPrivate().then((data) => {
          this.leftInfoPrivate = data
        })
      }
    },
    /**
     * 左侧--快捷--公共列表
     */
    async LeftListCommon () {
      if (!this.leftInfoCommon.length) {
        await deviceManageApi.qReplayReplayLeftCommon().then((data) => {
          this.leftInfoCommon = data
        })
      }
    },
    /**
     * 左侧--快捷--公司库
     */
    async LeftListCompany () {
      if (!this.leftInfoCompany.length) {
        await deviceManageApi.qReplayReplayleftInfoCompany().then((data) => {
          this.leftInfoCompany = data
        })
      }
    },
    /**
     * 左侧--快捷--新增--弹窗--显示
     */
    showLeftGroupAddDialog () {
      this.dialogleftGroupAdd = {
        show: true
      }
    },
    /**
     * 左侧--快捷--新增--弹窗--关闭
     */
    closeLeftGroupAddDialog () {
      this.dialogleftGroupAdd = {}
    },
    /**
     * 左侧--快捷--新增--弹窗--局部刷新
     */
    refreshLeftGroupInfo () {
      this.initLeftGroup()
      this.closeLeftGroupAddDialog()
    },
    /**
     * 左侧--快捷--编辑--弹窗--显示
     */
    showLeftGroupModifyDialog (data) {
      let showVal = false
      if (data.id) {
        showVal = true
      }
      this.dialogleftGroupModify = {
        show: showVal,
        data: data
      }
    },
    /**
     * 左侧--快捷--编辑--弹窗--关闭
     */
    closeLeftGroupModifyDialog () {
      this.dialogleftGroupModify = {}
    },
    /**
     * 左侧--快捷-便捷--弹窗--刷新
     */
    refreshLeftGroupInfoModify () {
      this.initLeftGroup()
      this.closeLeftGroupModifyDialog()
    },
    /**
     * 左侧--快捷-删除--确认弹窗
     */
    deleteGroupOne (data) {
      if (data.id) {
        let that = this
        this.$confirm('确定要删除该快捷回复分组吗？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          that.sureDeleteGroupOne(data)
        }).catch(() => { })
      } else {
        this.warn('id不存在')
      }
    },
    /**
     * 左侧--快捷-删除--确认删除
     */
    async sureDeleteGroupOne (data) {
      const result = await deviceManageApi.qReplayReplayLeftGroupDelete(data.id)
      if (result === 1) {
        this.success('删除成功!')
        if (this.params.quickReplyGroupId === data.id) {
          this.params.quickReplyGroupId = ''
          this.tableData = {}
        }
        this.initLeftGroup()
      } else {
        this.warn('请先删除该分组下的所有快捷回复语!')
      }
    },
    /**
     * 左侧--切换分组
     */
    changeGroupId (data) {
      if (data.id) {
        this.params.current = 1
        this.params.quickReplyGroupId = data.id
        this.currntIsChoicePerson = this.isChoicePerson
        this.getTableList()
      }
    },
    /**
     * 右侧--列表--获取
     */
    async requestTableList () {
      await deviceManageApi.qReplayReplayListGet(this.params).then((data) => {
        data.records.forEach(o => {
          o.msgSource = o.msgText
          if (o.msgType === 4) {
            o.vedioImg = o.vedioImg
          }
        })
        this.tableData = data
      })
    },
    handleSelectionChange (val) {
      this.tableDataChecked = val
    },
    /**
     * 表格左侧选择--清除
     */
    removeChecked () {
      this.clearSelection('multipleTable')
    },
    /**
     * --分页请求
     */
    pageChange (pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    /**
     * --列表删除-有效性校验
     */
    deleteCheck (index, data, types) {
      let ids = []
      if (types) {
        // 批量删除
        this.tableDataChecked.forEach(o => {
          if (o.id) {
            ids.push(o.id)
          }
        })
      } else {
        // 单个删除
        if (data.id) {
          ids.push(data.id)
        }
      }
      if (!ids.length) {
        let message = types ? '未选择或消息id无效' : 'id不存在'
        this.warn(message)
        return false
      }
      return ids
    },
    /**
     * --列表删除-弹窗
     */
    deleteTableList (index, data, types) {
      let ids = this.deleteCheck(index, data, types)
      if (!ids) {
        return false
      }
      let that = this
      let params = ids
      this.$confirm('确定要删除该快捷语吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        that.deleteTableListSure(params, types)
      }).catch(() => {
        if (types) {
          this.removeChecked()
        }
      })
    },
    /**
     * --列表删除-确认删除
     */
    async deleteTableListSure (data, types) {
      await deviceManageApi.qReplayReplayListDelete(data).then(() => {
        this.success('删除成功!')
        if (types) {
          this.removeChecked()
        }
        this.getTableList()
      })
    },
    /**
     * --列表--上移/下移
     */
    async sortChange (index, data, typeVal) {
      if (data.id) {
        let params = {}
        params.id = data.id
        params.mindex = data.mindex
        params.moveType = typeVal
        params.groupId = this.params.quickReplyGroupId
        await deviceManageApi.qReplayReplaySort(params).then(() => {
          this.success('修改成功!')
          this.getTableList()
        })
      }
    },
    /**
     * 右侧--快捷回复--新增--弹窗--显示
     */
    showRightQuikeReplayAddDialog () {
      if (this.params.quickReplyGroupId) {
        this.dialogRightQuikeReplayAdd = {
          show: true,
          id: this.params.quickReplyGroupId
        }
      } else {
        this.warn('请先选择左侧快捷分组')
      }
    },
    /**
     * 右侧--快捷--新增--弹窗--关闭
     */
    closeRightQuikeReplayAddDialog () {
      this.dialogRightQuikeReplayAdd = {}
    },
    refreshRightTabelList () {
      this.params.current = 1
      this.getTableList()
      this.closeRightQuikeReplayAddDialog()
      this.closeRightQuikeReplayModifyDialog()
    },
    /**
     * 右侧--快捷--编辑--弹窗--显示
     */
    showRightQuikeReplayModifyDialog (index, item) {
      this.dialogRightQuikeReplayModify = {
        show: true,
        id: this.params.quickReplyGroupId,
        data: item
      }
      // console.log(this.dialogRightQuikeReplayModify, '---------')
    },
    /**
     * 右侧--快捷--编辑--弹窗--关闭
     */
    closeRightQuikeReplayModifyDialog (index, data) {
      this.dialogRightQuikeReplayModify = {}
    }
  }
}
</script>
