<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="标题"
                    class="ly-margin-right-bottom-sm"
                    v-model.trim="params.title"
                    @keyup.native.enter="queryCallback"
                    :maxlength="100"
                    clearable>
          </el-input>
          <el-select clearable
                     v-model="params.msgType"
                     placeholder="消息类型"
                     class="ly-margin-right-bottom-sm">
            <el-option v-for="item in SELECT_MESSAGE_TYPE"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-input placeholder="所属客服"
                    class="ly-margin-right-bottom-sm"
                    v-model.trim="params.selStaffName"
                    @keyup.native.enter="queryCallback"
                    :maxlength="100"
                    clearable>
          </el-input>
          <!--<ownCustomer placeholder="所属客服"-->
                       <!--v-model="params.selStaffId"></ownCustomer>-->
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="small"
                     @click="queryCallback">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-margin-top-sm ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="消息类型"
                         width="120">
          <template slot-scope="scope">
            <span>{{ MESSAGE_TPYE[scope.row.msgType] }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="title"
                         label="标题"
                         width="120">
        </el-table-column>
        <el-table-column label="消息内容">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
        </el-table-column>
        <el-table-column prop="belongGroup"
                         label="所属分组"
                         show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="belongStaff"
                         label="所属客服"
                         show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="最后更新时间"
                         show-overflow-tooltip>
          <template slot-scope="scope">
            {{scope.row.updateTime | date}}
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small"
                       @click="delRepalyInfo(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="pageChange" />
      </div>
    </div>
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import { ownCustomer } from '@/components/packages/system/lazySelect'
import videoAudioImg from '@/components/common/videoAudioImg'
import { MESSAGE_TPYE } from '@/constants/messageType'
import { SELECT_MESSAGE_TYPE } from '@/constants/selects'
import { tableMixin } from '@/mixins'
export default {
  mixins: [tableMixin],
  components: { ownCustomer, videoAudioImg },
  data() {
    return {
      activeNames: ['1'],
      SELECT_MESSAGE_TYPE: SELECT_MESSAGE_TYPE,
      MESSAGE_TPYE: MESSAGE_TPYE,
      params: {
        title: '',
        msgType: '',
        selStaffName: ''
      },
      tableData: {}
    }
  },
  created() {},
  methods: {
    /**
     * 下属快捷回复--获取列表
     */
    async requestTableList() {
      await deviceManageApi.subquikRelayGetList(this.params).then((data) => {
        data.records.forEach(o => {
          o.msgSource = o.msgText
          if (o.msgType === 4) {
            o.vedioImg = o.vedioImg
          }
        })
        this.tableData = data
      })
    },
    queryCallback() {
      this.getTableList(1)
    },
    /**
     * 下属快捷回复--分页请求
     */
    pageChange(pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    /**
     * 下属快捷回复--是否删除
     */
    delRepalyInfo(index, data) {
      let that = this
      this.$confirm('确定要删除该快捷回复吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        that.delRepalyInfoToServer(data)
      }).catch(() => { })
    },
    /**
     * 下属快捷回复--确认删除
     */
    async delRepalyInfoToServer(data) {
      await deviceManageApi.subquikRelayDeleteList(data.id).then((res) => {
        this.success('删除成功')
        this.getTableList()
      })
    }
  }
}
</script>
