<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse
      v-model="activeNames"
      class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
      :class="{'ly-padding-bottom-sm':!activeNames[0]}"
    >
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i
              class="el-icon-arrow-down"
              :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"
            ></i>
            {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input
            placeholder="IMEI号"
            class="ly-margin-right-bottom-sm"
            v-model.trim="params.imei"
            @keyup.native.enter="queryCallback"
            :maxlength="100"
            clearable
          ></el-input>

          <el-select
            clearable
            v-model="params.status"
            placeholder="设备下发状态"
            class="ly-margin-right-bottom-sm"
          >
            <el-option
              v-for="item in Statu"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>

          <el-select
            clearable
            v-model="params.provider"
            placeholder="供应商"
            class="ly-margin-right-bottom-sm"
          >
            <el-option
              v-for="item in providerList"
              :key="item"
              :value="item"
            ></el-option>
          </el-select>

          <el-select
            clearable
            v-model="params.packageName"
            placeholder="套餐"
            class="ly-margin-right-bottom-sm"
          >
            <el-option
              v-for="item in packageList"
              :key="item"
              :value="item"
            ></el-option>
          </el-select>

          <!-- button -->
          <el-button class="ly-float-right" type="primary" size="small" @click="queryCallback">查询</el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary" size="small" @click="exportCallback">导出</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table
        ref="multipleTable"
        :data="tableData.records"
        tooltip-effect="dark"
        style="width: 100%"
        max-height="500"
        row-key="id"
        @selection-change="handleSelectionChange"
      >
        <!--  :selectable="selectAble" -->
        <el-table-column type="selection" fixed="left" reserve-selection width="55"></el-table-column>
        <el-table-column
          fixed="left"
          prop="eqCode"
          label="设备编号"
          width="80"
          class-name="ly-text-center"
        ></el-table-column>
        <el-table-column prop="imei" fixed="left" label="IMEI" width="150"></el-table-column>
        <el-table-column prop="provider" label="供应商"></el-table-column>
        <el-table-column prop="packageName" label="套餐"></el-table-column>
        <el-table-column prop="locationInfo" min-width="112" label="坐标"></el-table-column>

        <el-table-column prop="status" label="下发状态"></el-table-column>

        <el-table-column prop="branchInfo" label="品牌"></el-table-column>
        <el-table-column prop="eqModel" label="型号"></el-table-column>
        <el-table-column prop="osVersion" label="系统OS"></el-table-column>
        <el-table-column prop="softVersion" label="软件版本"></el-table-column>

        <el-table-column prop="createTime" label="入库时间" width="160">
          <template slot-scope="scope">{{fmt.date(scope.row.createTime) || '--'}}</template>
        </el-table-column>
        <el-table-column prop="issueTime" label="下发时间" width="160">
          <template slot-scope="scope">{{fmt.date(scope.row.issueTime) || '--'}}</template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <div>
          <el-button type="primary" size="small" @click="assignStaffMore">批量管理套餐或供应商</el-button>
        </div>
        <vma-pagination
          class="ly-text-right ly-box-1"
          :pageNum="params.current"
          :page-size="params.size"
          :total="tableData.total"
          @change="pageChange"
        />
      </div>

      <!--管理套餐和供应商弹窗-->
      <el-dialog
        title="管理套餐和供应商"
        width="489px"
        :visible.sync="dialogAssignStaffInfo.show"
        v-if="dialogAssignStaffInfo.show"
        @close="closeAssignStaffDialog"
        append-to-body
      >
        <el-form :model="params" ref="ruleForm">
          <el-form-item label="套餐" :label-width="formLabelWidth">
            <el-input v-model="params.packageName" autocomplete="off" clearable></el-input>
          </el-form-item>
          <el-form-item label="供应商" :label-width="formLabelWidth">
            <el-input v-model="params.provider" autocomplete="off" clearable></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeAssignStaffDialog">取 消</el-button>
          <el-button type="primary" @click="changeproAndPac()">确 定</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { downloadFile } from "@/utils";
import { warehouseManageApi } from "@/api/system";
import { tableMixin } from "@/mixins";
export default {
  mixins: [tableMixin],
  watch: {},
  data() {
    return {
      providerList:[],
      packageList:[],
      Statu: [
        {
          value: "1",
          label: "未下发"
        },
        {
          value: "2",
          label: "已下发"
        }
      ],

      activeNames: ["1"],
      tableData: [{ eqModel: 12344 }],
      tableSelectArr: [],
      dialogAssignStaffInfo: {},
      dialogFormVisible: false,
      params: {
        imei: "",
        status: "",
        current: 1,
        size: 20,
        provider: "",
        packageName: ""
      }
    };
  },

  created() {
    this.getproviderList()
    this.getpackageList()
  },
  computed: {},
  methods: {
    /**
     * 入库管理--查询
     */
    queryCallback() {
      this.getTableList(1)
    },
    /**
     * 入库管理--获取列表
     */
    async requestTableList() {
      await warehouseManageApi.warehouseList(this.params).then(data => {
        // data.records.forEach(o => {
        //   o.info = {
        //     headIcon: o.perNeadIco,
        //     wxId: o.wxId,
        //     nickName: o.perNickName,
        //     phone: o.perPhone,
        //     account: o.account,
        //     row: o
        //   }
        // })
        this.tableData = data;
      });
    },
    /**
     * 入库管理--获取运营商列表
     */
    async getproviderList() {
      await warehouseManageApi.getproviderList(this.params).then(data => {
        this.providerList = data
      });
    },
    /**
     * 入库管理--获取套餐列表
     */
     async getpackageList() {
      await warehouseManageApi.getpackageList(this.params).then(data => {
        this.packageList = data
      });
    },
    // 导出
    exportCallback() {
      warehouseManageApi.warehouseExport(this.params).then(res => {
        downloadFile(res, "入库设备统计.xls");
        this.success("恭喜你，导出成功");
      });
    },
    /**
     * 入库管理--分页请求
     */
    pageChange(pageNum, pageSize) {
      this.getTableList(pageNum, pageSize);
    },
    /**
     * 入库管理--批量
     */
    assignStaffMore() {
      let state = this.checkTableCheckNum();
      if (state > 100) {
        return this.warning(
          `单次最多允许分配[100]个设备, 当前已选[${state}]个设备`
        );
      }
      if (state) {
        this.showAssignStaffDialog(2, "", this.tableSelectArr);
      }
    },
    /**
     * 批量操作记录选择校验
     */
    checkTableCheckNum() {
      if (!this.tableSelectArr.length) {
        this.warn("请选择要设置的设备");
      }
      return this.tableSelectArr.length || false;
    },
    /**
     * 批量修改套餐或供应商弹窗--显示
     */
    showAssignStaffDialog(type, index, data) {
      this.dialogAssignStaffInfo = this.setDialogInfoStaffOrGroup(type, data);
    },
    /**
     * 批量修改套餐或供应商弹窗--关闭
     */
    closeAssignStaffDialog() {
      if (this.dialogAssignStaffInfo.typeVal === 2) {
        this.removeChecked();
      }
      this.dialogAssignStaffInfo = {};
    },
    /**
     * 表格左侧选择
     */
    handleSelectionChange(val) {
      // let disabled = false
      this.tableSelectArr = val;
      // for (let i = 0; i < val.length; i++) {
      //   if (!(val[i].power === 1 && val[i].isGroupPower === 1)) {
      //     disabled = true
      //     break
      //   }
      // }
      // this.moreControl = disabled
    },
    /**
     * 表格左侧选择--清除
     */
    removeChecked() {
      this.clearSelection("multipleTable");
      // this.moreControl = false
    },
    // selectAble(row, index) {
    //   if (row.power === 1) {
    //     return true
    //   } else {
    //     return false
    //   }
    // },
    /**
     * 设置分组或分配员工弹窗的初始化参数
     */
    setDialogInfoStaffOrGroup(type, data, staffId) {
      let ids = [];
      let staffIdVal = null;
      if (type === 1) {
        ids[0] = data.id;
        staffIdVal = data.staffId;
      } else {
        this.tableSelectArr.forEach(o => {
          ids.push(o.id);
        });
        staffIdVal = staffId;
      }
      let dialogInfo = {
        typeVal: type,
        ids: ids,
        show: true,
        data: data,
        staffId: staffIdVal
      };
      return dialogInfo;
    },
    // 批量更改套餐和供应商
    async changeproAndPac() {
      let param = {
        id: JSON.stringify(this.dialogAssignStaffInfo.ids),
        provider: this.params.provider,
        packageName: this.params.packageName
      };

      // this.params.id = this.dialogAssignStaffInfo.ids
      // console.log(param)
      await warehouseManageApi.updateproAndPacApi(param).then(res => {
        this.success("已发送!");
        this.dialogAssignStaffInfo.show = false;
        this.removeChecked();
        // this.colseDialog()
        this.getTableList();
        this.getproviderList()
        this.getpackageList()
        // this.$refs[ruleForm].resetFields();
        this.params.provider = "", 
        this.params.packageName = "";
      });
    }
  }
};
</script>
