<template>
  <div class="ly-height-100 ly-bg-white">
    <div class="ly-bg-white ly-padding-sm setting">
      <div>
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">保存群图片</span>
        </div>
        <div class="padding-wxSetting ly-box ly-box-align-center line-height-20">
          <span class="ly-font-color-4 ly-font-14">不保存群图片</span>
          <el-switch v-model="params.groupImg"
                     active-color="#4CD964"
                     class="ly-padding-horizontal-sm"
                     @change="modifySetInfo">
          </el-switch>
          <span class="ly-font-color-4 ly-font-14">保存群图片</span>
        </div>
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">保存个人图片</span>
        </div>
        <div class="padding-wxSetting ly-box ly-box-align-center line-height-20">
          <span class="ly-font-color-4 ly-font-14">不保存个人图片</span>
          <el-switch v-model="params.personalImg"
                     active-color="#4CD964"
                     class="ly-padding-horizontal-sm"
                     @change="modifySetInfo">
          </el-switch>
          <span class="ly-font-color-4 ly-font-14">保存个人图片</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
export default {
  data() {
    return {
      params: {
        groupImg: '',
        personalImg: ''
      }
    }
  },
  created() {
    this.getSetInfo()
  },
  methods: {
    /**
     * 微信设置信息--获取
     */
    async getSetInfo() {
      await deviceManageApi.wSetGetinfo().then((res) => {
        let trueVal = true
        this.params.groupImg = res.groupImg === 1 ? trueVal : false
        this.params.personalImg = res.personalImg === 1 ? trueVal : false
      })
    },
    /**
     * 微信设置信息--获取
     */
    async modifySetInfo() {
      let groupImg = this.params.groupImg ? 1 : 0
      let personalImg = this.params.personalImg ? 1 : 0
      let params = {
        groupImg: groupImg,
        personalImg: personalImg
      }
      await deviceManageApi.wSetModifyinfo(params).then((res) => {
        this.success('修改成功')
      })
    }
  }
}
</script>
