<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.keyWord"
                    placeholder="微信号/微信昵称/手机号"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <el-date-picker class="ly-margin-right-bottom-sm"
                          type="daterange"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          value-format="timestamp"
                          @change="dateChange"
                          v-model="date"
                          clearable>
          </el-date-picker>
          <!-- <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          @change="dateChange">
          </el-date-picker> -->
          <!-- button -->
           <!--部门级联已经调整-->
          <departmenTreeCascadert v-model="departmentId"
                                  filterable
                                  clearable
                                  placeholder="团队"
                                  :blackData="true"
                                  class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="exportCallback">导出</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="个人号信息"
                         min-width="200"
                         fixed>
          <template slot-scope="scope">
            <div class="ly-box"
                 v-if="scope.row.acountInfo">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px"
                     :src="scope.row.acountInfo.headIcon | wechatAvtor"
                     v-image-view />
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.acountInfo.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.acountInfo.phone}}</p>
                <p class="ly-margin-top-4">{{scope.row.acountInfo.wxAccount}}</p>
              </div>
            </div>
            <div v-else>--</div>
          </template>
        </el-table-column>
        <el-table-column prop="receiveRedPackageTime"
                         label="收红包（次数）"
                         min-width="120">
        </el-table-column>
        <el-table-column prop="sendRedPackageTime"
                         label="发红包（次数）"
                         min-width="120">
        </el-table-column>
        <el-table-column prop="receiveRedPackageConfirmTime"
                         label="收红包确认（次数）"
                         min-width="150">
        </el-table-column>
        <el-table-column prop="sendRedPackageConfirmTime"
                         label="发红包确认（次数）"
                         min-width="150">
        </el-table-column>
        <el-table-column prop="receiveRedPackage"
                         label="收红包确认（金额）"
                         min-width="150">
        </el-table-column>
        <el-table-column prop="receiveTransferTime"
                         label="收转账（次数）"
                         min-width="120">
        </el-table-column>
        <el-table-column prop="sendTransferTime"
                         label="发转账（次数）"
                         min-width="120">
        </el-table-column>
        <el-table-column prop="receiveTransfer"
                         label="收转账（金额）"
                         min-width="120">
        </el-table-column>
        <el-table-column prop="sendTransfer"
                         label="发转账（金额）"
                         min-width="120">
        </el-table-column>
        <el-table-column prop="receiveTransferConfirmTime"
                         label="收转账确认（次数）"
                         min-width="150">
        </el-table-column>
        <el-table-column prop="sendTransferConfirmTime"
                         label="发转账确认（次数）"
                         min-width="150">
        </el-table-column>
        <el-table-column prop="receiveTransferConfirm"
                         label="收转账确认（金额）"
                         min-width="150">
        </el-table-column>
        <el-table-column prop="sendTransferConfirm"
                         label="发转账确认（金额）"
                         min-width="150">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { downloadFile } from '@/utils'
import { riskManagementApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  mixins: [tableMixin],
  components:{
    departmenTreeCascadert
  },
  watch: {
    departmentId: function (val, oldVal) {
      if (val.length) {
        this.params.departmentId = val[val.length - 1]
      } else {
        this.params.departmentId = ''
      }
    }
  },
  data() {
    return {
      activeNames: ['1'],
      departmentId: [],
      date: [],
      params: {
        keyWord: '',
        from: '',
        to: '',
        departmentId: '',
      },
      blackData: [{
        name: '无',
        id: 0
      }],
      
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await riskManagementApi.financeList(this.params).then(res => {
        this.tableData = res
      })
    },
    // 导出
    exportCallback() {
      riskManagementApi.financeExport(this.params).then((res) => {
        downloadFile(res, '微信财务统计.xls')
        this.success('恭喜你，导出成功')
      })
    },
    dateChange(val) {
      val = val || []
      this.params.from = val[0] || ''
      this.params.to = val[1] || ''
    }
  }
}
</script>
