<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="groupName"
                    placeholder="群名称"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getList">
          </el-input>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getList">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <el-container class="ly-margin-top-sm">
      <!-- 重复群 -->
      <el-aside class="ly-sidebar ly-margin-right-sm">
        <div class="title">
          <span class="ly-vertical-line">重复群</span>
        </div>
        <ul class="ly-sidebar-list"
            style="max-height: 550px;overflow-y: auto;">
          <li class="ly-sidebar-item ly-box"
              v-for="(item,index) in list"
              :key="index"
              :class="{'active':isActive===index}"
              @click="getTableList(1,'',item.wxId,index)">
            <img class="photo"
                 :src="item.headIcon | wechatAvtor"
                 v-image-view />
            <div class="ly-box-1">
              <p class="ly-font-14 ly-font-color-3 ell"
                 :title="item.groupName || ''">{{item.groupName || ''}}</p>
              <p class="ly-font-14 ly-font-color-2 ell">{{ item.wxId || '' }}</p>
            </div>
          </li>
        </ul>
        <p class="ly-text-center"
           v-if="list.length===0">暂无数据</p>
      </el-aside>
      <!-- 数据列表 -->
      <el-main class="ly-bg-white ly-padding-sm">
        <!-- 表头 -->
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
          </div>
          <span class="ly-margin-top-nge-4">
            <el-button type="primary"
                       size="small"
                       @click="exportCallback">导出重复群</el-button>
          </span>
        </div>
        <!-- 表格 -->
        <el-table ref="multipleTable"
                  :data="tableData.records"
                  tooltip-effect="dark"
                  style="width: 100%"
                  max-height="500">
          <el-table-column prop="name"
                           label="所属个人号"
                           min-width="200">
            <template slot-scope="scope">
              <div class="ly-box"
                   v-if="scope.row.userInfo">
                <div class="ly-margin-right-xs">
                  <img class="ly-wh-50px"
                       :src="scope.row.userInfo.headIcon | wechatAvtor"
                       v-image-view />
                </div>
                <div class="ly-box-1 ly-font-color-2 line-height-14">
                  <p class="ly-font-color-3">{{scope.row.userInfo.nickName}}</p>
                  <p class="ly-margin-top-4">{{scope.row.userInfo.phone}}</p>
                  <p class="ly-margin-top-4">{{scope.row.userInfo.wxAccount}}</p>
                </div>
              </div>
              <div v-else>--</div>
            </template>
          </el-table-column>
          <el-table-column prop="staffName"
                           label="已分配员工">
            <template slot-scope="scope">
              <div>{{scope.row.staffName || '--'}}</div>
            </template>
          </el-table-column>
          <el-table-column prop="name"
                           label="最早聊天时间"
                           min-width="160">
            <template slot-scope="scope">
              <span>{{fmt.date(scope.row.createTime) || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="firstStaffName"
                           label="最早聊天员工">
            <template slot-scope="scope">
              <div>{{scope.row.firstStaffName || '--'}}</div>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="ly-box ly-margin-top-sm"
             v-if="tableData.total>0">
          <vma-pagination class="ly-text-right ly-box-1"
                          :pageNum="params.current"
                          :total="tableData.total"
                          :pageSize="params.size"
                          @change="getTableList" />
        </div>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import { downloadFile } from '@/utils'
import { riskManagementApi } from '@/api/system'
import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [resourceMixin],
  data() {
    return {
      activeNames: ['1'],
      list: [],
      tableData: {},
      groupName: '',
      params: {
        current: 1,
        size: 10,
        wxId: null
      },
      isActive: null
    }
  },
  created() {
    this.getList()
  },
  computed: {
    // 显示/导出好友微信号,微信id,手机号
    filtersAction(val) {
      return function (val) {
        let hasAction = this.hasResourceAction(RESOURCE_ACTION_MAP.WECHAT_EXPORT)
        if (!hasAction) {
          let value = val.slice(0, 4) + '********'
          return value
        } else {
          return val || ''
        }
      }
    }
  },
  methods: {
    // 获取重复好友列表
    getList() {
      riskManagementApi.repeatGroups({ groupName: this.groupName }).then(res => {
        this.list = res
        if (res.length > 0) {
          this.getTableList(1, this.params.size, res[0].wxId, 0)
        }
      })
    },
    // 获取列表
    getTableList(pageNum, pageSize, id, index) {
      this.params.wxId = id
      this.isActive = index
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      riskManagementApi.repeatGroupsList(this.params).then(res => {
        this.tableData = res
      })
    },
    // 导出
    exportCallback() {
      riskManagementApi.repeatGroupsExport().then((res) => {
        downloadFile(res, '重复群.xls')
        this.success('恭喜你，导出成功')
      })
    }
  }
}
</script>
