<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down" :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i>
            {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.keyWord" placeholder="微信号/微信昵称/手机号" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)"></el-input>
          <el-select v-model="params.status" class="ly-margin-right-bottom-sm" placeholder="处理状态" clearable>
            <el-option v-for="item in processState" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
          <el-select @change='showVal' v-model="params.isNormal" class="ly-margin-right-bottom-sm" placeholder="异常" clearable>
            <el-option v-for="item in normalState" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
          <el-select v-model="params.action" class="ly-margin-right-bottom-sm" placeholder="敏感行为" clearable>
            <el-option v-for="item in actionState" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
          <!-- 敏感层级 -->
          <el-select class="ly-margin-right-bottom-sm" v-model="params.sensitiveLevel" clearable style="width: 170px" placeholder="请选择敏感词层级">
            <el-option v-for="item in sensitiveOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
          <el-input v-model.trim="params.ownerStaffName" placeholder="好友/群所属员工" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)"></el-input>
          <el-input v-model.trim="params.eqOwnerStaffName" placeholder="设备所属员工" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)"></el-input>
          <!-- 敏感词分组 -->
          <el-input v-model.trim="params.groupName" placeholder="敏感词分组" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)"></el-input>
          <!-- 敏感类型 -->
          <el-select class="ly-margin-right-bottom-sm" v-model="params.riskType" clearable style="width: 170px" placeholder="敏感类型">
            <el-option v-for="item in RISK_TYPE" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
          <el-date-picker v-model="date" class="ly-margin-right-bottom-sm" type="daterange" size="small" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" @change="dateChange"></el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right" type="primary" size="medium" @click="getTableList(1)">查询</el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button size="small" @click="openCallback($event,'set')">设置</el-button>
          <el-button type="primary" size="small" @click="exportCallback">导出</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" height="500" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
        <el-table-column fixed type="selection" width="55"></el-table-column>
        <el-table-column fixed label="敏感内容" min-width="130">
          <template slot-scope="scope">
            <div :style="{color:scope.row.color}">
              <span>{{scope.row.riskActionInfo || ''}}</span>
            </div>
          </template>
        </el-table-column>
        <!-- 敏感操作 -->
        <el-table-column fixed label="敏感行为" min-width="130">
          <template slot-scope="scope">
            <div :style="{color:scope.row.color}">
              <span>{{scope.row.actionInfo || ''}}</span>
            </div>
          </template>
        </el-table-column>
        <!-- 敏感词 -->
        <el-table-column label="敏感词" min-width="130">
          <template slot-scope="scope">
            <span>{{scope.row.sensitives}}</span>
          </template>
        </el-table-column>
        <!-- 敏感词层级 -->
        <el-table-column label="敏感词层级" width="150">
          <template slot-scope="scope">
            <span>{{applyRiskLevelCall(scope.row)}}</span>
          </template>
        </el-table-column>
        <!-- 新增敏感词分组 -->
        <el-table-column label="敏感词分组" min-width="130">
          <template slot-scope="scope">
            <span>{{scope.row.groupName}}</span>
          </template>
        </el-table-column>
        <!-- 添加来源 -->
        <el-table-column label="来源" min-width="130">
          <template slot-scope="scope">
            <span>{{scope.row.isBefore===1?'事前':(scope.row.isBefore===2?'事后':'')}}</span>
          </template>
        </el-table-column>

        <el-table-column label="状态">
          <template slot-scope="scope">
            <!-- <span>{{scope.row.isNormal===0?'正常':'异常'}}</span> -->
            <span>{{scope.row.isNormal===2?'待质检':(scope.row.isNormal===0?'正常':'异常')}}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column label="状态">
          <template slot-scope="scope">
            <span class="ly-font-color-5"
                  v-if="scope.row.status==1">已处理</span>
            <span class="ly-cursor-pointer ly-font-color-9"
                  v-else
                  @click="openCallback($event,'handle',scope.row)">待处理</span>
          </template>
        </el-table-column>-->
        <el-table-column prop="staffName" label="操作员工">
          <template slot-scope="scope">
            <div>{{scope.row.staffName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="个人号信息" min-width="200">
          <template slot-scope="scope">
            <div class="ly-box" v-if="scope.row.acountInfo">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px" :src="scope.row.acountInfo.headIcon | wechatAvtor" v-image-view />
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.acountInfo.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.acountInfo.phone}}</p>
                <p class="ly-margin-top-4">{{scope.row.acountInfo.wxAccount}}</p>
              </div>
            </div>
            <div v-else>--</div>
          </template>
        </el-table-column>
        <el-table-column label="好友/群昵称" min-width="200">
          <template slot-scope="scope">
            <div class="ly-box" v-if="scope.row.userOrGroupInfo">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px" :src="scope.row.userOrGroupInfo.headIcon | wechatAvtor" v-image-view />
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.userOrGroupInfo.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.userOrGroupInfo.wxAccount}}</p>
                <p class="ly-margin-top-4">{{scope.row.userOrGroupInfo.wxId}}</p>
              </div>
            </div>
            <div v-else>--</div>
          </template>
        </el-table-column>
        <el-table-column prop="remark" label="好友备注">
          <template slot-scope="scope">
            <div>{{scope.row.remark || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="ownerStaffName" label="好友/群所属员工" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.ownerStaffName || '--'}}</div>
          </template>
        </el-table-column>
        <!-- 增加分中心 团队 坐席工号 -->
        <el-table-column prop="subCenter" label="员工所属分中心" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.subCenter || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="team" label="员工所属团队" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.team || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="agentNumber" label="坐席工号" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.agentNumber || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="eqRemark" label="设备" min-width="120">
          <template slot-scope="scope">
            <div>{{scope.row.eqRemark || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="eqOwnerStaffName" label="设备所属员工" min-width="120">
          <template slot-scope="scope">
            <div>{{scope.row.eqOwnerStaffName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="发生时间" min-width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column fixed="right" prop="name" label="操作" min-width="160">
          <template slot-scope="scope">
            <el-button type="text" size="small">
              <span class="ly-font-color-5" v-if="scope.row.status==1">已处理</span>
              <span class="ly-cursor-pointer ly-font-color-9" v-else @click="openCallback($event,'handle',scope.row)">待处理</span>
            </el-button>
            <el-button type="text" size="small" @click="openCallback($event,'details',scope.row)">详情</el-button>
            <el-button type="text" size="small" v-if="scope.row.accountId && scope.row.talkId" @click="openCallback($event,'chatRecord',scope.row)">聊天记录</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.total>0">
        <div>
          <el-button class="ly-" type="primary" size="small" @click="openCallback($event,'handle')">批量处理</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :total="tableData.total" :pageSize="params.size" @change="getTableList" />
      </div>
    </div>
    <!-- 弹窗 -->
    <el-dialog title="敏感操作设置" :visible.sync="set.open" width="600px" @close="closeCallback('set')" append-to-body>
      <setSensitiveWords :openInfo="set" v-if="set.open" @getTableList="getTableList"></setSensitiveWords>
    </el-dialog>

    <el-dialog title="敏感操作处理" :visible.sync="status.open" width="489px" @close="closeCallback" append-to-body>
      <sensitiveWordsHandle :dataInfo="status" v-if="status.open" @getTableList="getTableList"></sensitiveWordsHandle>
    </el-dialog>

    <el-dialog title="敏感操作详情" :visible.sync="details.open" width="489px" append-to-body>
      <sensitiveWordsDetails :dataInfo="details" v-if="details.open" @getTableList="getTableList"></sensitiveWordsDetails>
    </el-dialog>
    <!-- 聊天记录 -->
    <el-dialog class="dialog-chat-dialog" title="好友以及好友聊天记录" width="1160px" :visible.sync="chatRecord.show" v-if="chatRecord.show && chatRecord.type===1" @close="chatRecord.show = false" append-to-body>
      <chatRecordFriends :chatRecordInfo="chatRecord" @closeFriendsDialog="chatRecord.show = false"></chatRecordFriends>
    </el-dialog>
    <el-dialog title="微信群聊天记录" width="1192px" class="dialog-chat-dialog" :visible.sync="chatRecord.show" v-if="chatRecord.show && chatRecord.type===2" @close="chatRecord.show = false" append-to-body>
      <chatRecordGroup :chatRecordInfo="chatRecord" @closeFriendsDialog="chatRecord.show = false"></chatRecordGroup>
    </el-dialog>
  </div>
</template>

<script>
import {
  riskManagementApi
} from '@/api/system'

import {
  currentMonthOne
} from '@/utils'
import setSensitiveWords from './components/sensitiveOperation/setSensitiveWords'
import sensitiveWordsHandle from './components/sensitiveOperation/sensitiveWordsHandle'
import sensitiveWordsDetails from './components/sensitiveOperation/sensitiveWordsDetails'
import {
  chatRecordFriends,
  chatRecordGroup
} from '@/components/common/chatRecords'
import {
  PROCESS_STATE,
  NORMAL_STATE
} from '@/constants/selects'
import {
  tableMixin
} from '@/mixins'
import {
  RISK_TYPE
} from '@/constants/selects'
export default {
  mixins: [tableMixin],
  components: {
    setSensitiveWords,
    sensitiveWordsHandle,
    sensitiveWordsDetails,
    chatRecordFriends,
    chatRecordGroup
  },
  data () {
    return {
      RISK_TYPE: RISK_TYPE,
      sensitiveOptions: [{
        value: '1',
        label: '一级'
      }, {
        value: '2',
        label: '二级'
      }, {
        value: '3',
        label: '三级'
      }],
      activeNames: ['1'],
      processState: PROCESS_STATE,
      normalState: NORMAL_STATE,
      actionState: [{
        value: '敏感操作',
        label: '敏感操作'
      }, {
        value: '敏感消息',
        label: '敏感消息'
      }, {
        value: '客户体验',
        label: '客户体验'
      }],
      params: {
        keyWord: '',
        status: '',
        isNormal: '',
        ownerStaffName: '',
        equipementGroupId: '',
        eqOwnerStaffName: '',
        action: '',
        sensitiveLevel: '',
        // 敏感词分组
        groupName: '',
        // 敏感词类型
        riskType: ''
      },
      set: {
        open: false
      },
      status: {
        open: false,
        data: {
          remarks: '',
          radio: '1',
          // checkedbox: true,
          ids: []
        }
      },
      details: {
        open: false,
        data: null
      },
      chatRecord: {
        show: false,
        id: null,
        talkId: null,
        type: 1
      }
    }
  },
  created () {
    let currentMonth = currentMonthOne()
    let currentDate = new Date()
    this.date = [currentMonth.getTime(), currentDate.getTime()]
    this.dateChange(this.date)
    console.log('data', this.date)
  },
  methods: {
    // 获取列表
    async requestTableList () {
      await riskManagementApi.operateList(this.params).then(res => {
        this.status.data.ids = []
        this.tableData = res
      })
    },
    // 导出
    exportCallback () {
      // for (let key in this.params) {
      //     if (!this.params[key]) {
      //         delete this.params[key]
      //     }
      // }
      riskManagementApi.operateExport(this.params).then(res => {
        // downloadFile(res, "敏感信息.xls");
        this.success(res)
      })
    },
    showVal (val) {
      // console.log(val)
    },
    // 弹窗-打开
    openCallback (defObj, val, obj) {
      switch (val) {
        case 'set':
          this.set.open = true
          break
        case 'handle':
          if (obj) {
            // 单个操作去除选中状态
            this.$refs.multipleTable.clearSelection()
            this.status.data.ids = [obj.id]
          } else {
            if (this.status.data.ids.length === 0) {
              this.error('请选择要处理的数据')
              return
            }
          }
          this.status.data.remarks = ''
          this.status.open = true
          break
        case 'details':
          this.details.data = obj
          this.details.open = true
          break
        case 'chatRecord':
          this.chatRecord = {
            show: true,
            id: obj.accountId,
            talkId: obj.talkId,
            type: obj.type
          }
          break
      }
    },
    // 列表选择事件-获取选中id
    handleSelectionChange (obj) {
      this.status.data.ids = []
      for (let i = 0; i < obj.length; i++) {
        this.status.data.ids.push(obj[i].id)
      }
    },
    closeCallback (val) {
      if (val === 'set') {
        this.getTableList()
      } else {
        this.$refs.multipleTable.clearSelection()
        this.status.data.ids = []
      }
    },

    // 敏感词层级筛选
    applyRiskLevelCall (data) {
      switch (data.sensitiveLevel) {
        case 1:
          return '一级'
        case 2:
          return '二级'
        case 3:
          return '三级'
        default:
          return '未知层级'
      }
    }
  }
}
</script>
