<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
<div class="ly-clearfix">
    <el-input placeholder="请输入群发名称" class="ly-margin-right-bottom-sm" v-model.trim="params.title" @keyup.native.enter="queryCallback" :maxlength="100" clearable></el-input>
    <el-date-picker class="ly-margin-right-bottom-sm" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" value-format="timestamp" v-model="dateRange" @change="dateChange" clearable>
    </el-date-picker>
    <!-- button -->
    <el-button class="ly-float-right" type="primary" size="medium" @click="queryCallback">查询
    </el-button>
</div>
</el-collapse-item>
</el-collapse>
<div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
    <!-- 表头 -->
    <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
        </div>
    </div>
    <!-- 表格 -->
    <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" class="ly-width-100">
        <el-table-column label="群发内容名称">
            <template slot-scope="scope">
            <p v-if="scope.row.title" class="ly-width-120px ly-ellipsis2" :title="scope.row.title">{{scope.row.title}}</p>
            <span v-else>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="userCount" label="群发好友/群数">
        </el-table-column>
        <el-table-column prop="msgCount" label="消息数">
        </el-table-column>
        <el-table-column prop="successMsgCount" label="已发">
        </el-table-column>
        <el-table-column prop="failMsgCount" label="剩余未发">
        </el-table-column>
        <el-table-column label="群好友数">
        </el-table-column>
        <el-table-column label="消息内容" min-width="140">
            <template slot-scope="scope">
            <videoAudioImg :info="{
              msgType: scope.row.type,
              msgSource: scope.row.content,
              voiceLength: scope.row.voiceLength,
              coverInfo: scope.row.coverInfo
            }"></videoAudioImg>
          </template>
        </el-table-column>
        <el-table-column label="创建时间">
            <template slot-scope="scope">
            {{scope.row.createTime | date}}
          </template>
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="handleOpenDetailLog(scope.row)">群发明细</el-button>
          </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="pageChange" />
    </div>
</div>
<el-dialog :visible.sync="detailLogDiaolog.show" title="群发明细" @close="handleCloseDetailLog" class="ly-full-screen-dailog" append-to-body>
    <pushMessageLog v-if="detailLogDiaolog.show" :data="detailLogDiaolog.data"></pushMessageLog>
</el-dialog>
</div>
</template>

<script>
    import {
        customerServiceApi
    } from '@/api/chat'
    import pushMessageLog from './components/pushMessageLog'
    import {
        tableMixin
    } from '@/mixins'
    import videoAudioImg from '@/components/common/videoAudioImg'

    export default {
        components: {
            pushMessageLog,
            videoAudioImg
        },
        mixins: [tableMixin],
        data() {
            return {
                activeNames: ['1'],
                params: {
                    current: 1,
                    size: 10,
                    title: null,
                    createTimeBegin: null,
                    createTimeEnd: null
                },
                dateRange: [],
                tableData: {
                    total: 0,
                    records: []
                },
                detailLogDiaolog: {
                    show: false,
                    data: {}
                }
            }
        },
        methods: {
            dateChange(val) {
                val = val || []
                this.params.createTimeBegin = val[0] || ''
                this.params.createTimeEnd = val[1] || ''
            },
            // 搜索
            queryCallback() {
                this.getTableList(1)
            },
            // 请求数据
            async requestTableList() {
                let tableData = await customerServiceApi.getPushMessageRecord(this.params)
                if (!tableData) return
                this.tableData = tableData
                // console.log(this.tableData, 'table')
            },
            // 切换页面
            pageChange(pageNum, pageSize) {
                this.getTableList(pageNum, pageSize)
            },
            handleOpenDetailLog(row) {
                this.detailLogDiaolog = {
                    show: true,
                    data: {
                        id: row.id,
                        startRange: row.from || 2,
                        endRange: row.to || 10
                    }
                }
            },
            handleCloseDetailLog() {
                this.detailLogDiaolog = {
                    show: false,
                    data: {}
                }
            }
        }
    }
</script>