<template>
  <div>
    <br />
    <div style="font-size: 1.5rem"
         v-html="$xss(content)"></div>
    <div style="font-size: 1.5rem"
         v-html="parseHTML($xss(content))"></div>

    <vma-pagination :pageNum="1"
                    :total="100" />
    <demo-lazy-select v-model="demo"
                      multiple
                      ref="demoLazySelect" />
    <demo-lazy-cascader v-model="cascader" />
    <demo-lazy-cascader v-model="cascader2" />
    <br />
    <el-button @click="record">{{recording ? '停止录音' : '开始录音'}}</el-button>
    <el-button v-if="recorderData"
               @click="playAudio">播放录音</el-button>
    <audio ref="audio" />
    <br />
    <vma-image-upload v-model="img"
                      :singleFileSize="10" />
    <vma-image-upload v-model="imgList"
                      :limit="3"
                      :singleFileSize="10" />
    <vma-upload v-model="file"
                :exts="['xls', 'xlsx']" />
    <vma-upload v-model="fileList"
                :limit="3" />
    <br />
    <el-input placeholder="请输入视频地址"
              v-model.trim="video">
      <el-button slot="append"
                 icon="el-icon-search"
                 @click.native="generalPoster">获取poster</el-button>
    </el-input>
    <img :src="poster" />
    <br />
    <el-button @click="getEditorContent">editor取值</el-button>
    <el-button @click="setEditorContent">editor设值</el-button>
    <vma-editor ref="editor" />
    <br />
    <wechat-expression @choose="chooseExpress" />
  </div>
</template>

<script>
    import {
        WechatExpression,
        parseHTML
    } from '@/components/libs/wechatExpression'
    import {
        DemoLazySelect
    } from '@/components/packages/system/lazySelect'
    import {
        DemoLazyCascader
    } from '@/components/packages/system/lazyCascader'
    import Recorder from '@/assets/js/recorder'
    import {
        getVideoPoster
    } from '@/utils'
    import VmaEditor from '@/components/libs/editor'
    import Logger from '@/utils/logger'

    export default {
        components: {
            WechatExpression,
            DemoLazySelect,
            DemoLazyCascader,
            VmaEditor
        },
        data() {
            return {
                content: '内容： ',
                demo: [1],
                cascader: [],
                cascader2: [1, 101, 1001],
                recording: false,
                recorderInstance: null,
                recorderData: null,
                img: '',
                imgList: [],
                file: '',
                fileList: [],
                video: 'https://tx2.a.yximgs.com/upic/2018/12/25/13/BMjAxODEyMjUxMzMxNDhfOTc0ODg5OTY4Xzk1NDc1Nzk2NjVfMV8z_b_Bce184f0fbd51b21d18e251e5de9d997c.mp4',
                poster: ''
            }
        },
        methods: {
            parseHTML,
            chooseExpress(icon, e) {
                this.content += icon
            },
            record() {
                if (this.recording === false) {
                    if (!this.recorderInstance) {
                        this.recorderInstance = new Recorder()
                    }
                    this.recorderInstance.open().then(() => {
                        this.recorderInstance.start()
                    }, errMsg => {
                        this.warning(errMsg)
                    })
                } else {
                    if (this.recorderInstance) {
                        this.recorderInstance.stop().then(data => {
                            this.recorderData = data
                            this.recorderInstance.close().then(() => {
                                Logger.log('成功释放录音资源')
                            })
                        }, errMsg => {
                            this.warning(errMsg)
                        })
                    }
                }
                this.recording = !this.recording
            },
            playAudio() {
                const audio = this.$refs.audio
                const recorderData = this.recorderData
                if (!(audio.ended || audio.paused)) {
                    audio.pause()
                }
                audio.src = URL.createObjectURL(recorderData.blob)
                audio.play()
            },
            generalPoster() {
                getVideoPoster(this.video).then(img => {
                    this.poster = img
                })
            },
            getEditorContent() {
                alert(this.$refs.editor.getData())
            },
            setEditorContent() {
                this.$refs.editor.setData('设置的值')
            }
        }
    }
</script>