.maintain {
  text-align: center;

  img {
    display: block;
    margin: rem(200px) auto rem(50px);
    width: rem(306px);
    height: rem(352px);
  }

  p {
    font-size: rem(36px);
    color: #8CB1E2;
  }

  .el-button {
    margin: rem(30px) 0;
    background-color: #8CB1E2;
    border-color: #8CB1E2;

    &:hover {
      background-color: lighten(#8CB1E2, 5%);
      border-color: lighten(#8CB1E2, 5%);
    }
  }
}
