<template>
  <div class="ly-box">
    <div class="framework ly-bg-white ly-padding-horizontal-sm">
      <div class="ly-position-relative ly-padding-vertical-sm">
        <span class="ly-vertical-line ly-font-16 ly-font-color-1 ly-font-weight-300 ly-vertical-middle">组织架构</span>
        <span class="ly-vertical-middle ico_add"></span>
      </div>
      <div class="ly-position-relative">
        <!-- 空白块 -->
        <!-- <div class="white-cover ly-bg-white"></div> -->
        <el-tree :data="data"
                 :props="defaultProps"
                 :expand-on-click-node="false">
            <div class="ly-box ly-box-1 ly-box-align-center"
                 slot-scope="{ node, data }">
              <span class="ly-font-color-3 ly-font-14 ly-box-1 ly-font-weight-300"
                    @click="() => getDepartmentData(data)">{{ node.label }}</span>
              <span class="label-opt">
                <span class="ico_editor"
                      @click="() => editorDepartment()"></span>
                <span class="ico_delete"
                      @click="() => deleteDepartment()"></span>
              </span>
            </div>
        </el-tree>
      </div>
    </div>
    <div class="ly-margin-left-sm ly-width-100">
      <!-- 筛选查询 -->
      <el-collapse v-model="activeNames"
                   class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                   :class="{'ly-padding-bottom-sm':!activeNames[0]}">
        <el-collapse-item name="1">
          <!-- title -->
          <template slot="title"
                    class="ly-box">
            <div class="ly-box-1 ly-font-16 ly-font-color-1">
              <span class="ly-vertical-line">筛选查询</span>
            </div>
            <div class="ly-font-14 ly-font-color-2">
              <i class="el-icon-arrow-down"
                 :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
            </div>
          </template>
          <div class="ly-clearfix">
            <el-input v-model="params.employeeInfo"
                      placeholder="员工信息"
                      class="ly-margin-right-bottom-sm"
                      clearable>
            </el-input>
            <staffDepartmentSelect v-model="params.staffDepartment"
                                   placeholder="所在部门"></staffDepartmentSelect>
            <roleSelect v-model="params.role"
                        placeholder="角色"></roleSelect>
            <!-- button -->
            <el-button class="ly-float-right"
                       type="primary"
                       size="medium"
                       @click="queryCallback">查询
            </el-button>
          </div>
        </el-collapse-item>
      </el-collapse>
      <!-- 数据列表 -->
      <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
        <!-- 表头 -->
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
          </div>
          <span class="ly-margin-top-nge-4">
            <el-button type="primary"
                       size="small">新增员工</el-button>
          </span>
        </div>
        <!-- 表格 -->
        <el-table ref="multipleTable"
                  :data="tableData"
                  tooltip-effect="dark"
                  style="width: 100%">
          <el-table-column label="员工账号">
            <template slot-scope="scope">
              <i class="el-icon-time"></i>
              <span style="margin-left: 10px">{{ scope.row.date }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="name"
                           label="姓名">
          </el-table-column>
          <el-table-column prop="address"
                           label="角色">
          </el-table-column>
          <el-table-column prop="address"
                           label="员工所在部门">
          </el-table-column>
          <el-table-column prop="address"
                           label="手机号">
          </el-table-column>
          <el-table-column prop="address"
                           label="创建时间">
          </el-table-column>
          <el-table-column prop="address"
                           label="是否启用">
            <template slot-scope="scope">
              <el-switch v-model="switchBool"
                         active-color="#13ce66"
                         inactive-color="#ff4949">
              </el-switch>
            </template>
          </el-table-column>
          <el-table-column prop="name"
                           label="操作">
            <template slot-scope="scope">
              <el-button type="text"
                         size="small">编辑</el-button>
              <el-button type="text"
                         size="small">重置密码</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="ly-box ly-margin-top-sm">
          <vma-pagination class="ly-text-right ly-box-1"
                          :pageNum="1"
                          :total="100" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { staffDepartmentSelect, roleSelect } from '@/components/packages/system/lazySelect'

export default {
  components: { staffDepartmentSelect, roleSelect },
  data() {
    return {
      activeNames: ['1'],
      params: {
        employeeInfo: '',
        staffDepartment: '',
        role: ''
      },
      tableData: [],
      data: [{
        label: '公司',
        children: [{
          label: '市场部',
          children: [{
            label: '三级一部'
          }]
        }, {
          label: '产品部',
          children: [{
            label: '三级 1-1-1'
          }]
        }, {
          label: '营销部',
          children: [{
            label: '三级 1-1-1'
          }]
        }]
      }],
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      switchBool: false
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    },
    // 新增员工
    addCall() {
      alert('新增员工')
    }
  }
}
</script>
