.frame {
  display: flex;
  flex-direction: column;
  height: 100vh;
  //min-width: rem(1200px);
  min-width: 1200px;
  max-width: 1920px;
  min-height: rem(400px);
  overflow-x: auto;
  font-size: $font-size-frame;
  color: $color-normal;

  .frame-header {
    height: 65px;
  }

  .frame-body {
    flex: 1;
  }
}

.frame-header {
  text-align: left;

  h2 {
    display: inline-block;
    margin-left: 32px;
    margin-top: 20px;
    line-height: 26px;
    font-size: 0;
    .logo {
      display: inline-block;
      width: 124px;
      height: 26px;
      margin-right: 33px;
    }
    span {
      display: inline-block;
      position: relative;
      padding-left: 29px;
      font-size: 18px;
      height: 26px;
      line-height: 26px;
      color: #fff;
      font-weight: 400;
      vertical-align: top;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        height: 17px;
        border-left: 1px solid #fff;
      }
    }
  }

  .main-head-right {
    margin-right: 32px;
    margin-top: 16px;

    .title-icon {
      font-size: 8px;
      margin-right: 10px;
    }

    .el-dropdown {
      cursor: pointer;
      height: 30px;
      line-height: 30px;

      &:focus {
        outline: none;
      }
    }

    .el-dropdown-link {
      color: #fff;
      font-size: 14px;
    }
  }

  .main-el-header-button {
    height: 30px;
    padding: 0 8px;
    margin-right: 15px;
    font-size: 12px;
    border-radius: 15px;
  }

  .main-el-header-notice-button {
    height: 30px;
    // padding: 0 rem(16px);
    // margin-right: rem(19px);
    margin-left: 16px;
    font-size: 12px;
    border-radius: 15px;
    vertical-align: top;
  }

  .header-toggle {
    margin: 20px;
    font-size: 18px;
    line-height: 30px;

    a {
      color: #CFCFCF;
    }
  }
}

.main-el-header {
  background: $background-color-normal;
  padding: 0;
  box-shadow: 0px rem(5px) rem(5px) 0px rgba(80, 104, 130, 0.1);
  z-index: 1;
}

.main-el-aside {
  background: $nav-color;
  text-align: left;

  .el-menu-item [class^=el-icon-],
  .el-submenu [class^=el-icon-] {
    position: relative;
    width: rem(15px);
    height: rem(15px);
    margin-right: rem(10px);
    margin-left: rem(5px);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .el-menu-item,
  .el-submenu__title {
    height: rem(50px);
    line-height: rem(50px);
  }

  .el-submenu__icon-arrow {
    right: rem(20px);
  }

  ul.main-aside-elmenu {
    min-width: 100%;
    width: 100%;
    background-color: transparent;
    border-right: 0px;

    &:focus {
      outline: none;
    }

    // 以及ul-li
    &>li {

      // 只有一级菜单--开始
      &.el-menu-item {
        font-size: 0;
        padding: 0 rem(15px) !important;

        &>i {
          color: $nav-fontcolor-first;
          font-size: rem(15px);
        }

        &>span {
          display: inline-block;
          width: calc(100% - 26px);
          color: $nav-fontcolor-first;
          font-size: rem(14px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: break-all;
        }
      }

      // 一级菜单：hover
      &.el-menu-item:hover {
        background-color: $nav-bgcolor-first-hover;

        &>i {
          color: $nav-fontcolor-first-hover;
        }

        &>span {
          color: $nav-fontcolor-first-hover;
        }
      }

      &:focus {
        background-color: transparent;
      }

      // 一级菜单：is-active
      &.el-menu-item.is-active {
        background-color: $nav-bgcolor-first-active;

        &>i {
          color: $nav-fontcolor-first-active;
        }

        &>span {
          color: $nav-fontcolor-first-active;
        }
      }

      &.el-menu-item.is-active:hover {
        background-color: $nav-bgcolor-first-hover;

        &>i {
          color: $nav-fontcolor-first-hover;
        }

        &>span {
          color: $nav-fontcolor-first-hover;
        }
      }

      // 只有一级菜单--结束
      // 有多级级菜单--开始
      &.el-submenu {
        &>div.el-submenu__title {
          padding: 0 rem(15px) !important;
          font-size: 0;

          &>i:first-child {
            font-size: rem(15px);
            color: $nav-fontcolor-first;
          }

          &>span {
            display: inline-block;
            width: calc(100% - 35px);
            font-size: rem(14px);
            color: $nav-fontcolor-first;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
          }

          &>i:last-child {
            margin-top: rem(-7px);
            right: rem(20px);
            font-size: rem(15px);
            color: $nav-fontcolor-first;
          }
        }

        &>div.el-submenu__title:hover {
          background-color: $nav-bgcolor-first-hover;

          &>i:first-child {
            color: $nav-fontcolor-first-hover;
          }

          &>span {
            color: $nav-fontcolor-first-hover;
          }

          &>i:last-child {
            color: $nav-fontcolor-first-hover;
          }
        }

        &>ul.el-menu {
          background-color: transparent;

          li {
            width: 100% !important;
            min-width: inherit !important;
          }

          // 二级菜单--开始
          &>li.el-menu-item-group {
            &>div.el-menu-item-group__title {
              display: none;
            }

            &>ul>li {
              padding: 0 rem(35px) !important;
              padding-right: rem(10px) !important;
              height: rem(45px);
              line-height: rem(45px);
              font-size: rem(14px);
              color: $nav-fontcolor-second;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
            }

            &>ul>li:focus {
              background-color: transparent;
              color: $nav-fontcolor-second;
            }

            &>ul>li:hover {
              background-color: $nav-bgcolor-second-hover;
              color: $nav-fontcolor-second-hover;
            }

            &>ul>li.el-menu-item.is-active {
              background-color: $nav-bgcolor-second-active;
              color: $nav-fontcolor-second-active;

              &:hover {
                background-color: $nav-bgcolor-second-hover;
                color: $nav-fontcolor-second-hover;
              }
            }
          }

          // 二级菜单--结束
          &>li.el-submenu {
            &>div.el-submenu__title {
              height: rem(45px);
              line-height: rem(45px);
              padding-left: rem(35px) !important;
              font-size: rem(14px);

              &>span {
                display: inline-block;
                width: calc(100% - 15px);
                font-size: rem(14px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: break-all;
                color: $nav-fontcolor-second;
              }

              &>i {
                color: $nav-fontcolor-second;
              }
            }

            &>div.el-submenu__title:hover {
              background-color: $nav-bgcolor-second-hover;

              &>span {
                color: $nav-fontcolor-second-hover;
              }

              &>i {
                color: $nav-fontcolor-second-hover;
              }
            }

            &>ul.el-menu {
              background-color: transparent;

              &>li {
                width: 100% !important;
                height: rem(45px);
                line-height: rem(45px);
                font-size: rem(14px);
                padding-left: rem(45px) !important;
                padding-right: rem(10px) !important;
                color: $nav-fontcolor-third;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: break-all;
              }

              &>li:focus {
                background-color: transparent;
                color: $nav-fontcolor-third;
              }

              &>li:hover {
                background-color: $nav-bgcolor-third-hover;
                color: $nav-fontcolor-third-hover;
              }

              &>li.el-menu-item.is-active {
                background-color: $nav-bgcolor-third-active;
                color: $nav-fontcolor-third-active;

                &:hover {
                  background-color: $nav-bgcolor-third-hover;
                  color: $nav-fontcolor-third-hover;
                }
              }
            }
          }

          &>li.el-submenu:focus {
            outline: none;
          }
        }
      }

      &.el-submenu.is-opened {
        background-color: $nav-bgcolor-open;
      }

      // 有多级菜单--结束
    }
  }
}

.frame-body {
  height: 100%;
  display: flex;
  overflow: hidden;

  .frame-nav {
    width: rem(190px);
    min-width: 130px;
  }

  .frame-wrapper {
    flex: 1;
  }
}

.frame-nav {
  //padding: 0 0 rem(20px);
  height: 100%;
  overflow: auto;
  background: $nav-color;

  .user {
    padding: rem(48px) 0;
    text-align: center;

    .user-avtor {
      width: rem(100px);
      height: rem(100px);
      border-radius: 50%;
    }

    p {
      margin: rem(5px) rem(20px);
      font-size: rem(16px);
      line-height: rem(20px);
      color: #8995A0;
      @extend %ellipse;
    }
  }

  .nav {
    overflow: auto;

    li {
      &.active {
        &>a {
          background: darken($nav-color_active, 10%);
        }

        &>.nav-child {
          background: darken(#262B2E, 5%);
        }
      }
    }

    a {
      display: block;
      position: relative;
      height: rem(70px);
      padding: 0 rem(52px) 0 rem(88px);
      font-size: rem(20px);
      line-height: rem(70px);
      color: #F1F1F1;
      transition: background .2s linear;
      @extend %clearfix;
      @extend %ellipse;

      &:hover {
        background: $nav-color_hover;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: rem(50px);
        transform: translateY(-50%);
        transition: color, transform .2s linear;
      }

      .nav-arrow {
        position: absolute;
        top: 50%;
        right: rem(20px);
        transform: translateY(-50%);
      }
    }

    li.active,
    a:hover {
      .icon {
        transform: scale(1.4) translateY(-50%);
      }
    }

    a:hover {
      color: $theme-primary;
    }

    li.active {
      a {
        color: darken(#FFF, 10%);
      }
    }

    .nav-child {
      li {
        &.active {
          &>a {
            background: $nav-color_active;
          }
        }
      }

      a {
        padding: 0 rem(36px) 0 rem(100px);
      }
    }

    .nav-nodata {
      font-size: rem(18px);
      text-align: center;
      color: #F1F1F1;
    }
  }
}

.frame-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  background: #F1F4F6;

  .frame-main {
    position: relative;
    flex: 1;
    padding: 0 rem(20px);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    .container {
      padding: 0;
      padding-top: rem(20px);
      padding-bottom: rem(20px);
    }
  }
}

.frame-control {
  position: relative;
  display: flex;
  height: rem(50px);
  width: 100%;
  //border-bottom: 2px solid #F1F1F1;
  background: #FFF;
  @extend %clearfix;

  &.main-tags {
    position: relative;

    &.frame-control {
      position: relative;
      z-index: 5;
      box-shadow: 0px rem(5px) rem(5px) 0px rgba(80, 104, 130, 0.1);
    }

    button {
      height: 100%;
      padding: 0 rem(20px);

      &.el-button--text {
        color: $nav-color;
        font-size: rem(14px);
      }

      i {
        margin-left: rem(15px);
      }
    }
  }

  .tags-border-right {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: rem(17px);
      height: rem(15px);
      border-right: 1px solid #ddd;
    }
  }

  .tags-menu {
    width: rem(150px);
    text-align: center;

    button:hover {
      cursor: default;
    }
  }

  .tags-ul {
    flex: 1;
    display: flex;
    overflow-x: auto;

    &>.tags-li:last-child:after {
      display: none;
    }

    &>.tags-li {
      transition: all 0.3s linear;
    }

    &>.tags-li:hover {
      background-color: #f3f5f7;
    }

    &>.tags-li.active {
      background-color: #F1F4F6;

      &:hover {
        background-color: #F1F4F6;
      }
    }

    &>.tags-li i {
      transition: all 0.3s linear;

      &:hover {
        color: #409EFF;
        font-weight: bold;
        transform: rotate(180deg);
      }
    }
  }
}

.main-el-main {
  padding: 0;
}

.el-dropdown-menu {
  &.menu-icon {
    text-align: right;
    .el-dropdown-menu__item {
      min-width: 50px;
    }
  }

  i {
    margin-right: 10px;
  }
}

.main-head-notice {
  display: block;
  width: 20px;
  height: 22px;
  margin-top: 5px;
}
.ly-noticenum-tip{
  .el-badge__content.is-dot{
    width: 8px;
    height: 8px;
    top: 9px;
    right: 8px;
    border: none;
  }
}
.ly-icon-noticetip{
  position: absolute;
  top: 6px;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  overflow: hidden;
  background-color: #FF786E;
  border: none;
}
@media screen and (max-width: 1280px) {
  .ly-icon-noticetip{
    width: 5px;
    height: 5px;
  }
  .ly-noticenum-tip{
    .el-badge__content.is-dot{
      width: 5px;
      height: 5px;
    }
  }
}
