// 页面布局重新调整
#app {
  position: relative;
  min-width: 1200px;
  overflow-x: auto;
}

.lyy-body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(241, 244, 246, 1);
}

.lyy-page-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
}

.lyy-page-container {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.lyy-page-aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: rem(190px);
  overflow: hidden;
}

.lyy-page-main {
  position: absolute;
  top: 0;
  left: rem(190px);
  right: 0;
  bottom: 0;
  overflow: auto;
}

.lyy-page-body {
  position: absolute;
  left: 0;
  top: rem(50px);
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .container {
    height: 100%;
    box-sizing: border-box;
  }
}

// 头部
.lyy-page-head {
  &.lyy-el-header {
    background: $background-color-normal;
    padding: 0;
    box-shadow: 0px rem(5px) rem(5px) 0px rgba(80, 104, 130, 0.1);
    z-index: 1;
  }
}

// 左侧菜单
.lyy-page-aside {
  background: $nav-color;
  text-align: left;

  .el-menu-item [class^=el-icon-],
  .el-submenu [class^=el-icon-] {
    position: relative;
    width: rem(15px);
    height: rem(15px);
    margin-right: rem(10px);
    margin-left: rem(5px);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .el-menu-item,
  .el-submenu__title {
    height: rem(50px);
    line-height: rem(50px);
  }

  .el-submenu__icon-arrow {
    right: rem(20px);
  }

  ul.main-aside-elmenu {
    min-width: 100%;
    width: 100%;
    background-color: transparent;
    border-right: 0px;

    &:focus {
      outline: none;
    }

    // 以及ul-li
    &>li {

      // 只有一级菜单--开始
      &.el-menu-item {
        font-size: 0;
        padding: 0 rem(15px) !important;

        &>i {
          color: $nav-fontcolor-first;
          font-size: rem(15px);
        }

        &>span {
          display: inline-block;
          width: calc(100% - 26px);
          color: $nav-fontcolor-first;
          font-size: rem(14px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: break-all;
        }
      }

      // 一级菜单：hover
      &.el-menu-item:hover {
        background-color: $nav-bgcolor-first-hover;

        &>i {
          color: $nav-fontcolor-first-hover;
        }

        &>span {
          color: $nav-fontcolor-first-hover;
        }
      }

      &:focus {
        background-color: transparent;
      }

      // 一级菜单：is-active
      &.el-menu-item.is-active {
        background-color: $nav-bgcolor-first-active;

        &>i {
          color: $nav-fontcolor-first-active;
        }

        &>span {
          color: $nav-fontcolor-first-active;
        }
      }

      &.el-menu-item.is-active:hover {
        background-color: $nav-bgcolor-first-hover;

        &>i {
          color: $nav-fontcolor-first-hover;
        }

        &>span {
          color: $nav-fontcolor-first-hover;
        }
      }

      // 只有一级菜单--结束
      // 有多级级菜单--开始
      &.el-submenu {
        &>div.el-submenu__title {
          padding: 0 rem(15px) !important;
          font-size: 0;

          &>i:first-child {
            font-size: rem(15px);
            color: $nav-fontcolor-first;
          }

          &>span {
            display: inline-block;
            width: calc(100% - 35px);
            font-size: rem(14px);
            color: $nav-fontcolor-first;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
          }

          &>i:last-child {
            margin-top: rem(-7px);
            right: rem(20px);
            font-size: rem(15px);
            color: $nav-fontcolor-first;
          }
        }

        &>div.el-submenu__title:hover {
          background-color: $nav-bgcolor-first-hover;

          &>i:first-child {
            color: $nav-fontcolor-first-hover;
          }

          &>span {
            color: $nav-fontcolor-first-hover;
          }

          &>i:last-child {
            color: $nav-fontcolor-first-hover;
          }
        }

        &>ul.el-menu {
          background-color: transparent;

          li {
            width: 100% !important;
            min-width: inherit !important;
          }

          // 二级菜单--开始
          &>li.el-menu-item-group {
            &>div.el-menu-item-group__title {
              display: none;
            }

            &>ul>li {
              padding: 0 rem(35px) !important;
              padding-right: rem(10px) !important;
              height: rem(45px);
              line-height: rem(45px);
              font-size: rem(14px);
              color: $nav-fontcolor-second;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
            }

            &>ul>li:focus {
              background-color: transparent;
              color: $nav-fontcolor-second;
            }

            &>ul>li:hover {
              background-color: $nav-bgcolor-second-hover;
              color: $nav-fontcolor-second-hover;
            }

            &>ul>li.el-menu-item.is-active {
              background-color: $nav-bgcolor-second-active;
              color: $nav-fontcolor-second-active;

              &:hover {
                background-color: $nav-bgcolor-second-hover;
                color: $nav-fontcolor-second-hover;
              }
            }
          }

          // 二级菜单--结束
          &>li.el-submenu {
            &>div.el-submenu__title {
              height: rem(45px);
              line-height: rem(45px);
              padding-left: rem(35px) !important;
              font-size: rem(14px);

              &>span {
                display: inline-block;
                width: calc(100% - 15px);
                font-size: rem(14px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: break-all;
                color: $nav-fontcolor-second;
              }

              &>i {
                color: $nav-fontcolor-second;
              }
            }

            &>div.el-submenu__title:hover {
              background-color: $nav-bgcolor-second-hover;

              &>span {
                color: $nav-fontcolor-second-hover;
              }

              &>i {
                color: $nav-fontcolor-second-hover;
              }
            }

            &>ul.el-menu {
              background-color: transparent;

              &>li {
                width: 100% !important;
                height: rem(45px);
                line-height: rem(45px);
                font-size: rem(14px);
                padding-left: rem(45px) !important;
                padding-right: rem(10px) !important;
                color: $nav-fontcolor-third;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: break-all;
              }

              &>li:focus {
                background-color: transparent;
                color: $nav-fontcolor-third;
              }

              &>li:hover {
                background-color: $nav-bgcolor-third-hover;
                color: $nav-fontcolor-third-hover;
              }

              &>li.el-menu-item.is-active {
                background-color: $nav-bgcolor-third-active;
                color: $nav-fontcolor-third-active;

                &:hover {
                  background-color: $nav-bgcolor-third-hover;
                  color: $nav-fontcolor-third-hover;
                }
              }
            }
          }

          &>li.el-submenu:focus {
            outline: none;
          }
        }
      }

      &.el-submenu.is-opened {
        background-color: $nav-bgcolor-open;
      }

      // 有多级菜单--结束
    }
  }
}

// 控制面板--标签
.lyy-page-control {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: rem(50px);
  width: 100%;
  background: #FFF;
  @extend %clearfix;

  &.main-tags {
    position: relative;

    &.lyy-page-control {
      position: relative;
      z-index: 5;
      box-shadow: 0px rem(5px) rem(5px) 0px rgba(80, 104, 130, 0.1);
    }

    button {
      height: 100%;
      padding: 0 rem(20px);

      &.el-button--text {
        color: $nav-color;
        font-size: rem(14px);
      }

      i {
        margin-left: rem(15px);
      }
    }
  }

  .tags-border-right {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: rem(17px);
      height: rem(15px);
      border-right: 1px solid #ddd;
    }
  }

  .tags-menu {
    width: rem(150px);
    text-align: center;

    button:hover {
      cursor: default;
    }
  }

  .tags-ul {
    flex: 1;
    display: flex;
    overflow-x: auto;

    &>.tags-li:last-child:after {
      display: none;
    }

    &>.tags-li {
      transition: all 0.3s linear;
    }

    &>.tags-li:hover {
      background-color: #f3f5f7;
    }

    &>.tags-li.active {
      background-color: #F1F4F6;

      &:hover {
        background-color: #F1F4F6;
      }
    }

    &>.tags-li i {
      transition: all 0.3s linear;

      &:hover {
        color: #409EFF;
        font-weight: bold;
        transform: rotate(180deg);
      }
    }
  }
}
