.vma-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F1F4F6;

  .el-dialog {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: rem(20px);
    right: rem(20px);
    bottom: rem(20px);
    left: rem(20px);
    width: auto;
    margin: 0;

    .el-dialog__body {
      flex: 1;
    }
  }
}
