<template>
  <div>
    <!-- 筛选查询 -->
    <search @search="search"
            entry="personalNum" />
    <!-- 数据列表 -->
    <div class="ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号信息">
          <template slot-scope="scope">
            <div class="ly-box" v-if="scope.row.acountInfo">
              <div class="ly-margin-right-xs">
                <img :src="scope.row.acountInfo.headIcon | wechatAvtor"
                     alt=""
                     class="ly-wh-50px"
                     v-image-view>
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">微信昵称：{{scope.row.acountInfo.nickName || ''}}</p>
                <p class="ly-margin-top-4">手机号：{{scope.row.acountInfo.phone || ''}}</p>
                <p class="ly-margin-top-4">微信号：{{ scope.row.acountInfo.wxAccount || ''}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="同步时间">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column label="状态"
                         prop="status" />
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import search from '../search'
import { customerManageApi } from '@/api/sms'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  components: {
    search
  },
  created() {
    this.params.enterpriseId = this.info.id
  },
  data() {
    return {
      date: '',
      params: {
        beginTime: '',
        endTime: '',
        enterpriseId: ''
      }
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await customerManageApi.getOmsListAccountList(this.params).then(res => {
        this.tableData = res
      })
    },
    search(params, type) {
      this.params.beginTime = params.beginTime
      this.params.endTime = params.endTime
      if (type) {
        this.getTableList(1)
      }
    }
  }
}
</script>
