<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.activityName"
                    placeholder="请输入活动名称"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)" />
          <el-select clearable
                     class="ly-margin-right-bottom-sm"
                     v-model="params.status"
                     placeholder="活动状态">
            <el-option v-for="item in ACTIVITY_ATATE"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange($event,'startTime','endTime')" />
          <el-input v-model.trim="params.staffRelatesInformation"
                    placeholder="请输入员工账号/姓名"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)" />
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     v-if="hasActivityCud"
                     @click="openCallback($event,'add')">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="activityName"
                         label="活动名称"
                         fixed />
        <el-table-column label="状态">
          <template slot-scope="scope">
            <span class="ly-font-color-3"
                  v-if="scope.row.status===0">未开始</span>
            <span class="ly-font-color-9"
                  v-else-if="scope.row.status===1">进行中</span>
            <span class="ly-font-color-5"
                  v-else-if="scope.row.status===2">已结束</span>
            <span v-else>--</span>
          </template>
        </el-table-column>
        <el-table-column label="活动时间"
                         min-width="160"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            <span>{{(fmt.date(scope.row.startTime) || '') + '~' + (fmt.date(scope.row.endTime) || '')}}</span>
          </template>
        </el-table-column>
        <el-table-column label="最后编辑时间"
                         min-width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.updateTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="创建员工">
          <template slot-scope="scope">
            <span>{{scope.row.staffAccount || ''}}</span>
            <span v-if="scope.row.staffName">({{scope.row.staffName}})</span>
          </template>
        </el-table-column>
        <el-table-column prop="pu"
                         label="PV" />
        <el-table-column prop="uv"
                         label="UV" />
        <el-table-column prop="name"
                         label="操作"
                         fixed="right">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="openCallback($event,'see',scope.row)">查看</el-button>
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small"
                       v-if="hasActivityCud && scope.row.status===0"
                       @click="handleClose(scope.row.id)">删除</el-button>
            <el-button type="text"
                       size="small"
                       v-if="hasActivityCud && scope.row.status===0"
                       @click="openCallback($event,'edit',scope.row)">编辑</el-button>
            <el-button type="text"
                       size="small"
                       v-if="hasActivityCud && scope.row.status===1"
                       @click="offlineCallback(scope.row.id)">下线</el-button>
            <el-button type="text"
                       size="small"
                       v-if="scope.row.status===1 || scope.row.status===2"
                       @click="openCallback($event,'statistics',scope.row)">统计</el-button>
            <el-button type="text"
                       size="small"
                       @click="openCallback($event,'code',scope.row)">链接二维码</el-button>

          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
    <!-- 弹窗 -->
    <vma-dialog v-model="addEditDialog.open"
                :title="addEditDialog.title">
      <addEdit v-if="addEditDialog.open"
               :dialog="addEditDialog"
               @on-success="getTableList(1)"
               @on-cancel="addEditDialog.open=false"></addEdit>
    </vma-dialog>
    <el-dialog title="统计"
               class="ly-font-color-4"
               width="820px"
               :visible.sync="statisticsDialog.open" append-to-body>
      <Statistics :dialog="statisticsDialog"
                  ref="statisticsRef"
                  v-if="statisticsDialog.open"
                  @getStatistics="getStatistics"></Statistics>
    </el-dialog>
    <el-dialog title="链接二维码"
               class="ly-font-color-4"
               width="620px"
               :visible.sync="codeDialog.open" append-to-body>
      <DownloadCode v-if="codeDialog.open"
                    :dialog="codeDialog"></DownloadCode>
    </el-dialog>
  </div>
</template>

<script>
import addEdit from './components/addEdit'
import { Statistics } from '../components/common'
import DownloadCode from '@/components/common/downloadCode.vue'
import { v2marketPlatformApi } from '@/api/system'
import { ACTIVITY_ATATE } from '@/constants/selects'
import { tableMixin, resourceMixin, marketPlatformMixins } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [tableMixin, resourceMixin, marketPlatformMixins],
  components: { addEdit, Statistics, DownloadCode },
  data() {
    return {
      activeNames: ['1'],
      ACTIVITY_ATATE: ACTIVITY_ATATE,
      RESOURCE_ACTION_MAP,
      params: {
        activityName: '',
        status: null,
        staffRelatesInformation: ''
      },
      addEditDialog: {
        open: false,
        title: '',
        isEdit: false
      },
      statisticsDialog: {
        open: false
      },
      codeDialog: {
        open: false,
        id: null,
        url: null
      }
    }
  },
  computed: {
    // 增删改追评有礼
    hasActivityCud() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.COMMENT_ACTIVITY_CUD)
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      this.tableData = await v2marketPlatformApi.commentList(this.params)
    },
    // 删除
    deleteCallback(id) {
      v2marketPlatformApi.commentDelete(id).then((res) => {
        this.success('恭喜你，删除成功')
        if (this.tableData.records.length === 1) {
          this.params.current--
        }
        this.getTableList()
      })
    },
    // 下线
    offlineCallback(id) {
      this.$confirm('活动下线后不可再次编辑上线，是否确定下线该活动？', '提示')
        .then(_ => {
          v2marketPlatformApi.commentOffline(id).then((res) => {
            this.success('恭喜你，下线成功')
            this.getTableList()
          })
        })
        .catch(_ => { })
    },
    // 统计
    async getStatistics(val) {
      this.statisticsDialog.data = await v2marketPlatformApi.commentDetail(val)
      this.$refs.statisticsRef.handleList(this.statisticsDialog.data)
    }
  }
}
</script>
