<template>
  <div class="system-home-cards">
    <el-tabs type="border-card" ref="tab">
      <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.OVERVIEW_OVIEW)" name="1">
        <overview :data="data.overviewBo || {}" @refresh="getData" slot="label" />
      </el-tab-pane>
      <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.OVERVIEW_RED_PACKET_COUNT)" name="2">
        <red-packet-count :data="data.wechatMoneyInfoBo || {}" @refresh="getData" slot="label" />
      </el-tab-pane>
      <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.OVERVIEW_RED_PACKET_AMOUNT)" name="3">
        <red-packet-amount :data="data.redPackageMoneyBo || {}" @refresh="getData" slot="label" />
      </el-tab-pane>
      <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.OVERVIEW_TRANSFER_COUNT)" name="4">
        <transfer-count :data="data.transferAccountBo || {}" @refresh="getData" slot="label" />
      </el-tab-pane>
      <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.OVERVIEW_TRANSFER_AMOUNT)" name="5">
        <transfer-amount :data="data.transferAccountMoneyBo || {}" @refresh="getData" slot="label" />
      </el-tab-pane>
      <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.OVERVIEW_YESTERDAYNEW_FRIEND)" name="6">
        <yesterdaynew-friend :data="{yesterdayUser: data.yesterdayUser}" @refresh="getData" slot="label" />
      </el-tab-pane>
      <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.OVERVIEW_SMS_COUNT)" name="7">
        <sms-count :data="data.msgInfoBo || {}" @refresh="getData" slot="label" />
      </el-tab-pane>
      <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.OVERVIEW_BLUEPRINT_COUNT)" name="8">
        <blueprint-count :data="data.activityInfoBo || {}" @refresh="getData" slot="label" />
      </el-tab-pane>
      <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.OVERVIEW_BLUEPRINT_AMOUNT)" name="9">
        <blueprint-amount :data="{activityMoney: data.activityMoney}" @refresh="getData" slot="label" />
      </el-tab-pane>

      <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.OVERVIEW_WAREHOUSE_COUNT)" name="10">
        <Warehouse-count :data="data.warehouseDataBo || {}" @refresh="getData" slot="label" />
      </el-tab-pane>

    </el-tabs>
  </div>
</template>

<script>
import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
import { v3indexApi } from '@/api/system'
import Overview from './components/overview.vue'
import RedPacketCount from './components/redPacketCount.vue'
import RedPacketAmount from './components/redPacketAmount.vue'
import TransferCount from './components/transferCount.vue'
import TransferAmount from './components/transferAmount.vue'
import YesterdaynewFriend from './components/yesterdayNewFriend.vue'
import SmsCount from './components/smsCount.vue'
import BlueprintCount from './components/blueprintCount.vue'
import BlueprintAmount from './components/blueprintAmount.vue'
import WarehouseCount from './components/warehouseCount.vue'

export default {
  mixins: [resourceMixin],
  components: {
    Overview,
    RedPacketCount,
    RedPacketAmount,
    TransferCount,
    TransferAmount,
    YesterdaynewFriend,
    SmsCount,
    BlueprintCount,
    BlueprintAmount,
    WarehouseCount
  },
  data () {
    return {
      data: {},
      RESOURCE_ACTION_MAP
    }
  },
  created () {
    this.getData().then(() => {
      this.$refs.tab.setCurrentName('1')
    })
  },
  methods: {
    getData () {
      return v3indexApi.getOverview().then(data => {
        this.data = Object.assign({}, data)
      })
    }
  }
}
</script>
