<template>
  <div class="basic-lay">
    <div class="ly-border-bottom-1">
      <div class="ly-box-1 ly-font-color-3 basic-info">
        <p class="ly-font-20">企业名称：{{details.name || ''}}</p>
        <p class="ly-font-16">编号：{{details.id || ''}}</p>
        <p class="ly-font-16">账号：{{details.account || ''}}</p>
        <p class="ly-font-16">企业状态：{{details.status===1?'正常':'禁用'}}</p>
        <p class="ly-font-16">上级：{{details.parentName || ''}}</p>
        <ul class="basic-methods ly-clearfix">
          <li class="basic-item"
              v-if="details.equmentInfo">
            <p>授权设备数：{{toFixedW(details.equmentInfo.equInit)}}</p>
            <p>出售设备数：{{toFixedW(details.equmentInfo.equSum)}}</p>
            <p>实际入网数：{{toFixedW(details.equmentInfo.equNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.shopInfo">
            <p>授权店铺数：{{toFixedW(details.shopInfo.shopInit)}}</p>
            <p>出售店铺数：{{toFixedW(details.shopInfo.shopSum)}}</p>
            <p>实际店铺数：{{toFixedW(details.shopInfo.shopNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.accountInfo">
            <p>授权个人号：{{toFixedW(details.accountInfo.accountInit)}}</p>
            <p>出售个人号：{{toFixedW(details.accountInfo.accountSum)}}</p>
            <p>实际个人号：{{toFixedW(details.accountInfo.accountuNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.groupInfoBo">
            <p>授权工作群数：{{toFixedW(details.groupInfoBo.groupInit)}}</p>
            <p>出售工作群数：{{toFixedW(details.groupInfoBo.groupSum)}}</p>
            <p>实际开通群数：{{toFixedW(details.groupInfoBo.groupNum)}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="basic-contact"
         style="margin-left:0;">
      <p>联系电话：<span class="val">{{details.phone || ''}}</span></p>
      <p>菜单权限：
        <template v-for="(item, index) in details.menus">
          <span :key="index+'a'">
            {{item.menuName}}
            <template v-if="item.children && item.children.length">
              (
              <template v-for="(itemsec, indexSec) in item.children">
                <span :key="indexSec+'b'">
                  {{itemsec.menuName}}
                  <template v-if="itemsec.children && itemsec.children.length">
                    [
                    <template v-for="(itemthird, indexThird) in itemsec.children">
                      <span :key="indexThird+'c'">
                        {{itemthird.menuName}}
                        <span v-if="indexThird < (itemsec.children.length-1)">、</span>
                      </span>
                    </template>
                    ]
                  </template>
                  <span v-if="indexSec < (item.children.length-1)">、</span>
                </span>
              </template>
              )
            </template>
            <span v-if="index < (details.menus.length-1)">、</span>
          </span>
        </template>
        <span v-if="details.menus && details.menus.length===0">暂无菜单权限</span>
      </p>
      <p>地址：<span class="val">{{details.address || ''}}</span></p>
      <p>创建时间：<span class="val">{{fmt.date(details.createTime)}}</span></p>
      <p>到期时间：<span class="val">{{fmt.date(details.expirationTime)}}</span></p>
      <p>创建人：<span class="val">{{details.createStaffName || ''}}</span></p>
      <p>备注：<span class="val">{{details.remark || ''}}</span></p>
    </div>
  </div>
</template>

<script>
import { toFixedW } from '@/utils'
import { customerManageApi } from '@/api/sms'

export default {
  props: ['id'],
  data() {
    return {
      details: {},
      toFixedW
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData() {
      customerManageApi.getEnterDetails(this.id).then(res => {
        this.details = res
      })
    }
  }
}
</script>
