<template>
  <div class="basic-lay">
    <div class="ly-box ly-border-bottom-1">
      <!--<div class="basic-image">-->
        <!--<img :src="details.logo | wechatAvtor"-->
             <!--alt=""-->
             <!--class="ly-wh-110px"-->
             <!--v-image-view>-->
      <!--</div>-->
      <div class="ly-box-1 ly-font-color-3 basic-info">
        <p class="ly-font-20">企业名称：{{details.name || ''}}</p>
        <p class="ly-font-16">编号：{{details.id || ''}}</p>
        <p class="ly-font-16">账号：{{details.account || ''}}</p>
        <p class="ly-font-16">代理商状态：<template v-if="details.status===1 || details.status===0">{{details.status===1?'正常':'禁用'}}</template></p>
        <ul class="basic-methods ly-clearfix">
          <li class="basic-item"
              v-if="details.equmentInfo">
            <p>授权设备数：{{toFixedW(details.equmentInfo.equInit)}}</p>
            <p>出售设备数：{{toFixedW(details.equmentInfo.equSum)}}</p>
            <p>实际入网数：{{toFixedW(details.equmentInfo.equNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.shopInfo">
            <p>授权店铺数：{{toFixedW(details.shopInfo.shopInit)}}</p>
            <p>出售店铺数：{{toFixedW(details.shopInfo.shopSum)}}</p>
            <p>实际店铺数：{{toFixedW(details.shopInfo.shopNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.accountInfo">
            <p>授权个人号：{{toFixedW(details.accountInfo.accountInit)}}</p>
            <p>出售个人号：{{toFixedW(details.accountInfo.accountSum)}}</p>
            <p>实际个人号：{{toFixedW(details.accountInfo.accountuNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.enterpriseBo">
            <p>授权企业账号：{{toFixedW(details.enterpriseBo.enterInit)}}</p>
            <p>出售企业账号：{{toFixedW(details.enterpriseBo.enterSum)}}</p>
            <p>实际开通账号：{{toFixedW(details.enterpriseBo.enterNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.groupBo">
            <p>授权工作群数：{{toFixedW(details.groupBo.groupInit)}}</p>
            <p>出售工作群数：{{toFixedW(details.groupBo.groupSum)}}</p>
            <p>实际开通群数：{{toFixedW(details.groupBo.groupNum)}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="basic-contact" style="margin-left: 0;">
      <p>联系电话：<span class="val">{{details.phone || ''}}</span></p>
      <p>地址：<span class="val">{{details.address || ''}}</span></p>
      <p>创建时间：<span class="val">{{fmt.date(details.createTime)}}</span></p>
      <p>创建人：<span class="val">{{details.createStaffName || ''}}</span></p>
      <p>备注：<span class="val">{{details.remark || ''}}</span></p>
    </div>
  </div>
</template>

<script>
import { toFixedW } from '@/utils'
import { businessManageApi } from '@/api/oms'
export default {
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      details: {},
      toFixedW
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData() {
      businessManageApi.getAgentListDetail(this.info.id).then(res => {
        this.details = res
        this.postUserState(res)
      })
    },
    /**
     * 传递值到父组件
     * @param data
     */
    postUserState(data) {
      this.$emit('postUserState', data)
    },
    /**
     * 当用户禁止或启用的时候更新状态
     * @param data
     */
    setUserState(data) {
      this.details = data
    }
  }
}
</script>
