<template>
  <div>
    <el-tabs v-model="dataInfo.activeName">
      <el-tab-pane label="QQ邮箱设置"
                   name="first">
        <p>1、请先申请一个QQ邮箱，其他邮箱不支持。</p>
        <p>2、按图示，登入邮箱后找到设置-》账户，滚动到第二张图位置，开启POP3/SMTP服务和IMAP/SMTP服务，然后生成授权码。</p>
        <img src="@/assets/images/system/mailbox_1.png" />
        <img src="@/assets/images/system/mailbox_2.png" />
        <p>3、把邮箱，授权码，发件人姓名对应填写保存好。</p>
      </el-tab-pane>
      <el-tab-pane label="腾讯企业邮箱设置"
                   name="second">
        <p>1、请先申请一个企业邮箱，其他邮箱不支持。</p>
        <p>2、按图示，登入邮箱后找到设置-》微信绑定，先绑定微信然后生成授权码。</p>
        <img src="@/assets/images/system/mailbox_3.png" />
        <p>3、把邮箱，授权码，发件人姓名对应填写保存好。</p>
      </el-tab-pane>
    </el-tabs>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dataInfo.open = false">关闭</el-button>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  }
}
</script>
