<template>
  <div>
    <div class="ly-bg-white ly-padding-sm"
         style="min-height:96%;">
      <ul class="ly-page-menu ly-margin-bottom-lh">
        <li class="ly-page-menu-item"
            :class="activeIndex===item.id?'active':''"
            v-for="item in menuList"
            :key="item.id"
            v-if="item.open"
            @click="radioCallback(item.id)">
          {{item.name}}
        </li>
      </ul>
      <behavior v-if="activeIndex===1"
                class="ly-font-16"
                entry="manage" />
      <violation v-if="activeIndex===2" />
      <blacklist v-if="activeIndex===3" />
    </div>
  </div>
</template>

<script>
import behavior from './components/behavior'
import violation from './components/behaviorManage/violation'
import blacklist from './components/behaviorManage/blacklist'

export default {
  components: { behavior, violation, blacklist },
  data() {
    return {
      activeIndex: 1,
      menuList: [
        {
          name: '行为管理',
          id: 1,
          checkbox: 0,
          open: true
        },
        {
          name: '违规行为记录',
          id: 2,
          checkbox: 0,
          open: true
        },
        {
          name: '黑名单管理',
          id: 3,
          checkbox: 1,
          open: true
        }
      ]
    }
  },
  created() {
    // this.getBehaviorList()
  },
  methods: {
    // 单选
    radioCallback(index, id) {
      this.activeIndex = index
    }
  }
}
</script>
