<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse
      v-model="activeNames"
      class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
      :class="{'ly-padding-bottom-sm':!activeNames[0]}"
    >
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i
              class="el-icon-arrow-down"
              :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"
            ></i>
            {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input
            v-model.trim="params.groupNameRemark"
            placeholder="请输入群名称/备注"
            class="ly-margin-right-bottom-sm"
            clearable
            maxlength="100"
            @keyup.native.enter="getTableList(1)"
          />
          <!--部门级联已经调整-->
          <departmenTreeCascadert
            v-model="departmentList"
            filterable
            clearable
            placeholder="所属部门"
            class="ly-margin-right-bottom-sm"
          ></departmenTreeCascadert>
          <el-input
            v-model.trim="params.staff"
            placeholder="员工账号/姓名"
            class="ly-margin-right-bottom-sm"
            clearable
            maxlength="100"
            @keyup.native.enter="getTableList(1)"
          />
          <el-input
            v-model.trim="params.wechatAccount"
            placeholder="微信昵称/备注"
            class="ly-margin-right-bottom-sm"
            clearable
            maxlength="100"
            @keyup.native.enter="getTableList(1)"
          />
          <el-select
            v-model="params.groupStatus"
            class="ly-margin-right-bottom-sm"
            placeholder="群状态"
            clearable
          >
            <el-option
              v-for="item in GROUP_STATUS"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          <el-select
            v-model="params.replierStatus"
            class="ly-margin-right-bottom-sm"
            placeholder="自动回复回复者状态"
            clearable
          >
            <el-option
              v-for="item in RESPONDER_STATUS"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          <setGroupCascader
            :placeholder="'请选择所属分组'"
            :groupId="null"
            :modify="0"
            :groupType="2"
            @getInitVal="getInitVal"
            class="ly-margin-right-bottom-sm ly-inline-block"
          ></setGroupCascader>
          <el-checkbox
            v-model="params.onlyWechatAccount"
            :true-label="1"
            :false-label="0"
            @change="getTableList(1)"
          >显示所属个人号是群主的群</el-checkbox>
          <!-- button -->
          <el-button class="ly-float-right" size="medium" @click="resetsCallback">重置</el-button>
          <el-button
            class="ly-float-right ly-margin-right-sm"
            type="primary"
            size="medium"
            @click="getTableList(1)"
          >搜索</el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button
            type="primary"
            size="small"
            :disabled="batchSetDisabled"
            @click="showBatchSetGroupDialog(2)"
          >批量设置分组</el-button>
          <el-button
            type="primary"
            size="small"
            :disabled="hasDistribution?false:true"
            @click="openCallback($event,'onekey')"
          >一键分配</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table
        ref="multipleTable"
        :data="tableData.records"
        tooltip-effect="dark"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <el-table-column fixed type="selection" :selectable="selectAble" width="55"></el-table-column>
        <el-table-column fixed prop="groupName" label="群名称" width="120">
          <template slot-scope="scope">
            <div
              class="ly-width-100px ly-max-height-40px ly-ellipsis2"
              :title="scope.row.groupName"
            >{{ scope.row.groupName || '--' }}</div>
          </template>
        </el-table-column>
        <el-table-column label="群主" width="150">
          <template slot-scope="scope">
            <p style="margin-bottom:6px;">{{scope.row.groupOwner}}</p>
            <el-button type="success" size="mini" v-if="scope.row.groupOwnerType" plain>个人号</el-button>
          </template>
        </el-table-column>
        <el-table-column label="群成员数">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              :disabled="scope.row.status!==1"
              @click="openCallback($event,'contact',scope.row)"
            >{{scope.row.groupUserCount}}</el-button>
          </template>
        </el-table-column>
        <el-table-column label="分配员工" class-name="ly-font-color-5" width="110">
          <template slot-scope="scope">
            <span
              v-if="scope.row.staffAccount"
              :class="scope.row.status===1?'ly-cursor-pointer':''"
              @click="openCallback($event,'assignStaff',scope.row)"
            >
              <span>{{scope.row.staffAccount}}</span>
              <span v-if="scope.row.staffName">({{scope.row.staffName}})</span>
            </span>
            <el-button
              type="primary"
              v-else
              :disabled="scope.row.status!==1"
              @click="openCallback($event,'assignStaff',scope.row)"
              size="mini"
            >分配员工</el-button>
          </template>
        </el-table-column>
        <el-table-column width="120">
          <template slot="header">
            设为工作群
            <el-popover placement="top" popper-class="tip-green" trigger="hover">
              工作群开启后聊天记录同步并可进行群设置等配置，请保持手机激活和在线状态。
              <el-button slot="reference" type="text">
                <i class="el-icon-question ly-font-color-6"></i>
              </el-button>
            </el-popover>
          </template>
          <template slot-scope="scope">
            <el-switch
              :value="scope.row.isWorkGroup"
              active-color="#4CD964"
              :active-value="1"
              :inactive-value="0"
              :disabled="scope.row.status !== 1|| scope.row.power !==1"
              @click.native="switchCallback(scope.row,'single')"
            />
          </template>
        </el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">{{scope.row.status===1?'正常':'退出'}}</template>
        </el-table-column>
        <el-table-column prop="departmentName" label="所属部门" />
        <el-table-column label="所属个人号" min-width="130">
          <template slot-scope="scope">
            <span v-if="scope.row.wechatAccountRemark">{{scope.row.wechatAccountRemark}}</span>
            <span v-else>{{scope.row.wechatAccountNickName}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="address" label="所属分组">
          <template slot-scope="scope">
            <div
              v-if="scope.row.isGroupPower ===1 "
              class="ly-cursor-point ly-font-color-5"
              @click="showSetGroupDialog(1, scope.$index, scope.row)"
            >{{scope.row.wxGroupInfoName || '设置分组'}}</div>
            <div class="ly-font-color-2" v-else>{{scope.row.wxGroupInfoName || '设置分组'}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="notice" label="公告" width="150">
          <template slot-scope="scope">
            <el-popover trigger="hover" placement="top">
              <div style="max-width:400px">{{scope.row.notice}}</div>
              <div slot="reference" class="name-wrapper">
                <div class="ly-max-height-40px ly-ellipsis2">{{scope.row.notice}}</div>
              </div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column label="入群问候" min-width="120">
          <template slot-scope="scope">
            <p>
              状态：
              <span v-if="scope.row.greetingStatus === 0">关闭</span>
              <span v-else-if="scope.row.greetingStatus === 1">全局</span>
              <span v-else-if="scope.row.greetingStatus === 2">自定义</span>
              <span v-else>--</span>
            </p>
            <p
              :class="scope.row.status===1?'ly-cursor-pointer':''"
              @click="openCallback($event,'person',scope.row,1)"
            >
              回复者:
              <span class="ly-font-color-7" v-if="scope.row.greetingWechatAccountId === -1">异常</span>
              <span class="ly-font-color-7" v-else-if="!scope.row.greetingWechatAccountId">未设置</span>
              <span
                class="ly-font-color-5"
                v-else-if="scope.row.greetingWechatAccountId !== -1 && scope.row.greetingWechatAccountId"
              >正常({{scope.row.greetingWechatAccountName}})</span>
              <span v-else>--</span>
            </p>
            <p
              class="ly-font-color-13"
              v-if="scope.row.greetingWechatAccountId === -1"
            >原回复者：{{scope.row.greetingWechatAccountName}}</p>
            <p class="ly-font-color-13" v-if="scope.row.greetingWechatAccountId === -1">
              原因：
              <span>{{scope.row.greetingReason || '回复者离线'}}</span>
            </p>
          </template>
        </el-table-column>
        <el-table-column label="自动回复" min-width="120">
          <template slot-scope="scope">
            <p>
              状态：
              <span v-if="scope.row.autoReplyStatus === 1">开启</span>
              <span v-else-if="scope.row.autoReplyStatus === 0">关闭</span>
              <span v-else>--</span>
            </p>
            <p
              :class="scope.row.status===1?'ly-cursor-pointer':''"
              @click="openCallback($event,'person',scope.row,2)"
            >
              回复者:
              <span class="ly-font-color-7" v-if="scope.row.autoWechatAccountId === -1">异常</span>
              <span class="ly-font-color-7" v-else-if="!scope.row.autoWechatAccountId">未设置</span>
              <span
                class="ly-font-color-5"
                v-else-if="scope.row.autoWechatAccountId !== -1 && scope.row.autoWechatAccountId"
              >正常({{scope.row.autoWechatAccountName}})</span>
              <span v-else>--</span>
            </p>
            <p
              class="ly-font-color-13"
              v-if="scope.row.autoWechatAccountId === -1"
            >原回复者：{{scope.row.autoWechatAccountName}}</p>
            <p class="ly-font-color-13" v-if="scope.row.autoWechatAccountId === -1">
              <span>原因：{{scope.row.autoReason || '回复者离线'}}</span>
            </p>
          </template>
        </el-table-column>
        <el-table-column label="行为管理" min-width="120">
          <template slot-scope="scope">
            <p>
              状态：
              <span v-if="scope.row.actionStatus === 0">关闭</span>
              <span v-else-if="scope.row.actionStatus === 1">全局</span>
              <span v-else-if="scope.row.actionStatus === 2">自定义</span>
              <span v-else>--</span>
            </p>
            <p
              :class="scope.row.status===1?'ly-cursor-pointer':''"
              @click="openCallback($event,'person',scope.row,3)"
            >
              回复者:
              <span class="ly-font-color-7" v-if="scope.row.actionWechatAccountId === -1">异常</span>
              <span class="ly-font-color-7" v-else-if="!scope.row.actionWechatAccountId">未设置</span>
              <span
                class="ly-font-color-5"
                v-else-if="scope.row.actionWechatAccountId !== -1 && scope.row.actionWechatAccountId"
              >正常({{scope.row.actionWechatAccountName}})</span>
              <span v-else>--</span>
            </p>
            <p
              class="ly-font-color-13"
              v-if="scope.row.actionWechatAccountId === -1"
            >原回复者：{{scope.row.actionWechatAccountName}}</p>
            <p class="ly-font-color-13" v-if="scope.row.actionReason">原因：{{scope.row.actionReason}}</p>
          </template>
        </el-table-column>
        <el-table-column prop="remark" label="备注" min-width="120">
          <template slot-scope="scope">
            <div
              :class="scope.row.status===1&&scope.row.power===1?'ly-cursor-pointer':''"
              @click="openCallback($event,'remark',scope.row)"
            >
              {{scope.row.remark || ''}}
              <i
                class="el-icon-edit-outline"
                v-if="scope.row.status===1&&scope.row.power===1"
              ></i>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="聊天查看">
          <template slot-scope="scope">
            <p>
              <el-button
                type="text"
                size="small"
                v-if="scope.row.status===1"
                @click="openCallback($event,'chatRecord',scope.row)"
              >聊天记录</el-button>
            </p>
            <p class="ly-font-color-5 ly-text-center">
              <i
                class="el-icon-download ly-cursor-pointer"
                @click="loadChatRechord(scope.$index, scope.row)"
              ></i>
            </p>
          </template>
        </el-table-column>
        <el-table-column fixed="right" prop="name" label="操作" min-width="160">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              v-if="hasAction && scope.row.status===1 && scope.row.isWorkGroup && scope.row.power===1"
              @click="openCallback($event,'set',scope.row)"
            >群设置</el-button>
            <el-button
              type="text"
              size="small"
              v-if="scope.row.status===1"
              @click="openCallback($event,'contact',scope.row)"
            >成员管理</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.total>0">
        <div>
          <el-button type="primary" size="small" @click="switchCallback">批量开启工作群</el-button>
        </div>
        <vma-pagination
          class="ly-text-right ly-box-1"
          :pageNum="params.current"
          :total="tableData.total"
          :pageSize="params.size"
          @change="getTableList"
        />
      </div>
    </div>
    <!-- 弹窗 -->
    <el-dialog title="选择个人号" :visible.sync="personDialog.open" width="800px" append-to-body>
      <choosePerson :dialog="personDialog" v-if="personDialog.open" @getTableList="getTableList"></choosePerson>
    </el-dialog>

    <el-dialog
      title="微信群聊天记录"
      width="1192px"
      class="dialog-chat-dialog"
      :visible.sync="chatRecord.show"
      v-if="chatRecord.show && chatRecord.type===2"
      @close="chatRecord.show = false"
      append-to-body
    >
      <chatRecordGroup :chatRecordInfo="chatRecord" @closeFriendsDialog="chatRecord.show = false"></chatRecordGroup>
    </el-dialog>

    <el-dialog
      title="群设置"
      :visible.sync="setDialog.open"
      width="1020px"
      @close="closeCallback"
      append-to-body
    >
      <groupSetting :dialog="setDialog" v-if="setDialog.open" @getTableList="getTableList"></groupSetting>
    </el-dialog>

    <el-dialog title="备注" :visible.sync="remarksDialog.open" width="520px" append-to-body>
      <remarks :dialog="remarksDialog" v-if="remarksDialog.open" @getTableList="getTableList"></remarks>
    </el-dialog>
    <el-dialog title="群成员" :visible.sync="contactDialog.open" width="520px" append-to-body>
      <contactList
        :dataList="contactDialog.data"
        v-if="contactDialog.open"
        @getTableList="getTableList"
      ></contactList>
    </el-dialog>
    <el-dialog title="分配员工" width="489px" :visible.sync="assignStaffDialog.open" append-to-body>
      <assignStaff
        :dialog="assignStaffDialog"
        v-if="assignStaffDialog.open"
        @getTableList="getTableList"
      ></assignStaff>
    </el-dialog>
    <el-dialog
      title="一键分配"
      width="489px"
      :visible.sync="onekeyAssignStaffDialog.open"
      append-to-body
    >
      <onekeyAssignStaff
        :dialog="onekeyAssignStaffDialog"
        v-if="onekeyAssignStaffDialog.open"
        @getTableList="getTableList"
      ></onekeyAssignStaff>
    </el-dialog>
    <!--设置分组弹窗-->
    <el-dialog
      :title="groupTitle"
      width="489px"
      :visible.sync="setGroupnfoDialog.show"
      v-if="setGroupnfoDialog.show"
      @close="closeSetGroupDialog"
      append-to-body
    >
      <setGroup
        :dialogProp="setGroupnfoDialog"
        @colseDialog="closeSetGroupDialog"
        @getTableList="getTableList"
      ></setGroup>
    </el-dialog>
    <!--下载聊天记录弹窗-->
    <el-dialog
      title="聊天记录导出"
      width="489px"
      :visible.sync="exportLogDialog.show"
      v-if="exportLogDialog.show"
      @close="closeExportLogDialog"
      append-to-body
    >
      <exportChatLog :dialogProp="exportLogDialog" @colseDialog="closeExportLogDialog"></exportChatLog>
    </el-dialog>
  </div>
</template>

<script>
import { v2communityManage } from "@/api/system";
import { departmenTreeCascadert } from "@/components/packages/system/lazyCascader";
import choosePerson from "./components/groupsManage/choosePerson";
import groupSetting from "./components/groupsManage/groupSetting";
import remarks from "./components/groupsManage/remarks";
import setGroup from "./components/groupsManage/setGroup";
import exportChatLog from "./components/groupsManage/exportChatLog";
import contactList from "@/components/common/contactList";
import assignStaff from "./components/groupsManage/assignStaff";
import onekeyAssignStaff from "./components/groupsManage/onekeyAssignStaff";
import { chatRecordGroup } from "@/components/common/chatRecords";
import { RESPONDER_STATUS, GROUP_STATUS } from "@/constants/selects";
import { resourceMixin, tableMixin } from "@/mixins";
import { RESOURCE_ACTION_MAP } from "@/constants";
import setGroupCascader from "@/components/common/setGroupCascader";

export default {
  mixins: [resourceMixin, tableMixin],
  components: {
    departmenTreeCascadert,
    choosePerson,
    groupSetting,
    remarks,
    chatRecordGroup,
    contactList,
    assignStaff, // 分配
    onekeyAssignStaff, // 一键分配
    setGroup, // 设置分组
    exportChatLog, // 下载聊天记录
    setGroupCascader
  },
  data() {
    return {
      groupTitle: "选择群聊分组",
      activeNames: ["1"],
      RESPONDER_STATUS: RESPONDER_STATUS,
      GROUP_STATUS: GROUP_STATUS,
      departmentList: [], // 所属部门
      wechatGroupIds: [], // 工作群（id）
      wechatGroup: [], // 工作群（所有数据对象）
      params: {
        groupNameRemark: "",
        departmentId: null,
        staff: "",
        wechatAccount: "",
        groupStatus: "",
        replierStatus: "",
        onlyWechatAccount: 1,
        groupId: ""
      },
      paramsSpecial: {
        onlyWechatAccount: 1
      },
      personDialog: {
        open: false
      },
      setDialog: {
        open: false,
        data: {}
      },
      remarksDialog: {
        open: false,
        data: {}
      },
      chatRecord: {
        show: false,
        id: null,
        talkId: null,
        type: 1
      },
      contactDialog: {
        open: false,
        data: {}
      },
      assignStaffDialog: {
        open: false,
        data: {}
      },
      onekeyAssignStaffDialog: {
        open: false,
        data: {}
      },
      setGroupnfoDialog: {},
      exportLogDialog: {}
    };
  },
  computed: {
    // 是否拥有群管理设置权限
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.GROUP_SETTING);
    },
    // 是否拥有一键分配权限
    hasDistribution() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.ONE_KEY_DISTRIBUTION);
    },
    // 批量设置工分组按钮是否可点击
    batchSetDisabled() {
      if (this.wechatGroup.length === 0) return true;
      return !this.wechatGroup.every(res => res.power === 1);
    }
  },
  created() {},
  methods: {
    getInitVal(val) {
      this.params.groupId = val;
    },
    // 获取列表
    async requestTableList() {
      if (this.departmentList.length > 0) {
        this.params.departmentId = this.departmentList[
          this.departmentList.length - 1
        ];
      } else {
        this.params.departmentId = null;
      }
      await v2communityManage.communityList(this.params).then(res => {
        this.wechatGroupIds = [];
        this.tableData = res;
      });
    },
    // 判断是否正常 是否可以批量设为工作群
    selectAble(row, index) {
      if (row.status !== 1) {
        return false;
      } else {
        return true;
      }
    },
    // 弹窗-打开
    openCallback(defObj, val, obj, type) {
      switch (val) {
        case "person": // 选择个人号
          if (obj.status === 1) {
            obj.type = type;
            this.personDialog.data = obj;
            this.personDialog.open = true;
          }
          break;
        case "set": // 群设置
          this.setDialog.data = obj;
          this.setDialog.open = true;
          break;
        case "remark": // 备注
          if (obj.status === 1) {
            this.remarksDialog.data = {
              remark: obj.remark,
              id: obj.id
            };
            this.remarksDialog.open = true;
          }
          break;
        case "chatRecord": // 聊天记录
          this.chatRecord = {
            show: true,
            id: obj.wechatAccountId,
            talkId: obj.id,
            type: 2
          };
          break;
        case "contact": // 群成员
          this.contactCallback(obj.id);
          break;
        case "assignStaff": // 分配员工
          if (obj.status === 1) {
            let params = {
              typeVal: 1,
              ids: [obj.id],
              open: true,
              data: obj,
              staffId: obj.staffId
            };
            this.assignStaffDialog = Object.assign({}, params);
          }
          break;
        case "onekey": // 一键分配
          this.onekeyAssignStaffDialog.data = obj;
          this.onekeyAssignStaffDialog.open = true;
          break;
      }
    },
    // 列表选择事件-获取选中id
    handleSelectionChange(obj) {
      this.wechatGroupIds = [];
      this.wechatGroup = obj;
      for (let i = 0; i < obj.length; i++) {
        this.wechatGroupIds.push(obj[i].id);
      }
    },
    closeCallback(val) {
      this.wechatGroupIds = [];
      this.$refs.multipleTable.clearSelection();
      this.getTableList();
    },
    // 设为工作群判断
    switchCallback(obj, type) {
      if (obj.status === 1 && !obj.power) return;
      let status = obj.isWorkGroup ? 0 : 1;
      let formData = { status: status };
      if (type === "single") {
        // 0被踢出群 1正常 -1个人号删除 2主动退群
        if (obj.status === 1) {
          formData.wechat_group_ids = obj.id + "";
          this.setCallback(formData);
        } else {
          this.error("您已退出该群，不支持设为工作群");
        }
      } else {
        if (this.wechatGroupIds.length === 0) {
          this.error("请选择要处理的数据");
          return;
        }
        this.$confirm(
          `已选中${this.wechatGroupIds.length}个群，是否确认批量开启工作群?`,
          "批量开启工作群"
        ).then(() => {
          formData.status = 1;
          formData.wechat_group_ids = this.wechatGroupIds.join(",");
          this.setCallback(formData);
        });
      }
    },
    // 设为工作群
    setCallback(formData) {
      v2communityManage.communityWechatGroupWork(formData).then(res => {
        this.closeCallback();
      });
    },
    // 群成员列表
    contactCallback(id) {
      v2communityManage.communityMemberId(id).then(res => {
        this.contactDialog.data = res;
        this.contactDialog.open = true;
      });
    },
    resetsCallback() {
      this.departmentList = [];
      this.resetCallback();
    },
    /**
     * 设置分组弹窗--显示,增加staffIdVal是用于批量设置的时候分组的请求
     */
    showSetGroupDialog(type, index, data, staffId) {
      this.groupTitle = "选择群聊分组";
      this.setGroupnfoDialog = this.setDialogInfoStaffOrGroup(
        type,
        data,
        staffId
      );
    },
    /**
     * 批量设置分组弹窗--显示,增加staffIdVal是用于批量设置的时候分组的请求
     */
    showBatchSetGroupDialog(type) {
      // let staffId = this.wechatGroupIds
      this.groupTitle = "批量选择群聊分组";
      this.setGroupnfoDialog = this.setDialogInfoStaffOrGroup(type, {}, "");
    },
    /**
     * 设置分组弹窗--关闭
     */
    closeSetGroupDialog(index, data) {
      if (this.setGroupnfoDialog.typeVal === 2) {
        this.removeChecked();
      }
      this.setGroupnfoDialog = {};
    },

    removeChecked() {},
    /**
     * 设置分组或分配员工弹窗的初始化参数
     */
    setDialogInfoStaffOrGroup(type, data, staffId) {
      let ids = [];
      let staffIdVal = null;
      if (type === 1) {
        ids[0] = data.id;
        let staffId = data.staffId || data.currentStaffId;
        staffIdVal = staffId;
      } else {
        // this.tableSelectArr.forEach(o => {
        //   ids.push(o.id)
        // })
        this.wechatGroup.forEach(o => {
          ids.push(o.id);
        });
        staffIdVal = staffId;
      }
      let dialogInfo = {
        typeVal: type,
        ids: ids,
        show: true,
        data: data,
        staffId: staffIdVal
      };
      return dialogInfo;
    },
    /**
     * 下载聊天记录
     */
    loadChatRechord(index, data) {
      let exportLogDialog = {
        show: true,
        id: data.wechatAccountId,
        wxId: data.wxId,
        data: data
      };
      this.exportLogDialog = exportLogDialog;
    },
    /**
     * 关闭下载聊天记录--弹窗
     */
    closeExportLogDialog() {
      this.exportLogDialog = {};
    }
  }
};
</script>
