<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.activityName"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="活动名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-input v-model.trim="params.orderNo"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="订单编号"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange($event,'payStartTime','payEndTime')"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-input v-model.trim="params.nickname"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="微信昵称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-select v-model="params.auditType"
                     placeholder="审核方式"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="系统审核"
                       :value="1">
            </el-option>
            <el-option label="人工审核"
                       :value="2">
            </el-option>
          </el-select>
          <el-input v-model.trim="params.auditor"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="员工账号/姓名"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="付款时间">
          <template slot-scope="scope">
            <span>{{scope.row.payTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="redpageMoney"
                         label="支出金额（元）">
        </el-table-column>
        <el-table-column prop="wxProfile"
                         label="领取者"
                         width="200">
          <template slot-scope="scope">
            <!-- 图文排行 -->
            <div class="ly-box ly-box-align-c-justify-s">
              <img :src="scope.row.wxProfile | wechatAvtor"
                   alt=""
                   class="ly-wh-50px ly-margin-right-xs"
                   v-image-view>
              <span>{{ scope.row.nickname }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="activityName"
                         label="活动名称">
        </el-table-column>
        <el-table-column prop="orderNo"
                         label="订单编号">
        </el-table-column>
        <el-table-column label="审核方式">
          <template slot-scope="scope">
            <span v-if="scope.row.auditType==1">系统审核</span>
            <span v-if="scope.row.auditType==2">人工审核</span>
          </template>
        </el-table-column>
        <el-table-column prop="realName"
                         label="审核员工">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  data() {
    return {
      activeNames: ['1'],
      dialogFormVisible: false
    }
  },
  methods: {
    async requestTableList() {
      const data = await marketPlatformApi.getActivityRecordList(this.params)
      this.tableData = data
    }
  }
}
</script>
