<template>
  <div class="ly-bg-white ly-margin-top-sm ly-position-relative ly-addEdit">
    <div class="ly-font-16 ly-font-color-1 ly-margin-horizontal-sm ly-border-bottom-1 ly-padding-bottom-sm">
      <span class="ly-vertical-line">{{openDialog.name}}活动</span>
    </div>
    <div>
      <el-form :model="form"
               :rules="!isView?rules:{}"
               ref="form"
               label-width="150px"
               class="ly-margintop-25px ly-font-color-4 ly-font-16">
        <el-form-item label="活动名称:"
                      prop="activityName">
          <el-input v-model="form.activityName"
                    placeholder="12字以内"
                    style="width:450px;"
                    maxlength="12"
                    max="12"></el-input>
        </el-form-item>
        <el-form-item label="活动时间:"
                      prop="date">
          <el-date-picker v-model="form.date"
                          type="datetimerange"
                          range-separator="~"
                          start-placeholder="不限"
                          end-placeholder="不限"
                          :default-time="['00:00:00', '23:59:59']"
                          value-format="timestamp"
                          :picker-options='pickerOptions'
                          @change="timeChange($event,'activityStartTime','activityEndTime')">
          </el-date-picker>
        </el-form-item>
        <!-- shopIds -->
        <el-form-item label="选择店铺:"
                      prop="shopIdsList">
          <el-select v-model="form.shopIdsList"
                     multiple
                     placeholder="请选择"
                     style="width:400px"
                     @change="shopIdsChange">
            <el-option v-for="item in storeList"
                       :key="item.id"
                       :label="item.shopName"
                       :title="item.shopName"
                       :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="上传截图:"
                      prop="picNum">
          <el-input-number v-model="form.picNum"
                           :min="1"
                           :max="9"
                           :precision="0"
                           :controls='false'
                           placeholder="1~9"
                           style="width:200px;"></el-input-number>
          <span>张</span>
          <!-- <span class="ly-font-color-8">上传指定张数的截图方可提交成功</span> -->
        </el-form-item>
        <el-form-item label="订单时间:">
          <el-date-picker v-model="form.date2"
                          type="datetimerange"
                          range-separator="~"
                          start-placeholder="不限"
                          end-placeholder="不限"
                          :default-time="['00:00:00', '23:59:59']"
                          value-format="timestamp"
                          @change="timeChange($event,'orderStartTime','orderEndTime')">
          </el-date-picker>
          <span class="ly-font-color-8">订单时间以买家下单时订单创建的时间为准</span>
        </el-form-item>
        <el-form-item label="红包类型:"
                      required>
          <!--红包类型 1固定 2随机 3阶梯 -->
          <el-radio-group v-model="form.redpageType">
            <el-radio :label="1">固定金额红包</el-radio>
            <el-radio :label="2">随机金额红包</el-radio>
            <el-radio :label="3">阶梯金额红包</el-radio>
          </el-radio-group>

        </el-form-item>
        <!-- 红包类型 1固定红包金额  -->
        <el-form-item v-if="form.redpageType === 1"
                      label="红包金额:"
                      prop="redpageMoney">
          <el-input-number v-model="form.redpageMoney"
                           :min="1"
                           :max="200"
                           :precision="2"
                           :controls='false'
                           placeholder="输入金额1~200.00"
                           style="width:250px;"></el-input-number>
        </el-form-item>
        <!-- 红包类型 2随机红包金额  -->
        <div v-if="form.redpageType === 2"
             class="ly-clearfix">
          <el-form-item label="红包金额:"
                        prop="redpageMoneyMin"
                        class="ly-float-left">
            <el-input-number v-model="form.redpageMoneyMin"
                             :min="1"
                             :max="200"
                             :precision="2"
                             :controls='false'
                             placeholder="输入金额1~200.00"
                             style="width:250px;"></el-input-number>
            <span class="ly-margin-horizontal-xs">~</span>
            <el-input-number v-model="form.redpageMoneyMax"
                             :min="1"
                             :max="200"
                             :precision="2"
                             :controls='false'
                             placeholder="输入金额1~200.00"
                             style="width:250px;"></el-input-number>
          </el-form-item>
        </div>
        <!-- 红包类型 3阶梯红包金额  -->
        <div v-if="form.redpageType === 3">
          <el-form-item v-for="(ladder,i) in form.redpageLadder"
                        :key="ladder.id"
                        label="红包金额:"
                        size="small"
                        :prop="'ladder_' + i"
                        :rules="ladderRules">
            <div class="ly-margin-bottom-sm">
              <span>实付在</span>
              <el-input-number v-model="ladder.orderMoneyMin"
                               type="number"
                               :min="0"
                               :precision="2"
                               :controls='false'
                               placeholder="订单金额"
                               style="width:180px;"></el-input-number>
              <span class="ly-margin-horizontal-xs">~</span>
              <el-input-number v-model="ladder.orderMoneyMax"
                               type="number"
                               :min="0"
                               :precision="2"
                               :controls='false'
                               placeholder="订单金额"
                               style="width:180px;"></el-input-number>
              <span class="ly-margin-horizontal-xs">元的订单返现</span>
              <el-input-number v-model="ladder.redpageMoney"
                               type="number"
                               :min="1"
                               :max="200"
                               :precision="2"
                               :controls='false'
                               placeholder="1~200.00"
                               style="width:180px;"></el-input-number>
              <i v-if="form.redpageLadder.length > 1"
                 class="el-icon-delete ly-font-color-7"
                 @click="deleteLadder(ladder)"></i>
            </div>
          </el-form-item>
          <el-form-item>
            <el-button type="primary"
                       icon="el-icon-plus"
                       size="small"
                       @click="addLadders">添加阶梯</el-button>
            <!-- <el-tooltip effect="light"
                      :content="tip"
                      placement="top-start">
            <i class="el-icon-question ly-font-color-7"></i>
          </el-tooltip> -->
          </el-form-item>
        </div>
        <!-- <el-form-item label="活动限制金额:"
                      prop="limitMoney">
          <el-input-number v-model="form.limitMoney"
                           :min="0"
                           :precision="2"
                           :controls='false'
                           placeholder="输入活动限制金额"
                           style="width:200px;"></el-input-number>
          <span class="ly-font-color-2 ly-font-12">超过限制金额即不再发送红包</span>
        </el-form-item> -->
        <el-form-item label="参与限制:"
                      required>
          <div class="show-picture-newedit-radios">
            <!--join_limit 参与限制 1无限制2同一订单号多少天参加一次3活动期间内参与次数 -->
            <el-radio-group v-model="form.joinLimit"
                            @change='joinLimitChange'>
              <el-radio :label="1">无限制</el-radio>
              <el-radio :label="2">
                <span>同一订单号</span>
                <el-input-number v-model="form.limitOrderNum"
                                 :min="1"
                                 :max="9999"
                                 :precision="0"
                                 size="small"
                                 :controls='false'
                                 :disabled="form.joinLimit!==2"
                                 style="width:150px;"
                                 placeholder="1-9999"></el-input-number>
                <span>天内可参与一次</span>
              </el-radio>
              <el-radio :label="3">
                <span>同一订单号活动期间可参与</span>
                <el-input-number v-model="form.limitNum"
                                 :min="1"
                                 :max="10"
                                 :precision="0"
                                 size="small"
                                 :controls='false'
                                 :disabled="form.joinLimit!==3"
                                 style="width:150px;"
                                 placeholder="1-10"></el-input-number>
                <span>次</span>
              </el-radio>
            </el-radio-group>
          </div>
        </el-form-item>
        <el-form-item label="活动说明:"
                      prop="activityInstructions">
          <el-input v-model="form.activityInstructions"
                    type="textarea"
                    style="width: 400px;"
                    :placeholder="activityExplain"
                    :max="300"
                    :min="0"
                    :rows="15"
                    :autosize="{ minRows: 5, maxRows: 15}"
                    ref="count"></el-input>
          <div class="ly-width-400px">
            <span class="ly-font-color-2 ly-font-12">限{{form.activityInstructions | countFil}}/300字以内</span>
            <span class="ly-float-right">
              <el-button type="text"
                         @click="inputExample">示例文字</el-button>
            </span>
          </div>
        </el-form-item>
        <el-form-item label="活动过滤:"
                      required>
          <!--activityFilter 1过滤0不过滤-->
          <el-switch v-model="form.activityFilter"
                     :active-value='1'
                     :inactive-value='0'></el-switch>
          <span class="ly-font-color-2 ly-font-12">参与过其他返现活动的订单不可参与本次活动</span>
        </el-form-item>
        <el-form-item label="活动引流:"
                      required>
          <!--activityDrainage 是否引流1是0否 -->
          <el-switch v-model="form.activityDrainage"
                     :active-value='1'
                     :inactive-value='0'></el-switch>
          <span class="ly-font-color-2 ly-font-12">开启活动后提交申请成功会引导客户参与引流活动</span>
          <div v-if="form.activityDrainage">
            <div>
              <el-radio v-model="form.drainageType"
                        :label="1">同步微活码</el-radio>
              <el-select v-if='form.drainageType===1'
                         v-model="form.microCodeId"
                         placeholder="选择微活码(必填)">
                <el-option v-for="item in microCodeList"
                           :key="item.id"
                           :label="item.title"
                           :value="item.id">
                </el-option>
              </el-select>
            </div>
            <div>
              <el-radio v-model="form.drainageType"
                        :label="2">自定义</el-radio>
              <template v-if='form.drainageType===2'>
                <div class="ly-box">
                  <vma-image-upload v-model="form.drainageCode"
                                    :singleFileSize="10" />
                  <el-input type="textarea"
                            class="ly-margin-left-sm"
                            style="width:240px;"
                            placeholder="请输入引流话术(必填)"
                            max="25"
                            maxlength="25"
                            :min="0"
                            :rows="6"
                            v-model="form.drainageText"
                            ref="count"></el-input>
                </div>
                <p class="ly-font-color-2 ly-font-12">上传同步微活码(必填)</p>
              </template>
            </div>
          </div>
        </el-form-item>

        <el-form-item label="自动审核:"
                      required>
          <!-- auto_audit 自动审核1是0否 -->
          <el-switch v-model="form.autoAudit"
                     :active-value='1'
                     :inactive-value='0'></el-switch>
          <span class="ly-font-color-2 ly-font-12">开启后客户提交好评即通过审核</span>
        </el-form-item>
        <el-form-item v-if="!isView">
          <el-button @click="cancelForm">取消</el-button>
          <el-button type="primary"
                     @click="viewForm('form')">预览</el-button>
          <el-button type="primary"
                     @click="submitForm('form')">保存</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="h5-view-container"
         v-show="viewUrl">
      <!-- h5主页 -->
      <h5-view :url="viewUrl" />
    </div>
    <div v-if="isView"
         class="ly-mask-layer"></div>
  </div>
</template>
<script>
import { commonApi, marketPlatformApi } from '@/api/system'
import { vmaH5ScrmBlueprintRedPacket } from '@/config'
import { compatUrl } from '@/utils'

export default {
  props: {
    isEdit: {
      type: Boolean,
      default: false
    },
    isView: {
      type: Boolean,
      default: false
    },
    currId: [Number, String],
    openDialog: [Object]
  },
  data() {
    const compareValidator = (rule, value, callback, source, options) => {
      let errors = []
      if (value && this.form.redpageMoneyMin >= this.form.redpageMoneyMax) {
        errors.push('最小红包金额应小于最大红包金额')
      }
      if (!this.form.redpageMoneyMin) {
        errors.push('请输入最小红包金额')
      }
      if (!this.form.redpageMoneyMax) {
        errors.push('请输入最大红包金额')
      }
      callback(errors)
    }

    const ladderCompareValidator = (rule, value, callback, source, options) => {
      let errors = []
      let index = rule.fullField.split('_')[1]
      let ladder = this.form.redpageLadder[index]
      let lastLadder = {}
      if (!ladder.orderMoneyMin.toString() || !ladder.orderMoneyMax || !ladder.redpageMoney) {
        errors.push('请输入红包金额')
      }
      if (ladder.orderMoneyMin >= ladder.orderMoneyMax) {
        errors.push('最小红包金额应小于最大红包金额')
      }
      if (index > 0) {
        lastLadder = this.form.redpageLadder[index - 1]
        if (lastLadder.orderMoneyMax >= ladder.orderMoneyMin) {
          errors.push('请输入大于上个区间的最大红包金额')
        }
      }
      callback(errors)
    }
    const dateValidator = (rule, value, callback, source, options) => {
      let errors = []
      if (value[0] <= Date.now()) {
        errors.push('活动时间不能小于当前时间')
      }
      if (value[1] <= value[0]) {
        errors.push('活动结束时间必须大于活动开始时间')
      }
      callback(errors)
    }

    return {
      activityExplain: '请输入或粘贴客户需要了解的活动规则，文字可换行，您可以在右侧预览活动规则的大致展示效果',
      storeList: [],
      microCodeList: [],
      pickerOptions: {
        disabledDate(time) {
          // 86400000 1天 ms
          return time.getTime() < (Date.now() - 86400000)
        }
      },
      form: {
        date: [], // 活动时间(服务器不需要)
        date2: [], // 订单时间(服务器不需要)
        shopIdsList: [], // 选择的店铺id数组(服务器不需要)
        redpageType: 1, // 红包类型
        activityDrainage: 0, // 是否引流1是0否
        drainageType: 0, // 引流类型
        joinLimit: 1,
        redpageLadder: [{}],
        activityFilter: 0,
        autoAudit: 0,
        activityInstructions: ''
      },
      rules: {
        activityName: [
          { required: true, message: '请输入活动名称' }
        ],
        // 活动时间验证
        date: [
          { type: 'array', required: true, message: '请选择活动时间' },
          { required: true, validator: dateValidator }
        ],
        // 选择店铺验证
        shopIdsList: [
          { type: 'array', required: true, message: '请选择店铺' }
        ],
        picNum: [
          { required: true, message: '请输入上传截图' }
        ],
        redpageMoney: [
          { required: true, message: '请输入红包金额' }
        ],
        redpageMoneyMin: [
          { required: true, validator: compareValidator }
        ],
        limitMoney: [
          { required: true, message: '请输入活动限制金额' }
        ],
        activityInstructions: [
          { required: true, message: '请输入活动说明' }
        ]
      },
      ladderRules: [
        { required: true, validator: ladderCompareValidator }
      ],
      tip: '可最多指定5个订单金额区间设置红包金额。金额设置规则，大于设置的金额最小值，小于等于设置金额的最大值',
      exampleWord: [
        '1.打开手机淘宝，发表15字以上五星好评并且截屏。',
        '2.填写购物订单号并提交对应的图片，即可参与活动。',
        '3.符合活动条件的订单号，将获得一定的现金奖励（直接发放到您的微信零钱）。',
        '4.提交成功后还需人工审核，1-3个工作日内将会发放相应奖励。',
        '5.若由于微信原因无法领取红包，请及时与我们联系。'
      ],
      // h5预览地址
      viewUrl: ''
    }
  },
  filters: {
    // textarea输入字数计算
    countFil(val) {
      let len = 0
      let max = 300
      if (val) {
        len = val.replace(/\n/g, 'aa').length
      }
      if (len > max) {
        this.activityInstructions = this.activityInstructions.substr(0, len)
      }
      return len > max ? max : len
    }
  },
  mounted() {
    this.storeListPromise()
    this.microCodeListPromise()
    if (this.isEdit || this.isView) {
      this.getActivityDetail()
    }
  },
  methods: {
    // 新增数据手动处理->增加阶梯红包
    addLadders() {
      if (this.form.redpageLadder.length < 5) {
        this.form.redpageLadder.push({})
      }
    },
    // 新增数据手动处理->删除阶梯红包
    deleteLadder(data) {
      if (this.form.redpageLadder.length > 1) {
        let index = this.form.redpageLadder.indexOf(data)
        if (index !== -1) {
          this.form.redpageLadder.splice(index, 1)
        }
      }
    },
    // 新增数据手动处理->实例文字
    inputExample() {
      this.form.activityInstructions = this.exampleWord.join('\r\n')
    },
    // 新增数据手动处理->时间改变
    timeChange(date, startTime, endTime) {
      this.form[startTime] = date[0]
      this.form[endTime] = date[1]
    },
    // 新增数据手动处理->选择店铺
    shopIdsChange(ids) {
      this.form.shopIds = ids.toString()
    },
    // 参与限制radio 改变
    joinLimitChange(val) {
      if (val !== 2) {
        this.form.limitOrderNum = null
        delete this.form.limitOrderNum
      }
      if (val !== 3) {
        this.form.limitNum = null
        delete this.form.limitNum
      }
    },
    // 处理活动引流radio
    handleDrainage(val) {
      if (this.form.activityDrainage === 1) { // 引流
        if (this.form.drainageType === 1) {
          this.form.drainageCode = null
          this.form.drainageText = null
        }
        if (this.form.drainageType === 2) {
          this.form.microCodeId = null
        }
      } else { // 不引流
        this.form.drainageCode = null
        this.form.drainageText = null
        this.form.microCodeId = null
      }
    },
    // 编辑数据手动处理
    needToHandleEditInfo(data) {
      if (data.shopIds) {
        let shopIdsList = data.shopIds.split(',')
        this.form.shopIdsList = []
        shopIdsList.forEach((o) => {
          this.form.shopIdsList.push(Number(o))
        })
      }
      // 判断
      if (data.activityStartTime) {
        this.form.date = [].concat(data.activityStartTime, data.activityEndTime)
      }
      if (data.orderStartTime) {
        this.form.date2 = [].concat(data.orderStartTime, data.orderEndTime)
      }
      if (!this.form.redpageLadder) {
        this.form.redpageLadder = [{}]
      }
      if (data.joinLimit === 1) {
        this.form.limitNum = null
        this.form.limitOrderNum = null
        delete this.form.limitNum
        delete this.form.limitOrderNum
      }
      if (data.joinLimit === 2) {
        this.form.limitOrderNum = data.limitNum
        delete this.form.limitNum
      }
    },
    // 获取商店列表
    async storeListPromise() {
      const data = await commonApi.storeList()
      this.storeList = data
    },
    // 获取微活码信息列表
    async microCodeListPromise() {
      const data = await commonApi.microCodeList()
      this.microCodeList = data
    },
    // 新增晒图活动
    async newActivity() {
      await marketPlatformApi.newActivity(this.form)
      this.$emit('on-success', true)
    },
    // 编辑晒图活动
    async editActivity() {
      await marketPlatformApi.editActivity(this.form)
      this.$emit('on-success', true)
    },
    // 获取晒图活动详情
    async getActivityDetail() {
      const data = await marketPlatformApi.getActivityDetail(this.currId)
      this.form = Object.assign({}, this.form, data)
      this.needToHandleEditInfo(data)
    },
    // 提交表单
    submitForm(formName) {
      this.validateForm(formName).then(async () => {
        this.handleDrainage()
        if (this.isEdit) {
          await this.editActivity()
        } else {
          await this.newActivity()
        }
      })
    },
    // 预览
    viewForm(formName) {
      this.validateForm(formName).then(async () => {
        const cacheKey = await marketPlatformApi.previewActivity(Object.assign({}, this.form))
        this.viewUrl = compatUrl(vmaH5ScrmBlueprintRedPacket, {
          id: cacheKey,
          view: 1
        })
      })
    },
    // 表单验证
    validateForm(formName) {
      return new Promise((resolve, reject) => {
        this.$refs[formName].validate(async (valid) => {
          if (valid) {
            this.validateDrainage(resolve, reject)
            resolve()
          } else {
            this.warn('请输入正确表单信息')
            reject(new Error('请输入正确表单信息'))
          }
        })
      })
    },
    validateDrainage(resolve, reject) {
      if (this.form.activityDrainage === 1 && this.form.drainageType === 2) { // 自定义
        if (!this.form.drainageCode) {
          this.warn('请上传同步微活码')
          reject()
        }
        if (!this.form.drainageText) {
          this.warn('请输入引流话术')
          reject()
        }
      }
      if (this.form.activityDrainage === 1 && this.form.drainageType === 1 && !this.form.microCodeId) { // 同步微活码
        this.warn('请选择同步微活码')
        reject()
      }
    },
    // 取消表单
    cancelForm() {
      this.$emit('on-cancel', true)
    }
  }
}
</script>
