<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.activityName"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="请输入活动名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange($event,'activityStartTime','activityEndTime')"
                          range-separator="-"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-input v-model.trim="params.staff"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="请输入员工账号/姓名"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <!-- <span class="ly-font-color-7 ly-font-14 ly-margin-right-sm">余额： {{money.toFixed(2)}} 元</span> -->
          <el-button v-if="hasExamine"
                     type="primary"
                     size="small"
                     @click="walletTotal('add')">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="activityName"
                         label="活动名称">
        </el-table-column>
        <el-table-column label="活动状态"
                         width="100">
          <template slot-scope="scope">
            <span v-if="scope.row.activityStatus==1"
                  class="ly-font-color-3">未开始</span>
            <span v-else-if="scope.row.activityStatus==2"
                  class="ly-font-color-9">进行中</span>
            <span v-else
                  class="ly-font-color-5">已结束</span>
          </template>
        </el-table-column>
        <el-table-column label="活动时间"
                         width="330">
          <template slot-scope="scope">
            <span>{{scope.row.activityStartTime | date}}~{{scope.row.activityEndTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column label="最后编辑时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.updateTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="realName"
                         label="创建员工">
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button v-if="scope.row.activityStatus==2"
                       type="text"
                       size="small"
                       @click="offLineClick(scope.row.id)">下线</el-button>
            <el-button v-if="hasExamine && scope.row.activityStatus==1"
                       type="text"
                       size="small"
                       @click="walletTotal('edit',scope.row.id)">编辑</el-button>
            <el-button type="text"
                       size="small"
                       @click="viewActivityClick(scope.row.id)">查看</el-button>
            <el-button type="text"
                       size="small"
                       @click="lineCodeClick(scope.row.activityUrl)">链接二维码</el-button>
            <el-button v-if="scope.row.activityStatus!=1"
                       type="text"
                       size="small"
                       @click="activityDetailsClick(scope.row.id)">统计</el-button>
            <el-button v-if="hasExamine && scope.row.activityStatus==1"
                       type="text"
                       size="small"
                       @click="handleClose(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <!-- 下线弹窗 -->
    <OffLine v-model="showOffLineDialog"
             :currId='currId'
             @on-off='offActivityRecord'></OffLine>
    <!-- 链接二维码弹窗 -->
    <LinkCode v-if="showLinkCodeDialog"
              v-model="showLinkCodeDialog"
              :activityUrl='currActivityUrl'></LinkCode>
    <!-- 统计弹窗 -->
    <ActivityDetails v-if="showActivityDetailsDialog"
                     v-model="showActivityDetailsDialog"
                     :currId='currId'></ActivityDetails>
    <!-- 新增弹窗 -->
    <vma-dialog v-model="showNewOrEditActivityDialog"
                :title="`${openDialog.name}`">
      <NewOrEditActivity v-if="showNewOrEditActivityDialog"
                         :isEdit='isEdit'
                         :isView='isView'
                         :currId='currId'
                         :openDialog='openDialog'
                         @on-success="newOrEditActivitySuccess"
                         @on-cancel='showNewOrEditActivityDialog=false'></NewOrEditActivity>
    </vma-dialog>

  </div>
</template>

<script>
import * as types from '@/router/system/types'
import { OffLine, LinkCode, ActivityDetails } from '../components'
import NewOrEditActivity from './newOrEditActivity'
import { marketPlatformApi, walletApi } from '@/api/system'
import { tableMixin, resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [tableMixin, resourceMixin],
  components: { OffLine, LinkCode, ActivityDetails, NewOrEditActivity },
  data() {
    return {
      activeNames: ['1'],
      showOffLineDialog: false,
      showLinkCodeDialog: false,
      showActivityDetailsDialog: false,
      showNewOrEditActivityDialog: false,
      money: 0, // 剩余余额,
      currId: '',
      isEdit: false,
      isView: false,
      openDialog: {
        type: null,
        name: null,
        id: null
      },
      currActivityUrl: '' // 活动链接
    }
  },
  computed: {
    // 是否拥有权限
    hasExamine() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.PICTURE_CREATE)
    }
  },
  mounted() {
    // this.getMoney()
  },
  methods: {
    async requestTableList() {
      await marketPlatformApi.getShowPictureList(this.params).then(data => {
        this.tableData = data
      })
    },
    // 红包充值获取企业余额
    async getMoney() {
      const data = await marketPlatformApi.getMoney()
      this.money = data.leftMoney
    },
    // 点击下线
    offLineClick(id) {
      this.currId = id
      this.showOffLineDialog = true
    },
    // 点击链接二维码
    lineCodeClick(url) {
      this.currActivityUrl = url
      this.showLinkCodeDialog = true
    },
    // 点击统计(活动详情)
    activityDetailsClick(id) {
      this.currId = id
      this.showActivityDetailsDialog = true
    },
    // 活动下线后刷新表格
    offActivityRecord(val) {
      if (val) {
        this.getTableList(1)
      }
    },
    // 删除
    async deleteCallback(id) {
      await marketPlatformApi.delActivity(id)
      this.getTableList(1)
    },
    // 新增或者编辑晒图成功
    newOrEditActivitySuccess(val) {
      if (val) {
        this.showNewOrEditActivityDialog = false
        this.getTableList(1)
      }
    },
    // 新增晒图点击
    newActivityClick() {
      this.showNewOrEditActivityDialog = true
      this.isEdit = false
      this.isView = false
      this.openDialog.name = '新增'
      this.openDialog.type = 'new'
    },
    // 编辑晒图点击
    editActivityClick(id) {
      this.currId = id
      this.showNewOrEditActivityDialog = true
      this.isEdit = true
      this.isView = false
      this.openDialog.name = '编辑'
      this.openDialog.type = 'edit'
    },
    // 查看晒图点击
    viewActivityClick(id) {
      this.currId = id
      this.showNewOrEditActivityDialog = true
      this.isEdit = false
      this.isView = true
      this.openDialog.name = '查看'
      this.openDialog.type = 'view'
    },
    async walletTotal(val, id) {
      let walletData = await walletApi.getAccountPrice()
      if (walletData.payId === 0) {
        if (walletData.leftMoney < 10 && walletData.leftMoney !== 0) {
          this.$confirm(`当前账户余额为${walletData.leftMoney}元，避免影响活动进行请充值！`, '提示', {
            confirmButtonText: '去充值',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(_ => {
            this.$router.push({
              name: types.PACKETS_RECHARGE
            })
          }).catch(_ => {
            this.addEditDialogJudge(val, id)
          })
        } else if (walletData.leftMoney === 0) {
          this.$alert(`当前账户余额为${walletData.leftMoney}元，避免影响活动进行请充值！`, '提示', {
            confirmButtonText: '去充值',
            type: 'warning'
          }).then(_ => {
            this.$router.push({
              name: types.PACKETS_RECHARGE
            })
          }).catch(_ => {})
        } else {
          this.addEditDialogJudge(val, id)
        }
      } else {
        this.addEditDialogJudge(val, id)
      }
    },
    addEditDialogJudge(val, id) {
      switch (val) {
        case 'add':
          this.newActivityClick()
          break
        case 'edit':
          this.editActivityClick(id)
          break
      }
    }
  }
}
</script>
