<template>
  <div>
    <el-dialog title="请选择个人号"
               :visible.sync="computedValue"
               width="700px"
               append-to-body>
      <div class="ly-margin-bottom-sm">
        <p>1.列表未展示二维码名片未上传的个人号，请前往【个人号列表】上传完善；</p>
        <p>2.一个个人号只能添加在一个微活码中</p>
      </div>
      <el-input v-model.trim="filters"
                :maxlength="100"
                autocomplete="off"
                placeholder="请输入微信信息进行过滤"
                clearable
                class="ly-width-641px">
        <!-- <el-button slot="append"
                   icon="el-icon-search"
                   @click="getPersonalNoList"></el-button> -->
      </el-input>
      <div class="ly-margin-top-15px">
        <el-tree :data="treeData"
                 :disabled="treeData.length ? false:true"
                 show-checkbox
                 node-key="id"
                 ref="tree"
                 :filter-node-method="filterNode"
                 :default-expanded-keys="[1]">
        </el-tree>
      </div>
      <div slot="footer"
           class="dialog-footer">
        <el-button @click="computedValue = false">取 消</el-button>
        <el-button type="primary"
                   @click="confirm">确 定</el-button>

      </div>
    </el-dialog>
  </div>
</template>

<script>
import { powderManageApi } from '@/api/system'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    checkArr: {
      type: Array,
      default: function () {
        return []
      }
    },
    currId: {
      type: [Number, String]
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
      form: {
        microId: ''
      },
      filters: '',
      treeData: [{
        id: 1,
        label: '全选',
        root: true, // 全选标识
        children: []
      }]
    }
  },
  watch: {
    computedValue(val) {
      if (val) {
        this.form.microId = this.currId
        this.getPersonalNoList()
      }
    },
    'filters'(val) {
      this.$refs.tree.filter(val)
    }
  },
  methods: {
    filterNode(value, data) {
      if (!value) return true
      return data.label.indexOf(value) !== -1
    },
    // 获取个人号列表
    async getPersonalNoList() {
      const data = await powderManageApi.getPersonalNoList(this.form)
      let treeData = data
      treeData.forEach(o => {
        this.$set(o, 'label', `${o.nickName}(${o.wxId})`)
      })
      this.treeData[0].children = treeData
      this.$nextTick(() => {
        this.$refs.tree.setCheckedKeys(this.checkArr)
      })
    },
    // 确定
    confirm() {
      let nodes = this.$refs.tree.getCheckedNodes()
      let gerenaNolList = []
      nodes.forEach((o) => {
        if (!o.root) { // 过滤全选选项
          gerenaNolList.push(o)
        }
      })
      this.$emit('on-confirm', gerenaNolList)
      this.computedValue = false
    }
  }
}
</script>
<style scoped>
</style>
