<template>
  <div class="ly-height-100">
    <div class="ly-bg-white ly-padding-sm ly-height-100">
      <div class="ly-box ly-box-align-justify-center ly-box-direction-column">
        <div>
          <el-form :model="params"
                   :rules="rules"
                   @submit.native.prevent
                   ref="params"
                   label-width="100px">
            <el-form-item label="通知标题："
                          prop="title"
                          required>
              <el-input v-model.trim="params.title"
                        :maxlength="20"
                        size="medium"
                        class="ly-width-300px"></el-input>
            </el-form-item>
            <el-form-item label="发送对象："
                          required>
              <el-select v-model="proxyId"
                         multiple
                         size="medium"
                         placeholder="所有代理商"
                         class="ly-margin-right-sm">
                <el-option v-for="item in proxyArr"
                           :key="item.id"
                           :label="item.name"
                           :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="发送企业："
                          required>
              <el-select v-model="enterId"
                         multiple
                         size="medium"
                         placeholder="所有企业">
                <el-option v-for="item in enterArr"
                           :key="item.id"
                           :label="item.name"
                           :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="通知内容："
                          required>
              <div>
                <vma-editor ref="editor" />
              </div>
            </el-form-item>
          </el-form>
          <el-button type="primary"
                     class="ly-float-right ly-margin-top-30px ly-margin-bottom-sm"
                     @click="sureCallback('params')"
                     size="small">发布</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { noticeApi } from '@/api/oms'
import VmaEditor from '@/components/libs/editor'

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  components: {
    VmaEditor
  },
  data() {
    return {
      params: {
        title: '',
        content: '',
        ids: []
      },
      enterArr: [],
      proxyArr: [],
      proxyId: [],
      enterId: [],
      rules: {
        title: [
          { required: true, message: '标题不能为空' },
          { min: 1, max: 20, message: '长度在 1 到 20 个字符' }
        ]
      }
    }
  },
  created() {
    this.getEnterArr()
    this.getProxyArr()
  },
  methods: {
    sureCallback(formName) {
      this.params.ids = []
      let ids = []
      // 不选就默认全选
      if (this.enterId.length === 0) {
        this.enterArr.forEach(item => {
          ids.push(item.id)
        })
      } else {
        this.enterId.forEach(item => {
          ids.push(item)
        })
      }
      if (this.proxyId.length === 0) {
        this.proxyArr.forEach(item => {
          ids.push(item.id)
        })
      } else {
        this.proxyId.forEach(item => {
          ids.push(item)
        })
      }
      this.params.ids = ids
      this.params.content = this.$refs.editor.getData()
      this.$refs[formName].validate((valid) => {
        if (valid && this.params.content) {
          noticeApi.addNotice(this.params).then(() => {
            this.success('发布成功！')
            this.$emit('on-cancel')
            this.$emit('getTableList')
          })
        } else {
          this.error('请填写完整表单信息！')
          return false
        }
      })
    },
    /**
     * 获取企业列表
     */
    getEnterArr() {
      noticeApi.getEnterList().then(result => {
        this.enterArr = result
      })
    },
    /**
     * 获取代理商列表
     */
    getProxyArr() {
      noticeApi.getProxyList().then(result => {
        this.proxyArr = result
      })
    }
  }
}
</script>
