<template>
  <el-container class="mt-20">
    <el-aside class="left-form">
      <div class="choose-send-target">
        <div class="search-form bb">
          <el-form :model="forms" :inline="true" label-width="60px">
            <el-form-item class="group-select" label="分组：">
              <staffGroupSelect v-model="forms.wxGroupInfoIds" placeholder="请选择分组" :freindType="SESSION_TYPE.C2C" :multiple="true" :collapse-tags="true"></staffGroupSelect>
            </el-form-item>
            <el-form-item class="remark-select" label-width="92px" label="昵称/备注：">
              <el-input v-model.trim="forms.relatesInformation" :maxlength="20" @keyup.enter.native="handlerBtnSearch">
              </el-input>
            </el-form-item>
          </el-form>
          <el-button class="search-btn mb-15" type="primary" @click="handlerBtnSearch">搜索</el-button>
        </div>
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">好友列表</span>
          </div>
        </div>
        <el-table
          ref="multipleTable"
          :data="table.list"
          tooltip-effect="dark"
          height="270"
          @selection-change="handleSelectionChange"
          row-key="id">
          <el-table-column
            type="selection"
            width="55"
            reserve-selection>
          </el-table-column>
          <el-table-column
            label="昵称"
            width="120">
            <template slot-scope="scope">
              <p class="ly-ellipsis2">{{ scope.row.nickName }}</p>
            </template>
          </el-table-column>
          <el-table-column
            label="备注"
            width="120">
            <template slot-scope="scope">
              <p class="ly-ellipsis2">{{ scope.row.remark }}</p>
            </template>
          </el-table-column>
          <el-table-column
            prop="sex"
            label="性别"
            show-overflow-tooltip>
            <template slot-scope="scope">
              <span v-if="scope.row.sex === 0">未知</span>
              <span v-else-if="scope.row.sex === 1">男</span>
              <span v-else-if="scope.row.sex === 2">女</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="cityName"
            label="城市"
            show-overflow-tooltip>
          </el-table-column>
        </el-table>
        <div class="ly-width-max-100p">
          <vma-pagination class="ly-text-right ly-box-1 mt-20"
                        :current-page.sync="params.current"
                        :page-size="params.size"
                        :page-sizes="[10, 20, 50, 100]"
                        :layout="'total, sizes, prev, next, jumper'"
                        :total="page.total"
                        @change="list" />
        </div>
      </div>
    </el-aside>
    <div class="center-line"></div>
    <el-container class="right-table">
      <div class="checked-target ly-width-100">
        <div class="choose-send-target">
          <div class="ly-box">
            <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
              <span class="ly-vertical-line">已选择好友列表（点击选框取消选择）</span>
            </div>
          </div>
          <!-- 选中的列表 -->
          <el-table
            ref="targetTable"
            :data="targetTableParam.currentPageData"
            @selection-change="handleTargetSelectionChange"
            tooltip-effect="dark"
            max-height="640"
            row-key="id">
            <el-table-column
              type="selection"
              width="55"
              reserve-selection>
            </el-table-column>
            <el-table-column
              label="昵称"
              width="120">
              <template slot-scope="scope">
                <p class="ly-ellipsis2">{{ scope.row.nickName }}</p>
              </template>
            </el-table-column>
            <el-table-column
              label="备注"
              width="120">
              <template slot-scope="scope">
                <p class="ly-ellipsis2">{{ scope.row.remark }}</p>
              </template>
            </el-table-column>
            <el-table-column
              prop="sex"
              label="性别"
              show-overflow-tooltip>
              <template slot-scope="scope">
                <span v-if="scope.row.sex === 0">未知</span>
                <span v-else-if="scope.row.sex === 1">男</span>
                <span v-else-if="scope.row.sex === 2">女</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="cityName"
              label="城市"
              show-overflow-tooltip>
            </el-table-column>
          </el-table>
          <div class="ly-width-max-100p">
            <vma-pagination class="ly-text-right ly-box-1 mt-20"
                            :current-page.sync="targetTableParam.current"
                            :page-size="targetTableParam.size"
                            :page-sizes="[10, 20, 50, 100]"
                            :layout="'total, sizes, prev, next, jumper'"
                            :total="targetTableParam.total"
                            @change="listTargetTable"
                            v-if="rightTableData.length > 0" />
          </div>
        </div>
      </div>
    </el-container>
  </el-container>
</template>

<script>
import { arrToMap } from '@/utils'
import { indexMixin } from '@/mixins'
import { customerServiceApi } from '@/api/chat'
import staffGroupSelect from '@/components/packages/chat/lazySelect/staffGroupSelect'
import Logger from '@/utils/logger'
import { SESSION_TYPE } from '@/constants/chat'

export default {
  components: {
    staffGroupSelect,
    
  },
  mixins: [indexMixin],
  data() {
    return {
      SESSION_TYPE,
      params: {
        current: 1,
        size: 10,
        labelIds: [],
        labelType: 1,
        cityIds: [],
        cityType: 1,
        // wechatAccountIds: [],
        wxGroupInfoIds: [],
        relatesInformation: null
      },
      forms: {
        current: 1,
        size: 10,
        labelIds: [],
        labelType: 1,
        cityIds: [],
        // cityType: 1,
        // wechatAccountIds: [],
        wxGroupInfoIds: [],
        relatesInformation: null
      },
      last: {},
      cityList: [],
      labelsList: [],
      // 左边列表勾选的
      rightTableData: [],
      targetTableParam: {
        current: 1,
        size: 50,
        total: 0,
        currentPageData: []
      },
      // 右边列表勾选的，最后使用的
      lastSelectTableData: []
    }
  },
  methods: {
    rightTableDataMap() {
      return arrToMap(this.rightTableData)
    },
    /**
     * 查询列表第一页
     */
    search() {
      this.list(1)
    },
    // 当左边复选框，选择项发生变化时
    handleSelectionChange(rows) {
      // leftSelectionMap 左边列表所有存储的选中对象
      let selection = this.rightTableData
      // leftSelectionMap 左边列表当前页的选中对象
      let leftNowPageList = this.table.list
      const leftNowPageSelectionMap = arrToMap(rows)
      // let olderSelectionLen = this.rightTableData.length
      // 更改右边的列表数据
      let rightTableMapItem
      // 右边的列表选中状态
      let lastSelection = this.lastSelectTableData
      leftNowPageList.forEach((v, i) => {
        rightTableMapItem = this.rightTableDataMap()[v.id]
        if (leftNowPageSelectionMap[v.id]) {
          // 左边有勾选
          if (!rightTableMapItem) {
            // 右边列表不存在，则右边列表新增该条数据并且选中
            selection.push(v)
            lastSelection.push(v)
          }
        } else {
          // 左边没有勾选
          // 先查看是右边的列表否存在
          if (rightTableMapItem) {
            selection.splice(selection.indexOf(rightTableMapItem), 1)
            lastSelection.splice(lastSelection.indexOf(rightTableMapItem), 1)
          }
        }
      })
      // 更改右边列表、以及选择状态
      this.listTargetTable(this.targetTableParam.current, this.targetTableParam.size, rows)
      this.$emit('set-table', this.lastSelectTableData)
    },
    handlerBtnSearch() {
      this.params = Object.assign({}, this.params, this.forms)
      this.search()
    },
    /**
     * 切换所选列表当前页数据
     * @param  {[type]} current [description]
     * @param  {[type]} size    [description]
     * @return {[type]}         [description]
     */
    listTargetTable(current, size, needToggleRowArray = []) {
      let currentData = this.rightTableData.slice(size * (current - 1), size * current)
      // 当前页为空时，往上一页
      if (currentData.length === 0 && current > 1) {
        currentData = this.rightTableData.slice(size * (current - 2), size * (current - 1))
      }
      this.targetTableParam = {
        current,
        size,
        total: this.rightTableData.length,
        currentPageData: currentData || []
      }
      if (needToggleRowArray.length > 0) {
        let lastSelectionMap = this.getLastSelectionMap()
        let rightTableSelectionMap = this.getRightTableSelectionMap()
        this.$nextTick(() => {
          needToggleRowArray.forEach(v => {
            // 当前页中存在，最后勾选的也存在，但是右边列表的总的勾选列表中不存在
            if (currentData.indexOf(v) > -1 && lastSelectionMap[v.id] && !rightTableSelectionMap[v.id]) {
              this.$refs.targetTable.toggleRowSelection(v)
            }
          })
        })
      } else {
        let lastSelectionMap = this.getLastSelectionMap()
        let rightTableSelectionMap = this.getRightTableSelectionMap()
        this.$nextTick(() => {
          currentData.forEach(v => {
            // 当前页中存在，最后勾选的也存在，但是右边列表的总的勾选列表中不存在
            if (lastSelectionMap[v.id] && !rightTableSelectionMap[v.id]) {
              this.$refs.targetTable.toggleRowSelection(v)
            }
          })
        })
      }
    },
    handleTargetSelectionChange(rows) {
      Logger.info('右边列表')
      let selection = this.lastSelectTableData
      let rightNowPageList = this.targetTableParam.currentPageData
      const rightNowPageSelectionMap = arrToMap(rows)
      let lastSelectionMapItem
      rightNowPageList.forEach(v => {
        if (!rightNowPageSelectionMap[v.id]) {}
        lastSelectionMapItem = this.getLastSelectionMap()[v.id]
        if (rightNowPageSelectionMap[v.id]) {
          // 右边有勾选
          if (!lastSelectionMapItem) {
            // 最后列表不存在，则最后列表新增该条数据
            selection.push(v)
          }
        } else {
          // 左右边没有勾选
          // 先查看是最后的列表否存在
          if (lastSelectionMapItem) {
            selection.splice(selection.indexOf(lastSelectionMapItem), 1)
          }
        }
      })
      this.$emit('set-table', this.lastSelectTableData)
    },
    /**
     * 获取右边勾选的map
     * @return {[type]} [description]
     */
    getRightTableSelectionMap() {
      let table = this.$refs.targetTable
      if (table) {
        return arrToMap(table.selection) || {}
      }
      return {}
    },
    /**
     * 获取左边的map
     * @return {[type]} [description]
     */
    getLeftTableSelectionMap() {
      let table = this.getTableRef()
      if (table) {
        return arrToMap(table.selection) || {}
      }
      return {}
    },
    getLastSelectionMap() {
      return arrToMap(this.lastSelectTableData) || {}
    },
    /**
     * 决定这一行的 CheckBox 是否可以勾选
     * @param  {[type]} row   [description]
     * @param  {[type]} index [description]
     * @return {[type]}       [description]
     */
    getApi() {
      return {
        list: customerServiceApi.searchCustomerServerFrenidList
      }
    },
    // 更改标签
    // changeLabelIds(val) {
    //   this.$set(this.forms, 'labelIds', val)
    // },
    
  }
}
</script>
