<template>
  <el-form label-width="120px">
    <el-form-item label="敏感行为：">
      <p>{{details.actionInfo}}</p>
    </el-form-item>
    <el-form-item label="微信信息：">
      <div class="el-imgtxt-mix"
           v-if="details.acountInfo">
        <div class="el-imgtxt-mix-img ly-wh-50px">
          <img :src="details.acountInfo.headIcon | wechatAvtor"
               v-image-view />
        </div>
        <div class="el-imgtxt-mix-txt">
          <p class="el-imgtxt-mix-p1">{{details.acountInfo.nickName}}</p>
          <p class="el-imgtxt-mix-p2">{{details.acountInfo.phone}}</p>
          <p class="el-imgtxt-mix-p3">{{details.acountInfo.wxAccount}}</p>
        </div>
      </div>
    </el-form-item>
    <el-form-item label="微信当时设备：">
      <p>
        <span>{{details.imei ||''}}</span>
        <span v-if="details.eqRemark">({{details.eqRemark}})</span>
      </p>
    </el-form-item>
    <el-form-item label="设备当时所属：">
      <p>{{details.eqOwnerStaffName}}</p>
    </el-form-item>
    <el-form-item label="好友信息：">
      <div class="el-imgtxt-mix"
           v-if="details.userOrGroupInfo">
        <div class="el-imgtxt-mix-img ly-wh-50px">
          <img :src="details.userOrGroupInfo.headIcon | wechatAvtor"
               v-image-view />
        </div>
        <div class="el-imgtxt-mix-txt">
          <p class="el-imgtxt-mix-p1">{{details.userOrGroupInfo.nickName}}</p>
          <p class="el-imgtxt-mix-p2">{{details.userOrGroupInfo.wxAccount}}</p>
          <p class="el-imgtxt-mix-p3">{{details.userOrGroupInfo.wxId}}</p>
        </div>
      </div>
    </el-form-item>
    <el-form-item label="操作员工：">
      <p>{{details.staffName}}</p>
    </el-form-item>
    <el-form-item label="操作时间：">
      <p>{{fmt.date(details.createTime)}}</p>
    </el-form-item>
    <el-form-item label="敏感内容：">
      <p :style="{color:details.color}">{{details.riskActionInfo}}</p>
    </el-form-item>
    <el-form-item label="处理结果：">
      <p><span>{{details.isNormal===0?'正常':'异常'}}</span>&ensp;{{details.status==1?'已处理':'待处理'}}</p>
    </el-form-item>
    <el-form-item label="处理备注: ">
      <p>{{details.dealRemark}}</p>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dataInfo.open = false">关 闭</el-button>
    </el-form-item>
  </el-form>
</template>

<script>

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      details: {}
    }
  },
  created() {
    this.details = this.dataInfo.data
  }
}
</script>
