<template>
  <div>
    <el-table :data="dataInfo"
              :row-style="{'height': '60px'}"
              height="450"
              style="width: 100%">
      <el-table-column label="敏感行为"
                       width="145">
        <template slot-scope="scope">
          <span :style="{color:scope.row.color}">{{scope.row.actionName}}</span>
        </template>
      </el-table-column>
      <el-table-column label="是否默认正常"
                       width="145">
        <template slot-scope="scope">
          <span v-if="!scope.row.state">
            <span v-if="scope.row.status">默认正常</span>
            <span v-else>默认异常</span>
          </span>
          <el-checkbox v-model="scope.row.status"
                       v-else
                       @change="change">默认正常</el-checkbox>
        </template>
      </el-table-column>
      <el-table-column label="显示色值">
        <template slot-scope="scope">
          <span v-if="!scope.row.state"
                :style="{color:scope.row.color}">颜色</span>
          <el-color-picker v-model="scope.row.color"
                           size="mini"
                           v-else></el-color-picker>
        </template>
      </el-table-column>
      <el-table-column label="操作"
                       width="90">
        <template slot-scope="scope">
          <el-button size="mini"
                     type="primay"
                     @click="handleEdit(scope.$index, scope.row)"
                     v-if="!scope.row.state">编辑</el-button>
          <el-button size="mini"
                     type="primay"
                     @click="handleSave(scope.$index, scope.row)"
                     v-else>保存</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="closeCallback">关 闭</el-button>
    </div>
  </div>
</template>

<script>
import { riskManagementApi } from '@/api/system'

export default {
  props: {
    openInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      dataInfo: [],
      isChecked: null
    }
  },
  created() {
    this.getList()
  },
  methods: {
    // 获取列表
    getList() {
      riskManagementApi.sensitiveTypeList().then(res => {
        for (var i = 0; i < res.length; i++) {
          var item = res[i]
          item.status = !item.status // 1异常 0正常
          item.color = item.color || '#000000'
          item.state = false // 0-编辑，1--保存
        }
        this.dataInfo = res
      })
    },
    // 编辑
    handleEdit(index, row) {
      this.dataInfo[index].state = !row.state
      this.isChecked = !row.status
    },
    change(val) {
      this.isChecked = !val
    },
    // 保存
    handleSave(index, row) {
      this.dataInfo[index].state = !row.state
      riskManagementApi.editSensitiveType({ color: row.color, id: row.id, status: +this.isChecked, action_id: row.actionId }).then(res => {
        this.success('恭喜你，保存成功')
      })
    },
    closeCallback() {
      this.openInfo.open = false
      this.$emit('getTableList')
    }
  }
}
</script>
