<template>
    <el-dialog title="图文链接预览"
             :visible.sync="dialogVisible"
             @close="dialogClose">
    <div>
        <imgtxtLink :imgTxtLinkInfo = 'linkData'></imgtxtLink>
    </div>
    <div slot="footer" class="dialog-footer" v-if="data.sendBtn">
      <el-button @click="dialogClose">取 消</el-button>
      <el-button type="primary" @click="sendMiniProgramMsg">发送</el-button>
    </div>
  </el-dialog>
</template>
<script>
    import imgtxtLink from './imgtxtLink.vue'
    export default {
        props: {
            data: {
                type: Object,
                default () {
                    return {}
                }
            }
        },
        components: {
            imgtxtLink
        },
        data() {
            return {
                dialogVisible: true,
                linkData: {}
            }
        },
        created() {
            this.dialogVisible = true;
            this.linkData = JSON.parse(this.data.data.msgText)
        },
        methods: {
            dialogClose() {
                this.$emit('on-close')
            },
            sendMiniProgramMsg() {
                this.$emit('on-send', this.data)
            }
        },
    }
</script>