<template>
  <el-form :model='imgTxtLinkInfo' :rules='rules' ref="imgtxtLinkRef" label-width="136px" class="mt-30">
    <el-form-item label='图文链接标题' prop='imgtxtTitle' label-width="136px">
      <el-input :disabled="disabled" v-model="imgTxtLinkInfo.imgtxtTitle"></el-input>
    </el-form-item>
    <el-form-item label='图文链接' prop='imgtxtLinking' label-width="136px">
      <el-input :disabled="disabled" v-model="imgTxtLinkInfo.imgtxtLinking"></el-input>
    </el-form-item>
    <el-form-item label='描述' prop='imgtxtDescribe' label-width="136px">
      <el-input :disabled="disabled" v-model="imgTxtLinkInfo.imgtxtDescribe"></el-input>
    </el-form-item>
    <el-form-item label='图片' prop='imgtxtUrl' label-width="136px">
      <vma-image-upload :disabled="disabled" v-model="imgTxtLinkInfo.imgtxtUrl" :exts="['jpg', 'png', 'jpeg']" :singleFileSize="10" />
    </el-form-item>
  </el-form>
</template>
<script>
export default {
  props: {
    imgTxtLinkInfo: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      rules: {

      },
      disabled: true
    }
  },
  created () { }
}
</script>
<style scoped>
</style>
