<template>
  <el-dialog title="小程序预览" :visible.sync="dialogVisible" @close="dialogClose">
    <div>
      <el-form :model="miniProgramData" label-width="136px" class="mt-30">
        <el-form-item label="小程序标题:" label-width="136px">
          <el-input :disabled="disabled" v-model="JSON.parse(this.miniProgramData.data.msgText).miniProgramName" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="小程序描述:" label-width="136px">
          <el-input :disabled="disabled" v-model="JSON.parse(this.miniProgramData.data.msgText).description" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="OriginalId:" label-width="136px">
          <el-input :disabled="disabled" v-model="JSON.parse(this.miniProgramData.data.msgText).miniProgramId" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="小程序路径:" label-width="136px">
          <el-input :disabled="disabled" v-model="JSON.parse(this.miniProgramData.data.msgText).miniProgramPath" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="缩略图:" label-width="136px" style="text-align:center">
          <vma-image-upload v-model="JSON.parse(this.miniProgramData.data.msgText).thumbPath" :exts="['jpg', 'png', 'jpeg']" :singleFileSize="10" :disabled="disabled" />
          <!-- <img class="preview-image"
         :src="JSON.parse(this.miniProgramData.data.msgText).thumbPath"
         alt=""
         v-image-view> -->
        </el-form-item>
      </el-form>
    </div>
    <div slot="footer" class="dialog-footer" v-if="miniProgramData.sendBtn">
      <el-button @click="dialogClose">取 消</el-button>
      <el-button type="primary" @click="sendMiniProgramMsg">发送</el-button>
    </div>
  </el-dialog>
</template>

<script>
export default {
  props: {
    miniProgramData: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  components: {},
  data () {
    return {
      dialogVisible: true,
      wechatMsg: {},
      disabled: true
    }
  },
  created () {
    this.dialogVisible = true
    // this.wechatMsg = JSON.parse(this.miniProgramData.data.msgText)
  },
  methods: {
    dialogClose () {
      this.$emit('on-close')
    },
    sendMiniProgramMsg () {
      this.$emit('on-send', this.miniProgramData)
    }
  }
}
</script>
