<template>
  <div class="wechatBox">
    <el-form :model="weChatInfo" :rules="rules" ref="wechatRef" label-width="136px" class="mt-30">
      <el-form-item label="小程序标题:" prop="miniProgramName" label-width="136px">
        <el-input :disabled="disabled" v-model="weChatInfo.miniProgramName" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="小程序描述:" prop="description" label-width="136px">
        <el-input :disabled="disabled" v-model="weChatInfo.description" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="OriginalId:" prop="miniProgramId" label-width="136px">
        <el-input :disabled="disabled" v-model="weChatInfo.miniProgramId" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="小程序路径:" prop="miniProgramUrl" label-width="136px">
        <el-input :disabled="disabled" v-model="weChatInfo.miniProgramUrl" autocomplete="off"></el-input>
      </el-form-item>
      <!-- <el-form-item label="小程序关联公众号原始ID:" prop="relateAccountId" label-width="136px">
          <el-input :disabled='disabled' v-model="weChatInfo.relateAccountId" autocomplete="off"></el-input>
      </el-form-item>-->
      <el-form-item label="缩略图:" prop="thumbUrl" label-width="136px" style="text-align:center">
        <vma-image-upload v-model="weChatInfo.thumbUrl" :exts="['jpg', 'png', 'jpeg']" :singleFileSize="10" :disabled="disabled" />
      </el-form-item>
    </el-form>
    <!-- <div style="margin-left:14px">
      快捷输入小程序 ：
      <el-autocomplete
        class="inline-input"
        v-model="miniProgramTitle"
        :fetch-suggestions="querySearch"
        placeholder="快捷输入小程序"
        @select="handleSelect"
        :disabled="disabled"
      ></el-autocomplete>
    </div> -->
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    weChatInfo: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data () {
    return {
      miniProgramTitle: '',
      maxlength: 2000,
      rules: {
        miniProgramId: [{
          required: true,
          message: '请输入OriginalId',
          trigger: 'blur'
        }],
        miniProgramUrl: [{
          required: true,
          message: '请输入小程序路径',
          trigger: 'blur'
        }]
      },
      disabled: true
    }
  },
  mounted () { },
  methods: {
    // 子组件校验，传递到父组件
    validateForm () {
      let flag = null
      this.$refs['wechatRef'].validate(valid => {
        if (valid) {
          flag = true
          this.$emit('getWeChatForm', this.weChatInfo)
        } else {
          this.warn('请输入或选择消息内容')
          flag = false
        }
      })
      return flag
    }
  }
}
</script>
<style type="text/scss" scoped>
.wechatBox {
  max-height: 45vh;
}
</style>
