<template>
  <el-dialog title="文字预览" :visible.sync="dialogVisible" @close="dialogClose">
    <el-input disabled type='textarea' :rows="4" v-model="data.data.msgText"></el-input>
    <div slot="footer" class="dialog-footer" v-if="data.sendBtn">
      <el-button @click="dialogClose">取 消</el-button>
      <el-button type="primary" @click="sendVideoMsg">发送</el-button>
    </div>
  </el-dialog>
</template>
<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      dialogVisible: true,
      words: ''
    }
  },
  created () {
    this.dialogVisible = true
    this.words = this.data.data.msgText
  },
  methods: {
    dialogClose () {
      this.$emit('on-close')
    },
    sendVideoMsg () {
      this.$emit('on-send', this.data)
    }
  }
}
</script>
