<template>
  <div>
    <el-form :model="params" :rules="rules" ref="ruleForm">
      <el-form-item label="应用名称:" :label-width="formLabelWidth" prop="appName">
        <el-input class="ly-width-280px-im"
                  autocomplete="off"
                  v-model.trim="params.appName"
                  :maxlength="60"
                  placeholder="请输入app名称"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="应用package:" :label-width="formLabelWidth" prop="packageName">
        <el-input class="ly-width-280px-im"
                  autocomplete="off"
                  v-model.trim="params.packageName"
                  :maxlength="60"
                  placeholder="请输入包名"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="图标:" :label-width="formLabelWidth" prop="appIcon">
        <vma-image-upload v-model="params.appIcon"
                          :limit="limit"
                          :multiple="limit>0?true:false"
                          :singleFileSize="10"
                          class="ly-wh-80-80px" />
        <div class="ly-font-color-8 ly-margin-top-sm">尺寸：60*60</div>
      </el-form-item>

      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog()">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
    import {
        riskManagementApi
    } from '@/api/system'
    export default {
        props: {
            dialog: {
                type: Boolean,
                default: function() {
                    return true
                }
            }
        },
        data() {
            const imgUrlValidator = (rule, value, callback, source, options) => {
                let errors = []
                if (!this.params.appIcon) {
                    errors.push('请上传图标')
                }
                callback(errors)
            }
            return {
                formLabelWidth: '136px',
                departmentId: [],
                departmentIdSec: '',
                params: {
                    appName: '',
                    packageName: '',
                    appIcon: ''
                },
                limit: 1,
                rules: {
                    appName: [{
                        required: true,
                        message: '请输入app名称'
                    }],
                    packageName: [{
                        required: true,
                        message: '请输入包名'
                    }],
                    // imgUrl: [
                    //   { require: true, message: '请上传图片' }
                    // ],
                    appIcon: [{
                        validator: imgUrlValidator
                    }]
                }
            }
        },
        created() {},
        methods: {
            /**
             * 关闭弹窗
             */
            closeDialog() {
                this.$emit('closeDialog')
            },

            /**
             * 保存
             */
            submitInfo() {
                this.$refs.ruleForm.validate((valid) => {
                    if (valid) {
                        this.addApp()
                            // this.checkGroupName()
                    } else {
                        return false
                    }
                })
            },
            addApp() {
                riskManagementApi.addAppSetting(this.params).then((res) => {
                    this.$emit('refreshList')
                    this.closeDialog()
                })
            },
            /**
             * 修改--保存
             */
            async submitModifyInfo() {
                let params = {
                    groupName: this.params.groupName
                }
                if (this.dialogProp.data) {
                    params.id = this.dialogProp.data.id
                } else {
                    return false
                }
                // await deviceManageApi.mManageGroupModify(params).then((res) => {
                //   if (res === 2 || res === '2') {
                //     this.$message({
                //       message: '修改成功',
                //       type: 'success'
                //     })
                //     this.$emit('refreshLeftGroupInfo', params)
                //   } else {
                //     this.$message({
                //       message: '分组名称重名',
                //       type: 'warning'
                //     })
                //   }
                // })
            }
        }
    }
</script>
<style>
    .ly-wh-80-80px .el-upload--picture-card,
    .ly-wh-80-80px .el-upload-list--picture-card .el-upload-list__item {
        width: 80px;
        height: 80px;
        line-height: 90px;
    }
    
    .ly-wh-80-80px .el-upload-list--picture-card .el-upload-list__item {
        line-height: 1;
    }
</style>