<template>
  <div>
    <el-form :model="params" :rules="rules" ref="ruleForm">
      <el-form-item label="应用名称:" :label-width="formLabelWidth" prop="appName">
        <el-input class="ly-width-280px-im"
                  autocomplete="off"
                  v-model.trim="params.appName"
                  :maxlength="20"
                  placeholder="请输入app名称"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="APP下载地址:" :label-width="formLabelWidth" prop="appUrl">
        <el-input class="ly-width-280px-im"
                  autocomplete="off"
                  v-model.trim="params.appUrl"
                  :maxlength="20"
                  placeholder="请输入APP下载地址"
                  clearable></el-input>
      </el-form-item>
      <!--
      <el-form-item label="图标:" :label-width="formLabelWidth" prop="appIcon">
        <vma-image-upload v-model="params.appIcon"
                          :limit="limit"
                          :multiple="limit>0?true:false"
                          :singleFileSize="10"
                          class="ly-wh-80-80px" />
        <div class="ly-font-color-8 ly-margin-top-sm">尺寸：60*60</div>
      </el-form-item>
      -->
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { v4RiskManagementApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      departmentId: [],
      departmentIdSec: '',
      params: {
        appName: '',
        appUrl: ''
      },
      limit: 1,
      rules: {
        appName: [
          { required: true, message: '请输入app名称' }
        ],
        appUrl: [
          { required: true, message: '请输入app下载地址' }
        ]
      }
    }
  },
  created() {
  },
  methods: {
    /**
     * 关闭弹窗
     */
    closeDialog(event, clear) {
      this.$emit('colseDialog', this.dialogProp.params, clear)
    },

    /**
     * 保存
     */
    submitInfo() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.addApp()
          // this.checkGroupName()
        } else {
          return false
        }
      })
    },
    addApp() {
      let params = Object.assign({}, this.params)
      params.imeiList = this.dialogProp.ids
      v4RiskManagementApi.installApp(params).then((res) => {
        // this.$emit('refreshList')
        this.success('保存成功')
        let trueStat = true
        let clear = this.dialogProp.typeVal === 2 ? trueStat : false
        this.closeDialog('', clear)
      })
    }
  }
}
</script>
