<template>
  <div>
    <!--
    <div class="title">
      <span class="ly-vertical-line">风控名称（已授权设备数量）</span>
    </div>
    -->
    <p class="ly-font-14 ly-padding-horizontal-sm ly-box ly-box-align-center" style="box-sizing: border-box">
      <span class="ly-box-1 ly-font-color-2">添加设备后，该设备将无法下载此应用</span>
      <i class="el-icon-plus ly-font-color-5 ly-cursor-pointer" @click="addAppDialog = true"></i>
    </p>
    <ul class="ly-sidebar-list left-ul">
      <li class="ly-sidebar-item ly-box ly-box-align-center"
          v-for="(item,index) in list"
          :key="item.id"
          :class="{'active':isActive===index}"
          @click="getEquipmentList(item,index)">
            <img v-show="item.appIcon" :src="item.appIcon" class="ly-wh-30px ly-margin-right-sm" style="border-radius:4px;">
            <img v-show="!item.appIcon" src="@/assets/images/common/wechat-avtor.png" class="ly-wh-30px ly-margin-right-sm" style="border-radius:4px;">
            <div class="ly-width-200px ell" :title="item.title"><span class="ly-margin-right-xs">{{ item.appName }}</span>{{item.packageName }}（{{item.eqNum}}）</div>
            <!-- <span> {{ item.packageName }}</span> -->
            <!-- <span>（{{item.eqNum}}）</span> -->
      </li>
    </ul>
    <p class="ly-text-center"
       v-if="list.length===0">暂无数据</p>
    <!--新增APP设置-->
    <el-dialog title="新增APP设置"
               width="689px"
               :visible.sync="addAppDialog"
               v-if="addAppDialog"
               @close="addAppDialog = false"
               append-to-body>
      <addAppSetting @refreshList="getList()" @closeDialog="addAppDialog = false"></addAppSetting>
    </el-dialog>
  </div>
</template>

<script>
import { riskManagementApi } from '@/api/system'
import addAppSetting from './addAppSetting'
export default {
  components: { addAppSetting },
  data() {
    return {
      list: [],
      currentId: null,
      isActive: null,
      addAppDialog: false
    }
  },
  created() {
    this.getList()
  },
  methods: {
    // 获取应用列表
    getList() {
      riskManagementApi.getAppManageList().then(res => {
        res.forEach(item => {
          item.title = `【${item.appName}】${item.packageName}(${item.eqNum})`
        })
        this.list = res
        if (res.length > 0) {
          if (this.isActive) {
            this.getEquipmentList(res[this.isActive], this.isActive)
          } else {
            this.getEquipmentList(res[0], 0)
          }
        }
      })
    },
    // 获取设备列表
    getEquipmentList(obj, index) {
      if (obj && obj.id) {
        this.currentId = obj.id
        this.isActive = index
      } else {
        this.currentId = null
      }
      this.$emit('setLimitId', this.currentId)
    }
  }
}
</script>
<style scoped>
  .left-ul {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
</style>
