<template>
  <div>
    <div class="ly-box" style="max-height: 60vh;">
      <div style="width: 200px; margin-right: 10px; max-height: 100%;">
        <el-tree
          v-if="departmentTree[0]"
          :data="departmentTree"
          :expand-on-click-node="false"
          default-expand-all
          node-key="id"
          ref="tree"
          :props="defaultProps" class="tree-element">
          <span class="custom-tree-node ell ly-width-max-100px" slot-scope="{ node, data }">
            <span><el-checkbox v-model="data.check" :key="data.id" @change.native="toggleCheckDepartmentTree($event, node, data)"></el-checkbox></span>
            <span :title="node.label" @click="changeDepartmentTree(node, data)">
              {{ node.label }}
            </span>
          </span>
        </el-tree>
      </div>
      <div class="ly-box-1">
        <div class="ly-margin-left-10px">
          <div class="search-eles">
            <div class="ly-inline-block ly-margin-right-bottom-sm">
              <el-input placeholder="设备编号/IMEI/备注/员工姓名"
                        clearable
                        v-model.trim="params.equInfo"
                        :maxlength="100"
                        size="medium"
                        style="width: 235px;"
                        @keyup.native.enter="search"></el-input>
            </div>
            <deviceGroupingSelect v-model="params.groupId"
                                  size="medium"
                                  clearable
                                  placeholder="设备分组"></deviceGroupingSelect>
            <el-button type="primary"
                       size="medium" @click="search">搜索</el-button>
            <el-button size="medium" @click="resetData">重置</el-button>
          </div>
          <p>已选择<span class="ly-font-color-5 ly-margin-left-2px ly-font-weight-bold">{{allNum}}</span></p>
          <p>(当前部门{{currentEquip}}个设备，已选{{currentNum}}个；全部{{totalEquip}}个设备)</p>
        </div>
        <div class="equiplist ly-margin-top-10px" style="max-height: calc(100% - 150px);overflow-y: auto">
          <div v-for="(item, index) in equipArr" :key="item.equOwnerStaffName + 'name' + index" style="margin-bottom: 13px;">
            <el-checkbox v-model="item.check" class="ly-margin-left-10px" @change="changeStatus($event, index, item.departmentId)">{{item.equOwnerStaffName || '未分配员工'}}</el-checkbox>
            <span class="ly-font-color-5 ly-cursor-pointer" @click="toggleShow(index, item)">{{item.show?'折叠':'展开'}}</span>
            <div class="ly-box ly-flexwrap-wrap ly-equip-tab" v-show="item.show">
              <div :class="itemSec.check ? 'active':''" v-for="(itemSec, indexSec) in item.detailList" @click="toggleCheck(index, indexSec, item.departmentId)" :key="itemSec.imei + '编号' + indexSec">
                <p>编号：{{itemSec.id}}</p>
                <p class="ell">序列号：<span title="4">{{itemSec.imei}}</span></p>
                <p class="ell">备注：<span title="sdf">{{itemSec.remark}}</span></p>
                <div class="ly-check-icon-blur"><span><i class="el-icon-check"></i></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ly-text-right" style="padding-top: 10px;">
          <el-button size="medium" @click="dialogProp.show = false">取 消</el-button>
          <el-button size="medium" class="ly-margin-right-18" type="primary" @click="submitGroupInfo">确 定</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { riskManagementApi, deviceManageApi } from '@/api/system'
import {
  deviceGroupingSelect
} from '@/components/packages/system/lazySelect'
export default {
  mixins: [],
  components: {
    deviceGroupingSelect
  },
  props: {
    limitId: {
      type: [Number, String],
      default: function() {
        return null
      }
    },
    dialogProp: {
      type: [Object],
      default: function() {
        return {}
      }
    },
    addType: {
      type: String,
      default: function() {
        return ''
      }
    }
  },
  data() {
    return {
      props: {
        label: 'name',
        children: 'zones'
      },
      count: 1,
      params: {
        equInfo: '',
        groupId: ''
      },
      departmentTree: [
        {
          id: -2,
          name: '公司',
          check: false,
          children: []
        }
      ],
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      checked: true,
      equipArr: [],
      equipArrCopy: [],
      departIdCount: {}
    }
  },
  watch: {},
  computed: {
    totalEquip() {
      let num = 0
      this.equipArrCopy.forEach(item => {
        num += item.detailList.length
      })
      return num
    },
    allNum() {
      let num = 0
      this.equipArrCopy.forEach(item => {
        item.detailList.forEach(row => {
          let count = row.check ? 1 : 0
          num += count
        })
      })
      return num
    },
    currentNum() {
      let num = 0
      this.equipArr.forEach(item => {
        item.detailList.forEach(row => {
          let count = row.check ? 1 : 0
          num += count
        })
      })
      return num
    },
    currentEquip() {
      let num = 0
      this.equipArr.forEach(item => {
        num += item.detailList.length
      })
      return num
    }
  },
  created() {
    this.getDepartMent()
    this.getEquipeArr()
  },
  methods: {
    /**
     * 获取部门
     */
    async getDepartMent() {
      let data = this.departmentTree.slice(0)
      let undefindeGroup = [{
        id: -1,
        name: '未分配',
        check: false,
        children: []
      }]
      data[0].children = await deviceManageApi.mManageGroupDepartGet()
      data[0].children.push(undefindeGroup[0])
      this.addCheckParam(data, false)
      this.departmentTree = data
    },
    addCheckParam(arr, check) {
      arr.forEach(item => {
        this.$set(item, 'check', check)
        if (item.children) {
          item.children = this.addCheckParam(item.children, check)
        }
      })
      return arr
    },
    /**
     * 获取设备
     */
    async getEquipeArr() {
      let params = Object.assign({}, this.params, {limitId: this.limitId})
      let arr = await riskManagementApi.getAddEquipList(params)
      let departId = {
      }
      arr.forEach(item => {
        item.show = true
        item.check = false
        item.detailList.forEach(row => {
          row.check = false
        })
        if (departId[item.departmentId]) {
          departId[item.departmentId].num += item.detailList.length
        } else {
          departId[item.departmentId] = {
            num: item.detailList.length
          }
        }
      })
      this.departIdCount = departId
      this.equipArr = arr
      this.equipArrCopy = [...arr]
    },
    handleNodeClick(data) {
    },
    // 多选
    changeStatus(event, index, departmentId) {
      let arr = this.equipArr[index]
      arr.detailList.forEach(item => {
        item.check = event
      })
      this.$set(this.equipArr, index, arr)
      this.changeEquipArr(departmentId, event)
    },
    // 单选
    toggleCheck(index, indexSec, departmentId) {
      this.equipArr[index].detailList[indexSec].check = !this.equipArr[index].detailList[indexSec].check
      let num = 0
      let check = false
      this.equipArr[index].detailList.forEach(item => {
        if (item.check) {
          num += 1
        }
        if (num === this.equipArr[index].detailList.length) {
          check = true
        }
      })
      this.equipArr[index].check = check
      this.changeEquipArr(departmentId, check)
    },
    setLeftCheckByCount(departmentId, check) {
      if (check) {
        // 校验是否全部选择了
        check = this.checkIsCheckAll(departmentId)
      }
      this.changeCheckTree(this.departmentTree, departmentId, check)
      if (this.allNum < this.totalEquip) {
        this.departmentTree[0].check = false
      }
      if (this.allNum === 0) {
        // 取消全选
        this.setChildrenCheck(this.departmentTree, false)
      }
      if (this.allNum === this.totalEquip) {
        // 全选
        this.setChildrenCheck(this.departmentTree, true)
      }
    },
    changeCheckTree(arr, id, check) {
      arr.forEach(item => {
        if (item.id === id) {
          item.check = check
        } else {
          if (item.children) {
            item.children = this.changeCheckTree(item.children, id, check)
          }
        }
      })
      return arr
    },
    checkIsCheckAll(departmentId) {
      let num = 0
      this.equipArrCopy.forEach(item => {
        if (item.departmentId === departmentId && item.check) {
          num += item.detailList.length
        }
      })
      let total = this.departIdCount[departmentId]
      return total.num === num
    },
    // 折叠、展开
    toggleShow(index, item) {
      let arr = this.equipArr[index]
      arr.show = !arr.show
      this.$set(this.equipArr, index, arr)
      let staffId = item.staffId
      this.changeShowCope(staffId, arr.show)
    },
    changeShowCope(staffId, show) {
      this.equipArrCopy.forEach(item => {
        if (item.staffId === staffId) {
          item.show = show
        }
      })
    },
    changeEquipArr(departmentId, check) {
      let newCheck = check
      this.equipArrCopy.forEach(item => {
        let check = false
        let num = 0
        item.detailList.forEach(itemList => {
          this.equipArr.forEach(row => {
            row.detailList.forEach(rowList => {
              if (itemList.id === rowList.id) {
                itemList.check = rowList.check
                num += rowList.check ? 1 : 0
              }
            })
          })
        })
        if (num > 0 && num === item.detailList.length) {
          check = true
        }
        item.check = check
      })
      this.setLeftCheckByCount(departmentId, newCheck)
    },
    // 勾选部门
    toggleCheckDepartmentTree(event, node, data) {
      let arr = this.departmentTree
      let ids = []
      let tree = this.setTreeCheck(arr, !!event.target.checked, data)
      ids = this.getIds(tree, ids)
      this.setEquipCheck(ids)
    },
    setTreeCheck(arr, check, data) {
      arr = arr || []
      arr.forEach(item => {
        if (data.id === item.id) {
          item.check = check
          if (item.children) {
            this.setChildrenCheck(item.children, check)
          }
        } else {
          if (item.children) {
            this.setTreeCheck(item.children, check, data)
          }
        }
      })
      return arr
    },
    setChildrenCheck(arr, check) {
      arr.forEach(item => {
        item.check = check
        if (item.children) {
          this.setChildrenCheck(item.children, check)
        }
      })
      return arr
    },
    getIds(arr, ids) {
      arr = arr || []
      arr.forEach(item => {
        if (item.check) {
          ids.push(item.id)
        }
        if (item.children) {
          ids = this.getIds(item.children, ids)
        }
      })
      return ids
    },
    setEquipCheck(ids) {
      this.equipArr.forEach(item => {
        return this.setEquipCheckSec(item, ids)
      })
      this.equipArrCopy.forEach(item => {
        return this.setEquipCheckSec(item, ids)
      })
      if (this.allNum === this.totalEquip) {
        this.departmentTree[0].check = true
      } else {
        this.departmentTree[0].check = false
      }
    },
    setEquipCheckSec(item, ids) {
      let departmentId = item.departmentId
      if (ids.indexOf(departmentId) !== -1) {
        item.check = true
        item.detailList.forEach(row => {
          row.check = true
        })
      } else {
        item.check = false
        item.detailList.forEach(row => {
          row.check = false
        })
      }
      return item
    },
    // 点击部门
    changeDepartmentTree(node, data) {
      let ids = [data.id]
      data.children = data.children || []
      data.children.forEach(item => {
        ids.push(item.id)
      })
      let arr = []
      this.equipArrCopy.forEach(item => {
        for (let i = 0; i < ids.length; i++) {
          if (ids[i] === item.departmentId) {
            arr.push(item)
            break
          }
        }
      })
      this.equipArr = arr
    },
    // 重置
    resetData() {
      this.equipArr = [...this.equipArrCopy]
      this.params = {
        equInfo: '',
        groupId: ''
      }
    },
    // 搜索
    async search() {
      let arr
      if (this.params.equInfo === '' && !this.params.groupId) {
        this.resetData()
        this.equipArrCopy.forEach(item => {
          let num = 0
          item.detailList.forEach(row => {
            num += row.check ? 1 : 0
          })
          if (num === item.detailList.length) {
            item.check = true
          }
        })
        return
      } else {
        let params = Object.assign({}, this.params, {limitId: this.limitId})
        arr = await riskManagementApi.getAddEquipList(params)
      }
      arr.forEach(item => {
        item.show = true
        item.check = false
        item.detailList.forEach(row => {
          row.check = false
        })
      })
      this.equipArr = arr
      let equipArrCopy = this.equipArrCopy
      for (let i = 0; i < arr.length; i++) {
        for (let j = 0; j < arr[i].detailList.length; j++) {
          equipArrCopy.forEach(item => {
            item.detailList.forEach(row => {
              if (row.check && row.id === arr[i].detailList[j].id) {
                this.toggleCheck(i, j, item.departmentId)
              }
            })
          })
        }
      }
    },
    async submitGroupInfo() {
      let equIds = []
      this.equipArrCopy.forEach(item => {
        item.detailList.forEach(row => {
          if (row.check) {
            equIds.push(row.id)
          }
        })
      })
      let params = {
        equIds: equIds,
        limitId: this.limitId,
        flag: 1
      }
      if (this.addType === 'limit') { // 权限管理
        await riskManagementApi.removeEquipList(params).then(res => {
          this.success('添加成功！')
          this.$emit('colseDialog')
          this.$emit('getTableList')
          this.$emit('refreshLeftList')
        })
      }
      if (this.addType === 'application') {
        await riskManagementApi.removeAppEquipList(params).then(res => {
          this.success('添加成功！')
          this.$emit('colseDialog')
          this.$emit('getTableList')
          this.$emit('refreshLeftList')
        })
      }
    }
  }
}
</script>
<style scoped lang="scss">
  .ly-equip-tab > div{
    position: relative;
    width: 180px;
    height: 65px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(221,221,221,1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  .ly-equip-tab > div.active{
    border: 1px solid #2897ff;
  }
  .ly-equip-tab > div.active .ly-check-icon-blur{
    display: block;
    z-index: 2
  }
  .el-tree {
    width: 100%;
    max-height: 100%;
    overflow: auto;
  }
</style>
