<template>
  <div>
    <vma-lazy :initial="limitId && limitId.currentType === 'lock_phone'">
      <authorityManageListSecLock v-if="limitId" v-show="limitId.currentType === 'lock_phone'" :limitId="limitId.currentId"></authorityManageListSecLock>
    </vma-lazy>
    <vma-lazy :initial="limitId && limitId.currentType === 'use_recovery'">
      <authorityManageListSecSet v-if="limitId" v-show="limitId.currentType === 'use_recovery'" :limitId="limitId.currentId"></authorityManageListSecSet>
    </vma-lazy>
    <vma-lazy :initial="limitId && limitId.currentType === 'equ_use_range'">
      <authorityManageListSecTime v-if="limitId" v-show="limitId.currentType === 'equ_use_range'" :limitId="limitId.currentId"></authorityManageListSecTime>
    </vma-lazy>
    <vma-lazy :initial="limitId && limitId.currentType === 'install_apk'">
      <authorityManageListSecInstallOrNot v-if="limitId" v-show="limitId.currentType === 'install_apk'" :limitId="limitId.currentId"></authorityManageListSecInstallOrNot>
    </vma-lazy>
  </div>
</template>

<script>

import authorityManageListSecLock from './authorityManageListSecLock'
import authorityManageListSecSet from './authorityManageListSecSet'
import authorityManageListSecTime from './authorityManageListSecTime'
import authorityManageListSecInstallOrNot from './authorityManageListSecInstallOrNot'
export default {
  mixins: [],
  components: {
    authorityManageListSecLock,
    authorityManageListSecSet,
    authorityManageListSecTime,
    authorityManageListSecInstallOrNot
  },
  props: {
    limitId: {
      type: [Object],
      default: function() {
        return {}
      }
    }
  },
  computed: {
  },
  data() {
    return {
      activeNames: ['1']
    }
  },
  created() {
  },
  methods: {
  }
}
</script>
