<template>
  <div>
    <p class="ly-padding-horizontal-sm ly-font-14 ly-font-weight-bold">风控名称（已授权设备数量）</p>
    <ul class="ly-sidebar-list left-ul">
      <li class="ly-sidebar-item ly-box"
          v-for="(item,index) in list"
          :key="item.id"
          :class="{'active':isActive===index}"
          @click="getEquipmentList(item,index)">
            <span class="ly-font-14 ly-font-color-3 ly-font-weight-400">
              <span>{{item.limitName}}</span>
              <span v-if="item.tips == 2">关闭有风险</span>
              <span>({{item.num}})</span>
              <i class="el-icon-question ly-cursor-pointer"
                 style="vertical-align: middle;"
                 v-if="item.tips == 3"
                 @click="imgLookDialog.show = true"></i>
            </span>
      </li>
    </ul>
    <p class="ly-text-center"
       v-if="list.length===0">暂无数据</p>
    <!--图片查看-->
    <el-dialog title="图片查看"
               width="700px"
               :visible.sync="imgLookDialog.show"
               v-if="imgLookDialog.show"
               @close="imgLookDialog.show = false"
               append-to-body>
      <imgLook :dialog="dialog"></imgLook>
    </el-dialog>
  </div>
</template>

<script>
import { riskManagementApi } from '@/api/system'
import imgLook from './imgLook'
export default {
  components: { imgLook },
  data() {
    return {
      list: [],
      currentId: null,
      isActive: null,
      imgLookDialog: {
        show: false
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    // 获取风控名称列表
    getList() {
      riskManagementApi.permissionList().then(res => {
        this.list = res
        if (res.length > 0) {
          if (this.isActive) {
            this.getEquipmentList(res[this.isActive], this.isActive)
          } else {
            this.getEquipmentList(res[0], 0)
          }
        }
      })
    },
    // 获取设备列表
    getEquipmentList(obj, index) {
      if (obj && obj.id) {
        this.currentId = obj.id
        this.isActive = index
      } else {
        this.currentId = null
      }
      this.$emit('setLimitId', this.currentId)
    }
  }
}
</script>
<style scoped>
  .left-ul {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
</style>
