<template>
  <div>
    <div>
      <!-- 筛选查询 -->
      <el-collapse v-model="activeNames"
                   class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                   :class="{'ly-padding-bottom-sm':!activeNames[0]}">
        <el-collapse-item name="1">
          <!-- title -->
          <template slot="title"
                    class="ly-box">
            <div class="ly-box-1 ly-font-16 ly-font-color-1">
              <span class="ly-vertical-line">筛选查询</span>
            </div>
            <div class="ly-font-14 ly-font-color-2">
              <i class="el-icon-arrow-down"
                 :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
            </div>
          </template>
          <div class="ly-clearfix">
            <el-input v-model.trim="params.equInfo"
                      placeholder="输入设备信息进行过滤"
                      class="ly-margin-right-bottom-sm"
                      clearable
                      maxlength="100"
                      @keyup.native.enter="getTableList(1)"></el-input>
            <el-input v-model.trim="params.wechatAccountInfo"
                      placeholder="昵称/手机号/微信号"
                      class="ly-margin-right-bottom-sm"
                      clearable
                      maxlength="100"
                      @keyup.native.enter="getTableList(1)"></el-input>
            <!--部门级联已经调整-->
            <departmenTreeCascadert v-model="departmentId"
                                    filterable
                                    clearable
                                    placeholder="员工所在部门"
                                    class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
            <el-input v-model.trim="params.equOwnerStaffInfo"
                      placeholder="员工账号/姓名"
                      class="ly-margin-right-bottom-sm"
                      clearable
                      maxlength="100"
                      @keyup.native.enter="getTableList(1)"></el-input>
            <!-- button -->
            <el-button class="ly-float-right"
                       type="primary"
                       size="medium"
                       @click="getTableList(1)">查询
            </el-button>
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4" v-if="limitId">
          <el-button size="small" @click="openOrCloseMore(0)" :disabled="open?false:true">锁机</el-button>
          <el-button size="small" @click="openOrCloseMore(1)" :disabled="lock?false:true">解锁</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%"
                max-height="500"
                row-key="id"
                @clearSelection="clearSelection"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         fixed
                         reserve-selection
                         :selectable="selectAble"
                         width="55">
        </el-table-column>
        <el-table-column label="设备编号" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.id || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="IMEI" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.imei || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="设备备注" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.remark || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="状态" min-width="130">
          <template slot-scope="scope">
            <p>
              <i class="spot-border-radius"
                 :class="[scope.row.onLine?'active': '']"></i>{{scope.row.onLine ? '在线' : '离线'}}
            </p>
          </template>
        </el-table-column>
        <el-table-column label="设备分组" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.groupName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="当前登录个人号"
                         min-width="220">
          <template slot-scope="scope">
            <personalInfos :info="scope.row.info"></personalInfos>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.equOwnerStaffName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者所在部门" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.departmetName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="操作" min-width="130">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       :disabled="hasSetAction?false:true"
                       @click="openOrClose(scope.row, scope.$index)">{{scope.row.status===1?'解锁':'锁机'}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <!--
        <div>
          <el-button type="primary"
                     size="small">批量分配员工</el-button>
        </div>
        -->
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
    </div>
    <!--添加设备-->
    <el-dialog title="选择设备"
               width="955px"
               :visible.sync="addEquipDiaolg.show"
               v-if="addEquipDiaolg.show"
               @close="closeAddDialog"
               append-to-body>
      <authorityManageAddEquip :dialogProp="addEquipDiaolg"
                               :limitId="limitId"
                               @colseDialog="closeAddDialog"
                               @refreshLeftList ="refreshLeftList"
                               @getTableList="getTableList(1)"></authorityManageAddEquip>
    </el-dialog>
  </div>
</template>

<script>
import { riskManagementApi } from '@/api/system'
import { resourceMixin, tableMixin } from '@/mixins'
import personalInfos from '@/components/common/personalInfos'
import authorityManageAddEquip from './authorityManageAddEquip'
import { RESOURCE_ACTION_MAP } from '@/constants'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  mixins: [resourceMixin, tableMixin],
  components: {
    departmenTreeCascadert,
    personalInfos,
    authorityManageAddEquip
  },
  props: {
    limitId: {
      type: [Number, String],
      default: function() {
        return null
      }
    }
  },
  computed: {
    hasSetAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.EQUIPMENT_PERMISSIONS)
    },
    open() {
      let status = false
      if (this.hasSetAction) {
        if (this.tableSelectArr.length) {
          status = this.tableSelectArr.every(item => {
            return item.status === 0
          })
        }
      }
      return status
    },
    lock() {
      let status = false
      if (this.hasSetAction) {
        if (this.tableSelectArr.length) {
          status = this.tableSelectArr.every(item => {
            return item.status === 1
          })
        }
      }
      return status
    }
  },
  data() {
    return {
      activeNames: ['1'],
      departmentId: [],
      isActive: null,
      createNotGetTableList: true,
      tableData: {},
      tableSelectArr: [],
      params: {
        limitId: '',
        equInfo: '',
        wechatAccountInfo: '',
        departmentId: '',
        equOwnerStaffInfo: ''
      },
      addEquipDiaolg: {}
    }
  },
  watch: {
    departmentId: function (val, oldVal) {
      this.params.departmentId = val[val.length - 1] || ''
    }
    /*
     'limitId' (val, oldVal) {
     if (val) {
     this.initTable(val)
     } else {
     this.initTable(val, true)
     }
     }
     */
  },
  created() {
    this.$nextTick(() => {
      this.initTable(this.limitId)
    })
  },
  methods: {
    /**
    * 获取列表--初始化
    */
    initTable(val, type) {
      this.removeChecked()
      this.params.limitId = val
      this.params.equInfo = ''
      this.params.wechatAccountInfo = ''
      this.params.departmentId = ''
      this.params.equOwnerStaffInfo = ''
      this.departmentId = []
      this.tableData = {}
      if (type) {
        return
      }
      this.getTableList(1)
    },
    /**
     * 获取列表
     */
    async requestTableList() {
      await riskManagementApi.getUseManageDataList(this.params).then((data) => {
        data.records = data.records || []
        data.records.forEach(o => {
          o.info = {
            headIcon: o.headIcon,
            nickName: o.nickName,
            phone: o.phone,
            account: o.account,
            row: o
          }
        })
        this.tableData = data
      })
    },
    /**
     * 表格左侧选择
     */
    handleSelectionChange(val) {
      this.tableSelectArr = val
    },
    selectAble(row, index) {
      return true
    },
    /**
     * 表格左侧选择--清除
     */
    removeChecked() {
      this.clearSelection('multipleTable')
    },
    /**
     * 表格--移出设备
     */
    openOrClose(data, index) {
      let status = data.status ? '解锁' : '锁机'
      let msg = `确定对该设备进行${status}操作?`
      this.$confirm(msg, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let equIds = [data.id]
        this.sureOpenOrLock(equIds, data.status)
      })
    },
    /**
     * 表格--移出设备--批量
     */
    openOrCloseMore(type) {
      let equIds = []
      this.tableSelectArr.forEach(item => {
        equIds.push(item.id)
      })
      if (!equIds.length) {
        this.warn('请选择要移出的设备')
        return
      }
      let status = type ? '解锁' : '锁机'
      let num = equIds.length
      let html = `<p class="ly-font-12">已选中<sapn class="colortip ly-font-weight-bold">${num}</sapn>台设备</p><p>确定对选中设备进行${status}操作？</p>`
      this.$confirm(html, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        dangerouslyUseHTMLString: true,
        type: 'warning'
      }).then(() => {
        this.sureOpenOrLock(equIds, type)
      })
    },
    /**
     * 表格--移出设备--确定锁机或解锁
     */
    async sureOpenOrLock(equIds, type) {
      let status = type ? '解锁' : '锁机'
      let flag = type ? 0 : 1
      let params = {
        equIds: equIds,
        limitId: this.limitId,
        flag: flag
      }
      await riskManagementApi.removeEquipList(params).then((data) => {
        this.success(`${status}成功！`)
        this.removeChecked()
        this.getTableList()
        // this.refreshLeftList()
      })
    },

    /**
     * 刷新左侧风控名称列表
     */
    refreshLeftList() {
      this.$emit('refreshLeftList')
    },

    addEquip() {
      this.addEquipDiaolg = {
        show: true,
        limitId: this.limitId
      }
    },
    /**
     * 表格-添加设备--关闭
     */
    closeAddDialog() {
      this.addEquipDiaolg = {}
    }
  }
}
</script>
