<template>
  <div>
    <el-form :model="params" ref="ruleForm">
      <el-form-item :label-width="formLabelWidth">
        <el-checkbox-group v-model="params.checkList" size="small" style="line-height: 28px;">
          <div v-for="item in appList" :key="item.id">
            <el-checkbox :label="item.id"><span class="ly-margin-right-12px">{{item.appName}}</span>{{item.appPackage}}</el-checkbox>
          </div>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { v4RiskManagementApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '86px',
      params: {
        checkList: []
      }
    }
  },
  created() {
    this.getAppList()
  },
  methods: {
    getAppList() {
      let params = {
        type: 2,
        params: this.dialogProp.ids
      }
      v4RiskManagementApi.getAppList(params).then((res) => {
        let checkArr = []
        res.forEach(item => {
          if (!item.allowDelete) {
            checkArr.push(item.id)
          }
        })
        this.appList = res
        this.params.checkList = checkArr
      })
    },
    /**
     * 关闭弹窗
     */
    closeDialog(event, clear) {
      this.$emit('colseDialog', this.dialogProp.params, clear)
    },

    /**
     * 保存
     */
    submitInfo() {
      let checkList = this.params.checkList
      if (!checkList.length) {
        this.warn('请选择要禁止卸载的APP')
        return false
      }
      this.installApp()
    },
    installApp() {
      let appList = []
      let checkList = this.params.checkList
      this.appList.forEach(item => {
        let appObj = {}
        appObj.appPackage = item.appPackage
        if (checkList.indexOf(item.id) > -1) {
          appObj.allowDelete = 0
        } else {
          appObj.allowDelete = 1
        }
        appList.push(appObj)
      })
      let param = {
        appList: appList,
        imeiList: this.dialogProp.ids
      }
      let params = Object.assign({}, param)
      v4RiskManagementApi.forbiddenUnInstallAppList(params).then((res) => {
        this.success('保存成功')
        this.closeDialog('', true)
      })
    }
  }
}
</script>
