<template>
  <div>
    <el-form :model="params" ref="ruleForm">
      <el-form-item :label-width="formLabelWidth">
        <el-checkbox-group v-model="params.checkList" size="small" style="line-height: 28px;">
          <div v-for="item in appList" :key="item.id">
            <el-checkbox :label="item.appPackage"><span class="ly-margin-right-12px">{{item.appName}}</span>{{item.appPackage}}</el-checkbox>
          </div>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { v4RiskManagementApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '86px',
      params: {
        checkList: []
      },
      appList: []
    }
  },
  created() {
    this.getAppList()
  },
  methods: {
    getAppList() {
      let params = {
        type: 1,
        params: this.dialogProp.ids
      }
      v4RiskManagementApi.getAppList(params).then((res) => {
        let checkArr = []
        this.appList = res
        this.params.checkList = checkArr
      })
    },
    /**
     * 关闭弹窗
     */
    closeDialog(event, clear) {
      this.$emit('colseDialog', this.dialogProp.params, clear)
    },

    /**
     * 保存
     */
    submitInfo() {
      let checkList = this.params.checkList
      if (!checkList.length) {
        this.warn('请选择要卸载的APP')
        return false
      }
      this.unInstallApp()
    },
    unInstallApp() {
      let param = {
        appPackageList: this.params.checkList,
        imeiList: this.dialogProp.ids
      }
      let params = Object.assign({}, param)
      v4RiskManagementApi.unInstallAppList(params).then((res) => {
        // this.$emit('refreshList')
        this.success('保存成功')
        this.closeDialog('', true)
      })
    }
  }
}
</script>
