<template>
  <div>
    <!-- 重复好友 -->
    <div class="framework ly-bg-white">
      <div class="fra-header">
        <span class="ly-vertical-line ly-font-16 ly-font-color-1 ly-font-weight-400 ly-vertical-middle">重复好友</span>
      </div>
      <div class="fra-content ly-margin-top-sm">
        <div class="item-info ly-box"
             v-bind:class="{'choice': isChoiceNowIndex}"
             @click="choiceFriend">
          <img class="photo"
               src="../../../../assets/images/common/plus.png" />
          <div class="ly-box-1">
            <p class="ly-font-14 ly-font-color-3">测试账号</p>
            <p class="ly-font-14 ly-font-color-2">1564984949494</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isChoiceNowIndex: true
    }
  },
  methods: {
    choiceFriend() {
      this.isChoiceNowIndex = !this.isChoiceNowIndex
    }
  }
}
</script>
<style lang="scss" scoped>
.framework {
  width: 319px;
  height: 600px;
}
.fra-header {
  position: relative;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px solid #dddddd;
}
.item-info {
  padding: 20px 0;
  .photo {
    width: 40px;
    height: 40px;
    margin-left: 35px;
    margin-right: 10px;
  }
  &.choice {
    background: rgba(233, 233, 233, 1);
  }
}
.fra-content {
  overflow-y: auto;
  height: 500px;
}
</style>
