<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         fixed
                         width="55">
        </el-table-column>
        <el-table-column label="微信好友"
                         fixed
                         width="180">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="姓名">
        </el-table-column>
        <el-table-column prop="gender"
                         label="性别">
        </el-table-column>
        <el-table-column prop="phone"
                         label="手机号"
                         width="110">
        </el-table-column>
        <el-table-column label="分配员工"
                         class-name="ly-font-color-5"
                         width="110">
          <template slot-scope="scope">
            <!-- {{scope.row.name}} -->
            <el-button type="primary"
                       size="mini">分配员工</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="员工所在部门"
                         width="110">
        </el-table-column>
        <el-table-column label="所属个人号"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column label="好友标签"
                         class-name="labelBtns">
          <template slot-scope="scope">
            <el-popover placement="top"
                        popper-class="tip-green"
                        trigger="hover">
              <el-button type="success"
                         size="mini"
                         plain>激活</el-button>
              <el-button type="success"
                         size="mini"
                         plain>hover</el-button>

              <el-button slot="reference"
                         type="success"
                         size="mini">可见</el-button>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column label="所属分组">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">设置分组</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="来源">
        </el-table-column>
        <el-table-column label="聊天查看"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            <p>
              <el-button type="text"
                         size="small">聊天记录</el-button>
            </p>
            <p class="ly-font-color-5"><i class="el-icon-download"></i></p>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="是否被删除"
                         width="100">
        </el-table-column>
        <el-table-column label="好友时间"
                         width="200">
          <template slot-scope="scope">
            <div class="font-12">
              <p class=" ly-font-color-8">入库：</p>
              <p>2018-12-01 23：59：05</p>
            </div>
            <div class="font-12">
              <p class=" ly-font-color-8">通过：</p>
              <p>2018-12-01 23：59：05</p>
            </div>
            <div class="font-12">
              <p class=" ly-font-color-8">申请：</p>
              <p>2018-12-01 23：59：05</p>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="地区"
                         min-width="100">
        </el-table-column>
        <el-table-column prop="name"
                         label="备注">
        </el-table-column>
        <el-table-column prop="name"
                         label="生日">
        </el-table-column>
        <el-table-column prop="name"
                         label="其他">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <div>
          <el-button type="primary"
                     size="small">批量分配员工</el-button>
          <el-button type="primary"
                     size="small">批量分组</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'
import personalInfo from '@/components/common/personalInfo'

export default {
  components: {
    collapse,
    personalInfo
  },
  data() {
    return {
      activeNames: ['1'],
      params: {
        weChat: true,
        personalId: true,
        gender: true,
        processingState: true,
        assignStaff: true,
        staffDepartment: true,
        grouping: true,
        friendSource: true,
        date: true
      },
      tableData: []
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          gender: '男',
          phone: '15059309699',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          gender: '男',
          phone: '15059309699',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          gender: '男',
          phone: '15059309699',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    },
    handleSelectionChange(val) {
      console.log(val)
    }
  }
}
</script>
