<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号信息"
                         fixed
                         width="260">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column label="好友统计">
          <template slot-scope="scope">
            <p>&emsp;男：2</p>
            <p>&emsp;女：3</p>
            <p>未知：2</p>
            <p>总计：2</p>
          </template>
        </el-table-column>
        <el-table-column label="对话统计">
          <template slot-scope="scope">
            <p>昨天：5</p>
            <p>一周：5</p>
            <p>30天：5</p>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="所属设备"
                         width="360">
          <template slot-scope="scope">
            <p><i class="spot-border-radius active"></i>手机IMEI：451d68dd174b5c66f7c84043ef2eeba4</p>
            <p><i class="spot-border-radius"></i>设备名称：红米1</p>
            <p><i class="spot-border-radius"></i>保管人员：yufanghufu</p>
          </template>
        </el-table-column>
        <el-table-column label="备注">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">备注</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         fixed="right"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">好友聊天</el-button>
            <el-button type="text"
                       size="small">群聊天</el-button>
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small">删除个人号</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'
import personalInfo from '@/components/common/personalInfoWx'

export default {
  components: { personalInfo, collapse },
  data() {
    return {
      activeNames: ['1'],
      params: {
        personalId: true,
        onlineState: true,
        remarks: true
      },
      tableData: []
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    }
  }
}
</script>
