<template>
  <div class="reply-msg">
    <el-input placeholder="输入关键字进行过滤" @keyup.enter.native="querySpeechs" v-model.trim="queryWord" :maxlength="100">
      <el-button slot="append" icon="el-icon-search" type="primary" @click="querySpeechs"></el-button>
    </el-input>
    <div class="template-list">
      <ul>
        <li v-for="(item, index) in aiAnswerList" :key="index">
          <div class="group-switch" @click="openGroup(index)">
            <i class="el-icon-caret-bottom" :class="item.open ? '' : 'rotate'"></i>
            <span>{{ item.questionTxt }}</span>
            <span class="add" @click="showMManageAddDialog(item)">添加答案</span>
          </div>
          <ul class="group-list" v-if="item.open && item.answers && item.answers.length > 0">
            <li class="template-item" v-for="v in item.answers" :key="v.id" @click.stop="sendReply(v)">
              <i class="icon icon-image" v-if="v.msgType === MESSAGE_TPYE_KEY.IMG" @click.stop="previewReply(v)"></i>
              <i class="icon icon-video" v-else-if="v.msgType === MESSAGE_TPYE_KEY.VIDEO" @click.stop="previewReply(v)"></i>
              <i class="icon icon-text" v-else-if="v.msgType === MESSAGE_TPYE_KEY.TXT" @click.stop="previewReply(v)"></i>
              <i class="icon icon-voice" v-else-if="v.msgType == MESSAGE_TPYE_KEY.AUDIO" @click.stop="previewReply(v)"></i>
              <i class="icon el-icon-link" v-else-if="v.msgType === MESSAGE_TPYE_KEY.WECHAT"></i>
              <span class="el-icon-delete delete icon-style fr mr-10 preview-btn" @click.stop="deleteQuickReplay(v.id,item.questionId)"></span>
              <span class="icon-style el-icon-edit fr mr-10 preview-btn preview" @click.stop="showMManageModifyDialog(v,item)"></span>
              <el-popover trigger="hover" placement="bottom-start" :content="v.content" width="300">
                <span slot="reference">
                  <span class="content"><b>#</b>{{ v.content }}</span>
                </span>
              </el-popover>

            </li>
          </ul>
        </li>
      </ul>
    </div>

    <el-dialog title="添加答案" :visible.sync="dialogmMangeAdd.show" width="880px" v-if="dialogmMangeAdd.show" @close="closeMManageAddDialog" append-to-body>
      <mManageMessageAdd :dialogProp="dialogmMangeAdd" @closeDialog="closeMManageAddDialog" @refreshLeftGroupInfo="refreshRightTabelListModify"></mManageMessageAdd>
    </el-dialog>
    <el-dialog title="编辑答案" :visible.sync="dialogmMangeModify.show" width="880px" v-if="dialogmMangeModify.show" @close="closeMManageModifyDialog" append-to-body>
      <mManageMessageAdd :dialogProp="dialogmMangeModify" @closeDialog="closeMManageModifyDialog" @refreshLeftGroupInfo="refreshRightTabelListModify"></mManageMessageAdd>
    </el-dialog>
    <!-- 文字预览 -->
    <wordDialg v-if="wordDialogData.show" :data="wordDialogData" @on-close="closeWordDialog" @on-send="sendWordMsg"></wordDialg>
    <!-- 粘贴图片预览 -->
    <sendPastImgDialog v-if="imgDialogData.show" :imgData="imgDialogData" @on-close="closeImgDialog" @directly-send-img="sendImageMsg"></sendPastImgDialog>
    <!-- 视频预览 -->
    <videoDialog v-if="videoDialogData.show" :data="videoDialogData" @on-close="closeVideoDialog" @on-send="sendVideoMsg"></videoDialog>
    <!-- 语音预览 -->
    <voiceDialog v-if="voiceDialogData.show" :data="voiceDialogData" @on-close="closeVoiceDialog" @on-send="sendVoiceMsg"></voiceDialog>
  </div>
</template>

<script>
import { wechatInfoSession } from '@/storage'
import { mapGetters } from 'vuex'
import { xunfeiApi } from '@/api/chat'
import requestIdMixins from '@/pages/chat/home/src/requestIdMixins'
import mManageMessageAdd from './mManageMessageAdd'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'
import sendPastImgDialog from '@/pages/chat/home/components/mainChatBox/sendPastImgDialog'
import videoDialog from '@/components/packages/chat/home/videoDialog'
import voiceDialog from './voiceDialog'
import wordDialg from './../../replyMsg/components/wordDialg'

export default {
  name: 'child1',
  inject: ['aiMsgInfo'],
  components: {
    sendPastImgDialog,
    mManageMessageAdd,
    videoDialog,
    voiceDialog,
    wordDialg

  },
  data () {
    return {
      activeName: [0],
      aiAnswerList: [],
      dialogFormVisible: false,
      dialogmMangeAdd: {},
      dialogmMangeModify: {},
      queryWord: '',
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      imgDialogData: {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      },
      videoDialogData: {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      },
      wordDialogData: {
        show: false,
        data: null
      },
      voiceDialogData: {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      }
    }
  },

  mixins: [requestIdMixins],
  watch: {

  },
  created () {

  },
  mounted () {
    this.querySpeechs()
  },
  methods: {
    querySpeechs () {
      let params = {
        customerName: wechatInfoSession.getJSON().staffId,
        jobNumber: this.adminInfo.jobNum,
        queryWord: this.queryWord,
        businessId: this.adminInfo.enterpriseId, // 企业ID
        deptId: this.adminInfo.deptId,
        deptName: this.adminInfo.deptName

      }
      xunfeiApi.querySpeechs(params).then((res) => {
        if (res.code === 0) {
          this.aiAnswerList = res.data
        } else {
          this.aiAnswerList = []
        }
      })
    },
    /**
     * 打开分组
     * @param  {[type]} index [description]
     * @return {[type]}       [description]
     */
    openGroup (index) {
      this.$set(
        this.aiAnswerList[index],
        'open',
        !this.aiAnswerList[index].open
      )
    },
    /**
    * 新增--弹窗--显示
    */
    showMManageAddDialog (data) {
      let params = {
        customerName: wechatInfoSession.getJSON().staffId,
        jobNumber: this.adminInfo.jobNum,
        questionTxt: data.questionTxt,
        questionId: data.questionId,
        questionExtend: data.questionExtend
      }
      this.dialogmMangeAdd = {
        show: true,
        materialShow: true,
        data: params
      }
    },
    /**
    * 新增--弹窗--关闭
    */
    closeMManageAddDialog () {
      this.dialogmMangeAdd = {}
    },
    refreshRightTabelList (data) {
      this.querySpeechs()
    },
    /**
    * 编辑关闭
    */
    closeMManageModifyDialog () {
      this.dialogmMangeModify = {}
    },
    /**
    * 编辑--弹窗--显示
    */
    showMManageModifyDialog (a, b) {
      let params = {
        questionId: b.questionId,
        questionTxt: b.questionTxt,
        questionExtend: b.questionExtend

      }
      this.dialogmMangeModify = {
        show: true,
        data: Object.assign(a, params)
      }
    },
    /**
    * 编辑--刷新
    */
    refreshRightTabelListModify () {
      this.dialogmMangeAdd.show = false
      this.dialogmMangeModify.show = false
      this.querySpeechs()
    },
    /**
     * 删除答案
     * **/
    deleteQuickReplay (id, questionId) {
      let params = {
        customerName: wechatInfoSession.getJSON().staffId,
        jobNumber: this.adminInfo.jobNum,
        id: id,
        questionId: questionId
      }
      this.$confirm('是否确认删除快捷语?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          xunfeiApi.removeAISpeech(params).then((res) => {
            if (res.code === 0) {
              this.querySpeechs()
              this.$message({
                type: 'success',
                message: '删除成功!'
              })
            }
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
    },
    /**
    * 预览发送
    * @param  {[type]} data [description]
    * @return {[type]}      [description]
    */
    previewReply (data) {
      switch (data.msgType) {
        // 文本
        case MESSAGE_TPYE_KEY.TXT:
          this.showWordDialog(Object.assign(data, { msgText: data.content }))
          break
        // 图片
        case MESSAGE_TPYE_KEY.IMG:
          this.showImgDialog(data)
          break
        // 视频
        case MESSAGE_TPYE_KEY.VIDEO:
          this.showVideoDialog(data)
          break
        // 录音
        case MESSAGE_TPYE_KEY.AUDIO:
          this.showVoiceDialog(data)
          break
      }
    },
    /** 点击发送文本域发送 */
    sendReply (data) {
      console.log('aiAnswer', data)
      switch (data.msgType) {
        // 文本
        case MESSAGE_TPYE_KEY.TXT:
          let _data = {
            data: Object.assign(data, { msgText: data.content })
          }
          this.sendWordMsg(_data)
          break
        // 图片
        case MESSAGE_TPYE_KEY.IMG:
          this.sendImageMsg(null, { data })
          break
        // 视频
        case MESSAGE_TPYE_KEY.VIDEO:
          this.sendVideoMsg({ data })
          break
        // 录音
        case MESSAGE_TPYE_KEY.AUDIO:
          this.sendVoiceMsg({ data })
      }
    },
    // 文本发送
    sendWordMsg (data) {
      this.sendQuickReply(data.data)
      this.closeWordDialog()
    },
    showWordDialog (data) {
      this.wordDialogData = {
        show: true,
        data: data,
        sendBtn: true
      }
    },
    closeWordDialog () {
      this.wordDialogData = {
        show: false,
        data: null
      }
    },
    /**
     * 确认发送图片
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendImageMsg (url, data) {
      this.sendQuickReply(data.data)
    },
    showImgDialog (data) {
      this.imgDialogData = {
        show: true,
        url: data.msgText,
        sendBtn: true,
        data
      }
    },
    closeImgDialog () {
      this.imgDialogData = {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      }
    },
    /**
     * 确认发送视频
     * @param  {[type]} videoDialogData [description]
     * @return {[type]}      [description]
     */
    sendVideoMsg (videoDialogData) {
      this.sendQuickReply(videoDialogData.data)
      this.closeVideoDialog()
    },
    showVideoDialog (data) {
      // coverInfo 封面的图片地址
      this.videoDialogData = {
        show: true,
        url: data.msgText,
        poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    closeVideoDialog () {
      this.videoDialogData = {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      }
    },
    /**
     * 点击小程序点击量统计
     */
    async kickWechat (data) {
      let params = {
        cmd: null,
        data: {
          customerName: wechatInfoSession.getJSON().staffId,
          jobNumber: this.adminInfo.jobNum, // 工号
          userName: this.adminInfo.name, // 用户名
          businessId: this.adminInfo.enterpriseId, // 企业ID
          nlpSolution: data.msgText,
          questionType: 1,
          fromUser: this.activeChatFriendInfo.wxId
        }
      }
      if (data.msgType === MESSAGE_TPYE_KEY.IMG) {
        params.cmd = 'image'
      } else if (data.msgType === MESSAGE_TPYE_KEY.VIDEO) {
        params.cmd = 'video'
      } else if (data.msgType === MESSAGE_TPYE_KEY.AUDIO) {
        params.cmd = 'audio'
      } else if (data.msgType === MESSAGE_TPYE_KEY.WECHAT) {
        params.cmd = 'weChat'
      }
      await xunfeiApi.kickWechat(params)
    },
    /**
     * 确认发送语音
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendVoiceMsg (data) {
      this.closeVoiceDialog()
      this.sendQuickReply(data.data)
    },

    showVoiceDialog (data) {
      this.voiceDialogData = {
        show: true,
        url: data.msgText,
        voiceLength: data.voiceLength,
        sendBtn: true,
        data
      }
    },
    closeVoiceDialog () {
      this.voiceDialogData = {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      }
    },

    /**
     * 确认发送快捷消息
     */
    sendQuickReply (data) {
      console.log('确认发送快捷方式 aiAnswer', data)
      this.$emitBus('send-quick-reply', data)
      setTimeout(() => { this.$emitBus('send-ai-person-company', Object.assign(data, { origin: 'speechTxt' })) }, 1500)
      this.kickWechat(data)
    }

  },
  computed: {
    ...mapGetters(['activeChatAccountInfo', 'activeChatFriendInfo', 'chatIM', 'adminInfo'])
  }
}
</script>

<style  lang="scss">
// .title {
//   color: #2d8cf0;
//   display: inline-block;
//   float: right;
//   margin: 0 10px;
//   cursor: pointer;
// }

.collpaseitem {
  border-top: 1px solid #ebeef5;
  padding: 0px 20px 0px 10px;
  cursor: pointer;
  .answer-title {
    margin: 10px 0 0 0;
    .add {
      color: #2d8cf0;
      display: inline-block;
      float: right;
      margin: 0 10px;
      cursor: pointer;
    }
  }

  .cursor {
    cursor: pointer;
  }
  .answer {
    border-bottom: 1px solid #ebeef5;
    padding: 5px 5px 5px 20px;
    &:hover {
      background: #f1f4f6;

      .preview-btn {
        display: block;
      }
    }
    .preview-btn {
      display: none;
    }
  }
  .answer :last-child {
    border-bottom: none;
  }
  .icondel {
    font-size: 16px;
    vertical-align: middle;
    color: red;
    cursor: pointer;
    float: right;
  }
  .iconedit {
    font-size: 16px;
    vertical-align: middle;
    color: #2d8cf0;
    cursor: pointer;
    float: right;
  }
}
.collpaseitem :last-child {
  border: none;
  .answer {
    border-bottom: none;
  }
}
.el-collapse-item__content {
  padding-bottom: 0;
}
.reply-msg {
  .add {
    color: #2d8cf0;
    margin-left: 20px;
  }
  .content {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
