<template>
  <div>
    <el-collapse v-model="activeName" accordion v-for="(items, index) in recommendedWords" :key="index" style="cursor: pointer; font-weight: bold">
      <el-collapse-item :title="
          items.questionType == 3 ? items.nlpSolution : items.userQuestion
        " :name="index" class="ly-ellipsis">
        <el-popover v-for="(item, index) in items.answerList" :key="index" placement="bottom-start" :title="
            items.questionType == 3 ? item.nlpSolution : item.userQuestion
          " width="350" trigger="hover" :content="JSON.parse(item).target">
          <div slot="reference" class="board-bottom">
            <span @click="addQuicklyReplay(JSON.parse(item))" class="el-icon-star-off icon-style"></span>
            <span style="width: 120px" class="ly-ellipsis" @click.stop="sendReply(JSON.parse(item))">{{ JSON.parse(item).target }}</span>
            <i class="icon-video" v-if="JSON.parse(item).type === MESSAGE_TPYE_KEY.VIDEO" @click.stop="previewReply(JSON.parse(item))"></i>
            <i class="icon el-icon-link" v-if="JSON.parse(item).type === MESSAGE_TPYE_KEY.WECHAT" @click.stop="previewReply(JSON.parse(item))"></i>
            <i class="icon icon-image" v-if="JSON.parse(item).type === MESSAGE_TPYE_KEY.IMG" @click.stop="previewReply(JSON.parse(item))"></i>
            <i class="icon icon-voice" v-else-if="JSON.parse(item).type  == MESSAGE_TPYE_KEY.AUDIO" @click.stop="previewReply(JSON.parse(item))"></i>
          </div>
        </el-popover>
      </el-collapse-item>
    </el-collapse>
    <!-- 视频预览 -->
    <videoDialog v-if="videoDialogData.show" :data="videoDialogData" @on-close="closeVideoDialog" @on-send="sendVideoMsg"></videoDialog>
    <!-- 粘贴图片预览 -->
    <sendPastImgDialog v-if="imgDialogData.show" :imgData="imgDialogData" @on-close="closeImgDialog" @directly-send-img="sendImageMsg"></sendPastImgDialog>
    <!-- 语音预览 -->
    <voiceDialog v-if="voiceDialogData.show" :data="voiceDialogData" @on-close="closeVoiceDialog" @on-send="sendVoiceMsg"></voiceDialog>
    <!-- 发送小程序前预览 -->
    <miniProgramDialog v-if="miniProgramDialogData.show" :miniProgramData="miniProgramDialogData" @on-close="closeMiniprogramDialog" @on-send="sendMiniProgramMsg"></miniProgramDialog>
    <el-dialog title="编辑" :visible.sync="dialogmMangeModify.show" width="880px" v-if="dialogmMangeModify.show" @close="closeMManageModifyDialog" append-to-body>
      <pManageMessageAdd :dialogProp="dialogmMangeModify" @closeDialog="closeMManageModifyDialog" @refreshLeftGroupInfo="refreshRightTabelListModify"></pManageMessageAdd>
    </el-dialog>
  </div>
</template>

<script>
// TODO 组件需要调整

import { wechatInfoSession } from '@/storage'
import { mapGetters } from 'vuex'
import { SESSION_TYPE } from '@/constants/chat'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'
import { xunfeiApi } from '@/api/chat'
import requestIdMixins from '@/pages/chat/home/src/requestIdMixins'
import videoDialog from '@/components/packages/chat/home/videoDialog'
import miniProgramDialog from './miniProgramDialog'
import pManageMessageAdd from './pManageMessageAdd'
import sendPastImgDialog from '@/pages/chat/home/components/mainChatBox/sendPastImgDialog'
import voiceDialog from './voiceDialog'
export default {
  components: {
    videoDialog,
    pManageMessageAdd,
    miniProgramDialog,
    sendPastImgDialog,
    voiceDialog

  },
  name: 'child1',
  inject: ['aiMsgInfo'],
  data () {
    return {
      activeName: [0],
      getChatHistoryParams: {},
      historySkillParams: {},
      recommendedWords: [],
      dialogFormVisible: false,
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      form: {
        shortcutWord: '',
        templateType: '',
        content: ''
      },
      formLabelWidth: '120px',
      videoDialogData: {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      },
      voiceDialogData: {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      },
      imgDialogData: {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      },
      // 小程序
      miniProgramDialogData: {
        show: false,
        url: null,
        // poster: null,
        data: null,
        sendBtn: true
      },
      dialogmMangeModify: {}
    }
  },

  mixins: [requestIdMixins],
  watch: {
    activeChatFriendInfo (val, oldValue) {
      if (!val || (val && !val.id) || (oldValue && oldValue.id === val.id)) { return }
      this.afterEntity()
    },
    // aiMsgInfo: {
    //   deep: true,
    //   handler () {
    //     this.afterEntity()
    //   }
    // },
    activeChatAccountInfo: {
      deep: true,
      handler () {
        this.afterEntity()
      }
    }
  },
  created () {
    this.afterEntity()
    this.$onBus('get-aiwsItem', (data) => {
      if (data && JSON.stringify(data) !== '{}' && data.answerList && data.answerList.length > 0) {
        if (data.userQuestion) {
          data.userQuestion = JSON.parse(data.userQuestion).content
        }
        this.recommendedWords.unshift(data)
      }
    })
  },
  methods: {
    /**
     * AI收藏快捷语
     * */
    insertQuickMsg (data) {
      let formData = new FormData()
      console.log(this.activeChatAccountInfo)
      formData.append('customerName', wechatInfoSession.getJSON().staffId)
      formData.append('content', data.content)
      formData.append('contentType', 1)
      formData.append('templateType', data.templateType)
      formData.append('shortcutWord', data.shortcutWord)
      formData.append('JobNumber', this.adminInfo.jobNum)
      xunfeiApi.insertQuickMsg(formData).then((res) => {
        // TODO 失败的提示框
        if (res.code === 0 && res.data) {
          // 定时调用聊天区域的快捷语查询接口
          // this.$emitBus('SeachCommdata', {})
          this.$notify({
            title: '成功',
            message: '新增快捷回复成功',
            type: 'success'
          })
        }
      })
      this.dialogFormVisible = false
    },

    async afterEntity () {
      if (!this.activeChatFriendInfo) return
      await this.initGetChatHistoryParams()
      await this.getLastHistoryChatRecord()
      this.historySkillQuery()
    },
    /**
     * 查询历史推荐话术
     * */
    historySkillQuery () {
      // TODO 语音话术数据需要筛选展示
      let params = Object.assign({}, this.historySkillParams)
      xunfeiApi.historySkillQuery(params).then((res) => {
        if (res.code === 0 && res.data.length > 0) {
          this.recommendedWords = res.data.filter(item => { return (item.answerList && item.answerList.length > 0) })
        } else {
          this.recommendedWords = []
        }
      })
    },
    /**
     * 初始化请求参数
     * */
    initGetChatHistoryParams () {
      this.getChatHistoryParams = {
        current: 1,
        size: 30,
        accountId: this.activeChatAccountInfo.id,
        talkWxId: this.activeChatFriendInfo.wxId,
        type: this.activeChatFriendInfo.type
      }
    },

    /**
     * 获取聊天记录
     */
    async getLastHistoryChatRecord () {
      let params = Object.assign({}, this.getChatHistoryParams)
      let page = await this.getHistoryMsgs(params)
      await this.afterGetHistoryMsgs(page)
    },

    /**
     * 获取历史记录
     */
    async getHistoryMsgs (params) {
      let requestID = this.getChatRequestID()
      let page
      try {
        page = await this.getList(params)
      } catch (error) {
        this.$notify({
          title: '提示',
          message: '请求聊天记录失败',
          type: 'warning'
        })
      }
      if (requestID !== this.getChatRequestID()) {
        throw new Error('当前好友不符')
      }
      if (!page) {
        throw new Error('请求聊天记录失败')
      }
      return page
    },

    /**
     * 获取历史消息
     */
    getList (params) {
      if (this.activeChatFriendInfo.type === SESSION_TYPE.C2C) {
        return this.chatIM.getLastC2CHistoryMsgs(params)
      } else {
        return this.chatIM.getLastGroupHistoryMsgs(params)
      }
    },

    /***
     * 处理聊天数据
     */
    afterGetHistoryMsgs (page) {
      if (page.total > 0) {
        this.historySkillParams = {
          customerName: wechatInfoSession.getJSON().staffId,
          // 查询历史推荐不需要wxMsgId
          msgIdList: page.records
            .filter((item) => item.isSelfSend === 0)
            .map((item) => String(item.wxMsgId)),
          // beginTime: page.records.shift().createTime,
          // endTime: page.records.pop().createTime,
          fromUser: this.activeChatFriendInfo.wxId
        }
      }
    },
    /** 点击发送文本域发送 */
    sendReply (item) {
      let params = {
        msgText: null,
        msgType: null,
        origin: 'ai'
      }
      if (item.type === MESSAGE_TPYE_KEY.TXT) {
        params.msgType = 1
        params.msgText = item.target
        this.sendQuickReply(params)
      } else if (
        item.type === MESSAGE_TPYE_KEY.VIDEO
      ) {
        params.msgType = 4
        params.msgText = item.content
        params.coverInfo = item.coverInfo
        this.sendVideoMsg({ data: params })
      } else if (
        item.type === MESSAGE_TPYE_KEY.WECHAT
      ) {
        params.msgType = 6
        params.msgText = item.content
        this.sendMiniProgramMsg({ data: params })
      } else if (
        item.type === MESSAGE_TPYE_KEY.IMG
      ) {
        params.msgType = 2
        params.msgText = item.content
        this.sendImageMsg(null, { data: params })
      } else if (
        item.type === MESSAGE_TPYE_KEY.AUDIO
      ) {
        params.msgType = 3
        params.msgText = item.content
      }
    },
    /**
    * 确认发送视频
    * @param  {[type]} videoDialogData [description]
    * @return {[type]}      [description]
    */
    sendVideoMsg (videoDialogData) {
      this.sendQuickReply(videoDialogData.data)
      this.closeVideoDialog()
    },
    /**
     *预览 发送消息
     */
    previewReply (data) {
      console.log(data)
      let params = {
        msgText: null,
        msgType: null,
        origin: 'ai'
      }
      if (data.type === MESSAGE_TPYE_KEY.TXT) {
        params.msgType = 1
        params.msgText = data.target
        this.sendQuickReply(params)
      } else if (
        data.type === MESSAGE_TPYE_KEY.IMG
      ) {
        params.msgType = 2
        params.msgText = data.content
        this.showImgDialog(params)
      } else if (
        data.type === MESSAGE_TPYE_KEY.VIDEO
      ) {
        params.msgType = 4
        params.msgText = data.content
        params.coverInfo = data.coverInfo
        this.showVideoDialog(params)
      } else if (
        data.type === MESSAGE_TPYE_KEY.WECHAT
      ) {
        this.showMiniProgramDialog({ msgText: data.content, msgType: 6 })
      } else if (
        data.type === MESSAGE_TPYE_KEY.AUDIO
      ) {
        params.msgType = 3
        params.msgText = data.content
        params.voiceLength = data.voiceLength
        this.showVoiceDialog(params)
      }
    },

    sendQuickReply (data) {
      this.$emitBus('send-quick-reply', data)
      setTimeout(() => { this.$emitBus('send-ai-person-company', data) }, 1500)
      this.kickWechat(data)
    },
    showVideoDialog (data) {
      // coverInfo 封面的图片地址
      this.videoDialogData = {
        show: true,
        url: data.msgText,
        poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    closeVideoDialog () {
      this.videoDialogData = {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      }
    },
    /**
     * 预览小程序
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    showMiniProgramDialog (data) {
      this.miniProgramDialogData = {
        show: true,
        url: data.msgText,
        // poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    /**
    * 确认发送小程序
    * @param  {[type]} url [description]
    * @return {[type]}     [description]
    */
    sendMiniProgramMsg (data) {
      this.closeMiniprogramDialog()
      this.sendQuickReply(data.data)
      // 点击小程序发送量
    },
    /**
    * 关闭小程序
    */
    closeMiniprogramDialog () {
      this.miniProgramDialogData = {
        show: false,
        url: null,
        // poster: null,
        data: null,
        sendBtn: true
      }
    },
    /**
     * 确认发送图片
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendImageMsg (url, data) {
      this.sendQuickReply(data.data)
    },
    /**
     * 确认发送语音
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendVoiceMsg (data) {
      this.closeVoiceDialog()
      this.sendQuickReply(data.data)
    },

    showVoiceDialog (data) {
      this.voiceDialogData = {
        show: true,
        url: data.msgText,
        voiceLength: data.voiceLength,
        sendBtn: true,
        data
      }
    },
    closeVoiceDialog () {
      this.voiceDialogData = {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      }
    },
    showImgDialog (data) {
      this.imgDialogData = {
        show: true,
        url: data.msgText,
        sendBtn: true,
        data
      }
    },
    closeImgDialog () {
      this.imgDialogData = {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      }
    },
    async kickWechat (data) {
      let params = {
        cmd: '',
        data: {
          customerName: wechatInfoSession.getJSON().staffId,
          jobNumber: this.adminInfo.jobNum, // 工号
          userName: this.adminInfo.name, // 用户名
          businessId: this.adminInfo.enterpriseId, // 企业ID
          nlpSolution: data.msgText,
          questionType: 1,
          fromUser: this.activeChatFriendInfo.wxId
        }
      }
      if (data.msgType === MESSAGE_TPYE_KEY.IMG) {
        params.cmd = 'image'
      } else if (data.msgType === MESSAGE_TPYE_KEY.VIDEO) {
        params.cmd = 'video'
      } else if (data.msgType === MESSAGE_TPYE_KEY.AUDIO) {
        params.cmd = 'audio'
      } else if (data.msgType === MESSAGE_TPYE_KEY.WECHAT) {
        params.cmd = 'weChat'
      }
      await xunfeiApi.kickWechat(params)
    },
    /**
     * 收藏视频
     */
    /**
    * 编辑--弹窗--显示
    */

    addQuicklyReplay (data) {
      console.log('data', data)
      let params = {
        msgText: null,
        msgType: null
      }
      if (data.type === MESSAGE_TPYE_KEY.TXT) {
        params.msgText = data.target
        params.msgType = data.type
      } else if (data.type === MESSAGE_TPYE_KEY.VIDEO) {
        params.msgText = data.content
        params.msgType = data.type
      } else if (data.type === MESSAGE_TPYE_KEY.IMG) {
        params.msgText = data.content
        params.msgType = data.type
      } else if (data.type === MESSAGE_TPYE_KEY.AUDIO) {
        params.msgText = data.content
        params.msgType = 3
        params.voiceLength = data.voiceLength
      }
      if (data.type !== MESSAGE_TPYE_KEY.WECHAT) {
        this.dialogmMangeModify = {
          show: true,
          data: params
        }
      }
    },
    /**
  * 编辑关闭
  */
    closeMManageModifyDialog () {
      this.dialogmMangeModify = {}
    },
    /**
    * 编辑--刷新
    */
    refreshRightTabelListModify () {
      this.dialogmMangeModify.show = false
      this.$emitBus('search-quickMsg', {})
    }
  },
  computed: {
    ...mapGetters(['activeChatAccountInfo', 'activeChatFriendInfo', 'chatIM', 'adminInfo'])
  }
}
</script>

<style scoped>
.board-bottom {
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #ebeef5;
}

.icon-style {
  color: rgb(255, 255, 255);
  background-color: rgb(103, 194, 58);
  border-color: rgb(103, 194, 58);
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
}

.board-bottom {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
