<template>
  <div class="vma-video-container">
    <div class="ly-box" style="flex-wrap: wrap;">
      <div class="vma-video-li" style="width: 148px;" v-for="(item, index) in posterArr" :key="item.img + item.index">
        <img :src="item.img">
        <label class="el-upload-list__item-status-label">
          <i class="el-icon-upload-success el-icon-check"></i>
        </label>
        <span class="el-upload-list__item-actions">
          <span class="el-upload-list__item-preview" @click="previewVedio(item, index)">
            <i class="el-icon-view"></i>
          </span>
          <span class="el-upload-list__item-delete" @click="deleteVedio(item, index)">
            <i class="el-icon-delete"></i>
          </span>
        </span>
      </div>
      <div class="vma-video-li">
        <vma-upload v-model="modelValue" :limit="limit" :exts="['mp4']" :singleFileSize="20" @on-success="uploadPoster" />
      </div>
      <div style="display: none;">
        <video v-if="posterArr[0]" class="ly-height-max-60vh ly-width-max-100p ly-margin-center" controls :src="posterArr[0].video" @durationchange="durationchange($event, '0')" />
      </div>
    </div>
    <el-dialog title="视频播放" class="line-height-14" :visible.sync="videoDialog.show" append-to-body @close="videoPrewClose">
      <video class="ly-height-max-60vh ly-width-max-100p ly-margin-center" controls :src="videoDialog.src" />
    </el-dialog>
  </div>
</template>

<script>
import { getVideoPoster } from '@/utils'
import Upload from '@/assets/js/upload'
import { generalUrl } from '@/plugins/src/vmaElement'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  watch: {
    posterArrProps (val) {
      this.posterArr = this.posterArrProps.slice(0)
    }
  },
  props: {
    // 视频数量限制
    limit: {
      type: Number,
      default: 1
    },
    // 视频封面
    posterArrProps: {
      type: Array,
      default: function () {
        return []
      }
    },
    // 视频地址
    value: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data () {
    return {
      posterArr: [
        /* {
            img: '',
            video: ''
        } */
      ],
      posterMap: {},
      videoDialog: {
        show: false,
        src: ''
      },
      // 上传实例
      up: null
    }
  },
  computed: {
    modelValue: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('model', val)
      }
    }
  },
  created () {
    if (this.posterArrProps.length) {
      this.posterArr = this.posterArrProps.slice(0)
    }
  },
  methods: {
    /**
     * 记录视频时长
     */
    durationchange (event, index) {
      let videoLength = event.target.duration
      this.$emit('getVideoLength', videoLength)
    },
    getUp () {
      return this.up || (this.up = new Upload())
    },
    deleteVedio (val, index) {
      let newVal = this.modelValue.slice(0)
      newVal.splice(index, 1)
      this.posterArr.splice(index, 1)
      this.$emit('model', newVal)
    },
    previewVedio (item) {
      this.videoDialog.show = true
      this.videoDialog.src = item.video
    },
    videoPrewClose () {
      this.videoDialog = {
        show: false,
        src: ''
      }
    },
    getUploadInfo () {
      return this.posterArr
    },
    async uploadPoster (response) {
      let up = this.getUp()
      const obj = {}
      let videoUrl = (obj.video = generalUrl(response))
      if (this.posterMap[videoUrl]) {
        obj.img = this.posterMap[videoUrl]
        this.posterArr.push(obj)
      } else {
        // 上传七牛云
        /*
        let base64 = await getVideoPoster(obj.video)
        let res = await up.upload(base64)
        obj.img = this.posterMap[videoUrl] = res.url
        */
        await getVideoPoster(obj.video).then(
          async (base64) => {
            let res = await up.upload(base64)
            obj.img = this.posterMap[videoUrl] = res.url
            this.posterArr.push(obj)
          },
          (reject) => {
            this.$notify.error({
              title: '错误',
              message: '视频文件解析出错 ，请更换视频重新上传'
            })
            this.deleteVedio('', this.modelValue.length - 1)
          }
        )
      }
    }
  }
}
</script>
<style>
.vma-video-container .el-upload.el-upload--text {
  background-color: #fbfdff;
  border: 1px dashed #c0ccda;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 148px;
  height: 148px;
  line-height: 146px;
  vertical-align: top;
}

.vma-video-container ul.el-upload-list.el-upload-list--text {
  display: none;
}

.vma-video-container .vma-video-li {
  position: relative;
  background-color: #fbfdff;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 148px;
  height: 148px;
  line-height: 146px;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.vma-video-container .vma-video-li img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.vma-video-container .vma-video-li label {
  display: block;
  position: absolute;
  right: -15px;
  top: -6px;
  width: 40px;
  height: 24px;
  background: #13ce66;
  text-align: center;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 0 1pc 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1pc 1px rgba(0, 0, 0, 0.2);
}

.vma-video-container .vma-video-li label i {
  position: absolute;
  top: 0px;
  left: 14px;
  font-size: 12px;
  color: #fff;
  margin-top: 11px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.vma-video-container .vma-video-li:hover label {
  display: block;
}

.vma-video-container .vma-video-li:hover label {
  display: none;
}

.vma-video-container .el-upload-list__item-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0 !important;
  top: 0 !important;
  cursor: default !important;
  text-align: center !important;
  color: #fff !important;
  opacity: 0;
  font-size: 20px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.vma-video-container .vma-video-li:hover .el-upload-list__item-actions {
  opacity: 1 !important;
}

.vma-video-container .el-upload-list__item-delete {
  position: relative;
  right: inherit;
  font-size: 20px;
  color: #fff;
}

.vma-video-container .el-upload-list__item-actions span {
  display: none !important;
  cursor: pointer !important;
}

.vma-video-container .el-upload-list__item-actions:hover span {
  display: inline-block !important;
}

.vma-video-container .vma-video-li .el-icon-plus {
  font-size: 28px;
  color: #8c939d;
}
</style>
