
<template>
  <div class="ly-margin-right-30px">
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <div class="ly-height-max-50vh ly-scroll-y">
        <el-form-item label="客户意图:" :label-width="formLabelWidth">
          <el-input placeholder="" v-model.trim="params.questionTxt" clearable :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="相似问法:" :label-width="formLabelWidth">
          <el-input type="textarea" v-model.trim="params.questionExtend" clearable :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="AI话术:" :label-width="formLabelWidth">
          <el-input type="textarea" v-model="params.content" :rows="3"></el-input>
        </el-form-item>
        <messageOfTxtImgAudVido ref="messageEles" :addDialogWeChat="showDialogWeChat" :checkMaterialBtn="false" :info="modifyObj" :limit="50"></messageOfTxtImgAudVido>
      </div>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { xunfeiApi } from '@/api/chat'
import {
  messageOfTxtImgAudVido
} from '../messageAdd'
import {
  MESSAGE_TPYE_KEY
} from '@/constants/messageType'
import {
  aiTxtImgAudVideoInitDataMixin,
  aiMsgTIAVSubmitMessage
} from '@/mixins'
export default {
  mixins: [aiTxtImgAudVideoInitDataMixin, aiMsgTIAVSubmitMessage],
  components: {
    messageOfTxtImgAudVido
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data () {
    return {
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      formLabelWidth: '136px',
      modifyObj: {},
      showDialogWeChat: false, // 判断是否是营销模板消息的标志
      params: {
        msgText: '',
        msgType: '',
        coverInfo: '',
        // 小程序内容
        msgObject: {},
        // 新增字段
        questionTxt: '', // 问题内容
        content: '' // ai 话术文本内容

      },
      rules: {
        title: [{
          required: true,
          message: '请输入标题'
        }]
      }
    }
  },
  created () {
    if (this.dialogProp.data) {
      this.params = Object.assign(this.params, this.dialogProp.data)
    }
    // 营销-素材管理-添加小程序
    if (this.dialogProp.materialShow) {
      // 从父组件传过来的 要传到子组件
      this.showDialogWeChat = true
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    closeDialog () {
      this.$emit('closeDialog')
    },
    /**
     * 保存
     */
    submitInfo () {
      let obj = this.$refs.messageEles.getMessageInfo()
      let info = Object.assign(obj.msgType ? obj : { msgType: 1 }, { content: this.params.content })
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (info) {
            /**
             * 保存--消息的内容--在mixins/src/msgTIAVSubmitMessage文件下方法SubmitMessage
             */
            this.submitMessage(info)
          } else {
            return false
          }
        } else {
          return false
        }
      })
    },
    /**
     * 新增--保存
     */
    async submitAddInfo () {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.params.msgType !== MESSAGE_TPYE_KEY.TXT && !this.params.msgText) {
        this.warn('选择消息内容')
        return false
      }
      await xunfeiApi.processAISpeech(params).then((res) => {
        if (res.code === 0) {
          this.success(res.msg)
          this.$emit('refreshLeftGroupInfo', this.params)
        } else {
          this.warn(res.msg)
          this.$emit('refreshLeftGroupInfo', this.params)
        }
      })
    },
    /**
     * 修改--保存
     */
    async submitModifyInfo () {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.dialogProp.data) {
        params.id = this.dialogProp.data.id
      } else {
        return false
      }
      if (this.params.msgType !== MESSAGE_TPYE_KEY.TXT && !this.params.msgText) {
        this.warn('选择消息内容')
        return false
      }

      if (params.msgType === 6) {
        if (params.msgObject.miniProgramId === '' || params.msgObject.miniProgramName === '' || params.msgObject.thumbPath === '') {
          this.warn('请输入或选择消息内容')
          return false
        } else {
          await xunfeiApi.processAISpeech(params).then((res) => {
            this.success('修改成功')
            this.$emit('refreshLeftGroupInfo', params)
          })
        }
      } else if (params.msgType === 7) {
        if (params.msgObject.imgtxtTitle === '' || params.msgObject.imgtxtLinking === '' || params.msgObject.imgtxtUrl === '') {
          this.warn('请输入或选择消息内容')
          return false
        } else {
          await xunfeiApi.processAISpeech(params).then((res) => {
            this.success('修改成功')
            this.$emit('refreshLeftGroupInfo', params)
          })
        }
      } else {
        await xunfeiApi.processAISpeech(params).then((res) => {
          this.success('修改成功')
          this.$emit('refreshLeftGroupInfo', params)
        })
      }
    }
  }
}
</script>
