/* eslint-disable no-unused-expressions */
<template>
  <div class="reply-msg">
    <!--TODO 筛选参考快捷回复-->
    <div class="search-bar rlt">
      <!--TODO 关键字查询-->
      <el-input placeholder="输入关键字进行过滤" @keyup.enter.native="searchQuickMsg" v-model.trim="seachshortcutWord" :maxlength="100">
        <el-button slot="append" icon="el-icon-plus" type="primary" @click="showMManageAddDialog"></el-button>
      </el-input>
    </div>
    <div class="template-list">
      <ul>
        <li v-for="(item, index) in quickReplyList" :key="index">
          <div class="group-switch" @click="openGroup(index)">
            <i class="el-icon-caret-bottom" :class="item.open ? '' : 'rotate'"></i>
            <span>{{ item.groupName }}</span>
          </div>
          <ul class="group-list" v-if="item.open && item.records && item.records.length > 0">
            <li class="template-item" v-for="ite in item.records" :key="ite.id" @click.stop="sendReply(ite)">
              <i class="icon icon-image" v-if="ite.msgType === MESSAGE_TPYE_KEY.IMG"></i>
              <i class="icon icon-video" v-else-if="ite.msgType === MESSAGE_TPYE_KEY.VIDEO"></i>
              <i class="icon icon-text" v-else-if="ite.msgType === MESSAGE_TPYE_KEY.TXT"></i>
              <i class="icon icon-voice" v-else-if="ite.msgType == MESSAGE_TPYE_KEY.AUDIO"></i>
              <i class="icon el-icon-link" v-else-if="ite.msgType === MESSAGE_TPYE_KEY.WECHAT"></i>
              <span class="fr mr-10 preview-btn" @click.stop="previewReply(ite)">预览</span>
              <span class="el-icon-delete delete icon-style fr mr-10 preview-btn" v-if="ite.msgType !== MESSAGE_TPYE_KEY.WECHAT && ite.customerName !== 'ADMIN'" @click.stop="deleteQuickReplay(ite.id)"></span>
              <span class="icon-style el-icon-edit fr mr-10 preview-btn preview" v-if="ite.msgType !== MESSAGE_TPYE_KEY.WECHAT  && ite.customerName !== 'ADMIN'" @click.stop="showMManageModifyDialog(ite)"></span>
              <el-popover trigger="hover" placement="bottom-start" :content="ite.msgText" width="300">
                <span slot="reference" v-if="ite.msgType !== MESSAGE_TPYE_KEY.WECHAT">
                  <span><b>#</b>{{ ite.shortcutWord }}</span>
                </span>
                <span slot="reference" v-else>
                  <span><b>#</b>{{ ite.msgText }}</span>
                </span>
              </el-popover>
              <div class="contentEr" v-show="ite.msgType === MESSAGE_TPYE_KEY.TXT">
                {{ ite.msgText }}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- 文字预览 -->
    <wordDialg v-if="wordDialogData.show" :data="wordDialogData" @on-close="closeWordDialog" @on-send="sendWordMsg"></wordDialg>
    <!-- 粘贴图片预览 -->
    <sendPastImgDialog v-if="imgDialogData.show" :imgData="imgDialogData" @on-close="closeImgDialog" @directly-send-img="sendImageMsg"></sendPastImgDialog>
    <!-- 视频预览 -->
    <videoDialog v-if="videoDialogData.show" :data="videoDialogData" @on-close="closeVideoDialog" @on-send="sendVideoMsg"></videoDialog>
    <!-- 语音预览 -->
    <voiceDialog v-if="voiceDialogData.show" :data="voiceDialogData" @on-close="closeVoiceDialog" @on-send="sendVoiceMsg"></voiceDialog>
    <!-- 发送小程序前预览 -->
    <miniProgramDialog v-if="miniProgramDialogData.show" :miniProgramData="miniProgramDialogData" @on-close="closeMiniprogramDialog" @on-send="sendMiniProgramMsg"></miniProgramDialog>
    <el-dialog title="新增" :visible.sync="dialogmMangeAdd.show" width="880px" v-if="dialogmMangeAdd.show" @close="closeMManageAddDialog" append-to-body>
      <pManageMessageAdd :dialogProp="dialogmMangeAdd" @closeDialog="closeMManageAddDialog" @refreshLeftGroupInfo="refreshRightTabelListModify"></pManageMessageAdd>
    </el-dialog>
    <el-dialog title="编辑" :visible.sync="dialogmMangeModify.show" width="880px" v-if="dialogmMangeModify.show" @close="closeMManageModifyDialog" append-to-body>
      <pManageMessageAdd :dialogProp="dialogmMangeModify" @closeDialog="closeMManageModifyDialog" @refreshLeftGroupInfo="refreshRightTabelListModify"></pManageMessageAdd>
    </el-dialog>
  </div>
</template>

<script>
import { xunfeiApi } from '@/api/chat'
import { wechatInfoSession } from '@/storage'
import { mapGetters } from 'vuex'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'
import messageOfVideo from './messageOfVideo'
import miniProgramDialog from './miniProgramDialog'
import sendPastImgDialog from '@/pages/chat/home/components/mainChatBox/sendPastImgDialog'
import videoDialog from '@/components/packages/chat/home/videoDialog'
import wordDialg from './../../replyMsg/components/wordDialg.vue'
import pManageMessageAdd from './pManageMessageAdd'
import voiceDialog from './voiceDialog'
import { resourceMixin } from '@/mixins'
export default {
  components: {
    messageOfVideo,
    sendPastImgDialog,
    videoDialog,
    pManageMessageAdd,
    wordDialg,
    voiceDialog,
    miniProgramDialog

  },
  mixins: [resourceMixin],
  props: {
    limit: {
      type: Number
    }
  },
  name: 'child2',
  data () {
    return {
      quickReplyList: [],
      seachshortcutWord: '',
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      formLabelWidth: '120px',
      imgDialogData: {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      },
      videoDialogData: {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      },
      wordDialogData: {
        show: false,
        data: null
      },
      voiceDialogData: {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      },
      // 小程序
      miniProgramDialogData: {
        show: false,
        url: null,
        // poster: null,
        data: null,
        sendBtn: true
      },
      dialogmMangeAdd: {},
      dialogmMangeModify: {}
    }
  },

  computed: {
    ...mapGetters(['activeChatAccountInfo', 'activeChatFriendInfo', 'chatIM', 'adminInfo'])
  },
  created () {
    this.$onBus('search-quickMsg', (data) => {
      this.searchQuickMsg()
    })
  },
  methods: {
    /**
     * 删除快捷语
     * **/
    deleteQuickReplay (data) {
      this.$confirm('是否确认删除快捷语?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          let deleteQuickMsgParams = new FormData()
          deleteQuickMsgParams.append('id', data)
          xunfeiApi.deleteQuickMsg(deleteQuickMsgParams).then((res) => {
            if (res.code === 0) {
              this.searchQuickMsg()
              // this.$emitBus('SeachCommdata', {})
              this.$message({
                type: 'success',
                message: '删除成功!'
              })
            }
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
    },
    // 个人库查询
    searchQuickMsg () {
      this.quickReplyList = []
      let obj = {
        customerName: wechatInfoSession.getJSON().staffId,
        current: 1,
        size: 100,
        shortcutWord: this.seachshortcutWord,
        jobNumber: this.adminInfo.jobNum, // 工号
        deptId: this.adminInfo.deptId,
        businessId: this.adminInfo.enterpriseId // 企业ID
      }
      xunfeiApi.searchQuickMsg(obj).then((res) => {
        if (res.data.length > 0) {
          for (let item of res.data) {
            item.groupName = item.templateType
            item.records = item.templateList
          }
          this.quickReplyList = res.data
        } else {
          this.quickReplyList = []
        }
      })
    },
    /**
     * 打开分组
     * @param  {[type]} index [description]
     * @return {[type]}       [description]
     */
    openGroup (index) {
      this.$set(
        this.quickReplyList[index],
        'open',
        !this.quickReplyList[index].open
      )
    },

    /**
     * 确认发送快捷消息
     */
    sendQuickReply (data) {
      console.log('sendQuickReply data', data)
      this.$emitBus('send-quick-reply', data)
      setTimeout(() => { this.$emitBus('send-ai-person-company', Object.assign(data, { origin: 'kickPrik' })) }, 1500)
      this.kickWechat(data)
    },
    sendWordMsg (data) {
      this.sendQuickReply(data.data)
      this.closeWordDialog()
    },
    showWordDialog (data) {
      this.wordDialogData = {
        show: true,
        data: data,
        sendBtn: true
      }
    },
    closeWordDialog () {
      this.wordDialogData = {
        show: false,
        data: null
      }
    },
    /**
     * 预览发送
     * @param  {[type]} data [description]
     * @return {[type]}      [description]
     */
    previewReply (data) {
      console.log(data)
      switch (data.msgType) {
        // 文本
        case MESSAGE_TPYE_KEY.TXT:
          this.showWordDialog(Object.assign(data, { msgText: data.msgText }))
          break
        // 图片
        case MESSAGE_TPYE_KEY.IMG:
          this.showImgDialog(data)
          break
        // 视频
        case MESSAGE_TPYE_KEY.VIDEO:
          this.showVideoDialog(data)
          break
        // 录音
        case MESSAGE_TPYE_KEY.AUDIO:
          this.showVoiceDialog(data)
          break
        // 小程序
        case 6:
          this.showMiniProgramDialog({ msgText: data.weChatInfo, msgType: data.msgType })
          break
      }
    },
    /** 点击发送文本域发送 */
    sendReply (data) {
      switch (data.msgType) {
        // 文本
        case MESSAGE_TPYE_KEY.TXT:
          this.sendWordMsg({
            data
          })
          break
        // 图片
        case MESSAGE_TPYE_KEY.IMG:
          this.sendImageMsg(null, {
            data
          })
          break
        // 视频
        case MESSAGE_TPYE_KEY.VIDEO:
          this.sendVideoMsg({ data })
          break
        // 录音
        case MESSAGE_TPYE_KEY.AUDIO:
          this.sendVoiceMsg({ data })
          break
        case 6:
          this.sendMiniProgramMsg({ data: { msgText: data.weChatInfo, msgType: 6 } })
      }
    },
    /**
     * 确认发送视频
     * @param  {[type]} videoDialogData [description]
     * @return {[type]}      [description]
     */
    sendVideoMsg (videoDialogData) {
      this.sendQuickReply(videoDialogData.data)
      this.closeVideoDialog()
    },
    showVideoDialog (data) {
      // coverInfo 封面的图片地址
      this.videoDialogData = {
        show: true,
        url: data.msgText,
        poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    closeVideoDialog () {
      this.videoDialogData = {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      }
    },
    /**
     * 确认发送图片
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendImageMsg (url, data) {
      this.sendQuickReply(data.data)
    },
    showImgDialog (data) {
      this.imgDialogData = {
        show: true,
        url: data.fileUrl,
        sendBtn: true,
        data
      }
    },
    closeImgDialog () {
      this.imgDialogData = {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      }
    },
    /**
     * 确认发送语音
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendVoiceMsg (data) {
      this.closeVoiceDialog()
      this.sendQuickReply(data.data)
    },

    showVoiceDialog (data) {
      this.voiceDialogData = {
        show: true,
        url: data.msgText,
        voiceLength: data.voiceLength,
        sendBtn: true,
        data
      }
    },
    closeVoiceDialog () {
      this.voiceDialogData = {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      }
    },
    /**
     * 预览小程序
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    showMiniProgramDialog (data) {
      this.miniProgramDialogData = {
        show: true,
        url: data.msgText,
        // poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    /**
    * 确认发送小程序
    * @param  {[type]} url [description]
    * @return {[type]}     [description]
    */
    sendMiniProgramMsg (data) {
      this.closeMiniprogramDialog()
      this.sendQuickReply(data.data)
    },
    /**
    * 关闭小程序
    */
    closeMiniprogramDialog () {
      this.miniProgramDialogData = {
        show: false,
        url: null,
        // poster: null,
        data: null,
        sendBtn: true
      }
    },

    /**
    * 新增--弹窗--显示
    */
    showMManageAddDialog (a, b) {
      this.dialogmMangeAdd = {
        show: true,
        materialShow: true,
        data: {}
      }
    },
    /**
    * 新增--弹窗--关闭
    */
    closeMManageAddDialog () {
      this.dialogmMangeAdd = {}
    },
    refreshRightTabelList (data) {
    },
    /**
    * 编辑关闭
    */
    closeMManageModifyDialog () {
      this.dialogmMangeModify = {}
    },
    /**
    * 编辑--弹窗--显示
    */
    showMManageModifyDialog (data) {
      this.dialogmMangeModify = {
        show: true,
        data: data
      }
    },
    /**
    * 编辑--刷新
    */
    refreshRightTabelListModify () {
      this.dialogmMangeAdd.show = false
      this.dialogmMangeModify.show = false
      this.searchQuickMsg()
    },
    async kickWechat (data) {
      let params = {
        cmd: null,
        data: {
          customerName: wechatInfoSession.getJSON().staffId,
          jobNumber: this.adminInfo.jobNum, // 工号
          userName: this.adminInfo.name, // 用户名
          businessId: this.adminInfo.enterpriseId, // 企业ID
          nlpSolution: data.msgText,
          questionType: 1,
          fromUser: this.activeChatFriendInfo.wxId
        }
      }
      if (data.msgType === MESSAGE_TPYE_KEY.TXT) {
        params.cmd = 'text'
      } if (data.msgType === MESSAGE_TPYE_KEY.IMG) {
        params.cmd = 'image'
      } else if (data.msgType === MESSAGE_TPYE_KEY.VIDEO) {
        params.cmd = 'video'
      } else if (data.msgType === MESSAGE_TPYE_KEY.AUDIO) {
        params.cmd = 'audio'
      } else if (data.msgType === MESSAGE_TPYE_KEY.WECHAT) {
        params.cmd = 'weChat'
      }

      await xunfeiApi.kickWechat(params)
    }
  }
}
</script>

<style>
.icon-style {
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}
.upload-demo {
  float: left;
  margin-right: 30px;
}

.contentEr {
  line-height: 20px;
  overflow: hidden;
  position: relative;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
}
</style>
