<template>
  <div>
    <el-dialog title="微信群聊天记录" :visible.sync="chatRecord.diaologVisible" width="1192px" class="dialog-chat dialog-chat-group">
      <el-container>
        <el-aside width="240px">
          <div class="dialog-chat-search">
            <el-input placeholder="请输入群名称" v-model="groupSearch" class="input-with-select" size="small">
              <el-button slot="append" icon="el-icon-search"></el-button>
            </el-input>
          </div>
          <div class="dialog-chat-fiendslist">
            <ul>
              <li class="active">
                <div class="friendslist-img">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="friendslist-info">
                  <p class="chatname">测试账号1</p>
                  <p class="chatno">今日消息数:1</p>
                </div>
              </li>
              <li>
                <div class="friendslist-img">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="friendslist-info">
                  <p class="chatname">测试账号1</p>
                  <p class="chatno">今日消息数:</p>
                </div>
              </li>
              <li>
                <div class="friendslist-img">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="friendslist-info">
                  <p class="chatname">测试账号1</p>
                  <p class="chatno">今日消息数:</p>
                </div>
              </li>
              <li>
                <div class="friendslist-img">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="friendslist-info">
                  <p class="chatname">测试账号1</p>
                  <p class="chatno">今日消息数:</p>
                </div>
              </li>
            </ul>
          </div>
        </el-aside>
        <el-container class="chatgroup-contain">
          <el-header height="71px">
            <dialogChatRecordSearch @searchRecord="searchRecord"></dialogChatRecordSearch>
          </el-header>
          <el-main>
            <!--聊天记录-->
            <chatRecordList></chatRecordList>
          </el-main>
          <div class="chatroup-memberlist">
            <div class="dialog-chat-search">
              <el-input placeholder="输入成员昵称" v-model="friendSearch" class="input-with-select" size="small">
                <el-button slot="append" icon="el-icon-search"></el-button>
              </el-input>
            </div>
            <div class="chatgroup-member-no">群成员（3）</div>
            <!--群成员列表-->
            <dialogChatRecordFriendsList></dialogChatRecordFriendsList>
          </div>
        </el-container>
      </el-container>
    </el-dialog>
  </div>
</template>

<script>
import dialogChatRecordFriendsList from '@/pages/ui/system/dialogs/common/dialogChatRecordFriendsList.vue'
import dialogChatRecordSearch from '@/pages/ui/system/dialogs/common/dialogChatRecordSearch.vue'
import chatRecordList from '@/pages/ui/system/dialogs/common/dialogChatRecordList.vue'
export default {
  components: {
    dialogChatRecordFriendsList,
    dialogChatRecordSearch,
    chatRecordList
  },
  props: {
    chatRecord: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      friendSearch: '',
      chatRecoorddateval: '',
      groupSearch: '',
      chatRecordSearch: ''
    }
  },
  methods: {
    searchRecord(val) {
      console.log(val)
    }
  },
  created() {}
}
</script>
