<template>
  <div>
    <ul class="chatcontent-record">
      <li>
        <div class="chatcontent-record-li">
          <p class="chatcontent-record-time">11-23 12:12:12</p>
          <div class="chatcontent-record-conent">
            <div class="chatcontent-record-userimg">
              <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
            </div>
            <div class="chatcontent-record-detail">
              <span class="chatcontent-label"><i class="el-icon-close"></i></span>
              <span class="chatcontent-label"><i class="el-icon-back"></i></span>
              <span class="chatcontent-record-triggle"></span>
              <div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="chatcontent-record-li">
          <p class="chatcontent-record-time">11-23 12:12:12</p>
          <div class="chatcontent-record-conent">
            <div class="chatcontent-record-userimg">
              <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
            </div>
            <div class="chatcontent-record-detail">
              <span class="chatcontent-label"><i class="el-icon-close"></i></span>
              <span class="chatcontent-label"><i class="el-icon-back"></i></span>
              <span class="chatcontent-record-triggle"></span>
              <div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="chatcontent-record-li">
          <p class="chatcontent-record-time">11-23 12:12:12</p>
          <div class="chatcontent-record-conent">
            <div class="chatcontent-record-userimg">
              <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
            </div>
            <div class="chatcontent-record-detail">
              <span class="chatcontent-label"><i class="el-icon-close"></i></span>
              <span class="chatcontent-label"><i class="el-icon-back"></i></span>
              <span class="chatcontent-record-triggle"></span>
              <div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容</div>
            </div>
          </div>
        </div>
      </li>
      <li class="chatconent-record-right">
        <div class="chatcontent-record-li">
          <p class="chatcontent-record-time">11-23 12:12:12</p>
          <div class="chatcontent-record-conent">
            <div class="chatcontent-record-userimg">
              <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
            </div>
            <div class="chatcontent-record-detail">
              <span class="chatcontent-label"><i class="el-icon-close"></i></span>
              <span class="chatcontent-label"><i class="el-icon-back"></i></span>
              <span class="chatcontent-record-triggle"></span>
              <div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天</div>
            </div>
          </div>
        </div>
      </li>
      <li class="chatconent-record-right">
        <div class="chatcontent-record-li">
          <p class="chatcontent-record-time">11-23 12:12:12</p>
          <div class="chatcontent-record-conent">
            <div class="chatcontent-record-userimg">
              <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
            </div>
            <div class="chatcontent-record-detail chatcontent-record-img">
              <span class="chatcontent-label"><i class="el-icon-close"></i></span>
              <span class="chatcontent-label"><i class="el-icon-back"></i></span>
              <span class="chatcontent-record-triggle"></span>
              <div><img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/></div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="chatcontent-record-li">
          <p class="chatcontent-record-time">11-23 12:12:12</p>
          <div class="chatcontent-record-conent">
            <div class="chatcontent-record-userimg">
              <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
            </div>
            <div class="chatcontent-record-detail chatcontent-record-img">
              <span class="chatcontent-record-triggle"></span>
              <div><img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    chatRecord: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      friendSearch: '',
      chatRecoorddateval: '',
      chatRecordSearch: ''
    }
  },
  created() {}
}
</script>
