<template>
  <div class="page-login" :style="{backgroundImage: `url(${loginInfo.bg})`}">
    <div class="login-header">
      <ul class="login-header-info">
        <li v-if="showLoginHotLine">
          <ins>客服热线：{{loginInfo.hotLine}}</ins>
        </li>
        <!-- <li>
          <el-popover placement="bottom-start" trigger="hover" popper-class="login-pub-code">
            <ins slot="reference" class="cursor">
              <i class="icon icon-login-gongzhonghao"></i>
              关注微信公众号
            </ins>
            <img :src="loginInfo.qrCode" />
          </el-popover>
        </li> -->
      </ul>
      <img :src="loginInfo.logo" class="login-logo" />
    </div>
    <div class="login-box">
      <form class="login-form">
        <slot name="loginType">&nbsp;&nbsp;</slot>
        <div class="login-form-item">
          <login-form-input placeholder="请输入登录账号" icon="icon-login-zhanghao" class="animated" :class="{'shake invalid': !validate.account.valid}" v-model="entity.account" @blur="onBlurAccount" @enter="login" ref="account" />
        </div>
        <input type="hidden">
        <div class="login-form-item">
          <login-form-input type="password" placeholder="请输入登录密码" icon="icon-login-mima" class="animated" :class="{'shake invalid': !validate.password.valid}" v-model="entity.password" @blur="onBlurPassword" @enter="login" />
        </div>
        <div class="login-form-item">
          <div class="login-form-code">
            <div class="code-img" @click="np">
              <img :src="qrCodeUrl" />
            </div>
            <login-form-input placeholder="请输入验证码" icon="icon-login-yanzhengma" class="animated" :class="{'shake invalid': !validate.qrCode.valid}" v-model="entity.qrCode" @blur="onBlurQRCode" @enter="login" ref="qrCode" />
          </div>
        </div>
        <div class="login-form-item">
          <el-button type="primary" class="login-form-btn animated" @click="login">登录</el-button>
        </div>
        <div class="login-form-item" style="overflow:hidden">
          <el-checkbox class="login-form-remember" v-model="rememberMe">记住我</el-checkbox>
        </div>
      </form>
    </div>
    <div class="login-footer">
      技术支持：{{loginInfo.technicalSupport}} (推荐使用谷歌浏览器、火狐浏览器以及360极速浏览器)
      <br />
      网站ICP备案号：{{loginInfo.caseNumber}} Copyright {{loginInfo.copyRight}} 版权所有
    </div>

  </div>
</template>

<script>
import { isChatRouter, redirectToChatHome } from '@/router/chat'
import { mapActions, mapMutations } from 'vuex'
import * as mutationsType from '@/store/mutation-types'
import LoginFormInput from '@/components/packages/login/loginFormInput'
import {
  loginRememberMeLocal,
  loginAccountLocal,
  loginTypeLocal,
  broadcastLoginLocal
} from '@/storage'
import { imgApi, homeApi } from '@/api/common'
import { commonApi } from '@/api/chat'
import { redirectToHome } from '@/router'
import RSAUtils from '@/assets/js/rsa'
import loading from '@/components/libs/loading'
import { loginInfo, showLoginHotLine } from '@/config'
import { LOGIN_TYPE } from '@/constants'
import { Message } from 'element-ui'
import { setDocumentMixin } from '@/mixins'

let loginBroadcast = null
export default {
  components: {
    LoginFormInput
  },
  mixins: [setDocumentMixin],
  props: {
    loginType: {
      type: Number,
      default: loginTypeLocal.getOrDefault()
    },
    name: {
      type: String,
      default: ''
    }
  },
  data () {
    const rememberMe = loginRememberMeLocal.get() === 'true'
    const account = rememberMe ? loginAccountLocal.get() : ''
    return {
      entity: {
        account,
        password: '',
        qrCode: '',
        index: ''
      },
      validate: {
        account: {
          valid: true
        },
        password: {
          valid: true
        },
        qrCode: {
          valid: true
        }
      },
      showLoginHotLine,
      rememberMe,
      // 验证码图片
      qrCodeUrl: '',
      omsInfo: {}
    }
  },
  computed: {
    loginInfo () {
      return Object.assign({}, loginInfo, this.omsInfo)
    }
  },
  created () {
    // 太保免登陆
    // var entrnUrl = window.location.href
    var resultUrl = this.$route.query.token
    if (resultUrl) {
      let params = {
        type: 4,
        domain: this.name,
        token: resultUrl,
        isLogin: true
      }
      commonApi.taibaoLogin(params).then(res => {
        let data = {
          macKey: res.macKey,
          name: res.name,
          headIcon: res.headIcon,
          isStrong: res.isStrong,
          isAdmin: res.isAdmin,
          enterpriseId: res.enterpriseId,
          hasPermissions: res.hasPermissions,
          resourceMenuList: res.resourceMenuList,
          resourceActionList: res.resourceActionList,
          isXunFeiUser: res.isXunFeiUser // 判断是否是具有讯飞的资格账号
          // jobNum: res.jobNum
        }
        loginTypeLocal.set(this.loginType)
        broadcastLoginLocal.random()
        // this.resetRememberMe(entity);
        this.afterLogin(data)
        Message.closeAll()
        redirectToChatHome()
        let taibaoData = {
          accountId: res.accountId,
          id: res.wxUserId,
          wxId: res.wxId,
          talkerWxId: res.talkerWxId
        }
        this.saveLoginInfo(taibaoData)
        // localStorage.setItem('taibaoNoLoginData', JSON.stringify(taibaoData))
      })
    }

    this.refreshQRCode()
    this.getOmsInfo(this.name)

    loginBroadcast = () => {
      location.reload()
    }
    broadcastLoginLocal.onBroadcast(loginBroadcast)
  },
  mounted () {
    this.$nextTick(() => {
      this.$refs.account.focus()
    })
  },
  destroyed () {
    broadcastLoginLocal.offBroadcast(loginBroadcast)
    loginBroadcast = null
  },
  methods: {
    ...mapActions(['afterLogin']),
    ...mapMutations({
      updateLoginInfo: mutationsType.UPDATE_LOGIN_INFO,
      saveLoginInfo: mutationsType.SAVE_LOGIN_INFO
    }),

    // 取运营商数据
    getOmsInfo (name) {
      if (name) {
        homeApi.getOmsInfo(name).then(data => {
          let inhert = {
            useApiInfo: true
          }
          this.omsInfo = Object.assign({}, this.omsInfo, inhert, data)
          this.updateLoginInfo(this.omsInfo)
        })
      }
    },
    // 登录
    async login () {
      let entity = Object.assign({}, this.entity, {
        type: this.loginType,
        domain: this.name
        // domain: 'web02.scrm.vmajy.com'
      })
      if (
        this.validateAccount(entity.account) &&
        this.validatePassword(entity.password) &&
        this.validateQRCode(entity.qrCode)
      ) {
        entity.code = entity.qrCode
        delete entity.qrCode

        loading.show()
        homeApi.getEncryption().then(
          ({ randomIndex, exponent, modulus }) => {
            RSAUtils.setMaxDigits(200)
            // 第一个参数为加密指数、第二个参数为解密参数、第三个参数为加密系数
            let key = RSAUtils.getKeyPair(exponent, '', modulus)
            entity.password = RSAUtils.encryptedString(key, entity.password)
            entity.randomIndex = randomIndex

            homeApi
              .login(entity)
              .then(data => {
                // 判断，新增讯飞字段 带有1时候，跳转讯飞
                // if( data && data.isXunFeiUser === 1){
                //     window.open("http://120.193.76.180:13997/#/chat?macKey="+data.macKey+"&enterpriseId="+data.enterpriseId+"&jobNum="+data.jobNum+"")
                // }
                if (
                  this.loginType !== LOGIN_TYPE.CHAT &&
                  !data.resourceMenuList.length
                ) {
                  return this.warning('暂无权限，请联系管理员')
                }
                loginTypeLocal.set(this.loginType)
                broadcastLoginLocal.random()
                this.resetRememberMe(entity)
                this.afterLogin(data)
                Message.closeAll()
                redirectToHome()
                // const validPassw = this.entity.password;
                // const reg =  /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/;
                // // 如果当前密码为强密码（不为弱密码）
                // if (validPassw.length < 6 || !validPassw.match(reg)) {
                //   // this.$root.isPassword = true
                //    window.localStorage.setItem("x",1);
                // }
              })
              .finally(() => {
                loading.hide()
              })
          },
          err => {
            loading.hide()
            Promise.reject(err)
          }
        )
      }
    },

    // 点击更新验证码
    np () {
      this.refreshQRCode()
      this.$refs.qrCode.select()
    },

    // 更新验证码
    refreshQRCode () {
      imgApi.verification().then(data => {
        this.entity.index = data.index
        this.qrCodeUrl = /^data/i.test(data.code)
          ? data.code
          : `data:image/png;base64,${data.code}`
      })
    },

    // 校验账号
    validateAccount (account) {
      if (!account) {
        this.validate.account.valid = false
        return false
      }
      this.validate.account.valid = true
      return true
    },

    // 校验密码
    validatePassword (password) {
      if (!password) {
        this.validate.password.valid = false
        return false
      }
      this.validate.password.valid = true
      return true
    },

    // 校验验证码
    validateQRCode (qrCode) {
      if (!qrCode || !/^.{4}$/.test(qrCode)) {
        this.validate.qrCode.valid = false
        return false
      }
      this.validate.qrCode.valid = true
      return true
    },

    onBlurAccount () {
      this.validateAccount(this.entity.account)
    },
    onBlurPassword () {
      this.validatePassword(this.entity.password)
    },
    onBlurQRCode () {
      this.validateQRCode(this.entity.qrCode)
    },

    // 重新设置[记住我]
    resetRememberMe (entity) {
      const rememberMe = this.rememberMe
      loginRememberMeLocal.set(rememberMe)
      if (rememberMe) {
        loginAccountLocal.set(entity.account)
      } else {
        loginAccountLocal.remove()
      }
    },

    focusAccount () {
      if (this.$refs.account) {
        this.$refs.account.focus()
        this.$refs.account.select()
      }
    }
  }
}
</script>
