<template>
  <div class="ly-margin-vertical-sm ly-bg-white business">
    <el-form :model="params"
             ref="params"
             label-width="120px"
             class="demo-ruleForm ly-padding-sm"
             :rules="rules">
      <div class="ly-border-bottom-1">
        <el-form-item label="账号信息"
                      class="ly-font-16">
        </el-form-item>
        <el-form-item label="账号："
                      prop="account">
          <div>
            <el-input type="account"
                      v-model.trim="params.account"
                      :maxlength="16"
                      autocomplete="off"
                      clearable
                      :disabled="isEdit"></el-input>
            <span>6~16位字符或数字</span>
          </div>
        </el-form-item>
        <el-form-item label="初始密码："
                      prop="passwords">
          <div>
            <el-input type="password"
                      v-model.trim="params.passwords"
                      :maxlength="16"
                      autocomplete="off"
                      clearable
                      :disabled="isEdit"></el-input>
            <span>6~16位字符或数字</span>
          </div>
        </el-form-item>
        <el-form-item label="确认密码："
                      prop="password">
          <div>
            <el-input type="password"
                      v-model.trim="params.password"
                      :maxlength="16"
                      autocomplete="off"
                      clearable
                      :disabled="isEdit"></el-input>
            <span>6~16位字符或数字</span>
          </div>
        </el-form-item>
      </div>
      <el-form-item label="基本信息"
                    class="ly-font-16 ly-margin-top-sm">
      </el-form-item>
      <el-form-item label="后台LOGO"
                    class="ly-font-16 ly-margin-top-sm"
                    prop="headIcon">
        <vma-image-upload v-model="params.headIcon"
                          :singleFileSize="10" />
        <p class="ly-tip ly-margin-top-10px">建议尺寸124*26px</p>
      </el-form-item>
      <el-form-item label="浏览器图标"
                    class="ly-font-16 ly-margin-top-sm">
        <vma-image-upload v-model="params.icon"
                          :exts="['jpg', 'png', 'jpeg', 'ico']"
                          :singleFileSize="10" />
        <p class="ly-tip ly-margin-top-10px">建议尺寸64*64px</p>
      </el-form-item>
      <el-form-item v-if="params.id"
                    label="编号：">{{params.id || ''}}
      </el-form-item>
      <el-form-item label="企业名称："
                    class="ruleForm-sm"
                    prop="name">
        <div>
          <el-input type="name"
                    v-model.trim="params.name"
                    :maxlength="20"
                    autocomplete="off"
                    clearable></el-input>
          <span>20字</span>
        </div>
      </el-form-item>
      <el-form-item label="联系电话："
                    prop="phone">
        <el-input type="phone"
                  v-model.number.trim="params.phone"
                  autocomplete="off"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="设备："
                    class="ruleForm-xs"
                    prop="equipmentNum">
        <div>
          <el-input type="equipmentNum"
                    v-model.number="params.equipmentNum"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
        </div>
      </el-form-item>
      <el-form-item label="店铺："
                    class="ruleForm-xs"
                    prop="shopNum">
        <div>
          <el-input type="shopNum"
                    v-model.number="params.shopNum"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
        </div>
      </el-form-item>
      <el-form-item label="个人号："
                    class="ruleForm-xs"
                    prop="wechatNum">
        <div>
          <el-input type="wechatNum"
                    v-model.number="params.wechatNum"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
        </div>
      </el-form-item>
      <el-form-item label="工作群："
                    class="ruleForm-xs"
                    prop="workGroupNum">
        <div>
          <el-input type="workGroupNum"
                    v-model.number="params.workGroupNum"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
        </div>
      </el-form-item>
      <el-form-item label="企业账号："
                    class="ruleForm-xs"
                    prop="enterpriseNum">
        <div>
          <el-input type="enterpriseNum"
                    v-model.number="params.enterpriseNum"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
        </div>
      </el-form-item>
      <el-form-item label="地址："
                    class="ruleForm-xs"
                    required>
        <provinceList v-model="params.provinceId"
                      placeholder="省"
                      @change="clearableCallback('provinceId')" />
        <cityList v-model="params.cityId"
                  placeholder="市"
                  :provinceId="params.provinceId"
                  @change="clearableCallback" />
        <areaList v-model="params.areaId"
                  placeholder="区"
                  :cityId="params.cityId" />
      </el-form-item>
      <el-form-item label="详细地址："
                    class="ruleForm-sm"
                    prop="detailAddress">
        <div>
          <el-input v-model.trim="params.detailAddress"
                    :maxlength="50"
                    autocomplete="off"
                    clearable></el-input>
          <span>50字</span>
        </div>
      </el-form-item>
      <el-form-item label="备注："
                    class="ruleForm-sm"
                    prop="remark">
        <div>
          <el-input type="textarea"
                    v-model="params.remark"
                    rows="5"
                    maxlength="500"></el-input>
          <span>{{remarkLen}}/{{remarkTotal}}</span>
        </div>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
                   @click="submitForm('params',1)">确定</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mobileValidator, accountValidator, passwordValidator, positiveIntegerValidator } from '@/assets/js/validators'
import { provinceList, cityList, areaList } from '@/components/common/lazySelect'
import { oemListApi } from '@/api/sms'

export default {
  props: ['dialog'],
  components: { provinceList, cityList, areaList },
  watch: {
    'params.remark': {
      handler: function (val, oldval) {
        if (val) {
          this.remarkLen = val.length
        }
      },
      deep: true
    }
  },
  data() {
    const reNewPasswordValidator = (rule, value, callback, source, options) => {
      let errors = []
      if (value && value !== this.params.passwords) {
        errors.push(rule.message || '两次输入的密码不一致')
      }
      callback(errors)
    }
    const passwordValidatorAdd = (rule, value, callback, source, options) => {
      if (this.isEdit) {
        callback()
      } else {
        passwordValidator(rule, value, callback, source, options)
      }
    }
    const positiveIntegerValidatorMinMax = (rule, value, callback) => {
      if (value < 1 || value > 999999999) {
        callback(new Error('请输入1~999999999'))
      } else {
        callback()
      }
    }
    return {
      provinceArea: {
        provinceList: [],
        cityList: [],
        areaList: []
      },
      cityList: {},
      areaList: {},
      params: {
        account: '',
        passwords: '',
        password: '',
        headIcon: '',
        icon: '',
        name: '',
        phone: '',
        equipmentNum: 1,
        shopNum: 1,
        wechatNum: 1,
        workGroupNum: 1,
        enterpriseNum: 1,
        provinceId: null,
        cityId: null,
        areaId: null,
        detailAddress: '',
        remark: ''
      },
      rules: {
        account: [
          { required: true, message: '请输入账号' },
          { validator: accountValidator }
        ],
        passwords: [
          { required: true, message: '请输入初始密码' },
          { validator: passwordValidatorAdd }
        ],
        password: [
          { required: true, message: '请再次输入密码' },
          { validator: reNewPasswordValidator }
        ],
        headIcon: [
          { required: true, message: '请选择LOGO' }
        ],
        name: [
          { required: true, message: '企业名称不能为空' },
          { max: 20, message: '企业名称不能超过20个字符' }
        ],
        phone: [
          { required: true, message: '联系电话不能为空' },
          { validator: mobileValidator }
        ],
        equipmentNum: [
          { required: true, message: '设备数量不能为空' },
          { type: 'number', message: '设备数量只能为数字' },
          { validator: positiveIntegerValidator },
          { validator: positiveIntegerValidatorMinMax }
        ],
        shopNum: [
          { required: true, message: '店铺数量不能为空' },
          { type: 'number', message: '店铺数量只能为数字' },
          { validator: positiveIntegerValidator },
          { validator: positiveIntegerValidatorMinMax }
        ],
        wechatNum: [
          { required: true, message: '个人号数量不能为空' },
          { type: 'number', message: '个人号数量只能为数字' },
          { validator: positiveIntegerValidator },
          { validator: positiveIntegerValidatorMinMax }
        ],
        workGroupNum: [
          { required: true, message: '工作群数量不能为空' },
          { type: 'number', message: '工作群数量只能为数字' },
          { validator: positiveIntegerValidator },
          { validator: positiveIntegerValidatorMinMax }
        ],
        enterpriseNum: [
          { required: true, message: '企业账号数量不能为空' },
          { type: 'number', message: '企业账号数量只能为数字' },
          { validator: positiveIntegerValidator },
          { validator: positiveIntegerValidatorMinMax }
        ],
        detailAddress: [
          { max: 50, message: '详细地址不能超过50个字符' }
        ]
      },
      isEdit: false,
      remarkLen: 0,
      remarkTotal: 500,
      enterpriseId: null
    }
  },
  created() {
    if (this.dialog.name === 'edit') {
      this.enterpriseId = this.dialog.id
      this.isEdit = true
      this.getDetails()
    }
  },
  methods: {
    getDetails() {
      oemListApi.detailOem(this.enterpriseId).then(res => {
        this.params = res
        if (this.isEdit) {
          this.params.passwords = '******'
          this.params.password = '******'
          if (this.params.remark) {
            this.remarkLen = this.params.remark.length
          }
          if (this.params.provinceId) {
            this.params.provinceId = res.provinceId
            this.params.cityId = res.cityId
            this.params.areaId = res.areaId
          }
        }
      })
    },
    // 保存验证
    submitForm(formName, type) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (!this.params.provinceId || !this.params.cityId || !this.params.areaId) {
            let message
            if (!this.params.provinceId) {
              message = '请选择省'
            } else if (!this.params.cityId) {
              message = '请选择市'
            } else {
              message = '请选择区'
            }
            this.error(message)
            return false
          } else {
            this.submitCallback(type)
          }
        } else {
          this.error('很遗憾，请填写正确数据')
          return false
        }
      })
    },
    // 保存
    submitCallback(type) {
      if (this.params.provinceId) {
        this.params.areaId = this.params.areaId
        this.params.cityId = this.params.cityId
        this.params.provinceId = this.params.provinceId
      }
      this.$emit('on-confirm', this.params, type)
    },
    clearableCallback(val, valCity) {
      if (val === 'provinceId') {
        this.params.areaId = ''
        this.params.cityId = ''
      } else {
        if (!valCity) {
          this.params.areaId = ''
        }
      }
    }
  }
}
</script>
