<template>
    <div class="ly-margin-vertical-sm ly-bg-white business">
    <el-form :model="params"
             ref="params"
             label-width="120px"
             class="demo-ruleForm ly-padding-sm">
        <el-form-item label="APP名称："
                    class="ruleForm-sm"
                    prop="name">
            <div>
            <el-input type="name"
                      v-model.trim="params.appName"
                      :maxlength="10"
                      autocomplete="off"
                      clearable></el-input>
            </div>
      </el-form-item>
      <el-form-item label="APP图片："
                    class="ly-font-16 ly-margin-top-sm"
                    prop="headIcon">
        <vma-image-upload v-model="params.appIcon"
                          :singleFileSize="10" />
        <p class="ly-tip ly-margin-top-10px">建议尺寸192*192px</p>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
                   @click="submitForm('params')">确定</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
export default {
  props: ['accountParams', 'dialog', 'isActive'],
  data() {
    return {
      params: {
        appIcon: '',
        appName: ''
      }
    }
  },
  watch: {
    isActive(val) {
      if (val === 1) {
        if (this.dialog.name === 'edit') {
          this.params.appIcon = this.accountParams.appIcon
          this.params.appName = this.accountParams.appName
        }
      }
    }
  },
  methods: {
    submitForm() {
      this.$emit('on-confirm', this.params)
    }
  }
}
</script>
