<template>
  <el-form :model="params"
           ref="params"
           label-width="120px"
           class="demo-ruleForm ly-padding-sm ly-box-1"
           :rules="rules">
    <el-form-item label="登录页设置"
                  class="ly-font-16">
    </el-form-item>
    <el-form-item label="登录域名："
                  prop="oemName">
      <el-input type="name"
                v-model.trim="params.oemName"
                autocomplete="off"
                clearable></el-input>
    </el-form-item>
    <el-form-item label="LOGO："
                  prop="logo">
      <vma-image-upload v-model="params.logo"
                        :singleFileSize="10" />
      <p class="ly-tip ly-margin-top-10px">建议尺寸415*48px</p>
    </el-form-item>
    <el-form-item label="客服热线："
                  prop="hotLine">
      <el-input type="name"
                v-model.trim="params.hotLine"
                autocomplete="off"
                clearable></el-input>
    </el-form-item>
    <el-form-item label="公众号二维码："
                  prop="qrCode">
      <vma-image-upload v-model="params.qrCode"
                        :singleFileSize="10" />
      <p class="ly-tip ly-margin-top-10px">建议尺寸160*160px</p>
    </el-form-item>
    <el-form-item label="技术支持："
                  prop="technicalSupport"
                  class="ruleForm-sm">
      <el-input type="account"
                v-model.trim="params.technicalSupport"
                :maxlength="100"
                autocomplete="off"
                clearable></el-input>
    </el-form-item>
    <el-form-item label="备案号："
                  prop="caseNumber"
                  class="ruleForm-sm">
      <el-input type="phone"
                v-model.number="params.caseNumber"
                autocomplete="off"
                clearable></el-input>
    </el-form-item>
    <el-form-item label="版权所有："
                  prop="copyRight"
                  class="ruleForm-sm">
      <el-input type="account"
                v-model.trim="params.copyRight"
                :maxlength="100"
                autocomplete="off"
                clearable></el-input>
    </el-form-item>
    <el-form-item>
      <div class="view-login-example">
        <el-button type="text">查看示例</el-button>
        <img src="@/assets/images/sms/login_example.jpg"
             alt=""
             v-image-view>
      </div>
    </el-form-item>
    <el-form-item>
      <el-button type="primary"
                 @click="submitForm('params')">确定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { oemListApi } from '@/api/sms'
import { phoneValidator, URLValidator } from '@/assets/js/validators'

export default {
  props: ['accountParams', 'dialog', 'isActive', 'appSettingParams'],
  data() {
    return {
      isEdit: false,
      params: {
        oemName: '',
        logo: '',
        hotLine: '',
        qrCode: '',
        technicalSupport: '',
        caseNumber: '',
        copyRight: ''
      },
      allParams: {},
      rules: {
        oemName: [
          { required: true, message: '请输入登录域名' },
          { validator: URLValidator }
        ],
        logo: [
          { required: true, message: '请选择LOGO' }
        ],
        hotLine: [
          { required: true, message: '请输入客服热线' },
          { validator: phoneValidator }
        ],
        qrCode: [
          { required: true, message: '请选择公众号二维码' }
        ],
        technicalSupport: [
          { required: true, message: '请输入技术支持' }
        ],
        caseNumber: [
          { required: true, message: '请输入备案号' }
        ],
        copyRight: [
          { required: true, message: '请输入版权所有' }
        ]
      },
      imageUrl: ''
    }
  },
  watch: {
    isActive(val) {
      if (val === 2) {
        if (this.dialog.name === 'edit') {
          this.params = this.accountParams.loginInfo
          this.isEdit = true
        } else {
          this.isEdit = false
        }
      }
    }
  },
  methods: {
    // 保存验证
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.submitCallback()
        } else {
          this.error('很遗憾，请填写正确数据')
          return false
        }
      })
    },
    // 保存
    async submitCallback() {
      await this.oemName()
      this.allParams = Object.assign({}, this.accountParams, this.appSettingParams)
      this.allParams.loginInfo = this.params
      if (this.isEdit) {
        await this.editCallback()
      } else {
        await this.addCallback()
      }
    },
    // 新增
    addCallback() {
      oemListApi.newOem(this.allParams).then(res => {
        this.success('恭喜你，新增成功')
        this.$emit('on-confirm', true)
      })
    },
    // 编辑
    editCallback() {
      // console.log(this.allParams)
      oemListApi.editOem(this.allParams).then(res => {
        this.success('恭喜你，编辑成功!')
        this.$emit('on-confirm', true)
      })
    },
    // 登录域名验证
    async oemName() {
      let oemNameParams = {
        name: this.params.oemName
      }
      if (this.isEdit) {
        oemNameParams.id = this.dialog.id
      }
      await oemListApi.checkLoginIdenty(oemNameParams)
    }
  }
}
</script>
