<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.wechatAccount"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="微信昵称/备注"
                    class="ly-margin-right-bottom-sm"
                    clearable>
            <template slot="prepend">所属个人号</template>
          </el-input>
          <!--部门级联已经调整-->
          <departmenTreeCascadert v-model="departmentList"
                                  filterable
                                  clearable
                                  placeholder="所属部门"
                                  class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
          <el-input v-model.trim="params.staff"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="员工账号/姓名"
                    class="ly-margin-right-bottom-sm"
                    clearable>
            <template slot="prepend">所属员工</template>
          </el-input>
          <el-select v-model="params.status"
                     placeholder="状态"
                     clearable
                     class="ly-margin-right-sm">
            <!-- 状态:0未处理 1手动通过 2自动通过 3已过期 -->
            <el-option label="未处理"
                       :value="0">
            </el-option>
            <el-option label="手动通过"
                       :value="1">
            </el-option>
            <el-option label="自动通过"
                       :value="2">
            </el-option>
            <el-option label="已过期"
                       :value="3">
            </el-option>
          </el-select>
          <el-input v-model.trim="params.wechatGroup"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="群名称/群主昵称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange"
                          range-separator="至"
                          start-placeholder="开始执行日期"
                          end-placeholder="结束执行日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     size="medium"
                     @click="resetCallback">重置</el-button>
          <el-button class="ly-float-right ly-margin-right-sm"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>

        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm ly-margin-horizontal-sm-minus">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="inviteUser"
                         label="邀请人"
                         fixed>
        </el-table-column>
        <el-table-column prop="inviteeNum"
                         label="被邀请人"
                         width="150">
          <template slot-scope="scope">
            <P class="ly-cursor-pointer ly-font-color-5"
               @click="openCallback('invitee',scope.row)">{{scope.row.inviteeNum}}</P>
          </template>
        </el-table-column>
        <el-table-column prop="wechatGroup"
                         label="目标群"
                         width="250">
          <template slot-scope="scope">
            <p :title="scope.row.wechatGroup"
               class="ly-ellipsis2"
               style="max-height: 40px;">{{ scope.row.wechatGroup }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="groupOwner"
                         label="群主"
                         width="150">
        </el-table-column>
        <el-table-column prop="verifiedMsg"
                         label="验证信息"
                         width="300">
        </el-table-column>
        <el-table-column prop="excuteTime"
                         label="执行时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.excuteTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="department"
                         label="所属部门"
                         width="150">
        </el-table-column>
        <el-table-column label="所属员工"
                         width="150">
          <template slot-scope="scope">
            <p>{{scope.row.staffAccount}}</p>
            <p>{{scope.row.staffName}}</p>
          </template>
        </el-table-column>
        <el-table-column prop="weChatAccount"
                         label="所属个人号"
                         width="150">
        </el-table-column>
        <el-table-column prop="status"
                         label="状态"
                         width="150">
          <template slot-scope="scope">
            <!-- 状态:0未处理 1手动通过 2自动通过 3已过期 -->
            <span v-if="scope.row.status==0">未处理</span>
            <span v-if="scope.row.status==1">手动通过</span>
            <span v-if="scope.row.status==2">自动通过</span>
            <span v-if="scope.row.status==3">已过期</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="100"
                         fixed="right">
          <template slot-scope="scope">
            <el-button v-if="scope.row.status==0"
                       type="text"
                       size="small"
                       :disabled='hasAction?false:true'
                       @click="handlePass(scope.row.id)">手动通过</el-button>
            <span v-else>--</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <el-dialog title="被邀请人列表"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='invitee'"
               @close="closeCallback" append-to-body>
      <ContactList :dialog="dialog"
                   :dataList='inviteeList'
                   v-if="dialog.open"
                   @getList="getList(id)"></ContactList>
    </el-dialog>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import { tableMixin, resourceMixin } from '@/mixins'
import { departmenTreeCascadert } from '@/components/packages/system/lazyCascader'
import ContactList from '@/components/common/contactList'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [tableMixin, resourceMixin],
  components: {
    departmenTreeCascadert,
    ContactList
  },
  computed: {
    // 是否设置自动通过权限
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.AUTO_PASS_SETTING)
    }
  },
  data() {
    return {
      activeNames: ['1'],
      id: null,
      inviteeList: [],
      dialog: {
        open: false,
        name: null,
        id: null
      },
      departmentList: [],
      params: {
        wechatAccount: null,
        department: null,
        staff: null,
        status: null,
        wechatGroup: null,
        beginTime: null,
        endTime: null
      }
    }
  },
  methods: {
    async requestTableList() {
      if (this.departmentList.length > 0) {
        this.params.department = this.departmentList[this.departmentList.length - 1]
      } else {
        this.params.department = null
      }
      const data = await v2communityManage.getAutoPassList(this.params)
      this.tableData = data
    },
    async getInviteeList() {
      const data = await v2communityManage.getInviteeList(this.id)
      this.inviteeList = data
    },
    openCallback(key, row) {
      this.dialog.open = true
      this.dialog.name = key
      this.id = row.id
      this.dialog.id = row.id
      if (key === 'invitee') {
        this.getInviteeList()
      }
    },
    closeCallback() {
      this.dialog.open = false
    },
    // 手动通过
    handlePass(id) {
      this.$confirm('确定手动通过？')
        .then(() => {
          v2communityManage.setAutoPass(id).then(() => {
            this.getTableList(this.params.current, this.params.size)
          })
          // done()
        })
        .catch(() => { })
    }
  }
}
</script>
