<template>
  <div ref="chart"></div>
</template>

<script>
import echarts from 'echarts'
import options from './src/options'

export default {
  data() {
    return {
      chart: null
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart()
    })
  },
  methods: {
    buildChart() {
      console.log('buildChart')
      // options.series[0].data = data

      if (!this.chart) {
        this.chart = echarts.init(this.$refs.chart)
      }
      this.chart.setOption(options)
    }
  }
}
</script>
