<template>
<div class="ly-box-1">
    <div class="ly-box ly-margin-top-36pxrem">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
        <span class="ly-vertical-line">好友性别统计 共{{num}}（人）</span>
        </div>
    </div>
    <div class="ly-echarts-wrapper">
        <div class="ly-echarts-content">
          <div ref="chart" class="ly-echarts-height-full ly-border-DDD-1"></div>
        </div>
    </div>
</div>
</template>

<script>
import echarts from 'echarts'
import options from './src/options'
import { homeApi } from '@/api/oms'
import { echartResizeMixin } from '@/mixins'
export default {
  mixins: [echartResizeMixin],
  data() {
    return {
      chart: null,
      num: 0,
      params:{
        enterpriseId:''
      },
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart()
    })
  },
  methods: {
    buildChart(m) {
      this.params.enterpriseId = m
      homeApi.getSexNum( this.params).then(data => {
        let sum = 0
        options.series[0].data = (data || []).map(v => {
          sum += v.num
          return {
            name: ['未知', '男', '女'][v.sex],
            value: v.num
          }
        })
        this.num = sum
        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        this.chart.setOption(options)
      })
    }
  }
}
</script>
