<template>
  <div>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="备注">
        </el-table-column>
        <el-table-column prop="address"
                         label="开关"
                         width="200">
          <template slot-scope="scope">
            <el-checkbox v-model="checked">开启自动通过好友</el-checkbox>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="周期（分钟）"
                         width="200">
          <template slot-scope="scope">
            <el-input-number v-model="num1"
                             controls-position="right"
                             @change="handleChange"
                             size="mini"
                             :min="1"
                             :max="10"></el-input-number>
            &ensp;分钟
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         width="200">
          <template slot="header"
                    slot-scope="scope">
            周期内通过好友数量上限
            <el-popover placement="top"
                        popper-class="tip-green"
                        trigger="hover">
              为避免被封号，建议通过好友数量上限不超过50
              <el-button slot="reference"
                         type="text">
                <i class="el-icon-question ly-font-color-6"></i>
              </el-button>
            </el-popover>
          </template>
          <template slot-scope="scope">
            <el-input-number v-model="num2"
                             controls-position="right"
                             @change="handleChange"
                             size="mini"
                             :min="1"
                             :max="10"></el-input-number>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">保存</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'

export default {
  components: { personalInfo },
  data() {
    return {
      tableData: [],
      checked: true,
      num1: 60,
      num2: 0
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    handleChange(val) {
      console.log(val)
    }
  }
}
</script>
