<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small">新增</el-button>
        </span>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small">全部更新</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         width="55">
        </el-table-column>
        <el-table-column prop="name"
                         label="设备编号"
                         class-name="ly-text-center"
                         width="80">
          <template slot-scope="scope">
            100
            <p class="line-height-12"><i class="spot-border-radius"></i></p>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="IMEI"
                         width="120">
        </el-table-column>
        <el-table-column prop="备注"
                         label="地址"
                         show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="name"
                         label="当前登录个人号"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="微信版本"
                         class-name="ly-font-color-6">
        </el-table-column>
        <el-table-column prop="address"
                         label="设备分组">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">设置分组</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="设备保管者"
                         width="160">
        </el-table-column>
        <el-table-column prop="name"
                         label="设备保管者所在部门"
                         width="200">
        </el-table-column>
        <el-table-column prop="name"
                         label="手机电量">
        </el-table-column>
        <el-table-column prop="name"
                         label="坐标">
        </el-table-column>
        <el-table-column prop="name"
                         label="品牌">
        </el-table-column>
        <el-table-column prop="name"
                         label="型号">
        </el-table-column>
        <el-table-column prop="name"
                         label="系统OS">
        </el-table-column>
        <el-table-column prop="name"
                         label="软件版本">
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">权限</el-button>
            <el-button type="text"
                       size="small">APP</el-button>
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small">删除</el-button>
            <!-- <el-button type="text"
                       size="small">检查更新</el-button> -->
            <el-button type="text"
                       size="small">联系人导入</el-button>
            <el-button type="text"
                       size="small">禁用</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <!-- <div>
          <el-button type="primary"
                     size="small">批量检查更新</el-button>
        </div> -->
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'
import personalInfo from '@/components/common/personalInfo'

export default {
  components: { collapse, personalInfo },
  data() {
    return {
      activeNames: ['1'],
      params: {
        personalId: true,
        deviceGrouping: true,
        equipmentCustodian: true,
        equipmentDepartments: true,
        onlineState: true,
        remarks: true
      },
      tableData: []
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          gender: '男',
          phone: '15059309699',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          gender: '男',
          phone: '15059309699',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          gender: '男',
          phone: '15059309699',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    },
    handleSelectionChange(val) {
      console.log(val)
    }
  }
}
</script>
