<template>
  <div>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">新好友通过后自动回复（通用规则），单个微信独立设置在个人号自动回复菜单设置</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small">新增消息</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="消息类型">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="消息内容">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">编辑</el-button>
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">新消息自动回复</span>
        </div>
        <span class="ly-margin-top-nge-4 ly-collapse">
          <el-input v-model="inputData"
                    class="ly-margin-right-sm ly-width-214px"
                    placeholder="请输入匹配词或者回复内容"></el-input>
          <el-button type="primary"
                     size="small">查询</el-button>
          <el-button type="primary"
                     size="small">新增规则</el-button>
        </span>
      </div>
      <div class="ly-margin-bottom-sm">
        <el-button-group>
          <el-button :type="earlyWarning?'primary':''"
                     @click="earlyWarning = true">私有规则</el-button>
          <el-button :type="!earlyWarning?'primary':''"
                     @click="earlyWarning = false">公共规则</el-button>
        </el-button-group>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="消息类型">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="关键词"
                         class-name="ly-font-color-9">
        </el-table-column>
        <el-table-column prop="name"
                         label="消息内容">
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">编辑</el-button>
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import videoAudioImg from '@/components/common/videoAudioImg'

export default {
  components: { videoAudioImg },
  data() {
    return {
      tableData: [],
      inputData: '',
      earlyWarning: true
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          type: 2
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          type: 2
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          type: 2
        }
      ]
    }
  }
}
</script>
