<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
</el-table-column>
<el-table-column prop="name" label="个人号备注">
</el-table-column>
<el-table-column prop="name" label="已设回复数">
</el-table-column>
<el-table-column prop="name" label="起始阶段">
</el-table-column>
<el-table-column prop="name" label="结束阶段">
</el-table-column>
<el-table-column prop="name" label="设置" width="230">
    <template slot-scope="scope">
            <el-button type="text"
                       size="small">设置新好友通过后的自动回复</el-button>
          </template>
</el-table-column>
</el-table>
</div>
</div>
</template>

<script>
    import personalInfo from '@/components/common/personalInfo'
    import collapse from '@/pages/ui/components/collapseLay'

    export default {
        components: {
            personalInfo,
            collapse
        },
        data() {
            return {
                activeNames: ['1'],
                params: {
                    personalId: true
                },
                tableData: []
            }
        },
        created() {
            this.getTableList()
        },
        methods: {
            getTableList() {
                this.tableData = [{
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-04',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }]
            },
            queryCallback() {
                console.log(this.params)
            }
        }
    }
</script>