<template>
  <div class="ly-box">
    <!-- 快捷语左侧 -->
    <div class="framework ly-bg-white ly-padding-horizontal-sm">
      <div class="ly-position-relative ly-padding-vertical-sm">
        <span class="ly-vertical-line ly-font-16 ly-font-color-1 ly-font-weight-300 ly-vertical-middle">快捷语</span>
        <span class="ly-vertical-middle ico_add"></span>
      </div>
      <div class="ly-text-center ly-box">
        <span class="ly-font-14 ly-font-weight-300 switch-btn ly-box-1"
              v-bind:class="{ 'switch-btn-choice' : isChoicePerson }"
              @click="switchTag">私有</span>
        <span class="ly-font-14 ly-font-weight-300 switch-btn ly-box-1"
              v-bind:class="{ 'switch-btn-choice' : !isChoicePerson }"
              @click="switchTag">公共</span>
      </div>
      <div class="fra-content ly-margin-top-sm"
           v-if="isChoicePerson">
        <div class="ly-box ly-box-align-center ly-box-justify-between">
          <div class="ly-font-14 ly-font-color-3 ly-font-weight-300">物流</div>
          <div>
            <span class="ico_editor"
                  @click="() => editorDepartment()"></span>
            <span class="ico_delete"
                  @click="() => deleteDepartment()"></span>
          </div>
        </div>
      </div>
      <div class="fra-content ly-margin-top-sm"
           v-else>
        <div class="ly-box ly-box-align-center ly-box-justify-between">
          <div class="ly-font-14 ly-font-color-3 ly-font-weight-300">物流公共</div>
          <div>
            <span class="ico_editor"
                  @click="() => editorDepartment()"></span>
            <span class="ico_delete"
                  @click="() => deleteDepartment()"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm ly-margin-left-sm ly-width-100">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small">新增快捷回复</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         width="55">
        </el-table-column>
        <el-table-column label="消息类型"
                         width="120">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="标题"
                         width="120">
        </el-table-column>
        <el-table-column label="消息内容">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="创建时间"
                         show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">编辑</el-button>
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small">删除</el-button>
            <el-button type="text"
                       size="small">上移</el-button>
            <el-button type="text"
                       size="small">下移</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <div>
          <el-button type="primary"
                     size="small">删除选中快捷语</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import videoAudioImg from '@/components/common/videoAudioImg'

export default {
  components: { videoAudioImg },
  data() {
    return {
      tableData: [],
      isChoicePerson: true
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    switchTag() {
      this.isChoicePerson = !this.isChoicePerson
    },
    editorDepartment() {
      // 左侧编辑
    },
    deleteDepartment() {
      // 左侧删除
    },
    getTableList() {
      this.tableData = [
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市',
          type: 1
        },
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市',
          type: 2
        },
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市',
          type: 3
        }
      ]
    },
    handleSelectionChange(val) {
      console.log(val)
    }
  }
}
</script>
