<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small">新增快捷回复</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="消息类型"
                         width="120">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="标题"
                         width="120">
        </el-table-column>
        <el-table-column prop="name"
                         label="消息内容">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="所属分组"
                         show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="name"
                         label="所属客服"
                         show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="name"
                         label="最后更新时间"
                         show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <div>
          <el-button type="primary"
                     size="small">删除选中快捷语</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import videoAudioImg from '@/components/common/videoAudioImg'
import collapse from '@/pages/ui/components/collapseLay'

export default {
  components: { videoAudioImg, collapse },
  data() {
    return {
      activeNames: ['1'],
      params: {
        title: true,
        messageType: true,
        employees: true
      },
      tableData: []
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市',
          type: 1
        },
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市',
          type: 2
        },
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市',
          type: 3
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    }
  }
}
</script>
