<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-date-picker class="ly-margin-right-xs"
                      type="daterange"
                      size='small'
                      range-separator="至"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期"
                      :default-time="['00:00:00', '23:59:59']"
                      :clearable="false"
                      v-model="dateRange.params"
                      @change="delaySearch">
      </el-date-picker>
      <departmenTreeCascadert v-model="departmentId"
                                  filterable
                                  size='small'
                                  clearable
                                  placeholder="团队"
                                  class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
      <el-button type="primary"
                 size='small'
                 @click="search">搜索</el-button>
      <el-button type="primary"
                 size='small'
                 icon="el-icon-download"
                 @click="exportFile">导出</el-button>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="table.list"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号">
          <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px"
                     :src="scope.row.headIcon | wechatAvtor"
                     v-image-view>
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.account}}</p>
                <p class="ly-margin-top-4">{{scope.row.wxId}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者姓名"
                         prop="staffName">
          <template slot-scope="scope">
            <span>{{scope.row.staffName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者电话"
                         prop="phone">
          <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者部门"
                         prop="departmentName">
          <template slot-scope="scope">
            <span>{{scope.row.departmentName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="微信备注"
                         prop="remark" />
        <el-table-column label="未通过好友数量(搜索结果)"
                         prop="allCount" />
        <el-table-column label="未通过过期好友数量"
                         prop="expireCount" />
      </el-table>
    </div>
  </div>
</template>

<script>
import { indexMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import { watchDateRangeToTimestamp, getRangeDate, accurateTodate,downloadFile } from '@/utils'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  mixins: [indexMixin],
  components:{ departmenTreeCascadert,},
  watch: {
    departmentId: function (val, oldVal) {
      if (val.length) {
        this.params.departmentId = val[val.length - 1]
      } else {
        this.params.departmentId = ''
      }
    }
  },
  data() {
    return {
      departmentId: [],
      params: {
        from: '',
        to: '',
        departmentId: '',
      },
      dateRange: {
        params: ''
      }
    }
  },
  created() {
    this.$watch('dateRange.params', watchDateRangeToTimestamp(this.params, 'from', 'to'))
    const weekDate = getRangeDate()
    weekDate.now = accurateTodate(weekDate.now, 23, 59, 59)
    this.dateRange.params = [weekDate.then, weekDate.now]
  },
  methods: {
    list(current, size) {
      v3indexApi.getUserUnpass(Object.assign({}, this.params)).then(data => {
        this.table.list = data || []
      })
    },
     // 导出
    exportFile() {
      v3indexApi.exportUserUnpass(this.params).then((res) => {
        downloadFile(res, '好友未通过统计.xls')
        this.success('恭喜你，导出成功')
      })
    },
    // exportFile() {
    //   this.downloadFile(v3indexApi.exportUserUnpass(Object.assign({}, this.params)), '好友未通过统计.xls')
    // }
  }
}
</script>
