<template>
  <div>
    <el-form :model='imgTxtLinkInfo' :rules='rules' ref="imgtxtLinkRef" label-width="136px" class="mt-30">
      <el-form-item label='图文链接标题' prop='imgtxtTitle' label-width="136px">
        <el-input v-model="imgTxtLinkInfo.imgtxtTitle"></el-input>
      </el-form-item>
      <el-form-item label='图文链接' prop='imgtxtLinking' label-width="136px">
        <el-input v-model="imgTxtLinkInfo.imgtxtLinking"></el-input>
      </el-form-item>
      <el-form-item label='描述' prop='imgtxtDescribe' label-width="136px">
        <el-input v-model="imgTxtLinkInfo.imgtxtDescribe"></el-input>
      </el-form-item>
      <el-form-item label='图片' prop='imgtxtUrl' label-width="136px">
        <vma-image-upload v-model="imgTxtLinkInfo.imgtxtUrl" :exts="['jpg', 'png', 'jpeg']" :singleFileSize="10" />
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  props: {
    imgTxtLinkInfo: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  components: {},
  data () {
    return {
      // imgTxtLinkInfo: {
      //     imgtxtLinking: '',
      //     imgtxtDescribe: '',
      //     imgtxtUrl: ''
      // },
      rules: {
        imgtxtLinking: [{
          required: true,
          message: '请输入图文链接',
          trigger: 'blur'
        }],
        imgtxtUrl: [{
          required: true,
          message: '请输入图文链接标题',
          trigger: 'blur'
        }],
        imgtxtTitle: [{
          required: true,
          message: '请输入图文链接标题',
          trigger: 'blur'
        }]
      }
    }
  },
  created () {
  },
  methods: {
    // 子组件传到父组件
    imgtxtLinkForm () {
      let flag = null
      this.$refs['imgtxtLinkRef'].validate(valid => {
        if (valid) {
          flag = true
          this.$emit('getImgTxtLinkForm', this.imgTxtLinkInfo)
        } else {
          this.warn('请输入或选择消息内容')
          flag = false
        }
      })
      return flag
    }
  }
}
</script>
