<template>
  <div>
    <el-form :model="params" :rules="rules" ref="messageForm">
      <el-form-item label="消息类型:" :label-width="formLabelWidth">
        <!-- :disabled="info.msgType?true:false" -->
        <el-select v-model="params.messageType" placeholder="请选择消息类型" @change="messageTypeChange" clearable>
          <el-option label="文本消息" :value="MESSAGE_TPYE_KEY.TXT"></el-option>
          <el-option label="图片消息" :value="MESSAGE_TPYE_KEY.IMG"></el-option>
          <el-option label="语音消息" :value="MESSAGE_TPYE_KEY.AUDIO"></el-option>
          <el-option label="视频消息" :value="MESSAGE_TPYE_KEY.VIDEO"></el-option>
          <!-- 判断是否是素材的新增小程序  addDialogWeChat-->
          <!-- <el-option v-if="!this.info.isShow" label="小程序消息" :value="MESSAGE_TPYE_KEY.WECHAT"></el-option> -->
          <!-- <el-option :disabled="addDialogWeChat?false:true"   label="小程序消息" :value="MESSAGE_TPYE_KEY.WECHAT" ></el-option>  -->
          <!-- <el-option v-if="!this.info.isShow" label='图文链接' :value='MESSAGE_TPYE_KEY.IMGTXTLINK'></el-option> -->
        </el-select>
        <el-button type="primary" size="medium" v-if="(params.messageType===MESSAGE_TPYE_KEY.TXT || params.messageType===MESSAGE_TPYE_KEY.IMG || params.messageType===MESSAGE_TPYE_KEY.AUDIO || params.messageType===MESSAGE_TPYE_KEY.VIDEO || params.messageType===MESSAGE_TPYE_KEY.WECHAT || params.messageType===MESSAGE_TPYE_KEY.IMGTXTLINK) && checkMaterialBtn && !onlyTag" @click="showCheckMaterialDialog">选择素材</el-button>
        <!-- 快捷语选择素材入口 -->
      </el-form-item>
      <el-form-item label="消息内容:" :label-width="formLabelWidth" required v-if="params.messageType && params.messageType!==MESSAGE_TPYE_KEY.WECHAT && params.messageType!==MESSAGE_TPYE_KEY.IMGTXTLINK&& params.messageType!==MESSAGE_TPYE_KEY.PULLGROUP">
        <template v-if="params.messageType===MESSAGE_TPYE_KEY.TXT">
          <messageOfText v-model="content" :textLimit="textLimit" :chatProp="chatProp"></messageOfText>
        </template>
        <template v-if="params.messageType===MESSAGE_TPYE_KEY.IMG">
          <vma-image-upload v-model="imgList" :limit="limit" :exts="['jpg', 'png', 'jpeg']" :singleFileSize="10" :multiple="limit>0?true:false" />
          <p class="colortip">注意：***上传的图片如果和电脑上图片相对旋转了，请先在电脑上旋转一下角度再上传</p>
        </template>
        <template v-if="params.messageType===MESSAGE_TPYE_KEY.AUDIO">
          <messageOfAudio v-model="audioList" @getAudioLength="getAudioLength" ref="messageAudioEle" :voiceLengthArr="voiceLengthArr" :limit="limit"></messageOfAudio>
        </template>
        <template v-if="params.messageType==MESSAGE_TPYE_KEY.VIDEO">
          <messageOfVideo v-model="videoList" :posterArrProps="posterArr" ref="messageVideoEle" :limit="limit"></messageOfVideo>
          <p class="colortip">视频大小不**************超过20MB</p>
        </template>
      </el-form-item>
      <!-- 小程序 -->
      <!-- :weChatInfo="weChatInfo" -->
      <messageofWeChat :weChatInfo="weChatForms" @getWeChatForm="getweChatInfo" ref="wechatFormInfo" v-if="params.messageType===MESSAGE_TPYE_KEY.WECHAT"></messageofWeChat>
      <!-- 图文链接 -->
      <messageOfImgTxtLink :imgTxtLinkInfo='imgTxtLinkInfo' @getImgTxtLinkForm='getImgTxtLinkForm' ref="imgtxtLinkForm" v-if="params.messageType===MESSAGE_TPYE_KEY.IMGTXTLINK"></messageOfImgTxtLink>
    </el-form>
    <!--选择素材-->
    <el-dialog title="选择素材" width="880px" class="checkmatter-container diaolog-height-auto" :visible.sync="checkMaterialDialog.show" v-if="checkMaterialDialog.show" @close="closecheckMaterialDialog" append-to-body>
      <materialDialog :dialogProp="checkMaterialDialog" @closeDialog="closecheckMaterialDialog" @postData="getPostData"></materialDialog>
    </el-dialog>
  </div>
</template>

<script>
import messageOfText from './messageOfText'
import messageOfAudio from './messageOfAudio'
import messageOfVideo from './messageOfVideo'
import messageofWeChat from './messageOfWeChat' // 小程序
import messageOfImgTxtLink from './messageOfImgTxtLink' // 图文链接
import { materialDialog } from '@/components/common/materialManageGroup'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'
export default {
  components: {
    messageOfText,
    messageOfAudio,
    messageOfVideo,
    materialDialog,
    messageofWeChat,
    messageOfImgTxtLink
  },
  props: {
    limit: {
      type: Number
    },
    textLimit: {
      type: Number,
      default: function () {
        return 10
      }
    },
    info: {
      type: Object,
      default: function () {
        return {}
      }
    },
    checkMaterialBtn: {
      type: Boolean,
      default: function () {
        return true
      }
    },
    chatProp: {
      type: Boolean,
      default: function () {
        return false
      }
    },
    // 快捷语入口 判断是否为快捷语
    onlyTag: {
      type: Boolean,
      default: function () {
        return false
      }
    },
    // 从父组件传过来 判断是否是营销的新增小程序
    addDialogWeChat: {
      type: Boolean,
      default: function () {
        return false
      }
    }
  },
  watch: {
    imgList (val, ok) { }
  },
  data () {
    return {
      disable: true,
      formLabelWidth: '136px',
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      content: '',
      imgList: [],
      videoList: [],
      posterArr: [],
      audioList: [],
      weChatForms: {}, // 小程序
      voiceLengthArr: [], // 用于存储音频时长
      voiceLength: null,
      params: {
        messageType: ''
      },
      recorderData: '',
      checkMaterialDialog: {
        show: false
      },
      quicklDialog: {
        show: false
      },
      rules: {
        messageType: [
          {
            required: true,
            message: '请输入选择消息类型'
          }
        ]
      },
      // 当前选择的类型
      selectType: {},
      imgTxtLinkInfo: {},
      pullGroupInfo: {},
      pullGroupPassWord: {}
    }
  },
  created () {
    this.modifyCreate()
  },
  methods: {
    /**
     * 针对编辑进行数据初始化
     */
    modifyCreate () {
      console.log('this info', this.info)
      if (this.info.msgType) {
        this.params.messageType = this.info.msgType
        switch (this.info.msgType) {
          case this.MESSAGE_TPYE_KEY.TXT:
            this.content = this.info.content
            break
          case this.MESSAGE_TPYE_KEY.IMG:
            this.imgList = this.info.imgList
            break
          case this.MESSAGE_TPYE_KEY.AUDIO:
            this.audioList = this.info.audioList
            break
          case this.MESSAGE_TPYE_KEY.VIDEO:
            this.videoList = this.info.videoList
            this.posterArr = this.info.posterArr
            break
          case this.MESSAGE_TPYE_KEY.WECHAT:
            this.weChatForms = this.info.weChatInfo
            break
          case this.MESSAGE_TPYE_KEY.IMGTXTLINK:
            this.imgTxtLinkInfo = this.info.linkInfo
            break
        }
      }
    },
    /**
     * 获取音频时长
     */
    getAudioLength (time) {
      this.voiceLength = time
      this.voiceLengthArr = [time]
    },
    /**
     * 切换消息类型
     */
    messageTypeChange (val) {
      this.selectType = val
    },
    /**
     * 校验消息类型
     */
    validaFunc () {
      // 小程序验证
      let messageData = null
      if (this.selectType === 6) {
        let wechatFlag = this.$refs['wechatFormInfo'].validateForm()
        if (wechatFlag) {
          messageData = this.setMessageToParent()
        } else {
          messageData = false
          return false
        }
      } else if (this.selectType === 7) {
        let linkFlag = this.$refs['imgtxtLinkForm'].imgtxtLinkForm()
        if (linkFlag) {
          messageData = this.setMessageToParent()
        } else {
          messageData = false
          return false
        }
      } else {
        this.$refs.messageForm.validate((valid) => {
          if (valid) {
            if (
              this.params.messageType === this.MESSAGE_TPYE_KEY.TXT &&
              this.content.length > this.textLimit
            ) {
              let message = `消息内容不能超过${this.textLimit}个字符`
              this.$notify({
                title: '提示',
                message: message,
                type: 'warning'
              })
              return false
            }
            messageData = this.setMessageToParent()
          } else {
            messageData = false
            return false
          }
        })
      }
      return messageData
    },
    // 获取小程序子组件的值
    getweChatInfo (weChatInfo) {
      this.weChatForms = weChatInfo
    },
    // 获取图文链接子组件的值
    getImgTxtLinkForm (linkForm) {
      this.imgTxtLinkInfo = linkForm
    },
    /**
     * 消息整理
     */
    setMessageToParent () {
      let videoArrInfo = []
      if (this.$refs.messageVideoEle) {
        videoArrInfo = this.$refs.messageVideoEle.getUploadInfo()
      }
      let messageObj = {}
      switch (this.params.messageType) {
        case this.MESSAGE_TPYE_KEY.TXT:
          messageObj.msgText = this.content
          break
        case this.MESSAGE_TPYE_KEY.IMG:
          messageObj.msgText = this.imgList.join(',')
          break
        case this.MESSAGE_TPYE_KEY.AUDIO:
          messageObj.msgText = this.audioList.join(',')
          messageObj.voiceLength = this.voiceLength
          break
        case this.MESSAGE_TPYE_KEY.VIDEO:
          if (videoArrInfo.length) {
            let videoArr = []
            let imgArr = []
            videoArrInfo.forEach((o) => {
              videoArr.push(o.video)
              imgArr.push(o.img)
            })
            messageObj.msgText = videoArr.join(',')
            messageObj.coverInfo = imgArr.join(',')
          } else {
            messageObj.msgText = ''
            messageObj.coverInfo = ''
          }
          break
        // 微信小程序添加素材
        case this.MESSAGE_TPYE_KEY.WECHAT:
          messageObj.msgObject = this.weChatForms
          break
        // 图文链接
        case this.MESSAGE_TPYE_KEY.IMGTXTLINK:
          messageObj.msgObject = this.imgTxtLinkInfo
          break
      }
      messageObj = Object.assign(messageObj, {
        msgType: this.params.messageType,
        content: this.params.content
      })
      return messageObj
    },
    /**
     * 整理消息给父组件
     */
    getMessageInfo () {
      return this.validaFunc()
    },
    /**
     * 选择素材--弹窗显示
     */
    showCheckMaterialDialog () {
      this.checkMaterialDialog = {
        show: true,
        msgType: this.params.messageType
      }
    },
    /**
     * 选择素材--弹窗关闭
     */
    closecheckMaterialDialog () {
      this.checkMaterialDialog = {}
    },
    /**
     * 选择素材--成功后，初始化对应消息
     */
    getPostData (data) {
      switch (data.msgType) {
        case this.MESSAGE_TPYE_KEY.TXT:
          this.content = data.msgText
          break
        case this.MESSAGE_TPYE_KEY.IMG:
          this.imgList = [data.msgText]
          break
        case this.MESSAGE_TPYE_KEY.AUDIO:
          this.audioList = [data.msgText]
          this.voiceLengthArr = [data.voiceLength]
          break
        case this.MESSAGE_TPYE_KEY.VIDEO:
          this.videoList = [data.msgText]
          this.posterArr = [
            {
              img: data.coverInfo,
              video: data.msgText
            }
          ]
          break
        // 小程序添加
        case this.MESSAGE_TPYE_KEY.WECHAT:
          this.weChatForms = JSON.parse(data.msgText)
          break // 图文链接添加
        case this.MESSAGE_TPYE_KEY.IMGTXTLINK:
          this.imgTxtLinkInfo = JSON.parse(data.msgText)
      }
      this.closecheckMaterialDialog()
    }
  }
}
</script>
