@charset "utf-8";
/**
 * @API
 * 1. @mixin render($property, $value...) 添加各浏览器前缀
 *
 * 2. %clearfix 较为通用的清除浮动样式
 *
 * 3. %ellipse 文字溢出显示 ...
 *
 * 4. %inline-block 兼容IE7的 display: inline-block;
 *
 * 5. @mixin fadeIn($time) CSS3淡入效果
 *    %fadeIn 默认0.6s淡入效果
 *
 * 6. @mixin blur($depth) CSS3模糊加深效果，常用于图片模糊化处理， $depth不加单位
 *    %blur 默认的2px加深模糊效果
 *    %blur-recover 模糊效果还原
 *
 * 7. @mixin transition($value...) 加添各浏览器前缀的动画样式
 *    %transition 默认动画 all .3s linear
 *
 * 8. @mixin rotate($deg) 旋转$deg度，需要元素为transform添加动画
 *    %rotate 默认旋转180度
 *
 * 9. @mixin img-hover($value) 鼠标悬浮图片放大，需要元素为transform添加动画
 *    %img-hover 默认放大1.2倍
 *
 * 10. @mixin autorotate($time) 自动顺时针旋转，通常适合用loading图片
 *     %autorotate 默认2s自动旋转
 *
 * 11. @mixin caret (
            $className: caret,
            $direction: up,
            $borderWidth: 1px,
            $borderColor: #ccc,
            $caretWidth: 7px,
            $caretColor: #fff
        ) 制作箭头图标
 *
 * 12. @function getMapValue($map, $list) 取单/多层嵌套map的值
 *
 * @Date: 2015-11-27
 * @Author: chennh
 */

$version: 20151127;
$vendors:
-o-,
-ms-,
-moz-,
-xhtml-,
-webkit- !default;


@mixin __vendor($property, $value...){
    @each $vendor in $vendors {
        #{$vendor}#{$property}: $value;
    }
    #{$property}: $value;
}

/**
 * 添加多浏览器前缀
 */
@mixin render($property, $value...){
    @include __vendor($property, $value...);
}

%clearfix{
    *zoom:1;        // for IE6,7
    &:after{
        content: '';
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }
}

// 文字溢出 ...
%ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%ellipse-two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

// 兼容IE7的 inline-block
%inline-block {
    display: inline-block;
    *vertical-align: auto; // fixed IE7 inline-block
    zoom: 1;
    *display: inline;
}
