html,
body {
  height: 100%;
  font-family: $font-family;
  font-size: $font-size-root;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ins {
  text-decoration: none;
}

em {
  font-style: normal;
}

hr {
  height: 1px;
  border: none;
  background: #F1F1F1;
}

ul,
li {
  list-style-type: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cursor {
  cursor: pointer;
}

.text-c {
  text-align: center;
}

.text-l {
  text-align: left;
}

.text-r {
  text-align: right;
}

.container {
  position: relative;
  padding: rem(20px);
}

.pagination {
  margin: rem(20px) 0 0;
  text-align: right;
}

.help-block {
  font-size: rem(14px);
  color: $color-normal;
}

.clear {
  @extend %clearfix;
}

.vm {
  display: inline-block;
  vertical-align: middle;
}

.inline-b {
  display: inline-block;
}

.table {
  table {
    table-layout: fixed;
  }
}

$size-map: (5: rem(5px), 10: rem(10px), 15: rem(15px), 20: rem(20px), 25: rem(25px), 30: rem(30px));

@each $name in map-keys($size-map) {
  $value: map-get($size-map, $name);

  .mt-#{$name} {
    margin-top: $value;
  }

  .mr-#{$name} {
    margin-right: $value;
  }

  .mb-#{$name} {
    margin-bottom: $value;
  }

  .ml-#{$name} {
    margin-left: $value;
  }

  .margin-#{$name} {
    margin: $value;
  }

  .pt-#{$name} {
    padding-top: $value;
  }

  .pr-#{$name} {
    padding-right: $value;
  }

  .pb-#{$name} {
    padding-bottom: $value;
  }

  .pl-#{$name} {
    padding-left: $value;
  }

  .padding-#{$name} {
    padding: $value;
  }
}

@each $name in map-keys($theme-map) {
  .c-#{$name} {
    color: map-get($theme-map, $name) !important;
  }
}

@for $i from 0 through 16 {
  $v: ($i * 2) + 10;

  .fs#{$v} {
    font-size: rem($v + px)
  }
}


$font-size-map: (12: rem(12px), 14: rem(14px), 16: rem(16px), 18: rem(18px), 20: rem(20px), 24: rem(24px));

@each $name in map-keys($font-size-map) {
  $value: map-get($font-size-map, $name);

  .fs-#{$name} {
    font-size: $value;
  }
}


$theme:#2D8cF0;
$primary-color: #02C1DE;
$success-color: #3EC093;
$info-color: #0091DB;
$warning-color: #F7AD60;
$error-color: #FF7570;


input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  border: 1px solid #CCC !important;
}

.cf::after,
.clearfix::after,
.cf-all::after {
  content: ".";
  display: block;
  height: 0;
  clear: right;
  visibility: hidden;
}

.cf-all::after {
  clear: both !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.rlt {
  position: relative;
}

.abs {
  position: absolute;
}

.dn {
  display: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.tc {
  text-align: center;
}

.df {
  display: -webkit-box;
  display: flex;
}

.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.ell,
.toe {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ell2,
.toe2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.fc-def {
  color: #2f353b
}

.fc-black {
  color: black
}

.fc-red {
  color: red
}

.fc-white {
  color: white
}

.fc-blue {
  color: $theme
}

.fc3 {
  color: #333;
}

.fc6 {
  color: #666;
}

.fc9 {
  color: #999;
}

.text-link,
.text-primary {
  color: $primary-color;
}

.success-link,
.text-success {
  color: $success-color;
}

.info-link,
.text-info {
  color: $info-color;
}

.warning-link,
.text-warning {
  color: $warning-color;
}

.error-link,
.text-error {
  color: $error-color;
}

.text-link,
.success-link,
.info-link,
.warning-link,
.error-link,
.pointer {
  cursor: pointer
}

.bd,
.border-solid {
  border: 1px solid #ddd
}

.bl {
  border-left: 1px solid #ddd
}

.bt {
  border-top: 1px solid #ddd
}

.br {
  border-right: 1px solid #ddd
}

.bb {
  border-bottom: 1px solid #ddd
}

.hi {
  height: inherit
}

.fb {
  font-weight: bold;
}

.fc-gray {
  color: #888
}

.fc-normal {
  color: #333
}

.fc-warn {
  color: #E66565
}

.fc-sucess {
  color: #0099CC
}

.fc-black {
  color: #000
}

.fc-blue {
  color: $theme
}

.fc3 {
  color: #333;
}

.fc6 {
  color: #666;
}

.fc9 {
  color: #999;
}

.radius3 {
  border-radius: 3px
}

.radius4 {
  border-radius: 4px
}

.radius5 {
  border-radius: 5px
}

.lh20 {
  line-height: 20px
}



.pos-r {
  position: relative;
  z-index: 0;
}

.pos-a {
  position: absolute;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cn:after {
  clear: none;
}

.cf:after,
.cl {
  clear: both;
}

.cf {
  zoom: 1;
}

.vm {
  display: inline-block;
  vertical-align: middle;
}

.vma-info {
  font-size: .7rem;
  color: #02c1de;
}

.vma-wanming {
  color: #ed4014;
}

.fb {
  font-weight: bold;
}

.fs-normal {
  font-weight: normal;
}

.box-flex {
  display: flex;
}

.flex-one {
  flex: 1;
}

.margin-auto {
  margin: 0 auto;
}



@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

.ellipsis {
  @include ellipsis
}

.help-block {
  line-height: rem(20px);
  margin-top: rem(10px);
}


.h5-view-container {
  position: absolute;
  top: 0;
  right: 0;
}

.ly-addEdit {
  .h5-view-container {
    right: 140px;
    top: 100px;
  }
}
