/*
 * 主题定义
 */

// UI预设分辨率
$screen-width: 1920px;
// 中文字体
$font-family: 'PingFangSC',
'helvetica neue',
'hiragino sans gb',
'arial',
'microsoft yahei ui',
'microsoft yahei',
'simsun',
'sans-serif' !important;
// 字体大小
$font-size-root: 20px;
$font-size-frame: 12px;
$font-size-extra-large: rem(20px);
$font-size-large: rem(18px);
$font-size-semibold: rem(16px);
$font-size-normal: rem(14px);
$font-size-small: rem(12px);

// 文字颜色
$color-extra-dark: #2C393F;
$color-dark: #57636F;
$color-normal: #8995A0;
$color-light: #D4DCE3;
$color-extra-light: #F2F2F2;
// 背景颜色
$background-color-extra-dark: #262B2E;
$background-color-dark: #2E3437;
//$background-color-normal: #373E41;
$background-color-normal: #3A4762;
$background-color-light: #CFCFCF;
$background-color-extra-light: #F2F2F2;
// 边框颜色
$border-color-normal: #CFCFCF;
$border-color-light: #F2F2F2;
// 主题颜色
$theme-default: #262B2E;
// $theme-primary: #02C1DE;
$theme-primary: #2897FF;
$theme-success: #3EC093;
$theme-info: #0091DB;
$theme-warning: #F7AD60;
$theme-danger: #FF7570;
$theme-default_hover: #373E41;
$theme-primary_hover: #26CDE6;
$theme-success_hover: #56D3A5;
$theme-info_hover: #37B5F5;
$theme-warning_hover: #F8B671;
$theme-danger_hover: #FF8582;
$theme-default_active: #02C1DE;
$theme-primary_active: #00AD73;
$theme-success_active: #2BAE83;
$theme-info_active: #0082C5;
$theme-warning_active: #F2A14C;
$theme-danger_active: #F26663;
$theme-map: ( 'default': $theme-default, 'primary': $theme-primary, 'success': $theme-success, 'info': $theme-info, 'warning': $theme-warning, 'danger': $theme-danger, );
// 菜单栏
//$nav-color: #262B2E;
$nav-color: #3A4762;
$nav-color_hover: #373E41;
$nav-color_active: #02C1DE;

$nav-fontcolor-first: #fff;
$nav-fontcolor-first-hover: #fff;
$nav-bgcolor-first-hover: #389fff;
$nav-fontcolor-first-active: #fff;
$nav-bgcolor-first-active: #2897FF;

$nav-fontcolor-second: #ddd;
$nav-fontcolor-second-hover: #fff;
$nav-bgcolor-second-hover: #389fff;
$nav-fontcolor-second-active: #fff;
$nav-bgcolor-second-active: #2897FF;

$nav-fontcolor-third: #959595;
$nav-fontcolor-third-hover: #fff;
$nav-bgcolor-third-hover: #389fff;
$nav-fontcolor-third-active: #fff;
$nav-bgcolor-third-active: #2897FF;

$nav-bgcolor-open: #4A5672;
// el-table背景颜色
$eltable-bgcolor-default: #F2F5F8;

// 全局色值
// 全局色值--图表颜色
$eltable-color-yellow: #fec870;
$eltable-color-green: #44c89a;
$eltable-color-blue-14: #1493e9;
$eltable-color-blue-36: #36a4f1;
$eltable-color-blue-63: #63b9f8;
$eltable-color-blue-7e: #7ecafd;
$eltable-color-blue-b6: #b6e0fd;

$eltable-bgcolor-yellow: #fec870;
$eltable-bgcolor-green: #44c89a;
$eltable-bgcolor-blue-14: #1493e9;
$eltable-bgcolor-blue-36: #36a4f1;
$eltable-bgcolor-blue-63: #63b9f8;
$eltable-bgcolor-blue-7e: #7ecafd;
$eltable-bgcolor-blue-b6: #b6e0fd;
// 全局色值--背景颜色
$elbg-color-3a: #3a4762;
$elbg-color-f1: #f1f4f6;
$elhr-color-dd: #dddddd;

$elbg-bgcolor-3a: #3a4762;
$elbg-bgcolor-f1: #f1f4f6;
$elhr-bgcolor-dd: #dddddd;
// 全局色值--文字颜色
$eltext-color-title: #003e6c;
$eltext-color-content: #3a47b2;
$eltext-color-grey-15: #151515;
$eltext-color-grey-45: #454545;
$eltext-color-grey-65: #656565;
$eltext-color-grey-85: #858585;
$eltext-color-grey-95: #959595;
$eltext-color-grey-b3: #b3b3b3;
$eltext-color-grey-f6: #f6f6f6;

$eltext-bgcolor-title: #003e6c;
$eltext-bgcolor-content: #3a47b2;
$eltext-bgcolor-grey-15: #151515;
$eltext-bgcolor-grey-45: #454545;
$eltext-bgcolor-grey-65: #656565;
$eltext-bgcolor-grey-85: #858585;
$eltext-bgcolor-grey-95: #959595;
$eltext-bgcolor-grey-b3: #b3b3b3;
$eltext-bgcolor-grey-f6: #f6f6f6;
// 全局色值--遮罩
$elmask-color: rgba(0,0,0,0.5);
// 全局色值--投影
$elbox-shadow: 0px 5px 5px 0px rgba(80,104,130,0.05);
