<template>
  <div class="wechat-express-container">
    <a href="javascript: void(0);" class="wechat-express-item" v-for="(v, i) in xfimgData" :key="i" @click="clickExpress(v)">
      <template>
        <img class="wechat-express-item" :src="v.content">
      </template>
    </a>
  </div>
</template>

<script>
import { wechatInfoSession } from '@/storage'
import { mapGetters } from 'vuex'
import { xunfeiApi } from '@/api/chat'
export default {
  props: ['xfimgData'],
  data () {
    return {

    }
  },
  computed: {
    ...mapGetters(['activeChatAccountInfo', 'activeChatFriendInfo', 'adminInfo'])
  },
  mounted () {
    console.log('xfimgData', this.xfimgData)
  },
  methods: {
    clickExpress (e) {
      this.$emit('chatemo', e.content)
      this.kickWechat(e)
    },
    async kickWechat (data) {
      let params = {
        cmd: 'emotion',
        data: {
          customerName: wechatInfoSession.getJSON().staffId,
          jobNumber: this.adminInfo.jobNum, // 工号
          userName: this.adminInfo.name, // 用户名
          businessId: this.adminInfo.enterpriseId, // 企业ID
          nlpSolution: data.emotionPath,
          questionType: 1,
          fromUser: this.activeChatFriendInfo.wxId
        }
      }
      await xunfeiApi.kickWechat(params)
    }
  },
  destroyed () {

  }
}
</script>
<style lang="scss" scoped>
.wechat-express {
  width: 100%;
}

.wechat-express-container {
  height: rem(150px);
  overflow: auto;
  font-size: 0;
  .wechat-express-item {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    padding: 3px;
  }
}
</style>
