<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white ly-margin-bottom-sm"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}"
                 v-show="zoom">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model="params.keyWord"
                    placeholder="企业名称/联系号码"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange">
          </el-date-picker>
          <el-input v-model="params.parentName"
                    placeholder="请输入上级名称"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    v-if="entry==='oms'"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <el-container>
      <!-- 企业列表 -->
      <el-aside class="ly-sidebar ly-margin-right-sm"
                v-show="zoom">
        <div class="title">
          <span class="ly-vertical-line">企业列表</span>
          <span class="ly-vertical-middle ico_add ly-cursor-pointer"
                @click="openCallback('businessAdd')"></span>
        </div>
        <ul class="ly-sidebar-list">
          <li class="ly-sidebar-item ly-box"
              v-for="(item,index) in tableData.records"
              :key="item.id"
              :class="{'active':isActive===index}"
              @click="getList(item.id,index,item.flag)">
            <div class="ly-box-1">
              <p class="ly-font-color-3 ly-ellipsis">{{item.name ||''}}</p>
              <p>{{item.phone ||''}}</p>
            </div>
            <div v-if="entry === 'oms'">上级：{{item.parentName ||''}}</div>
          </li>
        </ul>
        <div class="ly-text-right"
             v-if="tableData.total>10">
          <el-pagination layout="prev, pager, next"
                         small
                         :total="tableData.total"
                         :current-page.sync="params.current"
                         @current-change="getTableList">
          </el-pagination>
        </div>
      </el-aside>
      <!-- 数据列表 -->
      <el-main class="ly-bg-white ly-padding-sm"
               v-if="id">
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1 ly-min-width-130">
            <i class="ico_full_screen"
               :class="{'ico_small_screen':!zoom}"
               @click="zoom=!zoom"></i>
            <span class="ly-vertical-line">企业详情</span>
          </div>
          <span class="ly-margin-top-nge-4 ly-but-lay"
                v-if="entry==='oms'&& flag===1 || entry==='pms'">
            <el-button type="primary"
                       size="small"
                       @click="openCallback('increaseTime')">增加时长</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('equipmentAdd')">增加设备</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('shopAdd')">增加店铺</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('numAdd')">增加个人号</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('groupAdd')">增加工作群</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('prohibit')">{{status===1?'禁用':'启用'}}</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('resetPassword')">重置密码</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('businessEdit')">编辑</el-button>
          </span>
        </div>
        <Stat v-if="id"
              :id="id"
              :entry="entry"
              @getLocal="getLocal" />
      </el-main>
    </el-container>
    <!-- 弹窗 -->
    <el-dialog title="增加时长"
               class="ly-font-color-4"
               width="400px"
               :visible.sync="dialog.open && dialog.name==='increaseTime'"
               @close="closeCallback">
      <increaseTime :dialog="dialog"
                    v-if="dialog.open"
                    :time="expirationTime"
                    @getList="getList"></increaseTime>
    </el-dialog>
    <el-dialog title="增加设备"
               class="ly-font-color-4"
               width="400px"
               :visible.sync="dialog.open && dialog.name==='equipmentAdd'"
               @close="closeCallback">
      <equipmentAdd :dialog="dialog"
                    v-if="dialog.open"
                    @getList="getList"></equipmentAdd>
    </el-dialog>
    <el-dialog title="增加店铺"
               class="ly-font-color-4"
               width="400px"
               :visible.sync="dialog.open && dialog.name==='shopAdd'"
               @close="closeCallback">
      <shopAdd :dialog="dialog"
               v-if="dialog.open"
               @getList="getList"></shopAdd>
    </el-dialog>
    <el-dialog title="增加个人号"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='numAdd'"
               @close="closeCallback">
      <numAdd :dialog="dialog"
              v-if="dialog.open"
              @getList="getList"></numAdd>
    </el-dialog>
    <el-dialog title="增加工作群"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='groupAdd'"
               @close="closeCallback">
      <groupAdd :dialog="dialog"
              v-if="dialog.open"
              @getList="getList"></groupAdd>
    </el-dialog>
    <el-dialog title="重置密码"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='resetPassword'"
               @close="closeCallback">
      <resetPassword :dialog="dialog"
                     v-if="dialog.open"></resetPassword>
    </el-dialog>
    <vma-dialog v-model="showBusinessAdd"
                :title="dialog.isEdit?'编辑企业':'新增企业'">
      <businessAdd :dialog="dialog"
                   v-if="showBusinessAdd"
                   @closeCallback="closeCallback"
                   @getList="getList"
                   @getTableList="getTableList"></businessAdd>
    </vma-dialog>
  </div>
</template>

<script>
import Stat from './components/stat'
import { increaseTime, equipmentAdd, shopAdd, numAdd, resetPassword, businessAdd, groupAdd } from './components/dialog'
import { pmsBusinessApi } from '@/api/pms'
import { omsBusinessApi } from '@/api/oms'
let businessApi = null

export default {
  props: ['entry'],
  components: { Stat, increaseTime, equipmentAdd, shopAdd, numAdd, resetPassword, businessAdd, groupAdd },
  data() {
    return {
      activeNames: ['1'],
      params: {
        current: 1,
        size: 10,
        keyWord: '',
        beginTime: '',
        endTime: '',
        parentName: ''
      },
      date: '',
      tableData: {},
      isActive: 0,
      id: null,
      dialog: {
        open: false,
        name: null,
        id: null,
        isEdit: false,
        entry: null
      },
      status: null,
      expirationTime: null,
      showBusinessAdd: false,
      flag: null,
      zoom: true
    }
  },
  created() {
    if (this.entry === 'pms') {
      businessApi = pmsBusinessApi
    } else {
      businessApi = omsBusinessApi
    }
    this.dialog.entry = this.entry
    this.getTableList()
  },
  methods: {
    // 获取列表
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      this.id = null
      this.isActive = 0
      businessApi.enterList(this.params).then(res => {
        this.tableData = res
        if (this.tableData.records.length > 0) {
          this.id = this.tableData.records[0].id
          this.flag = this.tableData.records[0].flag
        }
        if (this.tableData.total > 0 && this.tableData.current > 1 && this.tableData.records.length === 0) {
          this.getTableList(1)
        }
      })
    },
    // 获取列表详情
    getList(id, index, flag) {
      if (index || index === 0) {
        this.isActive = index
        this.flag = flag
      }
      this.id = null
      setTimeout(() => {
        this.id = id
      }, 0)
    },
    openCallback(key) {
      this.dialog.name = key
      this.dialog.id = this.id
      this.dialog.open = true
      if (this.dialog.name === 'businessAdd') {
        this.showBusinessAdd = true
        this.dialog.isEdit = false
      } else if (this.dialog.name === 'businessEdit') {
        this.showBusinessAdd = true
        this.dialog.isEdit = true
      }
      // 禁用
      if (key === 'prohibit') {
        let confirmTip = this.status ? '禁用后该企业将无法登录，是否确定禁用？' : '是否确定启用？'
        this.$confirm(confirmTip, '标题', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          if (this.status === 1) {
            this.status = 0
          } else {
            this.status = 1
          }
          businessApi.enterIsable({ enterpriseId: this.id, status: this.status }).then(res => {
            this.success('恭喜你，操作成功!')
            this.getList(this.id)
          })
        })
      }
    },
    closeCallback() {
      this.showBusinessAdd = false
      this.dialog.open = false
    },
    // 日期格式转换
    dateChange(val) {
      if (!val) {
        this.params.beginTime = ''
        this.params.endTime = ''
      } else {
        this.params.beginTime = new Date(val[0]).getTime()
        this.params.endTime = new Date(val[1]).getTime()
      }
    },
    getLocal(val) {
      this.status = val.status
      this.expirationTime = val.expirationTime
    }
  }
}
</script>
