<template>
  <div>
    <el-form class="ly-padding-horizontal-sm"
             label-width="100px"
             :model="params"
             :rules="rules"
             ref="params">
      <el-form-item label="重置密码："
                    prop="password"
                    size="small">
        <el-input v-model.trim="params.password"
                  clearable></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('params')">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { oemListApi } from '@/api/sms'
import { passwordValidator } from '@/assets/js/validators'

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      params: {
        enterpriseId: null,
        password: ''
      },
      rules: {
        password: [
          { required: true, message: '密码不能为空' },
          { validator: passwordValidator }
        ]
      }
    }
  },
  methods: {
    // 弹窗-确定
    sureCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.params.enterpriseId = this.dialog.id
          oemListApi.resetPassword(this.params).then(res => {
            this.success('恭喜你，重置成功')
            this.dialog.open = false
            this.$emit('getList')
          })
        } else {
          return false
        }
      })
    }
  }
}
</script>
