<template>
  <div>
    <el-form class="ly-padding-horizontal-sm"
             label-width="100px"
             :model="params"
             :rules="rules"
             ref="params">
      <el-form-item label="增加店铺："
                    prop="num"
                    size="small">
        <!-- <el-input-number v-model="params.num"
                         clearable
                         size="small"
                         style="width:180px"></el-input-number>个 -->
        <el-input style="width: 86%;"
                  v-model.trim="params.num"
                  size="small"
                  clearable></el-input>个
      </el-form-item>
    </el-form>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('params')">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { oemListApi } from '@/api/sms'
import { positiveIntegerValidator } from '@/assets/js/validators'

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    const positiveIntegerValidatorMinMax = (rule, value, callback) => {
      if (value > 999999999) {
        callback(new Error('店铺数不能大于' + 999999999 + '个'))
      } else {
        callback()
      }
    }
    return {
      params: {
        enterpriseId: null,
        num: ''
      },
      rules: {
        num: [
          { required: true, message: '请输入店铺数' },
          { validator: positiveIntegerValidator },
          { validator: positiveIntegerValidatorMinMax }
        ]
      }
    }
  },
  methods: {
    // 弹窗-确定
    sureCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.params.num = Number(this.params.num)
          this.params.enterpriseId = this.dialog.id
          oemListApi.newShop(this.params).then(res => {
            this.success('恭喜你，新增成功')
            this.dialog.open = false
            this.$emit('getList')
          })
        } else {
          return false
        }
      })
    }
  }
}
</script>
