<template>
  <el-dialog title="新建红包" :visible.sync="dialogVisible" width="880px" @close="closeDialog" custom-class="new-red-packet">
    <div class="form-title">1、红包设置</div>
    <el-form ref="form" :model="form" label-width="130px" class="mt-30 red-packet-form">
      <el-form-item label="红包标题：" required>
        <el-input v-model="form.title" class="red-packet-title"></el-input>
      </el-form-item>
      <el-form-item label="红包模式：" required>
        <el-radio v-model="form.mode" label="单人红包（一码仅一人领取）"></el-radio>
        <el-radio v-model="form.mode" label="群红包（一码可多人领取）"></el-radio>
      </el-form-item>
      <el-form-item label="红包个数：" required>
        <el-input-number v-model="form.number" :min="1" :max="10"></el-input-number>
        <span class="label-remark">单人红包限制500个以内</span>
      </el-form-item>
      <el-form-item label="红包类型：" required>
        <el-radio v-model="form.type" label="固定金额红包"></el-radio>
        <el-radio v-model="form.type" label="随机金额红包"></el-radio>
      </el-form-item>
      <el-form-item label="单个红包金额：" required>
        <el-input-number v-model="form.singelMoneyNumber" :min="1" :max="10"></el-input-number>
        <span class="label-remark">单人红包限制在1-500元以内</span>
      </el-form-item>
      <el-form-item label="备注：" >
        <el-input v-model="form.remark"></el-input>
      </el-form-item>
    </el-form>
    <div class="form-title">2、活动限制</div>
    <el-form ref="form" :model="form" class="mt-30 red-packet-form">
      <el-form-item>
        <el-checkbox v-model="form.isNeedOrder">红包需要绑定有效订单号才可以领取（只支持单人红包）</el-checkbox>
      </el-form-item>
      <el-form-item label="同个订单号可绑定：" label-width="150px" required>
        <el-input-number v-model="form.number" :min="1" :max="10"></el-input-number>
        <span>个红包</span>
      </el-form-item>
    </el-form>
    <el-button class="save-btn fr" type="primary" @click="bindOrderIdShow = true">保存</el-button>
    <bindOrderIdPanel v-if="bindOrderIdShow" @on-close="bindOrderIdShow = false"></bindOrderIdPanel>
  </el-dialog>
</template>

<script>
import bindOrderIdPanel from './components/bindOrderId'
export default {
  components: {
    bindOrderIdPanel
  },
  data() {
    return {
      dialogVisible: true,
      bindOrderIdShow: false,
      form: {
        number: 1,
        singelMoneyNumber: 1,
        title: '恭喜发财，大吉大利',
        mode: '单人红包（一码仅一人领取）',
        type: '固定金额红包',
        remark: '',
        singelOrderBindRedPacketNumber: 1,
        isNeedOrder: true
      }
    }
  },
  methods: {
    closeDialog() {
      this.$emit('on-close')
    }
  }
}
</script>
