<template>
  <el-dialog title="转接会话" custom-class="el-input-wechat" :visible.sync="outerVisible" @close="closeDialog">
    <el-form :model="form" class="pl-30 pr-30">
      <el-form-item label="接收员工部门：" label-width="130px">
        <el-select v-model="form.department" placeholder="请选择接收员工所在部门" class="ly-width-100">
          <el-option label="部门一" :value="1"></el-option>
          <el-option label="部门二" :value="2"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="接收员工：" label-width="95px">
        <el-select v-model="form.staffId" placeholder="请选择接收员" class="ly-width-100">
          <el-option label="[在线] 客服54565" :value="1"></el-option>
          <el-option label="[离线] 客服54566" :value="2"></el-option>
          <el-option label="[在线] 客服54567" :value="3"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="附言：" label-width="63px">
        <el-input></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="closeDialog">取 消</el-button>
      <el-button type="primary" @click="closeDialog">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
export default {
  data() {
    return {
      outerVisible: true,
      form: {
        department: '',
        staffId: ''
      }
    }
  },
  methods: {
    closeDialog() {
      this.$emit('on-close')
    }
  }
}
</script>
