<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import { deviceManageApi } from '@/api/system'
import lazySelectMixin from './mixin'
export default {
  mixins: [lazySelectMixin],
  methods: {
    getDataFn() {
      return deviceManageApi.subquikRelayGetOwnCustomer().then(data => (data || []).map(v => this.convertData(v.id, v.realName, v)))
    }
  }
}
</script>
