<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFnOrDataList"
               :options="mergedOptions"
               @change="change"
               ref="lazySelect" />
</template>

<script>
import lazySelectMixin from './mixin'
import { commonApi } from '@/api/system'
import cacheMixin from './cacheMixin'
export default {
  props: ['type'],
  watch: {
    'type': function (val, oldVal) {
      this.$refs.lazySelect.clear()
      this.getDataFnOrDataList()
    }
  },
  mixins: [lazySelectMixin, cacheMixin],
  methods: {
    getData() {
      return commonApi.storeList(this.mergedOptions.params).then(data => (data || []).map(v => this.convertData(v.id, v.shopName, v)))
    },
    getKey() {
      return this.type
    }
  }
}
</script>
