<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               @change="change"
               ref="lazySelect" />
</template>

<script>
import lazySelectMixin from './mixin'
import { v3indexApi } from '@/api/system'

export default {
  mixins: [lazySelectMixin],
  methods: {
    getDataFn() {
      return v3indexApi.getWechatList().then(data => (data || []).map(v => this.convertData(v.id, `${v.nickName}(${v.account})`, v)))
    }
  }
}
</script>
