<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFnOrDataList"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import { screenApi } from '@/api/system'
import lazySelectMixin from './mixin'
import cacheMixin from './cacheMixin'

export default {
  mixins: [lazySelectMixin, cacheMixin],
  props: ['wechatAccountId'],
  watch: {
    'wechatAccountId': function (val, oldVal) {
      this.$refs.lazySelect.clear()
      this.getDataFnOrDataList()
    }
  },
  methods: {
    getKey() {
      return this.wechatAccountId
    },
    getData() {
      if (!this.wechatAccountId) {
        this.error('请先选择个人号')
        return Promise.resolve([])
      }
      return screenApi.accountLabelList({ wechatAccountId: this.wechatAccountId }).then(data => (data || []).map(v => this.convertData(v.id, v.labelName, v)))
    }
  }
}
</script>
