<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFnOrDataList"
               :options="mergedOptions"
               @initial="initial"
               @change="change"
               ref="lazySelect" />
</template>

<script>
import { screenApi } from '@/api/system'
import lazySelectMixin from './mixin'

export default {
  mixins: [lazySelectMixin],
  methods: {
    getData() {
      return screenApi.accountList().then(data => {
        data.forEach(item => {
          let str = item.onLine === 0 ? '[离线]' : '[在线]'
          item.nickName = str + item.nickName
        })
        return (data || []).map(v => this.convertDataDisabled(v.id, v.nickName, v, v.onLine === 0))
      })
      // return screenApi.accountList().then(data => (data || []).map(v => this.convertDataDisabled(v.id, v.nickName, v, v.onLine === 0)))
    }
  }
}
</script>
