<template>
  <ul class="ly-clearfix ly-margin-bottom-sm">
    <li class="ly-float-left ly-margin-right-sm">
      <el-button-group class="el-button-group-tabs">
        <el-button :type="type === TYPE.HOUR ? 'primary' : 'default'"
                   @click="changeType(TYPE.HOUR)">近7天</el-button>
        <el-button :type="type === TYPE.DAY ? 'primary' : 'default'"
                   @click="changeType(TYPE.DAY)">近30天</el-button>
        <el-button :type="type === TYPE.MONTH ? 'primary' : 'default'"
                   @click="changeType(TYPE.MONTH)">近90天</el-button>
      </el-button-group>
    </li>
    <li class="ly-float-left ly-margin-right-sm">
      <el-date-picker type="datetimerange"
                      size="small"
                      range-separator="至"
                      start-placeholder="开始时间"
                      end-placeholder="结束时间"
                      placeholder="选择时间范围"
                      :default-time="['00:00:00', '23:59:59']"
                      v-model="type"
                      @change="dateChange" />
    </li>
    <li class="ly-float-left ly-margin-right-sm">
      <el-button type="primary"
                 size='small'
                 @click="search">搜索</el-button>
    </li>
  </ul>
</template>

<script>
import { getBeforeDate } from '@/utils'
// console.log(getBeforeDate(7))

const TYPE = {
  // 小时
  HOUR: [getBeforeDate(7), new Date()],
  // 天
  DAY: [getBeforeDate(30), new Date()],
  // 月
  MONTH: [getBeforeDate(90), new Date()]
}
export default {
  data() {
    return {
      type: null,
      params: {
        beginTime: '',
        endTime: ''
      },
      TYPE
    }
  },
  methods: {
    changeType(val) {
      this.type = val
      this.dateChange(val)
    },
    // 日期格式转换
    dateChange(val) {
      if (!val) {
        this.params.beginTime = ''
        this.params.endTime = ''
      } else {
        this.params.beginTime = new Date(val[0]).getTime()
        this.params.endTime = new Date(val[1]).getTime()
      }
    },
    search() {
      this.$emit('search', Object.assign({}, this.params))
    }
  }
}
</script>
