<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.staff"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="员工账号/姓名"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-select v-model="params.status"
                     placeholder="审核状态"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="待审核"
                       :value="1">
            </el-option>
            <el-option label="审核通过"
                       :value="2">
            </el-option>
            <el-option label="审核不通过"
                       :value="3">
            </el-option>
          </el-select>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="showNewTemplateDialog=true">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="msgTitle"
                         label="短信标题">
        </el-table-column>
        <el-table-column label="短信内容"
                         width="450">
          <template slot-scope="scope">
            <span>{{scope.row.msgSign}}{{scope.row.msgText}}</span>
          </template>
        </el-table-column>
        <el-table-column label="审核状态">
          <template slot-scope="scope">
            <span v-if="scope.row.status==1">待审核</span>
            <span v-if="scope.row.status==2"
                  class="ly-font-color-5">审核通过</span>
            <span v-if="scope.row.status==3"
                  class="ly-font-color-7">审核不通过</span>
          </template>
        </el-table-column>
        <el-table-column prop="staff"
                         label="创建员工">
        </el-table-column>
        <el-table-column prop="createTime"
                         label="创建时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作"
                         width="150">
          <template slot-scope="scope">
            <!-- 审核状态:1、待审核,2、审核通过,3、审核不通过 -->
            <el-button v-if="scope.row.status==3"
                       type="text"
                       size="small"
                       @click="editTemplateClick(scope.row.id)">编辑</el-button>
            <el-button v-if="scope.row.status!=1"
                       class="ly-font-color-7"
                       type="text"
                       size="small"
                       @click="handleClose(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <!-- 短信编辑弹窗 -->
    <EditTemplate v-if="showEditTemplateDialog"
                  v-model="showEditTemplateDialog"
                  :currId='currId'
                  @on-success='getTableList(1,params.size)'></EditTemplate>
    <!-- 短信新增弹窗 -->
    <NewTemplate v-if="showNewTemplateDialog"
                 v-model="showNewTemplateDialog"
                 @on-success='getTableList(1,params.size)'></NewTemplate>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import { EditTemplate, NewTemplate } from '../components'

export default {
  mixins: [tableMixin],
  components: { EditTemplate, NewTemplate },
  data() {
    return {
      activeNames: ['1'],
      showEditTemplateDialog: false,
      showNewTemplateDialog: false,
      currId: ''
    }
  },
  methods: {
    async requestTableList() {
      const data = await marketPlatformApi.getHistoryTemplateList(this.params)
      this.tableData = data
    },
    // 编辑点击
    editTemplateClick(id) {
      this.currId = id
      this.showEditTemplateDialog = true
    },
    // 删除
    async deleteCallback(id) {
      await marketPlatformApi.delTemplate(id)
      this.getTableList(1, this.params.size)
    }
  }
}
</script>
