<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-select v-model="params.msgType"
                     placeholder="短信类型"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="系统发送"
                       :value="1">
            </el-option>
            <el-option label="员工发送"
                       :value="2">
            </el-option>
          </el-select>
          <el-input v-model.trim="params.staff"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="员工账号/姓名"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          range-separator="至"
                          @change="dateChange"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="id"
                         label="ID"
                         width="200">
        </el-table-column>
        <el-table-column prop="msgType"
                         label="短信类型"
                         width="200">
          <template slot-scope="scope">
            <!-- 短信类型:1、系统发送，2、员工发送 -->
            <span v-if="scope.row.msgType==1">系统发送</span>
            <span v-if="scope.row.msgType==2">员工发送</span>
          </template>
        </el-table-column>
        <el-table-column prop="staff"
                         label="发送/接收员工"
                         width="200">
        </el-table-column>
        <el-table-column label="创建/发送时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="msgText"
                         label="短信内容">
        </el-table-column>
        <el-table-column prop="num"
                         label="使用条数"
                         width="200">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  data() {
    return {
      activeNames: ['1']
    }
  },
  methods: {
    async requestTableList() {
      const data = await marketPlatformApi.getSendRecordList(this.params)
      this.tableData = data
    }
  }
}
</script>
