<template>
  <div class="ly-bg-white">
    <div class="ly-padding-sm">
      <ul class="ly-page-menu">
        <li class="ly-page-menu-item"
            :class="current===1?'active':''"
            @click="radioCallback(1)">
          群公告
        </li>
        <li class="ly-page-menu-item"
            :class="current===2?'active':''"
            @click="radioCallback(2)">
          群公告修改记录
        </li>
      </ul>
    </div>
    <announcementList v-if="current === 1"></announcementList>
    <historyOfModification v-else></historyOfModification>
  </div>
</template>

<script>
import announcementList from './announcementList/index'
import historyOfModification from './historyOfModification/index'
export default {
  components: {
    announcementList,
    historyOfModification
  },
  data() {
    return {
      current: 1 // 1--群公告，2--公告修改记录
    }
  },
  created() {
  },
  methods: {
    radioCallback(val) {
      this.current = val
    }
  }
}
</script>
