<template>
  <div>
    <div class="ly-box ly-font-16">
      <div class="ly-box-1">正常拉手号总数：1</div>
      <div class="ly-box-1 ly-text-right">
        <el-popover placement="right"
                    width="400"
                    trigger="hover">
          <div>
            <p>拉手号状态说明</p>
            <p>1.正常：服务进行中</p>
            <p>2.已封号：拉手号已被封号，系统自动更换新拉手号，若更换不成功，需手动点击“更换”按钮进行更换。</p>
            <p>3.等待入群：拉手号在2分钟之内未进群，需群内管理员手动添加拉手号为好友拉入群内。</p>
            <p>4.用户移除退群：拉手号服务关闭或“拉手详情页”中被手动移除。</p>
            <p>5.被踢出群：拉手号被群主踢出群。</p>
            <p>6.不可用：拉手号异常不可用。</p>
            <p>7.今日分配已上限：今日拉手号已被扫码100次，拉手号今日将不再分配服务。</p>
            <p>8.主动退群：拉手号主动退出群聊</p>
          </div>
          <el-button type="text" class="ly-font-color-7" slot="reference">拉手状态说明？</el-button>
        </el-popover>
      </div>
    </div>
    <!-- 表格 -->
    <div class="ly-margin-top-20px">
      <el-table ref="multipleTable"
                :data="tableData"
                max-height="350"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="拉手号昵称"
                         align="center"
                         min-width="120">
          <template slot-scope="scope">
            {{ scope.row.groupName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="二维码" min-width="120" align="center">
          <template slot-scope="scope">
            <img class="ly-wh-50px" src="http://h.hiphotos.baidu.com/image/pic/item/962bd40735fae6cd9456784901b30f2442a70f3c.jpg" />
          </template>
        </el-table-column>
        <el-table-column label="拉手号状态"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.groupName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="服务开始时间"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.groupName | date }}
          </template>
        </el-table-column>
        <el-table-column label="服务结束时间"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.groupName | date }}
          </template>
        </el-table-column>
        <el-table-column label="累计拉人"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.groupName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="拉人数/扫码数"
                         min-width="120"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.groupName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="操作" width="200" align="center">
          <template slot-scope="scope">
            <el-button type="text"
                       class="ly-margin-5px"
                       size="small" @click="removeGroup(scope.row)">移除</el-button>
            <el-button type="text"
                       class="ly-margin-5px"
                       size="small" @click="addPersonNum(2, scope.row)">更换</el-button>
            <el-button type="text"
                       class="ly-margin-5px"
                       size="small">--</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="ly-margin-top-20px">
      <el-button size="small" type="primary" @click="addPersonNum(1)">添加</el-button>
      <span>每个群最多进5个拉手</span>
    </div>
    <!--选择个人号-->
    <el-dialog title="请选择个人号" :visible.sync="personDialogInfo.show" width="660px" v-if="personDialogInfo.show" append-to-body>
      <gActivityGroupListHandleAddNum :dialogProp="personDialogInfo"
                                      :checkArr="checkArr"
                                      :checkNum="num"
                                      @closeDialog="closePersonDialog"
                                      @getPersonNum="getPersonNum"></gActivityGroupListHandleAddNum>
    </el-dialog>
  </div>
</template>

<script>
// import { personalNumManageApi } from '@/api/system'
import gActivityGroupListHandleAddNum from './gActivityGroupListHandleAddNum.vue'
export default {
  components: {gActivityGroupListHandleAddNum},
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      tableData: [
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {}
      ],
      num: 0,
      checkArr: [],
      personDialogInfo: {}
    }
  },
  created() {
    this.codeUrl = this.dialogProp.data.codeUrl || ''
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    /**
     * 选择个人号--show
     */
    addPersonNum(type, data) {
      if (type === 2) {
        this.num = 1
      } else {
        this.num = 3
      }
      this.personDialogInfo = {
        show: true
      }
    },
    /**
     * 选择个人号--hide
     */
    closePersonDialog() {
      this.personDialogInfo = {}
    },
    getPersonNum(data) {
      this.checkArr = data
      this.closePersonDialog()
    },
    removeGroup(data) {
      let title = `移除后，此拉手号将自动退群，且此拉手号服务立即终止，确定移除吗？`
      this.$confirm(title, '是否移除拉手号？', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.success('移出成功!')
        this.getTableList()
      }).catch(() => {})
    }
  }
}
</script>
