<template>
  <div class="ly-text-center">
    <div v-if="dialogProp.type === 2">
      <div class="ly-text-center">
        <img class="ly-wh-140-140px" src="http://h.hiphotos.baidu.com/image/pic/item/962bd40735fae6cd9456784901b30f2442a70f3c.jpg"/>
      </div>
      <div class="ly-margin-top-20px ly-font-16">群裂变单群二维码状态：<span class="ly-font-color-7">二维码过期</span><span class="ly-font-color-5">二维码正常</span></div>
      <div class="ly-margin-top-12px ly-font-16">过期时间：2019-01-10 18:08:04</div>
    </div>
    <div class="ly-margin-top-20px">
      <el-button size="medium" type="primary" @click="sendToMobile">发手机指令上传</el-button>
      <div class="ly-inline-block  ly-position-relative">
        <el-button class="ly-width-140px"
                   size="medium">
          <i class="el-icon-upload2"></i>手动上传
        </el-button>
        <div class="ly-plist-upload-code">
          <vma-upload v-model="fileUrl"
                      :exts="['jpg', 'png', 'jpeg']"
                      :singleFileSize="10" />
        </div>
      </div>
    </div>
    <div class="ly-margin-top-20px ly-font-color-2">手动上传二维码建议尺寸 为：140 * 140</div>
  </div>
</template>

<script>
import { personalNumManageApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  watch: {
    'fileUrl' (val, oldVal) {
      if (val) {
        this.uploadFileByHand(val)
      }
    }
  },
  data() {
    return {
      codeUrl: '',
      fileUrl: ''
    }
  },
  created() {
    this.codeUrl = this.dialogProp.data.codeUrl || ''
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    async sendToMobile() {
      await personalNumManageApi.accountCodeMobile(this.dialogProp.data.id)
      this.$confirm('通过手机上传图片会有延时，稍后刷新查看！', '指令发送成功', {
        confirmButtonText: '知道了',
        showCancelButton: false,
        type: 'success'
      }).then(() => {
        this.$emit('refreshCode')
      }).catch(() => {
        this.$emit('refreshCode')
      })
    },
    async uploadFileByHand(val) {
      let params = {
        id: this.dialogProp.data.id,
        cardUrl: val
      }
      await personalNumManageApi.accountCodeByHand(params).then((resolve) => {
        this.$emit('refreshCode')
      }, (reject) => {
        this.fileUrl = ''
      })
    }
  }
}
</script>
