<template>
  <div>
    <!--<el-dialog title="修改分组" :visible.sync="dialogProp.show" width="489px" @close="closeDialog">-->
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item label="群活动名称:" prop="groupName" :label-width="formLabelWidth">
        <el-input class="ly-width-280px-im"
                  placeholder="请输入群活动名称，限30字内"
                  autocomplete="off"
                  :maxlength="30"
                  v-model.trim="params.groupName"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="分组备注"
                    :label-width="formLabelWidth">
        <el-input class="ly-width-280px-im"
                  type="textarea"
                  :rows="5"
                  placeholder="请输入备注，限200字内"
                  v-model="params.remark"
                  :maxlength="200"></el-input>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="confirmAdd">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import { personalNumManageApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      params: {
        remark: '',
        groupName: ''
      },
      formLabelWidth: '136px',
      rules: {
        groupName: [
          { required: true, message: '请输入群活动名称' }
        ]
      }
    }
  },
  created() {
    if (this.dialogProp.data.id) {
      this.params.remark = this.dialogProp.data.remark
      this.params.groupName = this.dialogProp.data.groupName
    }
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    confirmAdd() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (this.dialogProp.data) {
            // 修改
            // this.modifyGroup()
          } else {
            // 新增
            // this.addNewGroup()
          }
        } else {
          return false
        }
      })
    },
    // 新增
    async addNewGroup() {
      await personalNumManageApi.groupManageAdd(this.params)
      this.success('新增成功')
      this.closeDialog()
      this.$emit('refreshGetTableList')
    },
    // 修改
    async modifyGroup() {
      await personalNumManageApi.groupManageModify(this.params)
      this.success('修改成功')
      this.closeDialog()
      this.$emit('getTableList')
    }
  }
}
</script>
