<template>
  <div>
    <div style="min-height: 72px;">
      <div class="ly-font-16" v-if="radio === 1 || radio === 2">
        <p>群名称：<span class="ly-margin-right-30px ly-font-color-5">{{dialogProp.data.groupName}}</span>当前拉手数为{{dialogProp.data.num}}个</p>
        <p class="ly-font-color-4">群裂变群拉手主要应用于创建500人大群，通过开启群拉手功能，当群内满百人时，群拉手会将新扫码的用户邀请进群</p>
      </div>
      <div class="ly-font-16" v-else>
        <p>群裂变群拉手主要应用于创建500人大群，通过开启群拉手功能，当群内满百人时，群拉手会将新扫码的用户邀请进群</p>
      </div>
    </div>
    <div class="ly-font-color-2">
      <p class="ly-margin-top-20px">使用规则：</p>
      <p>1.每群最多进 5 个群拉手，每个群拉手每天限被扫码 100 次，建议根据流量预测添加群拉手数量。</p>
      <p>2.使用过程中，若群主非个人号，请确保群聊验证已关闭。</p>
    </div>
    <div class="ly-margin-top-20px">
      <el-radio v-model="radio" :label="1">开启</el-radio>
      <span class="ly-margin-left-20px">*开启群内所有拉手服务
        <el-button class="ly-margin-left-20px" type="text" v-if="radio===1" @click="turnToAddPersonNum">
          <span v-if="checkArr.length === 0">选择个人号</span>
          <span v-else>个人号已选{{checkArr.length}}个</span>
        </el-button>
      </span>
    </div>
    <div class="ly-margin-top-10px">
      <el-radio v-model="radio" :label="2" disabled>暂停</el-radio>
      <span class="ly-margin-left-20px">*暂停群内所有拉手服务</span>
    </div>
    <div class="ly-margin-top-10px">
      <el-radio v-model="radio" :label="3">关闭</el-radio>
      <span class="ly-margin-left-20px">*关闭拉手服务，群内拉手号自动退群</span>
    </div>
    <div class="ly-margin-top-20px ly-text-right">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" type="primary" @click="confirm">确 认</el-button>
    </div>
    <!--选择个人号-->
    <el-dialog title="请选择个人号" :visible.sync="personDialogInfo.show" width="660px" v-if="personDialogInfo.show" append-to-body>
      <gActivityGroupListHandleAddNum :dialogProp="personDialogInfo"
                                      :checkArr="checkArr"
                                      :checkNum="5"
                                      @closeDialog="closePersonDialog"
                                      @getPersonNum="getPersonNum"></gActivityGroupListHandleAddNum>
    </el-dialog>
  </div>
</template>

<script>
// import { personalNumManageApi } from '@/api/system'
import gActivityGroupListHandleAddNum from './gActivityGroupListHandleAddNum.vue'
export default {
  components: {
    gActivityGroupListHandleAddNum
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  watch: {
  },
  data() {
    return {
      radio: 1,
      checkArr: [],
      personDialogInfo: {}
    }
  },
  created() {
    this.codeUrl = this.dialogProp.data.codeUrl || ''
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    turnToAddPersonNum() {
      this.personDialogInfo = {
        show: true,
        dialogProp: this.dialogProp,
        checkArr: this.checkArr
      }
    },
    closePersonDialog() {
      this.personDialogInfo = {}
    },
    getPersonNum(data) {
      this.checkArr = data
      this.closePersonDialog()
    },
    confirm() {
      this.closeDialog()
    }
    /*
    async sendToMobile() {
      await personalNumManageApi.accountCodeMobile(this.dialogProp.data.id)
      this.$confirm('通过手机上传图片会有延时，稍后刷新查看！', '指令发送成功', {
        confirmButtonText: '知道了',
        showCancelButton: false,
        type: 'success'
      }).then(() => {
        this.$emit('refreshCode')
      }).catch(() => {
        this.$emit('refreshCode')
      })
    },
    async uploadFileByHand(val) {
      let params = {
        id: this.dialogProp.data.id,
        cardUrl: val
      }
      await personalNumManageApi.accountCodeByHand(params).then((resolve) => {
        this.$emit('refreshCode')
      }, (reject) => {
        this.fileUrl = ''
      })
    }
    */
  }
}
</script>
