<template>
  <div style="background-color: #F1F4F6;">
    <!--数量统计-->
    <div class=" ly-padding-top-28px ly-padding-bottom-34px ly-bg-white ly-box ly-text-center">
      <div class="ly-box-1 ly-width-one-four ly-margin-rl-10px">
        <p class="ly-font-36 ell">20</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">总群数</p>
      </div>
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">20</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">群成员数</p>
      </div>
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">20</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">总进群人数</p>
      </div>
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">20</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">群码展示次数</p>
      </div>
    </div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-margin-top-20px ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="请输入群名称/群主名称/备注"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    v-model.trim="params.name"
                    :maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <el-select v-model="params.status"
                     placeholder="分配状态状态"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="已分配"
                       :value="1">
            </el-option>
            <el-option label="未分配"
                       :value="0">
            </el-option>
          </el-select>
          <el-select v-model="params.groupStatus"
                     placeholder="群状态"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="正常"
                       :value="0">
            </el-option>
            <el-option label="退出"
                       :value="1">
            </el-option>
          </el-select>
          <!-- button -->
          <el-button class="ly-float-right"
                     size="medium"
                     @click="resetCallback">重置
          </el-button>
          <el-button class="ly-float-right ly-margin-right-sm"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small" @click="addGroup">添加群</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="群聊名称"
                         min-width="120">
          <template slot-scope="scope">
            {{ scope.row.groupName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="群二维码" min-width="120" align="center">
          <template slot-scope="scope">
            <el-button v-if="pic" type="text" @click="showCodeDialog(scope.row, 2)">
              <img class="ly-wh-50px" src="http://h.hiphotos.baidu.com/image/pic/item/962bd40735fae6cd9456784901b30f2442a70f3c.jpg" />
            </el-button>
            <el-button v-else type="text" @click="showCodeDialog(scope.row, 1)">上传</el-button>
          </template>
        </el-table-column>
        <el-table-column label="群公告"
                         min-width="120">
          <template slot-scope="scope">
            <div class="ly-width-100px ly-height40px ly-ellipsis2" title="scope">{{ scope.row.groupName || '--' }}</div>
          </template>
        </el-table-column>
        <el-table-column label="群备注"
                         min-width="120">
          <template slot-scope="scope">
            <div class="ly-width-100px ly-height40px ly-ellipsis2" title="scope">{{ scope.row.groupName || '--' }}</div>
          </template>
        </el-table-column>
        <el-table-column label="群主"
                         min-width="120">
          <template slot-scope="scope">
            {{ scope.row.groupName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="群成员数">
          <template slot-scope="scope">
            {{ scope.row.groupName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="总进群人数">
          <template slot-scope="scope">
            {{ scope.row.groupName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="群码展示次数">
          <template slot-scope="scope">
            <el-button type="text" @click="showStatistices(scope.row)">{{ scope.row.groupName || 0 }}</el-button>
          </template>
        </el-table-column>
        <el-table-column label="群状态">
          <template slot-scope="scope">
            {{ scope.row.groupName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="分配状态">
          <template slot-scope="scope">
            <el-switch v-model="switchBoolean"
                       active-color="#13ce66"
                       :active-value='1'
                       :inactive-value='0'
                       @change="changeStatus($event, scope.row)">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="拉手号正常数/总数" align="center">
          <template slot-scope="scope">
            <div>0/0</div>
            <el-button type="text" @click="showHandleDetail(scope.row)">详情</el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="200" fixed="right">
          <template slot-scope="scope">
            <el-button type="text"
                       class="ly-margin-5px"
                       size="small" @click="showMemberManage(scope.row)">群成员管理</el-button>
            <el-button type="text"
                       class="ly-margin-5px"
                       size="small" @click="removeGroup(scope.row)">移出</el-button>
            <el-button type="text"
                       class="ly-margin-5px"
                       size="small" @click="showHandleDialog(scope.row)">群拉手</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
    </div>
    <!--添加群-->
    <el-dialog title="添加群" :visible.sync="addGroupDialogInfo.show" width="1160px" v-if="addGroupDialogInfo.show" append-to-body>
      <gActivityGroupListAddGroup :dialogProp="addGroupDialogInfo"
                            @closeDialog="closeAddGroupDialog"
                            @refreshList="resetCallback"></gActivityGroupListAddGroup>
    </el-dialog>
    <!--二维码名片-->
    <el-dialog title="二维码名片" :visible.sync="addCodeDialogInfo.show" width="376px" v-if="addCodeDialogInfo.show" append-to-body>
      <gActivityGroupListAddCode :dialogProp="addCodeDialogInfo"
                                  @closeDialog="closeAddCodeDialog"
                                  @refreshCode="getTableList"></gActivityGroupListAddCode>
    </el-dialog>
    <!--群拉手-->
    <el-dialog title="群拉手" :visible.sync="handleDialogInfo.show" width="660px" v-if="handleDialogInfo.show" append-to-body>
      <gActivityGroupListHandle :dialogProp="handleDialogInfo"
                                 @closeDialog="closeHandleDialog"
                                 @refreshCode="getTableList"></gActivityGroupListHandle>
    </el-dialog>
    <!--群拉手详情-->
    <el-dialog title="拉手详情" :visible.sync="handleDetailDialogInfo.show" width="1080px" v-if="handleDetailDialogInfo.show" append-to-body>
      <gActivityGroupListHandleDetail :dialogProp="handleDetailDialogInfo"
                                @closeDialog="closeHandleDetailDialog"
                                @refreshCode="getTableList"></gActivityGroupListHandleDetail>
    </el-dialog>
    <!-- 群码展示次数--弹窗 -->
    <vma-dialog v-model="activityStatistices.show"
                @close="closeDialogStatistices"
                title="群统计"
                class="ly-statistices-body">
      <Statistics :dialog="activityStatistices"
                  @closeDialog="closeDialogStatistices"
                  v-if="activityStatistices.show"></Statistics>
    </vma-dialog>
    <!-- 群成员管理--弹窗 -->
    <vma-dialog v-model="activityMemberDialogInfo.show"
                @close="closeDialogMember"
                title="群统计"
                class="ly-statistices-body">
      <gActivityGroupListMembers :dialog="activityMemberDialogInfo"
                  @closeDialog="closeDialogMember"
                  v-if="activityMemberDialogInfo.show"></gActivityGroupListMembers>
    </vma-dialog>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
import gActivityGroupListAddGroup from './gActivityGroupListAddGroup.vue'
import gActivityGroupListAddCode from './gActivityGroupListAddCode.vue'
import gActivityGroupListHandle from './gActivityGroupListHandle.vue'
import gActivityGroupListHandleDetail from './gActivityGroupListHandleDetail.vue'
import gActivityGroupListMembers from './gActivityGroupListMembers.vue'
import Statistics from './Statistics.vue'
export default {
  components: {
    gActivityGroupListAddGroup,
    gActivityGroupListAddCode,
    gActivityGroupListHandle,
    gActivityGroupListHandleDetail,
    gActivityGroupListMembers,
    Statistics
  },
  mixins: [tableMixin],
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      activeNames: ['1'],
      params: {
        name: '',
        status: '',
        groupStatus: ''
      },
      tableData: {
        total: 1,
        size: 10,
        current: 1,
        records: [{}, {}]
      },
      addGroupDialogInfo: {},
      addCodeDialogInfo: {},
      handleDialogInfo: {},
      handleDetailDialogInfo: {},
      activityStatistices: {},
      activityMemberDialogInfo: {},
      switchBoolean: false,
      pic: false
    }
  },
  created() {
  },
  methods: {
    /**
     * 获取微信好友列表
     */
    async requestTableList() {
      /*
       await personalNumManageApi.friendsListGetList(this.params).then((data) => {
       this.tableData = data
       })
       */
    },
    /**
     * 群码启用--toggle
     */
    changeStatus(status, data) {
      if (data.status) {
      } else {
        this.switchBoolean = false
        this.$notify({
          title: '提示',
          message: '无可用群码,请在群列表添加活动群',
          type: 'warning'
        })
      }
    },
    /**
     * 添加群--弹窗-show
     */
    addGroup() {
      this.addGroupDialogInfo = {
        show: true
      }
    },
    /**
     * 添加群--弹窗-hide
     */
    closeAddGroupDialog() {
      this.addGroupDialogInfo = {}
    },
    /**
     * 活动群码--弹窗-show
     */
    showCodeDialog(data, type) {
      // type -1--上传，2--查看
      this.addCodeDialogInfo = {
        show: true,
        data: data,
        type: type
      }
    },
    /**
     * 活动群码--弹窗-hide
     */
    closeAddCodeDialog() {
      this.addCodeDialogInfo = {}
    },
    /**
     * 移出群
     */
    removeGroup(data) {
      let title = `当前群：名称${data.groupName}，该群即将从群活动中移出，移出后当日的群活动数据将不计入统计，是否确认？`
      this.$confirm(title, '移出确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.success('移出成功!')
        this.getTableList()
      }).catch(() => {})
    },
    /**
     * 群拉手--show
     */
    showHandleDialog(data) {
      this.handleDialogInfo = {
        show: true,
        data: data
      }
    },
    /**
     * 群拉手--hide
     */
    closeHandleDialog() {
      this.handleDialogInfo = {}
    },
    /**
     * 拉手详情--show
     */
    showHandleDetail(data) {
      this.handleDetailDialogInfo = {
        show: true,
        data: data
      }
    },
    /**
     * 拉手详情--hide
     */
    closeHandleDetailDialog() {
      this.handleDetailDialogInfo = {}
    },
    /**
     * 群码展示次数统计--show
     */
    showStatistices(data) {
      this.activityStatistices = {
        show: true,
        title: '群名称',
        data: data
      }
    },
    /**
     * 群码展示次数统计--hide
     */
    closeDialogStatistices() {
      this.activityStatistices = {
        show: false
      }
    },
    /**
     * 群成员管理--show
     */
    showMemberManage(data) {
      this.activityMemberDialogInfo = {
        show: true,
        data: data
      }
    },
    /**
     * 群成员管理--hide
     */
    closeDialogMember() {
      this.activityMemberDialogInfo = {}
    }
  }
}
</script>
<style type="scss">
.ly-statistices-body .el-dialog__body{
  padding-top: 0;
}
</style>
