<template>
  <div>
    <div class="ly-font-color-4 ly-font-16">
      <div>1.列表未展示二维码名片未上传的个人号，请前往【个人号列表】上传完善；</div>
      <div>2.一个个人号只能添加在一个微活码中</div>
    </div>
    <div class="ly-margin-top-20px">
      <el-input
        placeholder="输入关键字进行过滤"
        v-model="filterText"
        clearable
        size="small">
      </el-input>
    </div>
    <div class="ly-margin-top-10px">
      <el-tree
        :data="data2"
        show-checkbox
        default-expand-all
        node-key="id"
        ref="tree"
        highlight-current
        :expand-on-click-node="false"
        :filter-node-method="filterNode"
        @check="changeCheck"
        :props="defaultProps">
      </el-tree>
    </div>
    <div class="ly-margin-top-20px ly-text-right">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" type="primary" @click="confirm">确 认</el-button>
    </div>
  </div>
</template>

<script>
// import { personalNumManageApi } from '@/api/system'
export default {
  components: {},
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    },
    checkNum: {
      type: Number,
      default: function () {
        return 100000
      }
    },
    checkArr: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val)
    }
  },
  data() {
    return {
      filterText: '',
      data2: [{
        id: 0,
        label: '全选',
        disabled: false,
        children: [
          {
            id: 1,
            label: '一级 1',
            disabled: false
          }, {
            id: 2,
            label: '一级 2',
            disabled: false
          }, {
            id: 3,
            label: '一级 3',
            disabled: false
          }, {
            id: 4,
            label: '一级 4',
            disabled: false
          }, {
            id: 5,
            label: '一级 5',
            disabled: false
          }, {
            id: 6,
            label: '一级 6',
            disabled: false
          }, {
            id: 7,
            label: '一级 7',
            disabled: false
          }, {
            id: 8,
            label: '一级 8',
            disabled: false
          }
        ]
      }],
      defaultProps: {
        children: 'children',
        label: 'label'
      }
    }
  },
  created() {
    this.initParantNode()
  },
  methods: {
    /**
     *用于控制全选是否可以选择与否
     */
    initParantNode() {
      let len = this.data2[0].children.length
      if (len > this.checkNum) {
        this.data2[0].disabled = true
      }
      this.$nextTick(() => {
        this.$refs.tree.setCheckedNodes(this.checkArr)
      })
    },
    closeDialog() {
      this.$emit('closeDialog')
    },
    filterNode(value, data) {
      if (!value) return true
      return data.label.indexOf(value) !== -1
    },
    /**
     *用于控制用户选择了5个个人号后，不可在添加个人号
     */
    changeCheck(data, obj) {
      let checkdNodes = this.$refs.tree.getCheckedNodes()
      if (this.data2[0].children.length > this.checkNum) {
        if (checkdNodes.length === this.checkNum) {
          this.data2[0].children.forEach(item => {
            if (!checkdNodes.includes(item)) {
              item.disabled = true
            }
          })
        } else if (checkdNodes.length < this.checkNum) {
          this.data2[0].children.forEach(item => {
            item.disabled = false
          })
        }
      }
    },
    confirm() {
      let checkdNodes = this.$refs.tree.getCheckedNodes()
      let newCheckArr = checkdNodes
      if (checkdNodes.length > this.data2[0].children.length) {
        newCheckArr.splice(0, 1)
      }
      /*
      if (newCheckArr.length === 0) {
        this.$notify({
          title: '提示',
          message: '请选择个人号',
          type: 'warning'
        })
        return
      }
      */
      this.$emit('getPersonNum', newCheckArr)
    }
  }
}
</script>
