<template>
  <div  style="background-color: #F1F4F6;">
    <!--echart统计-->
    <div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm ly-margin-top-0">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">{{dialog.title}}:=====读书</span>
        </div>
        <span class="ly-margin-top-nge-4 ly-font-16">
          当前总群数：10
        </span>
      </div>
      <!--时间选择-->
      <ul class="ly-clearfix ly-search-lay">
        <li class="ly-float-left ly-margin-right-bottom-sm">
          <el-date-picker type="daterange"
                          size="mini"
                          class="ly-width-336px-im"
                          range-separator="至"
                          start-placeholder="开始时间"
                          end-placeholder="结束时间"
                          placeholder="选择时间范围"
                          :default-time="['00:00:00', '23:59:59']"
                          :clearable="true"
                          value-format="timestamp"
                          v-model="type" />
        </li>
        <li class="ly-float-left ly-margin-right-bottom-sm" style="height: 33px;">
          <el-button-group class="el-button-group-tabs">
            <el-button :type="type === TYPE.HOUR ? 'primary' : 'default'"
                       @click="changeType('type',TYPE.HOUR)">昨天</el-button>
            <el-button :type="type === TYPE.DAY ? 'primary' : 'default'"
                       @click="changeType('type',TYPE.DAY)">近7天</el-button>
            <el-button :type="type === TYPE.MONTH ? 'primary' : 'default'"
                       @click="changeType('type',TYPE.MONTH)">近30天</el-button>
          </el-button-group>
        </li>
        <li class="ly-float-right ly-margin-right-bottom-sm ly-margin-right-0">
          <el-button-group class="el-button-group-tabs button-width">
            <el-button :type="params.status === 1 ? 'primary' : 'default'" @click="changeStatus(1)">群码展示次数</el-button>
            <el-button :type="params.status === 2 ? 'primary' : 'default'" @click="changeStatus(2)">总进群人数</el-button>
            <el-button :type="params.status === 3 ? 'primary' : 'default'" @click="changeStatus(3)">群成员总数</el-button>
          </el-button-group>
          <!--<el-button type="primary"-->
                     <!--size='small'-->
                     <!--@click="search(true)">搜索</el-button>-->
        </li>
      </ul>
      <!-- echat图 -->
      <div>
        <line-chart :list="statistics.list"
                    :legend="statistics.legend" />
      </div>
    </div>
    <!--表格统计-->
    <div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="日期"
                         align="center"
                         min-width="160">
          <template slot-scope="scope">
            {{ scope.row.groupName | date }}
          </template>
        </el-table-column>
        <el-table-column label="群码展示次数"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.groupName || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="总进群人数"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.groupName || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="群成员总数"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.groupName || 0 }}
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import LineChart from './LineChart'
import { getBeforeNumTimeStramp } from '@/utils'
const TYPE = {
  // 昨天
  HOUR: [getBeforeNumTimeStramp(1), getBeforeNumTimeStramp()],
  // 近7天
  DAY: [getBeforeNumTimeStramp(7), getBeforeNumTimeStramp()],
  // 近30天
  MONTH: [getBeforeNumTimeStramp(30), getBeforeNumTimeStramp()]
}
export default {
  components: {
    LineChart
  },
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      loadStaut: false,
      type: 'DAY',
      params: {
        status: 1,
        beginTime: '',
        endTime: ''
      },
      TYPE,
      details: {},
      statistics: {
        legend: [],
        list: []
      },
      tableData: [{}]
    }
  },
  watch: {
    'type'(val) {
      let dateArr = val || []
      if (dateArr.length === 0) {
        this.changeType('type', this.TYPE.DAY)
        return
      }
      this.params.beginTime = dateArr[0] || ''
      this.params.endTime = dateArr[1] || ''
      this.search()
    }
  },
  created() {
    this.$nextTick(() => {
      this.changeType('type', this.TYPE.DAY)
    })
    // this.defaultValFun()
  },
  methods: {
    /**
     * 切换时间区间
     * @param type
     * @param val
     */
    changeType(type, val) {
      this.type = val
    },
    /**
     * 切换类型
     * @param type
     * @param val
     */
    changeStatus(val) {
      this.params.status = val
      this.search()
    },
    search(type) {
      let params = Object.assign({}, this.params)
      this.getList()
      this.$emit('search', params)
    },
    // 统计
    getList() {
      let parameter = { id: this.dialog.id }
      if (this.type && this.type.length) {
        parameter.startTime = this.type[0]
        parameter.endTime = this.type[1]
        let marTime = parameter.endTime - parameter.startTime - 30 * 24 * 3600 * 1000
        if (marTime > 0) {
          this.$notify({
            title: '提示',
            message: '时间区间不能大于30天',
            type: 'warning'
          })
        } else {
          this.$emit('getStatistics', parameter)
        }
      } else {
        this.$notify({
          title: '提示',
          message: '请选择时间',
          type: 'warning'
        })
      }
    },
    handleList(data) {
      this.details = data
      this.statistics.legend = []
      for (let i = 0; i < data.days.length; i++) {
        let item = data.days[i]
        let time = this.fmt.date(item, 'MM-dd')
        this.statistics.legend.push(time)
      }
      for (let i = 0; i < data.datas.length; i++) {
        let item = data.datas[i]
        item.type = 'line'
        item.stack = '总量'
        item.data = item.number
      }
      this.statistics.list = data.datas
    }
  }
}
</script>
<style type="scss">
  .ly-statistices-body .el-dialog__body{
    padding-top: 0;
  }
  .el-button-group-tabs.button-width .el-button{
    width: 112px !important;
  }
</style>
