<template>
  <div class="ly-box">
    <div class="ly-margin-right-xs ly-width-50px">
      <div class="ly-wh-50px ly-bg-f6">
        <img class="ly-wh-50px" :src="info.headIcon | csAvtor" v-image-view>
      </div>
      <!-- <p class="ly-margin-top-4 ly-font-color-3 line-height-12"><i class="spot-border-radius" :class="[info.onLine?'active': '']"></i>{{info.onLine ? '在线' : '离线'}}</p> -->
    </div>
    <div class="ly-box-1 ly-font-color-2 line-height-14">
      <p class="ly-font-color-3">微信昵称：{{info.nickName || '--'}}</p>
      <p class="ly-margin-top-4">手机号：{{info.phone || '--'}}</p>
      <p class="ly-margin-top-4">微信id：{{ info.wxId || '--' }}</p>
      <p class="ly-margin-top-4">微信号：{{ info.account || '--' }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  created () {
  }
}
</script>
