<template>
  <div>
    <!-- 定时发送朋友圈 -->
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down" :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-tooltip class="item-tabs" effect="dark" content="多个关键词用'|'符号连接,如'A|B'代表消息内容包含A或者B" placement="top" slot="label">
            <el-input v-model="paramsDefult.key" @keyup.native.enter="getTableList(1,paramsDefult.size)" :maxlength='100' placeholder="关键字" class="ly-margin-right-bottom-sm" :clearable="true">
            </el-input>
          </el-tooltip>
          <el-input v-model.trim="paramsDefult.account" @keyup.native.enter="getTableList(1,paramsDefult.size)" :maxlength='100' placeholder="所属个人号" class="ly-margin-right-bottom-sm" clearable>
          </el-input>
          <el-date-picker v-model="date" value-format="yyyy-MM-dd HH:mm:ss" :default-time="['00:00:00', '23:59:59']" class="ly-margin-right-bottom-sm" type="daterange" @change="dateValChange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
          </el-date-picker>
          <!--部门级联已经调整-->
          <departmenTreeCascadert v-model="departId" filterable clearable placeholder="设备保管者部门" :blackData="true" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
          <el-button class="ly-float-right" type="primary" size="medium" @click="getTableList(1,paramsDefult.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary" size="small" @click="exportCallback">导出</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%">
        <el-table-column prop="account" label="个人号信息" width="300">
          <template slot-scope="scope">
            <hairBandsRecordWx :info="scope.row"></hairBandsRecordWx>
          </template>
        </el-table-column>
        <el-table-column prop="wechatUserCount" label="好友总数">
        </el-table-column>
        <el-table-column prop="wechatUserSendCount" label="发送好友数">
        </el-table-column>
        <el-table-column prop="wechatGroupCount" label="群总数">
        </el-table-column>
        <el-table-column prop="wechatGroupSendCount" label="发送群数">
        </el-table-column>
        <el-table-column prop="realName" label="所属员工">
        </el-table-column>
        <el-table-column prop="departmentName" label="员工所在部门">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed" class="ly-text-right ly-box-1" :pageNum="paramsDefult.current" :total="tableData.total" :pageSize="paramsDefult.size" @change='getTableList' />
      </div>
    </div>

  </div>
</template>

<script>
/**
 * info格式：
 * msgSource: 'http://www.w3school.com.cn/i/movie.mp4',--文本，图片url,音频url,视频url
 * vedioImg/coverInfo: 'http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L', --如果是视频额外添加背景图片
 * msgType: 4 --类型
 */
import { departmenTreeCascadert } from '@/components/packages/system/lazyCascader'
import { marketPlatformApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import videoImg from '@/components/common/videoImg' // 视频、图片
// import videoImg from './videoImg.vue' // 视频、图片
import { parseHTML } from '@/components/libs/wechatExpression'
import hairBandsRecordWx from './hairBandsRecordWx.vue'
// import {  NewCircle,  ViewCircle } from './components'
export default {
  mixins: [tableMixin],
  components: {
    videoImg,
    departmenTreeCascadert,
    hairBandsRecordWx

  },
  data () {
    return {
      activeNames: ['1'],
      showNewCircleDialog: false,
      showViewCircleDialog: false,
      currId: '',
      isCopy: false,
      tableData: {},
      departId: []
    }
  },
  created () {

  },
  mounted () {
    const end = new Date()
    const start = new Date()
    start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
    this.date = [start, end]
    let date = new Date()
    // 通过时间戳计算
    let defalutStartTime = date.getTime() - 7 * 24 * 3600 * 1000 // 转化为时间戳
    let defalutEndTime = date.getTime()
    let startDateNs = new Date(defalutStartTime)
    let endDateNs = new Date(defalutEndTime)
    // 月，日 不够10补0
    defalutStartTime = startDateNs.getFullYear() + '-' + ((startDateNs.getMonth() + 1) >= 10 ? (startDateNs.getMonth() + 1) : '0' + (startDateNs.getMonth() + 1)) + '-' + (startDateNs.getDate() >= 10 ? startDateNs.getDate() : '0' + startDateNs.getDate()) + ' ' + '00:00:00'
    defalutEndTime = endDateNs.getFullYear() + '-' + ((endDateNs.getMonth() + 1) >= 10 ? (endDateNs.getMonth() + 1) : '0' + (endDateNs.getMonth() + 1)) + '-' + (endDateNs.getDate() >= 10 ? endDateNs.getDate() : '0' + endDateNs.getDate()) + ' ' + '23:59:59'
    let arr = [defalutStartTime, defalutEndTime]
    this.dateValChange(arr)
  },
  watch: {
    departId: function (val, oldVal) {
      if (val.length) {
        this.paramsDefult.departId = val[val.length - 1]
      } else {
        this.paramsDefult.departId = ''
      }
    }
  },
  methods: {
    parseHTML,
    async requestTableList () {
      const data = await marketPlatformApi.checkMessage(this.paramsDefult)
      this.tableData = data.data
    },
    exportCallback () {
      marketPlatformApi.exportCheckMessage(this.paramsDefult).then(res => {
        this.success(res)
      })
    }

  }
}
</script>
