<template>
  <div>
    <!-- 上面的卡片列表 -->
    <Cards></Cards>
    <!-- 下面的tab切换 -->
    <el-tabs v-model="activeName" @tab-click='tabClick' class="system-home-container">
      <el-tab-pane label="好友统计" name="name_1">
        <div class="ly-box ly-box-align-center ly-box-justify-between">
          <FriendCountPie ref="FriendCountPie" class="countPie"></FriendCountPie>
          <chinese-map ref="map" class="map" />
        </div>
      </el-tab-pane>
      <el-tab-pane label="敏感操作统计" name="name_2">
        <SensitivePie class="countPie"></SensitivePie>
      </el-tab-pane>
      <el-tab-pane label="进粉统计" name="name_3">
        <FansCount></FansCount>
      </el-tab-pane>
      <el-tab-pane label="好友增长统计" name="name_4">
        <FriendUpCount></FriendUpCount>
      </el-tab-pane>
      <el-tab-pane label="好友增长排行" name="name_5">
        <FriendUpSort></FriendUpSort>
      </el-tab-pane>
      <el-tab-pane label="好友分配统计" name="name_6">
        <FriendAllotCount></FriendAllotCount>
      </el-tab-pane>
      <el-tab-pane label="接待人数统计" name="name_7">
        <ReceiveNumCount></ReceiveNumCount>
      </el-tab-pane>
      <el-tab-pane label="客服对话统计" name="name_8">
        <ServiceDialogCount></ServiceDialogCount>
      </el-tab-pane>
      <el-tab-pane label="好友未通过统计" name="name_9">
        <FriendNotpassCount></FriendNotpassCount>
      </el-tab-pane>
      <el-tab-pane label="微信群统计" name="name_10">
        <WxGroupCount></WxGroupCount>
      </el-tab-pane>
      <el-tab-pane label="好友响应时间统计" name="name_11">
        <FriendResTimeCount></FriendResTimeCount>
      </el-tab-pane>
      <el-tab-pane label="微信群活跃统计" name="name_12">
        <WxGroupActiveCount></WxGroupActiveCount>
      </el-tab-pane>
      <el-tab-pane label="通话录音统计" name="name_13">
        <TelRecordCount></TelRecordCount>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import {
  Cards,
  ChineseMap,
  FriendCountPie,
  SensitivePie,
  FansCount,
  FriendUpCount,
  FriendUpSort,
  FriendAllotCount,
  ReceiveNumCount,
  ServiceDialogCount,
  FriendNotpassCount,
  WxGroupCount,
  FriendResTimeCount,
  WxGroupActiveCount,
  TelRecordCount
} from './components'

export default {
  components: {
    ChineseMap,
    FriendCountPie,
    Cards,
    SensitivePie,
    FansCount,
    FriendUpCount,
    FriendUpSort,
    FriendAllotCount,
    ReceiveNumCount,
    ServiceDialogCount,
    FriendNotpassCount,
    WxGroupCount,
    FriendResTimeCount,
    WxGroupActiveCount,
    TelRecordCount
  },
  data () {
    return {
      activeName: 'name_1'
    }
  },
  methods: {
    tabClick (ref) {
      // console.log(ref.$children[0])
      // ref.$children[0].buildChart()
      // ref.$children[1].buildChart()
    }
  }
}
</script>
