<template>
  <div>
    <chinese-map class="map" />
  </div>
</template>

<script>
import ChineseMap from './components/chineseMap'

export default {
  components: {
    ChineseMap
  }
}
</script>

<style lang="scss" scoped>
.map {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}
</style>
