<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import lazySelectMixin from './mixin'

export default {
  mixins: [lazySelectMixin],
  methods: {
    getDataFn() {
      return new Promise(resolve => {
        setTimeout(() => {
          resolve([
            { value: 1, label: '选项1' },
            { value: 2, label: '选项2' }
          ])
        }, 1000)
      })
    }
  }
}
</script>
