$theme-primary: #2897FF !default;
.chat-moment {
    padding: rem(20px);
    height: 100%;
}

.chat-moment-tabs {
    button.el-button {
        font-size: rem(16px);
        width: rem(120px);
        height: rem(36px);
        padding-top: 0;
        padding-bottom: 0;
        line-height: rem(36px);
    }
}

.chat-moment-item {
    padding: rem(15px);
    &:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }
    .chat-moment-avtor {
        float: left;
        width: rem(40px);
        height: rem(40px);
        background: #ccc;
    }
    .chat-moment-main {
        margin: 0 0 0 rem(55px);
    }
}

.chat-moment-user {
    font-size: rem(16px);
    line-height: rem(24px);
    color: #003E6C;
    text-align: left;
    h3 {
        margin-right: rem(100px);
    }
    em {
        font-size: rem(8px);
        color: #B3B3B3;
    }
}

.chat-moment-content {
    font-size: rem(16px);
    line-height: rem(24px);
    color: #151515;
    .icon-wechat-express {
        width: 12px;
        height: 12px;
        vertical-align: middle;
    }
}

.chat-moment-style {
    margin: rem(8px) 0;
}

.chat-moment-style-img9 {
    overflow: hidden;
    margin: rem(8px) 0;
    .sigle-img-container {
        height: rem(180px);
    }
    .multi-img-container {
        position: relative;
        width: 32%;
        height: 99px;
        float: left;
        margin-right: 2%;
        margin-bottom: rem(5px);
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3) {
            margin-bottom: 0;
        }
        .bg-img,
        img {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        img {
            z-index: 100;
            opacity: 0;
        }
    }
}

.chat-moment-style-info {
    overflow: hidden;
    margin: rem(8px) 0;
    padding: rem(8px) rem(10px);
    background: #F0F0F0;
    img {
        float: left;
        margin: 0 rem(4px) 0 0;
        width: rem(40px);
        height: rem(40px);
    }
    div {
        overflow: hidden;
        margin: rem(2px) 0 0;
        max-height: rem(36px);
        font-size: rem(14px);
        line-height: rem(18px);
        color: #151515;
    }
}

.chat-moment-style-video {
    margin: rem(8px) 0;
    video {
        display: block;
        // width: rem(100px);
        height: rem(180px);
        background: #ccc;
    }
}

.chat-moment-opts {
    margin: rem(8px) 0;
    overflow: hidden;
    .chat-moment-opt-btn {
        font-size: rem(14px);
        line-height: rem(24px);
        color: #587490;
    }
    .icon {
        float: left;
        margin: rem(5px) 0 0 rem(8px);
    }
}

.chat-moment-input {
    margin: rem(8px) 0;
    overflow: hidden;
    .chat-moment-input-btns {
        float: right;
        margin: rem(14px) 0 0;
        .el-button--text {
            color: #858585;
        }
    }
}

.chat-moment-comment {
    position: relative;
    background: #F1F4F6;
    &::before {
        content: '';
        position: absolute;
        top: rem(-20px);
        left: rem(60px);
        border-style: solid;
        border-color: transparent transparent #F1F4F6;
        border-width: rem(10px);
    }
}

.chat-moment-priase {
    padding: rem(10px);
    border-bottom: 1px solid #ddd;
    .icon-chat-praise {
        float: left;
        margin: rem(4px) rem(10px) 0 0;
    }
    .chat-moment-praise-list {
        overflow: hidden;
        font-size: rem(8px);
        line-height: rem(24px);
        color: #003E6C;
    }
}

.chat-moment-comment-list {
    padding: rem(5px) rem(10px);
}

.chat-moment-comment-item {
    margin: rem(4px) 0;
    font-size: rem(14px);
    color: #151515;
    cursor: pointer;
    word-break: break-all;
    em {
        color: #003E6C;
    }
    .icon-wechat-express {
        width: 12px;
        height: 12px;
        vertical-align: middle;
    }
}

.chat-moment-list {
    position: absolute;
    top: 58px;
    right: 0;
    bottom: 0;
    left: 0;
}