.wechat-custom-service {
  .main-right-side {
    .list-nonthing {
      margin-top: rem(20px);
      font-size: rem(16px);
      text-align: center;
    }

    .search-bar {
      .el-input {
        height: rem(32px);
        font-size: rem(12px);
        color: #B3B3B3;

        .el-input__inner {
          height: 100%;
          padding-right: rem(80px);
        }
      }

      .el-button {
        width: rem(56px);
        height: 100%;
        border-radius: 0 rem(4px) rem(4px) 0;
        right: 0;
        top: 0;
        padding: 0;
      }
    }

    .reply-msg {
      height: 100%;

      .template-type {
        height: rem(70px);
        line-height: rem(70px);

        .el-radio-button__inner {
          font-size: rem(16px);
          padding: rem(10px) rem(20px);
        }
      }

      .template-list {
        position: absolute;
        top: rem(60px);
        bottom: 0;
        left: 0;
        right: 0;
        padding: rem(10px);
        box-sizing: border-box;
        background: #fff;
        overflow: auto;
        text-align: left;
        line-height: 1;
        padding: 0 10px 100px 10px;
        @extend %set-scrollbar;

        .group-switch {
          font-size: rem(15px);
          color: #3A4762;
          padding: rem(10px) 0;
          cursor: pointer;

          i {
            &.rotate {
              transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              -webkit-transform: rotate(-90deg);
            }
          }
        }

        .group-list {
          cursor: pointer;
          font-size: rem(14px);

          .delete {
            color: red
          }

          .preview {
            color: #2d8cf0
          }

          .template-item {
            color: #858585;
            padding-top: rem(7px);
            padding-bottom: rem(7px);
            padding-left: rem(40px);

            &:hover {
              background: #F1F4F6;

              .preview-btn {
                display: block;
              }
            }

            .preview-btn {
              display: none;
            }

            i,
            span {
              vertical-align: middle;
            }

            .title {
              max-width: 80%;
              min-width: 70%;
              display: inline-block;
            }

            span {
              // display: inline-block;
              // width: auto;
              @extend %ellipse;
            }

            i {
              margin-right: rem(10px);
              width: rem(16px);
              height: rem(16px);
            }
          }
        }
      }
    }

    .ai-assistant {
      height: 100%;

      .template-typed {
        height: rem(70px);
        margin-top: rem(20px);
        width: 100%;
        display: flex;
        justify-content: space-around;

        .el-tabs__item {
          font-size: rem(16px);
        }
      }

      .el-tabs__content {
        position: absolute;
        top: rem(60px);
        bottom: 0;
        left: 0;
        right: 0;
        padding: rem(10px);
        box-sizing: border-box;
        background: #fff;
        overflow: auto;
        text-align: left;
        line-height: 1;
        @extend %set-scrollbar;
      }

      // .el-input__inner2 {
      //   width: 90%;
      // }

      .iconBox {
        color: #2897FF;
        font-weight: bold;
        font-size: rem(50px);
        vertical-align: middle;
        cursor: pointer;
      }
    }

    .customer-info,
    .group-info {
      height: 100%;
      padding-top: rem(10px);

      .info-header {
        background: #fff;
        padding: rem(20px) rem(10px);
        line-height: 1.2;

        .avator {
          width: rem(60px);
          float: left;
          margin-right: rem(20px);
        }

        .main {
          font-size: rem(14px);
          color: #858585;
          text-align: left;

          .nick-name {
            color: #3A4762;
          }

          .remark {
            margin-top: rem(5px);

            .content {
              max-width: rem(240px);
              margin-right: rem(10px);
              display: inline-block;
              vertical-align: middle;
            }

            .edit-btn {
              color: #2897FF;
              display: inline-block;
              vertical-align: middle;
            }
          }

          .wechat-id {
            margin-top: rem(5px);
          }
        }
      }
    }

    .customer-info {
      overflow: auto;
      box-sizing: border-box;
      @extend %set-scrollbar;

      .info-item {
        margin-top: rem(10px);
        padding: 0 rem(20px);
        color: #003E6C;
        background: #fff;

        .el-collapse {
          border-top: none;

          .el-collapse-add-line {
            .el-collapse-item__header {
              height: rem(55px);
              line-height: rem(55px);
              color: #003E6C;
              font-size: rem(16px);
            }

            .el-collapse-item__wrap {
              border-top: 1px solid #DDDDDD;
            }
          }
        }

        .save-flie {
          font-size: rem(14px);
          padding: rem(12px) rem(20px);
        }

        .el-form {
          .el-form-item {
            margin-top: rem(20px);

            .el-form-item__label {
              font-size: rem(14px);
              color: #454545;
            }

            .el-input__inner {
              font-size: rem(12px);
              color: #656565;
            }
          }

          .el-date-editor {
            width: 100% !important;
          }

          .el-cascader {
            width: 100% !important;
          }
        }

        .friend-tags {
          text-align: left;

          .el-tag {
            font-size: rem(12px);
            padding: 0 rem(8px);
            margin-right: rem(15px);
            margin-bottom: rem(10px);
            max-width: 100%;
          }
        }

        .new-tag {
          width: rem(150px);

          .el-input__inner {
            height: 20px;
            line-height: 20px;
            font-size: rem(12px);
            padding: 0 rem(5px);
          }
        }
      }
    }

    .group-info {
      box-sizing: border-box;

      .info-body {
        position: absolute;
        top: rem(135px);
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        padding-top: rem(15px);

        .search-bar {
          margin: 0 rem(10px);
        }

        .group-member-list {
          overflow: auto;
          position: absolute;
          top: rem(60px);
          left: 0;
          right: 0;
          bottom: 0;
          @extend %set-scrollbar;

          .member {
            padding: rem(10px) rem(20px);

            &:hover {
              background: #F1F4F6;
            }

            .avator {
              width: rem(40px);
              height: rem(40px);
              margin-right: rem(15px);
              float: left;
            }

            .nick-name {
              .name {
                line-height: rem(40px);
                height: rem(40px);
                color: #454545;
                font-size: rem(16px);
                max-width: rem(230px);
                display: inline-block;
                vertical-align: middle;
              }

              .identity {
                font-size: rem(12px);
                color: #FF786E;
                padding: rem(5px);
                border: 1px solid #FF786E;
                border-radius: rem(4px);
                display: inline-block;
                line-height: 1.2;
                margin-left: rem(15px);
              }

              .status-del {
                color: #858585;
              }
            }
          }
        }
      }
    }

    .collapse-item {
      .collapse-item__header {
        display: flex;
        display: -webkit-flex;
        height: rem(50px);
        line-height: rem(50px);
        color: #454545;
        font-size: rem(14px);
        cursor: pointer;

        i {
          margin: 0 rem(8px) 0 auto;
          line-height: rem(50px);
        }
      }
    }

    .chat-history {
      height: 100%;
      padding-top: rem(23px);
      box-sizing: border-box;

      .chatcontent-record-conent,
      .ly-cursor-point,
      .ly-record-textsize,
      .chatcontent-record-time,
      .chatcontent-record-customer,
      .ly-cursor-point,
      .ly-record-textsize,
      .chatcontent-record-time,
      .chatcontent-record-customer,
      .chatcontent-record-audio {
        font-size: 12px;
      }

      .datatime {
        height: 32px;
        width: 100%;
        font-size: 12px;

        .el-range__icon {
          line-height: 26px;
        }

        .el-range-separator {
          color: #3A4762;
          line-height: 26px;
        }

        .el-range-input {
          color: #454545;
          font-size: 14px;
        }
      }

      .search-bar {
        margin: rem(15px) 0 0;
      }

      .history-list {
        overflow-y: auto;
        position: absolute;
        top: rem(130px);
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;

        .chatcontent-record {
          @extend %set-scrollbar;
        }

        video {
          max-width: 115px;
        }

        .chat-file,
        .share-user-card {
          width: 100%;
        }

        .chatcontent-record-share-user-card {
          width: 57%;
        }
      }
    }
  }
}
