.my-favorites {
    background: black;
    .favorites-list {
        height: 100%;
        overflow-y: auto;
        @extend %set-scrollbar;
        .favorites-item {
            margin: 20px 20px 0;
            .item-content {
                color: #454545;
                font-size: 14px;
                img {
                    max-width: 100px;
                    max-height: 100px;
                }
                video {
                    max-width: 120px;
                }
            }
            .item-bottom {
                margin-top: 16px;
                padding-bottom: 16px;
                border-bottom: 1px solid #ddd;
                color: #B3B3B3;
                font-size: 14px;
                min-width: 230px;
                .send-btn {
                    margin-top: -8px;
                    padding: 6px 12px;
                    color: #2897FF;
                    font-size: 12px;
                    border: 1px solid #2897FF;
                }
                .del-btn {
                    margin-right: 6px;
                    margin-top: -8px;
                    padding: 6px 12px;
                    color: #F56C6C;
                    font-size: 12px;
                    border: 1px solid #F56C6C;
                    background: #fff;
                }
            }
        }
    }
    .audio {
        position: relative;
        width: 80px;
        height: 22px;
        border: 12px;
        background: #fff;
        border: 1px solid #A2A2A2;
        border-radius: 12px;
        .play {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 0;
            height: 0;
            transform: translate(-50%, -50%);
            border-style: solid;
            border-width: 6px 0 6px 10px;
            border-color: transparent transparent transparent #3A4762;
        }
        .playing {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 16px;
            transform: translate(-50%, -50%);
        }
    }
}