.new-red-packet {
	font-size: 16px;
	.el-dialog__body {
		padding: 30px;
	}
	.form-title {
		color: #3A4762;
	}
	.red-packet-form {
		padding-left: 20px;
		padding-right: 60px;
		.label-remark {
			color: #B3B3B3;
			font-size: 14px;
		}
		.el-input-number__decrease, .el-input-number__increase {
			line-height: 34px;
		}
		.el-input__inner {
			color: #656565;
			font-size: 16px;
			height: 36px;
		}
		.error-content {
			color: #f56c6c;
			font-size: 12px;
		}
	}
}