.push-assistant {
  max-width: 1280px;
  width: 90vw;
  margin-top: 8vh !important;
  .step-one {
    margin-bottom: 80px;
  }
  .el-dialog__body {
    box-sizing: border-box;
    padding: rem(25px) rem(50px) 0;
    max-height: 74vh !important;
  }
  .success-step {
    .is-finish {
      color: #44C89A;
    }
  }
  .center-line {
    height: 665px;
    border: 2px solid rgba(241,244,246,1);
    margin-top: 20px;
    border-radius: 2px;
  }
  .message-push-header {
    .is-process {
      color: #B3B3B3;
    }
    .el-step__head {
      &.is-process {
        border-color: #B3B3B3;
      }
    }
  }
  .left-form {
    width: 50% !important;
    padding-right: rem(40px);
  }
  .right-table {
    width: 50% !important;
    padding-left: rem(40px);
  }
  .left-form, .right-table {
    .btn-next, .at-pagination, .btn-prev {
      border: none;
    }
  }
  .choose-send-target {
    .search-form {
      font-size: rem(14px);
      margin-bottom: rem(24px);
      .el-form-item {
        margin-bottom: rem(20px);
        width: 100%;
      }
      .el-form-item__label {
        color: #454545;
      }
      .el-radio-button__inner {
        padding: rem(8px) rem(12px);
      }
      .el-select {
        margin-bottom: 0;
      }
      .account-select, .group-select {
        .el-select {
          width: 100%;
        }
      }
      .radio-select {
        .el-select {
          width: 72%;
        }
      }
      .account-select {
        .el-form-item__content {
          width: 78%;
        }
      }
      .group-select {
        .el-form-item__content {
          width: 86%;
        }
      }
      .radio-select {
        .el-form-item__content {
          width: 86%;
        }
      }
      .short-select {
        width: rem(180px);
        margin: 0;
      }
      .remark-select {
        .el-form-item__content {
          width: 80%;
        }
      }
      .search-btn {
        background: #2897FF;
        padding: rem(10px) rem(22px);
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
    .target-table-header {
      margin-bottom: rem(15px);
      .title-icon {
        width: rem(4px);
        height: rem(16px);
        background: #2897FF;
        margin-right: rem(14px);
      }
      .title {
        font-size: rem(16px);
        color: #003E6C;
      }
      .checkbox {
        font-size: rem(14px);
        color: #858585;
      }
    }
    .target-table {
      width: rem(550px);
    }
  }
  .bottom-option {
    left: rem(50px);
    right: rem(50px);
    bottom: 0;
    z-index: 1;
    padding-bottom: rem(30px);
    .target-type {
      .el-radio-button {
        &:not(.is-active) {
          .el-radio-button__inner {
            background: #f6f6f6;
            color: #454545;
          }
        }
        .el-radio-button__inner {
          border-radius: 0;
        }
      }
    }
    .next-btn {
      padding: 10px 15px;
    }
  }
  .ready-push {
    .time-range {
      color: #B3B3B3;
      .range-slider {
        position: absolute;
        left: 60px;
        right: 90px;
        top: 0;
      }
      .start {
        line-height: 1;
        padding: 8px 10px;
        border: 1px solid #B3B3B3;
        color: #858585;
        border-radius: 4px;
      }
      .max-time {
        margin-top: 5px;
      }
    }
    .add-tag {
      margin-top: 60px;
      padding-top: 40px;
      border-top: 1px solid #ddd;
      .el-input__inner {
        height: 32px;
        font-size: 14px;
      }
    }
    .btns {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
