<template>
  <el-form label-width="120px">
    <el-form-item label="敏感行为：">
      <p>{{details.riskActionInfo}}</p>
    </el-form-item>
    <el-form-item label="微信信息：">
      <div class="el-imgtxt-mix"
           v-if="details.wechatInfo">
        <div class="el-imgtxt-mix-img ly-wh-50px">
          <img :src="details.wechatInfo.headIcon" />
        </div>
        <div class="el-imgtxt-mix-txt">
          <p class="el-imgtxt-mix-p1">{{details.wechatInfo.nickName}}</p>
          <p class="el-imgtxt-mix-p2">{{details.wechatInfo.phone}}</p>
          <p class="el-imgtxt-mix-p3">{{details.wechatInfo.wxAccount}}</p>
        </div>
      </div>
    </el-form-item>
    <el-form-item label="微信当时设备：">
      <p>
        <span>{{details.eqName ||''}}</span>
        <span v-if="details.eqRemark">({{details.eqRemark}})</span>
      </p>
    </el-form-item>
    <el-form-item label="设备当时所属：">
      <p>{{details.eqOwnerStaffName}}</p>
    </el-form-item>
    <el-form-item label="好友信息：">
      <div class="el-imgtxt-mix"
           v-if="details.userOrGroupInfo">
        <div class="el-imgtxt-mix-img ly-wh-50px">
          <img :src="details.userOrGroupInfo.headIcon" />
        </div>
        <div class="el-imgtxt-mix-txt">
          <p class="el-imgtxt-mix-p1">{{details.userOrGroupInfo.nickName}}</p>
          <p class="el-imgtxt-mix-p2">{{details.userOrGroupInfo.wxAccount}}</p>
          <p class="el-imgtxt-mix-p3">{{details.userOrGroupInfo.wxId}}</p>
        </div>
      </div>
    </el-form-item>
    <el-form-item label="好友当时客服：">
      <p>{{details.staffName}}</p>
    </el-form-item>
    <el-form-item label="操作时间：">
      <p>{{fmt.date(details.createTime)}}</p>
    </el-form-item>
    <el-form-item label="敏感内容：">
      <p v-html="details.riskOption"></p>
    </el-form-item>
    <el-form-item label="处理结果：">
      <p><span>{{details.isNormal==1?'正常':'异常'}}</span>&ensp;{{details.status==1?'已处理':'待处理'}}</p>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dataInfo.open = false">关 闭</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
    import {
        riskManagementApi
    } from '@/api/system'

    export default {
        props: {
            dataInfo: {
                type: [Number, String, Object, Array],
                default: null
            }
        },
        data() {
            return {
                details: {}
            }
        },
        created() {
            this.detailsCallback(this.dataInfo.id)
        },
        methods: {
            // 详情
            detailsCallback(id) {
                riskManagementApi.sensitiveListDetails(id).then(res => {
                    res.riskOption = this.replaceHtml(res.riskOption, res.sensitiveWords)
                    this.details = res
                })
            },
            replaceHtml(str, arr) {
                let newStr = str
                arr.forEach(item => {
                    let newHtml = `<span class="colortip">${item}</span>`
                    newStr = newStr.replace(new RegExp(item, 'g'), newHtml)
                })
                return newStr || ''
            }
        }
    }
</script>