<template>
  <!-- 权限管理 -->
  <div>
    <!-- 风控名称 -->
    <div class="framework ly-bg-white">
      <div class="fra-header">
        <span class="ly-vertical-line ly-font-16 ly-vertical-middle ly-font-color-1 ly-font-weight-400">分控名称（已授权设备数量）</span>
      </div>
      <div class="fra-content ly-margin-top-sm">
        <div class="item">
          <span class="ly-font-14 ly-font-color-3">返回系统桌面（1）</span>
        </div>
        <div class="item">
          <span class="ly-font-14 ly-font-color-3">操作手机设备按钮（1）</span>
        </div>
        <div class="item">
          <span class="ly-font-14 ly-font-color-3">返回系统桌面（1）</span>
        </div>
        <div class="item">
          <span class="ly-font-14 ly-font-color-3">返回系统桌面（1）</span>
        </div>
        <div class="item">
          <span class="ly-font-14 ly-font-color-3">返回系统桌面（1）</span>
        </div>
        <div class="item">
          <span class="ly-font-14 ly-font-color-3">返回系统桌面（1）</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isChoiceNowIndex: true
    }
  },
  methods: {
    choiceFriend() {
      this.isChoiceNowIndex = !this.isChoiceNowIndex
    }
  }
}
</script>
<style lang="scss" scoped>
.framework {
  width: 319px;
  height: 600px;
  background-color: #fff;
}
.fra-header {
  position: relative;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px solid #dddddd;
}
.fra-content {
  overflow-y: scroll;
  height: 500px;
  .item {
    padding-left: 40px;
    margin-bottom: 28px;
  }
}
</style>
