<template>
  <div>
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">设备列表</span>
        </div>
        <span>
          <el-button class="ly-tableBtn"
                     type="primary"
                     @click="resetChecked">取消所选并保存</el-button>
          <el-button class="ly-tableBtn"
                     type="primary"
                     @click="setCheckedKeys">全选并保存</el-button>
          <el-button class="ly-tableBtn"
                     type="primary"
                     @click="saveChecked">保存</el-button>
        </span>
      </div>
      <div>
        <el-tree :data="data2"
                 show-checkbox
                 node-key="id"
                 ref="tree"
                 :default-expanded-keys="[1]"
                 :default-checked-keys="[1]">
        </el-tree>
      </div>
    </div>
  </div>
</template>

<script>
import Logger from '@/utils/logger'

export default {
  data() {
    return {
      data2: [{
        id: 1,
        label: '全选',
        children: [{
          id: 2,
          label: '二级 1-1'
        },
        {
          id: 3,
          label: '二级 1-1'
        },
        {
          id: 4,
          label: '二级 1-1'
        },
        {
          id: 5,
          label: '二级 1-1'
        }]
      }],
      defaultProps: {
        children: 'children',
        label: 'label'
      }
    }
  },
  methods: {
    // 全选
    setCheckedKeys() {
      this.$refs.tree.setCheckedKeys([1])
    },
    // 清空所选
    resetChecked() {
      this.$refs.tree.setCheckedKeys([])
    },
    // 保存所选
    saveChecked() {
      Logger.log(this.$refs.tree.getCheckedKeys())
      Logger.log(this.$refs.tree.getCheckedNodes())
    }
  }
}
</script>
<style scoped>
</style>
