<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.enterpriseName"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="企业名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="enterpriseName"
                         label="企业名称">
        </el-table-column>
        <el-table-column prop="adminPayTotal"
                         label="累计充值">
        </el-table-column>
        <el-table-column prop="totalNumSend"
                         label="代发红包支出">
        </el-table-column>
        <el-table-column prop="redpageMoney"
                         label="晒图活动支出">
        </el-table-column>
        <el-table-column prop="leftMoney"
                         label="剩余金额">
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="openCallback('detail',scope.row.id)">充值明细</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <!--充值明细 -->
    <vma-dialog v-model="dialog.open"
                title="充值明细">
      <RechargeDetail :dialog="dialog"
                      v-if="dialog.open"
                      @getTableList="getTableList(1,params.size)"></RechargeDetail>
    </vma-dialog>
  </div>
</template>

<script>
import { rechargeDetailsApi } from '@/api/sms'
import { tableMixin } from '@/mixins'
import RechargeDetail from './components/rechargeDetail'

export default {
  mixins: [tableMixin],
  components: { RechargeDetail },
  data() {
    return {
      activeNames: ['1'],
      dialog: {
        open: false,
        name: null,
        id: null
      }
    }
  },
  methods: {
    async requestTableList() {
      const data = await rechargeDetailsApi.getPacketsRechargeList(this.params)
      this.tableData = data
    },
    openCallback(key, id) {
      this.dialog.name = key
      this.dialog.id = id
      this.dialog.open = true
    }
  }
}
</script>
