<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.enterpriseName"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="请输入企业名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-input v-model.trim="params.message"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="接收好友/群"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-select v-model="params.model"
                     placeholder="红包模式"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="普通红包"
                       :value="1">
            </el-option>
            <el-option label="群红包"
                       :value="2">
            </el-option>
          </el-select>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange($event,'createStartTime','createEndTime')"
                          range-separator="至"
                          start-placeholder="发送开始日期"
                          end-placeholder="发送结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-date-picker v-model="date2"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange($event,'acceptStartTime','acceptEndTime')"
                          range-separator="至"
                          start-placeholder="领取开始日期"
                          end-placeholder="领取结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-select v-model="params.status"
                     placeholder="发送状态"
                     clearable
                     class="ly-margin-right-sm">
            <!-- 1未发送2发送成功3过期退款4领完-->
            <el-option label="未发送"
                       :value="1">
            </el-option>
            <el-option label="发送成功"
                       :value="2">
            </el-option>
            <el-option label="过期退款"
                       :value="3">
            </el-option>
            <el-option label="领完"
                       :value="4">
            </el-option>
          </el-select>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="enterpriseName"
                         label="企业名称"
                         fixed>
        </el-table-column>
        <el-table-column prop="id"
                         label="红包ID">
        </el-table-column>
        <el-table-column prop="realName"
                         label="发送员工"
                         width="150">
        </el-table-column>
        <el-table-column prop="sendCreateTime"
                         label="发送时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.sendCreateTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="totalNum"
                         label="发送金额"
                         width="150">
        </el-table-column>
        <el-table-column label="接收好友/群"
                         width="200">
          <template slot-scope="scope">
            <!-- 图文排行 -->
            <div class="ly-box ly-box-align-c-justify-s">
              <img :src="scope.row.acceptProfile | wechatAvtor"
                   alt=""
                   class="ly-wh-50px ly-margin-right-xs">
              <span>{{ scope.row.acceptName }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="领取者"
                         width="200">
          <template slot-scope="scope">
            <div class="ly-box ly-box-align-c-justify-s">
              <img :src="scope.row.receivePortrait | wechatAvtor"
                   alt=""
                   class="ly-wh-50px ly-margin-right-xs">
              <span>{{ scope.row.receiveName }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="redpageMoney"
                         label="领取金额"
                         width="150">
        </el-table-column>
        <el-table-column label="领取时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="title"
                         label="红包标题"
                         width="200">
        </el-table-column>
        <el-table-column label="红包模式"
                         width="150">
          <template slot-scope="scope">
            <!-- 红包模式 1普通红包 2群红包 -->
            {{scope.row.model===1?'普通红包':'群红包'}}
          </template>
        </el-table-column>
        <el-table-column prop="orderId"
                         label="购物订单号"
                         width="200">
        </el-table-column>
        <el-table-column prop="status"
                         label="发送状态"
                         width="150">
          <!-- 1未发送2发送成功3过期退款4领完 -->
          <template slot-scope="scope">
            <span v-if="scope.row.status==1">未发送</span>
            <span v-if="scope.row.status==2">发送成功</span>
            <span v-if="scope.row.status==3">过期退款</span>
            <span v-if="scope.row.status==4">领完</span>
          </template>
        </el-table-column>
        <el-table-column prop="remark"
                         label="备注"
                         fixed='right'>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
  </div>
</template>

<script>
import { rechargeDetailsApi } from '@/api/sms'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  data() {
    return {
      date2: '',
      activeNames: ['1']
    }
  },
  methods: {
    async requestTableList() {
      const data = await rechargeDetailsApi.getPacketsReceiveList(this.params)
      this.tableData = data
    }
  }
}
</script>
