<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.enterpriseName"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="企业名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-input v-model.trim="params.activityName"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="活动名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange"
                          range-separator="至"
                          start-placeholder="付款开始日期"
                          end-placeholder="付款结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-input v-model.trim="params.nickname"
                    @keyup.native.enter="getTableList(1,params.size)"
                    placeholder="领取者(微信昵称)"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-select v-model.trim="params.auditType"
                     placeholder="审核方式"
                     clearable
                     class="ly-margin-right-sm">
            <!-- 审核方式 1自动审核 2人工审核 -->
            <el-option label="自动审核"
                       :value="1">
            </el-option>
            <el-option label="人工审核"
                       :value="2">
            </el-option>
          </el-select>
          <el-input v-model.trim="params.staffNameOrAcc"
                    @keyup.native.enter="getTableList(1,params.size)"
                    placeholder="审核员工(账号/姓名)"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="enterpriseName"
                         label="企业名称"
                         fixed>
        </el-table-column>
        <el-table-column prop="payTime"
                         label="付款时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.payTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="redpageMoney"
                         label="支出金额（元）"
                         width="150">
        </el-table-column>
        <el-table-column label="领取者"
                         width="200">
          <template slot-scope="scope">
            <div class="ly-box ly-box-align-c-justify-s">
              <img :src="scope.row.wxProfile | wechatAvtor"
                   alt=""
                   class="ly-wh-50px ly-margin-right-xs"
                   v-image-view>
              <span>{{ scope.row.nickname }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="activityName"
                         label="活动名称"
                         width="150">
        </el-table-column>
        <el-table-column prop="orderNo"
                         label="订单编号"
                         width="200">
        </el-table-column>
        <el-table-column label="审核方式"
                         width="150">
          <template slot-scope="scope">
            <!-- 审核方式 1自动审核 2人工审核 -->
            {{scope.row.auditType===1?'自动审核':'人工审核'}}
          </template>
        </el-table-column>
        <el-table-column prop="staffName"
                         label="审核员工"
                         width="200"
                         fixed>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
  </div>
</template>

<script>
import { rechargeDetailsApi } from '@/api/sms'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  data() {
    return {
      activeNames: ['1']
    }
  },
  methods: {
    async requestTableList() {
      const data = await rechargeDetailsApi.getShowPictureList(this.params)
      this.tableData = data
    }
  }
}
</script>
