<template>
  <div>
    微客服红包记录--ui参照营销平台--红包营销--红包记录
  </div>
</template>

<script>

export default {
  data() {
    return {
      tableData: [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ],
      switchBool: false
    }
  },
  created() {
  },
  methods: {
    // 添加角色
    addCall() {
      alert('添加角色')
    }
  }
}
</script>
