<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
<div class="ly-clearfix">
    <el-input placeholder="请输入群名称/备注" class="ly-margin-right-bottom-sm" v-model.trim="params.group" @keyup.native.enter="search" :maxlength="100" clearable>
        <template slot="prepend">微信群</template>
    </el-input>
    <!--部门级联已经调整-->
    <departmenTreeCascadert v-model="departmentId" filterable clearable placeholder="员工所属部门" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
    <el-input placeholder="员工账号/姓名" class="ly-margin-right-bottom-sm" v-model.trim="params.staff" @keyup.native.enter="search" :maxlength="100" clearable>
        <template slot="prepend">所属员工</template>
    </el-input>
    <el-input placeholder="微信昵称/备注" class="ly-margin-right-bottom-sm" v-model.trim="params.account" @keyup.native.enter="search" :maxlength="100" clearable>
    </el-input>
    <el-input placeholder="输入公告内容关键词" class="ly-margin-right-bottom-sm" v-model.trim="params.notice" @keyup.native.enter="search" :maxlength="100" clearable>
    </el-input>
    <!-- button -->
    <div class="ly-float-right ly-margin-bottom-sm">
        <el-button class="ly-float-right ly-margin-right-sm plain" size="medium" @click="resetCallback">重置
        </el-button>
        <el-button class="ly-float-right ly-margin-right-sm mr-20" type="primary" size="medium" @click="search">查询
        </el-button>
    </div>
</div>
</el-collapse-item>
</el-collapse>
<!-- 数据列表 -->
<div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm">
    <div class="ly-margin-right-bottom-sm ly-font-16">列表展示所管理个人号为群主/管理员的群，过滤个人号为非群主的群</div>
    <!-- 表头 -->
    <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="showBulkModifyGroup"
                     v-if="hasResourceAction(RESOURCE_ACTION_MAP.GROUP_NOTICE_SETTING)">批量修改</el-button>
          <el-button type="info"
                     size="small"
                     @click="warningResourceAction"
                     v-else>批量修改</el-button>
        </span>
    </div>
    <!-- 表格 -->
    <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" class="ly-width-100" row-key="id" @clearSelection="clearSelection">
        <el-table-column fixed type="selection" reserve-selection :selectable="selectable" width="55"></el-table-column>
        <el-table-column label="群名称">
            <template slot-scope="scope">
            <p :title="scope.row.groupName" class="ly-max-height-40px ly-ellipsis2">{{ scope.row.groupName }}</p>
          </template>
        </el-table-column>
        <el-table-column label="群主">
            <template slot-scope="scope">
            <span>{{ scope.row.groupOwner }}</span>
          </template>
        </el-table-column>
        <el-table-column label="公告">
            <template slot-scope="scope">
            <p :title="scope.row.notice" class="ly-max-height-40px ly-ellipsis2">{{ scope.row.notice || '--' }}</p>
          </template>
        </el-table-column>
        <el-table-column label="所属部门">
            <template slot-scope="scope">
            <span>{{ scope.row.departmentName }}</span>
          </template>
        </el-table-column>
        <el-table-column label="所属员工">
            <template slot-scope="scope">
            <span>{{ (scope.row.staffAccount || '--') + '(' + (scope.row.staffName || '--' )  + ')'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="所属个人号">
            <template slot-scope="scope">
            <span>{{ scope.row.wechatAccountRemark || scope.row.wechatAccountNickName }}</span>
          </template>
        </el-table-column>
        <el-table-column label="备注">
            <template slot-scope="scope">
            <p :title="scope.row.remark" class="ly-max-height-40px ly-ellipsis2">{{ scope.row.remark || '-' }}</p>
          </template>
        </el-table-column>

        <el-table-column fixed="right" label="操作">
            <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="showModifyGroup(scope.$index, scope.row)"
                        :disabled="!scope.row.power"
                       v-if="hasResourceAction(RESOURCE_ACTION_MAP.GROUP_NOTICE_SETTING)">编辑公告</el-button>
            <el-button type="text"
                       size="small"
                       class="ly-font-color-11"
                       :disabled="!scope.row.power"
                       @click="warningResourceAction"
                       v-else>编辑公告</el-button>
          </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm" v-if="tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="search" />
    </div>
</div>
<el-dialog title="修改群公告" :visible="dialogEdit.show" @close="closeModifyGroup" append-to-body>
    <editAnnouncement v-if="dialogEdit.show" :data="dialogEdit.data" @on-cancel="closeModifyGroup" @after-submit="afterSubmitEdit"></editAnnouncement>
</el-dialog>
</div>
</template>

<script>
    import {
        departmenTreeCascadert
    } from '@/components/packages/system/lazyCascader'
    import editAnnouncement from './components/editAnnouncement'
    import {
        v2communityManage
    } from '@/api/system'
    import {
        tableMixin,
        resourceMixin
    } from '@/mixins'
    import {
        RESOURCE_ACTION_MAP
    } from '@/constants'

    export default {
        mixins: [tableMixin, resourceMixin],
        components: {
            departmenTreeCascadert,
            editAnnouncement
        },
        data() {
            return {
                RESOURCE_ACTION_MAP,
                activeNames: ['1'],
                dialogEdit: {
                    show: false,
                    data: null
                },
                departmentId: [],
                paramsSpecial: {
                    group: null,
                    departmentId: null,
                    staff: null,
                    account: null,
                    notice: null,
                    current: 1,
                    size: 10
                },
                params: {
                    group: null,
                    departmentId: null,
                    staff: null,
                    account: null,
                    notice: null,
                    current: 1,
                    size: 10
                },
                tableData: {
                    total: 0,
                    records: []
                }
            }
        },
        watch: {
            departmentId(val) {
                this.params.departmentId = val[val.length - 1] || null
            }
        },
        methods: {
            selectable(row, index) {
                if (row.power) {
                    return true
                } else {
                    return false
                }
            },
            async requestTableList() {
                let tableData = await v2communityManage.getGroupNoticeList(this.params)
                if (!tableData) return
                this.tableData = tableData
            },
            // 初始化之前对值做修改
            beforeResetCallback() {
                this.departmentId = []
            },
            // 单独修改
            showModifyGroup(index, row) {
                this.dialogEdit = {
                    show: true,
                    data: {
                        ids: [row.id],
                        detail: row
                    }
                }
            },
            warningResourceAction() {
                this.warn('您没有修改群公告的权限')
            },
            // 批量修改
            showBulkModifyGroup() {
                const ids = this.getTableSelection().map(v => v.id)
                if (ids.length === 0) {
                    return this.warn('请至少选择一个群')
                }
                this.dialogEdit = {
                    show: true,
                    data: {
                        ids
                    }
                }
            },
            closeModifyGroup() {
                this.dialogEdit = {
                    show: false,
                    data: null
                }
            },
            afterSubmitEdit() {
                this.closeModifyGroup()
                this.search(this.params.current)
            }
        }
    }
</script>