<template>
  <lazy-cascader v-model="modelValue"
                 :getDataFnOrDataList="getDataFn"
                 :options="mergedOptions"
                 @active-item-change="onActiveItemChange"
                 ref="lazyCascader" />
</template>

<script>
import lazyCascaderMixin from '@/components/packages/system/lazyCascader/components/mixin'
import { commonApi } from '@/api/common'
export default {
  mixins: [lazyCascaderMixin],
  methods: {
    // 返回级联下拉框第一级数据
    // 有包含children属性表示有下一级数据，否则不显示下一级选择按钮
    getDataFn() {
      return commonApi.provinceList().then(data => {
        return this.paramArr(data)
      })
    },
    // 每一个层级选中后都会触发该方法，对应的数据存储到children中
    // 如：选省市联动下拉框，在选择了xx省份后会触发该方法读取xx省份的下一级数据
    onActiveItemChange(data, list, resolve) {
      commonApi.cityList(data.value).then(resp => {
        data.children = (resp || []).map(v => this.convertData(v.id, v.name, v))
        resolve()
      })
    },
    paramArr(paramData, setChildren = true) {
      return paramData.map(v => {
        let item = this.convertData(v.id, v.name, v)
        if (setChildren) {
          item.children = []
        }
        return item
      })
    }
  }
}
</script>
