<template>
  <lazy-cascader v-model="modelValue"
                 :getDataFnOrDataList="getDataFn"
                 :options="mergedOptions"
                 :change-on-select="true"
                 @change="onChange"
                 ref="lazyCascader" />
</template>

<script>
import lazyCascaderMixin from '@/components/packages/system/lazyCascader/components/mixin'
import { customerServiceApi } from '@/api/chat'
export default {
  mixins: [lazyCascaderMixin],
  methods: {
    // 返回级联下拉框第一级数据
    // 有包含children属性表示有下一级数据，否则不显示下一级选择按钮
    getDataFn() {
      return customerServiceApi.getDepartmentList().then(data => {
        return this.paramArr(data)
      })
    },
    paramArr(paramData) {
      return paramData.map(v => {
        let item = this.convertData(v.id, v.name, v)
        return item
      })
    },
    onChange(val) {
      this.$emit('on-change')
    }
  }
}
</script>
