<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-date-picker v-model="params.date"
                      class="ly-margin-right-xs"
                      type="daterange"
                      size='small'
                      range-separator="至"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期"
                      :default-time="['00:00:00', '23:59:59']">
      </el-date-picker>
      <!-- button -->
      <el-button type="primary"
                 size="small"
                 class="ly-margin-right-xs"
                 @click="queryCallback">搜索
      </el-button>
      呼叫类型
      <el-select v-model="selectValue"
                 placeholder="请选择"
                 class="ly-margin-right-xs"
                 style="width:150px"
                 size='small'>
        <el-option v-for="item in params"
                   :key="item.value"
                   :label="item.label"
                   :value="item.value">
        </el-option>
      </el-select>
      <el-input v-model="input"
                size='small'
                style="width:300px"
                placeholder="请输入关键字筛选"></el-input>

    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="IMEI">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="设备备注"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            <i class="ico_weChat"></i>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="呼叫类型"
                         width="200">
        </el-table-column>
        <el-table-column prop="name"
                         label="呼入呼出次数">
        </el-table-column>
        <el-table-column label="总呼叫时间">
          <template slot-scope="scope">
            <span :class="{'ly-font-color-5':scope.row.name}">{{ scope.row.name }}</span>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      params: [{
        value: '全部',
        label: '全部'
      }],
      tableData: [],
      selectValue: '全部',
      input: ''
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    },
    exportData() {
      console.log('exportData')
    }
  }
}
</script>
