<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <!-- button -->
      <el-button type="primary"
                 size="small"
                 @click="queryCallback">查询
      </el-button>
      <el-button type="primary"
                 size="small"
                 @click="exportData">导出</el-button>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="微信备注"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            <i class="ico_weChat"></i>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="微信设备所属用户"
                         width="200">
        </el-table-column>
        <el-table-column prop="name"
                         label="微信设备备注">
        </el-table-column>
        <el-table-column label="群总数量">
        </el-table-column>
        <el-table-column label="30天新增">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      params: [{
        value: '已通过好友',
        label: '已通过好友'
      }, {
        value: '未通过好友',
        label: '未通过好友'
      }],
      tableData: [],
      selectValue: '已通过好友'
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    },
    exportData() {
      console.log('exportData')
    }
  }
}
</script>
