<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-select v-model="selectValue"
                 placeholder="请选择"
                 class="ly-margin-right-xs"
                 size='small'>
        <el-option v-for="item in params"
                   :key="item.value"
                   :label="item.label"
                   :value="item.value">
        </el-option>
      </el-select>
      <!-- button -->
      <el-button type="primary"
                 size="small"
                 @click="queryCallback">刷新
      </el-button>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="微信群备注"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            <i class="ico_weChat"></i>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="昨日对话总数"
                         width="200">
        </el-table-column>
        <el-table-column prop="name"
                         label="昨日客服对话总数">
        </el-table-column>
        <el-table-column label="30天对话总数">
          <template slot-scope="scope">
            <span :class="{'ly-font-color-5':scope.row.name}">{{ scope.row.name }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="30天客服对话总数">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      params: [],
      tableData: [],
      selectValue: ''
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    },
    exportData() {
      console.log('exportData')
    }
  }
}
</script>
