<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.staff_name"
                    :maxlength="100"
                    @keyup.native.enter="getTableList(1)"
                    placeholder="操作者"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1, 10)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>

        <span class="ly-margin-top-nge-4">
          <el-button type="primary" size="small" @click="exportCallback">导出</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="staffName"
                         label="操作者">
        </el-table-column>
        <el-table-column label="操作日期">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="operationInfo"
                         label="操作记录">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { operationLogApi } from '@/api/system/index.js'
import { tableMixin } from '@/mixins'
import { downloadFile } from "@/utils";

export default {
  mixins: [tableMixin],
  data() {
    return {
      activeNames: ['1'],
      params: {
        staff_name: ''
      },
      date: '',
      tableData: []
    }
  },
  methods: {
    /**
     * 日期格式转换
     */
    dateChange(val) {
      if (!val) {
        this.params.beg_time = ''
        this.params.end_time = ''
      } else {
        this.params.beg_time = new Date(val[0]).getTime()
        this.params.end_time = new Date(val[1]).getTime()
      }
    },
    /**
     * 获取操作日志列表信息
     */
    async requestTableList() {
      await operationLogApi.getOperationLogList(this.params).then((res) => {
        this.tableData = res
      })
    },
    // 导出
    exportCallback() {
      operationLogApi.operationLogExport(this.params).then(res => {
        downloadFile(res, "日志统计.xls");
        this.success("恭喜你，导出成功");
      });
    },
  }
}
</script>
