<template>
  <el-form :model="dialog.data"
           ref="dialog"
           :rules="rules"
           label-width="136px">
    <el-form-item label="菜单名称："
                  prop="title">
      <el-input autocomplete="off"
                placeholder="请输入菜单名称"
                class="ly-width-280px-im"
                :maxlength="20"
                v-model.trim="dialog.data.title"></el-input>
    </el-form-item>
    <el-form-item label="资源编码："
                  prop="code">
      <el-input autocomplete="off"
                placeholder="请输入资源编码"
                class="ly-width-280px-im"
                :maxlength="20"
                v-model.trim="dialog.data.code"></el-input>
    </el-form-item>
    <el-form-item label="排序序号："
                  prop="sort">
      <el-input autocomplete="off"
                placeholder="请输入排序序号"
                class="ly-width-280px-im"
                :maxlength="20"
                v-model.trim="dialog.data.sort"></el-input>
    </el-form-item>
    <el-form-item label="菜单图标：">
      <vma-image-upload v-model="imgList"
                        :limit="1"
                        :exts="['png', 'jpg','jpeg']"
                        :singleFileSize="10" />
    </el-form-item>
    <el-form-item label="路由名称：">
      <el-input autocomplete="off"
                placeholder="请输入路由名称"
                class="ly-width-280px-im"
                :maxlength="50"
                v-model.trim="dialog.data.url"></el-input>
    </el-form-item>
    <el-form-item label="描述：">
      <el-input autocomplete="off"
                placeholder="请输入描述"
                class="ly-width-280px-im"
                :maxlength="50"
                v-model.trim="dialog.data.description"></el-input>
    </el-form-item>
    <el-form-item label="状态：">
      <el-switch v-model="dialog.data.status"
                 active-color="#4CD964"
                 :active-value="1"
                 :inactive-value="0">
      </el-switch>
      <span class="ly-margin-left-5px">{{dialog.data.status?'显示':'隐藏'}}</span>
    </el-form-item>
    <el-form-item>
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('dialog')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { commonApi } from '@/api/common'

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      imgList: [],
      rules: {
        title: [
          { required: true, message: '请填写菜单名称', trigger: 'blur' }
        ],
        code: [
          { required: true, message: '请填写资源编码', trigger: 'blur' }
        ],
        sort: [
          { required: true, message: '请填写排序序号', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    // 弹窗-确定
    sureCallback(formName) {
      if (this.imgList.length > 0) {
        this.dialog.data.menuIcon = this.imgList[0]
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.dialog.isEdit) {
            this.editCallback()
          } else {
            this.addCallback()
          }
        } else {
          return false
        }
      })
    },
    // 新增
    addCallback() {
      commonApi.menuAdd(this.dialog.data).then(res => {
        this.success('恭喜你，新增成功')
        this.dialog.open = false
        // this.$emit('getMenuList')
      })
    },
    // 编辑
    editCallback() {
      delete this.dialog.data.node
      commonApi.menuEdit(this.dialog.data).then(res => {
        this.success('恭喜你，编辑成功')
        this.dialog.open = false
        // this.$emit('getMenuList')
      })
    }
  }
}
</script>
