<template>
<div class="ly-box-1 ly-margin-left-20px">
    <div class="ly-box ly-margin-top-36pxrem">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
        <span class="ly-vertical-line">好友地区统计 共{{num}}（人）</span>
        </div>
    </div>
      <div class="ly-echarts-wrapper">
        <div class="ly-echarts-content">
          <div ref="chart" class="ly-echarts-height-full ly-border-DDD-1 ly-paddingleft-10px"></div>
        </div>
      </div>
</div>
</template>

<script>
import echarts from 'echarts'
import '@static/js/echarts/china'
import options from './src/options'
import provinces from '@/assets/js/provinces'
import { homeApi } from '@/api/oms'

import { echartResizeMixin } from '@/mixins'
export default {
  mixins: [echartResizeMixin],
  data() {
    return {
       params:{
        enterpriseId:''
      },
      chart: null,
      num: 0
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart()
    })
  },
  methods: {
    buildChart(m) {
       this.params.enterpriseId = m
       homeApi.getProvinceNum(this.params).then(data => {
        const dataMap = {}
        let sum = 0
        let suffixArr = ['市', '省', '维吾尔自治区', '特别行政区', '自治区', '壮族自治区', '回族自治区']
        data.forEach(v => {
          for (let i = 0; i < suffixArr.length; i++) {
            if ((v.name).indexOf(suffixArr[i]) !== -1) {
              v.name = v.name.replace(suffixArr[i], '')
            }
          }
          dataMap[v.name] = v
          sum += v.value
        })
        this.num = sum
        options.series[0].data = provinces.map(v => {
          return dataMap[v.name] || { ...v, value: 0 }
        })
        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        this.chart.setOption(options)
      })
    }
  }
}
</script>
