<template>
  <div class="ly-bg-white">
    <div class="ly-padding-sm">
      <div class="ly-margin-vertical-3px">该功能仅支持单群各自开启配置，可在<b>【群管理-操作-群设置】</b>中进行开启和关闭，开启后，所有群的群成员咨询关键内容系统将自动回复对应内容。</div>
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">新消息自动回复</span>
        </div>
        <span class="ly-margin-top-nge-4 ly-collapse">
          <el-input class="ly-margin-right-sm ly-width-214px"
                    placeholder="请输入匹配词或者回复内容"
                    v-model.trim="params.text"
                    :maxlength="100"
                    @keyup.native.enter="searchMessage"
                    clearable></el-input>
          <el-button type="primary"
                     size="small" @click="searchMessage">查询</el-button>
          <el-button type="primary"
                     size="small"
                     :disabled="hasAction?false:true"
                     @click="addOrModifyGMessageRuleAddDialog(1)">新增规则</el-button>
        </span>
      </div>
      <!--<div class="ly-margin-bottom-sm">-->
        <!--<el-button-group>-->
          <!--<el-button :type="params.ruleType==ruleType[0]?'primary':''"-->
                     <!--@click="toggleRuleType(ruleType[0])">私有规则</el-button>-->
          <!--<el-button :type="params.ruleType==ruleType[1]?'primary':''"-->
                     <!--@click="toggleRuleType(ruleType[1])">公共规则</el-button>-->
        <!--</el-button-group>-->
      <!--</div>-->
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="匹配模式">
          <template slot-scope="scope">
            <span>{{ matchModel[scope.row.matchModel] }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="matchWord"
                         label="关键词">
          <template slot-scope="scope">
            <span class="ly-font-color-9">{{ scope.row.matchWord }}</span>
          </template>
        </el-table-column>
        <el-table-column label="回复内容" align="center">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row.replyMsg[0]" v-if="scope.row.replyMsg.length===1"></videoAudioImg>
            <div v-else><el-button type="text" @click="showDetailInfo(scope.row.replyMsg)">{{scope.row.replyMsg.length?scope.row.replyMsg.length+'条消息':'--'}}</el-button></div>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       :disabled="hasAction?false:true"
                       @click="addOrModifyGMessageRuleAddDialog(2, scope.$index, scope.row)">编辑</el-button>
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small"
                       :disabled="hasAction?false:true"
                       @click="delRules(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
    </div>
    <!--新增/编辑规则-->
    <el-dialog :title="addOrModifyDialogInfo.type === 1 ? '新增规则' : '编辑规则'" :visible.sync="addOrModifyDialogInfo.show" width="880px" v-if="addOrModifyDialogInfo.show" @close="closeMessageDialog" append-to-body>
      <autoMaticRecoveryRuleAdd :dialogProp="addOrModifyDialogInfo"  @closeDialog="closeMessageDialog" @refreshTabelList="refreshRuleTabelList"></autoMaticRecoveryRuleAdd>
    </el-dialog>
    <!--显示消息详情-->
    <el-dialog title="关键内容" :visible.sync="showDetail.show" width="880px" v-if="showDetail.show" append-to-body>
      <el-table ref="multipleTable2"
                :data="showDetail.tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="回复类型"
                         width="160">
          <template slot-scope="scope">
            <span>消息{{scope.$index+1}}({{ msgType[scope.row.msgType] }})</span>
          </template>
        </el-table-column>
        <el-table-column label="消息内容">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import videoAudioImg from '@/components/common/videoAudioImg'
import autoMaticRecoveryRuleAdd from './components/automaticRecovery/autoMaticRecoveryRuleAdd.vue'
import { MESSAGE_TPYE, MESSAGE_TPYE_KEY } from '@/constants/messageType'
import { tableMixin, resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
export default {
  mixins: [tableMixin, resourceMixin],
  components: { videoAudioImg, autoMaticRecoveryRuleAdd },
  data() {
    return {
      msgType: MESSAGE_TPYE,
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      ruleType: [1, 2],
      matchModel: {
        1: '包含所有词',
        2: '包含任意词',
        3: '和任意词完全相同'
      },
      params: {
        ruleType: 2,
        text: ''
      },
      tableData: {},
      addOrModifyDialogInfo: {},
      dialogGMessageRuleModify: {},
      showDetail: {
        show: false,
        tableData: []
      }
    }
  },
  computed: {
    // 是否拥有权限
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.COMMON_AOTU_REPLY)
    }
  },
  created() {},
  methods: {
    /**
     * 自动回复列表--获取
     */
    async requestTableList() {
      await v2communityManage.getAutoRecoveryRecords(this.params).then((data) => {
        data.records.forEach(item => {
          item.replyMsg.forEach(o => {
            o.msgSource = o.msgText
            if (o.msgType === 4) {
              o.vedioImg = o.coverInfo
            }
          })
        })
        this.tableData = data
      })
    },
    /**
     * 自动回复列表--切换规则
     */
    toggleRuleType(typeVal) {
      this.params.ruleType = typeVal
      this.params.text = ''
      this.getTableList(1)
    },
    /**
     * 自动回复列表--搜索
     */
    searchMessage() {
      this.getTableList(1)
    },
    /**
     * 自动回复列表--删除确认
     */
    delRules(index, data) {
      this.$confirm('确定删除该新消息自动回复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.msgRuleDelete(index, data)
      }).catch(() => {})
    },
    /**
     * 自动回复列表--删除请求
     */
    async msgRuleDelete(index, data) {
      await v2communityManage.delAutoRecoveryRecords(data.id).then(() => {
        this.success('删除成功!')
        this.getTableList()
      })
    },
    /**
     * 规则--新增--弹窗--关闭
     */
    closeMessageDialog() {
      this.addOrModifyDialogInfo = {}
    },
    /**
     * 规则--新增/编辑--弹窗--显示
     */
    addOrModifyGMessageRuleAddDialog(type, index, data) {
      this.addOrModifyDialogInfo = {
        show: true,
        type: type,
        data: data
      }
    },
    /**
     * 列表--刷新
     */
    refreshRuleTabelList() {
      this.getTableList(1)
      this.closeMessageDialog()
    },
    showDetailInfo(arr) {
      this.showDetail = {
        show: true,
        tableData: arr
      }
    }
  }
}
</script>
