<template>
  <div class="ly-bg-white ly-padding-sm">
    <div class="ly-padding-sm">
      <el-radio-group v-model="autoPassCut"
                      @change='radioChange'
                      style="margin-bottom: 30px;">
        <el-radio-button label="auto">自动通过</el-radio-button>
        <el-radio-button label="record">通过记录</el-radio-button>
      </el-radio-group>
      <div>
        <AutoComponent v-if="autoPassCut==='auto'"></AutoComponent>
        <RecordComponent v-if="autoPassCut==='record'"></RecordComponent>
      </div>
    </div>
  </div>
</template>
<script>
import AutoComponent from './components/automaticPassing/autoComponent' // 复制到剪贴板
import RecordComponent from './components/automaticPassing/recordComponent' // 复制到剪贴板

export default {
  components: { AutoComponent, RecordComponent },
  data() {
    return {
      autoPassCut: 'auto'
    }
  },
  methods: {
    radioChange(val) {
      this.autoPassCut = val
    }
  }
}
</script>
<style scoped>
</style>
