// px 转换成 rem
// $px 带px单位
$font-size-root: 20px;

@function rem($px) {
  @return #{$px/$font-size-root}rem;
}

.ly-block-list {
  font-size: rem(100px);
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-top: rem(20px);
  line-height: rem(150px);

  .ly-item {
    width: 8%;
    float: left;
    margin-left: 1.2%;
    background: linear-gradient(#66D8AD, #24C7A9);

    &:first-child {
      margin-left: 0;
    }
  }
}

.ly-block-lay {
  margin-top: rem(20px);

  .ly-item-lay {
    width: 49.3%;
    background-color: #fff;
  }

  &.ly-kidney {
    .ly-item-lay-left {
      width: 52.3%;
    }

    .ly-item-lay-right {
      width: 46.3%;
    }
  }

  .ly-item-lay-left {
    float: left;
  }

  .ly-item-lay-right {
    float: right;
  }

  .ly-block-list-sm {
    font-size: rem(50px);
    font-weight: bold;
    text-align: center;
    color: #3A4762;

    .ly-item {
      width: 25%;
      float: left;
      padding-top: rem(20px);
    }

    .ly-remarks {
      color: #656565;
      font-size: 18px;
      font-weight: normal;
    }
  }
}

.ly-sidebar {
  width: 300px;
  background-color: #fff;

  .title {
    margin: 0 rem(20px);
    padding: rem(20px) 0;
    position: relative;
    font-size: 16px;
    color: #003e6c;
    border-bottom: 1px solid #dddddd;
  }

  .ly-sidebar-list {
    margin-top: rem(20px);
    font-size: 14px;
    color: #858585;

    .ly-box {
      width: auto;

      .ly-box-1 {
        min-width: 130px;
        margin-right: 10px;
      }
    }

    .ly-sidebar-item {
      padding: rem(15px) rem(20px);
      cursor: pointer;

      &.active {
        background-color: #E9E9E9;
      }

      .photo {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 35px;
      }
    }
  }
}

.basic-lay {
  font-size: 14px;
  color: #656565;

  .basic-image {
    margin-right: 30px;
  }

  .basic-info {
    >p {
      margin-bottom: 4px;
    }
  }

  .basic-contact {
    margin: 30px 0 0 140px;

    >p {
      margin-bottom: 20px;
    }

    .val {
      color: #151515;
    }
  }

  .basic-methods {
    margin-top: 26px;

    .basic-item {
      min-width: 130px;
      min-height: 66px;
      float: left;
      background-color: #F6F6F6;
      margin: 0 30px 30px 0;
      padding: 10px;

      p {
        line-height: 22px;
      }
    }
  }
}

.business {
  .demo-ruleForm .el-input {
    margin-right: 10px;
    width: 240px;
    vertical-align: top;
  }

  .ly-tip {
    color: #B3B3B3;
    font-size: 12px;
    line-height: 14px;
  }

  .ruleForm-sm .el-input,
  .ruleForm-sm .el-textarea,
  .ruleForm-sm .ly-el-lay {
    width: 354px;
  }

  .ruleForm-xs .el-input,
  .ruleForm-xs .el-input-number,
  .ruleForm-xs .ly-el-lay,
  .ruleForm-xs .is-controls-right {
    width: 100px;
  }
  .ruleForm-ss .el-input,
  .ruleForm-ss .el-input-number,
  .ruleForm-ss .ly-el-lay {
    width: 180px;
  }
  .block .el-radio{
    display: block;
    margin: 12px 0;
  }
  .menuSty {
    width: 566px;

    .ly-padding-15-20px {
      padding: 0px rem(20px);
    }

    .ly-padding-15 {
      padding: 0;
    }

    .detail-margin-top {
      margin-top: 20px;
    }

    >div:first-child .detail-margin-top {
      margin-top: 0;
    }
  }

  .ly-margin-right-bottom-sm {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.demo-dynamic .el-input {
  margin-right: 10px;
  width: 80%;
  vertical-align: top;
}

.ly-search-lay {

  .el-button,
  .el-range-editor--mini {
    height: 32px;
  }

  .el-range-editor--mini .el-range-separator {
    line-height: 24px;
  }
}

.ly-nav-menu {
  width: 120px;
  display: inline-block;
  border: 1px solid #D2D7DC;
  text-align: center;
  color: #B3B3B3;
  font-size: 14px;
  border-radius: 5px;
  margin: 30px 40px;

  .ly-item {
    height: 44px;
    line-height: 44px;
    border-top: 1px solid #D2D7DC;
    cursor: pointer;

    &:first-child {
      border-top: 0;
    }

    &.ly-active {
      color: #454545;
      background-color: #F2F5F8;
    }
  }
}

.avatar-uploader {
  .el-upload {
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover {
      border-color: #409eff;
    }
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }

  .avatar {
    width: 60px;
    height: 60px;
    display: block;
  }
}
