<template>
  <div class="ly-margin-right-30px">
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <div class="ly-height-max-50vh ly-scroll-y">
        <messageOfTxtImgAudVido
          ref="messageEles"
          :textLimit="1500"
          :info="modifyObj" :limit="1"></messageOfTxtImgAudVido>
      </div>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import { messageOfTxtImgAudVido } from '@/components/common/messageAdd'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'
import { txtImgAudVideoInitDataMixin, msgTIAVSubmitMessage } from '@/mixins'
export default {
  mixins: [txtImgAudVideoInitDataMixin, msgTIAVSubmitMessage],
  components: { messageOfTxtImgAudVido },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      formLabelWidth: '136px',
      modifyObj: {},
      params: {
        msgText: '',
        msgType: '',
        id: '',
        coverInfo: '',
        voiceLength: null
      },
      rules: {}
    }
  },
  created() {
    if (this.dialogProp.type === 2) {
      this.params.id = this.dialogProp.data.id
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    closeDialog() {
      this.$emit('closeDialog')
    },
    /**
     * 保存
     */
    submitInfo() {
      let info = this.$refs.messageEles.getMessageInfo()
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (info) {
            /**
             * 保存--消息的内容--在mixins/src/msgTIAVSubmitMessage文件下方法SubmitMessage
             */
            this.submitMessage(info)
          } else {
            return false
          }
        } else {
          return false
        }
      })
    },
    /**
     * 新增--保存
     */
    async submitAddInfo() {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.params.msgType !== MESSAGE_TPYE_KEY.VIDEO) {
        delete params.coverInfo
      }
      if (this.onlyGet(params)) return
      await v2communityManage.addGreetingGroupRecord(params).then((res) => {
        this.success('新增成功')
        this.closeDialog()
        this.$emit('refresh', this.params)
      })
    },
    /**
     * 修改--保存
     */
    async submitModifyInfo() {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.onlyGet(params, 'edit')) return
      await v2communityManage.modifyGreetingGroupRecord(params).then((res) => {
        this.success('修改成功')
        this.closeDialog()
        this.$emit('refresh')
      })
    },
    /**
     * 是否只取结果，不发送给服务端进行保存
     * @return {[type]} [description]
     */
    onlyGet(params, type) {
      if (this.dialogProp.onlyGet) {
        this.$emit('getMsg', params)
        return true
      }
    }
  }
}
</script>
