<template>
  <!--TODO 监听切换请求数据-->
  <div class="ai-assistant">
    <div class="template-typed">
      <el-tabs v-model="templateType" type="card" @tab-click="handleClick">
        <el-tab-pane name="first" v-if="activeChatFriendInfo && activeChatFriendInfo.type === SESSION_TYPE.C2C && adminInfo.isXunFeiUser == '1'">
          <el-tooltip class="item-tabs" effect="dark" content="根据客户意图，AI实时推荐员工的可使用话术" placement="bottom-start" slot="label">
            <span>AI推荐</span>
          </el-tooltip>
          <child1></child1>
        </el-tab-pane>
        <el-tab-pane name="third">
          <el-tooltip class="item-tabs" effect="dark" content="个人优秀话术答案填充库，填充完成后AI推荐根据客户意图优先推荐个人优秀话术答案" placement="bottom-start" slot="label">
            <span>AI话术库</span>
          </el-tooltip>
          <child4 ref="child4"></child4>
        </el-tab-pane>
        <el-tab-pane name="four">
          <el-tooltip class="item-tabs" effect="dark" content="坐席自己维护的常用话术内容" placement="bottom-start" slot="label">
            <span>话术收藏夹</span>
          </el-tooltip>
          <child3 ref="child3"></child3>
        </el-tab-pane>
        <el-tab-pane name="second">
          <el-tooltip class="item-tabs" effect="dark" content="全司通用话术问答库" placement="bottom-start" slot="label">
            <span>知识库</span>
          </el-tooltip>
          <child2></child2>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>
<script>
import aiRecommend from './components/aiRecommend'
import companyLibrary from './components/companyLibrary'
import personalLibrary from './components/personalLibrary'
import aiAnswer from './components/aiAnswer'
import { mapGetters } from 'vuex'
import { SESSION_TYPE } from '@/constants/chat'
export default {
  name: 'template-typed',
  components: {
    child1: aiRecommend,
    child2: companyLibrary,
    child3: personalLibrary,
    child4: aiAnswer

  },
  data () {
    return {
      // 默认Ai推荐
      templateType: 'first',
      SESSION_TYPE,
      personData: {
        third: 'third'
      }
    }
  },
  computed: {
    ...mapGetters([
      'activeChatAccountInfo',
      'activeChatFriendInfo',
      'adminInfo'
    ])
  },
  watch: {
    activeChatFriendInfo (val, oldValue) {
      if (!val || (val && !val.id) || (oldValue && oldValue.id === val.id)) { return }
      this.templateType = 'first'
    }
  },
  mounted () {
  },
  methods: {
    handleClick (tab) {
      if (tab.name === 'four') {
        this.$refs.child3.searchQuickMsg()
      } else if (tab.name === 'third') {
        this.$refs.child4.querySpeechs()
      }
    }
  }

}
</script>
