<template>
  <li>
    <div class="group-switch cursor" @click="openGroup">
      <i :class="groupsOpenStatus ? 'el-icon-caret-bottom' : 'el-icon-caret-right'"></i>
      <span class="group-name">
        {{data.groupName}}（{{data.count}}个）
      </span>
    </div>
    <template v-if="data.count > 0 && tableList">
      <div v-show="groupsOpenStatus">
        <div v-if="loading" class="text-c">
          <i class="el-icon-loading text-c mr-10"></i>
          <span class="fc9">请稍候...</span>
        </div>
        <ul ref="friendList" @click="proxyTapFriend" @contextmenu.prevent="proxyShowContextmenu">
          <template v-for="(it, idx) in tableList">
            <li class="friend-item" :key="it.wechatAccountId + '' + it.type + '' + it.id" :data-friend="it.wechatAccountId + '-' + it.wxId" :data-idx="idx" ref="friendItem">
              <img :src="it.headIcon | wechatAvtor" class="fl user-avtor" />
              <div class="info">
                <div class="nick-name ellipsis" :title="it.remark ? it.remark + '(' + it.name + ')' : it.name">{{it.remark ? it.remark + '(' + it.name + ')' : it.name}}</div>
              </div>
            </li>
          </template>
        </ul>
        <div v-if="originalList.showCount < originalList.data.length" class="tc">
          <a href="javascript: void(0);" class="fc9 cursor" @click="loadMoreTableList">加载更多</a>
        </div>
      </div>
    </template>
  </li>
</template>

<script>
import {
  mapGetters
} from 'vuex'
import requestIdMixins from '@/pages/chat/home/src/requestIdMixins'
import {
  v2CustomerServiceApi
} from '@/api/chat'
import {
  detailMixin
} from '@/mixins'
import Logger from '@/utils/logger'
import {
  addClass,
  hasClass
} from '@/utils'

export default {
  props: {
    index: {
      type: Number,
      default () {
        return 0
      }
    },
    accountMap: {
      type: Object,
      default: () => {
        return {}
      }
    },
    queryData: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  mixins: [
    requestIdMixins,
    detailMixin
  ],
  data () {
    return {
      groupsOpenStatus: false,
      params: {
        // 个人号id
        wechatAccountId: null,
        // 备注/昵称/标签
        relatesInformation: null,
        groupId: null,
        groupType: null
      },
      tableList: [],
      loading: true,
      originalList: {
        data: [],
        showCount: 0,
        size: 1000
      }
    }
  },
  computed: {
    ...mapGetters([
      // 'activeChatAccountInfo',
      'activeChatFriendInfo'
    ])
  },
  watch: {
    'queryData' (val) {
      this.afterQueryData(val)
    }
  },
  created () {
    this.afterQueryData(this.queryData)
  },
  methods: {
    afterEntity (entity) {
      this.params = Object.assign({}, this.params, this.queryData, {
        groupId: entity.id,
        groupType: entity.groupType
      })
    },
    // 修改搜索参数
    afterQueryData (queryData) {
      this.params = Object.assign({}, this.params, this.queryData)
    },
    // 获取分组中的好友
    async openGroup () {
      this.groupsOpenStatus = !this.groupsOpenStatus
      if (this.tableList.length > 0) return
      const requestID = this.getChatRequestID()
      let params = Object.assign({}, this.params)
      let list
      try {
        list = await v2CustomerServiceApi.getAccountCustomerListUser(params)
      } catch (error) { }
      if (requestID !== this.getChatRequestID()) return
      this.loading = false
      if (!list) {
        return
      }
      this.originalList.data = list
      this.loadMoreTableList()
    },
    // 分页加载列表数据
    loadMoreTableList () {
      let begin = this.originalList.showCount
      let end = begin + this.originalList.size
      this.tableList = this.tableList.concat(this.originalList.data.slice(begin, end))
      this.originalList.showCount = end
    },
    // 点击好友
    tapFriend (entity, refresh = true) {
      if (!this.accountMap[entity.wechatAccountId]) return
      // Logger.info('当前好友', entity)
      if (!entity.wxId) {
        return
      }
      // 保存当前选中的好友
      let data = {
        id: entity.id,
        nickName: entity.name,
        remark: entity.remark,
        areaName: entity.areaName,
        type: entity.type,
        headIcon: entity.headIcon,
        accountId: entity.wechatAccountId,
        status: entity.status,
        wxId: entity.wxId
      }
      let oldAccountId = this.activeChatFriendInfo && this.activeChatFriendInfo.accountId
      let oldWxId = this.activeChatFriendInfo && this.activeChatFriendInfo.wxId
      this.activeFriendItemCls(entity.wechatAccountId, entity.wxId, oldAccountId, oldWxId)
      // 保存好友
      this.updateChatFriend(data, this.accountMap[data.accountId], refresh)
    },
    // 代理点击好友
    proxyTapFriend ($event) {
      // let target = $event.target
      // if (!target) {
      //   return
      // }
      // while (target !== this.$refs.friendList && !hasClass(target, 'friend-item')) {
      //   target = target.parentNode
      // }
      // if (target !== this.$refs.friendList) {
      //   let idx = Number(target.getAttribute('data-idx'))
      //   this.tapFriend(this.tableList[idx], true)
      // }
      let friendData = this.getFriendInProxyEvent($event)
      if (friendData) {
        this.tapFriend(friendData, true)
      }
    },
    // 将选中好友item添加class为active
    activeFriendItemCls (accountId, wxId, oldAccountId, oldWxId) {
      let friendId = accountId + '-' + wxId
      let itemDom = this.$refs.friendList.querySelector(`li[data-friend='${friendId}']`)
      if (!itemDom) {
        return
      }
      if (oldAccountId && oldWxId) {
        // 清除之前选中的
        let oldFriendId = oldAccountId + '-' + oldWxId
        this.$emit('clear-active', oldFriendId)
      }
      addClass(itemDom, 'active')
    },
    // 寻找好友选中的好友并添加class
    defaultActiveFriendItemCls () {
      if (!this.activeChatFriendInfo) return
      let friendId = this.activeChatFriendInfo.accountId + '-' + this.activeChatFriendInfo.wxId
      let itemDom = this.$refs.friendList.querySelector(`li[data-friend='${friendId}']`)
      addClass(itemDom, 'active')
    },
    showContextmenu (groupInfo, groupIndex, item, e) {
      this.$emit('show-cntextmenu', groupInfo, groupIndex, item, e)
    },
    // 代理右击好友
    proxyShowContextmenu ($event) {
      let friendData = this.getFriendInProxyEvent($event)
      if (friendData) {
        this.showContextmenu(this.data, this.index, friendData, $event)
      }
    },
    getFriendInProxyEvent ($event) {
      let target = $event.target
      if (!target) {
        return
      }
      while (target !== this.$refs.friendList && !hasClass(target, 'friend-item')) {
        target = target.parentNode
      }
      if (target !== this.$refs.friendList) {
        let idx = Number(target.getAttribute('data-idx'))
        return this.tableList[idx]
      }
    },
    // 新增
    addNewFriend (data) {
      // 如果已经完全显示，则直接添加到列表
      if (this.originalList.data.length === this.tableList.length) {
        this.tableList.push(data)
        this.originalList.showCount++
      }
      this.originalList.data.push(data)
    },
    // 直接修改昵称
    onSetRemarkSucess (accountId, type, id, remark) {
      const info = this.searchFriend(accountId, type, id)
      if (info) {
        this.$set(this.originalList.data[info.idx], 'remark', remark)
        if (this.activeChatFriendInfo && this.activeChatFriendInfo.type === type && this.activeChatFriendInfo.id === id && this.activeChatFriendInfo.accountId === accountId) {
          this.tapFriend(this.originalList.data[info.idx], false)
        }
      }
    },
    // 搜索对应的好友
    searchFriend (accountId, type, id, wxId, getData) {
      let info
      this.originalList.data.find((v, i) => {
        if (((v.id === id && v.type === type) || v.wxId === wxId) && v.wechatAccountId === accountId) {
          info = {
            idx: i
          }
          if (getData) {
            info.data = v
          }
          return true
        }
      })
      return info
    },
    // 搜索对应的好友并更改昵称
    searchFriendAndSetRemark (accountId, type, id, remark) {
      const info = this.searchFriend(accountId, type, id)
      if (info) {
        this.$set(this.originalList.data[info.idx], 'remark', remark)
        return true
      }
    },
    // 搜索对应的好友并删除
    searchFriendAndDel (accountId, type, id, getData) {
      const info = this.searchFriend(accountId, type, id)
      if (info) {
        let data
        // 获取资料用户移动分组
        if (getData) {
          data = this.originalList.data[info.idx]
        }
        // 同时从列表移除好友
        this.originalList.data.splice(info.idx, 1)
        if (this.tableList.length > info.idx) {
          this.tableList.splice(info.idx, 1)
        }
        return data || true
      }
    }
  }
}
</script>
