<template>
  <div>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <ExportExcel v-if="isShow" :excelName='excelName'></ExportExcel>
          <el-tab-pane label="设备统计" name="equipment">
              <Equipment :EquipmentData='EquipmentData' :childList='childList' :params='params'></Equipment>
          </el-tab-pane>
          <el-tab-pane label="微信加粉统计" name="configure">
              <Addpowder :childList='childList' :childListTwo='childListTwo' :AddFansWechatData='AddFansWechatData' :AddFansOwnData='AddFansOwnData' :params='params' :paramsTwo='paramsTwo'></Addpowder>
          </el-tab-pane>
          <el-tab-pane label="对话统计" name="role">
              <Dialogue :childList='childList' :childListTwo='childListTwo'  :DialogueData='StaffTalkCount' :JdByStaffCount='JdByStaffCount' :params='params' :paramsTwo='paramsTwo'></Dialogue>
          </el-tab-pane>
          <el-tab-pane label="非工作时间对话量统计" name="noworking">
              <Nowork :childList='childList' :NowordData='NowordData'  :params='params'></Nowork>
          </el-tab-pane>
          <el-tab-pane label="昨日加微量" name="test">
            <DailyActivity :tableData='tableData'  :params='params'></DailyActivity>
        </el-tab-pane>
        <el-tab-pane label="昨日对话量" name="yesterday">
            <DailyAddFans :talkerData='talkerData' :params='params'></DailyAddFans>
        </el-tab-pane>
        <!-- <el-tab-pane label="月累计对话量" name="monthTalker">
            <MonthActivity :talkerData='monthData' :params='params'></MonthActivity>
        </el-tab-pane> -->
        </el-tabs>
        <!-- <div id="charts1"></div> -->
  </div>
</template>
<script>
    import {
        Equipment,
        Addpowder,
        Dialogue,
        Nowork,
    } from './components/index.js'
    import {
        wechatApi
    } from '@/api/oms'
    import mixinsList from '../common/mixinsList.js'
    import ExportExcel from '../common/ExportExcel.vue'

    import DailyActivity from '../weChatTable/components/Addtrace.vue'
    import DailyAddFans from '../weChatTable/components/DailyAddFans.vue'
    import MonthActivity from '../weChatTable/components/MonthActivity.vue'
    import option from './options.js'
    import echarts from 'echarts'
    export default {
        components: {
            Equipment,
            Addpowder,
            Dialogue,
            Nowork,
            DailyActivity,
            DailyAddFans,
            ExportExcel,
            MonthActivity
        },
        mixins: [mixinsList],
        data() {
            return {
                activeName: 'equipment',
                EquipmentData: [],
                childList: [],
                excelName: {
                    excel: 'eq'
                },
                AddFansWechatData: [],
                AddFansOwnData: [],
                StaffTalkCount: [],
                childListTwo: [],
                JdByStaffCount: [],
                NowordData: [],
                isShow: true,
                tableData: [],
                talkerData: [],
                monthData: [],
                params: {
                    current: 1,
                    size: 100,
                    total: null,
                    annualTotal: null,
                    logo: 'equment',
                },
                paramsTwo: {
                    current: 1,
                    size: 100,
                    total: null,
                    annualTotal: null
                }
            }
        },
        created() {
            //获取设备列表
            this.getEqCounts(this.publicParams)
                //获取微信日加粉量
                // this.getAddFansCount(this.publicParams)
                // //人均日加粉量
                // this.getAddFansOwnCount(this.publicParams)
                // this.$onBus('searchParams', params => {
                //     if (params.logo == 'yesterDay') {
                //         this.getStaffTalkCountYes(params)
                //     } else if (params.logo == 'addWechat') {
                //         this.getAddWechatYes(params)
                //     }
                // })
            this.$onBus('sizeParams', data => {

                switch (data.logo) {
                    case 'equment':
                        this.getEqCounts(data)
                        break;
                    case 'addfans':
                        // 获取微信日加粉量
                        this.getAddFansCount(data)
                            //人均日加粉量
                        this.getAddFansOwnCount(data)
                        break;
                    case 'staff':
                        //服务对话量
                        this.getStaffTalkCount(data)
                            //客户主动进线量
                        this.getJdByStaffCount(data)
                        break;
                    case "noWork":
                        this.getStaffCountNoDay(data)
                        break;
                    case "addWechat":
                        this.getAddWechatYes(data)
                        break;
                    case "yesterday":
                        this.getStaffTalkCountYes(data)
                        break;
                    case "month":
                        this.getMonthTalk(data)
                        break;
                }
            })

        },
        watch: {

        },
        mounted() {

        },
        methods: {
            //获取设备列表
            getEqCounts(params) {
                wechatApi.getEqCount(params).then(res => {
                    this.EquipmentData = res.records
                    this.childList = res.records[0].endList
                    this.params.total = res.total
                    this.params.annualTotal = res.records[0].total
                    this.params.pages = res.pages
                    this.params.logo = 'equment'
                })
            },
            //微信日加粉量
            getAddFansCount(params) {
                wechatApi.getAddFansCount(params).then(res => {
                    this.AddFansWechatData = res.records
                    this.childList = res.records[0].endList
                    this.params.total = res.total
                    this.params.annualTotal = res.records[0].total
                    this.params.pages = res.pages
                    this.params.logo = 'addfans'
                })
            },
            //人均日加粉量
            getAddFansOwnCount(params) {
                wechatApi.getAddFansOwnCount(params).then(res => {
                    this.AddFansOwnData = res.records
                    this.childListTwo = res.records[0].endList
                    this.paramsTwo.total = res.total
                    this.paramsTwo.annualTotal = res.records[0].total
                    this.paramsTwo.pages = res.pages
                })
            },
            //服务对话量
            getStaffTalkCount(params) {
                wechatApi.getStaffTalkCount(params).then(res => {
                    this.StaffTalkCount = res.records
                    this.childList = res.records[0].endList
                    this.params.total = res.total
                    this.params.annualTotal = res.records[0].total
                    this.params.pages = res.pages
                    this.params.logo = 'staff'
                })
            },
            //客户主动进线量
            getJdByStaffCount(params) {
                wechatApi.getJdByStaffCount(params).then(res => {
                    this.JdByStaffCount = res.records
                    this.childListTwo = res.records[0].endList
                    this.paramsTwo.total = res.total
                    this.paramsTwo.annualTotal = res.records[0].total
                    this.paramsTwo.pages = res.pages
                })
            },
            //非工作日统计
            getStaffCountNoDay(params) {
                wechatApi.getStaffCountNoDay(params).then(res => {
                    this.NowordData = res.records
                    this.childList = res.records[0].endList
                    this.params.total = res.total
                    this.params.annualTotal = res.records[0].total
                    this.params.pages = res.pages
                    this.params.logo = 'noWork'
                })
            },
            //昨日加粉量
            getAddWechatYes(params) {
                wechatApi.addWechatYes(params).then(res => {
                    this.tableData = res.records
                    this.params.total = res.total
                    this.params.annualTotal = res.records[0].total
                    this.params.pages = res.pages
                    this.params.logo = 'addWechat'
                })
            },
            //昨日对话量
            getStaffTalkCountYes(params) {
                wechatApi.staffTalkCountYes(params).then(res => {
                    this.talkerData = res.records
                    this.params.total = res.total
                    this.params.annualTotal = res.records[0].total
                    this.params.pages = res.pages
                    this.params.logo = 'yesterDay'
                })
            },
            // getMonthTalk(params) {
            //     wechatApi.staffTalkCountYes(params).then(res => {
            //         this.monthData = res.records
            //         this.params.total = res.total
            //         this.params.annualTotal = res.records[0].total
            //         this.params.pages = res.pages
            //         this.params.logo = 'month'
            //     })
            // },
            //切换tab
            handleClick(tab, event) {
                switch (tab.index) {
                    case '0':
                        this.isShow = true
                        this.getEqCounts(this.publicParams)
                        this.excelName.excel = 'eq'
                        break;
                    case '1':
                        this.isShow = true
                            //获取微信日加粉量
                        this.getAddFansCount(this.publicParams)
                            //人均日加粉量
                        this.getAddFansOwnCount(this.publicParams)
                        this.excelName.excel = 'addFans'
                        break;
                    case '2':
                        this.isShow = true
                            //服务对话量
                        this.getStaffTalkCount(this.publicParams)
                            //客户主动进线量
                        this.getJdByStaffCount(this.publicParams)
                        this.excelName.excel = 'staffTalk'
                        break;
                    case '3':
                        this.isShow = true
                        this.getStaffCountNoDay(this.publicParams)
                        this.excelName.excel = 'noWork'
                        break;
                    case '4':
                        this.isShow = false
                        this.getAddWechatYes(this.searchParams)
                        this.excelName.excel = 'addWechat'
                        break;
                    case '5':
                        this.isShow = false
                        this.getStaffTalkCountYes(this.searchParams)
                        this.excelName.excel = 'yesterDay'
                        break;
                        // case '6':
                        //     this.isShow = false
                        //     this.getMonthTalk(this.searchParams)
                        //     this.excelName.excel = 'month'
                        //     break;
                }
            }
        }
    }
</script>
<style scoped>
    #charts1 {
        width: 80%;
        height: 400px;
        /* border: 1px solid red; */
        margin: 0 auto;
    }
</style>