<template>
  <div>
    <div class="assistant-container">
      <div class="message-push-header">
        <el-steps :active="step" align-center>
          <el-step title="选择好友/群" v-if="step === 1"></el-step>
          <el-step title="选择好友/群" icon="el-icon-circle-check-outline" class="success-step" v-else></el-step>
          <el-step title="一键推送"></el-step>
        </el-steps>
      </div>
      <chooseFriend ref="chooseFriend" class="step-one" v-if="radioTargetType === SESSION_TYPE.C2C" @set-table="setTableData" @set-search-person="searchPerson" v-show="step === 1"></chooseFriend>
      <chooseGroup ref="chooseGroup" class="step-one" v-else-if="radioTargetType === SESSION_TYPE.GROUP" @set-table="setTableData" v-show="step === 1"></chooseGroup>
      <!-- 发送界面 -->
      <readyPush v-if="step === 2" :data="checkedTableData" :searchData="searchPersonParams" :account-list="accountList" @prev-step="backFirstStep" ref="readyPush"></readyPush>
    </div>
    <div class="pos-a bottom-option ly-color-white" v-if="step === 1">
      <el-radio-group class="target-type fl" v-model="radioTargetType" @change="changeType">
        <el-radio-button :label="SESSION_TYPE.C2C">选择好友推送消息</el-radio-button>
        <el-radio-button :label="SESSION_TYPE.GROUP">选择群推送消息</el-radio-button>
        <el-radio-button :label="SESSION_TYPE.C2C" @click.native.prevent="nextStep(1)">推送全部好友/群</el-radio-button>
      </el-radio-group>
      <el-button class="fr next-btn" type="primary" @click="nextStep(0)">下一步</el-button>
    </div>
  </div>
</template>

<script>
import chooseFriend from './components/chooseFriend'
import chooseGroup from './components/chooseGroup'
import readyPush from './components/readyPush'
import {
  SESSION_TYPE
} from '@/constants/chat'

export default {
  props: {
    accountList: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  components: {
    chooseFriend,
    chooseGroup,
    readyPush
  },
  data () {
    return {
      SESSION_TYPE,
      step: 1,
      radioTargetType: SESSION_TYPE.C2C,
      friendTableShow: true,
      checkedTableData: {
        type: null,
        list: [],
        label: false
      },
      searchPersonParams: {
        params: {},
        type: null
      }
    }
  },
  methods: {
    nextStep (num) {
      if (num === 0) {
        if (!this.checkedTableData.list.length) {
          return this.warn('请先选择好友/群组')
        }
        this.checkedTableData.label = true
      } else {
        if (!this.searchPersonParams.params.wechatAccountIds) {
          return this.warn('请选择个人号')
        }
        this.checkedTableData.label = false
      }
      this.step = 2
    },
    backFirstStep () {
      this.step = 1
    },
    changeType (val) {
      this.checkedTableData = {
        type: val,
        list: []
      }
    },
    setTableData (tableData, type) {
      this.checkedTableData = {
        type: this.radioTargetType,
        list: tableData
      }
    },
    searchPerson (data) {
      this.searchPersonParams = {
        type: this.radioTargetType,
        params: data
      }
      console.log(this.searchPersonParams)
    }
    /**
     * 推送消息时，正好是当前的好友/群聊
     * @return {[type]} [description]
     */
    // onPushNowFriendMsg(options) {
    //   this.$emit('on-push-now-friend-msg', options)
    // },
    // 统计正在发送中的消息
    // onPushMsg(params) {
    //   this.$emit('on-push-msg', params)
    // },
    // onMsgCallback(fromImAccount, msgData) {
    //   Logger.info('消息推送后，当有消息回调时')
    //   if (this.step === 1) return
    //   this.$refs.readyPush.onMsgCallback(fromImAccount, msgData)
    // }
  }
}
</script>
