<template>
  <div class="moment">
    <div class="nav-menu-page-container">
      <div class="nav-menu-page-header">
        <span class="title">朋友圈</span>
        <i class="el-icon-close close" @click="closePage"></i>
      </div>
      <div class="nav-menu-page-content">
        <div class="chat-moment">
          <el-button-group class="chat-moment-tabs">
            <el-button :type="params.type === 1 ? 'primary' : 'default'" @click="changeParamsType(1)">我发的圈</el-button>
            <el-button :type="params.type === 2 ? 'primary' : 'default'" @click="changeParamsType(2)">好友的圈</el-button>
          </el-button-group>
          <div class="chat-moment-list">
            <!--mescroll滚动区域的基本结构-->
            <mescroll-vue ref="mescroll" :up="mescroll.mescrollUp" @init="mescrollInit">
              <!--内容...-->
              <div>
                <chat-moment v-for="v in dataList" :key="v.snsId" :data="v" :isMine="params.type === 1" :activeChatAccountInfo="activeChatAccountInfo" :activeChatFriendInfo="activeChatFriendInfo" @like="execCircleLike" @reply="execCircleReply" @comment="execCircleComment" />
              </div>
            </mescroll-vue>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ChatMoment from './components/chatMoment'
import MescrollVue from 'mescroll.js/mescroll'
import { mapGetters } from 'vuex'
import WxMsg from './src/wxMsg'
import Logger from '@/utils/logger'
import { IM_MESSAGE_ERROR_CODE } from '@/constants/chat'

// 朋友圈条数
const MOMENT_PAGE_SIZE = 5
let momentPageSize = MOMENT_PAGE_SIZE
export default {
  components: {
    ChatMoment,
    MescrollVue
  },
  data () {
    const that = this

    // 朋友圈实例
    const circle = new WxMsg({
      msgType: WxMsg.MSG_TYPE.MOMENT,
      commandType: WxMsg.COMMAND_TYPE.MOMENT.CIRCLE,
      chatIM: () => this.chatIM,
      onReceiveMsg: (msgData, fromImAccount) => {
        this.afterCircle(msgData)
      }
    })
    // 取得最后一条朋友圈的创建时间/为空取最新
    circle.getLastCreateTime = function () {
      if (that.dataList && that.dataList.length) {
        return that.dataList[that.dataList.length - 1].createTime
      }
      return ''
    }
    // 朋友圈取单条消息实例
    const circleGet = new WxMsg({
      msgType: WxMsg.MSG_TYPE.MOMENT,
      commandType: WxMsg.COMMAND_TYPE.MOMENT.CIRCLE_GET,
      chatIM: () => this.chatIM,
      onReceiveMsg: (msgData, fromImAccount) => {
        this.afterCircleGet(msgData)
      }
    })

    // 朋友圈评论实例
    const circleComment = new WxMsg({
      msgType: WxMsg.MSG_TYPE.MOMENT,
      commandType: WxMsg.COMMAND_TYPE.MOMENT.CIRCLE_COMMENT,
      chatIM: () => this.chatIM,
      onReceiveMsg: (msgData, fromImAccount) => {
        this.afterCircleComment(msgData)
      }
    })

    // 朋友圈回复实例
    const circleReply = new WxMsg({
      msgType: WxMsg.MSG_TYPE.MOMENT,
      commandType: WxMsg.COMMAND_TYPE.MOMENT.CIRCLE_REPLY,
      chatIM: () => this.chatIM,
      onReceiveMsg: (msgData, fromImAccount) => {
        this.afterCircleReply(msgData)
      }
    })

    // 朋友圈点赞实例
    const circleLike = new WxMsg({
      msgType: WxMsg.MSG_TYPE.MOMENT,
      commandType: WxMsg.COMMAND_TYPE.MOMENT.CIRCLE_LIKE,
      chatIM: () => this.chatIM,
      onReceiveMsg: (msgData, fromImAccount) => {
        this.afterCircleLike(msgData)
      }
    })
    return {
      wxMsg: {
        circle,
        circleGet,
        circleComment,
        circleReply,
        circleLike
      },
      params: {
        // 1-我发的圈，2-好友的圈
        type: 1
      },
      mescroll: {
        // https://github.com/mescroll/mescroll
        // mescroll实例对象
        instance: null,
        // 上拉加载的配置.
        mescrollUp: {
          // 上拉回调,此处可简写; 相当于 callback: function (page, mescroll) { getListData(page); }
          callback: that.upCallback,
          // 以下是一些常用的配置,当然不写也可以的.
          page: {
            // 当前页 默认0,回调之前会加1; 即callback(page)会从1开始
            num: 0,
            // 每页数据条数,默认10
            size: momentPageSize
          },
          htmlNodata: '<p class="upwarp-nodata">亲,没有更多数据了~</p>',
          // 如果列表已无数据,可设置列表总数大于5才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看
          noMoreSize: 5,
          toTop: {
            // 回到顶部按钮
            // src: "./static/mescroll/mescroll-totop.png", // 图片路径,默认null,支持网络图
            // 列表滚动1000px才显示回到顶部按钮
            offset: 1000
          },
          empty: {
            // 列表第一页无任何数据时,显示的空提示布局; 需配置warpId才显示
            // 父布局的id (1.3.5版本支持传入dom元素)
            // warpId: 'xxid',
            // icon: './static/mescroll/mescroll-empty.png', // 图标,默认null,支持网络图
            // 提示
            tip: '暂无相关数据~'
          },
          lazyLoad: {
            use: true
          }
        }
      },
      // 朋友圈数据list
      dataList: [],
      // 当切换好友/个人号时，能够记住当前好友/个人号
      nowChatAccount: null,
      nowChatFriendInfo: null,
      // 用于判断上一次的朋友圈消息是否完成
      // 当朋友圈包含图片时，回执消息会分成两次返回
      // 保存第一次回执的commandId，用于再次收到消息时刷新显示图片
      transferedMap: {}
    }
  },
  computed: {
    ...mapGetters([
      // 微客服信息
      // 'adminInfo',
      // 当前选择的个人号信息
      'activeChatAccountInfo',
      // 当前选择的好友/群聊信息
      'activeChatFriendInfo',
      'chatIM'
    ]),
    wxId () {
      switch (this.params.type) {
        // 朋友圈为自己发的圈时不传微信id
        case 1:
          return ''
        case 2:
          return this.activeChatFriendInfo.wxId
      }
      throw new Error(`不支持的朋友圈类型: ${this.params.type}`)
    },
    dataMap () {
      const map = {}
      this.dataList.forEach(v => {
        map[v.snsId] = v
      })
      return map
    }
  },
  watch: {
    activeChatFriendInfo (val) {
      if (!val || (val && !val.id)) return
      this.afterEntity()
      this.resetUpScroll()
    }
  },
  created () {
    this.afterEntity()
  },
  beforeDestroy () {
    if (this.wxMsg.circle) {
      this.wxMsg.circle.destroy()
    }
    if (this.wxMsg.circleGet) {
      this.wxMsg.circleGet.destroy()
    }
    if (this.wxMsg.circleComment) {
      this.wxMsg.circleComment.destroy()
    }
    if (this.wxMsg.circleReply) {
      this.wxMsg.circleReply.destroy()
    }
    if (this.wxMsg.circleLike) {
      this.wxMsg.circleLike.destroy()
    }
  },
  methods: {
    afterEntity () {
      this.nowChatAccount = this.activeChatAccountInfo
      this.nowChatFriendInfo = this.activeChatFriendInfo
      // 重置条数
      momentPageSize = MOMENT_PAGE_SIZE
      if (this.mescroll.instance) {
        this.mescroll.instance.setPageSize(MOMENT_PAGE_SIZE)
      }
    },
    changeParamsType (type) {
      if (this.params.type !== type) {
        this.params.type = type
        this.resetUpScroll()
      }
    },
    // mescroll组件初始化的回调,可获取到mescroll对象 (如果this.mescroll并没有使用到,可不用写mescrollInit)
    mescrollInit (mescroll) {
      this.mescroll.instance = mescroll
    },
    // 上拉回调 page = {num:1, size:10}; num:当前页 ,默认从1开始; size:每页数据条数,默认10
    upCallback (page, mescroll) {
      if (page.num === 1) {
        // 下拉刷新时清空数据
        this.dataList = []
        this.wxMsg.circle.clear()
      }
      this.execCircle({
        wxId: this.wxId,
        createTime: this.wxMsg.circle.getLastCreateTime(),
        count: page.size
      })
    },
    // 重置滚动条组件刷新
    resetUpScroll () {
      this.dataList = []
      this.wxMsg.circle.clear()
      if (this.mescroll.instance) {
        this.mescroll.instance.endDownScroll()
        this.mescroll.instance.hideUpScroll()
        this.mescroll.instance.removeEmpty()
        this.mescroll.instance.resetUpScroll(true)
      }
    },
    closePage () {
      this.$emit('close-nav-page')
    },
    /**
     * 当收到
     */
    receivedMomentsMsg (msgData, fromImAccount) {
      if (fromImAccount !== this.nowChatAccount.imAccount) return
      WxMsg.receiveMsg(msgData, fromImAccount)
    },
    // 生成消息体参数格式
    getMsgParams (msgData) {
      return {
        selToID: this.activeChatAccountInfo.imAccount,
        msgData
      }
    },
    /**
     * 获取朋友圈
     */
    execCircle (data) {
      return this.wxMsg.circle.exec(() => this.getMsgParams(data))
    },
    /**
     * 获取朋友圈后的回执
     * @return {[type]} [description]
     */
    afterCircle (msgData) {
      // 1、只保留最后一次的朋友圈数据
      //    防止多次点击数据响应数据串行
      // 2、允许第二次的回执刷新显示图片
      if (this.wxMsg.circle.params.msgData.commandId === msgData.commandId || (this.transferedMap[msgData.commandId])) {
        // 消息体过长时处理
        if (Number(msgData.code) === IM_MESSAGE_ERROR_CODE.MSG_TOO_LONG) {
          if (momentPageSize === 1) {
            this.info(`朋友圈消息过大, 无法完成请求, 请在个人号中查看`)
          } else {
            this.info(`朋友圈消息过多, 正在努力加载, 请稍候`)
            this.mescroll.instance.setPageSize(--momentPageSize)
            this.mescroll.instance.endErr()
            this.mescroll.instance.triggerUpScroll()
          }
        } else if (msgData.transfered && this.transferedMap[msgData.commandId]) {
          // 当且仅当当前回执为第二次回执时刷新图片
          // 否则添加到列表
          delete this.transferedMap[msgData.commandId]
          this.mescroll.instance.lazyLoad(100)
        } else {
          // 朋友圈数据去重
          this.transferedMap[msgData.commandId] = true
          let list = msgData.data || []
          this.dataList = this.dataList.concat(list.filter(v => !this.dataMap[v.snsId]))
          this.mescroll.instance.endSuccess(list.length)
          if (this.dataList.length === 0) {
            this.mescroll.instance.showNoMore()
          } else {
            // 每次朋友圈消息请求成功后，每页请求条数往回加1
            if (momentPageSize < MOMENT_PAGE_SIZE) {
              this.mescroll.instance.setPageSize(++momentPageSize)
            }
          }
        }
      }
    },
    // 获取单条朋友圈
    execCircleGet (snsId) {
      return this.wxMsg.circleGet.exec(() => this.getMsgParams({ snsId }))
    },
    // 获取单条朋友圈后的回执
    afterCircleGet (msgData) {
      Logger.info('afterCircleGet: ' + msgData)
      if (msgData.data && msgData.data.length) {
        let newItem = msgData.data[0]
        if (this.dataMap[newItem.snsId]) {
          let index = this.dataList.indexOf(this.dataMap[newItem.snsId])
          this.dataList.splice(index, 1, newItem)
        }
      }
    },
    /**
     * 评论朋友圈
     */
    execCircleComment (data) {
      this.wxMsg.circleComment.exec(() => this.getMsgParams(data))
    },
    /**
     * 朋友圈评论的回执
     * @return {[type]} [description]
     */
    afterCircleComment (msgData) {
      // 刷新当前这一条朋友圈
      this.execCircleGet(msgData.data)
    },
    /**
     * 回复评论
     */
    execCircleReply (data) {
      return this.wxMsg.circleReply.exec(() => this.getMsgParams(data))
    },
    /**
     * 回复评论指令的回执
     * @return {[type]} [description]
     */
    afterCircleReply (msgData) {
      this.execCircleGet(msgData.data)
    },
    /**
     * 点赞
     */
    execCircleLike (data) {
      return this.wxMsg.circleLike.exec(() => this.getMsgParams(data))
    },
    /**
     * 点赞指令的回执
     * @return {[type]} [description]
     */
    afterCircleLike (msgData) {
      this.execCircleGet(msgData.data)
    }
  }
}
</script>
