<template>
  <div>
    <!-- tab -->
    <div>
      <ul class="ly-page-menu ly-margin-bottom-lh">
        <li class="ly-page-menu-item ly-page-menu-item--mini"
            :class="params.dateType.key===item.key?'active':''"
            v-for="item in menuList"
            :key="item.key"
            @click="changeDateType(item)">
          {{item.title}}
        </li>
      </ul>
    </div>
    <!-- echart图 -->
    <div class="ly-width-100 statistics-chart"
         ref="chart"></div>
  </div>
</template>

<script>
import options from './src/options'
import GROUP_STATISTICS_MAP from './src/groupStatisticsMap'
import echarts from 'echarts'
import { echartResizeMixin } from '@/mixins'

export default {
  props: {
    tableData: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  mixins: [echartResizeMixin],
  data() {
    const defaultType = GROUP_STATISTICS_MAP.GROUP_INCR
    return {
      chart: null,
      defaultType,
      menuList: [
        GROUP_STATISTICS_MAP.GROUP_INCR,
        GROUP_STATISTICS_MAP.GROUP_SUM,
        GROUP_STATISTICS_MAP.GROUP_USER_INCR,
        GROUP_STATISTICS_MAP.GROUP_USER_SUM,
        GROUP_STATISTICS_MAP.GROUP_USER_DISTINCT_SUM
      ],
      params: {
        dateType: defaultType
      }
    }
  },
  watch: {
    tableData(val) {
      this.setChart(val)
    }
  },
  created() {
    this.$nextTick(() => {
      this.setChart()
    })
  },
  methods: {
    changeDateType(dateType) {
      this.params.dateType = dateType
      this.setChart(this.tableData)
    },
    setChart(tableData = []) {
      const type = this.params.dateType
      // x轴
      let xAxisData = []
      // 对应类型的数据
      let typeData = []
      tableData.forEach(v => {
        xAxisData.push(v.countStringDate)
        typeData.push(v[type.key])
      })
      options.xAxis[0].data = xAxisData
      options.series[0] = {
        name: type.title,
        type: 'line',
        smooth: true,
        data: typeData
      }
      options.legend.data[0] = type.title
      if (!this.chart) {
        this.chart = echarts.init(this.$refs.chart)
        this.adaptWindowResize(this.chart)
      }
      this.chart.setOption(options)
    }
  }
}
</script>
