<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse
      v-model="activeNames"
      class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
      :class="{'ly-padding-bottom-sm':!activeNames[0]}"
    >
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i
              class="el-icon-arrow-down"
              :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"
            ></i>
            {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
<div class="ly-clearfix">
    <el-form ref="form" :model="params" :rules="rules" :inline="true">
        <!--部门级联已经调整-->

        <departmenTreeCascadert v-model="departmentId" filterable clearable placeholder="员工所属部门" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
        <!-- <el-select
              v-model.trim="params.wechatAccount"
              multiple
              collapse-tags
              style="margin-left: 20px;"
              placeholder="请选择个人号"
            >
              <el-option
                v-for="item in personNumList"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>-->
        <!-- <el-cascader placeholder="请选择个人号" :options="personNumList" :props="{ multiple: true }" filterable></el-cascader> -->
        <moreSelect @singleIdArr="singleIdArr" :singleArr="personNumList"></moreSelect>
        <setGroupSelect @selectVal="selectVal" ref="clearGroupName" placeholder="请选择群名称" class="ly-margin-right-bottom-sm"></setGroupSelect>
        <el-form-item prop="startTime">
            <el-date-picker v-model="params.startTime" type="date" placeholder="开始日期" value-format="timestamp" :clearable="true" ref="datePicker" :picker-options="pickerOptionsStart" @change="onChangeStartTime"></el-date-picker>
        </el-form-item>
        <el-form-item prop="endTime">
            <el-date-picker v-model="params.endTime" type="date" placeholder="结束日期" value-format="timestamp" :clearable="true" ref="datePicker" :picker-options="pickerOptionsEnd" @change="onChangeEndTime"></el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button-group class="el-button-group-tabs">
                <el-button :type="params.startTime === TYPE.HOUR[0] && params.endTime === TYPE.HOUR[1] ? 'primary' : 'default'" @click="changeType(1,TYPE.HOUR)">昨天</el-button>
                <el-button :type="params.startTime === TYPE.DAY[0] && params.endTime === TYPE.DAY[1] ? 'primary' : 'default'" @click="changeType(2,TYPE.DAY)">近7天</el-button>
                <el-button :type="params.startTime === TYPE.MONTH[0] && params.endTime === TYPE.MONTH[1] ? 'primary' : 'default'" @click="changeType(3,TYPE.MONTH)">近30天</el-button>
            </el-button-group>
        </el-form-item>

        <!-- button -->
        <div class="ly-float-right ly-margin-bottom-sm">
            <el-button class="ly-float-right ly-margin-right-sm mr-20" type="primary" size="medium" @click="search">搜索</el-button>
        </div>
    </el-form>
</div>
</el-collapse-item>
</el-collapse>
<!-- 数据列表 -->
<div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
    <!-- 表头 -->
    <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="exportCallback">导出</el-button>
        </span>
    </div>
    <!-- 表格 -->
    <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%">
        <el-table-column label="个人号" width="220">
            <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px" :src="scope.row.headIcon | wechatAvtor" v-image-view />
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.account}}</p>
                <p class="ly-margin-top-4">{{scope.row.wxId}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者" prop="staffName">
            <template slot-scope="scope">
            <span>{{scope.row.staffName || '--'}}</span>
          </template>
        </el-table-column>

        <el-table-column label="设备保管者部门" prop="departmentName">
            <template slot-scope="scope">
            <span>{{scope.row.departmentName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="群名称" prop="groupName" />
        <el-table-column label="群成员数" prop="groupMemberCount" />
        <el-table-column label="群成员净增" prop="groupUserIncr" />
        <el-table-column label="群消息数" prop="groupMsgNum" />
        <el-table-column label="客服发言数" prop="staffSendMsgNum" />
        <el-table-column label="群发言人数" prop="groupMsgUserNum" />
        <el-table-column label="群平均消息数" prop="groupAvgMsgNum" />
        <el-table-column label="群发言比例" prop="groupMsgProportion" />
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm" v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :total="tableData.total" :pageSize="params.size" @change="pageChange" />
    </div>
</div>
</div>
</template>

<script>
    import {
        v2communityManage
    } from "@/api/system";
    import {
        screenApi
    } from "@/api/system";
    import {
        departmenTreeCascadert
    } from "@/components/packages/system/lazyCascader";
    import setGroupSelect from "@/components/common/setGroupSelect";
    import moreSelect from "./moreSelect.vue";
    import {
        getBeforeNumTimeStramp,
        getTodayDate,
        downloadFile
    } from "@/utils";
    import {
        resourceMixin,
        tableMixin
    } from "@/mixins";
    // import { RESOURCE_ACTION_MAP } from "@/constants";
    const TYPE = {
        // 昨天
        HOUR: [getBeforeNumTimeStramp(1), getBeforeNumTimeStramp()],
        // 近7天
        DAY: [getBeforeNumTimeStramp(7), getBeforeNumTimeStramp()],
        // 近30天
        MONTH: [getBeforeNumTimeStramp(30), getBeforeNumTimeStramp()]
    };
    export default {
        mixins: [resourceMixin, tableMixin],
        components: {
            departmenTreeCascadert,
            setGroupSelect,
            moreSelect
        },
        data() {
            // 默认7天
            const defaultParamsDataRange = 1;
            // 时间范围最多60天
            const secondDiff = 60 * 3600000 * 24;
            let that = this;
            return {
                TYPE,
                defaultParamsDataRange,
                pickerOptionsStart: {
                    disabledDate(time) {
                        const afterToday = time > Date.now();
                        if (that.params.endTime === null) {
                            return afterToday;
                        }
                        return (
                            afterToday ||
                            time > that.params.endTime ||
                            that.params.endTime - time > secondDiff
                        );
                    }
                },
                pickerOptionsEnd: {
                    disabledDate(time) {
                        const afterToday = time >= getTodayDate(0);
                        if (that.params.startTime === null) {
                            return afterToday;
                        }
                        return (
                            afterToday ||
                            that.params.startTime > time ||
                            time - that.params.startTime > secondDiff
                        );
                    }
                },
                // 秒数差
                secondDiff,
                rules: {
                    startTime: [{
                        required: true,
                        message: "请选择开始日期"
                    }],
                    endTime: [{
                        required: true,
                        message: "请选择结束日期"
                    }]
                },
                activeNames: ["1"],
                departmentId: [], // 所属部门
                tableData: {}, //表格数据
                params: {
                    current: 1,
                    size: 10,
                    departmentId: null,
                    wechatAccount: "",
                    groupId: "",
                    startTime: null,
                    endTime: null,
                    dateRange: defaultParamsDataRange,
                    //个人号id数组
                    accountIds: []
                },
                // 个人号数组
                personNumList: []
            };
        },
        computed: {},
        created() {
            this.changeType(this.defaultParamsDataRange, this.TYPE.HOUR);
            this.getDepartmentList();
        },
        watch: {
            departmentId(val) {
                this.params.departmentId = val[val.length - 1] || null;
            }
        },
        methods: {
            singleIdArr(arr) {
                // let strArr = JSON.stringify(arr)
                // this.params.accountIds = strArr.split(',')
                this.params.accountIds = JSON.stringify(arr);
                // this.params.accountIds = eval("(" + JSON.stringify(arr) + ")");
            },
            // 获取列表
            async requestTableList() {
                await v2communityManage.getSingleGroupList(this.params).then(res => {
                    this.tableData = res;
                });
            },
            async search() {
                // console.log(Array.from(this.params.accountIds)
                this.requestTableList();
            },
            /**
             * 切换时间区间
             * @param type
             * @param val
             */
            changeType(type, val = []) {
                // 时间模式
                this.params.dateRange = type || null;
                // 更改时间选择器的值
                this.$set(this.params, "startTime", val[0] || null);
                this.$set(this.params, "endTime", val[1] || null);
                this.requestTableList();
            },
            onChangeStartTime(val) {
                this.timeAccordWithType(val, this.params.endTime);
            },
            onChangeEndTime(val) {
                // 如果选的是昨天，默认选择昨天的23:59
                const today = getTodayDate(0);
                if (today - 3600000 * 24 <= val) {
                    this.params.endTime = today - 1000;
                }
                this.timeAccordWithType(this.params.startTime, val);
            },
            // 是否符合昨天、7天、30天区间
            timeAccordWithType(startTime, endTime) {
                const inType =
                    (startTime === this.TYPE.HOUR[0] && endTime === this.TYPE.HOUR[1]) ||
                    (startTime === this.TYPE.HOUR[0] && endTime === this.TYPE.HOUR[1]) ||
                    (startTime === this.TYPE.HOUR[0] && endTime === this.TYPE.HOUR[1]);
                if (!inType) {
                    this.params.dateRange = null;
                }
            },
            selectVal(val) {
                this.params.groupId = val;
            },
            async getDepartmentList() {
                let arr = [];
                await screenApi.accountListNew().then(data => {
                    data = this.initLabel(data);
                    this.personNumList = data;
                    // console.log(this.personNumList)
                    // data.forEach(function(value, i) {
                    //     if (value.children && value.children.length) {
                    //         arr.children = value.children.map(item => {
                    //             return {
                    //                 value: item.id,
                    //                 label: item.name
                    //             };
                    //         });
                    //     } else {}
                    // });
                });
                return arr;
            },

            initLabel(arr) {
                arr.forEach(item => {
                    item.name = item.nickName;
                    if (item.onLine === 0 || item.onLine === 1) {
                        let str = item.onLine === 0 ? "[离线]" : "[在线]";
                        item.name += str;
                    }
                    if (item.children && item.children.length) {
                        item.children = this.initLabel(item.children);
                    }
                });
                return arr;
            },
            // 切换页面
            pageChange(pageNum, pageSize) {
                this.getTableList(pageNum, pageSize);
            },
            // 导出
            exportCallback() {
                v2communityManage.exportSingleGroupList(this.params).then(res => {
                    downloadFile(res, "单群统计.xls");
                    this.success("恭喜你，导出成功");
                });
            }
        }
    };
</script>