<template>
  <!-- 联系过的人 -->
  <div>
    <!-- <span @click='testChatBox' style="position: fixed; top:300px;left: 200px;">点我就玩了！！！！！！！！！！！！！！</span> -->
    <contextmenu :data="contextmenu.data" v-model="contextmenu.show" @click-contextmenu="clickContextmenu"></contextmenu>
    <!--mescroll滚动区域的基本结构-->
    <mescroll-vue ref="mescroll" :up="mescroll.mescrollUp" @init="mescrollInit">
      <ul id="recently-chats">
        <template v-for="(item, index) in dataList">
          <li :key="index" class="chat-item" :class="[
              {
                active:

                  activeChatFriendInfo &&
                  activeChatFriendInfo.id === item.id &&
                  activeChatFriendInfo.type === item.type &&
                  activeChatFriendInfo.accountId === item.wechatAccountId,
              },
              item.onlyTag ? 'slot' : '',
            ]" @click="tapFriend(item, true)" @contextmenu.prevent="showContextmenu(item, index, $event)">
            <el-badge :value="
                notReadMsgs[
                  item.wechatAccountId +
                    '' +
                    (item.type === SESSION_TYPE.C2C ? 'f' : 'g') +
                    '' +
                    item.wxId
                ] > 999
                  ? 999
                  : notReadMsgs[
                      item.wechatAccountId +
                        '' +
                        (item.type === SESSION_TYPE.C2C ? 'f' : 'g') +
                        '' +
                        item.wxId
                    ]
              " class="user-avtor-box" v-if="
                notReadMsgs &&
                notReadMsgs[
                  item.wechatAccountId +
                    '' +
                    (item.type === SESSION_TYPE.C2C ? 'f' : 'g') +
                    '' +
                    item.wxId
                ] > 0
              ">
              <img :src="item.headIcon | wechatAvtor" class="fl user-avtor" />
            </el-badge>
            <img :src="item.headIcon | wechatAvtor" class="fl user-avtor user-avtor-box" v-else />
            <div class="fr time">
              {{ item.createTime | date("MM-dd hh:mm") }}
            </div>
            <div class="info">
              <div class="nick-name ellipsis" :title="
                  item.remark
                    ? item.remark + '(' + item.nickName + ')'
                    : item.nickName
                ">
                {{
                  (item.remark
                    ? item.remark + "(" + item.nickName + ")"
                    : item.nickName) ||
                  item.talkerRoomWxId ||
                  item.talkerWxId
                }}<span style="font-size: 8px" v-if="(isShow = false)">企业微信</span>
              </div>
              <div class="msg ellipsis" v-if="item.msgType">
                <span v-if="item.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM">{{
                  preText(item.content) || "暂无历史记录"
                }}</span>
                <span v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM">[图片]</span>
                <span v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_SOUND_ELEM">[语音消息]</span>
                <span v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM">[视频]</span>
                <span v-else-if="
                    item.msgType === MESSAGE_SUB_TYPE.WX_BUSINESS_CARD_ELEM
                  ">[微信分享名片]</span>
                <span v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_SYSTEM_ELEM">[系统消息]</span>
                <span v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_FILE_ELEM">[文件消息]</span>
                <span v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_CANCEL_ELEM">{{ item.isSlefSend ? "你" : "对方" }}撤回了一条消息</span>
                <span title="[不支持此消息，请在手机上查看]" v-else>[不支持此消息，请在手机上查看]</span>
              </div>
            </div>
          </li>
        </template>
      </ul>
    </mescroll-vue>
    <!-- 改备注 -->
    <remarkDialog v-if="remarkDialog.show" :data="remarkDialog.data" @on-close="onRemarkDialogClose" @on-sucess="onSetRemarkSucess"></remarkDialog>
    <!-- 改分组 -->
    <moveFriendGroupDialog v-if="moveToGroupDialog.show" :data="moveToGroupDialog.data" @on-close="onMoveToGroupDialogClose"></moveFriendGroupDialog>
    <!-- 设置待办 -->
    <setTodoDialog v-if="setTodoDialog.show" :data="setTodoDialog.data" @on-close="onSetTodoDialogClose" @on-sucess="onSetTodoSucess"></setTodoDialog>
  </div>
</template>

<script>
import {
  mapGetters,
  mapState
} from 'vuex'
import {
  wechatInfoSession
} from '@/storage'
import {
  chatApi,
  customerServiceApi,
  v2CustomerServiceApi
} from '@/api/chat'
import contextmenu from '@/components/packages/chat/home/contextmenu'
import setRemark from './components/setRemark'
import moveFriendGroup from './components/moveFriendGroup'
// 引入设置待办
import setTodo from './components/setTodo'
import {
  MESSAGE_SUB_TYPE,
  FOOTER_SWITCHS,
  SESSION_TYPE
} from '@/constants/chat'
import MescrollVue from 'mescroll.js/mescroll'
import chatFooterSwitchsMxins from '@/pages/chat/home/src/chatFooterSwitchsMxins'
import Logger from '@/utils/logger'
import getSessionTypeAndWxId from '@/pages/chat/home/src/getSessionTypeAndWxId'
import requestIdMixins from '@/pages/chat/home/src/requestIdMixins'
import Page from './src/page'
import sensitiveWordsMixin from '@/pages/chat/home/src/sensitiveWordsMixin'
import {
  userAgent
} from '@/utils'
export default {
  props: {
    data: {
      type: Object
    },
    // 最近联系人列表未读消息数统计
    notReadMsgs: {
      type: Object,
      default: () => {
        return {}
      }
    },
    accountMap: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  components: {
    MescrollVue,
    remarkDialog: setRemark,
    moveFriendGroupDialog: moveFriendGroup,
    contextmenu,
    // 设置待办
    setTodoDialog: setTodo
  },
  mixins: [chatFooterSwitchsMxins, requestIdMixins, sensitiveWordsMixin],
  data () {
    const that = this
    return {
      // isBrowser: '',
      isIeBrowser: false,
      MESSAGE_SUB_TYPE,
      SESSION_TYPE,
      roofPlacement: '置顶',
      bgColor: '',
      specialArr: [],
      setNoTopArr: [],
      usualArr: [],
      // 置顶列表
      specialList: [],
      mescroll: {
        // https://github.com/mescroll/mescroll
        // mescroll实例对象
        instance: null,
        // 上拉加载的配置.
        mescrollUp: {
          // 上拉回调,此处可简写; 相当于 callback: function (page, mescroll) { getListData(page); }
          callback: that.upCallback,
          // 以下是一些常用的配置,当然不写也可以的.
          page: {
            // 当前页 默认0,回调之前会加1; 即callback(page)会从1开始
            num: 0,
            // 每页数据条数,默认10
            size: 20
          },
          htmlNodata: '<p class="upwarp-nodata">亲,没有更多数据了~</p>',
          // 如果列表已无数据,可设置列表总数大于5才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看
          noMoreSize: 5,
          toTop: {
            // 回到顶部按钮
            // src: "./static/mescroll/mescroll-totop.png", // 图片路径,默认null,支持网络图
            // 列表滚动1000px才显示回到顶部按钮
            offset: 1000
          },
          empty: {
            // 列表第一页无任何数据时,显示的空提示布局; 需配置warpId才显示
            // 父布局的id (1.3.5版本支持传入dom元素)
            warpId: 'recently-chats',
            // icon: './static/mescroll/mescroll-empty.png', // 图标,默认null,支持网络图
            // 提示
            tip: '暂无相关数据~'
          }
        }
      },
      // 朋友圈数据list
      dataList: [],
      params: {
        current: 1,
        size: 20,
        accountId: null,
        staffId: null,
        content: null
      },
      fouceParams: {
        current: 1,
        size: 20,
        accountIds: [],
        staffId: null,
        content: null
      },
      // 最近联系人列表未读消息数统计
      // 用来记录列表是否已经存在该好友/群聊了，防止同个用户消息高并发或列表过长的遍历,以type拼接 微信好友/群聊id（聊天系统） 为key, value可能是true，在新增一条联系人记录时为了防止插入多条也可能为最后一条消息
      friendExistMap: {},
      // 右击菜单
      contextmenu: {
        show: false,
        data: null
      },
      remarkDialog: {
        show: false,
        data: null
      },
      moveToGroupDialog: {
        show: false,
        data: null
      },
      // 设置待办
      setTodoDialog: {
        show: false,
        data: null
      },
      // 当集中对话时，启用本地分页
      pageControl: null,
      newDataList: [],
      selectItem: {},
      lastItem: {},
      allGroupFriend: [],
      isLogin: false
    }
  },
  async created () {
    if (userAgent() === 'IE') {
      this.isIeBrowser = true
    }
    Logger.log('获取到的浏览器版本', this.isIeBrowser)
    // 得到免登陆成功后的参数
    Logger.log(
      '免登陆信息------------', JSON.stringify(this.taibaoChatData)
    )
    try {
      if (this.taibaoChatData.accountId) {
        this.isLogin = true
        let tbParams = {
          wechatAccountId: this.taibaoChatData.accountId,
          groupId: 0,
          groupType: 1
        }
        this.allGroupFriend = await this.getAllGroupFriend(tbParams)
        this.allGroupFriend.forEach((item, index) => {
          if (item.wxId === this.taibaoChatData.wxId) {
            this.selectItem = item
          }
        })
        this.lastItem = Object.assign({}, this.selectItem, {
          accountId: this.taibaoChatData.accountId
        })

        this.updateChatFriend(
          this.lastItem,
          this.accountMap[this.lastItem.accountId],
          true
        )
      }
    } catch (error) {
      // alert(error.msg)
    }
  },
  computed: {
    ...mapGetters([
      'activeChatAccountInfo',
      'activeChatFriendInfo',
      'chatUserInfoDB',
      'adminInfo'

    ]),
    ...mapState(['taibaoChatData']),
    // 合并对话
    concentratedDialogue () {
      return this.getChatFooterSwitchsStatus(
        FOOTER_SWITCHS.CONCENTRATED_DIALOGUE
      )
    }
  },
  watch: {
    $route (to, from, next) {
      console.log(to, '------------------', from)
    },
    activeChatAccountInfo (val) {
      !this.concentratedDialogue && val && val.id && this.changeParamsType()
    },
    concentratedDialogue (value) {
      Logger.info('集中对话')
      this.onChangeConcentratedDialogueStatu(value)
    },
    dataList (val, oldVal) {
      var setTop = []
      var noTop = []
      for (let i in this.dataList) {
        if (this.dataList[i].onlyTag) {
          setTop.push(this.dataList[i])
        } else {
          noTop.push(this.dataList[i])
        }
      }

      this.specialArr = Array.from(new Set(setTop))
      this.setNoTopArr = Array.from(new Set(noTop))
    }
  },
  methods: {
    preText (pretext) {
      return pretext.replace(/<br\/>/g, ' ').replace(/&nbsp;/ig, ' ')
    },
    /**
     * @如果是太保直接请求列表内的所有好友
     */
    async getAllGroupFriend (params) {
      let list = await v2CustomerServiceApi.getAccountCustomerListUser(params)
      return list
    },
    // 当打开最近合并对话时，服务端返回的数据是没分页的所有数据，需要本地进行分页管理
    initPageControl () {
      this.pageControl = new Page({
        params: this.params
      })
    },
    destroyPageControl () {
      this.pageControl = null
    },
    changeParamsType () {
      this.resetUpScroll()
    },
    // 合并对话
    onChangeConcentratedDialogueStatu (status) {
      if (status) {
        this.initPageControl()
      } else {
        this.destroyPageControl()
      }
      // 获取所有个人号的最近联系人列表
      this.changeParamsType()
    },
    // mescroll组件初始化的回调,可获取到mescroll对象 (如果this.mescroll并没有使用到,可不用写mescrollInit)
    mescrollInit (mescroll) {
      this.mescroll.instance = mescroll
      // TODO IE下锁住下拉刷新，插件BUG
      if (this.isIeBrowser) this.mescroll.instance.lockDownScroll(true)
    },
    // 上拉回调 page = {num:1, size:10}; num:当前页 ,默认从1开始; size:每页数据条数,默认10
    upCallback (page, mescroll) {
      if (page.num === 1) {
        // 下拉刷新时清空数据
        this.clearList()
      }
      let params
      if (this.concentratedDialogue) {
        params = Object.assign({}, this.fouceParams, {
          current: page.num,
          size: page.size
        })
      } else {
        params = Object.assign({}, this.params, {
          current: page.num,
          size: page.size
        })
      }
      this.execRecentlyChats(params)
    },
    // 重置滚动条组件刷新
    resetUpScroll () {
      this.clearList()
      if (this.mescroll.instance) {
        this.mescroll.instance.endDownScroll()
        this.mescroll.instance.hideUpScroll()
        this.mescroll.instance.removeEmpty()
        this.mescroll.instance.resetUpScroll(true)
      }
    },

    // 获取最近联系人
    async execRecentlyChats (params) {
      Logger.warn('开始发送请求参数', params)
      let activeAccountId = this.activeChatAccountInfo.id
      let activeAccountType = this.activeChatAccountInfo.type
      this.list(params).then(
        (page) => {
          if (!(
            activeAccountId === this.activeChatAccountInfo.id &&
            activeAccountType === this.activeChatAccountInfo.type
          )) {
            return
          }
          if (page.current === 1) {
            this.dataList = page.records
          } else {
            this.dataList.push(...page.records)
          }
          this.mescroll.instance.endSuccess(page.records.length)
        },
        (error) => {
          Logger.info('page-error1', error)
          if (!(
            activeAccountId === this.activeChatAccountInfo.id &&
            activeAccountType === this.activeChatAccountInfo.type
          )) {
            return
          }
          this.mescroll.instance.endSuccess(0)
        }
      )
    },
    getAccountRecentChatsList (params) {
      if (this.concentratedDialogue) {
        return this.getRecentChatsListFouce(params)
      } else {
        return chatApi.getPersonalAccountRecentChatsList(params)
      }
    },
    // 获取集中对话下的最近联系人
    async getRecentChatsListFouce (params) {
      // 获取第一页就要重新从服务器拿未分页的数据
      if (params.current === 1) {
        let records = await chatApi.getRecentChatsListFouce(params)
        // 保存所有
        this.pageControl.setTotalTableList(records)
      }
      // 非第一页,从本地获取
      return this.pageControl.list(params.current, params.size)
    },
    // 通过关键字搜索
    searchFriendByKeyName () {
      // this.clearList()
      this.changeParamsType()
    },
    // 获取最近联系的列表
    async list (params) {
      Logger.warn('这里开始list 获取数据了....')
      let requestID = this.getChatRequestID()
      let status = this.concentratedDialogue
      let page = await this.getAccountRecentChatsList(params)
      if (
        requestID &&
        !(
          requestID === this.getChatRequestID() &&
          status === this.concentratedDialogue
        )
      ) {
        throw new Error(
          'requestID、concentratedDialogue状态不符合，不需要更新列表'
        )
      }
      let list
      list = await this.afterList(page.records || page, page.current)
      if (this.isLogin) {
        list.forEach((item, index) => {
          if (item.wxId === this.lastItem.wxId) {
            list.splice(index, 1)
            list.unshift(item)
          }
        })
      }
      page.records = list || []
      this.$emitBus('pageList', page.records)
      return page
    },
    /**
             * 查询成功后执行，可更改list
             * @param {any} list
             */
    async afterList (list, current) {
      if (list.length === 0) return
      let ids = []
      let item
      let accountMap = this.accountMap
      let newList = []
      list.forEach((val) => {
        let {
          type,
          wxId
        } = getSessionTypeAndWxId(
          val.talkerRoomWxId,
          val.talkerWxId
        )
        // 添加个人号id
        if (!this.concentratedDialogue) {
          val.accountId = this.activeChatAccountInfo.id
        }
        // 去重
        let friendExist = this.getFriendExist(val.accountId, type, wxId)
        if (
          friendExist &&
          !(this.mescroll.mescrollUp.page.num === 1 && current === 1)
        ) {
          return false
        }
        // 这里以true为key
        this.setFriendExist(true, val.accountId, type, wxId)
        val.type = type
        val.wxId = wxId
        item = {
          type,
          wxId
        }
        if (this.concentratedDialogue) {
          item.wechatAccountId = val.accountId
          val.imAccount = accountMap[val.accountId].imAccount
        } else {
          item.wechatAccountId = this.activeChatAccountInfo.id
          val.imAccount = this.activeChatAccountInfo.imAccount
        }
        ids.push(item)
        newList.push(val)
      })
      // 获取昵称等信息
      let infoList = await this.getRecentChatsInfoListByIds(ids)
      // alert(JSON.stringify(infoList))
      // 整合
      newList.forEach((value, index) => {
        infoList.some((val) => {
          if (
            value.wxId === val.wxId &&
            value.accountId === val.wechatAccountId
          ) {
            newList[index] = Object.assign({}, value, val)
            return true
          }
        })
      })
      return newList
    },
    /**
     * 打开修改备注
     */
    showSetRemarkPanel () {
      this.setRemarkShow = true
    },
    /**
     * 打开移动分组
     */
    showMoveFriendGroup () {
      this.moveFriendGroupShow = true
    },

    /**
     * 点击好友
     * @param  {[type]}  item    好友信息
     * @param  {Boolean} refresh 是否在点击之后，从服务器获取好友的最新资料并更新
     */
    tapFriend (item, refresh = true) {
      Logger.info('当前好友', item)
      // 当从服务器拿取的用户信息是null时（即有脏数据），不让点击，因为会影响流程
      if (!(item.wxId && item.wechatAccountId)) {
        return
      }
      // 保存当前选中的好友
      let data = {
        id: item.id,
        nickName: item.nickName,
        remark: item.remark,
        areaName: item.areaName,
        headIcon: item.headIcon,
        accountId: item.wechatAccountId,
        status: item.status,
        type: item.type,
        wxId: item.wxId,
        onlyTag: item.onlyTag
      }
      if (item.talkerRoomWxId) {
        data.talkerRoomWxId = item.talkerRoomWxId
      } else {
        data.talkerWxId = item.talkerWxId
      }
      // let obj = data
      // obj.accountId = this.accountMap[data.accountId]
      // obj.enshrine = 3
      // window.localStorage.setItem('bowerInfor', obj)
      // 保存好友
      this.updateChatFriend(data, this.accountMap[data.accountId], refresh)
    },
    testChatBox () {
      let data = {
        accountId: 73,
        areaName: '上海 闵行',
        headIcon: 'https://wx.qlogo.cn/mmhead/ver_1/YdBorksZaK7lMp5MF8aAtEdxmnsC2h0nC7icsfWIrkVqNG97LbYaFunJicW8QJ2AtKX3vkmHice2FxO1icn24kI76PeQKuN1FV69maDsYicdAR5M/132',
        id: 30656,
        nickName: '晚晚',
        remark: null,
        requestId: 'c000b380-5acf-460c-a085-1e78c3c8005e',
        status: 1,
        type: 1,
        talkerWxId: 'wxid_d93kvaa1ko0g22',
        wxId: 'wxid_d93kvaa1ko0g22'
      }
      // if (item.talkerRoomWxId) {
      //     data.talkerRoomWxId = item.talkerRoomWxId
      // } else {
      //     data.talkerWxId = item.talkerWxId
      // }
      // 保存好友
      this.updateChatFriend(data, this.accountMap[data.accountId], true)
    },
    // 刷新好友信息时对好友数据的处理
    setUserInfo (fId, accountId, newInfo) {
      // 直接更新列表信息
      this.dataList.some((v, i) => {
        if (v.id === fId && v.wechatAccountId === accountId) {
          // Object.assign({}, v, newInfo)  把v , newInfo 两个拷贝到一个对象中
          this.$set(this.dataList, i, Object.assign({}, v, newInfo))
          if (
            this.activeChatFriendInfo &&
            this.activeChatFriendInfo.id === fId &&
            this.activeChatFriendInfo.accountId === accountId
          ) {
            this.tapFriend(this.dataList[i], false)
          }
          return true
        }
      })
    },
    // 收到可以显示的消息
    onReceivedMsg (msgData, fromImAccount, fromPersonAccount) {
      let {
        type,
        wxId
      } = getSessionTypeAndWxId(
        msgData.talkerRoomWxId,
        msgData.talkerWxId
      )
      this.showRecivedMsg(msgData, wxId, type, fromPersonAccount)
    },
    /**
             * 发送消息成功后
             */
    afterSendMsgSuccess (msgData, fromPersonalAccountId) {
      let {
        type,
        wxId
      } = getSessionTypeAndWxId(
        msgData.talkerRoomWxId,
        msgData.talkerWxId
      )
      // 更新顺序、数据
      this.freshLastMsgFriend(msgData, type, wxId, fromPersonalAccountId, 1)
    },
    // afterPushMsg(msgData, fromImAccount, fromPersonalAccountId) {
    //   Logger.info('推送助手发送一条消息时-3', msgData)
    //   this.onReceivedMsg(msgData, fromImAccount, fromPersonalAccountId)
    // },
    /**
             * 显示刚收到的消息
             * @param  {[type]} msgData [description]
             * @param  {[type]} wxId    好友/群组的微信id
             * @param  {[type]} type    [description]
             * @return {[type]}         [description]
             */
    showRecivedMsg (msgData, wxId, type, fromPersonAccount) {
      let lastFriendExistMap = this.getFriendExist(
        fromPersonAccount,
        type,
        wxId
      )
      // map已存在时，判断是否同一个人发的在排队
      if (lastFriendExistMap === true) {
        Logger.info(
          '显示刚收到的消息-有在最近联系人列表',
          msgData,
          wxId,
          type,
          fromPersonAccount
        )
        // map已存在，并且已经插入列表数组，更新顺序
        this.freshLastMsgFriend(msgData, type, wxId, fromPersonAccount)
      } else if (!lastFriendExistMap) {
        Logger.info('显示刚收到的消息-不在最近联系人列表', msgData)
        // map没有存在
        // 插入新的一条联系人,先占坑,由于还要获取昵称等东西,期间同一个人消息并发,value为最后一条消息
        this.addNewFriend(msgData, type, wxId, fromPersonAccount)
      } else if (lastFriendExistMap && lastFriendExistMap !== true) {
        // map已存在时,未插入列表数组，同一个人发的在排队,就修改存储的最新消息
        Logger.info('显示刚收到的消息-排队', msgData)
        this.setFriendExist(msgData, fromPersonAccount, type, wxId)
      }
    },
    /**
             * 更新一条客户数据的的位置
             */
    freshLastMsgFriend (
      msgData,
      fType,
      fWxId,
      fromPersonalAccountId,
      isSlefSend
    ) {
      let lastFriendExistMap = this.getFriendExist(
        fromPersonalAccountId,
        fType,
        fWxId
      )
      // this.changeParamsType()
      // console.log(this.dataList, 'true')
      if (!lastFriendExistMap) {
        return this.addNewFriend(msgData, fType, fWxId, fromPersonalAccountId)
      }
      return this.dataList.some((val, index) => {
        if (
          val.wxId === fWxId &&
          val.type === fType &&
          val.wechatAccountId === fromPersonalAccountId
        ) {
          if (val.onlyTag) {
            // 在列表中存在该好友
            // 移动到第一条的位置
            let tempItem = Object.assign({}, this.dataList[index], {
              content: msgData.content,
              msgType: msgData.msgType,
              createTime: msgData.createTime,
              isSlefSend
            })
            this.dataList.splice(index, 1)
            this.dataList.unshift(tempItem)
            return true
          } else {
            // console.log(this.specialArr)

            let tempItem = Object.assign({}, this.dataList[index], {
              content: msgData.content,
              msgType: msgData.msgType,
              createTime: msgData.createTime,
              isSlefSend
            })
            this.dataList.splice(index, 1)
            this.dataList.splice(this.specialArr.length, 0, tempItem)
            // this.dataList.unshift(tempItem)
          }
        }
      })
    },
    /**
             * 新增一个好友到第一条
             */
    async addNewFriend (msgData, type, wxId, fromPersonalAccount) {
      this.setFriendExist(msgData, fromPersonalAccount, type, wxId)
      // 从缓存读取好友数据
      let {
        infoList
      } = await this.chatUserInfoDB.selectUserByIds([{
        type,
        wxId: msgData.talkerWxId,
        wechatAccountId: msgData.wechatAccountId
      }])
      if (infoList && infoList.length) {
        msgData = Object.assign({}, infoList[0], msgData)
      }

      // 列表没有存在该好友，新增一条记录
      let fData = {
        areaName: msgData.areaName,
        content: msgData.content,
        createTime: msgData.createTime,
        headIcon: msgData.headIcon,
        id: msgData.id,
        msgType: msgData.msgType,
        nickName: msgData.nickName,
        remark: msgData.remark,
        type,
        wxId
      }
      // console.log(fData, 'fData')
      // 未读统计map显示需要
      if (this.concentratedDialogue) {
        let accountInfo = this.accountMap[fromPersonalAccount] || {}
        fData.imAccount = accountInfo.imAccount
        fData.wechatAccountId = accountInfo.id
      } else {
        fData.imAccount = this.activeChatAccountInfo.imAccount
        fData.wechatAccountId = this.activeChatAccountInfo.id
      }
      if (msgData.talkerRoomWxId) {
        fData.talkerRoomWxId = wxId
      } else {
        fData.talkerWxId = wxId
      }
      let ids = [{
        type: type,
        wxId: wxId,
        wechatAccountId: fromPersonalAccount
      }]
      // 获取昵称等信息
      let resp = await this.getRecentChatsInfoListByIds(ids)
      Logger.info('新增好友/最近联系人', fData)
      // 如果有更新的数据则填充这次的内容
      if (resp && resp.length) {
        fData.headIcon = resp[0].headIcon
        fData.areaName = resp[0].areaName
        fData.id = resp[0].id
        fData.nickName = resp[0].nickName
        fData.remark = resp[0].remark
        fData.wechatAccountId = resp[0].wechatAccountId
      }
      let lastFriendExistMap = this.setFriendExist(
        true,
        fData.wechatAccountId,
        type,
        wxId
      )
      // 检查map是否有新的值，有就直接用最新的消息、时间
      if (
        lastFriendExistMap &&
        typeof lastFriendExistMap === 'object' &&
        (lastFriendExistMap.createTime !== fData.createTime ||
          lastFriendExistMap.content !== fData.content ||
          lastFriendExistMap.msgType !== fData.msgType)
      ) {
        fData.createTime = lastFriendExistMap.createTime
        fData.content = lastFriendExistMap.content
        fData.msgType = lastFriendExistMap.msgType
      }
      // 如果最近联系人
      if (this.dataList.length === 0) {
        this.mescroll.instance.removeEmpty()
      }
      // 新建未读
      this.dataList.unshift(fData)
    },
    getFriendExist (fromPersonalAccountId, type, wxId) {
      return this.friendExistMap[fromPersonalAccountId + '' + type + '' + wxId]
    },
    setFriendExist (val, fromPersonalAccountId, type, wxId) {
      this.$set(
        this.friendExistMap,
        fromPersonalAccountId + '' + type + '' + wxId,
        val
      )
      if (!val) {
        delete this.friendExistMap[fromPersonalAccountId + '' + type + '' + wxId]
      }
    },
    /**
             * 转接好友进来
             */
    onReceivedTransferFriend (serverMsgData) {
      Logger.info('转接好友进来', serverMsgData)
      let wxId = serverMsgData.notice.friendWxId
      let type = serverMsgData.notice.friendType
      let friendData = {
        areaName: serverMsgData.notice.friendAreaName,
        content: serverMsgData.notice.content,
        id: serverMsgData.notice.friendId,
        createTime: serverMsgData.notice.createTime,
        headIcon: serverMsgData.notice.friendHeadIcon,
        msgType: serverMsgData.notice.msgType,
        nickName: serverMsgData.notice.friendNickName,
        remark: serverMsgData.notice.friendRemark,
        type: type,
        imAccount: serverMsgData.notice.imAccount,
        wechatAccountId: serverMsgData.notice.accountId,
        // 1正常0删除
        status: serverMsgData.notice.friendStatus,
        wxId
      }
      if (type === SESSION_TYPE.C2C) {
        friendData.talkerWxId = wxId
        friendData.talkerRoomWxId = null
      } else if (type === SESSION_TYPE.GROUP) {
        friendData.talkerRoomWxId = wxId
        friendData.talkerWxId = null
      } else {
        friendData.talkerWxId = null
        friendData.talkerRoomWxId = null
      }
      // 是否在最近联系人有聊天记录
      let lastFriendExistMap = this.getFriendExist(
        serverMsgData.notice.accountId,
        type,
        wxId
      )
      if (lastFriendExistMap) {
        // 刷新这条好友位置、最新消息
        this.freshLastMsgFriend(
          friendData,
          type,
          wxId,
          serverMsgData.notice.accountId
        )
      } else {
        // 直接用现成的信息，然后插入好友
        // 设置map
        this.setFriendExist(true, serverMsgData.notice.accountId, type, wxId)
        // 如果最近联系人
        if (this.dataList.length === 0) {
          this.mescroll.instance.removeEmpty()
        }
        // 新增一条
        this.dataList.unshift(friendData)
        // this.addNewFriend(friendData, type, wxId, serverMsgData.notice.accountId)
      }
    },
    /**
             * 获取最近联系人的昵称、业务端id等
             * @param  {[type]} ids [description]
             * @return {[type]}     [description]
             */
    async getRecentChatsInfoListByIds (ids) {
      // 先从本地获取缓存的用户信息，并列出没有的id
      // TODO IE11 不完美修复
      let {
        infoList,
        emptyList
      } = await this.chatUserInfoDB.selectUserByIds(
        ids
      )
      let result = infoList || []
      // 获取完，更新本地缓存，并输出请求的用户信息
      if (emptyList.length > 0) {
        let records
        // 是否集中对话
        if (this.concentratedDialogue) {
          records =
            (await customerServiceApi.getRecentChatsInfoListByIdsNoAccount({
              details: emptyList
            })) || []
        } else {
          // 收到首次转接的好友并且马上收到好友消息时取好友信息可能存在数据为空的情况，需要过滤
          records = (
            (await customerServiceApi.getPersonalAccountRecentChatsInfoListByIds({
              details: emptyList,
              id: this.activeChatAccountInfo.id
            })) || []
          ).filter((v) => v.id && v.wxId)
        }
        if (records.length) {
          result.push(...records)
          // 加入缓存
          this.chatUserInfoDB.addUserInfos(records)
        }
      }

      return result
    },
    /**
             * 右击菜单
             * @param  {[type]} item  [description]
             * @param  {[type]} index [description]
             * @param  {[type]} e     [description]
             * @return {[type]}       [description]
             */
    showContextmenu (item, index, e) {
      let contextmenuData = {
        axios: {
          x: null,
          y: null
        },
        menuList: [
          // 置顶
          {
            btnName: item.onlyTag ? '取消置顶' : '置顶',
            // btnName: '置顶',
            fnHandler: 'setRoofPlacement',
            data: {
              index: index,
              id: item.id,
              remark: item.remark,
              type: item.type,
              accountId: item.wechatAccountId,
              wxId: item.wxId,
              createTime: item.createTime,
              content: item.content,
              msgType: item.msgType,
              onlyTag: item.onlyTag
            }
          }, {
            btnName: '修改备注',
            fnHandler: 'setRemark',
            data: {
              id: item.id,
              remark: item.remark,
              type: item.type,
              accountId: item.wechatAccountId,
              wxId: item.wxId
            }
          }, {
            btnName: '移动分组',
            fnHandler: 'moveToGroup',
            data: {
              id: item.id,
              type: item.type,
              nickName: item.nickName,
              accountId: item.wechatAccountId,
              wxId: item.wxId
            }
          },
          // 联系人右击 菜单（设置待办）
          {
            btnName: '设置待办',
            fnHandler: 'setTodo',
            data: {
              id: item.id,
              // remark: item.remark,
              type: item.type,
              // groupId: groupInfo.id,
              // groupType: groupInfo.groupType,
              // groupIndex,
              wechatAccountId: item.wechatAccountId,
              wxId: item.wxId
            }
          }
        ]
      }

      if (index <= 2 || index < this.dataList.length - 2) {
        contextmenuData.axios = {
          x: e.clientX,
          y: e.clientY
        }
      } else {
        contextmenuData.axios = {
          x: e.clientX,
          y: e.clientY - contextmenuData.menuList.length * 36
        }
      }

      this.contextmenu = {
        show: true,
        data: contextmenuData
      }
    },
    // 获取置顶人员名单
    getUserTopList () { },
    /**
             * 点击右击菜单
             */
    async clickContextmenu (index, menuData) {
      if (menuData.fnHandler === 'setRemark') {
        // 打开弹窗
        this.remarkDialog = {
          show: true,
          data: menuData.data
        }
      } else if (menuData.fnHandler === 'setTodo') {
        // 设置待办
        this.setTodoDialog = {
          show: true,
          data: menuData.data
        }
      } else if (menuData.fnHandler === 'moveToGroup') {
        this.moveToGroupDialog = {
          show: true,
          data: menuData.data
        }
      } else {
        // 置顶
        var btnName = menuData.btnName
        var data = menuData.data
        let index = menuData.data.index
        if (btnName === '取消置顶') {
          var params = {
            id: data.id,
            type: data.type
          }
          await v2CustomerServiceApi.getUserTop(params).then((res) => {
            if (res.onlyTag === false) { }
            this.dataList[index].onlyTag = false
            for (let i in this.specialArr) {
              if (this.specialArr[i].wxId === this.dataList[index].wxId) {
                this.specialArr.splice(index, 1)
              }
            }
            this.$set(this.dataList, index, this.dataList[index])
            var arr = []
            var specialArr = []
            for (let i in this.dataList) {
              if (this.dataList[i].onlyTag) {
                specialArr.push(this.dataList[i])
              } else {
                arr.push(this.dataList[i])
              }
            }
            var newArr = arr.sort((a, b) => b.createTime - a.createTime)
            this.dataList = specialArr.concat(newArr)
            // console.log(this.dataList, 'wowow')
          })
        } else {
          // 在列表中存在该好友
          // 移动到第一条的位置 data.id 和 data.type

          let params = {
            id: data.id,
            type: data.type
          }
          let userList = await v2CustomerServiceApi
            .getUserTop(params)
            .then((res) => {
              if (res.onlyTag === true) {
                var tempItem = Object.assign({}, this.dataList[index], {
                  content: data.content,
                  msgType: data.msgType,
                  type: data.type,
                  createTime: data.createTime,
                  onlyTag: true,
                  oldIndex: data.index
                })
                this.dataList.splice(index, 1)
                this.dataList.unshift(tempItem)
                this.specialArr.push(tempItem)
              }
            })
        }
      }

      this.contextmenu = {
        show: false,
        data: null
      }
    },
    /**
             * 关闭备注
             */
    onRemarkDialogClose () {
      this.remarkDialog = {
        show: false,
        data: null
      }
    },
    onSetRemarkSucess (friendData) {
      // 修改缓存中好友信息
      this.chatUserInfoDB.refreshRemark(
        friendData.accountId,
        friendData.wxId,
        friendData.remark
      )
      this.dataList.some((val, index) => {
        if (
          val.wxId === friendData.wxId &&
          val.wechatAccountId === friendData.accountId
        ) {
          this.$set(this.dataList[index], 'remark', friendData.remark)
          return true
        }
      })
    },
    /**
             * 关闭移动分组
             */
    onMoveToGroupDialogClose () {
      this.moveToGroupDialog = {
        show: false,
        data: null
      }
    },
    /**
             * 初始化
             */
    clearList () {
      this.dataList = []
      this.remarkDialog = {
        show: false,
        data: null
      }
      this.moveToGroupDialog = {
        show: false,
        data: null
      }
      this.friendExistMap = {}
      this.params = {
        current: 1,
        size: 20,
        accountId: this.activeChatAccountInfo && this.activeChatAccountInfo.id,
        staffId: wechatInfoSession.getJSON().staffId,
        content: this.data.name
      }
      let accountIds = []
      for (let x in this.accountMap) {
        accountIds.push(this.accountMap[x].id)
      }
      this.fouceParams = {
        current: 1,
        size: 20,
        accountIds,
        staffId: wechatInfoSession.getJSON().staffId,
        content: this.data.name
      }
      this.contextmenuData = null
      if (this.concentratedDialogue) {
        this.initPageControl()
      } else {
        this.initPageControl()
      }
    },
    // 关闭设置待办
    onSetTodoDialogClose () {
      this.setTodoDialog = {
        show: false,
        data: null
      }
    },
    // 设置待办成功
    onSetTodoSucess () { },
    /**
             * 更改资料后的改备注
             */
    setNewRemark (remark, id, type, accountId) {
      this.dataList.some((val, index) => {
        if (
          val.id === id &&
          type === val.type &&
          accountId === val.wechatAccountId
        ) {
          Logger.info(this.table)
          this.$set(this.dataList[index], 'remark', remark)
          // this.tapFriend(this.dataList[index], false)
          return true
        }
      })
    },
    /**
             * 转接出去成功
             */
    afterTransferSuccess ({
      fId,
      fType,
      fWxId,
      accountId,
      delAccount
    } = {}) {
      let delAccountId = delAccount === 1 ? accountId : null
      if (this.concentratedDialogue && delAccountId) {
        // 删除个人号相关的好友/重新刷新列表
        this.changeParamsType()
      } else if (this.getFriendExist(accountId, fType, fWxId)) {
        // 只删除一个
        this.dataList.some((val, index) => {
          if (
            fId === val.id &&
            fType === val.type &&
            accountId === val.wechatAccountId
          ) {
            this.dataList.splice(index, 1)
            this.setFriendExist(null, accountId, val.type, val.wxId)
            return true
          }
        })
      }
    },

    /**
             * 刷新列表，在转接出去某个个人号的最后一个好友之后，触发刷新
             */
    refreshTableList () {
      this.changeParamsType()
    }
  }
}
</script>

<style scoped>
.slot {
  background-color: #eee;
}
</style>
