<template>
  <el-container class="mt-20">
    <el-aside class="left-form">
      <div class="choose-send-target">
        <div class="search-form bb">
          <el-form :model="forms" :inline="true" label-width="60px">
            <el-form-item class="onlineStauts-select" label-width="80px" label="在线状态:">
              <onlineselect size="small" placeholder="请选择分组" @selectOnlinedata="selectOnlinedataChange"></onlineselect>
            </el-form-item>
            <el-form-item class="overTime-select" label-width="80px" label="入库时间:">
              <datePicker @WareHousingDate="WareHousingDateChange"></datePicker>
            </el-form-item>
            <el-form-item class="account-select" label-width="102px" label="所属个人号：">
              <el-button type="primary" size="small" @click="showSelect()">选择个人号</el-button>
              <p v-if="isSelected">
                <el-tag v-for="(item, i) in gerenaNolList" :key="`gerenaNolList_${i}`" class="ly-margin-right-xs ly-margin-bottom-5px" :wechat-account-ids="forms.wechatAccountIds">{{ item.accountName }}
                  <span class=" deletBtn el-icon-delete icon-style fr mr-10 preview-btn" @click="deletePersonId(i)"></span>
                </el-tag>
              </p>
            </el-form-item>
            <el-form-item class="group-select" label="分组：">
              <staffGroupSelect v-model="forms.wxGroupInfoIds" placeholder="请选择分组" :freindType="SESSION_TYPE.GROUP" :multiple="true"></staffGroupSelect>
            </el-form-item>
            <el-form-item class="group-select" label-width="60px" label="群名：">
              <el-input v-model.trim="forms.groupName" :maxlength="20" @keyup.enter.native="searchBtn">
              </el-input>
            </el-form-item>
          </el-form>
          <el-button class="search-btn mb-15" type="primary" @keyup.enter.native="searchBtn" @click="searchBtn">搜索</el-button>
        </div>
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">群聊列表</span>
          </div>
        </div>
        <el-table ref="multipleTable2" :data="table.list" tooltip-effect="dark" height="360" @selection-change="handleSelectionChange" row-key="id">
          <el-table-column type="selection" width="55" reserve-selection>
          </el-table-column>
          <el-table-column label="群名称" width="300">
            <template slot-scope="scope">
              <p class="ly-ellipsis2">{{ scope.row.groupName }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="count" label="群成员数" header-align="center" align="center">
          </el-table-column>
        </el-table>
        <div class="ly-width-max-100p">
          <vma-pagination class="ly-text-right ly-box-1 mt-20" :current-page.sync="params.current" :page-size="params.size" :page-sizes="[10, 20, 50, 100, 1000, 2000, 3000, 5000]" :layout="'total, sizes, prev, next, jumper'" :total="page.total" @change="list" />
        </div>
      </div>
    </el-aside>
    <div class="center-line"></div>
    <!-- 选中的列表 -->
    <el-container class="right-table">
      <div class="checked-target ly-width-100 pos-r">
        <div class="choose-send-target">
          <div class="ly-box">
            <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
              <span class="ly-vertical-line">已选择群组列表（点击选框取消选择）</span>
            </div>
          </div>
          <el-table ref="targetTable" :data="targetTableParam.currentPageData" @selection-change="handleTargetSelectionChange" tooltip-effect="dark" max-height="640" row-key="id">
            <el-table-column type="selection" width="55" reserve-selection>
            </el-table-column>
            <el-table-column label="群名称" width="300">
              <template slot-scope="scope">
                <p class="ly-ellipsis2">{{ scope.row.groupName }}</p>
              </template>
            </el-table-column>
            <el-table-column prop="count" label="群成员数" header-align="center" align="center">
            </el-table-column>
          </el-table>
          <div class="ly-width-max-100p">
            <vma-pagination class="ly-text-right ly-box-1 mt-20" :current-page.sync="targetTableParam.current" :page-size="targetTableParam.size" :page-sizes="[10, 20, 50, 100, 1000, 2000, 3000, 5000]" :layout="'total, sizes, prev, next, jumper'" :total="targetTableParam.total" @change="listTargetTable" v-if="rightTableData.length > 0" />
          </div>
        </div>
      </div>
    </el-container>
    <!-- 选择个人号（点击选择个人号）-出现弹窗-->
    <SelectPersonalNum v-if="showSelectPersonalNumDialog" :state="showSelectPersonalNumDialog" :checkArr="checkArr" :contionDataInner="contionData" @on-confirm="confirmPersonal" type="checkbox"></SelectPersonalNum>
  </el-container>
</template>

<script>
import { marketPlatformApi } from '@/api/system'
import { arrToMap } from '@/utils'
import { customerServiceApi } from '@/api/chat'
import { indexMixin } from '@/mixins'
// import personalAccountSelect from './components/personalAccountSelect'
// import { personNumSelectGroup } from "@/components/packages/system/lazySelectGroup";
import staffGroupSelect from '@/components/packages/chat/lazySelect/staffGroupSelect'
import Logger from '@/utils/logger'
import { SESSION_TYPE } from '@/constants/chat'
import onlineselect from './components/onlineselect.vue'
import datePicker from './components/datePicker.vue'
import SelectPersonalNum from './components/selectPersonalNum.vue'

export default {
  components: {
    // personalAccountSelect,
    staffGroupSelect,
    // personNumSelectGroup,
    onlineselect,
    datePicker,
    SelectPersonalNum
  },
  mixins: [indexMixin],
  data () {
    return {
      contionData: {
        online: '',
        beginTime: '',
        endTime: ''
      },
      SESSION_TYPE,
      params: {
        current: 1,
        size: 10,
        groupName: null,
        wechatAccountIds: [],
        wxGroupInfoIds: []
      },
      forms: {
        current: 1,
        size: 10,
        groupName: null,
        wechatAccountIds: [],
        wxGroupInfoIds: []
      },
      // 左边列表勾选的
      rightTableData: [],
      targetTableParam: {
        current: 1,
        size: 50,
        total: 0,
        currentPageData: []
      },
      // 右边列表勾选的，最后使用的
      lastSelectTableData: [],
      // 个人号选择内容
      checkArr: [],
      // 个人号弹窗的显示于隐藏
      showSelectPersonalNumDialog: false,
      // 个人号列表 [{accountId: xx, accountName: xx}]
      gerenaNolList: []
    }
  },
  computed: {
    // 已经选择了个人号 只要this.gerenaNolList改变，isSelected就改变
    isSelected: {
      get () {
        return this.gerenaNolList.length > 0
      },
      set (newValue) { }
    }
  },
  methods: {
    // 在线状态选择
    selectOnlinedataChange (data) {
      this.contionData.online = data
    },
    // 入库时间选择
    WareHousingDateChange (val) {
      val = val || []
      this.contionData.beginTime = val[0] || ''
      this.contionData.endTime = val[1] || ''
    },
    rightTableDataMap () {
      return arrToMap(this.rightTableData)
    },
    searchBtn () {
      this.params = Object.assign({}, this.forms, this.params)
      if (this.gerenaNolList.length === 0) {
        this.$notify({
          title: '提示',
          message: '必须选择所属个人号，再进行搜索！',
          type: 'warning'
        })
        return
      }
      this.search()
    },
    getApi () {
      return {
        list: customerServiceApi.searchCustomerServerGroupList
      }
    },
    // 当左边复选框，选择项发生变化时
    handleSelectionChange (rows) {
      // leftSelectionMap 左边列表所有存储的选中对象
      let selection = this.rightTableData
      // leftSelectionMap 左边列表当前页的选中对象
      let leftNowPageList = this.table.list
      const leftNowPageSelectionMap = arrToMap(rows)
      // 更改右边的列表数据
      let rightTableMapItem
      // 右边的列表选中状态
      let lastSelection = this.lastSelectTableData
      leftNowPageList.forEach((v, i) => {
        rightTableMapItem = this.rightTableDataMap()[v.id]
        if (leftNowPageSelectionMap[v.id]) {
          // 左边有勾选
          if (!rightTableMapItem) {
            // 右边列表不存在，则右边列表新增该条数据并且选中
            selection.push(v)
            lastSelection.push(v)
          }
        } else {
          // 左边没有勾选
          // 先查看是右边的列表否存在
          if (rightTableMapItem) {
            selection.splice(selection.indexOf(rightTableMapItem), 1)
            lastSelection.splice(lastSelection.indexOf(rightTableMapItem), 1)
          }
        }
      })
      // 更改右边列表、以及选择状态
      this.listTargetTable(
        this.targetTableParam.current,
        this.targetTableParam.size,
        rows
      )
      Logger.info('最终列表-1', this.lastSelectTableData)
      this.$emit('set-table', this.lastSelectTableData)
    },
    /**
     * 切换所选列表当前页数据
     * @param  {[type]} current [description]
     * @param  {[type]} size    [description]
     * @return {[type]}         [description]
     */
    listTargetTable (current, size, needToggleRowArray = []) {
      let currentData = this.rightTableData.slice(
        size * (current - 1),
        size * current
      )
      // 当前页为空时，往上一页
      if (currentData.length === 0 && current > 1) {
        currentData = this.rightTableData.slice(
          size * (current - 2),
          size * (current - 1)
        )
      }
      this.targetTableParam = {
        current,
        size,
        total: this.rightTableData.length,
        currentPageData: currentData || []
      }
      if (needToggleRowArray.length > 0) {
        let lastSelectionMap = this.getLastSelectionMap()
        let rightTableSelectionMap = this.getRightTableSelectionMap()
        this.$nextTick(() => {
          needToggleRowArray.forEach((v) => {
            // 当前页中存在，最后勾选的也存在，但是右边列表的总的勾选列表中不存在
            if (
              currentData.indexOf(v) > -1 &&
              lastSelectionMap[v.id] &&
              !rightTableSelectionMap[v.id]
            ) {
              this.$refs.targetTable.toggleRowSelection(v)
            }
          })
        })
      } else {
        let lastSelectionMap = this.getLastSelectionMap()
        let rightTableSelectionMap = this.getRightTableSelectionMap()
        this.$nextTick(() => {
          currentData.forEach((v) => {
            // 当前页中存在，最后勾选的也存在，但是右边列表的总的勾选列表中不存在
            if (lastSelectionMap[v.id] && !rightTableSelectionMap[v.id]) {
              this.$refs.targetTable.toggleRowSelection(v)
            }
          })
        })
      }
    },
    handleTargetSelectionChange (rows) {
      Logger.info('右边列表')
      let selection = this.lastSelectTableData
      let rightNowPageList = this.targetTableParam.currentPageData
      const rightNowPageSelectionMap = arrToMap(rows)
      let lastSelectionMapItem
      rightNowPageList.forEach((v) => {
        if (!rightNowPageSelectionMap[v.id]) {
        }
        lastSelectionMapItem = this.getLastSelectionMap()[v.id]
        if (rightNowPageSelectionMap[v.id]) {
          // 右边有勾选
          if (!lastSelectionMapItem) {
            // 最后列表不存在，则最后列表新增该条数据
            selection.push(v)
          }
        } else {
          // 左右边没有勾选
          // 先查看是最后的列表否存在
          if (lastSelectionMapItem) {
            selection.splice(selection.indexOf(lastSelectionMapItem), 1)
          }
        }
      })
      this.$emit('set-table', this.lastSelectTableData)
    },
    /**
     * 获取右边勾选的map
     * @return {[type]} [description]
     */
    getRightTableSelectionMap () {
      let table = this.$refs.targetTable
      if (table) {
        return arrToMap(table.selection) || {}
      }
      return {}
    },
    /**
     * 获取左边的map
     * @return {[type]} [description]
     */
    getLeftTableSelectionMap () {
      let table = this.getTableRef()
      if (table) {
        return arrToMap(table.selection) || {}
      }
      return {}
    },
    getLastSelectionMap () {
      return arrToMap(this.lastSelectTableData) || {}
      // let table = this.getTableRef()
      // if (table) {
      //   return arrToMap(table.selection) || {}
      // }
      // return {}
    },
    // onAccountChange(val) {
    //   this.forms.wechatAccountIds = val
    //   Logger.info('onAccountChange', val)
    // }

    // 个人号弹窗-筛选
    showSelect (val) {
      // this.contionData.wechatAccountIds = this.forms.wechatAccountIds
      this.params = this.contionData
      this.$set(this.forms, 'wechatAccountIds', val)
      this.showSelectPersonalNumDialog = true
    },
    // 确定选择个人号
    confirmPersonal (gerenaNolList) {
      if (gerenaNolList.length) {
        // 每个个人号的标签，需要清空
        this.form.selectedLabelList = []
        this.form.showLimit = 1
        this.gerenaNolList = gerenaNolList
        let arr = []
        gerenaNolList.forEach((item) => {
          arr.push(item.wechatAccountIds)
        })
        this.checkArr = arr
        this.params.wechatAccountIds = arr
        this.getVisibleLabelList()
      }
      // console.log("个人号ID", this.params.wechatAccountIds)
      this.showSelectPersonalNumDialog = false
    },
    // 获取可见标签列表
    async getVisibleLabelList () {
      let ids = []
      this.gerenaNolList.forEach((item, i) => {
        ids.push(item.wechatAccountIds)
      })
      const data = await marketPlatformApi.getVisibleLabelList(ids)
      this.labelList = data
    },
    // 删除所属个人号
    deletePersonId (index) {
      this.params.wechatAccountIds.splice(index, 1)
      this.gerenaNolList.splice(index, 1)
      // console.log("删除后的个人号ID", this.params.wechatAccountIds)
    }

  }
}
</script>

<style scoped>
.deletBtn {
  color: red;
  cursor: pointer;
  margin: 5px 0 0 10px;
  font-size: 16px;
}
</style>
