<template>
  <div class="ly-height-100 ready-push">
    <!-- 表头 -->
    <div class="ly-box">
      <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
        <span class="ly-vertical-line">数据列表</span>
      </div>
      <span class="ly-margin-top-nge-4">
        <el-button :type="typeNum==1?'primary':''" size="small" @click="onModelMsg">模板消息</el-button>
        <el-button :type="typeNum==2?'primary':''" size="small" @click="openNewMsgPanel">新增消息</el-button>
      </span>
    </div>
    <!-- 表格 -->
    <el-table :data="tableData" tooltip-effect="dark" max-height="360">
      <el-table-column prop="msgTpye" label="消息类型">
        <template slot-scope="scope">
          <span v-if="scope.row.msgType === 1">文本</span>
          <span v-else-if="scope.row.msgType === 2">图片</span>
          <span v-else-if="scope.row.msgType === 3">语音</span>
          <span v-else-if="scope.row.msgType === 4">视频</span>
          <!-- 小程序 -->
          <span v-else-if="scope.row.msgType === 6">小程序</span>
          <!-- 图文链接 -->
          <span v-else-if="scope.row.msgType === 7">图文链接</span>
        </template>
      </el-table-column>
      <el-table-column label="消息内容">
        <template slot-scope="scope">
          <videoAudioImg :key="scope.row.msgText" :info="scope.row"></videoAudioImg>
        </template>
      </el-table-column>
      <!-- <el-table-column label='定时时间'>
    <template slot-scope='scope'>

    </template>
      </el-table-column>-->
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="editMsgPanel(scope.row, scope.$index)">修改</el-button>
          <el-button type="text" class="ly-font-color-7" size="small" @click="showDelMsgDialog(scope.row, scope.$index)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="time-range">
      <!-- <div class="ly-box mt-20">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">发送时间</span>
        </div>
    </div>
    <div class="rlt">
        <el-radio v-model="sendType" @change='changeType' label="1">立即发送</el-radio>
        <el-radio v-model="sendType" label="2">预约发送</el-radio>
        <el-date-picker @change="changeTime" value-format="timestamp" v-if="sendType==2" v-model="sendTime" type="date" placeholder="选择日期">
        </el-date-picker>
        <transition name="fade">
            <span style="color: red; font-size: 14px;" v-if="tiemSelect">*请选择预约时间</span>
        </transition>
    </div> -->
      <div class="ly-box mt-20">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">间隔范围(秒)</span>
        </div>
      </div>
      <div class="rlt">
        <div class="vm start">{{sliderRange[0]}}</div>
        <span class="ml-20 vm">0</span>
        <div class="range-slider vm ml-10 mr-10">
          <el-slider v-model="sliderRange" range :max="300" :disabled="disabledSlider"></el-slider>
        </div>
        <div class="ml-20 fr start">{{sliderRange[1]}}</div>
        <span class="fr max-time">300</span>
      </div>
    </div>
    <div class="mt-20 mb-20">
      此次群发名称：
      <el-input type="text" :maxlength="30" placeholder="30字内" class="ly-width-300px" v-model="params.title" />不填写则默认创建任务时间
    </div>
    <div class="fr btns">
      <el-button type="primary" loading v-if="sending">发送中</el-button>
      <el-button type="primary" @click="send" v-else>一键推送</el-button>
      <el-button type="info" plain @click="prevStep">上一步</el-button>
    </div>
    <!--编辑右侧快捷回复-->
    <el-dialog :title="(newMsgPanel.data ? '编辑' : '新增') + '消息'" :visible.sync="newMsgPanel.show" width="880px" @close="closeNewMsgEditPanel" append-to-body v-if="newMsgPanel.show">
      <qReplayMessageAdd :dialogProp="newMsgPanel" :chatProp="true" :textLimit="2000" @closeDialog="closeNewMsgEditPanel" @getMsg="afterEditOrAddMsgSuccess"></qReplayMessageAdd>
    </el-dialog>
    <el-dialog title="提示" :visible.sync="delMsgDialog.show" width="489px" @close="closeDelMsgDialog" append-to-body>
      <delTableMsgItem :data="delMsgDialog.data" @on-success="delMsgSuccess" @on-close="closeDelMsgDialog"></delTableMsgItem>
    </el-dialog>
    <!--模板消息推送弹框-->
    <el-dialog title="模板消息" :visible.sync="modelMsg.show" append-to-body v-if="modelMsg.show">
      <modelMsg @modifyData="modifyData" :dialogModelMsg="modelMsg" @sureSuccess="modelMsgSuccess" @closeDialog="closeModelMsg"></modelMsg>
    </el-dialog>
  </div>
</template>

<script>
// import bus from '@/bus.js'
import {
  customerServiceApi
} from '@/api/chat'
import qReplayMessageAdd from '@/pages/system/deviceManage/components/qReplayMessageAdd'
// 模板消息代码推送
import modelMsg from './components/modelMsg'
import delTableMsgItem from './components/delTableMsgItem'
import {
  MESSAGE_SUB_TYPE,
  IM_MESSAGE_ERROR_CODE
} from '@/constants/chat'
import {
  MESSAGE_TPYE_KEY
} from '@/constants/messageType'
import {
  wechatInfoSession
} from '@/storage'
import {
  mapGetters
} from 'vuex'
import videoAudioImg from '@/components/common/videoAudioImg'
import Logger from '@/utils/logger'
import {
  getVideoDuration
} from '@/utils'
// import getSessionTypeAndWxId from '@/pages/chat/home/src/getSessionTypeAndWxId'
import sensitiveWordsMixin from '@/pages/chat/home/src/sensitiveWordsMixin'
// import uuid from "uuid";
import {
  v4 as uuidv4
} from 'uuid'
export default {
  props: {
    data: {
      type: Object
    },
    searchData: {
      params: {
        type: Object
      }
    },
    accountList: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  mixins: [sensitiveWordsMixin],
  components: {
    videoAudioImg,
    qReplayMessageAdd,
    delTableMsgItem,
    modelMsg
  },
  data () {
    return {
      // 选择定时发送还是立即发送
      sendType: '1', // 1立即发送  2定时发送
      sendTime: '',
      typeNum: 2,
      tiemSelect: false,
      // 修改过后的模板信息
      pushOnce: {},
      // 微客服的im账号
      imIdentifier: null,
      type: null,
      delMsgDialog: {
        show: false,
        data: {
          index: null
        }
      },
      tableData: [],
      sliderRange: [2, 10],
      addTag: '',
      newMsgPanel: {
        show: false,
        onlyGet: true,
        data: null,
        index: null
      },
      // 模板信息的prop
      modelMsg: {
        show: false,
        onlyGet: true,
        data: null,
        index: null
      },
      disabledSlider: false,
      sending: false,
      onSendingMap: {},
      totalSendingMsgNum: 0,
      timer: null,
      // 根据个人号，对好友进行分组
      freindMap: {},
      // accountsMap: {},
      hideStatus: false,
      params: {
        title: ''
      },
      pushResultMap: {
        fail: []
      },
      getRecordsList: 0

    }
  },
  computed: {
    ...mapGetters(['chatIM', 'activeChatAccountInfo'])
  },
  created () {
    if (this.data.label) {
      this.enumerate()
    } else {
      this.regetList()
    }
    Logger.info('210行', this.data, this.searchData)
  },
  beforeDestroy () {
    this.hideStatus = true
  },
  methods: {
    async regetList () {
      this.searchData.params.size = 300
      let data = await customerServiceApi.searchCustomerServerFrenidList(this.searchData.params)
      if (data.records && data.records.length) {
        this.data.list = data.records
        this.getRecordsList = data.records.length
        this.type = 1
        // 敏感词
        // this.initSensitiveWords()
        this.imIdentifier = wechatInfoSession.getJSON().identifier
        let map = {}
        // 已选好友分组
        this.data.list.forEach(v => {
          if (!map[v.wechatAccountId]) {
            map[v.wechatAccountId] = {
              friends: [],
              accountInfo: {
                imAccount: v.imAccount,
                wxId: [v.wechatAccountId].wxId,
                accountId: v.wechatAccountId
              }
            }
          }
          map[v.wechatAccountId].friends.push(v)
        })
        this.freindMap = map
        this.send()
        console.log('this.freindMap', this.freindMap)
      } else {
        this.sending = false
      }
      if (data.total > 0) {
        this.searchData.params.current++
        this.getTotal = data.total
      }
    },
    enumerate () {
      // this.$onBus('on-notice-sensitive-words-push-assistant', () => {
      //   this.onNoticeRefreshSensitiveWords()
      // })
      this.type = this.data.type
      // 敏感词
      // this.initSensitiveWords()
      this.imIdentifier = wechatInfoSession.getJSON().identifier
      // 好友/群聊根据个人号进行分组
      // let accountsMap = {}
      // this.accountList.forEach(v => {
      //   if (v.id) {
      //     accountsMap[v.id] = {
      //       wxId: v.wxId,
      //       remark: v.remark,
      //       nickName: v.nickName,
      //       accountId: v.id
      //     }
      //   }
      // })
      // this.accountsMap = accountsMap
      console.log('this.accountsMap ', this.accountList)
      let map = {}
      // 已选好友分组
      this.data.list.forEach(v => {
        if (!map[v.wechatAccountId]) {
          // 个人号列表不存在对应个人号，则进行提示
          // if (!accountsMap[v.wechatAccountId]) {
          //     this.warn("请选择所属名下的个人号进行推送,否则推送不成功！");
          // }
          // 个人号列表存在对应个人号
          map[v.wechatAccountId] = {
            friends: [],
            accountInfo: {
              imAccount: v.imAccount,
              wxId: [v.wechatAccountId].wxId,
              accountId: v.wechatAccountId
            }
          }
        }
        map[v.wechatAccountId].friends.push(v)
      })
      this.freindMap = map
      Logger.info('freindMap', this.freindMap)
    },
    // 子组件修改过后传过来的数据
    modifyData (data) {
      this.pushOnce = data
    },
    // 关闭模板消息
    closeModelMsg () {
      this.modelMsg.show = false
    },
    modelMsgSuccess (data) {
      this.pushOnce = data
    },
    changeTime () {
      this.tiemSelect = false
    },
    prevStep () {
      this.$emit('prev-step')
    },
    changeType () {
      this.tiemSelect = false
    },
    /**
     * 一键推送
     */
    send () {
      // if (this.tableData.length === 0) {
      //     return this.warn("请先添加要发的消息");
      // }
      // if (this.sendType == 1) {
      //     var appointment = new Date().getTime();
      //     this.disabledSlider = true;
      //     this.sending = true;
      //     this.groupSendMsg();
      // } else {
      //     if (!this.sendTime) {
      //         this.tiemSelect = true;
      //         this.warn('请先添加预发时间')
      //     } else {
      //         this.disabledSlider = true;
      //         this.sending = true;
      //         this.groupSendMsg();
      //     }
      // }
      Logger.info('推送', this.tableData, this.data.list.slice(0))
      if (this.tableData.length === 0) {
        return this.warn('请先添加要发的消息')
      }
      this.disabledSlider = true
      this.sending = true
      this.groupSendMsg()
    },
    // 发送给好友的
    async groupSendMsg () {
      // 消息数组
      // debugger
      let messageList = {
        toAccount: [],
        toServer: []
      }
      let startRange = this.sliderRange[0]
      let endRange = this.sliderRange[1]
      this.tableData.forEach((val, index) => {
        let {
          toAccount,
          toServer
        } = this.changeMsgData(
          val,
          index,
          startRange,
          endRange
        )
        messageList.toAccount.push(toAccount)
        messageList.toServer.push(toServer)
      })
      // 设置延时，以免过于频繁
      let waitTime = 0
      // 先整理好消息体
      let lastMsgs = []
      const that = this
      for (let x in this.freindMap) {
        // 某个个人号下的好友
        let friends = this.freindMap[x].friends
        // console.log("friends", friends)
        let accountInfo = this.freindMap[x].accountInfo
        // console.log("accountInfo", accountInfo)
        // 发送群发消息给对应的个人号
        let messageData = this.getMsgToAccount(
          messageList.toAccount,
          accountInfo.wxId,
          accountInfo.accountId,
          friends
        )

        lastMsgs.push({
          waitTime,
          messageData,
          friends,
          accountWxId: accountInfo.wxId,
          accountId: accountInfo.accountId,
          imAccount: accountInfo.imAccount
        })
        console.log('357行357行357行357行357行357行357行357行357行', lastMsgs)
        // alert(JSON.stringify(lastMsgs))
        waitTime += 500
      }
      // 发送之前，上报业务端服务器有哪些消息及对应id
      await this.beforeSendMsg(
        lastMsgs,
        messageList.toServer,
        startRange,
        endRange
      )
      // 发送消息，最后上报业务端服务器所有发送结果
      lastMsgs.forEach((val, index) => {
        setTimeout(async () => {
          await that.sendMsgToAccount(
            val.messageData,
            val.imAccount,
            val.accountId,
            val.accountWxId,
            val.friends
          )
          if (index === lastMsgs.length - 1) {
            return that.onAfterSendAllMsg()
          }
        }, val.waitTime)
      })
      return this.warn('发送中！发送完毕之前请勿关闭微客服页面')
    },
    // 发送之前上报业务端服务器有哪些消息及对应id
    async beforeSendMsg (lastMsgs, messageToServer, startRange, endRange) {
      const that = this
      let params = lastMsgs.map(val => {
        let message = val.messageData
        let wechatUsers = val.friends.map(v => {
          return {
            userType: that.type,
            wechatUserId: v.id
          }
        })
        return {
          msgId: message.pushMsgId,
          wechatAccountId: val.accountId,
          msgs: messageToServer,
          title: that.params.title,
          wechatUsers,
          from: startRange,
          to: endRange
        }
      })
      Logger.info('beforeSendMsg', params)
      try {
        //  保存群发消息记录
        await customerServiceApi.setPushMessage(params)
      } catch (error) {
        // 提示报错
        this.error('发送失败')
        this.resetSendStatus()
        return Promise.reject(error)
      }
    },
    // 生成消息体
    getMsgToAccount (messageList, accountWxId, accountId, friends) {
      // console.log("生成消息体", messageList)
      // 好友/群聊的微信id
      let talkerWxIds = ''
      let len = friends.length
      friends.forEach((v, i) => {
        talkerWxIds += v.wxId
        if (len > 1 && i < len - 1) {
          talkerWxIds += ';'
        }
      })
      const pushMsgId = uuidv4()
      let newMsgList = messageList.map(v => {
        return Object.assign({}, v, {
          wxId: accountWxId,
          pushMsgId: pushMsgId
        })
      })
      // console.log("newMsgList", newMsgList)
      return {
        msgType: MESSAGE_SUB_TYPE.VMA_GROUP_SEND_ELEM,
        messageList: newMsgList,
        isSelfSend: 1,
        wxId: accountWxId,
        talkerWxIds,
        wechatAccountId: accountId,
        // 群发消息唯一id
        pushMsgId
      }
      // return this.transferFriendTypeOptions(
      //   msgData,
      //   imAccount
      // )
    },
    // 发送消息，上报发送结果
    sendMsgToAccount (msgData, imAccount, accountId, accountWxId, friends) {
      let options = this.transferFriendTypeOptions(msgData, imAccount)
      return this.sendMessge(options).then(
        () => {
          this.onSendMsgSuccess(
            options,
            accountId,
            friends,
            msgData.pushMsgId,
            accountWxId
          )
        },
        error => {
          this.onSendMsgError(
            error,
            accountId,
            friends,
            msgData.pushMsgId,
            accountWxId
          )
          return error
        }
      )
    },
    // 发送消息失败时
    // onSendFirstMsgError() {
    //   if (this.hideStatus) return
    //   this.sending = false
    //   this.disabledSlider = false
    //   this.$message({
    //     message: '所选用户或所要发送消息内容过多，一次批量发送的数量有限，请减少相应的数量再进行发送',
    //     type: 'warning',
    //     duration: 3000,
    //     showClose: true
    //   })
    // },
    onSendMsgError (error, accountId, friends, pushMsgId, accountWxId) {
      console.log('onSendMsgErroronSendMsgErroronSendMsgErroronSendMsgError', error)
      if (this.hideStatus) return
      if (error && error.ErrorCode === IM_MESSAGE_ERROR_CODE.MSG_TOO_LONG) {
        this.warn(
          '所选用户或所要发送消息内容过多，一次批量发送的数量有限，请减少相应的数量再进行发送'
        )
      }
      // 记录结果
      this.pushResultMap.fail.push({
        msgId: pushMsgId,
        accountId,
        accountWxId
      })
      // debugger
      let params = []
      let msgIndexArr =
        this.tableData.map((v, i) => {
          return i
        }) || []
      const type = this.type
      friends.forEach(val => {
        params.push({
          msgId: pushMsgId,
          failMsgIndex: msgIndexArr,
          runningMsgIndex: [],
          successMsgIndex: [],
          userType: type,
          // 好友微信id
          wechatUserId: val.id
        })
      })
      Logger.info('失败上报', params)
      // 待增加，保存结果到服务端(修改群发消息状态)
      customerServiceApi.putPushMessageStauts(params)
    },
    /**
     * 发送消息成功后
     * @param  {[type]} options         消息
     * @param  {[type]} type            类型：好友/群聊
     * @param  {[type]} friends         发送的好友/群聊
     * @param  {[type]} remainderNum    剩下的消息数量
     */
    // onSendMsgSuccess(options, type, accountId, friends, remainderNum) {
    onSendMsgSuccess (options, accountId, friends, pushMsgId, accountWxId) {
      const type = this.type
      // 修改统计
      this.$emitBus('on-push-send-footer', {
        messageNum: options.msgData.messageList.length,
        friendList: friends,
        // imAccount: options.selToID,
        accountId,
        type
      })
      // 是否显示到当前聊天窗口
      this.$emitBus('on-push-send-chatbox', {
        messageList: options.msgData.messageList,
        friendList: friends,
        // imAccount: options.selToID,
        accountId,
        type
      })
      // 加入到统计
      // this.pushResultMap.success.push({
      //   msgId: pushMsgId,
      //   accountId,
      //   accountWxId
      // })
      // 保存结果到服务端
      // let params = []
      // let msgIndexArr = this.tableData.map((v, i) => {
      //   return i
      // }) || []
      // friends.forEach(val => {
      //   params.push({
      //     msgId: pushMsgId,
      //     failMsgIndex: [],
      //     runningMsgIndex: [],
      //     successMsgIndex: msgIndexArr,
      //     userType: type,
      //     // 好友微信id
      //     wechatUserId: val.id
      //   })
      // })
      // Logger.info('成功上报', params)
      // // 待增加，保存结果到服务端
      // customerServiceApi.putPushMessageStauts(params)
    },
    // 当有消息回调时，筛选统计发出去的消息
    // onMsgCallback(fromImAccount, msgData) {
    //   if (!this.sending) return
    //   let { type, wxId } = getSessionTypeAndWxId(msgData.talkerRoomWxId, msgData.talkerWxId)
    //   let key = type + '' + wxId
    //   Logger.info('消息推送后，当有消息回调时')
    //   if (this.totalSendingMsgNum > 0 && this.onSendingMap[fromImAccount] && this.onSendingMap[fromImAccount][key] && this.onSendingMap[fromImAccount][key][msgData.wkfMsgId]) {
    //     delete this.onSendingMap[fromImAccount][key][msgData.wkfMsgId]
    //     this.totalSendingMsgNum--
    //   }
    // },
    // 所有消息都有收到成功回调
    onAfterSendAllMsg () {
      console.log('this.pushResultMap.failthis.pushResultMap.failthis.pushResultMap.fail', this.pushResultMap.fail)
      console.log('this.freindMapthis.freindMapthis.freindMapthis.freindMapthis.freindMap', this.freindMap)
      if (this.hideStatus) return
      this.resetSendStatus()
      if (Object.keys(this.pushResultMap.fail).length === 0) {
        this.success('发送完毕！')
        if (this.getRecordsList !== 0) {
          setTimeout(() => { this.regetList() }, 1000)
        } else {
          this.sending = false
        }
      } else {
        let content = '发送完毕！群发消息发送失败的个人号：'
        this.pushResultMap.fail.forEach((val, index) => {
          let account = this.freindMap[val.accountId]
          // this.freindMap.[val.accountId]
          let name = account.remark || account.nickName || account.wxId
          if (index > 0) {
            content += '、'
          }
          content += name
        })
        this.$alert(content, '警告', {
          confirmButtonText: '确定'
        })
      }
      this.pushResultMap = {
        fail: []
      }
    },
    // 好友群发的消息格式
    changeMsgData (data, pushMsgIndex, startRange, endRange) {
      // let waitTime = Math.floor(Math.random() * (this.sliderRange[1] - this.sliderRange[0]) + this.sliderRange[0]) * 1000
      // let waitTime =
      //     Math.floor(Math.random() * (endRange - startRange) + startRange) * 1000;
      let waitTime = endRange * 1000
      let wkfMsgId = new Date().getTime()
      // 处理成im消息格式
      let toAccount = {}
      // 处理成给服务器的格式
      let toServer = {}
      switch (data.msgType) {
        // 文本
        case MESSAGE_TPYE_KEY.TXT:
          toAccount = {
            msgType: MESSAGE_SUB_TYPE.VMA_TEXT_ELEM,
            content: data.msgText,
            isSelfSend: 1,
            wkfMsgId,
            pushMsgId: null,
            pushMsgIndex,
            waitTime
          }
          toServer = {
            type: MESSAGE_TPYE_KEY.TXT,
            content: data.msgText
          }
          break
        // 图片
        case MESSAGE_TPYE_KEY.IMG:
          toAccount = {
            msgType: MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM,
            resourceUrl: data.msgText,
            isSelfSend: 1,
            wkfMsgId,
            pushMsgId: null,
            pushMsgIndex,
            waitTime
          }
          toServer = {
            type: MESSAGE_TPYE_KEY.IMG,
            content: data.msgText
          }
          break
        // 语音
        case MESSAGE_TPYE_KEY.AUDIO:
          toAccount = {
            msgType: MESSAGE_SUB_TYPE.VMA_SOUND_ELEM,
            resourceUrl: data.msgText,
            content: {
              soundLength: data.voiceLength
            },
            isSelfSend: 1,
            wkfMsgId,
            pushMsgId: null,
            pushMsgIndex,
            waitTime
          }
          toServer = {
            type: MESSAGE_TPYE_KEY.AUDIO,
            content: data.msgText,
            voiceLength: data.voiceLength
          }
          break
        // 视频
        case MESSAGE_TPYE_KEY.VIDEO:
          toAccount = {
            msgType: MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM,
            resourceUrl: data.msgText,
            videoImgUrl: data.coverInfo,
            isSelfSend: 1,
            wkfMsgId,
            pushMsgId: null,
            pushMsgIndex,
            waitTime,
            content: {
              soundLength: data.videoLength
            }
          }
          toServer = {
            type: MESSAGE_TPYE_KEY.VIDEO,
            content: data.msgText,
            coverInfo: data.coverInfo,
            voiceLength: data.videoLength
          }
          break
        // 小程序
        case MESSAGE_TPYE_KEY.WECHAT:
          // var miniProgramMsg = data.msgObject
          toAccount = {
            msgType: MESSAGE_SUB_TYPE.VMA_MINI_PROGRAM_ELEM,
            content: data.msgText,
            resourceUrl: data.msgObject.thumbPath,
            // miniProgramName: data.msgObject.miniProgramName,
            // description: data.msgObject.description,
            // miniProgramId: data.msgObject.miniProgramId,
            // miniProgramPath:miniProgramMsg.miniProgramPath,

            isSelfSend: 1,
            wkfMsgId,
            pushMsgId: null,
            pushMsgIndex,
            waitTime
          }
          toServer = {
            type: MESSAGE_TPYE_KEY.WECHAT,
            content: data.msgText
          }
          break
        // 图文链接
        case MESSAGE_TPYE_KEY.IMGTXTLINK:
          // var imgTxtLink = JSON.parse(data.msgText)
          // console.log(data, 'imgTxtLink')
          toAccount = {
            msgType: MESSAGE_SUB_TYPE.VMA_IMGTXTLINK_ELEM,
            content: data.msgText,
            resourceUrl: data.msgObject.imgtxtUrl,

            // imgtxtTitle: imgTxtLink.imgtxtTitle,
            // imgtxtLinking: imgTxtLink.imgtxtLinking,
            // imgtxtDescribe: imgTxtLink.imgtxtDescribe,

            isSelfSend: 1,
            wkfMsgId,
            pushMsgId: null,
            pushMsgIndex,
            waitTime
          }
          toServer = {
            type: MESSAGE_TPYE_KEY.IMGTXTLINK,
            content: data.msgText
          }
          break
      }
      return {
        toAccount,
        toServer
      }
    },
    onModelMsg () {
      this.typeNum = 1
      this.modelMsg.show = true
    },
    openNewMsgPanel () {
      this.typeNum = 2
      this.newMsgPanel = {
        show: true,
        onlyGet: true,
        data: null,
        index: null
      }
    },
    editMsgPanel (row, rowIndex) {
      Logger.info(row, rowIndex)
      this.newMsgPanel = {
        show: true,
        data: row,
        onlyGet: true,
        index: rowIndex
      }
    },
    closeNewMsgEditPanel () {
      this.newMsgPanel = {
        show: false,
        data: null,
        onlyGet: true,
        index: null
      }
    },
    // 获取模板信息后
    async modifyData (params) {
      Logger.info('模板信息', params)
      if (params.msgType === 1 && !this.getSensitiveWordsResult(params.msgText)) { return }
      params.voiceLength = parseInt(params.voiceLength) || 0
      let data = Object.assign({}, params, {
        msgSource: params.msgText
      })
      if (params.msgType === 4) {
        let duration = await getVideoDuration(params.msgText)
        data.videoLength = Math.floor(duration * 1000)
      }
      if (this.newMsgPanel.data) {
        // 编辑完毕
        this.tableData.splice(this.newMsgPanel.index, 1, data)
      } else {
        // 新增
        this.tableData.push(data)
      }
    },
    // 获取新增消息成功后
    async afterEditOrAddMsgSuccess (params) {
      Logger.info('新增/修改', params)
      if (params.msgType === 1 && !this.getSensitiveWordsResult(params.msgText)) { return }
      params.voiceLength = parseInt(params.voiceLength) || 0
      let data = Object.assign({}, params, {
        msgSource: params.msgText
      })
      if (params.msgType === 4) {
        let duration = await getVideoDuration(params.msgText)
        data.videoLength = Math.floor(duration * 1000)
      }
      // 微客服群发小程序 修改  miniProgramName: "",
      // ||  params.msgObject.miniProgramPath == ''
      if (params.msgType === 6) {
        if (params.msgObject.miniProgramId === '' || params.msgObject.miniProgramName === '' || params.msgObject.thumbPath === '') {
          this.warn('请输入或选择消息内容')
          return false
        } else { }
      }
      if (params.msgType === 7) {
        if (params.msgObject.imgtxtTitle === '' || params.msgObject.imgtxtLinking === '' || params.msgObject.imgtxtUrl === '') {
          this.warn('请输入或选择消息内容')
          return false
        }
      }
      if (this.newMsgPanel.data) {
        // 编辑完毕
        this.tableData.splice(this.newMsgPanel.index, 1, data)
      } else {
        // 新增
        this.tableData.push(data)
      }
      this.closeNewMsgEditPanel()
    },
    showDelMsgDialog (row, rowIndex) {
      this.delMsgDialog = {
        show: true,
        data: {
          index: rowIndex
        }
      }
    },
    delMsgSuccess (data) {
      this.tableData.splice(data.index, 1)
      this.closeDelMsgDialog()
    },
    closeDelMsgDialog () {
      this.delMsgDialog = {
        show: false,
        data: null
      }
    },
    // 发送消息
    sendMessge (options) {
      Logger.info('发送消息', options)
      return this.chatIM.sendMessge(options)
    },
    // 获取好友消息数据
    transferFriendTypeOptions (params, selToID) {
      let options = {
        msgData: params,
        selToID: selToID,
        identifier: this.imIdentifier,
        msgSubType: 'custom',
        sessionType: 'c2c'
      }
      return options
    },
    resetSendStatus () {
      this.sending = false
      this.disabledSlider = false
    },
    // 更新敏感词列表
    onNoticeRefreshSensitiveWords () {
      this.refreshSensitiveWords()
    },
    // 检查敏感词匹配结果
    getSensitiveWordsResult (content) {
      let warning = this.checkUpSensitiveWords(content)
      // 检查敏感词
      if (typeof warning === 'object' && warning.type === 'error') return false
      return true
    }
  }
}
</script>

<style scoped>
.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
    .fade-leave-to
    /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
