<template>
  <div class="basic-lay">
    <div class="ly-box ly-border-bottom-1">
      <div class="basic-image">
        <img :src="details.logo | wechatAvtor"
             alt=""
             class="ly-wh-110px"
             v-image-view>
      </div>
      <div class="ly-box-1 ly-font-color-3 basic-info">
        <p class="ly-font-20">贴牌商名称：{{details.name || ''}}</p>
        <p class="ly-font-16">编号：{{details.id || ''}}</p>
        <p class="ly-font-16">账号：{{details.account || ''}}</p>
        <p class="ly-font-16">贴牌商状态：{{details.status===1?'正常':'禁用'}}</p>
        <ul class="basic-methods ly-clearfix">
          <li class="basic-item"
              v-if="details.equmentInfo">
            <p>授权设备数：{{toFixedW(details.equmentInfo.equWarrant)}}</p>
            <p>出售设备数：{{toFixedW(details.equmentInfo.equSale)}}</p>
            <p>实际入网数：{{toFixedW(details.equmentInfo.equNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.shopInfo">
            <p>授权店铺数：{{toFixedW(details.shopInfo.shopWarrant)}}</p>
            <p>出售店铺数：{{toFixedW(details.shopInfo.shopSale)}}</p>
            <p>实际店铺数：{{toFixedW(details.shopInfo.shopNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.accountInfo">
            <p>授权个人号：{{toFixedW(details.accountInfo.accountWarrant)}}</p>
            <p>出售个人号：{{toFixedW(details.accountInfo.accountSale)}}</p>
            <p>实际个人号：{{toFixedW(details.accountInfo.accountuNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.enterpriseBo">
            <p>授权企业账号：{{toFixedW(details.enterpriseBo.enterpriseWarrant)}}</p>
            <p>出售企业账号：{{toFixedW(details.enterpriseBo.enterpriseSale)}}</p>
            <p>实际开通账号：{{toFixedW(details.enterpriseBo.enterpriseNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.weChatGroupInfo">
            <p>授权工作群数：{{toFixedW(details.weChatGroupInfo.groupWarrant)}}</p>
            <p>出售工作群数：{{toFixedW(details.weChatGroupInfo.groupSale)}}</p>
            <p>实际开通群数：{{toFixedW(details.weChatGroupInfo.groupNum)}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="basic-contact">
      <p>联系电话：<span class="val">{{details.phone || ''}}</span></p>
      <p>地址：<span class="val">{{details.address || ''}}</span></p>
      <p>创建时间：<span class="val">{{fmt.date(details.createTime)}}</span></p>
      <p>创建人：<span class="val">{{details.createStaffName || ''}}</span></p>
      <p>备注：<span class="val">{{details.remark || ''}}</span></p>
    </div>
  </div>
</template>

<script>
import { oemListApi } from '@/api/sms'
import { toFixedW } from '@/utils'

export default {
  props: ['id'],
  data() {
    return {
      details: {},
      toFixedW
    }
  },
  created() {
    this.getData()
  },
  methods: {
    async getData() {
      const data = await oemListApi.getOemDetail(this.id)
      this.details = data
      this.postUserState(data)
    },
    /**
     * 传递值到父组件
     * @param data
     */
    postUserState(data) {
      this.$emit('postUserState', data)
    },
    /**
     * 当用户禁止或启用的时候更新状态
     * @param data
     */
    setUserState(data) {
      this.details = data
    }
  }
}
</script>
