<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFnOrDataList"
               :options="mergedOptions"
               @initial="initial"
               @change="change"
               ref="lazySelect" />
</template>

<script>
import { commonApi } from '@/api/chat'
import lazySelectMixin from '@/components/common/lazySelect/components/mixin'
import { SESSION_TYPE } from '@/constants/chat'

export default {
  props: {
    data: {
      type: Object,
      default() {
        return {
          type: null,
          staffId: null
        }
      }
    }
  },
  mixins: [lazySelectMixin],
  methods: {
    /**
     * 分组列表
     * @return {[type]} [description]
     */
    async getData() {
      // 好友/群聊分组
      let method = this.data.type === SESSION_TYPE.C2C ? commonApi.getAccountFriendGroupList : commonApi.getAccountTeamGroupList
      let list = await method(this.data.staffId)
      return (list || []).map(v => {
        let label = v.name
        return this.convertData(v.id, label, v)
      })
    }
  }
}
</script>
