<template>
  <div class="ico_h5 h5-view">
    <div class="h5-view-inner">
      <iframe v-if="url"
              :src="url" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      default: ''
    }
  }
}
</script>
<style lang="scss" scoped>
.h5-view {
  position: relative;
  .h5-view-inner {
    position: absolute;
    top: 68px;
    right: 14px;
    bottom: 74px;
    left: 14px;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    overflow: auto;
  }
}
</style>
