<template>
  <div class="chart"
       ref="chart"></div>
</template>

<script>
import { detailMixin, echartResizeMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import options from './src/options'
import echarts from 'echarts'

export default {
  mixins: [detailMixin, echartResizeMixin],
  data() {
    return {
      chart: null
    }
  },
  methods: {
    afterEntity(entity) {
      const promise = entity.type === 1 ? v3indexApi.getStaffResponseDetail(entity.id) : v3indexApi.getChatResponseDetail(entity.id)
      promise.then(data => {
        // x轴
        const xAxisData = []
        const serialData = []

        if (data && data.length) {
          data.forEach(v => {
            xAxisData.push(v.date)
            serialData.push(v.avgTime)
          })
        }

        options.xAxis[0].data = xAxisData
        options.series[0].data = serialData

        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        this.chart.setOption(options)
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.chart {
  height: rem(400px);
}
</style>
