<template>
  <ul class="ly-clearfix ly-margin-bottom-sm">
    <li class="ly-float-left ly-margin-right-sm">
      <el-button-group class="el-button-group-tabs">
        <el-button :type="params.type === TYPE.HOUR ? 'primary' : 'default'"
                   @click="changeType(TYPE.HOUR)">小时</el-button>
        <el-button :type="params.type === TYPE.DAY ? 'primary' : 'default'"
                   @click="changeType(TYPE.DAY)">天</el-button>
        <el-button :type="params.type === TYPE.MONTH ? 'primary' : 'default'"
                   @click="changeType(TYPE.MONTH)">月</el-button>
      </el-button-group>
    </li>
    <template v-if="params.type === TYPE.HOUR">
      <li class="ly-float-left ly-margin-right-sm">
        <el-button-group class="el-button-group-tabs">
          <el-button :type="params.dateType === DATE_TYPE.FIRST ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.FIRST)">8小时</el-button>
          <el-button :type="params.dateType === DATE_TYPE.SECOND ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.SECOND)">12小时</el-button>
          <el-button :type="params.dateType === DATE_TYPE.THIRD ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.THIRD)">24小时</el-button>
          <el-button :type="params.dateType === DATE_TYPE.CUSTOM ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.CUSTOM)">自定义</el-button>
        </el-button-group>
      </li>
      <li class="ly-float-left ly-margin-right-sm"
          v-if="params.dateType === DATE_TYPE.CUSTOM">
        <el-date-picker type="datetimerange"
                        size="mini"
                        range-separator="至"
                        start-placeholder="开始时间"
                        end-placeholder="结束时间"
                        placeholder="选择时间范围"
                        :default-time="['00:00:00', '23:59:59']"
                        :clearable="false"
                        v-model="dateRange.hour" />
      </li>
    </template>

    <template v-else-if="params.type === TYPE.DAY">
      <li class="ly-float-left ly-margin-right-sm">
        <el-button-group class="el-button-group-tabs">
          <el-button :type="params.dateType === DATE_TYPE.FIRST ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.FIRST)">7天</el-button>
          <el-button :type="params.dateType === DATE_TYPE.SECOND ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.SECOND)">15天</el-button>
          <el-button :type="params.dateType === DATE_TYPE.THIRD ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.THIRD)">30天</el-button>
          <el-button :type="params.dateType === DATE_TYPE.CUSTOM ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.CUSTOM)">自定义</el-button>
        </el-button-group>
      </li>
      <li class="ly-float-left ly-margin-right-sm"
          v-if="params.dateType === DATE_TYPE.CUSTOM">
        <el-date-picker v-model="dateRange.day"
                        type="daterange"
                        size="mini"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        :default-time="['00:00:00', '23:59:59']"/>
      </li>
    </template>

    <template v-else-if="params.type === TYPE.MONTH">
      <li class="ly-float-left ly-margin-right-sm">
        <el-button-group class="el-button-group-tabs">
          <el-button :type="params.dateType === DATE_TYPE.FIRST ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.FIRST)">12个月</el-button>
          <el-button :type="params.dateType === DATE_TYPE.SECOND ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.SECOND)">24个月</el-button>
          <el-button :type="params.dateType === DATE_TYPE.THIRD ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.THIRD)">36个月</el-button>
          <el-button :type="params.dateType === DATE_TYPE.CUSTOM ? 'primary' : 'default'"
                     @click="changeDateType(DATE_TYPE.CUSTOM)">自定义</el-button>
        </el-button-group>
      </li>
      <li class="ly-float-left ly-margin-right-sm"
          v-if="params.dateType === DATE_TYPE.CUSTOM">
        <el-date-picker v-model="params.from"
                        type="month"
                        size="mini"
                        value-format="timestamp"
                        placeholder="选择开始月份" />
        <el-date-picker v-model="params.to"
                        type="month"
                        size="mini"
                        value-format="timestamp"
                        placeholder="选择结束月份" />
      </li>
    </template>
    <li class="ly-float-left ly-margin-right-sm">
      <el-button type="primary"
                 size='small'
                 @click="search">搜索</el-button>
    </li>
  </ul>
</template>

<script>
import { watchDateRangeToTimestamp } from '@/utils'

const TYPE = {
  // 小时
  HOUR: 1,
  // 天
  DAY: 2,
  // 月
  MONTH: 3
}
const DATE_TYPE = {
  // 选项1
  FIRST: 1,
  // 选项2
  SECOND: 2,
  // 选项3
  THIRD: 3,
  // 自定义
  CUSTOM: 4
}
export default {
  data() {
    return {
      params: {
        to: '',
        from: '',
        // 1-小时,2-天,3-月
        type: TYPE.HOUR,
        dateType: DATE_TYPE.FIRST
      },
      dateRange: {
        hour: '',
        day: '',
        month: ''
      },
      TYPE,
      DATE_TYPE
    }
  },
  created() {
    this.$watch('dateRange.hour', watchDateRangeToTimestamp(this.params, 'from', 'to'))
    this.$watch('dateRange.day', watchDateRangeToTimestamp(this.params, 'from', 'to'))
    this.$watch('dateRange.month', watchDateRangeToTimestamp(this.params, 'from', 'to'))
    this.changeType(TYPE.HOUR)
  },
  methods: {
    changeType(type) {
      this.params.type = type
      this.changeDateType(DATE_TYPE.FIRST)
    },
    changeDateType(dateType) {
      this.params.dateType = dateType

      // 选择自定义项时，将时间赋值到时间区间选择框中
      if (dateType === DATE_TYPE.CUSTOM) {
        const dateRange = [new Date(this.params.from), new Date(this.params.to)]
        switch (this.params.type) {
          case TYPE.HOUR:
            this.dateRange.hour = dateRange
            break
          case TYPE.DAY:
            this.dateRange.day = dateRange
            break
          case TYPE.MONTH:
            this.dateRange.month = dateRange
            break
        }
      } else {
        const now = new Date()
        this.params.to = now.getTime()
        switch (this.params.type) {
          case TYPE.HOUR:
            switch (dateType) {
              case DATE_TYPE.FIRST:
                now.setHours(now.getHours() - 8)
                break
              case DATE_TYPE.SECOND:
                now.setHours(now.getHours() - 12)
                break
              case DATE_TYPE.THIRD:
                now.setHours(now.getHours() - 24)
                break
            }
            break
          case TYPE.DAY:
            switch (dateType) {
              case DATE_TYPE.FIRST:
                now.setDate(now.getDate() - 7)
                break
              case DATE_TYPE.SECOND:
                now.setDate(now.getDate() - 15)
                break
              case DATE_TYPE.THIRD:
                now.setDate(now.getDate() - 30)
                break
            }
            break
          case TYPE.MONTH:
            switch (dateType) {
              case DATE_TYPE.FIRST:
                now.setMonth(now.getMonth() - 12)
                break
              case DATE_TYPE.SECOND:
                now.setMonth(now.getMonth() - 24)
                break
              case DATE_TYPE.THIRD:
                now.setMonth(now.getMonth() - 36)
                break
            }
            break
        }
        this.params.from = now.getTime()
        this.search()
      }
    },
    search() {
      this.$emit('search', Object.assign({}, this.params))
    }
  }
}
</script>
