<template>
  <div class="ly-bg-white system-home-row ly-box">
    <div class="system-home-column ly-box-1">
      <div class="ly-inline-block ly-text-left">
        <div>
          <span class="system-home-column-title">当前好友总数</span>
          <el-popover placement="top"
                      popper-class="tip-blue"
                      trigger="hover">
            实时统计当前好友总数
            <el-button slot="reference"
                        type="text">
              <i class="el-icon-question ly-font-color-5"></i>
            </el-button>
          </el-popover>
        </div>
        <div class="system-home-column-number">200</div>
        <div class="ly-font-color-7">较前一天 <i class="el-icon-caret-top"></i>0</div>
      </div>
    </div>
    <div class="system-home-column ly-box-1">
      <div class="ly-inline-block ly-text-left">
        <div>
          <span>昨日新增好友数</span>
          <el-popover placement="top"
                      popper-class="tip-blue"
                      trigger="hover">
            昨日新增好友数为昨日设备连接过程中通过主动发起或者被动添加增加的好友数量
            <el-button slot="reference"
                        type="text">
              <i class="el-icon-question ly-font-color-5"></i>
            </el-button>
          </el-popover>
        </div>
        <div class="system-home-column-number">200</div>
        <div class="ly-font-color-7">较前一天 <i class="el-icon-caret-top"></i>0</div>
      </div>
    </div>
    <div class="system-home-column ly-box-1">
      <div class="ly-inline-block ly-text-left">
        <div>
          <span>当前群总数</span>
          <el-popover placement="top"
                      popper-class="tip-blue"
                      trigger="hover">
            实时统计当前微信群总数
            <el-button slot="reference"
                        type="text">
              <i class="el-icon-question ly-font-color-5"></i>
            </el-button>
          </el-popover>
        </div>
        <div class="system-home-column-number">200</div>
        <div class="ly-font-color-6">较前一天 <i class="el-icon-caret-bottom"></i>0</div>
      </div>
    </div>
    <div class="system-home-column ly-box-1">
      <div class="ly-inline-block ly-text-left">
        <div>
          <span>昨日朋友圈发布</span>
          <el-popover placement="top"
                      popper-class="tip-blue"
                      trigger="hover">
            昨日朋友圈发布总数为昨日在微控后台进行发布并且成功的朋友圈数量，在客户端发布的朋友圈不计算在内
            <el-button slot="reference"
                        type="text">
              <i class="el-icon-question ly-font-color-5"></i>
            </el-button>
          </el-popover>
        </div>
        <div class="system-home-column-number">200</div>
        <div class="ly-font-color-7">较前一天 <i class="el-icon-caret-top"></i>0</div>
      </div>
    </div>
    <div class="system-home-column ly-box-1">
      <div class="ly-inline-block ly-text-left">
        <div>
          <span>代发红包总数</span>
          <el-popover placement="top"
                      popper-class="tip-blue"
                      trigger="hover">
            微客服发送的红包总数
            <el-button slot="reference"
                        type="text">
              <i class="el-icon-question ly-font-color-5"></i>
            </el-button>
          </el-popover>
        </div>
        <div class="system-home-column-number">200</div>
        <div class="ly-font-color-7">较前一天 <i class="el-icon-caret-top"></i>0</div>
      </div>
    </div>
    <div class="system-home-column ly-box-1">
      <div class="ly-inline-block ly-text-left">
        <div>
          <span>风控总数</span>
          <el-popover placement="top"
                      popper-class="tip-blue"
                      trigger="hover">
            微信风控的敏感操作总数
            <el-button slot="reference"
                        type="text">
              <i class="el-icon-question ly-font-color-5"></i>
            </el-button>
          </el-popover>
        </div>
        <div class="system-home-column-number">200</div>
        <div class="ly-font-color-7">较前一天 <i class="el-icon-caret-top"></i>0</div>
      </div>
    </div>
  </div>
</template>
