<template>
  <div>
    <vma-dialog title="短信群发"
                v-model="computedValue">
      <div>
        <div class="ly-box ly-box-align-justify-center">
          <el-radio-group v-model="radio">
            <el-radio-button :label="1">微信好友手机群发</el-radio-button>
            <el-radio-button :label="0">其他手机号群发</el-radio-button>
          </el-radio-group>
        </div>
        <WxFriend v-if="radio===1"
                  ref='wxFriend'></WxFriend>
        <OtherTel v-if="radio==0"
                  ref="otherTel"></OtherTel>
      </div>
      <div class="dialog-footer">
        <el-button @click="nextStep">下一步</el-button>
      </div>
    </vma-dialog>
  </div>
</template>

<script>
import WxFriend from './src/wxFriend' // 微信好友手机群发
import OtherTel from './src/otherTel' // 其他手机号群发

export default {
  components: { WxFriend, OtherTel },
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    codePayInfo: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
      radio: 1,
      optionList: ['微信好友手机群发', '其他手机号群发'],
      phones: []
    }
  },
  methods: {
    nextStep() {
      let tables = []
      if (this.$refs.wxFriend) { // wxFriend 组件
        tables = this.$refs.wxFriend.rightTableData
      } else { // otherTel 组件
        tables = this.$refs.otherTel.nextStep()
      }
      if (tables.length <= 0) {
        this.warn('请选择至少一条短信')
      } else {
        tables.forEach((o, i) => {
          this.phones.push(o.phone)
        })
        this.$emit('on-next', this.phones)
      }
    }
  }
}
</script>
<style scoped>
</style>
