<template>
  <el-form class="dialog-powdermanage"
           @submit.native.prevent>
    <p class="colortip">为避免微信风控，建议每次少量添加好友或使用定时加好友间隔添加</p>
    <el-form-item class="dialogpowder-num-ul dialogpowder-num-ulborder">
      <div class="ly-box dialogpowder-num-li"
           v-for="(item, index) in details"
           :key="index">
        <div class="dialogpowder-numlist">
          <el-form-item label="个人号:"
                        required>
            <!--
            <wechatAccountStatusNew v-model="item.wechatAccountId"
                                    placeholder="请选择个人号"
                                    size="small"
                                    @initial="initialWechatAccount"
                                    :list="wechatAccount.list"
                                    @change="change(index)"></wechatAccountStatusNew>
                                    -->
            <selectPersonNumCascadert v-model="item.wechatAccountId"
                                      @initial="initialWechatAccount"
                                      :list="wechatAccount.list"
                                      @change="change(index)"
                                      filterable
                                      size="small"
                                      placeholder="请选择个人号">

            </selectPersonNumCascadert>
          </el-form-item>
          <el-form-item label="加好友后打标签:"
                        class="elmargintop-12">
            <wechatLabel v-model="item.labelId"
                         :wechatAccountId="item.wechatAccountId[item.wechatAccountId.length - 1]"
                         placeholder="请选择标签"
                         size="small"></wechatLabel>
          </el-form-item>
        </div>
        <div class="dialogpowder-numlist">
          <el-form-item label="手机或微信:"
                        required>
            <el-input type="textarea"
                      :rows="5"
                      placeholder="请输入手机号或微信号，添加多个好友时必须回车分隔"
                      v-model="item.phone">
            </el-input>
          </el-form-item>
        </div>
        <div class="dialogpowder-numbtn">
          <div style="margin-top: 33px;">
            <el-button type="primary"
                       size="small"
                       @click="newAddRecord(item,index)"
                       v-if="index == (details.length-1)">新增</el-button>
          </div>
          <div>
            <el-button type="danger"
                       size="small"
                       @click="removeRecord(item,index)"
                       v-if="details.length > 1">移除</el-button>
          </div>
        </div>
      </div>
    </el-form-item>
    <el-form-item class="dialogpowder-num-ul dialogpowder-num-remark">
      <div class="ly-box dialogpowder-num-li">
        <div class="dialogpowder-numlist">
          <el-form-item label="备注:">
            <el-input type="textarea"
                      :rows="5"
                      placeholder="请输入备注"
                      v-model="parameter.remark"
                      maxlength="50">
            </el-input>
          </el-form-item>
        </div>
        <div class="dialogpowder-numlist">
          <el-form-item label="消息内容:"
                        required>
            <el-input type="textarea"
                      :rows="5"
                      placeholder="请输入消息内容"
                      v-model="parameter.msg"
                      maxlength="50">
            </el-input>
          </el-form-item>
        </div>
      </div>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import {wechatAccountStatusNew, wechatLabel} from '@/components/packages/system/lazySelect'
import {selectPersonNumCascadert} from '@/components/packages/system/lazyCascader'
import {wxNumValidator} from '@/assets/js/validators'
import {powderManageApi} from '@/api/system'

export default {
  components: {wechatAccountStatusNew, wechatLabel, selectPersonNumCascadert},
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      details: [
        {
          phone: '',
          wechatAccountId: [],
          labelId: ''
        }
      ],
      parameter: {
        details: [],
        remark: '',
        msg: ''
      },
      wechatAccount: {
        list: null
      },
      rules: []
    }
  },
  methods: {
    change(index) {
      this.details[index].labelId = ''
    },
    // 新增
    newAddRecord(item, index) {
      this.details.push({
        phone: '',
        wechatAccountId: [],
        labelId: ''
      })
    },
    // 移除
    removeRecord(item, index) {
      this.details.splice(index, 1)
    },
    // 弹窗-确定
    sureCallback() {
      for (let i = 0; i < this.details.length; i++) {
        let item = this.details[i]
        if (!item.wechatAccountId) {
          this.error('很遗憾，请选择个人号')
          return
        }
        if (!item.phone) {
          this.error('很遗憾，需要输入手机号或微信号')
          return
        }
        this.parameter.details[i] = {
          phone: item.phone.split('\n'),
          wechatAccountId: item.wechatAccountId[item.wechatAccountId.length - 1],
          labelId: item.labelId
        }
        for (let x = 0; x < this.parameter.details[i].phone.length; x++) {
          let itemCld = this.parameter.details[i].phone[x]
          if (itemCld) {
            if (!wxNumValidator.valid(itemCld)) {
              this.error('每个手机号或微信号必须为6-20位字母、数字、下划线、连接符')
              return
            }
          } else {
            this.parameter.details[i].phone.splice(x, 1)
          }
        }
        if (this.parameter.details[i].phone.length > 1 && this.parameter.remark) {
          this.error('很遗憾，添加多个好友时不可备注')
          return
        }
        if (this.parameter.details[i].phone.length > 50) {
          this.error('很遗憾，一次添加多个好友时不可超过50个')
          return
        }
      }
      if (!this.parameter.msg) {
        this.error('很遗憾，消息内容不可为空')
        return
      }
      this.$alert('批量添加好友运行期间，请不要切换页面，否则会导致添加任务中止', '提示', {
        confirmButtonText: '我知道了'
      })
      powderManageApi.addFans(this.parameter).then((res) => {
        this.$emit('getTableList')
        this.dataInfo.open = false
      })
    },
    initialWechatAccount(data) {
      this.wechatAccount.list = data
    }
  }
}
</script>
