<template>
  <div>
    <el-form>
      <el-form-item label="自动加好友:"
                    :label-width="formLabelWidth">
        <el-switch v-model="setObj.status"
                   active-color="#13ce66"
                   inactive-color="#d3d3d3">
        </el-switch>
      </el-form-item>
      <div v-if="setObj.status">
        <el-form-item class="dialogpowder-num-remark"
                      label="订单创建时间:"
                      :label-width="formLabelWidth"
                      required>
          <el-date-picker class="ly-width-340px-im"
                          v-model="date"
                          size="small"
                          type="datetimerange"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange($event,'startTime','endTime')">
          </el-date-picker>
        </el-form-item>
        <el-form-item class="dialogpowder-num-remark"
                      label="自动加好友时间:"
                      :label-width="formLabelWidth"
                      required>
          <div class="addfrendtimeli"
               v-for="item in dayNumberList"
               :key="item.val">
            <el-radio v-model="setObj.type"
                      :label="item.val">{{item.key}}</el-radio>
            <el-input type="number"
                      v-model="item.dayNumber"
                      min="1"
                      step="1"
                      placeholder=""
                      size="small"></el-input>天
          </div>
        </el-form-item>
        <el-form-item class="dialogpowder-num-remark"
                      label="自动加好友频率:"
                      :label-width="formLabelWidth">
          <el-form-item class="dialogpowder-num-remark"
                        label="每轮间隔时间:"
                        :label-width="formLabelWidth3"
                        required>
            <el-input-number v-model="setObj.interval"
                             :min="1"
                             :max="10"
                             label="描述文字"
                             size="small"></el-input-number>
          </el-form-item>
          <span class="colortip ly-font-12">&ensp;每轮间隔时间:默认1分钟，若填写60分钟以上时间，请填写60的倍数，例如60、120、180...</span>
          <el-form-item class="dialogpowder-num-remark"
                        label="每轮申请好友:"
                        :label-width="formLabelWidth3"
                        required>
            <el-input-number v-model="setObj.friendNum"
                             :min="1"
                             :max="10"
                             label="描述文字"
                             size="small"></el-input-number>
          </el-form-item>
          <el-form-item class="dialogpowder-num-remark dialogpowder-num-times"
                        label="每日有效时段:"
                        :label-width="formLabelWidth3">
            <el-time-select placeholder="起始时间"
                            v-model="setObj.dayStartTime"
                            size="small"
                            :picker-options="{
                              start: '00:00',
                              step: '00:15',
                              end: '23:59'
                            }">
            </el-time-select>
            ~
            <el-time-select placeholder="结束时间"
                            v-model="setObj.dayEndTime"
                            size="small"
                            :picker-options="{
                              start: '00:00',
                              step: '00:15',
                              end: '23:59',
                              minTime: setObj.dayStartTime
                            }"
                            @change="timeChange">
            </el-time-select>
          </el-form-item>
        </el-form-item>
        <el-form-item class="dialogpowder-num-remark"
                      label="选择个人号:"
                      :label-width="formLabelWidth3"
                      required
                      size="small">
          <el-select v-model="wechatAccountIds"
                     multiple
                     class="ly-width-340px-im"
                     placeholder="请选择">
            <el-option v-for="item in wechatAccountIdsList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <div class="line-height-28"
               v-for="item in ruleTypeList"
               :key="item.val">
            <el-radio v-model="setObj.ruleType"
                      :label="item.val"
                      size="small">{{item.key}}</el-radio>
          </div>
        </el-form-item>
        <el-form-item label="消息内容:"
                      :label-width="formLabelWidth3"
                      required>
          <span class="colortip">可以添加多个消息，会在这些信息里面按序发送</span>
          <el-button type="primary"
                     size="small"
                     class="ly-float-right"
                     @click="addMessageList">新增</el-button>
          <div v-for="(item, index) in someMsgList"
               :key="index"
               class="ly-box ly-margin-bottom-sm">
            <el-input type="textarea"
                      :rows="3"
                      placeholder="请输入消息内容"
                      v-model="item.content">
            </el-input>&ensp;
            <i class="el-icon-remove ly-font-color-7 ly-cursor-pointer"
               @click="removeRecord(index)"></i>
          </div>
        </el-form-item>
        <el-form-item label="过滤重复手机:"
                      :label-width="formLabelWidth3">
          <el-switch v-model="setObj.phoneRule"
                     active-color="#13ce66"
                     inactive-color="#d3d3d3">
          </el-switch>
        </el-form-item>
      </div>
    </el-form>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { screenApi, powderManageApi } from '@/api/system'

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      formLabelWidth3: '110px',
      date: '',
      dayNumberList: [
        {
          key: '下单后',
          val: 1,
          dayNumber: ''
        },
        {
          key: '待发货状态后',
          val: 2,
          dayNumber: ''
        },
        {
          key: '已发货状态后',
          val: 3,
          dayNumber: ''
        },
        {
          key: '确认收货状态后',
          val: 4,
          dayNumber: ''
        }
      ],
      ruleTypeList: [
        {
          key: '按选择个人号的顺序添加',
          val: 1
        },
        {
          key: '随机添加到选择的个人号',
          val: 2
        }
      ],
      someMsgList: [
        {
          content: ''
        }
      ],
      wechatAccountIdsList: [],
      wechatAccountIds: [],
      setObj: {
        dayEndTime: '',
        dayNumber: '',
        dayStartTime: '',
        endTime: '',
        friendNum: '',
        interval: '',
        ruleType: '',
        id: '',
        someMsg: [],
        startTime: '',
        status: true,
        type: '',
        wechatAccountIds: '',
        phoneRule: true
      }
    }
  },
  created() {
    this.getWechat()
    this.getList()
  },
  methods: {
    async getWechat() {
      await screenApi.accountList().then((res) => {
        for (var i = 0; i < res.length; i++) {
          var item = res[i]
          this.wechatAccountIdsList[i] = {
            value: item.id,
            label: item.nickName
          }
        }
      })
    },
    async getList() {
      await powderManageApi.fansSetList().then((res) => {
        res.status = Boolean(res.status)
        if (res.status) {
          res.phoneRule = Boolean(res.phoneRule)
          for (var i = 0; i < this.dayNumberList.length; i++) {
            var item = this.dayNumberList[i]
            if (res.type === item.val) {
              item.val = res.type
              item.dayNumber = res.dayNumber
            }
          }
          res.someMsg = JSON.parse(res.someMsg)
          for (var y = 0; y < res.someMsg.length; y++) {
            var obj = res.someMsg[y]
            this.someMsgList[y] = {
              content: obj
            }
          }
          var arrIds = res.wechatAccountIds.split(',')
          for (var x = 0; x < arrIds.length; x++) {
            this.wechatAccountIds[x] = Number(arrIds[x])
          }
          this.date = [new Date(res.startTime), new Date(res.endTime)]
          this.ruleType = res.ruleType + ''
        }
        this.setObj = res
      })
    },
    dateChange(val, begin, end) {
      if (!val) {
        this.setObj[begin] = ''
        this.setObj[end] = ''
      } else {
        this.setObj[begin] = new Date(val[0]).getTime()
        this.setObj[end] = new Date(val[1]).getTime()
      }
    },
    timeChange(val) {
      if (!this.setObj.dayStartTime) {
        this.error('请先选择开始时间')
        this.setObj.dayEndTime = ''
      }
    },
    // 新增消息内容
    addMessageList() {
      this.someMsgList.push({
        content: ''
      })
    },
    // 移除
    removeRecord(index) {
      this.someMsgList.splice(index, 1)
    },
    // 弹窗-确定
    sureCallback() {
      if (this.setObj.status) {
        this.setObj.dayNumber = ''
        for (var i = 0; i < this.dayNumberList.length; i++) {
          var item = this.dayNumberList[i]
          if (this.setObj.type === item.val) {
            this.setObj.dayNumber = item.dayNumber
          }
        }
        this.setObj.someMsg = []
        for (var y = 0; y < this.someMsgList.length; y++) {
          var obj = this.someMsgList[y]
          if (obj.content) {
            this.setObj.someMsg.push(obj.content)
          }
        }
        if (!this.setObj.startTime) {
          this.error('很遗憾，请选择订单创建时间')
          return
        }
        if (!this.setObj.type || !this.setObj.dayNumber) {
          this.error('很遗憾，请选择自动加好友时间')
          return
        }
        if (!this.setObj.interval) {
          this.error('很遗憾，请选择每轮间隔时间')
          return
        }
        if ((this.setObj.dayStartTime && !this.setObj.dayEndTime) || (!this.setObj.dayStartTime && this.setObj.dayEndTime)) {
          this.error('很遗憾，请选择每日有效时段')
          return
        }
        if (!this.setObj.friendNum) {
          this.error('很遗憾，请选择每轮申请好友')
          return
        }
        if (this.wechatAccountIds.length === 0 || !this.setObj.ruleType) {
          this.error('很遗憾，请选择个人号')
          return
        } else {
          this.setObj.wechatAccountIds = ''
          this.setObj.wechatAccountIds = this.wechatAccountIds.join(',')
        }
        if (this.setObj.someMsg.length > 0) {
          this.setObj.someMsg = JSON.stringify(this.setObj.someMsg)
        } else {
          this.error('很遗憾，请填写消息内容')
          return
        }
        this.setObj.phoneRule = Number(this.setObj.phoneRule)
        this.setObj.status = 1
      } else {
        this.setObj = {
          status: 0
        }
      }
      powderManageApi.addShopFans(this.setObj).then((res) => {
        this.$emit('getTableList')
        this.dataInfo.open = false
      })
    }
  }
}
</script>
