<template>
  <div class="login-form-input"
       :class="{active: isFocus}"
       @click="focus">
    <i class="icon"
       v-if="icon"
       :class="icon"></i>
    <div class="login-form-input-container">
      <input :type="type"
             :placeholder="placeholder"
             v-model.trim="modelValue"
             @focus="onInputFocus"
             @blur="onInputBlur"
             @keyup.enter="onInputEnter"
             autocomplete="off"
             ref="input">
    </div>
  </div>
</template>

<script>
    export default {
        model: {
            prop: 'value',
            event: 'model'
        },
        props: {
            value: {
                type: String,
                default: ''
            },
            type: {
                type: String,
                default: 'text'
            },
            icon: {
                type: String,
                default: ''
            },
            placeholder: {
                type: String,
                default: ''
            }
        },
        data() {
            return {
                isFocus: false
            }
        },
        computed: {
            modelValue: {
                get() {
                    return this.value
                },
                set(val) {
                    this.$emit('model', val)
                }
            }
        },
        methods: {
            // 输入框获得焦点
            focus() {
                this.$refs.input.focus()
            },
            // 输入框文本选中
            select() {
                this.$refs.input.select()
            },
            onInputFocus() {
                this.isFocus = true
                this.$emit('focus')
            },
            onInputBlur() {
                this.isFocus = false
                this.$emit('blur')
            },
            onInputEnter() {
                this.$emit('enter')
            }
        }
    }
</script>