<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.weChat"
                    placeholder="微信昵称"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <el-select clearable
                     class="ly-margin-right-bottom-sm"
                     v-model="params.platformType"
                     placeholder="平台类型">
            <el-option v-for="item in PLATFORM_TYPE"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-input v-model.trim="params.activityName"
                    placeholder="请输入活动名称"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange($event,'startTime','endTime')" />
          <payMethod placeholder="支付方式"
                     class="ly-margin-right-bottom-sm"
                     v-model="params.payType"></payMethod>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span>
          <span class="ly-font-color-7 ly-font-14 ly-margin-right-sm">合计支出：{{total | numberToFixed}}</span>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="nickName"
                         label="微信昵称" />
        <!-- <el-table-column label="微信ID"
                         prop="wxId"
                         min-width="160" /> -->
        <el-table-column label="平台类型"
                         min-width="80">
          <template slot-scope="scope">
            <span v-if="scope.row.platformType===1">淘宝</span>
            <span v-else-if="scope.row.platformType===2">京东</span>
            <span v-else-if="scope.row.platformType===3">拼多多</span>
            <span v-else>--</span>
          </template>
        </el-table-column>
        <el-table-column label="购物账号"
                         prop="buyerAccount" />
        <el-table-column label="绑定时间"
                         min-width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="activityName"
                         label="活动名称" />
        <el-table-column prop="moneyNum"
                         label="金额(元)" >
          <template slot-scope="scope">
            <span>{{scope.row.moneyNum | numberToFixed}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="支付方式">
          <template slot-scope="scope">
            <span v-if="scope.row.payType===0 || scope.row.payType==='0'">微码微控账户支付</span>
            <span v-else>公众号支付({{scope.row.mpAccount || '--'}})</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { v2marketPlatformApi } from '@/api/system'
import { PLATFORM_TYPE } from '@/constants/selects'
import { payMethod } from '@/components/packages/system/lazySelect'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { payMethod },
  data() {
    return {
      activeNames: ['1'],
      PLATFORM_TYPE: PLATFORM_TYPE,
      params: {
        weChat: '',
        platformType: '',
        activityName: '',
        payType: ''
      },
      total: 0
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await v2marketPlatformApi.activityBindLog(this.params).then((res) => {
        this.tableData = res.page
        this.total = res.expend
      })
    }
  }
}
</script>
