<template>
  <div>
    <el-form class="ly-padding-horizontal-sm"
             label-width="100px">
      <el-form-item class="demo-dynamic"
                    label="增加设备："
                    size="small">
        <div>
          <el-input v-model="params.num"
                    clearable></el-input>台
        </div>
        <p class="ly-font-12">还可增加{{numInfo.left}}个</p>
      </el-form-item>
      <el-form-item label="备注：">
        <el-input type="textarea"
                  v-model="params.remark"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback">确 定</el-button>
    </div>
  </div>
</template>

<script>
// import { businessApi } from '@/api/pms'

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      params: {
        enterpriseId: null,
        num: '',
        remark: ''
      },
      numInfo: {}
    }
  },
  created() {
    this.equNum()
  },
  methods: {
    // 弹窗-确定
    sureCallback() {
      if (!this.params.num) {
        this.error('请填写新增设备台数')
        return
      } else {
        this.params.num = Number(this.params.num)
      }
      this.params.enterpriseId = this.dialog.id
      // businessApi.enterAddEqu(this.params).then(res => {
      this.success('恭喜你，新增成功')
      this.dialog.open = false
      // })
    },
    // 可用设备数
    equNum() {
      // businessApi.equNum().then(res => {
      this.numInfo = {
        left: 986,
        sum: 1000,
        used: 14
      }
      // })
    }
  }
}
</script>
