<template>
  <div>
    <el-form class="ly-padding-horizontal-sm"
             label-width="100px">
      <el-form-item label="重置密码："
                    size="small">
        <el-input v-model="params.password"
                  clearable></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback">确 定</el-button>
    </div>
  </div>
</template>

<script>
// import { businessApi } from '@/api/pms'

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      params: {
        enterpriseId: null,
        password: ''
      }
    }
  },
  methods: {
    // 弹窗-确定
    sureCallback() {
      if (!this.params.password) {
        this.error('请填写密码')
        return
      }
      this.params.enterpriseId = this.dialog.id
      // businessApi.enterReset(this.params).then(res => {
      this.success('恭喜你，重置成功')
      this.dialog.open = false
      // })
    }
  }
}
</script>
