<template>
  <div class="chart"
       ref="chart"></div>
</template>

<script>
import { detailMixin, echartResizeMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import options from './src/options'
import echarts from 'echarts'

export default {
  mixins: [detailMixin, echartResizeMixin],
  data() {
    return {
      chart: null
    }
  },
  methods: {
    afterEntity(entity) {
      v3indexApi.getStaffTalkCountDetail(entity).then(data => {
        // x轴
        const xAxisData = []
        // 聊天总数
        const totalChatData = []
        // 与男性好友聊天总数
        const totalMaleData = []
        // 与女性好友聊天总数
        const totalFemaleData = []
        // 群聊总数
        const totalChatRoomData = []

        if (data && data.length) {
          data.forEach(v => {
            xAxisData.push(v.date)
            totalChatData.push(v.totalChatTarget)
            totalMaleData.push(v.totalMale)
            totalFemaleData.push(v.totalFemale)
            totalChatRoomData.push(v.totalChatroom)
          })
        }

        options.xAxis[0].data = xAxisData
        options.series[0].data = totalChatData
        options.series[1].data = totalMaleData
        options.series[2].data = totalFemaleData
        options.series[3].data = totalChatRoomData

        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        this.chart.setOption(options)
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.chart {
  height: rem(400px);
}
</style>
