<template>
  <div class="page-login" :style="{backgroundImage: `url(${loginInfo.bg})`}">
    <div class="login-header">
      <ul class="login-header-info">
        <li>
          <ins>客服热线：400-021-1220</ins>
        </li>
        <li>
          <ins>
            <i class="icon icon-login-gongzhonghao"></i>
            关注微信公众号
          </ins>
        </li>
      </ul>
      <img :src="theme.loginLogo" class="login-logo">
    </div>
    <div class="login-box">
      <form class="login-form">
        <div class="login-tabs">
          <span class="login-tab-item" :class="{active: loginType === 1}" @click="() => loginType = 1">企业登录</span>
          <span class="login-tab-item" :class="{active: loginType === 2}" @click="() => loginType = 2">员工登录</span>
        </div>
        <div class="login-form-item">
          <login-form-input placeholder="请输入登录账号" icon="icon-login-zhanghao" ref="account" />
        </div>
        <div class="login-form-item">
          <login-form-input placeholder="请输入登录密码" icon="icon-login-mima" type="password" />
        </div>
        <div class="login-form-item">
          <div class="login-form-code">
            <div class="code-img">
              <img src="">
            </div>
            <login-form-input placeholder="请输入验证码" icon="icon-login-yanzhengma" />
          </div>
        </div>
        <div class="login-form-item">
          <el-button type="primary" class="login-form-btn">登录</el-button>
        </div>
        <div class="login-form-item">
          <el-checkbox class="login-form-remember">记住密码</el-checkbox>
        </div>
      </form>
    </div>
    <div class="login-footer">
      技术支持：微码科技 www.v-ma.com (推荐使用谷歌浏览器、火狐浏览器以及360极速浏览器)
      <br />
      网站ICP备案号：闽ICP备16000346号-3 Copyright 福建微码信息科技有限公司 版权所有
    </div>
  </div>
</template>

<script>
import LoginFormInput from './components/loginFormInput'
import { loginInfo } from '@/config'

export default {
  components: {
    LoginFormInput
  },
  data () {
    return {
      loginType: 1,
      loginInfo
    }
  },
  mounted () {
    this.$refs.account.focus()
  }
}
</script>
