<template>
  <div>
    <el-dialog title="行驶证" :visible.sync="driving" :modal-append-to-body="false">
      <el-row :gutter="20">
        <el-col :span="14">
          <div class="cardcontentCarImg">
            <img :src="drivingCarData.userQuestionUrl" v-image-view>
          </div>
        </el-col>
        <el-col :span="10">
          <div class="cardcontent">
            <el-form label-width="100px" class="demo-dynamic">
              <el-form-item label="车牌" prop="vehicleCarLicense">
                <el-input v-model="drivingCarData.vehicleCarLicense" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="车辆识别代号" prop="vehicleVinNo">
                <el-input v-model="drivingCarData.vehicleVinNo" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="发动机号码" prop="vehicleEngineNo">
                <el-input v-model="drivingCarData.vehicleEngineNo" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="品牌型号" prop="vehicleBrandModel">
                <el-input v-model="drivingCarData.vehicleBrandModel" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="所有人" prop="vehicleName">
                <el-input v-model="drivingCarData.vehicleName" autocomplete="off"></el-input>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="driving = false">取 消</el-button>
        <el-button type="primary" @click="onsubmit(drivingCarData)">保存</el-button>
      </span>
    </el-dialog>

    <el-dialog title="身份证" :visible.sync="identitycard" :modal-append-to-body="false">
      <el-row :gutter="20">
        <el-col :span="14">
          <div class="cardcontentImg">
            <img :src="identityCardData.userQuestionUrl" v-image-view>
          </div>
        </el-col>
        <el-col :span="10">
          <div class="cardcontent">
            <el-form label-width="80px" class="demo-dynamic">
              <el-form-item label="姓名" prop="idName">
                <el-input v-model="identityCardData.idName" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="身份证号" prop="idCard">
                <el-input v-model="identityCardData.idCard" autocomplete="off"></el-input>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="identitycard = false">取 消</el-button>
        <el-button type="primary" @click="onsubmit(identityCardData)">保存</el-button>
      </span>
    </el-dialog>

    <el-dialog title="商检合格证" :model="commercialData" :visible.sync="commoditycard" :modal-append-to-body="false">
      <el-row :gutter="20">
        <el-col :span="12">
          <div class="cardcontentImg">
            <img :src="commercialData.userQuestionUrl" v-image-view>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="cardcontent">
            <el-form label-width="100px" class="demo-dynamic">
              <el-form-item label="发动机号">
                <el-input v-model="commercialData.cerEngineNo" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="车辆识别代号/车架号">
                <el-input v-model="commercialData.cerVinNo" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="车辆型号">
                <el-input v-model="commercialData.cerCarModel" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="排量和功率">
                <el-input v-model="commercialData.cerDisplacement" autocomplete="off"></el-input>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="commoditycard = false">取 消</el-button>
        <el-button type="primary" @click="onsubmit(commercialData)">保存</el-button>
      </span>
    </el-dialog>

    <el-dialog title="发票" :model="billTitleData" :visible.sync="billcard" :modal-append-to-body="false">
      <el-row :gutter="20">
        <el-col :span="12">
          <div class="cardcontentImg">
            <img :src="billTitleData.userQuestionUrl" v-image-view>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="cardcontent">
            <el-form label-width="100px" class="demo-dynamic">
              <el-form-item label="发票" prop="idName">
                <el-input v-model="billTitleData.billTitle" type="textarea" :rows="16"></el-input>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="billcard = false">取 消</el-button>
        <el-button type="primary" @click="onsubmit(billTitleData)">保存</el-button>
      </span>
    </el-dialog>
  </div>

</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      driving: false,
      identitycard: false,
      commoditycard: false,
      billcard: false,
      drivingCarData: {},
      identityCardData: {},
      commercialData: {},
      billTitleData: {}
    }
  },
  created () {

  },
  methods: {
    dialogClose () {
      this.$emit('on-close')
    },
    sendVideoMsg () {
      this.$emit('on-send', this.data)
    }
  }
}
</script>
