<template>
    <el-dialog title="图文链接消息" @close="closeDialog" :visible.sync="dialogFormVisible">
        <el-form :model='imgTxtLinkInfo' :rules='rules' ref="imgtxtLinkRef" label-width="136px" class="mt-30">
            <el-form-item label='图文链接标题' prop='imgtxtTitle' label-width="136px">
                <el-input v-model="imgTxtLinkInfo.imgtxtTitle"></el-input>
            </el-form-item>
            <el-form-item label='图文链接' prop='imgtxtLinking' label-width="136px">
                <el-input v-model="imgTxtLinkInfo.imgtxtLinking"></el-input>
            </el-form-item>
            <el-form-item label='描述' prop='imgtxtDescribe' label-width="136px">
                <el-input v-model="imgTxtLinkInfo.imgtxtDescribe"></el-input>
            </el-form-item>
            <el-form-item label='图片' prop='imgtxtUrl' label-width="136px">
                <vma-image-upload v-model="imgTxtLinkInfo.imgtxtUrl" :exts="['jpg', 'png', 'jpeg']" :singleFileSize="10" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="sendForm">确 定</el-button>
        </div>
    </el-dialog>
</template>

<script>
    export default {
        props: {
            imgTxtLinkInfo: {
                type: Object,
                default: function() {
                    return {}
                }
            }
        },
        components: {},
        data() {
            return {
                // imgTxtLinkInfo: {
                //     imgtxtLinking: '',
                //     imgtxtDescribe: '',
                //     imgtxtUrl: ''
                // },
                dialogFormVisible: true,
                rules: {
                    imgtxtLinking: [{
                        required: true,
                        message: "请输入图文链接",
                        trigger: "blur"
                    }],
                    imgtxtUrl: [{
                        required: true,
                        message: "请输入图文链接标题",
                        trigger: "blur"
                    }],
                    imgtxtTitle: [{
                        required: true,
                        message: "请输入图文链接标题",
                        trigger: "blur"
                    }]
                }
            }
        },
        methods: {
            sendForm() {
                this.$refs['imgtxtLinkRef'].validate(valid => {
                    if (valid) {
                        this.closeDialog()
                        this.$emit('on-success', this.imgTxtLinkInfo)
                    } else {
                        this.warn('请输入或选择消息内容');

                    }
                })
            },
            closeDialog() {
                this.$emit("on-close");
            }
        },
    }
</script>