<template>
  <el-dialog title="小程序消息" @close="closeDialog" :visible.sync="dialogFormVisible">
    <el-form :model="weChatInfo" :rules="rules" ref="wechatRef" label-width="136px" class="mt-30">
      <el-form-item label="小程序标题:" prop="miniProgramName" label-width="136px">
        <el-input v-model="weChatInfo.miniProgramName" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="小程序描述:" prop="description" label-width="136px">
        <el-input v-model="weChatInfo.description" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="OriginalId:" prop="miniProgramId" label-width="136px">
        <el-input v-model="weChatInfo.miniProgramId" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="小程序路径:" label-width="136px">
        <el-input v-model="weChatInfo.miniProgramPath" autocomplete="off"></el-input>
      </el-form-item>
      <!-- <el-form-item label="小程序关联公众号原始ID:" prop="relateAccountId" label-width="136px">
        <el-input v-model="weChatInfo.relateAccountId" autocomplete="off"></el-input>
      </el-form-item> -->
      <el-form-item label="缩略图:" prop="thumbPath" label-width="136px">
        <!-- <el-input v-model="weChatInfo.thumbPath" autocomplete="off"></el-input> -->
        <vma-image-upload
          v-model="weChatInfo.thumbPath"
          :exts="['jpg', 'png', 'jpeg']"
          :singleFileSize="10"
        />
      </el-form-item>
    </el-form>
    <!-- <div style="margin-left:14px">
      快捷输入小程序 ：
      <el-autocomplete
        class="inline-input"
        v-model="miniProgramTitle"
        :fetch-suggestions="querySearch"
        placeholder="快捷输入小程序"
        @select="handleSelect"
      ></el-autocomplete>
    </div> -->

    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="sendForm">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
    export default {
        data() {
            return {
                miniProgramTitle: "",
                dialogFormVisible: true,
                weChatInfo: {
                    miniProgramName: "",
                    description: "",
                    miniProgramId: "",
                    miniProgramPath: "",
                    // relateAccountId: "",
                    thumbPath: ""
                },

                rules: {
                    miniProgramName:[{
                        required: true,
                        message: "请输入小程序标题",
                        trigger: "blur"
                    }],
                    miniProgramId: [{
                        required: true,
                        message: "请输入OriginalId",
                        trigger: "blur"
                    }],
                    miniProgramPath: [{
                        required: true,
                        message: "请输入小程序路径",
                        trigger: "blur"
                    }],
                    thumbPath:[{
                        required: true,
                        message: "请输入缩略图",
                        trigger: "blur"
                    }]

                }
            };
        },
        mounted() {
            this.restaurants = this.loadAll();
        },
        methods: {
            querySearch(queryString, cb) {
                var restaurants = this.restaurants;
                var results = queryString ?
                    restaurants.filter(this.createFilter(queryString)) :
                    restaurants;
                // 调用 callback 返回建议列表的数据
                cb(results);
            },
            createFilter(queryString) {
                return restaurant => {
                    return (
                        restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) ===
                        0
                    );
                };
            },
            loadAll() {
                return [{
                    value: "途虎养车|轮胎保养洗车刹车机油",
                    title: "途虎养车|轮胎保养洗车刹车机油",
                    appId: "wx27d20205249c56a3",
                    OriginalId: "gh_513038890d99"
                }, {
                    value: "车友大全",
                    title: "车友大全",
                    appId: "wxc370395d3313f86e",
                    OriginalId: "gh_8bdcae9770d5"
                }, {
                    value: "途虎汽车问答",
                    title: "途虎汽车问答",
                    appId: "wxcb33a9e9af575642",
                    OriginalId: "gh_5c79c52e5ca7"
                }, {
                    value: "途虎众测",
                    title: "途虎众测",
                    appId: "wx625c1a4227bab347",
                    OriginalId: "gh_a6d7373ba31a"
                }, {
                    value: "车主服务|章违章扫码挪车",
                    title: "车主服务|章违章扫码挪车",
                    appId: "wx3429052123c19770",
                    OriginalId: "gh_1e01f36e7b69"
                }, {
                    value: "途虎智店",
                    title: "途虎智店",
                    appId: "wx41fa1a41dc9816a2",
                    OriginalId: "gh_bf315083643e"
                }, {
                    value: "微信拼团购",
                    title: "微信拼团购",
                    appId: "wx25f9f129712845af",
                    OriginalId: "gh_45b5ae08e697"
                }, {
                    value: "途虎1GB流量小程序",
                    title: "途虎1GB流量小程序",
                    appId: "wx52a068942c0f3ff4",
                    OriginalId: "gh_67a09f80aa29"
                }, {
                    value: "途虎洗车小程序",
                    title: "途虎洗车小程序",
                    appId: "wxfa83eefa43f2c0e9",
                    OriginalId: "gh_9d3cedff1f68"
                }, {
                    value: "途虎二手车估价",
                    title: "途虎二手车估价",
                    appId: "wx0c1f97febeaf1199",
                    OriginalId: "gh_fad910cf7f82"
                }, {
                    value: "有个车库",
                    title: "有个车库",
                    appId: "wxed0c18c64938d783",
                    OriginalId: "gh_3d47b706e9a2"
                }, {
                    value: "车主服务大全",
                    title: "车主服务大全",
                    appId: "wxbf5747c55fd7c34a",
                    OriginalId: "gh_1815c20ad0b0"
                }, {
                    value: "TUHU自动洗车机",
                    title: "TUHU自动洗车机",
                    appId: "wx1384eb399e4578d4",
                    OriginalId: "gh_2f46ebd86eb4"
                }, {
                    value: "途虎值得买",
                    title: "途虎值得买",
                    appId: "wxc0d5ac8b62767087",
                    OriginalId: "gh_1815c20ad0b0"
                }, {
                    value: "途虎爆款推荐",
                    title: "途虎爆款推荐",
                    appId: "",
                    OriginalId: ""
                }, {
                    value: "途虎工单",
                    title: "途虎工单",
                    appId: "",
                    OriginalId: ""
                }, {
                    value: "瀚博定损中心",
                    title: "瀚博定损中心",
                    appId: "",
                    OriginalId: ""
                }, {
                    value: "tuhuxiche(车载小程序)",
                    title: "tuhuxiche(车载小程序)",
                    appId: "60004",
                    OriginalId: ""
                }];
            },
            handleSelect(item) {
                this.weChatInfo.miniProgramName = item.title;
                this.weChatInfo.miniProgramId = item.OriginalId;
                // this.weChatInfo.relateAccountId = item.OriginalId;
            },
            closeDialog() {
                this.$emit("on-close");
            },
            sendForm() {

                this.$refs["wechatRef"].validate(valid => {
                    if (valid) {
                        this.dialogFormVisible = false;
                        this.$emit('on-success', this.weChatInfo)
                    } else {
                        this.warn('请输入或选择消息内容')
                        return false;
                    }
                });
                //   this.$refs["wechatRef"].resetFields(); //重置
                // console.log(this.weChatInfo);
            }
        }
    };
</script>