<template>
  <el-container class="mt-20">
    <el-aside class="left-form">
      <div class="choose-send-target">
        <div class="search-form bb">
          <el-form :model="form" :inline="true" label-width="60px">
            <el-form-item class="account-select" label-width="102px" label="所属个人号：">
              <el-input v-model="form.inCustomerAccount" multiple>
              </el-input>
            </el-form-item>
            <el-form-item class="group-select" label="分组：">
              <el-select v-model="form.group" multiple>
                <el-option label="分组一" :value="1"></el-option>
                <el-option label="分组二" :value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item class="group-select" label-width="60px" label="群名：">
              <el-input v-model="form.remark" class="remark-select">
              </el-input>
            </el-form-item>
          </el-form>
          <el-button class="search-btn mb-15" type="primary">搜索</el-button>
        </div>
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">群聊列表</span>
          </div>
          <span class="ly-margin-top-nge-4">
            <el-checkbox>全选</el-checkbox>
          </span>
        </div>
        <el-table
          ref="multipleTable2"
          :data="groupTableData"
          tooltip-effect="dark"
          height="360">
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column
            prop="groupName"
            label="群名称"
            width="120">
            <template slot-scope="scope">{{ scope.row.groupName }}</template>
          </el-table-column>
          <el-table-column
            prop="groupMemberNumber"
            label="群成员数"
            header-align="center"
            align="center">
          </el-table-column>
        </el-table>
        <el-pagination
          :current-page.sync="groupTableCurrentPage"
          :page-sizes="[10, 20, 50]"
          :page-size="10"
          layout="total, sizes, prev, pager, next"
          :total="400"
          class="mt-20">
        </el-pagination>
      </div>
    </el-aside>
    <div class="center-line"></div>
    <el-container class="right-table">
      <div class="checked-target ly-width-100 pos-r">
        <div class="choose-send-target">
          <div class="ly-box">
            <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
              <span class="ly-vertical-line">已选择群组列表（点击选框取消选择）</span>
            </div>
            <span class="ly-margin-top-nge-4">
              <el-checkbox>全选</el-checkbox>
            </span>
          </div>
          <el-table
            ref="multipleTable2"
            :data="groupTableData"
            tooltip-effect="dark"
            height="360">
            <el-table-column
              type="selection"
              width="55">
            </el-table-column>
            <el-table-column
              prop="groupName"
              label="群名称"
              width="120">
              <template slot-scope="scope">{{ scope.row.groupName }}</template>
            </el-table-column>
            <el-table-column
              prop="groupMemberNumber"
              label="群成员数"
              header-align="center"
              align="center">
            </el-table-column>
          </el-table>
          <el-pagination
            :current-page="targetTableCurrentPage"
            :page-sizes="[10, 20, 50]"
            :page-size="10"
            layout="total, sizes, prev, pager, next"
            :total="40"
            class="mt-20 fr">
          </el-pagination>
        </div>
      </div>
    </el-container>
  </el-container>
</template>

<script>
export default {
  data() {
    return {
      form: {
        label: [],
        labelInclude: '包含',
        city: '',
        cityInclude: '',
        inCustomerAccount: '',
        group: [],
        remark: ''
      },
      targetTableCurrentPage: 1,
      targetTableData: [
        {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '男',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }
      ],
      groupTableCurrentPage: 1,
      groupTableData: [
        {
          groupName: '平民百姓',
          groupMemberNumber: '20'
        }, {
          groupName: '平民百姓',
          groupMemberNumber: '20'
        }, {
          groupName: '平民百姓',
          groupMemberNumber: '20'
        }, {
          groupName: '平民百姓',
          groupMemberNumber: '20'
        }, {
          groupName: '平民百姓',
          groupMemberNumber: '20'
        }, {
          groupName: '平民百姓',
          groupMemberNumber: '20'
        }, {
          groupName: '平民百姓',
          groupMemberNumber: '20'
        }
      ]
    }
  },
  methods: {
    nextStep() {
      this.$emit('next-step')
    }
  }
}
</script>
