<template>
  <el-container class="mt-20">
    <el-aside class="left-form">
      <div class="choose-send-target">
        <div class="search-form bb">
          <el-form :model="form" :inline="true" label-width="60px">
            <el-form-item class="radio-select" label="标签：">
              <el-radio-group class="vm" v-model="form.labelInclude">
                <el-radio-button label="包含"></el-radio-button>
                <el-radio-button label="不包含"></el-radio-button>
              </el-radio-group>
              <el-select size="small" class="vm" v-model="form.label" filterable multiple>
                <el-option label="标签一" :value="1"></el-option>
                <el-option label="标签二" :value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item class="radio-select" label="城市：">
              <el-radio-group class="vm" v-model="form.cityInclude">
                <el-radio-button label="包含"></el-radio-button>
                <el-radio-button label="不包含"></el-radio-button>
              </el-radio-group>
              <el-select class="vm" v-model="form.city" multiple>
                <el-option label="北京" :value="1"></el-option>
                <el-option label="上海" :value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item class="account-select" label-width="102px" label="所属个人号：">
              <el-select class="vm" v-model="form.inCustomerAccount" multiple>
                <el-option label="个人号一" :value="1"></el-option>
                <el-option label="个人号二" :value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item class="group-select" label="分组：">
              <el-select v-model="form.group" multiple>
                <el-option label="分组一" :value="1"></el-option>
                <el-option label="分组二" :value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item class="remark-select" label-width="92px" label="昵称/备注：">
              <el-input v-model="form.remark">
              </el-input>
            </el-form-item>
          </el-form>
          <el-button class="search-btn mb-15" type="primary">搜索</el-button>
        </div>
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">好友列表</span>
          </div>
          <span class="ly-margin-top-nge-4">
            <el-checkbox>全选</el-checkbox>
          </span>
        </div>
        <el-table
          ref="multipleTable"
          :data="friendTableData"
          tooltip-effect="dark"
          height="270">
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column
            prop="nickName"
            label="昵称"
            width="120">
            <template slot-scope="scope">{{ scope.row.nickName }}</template>
          </el-table-column>
          <el-table-column
            prop="remark"
            label="备注"
            width="120">
          </el-table-column>
          <el-table-column
            prop="sex"
            label="性别"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="city"
            label="城市"
            show-overflow-tooltip>
          </el-table-column>
        </el-table>
        <el-pagination
          :current-page.sync="friendTableCurrentPage"
          :page-sizes="[10, 20, 50]"
          :page-size="10"
          layout="total, sizes, prev, pager, next"
          :total="400"
          class="mt-10">
        </el-pagination>
      </div>
    </el-aside>
    <div class="center-line"></div>
    <el-container class="right-table">
      <div class="checked-target ly-width-100">
        <div class="choose-send-target">
          <div class="ly-box">
            <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
              <span class="ly-vertical-line">已选择好友列表（点击选框取消选择）</span>
            </div>
            <span class="ly-margin-top-nge-4">
              <el-checkbox>全选</el-checkbox>
            </span>
          </div>
          <el-table
            ref="multipleTable"
            :data="targetTableData"
            tooltip-effect="dark"
            height="270">
            <el-table-column
              type="selection"
              width="55">
            </el-table-column>
            <el-table-column
              prop="nickName"
              label="昵称"
              width="120">
              <template slot-scope="scope">{{ scope.row.nickName }}</template>
            </el-table-column>
            <el-table-column
              prop="remark"
              label="备注"
              width="120">
            </el-table-column>
            <el-table-column
              prop="sex"
              label="性别"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="city"
              label="城市"
              show-overflow-tooltip>
            </el-table-column>
          </el-table>
          <el-pagination
            :current-page="targetTableCurrentPage"
            :page-sizes="[10, 20, 50]"
            :page-size="10"
            layout="total, sizes, prev, pager, next"
            :total="40"
            class="mt-20 fr">
          </el-pagination>
        </div>
      </div>
    </el-container>
  </el-container>
</template>

<script>
export default {
  data() {
    return {
      form: {
        label: [],
        labelInclude: '包含',
        city: [],
        cityInclude: '包含',
        inCustomerAccount: '',
        group: [],
        remark: ''
      },
      targetTableCurrentPage: 1,
      friendTableCurrentPage: 1,
      friendTableData: [
        {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '男',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }
      ],
      targetTableData: [
        {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '男',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }, {
          nickName: '平民百姓',
          remark: '发好地方',
          sex: '未知',
          city: '福州'
        }
      ]
    }
  }
}
</script>
