<template>
  <el-dialog title="订单详情" :visible.sync="dialogVisible" width="880px" @close="closeDialog" custom-class="order-detail-dialog">
    <div class="order-detail-header">
      <ul>
        <li class="ly-vertical-top">订单号：<span class="header-content">65454458462</span></li>
        <li class="ly-vertical-top">店铺平台：<span class="header-content">淘宝/天猫</span></li>
        <li class="ly-vertical-top">店铺名称：<span class="header-content">官方舰店</span></li>
        <li class="tr ly-vertical-top"><span class="header-content pointer pr-10">取消交易</span></li>
      </ul>
    </div>
    <table class="ly-width-780px ly-margin-center ly-table-td-padding-8px ly-table-border-collapse ly-table-td-border ly-font-color-4 tl">
      <tr>
        <td class="table-title-col">买家昵称</td>
        <td colspan="3">FBehddfdsn</td>
      </tr>
      <tr>
        <td>收货手机号</td>
        <td colspan="3">16932569877</td>
      </tr>
      <tr>
        <td>收货地址</td>
        <td colspan="3">福建省福州市闽侯县上街高新区</td>
      </tr>
      <tr>
        <td>下单时间</td>
        <td colspan="3">2018-12-30 20：32：21</td>
      </tr>
      <tr>
        <td>订单总金额</td>
        <td colspan="1">139.00元</td>
        <td>实付金额</td>
        <td colspan="1">139.00元</td>
      </tr>
      <tr>
        <td>买家留言</td>
        <td colspan="3">139.00元</td>
      </tr>
    </table>
    <el-table
      :data="tableData"
      border
      class="ly-width-780px ly-margin-center ly-margintop-40px">
      <el-table-column
        label="商品"
        width="357"
        header-align="center">
        <template slot-scope="scope">
          <div class="el-imgtxt-mix">
            <div class="el-imgtxt-mix-img ly-wh-60-60px-im">
              <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L" />
            </div>
            <div class="el-imgtxt-mix-txt ly-paddingleft-70px-im">
              <p class="el-imgtxt-mix-p1 ly-ellipsis2">微信昵称微信昵称微信昵称微信昵称微信昵称微信昵称微信昵称微信昵称</p>
              <p class="el-imgtxt-mix-p3 ly-font-color-8">ceiling1212</p>
            </div>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="单价"
        align="center"
        header-align="center">
        <template slot-scope="scope">
          139.00
        </template>
      </el-table-column>
      <el-table-column
        label="数量"
        align="center"
        header-align="center">
        <template slot-scope="scope">
          2
        </template>
      </el-table-column>
      <el-table-column
        label="买家实付款"
        align="center"
        header-align="center">
        <template slot-scope="scope">
          123
        </template>
      </el-table-column>
      <el-table-column label="状态"
                       align="center"
                       header-align="center">
        <template slot-scope="scope">
          <span class="ly-font-color-7" @click="handleEdit(scope.$index, scope.row)">取消交易</span>
        </template>
      </el-table-column>
    </el-table>
  </el-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: true,
      tableData: [
        {
          mesageType: '2016-05-02',
          messageContent: '王小虎',
          waitTime: 12
        }, {
          mesageType: '2016-05-04',
          messageContent: '王小虎',
          waitTime: 1
        }, {
          mesageType: '2016-05-01',
          messageContent: '王小虎',
          waitTime: 2
        }, {
          mesageType: '2016-05-04',
          messageContent: '王小虎',
          waitTime: 1
        }, {
          mesageType: '2016-05-01',
          messageContent: '王小虎',
          waitTime: 2
        }, {
          mesageType: '2016-05-04',
          messageContent: '王小虎',
          waitTime: 1
        }, {
          mesageType: '2016-05-01',
          messageContent: '王小虎',
          waitTime: 2
        }, {
          mesageType: '2016-05-04',
          messageContent: '王小虎',
          waitTime: 1
        }
      ]
    }
  },
  methods: {
    closeDialog() {
      this.$emit('on-close')
    }
  }
}
</script>
