<template>
  <div class="ly-height-100 ready-push">
    <!-- 表头 -->
    <div class="ly-box">
      <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
        <span class="ly-vertical-line">数据列表</span>
      </div>
      <span class="ly-margin-top-nge-4">
        <el-button type="primary"
                   size="small"
                   @click="openNewMsgPanel">新增消息</el-button>
      </span>
    </div>
    <el-table :data="tableData"
              tooltip-effect="dark"
              height="270">
      <el-table-column
        prop="msgTpye"
        label="消息类型">
      </el-table-column>
      <el-table-column
        prop="remark"
        label="备注">
      </el-table-column>
      <el-table-column
        label="操作">
        <template slot-scope="scope">
          <el-button type="text"
                     size="small" @click="openNewMsgPanel">修改</el-button>
          <el-button type="text"
                       class="ly-font-color-7"
                     size="small" @click="dialogVisibleDel = true">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="time-range">
      <div class="ly-box mt-20">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">间隔范围(秒)</span>
        </div>
      </div>
      <div class="rlt">
        <div class="vm start">2</div>
        <span class="ml-20 vm">0</span>
        <div class="range-slider vm ml-10 mr-10">
          <el-slider
            v-model="sliderRange"
            range
            :max="300">
          </el-slider>
        </div>
        <div class="ml-20 fr start">300</div>
        <span class="fr max-time">100</span>
      </div>

      <!-- <div class="vm start">2</div>
      <span class="ml-20 vm">0</span>
      <div class="range-slider vm ml-10 mr-10">
        <el-slider
          v-model="sliderRange"
          range
          show-stops
          :max="100">
        </el-slider>
      </div>
      <span class="vm">300</span>
      <div class="ml-20 vm start">100</div> -->

    </div>
    <div class="add-tag">
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">完成打标签</span>
        </div>
      </div>
      <el-select v-model="addTag" placeholder="请选择标签">
        <el-option label="标签一" value="1"></el-option>
        <el-option label="标签二" value="2"></el-option>
      </el-select>
    </div>
    <div class="fr btns">
      <el-button type="primary">一键推送</el-button>
      <el-button type="info" plain @click="prevStep">上一步</el-button>
    </div>
    <newMsgEditPanel v-if="newMsgPanelShow" @on-close="closeNewMsgEditPanel"></newMsgEditPanel>
    <el-dialog title="提示" :visible.sync="dialogVisibleDel" width="489px" @close="dialogVisibleDel = false" append-to-body>
      <span>确定要删除该消息吗？</span>
      <div slot="footer" class="dialog-footer">
        <el-button @close="dialogVisibleDel = false">取 消</el-button>
        <el-button type="primary" @close="dialogVisibleDel = false">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import newMsgEditPanel from '@/components/packages/chat/msgPush/newMsgEditPanel'
export default {
  components: {
    newMsgEditPanel
  },
  data() {
    return {
      dialogVisibleDel: false,
      tableData: [
        {
          msgTpye: '平民百姓',
          remark: '公司'
        }, {
          msgTpye: '平民百姓',
          remark: '公司'
        }, {
          msgTpye: '平民百姓',
          remark: '公司'
        }, {
          msgTpye: '平民百姓',
          remark: '公司'
        }, {
          msgTpye: '平民百姓',
          remark: '公司'
        }
      ],
      sliderRange: [2, 10],
      addTag: '',
      newMsgPanelShow: false
    }
  },
  methods: {
    prevStep() {
      this.$emit('prev-step')
    },
    openNewMsgPanel() {
      this.newMsgPanelShow = true
    },
    closeNewMsgEditPanel() {
      this.newMsgPanelShow = false
    }
  }
}
</script>
