<template>
  <el-form :model="params"
           ref="dialog"
           :rules="rules"
           label-width="100px">
    <el-form-item label="类型："
                  prop="appTypeId">
      <el-select v-model="params.appTypeId"
                 class="ly-margin-right-bottom-sm ly-width-280px-im"
                 placeholder="请选择"
                 @visible-change="getTypeInfo"
                 clearable>
        <el-option v-for="item in details"
                   :key="item.id"
                   :label="item.appType"
                   :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="版本号："
                  prop="versionNumber">
      <el-input v-model.trim="params.versionNumber"
                clearable
                autocomplete="off"
                placeholder="请填写版本号"
                class="ly-width-280px-im"
                maxlength="36"></el-input>
      <p class="ly-font-12 ly-font-color-2">版本从1.0.0开始(例如:1.0.1,1.1.1)</p>
    </el-form-item>
    <el-form-item label="版本code："
                  prop="versionCode">
      <el-input v-model.trim="params.versionCode"
                clearable
                autocomplete="off"
                placeholder="请填写版本code"
                class="ly-width-280px-im"
                :maxlength="100"></el-input>
      <p class="ly-font-12 ly-font-color-2">版本code为正整数</p>
    </el-form-item>
    <el-form-item label="下载地址："
                  prop="url">
      <el-input v-model.trim="params.url"
                clearable
                disabled
                :title="params.url"
                autocomplete="off"
                placeholder="请填写下载地址"
                class="ly-width-280px-im">
        <el-button size="medium" slot="append" icon="el-icon-close" @click="clearUrl"></el-button>
      </el-input>
      <el-button class="ly-position-relative apkupload"  type="primary">
        <span v-if="!params.url">上传apk</span><span v-else>重新上传</span>
        <vma-upload class="audio-position-ab"
                    v-model="url"
                    :limit="1"
                    :exts="['apk']"
                    :singleFileSize="10"
                    @on-success="uploadApk" />
      </el-button>
    </el-form-item>
    <el-form-item label="升级管理：">
      <el-checkbox v-model="params.forceUpdate"
                   :false-label="0"
                   :true-label="1">强制升级</el-checkbox>
    </el-form-item>
    <el-form-item label="版本简介："
                  prop="remark">
      <el-input type="textarea"
                :rows="5"
                clearable
                placeholder="请输入版本简介，最多20个字"
                v-model="params.remark"
                :maxlength="20"
                size="small">
      </el-input>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="validateCallback('dialog')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { systemSettingsApi } from '@/api/sms'
import { positiveIntegerValidator, versionNumValidator, urlMatchValidator } from '@/assets/js/validators'
export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      url: null,
      details: null,
      params: {
        appTypeId: '',
        versionNumber: '',
        versionCode: '',
        url: '',
        forceUpdate: 1
      },
      rules: {
        appTypeId: [
          { required: true, message: '请选择类型' }
        ],
        versionNumber: [
          { required: true, message: '请填写版本号' },
          { validator: versionNumValidator }
        ],
        versionCode: [
          { required: true, message: '请填写版本code' },
          { validator: positiveIntegerValidator }
        ],
        url: [
          { required: true, message: '请填写下载地址' },
          { validator: urlMatchValidator }
        ]
      }
    }
  },
  created() {
  },
  methods: {
    // 下拉框app类型
    getTypeInfo(val) {
      if (val && !this.details) {
        this.appType()
      }
    },
    appType() {
      systemSettingsApi.getAppVersionType().then(res => {
        if (res) {
          this.details = res
        }
      })
    },
    validateCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.sureCallback()
        } else {
          return false
        }
      })
    },
    // 添加app版本管理
    sureCallback() {
      systemSettingsApi.addAppVersionReq(this.params).then(res => {
        this.$emit('getTableList')
        this.dialog.open = false
      })
    },
    uploadApk(data) {
      this.params.url = this.url
      this.$nextTick(() => {
        this.url = null
      })
    },
    clearUrl() {
      this.params.url = ''
    }
  }
}
</script>
<style>
  .apkupload .el-upload-list.el-upload-list--text{
    position: absolute;
    top: 38px;
    right: 0px;
  }
</style>
