<template>
  <div>
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item label="套餐名称:" prop="packageName" :label-width="formLabelWidth">
        <el-input class="ly-width-200px"
                  placeholder="20字内"
                  autocomplete="off"
                  size="medium"
                  :maxlength="20"
                  step="1"
                  precision="0"
                  v-model.trim="params.packageName"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="套餐内容:" prop="messageNum" :label-width="formLabelWidth">
        <el-input-number class="ly-width-200px"
                         controls-position="right"
                         size="medium"
                         :min="1"
                         :max="9999999"
                         :step="1"
                         :precision="0"
                         v-model="params.messageNum"></el-input-number><span class="ly-margin-left-10px">条短信</span>
      </el-form-item>
      <el-form-item label="套餐总价:" prop="price" :label-width="formLabelWidth">
        <el-input-number class="ly-width-200px"
                         controls-position="right"
                         size="medium"
                         :min="1"
                         :max="9999999"
                         :step="1"
                         :precision="2"
                         v-model="params.price"></el-input-number><span class="ly-margin-left-10px">元</span>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="confirmSubmit">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { systemSettingsApi } from '@/api/sms'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      params: {
        packageName: '',
        messageNum: 0,
        price: 1
      },
      formLabelWidth: '136px',
      rules: {
        packageName: [
          { required: true, message: '请输入套餐名称' },
          { min: 1, max: 20, message: '20字内' }
        ],
        messageNum: [
          { required: true, message: '请输入套餐内容' }
        ],
        price: [
          { required: true, message: '请输入套餐总价' }
        ]
      }
    }
  },
  created() {
    if (this.dialogProp.type === 2) {
      this.params.packageName = this.dialogProp.data.packageName
      this.params.messageNum = this.dialogProp.data.messageNum
      this.params.price = this.dialogProp.data.price
    }
  },
  methods: {
    confirmSubmit() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.addOrEditWechat()
        } else {
          return false
        }
      })
    },
    async addOrEditWechat() {
      let params = Object.assign({}, this.params)
      if (this.dialogProp.type === 1) {
        // 新增
        await systemSettingsApi.addPackageRecord(params).then(() => {
          this.succsessTip('新增成功')
        })
      } else {
        // 编辑
        params.id = this.dialogProp.data.id
        await systemSettingsApi.editPackageRecord(params).then(() => {
          this.succsessTip('保存成功')
        })
      }
    },
    succsessTip(message) {
      this.success(message)
      this.closeDialog()
      this.$emit('refreshTableList', this.dialogProp.type)
    },
    closeDialog() {
      this.$emit('closeDialog')
    }
  }
}
</script>
