<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-select v-model="params.status"
                     placeholder="状态"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="充值成功"
                       :value="1">
            </el-option>
            <el-option label="充值失败"
                       :value="2">
            </el-option>
          </el-select>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <span class="ly-font-color-7 ly-font-14 ly-margin-right-sm">短信条数：{{msgTotalNum || 0}}条</span>
          <el-button type="primary"
                     size="small"
                     @click="showCheckMealDialog">充值</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="充值时间">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date('yyyy/MM/dd hh:mm')}}</span>
          </template>
        </el-table-column>
        <el-table-column label="套餐">
          <template slot-scope="scope">
            <span>{{scope.row.messagePackageName}}</span>
          </template>
        </el-table-column>
        <el-table-column label="套餐内容">
          <template slot-scope="scope">
            <span>{{scope.row.messageNum || 0}}条短信</span>
          </template>
        </el-table-column>
        <el-table-column prop="price"
                         label="金额(元)">
          <template slot-scope="scope">
            <span>{{scope.row.price | numberToFixed}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="originNbr"
                         label="交易流水号"
                         width="280">
          <template slot-scope="scope">
            <span>{{scope.row.originNbr || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="payType"
                         label="支付方式">
          <template slot-scope="scope">
            <span v-if="scope.row.payMethod==1">微信</span>
            <span v-else>支付宝</span>
          </template>
        </el-table-column>
        <el-table-column prop="status"
                         label="充值状态">
          <!-- 充值状态 2 充值成功 1充值失败 -->
          <template slot-scope="scope">
            <span v-if="scope.row.status==1"
                  class="ly-font-color-5">充值成功</span>
            <span v-else
                  class="ly-font-color-7">充值失败</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <!--短信充值服务弹窗-->
    <el-dialog title="短信服务充值" :visible.sync="checkMealDialog.show" width="700px" v-if="checkMealDialog.show" @close="closeCheckMealDialog" append-to-body>
      <rechargeMeal :dialogProp="checkMealDialog" @closeDialog="closeCheckMealDialog" @createPayCode="confirmRecharge"></rechargeMeal>
    </el-dialog>
    <!-- 充值短信弹窗 -->
    <!--
    <RechargeSms v-if='showRechargeSmsDialog'
                 v-model="showRechargeSmsDialog"
                 @on-confirm='confirmRecharge'></RechargeSms>
    -->
    <!-- 扫码支付弹窗 -->
    <CodePay v-if="showCodePayDialog"
             v-model="showCodePayDialog"
             :codePayInfo='codePayInfo'></CodePay>
  </div>
</template>

<script>
import { walletApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import { rechargeMeal, CodePay } from './components'

export default {
  mixins: [tableMixin],
  components: { rechargeMeal, CodePay },
  data() {
    return {
      activeNames: ['1'],
      date: [],
      tableData: {
        total: 0,
        records: []
      },
      params: {
        status: ''
      },
      msgTotalNum: 0,
      showRechargeSmsDialog: false,
      showCodePayDialog: false,
      codePayInfo: {}, // 扫码支付二维码信息
      checkMealDialog: {} // 充值
    }
  },
  watch: {
    showCodePayDialog(val) { // 监听扫码支付，刷新表单
      if (!val) {
        this.getTableList(1, this.params.size)
        this.refreshTableList()
        this.getSmsNum()
      }
    }
  },
  created() {
    this.getSmsNum()
  },
  methods: {
    async requestTableList() {
      const data = await walletApi.getSmsRecords(this.params)
      this.tableData = data
    },
    /**
     * 短信--获取短信条数
     */
    async getSmsNum() {
      const data = await walletApi.getSmsNum(this.params)
      this.msgTotalNum = data
    },
    confirmRecharge(val) {
      this.codePayInfo = val
      setTimeout(() => {
        this.showCodePayDialog = true
      })
    },
    /**
     * 短信服务充值--弹窗--显示
     */
    showCheckMealDialog() {
      this.checkMealDialog = {
        show: true
      }
    },
    /**
     * 短信服务充值--弹窗--隐藏
     */
    closeCheckMealDialog() {
      this.checkMealDialog = {}
    },
    refreshTableList() {
      this.params.status = ''
      this.params.beginTime = ''
      this.params.endTime = ''
      this.date = []
    }
  }
}
</script>
