<template>
  <div>
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <el-radio-group v-model="current" size="medium">
        <el-radio-button :label="1">账户设置</el-radio-button>
        <el-radio-button :label="2">消费记录</el-radio-button>
      </el-radio-group>
    </div>
    <accountSet v-if="current === 1"></accountSet>
    <accountRecord v-else></accountRecord>
  </div>
</template>

<script>
import { accountSet, accountRecord } from './components'
export default {
  components: {
    accountSet,
    accountRecord
  },
  data() {
    return {
      current: 1 // 1--账户设置，2--消费记录
    }
  },
  created() {
  },
  methods: {
  }
}
</script>
