<template>
  <div>
    <!-- 筛选查询 -->
    <div>
      <el-input placeholder="商品名称" v-model="params.shopName" class="ly-width-200px" size="medium" @keyup.native.enter="getTableList(1)" clearable>
        <el-button slot="append" icon="el-icon-search" @click="getTableList(1)"></el-button>
      </el-input>
      <span>当前已选择<span class="colortip">{{tableSelectArr.length}}</span>件商品</span>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%"
                row-key="id"
                @clearSelection="clearSelection"
                @selection-change="handleSelectionChange">
        <el-table-column fixed
                         type="selection"
                         reserve-selection
                         :selectable="selectAble"
                         width="55">
        </el-table-column>
        <el-table-column label="商品图片"
                         width="80">
          <template slot-scope="scope">
            <img :src="scope.row.goodsUrl | productAvtor" class="ly-wh-40px" />
          </template>
        </el-table-column>
        <el-table-column label="商品名称" min-width="130">
          <template slot-scope="scope">
            <p>{{scope.row.goodsName || '--'}}</p>
          </template>
        </el-table-column>
        <el-table-column label="单价（元）">
          <template slot-scope="scope">
            <p>{{scope.row.goodsPrice | numberToFixed}}</p>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
    <div class="ly-text-right">
      <el-button type="primary"
                 size="medium"
                 @click="cancelCheck">取消</el-button>
      <el-button type="primary"
                 size="medium"
                 @click="sureCheck">确定</el-button>
    </div>
  </div>
</template>

<script>
import { commonApi } from '@/api/chat'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  props: {
    limit: {
      type: Number
    },
    dialog: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      activeNames: ['1'],
      tableSelectArr: [],
      params: {
        shopName: ''
      }
    }
  },
  created() {
  },
  mounted() {
    let data = this.dialog.tableSelectArr || []
    this.$nextTick(() => {
      data.forEach(v => {
        this.$refs.multipleTable.toggleRowSelection(v)
      })
    })
  },
  methods: {
    // 获取列表
    async requestTableList() {
      this.tableData = await commonApi.getRecommendGoodsList(this.params)
    },
    /**
     * 表格左侧选择--清除
     */
    removeChecked() {
      this.clearSelection('multipleTable')
      this.dialog.open = false
    },
    /**
     * 表格左侧选择
     */
    handleSelectionChange(val, index) {
      this.tableSelectArr = val
    },
    /**
     * 表格左侧选择--是否可选
     */
    selectAble(row, index) {
      let indexVal = this.tableSelectArr.indexOf(row)
      if (this.tableSelectArr.length > 49) {
        if (indexVal === -1) {
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    },
    /**
     * 表格清除选择
     */
    cancelCheck() {
      this.removeChecked()
    },
    notifyBox(message) {
      this.$notify({
        title: '提示',
        message: message,
        type: 'warning'
      })
    },
    sureCheck() {
      if (this.tableSelectArr.length < 2 || this.tableSelectArr.length > 50) {
        let message = this.tableSelectArr.length < 2 ? '至少选择两件商品' : '最多选择50件商品'
        this.notifyBox(message)
      } else {
        this.$emit('checkTableData', this.tableSelectArr)
        this.removeChecked()
      }
    }
  }
}
</script>
