<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange"
                          range-separator="至"
                          start-placeholder="充值开始日期"
                          end-placeholder="充值结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="adminPay"
                         label="充值金额">
        </el-table-column>
        <el-table-column label="支付方式"
                         width="150">
          <template slot-scope="scope">
            <!-- 支付方式 1微信 2支付宝 -->
            {{scope.row.type===1?'微信':'支付宝'}}
          </template>
        </el-table-column>
        <el-table-column prop="tradeNo"
                         label="交易流水号">
        </el-table-column>
        <el-table-column label="状态"
                         width="150">
          <template slot-scope="scope">
            <!-- 状态 2充值成功 1充值失败 -->
            {{scope.row.status===1?'充值失败':'充值成功'}}
          </template>
        </el-table-column>
        <el-table-column prop="createTime"
                         label="充值时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="remark"
                         label="充值说明">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
  </div>
</template>

<script>
import { rechargeDetailsApi } from '@/api/sms'
import { tableMixin } from '@/mixins'

export default {
  props: ['dialog'],
  mixins: [tableMixin],
  data() {
    return {
      activeNames: ['1']
    }
  },
  methods: {
    async requestTableList() {
      this.params.enterpriseId = this.dialog.id
      const data = await rechargeDetailsApi.getPacketsRechargeDetail(this.params)
      this.tableData = data
    }
  }
}
</script>
