<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white ly-margin-bottom-sm"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}"
                 v-if="zoom">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.keyWord"
                    placeholder="企业名称/联系号码"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange">
          </el-date-picker>
          <el-input v-model="params.parentName"
                    placeholder="请输入贴牌商/代理商名称"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <el-container>
      <!-- 企业列表 -->
      <el-aside class="ly-sidebar ly-margin-right-sm"
                v-show="zoom">
        <div class="title">
          <span class="ly-vertical-line">企业列表</span>
        </div>
        <ul class="ly-sidebar-list">
          <li class="ly-sidebar-item ly-box"
              v-for="(item,index) in tableData.records"
              :key="item.id"
              :class="{'active':isActive===index}"
              @click="getList(item.id,index)">
            <div class="ly-box-1">
              <p class="ly-font-color-3 ly-ellipsis">{{item.name ||''}}</p>
              <p>{{item.phone ||''}}</p>
            </div>
            <div>上级：{{item.parentName ||''}}</div>
          </li>
        </ul>
        <div class="ly-text-right"
             v-if="tableData.total > params.size">
          <el-pagination layout="prev, pager, next"
                         small
                         :total="tableData.total"
                         @current-change="getTableList">
          </el-pagination>
        </div>
      </el-aside>
      <!-- 数据列表 -->
      <el-main class="ly-bg-white ly-padding-sm"
               v-if="id">
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1 ly-min-width-130">
            <i class="ico_full_screen"
               :class="{'ico_small_screen':!zoom}"
               @click="zoom=!zoom"></i>
            <span class="ly-vertical-line">企业详情</span>
          </div>
        </div>
        <Stat v-if="id"
              :id="id" />
      </el-main>
    </el-container>
  </div>
</template>

<script>
import Stat from './components/enterprise'
import { customerManageApi } from '@/api/sms'

export default {
  components: { Stat },
  data() {
    return {
      activeNames: ['1'],
      params: {
        current: 1,
        size: 10,
        keyWord: '',
        beginTime: '',
        endTime: '',
        parentName: ''
      },
      date: '',
      tableData: {},
      isActive: 0,
      id: null,
      zoom: true
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    // 获取列表
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      this.id = null
      customerManageApi.getEnterList(this.params).then(res => {
        this.tableData = res
        if (this.tableData.records.length > 0) {
          this.id = this.tableData.records[0].id
        }
        if (this.tableData.total > 0 && this.tableData.current > 1 && this.tableData.records.length === 0) {
          this.getTableList(1)
        }
      })
    },
    // 日期格式转换
    dateChange(val) {
      if (!val) {
        this.params.beginTime = ''
        this.params.endTime = ''
      } else {
        this.params.beginTime = new Date(val[0]).getTime()
        this.params.endTime = new Date(val[1]).getTime()
      }
    },
    getList(id, index) {
      if (index || index === 0) {
        this.isActive = index
      }
      this.id = null
      setTimeout(() => {
        this.id = id
      }, 0)
    }
  }
}
</script>
