<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white ly-margin-bottom-sm"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}"
                 v-show="zoom">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="企业名称/联系号码"
                    class="ly-margin-right-bottom-sm"
                    v-model.trim="params.keyWord"
                    :maxlength="100"
                    @keyup.native.enter="getTableList(1)"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateValChange"
                          clearable>
          </el-date-picker>
          <el-input placeholder="请输入贴牌商名称"
                    class="ly-margin-right-bottom-sm"
                    v-model.trim="params.parentName"
                    :maxlength="100"
                    @keyup.native.enter="getTableList(1)"
                    clearable>
          </el-input>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <el-container>
      <!-- 重复群 -->
      <el-aside class="ly-sidebar ly-margin-right-sm"
                v-show="zoom">
        <div class="ly-sidebar">
          <div class="title">
            <span class="ly-vertical-line">代理商列表</span>
          </div>
          <ul class="ly-sidebar-list">
            <li class="ly-sidebar-item ly-box"
                v-for="(item,index) in tableData.records"
                :key="item.id"
                :class="{'active':isActive===index}"
                @click="getList(item,index)">
              <div class="ly-box-1">
                <p class="ly-font-color-3">{{item.name ||'--'}}</p>
                <p>{{item.phone ||'--'}}</p>
              </div>
              <div>上级：{{item.parentName || '--'}}</div>
            </li>
          </ul>
          <div class="ly-text-right"
               v-if="tableData.total > params.size">
            <el-pagination layout="prev, pager, next"
                           small
                           :total="tableData.total"
                           @current-change="getTableList">
            </el-pagination>
          </div>
        </div>
      </el-aside>
      <!-- 数据列表 -->
      <el-main class="ly-bg-white ly-padding-sm"
               v-if="info">
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1 ly-min-width-130">
            <i class="ico_full_screen"
               :class="{'ico_small_screen':!zoom}"
               @click="zoom=!zoom"></i>
            <span class="ly-vertical-line">代理商详情</span>
          </div>
        </div>
        <Stat :info="info" />
      </el-main>
    </el-container>
  </div>
</template>

<script>
import { customerManageApi } from '@/api/sms'
import Stat from './components/omsList'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { Stat },
  data() {
    return {
      activeNames: ['1'],
      date: [],
      params: {
        keyWord: '',
        beginTime: '',
        endTime: '',
        parentName: ''
      },
      isActive: 0,
      info: null,
      zoom: true
    }
  },
  created() {
    // this.getTableList()
  },
  methods: {
    /**
     * 获取代理商列表
     * @param {*} params
     */
    async requestTableList() {
      if (this.params.current) {
        this.isActive = null
        this.info = null
      }
      await customerManageApi.getOmsList(this.params).then((res) => {
        this.tableData = res
        if (this.tableData.records.length > 0) {
          this.isActive = 0
          this.info = this.tableData.records[0]
        } else {
          this.isActive = 0
          this.info = null
        }
      })
    },
    getList(item, index) {
      this.isActive = index
      this.info = null
      setTimeout(() => {
        this.info = item
      })
    }
  }
}
</script>
