<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse
      v-model="activeNames"
      class="ly-collapse ly-padding-horizontal-sm ly-bg-white ly-margin-bottom-sm"
      :class="{'ly-padding-bottom-sm':!activeNames[0]}"
      v-show="zoom"
    >
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i
              class="el-icon-arrow-down"
              :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"
            ></i>
            {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input
            v-model.trim="params.keyWord"
            @keyup.native.enter="getTableList(1,params.size)"
            :maxlength="100"
            placeholder="贴牌商名称/联系号码"
            class="ly-margin-right-bottom-sm"
            clearable
          ></el-input>
          <!-- <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          @change='dateChange'
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>-->
          <!-- button -->
          <el-button
            class="ly-float-right"
            type="primary"
            size="medium"
            @click="getTableList(1,params.size)"
          >查询</el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <el-container>
      <div class="ly-box ly-width-100">
        <!-- 贴牌商列表 -->
        <el-aside v-show="zoom" class="ly-margin-right-sm">
          <div class="ly-sidebar">
            <div class="title">
              <span class="ly-vertical-line">手机品牌商列表</span>
              <span class="ly-vertical-middle ico_add ly-cursor-pointer" @click="addphoneDialog()"></span>
            </div>
            <ul class="ly-sidebar-list">
              <li
                class="ly-sidebar-item"
                v-for="(item,index) in tableData.records"
                :key="item.id"
                :class="{'active':isActive===index}"
                @click="getList(item.id,index)"
              >
                <p class="ly-font-color-3">{{item.name ||''}}</p>
                <p>{{item.phone ||''}}</p>
              </li>
            </ul>
            <div class="ly-text-right" v-if="tableData.total > params.size">
              <el-pagination
                layout="prev, pager, next"
                small
                :pageNum="params.current"
                :total="tableData.total"
                :pageSize="params.size"
                @current-change="getTableList"
              ></el-pagination>
            </div>
          </div>
        </el-aside>
        <!-- 数据列表 -->
        <el-main class="ly-bg-white ly-padding-sm" v-if="id">
          <div class="ly-box">
            <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1 ly-min-width-130">
              <i class="ico_full_screen" :class="{'ico_small_screen':!zoom}" @click="zoom=!zoom"></i>
              <span class="ly-vertical-line">企业详情</span>
            </div>
            <span class="ly-margin-top-nge-4 ly-but-lay"></span>
          </div>
        </el-main>
      </div>
    </el-container>

    <!-- 弹窗 -->
    <el-dialog
      title="增加机型"
      class="ly-font-color-4"
      width="500px"
      :visible.sync="addDialog.open"
      @close="closeCallback"
    >
      <el-form class="ly-padding-horizontal-sm" label-width="110px" :model="params" ref="params">
        <el-form-item
          label="增加品牌商："
          prop="phoneBrand"
          size="small"
          :rules="[{ required: true, message: '请输入品牌商', trigger: 'blur' }]"
        >
          <div>
            <el-input style="width: 86%;" v-model.trim="params.phoneBrand" size="small" clearable></el-input>
          </div>
        </el-form-item>

        <el-form-item
          size="small"
          v-for="(brand, index) in mobileBrands"
          label="手机型号"
          :key="brand.key"
          :rules="{
           required: true, message: '手机型号不能为空', trigger: 'blur'
           }"
        >
          <el-input v-model="brand.value" style="width: 70%;" size="small"></el-input>
          <el-button
            v-if="index === 0"
            @click="addDomain"
            icon="el-icon-plus"
            type="primary"
            circle
          ></el-button>
          <el-button
            v-else
            @click.prevent="removeDomain(brand)"
            icon="el-icon-delete"
            type="danger"
            circle
          ></el-button>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addDialog.open = false">取 消</el-button>

        <el-button type="primary" @click="sureCallback()">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { oemListApi } from "@/api/sms";
// import NewOem from "./oemList/newOem";
import { tableMixin } from "@/mixins";

export default {
  mixins: [tableMixin],
  data() {
    return {
      activeNames: ["1"],
      zoom: true,
      isActive: null,
      id: null,
      addDialog: {
        open: false
      },
      mobileBrands: [
        {
          value: ""
        }
      ],
      params: {
        phoneBrand: "",
        phoneOsList:[]
      }
    };
  },
  methods: {

    async requestTableList() {
      const data = await oemListApi.PhoneList();
      this.tableData = data;
      // console.log(this.tableData);
      // if (this.tableData.records.length > 0) {
      //   this.getList(data.records[0].id, 0);
      // } else {
      //   this.isActive = 0;
      //   this.id = null;
      // }
    },
    // getList(id, index = 0) {
    //   this.isActive = index;
    //   this.initGetList(id, index);
    // },
    // initGetList(id, index) {
    //   this.id = null;
    //   setTimeout(() => {
    //     this.id = id;
    //   }, 0);
    // },
    // openCallback(key) {
    //   this.dialog.name = key
    //   this.dialog.id = this.id
    //   this.dialog.open = true

    // },
    addphoneDialog() {
      //   this.dialog.id = this.id
      this.addDialog.open = true;
    },
    closeCallback() {
      this.addDialog.open = false;
    },
    removeDomain(item) {
      var index = this.mobileBrands.indexOf(item);
      if (index !== -1) {
        this.mobileBrands.splice(index, 1);
      }
    },
    addDomain() {
      this.mobileBrands.push({
        value: "",
        key: Date.now()
      });
    },
    sureCallback() {
      var that = this
      this.mobileBrands.forEach(function(v,i){
         that.params.phoneOsList.push(v.value)
      })
      // console.log(this.params);
      oemListApi.addphone(this.params).then(res=>{
         this.closeCallback()
      })
    }
  }
};
</script>
