<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <selectPersonNumCascadert v-model="params.groupId" @change="search" filterable size="small" placeholder="请选择个人号">

      </selectPersonNumCascadert>
      <!--
      <wechat-list-lazy-select size="small"
                               :clearable="false"
                               v-model="params.groupId"
                               @change="search" />-->
      <el-button type="primary" size='small' @click="search">搜索</el-button>
      <el-button type="primary" size="small" @click="exportCallback">导出</el-button>
    </div>

    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="table.list" tooltip-effect="dark" style="width: 100%">
        <el-table-column label="个人号">
          <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px" :src="scope.row.headIcon | wechatAvtor" v-image-view>
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.account}}</p>
                <p class="ly-margin-top-4">{{scope.row.wxId}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者姓名" prop="staffName">
          <template slot-scope="scope">
            <span>{{scope.row.staffName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者电话" prop="phone">
          <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者部门" prop="departmentName">
          <template slot-scope="scope">
            <span>{{scope.row.departmentName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="微信群备注" prop="remark" />
        <el-table-column label="昨日对话总数" prop="yesterdayTotalCount" />
        <el-table-column label="昨日客服对话总数" prop="yesterdayStaffCount" />
        <el-table-column label="30天对话总数" prop="thirtyTotalCount" />
        <el-table-column label="30天客服对话总数" prop="thirtyStaffCount" />
      </el-table>
    </div>
  </div>
</template>

<script>
import { downloadFile } from '@/utils'
import { indexMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
// import { WechatListLazySelect } from '@/components/packages/system/lazySelect'
import { selectPersonNumCascadert } from '@/components/packages/system/lazyCascader'

export default {
  mixins: [indexMixin],
  components: {
    selectPersonNumCascadert
  },
  data () {
    return {
      params: {
        groupId: []
      }
    }
  },
  methods: {
    // 微信群活跃统计导出
    exportCallback () {
      v3indexApi.wechatGAExport(this.params).then((res) => {
        downloadFile(res, '微信群活跃统计.xls')
        this.success('恭喜你，导出成功')
      })
    },
    init () { },
    list (current, size) {
      let groupId = this.params.groupId[this.params.groupId.length - 1] || ''
      let param = {
        groupId: groupId
      }
      let params = Object.assign({}, param)
      if (!params.groupId) {
        this.warning('请先选择个人号')
        return false
      }
      v3indexApi.getRoomTalk(params).then(data => {
        this.table.list = data || []
      })
    }
  }
}
</script>
