<template>
  <div>
    <div class="ly-margin-right-bottom-sm">编号：{{entity.id}}</div>
    <div class="ly-margin-right-bottom-sm">状态：
      <el-select class="ly-margin-right-bottom-sm"
                 v-model.trim="params.status"
                 placeholder="全部"
                 clearable
                 @change="changeStatus">
        <el-option label="修改失败" :value="statusTypeMap.FAIL"></el-option>
        <el-option label="修改成功" :value="statusTypeMap.SUCCESS"></el-option>
      </el-select>
    </div>
    <!-- 数据列表 -->
    <el-table ref="multipleTable"
              :data="tableData.records"
              tooltip-effect="dark"
              class="ly-width-100">
      <el-table-column fixed label="群名称">
        <template slot-scope="scope">
          <p :title="scope.row.groupName" class="ly-max-height-40px ly-ellipsis2">{{ scope.row.groupName }}</p>
        </template>
      </el-table-column>
      <el-table-column label="群主">
        <template slot-scope="scope">
          <span>{{ scope.row.groupOwner }}</span>
        </template>
      </el-table-column>
      <el-table-column label="所属部门">
        <template slot-scope="scope">
          <span>{{ scope.row.departmentName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="所属员工">
        <template slot-scope="scope">
          <span>{{ (scope.row.staffAccount || '--') + '(' + (scope.row.staffName || '--') + ')' }}</span>
        </template>
      </el-table-column>
      <el-table-column label="状态">
        <template slot-scope="scope">
          <span v-if="scope.row.status === statusTypeMap.SUCCESS">修改成功</span>
          <span v-else>修改失败</span>
        </template>
      </el-table-column>
      <el-table-column label="执行时间">
        <template slot-scope="scope">
          <span>{{ scope.row.excuteTime | date('yyyy-MM-dd hh:mm:ss') }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" fixed="right" label="操作">
        <template slot-scope="scope">
          <el-button type="text"
                     size="small"
                     @click="executeAgain(scope.row.id)"
                     v-if="scope.row.status === statusTypeMap.FAIL">重新执行</el-button>
          <span v-else>--</span>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm" v-if="tableData.records.length">
      <vma-pagination class="ly-text-right ly-box-1"
                      :pageNum="params.current"
                      :page-size="params.size"
                      :total="tableData.total"
                      @change="search" />
    </div>
  </div>
</template>

<script>
import { formMixin, tableMixin } from '@/mixins'
import { v2communityManage } from '@/api/system'
// 执行状态
const STATUS_TYPE_MAP = {
  FAIL: 0,
  SUCCESS: 1
}

export default {
  mixins: [ formMixin, tableMixin ],
  data() {
    return {
      statusTypeMap: STATUS_TYPE_MAP,
      paramsSpecial: {
        current: 1,
        size: 10,
        groupNoticeLogId: null,
        status: null
      },
      params: {
        current: 1,
        size: 10,
        groupNoticeLogId: null,
        status: null
      },
      tableData: {
        total: 0,
        records: []
      },
      createNotGetTableList: true
    }
  },
  methods: {
    async afterEntity(entity) {
      this.params.groupNoticeLogId = entity.id
      this.getTableList()
    },
    // 更改状态
    changeStatus(val) {
      this.params.status = val
      this.search(1)
    },
    async requestTableList() {
      let table = await v2communityManage.getGroupNoticeLogDetail(this.params)
      this.tableData = table
    },
    // 重新执行
    async executeAgain(id) {
      await v2communityManage.reExecuteGroupNoticeLogDetail(id)
      this.success('重设定执行成功')
      this.search(this.params.current)
    }
  }
}
</script>
