<template>
  <!-- echarts -->
  <div ref="chart"
       class="chome-hart"></div>
</template>

<script>
import echarts from 'echarts'
import options from './src/options'
import extend from 'extend'
import { echartResizeMixin } from '@/mixins'

export default {
  mixins: [echartResizeMixin],
  props: {
    list: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      chart: null
    }
  },
  watch: {
    list() {
      this.buildChart()
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart()
    })
  },
  methods: {
    getOptions() {
      let opts = extend(true, {}, options)
      let xAxisData = []
      let seriesData = []
      this.list.forEach(v => {
        xAxisData.push(v.name)
        seriesData.push(v.value)
      })
      opts.xAxis[0].data = xAxisData
      opts.series[0].data = seriesData
      return opts
    },
    buildChart() {
      if (!this.list || !this.list.length) {
        return
      }
      if (!this.chart) {
        this.chart = echarts.init(this.$refs.chart)
        this.adaptWindowResize(this.chart)
      }
      this.chart.setOption(this.getOptions())
    }
  }
}
</script>
