<template>
  <div>
    <el-button-group>
      <el-button v-for="(item,i) in optionList"
                 :key="`optionListt_${i}`"
                 :type="i==index?'primary':''"
                 style="width:80px;line-height:10px"
                 @click="itemClick(i)">{{item}}</el-button>
    </el-button-group>
  </div>
</template>

<script>
export default {
  props: {
    optionList: {
      type: Array,
      default: function () {
        return ['小时', '天', '月']
      }
    }
  },
  data() {
    return {
      index: 0
    }
  },
  methods: {
    itemClick(i) {
      this.index = i
      this.$emit('on-click', i)
    }
  }
}
</script>
