<template>
  <div class="contact-ist">
    <div class="contact-ist-item"
         v-for="(item,i) in dataList"
         :key="`dataList_${i}`">
      <img :src="item.headIcon | wechatAvtor"
           alt=""
           class="ly-wh-50px">
      <div>
        <p class="ell2" style="height: 42px; overflow: hidden; word-break: break-all;" :title="item.nickName">{{item.nickName}}</p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    dataList: {
      type: Array,
      default: function () {
        return []
      }
    }
  }
}
</script>
