<template>
  <div class="ly-width-444px">
    <!-- 复制到剪贴板 -->
    <el-input placeholder="请输入内容"
              v-model="url"
              class="input-with-select leftbg-white"
              id="clipboard-input"
              size="medium">
      <span slot="prepend">短链接</span>
      <!-- :data-clipboard-text 帮到到url属性 -->
      <el-button slot="append"
                 :data-clipboard-text="url"
                 class="clipboard-btn">复制链接</el-button>
    </el-input>
  </div>
</template>

<script>
import Clipboard from 'clipboard' // 复制到剪贴板
import Logger from '@/utils/logger'
export default {
  props: {
    url: {
      type: String,
      default: ''
    }
  },
  mounted() {
    // 渲染的时候调用
    this.copyToClipboard()
  },
  methods: {
    // js 复制到剪贴板
    copyToClipboard() {
      // 参考文档：
      // https://github.com/zenorocha/clipboard.js
      // 可下载看例子
      let that = this
      var clipboard = new Clipboard('.clipboard-btn')
      clipboard.on('success', function (e) {
        that.$message.success('复制链接成功')
      })
      clipboard.on('error', function (e) {
        Logger.log(e)
      })
    }
  }
}
</script>
<style scoped>
</style>
