<template>
  <div class="role-content">
    <p class="ly-font-16 detail-margin-top ly-font-color-4 ly-margin-bottom-sm ly-font-weight-bold" v-if="checkedList.tableList && checkedList.tableList.length">角色权限</p>
    <!-- 菜单权限 -->
    <div style="margin-top: -30px;"></div>
    <div v-for="(item, index) in checkedList.tableList"
         :key="'tableList'+index">
      <!-- 只有一级菜单 -->
      <div class="detail-margin-top"
           v-if="item.hierarchy == 1">
        <div style="width:955px;"
             class="ly-margin-top">
          <div class="product-detail-bg ly-padding-15-15px ly-border-top-1">
            <span class="">
              <el-checkbox v-model="item.check"
                           @change="allElection($event, 'typeOne', 'tableList',item.hierarchy,index)">
                <span class="ly-font-color-3 ly-font-16 ly-margin-left-5px">{{item.title}}</span></el-checkbox>
            </span>
          </div>
          <el-row>
            <el-col :span="4"
                    class="ly-border-1 ly-padding-15">
              <el-checkbox class="ly-margin-left-sm"
                           v-model="item.check"
                           @change="changeElection($event, 'typeOne', 'tableList',item.hierarchy,index)">{{item.title}}</el-checkbox>
            </el-col>
          </el-row>
        </div>
      </div>
      <!-- 二级菜单 -->
      <div class="detail-margin-top"
           v-if="item.hierarchy == 2">
        <div style="width:955px;"
             class="detail-margin-top">
          <div class="product-detail-bg ly-padding-15-15px ly-border-top-1">
            <span class="">
              <el-checkbox v-model="item.check"
                           @change="allElection($event, 'typeOne', 'tableList',item.hierarchy,index)">{{item.title}}</el-checkbox>
            </span>
          </div>
          <div>
            <el-row>
              <el-col :span="4"
                      class="ly-border-1 ly-padding-15"
                      v-for="(oneItem, oneIndex) in item.node"
                      :key="'tableList1'+oneIndex">
                <el-checkbox class="ly-margin-left-sm"
                             v-model="oneItem.check"
                             @change="changeElection($event, 'typeOne', 'tableList',item.hierarchy,index,oneIndex)">{{oneItem.title}}</el-checkbox>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
      <!-- 三级菜单 -->
      <div class="detail-margin-top"
           v-if="item.hierarchy == 3">
        <div style="width:955px;"
             class="detail-margin-top">
          <div class="product-detail-bg ly-padding-15-15px ly-border-top-1">
            <span class="">
              <el-checkbox v-model="item.check"
                           @change="allElection($event, 'typeOne', 'tableList',item.hierarchy,index)">
                <span class="ly-font-color-3 ly-font-16 ly-margin-left-5px">{{item.title}}</span>
              </el-checkbox>
            </span>
          </div>
          <div v-for="(oneItem, oneIndex) in item.node"
               :key="'tableList2'+oneIndex">
            <div class="product-detail-bg ly-padding-15-15px ly-border-top-1">
              <span>
                <el-checkbox v-model="oneItem.check"
                             @change="allElection($event, 'typeOne', 'tableList',item.hierarchy,index,oneIndex)">
                  <span class="ly-font-color-3 ly-font-16 ly-margin-left-5px">{{oneItem.title}}</span>
                </el-checkbox>
              </span>
            </div>
            <el-row>
              <el-col :span="4"
                      class="ly-border-1 ly-padding-15"
                      v-for="(twoItem, twoIndex) in oneItem.node"
                      :key="'tableList3'+twoIndex">
                <el-checkbox class="ly-margin-left-sm"
                             v-model="twoItem.check"
                             @change="changeElection($event, 'typeOne', 'tableList',item.hierarchy,index,oneIndex,twoIndex)">{{twoItem.title}}</el-checkbox>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { menuRigthMixin } from '@/mixins'
import { commonApi, staffManageApi } from '@/api/system'
let menuApi = null

export default {
  props: {
    id: {
      type: String,
      default: ''
    },
    entry: {
      type: String,
      default: ''
    }
  },
  mixins: [menuRigthMixin],
  data() {
    return {
    }
  },
  methods: {
    /**
    * 获取菜单权限
    */
    getMenuRight() {
      menuApi.getMenuRight({ role_id: this.id }).then((result) => {
        for (let i = 0; i < result.length; i += 1) {
          var item = result[i]
          item.check = Boolean(item.possess)
          item.hierarchy = 1
          item.checkedNum = 0
          if (item.node) {
            for (let x = 0; x < item.node.length; x += 1) {
              var itemX = item.node[x]
              itemX.check = Boolean(itemX.possess)
              if (item.hierarchy > 2) {
                item.hierarchy = 3
              } else {
                item.hierarchy = 2
                itemX.checkedNum = 0
              }
              if (itemX.node) {
                for (let y = 0; y < itemX.node.length; y += 1) {
                  var itemY = itemX.node[y]
                  itemY.check = Boolean(itemY.possess)
                  item.hierarchy = 3
                }
              }
            }
          }
        }
        this.checkedList.tableList = result
      })
    }
  },
  created() {
    if (this.entry === 'pmsOms') {
      menuApi = commonApi
    } else if (this.entry === 'system') {
      menuApi = staffManageApi
    }
    this.getMenuRight()
  }
}
</script>
