<template>
  <div class="ly-box">
    <div class="ly-margin-right-xs ly-width-50px">
      <div class="ly-wh-50px ly-bg-f6">
        <img class="ly-wh-50px"
             :src="info.headIcon | csAvtor"
             v-image-view>
      </div>
    </div>
    <div class="ly-box-1 ly-font-color-2 line-height-14">
      <p class="ly-font-color-3">{{info.nickName || '--'}}</p>
      <p class="ly-margin-top-4">{{info.phone || '--'}}</p>
      <p class="ly-margin-top-4" v-if="info.wxId">{{ info.wxId || '&#45;&#45;' }}</p>
      <p class="ly-margin-top-4">{{ info.account || '--' }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  created() {
  }
}
</script>
