<template>
  <div class="qart">
    <div id="qrcode"
         ref="qrcode">
    </div>
  </div>
</template>

<script>
import QRCode from 'qrcodejs2'
import Logger from '@/utils/logger'
export default {
  props: {
    url: {
      type: String,
      default: ''
    },
    size: {
      type: Number,
      default: 100
    },
    remark: [String] // 需要在mounted生命周期渲染
  },
  watch: {
    'url'(val) {
      if (this.remark !== 'mounted') {
        this.qrcode(this.url)
      }
    }
  },
  mounted() {
    if (this.remark === 'mounted') {
      this.qrcode(this.url)
    }
  },
  methods: {
    // qrcode对象
    async qrcode(url) {
      let qrcode = new QRCode('qrcode', {
        width: this.size,
        height: this.size,
        text: url
      })
      Logger.log(qrcode)
    },
    // 点击下载
    downloadClick() {
      // 参考文档：
      // http://www.cnblogs.com/zhangkaiqiang/p/8183926.html
      // http://www.w3school.com.cn/tiy/t.asp?f=html_a_download
      this.$nextTick(() => {
        let canvas = document.querySelector('#qrcode canvas')
        // 使用toDataURL方法将图像转换被base64编码的URL字符串
        let url = canvas.toDataURL('image/png')
        let a = document.createElement('a')
        // 创建一个单击事件
        let event = new MouseEvent('click')
        // 将a的download属性设置为我们想要下载的图片名称
        a.download = '二维码'
        // 将生成的URL设置为a.href属性
        a.href = url
        // 触发a的单击事件
        a.dispatchEvent(event)
      })
    }
  }
}
</script>
