<template>
  <div class="qart">
    <div ref="qrcode">
    </div>
  </div>
</template>

<script>
import QRCode from 'qrcodejs2'
import Logger from '@/utils/logger'
export default {
  props: {
    url: {
      type: String,
      default: ''
    },
    size: {
      type: Number,
      default: 100
    }
  },
  mounted() {
    this.qrcode(this.url)
  },
  methods: {
    // qrcode对象
    async qrcode(url) {
      let element = this.$refs.qrcode
      let qrcode = new QRCode(element, {
        width: this.size,
        height: this.size,
        text: url
      })
      Logger.log(qrcode)
    }
  }
}
</script>
