<template>
  <div>
    <el-button  type="success" @click="record" v-if="!audioSrc">{{audioTitle}}</el-button>
    <audio :src="audioSrc" ref="audio" />
    <div class="ly-audio" v-if="audioSrc">
      <audio  controls="controls">
        <source :src="audioSrc" type="audio/mpeg" />
        您的浏览器不支持 audio 标签。
      </audio>
      <el-button class="ly-float-right"  type="text"  size="small" @click="deleteRecord"><i class="el-icon-delete"></i></el-button>
    </div>
  </div>
</template>
<script>
import Recorder from '@/assets/js/recorder'
import Logger from '@/utils/logger'
export default {
  data() {
    return {
      recording: false,
      recorderInstance: null,
      recorderData: null,
      timer: null,
      audioSrc: null,
      audioTitle: '开始录音'
    }
  },
  methods: {
    record() {
      if (this.recording === false) {
        this.startRecord()
        this.setInterval()
      } else {
        this.endRecord()
      }
      this.recording = !this.recording
    },
    startRecord() {
      if (!this.recorderInstance) {
        this.recorderInstance = new Recorder()
      }
      this.recorderInstance.open().then(() => {
        this.recorderInstance.start()
        this.audioTitle = `再次点击结束(${60}s)`
      }, errMsg => {
        this.warning(errMsg)
      })
    },
    endRecord() {
      if (this.recorderInstance) {
        this.recorderInstance.stop().then(data => {
          this.recorderData = data
          this.recorderInstance.close().then(() => {
            this.createAudioSrc()
            this.recording = false
            this.audioTitle = `开始录音`
            clearInterval(this.timer)
            Logger.log('成功释放录音资源')
          })
        }, errMsg => {
          this.warning(errMsg)
        })
      }
    },
    setInterval() {
      var count = 60
      let that = this
      this.timer = setInterval(function () {
        if (count > 0) {
          count = count - 1
          that.audioTitle = `再次点击结束(${count}s)`
        } else {
          that.endRecord()
          that.createAudioSrc()
        }
      }, 1000)
    },
    createAudioSrc() {
      const recorderData = this.recorderData
      this.audioSrc = URL.createObjectURL(recorderData.blob)
    },
    playAudio() {
      const audio = this.$refs.audio
      if (!(audio.ended || audio.paused)) {
        audio.pause()
      }
      audio.play()
    },
    deleteRecord() {
      this.recorderData = null
      this.audioSrc = ''
    }
  }
}
</script>
