<template>
  <div class="ly-box ly-box-align-center">
    <!-- 文本 -->
    <div v-if="info.msgType == MSGTYPE[0]" class="ly-emoji-icons" style="max-height: 40px;">
      <div style="max-height: 40px;">
        <el-popover trigger="hover" placement="top">
          <p v-html="parseHTML($xss(info.msgSource))"></p>
          <div class="ell2 ly-overflow-hidden" v-html="parseHTML($xss(info.msgSource))" slot="reference"></div>
        </el-popover>
      </div>
    </div>
    <!-- 图文链接 -->
    <div v-if="info.msgType == MSGTYPE[5]" class="ly-emoji-icons" style="max-height: 40px;">
      <div style="max-height: 40px;">
        <el-popover trigger="hover" placement="top">
          <p v-html="parseHTML($xss(JSON.parse(info.msgSource).imgtxtTitle))"></p>
          <div class="ell2 ly-overflow-hidden" v-html="parseHTML($xss(JSON.parse(info.msgSource).imgtxtTitle))" slot="reference"></div>
        </el-popover>
      </div>
    </div>
    <!-- 小程序 -->
    <div v-if="info.msgType == MSGTYPE[4]" class="ly-emoji-icons" style="max-height: 40px;">
      <div style="max-height: 40px;">
        <el-popover trigger="hover" placement="top">
          <p v-html="parseHTML($xss(JSON.parse(info.msgSource).miniProgramName))"></p>
          <div class="ell2 ly-overflow-hidden" v-html="parseHTML($xss(JSON.parse(info.msgSource).miniProgramName))" slot="reference"></div>
        </el-popover>
      </div>
    </div>

    <!--<div v-html="parseHTML(info.msgSource)" class="ly-emoji-icons"></div>-->
    <!-- 图片 -->
    <img v-if="info.msgType == MSGTYPE[1]" :src="info.msgSource" class="ly-wh-80-60px" v-image-view>
    <!-- 音频 -->
    <div v-if="info.msgType == MSGTYPE[2]" class="audiolay">
      <span class="audioBtn" v-if="!visible.isPlay" @click="audioPlay">
        <i class="el-icon-caret-right"></i>
      </span>
      <span class="audioBtn" v-if="visible.isPlay" @click="audioPause">
        <i class="ly-play-icon-small">
          <img src="@/assets/images/chat/audioPlaying.gif" />
        </i>
      </span>
      <span>{{info.voiceLength | soundLength}}</span>
      <audio class="audio" controls preload ref="audioRef" id="audioId">
        <source :src="info.msgSource" type="audio/mpeg">
        您的浏览器不支持该音频格式。
      </audio>
    </div>
    <!-- 视频 -->
    <div class="ly-inline-block">
      <div class="ly-mask el-upload-list--picture-card ly-wh-80-60px ly-position-relative" v-if="info.msgType == MSGTYPE[3]">
        <img :src="info.vedioImg || info.coverInfo" class="ly-wh-80-60px">
        <span class="el-upload-list__item-actions">
          <i class="ico_play" @click="handleRemove('video',info.msgSource)"></i>
        </span>
      </div>
    </div>
    <!-- dialog-图片 -->
    <el-dialog title="图片" v-if="info.msgType == MSGTYPE[1]" :visible.sync="visible.imageVisible" append-to-body>
      <img width="100%" :src="visible.imageUrl" alt="">
    </el-dialog>
    <!-- dialog-视频 -->
    <el-dialog title="视频" v-if="info.msgType == MSGTYPE[3]" :visible.sync="visible.videoVisible" @close="pausedVido" append-to-body>
      <video class="ly-margin-center ly-width-max-100p" controls="controls" ref="vaiVidoEle" :src="info.msgSource">
        Your browser does not support the video tag.
      </video>
    </el-dialog>
  </div>
</template>

<script>
/**
 * info格式：
 * msgSource: 'http://www.w3school.com.cn/i/movie.mp4',--文本，图片url,音频url,视频url
 * vedioImg/coverInfo: 'http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L', --如果是视频额外添加背景图片
 * msgType: 4 --类型
 */
import {
  parseHTML
} from '@/components/libs/wechatExpression'
export default {
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data () {
    return {
      // msgType: 6小程序 7图文链接
      MSGTYPE: [1, 2, 3, 4, 6, 7],
      visible: {
        imageUrl: '',
        imageVisible: false,
        videoUrl: '',
        videoVisible: false,
        audioDuration: 0,
        isPlay: false
      }
    }
  },
  mounted () {
    this.audioAddEventListen()
  },
  methods: {
    durationchange (val) {
      // 获取音频时长
      let duration = val.target.duration
      this.visible.audioDuration = duration
    },
    parseHTML,
    // 弹窗
    handleRemove (type, file) {
      switch (type) {
        case 'video':
          this.visible.videoUrl = file
          this.visible.videoVisible = true
          break
        case 'image':
          this.visible.imageUrl = file
          this.visible.imageVisible = true
          break
      }
    },
    /**
     * 播放
     */
    audioPlay () {
      // 先暂停其他音频的播放
      let audioEles = document.getElementsByTagName('audio')
      for (let i = 0; i < audioEles.length; i++) {
        audioEles[i].pause()
        audioEles[i].currentTime = 0
      }
      let audioEle = this.$refs.audioRef
      this.visible.isPlay = true
      audioEle.play()
    },
    /**
     * 停止播放
     */
    audioPause () {
      let audioEle = this.$refs.audioRef
      this.visible.isPlay = false
      audioEle.pause()
      audioEle.currentTime = 0
    },
    /**
     * 监听播放
     */
    audioAddEventListen () {
      let eles = this.$refs.audioRef
      let _this = this
      if (eles) {
        eles.addEventListener('play', function () {
          _this.visible.isPlay = !eles.paused
        })
        eles.addEventListener('pause', function () {
          _this.visible.isPlay = !eles.paused
        })
        eles.addEventListener('ended', function () {
          _this.visible.isPlay = !eles.paused
        })
      }
    },
    pausedVido (e) {
      this.$refs.vaiVidoEle.currentTime = 0
      this.$refs.vaiVidoEle.pause()
    }
  }
}
</script>
<style lang="scss">
.el-popover {
  max-width: 1000px;
}
</style>
