<template>
  <div class="ly-margin-vertical-sm ly-bg-white business">
    <el-form :model="params"
             ref="params"
             label-width="120px"
             class="demo-ruleForm ly-padding-sm"
             :rules="rules">
      <div class="ly-border-bottom-1">
        <el-form-item label="账号信息"
                      class="ly-font-16">
        </el-form-item>
        <el-form-item label="账号："
                      prop="account">
          <div>
            <el-input type="account"
                      v-model.trim="params.account"
                      autocomplete="off"
                      clearable
                      :disabled="isEdit"></el-input>
            <span>6~16位字符或数字&emsp;（超级后台授权{{numInfo.accountNo.sum || 0}}个，剩余{{numInfo.accountNo.left || 0}}个）</span>
          </div>
        </el-form-item>
        <el-form-item label="初始密码："
                      prop="passwords">
          <div>
            <el-input type="password"
                      v-model.trim="params.passwords"
                      autocomplete="off"
                      clearable
                      :disabled="isEdit"></el-input>
            <span>6~16位字符或数字</span>
          </div>
        </el-form-item>
        <el-form-item label="确认密码："
                      prop="password">
          <div>
            <el-input type="password"
                      v-model.trim="params.password"
                      autocomplete="off"
                      clearable
                      :disabled="isEdit"></el-input>
            <span>6~16位字符或数字</span>
          </div>
        </el-form-item>
      </div>
      <el-form-item label="基本信息"
                    class="ly-font-16 ly-margin-top-sm">
      </el-form-item>
      <el-form-item label="编号："
                    v-if="params.id">{{params.id || ''}}
      </el-form-item>
      <el-form-item label="代理商名称："
                    class="ruleForm-sm"
                    prop="name">
        <div>
          <el-input type="name"
                    v-model.trim="params.name"
                    autocomplete="off"
                    clearable></el-input>
          <span>20字</span>
        </div>
      </el-form-item>
      <el-form-item label="联系电话："
                    prop="phone">
        <el-input type="phone"
                  v-model.number.trim="params.phone"
                  autocomplete="off"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="设备："
                    class="ruleForm-xs"
                    prop="equipmentNum">
        <div>
          <el-input type="equipmentNum"
                    v-model.number.trim="params.equipmentNum"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
          <span>台&emsp;（超级后台授权{{numInfo.equNum.sum || 0}}台，剩余{{numInfo.equNum.left || 0}}台）</span>
        </div>
      </el-form-item>
      <el-form-item label="店铺："
                    class="ruleForm-xs"
                    prop="shopNum">
        <div>
          <el-input type="shopNum"
                    v-model.number.trim="params.shopNum"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
          <span>个&emsp;（超级后台授权{{numInfo.shopNum.sum || 0}}个，剩余{{numInfo.shopNum.left || 0}}个）</span>
        </div>
      </el-form-item>
      <el-form-item label="个人号："
                    class="ruleForm-xs"
                    prop="wechatNum">
        <div>
          <el-input type="wechatNum"
                    v-model.number.trim="params.wechatNum"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
          <span>个&emsp;（超级后台授权{{numInfo.accountNum.sum || 0}}个，剩余{{numInfo.accountNum.left || 0}}个）</span>
        </div>
      </el-form-item>
      <el-form-item label="工作群数："
                    class="ruleForm-xs"
                    prop="workGroupNum">
        <div>
          <el-input type="workGroupNum"
                    v-model.number.trim="params.workGroupNum"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
          <span>个&emsp;（超级后台授权{{numInfo.groupNum.sum || 0}}个，剩余{{numInfo.groupNum.left || 0}}个）</span>
        </div>
      </el-form-item>
      <el-form-item label="企业账号："
                    class="ruleForm-xs"
                    prop="enterpriseNum">
        <div>
          <el-input type="enterpriseNum"
                    v-model.number.trim="params.enterpriseNum"
                    autocomplete="off"
                    clearable
                    :disabled="isEdit"></el-input>
          <span>个&emsp;（超级后台授权{{numInfo.shopEnter.sum || 0}}个，剩余{{numInfo.shopEnter.left || 0}}个）</span>
        </div>
      </el-form-item>
      <el-form-item label="地址："
                    class="ruleForm-xs">
        <provinceList v-model="params.provinceId"
                      placeholder="省"
                      @change="clearableCallback('provinceId')" />
        <cityList v-model="params.cityId"
                  placeholder="市"
                  :provinceId="params.provinceId"
                  @change="clearableCallback" />
        <areaList v-model="params.areaId"
                  placeholder="区"
                  :cityId="params.cityId" />
      </el-form-item>
      <el-form-item label="详细地址："
                    class="ruleForm-sm"
                    prop="detailAddress">
        <div>
          <el-input v-model.trim="params.detailAddress"
                    autocomplete="off"
                    clearable></el-input>
          <span>50字</span>
        </div>
      </el-form-item>
      <el-form-item label="备注："
                    class="ruleForm-sm"
                    prop="remark">
        <div>
          <el-input type="textarea"
                    v-model="params.remark"
                    rows="5"
                    :maxlength="500"></el-input>
          <span>{{remarkLen}}/{{remarkTotal}}</span>
        </div>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
                   @click="submitForm('params')">确定</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mobileValidator, passwordValidator, accountValidator, positiveIntegerValidator } from '@/assets/js/validators'
import { provinceList, cityList, areaList } from '@/components/common/lazySelect'
import { businessManageApi } from '@/api/oms'

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  components: { provinceList, cityList, areaList },
  watch: {
    'params.remark': {
      handler: function (val, oldval) {
        val = val || ''
        this.remarkLen = val.length
      },
      deep: true
    }
  },
  data() {
    const rePasswordValidator = (rule, value, callback, source, options) => {
      if (this.dialog && this.dialog.id) {
        callback()
      } else {
        passwordValidator(rule, value, callback)
      }
      let errors = []
      if (value && value !== this.params.passwords) {
        errors.push(rule.message || '两次输入的密码不一致')
      }
      callback(errors)
    }
    const reNewPasswordValidator = (rule, value, callback, source, options) => {
      let errors = []
      if (value && value !== this.params.passwords) {
        errors.push(rule.message || '两次输入的密码不一致')
      }
      callback(errors)
    }
    const equipNumLetterMax = (rule, value, callback) => {
      if (!this.id) {
        if (value > this.numInfo.equNum.left) {
          let message = `设备数不能大于${this.numInfo.equNum.left}个`
          if (!(this.numInfo.equNum.left > 0)) {
            message = '设备数不足'
          }
          callback(new Error(message))
        } else if (value < 1) {
          callback(new Error('设备数不能为零'))
        } else {
          callback()
        }
      } else {
        callback()
      }
    }
    const shopNumLetterMax = (rule, value, callback) => {
      if (!this.id) {
        if (value > this.numInfo.shopNum.left) {
          if (this.numInfo.shopNum.left > 0) {
            callback(new Error('店铺数量不能大于' + this.numInfo.shopNum.left + '个'))
          } else {
            callback(new Error('店铺数量不足'))
          }
        } else if (value < 1) {
          callback(new Error('店铺数量不能为零'))
        } else {
          callback()
        }
      } else {
        callback()
      }
    }
    const wechatNumLetterMax = (rule, value, callback) => {
      if (!this.id) {
        if (value > this.numInfo.accountNum.left) {
          if (this.numInfo.accountNum.left > 0) {
            callback(new Error('个人号数量不能大于' + this.numInfo.accountNum.left + '个'))
          } else {
            callback(new Error('个人号数量不足'))
          }
        } else if (value < 1) {
          callback(new Error('个人号数量不能为零'))
        } else {
          callback()
        }
      } else {
        callback()
      }
    }
    const enterpriseNumLetterMax = (rule, value, callback) => {
      if (!this.id) {
        if (value > this.numInfo.shopEnter.left) {
          if (this.numInfo.shopEnter.left > 0) {
            callback(new Error('企业账号数量不能大于' + this.numInfo.shopEnter.left + '个'))
          } else {
            callback(new Error('企业账号数量不足'))
          }
        } else if (value < 1) {
          callback(new Error('企业账号数量不能为零'))
        } else {
          callback()
        }
      } else {
        callback()
      }
    }
    const workGroupLetterMax = (rule, value, callback) => {
      if (!this.id) {
        if (value > this.numInfo.groupNum.left) {
          if (this.numInfo.groupNum.left > 0) {
            callback(new Error('工作群数量不能大于' + this.numInfo.groupNum.left + '个'))
          } else {
            callback(new Error('工作群数量不足'))
          }
        } else if (value < 1) {
          callback(new Error('工作群数量不能为零'))
        } else {
          callback()
        }
      } else {
        callback()
      }
    }
    return {
      provinceArea: {
        provinceList: [],
        cityList: [],
        areaList: []
      },
      cityList: {},
      areaList: {},
      params: {
        account: '',
        passwords: '',
        password: '',
        name: '',
        phone: '',
        equipmentNum: 1,
        shopNum: 1,
        wechatNum: 1,
        workGroupNum: 1,
        enterpriseNum: 1,
        provinceId: '',
        cityId: '',
        areaId: '',
        detailAddress: '',
        remark: ''
      },
      rules: {
        account: [
          { required: true, message: '请输入账号' },
          { validator: accountValidator }
        ],
        passwords: [
          { required: true, message: '请输入初始密码' },
          { validator: rePasswordValidator }
        ],
        password: [
          { required: true, message: '请再次输入密码' },
          { validator: reNewPasswordValidator }
        ],
        name: [
          { required: true, message: '企业名称不能为空' },
          { max: 20, message: '企业名称不能超过20个字符' }
        ],
        phone: [
          { required: true, message: '联系电话不能为空' },
          { validator: mobileValidator }
        ],
        equipmentNum: [
          { required: true, message: '设备数量不能为空' },
          { type: 'number', message: '设备数量只能为数字' },
          { validator: positiveIntegerValidator },
          { validator: equipNumLetterMax }
        ],
        shopNum: [
          { required: true, message: '店铺数量不能为空' },
          { type: 'number', message: '店铺数量只能为数字' },
          { validator: positiveIntegerValidator },
          { validator: shopNumLetterMax }
        ],
        wechatNum: [
          { required: true, message: '个人号数量不能为空' },
          { type: 'number', message: '个人号数量只能为数字' },
          { validator: positiveIntegerValidator },
          { validator: wechatNumLetterMax }
        ],
        workGroupNum: [
          { required: true, message: '工作群数量不能为空' },
          { type: 'number', message: '工作群数量只能为数字' },
          { validator: positiveIntegerValidator },
          { validator: workGroupLetterMax }
        ],
        enterpriseNum: [
          { required: true, message: '企业账号数量不能为空' },
          { type: 'number', message: '企业账号数量只能为数字' },
          { validator: positiveIntegerValidator },
          { validator: enterpriseNumLetterMax }
        ],
        detailAddress: [
          { max: 50, message: '详细地址不能超过50个字符' }
        ]
      },
      isEdit: false,
      remarkLen: 0,
      remarkTotal: 500,
      numInfo: {
        accountNo: {},
        equNum: {},
        shopNum: {},
        accountNum: {},
        shopEnter: {},
        groupNum: {}
      },
      id: null
    }
  },
  created() {
    if (this.dialog && this.dialog.id) {
      this.id = this.dialog.id
      this.isEdit = true
      this.getDetails()
    }
    this.equNum()
    this.shopNum()
    this.accountNum()
    this.shopEnter()
    this.accountNoNum()
    this.groupNum()
  },
  methods: {
    getDetails() {
      businessManageApi.getAgentListDetailEdit(this.id).then(res => {
        this.params = res
        if (this.isEdit) {
          this.params.passwords = '******'
          this.params.password = '******'
          if (this.params.remark) {
            this.remarkLen = this.params.remark.length
          }
          if (this.params.provinceId) {
            this.params.provinceId = res.provinceId
            this.params.cityId = res.cityId
            this.params.areaId = res.areaId
          }
        }
      })
    },
    // 保存验证
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.params.provinceId && (!this.params.cityId || !this.params.areaId)) {
            let message
            if (!this.params.cityId) {
              message = '请选择市'
            } else {
              message = '请选择区'
            }
            this.error(message)
            return false
          } else {
            this.submitCallback()
          }
        } else {
          // this.error('很遗憾，请填写正确数据')
          return false
        }
      })
    },
    // 保存
    submitCallback() {
      this.params.areaId = this.params.areaId
      this.params.cityId = this.params.cityId
      this.params.provinceId = this.params.provinceId
      if (this.id) {
        this.editCallback()
      } else {
        this.addCallback()
      }
    },
    // 新增
    addCallback() {
      businessManageApi.getAgentListAgentAdd(this.params).then(res => {
        this.success('恭喜你，新增成功')
        this.$emit('closeDialog', 1)
      })
    },
    // 编辑
    editCallback() {
      businessManageApi.getAgentListAgentModify(this.params).then(res => {
        this.success('恭喜你，编辑成功!')
        this.$emit('closeDialog')
      })
    },
    clearableCallback(val, valCity) {
      if (val === 'provinceId') {
        this.params.areaId = ''
        this.params.cityId = ''
      } else {
        if (!valCity) {
          this.params.areaId = ''
        }
      }
    },
    // 可用设备数
    equNum() {
      businessManageApi.getAgentListEquipNum().then(res => {
        this.numInfo.equNum = res
      })
    },
    // 可用店铺数
    shopNum() {
      businessManageApi.getAgentListShopNum().then(res => {
        this.numInfo.shopNum = res
      })
    },
    // 可用个人号数
    accountNum() {
      businessManageApi.getAgentListNum().then(res => {
        this.numInfo.accountNum = res
      })
    },
    // 可用可用企业数
    shopEnter() {
      businessManageApi.getAgentListEnterNum().then(res => {
        this.numInfo.shopEnter = res
      })
    },
    // 可用账号数
    accountNoNum() {
      businessManageApi.getAgentListAccountNum().then(res => {
        this.numInfo.accountNo = res
      })
    },
    // 可用工作群
    groupNum() {
      businessManageApi.groupNum().then(res => {
        this.numInfo.groupNum = res
      })
    }
  }
}
</script>
