<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white ly-margin-bottom-sm"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}"
                 v-show="zoom">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="企业名称/联系号码"
                    class="ly-margin-right-bottom-sm"
                    v-model.trim="params.keyWord"
                    :maxlength="100"
                    @keyup.native.enter="getTableList(1)"
                    clearable>
          </el-input>
          <el-date-picker class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange"
                          v-model="date"
                          clearable>
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <el-container>
      <!-- 重复群 -->
      <el-aside v-show="zoom"
                class="ly-margin-right-sm">
        <div class="ly-sidebar">
          <div class="title">
            <span class="ly-vertical-line">代理商列表</span>
            <span class="ly-vertical-middle ico_add ly-cursor-pointer"
                  @click="toFrom('add')"></span>
          </div>
          <ul class="ly-sidebar-list">
            <li class="ly-sidebar-item"
                v-for="(item,index) in tableData.records"
                :key="item.id"
                :class="{'active':isActive===index}"
                @click="getList(item,index)">
              <p class="ly-font-color-3">{{item.name ||''}}</p>
              <p>{{item.phone ||''}}</p>
            </li>
          </ul>
          <div class="ly-text-right"
               v-if="tableData.total > params.size">
            <el-pagination layout="prev, pager, next"
                           small
                           :total="tableData.total"
                           @current-change="getTableList">
            </el-pagination>
          </div>
        </div>
      </el-aside>
      <!-- 数据列表 -->
      <el-main class="ly-bg-white ly-padding-sm"
               v-if="id">
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1 ly-min-width-130 ly-margin-right-sm">
            <i class="ico_full_screen"
               :class="{'ico_small_screen':!zoom}"
               @click="zoom=!zoom"></i>
            <span class="ly-vertical-line">代理商详情</span>
          </div>
          <span class="ly-margin-top-nge-4 ly-but-lay">
            <el-button type="primary"
                       size="small"
                       @click="openCallback('equipmentAdd')">增加设备</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('shopAdd')">增加店铺</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('numAdd')">增加个人号</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('groupAdd')">增加工作群</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('accountAdd')">增加账号</el-button>
            <el-button type="primary"
                       size="small"
                       v-if="basicInfo.status === 0 || basicInfo.status ===1"
                       @click="openCallback('prohibit')">{{basicInfo.status===1?'禁用':'启用'}}</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('resetPassword')">重置密码</el-button>
            <el-button type="primary"
                       size="small"
                       @click="toFrom('edit')">编辑</el-button>
          </span>
        </div>
        <Stat v-if="info && info.id"
              :info="info"
              ref="statEle"
              @postUserState="postUserState" />
      </el-main>
    </el-container>
    <!-- 弹窗 -->
    <el-dialog title="增加设备"
               class="ly-font-color-4"
               width="400px"
               :visible.sync="dialog.open && dialog.name==='equipmentAdd'"
               @close="closeCallback">
      <equipmentAdd :dialog="dialog"
                    v-if="dialog.open"
                    @getList="getList"></equipmentAdd>
    </el-dialog>
    <el-dialog title="增加店铺"
               class="ly-font-color-4"
               width="400px"
               :visible.sync="dialog.open && dialog.name==='shopAdd'"
               @close="closeCallback">
      <shopAdd :dialog="dialog"
               v-if="dialog.open"
               @getList="getList"></shopAdd>
    </el-dialog>
    <el-dialog title="增加个人号"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='numAdd'"
               @close="closeCallback">
      <numAdd :dialog="dialog"
              v-if="dialog.open"
              @getList="getList"></numAdd>
    </el-dialog>
    <el-dialog title="增加工作群"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='groupAdd'"
               @close="closeCallback">
      <groupAdd :dialog="dialog"
                v-if="dialog.open"
                @getList="getList"></groupAdd>
    </el-dialog>
    <el-dialog title="增加账号"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='accountAdd'"
               @close="closeCallback">
      <accountAdd :dialog="dialog"
                  v-if="dialog.open"
                  @getList="getList"></accountAdd>
    </el-dialog>
    <el-dialog title="重置密码"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='resetPassword'"
               @close="closeCallback">
      <resetPassword :dialog="dialog"
                     v-if="dialog.open"></resetPassword>
    </el-dialog>
    <!-- 弹窗==编辑代理商/新增代理商 -->
    <vma-dialog v-model="dialogAddBoolean"
                :title="dialogAddInfo?'编辑代理商':'新增代理商'">
      <agentAdd :dialog="dialogAddInfo"
                @closeDialog="closeDialogAdd"
                v-if="dialogAddBoolean"></agentAdd>
    </vma-dialog>
  </div>
</template>

<script>
// import * as types from '@/router/oms/types'
import Stat from './components/stat'
import { accountAdd, equipmentAdd, shopAdd, numAdd, resetPassword, groupAdd } from './components/dialog'
import agentAdd from './agentAdd'
import { businessManageApi } from '@/api/oms'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { Stat, accountAdd, equipmentAdd, shopAdd, numAdd, resetPassword, agentAdd, groupAdd },
  data() {
    return {
      activeNames: ['1'],
      date: '',
      baseInfo: null,
      params: {
        keyWord: '',
        beginTime: '',
        endTime: ''
      },
      isActive: 0,
      id: null,
      info: null,
      dialog: {
        open: false,
        name: null,
        info: null
      },
      basicInfo: {},
      dialogAddBoolean: false,
      dialogAddInfo: null,
      zoom: true
    }
  },
  methods: {
    // 获取列表
    async requestTableList(typeVal) {
      await businessManageApi.getAgentList(this.params).then(res => {
        this.tableData = res
        if (this.tableData.records.length > 0) {
          this.isActive = typeVal ? this.isActive : 0
          this.initGetList(this.tableData.records[this.isActive], this.isActive)
        } else {
          this.isActive = typeVal ? this.isActive : 0
          this.id = null
          this.info = null
          this.status = null
        }
      })
    },
    initGetList(item, index) {
      this.id = null
      this.info = null
      setTimeout(() => {
        this.id = item.id
        this.info = item
      }, 0)
    },
    postUserState(type, data) {
      if (type === 'basicInfo') {
        this.basicInfo = data
      }
    },
    getList(item, index) {
      if (index || index === 0) {
        this.isActive = index
      }
      this.initGetList(item, index)
    },
    openCallback(key) {
      this.dialog.name = key
      this.dialog.info = this.tableData.records[this.isActive]
      this.dialog.open = true
      let status = this.basicInfo.status ? 0 : 1
      // 禁用
      if (key === 'prohibit') {
        let message = status ? '是否确定启用？' : '禁用后该企业将无法登录，是否确定禁用？'
        this.$confirm(message, '标题', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.toggleStatus(status)
        }).catch(() => { })
      }
    },
    async toggleStatus(status) {
      let obj = {
        enterpriseId: this.id,
        status: status
      }
      await businessManageApi.getAgentListProhibit(obj).then(res => {
        this.success('恭喜你，操作成功!')
        this.basicInfo.status = status
        this.$refs.statEle.setUserState('basicInfo', this.basicInfo)
        // this.getList(this.tableData.records[this.isActive])
      })
    },
    closeCallback() {
      this.dialog.open = false
    },
    closeDialogAdd(type) {
      this.dialogAddBoolean = false
      this.dialogAddInfo = null
      let typeVal = ''
      if (type === 1) {
        // 表示新增，清除筛选条件
        this.params.keyWord = ''
        this.params.beginTime = ''
        this.params.endTime = ''
        this.date = ''
        this.params.current = 1
      } else {
        typeVal = 'edit'
      }
      this.getTableList('', '', typeVal)
    },
    toFrom(type) {
      if (type === 'add') {
        this.dialogAddBoolean = true
        this.dialogAddInfo = null
        // this.$router.push({ name: types.AGENT_ADD })
      } else {
        this.dialogAddBoolean = true
        this.dialogAddInfo = {
          id: this.id
        }
        // this.$router.push({ name: types.AGENT_ADD, query: { id: this.id } })
      }
    }
  }
}
</script>
