/* eslint-disable vue/no-parsing-error */
<template>
  <div class="scroll-content pos-r" v-if="activeChatFriendInfo">
    <div class="pos-a" style="left: -110px; top: 0; max-width: 50px; overflow: hidden" id="copy-content"></div>
    <contextmenu v-model="contextmenu.show" :data="contextmenu.data" @click-contextmenu="clickContextmenu"></contextmenu>
    <ul class="chatcontent-record" ref="chatcontent" @click="hideContextmenu">
      <!-- 点击加载更早消息 -->
      <li class="ly-text-center" v-if="!noMore && chatRecordList.length > 0">
        <span class="ly-cursor-point" @click="loadMoreRecord">点击加载更早消息</span>
      </li>

      <template v-for="(item, index) in chatRecordList">
        <!-- 文字/表情/转账/微信端发的红包/共享位置 -->
        <li :class="item.isSelfSend === 1 ? 'chatconent-record-right' : ''" :id="'m' + item.createTime + item.wxMsgId" :key="index" v-if="
            item &&
            (item.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM ||
              item.msgType === MESSAGE_SUB_TYPE.WX_LOCATION_ELEM ||
              item.msgType === MESSAGE_SUB_TYPE.WX_TRANSFER_ELEM ||
              (item.msgType === MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM &&
                item.isSelfSend === 0) ||
              item.msgType === MESSAGE_SUB_TYPE.WX_SHARE_LOCATION_ELEM)
          ">
          <div class="chatcontent-record-li">
            <div class="chatcontent-record-conent">
              <!-- <div @contextmenu.prevent = 'rightAtFriend(item, index, $event)' class="chatcontent-record-userimg"> -->
              <div class="chatcontent-record-userimg">
                <img v-if="item.isSelfSend === 0" :src="
                    (item.talkerRoomWxId
                      ? groupMemberMap[item.talkerWxId] &&
                        groupMemberMap[item.talkerWxId].headIcon
                      : activeChatFriendInfo.headIcon) | wechatAvtor
                  " />
                <img v-else :src="activeChatAccountInfo.headIcon | csAvtor" />
              </div>
              <p class="chatcontent-record-time">
                <span class="
                    ly-inline-block ly-width-max-100px
                    ell
                    ly-vertical-top ly-padding-right-10px
                  " v-if="
                    activeChatFriendInfo.type === SESSION_TYPE.GROUP &&
                    item.isSelfSend === 0
                  ">
                  {{
                    item.talkerRoomWxId
                      ? groupMemberMap[item.talkerWxId] &&
                        groupMemberMap[item.talkerWxId].nickName
                      : ""
                  }}
                </span>
                <span>{{ item.createTime | date("MM-dd hh:mm:ss") }}</span>
              </p>
              <div class="chatcontent-record-detail" @contextmenu.prevent="showContextmenu(item, index, $event)">
                <!-- 发送失败 -->
                <span class="chatcontent-label" v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]"><i class="el-icon-close"></i>
                </span>
                <!-- 发送中 -->
                <!-- <span class="chatcontent-label" v-else-if="item.isSelfSend === 1 && sendingMsgs[activeChatAccountInfo.id] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId][item.wkfMsgId]"><i class="el-icon-loading"></i></span> -->
                <!-- 撤回 -->
                <span class="chatcontent-label" v-else-if="cancelMsgs[item.wxMsgId] || item.isCancel === 1"><i class="ly-icon-cancel"></i></span>
                <!-- 在手机上删除 -->
                <span class="chatcontent-label" v-else-if="deleteMsgs[item.wxMsgId] || item.isCancel === 2"><i class="el-icon-close"></i></span>
                <span class="chatcontent-record-triggle"></span>
                <!-- 讯飞的ai推荐机器人按钮 接收文本显示机器人-->
                <span class="chatcontent-label-icon customer-label" v-if="
                    activeChatFriendInfo.type === SESSION_TYPE.C2C &&
                    item.isSelfSend === 0
                  " @click="dialogTableVisibleAi(index, item.wxMsgId)">
                  <el-popover placement="right" width="400" trigger="click" ref="popover">
                    <div v-for="(item, index) in recommendedWords" :key="index">
                      <el-popover placement="right-start" trigger="hover" :content="JSON.parse(item).target" class="answerItemPop" width="400">
                        <div slot="reference" @click="sendWordMsg(item.userQuestion,JSON.parse(item).target)" class="answerItem" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.TXT">
                          <i class="el-icon-star-off" @click.stop="addQuicklyReplay(JSON.parse(item))"></i> {{ JSON.parse(item).target }}
                        </div>
                        <div slot="reference" @click="sendReply(JSON.parse(item))" class="answerItem" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.VIDEO">
                          <i class="el-icon-star-off" @click.stop="addQuicklyReplay(JSON.parse(item))"></i> {{ JSON.parse(item).target }}
                          <i class="icon-video" @click.stop="previewReply(JSON.parse(item))"></i>
                        </div>
                        <div slot="reference" @click="sendReply(JSON.parse(item))" class="answerItem" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.WECHAT">
                          {{ JSON.parse(item).target }}
                          <i class="icon el-icon-link" @click.stop="previewReplyWechat(JSON.parse(item))"></i>
                        </div>
                        <div slot="reference" @click="sendReply(JSON.parse(item))" class="answerItem" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.IMG">
                          <i class="el-icon-star-off" @click.stop="addQuicklyReplay(JSON.parse(item))"></i>{{ JSON.parse(item).target }}
                          <i class="icon icon-image" @click.stop="previewReply(JSON.parse(item))"></i>
                        </div>
                        <div slot="reference" @click="sendReply(JSON.parse(item))" class="answerItem" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.AUDIO">
                          <i class="el-icon-star-off" @click.stop="addQuicklyReplay(JSON.parse(item))"></i>{{ JSON.parse(item).target }}
                          <i class="icon icon-voice" @click.stop="previewReply(JSON.parse(item))"></i>
                        </div>
                      </el-popover>
                    </div>
                    <i class="icon-machine" v-show="item.isshowMachine" slot="reference"></i>
                  </el-popover>
                </span>
                <!-- 讯飞的收藏按钮 && item.isSelfSend === 1 activeChatFriendInfo.type === SESSION_TYPE.C2C 代表是自己发的信息-->
                <span class="chatcontent-label replay" v-if="activeChatFriendInfo.type === SESSION_TYPE.C2C  && item.isSelfSend === 1" @click.stop="addQuicklyReplay(item)"><i class="el-icon-star-off"></i>
                </span>
                <!-- 文字 -->
                <div class="ly-record-textsize" v-html="parseHTML($xss(item.content))" v-if="item.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM"></div>
                <!-- 转账/共享位置/收到客户发送的红包 -->
                <div v-else>[不支持此消息，请在手机上查看]</div>
              </div>
              <div v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]" class="chatcontent-record-resend ly-record-textsize">
                此条消息发送失败
                <span class="resend-btn cursor" @click="resendFailMsg(item, index)">重新发送</span>
              </div>
              <!-- 文本消息卡片 -->
              <div class="chatcontent-record-card" v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM && item.isSelfSend === 0">
                <el-card class="box-card" v-if="aiTxtInfo && item.wxMsgId === aiTxtInfo.wxMsgId">
                  <div v-for="(item, index) in aiTxtInfo.answerList" :key="index" class="text item">
                    <el-popover placement="bottom" width="400" trigger="hover" :content="JSON.parse(item).target">
                      <div class="board-bottom" @click.stop="sendWordMsg(aiTxtInfo.nlpSolution,JSON.parse(item).target)" slot="reference" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.TXT">
                        {{ JSON.parse(item).target }}
                      </div>
                      <div class="board-bottom" @click.stop="sendReply(JSON.parse(item))" slot="reference" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.VIDEO">
                        {{ JSON.parse(item).target }}
                        <i class="icon-video" @click.stop="previewReply(JSON.parse(item))"></i>
                      </div>
                      <div class="board-bottom" slot="reference" @click="sendReply(JSON.parse(item))" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.WECHAT">
                        {{ JSON.parse(item).target }}
                        <i class="icon el-icon-link" @click.stop="previewReplyWechat(JSON.parse(item))"></i>
                      </div>
                      <div class="board-bottom" slot="reference" @click.stop="sendReply(JSON.parse(item))" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.IMG">
                        {{ JSON.parse(item).target }}
                        <i class="icon icon-image" @click.stop="previewReply(JSON.parse(item))"></i>
                      </div>
                      <div class="board-bottom" @click.stop="sendReply(JSON.parse(item))" slot="reference" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.AUDIO">
                        {{ JSON.parse(item).target }}
                        <i class="icon icon-voice" @click.stop="previewReply(JSON.parse(item))"></i>
                      </div>
                    </el-popover>
                  </div>
                </el-card>
              </div>
            </div>
          </div>
        </li>
        <!-- 文字/表情/图片/视频/音频/文件/撤回消息-->
        <li :class="item.isSelfSend === 1 ? 'chatconent-record-right' : ''" :key="index" :id="'m' + item.createTime + item.wxMsgId" v-else-if="
            item &&
            (item.msgType === MESSAGE_SUB_TYPE.VMA_IMGTXTLINK_ELEM ||
              item.msgType === MESSAGE_SUB_TYPE.VMA_MINI_PROGRAM_ELEM ||
              item.msgType === MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM ||
              item.msgType === MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM ||
              item.msgType === MESSAGE_SUB_TYPE.VMA_SOUND_ELEM ||
              (item.msgType === MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM &&
                item.isSelfSend === 1) ||
              item.msgType === MESSAGE_SUB_TYPE.VMA_FILE_ELEM ||
              item.msgType === MESSAGE_SUB_TYPE.WX_BUSINESS_CARD_ELEM)
          ">
          <div class="chatcontent-record-li">
            <div class="chatcontent-record-conent">
              <!-- <div  @contextmenu.prevent = 'rightAtFriend(item, index, $event)' class="chatcontent-record-userimg"> -->
              <div class="chatcontent-record-userimg">
                <img v-if="item.isSelfSend === 0" :src="
                    (item.talkerRoomWxId
                      ? groupMemberMap[item.talkerWxId] &&
                        groupMemberMap[item.talkerWxId].headIcon
                      : activeChatFriendInfo.headIcon) | wechatAvtor
                  " />
                <img v-else :src="activeChatAccountInfo.headIcon | csAvtor" />
              </div>
              <p class="chatcontent-record-time">
                <span class="
                    ly-inline-block ly-width-max-100px
                    ell
                    ly-vertical-top ly-padding-right-10px
                  " v-if="
                    activeChatFriendInfo.type === SESSION_TYPE.GROUP &&
                    item.isSelfSend === 0
                  ">
                  {{
                    item.talkerRoomWxId
                      ? groupMemberMap[item.talkerWxId] &&
                        groupMemberMap[item.talkerWxId].nickName
                      : ""
                  }}
                </span>
                <span>{{ item.createTime | date("MM-dd hh:mm:ss") }}</span>
              </p>
              <!-- 图文链接 -->
              <div class="chatcontent-record-detail chatcontent-record-img" v-if="item.msgType === MESSAGE_SUB_TYPE.VMA_IMGTXTLINK_ELEM">
                <span class="chatcontent-label" v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]"><i class="el-icon-close"></i>
                </span>
                <!-- <span class="chatcontent-label" v-else-if="item.isSelfSend === 1 && sendingMsgs[activeChatAccountInfo.id] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId][item.wkfMsgId]"><i class="el-icon-loading"></i></span> -->
                <!-- 撤回 -->
                <span class="chatcontent-label" v-else-if="cancelMsgs[item.wxMsgId] || item.isCancel === 1"><i class="ly-icon-cancel"></i></span>
                <!-- 在手机上删除 -->
                <span class="chatcontent-label" v-else-if="deleteMsgs[item.wxMsgId] || item.isCancel === 2"><i class="el-icon-close"></i></span>
                <div class="linkBox" @click="gotoLink(item)">
                  <p class="linkBox-title">
                    {{ JSON.parse(item.content).imgtxtTitle }}
                  </p>
                  <div class="linkBox-bottom">
                    <span class="time">{{
                      JSON.parse(item.content).imgtxtDescribe
                    }}</span>
                    <img class="image" :src="item.resourceUrl" />
                  </div>
                </div>
              </div>
              <!-- 小程序消息 -->
              <div class="chatcontent-record-detail chatcontent-record-img" v-if="item.msgType === MESSAGE_SUB_TYPE.VMA_MINI_PROGRAM_ELEM">
                <span class="chatcontent-label" v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]"><i class="el-icon-close"></i>
                </span>
                <!-- <span class="chatcontent-label" v-else-if="item.isSelfSend === 1 && sendingMsgs[activeChatAccountInfo.id] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId][item.wkfMsgId]"><i class="el-icon-loading"></i></span> -->
                <!-- 撤回 -->
                <span class="chatcontent-label" v-else-if="cancelMsgs[item.wxMsgId] || item.isCancel === 1"><i class="ly-icon-cancel"></i></span>
                <!-- 在手机上删除 -->
                <span class="chatcontent-label" v-else-if="deleteMsgs[item.wxMsgId] || item.isCancel === 2"><i class="el-icon-close"></i></span>
                <!-- <div class="chatcontent-record-detail">
                     <span class="chatcontent-record-triggle"></span>
                     <div class="ly-record-textsize">您收到一条小程序，请在手机端查看</div>
                </div> -->
                <!-- <span class="chatcontent-record-triggle"></span> -->
                <div class="ly-record-textsize" style="font-size: 12px; color: black; margin-top: 10px">
                  您收到一条小程序，请在手机端查看
                </div>
              </div>
              <!-- 图片消息 -->
              <div class="chatcontent-record-detail chatcontent-record-img" @contextmenu.prevent="showContextmenu(item, index, $event)" v-if="item.msgType === MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM">
                <span class="chatcontent-label" v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]"><i class="el-icon-close"></i>
                </span>
                <!-- <span class="chatcontent-label" v-else-if="item.isSelfSend === 1 && sendingMsgs[activeChatAccountInfo.id] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId][item.wkfMsgId]"><i class="el-icon-loading"></i></span> -->
                <!-- 撤回 -->
                <span class="chatcontent-label" v-else-if="cancelMsgs[item.wxMsgId] || item.isCancel === 1"><i class="ly-icon-cancel"></i></span>
                <!-- 在手机上删除 -->
                <span class="chatcontent-label" v-else-if="deleteMsgs[item.wxMsgId] || item.isCancel === 2"><i class="el-icon-close"></i></span>
                <div><img :src="item.resourceUrl" v-image-view /></div>
                <!-- 讯飞新加图片识别 -->
                <div class="cardBox">
                  <!--行驶证-->
                  <span class="ai-ocr" @click="OCRRecognition(1, item)" v-if="
                      activeChatFriendInfo.type === SESSION_TYPE.C2C &&
                      item.isSelfSend === 0
                    ">行驶证</span>
                  <!--身份证-->
                  <span class="ai-ocr" @click="OCRRecognition(3, item)" v-if="
                      activeChatFriendInfo.type === SESSION_TYPE.C2C &&
                      item.isSelfSend === 0
                    ">身份证</span>
                  <!--车辆合格证-->
                  <span class="ai-ocr" @click="OCRRecognition(4, item)" v-if="
                      activeChatFriendInfo.type === SESSION_TYPE.C2C &&
                      item.isSelfSend === 0
                    ">商检合格证</span>
                  <span class="ai-ocr" @click="OCRRecognition(5, item)" v-if="
                      activeChatFriendInfo.type === SESSION_TYPE.C2C &&
                      item.isSelfSend === 0
                    ">发票</span>
                </div>
                <span v-if=" activeChatFriendInfo.type === SESSION_TYPE.C2C" class="chatcontent-label" @click.stop="addQuicklyReplay(item)">
                  <i class="el-icon-star-off"></i>
                </span>
                <!-- ocrImginfo1 -->
                <div v-if=" activeChatFriendInfo.type === SESSION_TYPE.C2C && item.isSelfSend === 0 && ocrImginfo1.answerList.length && item.wxMsgId == ocrImginfo1.wxMsgId">
                  <span class="chatcontent-label-m">
                    <el-popover placement="right" width="400" trigger="click">
                      <div v-for="(item, index) in ocrImginfo1.answerList" :key="index" style="position: relative;">
                        <el-popover placement="right-start" trigger="hover" :content="JSON.parse(item).target" width="400">
                          <div slot="reference" @click="sendWordMsg(item.userQuestion,JSON.parse(item).target)">
                            <i class="el-icon-star-off" @click.stop="addQuicklyReplay(item)"></i> {{ JSON.parse(item).target }}
                          </div>
                        </el-popover>
                      </div>
                      <i class="icon-machine" v-show="ocrImginfo1.answerList.length && item.wxMsgId == ocrImginfo1.wxMsgId" slot="reference"></i>
                    </el-popover>
                  </span>
                  <el-card class="box-card">
                    <div v-for="(item, index) in ocrImginfo1.answerList" :key="index" class="text item">
                      <el-popover placement="bottom" width="400" trigger="hover" :content="JSON.parse(item).target">
                        <div class="board-bottom" @click.stop="sendWordMsg(ocrImginfo1.nlpSolution,JSON.parse(item).target)" slot="reference">
                          {{ JSON.parse(item).target }}
                        </div>
                      </el-popover>
                    </div>
                  </el-card>
                </div>
                <!-- ocrImginfo3 -->
                <div v-if=" activeChatFriendInfo.type === SESSION_TYPE.C2C && item.isSelfSend === 0 && ocrImginfo3.answerList.length && item.wxMsgId == ocrImginfo3.wxMsgId">
                  <span class="chatcontent-label-m">
                    <el-popover placement="right" width="400" trigger="click">
                      <div v-for="(item, index) in ocrImginfo3.answerList" :key="index" style="position: relative;">
                        <el-popover placement="right-start" trigger="hover" :content="JSON.parse(item).target" width="400">
                          <div slot="reference" @click="sendWordMsg(item.userQuestion,JSON.parse(item).target)">
                            <i class="el-icon-star-off" @click.stop="addQuicklyReplay(item)"></i> {{ JSON.parse(item).target }}
                          </div>
                        </el-popover>
                      </div>
                      <i class="icon-machine" v-show="ocrImginfo3.answerList.length && item.wxMsgId == ocrImginfo3.wxMsgId" slot="reference"></i>
                    </el-popover>
                  </span>
                  <el-card class="box-card">
                    <div v-for="(item, index) in ocrImginfo3.answerList" :key="index" class="text item">
                      <el-popover placement="bottom" width="400" trigger="hover" :content="JSON.parse(item).target">
                        <div class="board-bottom" @click.stop="sendWordMsg(ocrImginfo3.nlpSolution,JSON.parse(item).target)" slot="reference">
                          {{ JSON.parse(item).target }}
                        </div>
                      </el-popover>
                    </div>
                  </el-card>
                </div>
                <!-- ocrImginfo4 -->
                <div v-if=" activeChatFriendInfo.type === SESSION_TYPE.C2C && item.isSelfSend === 0 && ocrImginfo4.answerList.length && item.wxMsgId == ocrImginfo4.wxMsgId">
                  <span class="chatcontent-label-m">
                    <el-popover placement="right" width="400" trigger="click">
                      <div v-for="(item, index) in ocrImginfo4.answerList" :key="index" style="position: relative;">
                        <el-popover placement="right-start" trigger="hover" :content="JSON.parse(item).target" width="400">
                          <div slot="reference" @click="sendWordMsg(item.userQuestion,JSON.parse(item).target)">
                            <i class="el-icon-star-off" @click.stop="addQuicklyReplay(item)"></i> {{ JSON.parse(item).target }}
                          </div>
                        </el-popover>
                      </div>
                      <i class="icon-machine" v-show="ocrImginfo4.answerList.length && item.wxMsgId == ocrImginfo4.wxMsgId" slot="reference"></i>
                    </el-popover>
                  </span>
                  <el-card class="box-card">
                    <div v-for="(item, index) in ocrImginfo4.answerList" :key="index" class="text item">
                      <el-popover placement="bottom" width="400" trigger="hover" :content="JSON.parse(item).target">
                        <div class="board-bottom" @click.stop="sendWordMsg(ocrImginfo4.nlpSolution,JSON.parse(item).target)" slot="reference">
                          {{ JSON.parse(item).target }}
                        </div>
                      </el-popover>
                    </div>
                  </el-card>
                </div>
                <!-- ocrImginfo5-->
                <div v-if=" activeChatFriendInfo.type === SESSION_TYPE.C2C && item.isSelfSend === 0 && ocrImginfo5.answerList.length && item.wxMsgId == ocrImginfo5.wxMsgId">
                  <span class="chatcontent-label-m">
                    <el-popover placement="right" width="400" trigger="click">
                      <div v-for="(item, index) in ocrImginfo5.answerList" :key="index" style="position: relative;">
                        <el-popover placement="right-start" trigger="hover" :content="JSON.parse(item).target" width="400">
                          <div slot="reference" @click="sendWordMsg(item.userQuestion,JSON.parse(item).target)">
                            <i class="el-icon-star-off" @click.stop="addQuicklyReplay(item)"></i> {{ JSON.parse(item).target }}
                          </div>
                        </el-popover>
                      </div>
                      <i class="icon-machine" v-show="ocrImginfo5.answerList.length && item.wxMsgId == ocrImginfo5.wxMsgId" slot="reference"></i>
                    </el-popover>
                  </span>
                  <el-card class="box-card">
                    <div v-for="(item, index) in ocrImginfo5.answerList" :key="index" class="text item">
                      <el-popover placement="bottom" width="400" trigger="hover" :content="JSON.parse(item).target">
                        <div class="board-bottom" @click.stop="sendWordMsg(ocrImginfo5.nlpSolution,JSON.parse(item).target)" slot="reference">
                          {{ JSON.parse(item).target }}
                        </div>
                      </el-popover>
                    </div>
                  </el-card>
                </div>

              </div>
              <!-- 视频消息 -->
              <!-- item.resourceUrl, item.videoImgUrl -->
              <div class="chatcontent-record-detail chatcontent-record-video" @contextmenu.prevent="showContextmenu(item, index, $event)" v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM" @click.stop="previewReply(item)">
                <span class="chatcontent-label" @click.stop="addQuicklyReplay(item)" v-if="activeChatFriendInfo.type === SESSION_TYPE.C2C">
                  <i class="el-icon-star-off"></i>
                </span>
                <span class="chatcontent-label" v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]"><i class="el-icon-close"></i>
                </span>
                <!-- <span class="chatcontent-label" v-else-if="item.isSelfSend === 1 && sendingMsgs[activeChatAccountInfo.id] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId][item.wkfMsgId]"><i class="el-icon-loading"></i></span> -->
                <!-- 撤回 -->
                <span class="chatcontent-label" v-else-if="cancelMsgs[item.wxMsgId] || item.isCancel === 1"><i class="ly-icon-cancel"></i></span>
                <!-- 在手机上删除 -->
                <span class="chatcontent-label" v-else-if="deleteMsgs[item.wxMsgId] || item.isCancel === 2"><i class="el-icon-close"></i></span>
                <div class="video-preview">
                  <video :src="item.resourceUrl" :poster="item.videoImgUrl">
                    您的浏览器不支持 video 标签
                  </video>
                  <div class="play-circle">
                    <div class="play"></div>
                  </div>
                </div>
              </div>
              <!-- 音频消息 -->
              <div class="chatcontent-record-detail chatcontent-record-audio" @contextmenu.prevent="showContextmenu(item, index, $event)" v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_SOUND_ELEM">
                <span class="chatcontent-label" v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]"><i class="el-icon-close"></i>
                </span>
                <!-- <span class="chatcontent-label" v-else-if="item.isSelfSend === 1 && sendingMsgs[activeChatAccountInfo.id] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId][item.wkfMsgId]"><i class="el-icon-loading"></i></span> -->
                <!-- 撤回 -->
                <span class="chatcontent-label" v-else-if="cancelMsgs[item.wxMsgId] || item.isCancel === 1"><i class="ly-icon-cancel"></i></span>
                <!-- 在手机上删除 -->
                <span class="chatcontent-label" v-else-if="deleteMsgs[item.wxMsgId] || item.isCancel === 2"><i class="el-icon-close"></i></span>
                <!-- 讯飞的ai推荐机器人按钮 -->
                <span class="chatcontent-label-icon customer-label" v-if="
                    activeChatFriendInfo.type === SESSION_TYPE.C2C &&
                    item.isSelfSend === 0
                  " @click="dialogTableVisibleAi(index, item.wxMsgId)">
                  <el-popover placement="right" width="400" trigger="click" ref="popover">
                    <div v-for="(item, index) in recommendedWords" :key="index" style="position: relative;">
                      <el-popover placement="right-start" trigger="hover" :content="JSON.parse(item).target" class="answerItemPop" width="400">
                        <div slot="reference" @click.stop="sendWordMsg(item.userQuestion,JSON.parse(item).target)" class="answerItem" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.TXT">
                          <i class="el-icon-star-off" @click.stop="addQuicklyReplay(item)"></i> {{ JSON.parse(item).target }}
                        </div>
                      </el-popover>
                    </div>
                    <i class="icon-machine" v-show="item.isshowMachine" slot="reference"></i>
                  </el-popover>
                </span>
                <div>
                  <span>{{(item.content ? item.content.soundLength : "")| soundLength(0)}}</span>
                  <div class="audio inline-b ml-10" style="" @click="playAudio(item.createTime)">
                    <img class="playing" :src="audioGif" v-if="playingAudioKey === item.createTime" />
                    <div class="play" v-else></div>
                    <audio :src="item.resourceUrl" @ended="onAudioEnded(item.createTime)" :ref="'myAudio' + item.createTime"></audio>
                  </div>
                  <div v-if="item.nlpSolution">{{item.nlpSolution}} </div>
                </div>
                <el-card class="box-card" v-if="aiAudioInfo && item.wxMsgId === aiAudioInfo.wxMsgId && item.isSelfSend === 0">
                  <div>
                    <div v-for="(item, index) in aiAudioInfo.answerList" :key="index" class="text item">
                      <el-popover placement="bottom" width="400" trigger="hover" :content="JSON.parse(item).target">
                        <div class="board-bottom" @click.stop="sendWordMsg(aiAudioInfo.nlpSolution,JSON.parse(item).target)" slot="reference" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.TXT">
                          {{ JSON.parse(item).target }}
                        </div>
                        <div slot="reference" @click="sendReply(JSON.parse(item))" class="answerItem" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.VIDEO">
                          <i class="el-icon-star-off" @click.stop="addQuicklyReplay(JSON.parse(item))"></i> {{ JSON.parse(item).target }}
                          <i class="icon-video" @click.stop="previewReply(JSON.parse(item))"></i>
                        </div>
                        <div slot="reference" @click="sendReply(JSON.parse(item))" class="answerItem" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.WECHAT">
                          {{ JSON.parse(item).target }}
                          <i class="icon el-icon-link" @click.stop="previewReplyWechat(JSON.parse(item))"></i>
                        </div>
                        <div slot="reference" @click="sendReply(JSON.parse(item))" class="answerItem" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.IMG">
                          {{ JSON.parse(item).target }}
                          <i class="icon icon-image" @click.stop="previewReply(JSON.parse(item))"></i>
                        </div>
                        <div slot="reference" @click="sendReply(JSON.parse(item))" class="answerItem" v-if="JSON.parse(item).type == MESSAGE_TPYE_KEY.AUDIO">
                          {{ JSON.parse(item).target }}
                          <i class="icon icon-voice" @click.stop="previewReply(JSON.parse(item))"></i>
                        </div>
                      </el-popover>
                    </div>
                  </div>
                </el-card>
              </div>
              <!-- 微客服生成红包的html -->
              <div class="chatcontent-record-detail chatcontent-record-img" @contextmenu.prevent="showContextmenu(item, index, $event)" v-else-if="
                  item.msgType === MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM &&
                  item.customHtml
                ">
                <span class="chatcontent-label" v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]"><i class="el-icon-close"></i>
                </span>
                <!-- <span class="chatcontent-label" v-else-if="item.isSelfSend === 1 && sendingMsgs[activeChatAccountInfo.id] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId][item.wkfMsgId]"><i class="el-icon-loading"></i></span> -->
                <!-- 撤回 -->
                <span class="chatcontent-label" v-else-if="cancelMsgs[item.wxMsgId] || item.isCancel === 1"><i class="ly-icon-cancel"></i></span>
                <!-- 在手机上删除 -->
                <span class="chatcontent-label" v-else-if="deleteMsgs[item.wxMsgId] || item.isCancel === 2"><i class="el-icon-close"></i></span>
                <div>
                  <div class="chatcontent-record-red-packets" :id="'redPacket' + item.createTime">
                    <div class="packets-main">
                      <i class="icon icon-msg-red-packets red-packets-photo"></i>
                      <div class="qr-code">
                        <img :src="item.resourceUrl" v-image-view />
                      </div>
                      <div class="packets-info">
                        <div class="main-title ellipsis">
                          {{ item.redPacketTitle }}
                        </div>
                        <div class="subheading">扫码领红包</div>
                      </div>
                    </div>
                    <div class="packets-bottom">微信红包</div>
                  </div>
                </div>
              </div>
              <!-- 微客服发的红包消息 -->
              <div class="chatcontent-record-detail chatcontent-record-img-red-packets" @contextmenu.prevent="showContextmenu(item, index, $event)" v-else-if="item.msgType === MESSAGE_SUB_TYPE.WX_RED_PACKET_ELEM && !item.customHtml">
                <span class="chatcontent-label" v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]"><i class="el-icon-close"></i>
                </span>
                <!-- <span class="chatcontent-label" v-else-if="item.isSelfSend === 1 && sendingMsgs[activeChatAccountInfo.id] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId][item.wkfMsgId]"><i class="el-icon-loading"></i></span> -->
                <!-- 撤回 -->
                <span class="chatcontent-label" v-else-if="cancelMsgs[item.wxMsgId] || item.isCancel === 1"><i class="ly-icon-cancel"></i></span>
                <!-- 在手机上删除 -->
                <span class="chatcontent-label" v-else-if="deleteMsgs[item.wxMsgId] || item.isCancel === 2"><i class="el-icon-close"></i></span>
                <img :src="item.resourceUrl" v-image-view />
              </div>
              <!-- 文件消息 -->
              <div class="chatcontent-record-detail chatcontent-record-file" @contextmenu.prevent="showContextmenu(item, index, $event)" v-else-if="item.msgType === MESSAGE_SUB_TYPE.VMA_FILE_ELEM">
                <span class="chatcontent-label" v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]"><i class="el-icon-close"></i>
                </span>
                <!-- <span class="chatcontent-label" v-else-if="item.isSelfSend === 1 && sendingMsgs[activeChatAccountInfo.id] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId][item.wkfMsgId]"><i class="el-icon-loading"></i></span> -->
                <!-- 撤回 -->
                <span class="chatcontent-label" v-else-if="cancelMsgs[item.wxMsgId] || item.isCancel === 1"><i class="ly-icon-cancel"></i></span>
                <!-- 在手机上删除 -->
                <span class="chatcontent-label" v-else-if="deleteMsgs[item.wxMsgId] || item.isCancel === 2"><i class="el-icon-close"></i></span>
                <div>
                  <div class="chat-file">
                    <div class="file-header">
                      <i class="icon icon-chat-record-file file-logo"></i>
                      <div class="file-name">{{ item.content.fileName }}</div>
                      <div class="file-size mt-10" v-if="item.content.des">
                        {{ item.content.des }}
                      </div>
                      <div class="file-size mt-10" v-else>
                        {{ item.content.fileSize | fmtFileSize }}
                      </div>
                    </div>
                    <div class="file-footer" @click="downFile(item)">下载</div>
                  </div>
                </div>
              </div>
              <!-- 微信分享名片消息 -->
              <div class="
                  chatcontent-record-detail chatcontent-record-share-user-card
                " @contextmenu.prevent="showContextmenu(item, index, $event)" v-else-if="
                  item.msgType === MESSAGE_SUB_TYPE.WX_BUSINESS_CARD_ELEM
                ">
                <span class="chatcontent-label" v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]"><i class="el-icon-close"></i>
                </span>
                <!-- <span class="chatcontent-label" v-else-if="item.isSelfSend === 1 && sendingMsgs[activeChatAccountInfo.id] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId] && sendingMsgs[activeChatAccountInfo.id][activeChatFriendInfo.type + '' + activeChatFriendInfo.wxId][item.wkfMsgId]"><i class="el-icon-loading"></i></span> -->
                <!-- 撤回 -->
                <span class="chatcontent-label" v-else-if="cancelMsgs[item.wxMsgId] || item.isCancel === 1"><i class="ly-icon-cancel"></i></span>
                <!-- 在手机上删除 -->
                <span class="chatcontent-label" v-else-if="deleteMsgs[item.wxMsgId] || item.isCancel === 2"><i class="el-icon-close"></i></span>
                <div>
                  <div class="share-user-card">
                    <div class="card-header">
                      <img :src="item.content.headUrl | wechatAvtor" class="card-avator" v-image-view />
                      <div class="card-name">{{ item.content.nickName }}</div>
                    </div>
                    <div class="card-footer">个人名片</div>
                  </div>
                </div>
              </div>
              <div v-if="item.isSelfSend === 1 && failMsgs[item.wxMsgId]" class="chatcontent-record-resend ly-record-textsize">
                此条消息发送失败
                <span class="resend-btn cursor" @click="resendFailMsg(item, index)">重新发送</span>
              </div>
            </div>
          </div>
        </li>
        <!-- 微信系统通知消息，如 结束共享位置。服务器消息，转接好友(转接消息只会从历史记录获取) -->
        <li class="chatcontent-record-system" :key="index" :id="'m' + item.createTime + item.wxMsgId" v-else-if="
            item &&
            (item.msgType === MESSAGE_SUB_TYPE.VMA_SYSTEM_ELEM ||
              item.noticeType === NOTICE_TYPE.TRANSFER_FRIEND)
          ">
          <div class="chatcontent-record-li">
            <p class="chatcontent-record-time">
              {{ item.createTime | date("MM-dd hh:mm:ss") }}
            </p>
            <div class="chatcontent-record-conent">{{ item.content }}</div>
          </div>
        </li>
        <!-- 图文链接消息模板 -->
      </template>
    </ul>
    <!-- <videoDialog v-if="videoDialogData.show" :data="videoDialogData" @on-close="closeDialogVisibleVideo"></videoDialog> -->
    <el-dialog title="行驶证" :visible.sync="dialogVisible1" :modal-append-to-body="false">
      <el-row :gutter="20">
        <el-col :span="14">
          <div class="cardcontentCarImg">
            <img :src="drivingCarData.userQuestionUrl" v-image-view>
          </div>
        </el-col>
        <el-col :span="10">
          <div class="cardcontent">
            <el-form label-width="100px" class="demo-dynamic">
              <el-form-item label="车牌" prop="vehicleCarLicense">
                <el-input v-model="drivingCarData.vehicleCarLicense" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="车辆识别代号" prop="vehicleVinNo">
                <el-input v-model="drivingCarData.vehicleVinNo" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="发动机号码" prop="vehicleEngineNo">
                <el-input v-model="drivingCarData.vehicleEngineNo" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="品牌型号" prop="vehicleBrandModel">
                <el-input v-model="drivingCarData.vehicleBrandModel" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="所有人" prop="vehicleName">
                <el-input v-model="drivingCarData.vehicleName" autocomplete="off"></el-input>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible1 = false">取 消</el-button>
        <el-button type="primary" @click="onsubmit(drivingCarData)">保存</el-button>
      </span>
    </el-dialog>
    <el-dialog title="身份证" :visible.sync="dialogVisible2" :modal-append-to-body="false">
      <el-row :gutter="20">
        <el-col :span="14">
          <div class="cardcontentImg">
            <img :src="identityCardData.userQuestionUrl" v-image-view>
          </div>
        </el-col>
        <el-col :span="10">
          <div class="cardcontent">
            <el-form label-width="80px" class="demo-dynamic">
              <el-form-item label="姓名" prop="idName">
                <el-input v-model="identityCardData.idName" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="身份证号" prop="idCard">
                <el-input v-model="identityCardData.idCard" autocomplete="off"></el-input>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible2 = false">取 消</el-button>
        <el-button type="primary" @click="onsubmit(identityCardData)">保存</el-button>
      </span>
    </el-dialog>

    <el-dialog title="商检合格证" :model="commercialData" :visible.sync="dialogVisible3" :modal-append-to-body="false">
      <el-row :gutter="20">
        <el-col :span="12">
          <div class="cardcontentImg">
            <img :src="commercialData.userQuestionUrl" v-image-view>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="cardcontent">
            <el-form label-width="100px" class="demo-dynamic">
              <el-form-item label="发动机号">
                <el-input v-model="commercialData.cerEngineNo" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="车辆识别代号/车架号">
                <el-input v-model="commercialData.cerVinNo" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="车辆型号">
                <el-input v-model="commercialData.cerCarModel" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="排量和功率">
                <el-input v-model="commercialData.cerDisplacement" autocomplete="off"></el-input>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible3 = false">取 消</el-button>
        <el-button type="primary" @click="onsubmit(commercialData)">保存</el-button>
      </span>
    </el-dialog>
    <el-dialog title="发票" :model="billTitleData" :visible.sync="dialogVisible4" :modal-append-to-body="false">
      <el-row :gutter="20">
        <el-col :span="12">
          <div class="cardcontentImg">
            <img :src="billTitleData.userQuestionUrl" v-image-view>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="cardcontent">
            <el-form label-width="100px" class="demo-dynamic">
              <el-form-item label="发票" prop="idName">
                <el-input v-model="billTitleData.billTitle" type="textarea" :rows="16"></el-input>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible4 = false">取 消</el-button>
        <el-button type="primary" @click="onsubmit(billTitleData)">保存</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑" :visible.sync="dialogmMangeModify.show" width="880px" v-if="dialogmMangeModify.show" @close="closeMManageModifyDialog" append-to-body>
      <pManageMessageAdd :dialogProp="dialogmMangeModify" @closeDialog="closeMManageModifyDialog" @refreshLeftGroupInfo="refreshRightTabelListModify"></pManageMessageAdd>
    </el-dialog>
    <!-- 视频预览 -->
    <videoDialog v-if="videoDialogData.show" :data="videoDialogData" @on-close="closeVideoDialog" @on-send="sendVideoMsg"></videoDialog>
    <!-- 粘贴图片预览 -->
    <sendPastImgDialog v-if="imgDialogData.show" :imgData="imgDialogData" @on-close="closeImgDialog" @directly-send-img="sendImageMsg"></sendPastImgDialog>
    <!-- 语音预览 -->
    <voiceDialog v-if="voiceDialogData.show" :data="voiceDialogData" @on-close="closeVoiceDialog" @on-send="sendVoiceMsg"></voiceDialog>
    <!-- 发送小程序前预览 -->
    <miniProgramDialog v-if="miniProgramDialogData.show" :miniProgramData="miniProgramDialogData" @on-close="closeMiniprogramDialog" @on-send="sendMiniProgramMsg"></miniProgramDialog>
  </div>
</template>

<script>
// 引入中央组件
import connect from '@/bus.js'
import { mapGetters } from 'vuex'
import messageOfVideo from './messageOfVideo'
import { NOTICE_TYPE, MESSAGE_SUB_TYPE, SESSION_TYPE } from '@/constants/chat'
import { parseHTML } from '@/components/libs/wechatExpression'
import Upload from '@/assets/js/upload'
import contextmenu from '@/components/packages/chat/home/contextmenu'
import { customerServiceApi, userInfoApi, xunfeiApi, chatLogApi } from '@/api/chat'
import audioGif from '@/assets/images/chat/audioPlaying.gif'
import videoDialog from '@/components/packages/chat/home/videoDialog'
import html2canvas from 'html2canvas'
import canvas2Image from '@static/js/canvas2image/canvas2image'
import Logger from '@/utils/logger'
import { aiWs } from '@/config'
import pManageMessageAdd from '.././chatRightSideTabPages/aiAssistant/components/pManageMessageAdd'
// 引入小程序
import miniProgramDialog from './components/miniProgramDialog'
// import { deepCopy } from '@/utils'
// import getSessionTypeAndWxId from '@/pages/chat/home/src/getSessionTypeAndWxId'
import requestIdMixins from '@/pages/chat/home/src/requestIdMixins'
import { wechatInfoSession, aiUserQuestion } from '@/storage'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'
import sendPastImgDialog from '@/pages/chat/home/components/mainChatBox/sendPastImgDialog'
import voiceDialog from './voiceDialog'
export default {
  model: {
    prop: 'visible',
    event: 'model'
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    limit: {
      type: Number
    }
  },
  mixins: [requestIdMixins],
  components: {
    contextmenu,
    videoDialog,
    messageOfVideo,
    // chatMsgManageMessageAdd
    pManageMessageAdd,
    miniProgramDialog,
    sendPastImgDialog,
    voiceDialog

  },
  socket: '', // socket对象
  computed: {
    ...mapGetters(['activeChatAccountInfo', 'activeChatFriendInfo', 'chatIM', 'adminInfo'])
  },
  watch: {
    activeChatFriendInfo (val, oldVal) {
      if (
        val &&
        oldVal &&
        !(val.id === oldVal.id && val.accountId === oldVal.accountId) &&
        this.visible
      ) {
        this.afterEntity()
      }
      this.afterEntity()
    },
    visible (val, oldVal) {
      this.activeChatFriendInfo && oldVal !== val && val && this.afterEntity()
    }
  },

  data () {
    return {
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      drivingCarData: {},
      identityCardData: {},
      commercialData: {},
      billTitleData: {},
      dialogVisible1: false,
      dialogVisible2: false,
      dialogVisible3: false,
      dialogVisible4: false,
      ocrType: '',
      activeName: '',
      historySkillParams: {},
      ocrProcessImgParams: {},
      recommendedWords: [],
      aiAudioInfo: {},
      aiTxtInfo: {},
      ocrImginfo1: {
        answerList: []
      },
      ocrImginfo3: {
        answerList: []
      },
      ocrImginfo4: {
        answerList: []
      },
      ocrImginfo5: {
        answerList: []
      },
      audioGif,
      SESSION_TYPE,
      NOTICE_TYPE,
      MESSAGE_SUB_TYPE,
      contextmenu: {
        show: false,
        data: null
      },
      chatRecordList: [],
      videoDialogData: {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      },
      imgDialogData: {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      },
      voiceDialogData: {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      },
      // 小程序
      miniProgramDialogData: {
        show: false,
        url: null,
        // poster: null,
        data: null,
        sendBtn: true
      },
      nowAudioUrl: null,
      params: {
        current: 1,
        size: 30,
        // 个人号id
        accountId: null,
        talkWxId: null,
        type: null
      },
      page: {
        total: 0
      },
      noMore: false,
      // 记录发送失败的消息
      failMsgs: {},
      // 手机上删除的消息
      deleteMsgs: {},
      // 记录发送中的消息
      // sendingMsgs: {},
      // 切换好友时，需要恢复显示的发送中的消息，主要用于获取更早消息
      remainderSendingMap: {},
      // 撤回成功的消息
      cancelMsgs: {},
      groupMemberMap: {},
      groupMemberParams: {
        id: null,
        size: 500,
        current: 1
      },
      // 播放中的audio
      playingAudioKey: null,
      linkHref: '',
      // ai机器人的显示和隐藏
      currentIndex: '',
      reconnectFlag: !0,
      userSetData: {
        txt: '',
        aiTxt: [],
        show: true
      },
      userQuestion: '',
      dialogFormVisible: false,
      formLabelWidth: '120px',
      isshowMachine: false,
      sendQuickReplyData: {
        isCall: '2'
      },
      dialogmMangeModify: {},
      accessId: ''
    }
  },
  created () {
    this.initWS()
    this.$onBus('send-ai-person-company', (data) => {
      if (data.origin === 'ai') {
        this.sendQuickReplyData = {
          nlpSolution: data.msgText

        }
        aiUserQuestion.setJSON({ nlpSolution: data.msgText, isCall: '1' })
      } else if (data.origin === 'kickComy') {
        this.sendQuickReplyData = {
          kickComy: data.msgText
        }
        aiUserQuestion.setJSON({ kickComy: data.msgText, isCall: '1' })
      } else if (data.origin === 'kickPrik') {
        this.sendQuickReplyData = {
          kickPrik: data.msgText
        }
        aiUserQuestion.setJSON({ kickPrik: data.msgText, isCall: '1' })
      } else if (data.origin === 'historyTxt') {
        this.sendQuickReplyData = {
          historyTxt: data.msgText
        }
        aiUserQuestion.setJSON({ historyTxt: data.msgText, isCall: '1' })
      } else if (data.origin === 'speechTxt') {
        this.sendQuickReplyData = {
          speechTxt: data.content || data.msgText
        }
        aiUserQuestion.setJSON({ speechTxt: data.msgText, isCall: '1' })
      } else {
        this.sendQuickReplyData = {}
      }
    })
    this.$onBus('send-commit', (data) => {
      this.afterSendWexinCallbackActiveFriend(data)
    })
    this.$onBus('send-time', (data) => {
      this.accessId = data
    })
  },
  mounted () {
    this.afterEntity()
    // 默认初始化的讯飞是否自动回复来源区分 1界面发送，2自动回复
    aiUserQuestion.setJSON({ isCall: '2', nlpSolution: '', kickComy: '', kickPrik: '', historyTxt: '', speechTxt: '' })
  },
  destroyed () {
    this.closeWS()
  },
  methods: {
    /**
     * OCR识别接口
    **/
    OCRRecognition (type, item) {
      this.ocrProcessImgParams = {
        cmd: 'ocr',
        data: {
          ocrType: type,
          userQuestion: item.resourceUrl,
          questionType: 2,
          customerName: wechatInfoSession.getJSON().staffId,
          fromUser: this.activeChatFriendInfo.wxId,
          jobNumber: this.adminInfo.jobNum, // 工号
          userName: this.adminInfo.name, // 用户名
          businessId: this.adminInfo.enterpriseId, // 企业ID
          wxMsgId: item.wxMsgId
        }
      }
      let params = Object.assign({}, this.ocrProcessImgParams)
      xunfeiApi.ocrProcessImg(params).then((res) => {
        if (res.code === 0 && res.data.data.nlpSolution) {
          let nlpSolution = JSON.parse(res.data.data.nlpSolution)

          if (type === 1) {
            this.drivingCarData = {
              vehicleCarLicense: nlpSolution.vehicleCarLicense, // 车牌
              vehicleVinNo: nlpSolution.vehicleVinNo, // 车辆识别代号
              vehicleEngineNo: nlpSolution.vehicleEngineNo, // 发动机号码
              vehicleBrandModel: nlpSolution.vehicleBrandModel, // 品牌型号
              vehicleName: nlpSolution.vehicleName, // 所有人
              userQuestionUrl: res.data.data.userQuestion,
              answerSid: res.data.data.answerSid,
              ocrType: res.data.data.ocrType
            }
            this.dialogVisible1 = true
            this.ocrImginfo1 = {
              answerList: res.data.data.answerList,
              wxMsgId: res.data.data.wxMsgId,
              nlpSolution: res.data.data.nlpSolution
            }
          }
          if (type === 3) {
            this.identityCardData = {
              idName: nlpSolution.idName,
              idCard: nlpSolution.idCard,
              userQuestionUrl: res.data.data.userQuestion,
              answerSid: res.data.data.answerSid,
              ocrType: res.data.data.ocrType
            }
            this.dialogVisible2 = true
            this.ocrImginfo3 = {
              answerList: res.data.data.answerList,
              wxMsgId: res.data.data.wxMsgId,
              nlpSolution: res.data.data.nlpSolution
            }
          }
          if (type === 4) {
            if (nlpSolution.cerEngineNo === '' && nlpSolution.cerVinNo === '' && nlpSolution.cerCarModel === '' && nlpSolution.cerDisplacement === '') {
              this.$notify({
                title: '错误',
                message: '请选择正确的图片类型',
                type: 'warning'
              })
            } else {
              this.commercialData = {
                cerEngineNo: nlpSolution.cerEngineNo,
                cerVinNo: nlpSolution.cerVinNo,
                cerCarModel: nlpSolution.cerCarModel,
                cerDisplacement: nlpSolution.cerDisplacement,
                userQuestionUrl: res.data.data.userQuestion,
                answerSid: res.data.data.answerSid,
                ocrType: res.data.data.ocrType
              }
              this.dialogVisible3 = true
              this.ocrImginfo4 = {
                answerList: res.data.data.answerList,
                wxMsgId: res.data.data.wxMsgId,
                nlpSolution: res.data.data.nlpSolution
              }
            }
          }
          if (type === 5) {
            this.billTitleData = {
              billTitle: nlpSolution.billTitle,
              userQuestionUrl: res.data.data.userQuestion,
              answerSid: res.data.data.answerSid,
              ocrType: res.data.data.ocrType
            }
            this.ocrImginfo5 = {
              answerList: res.data.data.answerList,
              wxMsgId: res.data.data.wxMsgId,
              nlpSolution: res.data.data.nlpSolution
            }
            this.dialogVisible4 = true
          }
        } else {
          this.$notify({
            title: '错误',
            message: '请选择正确的图片类型',
            type: 'warning'
          })
        }
      })
    },
    /**
     * 1:行驶证  3：身份证   4：商检合格证 5;发票
     */
    onsubmit (params) {
      if (params.ocrType === 1) {
        params.vehicleType = 1
        if (params.vehicleCarLicense === '') {
          this.$notify({ title: '错误', message: '请输入车牌', type: 'warning' })
          return
        }
        if (params.vehicleVinNo === '') {
          this.$notify({ title: '错误', message: '请输入车辆识别代号', type: 'warning' })
          return
        }
        if (params.vehicleEngineNo === '') {
          this.$notify({ title: '错误', message: '请输入发动机号码', type: 'warning' })
          return
        }
        if (params.vehicleBrandModel === '') {
          this.$notify({ title: '错误', message: '请输入品牌型号', type: 'warning' })
          return
        }
        if (params.vehicleName === '') {
          this.$notify({ title: '错误', message: '请输入所有人', type: 'warning' })
          return
        }
      }
      if (params.ocrType === 3) {
        params.idType = 1
        if (params.idName === '') {
          this.$notify({ title: '错误', message: '请输入姓名', type: 'warning' })
          return
        }
        if (params.idCard === '') {
          this.$notify({ title: '错误', message: '请输入身份证号', type: 'warning' })
          return
        }
      }

      if (params.ocrType === 4) {
        params.cerType = 1
        if (params.cerEngineNo === '') {
          this.$notify({ title: '错误', message: '请输入发动机号', type: 'warning' })
          return
        }
        if (params.cerVinNo === '') {
          this.$notify({ title: '错误', message: '请输入车辆识别代号/车架号', type: 'warning' })
          return
        }
        if (params.cerCarModel === '') {
          this.$notify({ title: '错误', message: '请输入车辆型号', type: 'warning' })
          return
        }
        if (params.cerDisplacement === '') {
          this.$notify({ title: '错误', message: '请输入排量和功率', type: 'warning' })
          return
        }
      }
      if (params.ocrType === 5) {
        params.billType = 1
        if (params.billTitle === '') {
          this.$notify({ title: '错误', message: '请输入发票内容', type: 'warning' })
          return
        }
      }
      if (params) {
        params.wchatUserId = this.activeChatFriendInfo.id
      }
      xunfeiApi.ocrUpdate(params).then((res) => {
        if (res.code === 0) {
          this.bindCustomerAndImageOcr(params)
        } else {
          this.$notify({
            title: '错误',
            message: 'OCR修改失败',
            type: 'warning'
          })
        }
      })
    },
    bindCustomerAndImageOcr (params) {
      chatLogApi.bindCustomerAndImageOcr(params).then((res) => {
        if (res.code === 1) {
          if (params.ocrType === 1) {
            this.dialogVisible1 = false
          }
          if (params.ocrType === 3) {
            this.dialogVisible2 = false
          }
          if (params.ocrType === 4) {
            this.dialogVisible3 = false
          }
          if (params.ocrType === 5) {
            this.dialogVisible4 = false
          }
          this.$notify({
            title: '成功',
            message: res.message,
            type: 'success'
          })
        } else {
          this.$notify({
            title: '错误',
            message: res.message,
            type: 'warning'
          })
        }
      })
    },
    /**
   * 查询历史推荐话术
   * */
    historySkillQuery () {
      let params = Object.assign({}, this.historySkillParams)
      xunfeiApi.historySkillQuery(params).then((res) => {
        if (res.code === 0 && res.data.length > 0) {
          if (res.data[0].answerList && res.data[0].answerList.length) {
            this.recommendedWords = res.data[0].answerList
          } else {
            this.recommendedWords = []
          }
          for (let h of res.data) {
            for (let v of this.chatRecordList) {
              if (Number(h.msgId) === Number(v.wxMsgId)) {
                v.nlpSolution = h.nlpSolution
                if (h.answerList && h.answerList.length) {
                  v.isshowMachine = true
                }
              }
            }
          }
        } else {
          this.recommendedWords = []
        }
      })
    },
    /**
   * 发送消息
   */
    sendWordMsg (question, text) {
      console.log('发送快捷消息', text)
      this.userQuestion = question
      let data = {
        msgType: 1,
        msgText: text,
        nlpSolution: text,
        origin: 'ai'
      }
      this.$emitBus('send-quick-reply', data)
      setTimeout(() => { this.$emitBus('send-ai-person-company', data) }, 1500)
      this.currentIndex = ''
    },
    /**
   * websocket初始化
   * */
    initWS () {
      let that = this
      that.timmer && clearInterval(that.timmer)
      that.reconnectFlag = !0
      that.ws = new WebSocket(
        ''.concat(aiWs).concat(wechatInfoSession.getJSON().staffId)
      )

      if (wechatInfoSession.getJSON().staffId) {
        that.heart()
        that.ws.onerror = function () {
          that.ws && that.ws.close()
        }
        that.ws.onclose = function () {
          that.reconnectFlag &&
            setTimeout(function () {
              that.initWS()
            }, 200)
        }
        that.ws.onmessage = that.getMsg
      }
    },

    /**
   * 接收消息
   * */
    getMsg (item) {
      let res = JSON.parse(item.data)
      let newUserQuestion = res.data.userQuestion
      if (res && res.code === 0 && this.activeChatFriendInfo.wxId === res.data.fromUser) {
        if (res.data.answerList && res.data.answerList.length && res.data.questionType === 1) {
          this.$emitBus('get-aiwsItem', res.data)
          this.aiTxtInfo = {
            nlpSolution: res.data.nlpSolution,
            answerList: res.data.answerList,
            wxMsgId: JSON.parse(newUserQuestion).wxMsgId,
            isshowMachine: true
          }
        }
        if (res.data.questionType === 3 && res.data.userQuestion && res.data.answerList && res.data.answerList.length) {
          // 语音识别
          this.aiAudioInfo = {
            nlpSolution: res.data.nlpSolution,
            answerList: res.data.answerList,
            wxMsgId: JSON.parse(res.data.userQuestion).wxMsgId
          }
          this.$emitBus('get-aiwsItem', res.data)
        }
        this.getLastHistoryChatRecord()
      }
    },

    /**
   * 发送给讯飞消息
   * **/
    sedMsg (item) {
      this.ws &&
        this.ws.readyState === 1 &&
        this.ws.send(typeof item !== 'string' ? JSON.stringify(item) : item)
    },

    /**
   * 关闭websocket
   * **/
    closeWS () {
      this.timmer && clearInterval(this.timmer)
      this.reconnectFlag = !1
      this.ws && this.ws.close()
    },
    /**
   * 心跳
   * **/
    heart () {
      let that = this
      this.timmer = setInterval(function () {
        that.sedMsg('heartbeat')
      }, 30000)
    },

    gotoLink (data) {
      let goLink = JSON.parse(data.content).imgtxtLinking
      window.location.href = goLink
    },
    // 右击@好友
    rightAtFriend (item) {
      var obj = this.groupMemberMap[item.talkerWxId]
      if (!obj) {
      } else {
        connect.$emit('rightClick', obj.nickName, obj, item)
      }
    },
    parseHTML,
    afterEntity () {
      if (!this.activeChatFriendInfo) return
      Logger.info('获取聊天历史记录')
      this.clearMsgsList()
      this.getLastHistoryChatRecord()
      // 获取群聊好友头像
      this.activeChatFriendInfo.type === SESSION_TYPE.GROUP &&
        this.getGroupMember()
    },
    /**
   * 上报已读
   */
    setAlreadyRead () {
      this.$emit('after-get-history')
    },
    /**
   * 获取最近的聊天记录
   */
    async getLastHistoryChatRecord () {
      let params = Object.assign({}, this.params)
      let page = await this.getHistoryMsgs(params)
      this.afterGetHistoryMsgs(page)
      // im通知已读
      this.setAlreadyRead()
    },
    // 获取更早一点的
    async loadMoreRecord () {
      let params = Object.assign({}, this.params)
      params.current++
      let page = await this.getHistoryMsgs(params)
      this.afterGetHistoryMsgs(page)
    },
    /**
   * 获取历史记录
   */
    async getHistoryMsgs (params) {
      let requestID = this.getChatRequestID()
      let page
      try {
        page = await this.getList(params)
      } catch (error) {
        this.$notify({
          title: '提示',
          message: '请求聊天记录失败',
          type: 'warning'
        })
      }
      if (requestID !== this.getChatRequestID()) {
        throw new Error('当前好友不符')
      }
      if (!page) {
        throw new Error('请求聊天记录失败')
      }
      return page
    },
    getList (params) {
      if (this.activeChatFriendInfo.type === SESSION_TYPE.C2C) {
        return this.chatIM.getLastC2CHistoryMsgs(params)
      } else {
        return this.chatIM.getLastGroupHistoryMsgs(params)
      }
    },
    afterGetHistoryMsgs (resp) {
      Logger.info('记录', resp.records)
      // 已经是最后一页了
      if (resp.pages === 0 || resp.current === resp.pages) {
        this.noMore = true
      }
      // 显示保存的 发送中的消息
      // if (resp.current === 1) {
      //   // 显示当前好友还在发送中的消息
      //   resp.records = this.showFirstPageSavedSendingMsgs(resp.records)
      // } else {
      //   // 显示当前好友还在发送中的消息
      //   resp.records = this.showRemainderSavedSendingMsgs(resp.records)
      // }
      this.params.current = resp.current
      if (resp.current === 1) {
        this.chatRecordList = resp.records
      } else {
        this.chatRecordList.splice(0, 0, ...resp.records)
      }
      if (resp.records.length > 0) {
        this.scrollToBottom(
          resp.current > 1 && resp.records.length > 0
            ? resp.records.length - 1
            : null
        )
      }
      this.historySkillParams = {
        customerName: wechatInfoSession.getJSON().staffId,
        msgIdList: this.chatRecordList.filter(item => item.isSelfSend === 0).map(item => String(item.wxMsgId)),
        fromUser: this.activeChatFriendInfo.wxId
      }
      this.historySkillQuery()
    },
    scrollToBottom (index = null) {
      let lastOneId
      if (index === null) {
        lastOneId = this.getMsgId(
          this.chatRecordList[this.chatRecordList.length - 1]
        )
      } else {
        lastOneId = this.getMsgId(this.chatRecordList[index])
      }
      let that = this
      this.$nextTick(() => {
        let el = that.$el.querySelector('#m' + lastOneId)
        if (el) {
          el.scrollIntoView(true)
          setTimeout(() => {
            el.scrollIntoView(true)
          }, 500)
        }
      })
    },
    /**
   * 显示当前好友还在发送中的消息，第一页
   */
    // showFirstPageSavedSendingMsgs(list) {
    //   let accountId = this.activeChatAccountInfo.id
    //   let secondKey = this.activeChatFriendInfo.type + '' + this.activeChatFriendInfo.wxId
    //   if (!(this.sendingMsgs[accountId] && this.sendingMsgs[accountId][secondKey])) return list
    //   Logger.info('SendingMap', this.sendingMsgs[accountId][secondKey])
    //   // 保存的消息
    //   let sendingMap = this.sendingMsgs[accountId][secondKey]
    //   // 保存的消息的key组成的数组
    //   let len = Object.keys(sendingMap).length
    //   if (len === 0) {
    //     return list
    //   }
    //   let i, j
    //   // 历史记录为0时
    //   if (list.length === 0) {
    //     for (j in sendingMap) {
    //       list.push(sendingMap[j])
    //     }
    //     return list
    //   }
    //   // 复制对象
    //   let newMap = deepCopy(sendingMap)
    //   let tempArr = []
    //   // 从数组尾部开始比较，找到地方插入
    //   for (i = list.length - 1; i >= 0; i--) {
    //     for (j in newMap) {
    //       if (newMap[j] && list[i].createTime < newMap[j].createTime) {
    //         tempArr.push(newMap[j])
    //         len--
    //         delete newMap[j]
    //       }
    //     }
    //     list.splice(i + 1, 0, ...tempArr)
    //     tempArr = []
    //     if (len === 0) break
    //   }
    //   // 保存剩余的
    //   let remainderLen = Object.keys(newMap).length
    //   if (remainderLen > 0) {
    //     this.remainderSendingMap = newMap
    //   }
    //   return list
    // },
    /**
   * 显示当前好友还在发送中的消息,第一页之后
   */
    // showRemainderSavedSendingMsgs(list) {
    //   let remainderLen = Object.keys(this.remainderSendingMap).length
    //   if (remainderLen === 0) return list
    //   let nowMap = this.remainderSendingMap
    //   let tempArr = []
    //   let i, j
    //   // 从数组尾部开始比较，找到地方插入
    //   for (i = list.length - 1; i >= 0; i--) {
    //     for (j in nowMap) {
    //       if (nowMap[j] && list[i].createTime < nowMap[j].createTime) {
    //         tempArr.push(nowMap[j])
    //         delete nowMap[j]
    //         remainderLen--
    //       }
    //     }
    //     list.splice(i + 1, 0, ...tempArr)
    //     tempArr = []
    //     if (remainderLen === 0) break
    //   }
    //   return list
    // },
    /**
   * 清空
   * @return {[type]} [description]
   */
    clearMsgsList () {
      this.chatRecordList = []
      if (this.noMore) {
        this.noMore = false
      }
      this.params = {
        current: 1,
        size: 30,
        accountId: this.activeChatAccountInfo.id,
        talkWxId: this.activeChatFriendInfo.wxId,
        type: this.activeChatFriendInfo.type
      }
      this.page = {
        total: 0
      }
      this.groupMemberParams = {
        id: this.activeChatFriendInfo.id,
        size: 500,
        current: 1
      }
      this.failMsgs = {}
      this.deleteMsgs = {}
      this.remainderSendingMap = {}
      this.cancelMsgs = {}
      this.groupMemberMap = {}
      this.playingAudioKey && this.stopPlayingAudio()
    },
    /**
   * 获取群成员信息
   * @return {[type]} [description]
   */
    async getGroupMember () {
      let params = Object.assign({}, this.groupMemberParams)
      let groupMemberInfo = await userInfoApi.getChatGroupMembers(
        params,
        false,
        false
      )
      let groupMemberMap = {}
      groupMemberInfo.records.some((v) => {
        if (!groupMemberMap[v.wxId]) {
          groupMemberMap[v.wxId] = v
        }
      })
      this.groupMemberMap = groupMemberMap
      Logger.info('groupMemberMap', groupMemberMap)
    },
    /**
   * 向窗口添加一条新消息
   * @param {[type]} msgData [description]
   */
    async addNewMsgToView (data) {
      if (data.messageList) {
        this.chatRecordList.push(data.messageList[0])
      } else {
        this.chatRecordList.push(data)
      }
      this.userSetData.txt = data.content
      // sending && this.setSendingStatus(data, this.activeChatAccountInfo.id, this.activeChatFriendInfo.type, this.activeChatFriendInfo.wxId)

      this.scrollToBottom()
    },
    getMsgId (msgData) {
      return msgData.createTime + '' + msgData.wxMsgId
    },
    /**
     * 向微信端发送消息后对方给的回调消息，当前好友，处理消息发送的结果
     * @param {[type]} data [description]
     */
    afterSendWexinCallbackActiveFriend (msgData) {
      if (
        msgData.isSelfSend === 1
      ) {
        // 当有消息发送时候，通过ws接口上报AI系统
        let params = {
          cmd: 'commit',
          data: {
            customerName: wechatInfoSession.getJSON().staffId,
            sendSolution: msgData.content,
            questionType: msgData.msgType, // 问题类型：1文本，2图片，3音频，4视频，5其他 音频：VmaSoundElem  图片：VmaImageElem 文本：VmaTextElem 视频：VmaVideoElem
            fromUser: this.activeChatFriendInfo.wxId,
            jobNumber: this.adminInfo.jobNum, // 工号
            userName: this.adminInfo.name, // 用户名
            businessId: this.adminInfo.enterpriseId, // 企业ID
            deptId: this.adminInfo.deptId,
            deptName: this.adminInfo.deptName,
            nlpSolution: this.sendQuickReplyData.nlpSolution,
            kickComy: this.sendQuickReplyData.kickComy,
            kickPrik: this.sendQuickReplyData.kickPrik,
            historyTxt: this.sendQuickReplyData.historyTxt,
            speechTxt: this.sendQuickReplyData.speechTxt,
            // nlpSolution: aiUserQuestion.getJSON().nlpSolution,
            // kickComy: aiUserQuestion.getJSON().kickComy,
            // kickPrik: aiUserQuestion.getJSON().kickPrik,
            // historyTxt: aiUserQuestion.getJSON().historyTxt,
            // speechTxt: aiUserQuestion.getJSON().speechTxt,
            isCall: aiUserQuestion.getJSON().isCall,
            accessId: this.accessId
          }
        }
        if (msgData.msgType === 'VmaTextElem') {
          params.data.questionType = 1
          params.data.sendSolution = msgData.content.replace(/<br\/>/g, '\n').replace(/&nbsp;/ig, '')
        } else if (msgData.msgType === 'VmaImageElem') {
          params.data.questionType = 2
          params.data.sendSolution = msgData.resourceUrl
        } else if (msgData.msgType === 'VmaSoundElem') {
          params.data.sendSolution = msgData.resourceUrl
          params.data.questionType = 3
        } else if (msgData.msgType === 'VmaVideoElem') {
          params.data.sendSolution = msgData.resourceUrl
          params.data.questionType = 4
        }
        // 如果取到该值，则不调取该ws方法
        if (msgData.msgType === 'VmaTextElem' || msgData.msgType === 'VmaImageElem' || msgData.msgType === 'VmaSoundElem' || msgData.msgType === 'VmaVideoElem') {
          // 否则依旧走该方法，掉ws 接口
          this.sedMsg(params)
          this.sendQuickReplyData = {}
        }
      }
      // 给刚发送的消息，添加微信官方消息id
      for (let i = this.chatRecordList.length - 1; i >= 0; i--) {
        if (this.chatRecordList[i].wkfMsgId === msgData.wkfMsgId) {
          if (msgData.msgType === MESSAGE_SUB_TYPE.VMA_CANCEL_ELEM) {
            // 撤回消息的回调
            this.$set(this.cancelMsgs, msgData.wxMsgId, true)
          } else {
            // 正常消息的回调
            this.$set(this.chatRecordList[i], 'wxMsgId', msgData.wxMsgId)
            // this.clearSendingStatus(msgData, this.activeChatAccountInfo.id, this.activeChatFriendInfo.type, this.activeChatFriendInfo.wxId)
          }
          return
        }
      }
    },
    /**
   * 向微信端发送消息后对方给的回调消息，非当前好友，处理消息发送的map
   * @param {[type]} data [description]
   */
    afterSendWexinCallbackNoActiveFriend (
    ) {
      // let { type, wxId } = getSessionTypeAndWxId(msgData.talkerRoomWxId, msgData.talkerWxId)
      // this.clearSendingStatus(msgData, fromPersonalAccountId, type, wxId)
    },
    /**
   * 向窗口添加一条红包消息
   * @param {[type]} data [description]
   */
    addRedPacketMsgToView (options) {
      // this.setSendingStatus(options.msgData, this.activeChatAccountInfo.id, this.activeChatFriendInfo.type, this.activeChatFriendInfo.wxId)
      let that = this
      let newData = Object.assign(
        {},
        {
          customHtml: true
        },
        options.msgData
      )
      this.chatRecordList.push(newData)
      this.$nextTick(() => {
        // let id = this.getMsgId(options.msgData)
        // let node = that.$el.querySelector('#redPacket' + id)
        let node = that.$el.querySelector(
          '#redPacket' + options.msgData.createTime
        )
        if (node) {
          node.scrollIntoView(false)
          // html转图片并上传
          that.redPacketHtmlToimg(node, options)
        }
      })
    },
    /**
   * html转图片
   * @param {[type]} data [description]
   */
    async redPacketHtmlToimg (node, options) {
      // 转Blob
      let base64 = await this.domToImage(node)
      let up = new Upload()
      // 上传七牛云
      const qiniuData = await up.upload(base64)
      options.msgData.resourceUrl = qiniuData.url
      // 发送消息
      this.$emit('send-red-packet-msg', options)
    },
    async domToImage (node) {
      let canvas = document.createElement('canvas')
      // 获取dom 宽度
      let width = node.offsetWidth
      let height = node.offsetHeight
      // 定义任意放大倍数 支持小数
      let scale = 3
      // 定义canvas 宽度 * 缩放
      canvas.width = width * scale
      // 定义canvas高度 *缩放
      canvas.height = height * scale
      canvas.getContext('2d').scale(scale, scale)
      let opts = {
        // 添加的scale 参数
        scale: scale,
        // 自定义 canvas
        canvas: canvas,
        // 日志开关，便于查看html2canvas的内部执行流程
        logging: false,
        // dom 原始宽度
        width: width,
        height: height,
        // 【重要】开启跨域配置
        useCORS: true
      }
      let canvas2 = await html2canvas(node, opts)
      let context = canvas2.getContext('2d')
      // 【重要】关闭抗锯齿
      context.mozImageSmoothingEnabled = false
      context.webkitImageSmoothingEnabled = false
      context.msImageSmoothingEnabled = false
      context.imageSmoothingEnabled = false
      // 【重要】默认转化的格式为png,也可设置为其他格式
      let img = canvas2Image.convertToImage(
        canvas,
        canvas.width,
        canvas.height
      )
      canvas = null
      canvas2 = null
      return img.src
    },
    /**
   * 设置发送中标志
   * @param {[type]} createTime [description]
   */
    // setSendingStatus(data, accountId, type, wxId) {
    //   if (!this.sendingMsgs[accountId]) {
    //     this.$set(this.sendingMsgs, accountId, {})
    //   }
    //   if (!this.sendingMsgs[accountId][type + '' + wxId]) {
    //     this.sendingMsgs[accountId][type + '' + wxId] = {}
    //   }
    //   this.$set(this.sendingMsgs[accountId][type + '' + wxId], data.wkfMsgId, data)
    //   Logger.info('SendingMap', this.sendingMsgs[accountId][type + '' + wxId])
    // },
    /**
   * 获取发送中的消息
   * @param  {[type]} wkfMsgId  [description]
   * @param  {[type]} accountId [description]
   * @param  {[type]} type      [description]
   * @param  {[type]} wxId      [description]
   * @return {[type]}           [description]
   */
    // getSendingStatus(wkfMsgId, accountId, type, wxId) {
    //   return this.sendingMsgs[accountId] && this.sendingMsgs[accountId][type + '' + wxId] && this.sendingMsgs[accountId][type + '' + wxId][wkfMsgId]
    // },
    /**
   * 清除发送中标志
   * @param  {[type]} data [description]
   */
    // clearSendingStatus(data, accountId, type, wxId, oldWkfMsgId) {
    //   if (this.sendingMsgs[accountId] && this.sendingMsgs[accountId][type + '' + wxId] && (this.sendingMsgs[accountId][type + '' + wxId][data.wkfMsgId] || this.sendingMsgs[accountId][type + '' + wxId][oldWkfMsgId])) {
    //     let wkfMsgId = oldWkfMsgId || data.wkfMsgId
    //     this.$set(this.sendingMsgs[accountId][type + '' + wxId], wkfMsgId, null)
    //     delete this.sendingMsgs[accountId][type + '' + wxId][wkfMsgId]
    //   }
    // },
    /**
   * 设置失败标志
   * @param  {[type]} data [description]
   */
    setFailStatus (data) {
      // this.clearSendingStatus(data, this.activeChatAccountInfo.id, this.activeChatFriendInfo.type, this.activeChatFriendInfo.wxId)
      this.$set(this.failMsgs, data.wkfMsgId, data)
    },
    /**
   * 文件类消息上传成功后，用链接替换掉消息数据中的本地路径
   * @param  {[type]} data [description]
   * @return {[type]}      [description]
   */
    replaceFileUrl (data) {
      let i
      let len = this.chatRecordList.length
      for (i = len - 1; i >= 0; i--) {
        if (this.chatRecordList[i].createTime === data.msgData.createTime) {
          // let oldMsgData = this.chatRecordList[i]
          // 清除原有map
          // this.clearSendingStatus(oldMsgData, this.activeChatAccountInfo.id, this.activeChatFriendInfo.type, this.activeChatFriendInfo.wxId, oldWkfMsgId)
          // 设置新map
          // this.setSendingStatus(data.msgData, this.activeChatAccountInfo.id, this.activeChatFriendInfo.type, this.activeChatFriendInfo.wxId)
          // this.setMsgId(data.msgData)
          return this.chatRecordList.splice(i, 1, data.msgData)
        }
      }
    },
    /**
   * 播放音频
   */
    playAudio (createTime) {
      const audio = this.$refs['myAudio' + createTime][0]
      Logger.info('暂停音频', audio.ended, audio.paused)
      if (!(audio.ended || audio.paused)) {
        Logger.info('stopPlayingAudio')
        return this.stopPlayingAudio(audio)
      } else if (this.playingAudioKey) {
        // 先暂停正在播放的
        this.stopPlayingAudio()
      }
      Logger.info('播放音频', audio.ended, audio.paused)
      this.playingAudioKey = createTime
      audio.play()
    },
    stopPlayingAudio (audio) {
      if (!audio) {
        audio = this.$refs['myAudio' + this.playingAudioKey][0]
      }
      audio.currentTime = 0
      audio.pause()
      this.playingAudioKey = null
    },
    /**
   * 音频播放结束事件
   * @return {[type]} [description]
   */
    onAudioEnded (createTime) {
      Logger.info('onAudioEnded')
      if (createTime !== this.playingAudioKey) return
      this.playingAudioKey = null
    },
    /**
   * 点击视频消息
   * @param  {[type]} url [description]
   * @return {[type]}     [description]
   */
    sendVideoMsg (videoDialogData) {
      this.sendQuickReply(videoDialogData.data)
      this.closeVideoDialog()
      // 点击视频统计量
      this.kickWechat(videoDialogData)
    },
    // previewReply (param) {
    //   let data = {
    //     msgText: null,
    //     coverInfo: null
    //   }
    //   if (param.type && param.type === MESSAGE_TPYE_KEY.VIDEO) {
    //     data.msgText = param.content
    //     data.coverInfo = param.coverInfo
    //     data.msgType = 4
    //   } else {
    //     data.msgText = param.resourceUrl
    //     data.coverInfo = param.videoImgUrl
    //     data.msgType = 4
    //   }
    //   this.videoDialogData = {
    //     show: true,
    //     url: data.msgText,
    //     poster: data.coverInfo,
    //     data,
    //     sendBtn: true
    //   }
    // },
    previewReply (data) {
      let params = {
        msgText: null,
        msgType: null
      }
      if (
        data.type === MESSAGE_TPYE_KEY.IMG
      ) {
        params.msgType = 2
        params.msgText = data.content
        this.showImgDialog(params)
      } else if (
        data.type === MESSAGE_TPYE_KEY.VIDEO
      ) {
        params.msgType = 4
        params.msgText = data.content
        params.coverInfo = data.coverInfo
        this.showVideoDialog(params)
      } else if (
        data.type === MESSAGE_TPYE_KEY.WECHAT
      ) {
        this.showMiniProgramDialog({ msgText: data.content, msgType: 6 })
      } else if (
        data.type === MESSAGE_TPYE_KEY.AUDIO
      ) {
        params.msgType = 3
        params.msgText = data.content
        params.voiceLength = data.voiceLength
        this.showVoiceDialog(params)
      } else {
        params.msgType = 4
        params.msgText = data.resourceUrl
        params.coverInfo = data.videoImgUrl
        this.showVideoDialog(params)
      }
    },
    /** 点击发送文本域发送 */
    sendReply (item) {
      console.log('文本', item)
      let params = {
        msgText: null,
        msgType: null
      }
      if (item.type === MESSAGE_TPYE_KEY.TXT) {
        params.msgType = 1
        params.msgText = item.target
        this.sendQuickReply(params)
      } else if (
        item.type === MESSAGE_TPYE_KEY.VIDEO
      ) {
        params.msgType = 4
        params.msgText = item.content
        params.coverInfo = item.coverInfo
        this.sendVideoMsg({ data: params })
      } else if (
        item.type === MESSAGE_TPYE_KEY.WECHAT
      ) {
        params.msgType = 6
        params.msgText = item.content
        this.sendMiniProgramMsg({ data: params })
      } else if (
        item.type === MESSAGE_TPYE_KEY.IMG
      ) {
        params.msgType = 2
        params.msgText = item.content
        this.sendImageMsg(null, { data: params })
      } else if (
        item.type === MESSAGE_TPYE_KEY.AUDIO
      ) {
        params.msgType = 3
        params.msgText = item.content
        params.voiceLength = item.voiceLength
        this.sendVoiceMsg({ data: params })
      }
    },
    // /** 点击视频/小程序发送快捷方式 */
    // sendReply (item) {
    //   let data = {
    //     msgText: null,
    //     msgType: null
    //   }
    //   if (item.type === MESSAGE_TPYE_KEY.VIDEO) {
    //     data.msgType = 4
    //     data.msgText = item.target
    //     data.coverInfo = item.coverInfo
    //     this.sendVideoMsg({ data })
    //   } else if (item.type === MESSAGE_TPYE_KEY.WECHAT) {
    //     this.sendMiniProgramMsg({ data: { msgText: item.content, msgType: 6 } })
    //   }
    // },
    /**
     * 确认发送快捷消息
     */
    sendQuickReply (data) {
      // 不直接走commit 接口
      this.$emitBus('send-quick-reply', data)
      setTimeout(() => { this.$emitBus('send-ai-person-company', Object.assign(data, { origin: 'ai' })) }, 1500)
    },
    /**
     * 小程序预览发送(为了区分预览视频单独预览发送)
     */
    previewReplyWechat (data) {
      this.showMiniProgramDialog({ msgText: data.content, msgType: 6 })
    },
    showVideoDialog (data) {
      // coverInfo 封面的图片地址
      this.videoDialogData = {
        show: true,
        url: data.msgText,
        poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    closeVideoDialog () {
      this.videoDialogData = {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      }
    },
    /**
     * 预览小程序
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    showMiniProgramDialog (data) {
      this.miniProgramDialogData = {
        show: true,
        url: data.msgText,
        // poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    /**
    * 确认发送小程序
    * @param  {[type]} url [description]
    * @return {[type]}     [description]
    */
    sendMiniProgramMsg (data) {
      this.closeMiniprogramDialog()
      this.sendQuickReply(data.data)
      // 点击小程序发送量
      this.kickWechat(data)
    },
    /**
    * 关闭小程序
    */
    closeMiniprogramDialog () {
      this.miniProgramDialogData = {
        show: false,
        url: null,
        // poster: null,
        data: null,
        sendBtn: true
      }
    },
    /**
     * 确认发送图片
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendImageMsg (url, data) {
      this.sendQuickReply(data.data)
    },
    /**
     * 确认发送语音
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendVoiceMsg (data) {
      this.closeVoiceDialog()
      this.sendQuickReply(data.data)
    },

    showVoiceDialog (data) {
      this.voiceDialogData = {
        show: true,
        url: data.msgText,
        voiceLength: data.voiceLength,
        sendBtn: true,
        data
      }
    },
    closeVoiceDialog () {
      this.voiceDialogData = {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      }
    },
    showImgDialog (data) {
      this.imgDialogData = {
        show: true,
        url: data.msgText,
        sendBtn: true,
        data
      }
    },
    closeImgDialog () {
      this.imgDialogData = {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      }
    },
    /**
    * 点击小程序点击量统计
    */
    async kickWechat (data) {
      let params = {
        cmd: data.data.msgType === 6 ? 'weChat' : 'video',
        data: {
          customerName: wechatInfoSession.getJSON().staffId,
          jobNumber: this.adminInfo.jobNum, // 工号
          userName: this.adminInfo.name, // 用户名
          businessId: this.adminInfo.enterpriseId, // 企业ID
          nlpSolution: data.data.msgText,
          questionType: 1,
          fromUser: this.activeChatFriendInfo.wxId
        }
      }
      await xunfeiApi.kickWechat(params)
    },
    /**
   * 显示右击菜单
   */
    showContextmenu (item, index, e) {
      e.preventDefault()
      // 发送中的文件不显示右击
      // if (this.getSendingStatus(item.wkfMsgId, this.activeChatAccountInfo.id, this.activeChatFriendInfo.type, this.activeChatFriendInfo.wxId) || this.failMsgs[item.wxMsgId]) return
      if (this.failMsgs[item.wxMsgId]) return
      let whiteList = [
        MESSAGE_SUB_TYPE.VMA_TEXT_ELEM,
        MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM,
        MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM,
        MESSAGE_SUB_TYPE.VMA_SOUND_ELEM,
        MESSAGE_SUB_TYPE.VMA_FILE_ELEM
      ]
      if (whiteList.indexOf(item.msgType) < 0) return
      // this.contextmenuChatRecord = item
      let contextmenuData = {
        axios: {
          x: e.clientX,
          y: e.clientY
        },
        menuList: []
      }
      let tempMap = {
        copy: {
          btnName: '复制',
          fnHandler: 'copy',
          data: item
        },
        collect: {
          btnName: '收藏',
          fnHandler: 'collect',
          data: item
        },
        quote: {
          btnName: '引用',
          fnHandler: 'quote',
          data: item
        },
        withdraw: {
          btnName: '撤回',
          fnHandler: 'withdraw',
          data: item
        }
      }
      let showWithdraw = new Date().getTime() - item.createTime < 1000 * 120
      if (item.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM) {
        // 文字表情
        if (showWithdraw) {
          contextmenuData.menuList = [
            tempMap.copy,
            tempMap.collect,
            tempMap.quote,
            tempMap.withdraw
          ]
        } else {
          contextmenuData.menuList = [
            tempMap.copy,
            tempMap.collect,
            tempMap.quote
          ]
        }
      } else {
        // 视频、图片
        contextmenuData.menuList = [tempMap.copy, tempMap.collect]
        if (showWithdraw) {
          contextmenuData.menuList.push(tempMap.withdraw)
        }
      }
      if (index < this.chatRecordList.length - 2) {
        contextmenuData.axios = {
          x: e.clientX,
          y: e.clientY
        }
      } else {
        contextmenuData.axios.y =
          e.clientY - contextmenuData.menuList.length * 36
      }
      this.contextmenu = {
        show: true,
        data: contextmenuData
      }
    },
    hideContextmenu () {
      this.contextmenu = {
        show: false,
        data: null
      }
    },
    /**
   * 点击右击菜单
   * @param  {[type]} index [description]
   * @return {[type]}       [description]
   */
    clickContextmenu (index, data) {
      Logger.info(index, data.data)
      switch (data.fnHandler) {
        case 'copy':
          this.copyMsg(data.data)
          break
        // 引用
        case 'quote':
          this.quoteMsg(data.data)
          break
        // 收藏
        case 'collect':
          this.collectMsg(data.data)
          break
        // 撤销
        case 'withdraw':
          this.sendCancelMessage(data.data)
          break
      }
      this.hideContextmenu()
    },
    /**
   * 发送撤回消息
   */
    sendCancelMessage (chatRecordData) {
      if (new Date().getTime() - chatRecordData.createTime < 1000 * 120) {
        this.$emit('send-cancel-message', chatRecordData.wxMsgId)
      } else {
        this.warn('只能撤回两分钟内的消息!')
      }
    },
    // 收到撤回消息
    receivedCancelMessage (msgData) {
      this.$set(this.cancelMsgs, msgData.wxMsgId, true)
    },
    // 收到手机上面删除消息
    receivedDeleteMessage (msgData) {
      this.$set(this.deleteMsgs, msgData.wxMsgId, true)
    },
    // 是否是当前好友
    whetherActiveFriend (accountId, type, wxId) {
      return (
        this.activeChatFriendInfo &&
        this.activeChatFriendInfo.accountId === accountId &&
        this.activeChatFriendInfo.type === type &&
        this.activeChatFriendInfo.wxId === wxId
      )
    },
    /**
   * 复制消息
   * @return {[type]} [description]
   */
    copyMsg (contextmenuChatRecord) {
      let inputNode = document.createElement('input')
      if (contextmenuChatRecord.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM) {
        inputNode.value = contextmenuChatRecord.content
      } else {
        inputNode.value = JSON.stringify(contextmenuChatRecord)
      }
      let copyContentDom = this.$el.querySelector('#copy-content')
      copyContentDom.appendChild(inputNode)
      inputNode.select()
      document.execCommand('copy')
      // destroy(inputNode)
      copyContentDom.removeChild(inputNode)
      inputNode = null
    },
    /**
   * 引用消息
   * @return {[type]} [description]
   */
    quoteMsg (contextmenuChatRecord) {
      let nickName
      if (contextmenuChatRecord.talkerRoomWxId) {
        // 获取群成员信息
        let memberInfo = this.groupMemberMap[contextmenuChatRecord.talkerWxId]
        nickName = memberInfo.nickName
      } else {
        nickName = this.activeChatFriendInfo.nickName
      }
      this.$emit('quote-message', contextmenuChatRecord, nickName)
    },
    /**
   * 收藏消息
   * @return {Boolean} [description]
   */
    async collectMsg (contextmenuChatRecord) {
      await this.$confirm('确定要收藏该消息？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'info'
      })
      let params = {
        msgText: null,
        msgType: null
      }
      if (contextmenuChatRecord.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM) {
        params.msgType = 1
        params.msgText = contextmenuChatRecord.content
      } else if (
        contextmenuChatRecord.msgType === MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM
      ) {
        params.msgType = 2
        params.msgText = contextmenuChatRecord.resourceUrl
      } else if (
        contextmenuChatRecord.msgType === MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM
      ) {
        params.msgType = 3
        params.msgText = contextmenuChatRecord.resourceUrl
        params.coverInfo = contextmenuChatRecord.videoImgUrl
      } else if (
        contextmenuChatRecord.msgType === MESSAGE_SUB_TYPE.VMA_SOUND_ELEM
      ) {
        params.msgType = 4
        params.msgText = contextmenuChatRecord.resourceUrl
        params.voiceLength = contextmenuChatRecord.content.soundLength
      }
      await customerServiceApi.collectMessage(params)
      this.success('收藏成功!')
      // 更新收藏列表
      this.$emitBus('refresh-favorite')
    },
    /**
   * 下载文件
   * @param  {[type]} chatRecordItem 聊天记录数据
   */
    downFile (chatRecordItem) {
      window.open(chatRecordItem.resourceUrl)
    },
    // 重新发送消息
    resendFailMsg (item, index) {
      this.chatRecordList.splice(index, 1)
      this.$emit('resend-fail-msg', item)
    },
    // 群聊新成员入群
    onNoticeNewGroupMember () {
      this.getGroupMember()
    },
    // 点击显示ai机器人对话框
    dialogTableVisibleAi (index, msgId) {
      this.currentIndex = index
      this.historySkillParams = {
        customerName: wechatInfoSession.getJSON().staffId,
        msgIdList: [String(msgId)],
        fromUser: this.activeChatFriendInfo.wxId
      }
      this.historySkillQuery()
    },
    /**
    * 编辑关闭
    */
    closeMManageModifyDialog () {
      this.dialogmMangeModify = {}
    },
    /**
    * 编辑--弹窗--显示
    */
    addQuicklyReplay (data) {
      let params = {
        msgText: null,
        msgType: null
      }
      if (data.type === MESSAGE_TPYE_KEY.TXT) {
        params.msgText = data.target.replace(/<br\/>/g, '\n').replace(/&nbsp;/ig, ' ')
        params.msgType = 1
      } else if (data.type === MESSAGE_TPYE_KEY.VIDEO) {
        params.msgText = data.content
        params.msgType = 4
        params.coverInfo = data.coverInfo
      } else if (data.type === MESSAGE_TPYE_KEY.IMG) {
        params.msgText = data.content
        params.msgType = 2
      } else if (data.type === MESSAGE_TPYE_KEY.AUDIO) {
        params.msgText = data.content
        params.msgType = 3
        params.voiceLength = data.voiceLength
      } else {
        if (data.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM) {
          params.msgType = 1
          params.msgText = data.content.replace(/<br\/>/g, '\n').replace(/&nbsp;/ig, ' ')
        } else if (
          data.msgType === MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM
        ) {
          params.msgType = 2
          params.msgText = data.resourceUrl
        } else if (
          data.msgType === MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM
        ) {
          params.msgType = 4
          params.msgText = data.resourceUrl
          params.coverInfo = data.videoImgUrl
        } else if (
          data.msgType === MESSAGE_SUB_TYPE.VMA_SOUND_ELEM
        ) {
          params.msgType = 4
          params.msgText = data.resourceUrl
          params.voiceLength = data.content.soundLength
        }
      }

      this.dialogmMangeModify = {
        show: true,
        data: params
      }
    },
    /**
    * 编辑--刷新
    */
    refreshRightTabelListModify () {
      this.dialogmMangeModify.show = false
      this.$emitBus('search-quickMsg', {})
    }
  }
}
</script>

<style scoped>
.ai-ocr {
  border-radius: 25px;
  border: 2px solid #409eff;
  width: 60px;
  height: 50px;
  color: #409eff;
  padding: 5px;
}
.linkBox {
  width: 180px;
  background: rgba(243, 240, 240, 0.7);
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.linkBox-title {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  width: 100%;
  height: 40px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 300;
}

.linkBox-bottom {
  width: 100%;
  height: 50px;
}

.linkBox-bottom span {
  float: left;
  width: 60%;
  font-size: 10px;
  color: rgb(184, 184, 184);
  line-height: 20px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.linkBox-bottom img {
  float: right;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 2px;
}

.chatcontent-label {
  position: relative;
}

.aiDialog {
  float: left;
  border: 1px solid #000;
  width: 40px;
  height: 60px;
  top: 30px;
  left: 60px;
}
.msg-box {
  border: 1px solid #dddddd;
  background-color: #f5f7fa;
  color: black;
  position: relative;
  width: 200px;
  top: -20px;
  left: 0px;
  font-size: 14px;
  z-index: 99999;
  height: 30px;
  line-height: 30px;
}

.board-bottom {
  border-bottom: 1px solid #ebeef5;
}

.customer-label {
  background-color: white;
  color: blue;
  font-size: 16px;
  cursor: pointer;
  z-index: 99;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.box-card {
  min-width: 500px;
  max-width: 800px;
}
.board-bottom {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.answerItem {
  /* display: -webkit-box; */
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.cardcontent {
  text-align: left;
  line-height: 40px;
}
.cardcontentImg {
  height: 400px;
  overflow-y: scroll;
}
.cardcontentImg img {
  width: 100%;
}
.cardcontentCarImg {
  height: 400px;
}
.cardcontentCarImg img {
  width: 100%;
  height: 100%;
}
.cardBox {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  font-size: 10px;
  background-color: white;
  color: black;
}
.replay {
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
</style>
<style  lang="scss">
// .el-autocomplete-suggestion {
//   margin: -60px 0;
// }
</style>
