<template>
  <el-dialog title="新建红包" :visible.sync="dialogVisible" width="880px" @close="closeDialog" custom-class="new-red-packet">
    <div id="qrcode"></div>
    <div class="form-title">1、红包设置</div>
    <el-form :model="form" :rules="redPacketRule" ref="redPacketform" label-width="130px" class="mt-30 red-packet-form" :validate-on-rule-change="true">
      <el-form-item label="红包标题：" prop="title">
        <el-input v-model.trim="form.title" class="red-packet-title" :maxlength="20"></el-input>
      </el-form-item>
      <el-form-item label="红包模式：">
        <el-radio-group v-model="form.model">
          <el-radio :label="1" v-if="activeChatFriendInfo.type === SESSION_TYPE.C2C">单人红包（一码仅一人领取）</el-radio>
          <el-radio :label="2" v-else-if="activeChatFriendInfo.type === SESSION_TYPE.GROUP">群红包（一码可多人领取）</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="红包个数：" prop="sendNum">
        <el-input-number v-model="form.sendNum" :min="1" :max="form.model === 1 ? maxSendNum.friend : maxSendNum.group"></el-input-number>
        <span class="label-remark" v-if="form.model === 1">单人红包一次限制发送{{maxSendNum.friend}}个以内</span>
        <span class="label-remark" v-else-if="form.model === 2">群红包最多可生成{{maxSendNum.group}}个红包<span v-if="form.model === 2 && form.type === 2">，每个红包最低{{MIN_SINGL_RED_PACKET_MONEY}}元</span></span>
        <div class="error-content" v-if="randomTypeError.statu">{{randomTypeError.title}}</div>
      </el-form-item>
      <el-form-item label="红包类型：" prop="type">
        <el-radio-group v-model="form.type" @change="changeType">
          <el-radio :label="1">固定金额红包</el-radio>
          <el-radio :label="2" v-if="form.model === 2">随机金额红包</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="红包金额：" prop="totalNum">
        <el-input-number v-model.trim="form.totalNum" :min="1" :max="500" :precision="2"></el-input-number>
        <span class="label-remark">单个红包限制在1-500元以内</span>
        <div class="error-content" v-if="randomTypeError.statu">{{randomTypeError.title}}</div>
      </el-form-item>
      <el-form-item label="备注：" prop="remark">
        <el-input v-model.trim="form.remark" :maxlength="200"></el-input>
      </el-form-item>
    </el-form>
    <div class="form-title" v-if="activeChatFriendInfo.type === SESSION_TYPE.C2C && form.model === 1">2、活动限制</div>
    <el-form ref="orderForm" :rules="orderRule" :model="form" class="mt-30 red-packet-form" v-if="activeChatFriendInfo.type === SESSION_TYPE.C2C && form.model === 1">
      <el-form-item>
        <el-checkbox v-model="isNeedOrder" @change="changeIsNeedOrder">红包需要绑定有效订单号才可以领取（只支持单人红包）</el-checkbox>
      </el-form-item>
      <el-form-item label="请绑定用户下单的订单号：" prop="orderNo" v-if="isNeedOrder">
        <el-input v-model.trim="form.orderNo" :maxlength="30" class="mt-20 el-input-wechat">输入订单号</el-input>
      </el-form-item>
    </el-form>
    <el-button class="save-btn fr" type="primary" @click="sendForm">发送</el-button>
  </el-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
import { qrCodeGetBase64Src, formatFloat } from '@/utils'
import { customerServiceApi } from '@/api/chat'
import { SESSION_TYPE, MIN_SINGL_RED_PACKET_MONEY } from '@/constants/chat'
import {
  defautWechatAvtorUrl
} from '@/config'
import { minValidator, maxValidator } from '@/assets/js/validators'

export default {
  computed: {
    ...mapGetters([
      'activeChatFriendInfo',
      'activeChatAccountInfo'
    ])
  },
  data() {
    const maxSendNum = {
      friend: 3,
      group: 100
    }
    let that = this
    return {
      MIN_SINGL_RED_PACKET_MONEY,
      SESSION_TYPE,
      dialogVisible: true,
      qrCodeSize: {
        width: 200,
        height: 200
      },
      // 是否需要绑定红包
      isNeedOrder: true,
      maxSendNum,
      form: {
        // 接收群id或好友
        acceptId: null,
        // 接收人姓名
        acceptName: null,
        // 接收人头像
        acceptProfile: null,
        // 接收人备注
        acceptRemark: null,
        // 1好友2群
        acceptType: null,
        // 1普通红包2裂变红包
        model: 1,
        // 订单no
        orderNo: null,
        // 订单绑定红包数量不绑定不传值
        // orderNum: null,
        // 备注
        remark: null,
        // 红包数量
        sendNum: 1,
        // 发送者的微信id
        sendWxId: null,
        // 红包标题
        title: '恭喜发财，大吉大利',
        // 1固定金额2随机金额
        type: 1,
        // 单个红包金额
        totalNum: 1
      },
      redPacketRule: {
        title: [{ required: true, message: '请输入标题', trigger: 'blur' }],
        sendNum: [
          { required: true, message: '请输入红包个数', trigger: 'blur' },
          { validator: minValidator, min: 1, trigger: 'change' },
          { validator: maxValidator, max: 100, trigger: 'change' },
          {
            validator: (rule, value, callback, source, options) => {
              if (that.form.model === 2 && that.form.type === 2) {
                that.randomGroupRedPacketSendNumValidator(rule, value, callback, source, options)
              } else {
                let errors = []
                callback(errors)
              }
            }
          }
        ],
        totalNum: [
          { required: true, message: '请输入红包金额', trigger: 'blur' },
          { validator: minValidator, min: 1, trigger: 'change' },
          { validator: maxValidator, max: 500, trigger: 'change' },
          {
            validator: (rule, value, callback, source, options) => {
              if (that.form.model === 2 && that.form.type === 2) {
                that.randomGroupRedPacketTotalNumValidator(rule, value, callback, source, options)
              } else {
                let errors = []
                callback(errors)
              }
            }
          }
        ]
      },
      orderRule: {
        orderNo: [{ required: true, message: '请输入订单号', trigger: 'blur' }]
      },
      // 随机红包时，金额是否符合
      randomTypeError: {
        statu: false,
        title: null
      }
    }
  },
  watch: {},
  created() {
    this.form.acceptId = this.activeChatFriendInfo.id
    this.form.acceptName = this.activeChatFriendInfo.nickName
    this.form.acceptProfile = this.activeChatFriendInfo.headIcon || defautWechatAvtorUrl
    this.form.acceptRemark = this.activeChatFriendInfo.remark
    this.form.acceptType = this.activeChatFriendInfo.type
    this.form.sendWxId = this.activeChatAccountInfo.id
    if (this.activeChatFriendInfo.type === SESSION_TYPE.GROUP) {
      this.$set(this.form, 'model', 2)
      this.$set(this.redPacketRule.sendNum[2], 'max', this.maxSendNum.group)
    } else {
      this.$set(this.form, 'model', 1)
      this.$set(this.redPacketRule.sendNum[2], 'max', this.maxSendNum.friend)
    }
  },
  methods: {
    closeDialog() {
      this.$emit('on-close')
    },
    /**
     * 切换群/好友红包
     * @return {[type]} [description]
     */
    changeModel() {
      if (this.form.model === 1) {
        // 单人
        this.$set(this.redPacketRule.sendNum[2], 'max', this.maxSendNum.friend)
      } else {
        this.$set(this.redPacketRule.sendNum[2], 'max', this.maxSendNum.group)
      }
      this.$refs.redPacketform.validateField('sendNum')
    },
    changeIsNeedOrder(val) {
      if (!val) {
        this.form.orderNo = null
      }
    },
    // 群红包随机红包的金额
    randomGroupRedPacketTotalNumValidator(rule, value, callback, source, options) {
      let errors = []
      // 随机的红包总额必须大于等于MIN_SINGL_RED_PACKET_MONEY * 红包数量
      const nowMinTotalNum = formatFloat(MIN_SINGL_RED_PACKET_MONEY * this.form.sendNum)
      if (value < nowMinTotalNum) {
        let errorStr = `每个红包最低${MIN_SINGL_RED_PACKET_MONEY}元,红包个数为${this.form.sendNum}时,红包金额最低为${nowMinTotalNum}`
        this.randomTypeError = {
          statu: true,
          title: errorStr
        }
      } else {
        this.randomTypeError = {
          statu: false,
          title: null
        }
      }
      callback(errors)
    },
    // 群红包随机红包的红包个数校验
    randomGroupRedPacketSendNumValidator(rule, value, callback, source, options) {
      let errors = []
      // 随机的红包总额必须大于等于MIN_SINGL_RED_PACKET_MONEY * 红包数量
      const nowMinTotalNum = formatFloat(MIN_SINGL_RED_PACKET_MONEY * value)
      if (this.form.totalNum < nowMinTotalNum) {
        let errorStr = `每个红包最低${MIN_SINGL_RED_PACKET_MONEY}元,红包个数为${value}时,红包金额最低为${nowMinTotalNum}`
        this.randomTypeError = {
          statu: true,
          title: errorStr
        }
      } else {
        this.randomTypeError = {
          statu: false,
          title: null
        }
      }
      callback(errors)
    },
    // 切换红包类型
    changeType(val) {
      this.$refs.redPacketform.validate()
    },
    async sendForm() {
      await this.$refs.redPacketform.validate()
      // 只有好友时是有显示活动限制
      if (this.form.model === 1 && this.isNeedOrder) {
        await this.$refs.orderForm.validate()
      }
      if (this.form.model === 2 && this.form.type === 2 && this.randomTypeError.statu) return
      let params = Object.assign({}, this.form)
      let qrCodeList = await customerServiceApi.newRedPacket(params)
      this.success('新建红包成功!')
      this.onSuccess(qrCodeList)
    },
    async onSuccess(qrCodeList) {
      let qrCode, i
      let base64List = []
      for (i = 0; i < qrCodeList.length; i++) {
        qrCode = await qrCodeGetBase64Src({
          width: this.qrCodeSize.width,
          height: this.qrCodeSize.height,
          text: qrCodeList[i]
        })
        base64List.push(qrCode)
      }
      this.$emit('on-success', base64List, this.form.title)
      this.closeDialog()
    }
  }
}
</script>
