<template>
  <div>
    <el-button size="mini" @click="endRecord" v-if="recording">再次点击结束（{{second}}s）</el-button>
    <el-button size="mini" @click="record" v-else>点击开始录音</el-button>
    <audio ref="myAudio" />
  </div>
</template>

<script>
import Recorder from '@/assets/js/recorder'
import Upload from '@/assets/js/upload'
import {
  mapGetters
} from 'vuex'
import Logger from '@/utils/logger'

export default {
  data () {
    return {
      recording: false,
      recorderInstance: null,
      recorderData: null,
      second: 60,
      maxSecond: 60,
      timer: null
    }
  },
  computed: {
    ...mapGetters([
      'activeChatAccountInfo'
    ])
  },
  methods: {
    /**
     * 录音
     */
    record () {
      if (!this.checkUpOnlineStatus()) return
      Logger.info('start-record')
      if (!this.recorderInstance) {
        this.recorderInstance = new Recorder({
          sampleRate: 24000,
          type: 'wav'
        })
      }
      this.recorderInstance.open().then(() => {
        this.recording = !this.recording
        // 开始倒计时60s
        this.startTimeCountDown()
        this.recorderInstance.start()
      }, errMsg => {
        this.warning(errMsg)
      })
    },
    // 结束录音并上传发送
    endRecord () {
      Logger.info('end-record')
      this.clearTimeCountDown()
      this.recorderInstance.stop().then(data => {
        this.recorderData = data
        this.recorderInstance.close().then(() => {
          Logger.info('this.recorderData', this.recorderData, this.recorderInstance)
          // 成功释放录音资源
          this.uploadVoice(this.recorderData)
          this.cancelRecordeVoice()
        })
      }, errMsg => {
        this.warning(errMsg)
      })
      this.recording = !this.recording
    },
    playAudio () {
      const audio = this.$refs.myAudio
      const recorderData = this.recorderData
      if (!(audio.ended || audio.paused)) {
        audio.pause()
      }
      audio.src = URL.createObjectURL(recorderData.blob)
      audio.play()
    },
    /**
   * 上传到七牛云
   * @param  {[type]} recorderData 录音文件
   */
    async uploadVoice (recorderData) {
      let up = new Upload()
      const qiniuData = await up.upload(recorderData.blob)
      this.$emit('record-success', qiniuData.url, recorderData.duration)
    },
    warning (errMsg) {
      this.error(errMsg)
    },
    // 开始倒计时60s
    startTimeCountDown () {
      this.timer = setInterval(() => {
        this.second--
        if (this.second <= 0) {
          this.endRecord()
        }
      }, 1000)
    },
    clearTimeCountDown () {
      if (this.timer) {
        clearInterval(this.timer)
        this.second = 0
      }
    },
    clearVoiceData () {
      if (this.recording) {
        this.recording = false
      }
      if (this.recorderInstance) {
        this.recorderInstance.close()
        this.recorderInstance = null
      }
      if (this.recorderData) {
        this.recorderData = null
      }
      this.second = this.maxSecond
    },
    beforeDestroy () {
      this.cancelRecordeVoice()
    },
    /**
     * 中断录音
     * @return {[type]} [description]
     */
    cancelRecordeVoice () {
      this.clearTimeCountDown()
      this.clearVoiceData()
    },
    checkUpOnlineStatus () {
      // 不在线无法发送
      if (this.activeChatAccountInfo.onLine === 0) {
        let errorMsg = '微信设备或账号不在线，无法发送消息'
        this.error(errorMsg)
        // 暂时注释
        return false
      } else {
        return true
      }
    }
  }
}
</script>
