<template>
  <el-dialog title="转接会话" custom-class="el-input-wechat" :visible.sync="outerVisible" @close="closeDialog">
    <el-form :model="form" :rules="rules" ref="form" class="pl-30 pr-30">
      <el-form-item label="接收员工部门：" label-width="135px">
        <departmentLazyCascader class="ly-width-100" v-model="departmentInfo" @on-change="onDepartmentChange('department')" placeholder="请选择接收员工所在部门"></departmentLazyCascader>
      </el-form-item>
      <el-form-item label="接收员工：" label-width="105px" prop="staffId">
        <el-select v-model="form.staffId" placeholder="请先选择部门" class="ly-width-100" @visible-change="onDepartmentChange">
          <el-option :value="item.id" v-for="item in staffList" :key="item.id" :label="'[' + (item.onLine === 0 ? '离线' : (item.onLine === 1 ? '在线' : '离开')) + ']' + item.loginAccount + '(' + item.realName + ')'"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="附言：" label-width="63px">
        <el-input v-model.trim="form.comment" :maxlength="200"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="closeDialog">取 消</el-button>
      <el-button type="primary" @click="submitForm">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { commonApi, customerServiceApi } from '@/api/chat'
import { mapGetters } from 'vuex'
import departmentLazyCascader from '@/components/packages/chat/lazyCascader/departmentLazyCascader'
import { wechatInfoSession } from '@/storage'
import Logger from '@/utils/logger'

export default {
  components: {
    departmentLazyCascader
  },
  data() {
    return {
      outerVisible: true,
      rules: {
        staffId: [
          { required: true, message: '请选择接收员工', trigger: 'change' }
        ]
      },
      form: {
        id: null,
        type: null,
        staffId: null,
        comment: null
      },
      departmentInfo: [],
      staffParams: {
        departmentId: null
      },
      // departmentList: [],
      staffList: []
    }
  },
  computed: {
    ...mapGetters([
      'activeChatFriendInfo'
    ])
  },
  created() {
    this.initForm()
  },
  methods: {
    closeDialog() {
      this.$emit('on-close')
    },
    initForm() {
      this.form.id = this.activeChatFriendInfo.id
      this.form.type = this.activeChatFriendInfo.type
    },
    async submitForm() {
      Logger.info(this.departmentInfo, this.form)
      await this.$refs.form.validate()
      let params = Object.assign({}, this.form)
      await customerServiceApi.transferCustomer(params)
      this.success('转接成功')
      this.closeDialog()
      this.$emit('after-transfer-success')
    },
    /**
     * 切换部门，获取对应员
     * @return {[type]} [description]
     */
    async onDepartmentChange(val) {
      if (val === 'department') { // 选择部门
        this.$set(this.form, 'staffId', null)
        if (this.departmentInfo.length === 0) {
          this.staffList = []
          this.staffParams.departmentId = null
          return
        }
        this.staffParams.departmentId = this.departmentInfo[this.departmentInfo.length - 1] || this.departmentInfo[0]
        let params = Object.assign({}, this.staffParams)
        let staffList = await commonApi.getStaffListByDepartment({ id: params.departmentId })
        Logger.info('员工列表', staffList)
        let staffId = wechatInfoSession.getJSON().staffId
        this.staffList = staffList.filter(val => {
          return val.id !== staffId
        })
      } else if (val && !this.staffParams.departmentId) { // 选择员工
        let staffList = await commonApi.getStaffListByDepartment()
        Logger.info('员工列表', staffList)
        let staffId = wechatInfoSession.getJSON().staffId
        this.staffList = staffList.filter(val => {
          return val.id !== staffId
        })
      }
    }
  }
}
</script>
