<template>
  <el-dialog title="语音预览" :visible.sync="dialogVisible" @close="dialogClose" append-to-body custom-class="chat-audio-dialog">
    <audio class="audio" controls preload>
      <source :src="data.url" type="audio/mpeg">
      您的浏览器不支持该音频格式。
    </audio>
    <div slot="footer" class="dialog-footer" v-if="data.sendBtn">
      <el-button @click="dialogClose">取 消</el-button>
      <el-button type="primary" @click="sendVideoMsg">发送</el-button>
    </div>
  </el-dialog>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      dialogVisible: true
    }
  },
  created () {
    this.dialogVisible = true
  },
  methods: {
    dialogClose () {
      this.$emit('on-close')
    },
    sendVideoMsg () {
      this.$emit('on-send', this.data)
    }
  }
}
</script>
