<template>
  <!-- 表情 -->
  <div class="expression-box" v-if="exprssionShow" v-click-outside="closeWeChatExprssion">
    <wechat-expression @choose="chooseExpress" />
  </div>
</template>

<script>
import { WechatExpression } from '@/components/libs/wechatExpression'

export default {
  components: {
    wechatExpression: WechatExpression
  },
  data() {
    return {
      exprssionShow: false
    }
  },
  created() {
    this.$onBus('show-express', (e) => {
      this.showWeChatExprssion(e)
    })
    this.$onBus('close-express', () => {
      this.closeWeChatExprssion()
    })
  },
  methods: {
    // 点击表情
    chooseExpress(icon, e) {
      this.$emitBus('on-choose-express', icon, e)
    },
    showWeChatExprssion() {
      this.exprssionShow = true
    },
    closeWeChatExprssion() {
      this.exprssionShow = false
    }
  }
}
</script>
