<template>
  <div class="chat-right-side-tab">
    <ul class="tabs">
      <li :class="selecteTab === 0 ? 'active' : ''" @click="selecteTabPage(0)">
        <span class="ellipsis">
          快捷回复
        </span>
      </li>
      <li :class="selecteTab === 1 ? 'active' : ''" @click="selecteTabPage(1)">
        <span class="ellipsis">
          客户资料
        </span>
      </li>
      <li :class="selecteTab === 2 ? 'active' : ''" @click="selecteTabPage(2)">
        <span class="ellipsis">
          群组资料
        </span>
      </li>
      <li :class="selecteTab === 3 ? 'active' : ''" @click="selecteTabPage(3)">
        <span class="ellipsis">聊天记录</span>
      </li>
    </ul>
    <div class="tab-pages">
      <div class="ly-height-100 tab-pages-container">
        <reply-msg v-if="selecteTab === 0"></reply-msg>
        <customer-info v-else-if="selecteTab === 1"></customer-info>
        <group-info v-else-if="selecteTab === 2"></group-info>
        <chat-record v-else-if="selecteTab === 3"></chat-record>
      </div>
    </div>
  </div>
</template>

<script>
import replyMsg from './chatRightSideTabPages/replyMsg'
import customerInfo from './chatRightSideTabPages/customerInfo'
import groupInfo from './chatRightSideTabPages/groupInfo'
import chatRecord from './chatRightSideTabPages/chatRecord'

export default {
  components: {
    replyMsg,
    customerInfo,
    groupInfo,
    chatRecord
  },
  data() {
    return {
      selecteTab: 0
    }
  },
  methods: {
    selecteTabPage(index) {
      this.selecteTab = index
    },
    showChatRecord() {
      this.selecteTab = 3
    }
  }
}
</script>
