<template>
  <div class="main-info-box">
    <div class="box-hd">
      <span class="title">详细信息</span>
    </div>
    <div class="box-bd">
      <div class="profile">
        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="avator" />
        <div class="nick-name">李光复</div>
        <div class="meta-area">
          <div class="remark">备注：林总</div>
          <div class="address">地区：福州市</div>
        </div>
        <el-button type="primary" class="send-btn" @click="toSendMsg">发消息</el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    toSendMsg() {
      this.$emit('show-chat-box')
    }
  }
}
</script>
