<template>
  <div class="main-chat-box">
    <div class="box-hd">
      <span class="title">名字123</span>
    </div>
    <div class="box-bd">
      <div class="scroll-content pos-r">
        <!-- 右击弹窗 -->
        <ul class="vue-contextmenu-listWrapper">
          <li class="context-menu-list">
            <button type="button">
              <span>复制</span>
            </button>
          </li>
          <li class="context-menu-list">
            <button type="button">
              <span>引用</span>
            </button>
          </li>
          <li class="context-menu-list">
            <button type="button">
              <span>收藏</span>
            </button>
          </li>
          <li class="context-menu-list">
            <button type="button">
              <span>撤回</span>
            </button>
          </li>
        </ul>
        <ul class="chatcontent-record">
          <!-- 点击加载更早消息 -->
          <li class="ly-text-center"><span class="ly-cursor-point" @click="loadMoreRecord">点击加载更早消息</span></li>
          <li class="chatcontent-record-system">
            <div class="chatcontent-record-li">
              <p class="chatcontent-record-time">11-23 12:12:12</p>
              <div class="chatcontent-record-conent">将此好友从 公司电话栅格化 转借给 公司电话（二哥），附言：天高地厚的很容易问问特惠发货单号</div>
            </div>
          </li>
          <li>
            <div class="chatcontent-record-li">
              <p class="chatcontent-record-time">11-23 12:12:12</p>
              <div class="chatcontent-record-conent">
                <div class="chatcontent-record-userimg">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="chatcontent-record-detail">
                  <span class="chatcontent-label"><i class="ly-icon-cancel"></i></span>
                  <span class="chatcontent-record-triggle"></span>
                  <div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容</div>
                </div>
              </div>
            </div>
          </li>
          <!-- 生成红包的html -->
          <li class="chatconent-record-right">
            <div class="chatcontent-record-li">
              <p class="chatcontent-record-time">11-23 12:12:12</p>
              <div class="chatcontent-record-conent">
                <div class="chatcontent-record-userimg">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="chatcontent-record-detail chatcontent-record-img">
                  <span class="chatcontent-label"><i class="el-icon-close"></i></span>
                  <span class="chatcontent-record-triggle"></span>
                  <div>
                    <div class="chatcontent-record-red-packets">
                      <div class="packets-main">
                        <i class="icon icon-msg-red-packets red-packets-photo"></i>
                        <div class="qr-code"><img src="https://res.wx.qq.com/mpres/htmledition/images/mp_qrcode3a7b38.gif" /></div>
                        <div class="packets-info">
                          <div class="main-title ellipsis">恭喜发财，大吉大利</div>
                          <div class="subheading">扫码领红包</div>
                        </div>
                      </div>
                      <div class="packets-bottom">微信红包</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- 红包消息 -->
          <li class="chatconent-record-right">
            <div class="chatcontent-record-li">
              <p class="chatcontent-record-time">11-23 12:12:12</p>
              <div class="chatcontent-record-conent">
                <div class="chatcontent-record-userimg">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="chatcontent-record-detail chatcontent-record-img-red-packets">
                  <img :src="imgRedPackets">
                </div>
              </div>
            </div>
          </li>
          <li class="chatconent-record-right">
            <div class="chatcontent-record-li">
              <p class="chatcontent-record-time">11-23 12:12:12</p>
              <div class="chatcontent-record-conent">
                <div class="chatcontent-record-userimg">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="chatcontent-record-detail chatcontent-record-img">
                  <span class="chatcontent-record-triggle"></span>
                  <div><img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="chatcontent-record-li">
              <p class="chatcontent-record-time">11-23 12:12:12</p>
              <div class="chatcontent-record-conent">
                <div class="chatcontent-record-userimg">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="chatcontent-record-detail chatcontent-record-img">
                  <span class="chatcontent-record-triggle"></span>
                  <div><img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/></div>
                </div>
              </div>
            </div>
          </li>
          <li class="chatconent-record-right">
            <div class="chatcontent-record-li">
              <p class="chatcontent-record-time">11-23 12:12:12</p>
              <div class="chatcontent-record-conent">
                <div class="chatcontent-record-userimg">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="chatcontent-record-detail chatcontent-record-video">
                  <div class="video-preview">
                    <video src="http://www.runoob.com/try/demo_source/mov_bbb.mp4">您的浏览器不支持 video 标签
                    </video>
                    <div class="play-circle">
                      <div class="play"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="chatconent-record-right">
            <div class="chatcontent-record-li">
              <p class="chatcontent-record-time">11-23 12:12:12</p>
              <div class="chatcontent-record-conent">
                <div class="chatcontent-record-userimg">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="chatcontent-record-detail chatcontent-record-audio">
                  <div class="audio">
                    <div class="play"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="chatconent-record-right">
            <div class="chatcontent-record-li">
              <p class="chatcontent-record-time">11-23 12:12:12</p>
              <div class="chatcontent-record-conent">
                <div class="chatcontent-record-userimg">
                  <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
                </div>
                <div class="chatcontent-record-detail">
                  <span class="chatcontent-record-triggle"></span>
                  <div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="box-ft pos-r">
      <div class="pos-a expression-box" v-show="wechatExprssionShow">
        <wechat-expression @choose="chooseExpress" />
      </div>
      <div class="toolbar">
        <i class="icon icon-face" @click="showWeChatExprssion"></i>
        <i class="icon icon-screenshot" @click="screenshotNotice"></i>
        <el-upload class="vm file-btn" action="https://jsonplaceholder.typicode.com/posts/">
          <i class="icon icon-file"></i>
        </el-upload>
        <i class="icon icon-red-packets" @click="showNewRedPacket"></i>
        <el-button size="mini fr" @click="showTransferCustomerPanel">转接会话</el-button>
        <el-button size="mini fr" @click="showChatRecord">聊天记录</el-button>
      </div>
      <div class="input-box">
        <textarea v-model="content" @paste="onPasteEvent"></textarea>
      </div>
      <div class="action">
        <span class="desc">按下Ctrl+Enter换行</span>
        <button class="btn-send" style="display: none;">返回</button>
        <el-button size="mini" @click="soundRecording = !soundRecording" v-if="soundRecording">再次点击结束（60s）</el-button>
        <el-button size="mini" @click="soundRecording = !soundRecording" v-else>按住说话</el-button>
        <el-button size="mini" class="send">发送</el-button>
      </div>
    </div>
    <newRedPacket v-if="newRedPacketShow" @on-close="newRedPacketShow = false"></newRedPacket>
    <transferCustomerPanel v-if="transferCustomerPanelShow" @on-close="transferCustomerPanelShow = false"></transferCustomerPanel>
    <!-- 粘贴图片预览 -->
    <el-dialog title="图片放大"
               :visible.sync="dialogVisiblePasteImg">
      <img width="100%"
           :src="pasteImg"
           alt="">
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogVisiblePasteImg = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisiblePasteImg = false">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
    import imgRedPackets from '@/assets/images/chat/imgRedPackets@2x.png'
    import {
        WechatExpression,
        parseHTML
    } from '@/components/libs/wechatExpression'
    import newRedPacket from './mainChatBox/newRedPacket'
    import transferCustomerPanel from './mainChatBox/transferCustomerPanel'
    import addEventPasteListener from '@/utils/src/addEventPasteListener'

    export default {
        components: {
            WechatExpression,
            newRedPacket,
            transferCustomerPanel
        },
        data() {
            return {
                parseHTML,
                imgRedPackets,
                content: '亲，本店默认圆通快递，下午4点',
                wechatExprssionShow: false,
                newRedPacketShow: false,
                transferCustomerPanelShow: false,
                pasteImg: null,
                soundRecording: false,
                dialogVisiblePasteImg: false
            }
        },
        methods: {
            showWeChatExprssion() {
                this.wechatExprssionShow = !this.wechatExprssionShow
            },
            chooseExpress(icon, e) {
                this.content += icon
            },
            showNewRedPacket() {
                this.newRedPacketShow = true
            },
            /**
             *  加载更多聊天记录
             */
            loadMoreRecord() {
                this.oldScrollHeight = this.getLiElesHeight()
                this.$emit('loadMoreRecord')
            },
            getLiElesHeight() {
                let height = 0
                if (this.$refs.chatRecordContainer) {
                    let liArr = this.$refs.chatRecordContainer.querySelectorAll('li')
                    liArr.forEach(o => {
                        height += (o.offsetHeight + 10)
                    })
                }
                return height
            },
            showTransferCustomerPanel() {
                this.transferCustomerPanelShow = true
            },
            // 监听粘贴事件
            async onPasteEvent(e) {
                let imgBase64 = await addEventPasteListener(e)
                if (!imgBase64) return
                this.pasteImg = imgBase64
                this.dialogVisiblePasteImg = true
            },
            showChatRecord() {
                this.$emit('show-chat-record')
            },
            screenshotNotice() {
                this.warn('请使用QQ截屏等工具截图后粘贴到下方输入框')
            }
        }
    }
</script>