<template>
  <div class="recommended-goods">
    <div class="nav-menu-page-container">
      <div class="nav-menu-page-header">
        <span class="title">商品推荐</span>
        <i class="el-icon-close close" @click="closePage"></i>
      </div>
      <div class="nav-menu-page-content wechat-custom-service">
        <div class="select-bar">
          <el-select size="small" class="select" v-model="selectedType">
            <el-option
              :key="0"
              label="【淘宝/天猫】官方旗舰店"
              value="选项1">
            </el-option>
          </el-select>
          <el-button type="primary" class="select-btn">搜索</el-button>
        </div>
        <div class="search-bar pos-r">
          <el-input placeholder="请输入昵称"></el-input>
          <el-button type="info" icon="el-icon-search" plain class="abs"></el-button>
        </div>
        <ul class="goods-list">
          <li class="goods-item">
            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="avator fl">
            <div class="item-main pos-r">
              <div class="title">根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风</div>
              <div class="price">
                ¥ <span class="number">199</span>
              </div>
              <el-button size="mini" class="pos-a recommend-btn">推荐</el-button>
            </div>
          </li>
          <li class="goods-item">
            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="avator fl">
            <div class="item-main pos-r">
              <div class="title">根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风</div>
              <div class="price">
                ¥ <span class="number">199</span>
              </div>
              <el-button size="mini" class="pos-a recommend-btn">推荐</el-button>
            </div>
          </li>
          <li class="goods-item">
            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="avator fl">
            <div class="item-main pos-r">
              <div class="title">根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风</div>
              <div class="price">
                ¥ <span class="number">199</span>
              </div>
              <el-button size="mini" class="pos-a recommend-btn">推荐</el-button>
            </div>
          </li>
          <li class="goods-item">
            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="avator fl">
            <div class="item-main pos-r">
              <div class="title">根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风</div>
              <div class="price">
                ¥ <span class="number">199</span>
              </div>
              <el-button size="mini" class="pos-a recommend-btn">推荐</el-button>
            </div>
          </li>
          <li class="goods-item">
            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="avator fl">
            <div class="item-main pos-r">
              <div class="title">根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风</div>
              <div class="price">
                ¥ <span class="number">199</span>
              </div>
              <el-button size="mini" class="pos-a recommend-btn">推荐</el-button>
            </div>
          </li>
          <li class="goods-item">
            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="avator fl">
            <div class="item-main pos-r">
              <div class="title">根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风根深蒂固方便的内到访该社的苟富贵的电话风</div>
              <div class="price">
                ¥ <span class="number">199</span>
              </div>
              <el-button size="mini" class="pos-a recommend-btn">推荐</el-button>
            </div>
          </li>
          <el-pagination
            layout="prev, pager, next"
            :page-size="10"
            :total="3000"
            class="mt-20 fr">
          </el-pagination>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedType: ''
    }
  },
  methods: {
    closePage() {
      this.$emit('close-nav-page')
    }
  }
}
</script>
<style lang="scss">
// @import '@/assets/css/theme/default/style/page/chat/home/components/recommendedGoods.scss';
</style>
