<template>
  <el-dialog title="设置设备备注" :visible.sync="dialogVisible" width="489px" @close="closeDialog">
    <el-form :model="form">
      <el-form-item label="请输入备注:" required>
        <el-input v-model="form.name" autocomplete="off" class="ly-width-280px-im"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="closeDialog">取 消</el-button>
      <el-button type="primary" @click="closeDialog">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: true,
      form: {
        name: ''
      }
    }
  },
  methods: {
    closeDialog() {
      this.$emit('on-close')
    }
  }
}
</script>
