<template>
  <div class="shopping-orders">
    <div class="nav-menu-page-container">
      <div class="nav-menu-page-header">
        <span class="title">购物订单</span>
        <i class="el-icon-close close" @click="closePage"></i>
      </div>
      <div class="nav-menu-page-content">
        <div class="order-list">
          <el-collapse class="mall-item" v-model="activeNames">
            <el-collapse-item title="淘宝/天猫" name="1">
              <div class="bind-customer-info">
                <el-form>
                  <el-form-item>
                    <div class="select-order-type">
                      <el-radio-group v-model="aliCustomerTradeType" @change="onChangeType">
                        <el-radio label="1">账号</el-radio>
                        <el-radio label="2">手机</el-radio>
                        <el-radio label="3">订单</el-radio>
                      </el-radio-group>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <el-input type="text" :maxlength="30"></el-input>
                  </el-form-item>
                </el-form>
                <el-button class="bind-btn" type="primary">确认绑定</el-button>
              </div>
            </el-collapse-item>
          </el-collapse>
          <el-collapse class="mall-item" v-model="activeNames2">
            <el-collapse-item title="京东" name="1">
              <div class="order-item">
                <div class="order-header">
                  订单号：54414441141243
                  <span class="fr status">取消交易</span>
                </div>
                <div class="order-body">
                  <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="fl avator">
                  <div class="pos-r">
                    <div class="name">根深蒂固方便的内到访该社的苟富贵的电话风 给的导火索会话点击合同鳄鱼纹结</div>
                    <div class="specifications">规格：M码</div>
                    <div class="pos-a price">
                      <span class="before-price">300</span>
                      <span class="last-price">
                        ¥<span class="number">199</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="order-footer">
                  下单时间：2018-9-30 20:52:45
                  <el-button class="fr detail-btn" size="mini" type="primary" @click="showOrderDetail">详情</el-button>
                </div>
              </div>
              <div class="order-item">
                <div class="order-header">
                  订单号：54414441141243
                  <span class="fr status">取消交易</span>
                </div>
                <div class="order-body">
                  <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="fl avator">
                  <div class="pos-r">
                    <div class="name">根深蒂固方便的内到访该社的苟富贵的电话风 给的导火索会话点击合同鳄鱼纹结</div>
                    <div class="specifications">规格：M码</div>
                    <div class="pos-a price">
                      <span class="before-price">300</span>
                      <span class="last-price">
                        ¥<span class="number">199</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="order-footer">
                  下单时间：2018-9-30 20:52:45
                  <el-button class="fr detail-btn" size="mini" type="primary" @click="showOrderDetail">详情</el-button>
                </div>
              </div>
              <div class="mt-20 text-r">
                <el-pagination
                  small
                  :page-size="10"
                  layout="total, prev, pager, next"
                  :total="200">
                </el-pagination>
              </div>
            </el-collapse-item>
          </el-collapse>
        </div>
      </div>
    </div>
    <orderDetail v-if="orderDetailShow" @on-close="orderDetailShow = false"></orderDetail>
  </div>
</template>

<script>
import orderDetail from './components/orderDetail'
export default {
  components: {
    orderDetail
  },
  data() {
    return {
      activeNames: '1',
      activeNames2: '1',
      aliCustomerTradeType: '1',
      orderDetailShow: false
    }
  },
  methods: {
    showOrderDetail() {
      this.orderDetailShow = true
    },
    closePage() {
      this.$emit('close-nav-page')
    }
  }
}
</script>
