<template>
  <!-- 筛选查询 -->
  <el-collapse v-model="activeNames"
               class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
               :class="{'ly-padding-bottom-sm':!activeNames[0]}">
    <el-collapse-item name="1">
      <!-- title -->
      <template slot="title"
                class="ly-box">
        <div class="ly-box-1 ly-font-16 ly-font-color-1">
          <span class="ly-vertical-line">筛选查询</span>
        </div>
        <div class="ly-font-14 ly-font-color-2">
          <i class="el-icon-arrow-down"
             :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
        </div>
      </template>
      <div class="ly-clearfix">
        <!-- input prepend -->
        <el-input v-for="(item,index) in formInfo.formPrepend"
                  :key="'prepend'+index"
                  v-if="params[item.key]"
                  :placeholder="item.placeholder"
                  v-model="item.model"
                  class="ly-margin-bottom-sm ly-margin-right-sm"
                  clearable
                  @change="inputChange(item)">
          <template slot="prepend">{{item.val}}</template>
        </el-input>
        <!-- input -->
        <el-input v-for="(item,index) in formInfo.formInput"
                  :key="'input'+index"
                  v-if="params[item.key]"
                  :placeholder="item.placeholder"
                  v-model="item.model"
                  class="ly-margin-bottom-sm ly-margin-right-sm"
                  clearable
                  @change="inputChange(item)">
        </el-input>
        <!-- select -->
        <el-select v-for="(item,index) in formInfo.formArray"
                   :key="'select'+index"
                   v-if="params[item.key]"
                   :placeholder="item.placeholder"
                   v-model="item.model"
                   class="ly-margin-right-sm ly-margin-bottom-sm"
                   clearable
                   @change="selectChange(item)">
          <el-option v-for="obj in item.options"
                     :key="obj.value"
                     :label="obj.label"
                     :value="obj.value">
          </el-option>
        </el-select>
        <!-- picker -->
        <el-date-picker v-for="(item,index) in formInfo.formDate"
                        :key="'picker'+index"
                        v-if="params[item.key]"
                        :model=item.model
                        class="ly-margin-bottom-sm ly-margin-right-sm"
                        type="daterange"
                        range-separator="至"
                        :start-placeholder=item.startDate
                        :end-placeholder=item.endDate
                        :default-time="['00:00:00', '23:59:59']">
        </el-date-picker>
        <!-- button -->
        <el-button class="ly-float-right ly-margin-bottom-sm"
                   type="primary"
                   size="medium"
                   @click="queryCallback">查询
        </el-button>
      </div>
    </el-collapse-item>
  </el-collapse>
</template>

<script>
import Logger from '@/utils/logger'

export default {
  /* params: {
    /  select    /
    readState: true,// 读取状态 状态
    weChat: true,// 微信好友信息
    personalId: true,// 个人号信息
    gender: true,// 性别
    staffDepartment: true,// 员工所在部门
    grouping: true,// 所属分组
    friendSource: true,// 好友来源
    groupingType: true,// 分组类型
    deviceGrouping: true,// 设备分组 分组
    equipmentCustodian: true,// 设备保管者
    onlineState: true,// 微信在线状态
    messageType: true,// 消息类型
    customerService: true,// 所属客服
    rechargeState: true,// 充值状态 状态
    activityState: true,// 活动状态
    auditState: true,// 审核状态
    auditMode: true,// 审核方式
    smsType: true,// 短信类型
    executionState: true,// 执行状态 状态
    transitionState: true,// 转换状态 状态
    processing: true,// 处理状态
    abnormal: true,// 异常
    employees: true,// 好友/群所属员工
    equipmentEmployees: true,// 设备所属员工
    distributionState: true,// 分配状态
    equipmentDepartments: true,// 设备保管者所在部门
    redEnvelopeMode: true,// 红包模式
    sendingState: true,// 发送状态
    role: true,// 角色
    platformType: true,// 平台类型
    affiliatedShop: true,// 所属店铺
    orderStatus: true,// 订单状态
    orderSource: true,// 订单来源
    importShop: true,// 导入店铺
    importState: true// 导入状态
    taskStatus: true// 当前任务状态
    taskType: true// 任务类型
    /  input    /
    enterpriseName: true,// 企业名称
    groupName: true,// 微信群信息
    friendGroupName: true,// 好友/群
    assignStaff: true,// 分配员工
    subgroupName: true,// 搜索- 分组名称
    distributor: true,// 分配者
    title: true,// 标题
    sendingStaff: true,// 发送员工 审核员工 操作员工 创建员工 发送/接收员工
    activityName: true,// 活动名称
    orderInfo: true,// 订单信息
    orderNum: true,// 订单编号
    recipients: true,// 领取者
    circleFriends: true,// 朋友圈内容
    sensitive: true,// 敏感词
    repeatFriends: true,// 重复好友
    imeiStaff: true,// 搜索- 请输入IMEI/员工账号/员工姓名
    receiveNum: true,// 接收号码
    application: true,// 应用
    employeeInfo: true,// 员工信息
    shopAccount: true,//购物账号
    operator: true,//操作者
    remarks: true,// 备注
    /  data    /
    date: true,// 默认
    sendOutDate: true,// 发送时间
    receiveDate: true,// 领取时间
    }
  */
  props: {
    params: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      activeNames: ['1'], // 筛选查询是否展开
      formInfo: { // 筛选选项
        formPrepend: [
          // 微信好友信息
          {
            key: 'weChat',
            val: '微信好友信息',
            placeholder: '微信号/微信昵称',
            model: ''
          },
          // 个人号信息
          {
            key: 'personalId',
            val: '个人号信息',
            placeholder: '微信号/微信昵称/手机号',
            model: ''
          }
        ],
        formArray: [
          // 读取状态
          {
            key: 'readState',
            placeholder: '读取状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '已读'
              },
              {
                value: '选项3',
                label: '未读'
              }
            ]
          },
          // 性别
          {
            key: 'gender',
            placeholder: '性别',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '男'
              },
              {
                value: '选项3',
                label: '女'
              }
            ]
          },
          // 分配状态
          {
            key: 'distributionState',
            placeholder: '分配状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '已分配'
              },
              {
                value: '选项3',
                label: '未分配'
              }
            ]
          },
          // 所在部门 no
          {
            key: 'staffDepartment',
            placeholder: '所在部门',
            model: '',
            options: [
              {
                value: '选项1',
                label: '所在部门'
              }
            ]
          },
          // 所属分组 no
          {
            key: 'grouping',
            placeholder: '所属分组',
            model: '',
            options: [
              {
                value: '选项1',
                label: '所属分组'
              }
            ]
          },
          // 好友来源
          {
            key: 'friendSource',
            placeholder: '好友来源',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '通过群聊添加'
              },
              {
                value: '选项3',
                label: '通过扫一扫添加'
              }
            ]
          },
          // 分组类型 no
          {
            key: 'groupingType',
            placeholder: '分组类型',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              }
            ]
          },
          // 处理状态 no
          {
            key: 'processing',
            placeholder: '处理状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '处理状态'
              }
            ]
          },
          // 异常
          {
            key: 'abnormal',
            placeholder: '异常',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '正常'
              },
              {
                value: '选项3',
                label: '异常'
              }
            ]
          },
          // 好友/群所属员工
          {
            key: 'employees',
            placeholder: '好友/群所属员工',
            model: '',
            options: [
              {
                value: '选项1',
                label: '好友/群所属员工'
              }
            ]
          },
          // 设备分组 no
          {
            key: 'deviceGrouping',
            placeholder: '设备分组',
            model: '',
            options: [
              {
                value: '选项1',
                label: '设备分组'
              }
            ]
          },
          // 设备保管者所在部门 no
          {
            key: 'equipmentDepartments',
            placeholder: '设备保管者所在部门',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              }
            ]
          },
          // 微信在线状态
          {
            key: 'onlineState',
            placeholder: '微信在线状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '在线'
              },
              {
                value: '选项3',
                label: '离线'
              }
            ]
          },
          // 消息类型 no
          {
            key: 'messageType',
            placeholder: '消息类型',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              }
            ]
          },
          // 所属客服 no
          {
            key: 'customerService',
            placeholder: '所属客服',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              }
            ]
          },
          // 充值状态
          {
            key: 'rechargeState',
            placeholder: '充值状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '充值成功'
              },
              {
                value: '选项3',
                label: '充值失败'
              }
            ]
          },
          // 红包模式 no
          {
            key: 'redEnvelopeMode',
            placeholder: '红包模式',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '群红包'
              },
              {
                value: '选项3',
                label: '单人红包'
              }
            ]
          },
          // 发送状态
          {
            key: 'sendingState',
            placeholder: '发送状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '发送成功'
              },
              {
                value: '选项3',
                label: '发送失败'
              }
            ]
          },
          // 活动状态 no
          {
            key: 'activityState',
            placeholder: '活动状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              }
            ]
          },
          // 审核状态
          {
            key: 'auditState',
            placeholder: '审核状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '审核通过'
              },
              {
                value: '选项3',
                label: '待审核'
              },
              {
                value: '选项4',
                label: '审核不通过'
              }
            ]
          },
          // 审核方式 no
          {
            key: 'auditMode',
            placeholder: '审核方式',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              }
            ]
          },
          // 短信类型 no
          {
            key: 'smsType',
            placeholder: '短信类型',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              }
            ]
          },
          // 执行状态
          {
            key: 'executionState',
            placeholder: '执行状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '待执行'
              },
              {
                value: '选项3',
                label: '执行中'
              },
              {
                value: '选项4',
                label: '执行结束'
              },
              {
                value: '选项5',
                label: '已删除'
              }
            ]
          },
          // 转换状态
          {
            key: 'transitionState',
            placeholder: '转换状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              },
              {
                value: '选项2',
                label: '转换成功'
              },
              {
                value: '选项3',
                label: '转换失败'
              }
            ]
          },
          // 设备所属员工 no
          {
            key: 'equipmentEmployees',
            placeholder: '设备所属员工',
            model: '',
            options: [
              {
                value: '选项1',
                label: '设备所属员工'
              }
            ]
          },
          // 角色
          {
            key: 'role',
            placeholder: '角色',
            model: '',
            options: [
              {
                value: '选项1',
                label: '设备所属员工'
              }
            ]
          },
          // 平台类型
          {
            key: 'platformType',
            placeholder: '平台类型',
            model: '',
            options: [
              {
                value: '选项1',
                label: '设备所属员工'
              }
            ]
          },
          // 所属店铺
          {
            key: 'affiliatedShop',
            placeholder: '所属店铺',
            model: '',
            options: [
              {
                value: '选项1',
                label: '设备所属员工'
              }
            ]
          },
          // 订单状态
          {
            key: 'orderStatus',
            placeholder: '订单状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '设备所属员工'
              }
            ]
          },
          // 订单来源
          {
            key: 'orderSource',
            placeholder: '订单来源',
            model: '',
            options: [
              {
                value: '选项1',
                label: '设备所属员工'
              }
            ]
          },
          // 导入店铺
          {
            key: 'importShop',
            placeholder: '导入店铺',
            model: '',
            options: [
              {
                value: '选项1',
                label: '设备所属员工'
              }
            ]
          },
          // 导入状态
          {
            key: 'importState',
            placeholder: '导入状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '设备所属员工'
              }
            ]
          },
          // 操作者
          {
            key: 'operator',
            placeholder: '操作者',
            model: '',
            options: [
              {
                value: '选项1',
                label: '设备所属员工'
              }
            ]
          },
          // 当前任务状态
          {
            key: 'taskStatus',
            placeholder: '当前任务状态',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              }
            ]
          },
          // 任务类型
          {
            key: 'taskType',
            placeholder: '任务类型',
            model: '',
            options: [
              {
                value: '选项1',
                label: '全部'
              }
            ]
          }
        ],
        formInput: [
          // 微信群信息
          {
            key: 'groupName',
            val: '微信群信息',
            placeholder: '群名称/备注',
            model: ''
          },
          // 好友/群
          {
            key: 'friendGroupName',
            val: '好友/群',
            placeholder: '群名称/微信昵称/备注',
            model: ''
          },
          // 备注
          {
            key: 'remarks',
            val: '备注',
            placeholder: '备注',
            model: ''
          },
          // 分配员工
          {
            key: 'assignStaff',
            val: '分配员工',
            placeholder: '请输入分配员工名称',
            model: ''
          },
          // 分组名称
          {
            key: 'subgroupName',
            val: '分组名称',
            placeholder: '分组名称',
            model: ''
          },
          // 分配者
          {
            key: 'distributor',
            val: '分配者',
            placeholder: '请输入分配者名称',
            model: ''
          },
          // 设备保管者
          {
            key: 'equipmentCustodian',
            val: '设备保管者',
            placeholder: '请输入设备保管者名称',
            model: ''
          },
          // 标题
          {
            key: 'title',
            val: '标题',
            placeholder: '请输入标题',
            model: ''
          },
          // 活动名称
          {
            key: 'activityName',
            val: '活动名称',
            placeholder: '请输入活动名称',
            model: ''
          },
          // 发送员工 审核员工 操作员工 创建员工 发送/接收员工
          {
            key: 'sendingStaff',
            val: '发送员工',
            placeholder: '员工账号/姓名',
            model: ''
          },
          // 订单信息
          {
            key: 'orderInfo',
            val: '订单信息',
            placeholder: '请输入订单编号/手机号',
            model: ''
          },
          // 订单编号
          {
            key: 'orderNum',
            val: '订单编号',
            placeholder: '请输入订单编号',
            model: ''
          },
          // 领取者
          {
            key: 'recipients',
            val: '领取者',
            placeholder: '请输入微信昵称/备注',
            model: ''
          },
          // 朋友圈内容
          {
            key: 'circleFriends',
            val: '朋友圈内容',
            placeholder: '请输入朋友圈内容',
            model: ''
          },
          // 敏感词
          {
            key: 'sensitive',
            val: '敏感词',
            placeholder: '请输入敏感词',
            model: ''
          },
          // 重复好友
          {
            key: 'repeatFriends',
            val: '重复好友',
            placeholder: '请输入好友昵称',
            model: ''
          },
          // 搜索- 请输入IMEI/员工账号/员工姓名
          {
            key: 'imeiStaff',
            val: '搜索',
            placeholder: '请输入IMEI/员工账号/员工姓名',
            model: ''
          },
          // 接收号码
          {
            key: 'receiveNum',
            val: '接收号码',
            placeholder: '请输入手机号',
            model: ''
          },
          // 应用
          {
            key: 'application',
            val: '应用',
            placeholder: '请输入应用名/包名',
            model: ''
          },
          // 员工信息
          {
            key: 'employeeInfo',
            val: '员工信息',
            placeholder: '登录账号/员工姓名/手机号',
            model: ''
          },
          // 购物账号
          {
            key: 'shopAccount',
            val: '购物账号',
            placeholder: '请输入购物账号',
            model: ''
          },
          // 企业名称
          {
            key: 'enterpriseName',
            val: '企业名称',
            placeholder: '请输入企业名称',
            model: ''
          }
        ],
        formDate: [
          // 默认
          {
            key: 'date',
            startDate: '开始日期',
            endDate: '结束日期',
            model: ''
          },
          // 发送时间
          {
            key: 'sendOutDate',
            startDate: '发送开始日期',
            endDate: '发送结束日期',
            model: ''
          },
          // 领取时间
          {
            key: 'receiveDate',
            startDate: '领取开始日期',
            endDate: '领取结束日期',
            model: ''
          }
        ]
      },
      queryList: {} // 所需筛选选项
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      for (var key in this.params) {
        this.queryList[key] = ''
      }
    },
    // select选择器事件
    inputChange(item) {
      Logger.log(item)
      this.queryList[item.key] = item.model
    },
    // select选择器事件
    selectChange(item) {
      Logger.log(item)
      this.queryList[item.key] = item.model
    },
    // 查询
    queryCallback() {
      this.$emit('menuCallback', this.queryList)
    }
  }
}
</script>
