<template>
  <div class="home-page">
    <div class="ly-bg-white ly-padding-sm">

 <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                
                 class="ly-collapse  ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">

          <el-select clearable
                     v-model="params.enterpriseId"
                    
                      @change="queryCallback"
                     placeholder="企业"
                     class="ly-margin-right-bottom-sm">
            <el-option v-for="item in enterprisesList"
                      
                      
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          
          <!-- button -->
          <el-button class=""
                     type="primary"
                     size="small"
                     @click="queryCallback">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
      <!-- 数据总览 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据总览</span>
        </div>
      </div>
      <Cards ref="getCardId"></Cards>

      <!-- 原页面 个人号数据和设备数据-->
     
      <!--  -->
      <div class="ly-clearfix ly-block-lay">
        <!-- 个人号数据 -->
        <div class="ly-item-lay ly-item-lay-left">
          <div>
            <div class="ly-box">
              <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                <span class="ly-vertical-line">个人号数据</span>
              </div>
            </div>
            <div class="ly-bg-white system-home-row ly-box">
              <div class="system-home-column ly-box-1">
                <div class="ly-inline-block ly-text-left">
                  <div class="ly-line-height-1">
                    <span class="system-home-column-title">个人号总数</span>
                  </div>
                  <div class="system-home-column-number">{{weChatMessage.entity.wetChatNumber || 0}}</div>
                </div>
              </div>

              <div class="system-home-column ly-box-1">
                <div class="ly-inline-block ly-text-left">
                  <div class="ly-line-height-1">
                    <span class="system-home-column-title">近7天新增</span>
                  </div>
                  <div
                    class="system-home-column-number"
                  >{{weChatMessage.entity.wetChatNumberWeek || 0}}</div>
                </div>
              </div>

              <div class="system-home-column ly-box-1">
                <div class="ly-inline-block ly-text-left">
                  <div class="ly-line-height-1">
                    <span class="system-home-column-title">近30天新增</span>
                  </div>
                  <div class="system-home-column-number">{{weChatMessage.entity.wetChatNumberMoon || 0}}</div>
                </div>
              </div>

              <div class="system-home-column ly-box-1">
                <div class="ly-inline-block ly-text-left">
                  <div class="ly-line-height-1">
                    <span class="system-home-column-title">近90天新增</span>
                  </div>
                  <div
                    class="system-home-column-number"
                  >{{weChatMessage.entity.wetChatNumberNine || 0}}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- 设备数据 -->
        
        <div class="ly-item-lay ly-item-lay-right">
          <div >
            <div class="ly-box ly-border-bottom-1">
              <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                <span class="ly-vertical-line">设备数据</span>
              </div>
            </div>
             <div class="ly-bg-white system-home-row ly-box">
              <div class="system-home-column ly-box-1">
                <div class="ly-inline-block ly-text-left">
                  <div class="ly-line-height-1">
                    <span class="system-home-column-title">总入网数</span>
                  </div>
                  <div class="system-home-column-number">{{equipmentMessage.entity.equipmentTotal || 0}}</div>
                </div>
              </div>

              <div class="system-home-column ly-box-1">
                <div class="ly-inline-block ly-text-left">
                  <div class="ly-line-height-1">
                    <span class="system-home-column-title">近7天入网数</span>
                  </div>
                  <div
                    class="system-home-column-number"
                  >{{equipmentMessage.entity.equipmentWeek || 0}}</div>
                </div>
              </div>

              <div class="system-home-column ly-box-1">
                <div class="ly-inline-block ly-text-left">
                  <div class="ly-line-height-1">
                    <span class="system-home-column-title">近30天入网数</span>
                  </div>
                  <div class="system-home-column-number">{{equipmentMessage.entity.equipmentMoon || 0}}</div>
                </div>
              </div>

              <div class="system-home-column ly-box-1">
                <div class="ly-inline-block ly-text-left">
                  <div class="ly-line-height-1">
                    <span class="system-home-column-title">近90天入网数</span>
                  </div>
                  <div
                    class="system-home-column-number"
                  >{{equipmentMessage.entity.equipmentThreeMoon || 0}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ----- -->
      <div class="ly-box ly-margin-top-36pxrem">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">个人号统计</span>
          <span class="graytip ly-margin-left-8px">近7天数据</span>
        </div>
      </div>
      <div class="ly-border-DDD-1 ly-padding-25-32px">
        <div class="ly-margin-bottom-25px">
          <el-button-group class="ly-button-group-border">
            <el-button
              :type="type==1?'primary':''"
              @click="wxTypeTab(1)"
              class="ly-button-border ly-button-width90px"
            >微信好友</el-button>
            <el-button
              :type="type==2?'primary':''"
              @click="wxTypeTab(2)"
              class="ly-button-border ly-button-width90px"
            >微信群</el-button>
          </el-button-group>
        </div>
        <!-- ly-echarts-height362rem -->
        <div class="ly-box">
          <div class="ly-box-1">
            <div class="ly-position-relative ly-height-0 ly-padding-top-42-percent">
              <div class="ly-echarts-content">
                <FriendTotal
                  ref="FriendTotal"
                  class="ly-border-right-DDD-1 ly-padding-right-30px ly-height-100"
                ></FriendTotal>
              </div>
            </div>
          </div>
          <div class="ly-box-1">
            <div class="ly-position-relative ly-height-0 ly-padding-top-42-percent">
              <div class="ly-echarts-content">
                <SendRecieveLine ref="SendRecieveLine" class="ly-paddingleft-30px ly-height-100"></SendRecieveLine>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ly-box">
        <FriendCountPie ref="getPieId"></FriendCountPie>
        <chinese-map ref="getMapId"></chinese-map>
        <FollowQuestion ref="getQuestionId"></FollowQuestion>
      </div>
    </div>
  </div>
</template>
<script>
import {
  Cards,
  FriendTotal,
  FriendCountPie,
  SendRecieveLine,
  ChineseMap,
  FollowQuestion
} from "./components";
import { homeApi } from "@/api/oms";
export default {
  components: {
    Cards,
    FriendCountPie,
    FriendTotal,
    SendRecieveLine,
    ChineseMap,
    FollowQuestion
  },

  data() {
    return {
       activeNames: ['1'],
      // 查询企业
      enterprisesList:[],
      params:{
        enterpriseId:'',
        // enterpriseId
      },
      type: 1,
      // 个人号数据
      weChatMessage: {
        entity: {}
      },
      // 设备数据
      equipmentMessage: {
        entity: {}
      },
      
    };
  },
  created() {
    this.getWeChatMessage();
    this.getEquipmentMessage();
    this.getEnterprisesList();
  },
  methods: {
    wxTypeTab(type) {
      if (this.type === type) return;
      this.type = type;
      // this.$refs.FriendTotal.buildChart(this.type);
      // this.$refs.SendRecieveLine.buildChart(this.type);

      this.$refs.FriendTotal.buildChart(this.type,this.params.enterpriseId)
      this.$refs.SendRecieveLine.buildChart(this.type,this.params.enterpriseId)
    },
    // 筛选 企业
    getEnterprisesList() {
      homeApi.getEnterprises().then(data => {
        this.enterprisesList = data
      });
    },
    //获取个人号数据
    getWeChatMessage(m) {
      // console.log(m)
      homeApi.getWeChatMessage(m).then(data => {
        this.weChatMessage.entity = Object.assign(
          {},
          this.weChatMessage.entity,
          data
        );
      });
    },
    // 获取设备数据
    getEquipmentMessage(m) {
      // console.log(m)
      homeApi.getEquipmentMessage(m).then(data => {
        this.equipmentMessage.entity = Object.assign(
          {},
          this.equipmentMessage.entity,
          data
        );
      });
    },
    // 查询
    queryCallback(){
      


      this.$refs.getCardId.getDataScreen(this.params.enterpriseId)
      this.$refs.getMapId.buildChart(this.params.enterpriseId)
      this.$refs.getQuestionId.buildChart(this.params.enterpriseId)
      this.$refs.getPieId.buildChart(this.params.enterpriseId)
      this.$refs.FriendTotal.buildChart(this.type,this.params.enterpriseId)
      this.$refs.SendRecieveLine.buildChart(this.type,this.params.enterpriseId)

      this.getWeChatMessage(this.params)
      this. getEquipmentMessage(this.params)
      
    }
  }
};
</script>
