<template>
  <div>
    <h2>
      <img :src="platformLogo" v-if="platformLogo" class="logo">
      <span>管理后台</span>
    </h2>
    <div class="main-head-right fr">
      <el-button class="main-el-header-button" type="primary" icon="el-icon-service" round>微客服</el-button>
      <el-dropdown trigger="click">
        <span class="el-dropdown-link">
          下拉菜单<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>个人设置</el-dropdown-item>
          <el-dropdown-item>退出登录</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      platformLogo: 'http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L'
    }
  },
  created() {
    // console.log(13)
  }
}
</script>
