<template>
  <div>
    <el-menu :default-active="tagList.defaultActive" class="main-aside-elmenu" @open="handleOpen" @close="handleClose" :collapse="isCollapse" :unique-opened="true">
      <template v-for="item in params">
        <el-menu-item :index="item.index" :key="item.index" v-if="item.deep==1" @click="routePush(item)">
          <i class="el-icon-document"></i>
          <span slot="title">{{item.title}}</span>
        </el-menu-item>
        <el-submenu :index="item.index" :key="item.index" v-else-if="item.deep==2">
          <template slot="title">
            <i class="el-icon-location"></i>
            <span slot="title">{{item.title}}</span>
          </template>
          <el-menu-item-group>
            <template v-for="itemSec in item.child">
              <el-menu-item :index='itemSec.index' :key="itemSec.index" @click="routePush(itemSec)">{{itemSec.title}}</el-menu-item>
            </template>
          </el-menu-item-group>
        </el-submenu>
        <el-submenu :index="item.index" :key="item.index" v-else-if="item.deep==3">
          <template slot="title">
            <i class="el-icon-location"></i>
            <span slot="title">{{item.title}}</span>
          </template>
          <template v-for="itemSec in item.child">
            <el-menu-item-group :key="itemSec.index" v-if="itemSec && !itemSec.child">
              <el-menu-item  :index="itemSec.index" @click="routePush(itemSec)">{{itemSec.title}}</el-menu-item>
            </el-menu-item-group>
            <el-submenu :index="itemSec.index"  :key="itemSec.index" v-if="itemSec && itemSec.child">
              <span slot="title">{{itemSec.title}}</span>
              <el-menu-item :index="itemThrd.index"  :key="itemThrd.index" v-for="itemThrd in itemSec.child" @click="routePush(itemThrd)">{{itemThrd.title}}</el-menu-item>
            </el-submenu>
          </template>
        </el-submenu>
      </template>
    </el-menu>
  </div>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex'
import params from './meunList'
export default {
  data() {
    return {
      isCollapse: false,
      defaultActive: '1-1',
      params: []
    }
  },
  watch: {
    '$route': function(val, oldVal) {
      this.checkTagList(val, true)
    }
  },
  computed: {
    ...mapGetters([
      'tagList'
    ])
  },
  methods: {
    routePush(item) {
      if (this.$route.name !== item.name) {
        this.updateTagList(item)
        this.$router.push({name: item.name})
      }
    },
    async getMenuList() {
      const data = params
      this.params = data
      this.checkTagList()
    },
    checkTagList(routeVal, iswatch) {
      let tagListArr = this.tagList.tagList
      let isInTagList = false
      let data = this.params
      let routeName = iswatch ? routeVal.name : this.$route.name
      // 判断当前页面是否已经在taglist中
      for (let m = 0; m < tagListArr.length; m++) {
        if (tagListArr[m].name === routeName) {
          let index = tagListArr[m].index
          this.$store.state.tagList.defaultActive = index
          let newItem = tagListArr[m]
          this.updateTagList(newItem)
          isInTagList = true
          return false
        }
      }
      // 表示不在taglist中，判断是否是能匹配到左侧菜单
      let newItem = {}
      if (!isInTagList) {
        let currentName = routeName
        for (let i = 0; i < data.length; i++) {
          let deep = data[i].deep
          if (deep === 1 && currentName === data[i].name) {
            // 深度为1
            newItem = data[i]
          } else if (deep === 2) {
            // 深度为2
            for (let j = 0; j < data[i].child.length; j++) {
              if (currentName === data[i].child[j].name) {
                newItem = data[i].child[j]
                break
              }
            }
          } else if (deep === 3) {
            // 深度为3
            for (let j = 0; j < data[i].child.length; j++) {
              if ((!data[i].child[j].child) && (data[i].child[j].name === currentName)) {
                newItem = data[i].child[j]
                break
              } else {
                for (let z = 0; z < data[i].child[j].length; z++) {
                  if (currentName === data[i].child[j].child[z].name) {
                    newItem = data[i].child[j]
                    break
                  }
                }
              }
            }
          }
        }
      }
      if (newItem.name) {
        // 表示当前路由匹配到左侧菜单
        this.updateTagList(newItem)
      } else {
        // 表示当前路由路径无效
        // this.turnToFirstPage(data)
      }
    },
    turnToFirstPage(data) {
      let deep = data[0].deep
      let RouteName
      switch (deep) {
        case 1:
          RouteName = data[0].name
          break
        case 2:
          RouteName = data[0].child[0].name
          break
        case 3:
          if ((data[0].child[0]) && (!data[0].child[0].child)) {
            RouteName = data[0].child[0].name
          } else {
            RouteName = data[0].child[0].child[0].name
          }
          break
      }
      this.$router.replace({name: RouteName})
    },
    handleOpen(key, keyPath) {
      console.log(key, keyPath)
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath)
    },
    ...mapMutations({
      updateTagList: 'UPDATE_TAG_LIST'
    })
  },
  created() {
    this.getMenuList()
  }
}
</script>
