<template>
  <div class="main-tags">
    <div class="tags-menu tags-border-right">
      <el-button type="text" icon="el-icon-menu">控制面板</el-button>
    </div>
    <div class="tags-ul">
      <div class="tags-li" v-for="item in tagList.tagList" :key="item.index" :class="{'active': item.index == tagList.defaultActive}">
        <el-button type="text" @click="routePush(item)">{{item.title}}<i @click.stop="closeRoutePush(item)" class="el-icon-close el-icon--right" v-if="tagList.tagList.length > 1"></i></el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters([
      'tagList'
    ])
  },
  methods: {
    routePush(item) {
      if (this.$route.name !== item.name) {
        this.updateTagList(item)
        this.$router.push({name: item.name})
      }
    },
    closeRoutePush(item) {
      let obj = {
        vm: this,
        item: item
      }
      this.deleteTagListOne(obj)
    },
    ...mapMutations({
      updateTagList: 'UPDATE_TAG_LIST',
      deleteTagListOne: 'DELETE_TAG_LIST_ONE'
    })
  },
  created() {
    // console.log(13)
  }
}
</script>
