<template>
  <div>
    <div>
      <div class="ly-box ly-box-align-center">
        <span class="ly-font-size-16 ly-font-color-4">充值时间:</span>
        <el-date-picker v-model="date"
                        class="ly-margin-horizontal-sm"
                        type="datetimerange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        :default-time="['00:00:00', '23:59:59']"
                        size="small"
                        @change="dateChange">
        </el-date-picker>
        <el-button type="primary"
                   size="small"
                   @click="getTableList(1)">搜索</el-button>
      </div>
      <el-table :data="tableData.records"
                class="ly-margin-top-30px">
        <el-table-column label="充值条数"
                         prop="msgNum"
                         width="100">
        </el-table-column>
        <el-table-column label="金额"
                         prop="payMoney"
                         width="100">
        </el-table-column>
        <el-table-column label="支付方式"
                         width="100">
          <template slot-scope="scope">
            <span v-if="scope.row.status === 1">支付宝</span>
            <span v-else-if="scope.row.status === 2">微信</span>
          </template>
        </el-table-column>
        <el-table-column label="交易流水号"
                         prop="logNbr">
        </el-table-column>
        <el-table-column label="状态"
                         width="100">
          <template slot-scope="scope">
            <span v-if="scope.row.status === 1">未充值</span>
            <span v-else-if="scope.row.status === 2">充值成功</span>
            <span v-else-if="scope.row.status === 3">充值失败</span>
          </template>
        </el-table-column>
        <el-table-column label="充值时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="充值说明"
                         prop="remark"></el-table-column>
      </el-table>
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
// import { rechargeDetailsApi } from '@/api/sms'

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      date: '',
      parentDepartmanet: '',
      dialogVisible: false,
      tableData: {
        records: [
          {
            enterpriseName: '说的克己复礼',
            createTime: 1578747602000,
            msgText: '圣诞快乐房价上课',
            status: 1
          }
        ],
        total: 1
      },
      params: {
        current: 1,
        size: 10,
        enterpriseId: this.dataInfo.data.id
      }
    }
  },
  methods: {
    /**
    * 日期格式转换
    */
    dateChange(val) {
      if (!val) {
        this.params.begin_time = ''
        this.params.end_time = ''
      } else {
        this.params.begin_time = new Date(val[0]).getTime()
        this.params.end_time = new Date(val[1]).getTime()
      }
    },
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      // rechargeDetailsApi.getSmsRechargeDetails(this.params).then((result) => {
      //   this.tableData = result
      // })
    }
  },
  created() {
    // if (this.dataInfo.data.orderRecordId) {
    //   this.getTableList()
    // }
    // console.log(this.dataInfo)
    this.getTableList()
  }
}
</script>
