<template>
  <div>
    <el-row>
      <!-- 左边 -->
      <el-col :span="12">
        <div class="newgroupsent-grid-content newgroupsent-grid-content-box1">
          <!-- 左边 form表单 -->
          <el-form ref="form"
                   :model="form"
                   label-width="80px"
                   class="ly-border-bottom-1">
            <el-form-item label="标签：">
              <el-radio-group size='small'
                              v-model="form.isLabel"
                              style="margin-top:-5px">
                <el-radio-button label="1">包含</el-radio-button>
                <el-radio-button label="0">不包含</el-radio-button>
              </el-radio-group>
              <el-select v-model="form.labels"
                         size='small'
                         multiple
                         filterable
                         placeholder="请选择标签">
                <el-option v-for="(item,i) in searchConditionData.labels"
                           :key="`labels_${i}`"
                           :label="item.label"
                           :value="item.id"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="城市：">
              <el-radio-group size='small'
                              v-model="form.isCity"
                              style="margin-top:-5px">
                <el-radio-button label="1">包含</el-radio-button>
                <el-radio-button label="0">不包含</el-radio-button>
              </el-radio-group>
              <el-select v-model="form.citys"
                         size='small'
                         multiple
                         filterable
                         placeholder="请选择城市">
                <el-option v-for="(item,i) in searchConditionData.citys"
                           :key="`citys_${i}`"
                           :label="item.city"
                           :value="item.id"></el-option>
              </el-select>
            </el-form-item>
            <el-row>
              <el-col :span="12">
                <div>
                  <el-form-item label="所属个人号："
                                label-width="120px">
                    <el-select v-model="form.wechatAccountId"
                               size='small'
                               clearable
                               filterable
                               placeholder="请选择所属个人号"
                               @change='searchGroupsWxFriend'>
                      <el-option v-for="(item,i) in searchConditionData.wechatAccounts"
                                 :key="`wechatAccounts_${i}`"
                                 :label="item.wxId"
                                 :value="item.id"></el-option>
                    </el-select>
                  </el-form-item>
                </div>
              </el-col>
              <!-- 所属个人号 选择完才可选分组 -->
              <el-col :span="12"
                      v-if="form.wechatAccountId">
                <div>
                  <el-form-item label="分组：">
                    <el-select v-model="form.wxGroupInfoId"
                               size='small'
                               clearable
                               placeholder="请选择分组">
                      <el-option v-for="(item,i) in groups"
                                 :key="`groups_${i}`"
                                 :label="item.groups"
                                 :value="item.id"></el-option>
                    </el-select>
                  </el-form-item>
                </div>
              </el-col>
            </el-row>
            <el-form-item label="昵称/备注："
                          label-width="120px">
              <el-input v-model.trim="form.searchName"
                        :maxlength="20"
                        size='small'
                        placeholder="请输入昵称/备注"></el-input>
            </el-form-item>
            <el-form-item label-width="0px">
              <div class="ly-box ly-box-align-justify-center">
                <el-button type="primary"
                           size='small'
                           @click="leftTableDataList">搜索</el-button>
              </div>
            </el-form-item>
          </el-form>
          <!--左边 数据列表 -->
          <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
            <!-- 表头 -->
            <div class="ly-box">
              <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                <span class="ly-vertical-line">手机号列表</span>
              </div>
            </div>
            <!-- 左边表格 -->
            <el-table ref="leftTable"
                      :data="leftTableData"
                      tooltip-effect="dark"
                      style="width: 100%"
                      max-height='600'
                      @selection-change="handleSelectionChange">
              <el-table-column type="selection"
                               reserve-selection
                               :selectable='selectableHandler'
                               width="55">
              </el-table-column>
              <el-table-column prop="phone"
                               label="手机号">
              </el-table-column>
              <el-table-column label="微信信息"
                               width="200">
                <template slot-scope="scope">
                  <!-- 图文排版 -->
                  <div class="ly-box ly-box-align-c-justify-s">
                    <img :src="scope.row.headIcon | wechatAvtor"
                         alt=""
                         class="ly-wh-50px ly-margin-right-xs">
                    <div>
                      <p>{{ scope.row.nickName }}</p>
                      <p>{{ scope.row.wxAccount }}</p>
                      <p>{{ scope.row.wxId }}</p>
                    </div>
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="remark"
                               label="备注">
              </el-table-column>
              <el-table-column prop="sex"
                               label="性别">
                <!-- 性别1男2女0未知 -->
                <template slot-scope="scope">
                  <span v-if="scope.row.sex==1">男</span>
                  <span v-else-if="scope.row.sex==2">女</span>
                  <span v-else>未知</span>
                </template>
              </el-table-column>
              <el-table-column prop="areaName"
                               label="城市">
              </el-table-column>
            </el-table>
          </div>
        </div>
      </el-col>
      <!-- 右边 -->
      <el-col :span="12">
        <div class="newgroupsent-grid-content newgroupsent-grid-content-box2">
          <!--右边 数据列表 -->
          <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
            <!-- 表头 -->
            <div class="ly-box">
              <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                <span class="ly-vertical-line">已选择手机号列表</span>
              </div>
            </div>
            <!-- 右边表格 -->
            <el-table ref="multipleTable"
                      :data="rightTableData"
                      tooltip-effect="dark"
                      max-height='600'
                      style="width: 100%">
              <el-table-column prop="phone"
                               label="手机号">
              </el-table-column>
              <el-table-column label="微信信息"
                               width="200">
                <template slot-scope="scope">
                  <!-- 图文排行 -->
                  <div class="ly-box ly-box-align-c-justify-s">
                    <img :src="scope.row.headIcon | wechatAvtor"
                         alt=""
                         class="ly-wh-50px ly-margin-right-xs">
                    <div>
                      <p>{{ scope.row.nickName }}</p>
                      <p>{{ scope.row.wxAccount }}</p>
                      <p>{{ scope.row.wxId }}</p>
                    </div>
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="remark"
                               label="备注">
              </el-table-column>
              <el-table-column prop="sex"
                               label="性别">
                <!-- 性别1男2女0未知 -->
                <template slot-scope="scope">
                  <span v-if="scope.row.sex==1">男</span>
                  <span v-else-if="scope.row.sex==2">女</span>
                  <span v-else>未知</span>
                </template>
              </el-table-column>
              <el-table-column prop="areaName"
                               label="城市">
              </el-table-column>
            </el-table>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'

export default {
  data() {
    return {
      form: {
        isCity: 1,
        isLabel: 1
      },
      searchConditionData: {
        citys: [],
        labels: [],
        wechatAccounts: []
      },
      groups: [],
      leftTableData: [],
      rightTableData: []
      // isTableSelectionChange: false
    }
  },
  computed: {
    rightTableDataMap() {
      const map = {}
      this.rightTableData.forEach((v, index) => {
        map[v.id] = {
          index,
          item: v
        }
      })
      return map
    }
  },
  mounted() {
    this.leftTableDataList()
    this.searchConditionWxFriend()
  },
  methods: {
    // 当左边复选框，选择项发生变化时
    handleSelectionChange(rows) {
      // if (!this.isTableSelectionChange) return
      // selectionMap 左边的选中对象
      const selectionMap = {}
      rows.forEach(v => {
        selectionMap[v.id] = v
      })

      this.leftTableData.forEach(v => {
        if (selectionMap[v.id]) {
          if (!this.rightTableDataMap[v.id]) {
            this.rightTableData.push(v)
          }
        } else {
          if (this.rightTableDataMap[v.id]) {
            this.rightTableData.splice(this.rightTableDataMap[v.id].index, 1)
          }
        }
      })
    },
    // 获取微信好友手机列表(表单列表)
    async leftTableDataList() {
      const data = await marketPlatformApi.getWxFriendList(this.form)
      this.leftTableData = data
      if (this.rightTableData.length) {
        // this.isTableSelectionChange = false
        this.$nextTick(() => {
          data.forEach(v => {
            if (this.rightTableDataMap[v.id]) {
              this.$refs.leftTable.toggleRowSelection(v)
            }
          })
          // this.isTableSelectionChange = true
        })
      }
      return data
    },
    // 微信好友获取搜索信息
    async searchConditionWxFriend() {
      const data = await marketPlatformApi.searchConditionWxFriend()
      this.searchConditionData = data
    },
    // 微信好友根据个人号id获取分组信息
    async searchGroupsWxFriend(id) {
      if (id) {
        const data = await marketPlatformApi.searchGroupsWxFriend(id)
        this.groups = data
      }
    },
    // table是否可勾选
    selectableHandler(row, index) {
      if (row.phone.lastIndexOf('*') > -1) {
        return false
      } else {
        return true
      }
    }
  }
}
</script>
<style scoped>
</style>
