<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="newBinding">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="活动名称">
        </el-table-column>
        <el-table-column prop="name"
                         label="状态">
        </el-table-column>
        <el-table-column prop="address"
                         label="活动时间"
                         width="200">
        </el-table-column>
        <el-table-column prop="address"
                         label="最后编辑时间"
                         width="200">
        </el-table-column>
        <el-table-column prop="name"
                         label="创建员工">
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template>
            <el-button type="text"
                       size="small">查看</el-button>
            <el-button type="text"
                       size="small">下线</el-button>
            <el-button type="text"
                       size="small">统计</el-button>
            <el-button type="text"
                       size="small">链接二维码</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
    <vma-dialog title="info"
                v-model= "showNewBinding">
                <NewBinding></NewBinding>
                </vma-dialog>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'
import NewBinding from './newBinding'

export default {
  components: { collapse, NewBinding },
  data() {
    return {
      labelPosition: 'right',
      activeNames: ['1'],
      showNewBinding: false,
      form: {
        name: '',
        title: '',
        writting: ''
      },
      params: {
        activityState: true,
        activityName: true,
        sendingStaff: true,
        date: true
      },
      tableData: [
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市'
        }
      ],
      multipleSelection: [],
      dialogFormVisible: false
    }
  },
  created() {
  },
  methods: {
    queryCallback() {
      console.log(this.params)
    },
    newBinding() {
      this.showNewBinding = true
      this.isEdit = false
      this.isView = false
      this.openDialog.name = '新增'
      this.openDialog.type = 'new'
    }
  }
}
</script>
