<template>
    <el-form :model="form" :label-position="labelPosition">
        <el-form-item label="活动名称" >
        <el-input type="text" v-model="form.name" placeholder="12字以内"></el-input>
        </el-form-item>
        <el-form-item label="活动页面标题">
        <el-input type="text" v-model="form.title" placeholder="8字以内"></el-input>
        </el-form-item>
        <el-form-item label="活动分享文案">
        <el-input type="textarea" v-model="form.writting"></el-input>
        <p>用户发送给朋友是会显示该文案</p>
        </el-form-item>
    </el-form>
</template>

<script>
export default {
  data() {
    return {
      labelPosition: 'right',
      form: {
        name: '',
        title: '',
        writting: ''
      }
    }
  }
}
</script>
