<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-select class="ly-margin-right-bottom-sm"
                     v-model="params.status"
                     clearable
                     placeholder="状态">
            <el-option v-for="item in STATUS_LIST"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-date-picker
            v-model="dateVal"
            type="daterange"
            size="medium"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :default-time="['00:00:00', '23:59:59']"
            value-format="timestamp"
            @change="dateChange">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="addDomain(1)">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="doamin"
                         label="域名">
          <template slot-scope="scope">
            <span>{{scope.row.doamin || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="createTime"
                         label="创建时间">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="useNum"
                         label="使用次数">
          <template slot-scope="scope">
            <span>{{scope.row.useNum}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="status"
                         label="状态">
          <template slot-scope="scope">
            <el-switch
              :value="scope.row.status"
              :active-value="1"
              :inactive-value="2"
              @change="changeStatus($event, scope.row)"
              active-color="#4CD964">
            </el-switch>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
    </div>
    <!--添加公众号弹窗-->
    <el-dialog :title="domainDialog.type === 1 ? '新增域名' : '编辑域名'" :visible.sync="domainDialog.show" width="489px" v-if="domainDialog.show" @close="closeDomainDialog">
      <dConfigAddDomain :dialogProp="domainDialog" @closeDialog="closeDomainDialog" @refreshTableList="refreshTableList"></dConfigAddDomain>
    </el-dialog>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
import {dConfigAddDomain} from './components'
import { systemSettingsApi } from '@/api/sms'

export default {
  mixins: [tableMixin],
  components: {
    dConfigAddDomain
  },
  data() {
    return {
      activeNames: ['1'],
      dateVal: null,
      params: {
        status: '',
        startTime: '',
        endTime: ''
      },
      STATUS_LIST: [
        {
          value: 1,
          label: '正常'
        },
        {
          value: 2,
          label: '禁用'
        }
      ],
      domainDialog: {
      }
    }
  },
  methods: {
    dateChange(val) {
      val = val || []
      this.params.startTime = val[0] || ''
      this.params.endTime = val[1] || ''
    },
    /**
     * 获取域名列表
     */
    async requestTableList() {
      await systemSettingsApi.getDomainRecord(this.params).then((res) => {
        this.tableData = res
      })
    },
    /**
     * 获取--切换域名状态
     */
    async changeStatus(event, data) {
      let params = {
        id: data.id,
        status: event
      }
      await systemSettingsApi.toggleDomainStatus(params).then((res) => {
        this.getTableList()
      })
    },
    /**
     * 新增域名--弹窗显示
     */
    addDomain(type, data) {
      this.domainDialog = {
        show: true,
        type: type,
        data: data
      }
    },
    /**
     * 域名--新增或编辑--弹窗关闭
     */
    closeDomainDialog() {
      this.domainDialog = {}
    },
    refreshTableList(type) {
      if (type === 1) {
        this.params.status = ''
        this.params.startTime = ''
        this.params.endTime = ''
        this.params.current = 1
        this.dateVal = null
      }
      this.getTableList()
    }
  }
}
</script>
