<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-date-picker class="ly-margin-right-bottom-sm"
                          v-model="dateVal"
                          type="daterange"
                          size="medium"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          value-format="timestamp"
                          @change="dateChange">
          </el-date-picker>
          <el-input v-model.trim="params.packageName"
                    :maxlength="100"
                    @keyup.native.enter="getTableList(1)"
                    placeholder="套餐名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-select class="ly-margin-right-bottom-sm"
                     v-model="params.status"
                     clearable
                     placeholder="上架状态">
            <el-option v-for="item in PAYOUT_TYPE"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="addPackage(1)">创建套餐</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="packageName"
                         label="套餐名称">
          <template slot-scope="scope">
            <span>{{scope.row.packageName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="packageName"
                         label="创建时间">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="type"
                         label="套餐总价">
          <template slot-scope="scope">
            <span>{{scope.row.price | numberToFixed}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="versionNumber"
                         label="套餐内容">
          <template slot-scope="scope">
            <span v-if="scope.row.messageNum >= 0">{{scope.row.messageNum}}条短信</span>
            <span v-else>--</span>
          </template>
        </el-table-column>
        <el-table-column prop="versionCode"
                         label="上架状态">
          <template slot-scope="scope">
            <span v-if="scope.row.status === 0">下架</span>
            <span v-else-if="scope.row.status === 1">上架</span>
            <span v-else-if="scope.row.status === 2">未上架</span>
            <span v-else>--</span>
          </template>
        </el-table-column>
        <el-table-column label="操作"
                         width="160">
          <template slot-scope="scope">
            <el-button type="text" v-if="scope.row.status === 0 ||scope.row.status === 2" @click="addPackage(2, scope.row)">编辑</el-button>
            <el-button type="text" v-if="scope.row.status === 0 ||scope.row.status === 2" @click="deletePackage(scope.row)">删除</el-button>
            <el-button type="text" v-if="scope.row.status === 0 ||scope.row.status === 2" @click="togglePackageStatus(scope.row, 1)">上架</el-button>
            <el-button type="text" v-if="scope.row.status === 1" @click="togglePackageStatus(scope.row, 0)">下架</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
    </div>
    <!--添加公众号弹窗-->
    <el-dialog :title="packageDialog.type === 1 ? '创建套餐' : '编辑套餐'" :visible.sync="packageDialog.show" width="489px" v-if="packageDialog.show" @close="closePackageDialog">
      <pManageAddOrEdit :dialogProp="packageDialog" @closeDialog="closePackageDialog" @refreshTableList="refreshTableList"></pManageAddOrEdit>
    </el-dialog>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
import {pManageAddOrEdit} from './components'
import { systemSettingsApi } from '@/api/sms'

export default {
  mixins: [tableMixin],
  components: {
    pManageAddOrEdit
  },
  data() {
    return {
      activeNames: ['1'],
      dateVal: null,
      params: {
        status: '',
        packageName: '',
        startTime: '',
        endTime: ''
      },
      PAYOUT_TYPE: [
        {
          value: 0,
          label: '下架'
        },
        {
          value: 1,
          label: '上架'
        },
        {
          value: 2,
          label: '未上架'
        }
      ],
      packageDialog: {
      }
    }
  },
  methods: {
    dateChange(val) {
      val = val || []
      this.params.startTime = val[0] || ''
      this.params.endTime = val[1] || ''
    },
    /**
     * 获取套餐列表
     */
    async requestTableList() {
      await systemSettingsApi.getPackageRecords(this.params).then((res) => {
        this.tableData = res
      })
    },
    /**
     * 是否删除套餐
     */
    deletePackage(data) {
      this.$confirm('确认删除该套餐吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.confirmDel(data)
      }).catch(() => {
      })
    },
    /**
     * 是否删除套餐--确认删除
     */
    async confirmDel(data) {
      await systemSettingsApi.delPackage(data.id).then((res) => {
        this.success('删除成功!')
        this.getTableList()
      })
    },
    /**
     * 套餐上架或下架
     */
    togglePackageStatus(data, status) {
      let msg = status ? '该套餐将上架，用户可购买该套餐，确认上架吗？' : '该套餐将下架，且不可购买及支付，确认下架吗？'
      this.$confirm(msg, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.confirmToggleStatus(data, status)
      }).catch(() => {
      })
    },
    /**
     * 套餐上架或下架--确定
     */
    async confirmToggleStatus(data, status) {
      let params = {
        id: data.id,
        status: status
      }
      await systemSettingsApi.changePackageStatus(params).then((res) => {
        this.success('修改成功!')
        this.getTableList()
      })
    },
    /**
     * 套餐--新增或编辑--弹窗显示
     */
    addPackage(type, data) {
      this.packageDialog = {
        show: true,
        type: type,
        data: data
      }
    },
    /**
     * 套餐--新增或编辑--弹窗关闭
     */
    closePackageDialog() {
      this.packageDialog = {}
    },
    refreshTableList(type) {
      if (type === 1) {
        this.params.status = ''
        this.params.packageName = ''
        this.params.startTime = ''
        this.params.endTime = ''
        this.params.current = 1
        this.dateVal = null
      }
      this.getTableList()
    }
  }
}
</script>
