<template>
  <div class="ly-height-100">
    <div class="ly-bg-white ly-padding-sm ly-height-100">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1 ly-border-bottom-1">
          <span class="ly-vertical-line">系统设置</span>
        </div>
      </div>
      <div class="ly-margin-top-30px ly-margin-left-45px">
        <el-form :model="params"
                 :rules="rules"
                 ref="params"
                 label-width="100px">
          <el-form-item label="红包费率："
                        prop="redpage">
            <el-input v-model.trim="params.redpage"
                      :maxlength="100"
                      type="text"
                      class="ly-width-200px"></el-input><span class="ly-margin-left-10px">%</span>
          </el-form-item>
          <el-form-item label="短信费用："
                        prop="message">
            <el-input v-model.trim="params.message"
                      :maxlength="100"
                      type="text"
                      class="ly-width-200px"></el-input><span class="ly-margin-left-10px">元/条</span>
          </el-form-item>
          <el-button type="primary"
                     size="small"
                     @click="sureCallback('params')">保存</el-button>
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
import { systemSettingsApi } from '@/api/sms'

export default {
  data() {
    return {
      params: {
        message: '',
        redpage: ''
      },
      rules: {
        redpage: [
          { required: true, message: '红包费率不能为空' },
          { type: 'string', message: '红包费率必须为数字值', pattern: /^\d+(\.\d+)?$/ }
        ],
        message: [
          { required: true, message: '短信费用不能为空' },
          { type: 'string', message: '短信费用必须为数字值', pattern: /^\d+(\.\d+)?$/ }
        ]
      }
    }
  },
  created() {
    this.getSystemSet()
  },
  methods: {
    /**
     * 获取系统配置
     */
    getSystemSet() {
      systemSettingsApi.getSystemSettingsInfo().then((result) => {
        result.forEach(item => {
          if (item.configKey === 'message') {
            this.params.message = item.configValue
          } else if (item.configKey === 'redpage') {
            this.params.redpage = item.configValue
          }
        })
      })
    },
    sureCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          systemSettingsApi.updateSystemSettings(this.params).then(() => {
            this.success('保存成功')
            this.getSystemSet()
          })
        } else {
          this.error('请输入正确的表单信息')
          return false
        }
      })
    }
  }
}
</script>
