<template>
  <el-form ref="form"
           :model="form"
           :rules="rules"
           label-width="120px">
    <el-form-item label="拒绝理由"
                  prop="checkRemark">
      <el-input type="textarea"
                :rows="5"
                v-model="form.checkRemark"
                :maxlength="20"
                class="ly-width-280px-im"></el-input>
      <p class="ly-font-color-4">拒绝理由将反馈给客户（最多20字）</p>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('form')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>

export default {
  props: ['dialog'],
  data() {
    return {
      form: {
        checkRemark: ''
      },
      rules: {
        checkRemark: [
          { required: true, message: '请填写拒绝理由' },
          { max: 20, message: '拒绝理由不能超过20个字' }
        ]
      }
    }
  },
  methods: {
    // 提交表单
    sureCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.form.checkRemark = this.form.checkRemark.trim()
          if (this.form.checkRemark) {
            this.$emit('refuseCallback', this.form.checkRemark)
          }
        } else {
          return false
        }
      })
    }
  }
}
</script>
<style scoped>
</style>
