<template>
  <el-form ref="form"
           :model="form"
           :rules="rules"
           label-width="120px">
    <p class="ly-font-color-4"
       style="margin: 0 0 12px 76px;">共选中{{dialog.len}}条记录</p>
    <el-form-item label="审核:">
      <el-radio-group v-model="form.status">
        <el-radio :label="2">通过</el-radio>
        <el-radio :label="3">拒绝</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="拒绝理由："
                  v-if="form.status === 3"
                  prop="checkRemark">
      <el-input type="textarea"
                :rows="5"
                v-model.trim="form.checkRemark"
                :maxlength="20"
                class="ly-width-280px-im"></el-input>
      <p class="ly-font-color-4">拒绝理由将反馈给客户（最多20字）</p>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('form')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>

export default {
  props: ['dialog'],
  data() {
    return {
      form: {
        status: 2, // 0无效1未审核2通过3拒绝
        checkRemark: ''
      },
      rules: {
        checkRemark: [
          { required: true, message: '请填写拒绝理由' },
          { max: 20, message: '拒绝理由不能超过20个字' }
        ]
      }
    }
  },
  methods: {
    // 提交表单
    sureCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.form.status === 2) {
            this.$emit('adoptCallback', this.form)
          } else if (this.form.status === 3) {
            this.$emit('refuseCallback', this.form)
          } else {
            this.dialog.open = true
          }
        } else {
          return false
        }
      })
    }
  }
}
</script>
