<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.title"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="标题"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="newMicroCodeClick">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="创建时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="title"
                         label="标题">
        </el-table-column>
        <el-table-column prop="tip"
                         label="提示文字">
        </el-table-column>
        <el-table-column label="微活码">
          <template slot-scope="scope">
            <el-popover placement="bottom"
                        width="200"
                        trigger="click">
              <img slot="reference"
                   src="@/assets/images/icons/qrcode.png"
                   class="ly-wh-30px">
              <MiQrcode :url='scope.row.shortLink'
                        ref="Qrcode"
                        :size='200'
                        :id='scope.row.id'></MiQrcode>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="shortLink"
                         label="微活码链接">
        </el-table-column>
        <el-table-column prop="status"
                         label="状态">
          <!-- 状态：0无效1有效-->
          <template slot-scope="scope">
            <span v-if="scope.row.status==1">有效</span>
            <span v-if="scope.row.status==0">无效</span>
          </template>
        </el-table-column>
        <el-table-column label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="editMicroCodeClick(scope.row.id)">编辑</el-button>
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small"
                       @click="handleClose(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <!-- 新增或者编辑微活码 -->
    <NewOrEditMicroCode v-if="showNewOrEditMicroCodeDialog"
                        v-model="showNewOrEditMicroCodeDialog"
                        :currId='currId'
                        :isEdit='isEdit'
                        @on-success='newOrEditSuccess'></NewOrEditMicroCode>
    <!-- 新增或者编辑微活码 -->
    <ShowMicroCode v-if="showShowMicroCodeDialog"
                   v-model="showShowMicroCodeDialog"
                   :linkUrl='linkUrl'></ShowMicroCode>
  </div>
</template>

<script>
import { powderManageApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import MiQrcode from './components/microCode2/miQrcode' // 微活码
import NewOrEditMicroCode from './components/microCode2/newOrEditMicroCode' // 新增或者编辑微活码
import ShowMicroCode from './components/microCode2/showMicroCode' // 展示二维码

export default {
  mixins: [tableMixin],
  components: { MiQrcode, NewOrEditMicroCode, ShowMicroCode },
  data() {
    return {
      activeNames: ['1'],
      showNewOrEditMicroCodeDialog: false,
      showShowMicroCodeDialog: false,
      currId: '',
      isEdit: false,
      linkUrl: ''
    }
  },
  methods: {
    async requestTableList() {
      const data = await powderManageApi.getMicroCodeList(this.params)
      this.tableData = data
    },
    // 点击新增
    newMicroCodeClick() {
      this.currId = ''
      this.isEdit = false
      this.showNewOrEditMicroCodeDialog = true
    },
    // 点击编辑
    editMicroCodeClick(id) {
      this.currId = id
      this.isEdit = true
      this.showNewOrEditMicroCodeDialog = true
    },
    // 删除
    async deleteCallback(id) {
      await powderManageApi.delMicroCode(id)
      this.getTableList(1, this.params.size)
    },
    newOrEditSuccess(url) {
      this.linkUrl = url
      this.getTableList(1, this.params.size)
      this.showShowMicroCodeDialog = true
    }
  }
}
</script>
