<template>
  <div>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button size="small"
                     @click="getTableList(1)">刷新</el-button>
          <el-button type="primary"
                     size="small"
                     @click="set.open = true">设置</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="phone"
                         label="手机号">
        </el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">
            <span>{{scope.row.status==1?'成功':'失败'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="msg"
                         label="消息内容">
        </el-table-column>
        <el-table-column label="添加时间"
                         min-width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="加入个人号"
                         min-width="200">
          <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px"
                     :src="scope.row.wechatAccountHeadIcon | wechatAvtor"
                     v-image-view />
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.wechatAccountNickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.wechatAccountPhone}}</p>
                <p class="ly-margin-top-4">{{scope.row.wechatAccountWxId}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
      <!-- 弹窗 -->
      <el-dialog title="设置"
                 :visible.sync="set.open"
                 class="ly-dialogbody-maxh-60vh"
                 width="700px" append-to-body>
        <storePlus :dataInfo="set"
                   v-if="set.open"></storePlus>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import storePlus from './components/storePlus'
import { powderManageApi } from '@/api/system'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { personalInfo, storePlus },
  data() {
    return {
      tableData: [],
      set: {
        open: false
      }
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await powderManageApi.logList(this.params).then(res => {
        this.tableData = res
      })
    }
  }
}
</script>
