<template>
  <div ref="chart"></div>
</template>

<script>
import echarts from "echarts";
import options from "./src/options";
import { homeApi } from "@/api/oms";
import { echartResizeMixin } from "@/mixins";
import { mapGetters } from "vuex";
export default {
  mixins: [echartResizeMixin],
  data() {
    return {
      chart: null,
      params: {
        enterpriseId: "",
        type: ""
      }
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart(this.type);
    });
  },
  computed: {
    ...mapGetters(["adminInfo"])
  },
  methods: {
    buildChart(type = 1, m) {
      this.params.enterpriseId = m;
      this.params.type = type;
      

      const friendTxt = this.adminInfo.isAdmin
        ? ""
        : "";
      const groupTxt = this.adminInfo.isAdmin
        ? ""
        : "";
      const typeList = {
        1: "好友净增个数（人）" + friendTxt,
        2: "群净增个数（个）" + groupTxt
      };
      options.title.text = typeList[type];
      options.series[0].name = typeList[type];
      homeApi.getfriendTotal(this.params).then(data => {
        let flag = data.list.every(v => v.value <= 5);
        if (flag) {
          options.yAxis[0].max = 3;
        } else {
          options.yAxis[0].max = null;
        }
        options.xAxis[0].data = data.list.map(v => {
          return v.name;
        });
        options.series[0].data = data.list.map(v => {
          return v.value;
        });
        options.title.subtext = data.total + "";
        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart);
          this.adaptWindowResize(this.chart);
        }
        this.chart.setOption(options);
      });
    },

    // buildChart(type = 1) {
    //   const friendTxt = this.adminInfo.isAdmin
    //     ? ""
    //     : "";
    //   const groupTxt = this.adminInfo.isAdmin
    //     ? ""
    //     : "";
    //   const typeList = {
    //     1: "好友净增个数（人）" + friendTxt,
    //     2: "群净增个数（个）" + groupTxt
    //   };
    //   options.title.text = typeList[type];
    //   options.series[0].name = typeList[type];
    //   homeApi.getfriendTotal({ type }).then(data => {
    //     let flag = data.list.every(v => v.value <= 5);
    //     if (flag) {
    //       options.yAxis[0].max = 3;
    //     } else {
    //       options.yAxis[0].max = null;
    //     }
    //     options.xAxis[0].data = data.list.map(v => {
    //       return v.name;
    //     });
    //     options.series[0].data = data.list.map(v => {
    //       return v.value;
    //     });
    //     options.title.subtext = data.total + "";
    //     if (!this.chart) {
    //       this.chart = echarts.init(this.$refs.chart);
    //       this.adaptWindowResize(this.chart);
    //     }
    //     this.chart.setOption(options);
    //   });
    // }
  }
};
</script>
