<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
<div class="ly-clearfix ly-search-lay">
    <el-form ref="form" :model="params" :rules="rules" :inline="true">
        <!--部门级联已经调整-->
        <!-- <setGroupSelect @selectVal='selectVal' ref="clearGroupName" placeholder='请选择群信息' class="ly-margin-right-bottom-sm"></setGroupSelect> -->
        <departmenTreeCascadert v-model="departmentId" filterable clearable placeholder="员工所属部门" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
        <el-input placeholder="请输入微信昵称/备注" class="ly-margin-right-bottom-sm" v-model.trim="params.wechatAccount" @keyup.native.enter="search" :maxlength="100" clearable>
            <template slot="prepend">所属个人号</template>
        </el-input>
        <el-input placeholder="输入员工账号/姓名" class="ly-margin-right-bottom-sm" v-model.trim="params.staff" @keyup.native.enter="search" :maxlength="100" clearable>
            <template slot="prepend">所属员工</template>
        </el-input>
        <el-form-item prop="startTime">
            <el-date-picker v-model="params.startTime" type="date" placeholder="开始日期" value-format="timestamp" :clearable="true" ref="datePicker" :picker-options="pickerOptionsStart" @change="onChangeStartTime">
            </el-date-picker>
        </el-form-item>
        <el-form-item prop="endTime">
            <el-date-picker v-model="params.endTime" type="date" placeholder="结束日期" value-format="timestamp" :clearable="true" ref="datePicker" :picker-options="pickerOptionsEnd" @change="onChangeEndTime">
            </el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button-group class="el-button-group-tabs">
                <el-button :type="params.startTime === TYPE.HOUR[0] && params.endTime === TYPE.HOUR[1] ? 'primary' : 'default'" @click="changeType(1,TYPE.HOUR)">昨天</el-button>
                <el-button :type="params.startTime === TYPE.DAY[0] && params.endTime === TYPE.DAY[1] ? 'primary' : 'default'" @click="changeType(2,TYPE.DAY)">近7天</el-button>
                <el-button :type="params.startTime === TYPE.MONTH[0] && params.endTime === TYPE.MONTH[1] ? 'primary' : 'default'" @click="changeType(3,TYPE.MONTH)">近30天</el-button>
            </el-button-group>
        </el-form-item>

        <!-- button -->
        <div class="ly-float-right ly-margin-bottom-sm">
            <el-button class="ly-float-right ly-margin-right-sm plain" size="medium" @click="resetCallback">重置
            </el-button>
            <el-button class="ly-float-right ly-margin-right-sm mr-20" type="primary" size="medium" @click="search">搜索
            </el-button>
        </div>
    </el-form>
</div>
</el-collapse-item>
</el-collapse>
<!-- 统计图 -->
<div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm">
    <statisticsChart :tableData="tableData"></statisticsChart>
</div>
<!-- 数据列表 -->
<div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm">
    <!-- 表头 -->
    <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
        </div>
    </div>
    <!-- 表格 -->
    <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" :default-sort="{prop: 'countDate', order: 'descending'}" class="ly-width-100" max-height="670">
        <el-table-column label="日期" prop="countDate">
            <template slot-scope="scope">
            <span>{{ scope.row.countDate | date('yyyy-MM-dd') }}</span>
          </template>
        </el-table-column>
        <el-table-column>
            <template slot="header" slot-scope="scope">
            群消息数<el-tooltip :content="interactiveStatisticsMap.GROUP_MSG_NUM.content" placement="top-start" effect="light"><i class="icon icon-qusetion ly-vertical-text-bottom ly-margin-left-5px"></i></el-tooltip>
          </template>
            <template slot-scope="scope">
            <span>{{ scope.row.groupMsgNum }}</span>
          </template>
        </el-table-column>
        <el-table-column>
            <template slot="header" slot-scope="scope">
            群发言人数<el-tooltip :content="interactiveStatisticsMap.GROUP_MSG_USER_NUM.content" placement="top-start" effect="light"><i class="icon icon-qusetion ly-vertical-text-bottom ly-margin-left-5px"></i></el-tooltip>
          </template>
            <template slot-scope="scope">
            <span>{{ scope.row.groupMsgUserNum }}</span>
          </template>
        </el-table-column>
        <el-table-column>
            <template slot="header" slot-scope="scope">
            群平均消息数<el-tooltip :content="interactiveStatisticsMap.GROUP_AVG_MSG_NUM.content" placement="top-start" effect="light"><i class="icon icon-qusetion ly-vertical-text-bottom ly-margin-left-5px"></i></el-tooltip>
          </template>
            <template slot-scope="scope">
            <span>{{ scope.row.groupAvgMsgNum }}</span>
          </template>
        </el-table-column>
        <el-table-column>
            <template slot="header" slot-scope="scope">
            群发言比例<el-tooltip :content="interactiveStatisticsMap.GROUP_MSG_PROPORTION.content" placement="top-start" effect="light"><i class="icon icon-qusetion ly-vertical-text-bottom ly-margin-left-5px"></i></el-tooltip>
          </template>
            <template slot-scope="scope">
            <span>{{ scope.row.groupMsgProportion + '%' }}</span>
          </template>
        </el-table-column>
    </el-table>
</div>
</div>
</template>

<script>
    import {
        departmenTreeCascadert
    } from '@/components/packages/system/lazyCascader'
    import setGroupSelect from '@/components/common/setGroupSelect'
    import statisticsChart from './components/statisticsChart'
    import {
        getBeforeNumTimeStramp,
        getTodayDate
    } from '@/utils'
    import INTERACTIVE_STATISTICS_MAP from './src/interactiveStatisticsMap'
    import {
        v2communityManage,
        commonApi
    } from '@/api/system'
    // import { tableMixin } from '@/mixins'
    const TYPE = {
        // 昨天
        HOUR: [getBeforeNumTimeStramp(1), getBeforeNumTimeStramp()],
        // 近7天
        DAY: [getBeforeNumTimeStramp(7), getBeforeNumTimeStramp()],
        // 近30天
        MONTH: [getBeforeNumTimeStramp(30), getBeforeNumTimeStramp()]
    }

    export default {
        // mixins: [tableMixin],
        components: {
            departmenTreeCascadert,
            statisticsChart,
            setGroupSelect
        },
        data() {

            // 默认7天
            const defaultParamsDataRange = 2
                // 时间范围最多60天
            const secondDiff = 60 * 3600000 * 24
            let that = this
            return {

                TYPE,
                interactiveStatisticsMap: INTERACTIVE_STATISTICS_MAP,
                activeNames: ['1'],
                defaultParamsDataRange,
                pickerOptionsStart: {
                    disabledDate(time) {
                        const afterToday = time > Date.now()
                        if (that.params.endTime === null) {
                            return afterToday
                        }
                        return afterToday || time > that.params.endTime || (that.params.endTime - time) > secondDiff
                    }
                },
                pickerOptionsEnd: {
                    disabledDate(time) {
                        const afterToday = time >= getTodayDate(0)
                        if (that.params.startTime === null) {
                            return afterToday
                        }
                        return afterToday || that.params.startTime > time || (time - that.params.startTime) > secondDiff
                    }
                },
                // 秒数差
                secondDiff,
                rules: {
                    startTime: [{
                        required: true,
                        message: '请选择开始日期'
                    }],
                    endTime: [{
                        required: true,
                        message: '请选择结束日期'
                    }]
                },
                departmentId: [],

                paramsSpecial: {
                    departmentId: null,
                    wechatAccount: null,
                    staff: null,
                    startTime: null,
                    endTime: null,
                    dateRange: defaultParamsDataRange,
                    // 接口新增参数
                    wxId: '',
                    groupName: '',
                },
                params: {
                    departmentId: null,
                    wechatAccount: null,
                    staff: null,
                    startTime: null,
                    endTime: null,
                    dateRange: null,
                    // 接口新增参数
                    wxId: null,
                    groupName: '',
                },
                tableData: []
            }
        },
        watch: {
            departmentId(val) {
                let id = val[val.length - 1] || null
                this.params.departmentId = id
            },
        },
        created() {
            this.changeType(this.defaultParamsDataRange, this.TYPE.DAY);
        },
        methods: {
            // selectVal(wxId, value) {
            //     this.params.wxId = wxId;
            //     this.paramsSpecial.groupName = value
            // },
            /**
             * 切换时间区间
             * @param type
             * @param val
             */
            changeType(type, val = []) {
                // 时间模式
                this.params.dateRange = type || null
                    // 更改时间选择器的值
                this.$set(this.params, 'startTime', val[0] || null)
                this.$set(this.params, 'endTime', val[1] || null)
                this.requestTableList()
            },
            onChangeStartTime(val) {
                this.timeAccordWithType(val, this.params.endTime)
            },
            onChangeEndTime(val) {
                // 如果选的是昨天，默认选择昨天的23:59
                const today = getTodayDate(0)
                if (today - (3600000 * 24) <= val) {
                    this.params.endTime = today - 1000
                }
                this.timeAccordWithType(this.params.startTime, val)
            },
            // 是否符合昨天、7天、30天区间
            timeAccordWithType(startTime, endTime) {
                const inType = (startTime === this.TYPE.HOUR[0] && endTime === this.TYPE.HOUR[1]) || (startTime === this.TYPE.HOUR[0] && endTime === this.TYPE.HOUR[1]) || (startTime === this.TYPE.HOUR[0] && endTime === this.TYPE.HOUR[1])
                if (!inType) {
                    this.params.dateRange = null
                }
            },
            async search() {
                await this.$refs.form.validate()
                this.requestTableList()
            },
            async requestTableList() {
                this.tableData = await v2communityManage.groupInteractiveMessageCount(this.params) || [];
            },
            // 重置
            resetCallback() {
                this.$refs.clearGroupName.clear()
                this.params = Object.assign({}, this.params, this.paramsSpecial)
                this.departmentId = []
                this.changeType(this.defaultParamsDataRange, this.TYPE.DAY)

            }
        }
    }
</script>