<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix ly-padding-bottom-xs">
          <el-select class="ly-margin-right-sm"
                     clearable
                     v-model="params.type"
                     placeholder="平台类型">
            <el-option v-for="item in typeList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询</el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="openCallback($event, 'set')">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="shopName"
                         label="店铺名称">
        </el-table-column>
        <el-table-column prop="type"
                         label="平台类型">
          <template slot-scope="scope">
            <span v-if="scope.row.type === 1">淘宝</span>
            <span v-else-if="scope.row.type === 2">京东</span>
            <span v-else-if="scope.row.type === 3">拼多多</span>
          </template>
        </el-table-column>
        <el-table-column prop="expirationTime"
                         label="过期时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.expirationTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       v-if="scope.row.status === 0 && scope.row.type === 1"
                       @click="openCallback($event, 'auth', scope.row)">授权</el-button>
            <el-button type="text"
                       size="small"
                       @click="openCallback($event, 'editor', scope.row)">编辑</el-button>
            <!-- <span class="ly-font-color-7 ly-cursor-pointer ly-margin-left-10px ly-font-weight-300"
                  @click="deleteStore(scope.row)"
                  v-if="hasDeleteAction">删除</span> -->
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
    <!-- 新增/编辑店铺 -->
    <el-dialog :title="set.title"
               :visible.sync="set.open"
               width="489px" append-to-body>
      <addStore :dataInfo="set"
                v-if="set.open"
                @getTableList="getTableList"></addStore>
    </el-dialog>
    <!-- 授权店铺 -->
    <el-dialog :title="auth.title"
               :visible.sync="auth.open"
               width="489px" append-to-body>
      <authStoreDialog :dataInfo="auth"
                v-if="auth.open"
                @getTableList="getTableList"></authStoreDialog>
    </el-dialog>
  </div>
</template>

<script>
import { ecommercePlatformApi } from '@/api/system'
import addStore from './components/addStore.vue'
import authStoreDialog from './components/authStoreDialog.vue'
import { resourceMixin, tableMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [tableMixin, resourceMixin],
  components: { addStore, authStoreDialog },
  data() {
    return {
      params: {
        type: null
      },
      activeNames: ['1'],
      tableData: [
      ],
      set: {
        title: '',
        open: false,
        data: {
          storeInfo: {}
        }
      },
      auth: {
        title: '',
        open: false,
        data: {
          storeInfo: {}
        }
      },
      typeList: [
        { value: 1, label: '淘宝' },
        { value: 2, label: '京东' },
        { value: 3, label: '拼多多' }
      ]
    }
  },
  computed: {
    // 是否拥有删除商铺的权限
    hasDeleteAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.DELETE_STORE)
    }
  },
  methods: {
    async requestTableList() {
      await ecommercePlatformApi.getStoreList(this.params).then((result) => {
        this.tableData = result
      })
    },
    /**
     * 打开新增/编辑店铺弹窗
     */
    openCallback(defObj, val, data) {
      switch (val) {
        case 'set':
          this.set.title = '新增店铺'
          this.set.open = true
          this.set.data = {
            storeInfo: {}
          }
          break
        case 'editor':
          this.set.title = '编辑店铺'
          this.set.open = true
          this.set.data = {
            storeInfo: data
          }
          break
        case 'auth':
          this.auth.title = '授权'
          this.auth.open = true
          this.auth.data = {
            storeInfo: data
          }
      }
    },
    // 删除店铺
    deleteStore(data) {
      this.$confirm('删除店铺将删除与店铺相关的所有数据,是否确定删除该店铺？', '提示').then(() => {
        ecommercePlatformApi.deleteStore(data.id).then(() => {
          this.success('店铺删除成功')
          if (this.tableData.records.length === 1 && this.params.current > 1) {
            this.getTableList(this.params.current - 1)
          } else {
            this.getTableList()
          }
        })
      }, () => { })
    }
  }
}
</script>
