<template>
  <div>
    <el-form class="staff-form" :model="params" :rules="rules" ref="ruleForm" v-if="dialogProp.show">
      <el-form-item label="个人号:"
                    class="personNumcheck"
                    :label-width="formLabelWidth"
                    prop="wechatAccountIds">
        <selectPersonNumCascadert v-model="wechatAccountIds"
                                  @initial="initialWechatAccount"
                                  :list="wechatAccount.list"
                                  @change="changePersonNum"
                                  style="width: 230px"
                                  filterable
                                  size="medium"
                                  placeholder="请选择个人号">

        </selectPersonNumCascadert>
      </el-form-item>
      <el-form-item label="部门:" :label-width="formLabelWidth">
        <!--部门级联已经调整-->
        <departmenTreeCascadert v-model="departmentId"
                                filterable
                                clearable
                                placeholder="请选择接收员工部门" style="width: 230px"></departmenTreeCascadert>
      </el-form-item>
      <el-form-item label="分配员工:" :label-width="formLabelWidth" prop="staffId">
        <!--分配员工已经调整-->
        <departmentStaff placeholder="请选择或搜索要分配的员工"
                         style="width: 230px"
                         v-model="params.staffId"
                         filterable
                         clearable
                         v-if="initStaffStatus"
                         :parentId="departmentId"></departmentStaff>
      </el-form-item>
      <el-form-item>
        <p class="colortip ly-text-center">一键分配后，原已分配好友也将被重新分配</p>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" @click="colseDialog">取 消</el-button>
          <el-button size="medium" class="ly-margin-right-18px" type="primary" @click="confirmSubmit">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import { personalNumManageApi } from '@/api/system'
import {
  departmentStaff
} from '@/components/packages/system/lazySelect'
import {
  departmenTreeCascadert,
  selectPersonNumCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  components: {
    personalInfo,
    departmenTreeCascadert,
    departmentStaff,
    selectPersonNumCascadert
  },
  props: {
    dialogProp: {
      // type: 1, // 1--好友列表，2--表示群列表
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      departmentId: [],
      wechatAccountIds: [],
      params: {
        departmentId: '',
        staffId: '',
        wechatAccountIds: []
      },
      initStaffStatus: true,
      wechatAccount: {
        list: null
      },
      rules: {
        wechatAccountIds: [
          { required: true, message: '请选择个人号' }
        ],
        staffId: [
          { required: true, message: '请选择要分配的员工' }
        ]
      }
    }
  },
  watch: {
    'departmentId': function (val, oldVal) {
      let oldDepartmentId = this.params.departmentId
      let newDepartmentId = val[val.length - 1] || ''
      if (oldDepartmentId !== newDepartmentId) {
        this.params.staffId = ''
        this.initStaffStatus = false
        this.$nextTick(() => {
          this.initStaffStatus = true
        })
      }
      this.params.departmentId = newDepartmentId
    }
  },
  created() {
  },
  methods: {
    changePersonNum(val) {
      let wechatAccountIds = this.wechatAccountIds.length ? this.wechatAccountIds[this.wechatAccountIds.length - 1] : ''
      this.params.wechatAccountIds = wechatAccountIds ? [wechatAccountIds] : []
    },
    colseDialog() {
      this.$emit('colseDialog')
    },
    changeAccount(val) {},
    confirmSubmit() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.submitData()
        } else {
          return false
        }
      })
    },
    async submitData() {
      let param = {
        wechatAccountIds: this.params.wechatAccountIds,
        staffId: this.params.staffId
      }
      if (this.dialogProp.type === 1) {
        // 微信好友列表--一键分配
        await personalNumManageApi.friendsListStaffUsersKey(param).then(() => {
          this.staffSuccess()
        })
      } else {
        // 微信群列表--一键分配
        await personalNumManageApi.wechatGroupListAssignStaffKey(param).then(() => {
          this.staffSuccess()
        })
      }
    },
    staffSuccess() {
      this.success('分配成功')
      this.colseDialog()
      this.$emit('getTableList')
      this.$emit('removeChecked')
    },
    initialWechatAccount(data) {
      this.wechatAccount.list = data
    }
  }
}
</script>
<style lang="scss">
  .personNumcheck{
    .el-form-item__label{
      line-height: 40px;
    }
    .ly-margin-right-bottom-sm{
      margin-bottom: 0;
      line-height: 40px;
    }
  }
  .staff-form{
    .ly-margin-right-bottom-sm{
      margin-bottom: 0;
    }
  }
</style>
