<template>
  <div style="background-color: #f1f4f6;">
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
<div class="ly-clearfix">
    <el-input v-model="params.wechatUserRelatesInformation" @keyup.native.enter="getTableList(1)" :maxlength="100" placeholder="请输入微信号/微信昵称/微信备注" class="ly-margin-right-bottom-sm" clearable>
    </el-input>
    <el-select v-model="params.status" placeholder="执行状态" clearable class="ly-margin-right-sm">
        <el-option label="未执行" :value="0">
        </el-option>
        <el-option label="执行成功" :value="1">
        </el-option>
        <el-option label="执行失败" :value="2">
        </el-option>
    </el-select>
    <el-input v-model="params.staffRelatesInformation" @keyup.native.enter="getTableList(1)" placeholder="请输入员工账号/姓名" :maxlength="100" class="ly-margin-right-bottom-sm" clearable>
    </el-input>
    <el-date-picker class="ly-margin-right-bottom-sm" type="daterange" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" v-model="searchDate" clearable>
    </el-date-picker>
    <el-button class="ly-float-right" type="primary" size="medium" @click="getTableList(1)">查询
    </el-button>
</div>
</el-collapse-item>
</el-collapse>
<!-- 数据列表 -->
<div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
    <!-- 表头 -->
    <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          群发编号：<span v-if="dialogProps.data">{{dialogProps.data.uuid}}</span>
        <el-popover placement="top" popper-class="tip-green" trigger="hover">
            当群发消息执行出现异常时，复制完整的群发编码，便于客服查询异常原因；
            <el-button slot="reference" type="text">
                <i class="el-icon-question ly-font-color-6"></i>
            </el-button>
        </el-popover>
        </span>
    </div>
    <!-- 表格 -->
    <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%" row-key="id">
        <el-table-column label="微信昵称">
            <template slot-scope="scope">
            {{scope.row.nickName || '--'}}
          </template>
        </el-table-column>
        <el-table-column label="微信号" align="center">
            <template slot-scope="scope">
            {{scope.row.account || '--'}}
          </template>
        </el-table-column>
        <el-table-column label="微信备注">
            <template slot-scope="scope">
            {{scope.row.remark || '--'}}
          </template>
        </el-table-column>
        <el-table-column label="客户姓名" align="center">
            <template slot-scope="scope">
            {{scope.row.realName || '--'}}
          </template>
        </el-table-column>
        <el-table-column label="创建员工" align="center">
            <template slot-scope="scope">
            {{scope.row.staffAccount}}({{scope.row.staffName}})
          </template>
        </el-table-column>
        <el-table-column label="所属部门">
            <template slot-scope="scope">
            {{scope.row.departmentName || '--'}}
          </template>
        </el-table-column>
        <el-table-column prop="address" label="所属个人号" min-width="280">
            <template slot-scope="scope">
            <personalInfos :info="scope.row.info"></personalInfos>
          </template>
        </el-table-column>
        <el-table-column label='群好友数' align='center'>
          <template slot-scope='scope'>
          {{scope.row.groupNum || '--'}}
          </template>
        </el-table-column>
        <el-table-column label="消息内容" min-width="140">
            <template slot-scope="scope">
          <videoAudioImg :info="scope.row"></videoAudioImg>
        </template>
        </el-table-column>

        <el-table-column label="执行时间" align="center">
            <template slot-scope="scope">
            {{scope.row.executeTime | date}}
          </template>
        </el-table-column>
        <el-table-column label="执行状态" align="center">
            <template slot-scope="scope">
            <span v-if="scope.row.status===0" class="ly-font-5">进行中</span>
            <span v-if="scope.row.status===1" class="ly-font-6">发送成功</span>
            <span v-if="scope.row.status===2" class="ly-font-7">发送失败</span>
          </template>
        </el-table-column>
        <el-table-column label="详细原因">
            <template slot-scope="scope">
            {{scope.row.reason || '--'}}
          </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="getTableList" />
    </div>
</div>
</div>
</template>

<script>
    import {
        personalNumManageApi
    } from '@/api/system'
    import {
        tableMixin
    } from '@/mixins'
    import videoAudioImg from '@/components/common/videoAudioImg'
    import personalInfos from '@/components/common/personalInfos'
    export default {
        mixins: [tableMixin],
        props: {
            dialogProps: {
                type: Object,
                default: function() {
                    return {}
                }
            }
        },
        components: {
            videoAudioImg,
            personalInfos
        },
        data() {
            return {
                activeNames: ['1'],
                searchDate: '',
                params: {
                    pushHistoryId: '',
                    title: '',
                    staffRelatesInformation: '',
                    createTimeBegin: '',
                    createTimeEnd: ''
                },
                tableData: {}
            }
        },
        watch: {
            'searchDate' (val, oldVal) {
                val = val || []
                this.params.createTimeBegin = val[0] || ''
                this.params.createTimeEnd = val[1] || ''
            },
            'dialogProps' (val, oldVal) {
                if (val.data) {
                    this.$nextTick(() => {
                        this.getTableList(1)
                    })
                }
            }
        },
        created() {},
        methods: {
            async requestTableList() {
                if (!this.dialogProps.data) {
                    return
                }
                this.params.pushHistoryId = this.dialogProps.data.id
                await personalNumManageApi.groupRecordDetail(this.params).then((data) => {
                    data.records.forEach(o => {
                        o.msgType = o.type
                        o.msgSource = o.content
                        if (o.type === 4) {
                            o.vedioImg = o.coverInfo
                        }
                        o.info = {
                            headIcon: o.wechatAccountHeadIcon,
                            wxId: o.wechatAccountWxId,
                            nickName: o.wechatAccountNickName,
                            phone: o.wechatAccountPhone,
                            account: o.wechatAccount,
                            row: o
                        }
                    })
                    this.tableData = data
                })
            },
            /**
             * 查询
             */
            queryCallback() {
                this.getTableList(1)
            },
            /**
             * 群发明细
             */
            showDetailDialog(index, data) {}
        }
    }
</script>