<template>
  <div>
    <!--<el-dialog :title="'群['+dialogProp.data.groupName+']的成员'" :visible.sync="dialogProp.show" width="489px" class="dialog-groupmembers-list">-->
    <el-alert
      title="若成员/信息未显示完整请在个人号上点击群详情，app将自动同步群成员信息"
      type="info"
      class="mb-10" />
    <el-table :data="tableData.records">
      <el-table-column
        label="姓名"
        align="center"
        width="80">
        <template slot-scope="scope">
          <div class="user-avatar">
            <img :src="scope.row.headIcon | csAvtor" v-image-view/>
          </div>
        </template>
      </el-table-column>
      <el-table-column property="nickName" label="成员昵称">
        <template slot-scope="scope">
          <p>{{scope.row.nickName || '--'}}<span v-if="scope.row.status === 0">(被踢出/主动退出)</span></p>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
      <vma-pagination class="ly-text-right ly-box-1"
                      :pageNum="params.current"
                      :page-size="params.size"
                      :total="tableData.total"
                      :layout="layout"
                      @change="pageChange" />
    </div>
    <div class="ly-margin-top-10px ly-text-right">
      <el-button size="medium" class="ly-margin-right-18px" @click="colseDialog">关 闭</el-button>
    </div>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import { personalNumManageApi } from '@/api/system'
import { tableMixin } from '@/mixins'
export default {
  mixins: [tableMixin],
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      layout: ' pager, jumper, ->, total',
      params: {
        id: '',
        name: '',
        current: 1,
        size: 20
      },
      tableData: {}
    }
  },
  created() {
    this.params.id = this.dialogProp.id
  },
  methods: {
    colseDialog() {
      this.$emit('colseDialog')
    },
    async requestTableList() {
      await personalNumManageApi.wechatGroupListGroupMembers(this.params).then((res) => {
        this.tableData = res
      })
    },
    pageChange(pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    }
  }
}
</script>
