<template>
  <div>
    <el-form :model="form" v-if="dialogProp.data" @submit.native.prevent>
      <el-form-item label="微信昵称:" :label-width="formLabelWidth">
        {{dialogProp.data.nickName}}
      </el-form-item>
      <el-form-item label="微信备注:" :label-width="formLabelWidth">
        <el-input v-model.trim="remark" :maxlength="50" autocomplete="off" placeholder="微信备注" class="ly-width-249px-im" clearable></el-input>
      </el-form-item>
    </el-form>
    <div class="ly-text-right">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" class="ly-margin-right-18" type="primary" @click="submitRemarkInfo">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { personalNumManageApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      form: {},
      remark: '',
      formLabelWidth: '136px'
    }
  },
  created() {
    this.remark = this.dialogProp.data.remark
  },
  methods: {
    async submitRemarkInfo() {
      let params = {
        id: this.dialogProp.data.id,
        remark: this.remark || ''
      }
      await personalNumManageApi.accountRemark(params)
      this.success('修改成功')
      this.$emit('refreshRemark', this.dialogProp, this.remark)
    },
    closeDialog() {
      this.$emit('closeDialog')
    }
  }
}
</script>
