
<template>
  <div>
    <el-form :model="form" v-if="dialogProp.data" @submit.native.prevent>
      <el-form-item label="个人号微信昵称:" :label-width="formLabelWidth">
        {{dialogProp.data.nickName}}
      </el-form-item>
      <el-form-item label="个人号分组:"
                    filterable
                    :label-width="formLabelWidth">
        <setGroupCascader  :placeholder="'请选择个人号分组'"
                           :groupId="this.dialogProp.data.groupId? this.dialogProp.data.groupId : null"
                           :modify="this.dialogProp.data.groupId? 1 : 0"
                           :groupType="3"
                           @getInitVal="getInitVal"
                           class="ly-margin-right-bottom-sm"></setGroupCascader>
      </el-form-item>
    </el-form>
    <div class="ly-text-right">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" class="ly-margin-right-18" type="primary" @click="submitGroupInfo">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { personalNumManageApi } from '@/api/system'
import setGroupCascader from '@/components/common/setGroupCascader'
export default {
  components: {
    setGroupCascader
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      form: {
        groupId: ''
      },
      formLabelWidth: '136px',
      groupId: [],
      groupType: 3 // 1好友分组2群分组3个人号
    }
  },
  created() {
  },
  methods: {
    getInitVal(val) {
      this.form.groupId = val
    },
    async submitGroupInfo() {
      let params = {
        ids: this.dialogProp.ids,
        groupId: this.form.groupId
      }
      await personalNumManageApi.accountGroup(params)
      this.$message({
        message: '修改成功',
        type: 'success'
      })
      this.$emit('refreshGroup')
    },
    closeDialog() {
      this.$emit('closeDialog')
    }
  }
}
</script>
