<template>
  <el-dialog title="设置备注" width="489px" :visible.sync="visible" @close="closeDialog" append-to-body> <!--  :visible.sync="visible" @close="closeDialog" -->
    <el-form :model="param">
      <el-form-item label="请输入备注:">
        <el-input v-model.trim="param.remark" autocomplete="off" class="ly-width-280px-im" :maxlength="50"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="closeDialog">取 消</el-button>
      <el-button type="primary" @click="sendForm">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { customerServiceApi, userInfoApi } from '@/api/chat'
import { detailMixin } from '@/mixins'
import { SESSION_TYPE } from '@/constants/chat'

export default {
  mixins: [detailMixin],
  data() {
    return {
      visible: false,
      param: {
        remark: '',
        id: null
      },
      type: 1
    }
  },
  created() {
    this.visible = true
  },
  methods: {
    afterEntity(entity) {
      if (!entity) return
      this.param.remark = entity.remark
      this.param.id = entity.id
      this.type = entity.type
    },
    closeDialog() {
      this.$emit('on-close')
    },
    onSetSuccess() {
      this.success('修改成功!')
      let data = Object.assign({}, this.data, {
        remark: this.param.remark
      })
      this.$emit('on-sucess', data)
      this.closeDialog()
    },
    sendForm() {
      if (this.type === SESSION_TYPE.C2C) {
        this.setChatFriendRemark()
      } else {
        this.setChatGroupRemark()
      }
    },
    /**
     * 好友备注
     */
    setChatFriendRemark() {
      userInfoApi.editChatFriendUserInfo(this.param).then(resp => {
        this.onSetSuccess()
      })
    },
    setChatGroupRemark() {
      customerServiceApi.setChatGroupRemark(this.param).then(resp => {
        this.onSetSuccess()
      })
    }
  }
}
</script>
