<template>
  <div>
    <el-dialog
      title="设置待办"
      width="489px"
      :visible.sync="visible" 
      @close="closeDialog"
      append-to-body
    >
      <!--  :visible.sync="visible" @close="closeDialog" -->
      <el-form :model="param">
        <!-- 待办事项 -->
        <el-form-item>
          <el-input
            placeholder="输入待办事项"
            prefix-icon="el-icon-edit-outline"
            class="input-border-null"
            v-model.trim="param.scheduleValue"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <!-- 提醒时间 -->
        <el-form-item>
          <el-date-picker
            class="input-border-null"
            prefix-icon="el-icon-alarm-clock"
            v-model="param.scheduleTime"
            type="datetime"
            placeholder="提醒我"
            :picker-options="pickerOptions0"
          ></el-date-picker>
        </el-form-item>
        <!-- 参与人 -->
        <el-form-item>
          <el-input
            placeholder="参与人"
            prefix-icon="el-icon-user"
            class="input-border-null"
            v-model.trim="PlayersData"
            autocomplete="off"
            @click.native="setTodoPlayersOpen"
          ></el-input>
        </el-form-item>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="closeDialog">取 消</el-button>
        <el-button type="primary" @click="sendForm">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 弹框 -->
    <setTodoPlayers
      @set-players="setTodoData"
      v-if="setTodoPlayersDialog.show "
      :data="setTodoPlayersDialog.data"
      @on-close="setTodoPlayersDialogClose"
      @on-sucess="setTodoPlayersSucess"
    ></setTodoPlayers>
  </div>
</template>

<script>
// import { customerServiceApi, userInfoApi } from '@/api/chat'
import { customerServiceApi } from "@/api/chat";
// import { detailMixin } from '@/mixins'
// import { SESSION_TYPE } from '@/constants/chat'
import setTodoPlayers from "./components/setTodoPlayers";
export default {
  //   mixins: [detailMixin],
  components: {
    setTodoPlayers
  },
  data() {
    return {
      // 设置只能选择当前日期及之后的日期
       pickerOptions0: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7;//如果没有后面的-8.64e7就是不可以选择今天的 
         }
        },  
      visible: false,
      setTodoPlayersDialog: {
        show: false,
        data: ""
      },
      setTodoPlayersData: {
        list: ""
      },
      PlayersData: "",
      param: {
        scheduleValue: "",
        scheduleTime: "",
        wehcatUserIds: []

        //     id: null
      }

      //   type: 1
    };
  },
  created() {
    this.visible = true;
    // this.getPersonalAccountList()
  },
  methods: {
    
    closeDialog() {
      this.$emit("on-close");
    },
   
      onSendSuccess(data) {
      this.success('操作成功!')
      this.$emit('on-sucess', data)
      this.closeDialog()
    
      //   this.success('修改成功!')
      //   let data = Object.assign({}, this.data, {
      //     remark: this.param.remark
      //   })
      //   this.$emit('on-sucess', data)
      //   this.closeDialog()
    },
    async sendForm() {
    //  this.param.scheduleTime =  new Date().getTime(this.param.scheduleTime)
     
      if(this.param.scheduleValue == ""  || this.param.scheduleTime == "" || this.param.wehcatUserIds.length<=0){
        return this.warning('请输入待办事项')
      }
      await customerServiceApi.setTodo(this.param).then(data => {
        this. onSendSuccess(data)
          // this.success('设置待办成功!')
        // let data = Object.assign({}, this.data, {
        //   remark: this.param.remark
        // })
        // this.$emit('on-sucess', data)
        // this.closeDialog()
      });
      //   if (this.type === SESSION_TYPE.C2C) {
      //     this.setChatFriendRemark()
      //   } else {
      //     this.setChatGroupRemark()
      //   }
    },
    /**
     * 好友备注
     */
    setChatFriendRemark() {
      //   userInfoApi.editChatFriendUserInfo(this.param).then(resp => {
      //     this.onSetSuccess()
      //   })
    },
    setChatGroupRemark() {
      //   customerServiceApi.setChatGroupRemark(this.param).then(resp => {
      //     this.onSetSuccess()
      //   })
    },
    // 打开参与人的弹窗
    setTodoPlayersOpen() {
      this.setTodoPlayersDialog.show = true;
      this.PlayersData="";
      this.param.wehcatUserIds=[];
    },
    // 关闭参与人弹窗
    setTodoPlayersDialogClose() {
      this.setTodoPlayersDialog.show = false;
    },
    // 设置待办参与人成功
    setTodoPlayersSucess() {
    },
    setTodoData(setTodoData) {
      this.setTodoPlayersData = {
        // type: this.radioTargetType,
        list: setTodoData
      };
      let that = this;
      this.setTodoPlayersData.list.forEach(function(v, i) {
        that.PlayersData = that.PlayersData + v.remark + ",";
        that.param.wehcatUserIds.push(v.id);
      });
    }
    // 获取个人号id
    //  async getPersonalAccountList() {
    //   let personalAccountList = await customerServiceApi.getPersonalAccountList();

    // },
  }
};
</script>
<style  scoped lang="scss">
.input-border-null input {
  outline: none;
  border: none !important;
}
.input-border-null,
.el-input {
  border-bottom: 1px solid #c0c4cc;
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}
</style>

