<template>
  <div id="app">
    <transition mode="out-in"
                enter-active-class="fadeInDownBig"
                leave-active-class="fadeOutUpBig">
      <router-view class="animated" />
    </transition>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>
