<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-date-picker v-model="date"
                      class="ly-margin-right-bottom-sm ly-width-240px"
                      type="daterange"
                      size="small"
                      value-format="timestamp"
                      range-separator="至"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期"
                      :default-time="['00:00:00', '23:59:59']"
                      @change="dateChange">
      </el-date-picker>
      <!-- button -->
      <el-button class="ly-float-right"
                 type="primary"
                 size="small"
                 @click="getTableList(1, 10)">查询
      </el-button>
    </div>
    <!-- 数据列表 -->
    <div class="ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="enterpriseName"
                         label="充值金额">
        </el-table-column>
        <el-table-column label="支付方式">
          <template slot-scope="scope">
            {{scope.row.status}}
          </template>
        </el-table-column>
        <el-table-column prop="msgText"
                         label="交易流水号">
        </el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">
            {{scope.row.status}}
          </template>
        </el-table-column>
        <el-table-column label="充值时间">
          <template slot-scope="scope">
            {{scope.row.status}}
          </template>
        </el-table-column>
        <el-table-column label="充值说明">
          <template slot-scope="scope">
            {{scope.row.status}}
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
// import { smsTemplateApi } from '@/api/sms'

export default {
  mixins: [tableMixin],
  data() {
    return {
      activeNames: ['1'],
      params: {
        enterpriseName: '',
        status: null
      },
      date: '',
      tableData: {
        records: [
          {
            enterpriseName: '说的克己复礼',
            createTime: 1578747602000,
            msgText: '圣诞快乐房价上课',
            status: 1
          }
        ],
        total: 1
      },
      statusList: [
        { value: 1, label: '待审核' },
        { value: 2, label: '审核通过' },
        { value: 3, label: '审核不通过' }
      ],
      set: {
        open: false,
        data: {
          selectIdArr: []
        },
        title: ''
      },
      selectArr: []
    }
  },
  methods: {
    /**
    * 日期格式转换
    */
    dateChange(val) {
      if (!val) {
        this.params.begin_time = ''
        this.params.end_time = ''
      } else {
        this.params.begin_time = new Date(val[0]).getTime()
        this.params.end_time = new Date(val[1]).getTime()
      }
    },
    /**
     * 获取短信模板列表
     */
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      // smsTemplateApi.getSmsTemplateList(this.params).then((res) => {
      // this.tableData = res
      // })
    }
  }
}
</script>
