<template>
  <div>
    <!-- 筛选查询 -->
    <search @search="search"
            entry="equipmentDetails" />
    <!-- 数据列表 -->
    <div class="ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="事项"
                         prop="matter" />
        <el-table-column label="数量">
          <template slot-scope="scope">
            <span v-if="scope.row.num">{{scope.row.type===1?'+':'-'}}</span>
            <span>{{scope.row.num}}</span>
          </template>
        </el-table-column>
        <el-table-column label="备注"
                         prop="remark" />
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { oemListApi } from '@/api/sms'
import search from '../search'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  props: ['id'],
  components: {
    search
  },
  methods: {
    // 获取代理商列表
    async requestTableList() {
      this.params.enterpriseId = this.id
      const data = await oemListApi.getEuqList(this.params)
      this.tableData = data
    },
    search(params) {
      this.params = Object.assign(this.params, params)
      this.getTableList(1, this.params.size)
    }
  }
}
</script>
