<template>
  <div class="scrmp-header">
    <div class="scrmp-logo justflex-height">
      <img v-if="adminInfo.headIcon || theme.systemLogo" :src="adminInfo.headIcon || theme.systemLogo" />
    </div>
    <div class="scrmp-header-menu">
      <div class="scrmp-header-li" :class="isInMenu(item)?'active':''" v-for="(item, index) in menuListArr" :key="index"><span @click="changeRoute(item, 1)">{{item.title}}</span></div>
    </div>
    <div class="scrmp-header-right">
      <div class="scrmp-header-micro" v-if="hasIMLoginAction" @click="turnToChatHome">
        <img :src="kefuIcon" /><span>微客服</span>
      </div>
      <div class="scrmp-header-notice justflex-height" v-if="hasNoticeMenu" @click="turnToNoticePage">
        <img :src="noticeIcon" />
        <span v-if="noticeTip"></span>
      </div>
      <div class="scrmp-header-help">
        <div v-if="showDownloadDoc" @click="downloadDoc"><span><img :src="helpIcon" />帮助</span></div>|
      </div>
      <el-dropdown class="scrmp-header-dripdowm" trigger="hover" size="meidum">
        <span class="el-dropdown-link scrmp-head-drop-l">
          {{adminInfo.name}}<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item @click.native="() => modifyPassword.show = true">修改密码</el-dropdown-item>
          <el-dropdown-item @click.native="logout">退出登录</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <el-dialog title="修改密码" class="dialog-hide-footer" width="500px" append-to-body :visible.sync="modifyPassword.show">
      <modify-password v-if="modifyPassword.show" @after-submit="afterModifyPassword" @on-cancel="() => modifyPassword.show = false" />
    </el-dialog>
  </div>
</template>

<script>
import {
  mapGetters,
  mapActions,
  mapMutations
} from 'vuex'
import * as mutationsType from '@/store/mutation-types'
import {
  redirectToChatHome
} from '@/router'
import * as systemTypes from '@/router/system/types'
import * as omsTypes from '@/router/oms/types'
import * as pmsTypes from '@/router/pms/types'
import ICONNOTICE from '@/assets/images/icons/icon-notice.png'
import {
  resourceMixin
} from '@/mixins'
import {
  RESOURCE_ACTION_MAP,
  LOGIN_TYPE,
  SYSTEM_CONFIG
} from '@/constants'
import ModifyPassword from './components/modifyPassword'
import {
  loginTypeLocal
} from '@/storage'
import {
  noticeApi as systemNoticeApi
} from '@/api/system'
import {
  noticeApi as pmsNoticeApi
} from '@/api/pms'
import {
  configApi
} from '@/api/common'
import {
  compatUrl
} from '@/utils'
import helpIcon from '@/assets/images/system/icon_help.png'
import noticeIcon from '@/assets/images/system/icon_notice.png'
import kefuIcon from '@/assets/images/system/icon_weikefu.png'

export default {
  mixins: [resourceMixin],
  components: {
    ModifyPassword
  },
  data () {
    return {
      helpIcon: helpIcon,
      noticeIcon: noticeIcon,
      kefuIcon: kefuIcon,
      iconNotice: ICONNOTICE,
      modifyPassword: {
        show: false
      },
      loginType: loginTypeLocal.getOrDefault(),
      hasNoticeNum: false,
      docDownloadUrl: '',
      menuListArr: [],
      initData: {}
    }
  },
  watch: {
    '$route': (val, oldVal) => {
      if (!val.name) {
        this.changeRoute(this.menuListArr[0], 1)
      } else {
        // this.routeChangeCheck()
      }
    }
  },
  computed: {
    ...mapGetters(['theme', 'adminInfo', 'noticeTip', 'navTagArr', 'leftMenuArr']),
    // 是否拥有通知菜单权限
    hasNoticeMenu () {
      // 根据不同后台类型，验证不同的通知菜单权限
      switch (this.loginType) {
        case LOGIN_TYPE.OMS:
          return this.hasResourceMenu(omsTypes.NOTICE)
        case LOGIN_TYPE.PMS:
          return this.hasResourceMenu(pmsTypes.NOTICE)
        case LOGIN_TYPE.SYSTEM:
          return this.hasResourceMenu(systemTypes.NOTICE)
      }
    },
    // 是否拥有微客服登录权限
    hasIMLoginAction () {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.IM_LOGIN)
    },
    // 企业后台/微客服后台下显示帮助文档下载
    showDownloadDoc () {
      return [LOGIN_TYPE.SYSTEM].includes(this.loginType)
    }
  },
  created () {
    this.hasNotice()
    if (this.showDownloadDoc) {
      configApi.getConfig(SYSTEM_CONFIG.DOC_SYSTEM).then(data => {
        this.docDownloadUrl = data
      })
    }
    this.getMenuList()
  },
  methods: {
    ...mapActions(['logout']),
    ...mapMutations({
      updateNoticeTip: mutationsType.UPDATE_NOTICE_TIP,
      setResourceMenuMap: mutationsType.SET_RESOURCE_MENU_MAP,
      updateNavTag: 'UPDATE_NAV_TAG',
      updateLeftMenu: 'UPDATE_LEFT_MENU'
    }),
    turnToChatHome () {
      if (this.hasIMLoginAction) {
        redirectToChatHome()
      } else {
        this.warn('暂无权限')
      }
    },
    turnToNoticePage () {
      // 根据不同后台类型，跳转不同的通知菜单
      switch (this.loginType) {
        case LOGIN_TYPE.OMS:
          this.$router.push({
            name: omsTypes.NOTICE
          })
          break
        case LOGIN_TYPE.PMS:
          this.$router.push({
            name: pmsTypes.NOTICE
          })
          break
        case LOGIN_TYPE.SYSTEM:
          this.$router.push({
            name: systemTypes.NOTICE
          })
          break
      }
    },
    getNoticeNum (type) {
      let noticeStatus = false
      switch (type) {
        case 'system':
          systemNoticeApi.getNoticeNum().then(res => {
            if (res > 0) {
              noticeStatus = true
            } else {
              noticeStatus = false
            }
            this.updateNoticeTip(noticeStatus)
          })
          break
        case 'pms':
          pmsNoticeApi.getNoticeNum().then(res => {
            if (res > 0) {
              noticeStatus = true
            } else {
              noticeStatus = false
            }
            this.updateNoticeTip(noticeStatus)
          })
          break
      }
    },
    hasNotice () {
      switch (this.loginType) {
        case LOGIN_TYPE.PMS:
          this.getNoticeNum('pms')
          break
        case LOGIN_TYPE.SYSTEM:
          this.getNoticeNum('system')
          break
      }
    },
    afterModifyPassword () {
      this.modifyPassword.show = false
      this.success('修改密码成功，请重新登录')
      setTimeout(() => {
        this.logout(true)
      }, 2000)
    },
    downloadDoc () {
      if (this.showDownloadDoc) {
        window.open(compatUrl(this.docDownloadUrl, {
          __: Date.now()
        }), '_blank')
      }
    },
    routeChangeCheck () {
      // console.log(this.leftMenuArr)
    },
    /**
     * 菜单数据处理--初始化数据
     * */
    initMenuData () {
      const data = this.adminInfo.resourceMenuList
      let routeMap = {}
      let dataNew = data.map(item => {
        if (item.node && item.node.length) {
          let itemNew = item.node.map(itemSec => {
            if (itemSec.node && itemSec.node.length) {
              let itemSecNew = itemSec.node.map(itemThird => {
                let tagArr = []
                tagArr.push(item.title)
                tagArr.push(itemSec.title)
                tagArr.push(itemThird.title)
                itemThird.tagArr = tagArr
                routeMap[itemThird.url] = itemThird
                return itemThird
              })
              itemSec.node = itemSecNew
            } else {
              itemSec.tagArr = [item.title, itemSec.title, itemSec.title]
              routeMap[itemSec.url] = itemSec
            }
            return itemSec
          })
          item.node = itemNew
          return item
        } else {
          item.tagArr = [item.title]
          routeMap[item.url] = item
          return item
        }
      })
      this.routeMap = routeMap
      this.setResourceMenuMap(routeMap)
      return {
        routeMap: routeMap,
        menuData: dataNew
      }
    },
    /**
     * 菜单数据处理
     * */
    getMenuList () {
      let initData = this.initMenuData()
      this.initData = initData
      this.menuListArr = initData.menuData
      this.checkCurrentRoute(initData)
    },
    /**
     * 是否是当前选择的路由
     * */
    isInMenu (data) {
      let currentRoute = this.$route.name
      if (data.node && data.node.length) {
        let child = JSON.stringify(data.node)
        return (child.indexOf(currentRoute) !== -1)
      } else {
        if (data.url === currentRoute) {
          return true
        }
      }
    },
    /**
     * 用户刷新页面与修改路由校验
     * */
    checkCurrentRoute (initData) {
      let currentRoute = this.$route.name
      if (initData.routeMap[currentRoute]) {
        // 跳到指定页面
        this.initMenuArr(initData.menuData, currentRoute)
      } else {
        // 默认跳第一个分组的第一个页面
        this.changeRoute(initData.menuData[0], 1)
      }
    },
    /**
     * 初始化左侧菜单
     * */
    initMenuArr (initData, currentRoute) {
      let memuArr = {}
      for (let i = 0; i < initData.length; i++) {
        let itemStr = JSON.stringify(initData[i])
        if (itemStr.indexOf(currentRoute) !== -1) {
          memuArr = initData[i]
          break
        }
      }
      this.changeRoute(memuArr, 2)
    },
    changeRoute (item, type) {
      let currentRoute = this.$route.name
      let menuArr = []
      if (type === 1) {
        if (item.node && item.node.length) {
          if (item.node[0].node && item.node[0].node.length) {
            currentRoute = item.node[0].node[0].url
          } else {
            currentRoute = item.node[0].url
          }
        } else {
          currentRoute = item.url
        }
      }
      menuArr = item.node || []
      let tagArr = this.initData.routeMap[currentRoute].tagArr
      if (tagArr.length < 2) {
        tagArr = []
      }
      this.updateNavTag(tagArr)
      this.updateLeftMenu(menuArr)
      this.$router.push({
        name: currentRoute
      })
    }
  }
}
</script>
