<template>
  <div class="scrmp-side">
    <!--拥有三级菜单-->
    <div class="scrmp-slide-ele" v-for="(item, index) in leftMenuArr" :key="item.title + index">
      <div v-if="item.node && item.node.length">
        <div class="scrmp-slide-label">
          <div class="scrmp-slide-icon"><img :src="item.menuIcon"/></div>
          <div class="scrmp-slide-title ell">{{item.title}}</div>
        </div>
        <div class="scrmp-slide-ul" v-for="(itemSec, indexSec) in item.node" :key="itemSec.title + indexSec">
          <div class="scrmp-slide-li ell" :class="isInMenu(itemSec)?'active':''" @click="changeRoute(itemSec)">{{itemSec.title}}</div>
        </div>
      </div>
      <!--只有两级菜单-->
      <div v-else>
        <div class="scrmp-slide-label">
          <div class="scrmp-slide-icon"><img :src="item.menuIcon"/></div>
          <div class="scrmp-slide-title ell">{{item.title}}</div>
        </div>
        <div class="scrmp-slide-ul">
          <div class="scrmp-slide-li ell" :class="isInMenu(item)?'active':''" @click="changeRoute(item)">{{item.title}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex'
export default {
  data() {
    return {
      isCollapse: false,
      defaultActive: '1-1',
      params: [],
      firstMenu: null
    }
  },
  computed: {
    ...mapGetters([
      'leftMenuArr'
    ])
  },
  watch: {
    '$route': function (val, oldVal) {
    }
  },
  created() {
  },
  methods: {
    ...mapMutations({
      updateNavTag: 'UPDATE_NAV_TAG'
    }),
    /**
     * 是否是当前选择的路由
     * */
    isInMenu(data) {
      let currentRoute = this.$route.name
      if (currentRoute === data.url) {
        return true
      } else {
        return false
      }
    },
    /**
     * 点击菜单
     * */
    changeRoute(data) {
      this.$router.push({name: data.url})
      this.updateNavTag(data.tagArr)
      // console.log(this.leftMenuArr)
    }
  }
}
</script>
