<template>
    <el-date-picker
      v-model="datePickValue"
      type="datetimerange"
      :picker-options="pickerOptions"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      align="right"
      @change="dateChange"
      value-format="timestamp"
      >
    </el-date-picker>
</template>
<script>
  export default {
    data() {
      return {
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        // value: [new Date(2000, 10, 10, 10, 10), new Date(2000, 10, 11, 10, 10)],
        datePickValue: ''
      };
    },
    mounted(){

    },
    methods: {
      dateChange(){
        // console.log('this.this.params.endTime',this.datePickValue)
        this.$emit('WareHousingDate',this.datePickValue)
      }
    }
  };
</script>
