<template>
  <!-- <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFnOrDataList"
               :options="mergedOptions"
               @initial="initial"
               @change="change"
               ref="lazySelect" /> -->
  <el-select size="small" v-model="labelIds" class="vm" @visible-change="visibleChange" filterable multiple @change="changeSelect" :placeholder="placeholder" collapse-tags>
    <el-option v-for="item in labelsList" :key="item.id" :label="item.labelName" :value="item.id"></el-option>
  </el-select>
</template>

<script>
import { commonApi } from '@/api/chat'
import lazySelectMixin from '@/components/common/lazySelect/components/mixin'

export default {
  props: {
    wechatAccountIds: {
      type: Array,
      default: () => {
        return []
      }
    },
    placeholder: {
      type: String
    }
  },
  data() {
    return {
      labelIds: [],
      labelsList: []
    }
  },
  watch: {
    'wechatAccountIds': function (val, oldVal) {
      this.labelIds = []
      this.labelsList = []
      this.$emit('change', [])
    }
  },
  mixins: [lazySelectMixin],
  methods: {
    async getData() {
      let ids = this.wechatAccountIds.slice(0)
      let list = await commonApi.getAccountLabelsByIds({
        wechatAccountIds: ids
      }, true)
      this.labelsList = list
    },
    visibleChange(val) {
      if (val && this.wechatAccountIds.length > 0) {
        this.getData()
      } else {
        this.labelsList = []
      }
    },
    // 更改标签
    changeSelect(val) {
      const data = []
      val.forEach(v => {
        let arr = v.split(',')
        if (arr.length === 1) {
          return data.push(Number(v))
        }
        // 标签去重，所以一个标签里面会有多个id
        arr.forEach(value => {
          data.push(Number(value))
        })
      })
      this.$emit('change', data)
    }
  }
}
</script>
