<template>
    <el-select v-model="onlineValue" clearable placeholder="设备状态"  class="selectBox" @change="selectChange" >
    <el-option
      v-for="item in optionsList"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
</template>

<script>
  export default {
    data() {
      return {
        optionsList: [{
          value: 1,
          label: '在线'
        }, {
          value: 0,
          label: '离线'
        }],
        onlineValue:null
      }
    },
    mounted(){

    },
    methods:{
        selectChange(){
          // console.log(this.onlineValue)
          this.$emit('selectOnlinedata',this.onlineValue)
        }
    }    
  }
</script>

<style scoped>
  .selectBox{
     width: 441px;
 }
</style>
