<template>
  <div>
    <el-dialog title="请选择个人号" :visible.sync="showSelectPersonalNumDialog" @showSelectPersonalNumDialog="changBtn" width="700px" append-to-body :before-close="handleDialogClose">
      <!-- <el-input
        v-model.trim="filters"
        :maxlength="100"
        autocomplete="off"
        clearable
        placeholder="请输入微信信息进行过滤"
        class="ly-width-641px"
      > -->
      <!--<el-button slot="append"-->
      <!--icon="el-icon-search"-->
      <!--@click="getPersonalNoList"></el-button>-->
      <!-- </el-input> -->
      <div class="ly-margin-top-15px">
        <el-tree :data="treeData" :props="defaultProps" :disabled="treeData.length ? false : true" :expand-on-click-node="false" :check-on-click-node="true" default-expand-all show-checkbox node-key="id" ref="tree" :filter-node-method="filterNode" :default-expanded-keys="[1]"></el-tree>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="onconcel">取 消</el-button>
        <el-button type="primary" @click="confirm">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { v2marketPlatformApi } from '@/api/system'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    checkArr: {
      type: Array,
      default: function () {
        return []
      }
    },
    contionDataInner: {},
    state: null
  },

  computed: {
    computedValue: {
      get () {
        return this.contionDataInner.wechatAccountIds
      },
      set (val) {
        this.$emit('model', val)
      }
    }
  },
  mounted () {
    this.showSelectPersonalNumDialog = this.state
    this.getPersonalNoList(this.contionDataInner)
    // console.log("这里测试", this.contionDataInner.wechatAccountIds)
  },
  data () {
    return {
      filters: '',
      treeData: [
        {
          id: 1,
          name: '全选',
          root: true, // 全选标识
          children: []
        }
      ],
      showSelectPersonalNumDialog: false,
      defaultProps: {
        children: 'children',
        label: 'name'
      }

    }
  },
  watch: {
    computedValue (val) {
      if (val) {
        this.getPersonalNoList()
      }
    },
    filters (val) {
      this.$refs.tree.filter(val)
    }
  },
  methods: {
    filterNode (value, data) {
      if (!value) return true
      return data.name.indexOf(value) !== -1
    },
    // 个人号的参数
    changBtn () {
      this.$emit('selectOnlinedata', this.onlineValue)
    },
    // 获取筛选后的个人号
    async getPersonalNoList (contionDataInner) {
      // await marketPlatformApi.getPersonApi().then((res)=>{
      // })
      let params = {
        online: contionDataInner.online,
        beginTime: contionDataInner.beginTime,
        endTime: contionDataInner.endTime
      }
      // console.log("获取筛选", params)
      const data = await v2marketPlatformApi.getSelectPersonId(params)
      // console.log("测试 ", contionDataInner )
      let treeData = data
      // let treeData = this.initLabel(data)
      this.treeData[0].children = treeData
      this.$nextTick(() => {
        this.$refs.tree.setCheckedKeys(this.checkArr)
      })
    },
    // 确定
    confirm () {
      let nodes = this.$refs.tree.getCheckedNodes(true)
      let gerenaNolList = []
      nodes.forEach((o) => {
        if (!o.root) {
          // 过滤全选选项
          gerenaNolList.push({
            // accountId: o.id,
            wechatAccountIds: o.id,
            accountName: o.name
          })
        }
      })
      if (gerenaNolList.length === 0) {
        this.$notify({
          title: '提示',
          message: '请选择个人号',
          type: 'warning'
        })
        return
      }
      this.$emit('on-confirm', gerenaNolList)
      this.showSelectPersonalNumDialog = false
    },
    onconcel () {
      this.showSelectPersonalNumDialog = false
      this.$emit('on-confirm', [])
    },
    check (id) {
      Service.getClient().roles.check(id).then(res => {
        for (const i of res.data) {
          this.$refs.tree.setChecked(i, true, false)
        }
      })
    },
    // * 点击 X 关闭对话框的回调
    handleDialogClose () {
      this.showSelectPersonalNumDialog = false,
        this.$emit('on-confirm', [])
    }
  }
}
</script>
