<template>
  <transition name="el-fade-in-linear">
    <ul v-show="visible"
        class="vue-contextmenu-listWrapper"
        :style="menuStyle"
        v-click-outside="hideContextMenu">
      <li v-for="(item, index) in entity.menuList"
          :key="index"
          class="context-menu-list"
          @click="clickContextmenu(index)">
        <el-button type="button"
                   :disabled="item.disabled || false">
          <i v-if="item.icoName"
             :class="item.icoName"></i>
          <span>{{item.btnName}}</span>
        </el-button>
      </li>
    </ul>
  </transition>
</template>

<script>
import {
  detailMixin
} from '@/mixins'

export default {
  model: {
    prop: 'visible',
    event: 'model'
  },
  props: {
    data: {
      type: Object,
      default() {
        return {
          name: '',
          axios: { x: null, y: null },
          menuList: [
            {
              fnHandler: 'del',
              icoName: 'el-icon-delete',
              btnName: '删除',
              disabled: false
            }
          ]
        }
      }
    },
    visible: {
      type: Boolean,
      default: false
    }
  },
  mixins: [detailMixin],
  data() {
    return {
      menuStyle: null
    }
  },
  methods: {
    clickContextmenu(index) {
      this.$emit('click-contextmenu', index, this.data.menuList[index])
    },
    afterEntity(entity) {
      if (!this.visible) return
      this.menuStyle = {
        position: 'fixed',
        left: entity.axios.x + 'px',
        top: entity.axios.y + 'px'
      }
    },
    /**
     * 隐藏菜单
     * @return {[type]} [description]
     */
    hideContextMenu() {
      this.$emit('model', false)
    }
  }
}
</script>
