<template>
  <el-dialog title="图片预览" :visible.sync="dialogVisiblePasteImg" @close="dialogClose" append-to-body class="preview-image-dialog">
    <img class="preview-image" :src="imgData.base64 || imgData.url || imgData.string" alt="" v-image-view>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogVisiblePasteImg = false">取 消</el-button>
      <el-button type="primary" @click="sendImg">发 送</el-button>
    </div>
  </el-dialog>
</template>
<script>
import Upload from '@/assets/js/upload'
export default {
  props: ['imgData'],
  data () {
    return {
      dialogVisiblePasteImg: true,
      uploadBase64: null,
      qiniutokenInfo: null
    }
  },
  created () {
    if (this.imgData.base64) {
      let index = this.imgData.base64.indexOf(',') + 1
      this.uploadBase64 = this.imgData.base64.substring(index)
    } else if (this.imgData.string) {
      let index = this.imgData.string.indexOf(',') + 1
      this.uploadBase64 = this.imgData.string.substring(index)
    }
  },
  methods: {
    dialogClose () {
      this.$emit('on-close')
    },
    sendImg () {
      if (this.imgData.base64 || this.imgData.string) {
        this.uploadPasteImgAndSend()
      } else {
        this.$emit('directly-send-img', this.imgData.url, this.imgData)
        this.dialogClose()
      }
    },
    /**
     * 上传粘贴的并发送图片
     */
    async uploadPasteImgAndSend () {
      // 因为要先添加消息预览效果，需要等图片上传完后并发送真正的消息，之后取消发送动画
      let getPasteImgMsKey = new Date().getTime()
      if (this.imgData.base64) {
        this.$emit('add-img-preview', this.imgData.base64, getPasteImgMsKey)
      } else {
        this.$emit('add-img-preview', this.imgData.string, getPasteImgMsKey)
      }
      if (this.imgData.blob) {
        let qiniuData = await this.uploadImg(this.imgData)
        this.uploadSuccess(qiniuData.url, getPasteImgMsKey)
      } else if (this.imgData.string) {
        let qiniuData = await this.uploadImgString(this.imgData)
        this.uploadSuccess(qiniuData.url, getPasteImgMsKey)
      } else {
        this.uploadSuccess(this.imgData.url, getPasteImgMsKey)
      }
    },
    uploadImgString (imgData) {
      let up = new Upload()
      return up.upload(imgData.string).then(resp => {
        return resp
      }, () => {
        this.showError()
      })
    },
    uploadImg (imgData) {
      let up = new Upload()
      return up.upload(imgData.blob).then(resp => {
        return resp
      }, () => {
        this.showError()
      })
    },
    showError () {
      this.$confirm('上传失败', '提示', {
        showCancelButton: false,
        confirmButtonText: '确定',
        type: 'warning'
      }).then(() => {
        this.dialogClose()
      })
    },
    uploadSuccess (url, getPasteImgMsKey) {
      this.$emit('upload-success', url, getPasteImgMsKey)
    }
  }
}
</script>
<style lang="scss">
.preview-image-dialog {
  .el-dialog__body {
    text-align: center;
    max-height: 40vh;
    .preview-image {
      max-width: 100%;
      max-height: 300px;
    }
  }
  .dialog-footer {
    padding-top: 10px;
  }
}
</style>
