<template>
  <el-dialog title="视频播放" :visible.sync="visible" append-to-body custom-class="chat-video-dialog" @close="closeDialogVisibleVideo">
    <video :src="data.url" :poster="data.poster" controls="">您的浏览器不支持 video 标签
    </video>
    <div slot="footer" class="dialog-footer" v-if="data.sendBtn">
      <el-button @click="closeDialogVisibleVideo">取 消</el-button>
      <el-button type="primary" @click="sendVideoMsg">发送</el-button>
    </div>
  </el-dialog>
</template>

<script>

export default {
  props: {
    data: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      visible: true
    }
  },
  created () {
    this.visible = true
  },
  methods: {
    closeDialogVisibleVideo () {
      this.$emit('on-close')
    },
    sendVideoMsg () {
      this.$emit('on-send', this.data)
    }
  }
}
</script>
