<template>
  <div>
    <!-- 筛选查询 -->
    <collapseLay :params="params"></collapseLay>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="address"
                         label="创建时间"
                         width="200">
        </el-table-column>
        <el-table-column prop="name"
                         label="标题">
        </el-table-column>
        <el-table-column prop="name"
                         label="提示文字">
        </el-table-column>
        <el-table-column prop="name"
                         label="微活码">
          <template slot-scope="scope">
            <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"
                 class="ly-wh-50px">
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="微活码链接">
        </el-table-column>
        <el-table-column prop="name"
                         label="状态">
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">编辑</el-button>
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapseLay from '@/pages/ui/components/collapseLay'

export default {
  components: { collapseLay },
  data() {
    return {
      activeNames: ['1'],
      params: {
        title: true,
        date: true
      },
      tableData: []
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    }
  }
}
</script>
