<template>
  <div>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button size="small">刷新</el-button>
          <el-button type="primary"
                     size="small">导入加好友</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="任务执行时间段"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            lianghuan（梁欢）
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="操作员工"
                         width="200">
        </el-table-column>
        <el-table-column prop="name"
                         label="每日有效时段">
        </el-table-column>
        <el-table-column label="每轮好友数">
          <template slot-scope="scope">
            <span :class="{'ly-font-color-5':scope.row.name}">{{ scope.row.name }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="每轮间隔（分钟）">
        </el-table-column>
        <el-table-column prop="name"
                         label="消息内容">
        </el-table-column>
        <el-table-column prop="name"
                         label="状态">
        </el-table-column>
        <el-table-column prop="name"
                         label="任务总数/完成数">
        </el-table-column>
        <el-table-column prop="name"
                         label="备注">
        </el-table-column>
        <el-table-column prop="name"
                         label="创建时间">
        </el-table-column>
        <el-table-column prop="name"
                         label="查询结果">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">查看</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      tableData: []
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    }
  }
}
</script>
