<template>
  <div>
    <!--群主-->
    <div class="ly-box ly-padding-bottom-xs ly-border-bottom-1">
      <div class="ly-wh-40px">
        <img class="ly-wh-40px" :src="info.headIcon"/>
      </div>
      <div class="ly-box-1 ly-margin-left-15px ly-position-relative">
        <p class="ly-vertical-middle-gc">
          {{info.nickName}} {{info.wxAccount}}<span class="ly-font-color-5">({{info.allNum}}/{{info.outNum}})</span>
        </p>
      </div>
    </div>
    <!--群成员-->
    <div class="ly-height-400px ly-margin-left-56px ly-margin-top-10px ly-over" style="overflow: auto;" ref="eleMember">
      <div ref="eleMemberBody">
        <div class="ly-padding-bottom-10px ly-box" v-for="item in tableData.records" :key="item.id">
          <div class="ly-wh-30px">
            <img class="ly-wh-30px" :src="item.headIcon"/>
          </div>
          <div class="ly-box-1 ly-margin-left-15px ly-position-relative">
            <p class="ly-vertical-middle-gc">
              {{item.nickName}} {{item.wxAccount}}<span class="ly-font-color-12"><span v-if="item.status === 0">(已退群)</span></span>
            </p>
          </div>
        </div>
        <div class="ly-margin-top-10px ly-text-center ly-font-12 ly-font-color-2">
          <div v-if="tableData.records && tableData.records.length === tableData.total && tableData.total > 0">已经到底了~</div>
          <div v-if="tableData.records && tableData.records.length === 0">暂无记录</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
export default {
  components: {},
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      params: {
        current: 1,
        size: 15,
        groupId: '',
        inviteId: ''
      },
      info: {},
      tableData: {},
      hasNextPage: true
    }
  },
  created() {
    this.params.groupId = this.dialogProp.groupId
    this.params.inviteId = this.dialogProp.data.inviteId
    this.requestTableList()
  },
  mounted() {
    this.scrollLoad()
  },
  methods: {
    /**
     * 获取微信好友列表
     */
    requestTableList() {
      if (this.hasNextPage) {
        this.getList()
      }
    },
    async getList() {
      await v2communityManage.getGroupListManageInviteRecord(this.params).then((data) => {
        this.params.current += 1
        this.info.headIcon = data.headIcon
        this.info.nickName = data.nickName
        this.info.wxAccount = data.wxAccount
        this.info.allNum = data.allNum
        this.info.outNum = data.outNum
        let arr = this.tableData.records || []
        let newArr = arr.concat(data.list.records)
        data.records = newArr
        data.total = data.list.total
        this.tableData = data
        if (this.tableData.records.length < this.tableData.total) {
          this.hasNextPage = true
        } else {
          this.hasNextPage = false
        }
      })
    },
    scrollLoad() {
      this.$nextTick(() => {
        let elem = this.$refs.eleMember
        let height = elem.clientHeight
        let bodyElem = this.$refs.eleMemberBody
        let that = this
        elem.addEventListener('scroll', function(event) {
          let bodyHeight = bodyElem.clientHeight
          let scrollTopVal = elem.scrollTop
          if (scrollTopVal + height === bodyHeight) {
            that.requestTableList()
          }
        })
      })
    }
  }
}
</script>
<style type="scss">
.ly-statistices-body .el-dialog__body{
  padding-top: 0;
}
</style>
