<template>
  <div>
    <!-- 数据列表 -->
    <div class="ly-box">
      <div class="ly-box-1 ly-margin-top-20px ly-width-calc-50-20px">
        <p>1.列表不显示非工作群且群主非个人号的群，若选择群成员大于95的群，在【群活动-人数设置】将无法限制活动人数；</p>
        <p>2.一个群只能在一个活动。</p>
        <p>3.设备不在线的群二维码将在设备在线后进行同步。</p>
        <el-form  @submit.native.prevent>
          <el-form-item label="请选择要添加的群:" required style="margin-bottom: 0;"></el-form-item>
          <el-form-item>
            <el-input class="ly-width-280px-im"
                      placeholder="请输入群名称、备注搜索"
                      autocomplete="off"
                      :maxlength="30"
                      v-model.trim="params.nameRemark"
                      size="medium"
                      @keyup.native.enter="searchList()"
                      clearable></el-input>
            <el-button size="medium" type="primary" class="ly-margin-left-10px" @click="searchList">搜索</el-button>
            <el-button size="medium" @click="resetCallback">重置</el-button>
          </el-form-item>
        </el-form>
        <!-- 表格 -->
        <el-table ref="multipleTable"
                  :data="tableData.records"
                  tooltip-effect="dark"
                  max-height="250"
                  style="width: 100%"
                  row-key="id"
                  @clearSelection="clearSelection"
                  @selection-change="handleSelectionChange">
          <el-table-column type="selection"
                           fixed
                           reserve-selection
                           :selectable="selectAble"
                           width="30">
          </el-table-column>
          <el-table-column label="群聊名称"
                           min-width="120">
            <template slot-scope="scope">
              <div class="ly-width-100px ly-max-height-40px ly-ellipsis2" :title="scope.row.groupName">{{ scope.row.groupName || '--' }}</div>
            </template>
          </el-table-column>
          <el-table-column label="群备注">
            <template slot-scope="scope">
              <div class="ly-width-100px ly-max-height-40px ly-ellipsis2" :title="scope.row.remark">{{ scope.row.remark || '--' }}</div>
            </template>
          </el-table-column>
          <el-table-column label="群主">
            <template slot-scope="scope">
              <div class="ly-width-100px ly-max-height-40px ly-ellipsis2" :title="scope.row.groupOwner">{{ scope.row.groupOwner || '--' }}</div>
            </template>
          </el-table-column>
          <el-table-column label="群成员">
            <template slot-scope="scope">
              <div class="ly-width-100px ly-max-height-40px ly-ellipsis2">{{ scope.row.groupCount || 0 }}</div>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
          <vma-pagination class="ly-text-right ly-box-1"
                          :pageNum="params.current"
                          :page-size="params.size"
                          :total="tableData.total"
                          @change="getTableList" />
        </div>
      </div>
      <div class="ly-margin-rl-20px ly-border-right-1"></div>
      <!--右侧列表-->
      <div class="ly-box-1 ly-width-calc-50-20px">
        <div class="ly-text-right">
          <span class="ly-margin-right-5px ly-font-color-5">已选群数量：{{tableSelectArr.length}}个</span>
          <el-button size="small" @click="removeChecked">清空已选</el-button>
        </div>
        <div class="ly-margin-top-10px"></div>
        <el-table :data="tableSelectArr"
                  tooltip-effect="dark"
                  max-height="460"
                  style="width: 100%"
                  row-key="id">
          <el-table-column label="群聊名称">
            <template slot-scope="scope">
              <div class="ly-width-100px ly-max-height-40px ly-ellipsis2" :title="scope.row.groupName">{{ scope.row.groupName || '--' }}</div>
            </template>
          </el-table-column>
          <el-table-column label="群备注">
            <template slot-scope="scope">
              <div class="ly-width-100px ly-max-height-40px ly-ellipsis2" :title="scope.row.remark">{{ scope.row.remark || '--' }}</div>
            </template>
          </el-table-column>
          <el-table-column label="群主">
            <template slot-scope="scope">
              <div class="ly-width-100px ly-max-height-40px ly-ellipsis2" :title="scope.row.groupOwner">{{ scope.row.groupOwner || '--' }}</div>
            </template>
          </el-table-column>
          <el-table-column label="群成员">
            <template slot-scope="scope">
              <div class="ly-width-100px ly-max-height-40px ly-ellipsis2">{{ scope.row.groupCount || 0 }}</div>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="text" @click="delCheck(scope.row)"><span class="ly-font-color-12">删除</span></el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <div class="ly-margin-top-20px ly-text-right">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" type="primary" @click="confirmAdd">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
import { v2communityManage } from '@/api/system'
export default {
  components: {},
  mixins: [tableMixin],
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      activeNames: ['1'],
      params: {
        nameRemark: ''
      },
      tableData: {
        /*
        total: 1,
        size: 10,
        current: 1,
        records: [{id: 1}, {id: 2}, {id: 3}, {id: 4}, {id: 5}, {id: 6}, {id: 7}, {id: 8}, {id: 9}, {id: 10}, {id: 11}]
        */
      },
      tableSelectArr: [],
      switchBoolean: false,
      pic: false
    }
  },
  created() {
  },
  methods: {
    /**
     * 获取微信好友列表
     */
    async requestTableList() {
      await v2communityManage.getAddGroupList(this.params).then((data) => {
        this.tableData = data
      })
    },
    /**
     * 搜索
     */
    searchList() {
      this.getTableList(1)
    },
    /**
     * 表格左侧选择--清除
     */
    removeChecked() {
      this.clearSelection('multipleTable')
    },
    /**
     * 表格左侧选择
     */
    handleSelectionChange(val) {
      this.tableSelectArr = val
    },
    /**
     * 是否可选
     */
    selectAble(row, index) {
      let indexVal = this.tableSelectArr.indexOf(row)
      if (this.tableSelectArr.length > 94) {
        if (indexVal === -1) {
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    },
    /**
     * 删除
     */
    delCheck(row) {
      this.$refs.multipleTable.toggleRowSelection(row)
    },
    /**
     * 确定添加群
     */
    confirmAdd() {
      if (this.tableSelectArr.length === 0) {
        this.$notify({
          title: '提示',
          message: '请选择要添加的群',
          type: 'warning'
        })
      } else {
        this.submitInfo()
      }
    },
    async submitInfo() {
      let ids = []
      this.tableSelectArr.forEach(item => {
        ids.push(item.id)
      })
      let params = {
        activityId: this.dialogProp.id,
        ids: ids
      }
      await v2communityManage.addGroupList(params).then((data) => {
        this.tableData = data
        this.success('添加成功')
        this.closeDialog()
        this.$emit('refreshList')
      })
    },
    closeDialog() {
      this.$emit('closeDialog')
    }
  }
}
</script>
<style type="scss">
.ly-statistices-body .el-dialog__body{
  padding-top: 0;
}
</style>
