<template>
  <div>
    <div style="min-height: 72px;">
      <div class="ly-font-16" v-if="radio === 1 || radio === 2">
        <p>群名称：<span class="ly-inline-block ly-width-400px ly-margin-right-30px ly-font-color-5 ell" style="vertical-align: bottom;" :title="dialogProp.data.groupName">{{dialogProp.data.groupName}}</span>当前拉手数为{{dialogProp.info.pullNum || 0}}个</p>
        <p class="ly-font-color-4">群裂变群拉手主要应用于创建500人大群，通过开启群拉手功能，当群内满百人时，群拉手会将新扫码的用户邀请进群</p>
      </div>
      <div class="ly-font-16" v-else>
        <p>群裂变群拉手主要应用于创建500人大群，通过开启群拉手功能，当群内满百人时，群拉手会将新扫码的用户邀请进群</p>
      </div>
    </div>
    <div class="ly-font-color-2">
      <p class="ly-margin-top-20px">使用规则：</p>
      <p>1.每群最多进 5 个群拉手，每个群拉手每天限被扫码 100 次，建议根据流量预测添加群拉手数量。</p>
      <p>2.使用过程中，若群主非个人号，请确保群聊验证已关闭。</p>
    </div>
    <div class="ly-margin-top-20px">
      <el-radio v-model="radio" :label="1">开启</el-radio>
      <span class="ly-margin-left-20px">*开启群内所有拉手服务
        <el-button class="ly-margin-left-20px" type="text" v-if="radio===1" @click="turnToAddPersonNum(1)">
          <span v-if="checkArr.length === 0">选择个人号</span>
          <span v-else>个人号已选{{checkArr.length}}个</span>
        </el-button>
      </span>
    </div>
    <div class="ly-margin-top-10px">
      <el-radio v-model="radio" :label="2" :disabled="(dialogProp.info.status===0 && !dialogProp.info.pullNum) ? true : false">暂停</el-radio>
      <span class="ly-margin-left-20px">*暂停群内所有拉手服务</span>
    </div>
    <div class="ly-margin-top-10px">
      <el-radio v-model="radio" :label="0">关闭</el-radio>
      <span class="ly-margin-left-20px">*关闭拉手服务，群内拉手号自动退群</span>
    </div>
    <div class="ly-margin-top-20px ly-text-right">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" type="primary" @click="confirm">确 认</el-button>
    </div>
    <!--选择个人号-->
    <el-dialog title="请选择个人号" :visible.sync="personDialogInfo.show" width="660px" v-if="personDialogInfo.show" append-to-body>
      <gActivityGroupListHandleAddNum :dialogProp="personDialogInfo"
                                      :checkArr="checkArr"
                                      :checkNum="num"
                                      @closeDialog="closePersonDialog"
                                      @getPersonNum="getPersonNum"></gActivityGroupListHandleAddNum>
    </el-dialog>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import gActivityGroupListHandleAddNum from './gActivityGroupListHandleAddNum.vue'
export default {
  components: {
    gActivityGroupListHandleAddNum
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  watch: {
  },
  data() {
    return {
      radio: 1,
      totalNum: 5,
      num: 5,
      checkArr: [],
      personDialogInfo: {}
    }
  },
  created() {
    this.radio = this.dialogProp.info.status
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    closePersonDialog() {
      this.personDialogInfo = {}
    },
    getPersonNum(data) {
      this.checkArr = data
      this.closePersonDialog()
    },
    confirm() {
      let type = this.radio
      switch (type) {
        case 1:
          this.openHandle()
          break
        case 2:
          this.pauseHandle()
          break
        default:
          this.closeHandle()
      }
    },
    openHandle() {
      let ids = []
      this.checkArr.forEach(item => {
        ids.push(item.id)
      })
      if (ids.length === 0 && this.dialogProp.info.pullNum === 0) {
        this.$notify({
          title: '提示',
          message: '请先选择个人号',
          type: 'warning'
        })
      } else {
        this.confimOpenHanle(ids)
      }
    },
    async confimOpenHanle(ids) {
      let params = {
        activityId: this.dialogProp.id,
        groupId: this.dialogProp.data.groupId,
        ids: ids
      }
      await v2communityManage.openGroupListHandleClick(params).then((res) => {
        this.closeDialog()
        this.$emit('refreshHandle')
      })
    },
    async pauseHandle() {
      let params = {
        activityId: this.dialogProp.id,
        id: this.dialogProp.data.groupId
      }
      await v2communityManage.pauseGroupListHandleClick(params).then((res) => {
        this.closeDialog()
        this.$emit('refreshHandle')
      })
    },
    async closeHandle() {
      let params = {
        activityId: this.dialogProp.id,
        id: this.dialogProp.data.groupId
      }
      await v2communityManage.closeGroupListHandleClick(params).then((res) => {
        this.closeDialog()
        this.$emit('refreshHandle')
      })
    },
    /**
     * 选择个人号--show
     */
    turnToAddPersonNum(type, data) {
      if (this.dialogProp.info.pullNum >= 0) {
        if (this.totalNum - this.dialogProp.info.pullNum > 0) {
          this.num = this.totalNum - this.dialogProp.info.pullNum
          this.getPersonNumberRecords(type, data)
        } else {
          this.num = 0
          this.$notify({
            title: '提示',
            message: '群拉手已满',
            type: 'warning'
          })
        }
      }
    },
    async getPersonNumberRecords(type, data) {
      let params = {
        id: this.dialogProp.data.groupId
      }
      await v2communityManage.getGroupListHandlePersonList(params).then((data) => {
        let newArr = []
        data.forEach(item => {
          let label = `${item.nickName}(${item.account})`
          let param = {
            id: item.id,
            label: label,
            disabled: false
          }
          if (this.num === 0) {
            param.disabled = true
          }
          newArr.push(param)
        })
        this.personDialogInfo = {
          show: true,
          data: data,
          records: newArr,
          type: type
        }
      })
    }
  }
}
</script>
