<template>
  <div class="ly-bg-white ly-margin-top-sm ly-position-relative ly-addEdit">
    <!--<div class="ly-font-16 ly-font-color-1 ly-margin-horizontal-sm ly-border-bottom-1 ly-padding-bottom-sm">-->
    <!--<span class="ly-vertical-line">{{dialog.data.activityTitle}}活动</span>-->
    <!--</div>-->
    <div class="business">
      <el-form :model="form"
               :rules="rules"
               ref="form"
               label-width="150px"
               class="ly-margintop-25px demo-ruleForm">
        <el-form-item label="群活动名称:"
                      prop="activityName">
          <p>{{dialog.data.activityTitle}}</p>
        </el-form-item>
        <el-form-item label="页面模式:">
          <el-radio-group v-model="form.pageType">
            <el-radio :label="1">使用模板</el-radio>
            <el-radio :label="2">自定义模板</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="推广主题:"
                      prop="promotionTheme">
          <el-input v-model="form.promotionTheme"
                    placeholder="请输入推广主题，限8字内"
                    maxlength="8"
                    max="12"></el-input>
        </el-form-item>
        <el-form-item label="推广描述："
                      class="ruleForm-sm"
                      prop="promotionDescription">
          <div>
            <el-input type="textarea"
                      v-model="form.promotionDescription"
                      placeholder="请输入推广描述，限80字内"
                      rows="5"
                      maxlength="80"
                      max="50"></el-input>
          </div>
        </el-form-item>
        <el-form-item label="虚拟人数:"
                      prop="virtualNum">
          <el-input-number placeholder="请输入虚拟人数,用以展示活动群吸引力"
                           :min="1"
                           :max="9999"
                           :controls="false"
                           :precision="0"
                           v-model="form.virtualNum"></el-input-number>
        </el-form-item>
        <el-form-item label="背景图:"
                      v-if="form.pageType === 2">
          <div class="ly-box">
            <vma-image-upload v-model="form.bgUrl"
                              :singleFileSize="10" />
          </div>
          <p class="ly-font-color-8">建议尺寸：750*1204不上传则默认系统背景图</p>
        </el-form-item>
        <el-form-item>
          <el-button @click="closeDialog"
                     v-if="hasAction">取消</el-button>
          <el-button type="primary"
                     v-if="hasAction"
                     @click="previewCallback('form')">预览</el-button>
          <el-button type="primary"
                     v-if="hasAction"
                     @click="sureCallback('form')">保存</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="h5-view-container"
         v-show="viewUrl">
      <!-- h5主页 -->
      <h5-view :url="viewUrl" />
    </div>
    <div v-if="!hasAction"
         class="ly-mask-layer"></div>
  </div>
</template>
<script>
import { v2communityManage } from '@/api/system'
import { vmaH5ScrmGroupActivity } from '@/config'
import { compatUrl } from '@/utils'
import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
export default {
  mixins: [resourceMixin],
  props: {
    dialog: [Object]
  },
  data() {
    return {
      microCodeList: [],
      pickerOptions: {
        disabledDate(time) {
          // 86400000 1天 ms
          return time.getTime() < (Date.now() - 86400000)
        }
      },
      date: [],
      form: {
        id: '',
        promotionTheme: '',
        promotionDescription: '',
        bgUrl: '',
        // virtualNum: null,
        pageType: 1 // 页面模式 1使用模板 2自定义模板
      },
      rules: {
        promotionTheme: [
          { required: true, message: '请输入推广主题' }
        ],
        promotionDescription: [
          { required: true, message: '请输入推广描述' }
        ]
        /*
        virtualNum: [
          { required: true, message: '请输入虚拟人数' }
        ]
        */
      },
      // h5预览地址
      viewUrl: ''
    }
  },
  computed: {
    // 是否拥有删除个人号
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.GROUP_ACTIVITY)
    }
  },
  filters: {
  },
  created() {
    this.form.id = this.dialog.data.id
    this.getDetail()
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    // 获取详情
    async getDetail() {
      const res = await v2communityManage.getGActivityConfigDetail(this.dialog.data.id)
      if (res.pageType === 1 || res.pageType === 2) {
        if (!res.virtualNum) {
          delete !res.virtualNum
        }
        for (let key in res) {
          if (res[key]) {
            this.form[key] = res[key]
          }
        }
        // this.form = Object.assign({}, this.form, res)
      }
    },
    // 提交表单
    sureCallback(formName) {
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.submitConfig()
        } else {
          return false
        }
      })
    },
    async submitConfig() {
      let params = Object.assign({}, this.form)
      params.virtualNum = params.virtualNum || ''
      let bgUrl = this.form.pageType === 2 ? this.form.bgUrl : ''
      params.bgUrl = bgUrl
      await v2communityManage.saveGActivityConfigDetail(params).then((res) => {
        this.success('保存成功')
        this.closeDialog()
        this.$emit('refreshList')
      })
    },
    // 新增
    addCallback() {
      /*
      v2marketPlatformApi.activityBindAdd(this.form).then(res => {
        this.success('恭喜你，新增成功')
        this.dialog.open = false
        this.$emit('on-success', true)
      })
      */
    },
    // 编辑
    editCallback() {
      /*
      v2marketPlatformApi.activityBindEdit(this.form).then(res => {
        this.success('恭喜你，编辑成功')
        this.dialog.open = false
        this.$emit('on-success', true)
      })
      */
    },
    // 预览
    previewCallback(formName) {
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.previewSubmit()
        } else {
          return false
        }
      })
    },
    async previewSubmit() {
      let bgUrl = this.form.pageType === 2 ? this.form.bgUrl : ''
      let params = {
        id: this.form.id,
        name: this.form.promotionTheme,
        remark: this.form.promotionDescription,
        virtualNum: this.form.virtualNum || '',
        bgUrl: bgUrl
      }
      const cacheKey = await v2communityManage.previewGActivityConfigDetail(params)
      this.viewUrl = compatUrl(vmaH5ScrmGroupActivity, {
        id: cacheKey,
        view: 1
      })
    }
  }
}
</script>
