<template>
  <div class="ly-text-center">
    <div v-if="dialogProp.type === 2">
      <div class="ly-text-center">
        <div class="ly-inline-block">
          <img class="ly-wh-140-140px" :src="codeInfo.qrCode" />
        </div>
      </div>
      <div class="ly-margin-top-20px ly-font-16">群裂变单群二维码状态：<span class="ly-font-color-7" v-if="codeInfo.status===0">二维码过期</span><span class="ly-font-color-5" v-else>二维码正常</span></div>
      <div class="ly-margin-top-12px ly-font-16">过期时间：{{codeInfo.validTime | date}}</div>
    </div>
    <div class="ly-margin-top-20px">
      <el-button size="medium"
                 type="primary"
                 :disabled="hasAction?false:true"
                 @click="sendToMobile">发手机指令上传</el-button>
      <div class="ly-inline-block  ly-position-relative">
        <el-button class="ly-width-140px"
                   size="medium"
                   :disabled="hasAction?false:true">
          <i class="el-icon-upload2"></i>手动上传
        </el-button>
        <div class="ly-plist-upload-code" v-if="hasAction">
          <vma-upload v-model="fileUrl"
                      :exts="['jpg', 'png', 'jpeg']"
                      :singleFileSize="10" />
        </div>
      </div>
    </div>
    <div class="ly-margin-top-20px ly-font-color-2">手动上传二维码建议尺寸 为：140 * 140</div>
  </div>
</template>

<script>
import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
import { v2communityManage } from '@/api/system'
import Qrcode from '@/components/common/qrcodeCreate' // 生成二维码
export default {
  mixins: [resourceMixin],
  components: {
    Qrcode
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  watch: {
    'fileUrl' (val, oldVal) {
      if (val) {
        this.uploadFileByHand(val)
      }
    }
  },
  computed: {
    // 是否拥有删除个人号
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.GROUP_ACTIVITY)
    }
  },
  data() {
    return {
      codeInfo: {},
      fileUrl: ''
    }
  },
  created() {
    if (this.dialogProp.type === 2) {
      this.getCodeInfo()
    }
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    async getCodeInfo() {
      let params = {
        id: this.dialogProp.data.id
      }
      await v2communityManage.getGroupListCodeInfo(params.id).then((res) => {
        this.codeInfo = res
        this.codeInfo.qrCode = this.dialogProp.data.qrCode
      })
    },
    async sendToMobile() {
      let params = {
        id: this.dialogProp.data.groupId
      }
      await v2communityManage.mobileUploadGroupListCode(params)
      this.$confirm('通过手机上传图片会有延时，稍后刷新查看！', '指令发送成功', {
        confirmButtonText: '知道了',
        showCancelButton: false,
        type: 'success'
      }).then(() => {
        this.$emit('refreshCode')
      }).catch(() => {
        this.$emit('refreshCode')
      })
    },
    async uploadFileByHand(val) {
      let params = {
        id: this.dialogProp.data.id,
        qrCode: val
      }
      await v2communityManage.uploadGroupListCode(params).then((resolve) => {
        this.closeDialog()
        this.$emit('refreshCode')
      }, (reject) => {
        this.fileUrl = ''
      })
    }
  }
}
</script>
