<template>
  <div  style="background-color: #F1F4F6;">
    <!--echart统计-->
    <div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm ly-margin-top-0">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">{{dialog.title}}:{{dialog.data.activityTitle}}</span>
        </div>
        <span class="ly-margin-top-nge-4 ly-font-16">
          当前总群数：{{dialog.data.allNum || 0}}
        </span>
      </div>
      <!--时间选择-->
      <ul class="ly-clearfix ly-search-lay">
        <li class="ly-float-left ly-margin-right-bottom-sm">
          <el-date-picker type="daterange"
                          size="mini"
                          class="ly-width-336px-im"
                          range-separator="至"
                          start-placeholder="开始时间"
                          end-placeholder="结束时间"
                          placeholder="选择时间范围"
                          :default-time="['00:00:00', '23:59:59']"
                          :clearable="true"
                          value-format="timestamp"
                          :picker-options="pickerOptions"
                          v-model="type" />
        </li>
        <li class="ly-float-left ly-margin-right-bottom-sm" style="height: 33px;">
          <el-button-group class="el-button-group-tabs">
            <el-button :type="type === TYPE.HOUR ? 'primary' : 'default'"
                       @click="changeType('type',TYPE.HOUR)">昨天</el-button>
            <el-button :type="type === TYPE.DAY ? 'primary' : 'default'"
                       @click="changeType('type',TYPE.DAY)">近7天</el-button>
            <el-button :type="type === TYPE.MONTH ? 'primary' : 'default'"
                       @click="changeType('type',TYPE.MONTH)">近30天</el-button>
          </el-button-group>
        </li>
        <li class="ly-float-right ly-margin-right-bottom-sm ly-margin-right-0">
          <el-button-group class="el-button-group-tabs button-width">
            <el-button :type="params.type === 1 ? 'primary' : 'default'" @click="changeStatus(1)">群码展示次数</el-button>
            <el-button :type="params.type === 2 ? 'primary' : 'default'" @click="changeStatus(2)">总进群人数</el-button>
            <el-button :type="params.type === 3 ? 'primary' : 'default'" @click="changeStatus(3)">群成员总数</el-button>
          </el-button-group>
          <!--<el-button type="primary"-->
                     <!--size='small'-->
                     <!--@click="search(true)">搜索</el-button>-->
        </li>
      </ul>
      <!-- echat图 -->
      <div>
        <line-chart :list="statistics.list"
                    :legend="statistics.legend" />
      </div>
    </div>
    <!--表格统计-->
    <div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="日期"
                         align="center"
                         min-width="160">
          <template slot-scope="scope">
            {{ scope.row.countDate | date('yyyy-MM-dd') }}
          </template>
        </el-table-column>
        <el-table-column label="群码展示次数"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.showNum || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="总进群人数"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.joinNum || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="群成员总数"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.groupUserNum || 0 }}
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import LineChart from './LineChart'
import { v2communityManage } from '@/api/system'
import { getBeforeNumTimeStramp } from '@/utils'
const TYPE = {
  // 昨天
  HOUR: [getBeforeNumTimeStramp(1), getBeforeNumTimeStramp()],
  // 近7天
  DAY: [getBeforeNumTimeStramp(7), getBeforeNumTimeStramp()],
  // 近30天
  MONTH: [getBeforeNumTimeStramp(30), getBeforeNumTimeStramp()]
}
export default {
  components: {
    LineChart
  },
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      loadStaut: false,
      type: 'DAY',
      params: {
        type: 1,
        startTime: '',
        endTime: ''
      },
      TYPE,
      details: {},
      statistics: {
        legend: [],
        list: []
      },
      tableData: [],
      pickerOptions: {
        disabledDate(time) {
          return !(time.getTime() >= getBeforeNumTimeStramp(30) && time.getTime() <= getBeforeNumTimeStramp())
        }
      }
    }
  },
  watch: {
    'type'(val) {
      let dateArr = val || []
      if (dateArr.length === 0) {
        this.changeType('type', this.TYPE.DAY)
        return
      }
      this.params.startTime = dateArr[0] || ''
      this.params.endTime = dateArr[1] || ''
      this.search()
    }
  },
  created() {
    this.$nextTick(() => {
      this.changeType('type', this.TYPE.DAY)
    })
    // this.defaultValFun()
  },
  methods: {
    /**
     * 切换时间区间
     * @param type
     * @param val
     */
    changeType(type, val) {
      this.type = val
    },
    /**
     * 切换类型
     * @param type
     * @param val
     */
    changeStatus(val) {
      this.params.type = val
      this.search()
    },
    search() {
      let params = Object.assign({}, this.params)
      params.id = this.dialog.data.id
      this.getParams(params)
    },
    /**
     * 群码展示次数统计--图表信息
     */
    getParams(data) {
      this.getLineInfo(data)
      this.getTableInfo(data)
    },
    async getLineInfo(data) {
      await v2communityManage.getGActivityStaticsLine(data).then((res) => {
        this.handleList(res)
      })
    },
    async getTableInfo(data) {
      await v2communityManage.getGActivityStaticsTable(data).then((res) => {
        this.tableData = res
      })
    },
    handleList(data) {
      this.statistics.legend = []
      for (let i = 0; i < data.days.length; i++) {
        let item = data.days[i]
        let time = this.fmt.date(item, 'MM/dd')
        this.statistics.legend.push(time)
      }
      for (let i = 0; i < data.datas.length; i++) {
        let item = data.datas[i]
        item.type = 'line'
        item.stack = '总量'
        item.data = item.number
      }
      this.statistics.list = data.datas
    }
  }
}
</script>
<style type="scss">
  .ly-statistices-body .el-dialog__body{
    padding-top: 0;
  }
  .el-button-group-tabs.button-width .el-button{
    width: 112px !important;
  }
</style>
