<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model="params.keyWord"
                    placeholder="企业名称/联系号码"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-input v-model="params.keyWord"
                    placeholder="请输入贴牌商名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <div class="ly-box ly-margin-top-sm ly-width-100">
      <!-- 重复群 -->
      <div>
        <div class="ly-sidebar">
          <div class="title">
            <span class="ly-vertical-line">代理商列表</span>
          </div>
          <ul class="ly-sidebar-list">
            <li class="ly-sidebar-item ly-box"
                v-for="(item,index) in tableData.records"
                :key="item.id"
                :class="{'active':isActive===index}"
                @click="getList(item.id,index)">
              <div class="ly-box-1">
                <p class="ly-font-color-3">{{item.name ||''}}</p>
                <p>{{item.phone ||''}}</p>
              </div>
              <div>上级：微码微控</div>
            </li>
          </ul>
          <div class="ly-text-right"
               v-if="tableData.total>10">
            <el-pagination layout="prev, pager, next"
                           small
                           :total="tableData.total">
            </el-pagination>
          </div>
        </div>
      </div>
      <!-- 数据列表 -->
      <div class="ly-bg-white ly-padding-sm ly-width-100 ly-margin-left-sm"
           v-if="id">
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1 ly-min-width-130">
            <i class="ico_full_screen"></i>
            <span class="ly-vertical-line">企业详情</span>
          </div>
        </div>
        <Stat :id="id" />
      </div>
    </div>
  </div>
</template>

<script>
import Stat from './components/omsList'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { Stat },
  data() {
    return {
      activeNames: ['1'],
      date: '',
      params: {
        keyWord: '',
        beginTime: '',
        endTime: ''
      },
      isActive: null,
      id: null
    }
  },
  methods: {
    getTableList() {
      this.tableData = {
        current: 1,
        pages: 1,
        records: [
          {
            id: '2',
            name: '企业',
            phone: '18100000000'
          }
        ],
        size: 10,
        total: 1
      }
    },
    getList(id, index) {
      this.isActive = index
      this.id = id
    }
  }
}
</script>
