<template>
  <div>
    <div>新增活动</div>
    <el-form :model="ruleForm"
             ref="ruleForm"
             label-width="100px"
             class="demo-ruleForm">
      <el-form-item label="活动名称:"
                    required>
        <el-input placeholder="12字以内"
                  style="width:500px;"
                  maxlength="12"></el-input>
      </el-form-item>
      <el-form-item label="活动时间:"
                    required>
        <el-date-picker v-model="value4"
                        type="datetimerange"
                        range-separator="~"
                        start-placeholder="不限"
                        end-placeholder="不限"
                        :default-time="['00:00:00', '23:59:59']">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="选择店铺:"
                    required>
        <el-select v-model="value5"
                   multiple
                   placeholder="请选择"
                   @change="handleSelect">
          <el-option v-for="item in options"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="上传截图:"
                    required>
        <el-input placeholder="1~9"
                  style="width:100px;"></el-input>
        <span>张</span>
        <span>上传指定张数的截图方可提交成功</span>
      </el-form-item>
      <el-form-item label="订单时间:">
        <el-date-picker v-model="value4"
                        type="datetimerange"
                        range-separator="~"
                        start-placeholder="不限"
                        end-placeholder="不限"
                        :default-time="['00:00:00', '23:59:59']">
        </el-date-picker>
        <span>订单时间以买家下单时订单创建的时间为准</span>
      </el-form-item>
      <el-form-item label="红包类型:"
                    required>
        <el-radio v-model="radio"
                  label="1">固定金额红包</el-radio>
        <el-radio v-model="radio"
                  label="2">随机金额红包</el-radio>
        <el-radio v-model="radio"
                  label="3">阶梯金额红包</el-radio>
      </el-form-item>
      <el-form-item label="红包金额:"
                    required
                    v-if="radio === '1'">
        <el-input style="width:200px;"
                  placeholder="输入金额1~200.00"></el-input>
      </el-form-item>
      <el-form-item label="红包金额:"
                    required
                    v-if="radio === '2'">
        <el-input style="width:200px;"
                  placeholder="输入金额1~200.00"></el-input>~<el-input style="width:200px;"
                  placeholder="输入金额1~200.00"></el-input>
      </el-form-item>
      <el-form-item label="红包金额:"
                    required
                    v-if="radio === '3'">
        <div v-for="(ladder) in ladders"
             :key="ladder.id">
          <span>实付在</span>
          <el-input style="width:200px;"
                    placeholder="输入金额1~200.00"></el-input>~<el-input style="width:200px;"
                    placeholder="输入金额1~200.00"></el-input><span>元的订单返现</span>
          <el-input style="width:200px;"
                    placeholder="输入金额1~200.00"></el-input><span>元</span>
          <i class="el-icon-delete"
             @click="deleteLadder(ladder)"
             v-if="ladders.length > 1"></i>
        </div>
        <el-button @click="addLadders">添加阶梯</el-button>
        <el-tooltip effect="light"
                    :content="tip"
                    placement="top-start">
          <i class="el-icon-question"></i>
        </el-tooltip>
      </el-form-item>
      <el-form-item label="参与限制:">
        <div>
          <el-radio v-model="radio1"
                    label="1">无限制</el-radio>
        </div>
        <div>
          <el-radio v-model="radio1"
                    label="2">
            <span>同一订单号</span>
            <el-input style="width:100px;"
                      placeholder="1-9999"></el-input>
            <span>天内可参与一次</span>
          </el-radio>
        </div>
        <div>
          <el-radio v-model="radio1"
                    label="3">
            <span>同一订单号活动期间可参与</span>
            <el-input style="width:100px;"
                      placeholder="1-10"></el-input>
            <span>次</span>
          </el-radio>
        </div>
      </el-form-item>
      <el-form-item label="活动说明:"
                    required>
        <el-input type="textarea"
                  style="width:500px;"
                  :placeholder="activityExplain"
                  :max="300"
                  :min="0"
                  :rows="5"
                  v-model="items.text"
                  ref="count"></el-input>
        <div>
          <span>限{{number}}/300字以内</span>
          <span>
            <el-button type="text"
                       @click="inputExample"
                       :disabled="disableBtn">示例文字</el-button>
          </span>
        </div>
      </el-form-item>
      <el-form-item label="活动过滤">
        <el-switch v-model="disableBtn"></el-switch>
        <span>参与过其他返现活动的手机号或订单不可参与本次活动</span>
      </el-form-item>
      <el-form-item label="活动引流">
        <el-switch v-model="disableBtn"></el-switch>
        <span>开启活动后提交申请成功会引导客户参与引流活动</span>
      </el-form-item>
      <el-form-item label="自动审核">
        <el-switch v-model="disableBtn"></el-switch>
        <span>开启后客户提交好评即通过审核</span>
      </el-form-item>
      <el-form-item>
        <el-button>取消</el-button>
        <el-button type="primary">保存</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      disableBtn: false,
      activityExplain: '请输入或粘贴客户需要了解的活动规则，文字可换行，您可以在右侧预览活动规则的大致展示效果',
      radio: '1',
      radio1: '1',
      ruleForm: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        type: [],
        resource: '',
        desc: ''
      },
      ladders: [{
        id: 1
      }],
      value4: '',
      options: [{
        value: '选项0',
        label: '全部店铺'
      }, {
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }, {
        value: '选项3',
        label: '蚵仔煎'
      }, {
        value: '选项4',
        label: '龙须面'
      }, {
        value: '选项5',
        label: '北京烤鸭'
      }],
      value5: [
        '选项0'
      ],
      rules: {
      },
      tip: '可最多指定5个订单金额区间设置红包金额。金额设置规则，大于设置的金额最小值，小于等于设置金额的最大值',
      exampleWord: '1.打开手机淘宝，发表15字以上五星好评并且截屏。2.填写购物订单号并提交对应的图片，即可参与活动。3.符合活动条件的订单号，将获得一定的现金奖励（直接发放到您的微信零钱）。4.提交成功后还需人工审核，1-3个工作日内将会发放相应奖励。5.若由于微信原因无法领取红包，请及时与我们联系。',
      number: 0,
      items: {
        text: ''
      }
    }
  },
  methods: {
    handleSelect(data) {
      console.log(data)
    },
    // 增加阶梯红包
    addLadders() {
      if (this.ladders.length < 5) {
        this.ladders.push({
          id: Date.now()
        })
      }
      console.log(this.ladders)
    },
    // 删除阶梯红包
    deleteLadder(data) {
      if (this.ladders.length > 1) {
        let index = this.ladders.indexOf(data)
        if (index !== -1) {
          this.ladders.splice(index, 1)
        }
      }
    },
    inputExample() {
      this.items.text = this.exampleWord
      this.disableBtn = true
      this.number = this.exampleWord.length
    }
  },
  watch: {
    items: {
      handler: function () {
        let _this = this
        _this.number = _this.$refs.count.value.length
      },
      deep: true
    }
  }
}
</script>
