<template>
  <div class="role-content">
    <el-form label-width="100px"
             :rules="rules"
             :model="form"
             ref="form"
             class="add-role-dialog"
             @submit.native.prevent>
      <el-form-item label="角色名称："
                    prop="name"
                    style="width:350px;"
                    class="ly-font-color-4 ly-font-16">
        <el-input v-model.trim="form.name" :maxlength="20"></el-input>
      </el-form-item>
      <!-- 菜单权限 -->
      <menuRightList :id="id"
                     :entry="entry"
                     ref="menuList"></menuRightList>
      <!-- 数据中心数据统计权限 -->
      <!-- <p class="ly-font-16 detail-margin-top ly-font-color-4 ly-margin-bottom-sm ly-font-weight-bold" v-if="checkedList.homeList && checkedList.homeList.length">数据中心-数据统计权限</p>
      <div style="width:955px;"
           v-for="(item, index) in checkedList.homeList"
           :key="'homeList'+index">
        <div class="ly-padding-15-20px product-detail-bg ly-border-top-1">
          <span>
            <el-checkbox v-model="item.check"
                         @change="allElection($event, 'typeOne', 'homeList',item.hierarchy,index)">
              <span class="ly-font-color-3 ly-font-16 ly-margin-left-5px">数据统计权限</span>
            </el-checkbox>
          </span>
        </div>
        <el-row>
          <el-col :span="4"
                  class="ly-border-1 ly-padding-15"
                  v-for="(oneItem, oneIndex) in item.node"
                  :key="'homeList1'+oneIndex">
            <el-checkbox class="ly-margin-left-sm"
                         v-model="oneItem.check"
                         @change="changeElection($event, 'typeOne', 'homeList',oneItem.hierarchy,index)">{{oneItem.title}}</el-checkbox>
          </el-col>
        </el-row>
      </div> -->
      <!-- 数据权限 -->
      <div class="detail-margin-top"
           v-for="(item, index) in checkedList.divisionList"
           :key="'divisionList'+index">
        <el-checkbox class="ly-margin-bottom-10px ly-font-color-3 ly-font-16"
                     v-model="item.check"
                     @change="allElection($event, 'typeTwo', 'divisionList',item.hierarchy,index)">{{item.title}}</el-checkbox>
        <div>
          <span class="ly-font-color-4 ly-font-14"
                style="display: inline-block;width: 33.33%;"
                v-for="(oneItem, oneIndex) in item.node"
                :key="'divisionList1'+oneIndex">
            <el-checkbox v-model="oneItem.check"
                         @change="changeElection($event, 'typeTwo', 'divisionList',oneItem.hierarchy,index)">{{oneItem.title}}</el-checkbox>
          </span>
        </div>
      </div>
      <!-- 基础权限 -->
      <div class="detail-margin-top"
           v-for="(item, index) in checkedList.basicsList"
           :key="'basicsList'+index">
        <el-checkbox class="ly-margin-bottom-10px ly-font-color-3 ly-font-16"
                     v-model="item.check"
                     @change="allElection($event, 'typeTwo', 'basicsList',item.hierarchy,index)">{{item.title}}</el-checkbox>
        <div>
          <div>
            <div class="ly-margin-bottom-10px" v-show="copyList.home.length>0">数据统计权限</div>
            <span class="ly-font-color-4 ly-font-14"
            style="display: inline-block;width: 33.33%;"
            v-for="(oneItem, oneIndex) in item.node"
            :key="'basicsList1'+oneIndex"
            v-if="oneItem.group === 'home'">
            <el-checkbox v-model="oneItem.check"
                        @change="changeElection($event, 'typeTwo', 'basicsList',oneItem.hierarchy,index)">{{oneItem.title}}</el-checkbox>
            </span>
              <div class="ly-margin-top-xs ly-margin-bottom-10px" v-show="copyList.wechat.length>0">个人号</div>
              <span class="ly-font-color-4 ly-font-14"
              style="display: inline-block;width: 33.33%;"
              v-for="(oneItem, oneIndex) in item.node"
              :key="'basicsList1'+oneIndex"
              v-if="oneItem.group === 'wechat'">
              <el-checkbox v-model="oneItem.check"
                          @change="changeElection($event, 'typeTwo', 'basicsList',oneItem.hierarchy,index)">{{oneItem.title}}</el-checkbox>
            </span>
            <div class="ly-margin-top-xs ly-margin-bottom-10px" v-show="copyList.group.length>0">社群</div>
              <span class="ly-font-color-4 ly-font-14"
              style="display: inline-block;width: 33.33%;"
              v-for="(oneItem, oneIndex) in item.node"
              :key="'basicsList1'+oneIndex"
              v-if="oneItem.group === 'group'">
              <el-checkbox v-model="oneItem.check"
                          @change="changeElection($event, 'typeTwo', 'basicsList',oneItem.hierarchy,index)">{{oneItem.title}}</el-checkbox>
            </span>
            <div class="ly-margin-top-xs ly-margin-bottom-10px" v-show="copyList.department.length>0">部门类</div>
              <span class="ly-font-color-4 ly-font-14"
              style="display: inline-block;width: 33.33%;"
              v-for="(oneItem, oneIndex) in item.node"
              :key="'basicsList1'+oneIndex"
              v-if="oneItem.group === 'department'">
              <el-checkbox v-model="oneItem.check"
                          @change="changeElection($event, 'typeTwo', 'basicsList',oneItem.hierarchy,index)">{{oneItem.title}}</el-checkbox>
            </span>
            <div class="ly-margin-top-xs ly-margin-bottom-10px" v-show="copyList.shop.length>0">电商</div>
              <span class="ly-font-color-4 ly-font-14"
              style="display: inline-block;width: 33.33%;"
              v-for="(oneItem, oneIndex) in item.node"
              :key="'basicsList1'+oneIndex"
              v-if="oneItem.group === 'shop'">
              <el-checkbox v-model="oneItem.check"
                          @change="changeElection($event, 'typeTwo', 'basicsList',oneItem.hierarchy,index)">{{oneItem.title}}</el-checkbox>
            </span>
            <div class="ly-margin-top-xs ly-margin-bottom-10px" v-show="copyList.wallet.length>0">钱包</div>
              <span class="ly-font-color-4 ly-font-14"
              style="display: inline-block;width: 33.33%;"
              v-for="(oneItem, oneIndex) in item.node"
              :key="'basicsList1'+oneIndex"
              v-if="oneItem.group === 'wallet'">
              <el-checkbox v-model="oneItem.check"
                          @change="changeElection($event, 'typeTwo', 'basicsList',oneItem.hierarchy,index)">{{oneItem.title}}</el-checkbox>
            </span>
            <div class="ly-margin-top-xs ly-margin-bottom-10px" v-show="copyList.other.length>0">其他</div>
              <span class="ly-font-color-4 ly-font-14"
              style="display: inline-block;width: 33.33%;"
              v-for="(oneItem, oneIndex) in item.node"
              :key="'basicsList1'+oneIndex"
              v-if="oneItem.group === 'other'">
              <el-checkbox v-model="oneItem.check"
                          @change="changeElection($event, 'typeTwo', 'basicsList',oneItem.hierarchy,index)">{{oneItem.title}}</el-checkbox>
            </span>
          </div>

          <!-- <span class="ly-font-color-4 ly-font-14"
                style="display: inline-block;width: 33.33%;"
                v-for="(oneItem, oneIndex) in item.node"
                :key="'basicsList1'+oneIndex">
            <el-checkbox v-model="oneItem.check"
                         @change="changeElection($event, 'typeTwo', 'basicsList',oneItem.hierarchy,index)">{{oneItem.title}}</el-checkbox>
          </span> -->
        </div>
      </div>
    </el-form>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="roleInfo.open = false">关闭</el-button>
      <el-button type="primary"
                 @click="sureCallback('form')">保存</el-button>
    </div>
  </div>
</template>

<script>
import { staffManageApi } from '@/api/system'
import { menuRigthMixin } from '@/mixins'
import menuRightList from '@/components/common/menuRightList.vue'

export default {
  props: ['roleInfo'],
  mixins: [menuRigthMixin],
  components: { menuRightList },
  data() {
    return {
      form: {
        name: ''
      },
      sureList: [],
      id: '',
      status: null,
      checkedList: {
        // homeList: [],
        tableList: [],
        divisionList: [],
        basicsList: []
      },
      copyList: {
        home: [],
        wechat: [],
        group: [],
        department: [],
        shop: [],
        wallet: [],
        other: []
      },
      entry: 'system',
      rules: {
        name: [
          { required: true, message: '请输入角色名称' },
          { min: 1, max: 20, message: '长度在 1 到 20 个字符' }
        ]
      }
    }
  },
  created() {
    if (this.roleInfo.id) {
      this.id = this.roleInfo.id
      this.form.name = this.roleInfo.name
      this.status = this.roleInfo.status
    }
    // this.getHomeFunctionRight()
    this.getDataRight()
    this.getFunctionRight()
    // this.getMenuRight()
  },
  methods: {
    /**
    * 获取首页统计功能权限
    */
    getHomeFunctionRight() {
      let params = {
        group: 'home',
        role_id: this.id
      }
      staffManageApi.getFunctionRight(params).then((result) => {
        let allChecked = false
        for (let i = 0; i < result.length; i += 1) {
          var item = result[i]
          item.check = Boolean(item.possess)
          item.hierarchy = 2
          if (item.check) {
            allChecked = true
          }
        }
        this.checkedList.homeList = [{
          check: allChecked,
          node: result,
          hierarchy: 2,
          checkedNum: 0,
          title: '首页统计权限'
        }]
      })
    },
    /**
     * 获取数据权限
     */
    getDataRight() {
      staffManageApi.getDataRight({ role_id: this.id }).then((result) => {
        var arr = [{ none: null, title: '同部门数据权限' }, { none: null, title: '子部门数据权限' }, { none: null, title: '全局数据权限' }]
        // 同部门
        arr[0].node = result.filter((item) => {
          return item.groupName === '同部门数据权限'
        })
        // 子部门
        arr[1].node = result.filter((item) => {
          return item.groupName === '子部门数据权限'
        })
        // 全局数据权限
        arr[2].node = result.filter((item) => {
          return item.groupName === '全局数据权限'
        })
        for (let i = 0; i < arr.length; i += 1) {
          var item = arr[i]
          var allChecked = false
          if (item.node) {
            for (let x = 0; x < item.node.length; x += 1) {
              var itemX = item.node[x]
              itemX.check = Boolean(itemX.possess)
              itemX.hierarchy = 2
            }
            allChecked = !item.node.some(childItem => {
              return childItem.check === false
            })
          }
          item.check = allChecked
          item.hierarchy = 2
          item.checkedNum = 0
        }
        this.checkedList.divisionList = arr
      })
    },
    /**
    * 获取功能权限
    */
    getFunctionRight() {
      let params = {
        // group: 'action',
        role_id: this.id
      }
      staffManageApi.getFunctionRight(params).then((result) => {
        var allChecked = false
        for (let i = 0; i < result.length; i += 1) {
          var item = result[i]
          item.check = Boolean(item.possess)
          item.hierarchy = 2
        }
        allChecked = !result.some(childItem => {
          return childItem.check === false
        })
        let home = result.filter(res => res.group === 'home')
        let wechat = result.filter(res => res.group === 'wechat')
        let group = result.filter(res => res.group === 'group')
        let department = result.filter(res => res.group === 'department')
        let shop = result.filter(res => res.group === 'shop')
        let wallet = result.filter(res => res.group === 'wallet')
        let other = result.filter(res => res.group === 'other')
        this.copyList = {home, wechat, group, department, shop, wallet, other}
        this.checkedList.basicsList = [{
          check: allChecked,
          node: result,
          hierarchy: 2,
          checkedNum: 0,
          title: '基础功能权限'
        }]
      })
    },
    sureCallback(form) {
      this.checkedList.tableList = this.$refs.menuList.checkedList.tableList
      this.getSureList()
      this.validateForm(form).then(() => {
        if (this.id) {
          this.editCallback()
        } else {
          this.addCallback()
        }
      }, () => { })
    },
    // 表单验证
    validateForm(formName) {
      return new Promise((resolve, reject) => {
        this.$refs[formName].validate(async (valid) => {
          if (valid) {
            resolve()
          } else {
            this.warn('请输入正确表单信息')
            reject(new Error('请输入正确表单信息'))
          }
        })
      })
    },
    /**
     * 添加新角色
     */
    addCallback() {
      staffManageApi.addSureRole({ name: this.form.name, resource_list: this.sureList, status: 0 }).then((result) => {
        this.roleInfo.open = false
        this.success('添加成功')
        this.$emit('getTableList')
      })
    },
    /**
     * 编辑角色
     */
    editCallback() {
      staffManageApi.editSureRole({ id: this.id, name: this.form.name, resource_list: this.sureList, status: this.status }).then((result) => {
        this.roleInfo.open = false
        this.success('修改成功')
        this.$emit('getTableList')
      })
    },
    /**
     * 获取选中的权限id
     */
    getSureList() {
      this.sureList = []
      // 遍历最外层权限
      for (var key in this.checkedList) {
        // 遍历1级权限
        for (var i = 0; i < this.checkedList[key].length; i++) {
          var item1 = this.checkedList[key][i]
          if (item1.id && item1.check) {
            this.sureList.push(item1.id)
          }
          // 遍历2级权限
          if (item1.node) {
            for (var x = 0; x < item1.node.length; x++) {
              var item2 = item1.node[x]
              if (item2.id && item2.check) {
                this.sureList.push(item2.id)
              }
              // 遍历3级权限
              if (item2.node) {
                for (var y = 0; y < item2.node.length; y++) {
                  var item3 = item2.node[y]
                  if (item3.id && item3.check) {
                    this.sureList.push(item3.id)
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
</script>
