<template>
  <div>
    <el-form label-width="100px"
             :rules="rules"
             :model="dataInfo.data"
             @submit.native.prevent
             ref="form">
      <el-form-item label="部门名称"
                    prop="departmentName"
                    required>
        <el-input class="ly-width-280px-im"
                  v-model.trim="dataInfo.data.departmentName"
                  maxlength="15"></el-input>
      </el-form-item>
      <el-form-item label="父级部门">
        <!--部门级联已经调整-->
        <departmenTreeCascadert v-model="departmentId"
                                filterable
                                clearable
                                placeholder="请选择部门"
                                class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
        <!--
        <el-select placeholder="请选择部门"
                   clearable
                   v-model="parentDepartment">
          <el-option v-for="item in parentDepartmentArray"
                     :key="item.id"
                     :label="item.name"
                     :value="item.id">
          </el-option>
        </el-select>
        -->
        <p class="ly-font-12 colortip">不选择父部门则默认创建父级部门</p>
        <p class="ly-font-12 colortip" v-if="dataInfo.data.id">移动部门时原部门子级会一起移动</p>
      </el-form-item>
    </el-form>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('form')">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { staffManageApi } from '@/api/system'
import { departmenTreeCascadert } from '@/components/packages/system/lazyCascader'

export default {
  components: {
    departmenTreeCascadert
  },
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      departmentId: [],
      tableData: [],
      parentDepartment: '',
      departmentName: '',
      parentDepartmentArray: [],
      rules: {
        departmentName: [
          { required: true, message: '请输入部门名称' },
          { min: 1, max: 50, message: '长度在 1 到 50 个字符' }
        ]
      }
    }
  },
  created() {
    this.departmentId = this.dataInfo.data.ids
    if (this.dataInfo.data) {
      this.getParentDepartment()
    }
  },
  methods: {
    /**
     * 新增部门
     */
    addDepartment() {
      let parentId = this.departmentId[this.departmentId.length - 1] || 0
      let params = {
        name: this.dataInfo.data.departmentName,
        parent_id: parentId
      }
      staffManageApi.addDepartment(params).then(() => {
        this.success('新增部门成功')
        this.dataInfo.open = false
        this.$emit('getDepartmentTree')
      })
    },
    /**
     * 编辑部门
     */
    editorDepartment() {
      let params = this.dataInfo.data
      delete params.ids
      let parentId = this.departmentId[this.departmentId.length - 1] || 0
      params.parentId = parentId
      staffManageApi.editorDepartment(params).then(() => {
        this.$message({
          message: '编辑成功',
          type: 'success'
        })
        this.dataInfo.open = false
        this.$emit('getDepartmentTree', true, this.dataInfo.data.id)
      })
    },
    // 获取父级部门
    getParentDepartment() {
      staffManageApi.getParentDepartment().then(res => {
        this.parentDepartmentArray = res
      })
    },
    sureCallback(form) {
      this.validateForm(form).then(() => {
        if (this.dataInfo.data.id) {
          this.editorDepartment()
        } else {
          this.addDepartment()
        }
      }, () => { })
    },
    // 表单验证
    validateForm(formName) {
      return new Promise((resolve, reject) => {
        this.$refs[formName].validate(async (valid) => {
          if (valid) {
            resolve()
          } else {
            this.warn('请输入正确表单信息')
            reject(new Error('请输入正确表单信息'))
          }
        })
      })
    }
  }
}
</script>
