<template>
  <div class="dialog-powdermanage">
    <el-form @submit.native.prevent style="margin-top:20px;" label-width="80px">
      <el-form-item label="导入说明">
        <p>1、导入文件格式必须为.csv；</p>
        <p>2、导入的文件大小不能超过5000条，如果文件过大请分多次导入；</p>
        <a class="ly-font-white" :href="xlsxUrl" download="手机号微信号加好友">
          <button type="button" class="el-button el-button--primary el-button--medium">下载模板</button>
        </a>
      </el-form-item>
      <el-form-item label="选择文件">
        <div class="fileupLay ly-margin-right-18px" style="float: left !important;padding: 0px 21px;">
          <span>{{formData.formData?'重新上传':'上传数据'}}</span>
          <input type="file" name="fileup" class="file" ref="inputFile" v-on:change="fileChange($event)" />
        </div>
        <span v-if="fileName" class="ly-font-color-5">{{fileName}}</span>
      </el-form-item>
      <el-form-item class="ly-text-right">
        <el-button @click="dataInfo.show = false">取 消</el-button>
        <el-button type="primary" @click="sureCallback">确 定</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { staffManageApi } from '@/api/system'
import { fileUpload } from '@/utils'

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data () {
    return {
      checked: false,
      xlsxUrl: null,
      formLabelWidth: '120px',
      formData: {},
      fileName: ''
    }
  },
  created () {
    this.configEnterprise()
  },
  methods: {
    // 下载导入模板
    configEnterprise () {
      staffManageApi.getImportStaffTemplate().then((res) => {
        this.xlsxUrl = res
      })
    },
    async fileChange (el) {
      let formData = await fileUpload(el, ['csv'], 1000)
      // console.log('formData', formData)
      if (!formData.formData) {
        formData = {}
      }
      this.formData = formData
      this.fileName = this.formData.file.name
      this.success('文件上传成功')
    },
    async sureCallback () {
      let formData = this.formData
      if (!formData.formData) {
        this.warn('请选择文件')
        return
      }
      staffManageApi.importStaff(formData.formData).then((res) => {
        this.$message.success('上传成功')
        this.dataInfo.show = false
        this.$emit('getTableList')
      })
    }
  }
}
</script>
