<template>
  <div>
    <el-form :rules="rules"
             :model="form"
             ref="form"
             label-width="100px">
      <el-form-item label="设置新密码:"
                    prop="newPassword"
                    @submit.native.prevent
                    required>
        <el-input class="ly-width-280px-im"
                  size="medium"
                  type="password"
                  :maxlength="16"
                  v-model.trim="form.newPassword"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="resetStaffPassword('form')">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { staffManageApi } from '@/api/system'
export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      form: {
        newPassword: ''
      },
      rules: {
        newPassword: [
          { required: true, message: '请输入新密码' },
          { min: 6, max: 16, message: '长度在 6 到 16 个字符' }
        ]
      }
    }
  },
  methods: {
    // 表单验证
    validateForm(formName) {
      return new Promise((resolve, reject) => {
        this.$refs[formName].validate(async (valid) => {
          if (valid) {
            resolve()
          } else {
            this.warn('请输入正确表单信息')
            reject(new Error('请输入正确表单信息'))
          }
        })
      })
    },
    resetStaffPassword(form) {
      this.validateForm(form).then(() => {
        let params = {
          id: this.dataInfo.data.id,
          password: this.form.newPassword
        }
        staffManageApi.resetStafffPassWord(params).then(() => {
          this.success('修改密码成功')
          this.dataInfo.open = false
          this.form.newPassword = ''
          this.$emit('getTableList')
        })
      }, () => { })
    }
  }
}
</script>
