<template>
  <div>
    <el-form :rules="rules" :model="formData" ref="formData" label-width="100px">
      <!--
      <el-form-item label="头像:">
        <vma-image-upload v-model="formData.headIcon"
                          :limit="1"
                          :singleFileSize="10" />
      </el-form-item>
      -->
      <el-form-item label="登录账号:" required prop="loginAccount" v-if="!dataInfo.data.id">
        <el-input type='text' style="position:fixed; bottom: -9999px"></el-input>
        <el-input class="ly-width-280px-im" v-model.trim="formData.loginAccount" maxlength="25" size="medium" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="登录密码:" prop="passWord" required v-if="!dataInfo.data.id">
        <el-input type='password' style="position:fixed; bottom: -9999px"></el-input>
        <el-input class="ly-width-280px-im" v-model.trim="formData.passWord" type="password" :maxlength="16" size="medium" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="真实姓名:" prop="realName" required>
        <el-input class="ly-width-280px-im" v-model.trim="formData.realName" maxlength="30" size="medium"></el-input>
      </el-form-item>
      <el-form-item label="手机号码:" prop="phone" required>
        <el-input class="ly-width-280px-im" v-model.number.trim="formData.phone" size="medium"></el-input>
        <el-button type="primary" size="small" icon="el-icon-plus" circle @click="addCard"></el-button>
      </el-form-item>

      <!-- 手机副号动态表单框 -->
      <el-form-item v-for="(domains, index) in formData.domains" :key="index" :prop="'domains.'+ index +'.value'" :rules="[
                    { required: true, message: '请输入手机号码', trigger: 'blur' },
                    { pattern: /^1[3-9]\d{9}$/, message: '请输入正确的手机号码', trigger: ['blur', 'change'] }
                ]">
        <el-input class="ly-width-280px-im" v-model="domains.value"></el-input>
        <el-button type="danger" icon="el-icon-delete" circle @click.prevent="removeCard(domains)"></el-button>
      </el-form-item>

      <el-form-item label="员工角色:" prop="roleIds" required>
        <el-select v-model="formData.roleIds" multiple placeholder="请选择">
          <el-option v-for="item in roleList" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="员工部门:" prop="departmentId">
        <!--部门级联已经调整-->
        <departmenTreeCascadert v-model="departmentId" placeholder="请选择部门" clearable :currentDepartmentId="staffInfo.departmentId || null" @initDepartmentIds="initDepartmentIds" class></departmenTreeCascadert>
      </el-form-item>
      <el-form-item label="工号:">
        <el-input class="ly-width-280px-im" v-model.trim="formData.jobNumber" maxlength="15" size="medium"></el-input>
      </el-form-item>

      <el-form-item label="太保通号:" prop="taibao">
        <el-input class="ly-width-280px-im" v-model.number.trim="formData.taibao" size="medium"></el-input>
      </el-form-item>
      <el-form-item label="主卡号:" prop="taibao">
        <el-input class="ly-width-280px-im" v-model.number.trim="formData.simPhone" size="medium" :disabled="true"></el-input>
      </el-form-item>
      <el-form-item label="副卡号:" prop="taibao">
        <el-input class="ly-width-280px-im" v-model.number.trim="formData.second1" size="medium" :disabled="true"></el-input>
      </el-form-item>
      <!-- <el-form-item label="用户备注:"
                    prop="remark">
        <el-input type="textarea"
                  v-model="formData.remark"
                  maxlength="200"></el-input>
      </el-form-item>-->
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary" @click="sureCallback('formData')">确 定</el-button>
    </div>
  </div>
</template>

<script>
import {
  mobileValidator
} from '@/assets/js/validators'
import {
  commonApi,
  staffManageApi
} from '@/api/system'
// import { mobile } from '@/utils/validator'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'

export default {
  components: {
    departmenTreeCascadert
  },
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data () {
    var validatePhone = (rule, value, callback) => {
      if (!value) {
        callback(new Error('请输入手机号'))
      } else if (value) {
        mobileValidator(rule, value, callback)
      } else {
        callback()
      }
    }
    return {
      parentDepartmanet: '',
      dialogVisible: false,
      staffInfo: {},
      formData: {
        headIcon: '',
        loginAccount: '',
        passWord: '',
        realName: '',
        phone: '',
        departmentId: '',
        jobNumber: '',
        roleIds: [],
        remark: '',
        domains: []
        // taibao: ""
      },
      departmentList: [],
      roleList: [],
      departmentId: [],
      rules: {
        loginAccount: [{
          required: true,
          message: '登录账号不能为空'
        }, {
          min: 5,
          max: 25,
          message: '长度在 5 到 25 个字符'
        }],
        passWord: [{
          required: true,
          message: '登录密码不能为空'
        }, {
          min: 6,
          max: 16,
          message: '长度在 6 到 16 个字符'
        }],
        realName: [{
          required: true,
          message: '真实姓名不能为空'
        }, {
          min: 1,
          max: 30,
          message: '长度在 1 到 30 个字符'
        }],
        phone: [{
          validator: validatePhone,
          trigger: 'blur'
        }],
        // taibao: [
        //   {
        //     pattern: /^1[3-9]\d{9}$/,
        //     message: "请输入正确的太保通号",
        //     trigger: ["blur", "change"]
        //   }
        // ],
        departmentId: [{
          required: true,
          message: '部门不能为空'
        }],
        roleIds: [{
          required: true,
          message: '角色不能为空'
        }],
        remark: [{
          min: 1,
          max: 200,
          message: '长度在 1 到 200 个字符'
        }]
      }
    }
  },
  watch: {
    departmentId: function (val, oldVal) {
      this.formData.departmentId = val[val.length - 1] || ''
    }
  },
  methods: {
    initDepartmentIds (val) {
      this.departmentId = val
    },

    // 表单验证
    validateForm (formName) {
      // 账号密码校验 最少八位数 且 含有 英文和数字
      // var phoneTest = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,18}$/; //校验密码8-18位
      // let result = phoneTest.test(this.formData.passWord)
      return new Promise((resolve, reject) => {
        // if (!result) {
        // console.log('密码须包含数字、字母两种元素，且密码位数为8-16位')
        //     this.warning('密码须包含数字、字母两种元素，且密码位数为8-16位')
        // } else {
        this.$refs[formName].validate(async valid => {
          if (valid) {
            resolve()
          } else {
            reject(new Error('请输入正确表单信息'))
          }
        })
        // }
      })
    },
    sureCallback (form) {
      this.validateForm(form).then(
        () => {
          if (this.dataInfo.data.id) {
            delete this.formData.passWord
            delete this.formData.status
            delete this.formData.enterpriseName
            delete this.formData.departmentName
            delete this.formData.createTime
            delete this.formData.loginAccount
            this.editorStaff()
          } else {
            this.addStaff()
          }
        },
        () => { }
      )
    },
    // 新增员工
    addStaff () {
      staffManageApi.newStaff(this.formData).then(() => {
        this.success('新增成功')
        this.dataInfo.open = false
        this.$emit('getTableList')
      })
    },
    // 删除副卡
    // removeDomain(item) {
    //     var index = this.formData.domains.indexOf(item)
    //     if (index !== -1) {
    //       this.formData.domains.splice(index, 1)
    //     }
    //   },
    // 新增副卡
    addCard () {
      if (this.formData.domains.length > 3) {
        return this.$notify.error({
          title: '添加错误',
          message: '只可添加四个手机副卡号码'
        })
      }
      this.formData.domains.push({
        value: ''
      })
    },
    // 移除副卡
    removeCard (item) {
      var index = this.formData.domains.indexOf(item)
      if (index !== -1) {
        this.formData.domains.splice(index, 1)
      }
    },
    // 编辑员工
    editorStaff () {
      let formData = Object.assign({}, this.formData)
      formData.departmentId =
        formData.departmentId || this.staffInfo.departmentId
      staffManageApi.editorStaff(formData).then(() => {
        this.success('编辑成功')
        this.dataInfo.open = false
        this.$emit('getTableList')
      })
    },
    // 获取下拉部门
    getDepartment () {
      commonApi.departmentList().then(result => {
        this.departmentList = result
      })
    },
    // 获取下拉角色
    getRole () {
      commonApi.roleList().then(result => {
        this.roleList = result
      })
    },
    /**
     * 获取员工详情
     */
    async getStaffDetail (id) {
      await staffManageApi.getDepartmenStaffById(id).then(result => {
        this.formData = result
        // console.log(this.formData)
        this.staffInfo = Object.assign({}, result)
        this.departmentId = [this.staffInfo.departmentId]
      })
    }
  },
  created () {
    // this.getDepartment()
    this.getRole()
    if (this.dataInfo.data.id) {
      this.getStaffDetail(this.dataInfo.data.id)
    }
  }
}
</script>
