<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-date-picker class="ly-margin-right-xs" type="daterange" size="small" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" :clearable="false" v-model="dateRange.params" @change="delaySearch" :picker-options="expireTimeOption"></el-date-picker>
      <departmenTreeCascadert v-model="departmentId" filterable size="small" clearable placeholder="团队" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
      <el-button type="primary" size="small" @click="search">搜索</el-button>
      <el-button type="primary" size="small" icon="el-icon-download" @click="exportFile">导出</el-button>
      <!-- <el-button >聊天总数: {{takingCount}}</el-button> -->
      <el-tag size="medium ">客服对话总数: {{takingCount }}</el-tag>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="table.list" tooltip-effect="dark" style="width: 100%">
        <el-table-column label="设备保管者">
          <template slot-scope="scope">{{scope.row.loginAccount}}({{scope.row.staffName}})</template>
        </el-table-column>
        <el-table-column label="设备保管者电话" prop="phone">
          <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者部门" prop="departmentName">
          <template slot-scope="scope">
            <span>{{scope.row.departmentName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="聊天总数" prop="totalChatTarget" />
        <el-table-column label="与男性好友聊天总数" prop="totalMale" />
        <el-table-column label="与女性好友聊天总数" prop="totalFemale" />
        <el-table-column label="与未知性别好友聊天总数" prop="totalSendToUnKnow" />
        <el-table-column label="AI自动回复数" prop="totalAiAutoReply" />
        <el-table-column label="接待群聊总数" prop="totalChatroom" />
        <el-table-column label="显示趋势">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="showDetailChart(scope.row)">显示趋势图</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog class="dialog-hide-footer dialog-lg" :title="detail.entity ? detail.entity.staffId : '详情'" :visible.sync="detail.show" append-to-body>
      <mod-detail v-if="detail.show" :data="detail.entity" />
    </el-dialog>
  </div>
</template>

<script>
import { indexMixin } from '@/mixins'
import {
  watchDateRangeToTimestamp,
  getRangeDate,
  accurateTodate,
  downloadFile
} from '@/utils'
import { v3indexApi } from '@/api/system'
import ModDetail from './detail'
import { departmenTreeCascadert } from '@/components/packages/system/lazyCascader'
export default {
  mixins: [indexMixin],
  components: {
    ModDetail,
    departmenTreeCascadert
  },
  watch: {
    departmentId: function (val, oldVal) {
      if (val.length) {
        this.params.departmentId = val[val.length - 1]
      } else {
        this.params.departmentId = ''
      }
    }
  },
  data () {
    return {
      takingCount: 'null',
      departmentId: [],
      params: {
        from: '',
        to: '',
        departmentId: ''
      },
      dateRange: {
        params: ''
      },
      expireTimeOption: {
        disabledDate (date) {
          var timeStamp = new Date(new Date().setHours(0, 0, 0, 0)).getTime()
          return date.getTime() > (timeStamp - 1)
        }
      }
    }
  },
  created () {
    this.$watch(
      'dateRange.params',
      watchDateRangeToTimestamp(this.params, 'from', 'to')
    )
    const weekDate = getRangeDate()

    var timeStamp = new Date(new Date().setHours(-1, 0, 0, 0))

    weekDate.now = accurateTodate(timeStamp, 23, 59, 59)
    this.dateRange.params = [weekDate.then, weekDate.now]
  },
  methods: {
    showDetailChart (entity) {
      this.showDetail({
        staffId: entity.staffId,
        from: this.params.from,
        to: this.params.to
      })
    },
    list (current, size) {
      v3indexApi
        .getStaffTalkCount(Object.assign({}, this.params))
        .then(data => {
          this.table.list = data || []
          // let total = this.table.list
          // let sum = 0
          // total.forEach(function(v,i){
          //   sum += v.totalChatTarget
          // })
          this.takingCount = this.table.list[0].sum
        })
    },
    // 导出
    exportFile () {
      v3indexApi.exportStaffTalkCount(this.params).then(res => {
        // downloadFile(res, "客服对话统计.xls");
        this.success(res)
      })
    }
    // exportFile() {
    //   this.downloadFile(v3indexApi.exportStaffTalkCount(Object.assign({}, this.params)), '客服对话统计.xls')

    // }
  }
}
</script>
