<template>
    <div class="addfans">
      <!-- <ExportExcel :excelName='addFans'></ExportExcel> -->
      <el-table show-summary :summary-method = 'getSummaries' style="width: 50%;float: left;" :data='AddFansWechatData'>
        <el-table-column label="微信加粉量" align='center'>
          <el-table-column
          align='center'
            prop="calendar"
            label="日期"
            width="120">

          </el-table-column>
          <el-table-column v-for="(item,index) in childList" :key="item.id" :prop='item.name' :label='item.enName'>
</el-table-column>
<el-table-column align='center' prop="count" label="求和" width="auto">
</el-table-column>
</el-table-column>
</el-table>

<el-table show-summary :summary-method='getSummariesTwo' style="width: 50%;" :data='AddFansOwnData'>
    <el-table-column label="人均加粉量" align='center'>
        <el-table-column align='center' prop="calendar" label="日期" width="120">

        </el-table-column>
        <el-table-column v-for="(item,index) in childListTwo" :key="item.id" :prop='item.name' :label='item.enName'>
        </el-table-column>
        <el-table-column align='center' prop="count" label="平均" width="auto">
        </el-table-column>
    </el-table-column>
</el-table>
<tablePage :params='params'></tablePage>
</div>
</template>
<script>
    import ExportExcel from '../../common/ExportExcel'
    import tablePage from '../../common/Pagintion.vue'
    import mixinsList from '../../common/mixinsList.js'
    export default {
        props: {
            childList: {
                type: Array,
                default () {
                    return []
                }
            },
            childListTwo: {
                type: Array,
                default () {
                    return []
                }
            },
            AddFansWechatData: {
                type: Array,
                default: function() {
                    return []
                }
            },
            AddFansOwnData: {
                type: Array,
                default: function() {
                    return []
                }
            },
            params: {
                type: Object,
                default: function() {
                    return {}
                }
            },
            paramsTwo: {
                type: Object,
                default: function() {
                    return {}
                }
            }
        },
        components: {
            tablePage,
            ExportExcel
        },
        mixins: [mixinsList],
        data() {
            return {
                sumText: '2020年总计',
                // excelName: 'addFans'
            }
        },
        filters: {
            cityTable(val) {
                if (val == null) {
                    return '暂无数据'
                } else {
                    return val
                }
            }
        },
    }
</script>
<style scoped>
    .addfans {
        width: 100%;
        min-width: 800px;
    }
    
    .tablepage {
        height: 100px;
        background-color: #fff;
    }
</style>