<template>
  <div>
    <el-table show-summary :summary-method = 'getSummaries' style="width: 50%; float: left;" :data='DialogueData'>
            <el-table-column label="服务对话量" align='center'>
              <el-table-column
          align='center'
            prop="calendar"
            label="日期"
            width="120">

          </el-table-column>
          <el-table-column v-for="(item,index) in childList" :key="item.id" :prop='item.name' :label='item.enName'>
</el-table-column>
<el-table-column align='center' prop="count" label="求和" width="auto">
</el-table-column>
</el-table-column>
</el-table>
<el-table show-summary :summary-method='getSummariesTwo' style="width: 50%" :data='JdByStaffCount'>
    <el-table-column label="客户主动进线量" align='center'>
        <el-table-column align='center' prop="calendar" label="日期" width="120">

        </el-table-column>
        <el-table-column v-for="(item,index) in childListTwo" :key="item.id" :prop='item.name' :label='item.enName'>
        </el-table-column>
        <el-table-column align='center' prop="count" label="平均" width="auto">
        </el-table-column>
    </el-table-column>
</el-table>
<tablePage :params='params'></tablePage>
</div>

</template>
<script>
    import tablePage from '../../common/Pagintion.vue'
    import mixinsList from '../../common/mixinsList.js'
    export default {
        props: {
            childList: {
                type: Array,
                default () {
                    return []
                }
            },
            childListTwo: {
                type: Array,
                default () {
                    return []
                }
            },
            DialogueData: {
                type: Array,
                default: function() {
                    return []
                }
            },
            JdByStaffCount: {
                type: Array,
                default: function() {
                    return []
                }
            },
            params: {
                type: Object,
                default: function() {
                    return {}
                }
            },
            paramsTwo: {
                type: Object,
                default: function() {
                    return {}
                }
            }
        },
        mixins: [mixinsList],
        components: {
            tablePage
        },
        created() {
            // console.log(this.params, '---------------', this.paramsTwo)
        },
        data() {
            return {
                sumText: '2020年总计',
            }
        },
        filters: {
            cityTable(val) {
                if (val == null) {
                    return '暂无数据'
                } else {
                    return val
                }
            }
        },
        methods: {

        },
    }
</script>