<template>
    <div>
    <el-table
    :data="NowordData"
    style="width: 100%"
    show-summary :summary-method = 'getSummaries' 
    >
    <!-- 非工作时间对话量 -->
    <el-table-column label="非工作时间对话量" align='center'>
      <el-table-column
      align='center'
        prop="calendar"
        label="日期"
        width="120">

      </el-table-column>
      <el-table-column v-for="(item,index) in childList" :key="item.id" :prop='item.name' :label='item.enName'>
</el-table-column>
<el-table-column align='center' prop="count" label="求和" width="auto">
</el-table-column>
</el-table-column>
</el-table>
<tablePage :params='params'></tablePage>
</div>
</template>
<script>
    import tablePage from '../../common/Pagintion.vue'
    import mixinsList from '../../common/mixinsList.js'
    export default {
        props: {
            childList: {
                type: Array,
                default () {
                    return []
                }
            },
            NowordData: {
                type: Array,
                default: function() {
                    return []
                }
            },
            params: {
                type: Object,
                default: function() {
                    return []
                }
            }
        },
        mixins: [mixinsList],
        components: {
            tablePage
        },
        data() {
            return {
                sumText: '2020年总计'
            }
        },
        created() {
            // console.log(this.params, '------')
        },
        filters: {
            cityTable(val) {
                if (val == null) {
                    return '暂无数据'
                } else {
                    return val
                }
            }
        },
        methods: {
            // 总计金额自定义

        }
    }
</script>
<style>

</style>