<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="date"
                         label="付款时间"
                         width="200">
        </el-table-column>
        <el-table-column prop="name"
                         label="支出金额（元）">
        </el-table-column>
        <el-table-column prop="name"
                         label="领取者">
        </el-table-column>
        <el-table-column prop="name"
                         label="活动名称">
        </el-table-column>
        <el-table-column prop="name"
                         label="购物账号">
        </el-table-column>
        <el-table-column prop="name"
                         label="审核方式">
        </el-table-column>
        <el-table-column prop="name"
                         label="审核员工">
        </el-table-column>
        <el-table-column prop="name"
                         label="支付方式">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <b class="ly-font-color-1 ly-font-14 ly-margin-right-sm" style="padding-left:50px">合计支出： 500.00 元</b>
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'

export default {
  components: { collapse },
  data() {
    return {
      activeNames: ['1'],
      params: {
        activityState: true,
        activityName: true,
        sendingStaff: true,
        date: true
      },
      tableData: [
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市'
        }
      ],
      multipleSelection: [],
      dialogFormVisible: false
    }
  },
  created() {
  },
  methods: {
    queryCallback() {
      console.log(this.params)
    }
  }
}
</script>
