<template>
  <div>
    <el-form :model="params"
             :rules="rules"
             ref="ruleForm">
      <el-form-item label="当前员工部门:"
                    :label-width="formLabelWidth"
                    v-if="dialog.data.departmentName">
        {{dialog.data.departmentName}}
      </el-form-item>
      <el-form-item label="当前分配员工:"
                    :label-width="formLabelWidth"
                    v-if="dialog.data.staffAccount">
        {{dialog.data.staffAccount}}<span v-if="dialog.data.staffName">({{dialog.data.staffName}})</span>
      </el-form-item>
      <el-form-item label="部门:"
                    :label-width="formLabelWidth">
        <!--部门级联已经调整-->
        <departmenTreeCascadert v-model="departmentId"
                                filterable
                                clearable
                                :currentDepartmentId="dialog.data.departmentId ? dialog.data.departmentId : null"
                                @initDepartmentIds="initDepartmentIds"
                                style="width: 230px"
                                placeholder="请选择接收员工部门"></departmenTreeCascadert>
      </el-form-item>
      <el-form-item label="分配员工:"
                    :label-width="formLabelWidth"
                    prop="staffId">
        <!--分配员工已经调整-->
        <departmentStaff placeholder="请选择或搜索要分配的员工"
                         style="width: 230px"
                         v-model="params.staffId"
                         filterable
                         clearable
                         v-if="initStaffStatus"
                         :parentId="departmentId"></departmentStaff>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium"
                     @click="dialog.open=false">取 消</el-button>
          <el-button size="medium"
                     type="primary"
                     @click="confirmSubmit">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import { personalNumManageApi } from '@/api/system'
import { departmentStaff } from '@/components/packages/system/lazySelect'
import { departmenTreeCascadert } from '@/components/packages/system/lazyCascader'
export default {
  components: {
    personalInfo,
    departmenTreeCascadert,
    departmentStaff
  },
  props: {
    dialog: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      departmentId: [],
      params: {
        departmentId: '',
        staffId: ''
      },
      initStaffStatus: true,
      rules: {
        staffId: [
          { required: true, message: '请选择要分配的员工' }
        ]
      }
    }
  },
  watch: {
    'departmentId': function(val, oldVal) {
      let oldDepartmentId = this.params.departmentId
      let newDepartmentId = val[val.length - 1] || ''
      if (oldDepartmentId !== newDepartmentId && oldDepartmentId !== '') {
        this.params.staffId = ''
        this.initStaffStatus = false
        this.$nextTick(() => {
          this.initStaffStatus = true
        })
      }
      this.params.departmentId = newDepartmentId
    }
  },
  created() {
    if (this.dialog.typeVal === 1) {
      // 单个记录
      this.departmentId = this.dialog.data.departmentId ? [this.dialog.data.departmentId] : []
      this.params.staffId = this.dialog.data.staffId || ''
    }
  },
  methods: {
    initDepartmentIds(val) {
      this.departmentId = val
    },
    confirmSubmit() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.submitData()
        } else {
          return false
        }
      })
    },
    async submitData() {
      let formData = {
        ids: [this.dialog.data.id],
        staffId: this.params.staffId
      }
      await personalNumManageApi.wechatGroupListAssignStaff(formData).then(() => {
        this.success('分配成功')
        this.$emit('getTableList')
        this.dialog.open = false
        // if (this.dialog.typeVal === 2) {
        //   this.$emit('removeChecked')
        // }
      })
    }
  }
}
</script>
