<template>
  <div>
    <div class="ly-bg-white">
      <p class="ly-margin-bottom-sm">当前回复者：<span>{{currentName || '未设置'}}</span></p>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="nickName"
                         label="微信昵称/群昵称/微信号" >
          <template slot-scope="scope">
            <p>{{scope.row.nickName}}</p>
            <p class="ell2 ly-max-height-40px ly-overflow-hidden">{{scope.row.groupNickName || '无'}}</p>
            <p>{{scope.row.wxId}}</p>
          </template>
        </el-table-column>
        <el-table-column label="在线状态">
          <template slot-scope="scope">
            <p>{{scope.row.onLine?'在线':'离线'}}</p>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         align="right">
          <template slot-scope="scope">
            <span class="ly-font-color-9"
                  v-if="scope.row.id === currentId">当前回复者</span>&ensp;
            <i class="ly-ico el-icon-success"
               :class="scope.row.id === currentId?'active':''"
               @click="radioCallback(scope.$index,scope.row.id)"></i>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
    <div class="ly-margin-top-20px ly-text-right">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('dialog')">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
import { v2communityManage } from '@/api/system'

export default {
  mixins: [tableMixin],
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      currentName: '未设置',
      currentId: null,
      oldId: null,
      id: null
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      switch (this.dialog.data.type) { // 类型 1入群2自动回复3行为管理
        case 1:
          this.currentName = this.dialog.data.greetingWechatAccountName
          this.currentId = this.oldId = this.dialog.data.greetingWechatAccountId
          break
        case 2:
          this.currentName = this.dialog.data.autoWechatAccountName
          this.currentId = this.oldId = this.dialog.data.autoWechatAccountId
          break
        case 3:
          this.currentName = this.dialog.data.actionWechatAccountName
          this.currentId = this.oldId = this.dialog.data.actionWechatAccountId
          break
      }
    },
    // 获取列表
    async requestTableList() {
      this.params.wechat_group_id = this.dialog.data.id
      await v2communityManage.communityWechatAccount(this.params).then(res => {
        this.tableData = res
      })
    },
    // 单选
    radioCallback(index, id) {
      this.currentName = this.tableData.records[index].nickName
      this.currentId = this.tableData.records[index].id
      this.id = id
    },
    async sureCallback() {
      let formData = { group_setting_type: this.dialog.data.type, wechat_account_id: this.id, wechat_group_id: this.dialog.data.id }
      if (this.currentId !== this.oldId && this.currentId !== -1) {
        await v2communityManage.communityWechatAccountId(formData)
        this.$emit('getTableList')
      }
      this.dialog.open = false
    }
  }
}
</script>
