<template>
  <div>
    <p class="ly-margin-bottom-sm">群名称：{{dialog.data.groupName || ''}}</p>
    <ul class="ly-box ly-dialog-menu">
      <li class="ly-box-1"
          v-for="item in menuList"
          :key="item.id">
        <div class="ly-dialog-menu-item"
             :class="activeIndex===item.id?'active':''">
          <span class="ly-cursor-pointer"
                @click="radioCallback(item.id)">{{item.name}}</span>
          <el-switch v-model="item.checkbox"
                     active-color="#409EFF"
                     :active-value="1"
                     :inactive-value="0"
                     @change="switchCallback($event,item)" />
        </div>
      </li>
    </ul>
    <!-- 入群问候设置 -->
    <div v-show="activeIndex === 1"
         :class="menuList[0].checkbox ?'':'ly-maskLay'">
      <div class="business">
        <el-form :model="dialog.data"
                 ref="form"
                 label-width="120px"
                 class="demo-ruleForm ly-padding-vertical-sm"
                 @submit.native.prevent>
          <el-form-item label="配置类型：">
            <template>
              <el-radio-group v-model="dialog.data.greetingType"
                              @change="greetingTypeChange">
                <el-radio :label="0">全局配置</el-radio>
                <el-radio :label="1">自定义配置</el-radio>
              </el-radio-group>
            </template>
          </el-form-item>
          <el-form-item label="设置间隔时间："
                        class="ruleForm-xs"
                        prop="num">
            <template>
              <el-input-number v-model="dialog.data.greetingWaitTime"
                               controls-position="right"
                               :min="5"
                               :max="1440"></el-input-number>
              <span>
                分钟<span class="ly-font-color-8 ly-font-12">（间隔时间设置是用于避免在同一时间段重复发送多次问候语，默认120分钟，最少5分钟，最大1440分钟）</span>
              </span>
            </template>
          </el-form-item>
        </el-form>
        <el-button type="primary"
                   size="small"
                   v-if="dialog.data.greetingType"
                   icon="el-icon-plus"
                   class="ly-margin-bottom-sm"
                   @click="openCallback($event,'greetingsAdd')">新增问候语</el-button>
      </div>
      <el-table ref="multipleTable"
                :data="greetTableData"
                tooltip-effect="dark"
                row-key="id"
                style="width: 100%">
        <el-table-column label="回复类型"
                         min-width="120">
          <template slot-scope="scope">
            <span>{{ MESSAGE_TPYE[scope.row.msgType] }}</span>
          </template>
        </el-table-column>
        <el-table-column label="消息内容"
                         min-width="140">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         v-if="dialog.data.greetingType"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="openCallback($event,'greetingsEdit',scope.row,scope.$index)">编辑</el-button>
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small"
                       @click="deleteGroupSetting(scope.$index)">删除</el-button>
            <el-button type="text"
                       size="small"
                       @click="sortChange('upward',scope.$index)"
                       v-if="scope.$index != 0">上移</el-button>
            <el-button type="text"
                       size="small"
                       @click="sortChange('down',scope.$index)"
                       v-if="scope.$index != (greetTableData.length-1)">下移</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="ly-margin-top-20px ly-text-right">
        <el-button @click="dialog.open = false">取 消</el-button>
        <el-button type="primary"
                   @click="communityGreeting">确 定</el-button>
      </div>
    </div>
    <!-- 自动回复设置 -->
    <div v-show="activeIndex === 2"
         :class="menuList[1].checkbox ?'':'ly-maskLay'">
      <div class="business">
        <el-form :model="dialog.data"
                 ref="form"
                 label-width="120px"
                 class="demo-ruleForm ly-padding-vertical-sm"
                 @submit.native.prevent>
          <el-form-item label="配置类型：">
            <template>
              全局配置
            </template>
          </el-form-item>
          <!-- <el-form-item label="设置间隔时间："
                        class="ruleForm-xs"
                        prop="autoReplyWaitTime">
            <template>
              <el-input-number v-model="dialog.data.autoReplyWaitTime"
                               controls-position="right"
                               :min="5"
                               :max="120"></el-input-number>
              <span>
                分钟<span class="ly-font-color-8 ly-font-12">（间隔时间设置是用于避免在同一时间段重复发送多次问候语，默认120分钟，最少5分钟，最大1440分钟）</span>
              </span>
            </template>
          </el-form-item> -->
          <!-- <el-form-item label="自动回复：">
            <template>
              <el-radio-group v-model="dialog.data.autoReplyType">
                <el-radio :label="0">公有规则</el-radio>
                <el-radio :label="1">私有规则</el-radio>
              </el-radio-group>
            </template>
          </el-form-item> -->
        </el-form>
      </div>
      <el-table ref="multipleTables"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="匹配模式">
          <template slot-scope="scope">
            <span>{{ matchModel[scope.row.matchModel] }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="matchWord"
                         label="关键词"
                         class-name="ly-font-color-9">
        </el-table-column>
        <el-table-column label="回复内容"
                         align="center">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row.replyMsg[0]"
                           v-if="scope.row.replyMsg.length===1"></videoAudioImg>
            <div v-else>
              <el-button type="text"
                         @click="openCallback($event,'details',scope.row.replyMsg)">{{scope.row.replyMsg.length?scope.row.replyMsg.length+'条消息':'--'}}</el-button>
            </div>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
      <div class="ly-margin-top-20px ly-text-right">
        <el-button @click="dialog.open = false">取 消</el-button>
        <el-button type="primary"
                   @click="communityAautoReply">确 定</el-button>
      </div>
    </div>
    <!-- 行为管理设置 -->
    <div v-show="activeIndex === 3">
      <div class="business">
        <el-form :model="dialog.data"
                 ref="form"
                 label-width="120px"
                 class="demo-ruleForm ly-margin-top-sm"
                 @submit.native.prevent>
          <el-form-item label="配置类型：">
            <template>
              <el-radio-group v-model="dialog.data.actionType"
                              @change="communityAction">
                <el-radio :label="1">自定义配置</el-radio>
                <el-radio :label="0">全局配置<span class="ly-font-color-2 ly-font-12">（选择此项时无法修改内容，请到【管理-行为管理】处查看和修改）</span></el-radio>
              </el-radio-group>
            </template>
          </el-form-item>
        </el-form>
      </div>
      <behavior :class="menuList[2].checkbox && menuList[2].status ?'':'ly-maskLay'"
                class="ly-font-14"
                style="margin-left: 38px;"
                entry="group"
                :groupId="dialog.data.id"
                ref="behavior" />
    </div>
    <!--入群问候设置-新增问候语-->
    <el-dialog title="新增问候语"
               :visible.sync="greetingsDialog.show"
               width="880px"
               @close="closeCallback"
               append-to-body>
      <qReplayMessageAdd :dialogProp="greetingsDialog"
                         v-if="greetingsDialog.show"
                         @closeDialog="closeCallback"
                         @getData="getGroupSetting"></qReplayMessageAdd>
    </el-dialog>
    <!--自动回复设置-显示消息详情-->
    <el-dialog title="关键内容"
               :visible.sync="detailsDialog.open"
               width="880px"
               append-to-body>
      <el-table ref="multipleTable2"
                v-if="detailsDialog.open"
                :data="detailsDialog.data"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="回复类型"
                         width="160">
          <template slot-scope="scope">
            <span>消息{{scope.$index+1}}({{ MESSAGE_TPYE[scope.row.msgType] }})</span>
          </template>
        </el-table-column>
        <el-table-column label="消息内容">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import { MESSAGE_TPYE, MESSAGE_TPYE_KEY } from '@/constants/messageType'
import videoAudioImg from '@/components/common/videoAudioImg'
import qReplayMessageAdd from './qReplayMessageAdd'
import { messageOfTxtImgAudVido } from '@/components/common/messageAdd'
import behavior from '../behavior'
import { resourceMixin, tableMixin, msgTIAVSubmitMessage } from '@/mixins'

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  components: { videoAudioImg, qReplayMessageAdd, behavior, messageOfTxtImgAudVido },
  mixins: [resourceMixin, tableMixin, msgTIAVSubmitMessage],
  data() {
    return {
      MESSAGE_TPYE: MESSAGE_TPYE,
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      activeIndex: 1,
      menuList: [
        {
          name: '入群问候设置',
          id: 1,
          checkbox: 0 // 入群问候语设置 0关闭，1全局，2自定义
        },
        {
          name: '自动回复设置',
          id: 2,
          checkbox: this.dialog.data.autoReplyStatus // 自动回复设置 0关闭，1开启
        },
        {
          name: '行为管理设置',
          id: 3,
          checkbox: 0, // 行为管理语设置 0关闭，1全局，2自定义
          status: this.dialog.data.actionType // 行为管理配置类型 0全局 1自定义
        }
      ],
      matchModel: {
        1: '包含所有词',
        2: '包含任意词',
        3: '和任意词完全相同'
      },
      // rules: {
      //   autoReplyWaitTime: [
      //     { required: true, message: '设置间隔时间不能为空' }
      //   ]
      // },
      greetTableData: [],
      greetingsDialog: {},
      detailsDialog: {}
    }
  },
  created() {
    if (!this.dialog.data.greetingWaitTime) { // 入群问候时间默认120
      this.dialog.data.greetingWaitTime = 120
    }
    if (this.dialog.data.greetingStatus) {
      this.menuList[0].checkbox = 1
    }
    if (this.dialog.data.actionStatus) {
      this.menuList[2].checkbox = 1
    }
    if (this.dialog.data.greetingType) {
      this.communityGreetingList()
    } else {
      this.getGreetingrecords()
    }
  },
  methods: {
    // 单选
    radioCallback(id) {
      this.activeIndex = id
      if (id === 3) {
        this.communityAction()
      }
    },
    // 弹窗-打开
    openCallback(defObj, val, obj, index) {
      switch (val) {
        case 'greetingsAdd':
          this.greetingsDialog = {
            show: true,
            data: {},
            isEdit: 'add'
          }
          break
        case 'greetingsEdit':
          this.greetingsDialog = {
            show: true,
            data: obj,
            isEdit: 'edit',
            index: index
          }
          break
        case 'details':
          this.detailsDialog = {
            open: true,
            data: obj
          }
          break
      }
    },
    // 弹窗-关闭
    closeCallback() {
      this.greetingsDialog = {}
    },
    // 群设置修改
    async switchCallback(defObj, obj) {
      let formData = { group_setting_type: obj.id, status: defObj, wechat_group_id: this.dialog.data.id }
      await v2communityManage.communitySetting(formData)
    },
    // 入群问候设置-配置类型Change
    greetingTypeChange(defObj) {
      if (defObj) {
        this.communityGreetingList(defObj)
      } else {
        this.getGreetingrecords(defObj)
      }
    },
    // 入群问候设置-获取入群设置全局配置列表
    async getGreetingrecords() {
      await v2communityManage.getGreetingGroupRecord().then((data) => {
        data.forEach(o => {
          o.msgSource = o.msgText
          if (o.msgType === 4) {
            o.vedioImg = o.vedioImg
          }
        })
        this.greetTableData = data
      })
    },
    // 入群问候设置-获取入群设置自定义列表
    async communityGreetingList(defObj, obj) {
      await v2communityManage.communitygroupRelaEnterGreeting(this.dialog.data.id).then((data) => {
        data.forEach(o => {
          o.msgSource = o.msgText
          if (o.msgType === 4) {
            o.vedioImg = o.vedioImg
          }
        })
        this.greetTableData = data
      })
    },
    // 入群问候设置-获取新增问候语数据-新增编辑
    getGroupSetting(val) {
      val.msgSource = val.msgText
      if (this.greetingsDialog.isEdit === 'edit') {
        this.$set(this.greetTableData, this.greetingsDialog.index, val)
      } else {
        this.greetTableData.unshift(val)
      }
      this.closeCallback()
    },
    // 入群问候设置-删除
    deleteGroupSetting(index) {
      this.$confirm('是否确定要删除', '提示').then(() => {
        this.greetTableData.splice(index, 1)
      })
    },
    // 入群问候设置-上移下移
    sortChange(type, index) {
      if (type === 'upward') {
        let obj = this.greetTableData[index - 1]
        this.$set(this.greetTableData, index - 1, this.greetTableData[index])
        this.$set(this.greetTableData, index, obj)
      } else {
        var obj = this.greetTableData[index + 1]
        this.$set(this.greetTableData, index + 1, this.greetTableData[index])
        this.$set(this.greetTableData, index, obj)
      }
    },
    // 入群问候设置-入群问候设置
    async communityGreeting(defObj, obj) {
      let formData = {
        greeting_wait_time: this.dialog.data.greetingWaitTime,
        group_setting_type: this.dialog.data.greetingType,
        wechat_group_id: this.dialog.data.id
      }
      if (this.dialog.data.greetingType) {
        if (this.greetTableData.length === 0) {
          this.error('请添加问候语！')
          return
        }
        this.greetTableData.forEach((element, index) => {
          element.sort_index = index + 1
        })
        formData.group_auto_reply_msg_detail_list = this.greetTableData
      } else {
        formData.group_auto_reply_msg_detail_list = null
      }
      await v2communityManage.communityGreeting(formData)
      this.dialog.open = false
    },
    // 自动回复设置-获取列表
    async requestTableList() {
      this.params.rule_type = 2
      await v2communityManage.getAutoRecoveryRecords(this.params).then((data) => {
        data.records.forEach(item => {
          item.replyMsg.forEach(o => {
            o.msgSource = o.msgText
            if (o.msgType === 4) {
              o.vedioImg = o.coverInfo
            }
          })
        })
        this.tableData = data
      })
    },
    // 自动回复设置-自动回复设置
    async communityAautoReply(defObj, obj) {
      let formData = {
        auto_reply_type: 0,
        // auto_reply_wait_time: this.dialog.data.autoReplyWaitTime,
        wechat_group_id: this.dialog.data.id
      }
      await v2communityManage.communityAautoReply(formData)
      this.dialog.open = false
    },
    // 行为管理设置-配置类型
    async communityAction(val) {
      if (val === undefined) {
        val = this.dialog.data.actionType
      }
      await v2communityManage.communityAction({ action_type: val, wechat_group_id: this.dialog.data.id })
      this.menuList[2].status = val
      if (val) {
        this.$refs.behavior.getBehaviorLists(this.dialog.data.id)
      } else {
        this.$refs.behavior.getBehaviorList()
      }
    }
  }
}
</script>
