<template>
  <div class="ly-margin-right-30px">
    <el-form :model="params"
             ref="ruleForm"
             @submit.native.prevent>
      <div class="ly-height-max-50vh ly-scroll-y">
        <messageOfTxtImgAudVido ref="messageEles"
                                :info="modifyObj"
                                :limit="1"></messageOfTxtImgAudVido>
      </div>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary"
                     @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { messageOfTxtImgAudVido } from '@/components/common/messageAdd'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'
import { txtImgAudVideoInitDataMixin, msgTIAVSubmitMessage } from '@/mixins'

export default {
  mixins: [txtImgAudVideoInitDataMixin, msgTIAVSubmitMessage],
  components: { messageOfTxtImgAudVido },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      formLabelWidth: '136px',
      modifyObj: {},
      params: {
        msgText: '',
        msgType: '',
        coverInfo: '',
        voiceLength: null
      }
    }
  },
  methods: {
    // 关闭弹窗
    closeDialog() {
      this.$emit('closeDialog')
    },
    // 保存
    submitInfo() {
      let info = this.$refs.messageEles.getMessageInfo()
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (info) {
            if (info.msgText) {
              // 保存--消息的内容--在mixins/src/msgTIAVSubmitMessage文件下方法SubmitMessage
              this.$emit('getData', info)
            } else {
              this.warn('消息内容不能为空')
            }
          }
        }
      })
    }
  }
}
</script>
