<template>
  <div>
    <!--<el-dialog title="选择群聊分组" :visible.sync="dialogProp.show" width="489px" @close="colseDialog">-->
    <el-form :model="dialogProp">
      <el-form-item label="群聊昵称:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==1">
        <p class="ly-margin-right-40px ell">{{dialogProp.data.groupName}}</p>
      </el-form-item>
      <el-form-item label="批量分组数量:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==2">
        <p>{{dialogProp.ids.length}}</p>
      </el-form-item>
      <el-form-item label="当前群聊分组:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==1 && dialogProp.data.wxGroupInfoName">
        <p  class="ly-margin-right-40px">{{dialogProp.data.wxGroupInfoName}}</p>
      </el-form-item>
      <el-form-item label="群聊分组:" :label-width="formLabelWidth">
        <setGroupCascader  :placeholder="'请选择群聊分组'"
                           :groupId="this.dialogProp.data.wxGroupInfoId? this.dialogProp.data.wxGroupInfoId : null"
                           :modify="this.dialogProp.data.wxGroupInfoId? 1 : 0"
                           :groupType="2"
                           @getInitVal="getInitVal"
                           class="ly-margin-right-bottom-sm"></setGroupCascader>
        <!-- <personNumWechatGroups v-model="params.wxGroupInfoId"
                               :staffId="dialogProp.staffId"
                               style="width: 266px"
                               placeholder="请选择群聊分组"></personNumWechatGroups> -->
      </el-form-item>
    </el-form>
    <div class="ly-text-right">
      <el-button size="medium" @click="colseDialog">取 消</el-button>
      <el-button size="medium" class="ly-margin-right-18" type="primary" @click="confirmSubmit">确 定</el-button>
    </div>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import { personalNumManageApi } from '@/api/system'
import {
  personNumWechatGroups
} from '@/components/packages/system/lazySelect'
import setGroupCascader from '@/components/common/setGroupCascader'
export default {
  components: {
    personalInfo,
    personNumWechatGroups,
    setGroupCascader
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      params: {
        wxGroupInfoId: ''
      },
      groupType: 2, // 1好友分组2群分组3个人号
      groupId: []
    }
  },
  created() {
  },
  methods: {
    getInitVal(val) {
      this.params.wxGroupInfoId = val
    },
    colseDialog() {
      this.$emit('colseDialog')
    },
    confirmSubmit() {
      this.submitData()
    },
    async submitData() {
      let param = {
        ids: this.dialogProp.ids,
        // wxGroupInfoId: this.params.wxGroupInfoId || 0
        wxGroupInfoId: this.params.wxGroupInfoId
      }
      await personalNumManageApi.wechatGroupListModifyGroup(param).then(() => {
        this.success('设置成功')
        this.colseDialog()
        this.$emit('getTableList')
        if (this.dialogProp.typeVal === 2) {
          this.$emit('removeChecked')
        }
      })
    }
  }
}
</script>
