$chat-header-height: 65px;

.wechat-custom-service {
  .main-chat-header {
    position: relative;
    height: $chat-header-height;

    .main-head-menu-center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      cursor: pointer;
      background: none;
      height: 100%;

      .el-menu-item {
        display: inline-block;
        font-size: 16px;
        height: 100%;
        line-height: 100%;
        padding-left: 20px;
        padding-right: 20px;

        .item-icon {
          margin-top: 12px;
          margin-bottom: 12px;
        }
      }

      &.el-menu--horizontal {
        .el-menu-item {
          &:not(.is-disabled):hover {
            background: $nav-bgcolor-first-hover;
            color: $nav-fontcolor-first-hover;
          }
        }

        .el-menu-item {
          color: $nav-fontcolor-first;

          &.is-active {
            background: $nav-bgcolor-first-active;
          }
        }
      }

      .el-menu-item:not(.is-active):focus {
        background: none !important;
      }
    }
  }

  .lyy-page-container {
    background: #fff;
    top: $chat-header-height;
  }

  .lyy-page-aside {
    width: auto;
  }

  .lyy-page-body {
    top: 0;
  }

  .account-list {
    position: relative;
    height: 100%;
    width: $chat-main-aside-width;
    vertical-align: top;
    overflow: auto;
    padding-bottom: 38px;
    box-sizing: border-box;

    &.hide {
      transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .on-line {
      .user-status {
        background: $chat-nav-status-online !important;
      }

      .user-name {
        color: #fff !important;
      }
    }

    .account-item {
      padding-bottom: 16px;
      font-size: 0;
      cursor: pointer;

      &.active {
        background: $chat-aside-bgcolor-first-active;
      }

      &:not(.active):hover {
        background: $chat-aside-bgcolor-first-hover;
      }

      .user-info {
        padding-top: 15px;
        margin-left: 11px;
        text-align: left;

        .el-badge {
          display: inline-block;
          vertical-align: middle;

          .el-badge__content {
            min-width: 18px;
            width: auto;
            height: 18px;
            line-height: 18px;
            font-size: 12px;
            padding: 0;

            &.is-fixed {
              right: 12px;
            }
          }
        }

        .user-avtor {
          display: inline-block;
          vertical-align: middle;
          width: 40px;
          height: 40px;
        }

        .user-status {
          width: 6px;
          height: 6px;
          margin-left: 6px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          background: $chat-nav-status-off-line;
          // &.active {
          //   background: $chat-nav-status-online;
          // }
        }
      }

      .user-name {
        margin: rem(10px) rem(8px) 0;
        font-size: rem(12px);
        line-height: 1.2;
        text-align: center;
        color: $chat-nav-status-off-line;
        @extend %ellipse-two-line;
      }
    }
  }

  .customer-list-wrap {
    position: relative;
    height: 100%;
    width: 260px;
    background: #F1F4F6;
    overflow: hidden;

    .customer-list-top {
      margin: 15px 20px 0;

      .info {
        font-size: 0;

        .user-avtor {
          width: 50px;
          height: 50px;
        }

        .nick-name {
          @extend %ellipse;
          width: 66%;
          font-size: 16px;
          color: #454545;
        }
      }

      .search-bar {
        width: 100%;
        margin-top: 20px;

        .wechat-search-icon {
          margin-left: 10px;
          margin-right: 8px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 14px;
        }

        .search {
          width: 190px;
          height: 32px;
          border: none;
          padding-left: 30px;
          font-size: 12px;
          color: #B3B3B3;
          border: 1px solid rgb(221, 221, 221);
          border-radius: 4px;

          &::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #B3B3B3;
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #B3B3B3;
          }

          &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #B3B3B3;
          }
        }
      }
    }

    .scroll-wrap {
      position: absolute;
      top: 166px;
      width: 100%;
      left: 0;
      right: 0;
      bottom: $chat-footer-height;
      color: #151515;
      font-size: 14px;
      overflow: auto;

      // @extend %set-scrollbar;
      &.stretch {
        top: 105px;
      }

      .group-switch {
        padding: 15px 20px 10px;

        i {
          color: #858585;
        }
      }

      .chat-item,
      .friend-item {
        padding: 15px 20px;

        &:not(.active):hover {
          background: $chat-friend-list-bgcolor-hover;
        }

        &.active {
          background: $chat-friend-list-bgcolor-active;
        }

        &.not-allowed {
          cursor: not-allowed;
        }

        .el-badge {
          float: left;

          .el-badge__content {
            min-width: 18px;
            width: auto;
            height: 18px;
            line-height: 18px;
            font-size: 12px;
            padding: 0;

            &.is-fixed {
              right: 12px;
            }
          }
        }

        .user-avtor {
          width: 40px;
          height: 40px;
        }

        .user-avtor-box {
          margin-right: 15px;
        }
      }

      .friend-item {
        .user-avtor {
          margin-left: 15px;
          margin-right: 15px;
        }

        .info {
          height: 40px;
          line-height: 40px;
        }
      }

      .chat-item {
        min-height: 40px;

        .time {
          color: #b3b3b3;
          font-size: 12px;
        }

        .info {
          margin-right: 50px;

          .msg {
            margin-top: 4px;
            color: #858585;
            font-size: 12px;
          }
        }
      }

      .vue-contextmenu-listWrapper {
        position: absolute;
      }
    }

    .tabs {
      font-size: 0;
      margin: 20px 20px 0;
      padding-bottom: rem(10px);

      .tab-item {
        width: 50%;
      }
    }
  }

  .main-center {
    top: 0;
    left: 330px;
    right: rem(440px);
    overflow: hidden;

    &.on-concent {
      left: 260px;
    }

    .main-chat-panel {
      height: 100%;
      background: #fff;

      .box-hd {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 60px;
        text-align: center;
        line-height: 60px;

        .title {
          color: #3A4762;
          font-size: 20px;
          display: inline-block;
          width: 80%;
          @extend %ellipse;
        }
      }

      .box-bd {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: $chat-footer-height + $chat-panel-box-footer-height;
        z-index: 3;
        text-align: center;
        border-top: 1px solid #ddd;
      }

      .box-ft {
        position: absolute;
        height: $chat-panel-box-footer-height;
        left: 0;
        right: 0;
        bottom: $chat-footer-height;
        z-index: 2;
        border-top: 1px solid #ddd;

        button {
          margin-left: 20px;
          min-width: 72px;
          border-radius: 4px;
          padding-top: 8px;
          padding-bottom: 8px;

          &.send {
            color: #fff;
            background: #2897FF;
          }

          &.send:hover {
            color: #fff;
            background: #2897FF;
          }
        }

        .toolbar {
          height: 50px;
          line-height: 50px;
          padding-left: 20px;
          padding-right: 20px;

          i {
            height: 20px;
            width: 20px;
            margin-right: 20px;
            cursor: pointer;
            vertical-align: middle;

            &.icon-red-packets {
              width: 19px;
            }
          }

          .file-btn {
            width: 40px;
            height: 100%;
            overflow: hidden;
          }

          button {
            margin-top: 10px;
          }
        }

        .input-box {
          height: 90px;
          padding-right: 2px;
          font-size: 14px;

          .el-textarea {
            height: 100%;
          }

          textarea {
            width: 100%;
            height: 100%;
            resize: none;
            -webkit-appearance: none;
            outline: none;
            box-sizing: border-box;
            padding-left: 10px;
            border: none;
            color: #454545;
            @extend %set-scrollbar;
          }
        }

        .action {
          padding-left: 20px;
          padding-right: 20px;
          height: 50px;
          line-height: 50px;
          text-align: right;

          .desc {
            color: #B3B3B3;
            font-size: 12px;
          }
        }
      }

      .main-info-box {
        height: 100%;
        text-align: center;

        .profile {
          padding-top: 30px;
          @extend %set-scrollbar;

          .avator {
            width: 130px;
            height: 130px;
            margin-left: auto;
            margin-right: auto;
            display: block;
          }

          .nick-name {
            font-size: 20px;
            color: #3A4762;
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            @extend %ellipse;
          }

          .send-btn {
            margin-top: 25px;
            font-size: 14px;
            width: 130px;
            padding-top: 12px;
            padding-bottom: 12px;
          }

          .meta-area {
            font-size: 14px;
            color: #858585;
            width: 400px;
            margin: 0 auto;
            box-sizing: border-box;
            padding-left: 135px;
            text-align: left;

            .remark {
              margin-top: 30px;
            }

            .address {
              margin-top: 20px;
            }
          }
        }
      }

      .main-chat-box {
        height: 100%;

        .box-bd {
          .vue-contextmenu-listWrapper {
            position: absolute;
            left: 360px;
            top: 20px;
          }
        }
      }
    }

    .scroll-content {
      width: 100%;
      height: 100%;
      overflow: auto;

      .chatcontent-record {
        @extend %set-scrollbar;
      }

      .vue-contextmenu-listWrapper {
        position: absolute;
      }

      .ly-cursor-point {
        font-size: rem(14px);
      }
    }
  }

  .main-right-side {
    right: 0;
    left: auto;
    width: rem(440px);

    // max-width: 25%;
    .side-content {
      position: relative;
      height: 100%;
      // width: 440px;
      // width: 100%;
      background: #F6F6F6;
      text-align: center;

      &.chat-right-side-tab {
        .tabs {
          height: rem(56px);
          line-height: rem(56px);
          display: flex;
          display: -webkit-flex;
          cursor: pointer;

          li {
            flex: 1;
            -webkit-flex: 1;
            height: 100%;
            font-size: rem(18px);
            color: #858585;
            text-align: center;

            &.active {
              color: #2897FF;

              span {
                position: relative;
                display: inline-block;
                height: 100%;
                max-width: 80%;

                &::after {
                  content: ' ';
                  position: absolute;
                  bottom: 0;
                  left: 50%;
                  transform: translateX(-50%);
                  width: rem(40px);
                  height: rem(2px);
                  background: #2897FF;
                }
              }
            }
          }
        }

        .tab-pages {
          padding: 0 rem(20px);
          position: absolute;
          left: 0;
          right: 0;
          bottom: $chat-footer-height;
          top: rem(56px);

          .tab-pages-container {
            position: relative;
          }
        }
      }

      &.nav-menu-page {
        height: 100%;
        box-sizing: border-box;

        .nav-menu-page-container {
          background: #fff;
          position: absolute;
          top: rem(10px);
          left: rem(20px);
          right: rem(20px);
          bottom: $chat-footer-height;

          .nav-menu-page-header {
            height: rem(58px);
            line-height: rem(58px);
            border-bottom: 1px solid #DDDDDD;
            margin: 0 rem(20px);
            text-align: left;

            .title {
              color: #003E6C;
              font-size: rem(18px);
            }

            .close {
              float: right;
              margin-top: rem(22px);
              width: 10px;
              color: #454545;
            }
          }

          .nav-menu-page-content {
            position: absolute;
            top: rem(58px);
            left: 0;
            right: 0;
            bottom: 0;
            box-sizing: border-box;
            text-align: left;

            .list-nothing {
              margin-top: rem(20px);
              font-size: rem(16px);
              text-align: center;
            }
          }
        }
      }
    }
  }

  .main-chat-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: $chat-footer-height;
    width: 100%;
    color: $chat-footer-color;
    background: $chat-footer-bgcolor;
    font-size: rem(14px) !important;

    .switch-item {
      display: inline-block;
      padding-left: (40px);
      height: 100%;
      line-height: 100%;

      &.first {
        padding-left: rem($chat-main-aside-width + 30px)
      }

      &:after {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }

      .el-switch {
        margin-left: rem(10px);
      }
    }

    .sending {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.chat-video-dialog {
  min-width: 700px;

  video {
    max-width: 100%;
    max-height: 60vh;
    margin: 0 auto;
  }
}

.chat-audio-dialog {
  min-width: 700px;

  audio {
    max-width: 100%;
    max-height: 60vh;
    margin: 0 auto;
  }
}

.video-preview {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  border-radius: 5px;
  overflow: hidden;

  .play-circle {
    position: absolute;
    padding: 0;
    box-sizing: border-box;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #fff;

    .play {
      width: 0;
      height: 0;
      margin-top: 50%;
      transform: translate(-33%, -48%);
      margin-left: 50%;
      border-style: solid;
      border-width: 8px 0 8px 14px;
      border-color: transparent transparent transparent #fff;
    }
  }
}

.expression-box {
  position: fixed;
  left: 350px;
  right: rem(460px);
  bottom: 230px;
  z-index: 5;
  min-width: rem(400px);
  background: #fff;
  box-shadow: 0px 0px rem(5px) 0px rgba(0, 0, 0, 0.15);

  .el-tabs__nav-wrap {
    padding-left: rem(20px);
    padding-right: rem(20px);
  }

  .el-tabs__content {
    padding-left: rem(15px);
    padding-right: rem(15px);
  }
}
