.icon {
  &.icon-chat-favorite {
    background-image: url('../images/chat/home/favorite@2x.png');
    width: 15px;
    height: 14px;
  }

  &.icon-chat-goods {
    background-image: url('../images/chat/home/goods@2x.png');
    width: 14px;
    height: 14px;
  }

  &.icon-chat-message {
    background-image: url('../images/chat/home/message@2x.png');
    width: 16px;
    height: 12px;
    padding-bottom: rem(2px);
  }

  &.icon-chat-moments {
    background-image: url('../images/chat/home/moments@2x.png');
    width: 14px;
    height: 14px;
  }

  &.icon-chat-order {
    background-image: url('../images/chat/home/order@2x.png');
    width: 12px;
    height: 14px;
  }

  &.icon-chat-online {
    background-image: url('../images/chat/home/online@2x.png');
    width: rem(16px);
    height: rem(16px);
  }

  &.icon-chat-off-line {
    background-image: url('../images/chat/home/offLine@2x.png');
    width: rem(16px);
    height: rem(16px);
  }

  &.icon-search {
    background-image: url('../images/chat/home/search@2x.png');
    width: 12px;
    height: 12px;
  }

  &.icon-news-message {
    background-image: url('../images/chat/home/news-message@2x.png');
    width: 18px;
    height: 18px;
  }

  &.icon-news-message-active {
    background-image: url('../images/chat/home/news-message-active@2x.png');
    width: 18px;
    height: 18px;
  }

  &.icon-linkman-list {
    background-image: url('../images/chat/home/linkman-list@2x.png');
    width: 18px;
    height: 18px;
  }

  &.icon-linkman-list-active {
    background-image: url('../images/chat/home/linkman-list-active@2x.png');
    width: 18px;
    height: 18px;
  }

  &.icon-face {
    background-image: url('../images/chat/home/chatBox/tool/face@2x.png');
    width: rem(20px);
    height: rem(20px);
  }

  &.icon-file {
    background-image: url('../images/chat/home/chatBox/tool/file@2x.png');
    width: rem(20px);
    height: rem(20px);
  }

  &.icon-red-packets {
    background-image: url('../images/chat/home/chatBox/tool/redPackets@2x.png');
    width: rem(19px);
    height: rem(20px);
  }

  &.icon-screenshot {
    background-image: url('../images/chat/home/chatBox/tool/screenshot@2x.png');
    width: rem(20px);
    height: rem(20px);
  }

  &.icon-msg-red-packets {
    background-image: url('../images/chat/home/chatBox/chatRecord/msgRedPackets@2x.png');
    width: rem(55px);
    height: rem(65px);
  }

  &.icon-image {
    background-image: url('../images/chat/home/image@2x.png');
    width: rem(15px);
    height: rem(16px);
  }

  &.icon-text {
    background-image: url('../images/chat/home/text@2x.png');
    width: rem(13px);
    height: rem(14px);
  }

  &.icon-video {
    background-image: url('../images/chat/home/video@2x.png');
    width: rem(13px);
    height: rem(14px);
  }

  &.icon-voice {
    background-image: url('../images/chat/home/voice@2x.png');
    width: rem(13px);
    height: rem(14px);
  }

  &.icon-img-red-packets {
    background-image: url('../images/chat/home/imgRedPackets@2x.png');
    width: 250px;
    height: 90px;
  }

  &.icon-chat-comment {
    background-image: url('../images/chat/home/chatMoment/comment@2x.png');
    width: rem(20px);
    height: rem(15px);
  }

  &.icon-chat-like {
    background-image: url('../images/chat/home/chatMoment/like@2x.png');
    width: rem(17px);
    height: rem(17px);
  }

  &.icon-chat-liked {
    background-image: url('../images/chat/home/chatMoment/liked@2x.png');
    width: rem(16px);
    height: rem(16px);
  }

  &.icon-chat-praise {
    background-image: url('../images/chat/home/chatMoment/praise@2x.png');
    width: rem(15px);
    height: rem(14px);
  }

  &.icon-chat-record-file {
    background-image: url('../images/chat/home/chatBox/chatRecord/file@2x.png');
    width: rem(40px);
    height: rem(46px);
  }
}