<template>
  <div>
    <el-container>
      <el-aside width="240px">
        <div class="asidetab">
          <materialGroup :materialGroupInfo="materialGroupInfo"
                         @changeGroupId="changeGroupId"></materialGroup>
        </div>
      </el-aside>
      <el-main>
        <el-form v-if="params.msgGroupId" @submit.native.prevent>
          <el-form-item class="matter-search">
            <el-input placeholder="输入标题搜索素材"
                      clearable
                      v-model.trim="params.selName"
                      :maxlength="100"
                      @keyup.native.enter="querySearch"></el-input>
            <el-button type="primary"
                       size="medium"
                       @click="querySearch">搜索</el-button>
          </el-form-item>
        </el-form>
        <!-- 素材列表 -->
        <div class="matterlists">
          <el-table
            :data="tableData.records"
            max-height="300"
            border
            v-if="dialogProp.msgType === MESSAGE_TPYE_KEY.TXT && tableData.records && tableData.records.length"
            style="width: 100%">
            <el-table-column
              width="50"
              label="">
              <template slot-scope="scope">
                <el-radio v-model="radioVal" :label="scope.row"><span style="opacity: 0">123</span></el-radio>
              </template>
</el-table-column>
<el-table-column prop="title" label="标题" width="120">
</el-table-column>
<el-table-column prop="msgText" label="文本内容">
    <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                  <p v-html="parseHTML($xss(scope.row.msgText))"></p>
                  <p class="ell2 ly-overflow-hidden" v-html="parseHTML($xss(scope.row.msgText))" slot="reference"></p>
                </el-popover>
              </template>
</el-table-column>
</el-table>

<!-- 小程序素材的内容 -->
<el-table :data="tableData.records" max-height="300" border v-if="dialogProp.msgType === MESSAGE_TPYE_KEY.WECHAT && tableData.records && tableData.records.length" style="width: 100%">
    <el-table-column width="50" label="">
        <template slot-scope="scope">
                <el-radio v-model="radioVal" :label="scope.row"><span style="opacity: 0">123</span></el-radio>
              </template>
    </el-table-column>
    <el-table-column prop="title" label="标题" width="120">
    </el-table-column>
    <el-table-column prop="msgText" label="文本内容">
        <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                  <p v-html="parseHTML($xss(JSON.parse(scope.row.msgText).miniProgramName))"></p>
                  <p class="ell2 ly-overflow-hidden" v-html="parseHTML($xss(JSON.parse(scope.row.msgText).miniProgramName))" slot="reference"></p>
                </el-popover>
              </template>
    </el-table-column>
</el-table>

<!-- 图文链接素材内容 -->
<el-table :data='tableData.records' max-height='300' border v-if="dialogProp.msgType === MESSAGE_TPYE_KEY.IMGTXTLINK && tableData.records && tableData.records.length" style="width: 100%">
    <el-table-column width="50" label="">
        <template slot-scope='scope'>
            <el-radio v-model="radioVal" :label="scope.row"><span style="opacity: 0"></span></el-radio>
        </template>
    </el-table-column>
    <el-table-column prop="title" label="标题" width="120">
    </el-table-column>
    <el-table-column prop="msgText" label="文本内容">
        <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                  <p v-html="parseHTML($xss(JSON.parse(scope.row.msgText).imgtxtTitle))"></p>
                  <p class="ell2 ly-overflow-hidden" v-html="parseHTML($xss(JSON.parse(scope.row.msgText).imgtxtTitle))" slot="reference"></p>
                </el-popover>
              </template>
    </el-table-column>
</el-table>
<ul class="ly-box" v-if="dialogProp.msgType !== MESSAGE_TPYE_KEY.TXT">
    <!--图片-->
    <li v-for="item in tableData.records" :key="item.id" v-if="item.msgType===MESSAGE_TPYE_KEY.IMG">
        <div class="matterlists-img">
            <!--:style="{backgroundImage:'url(' + item.msgText + ')'}"-->
            <!--v-image-view-->
            <!--@click="previwImg(item)">-->
            <img :src="item.msgText" style="width: 100%;height:100%;" v-image-view />
        </div>
        <div class="matterlists-radio">
            <el-radio v-model="radioVal" :label="item">{{item.title}}</el-radio>
        </div>
    </li>
    <!--视频-->
    <li v-for="item in tableData.records" :key="item.id" v-if="item.msgType===MESSAGE_TPYE_KEY.VIDEO">
        <div class="matterlists-img" :style="{backgroundImage:'url(' + item.coverInfo + ')'}" v-image-view @click="previwVideo(item)">
        </div>
        <div class="matterlists-radio">
            <el-radio v-model="radioVal" :label="item">{{item.title}}</el-radio>
        </div>
    </li>
    <!--音频-->
    <li v-for="item in tableData.records" :key="item.id" v-if="item.msgType===MESSAGE_TPYE_KEY.AUDIO">
        <div class="matterlists-img ly-text-center ly-height-80px-im" @click="previwAudio(item)">
            <div class="material-audio ly-margin-top-20px">
                <span class="audioBtn">
                    <i class="el-icon-caret-right"></i>
                  </span>
            </div>
            <div class=" ly-margin-top-2px ly-font-12">{{item.voiceLength | soundLength}}</div>
        </div>
        <div class="matterlists-radio ly-margin-top-20px ">
            <el-radio v-model="radioVal" :label="item">{{item.title}}</el-radio>
        </div>
    </li>
</ul>
<p class="ly-text-center" v-if="(!params.msgGroupId)">请先选择素材分组</p>
<p class="ly-text-center" v-if="(!(tableData.records && tableData.records.length)) && params.msgGroupId">暂时没有数据</p>
</div>
</el-main>
</el-container>
<div slot="footer" class="dialog-footer" v-if="tableData.records && tableData.records.length">
    <div class="matterlists-pagination">
        <!-- 分页 -->
        <vma-pagination class="ly-text-right" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="pageChange" />
    </div>
    <el-button type="primary" size="small" @click="submitInfo">确 定</el-button>
    <el-button size="small" @click="closeDialog">取 消</el-button>
</div>
<!--图片预览-->
<el-dialog title="图片预览" :visible.sync="previewImgObj.show" v-if="previewImgObj.show" append-to-body>
    <img width="100%" v-if="previewImgObj.imgUrl" class="ly-margin-center ly-height-max-50vh" :src="previewImgObj.imgUrl" v-image-view>
</el-dialog>
<!--视频预览-->
<el-dialog title="视频查看" :visible.sync="previewVideoObj.show" v-if="previewVideoObj.show" @close="closeVideoDialog" append-to-body>
    <video v-if="previewVideoObj.videoUrl" :src="previewVideoObj.videoUrl" controls="controls" class="ly-margin-center ly-width-max-100p ly-height-max-50vh"></video>
</el-dialog>
<!--音频预览-->
<el-dialog title="音频查看" :visible.sync="previewAudioObj.show" v-if="previewAudioObj.show" @close="closeAudioDialog" append-to-body>
    <audio class="audio ly-margin-center" controls>
        <source v-if="previewAudioObj.audioUrl"
                :src="previewAudioObj.audioUrl"
                type="audio/mpeg">
        您的浏览器不支持该音频格式。
      </audio>
</el-dialog>
</div>
</template>

<script>
    import {
        deviceManageApi
    } from '@/api/system'
    import materialGroup from './materialGroup'
    import {
        MESSAGE_TPYE_KEY
    } from '@/constants/messageType'
    import {
        tableMixin
    } from '@/mixins'
    import {
        parseHTML
    } from '@/components/libs/wechatExpression'
    export default {
        mixins: [tableMixin],
        components: {
            materialGroup
        },
        props: {
            dialogProp: {
                type: Object,
                default: function() {
                    return {}
                }
            }
        },
        data() {
            return {
                MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
                materialGroupInfo: {
                    titleHide: true
                },
                radioVal: {},
                params: {
                    selName: '',
                    msgGroupId: '',
                    msgType: ''
                },
                tableData: {},
                previewImgObj: {},
                previewVideoObj: {},
                previewAudioObj: {}
            }
        },
        created() {
            this.params.msgType = this.dialogProp.msgType;
            // console.log(this.dialogProp, 'created里面的params')
        },
        methods: {
            parseHTML,
            /**
             * 右侧--列表--获取
             */
            async requestTableList() {
                await deviceManageApi.materialSourceGet(this.params).then((data) => {
                    this.tableData = data
                        // console.log(data, '获取素材列表')
                })
            },
            /**
             * --分页请求
             */
            pageChange(pageNum, pageSize) {
                this.radioVal = {}
                this.getTableList(pageNum, pageSize)
            },
            /**
             * --改变分组
             */
            changeGroupId(id) {
                if (id !== undefined) {
                    this.params.msgGroupId = id
                    this.getTableList()
                } else {
                    this.params.selName = ''
                    this.params.msgGroupId = ''
                    this.tableData = {}
                }
            },
            /**
             * -- 查询
             */
            querySearch() {
                this.radioVal = {}
                this.getTableList(1)
            },
            /**
             * -- 预览图片
             */
            previwImg(item) {
                this.previewImgObj = {
                    show: true,
                    imgUrl: item.msgText
                }
            },
            /**
             * -- 播放视频
             */
            previwVideo(item) {
                this.previewVideoObj = {
                    show: true,
                    videoUrl: item.msgText
                }
            },
            /**
             * -- 播放视频--关闭
             */
            closeVideoDialog() {
                this.previewVideoObj = {}
            },
            closeDialog() {
                this.$emit('closeDialog')
            },
            submitInfo() {
                if (!this.radioVal.id) {
                    this.warn('请选择素材')
                    return false
                }
                // console.log(this.radioVal, '小程序素材的内容')
                this.$emit('postData', this.radioVal)
            },
            /**
             * -- 预览音频
             */
            previwAudio(item) {
                this.previewAudioObj = {
                    show: true,
                    audioUrl: item.msgText
                }
            },
            /**
             * -- 播放视频--关闭
             */
            closeAudioDialog() {
                this.previewAudioObj = {}
            }
        }
    }
</script>
<style lang="scss">
    .el-popover {
        max-width: 500px;
    }
</style>