<template>
  <div>
    <el-form :model="params" :rules="rules" ref="ruleForm">
      <el-form-item label="分组名称:" :label-width="formLabelWidth" prop="groupName">
        <el-input class="ly-width-280px-im"
                  autocomplete="off"
                  v-model.trim="params.groupName"
                  :maxlength="20"
                  placeholder="分组名称"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="分组类型:" :label-width="formLabelWidth" prop="groupType">
        <el-select placeholder="请选择分组类型"
                   class="ly-width-280px-im"
                   :disabled="dialogProp.data?true:false"
                   v-model="params.groupType"
                   clearable>
          <el-option
            v-for="item in MMANAGE_GROUP_TPYE"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="部门:" :label-width="formLabelWidth" v-show="params.groupType == MMANAGE_GROUP_TPYE[1].value" :required="params.groupType === MMANAGE_GROUP_TPYE[1].value ? true : false"  prop="departmentId" v-if="!dialogProp.data">
        <!--部门级联已经调整-->
        <mManageDepartTreeCascadert v-model="departmentId"
                                filterable
                                clearable
                                :currentDepartmentId="dialogProp.data ? dialogProp.data.departmentId : null"
                                @initDepartmentIds="initDepartmentIds"
                                style="width: 280px"
                                placeholder="请选择部门"></mManageDepartTreeCascadert>
      </el-form-item>
      <el-form-item label="部门:" :label-width="formLabelWidth" v-show="params.groupType == MMANAGE_GROUP_TPYE[1].value" required v-if="dialogProp.data">
        <!--部门级联已经调整-->
        <!--
        <mManageDepartTreeCascadert v-model="departmentId"
                                    filterable
                                    clearable
                                    :disabled="dialogProp.data?true:false"
                                    :currentDepartmentId="dialogProp.data ? dialogProp.data.departmentId : null"
                                    @initDepartmentIds="initDepartmentIds"
                                    style="width: 280px"
                                    placeholder="请选择部门"></mManageDepartTreeCascadert>-->
        <staffDepartmentSelect v-model="departmentIdSec"
                               :disabled="dialogProp.data?true:false"
                              placeholder="选择部门"></staffDepartmentSelect>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import { MMANAGE_GROUP_TPYE } from '@/constants/messageType'
import { staffDepartmentSelect } from '@/components/packages/system/lazySelect'
import {
  mManageDepartTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  components: { mManageDepartTreeCascadert, staffDepartmentSelect },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    const departmentIdValidator = (rule, value, callback, source, options) => {
      let errors = []
      if ((this.params.groupType === this.MMANAGE_GROUP_TPYE[1].value) && (!this.params.departmentId)) {
        errors.push('请选择部门')
      }
      callback(errors)
    }
    return {
      MMANAGE_GROUP_TPYE: MMANAGE_GROUP_TPYE,
      formLabelWidth: '136px',
      departmentId: [],
      departmentIdSec: '',
      params: {
        groupType: '',
        groupName: '',
        departmentId: ''
      },
      rules: {
        groupName: [
          { required: true, message: '请输入分组名称' }
        ],
        groupType: [
          { required: true, message: '请选择分组类型' }
        ],
        departmentId: [
          { validator: departmentIdValidator }
        ]
      }
    }
  },
  watch: {
    departmentId: function (val, oldVal) {
      this.params.departmentId = val[val.length - 1] || ''
    }
  },
  created() {
    if (this.dialogProp.data) {
      this.params.groupName = this.dialogProp.data.groupName
      this.params.groupType = this.dialogProp.data.groupType
      // 进行渲染
      if (this.dialogProp.data) {
        let newProp = JSON.parse(JSON.stringify(this.dialogProp.data))
        // this.departmentId = [newProp.departmentId]
        this.departmentIdSec = newProp.departmentId
      }
    }
  },
  methods: {
    initDepartmentIds(val) {
      this.departmentId = val
    },
    /**
     * 关闭弹窗
     */
    closeDialog() {
      this.$emit('closeDialog')
    },
    /**
     * 检查分组名称是否有值
     */
    checkGroupName() {
      /*
      if ((this.params.groupType === this.MMANAGE_GROUP_TPYE[1].value) && (!this.departmentId.length)) {
        this.$message({
          message: '请选择部门',
          type: 'warning'
        })
        return false
      }
      */
      if (this.dialogProp.data) {
        // 修改
        this.submitModifyInfo()
      } else {
        // 新增
        this.submitAddInfo()
      }
    },
    /**
     * 保存
     */
    submitInfo() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.checkGroupName()
        } else {
          return false
        }
      })
    },
    /**
     * 新增--保存
     */
    async submitAddInfo() {
      let params = JSON.parse(JSON.stringify(this.params))
      await deviceManageApi.mManageGroupAdd(params).then((res) => {
        if (res === 2 || res === '2') {
          this.success('新增成功')
          this.$emit('refreshLeftGroupInfo', this.params)
        } else {
          this.warn('分组名称重名')
        }
      })
    },
    /**
     * 修改--保存
     */
    async submitModifyInfo() {
      let params = {
        groupName: this.params.groupName
      }
      if (this.dialogProp.data) {
        params.id = this.dialogProp.data.id
      } else {
        return false
      }
      await deviceManageApi.mManageGroupModify(params).then((res) => {
        if (res === 2 || res === '2') {
          this.success('修改成功')
          this.$emit('refreshLeftGroupInfo', params)
        } else {
          this.warn('分组名称重名')
        }
      })
    }
  }
}
</script>
