<template>
  <div>
    <div class="home">
      <!-- 个人号总数 -->
      <div class="ly-bg-white ly-padding-sm">
        <div class="ly-box ly-border-bottom-1">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">个人号总数</span>
          </div>
        </div>
        <ul class="ly-block-list ly-clearfix">
          <li class="ly-item"
              v-for="(item,index) in wechatTotal.list"
              :key="index">{{item}}</li>
        </ul>
      </div>
      <div class="ly-clearfix ly-block-lay">
        <!-- 个人号数据 -->
        <div class="ly-item-lay ly-item-lay-left">
          <div class="ly-padding-sm">
            <div class="ly-box ly-border-bottom-1">
              <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                <span class="ly-vertical-line">个人号数据</span>
              </div>
            </div>
            <ul class="ly-block-list-sm ly-clearfix">
              <li class="ly-item">
                <p>{{weChatMessage.entity.wetChatNumber || 0}}</p>
                <p class="ly-remarks">个人号总数</p>
              </li>
              <li class="ly-item">
                <p>{{weChatMessage.entity.wetChatNumberWeek || 0}}</p>
                <p class="ly-remarks">近7天新增</p>
              </li>
              <li class="ly-item">
                <p>{{weChatMessage.entity.wetChatNumberMoon || 0}}</p>
                <p class="ly-remarks">近30天新增</p>
              </li>
              <li class="ly-item">
                <p>{{weChatMessage.entity.wetChatNumberNine || 0}}</p>
                <p class="ly-remarks">近90天新增</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- 设备数据 -->
        <div class="ly-item-lay ly-item-lay-right">
          <div class="ly-padding-sm">
            <div class="ly-box ly-border-bottom-1">
              <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                <span class="ly-vertical-line">设备数据</span>
              </div>
            </div>
            <ul class="ly-block-list-sm ly-clearfix">
              <li class="ly-item">
                <p>{{equipmentMessage.entity.equipmentTotal || 0}}</p>
                <p class="ly-remarks">总入网数</p>
              </li>
              <li class="ly-item">
                <p>{{equipmentMessage.entity.equipmentWeek || 0}}</p>
                <p class="ly-remarks">近7天入网数</p>
              </li>
              <li class="ly-item">
                <p>{{equipmentMessage.entity.equipmentMoon || 0}}</p>
                <p class="ly-remarks">近30天入网数</p>
              </li>
              <li class="ly-item">
                <p>{{equipmentMessage.entity.equipmentThreeMoon || 0}}</p>
                <p class="ly-remarks">近90天入网数</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ly-clearfix ly-block-lay ly-kidney">
        <!-- 企业数 -->
        <div class="ly-item-lay ly-item-lay-left">
          <div class="ly-padding-sm">
            <div class="ly-box ly-border-bottom-1">
              <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                <span class="ly-vertical-line">客户数</span>
              </div>
              <span class="ly-margin-top-nge-4">
                <btn-group :list="optionList"
                           @click="getEnterpriseMessage" />
              </span>
            </div>
            <div>
              <div class="home-ins">
                <div class="home-ins-item">
                  <h3>{{enterpriseMessage.entity.userNumberTotal || 0}}<em>个</em></h3>
                  <p>累积客户</p>
                </div>
                <div class="home-ins-item">
                  <h3>{{enterpriseMessage.entity.userNumberYesterDay || 0}}<em>个</em></h3>
                  <p>昨日客户</p>
                </div>
                <div class="home-ins-item">
                  <h3>{{enterpriseMessage.entity.userNumberToDay || 0}}<em>个</em></h3>
                  <p>今日客户</p>
                </div>
              </div>
              <line-chart :list="enterpriseMessage.list" />
            </div>
          </div>
        </div>
        <!-- 授权店铺 -->
        <div class="ly-item-lay ly-item-lay-right">
          <div class="ly-padding-sm">
            <div class="ly-box ly-border-bottom-1">
              <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                <span class="ly-vertical-line">授权店铺</span>
              </div>
              <span class="ly-margin-top-nge-4">
                <btn-group :list="optionList"
                           @click="getShopAccredit" />
              </span>
            </div>
            <line-chart :list="shopAccredit.list" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LineChart } from '@/components/common/home'
import { homeApi } from '@/api/pms'

export default {
  components: {
    LineChart
  },
  data() {
    return {
      optionList: [
        { label: '近7天', value: 7 },
        { label: '近30天', value: 30 },
        { label: '近90天', value: 90 }
      ],
      wechatTotal: {
        num: 11,
        time: 10000,
        list: Array(11).fill(0),
        timer: null
      },
      weChatMessage: {
        entity: {}
      },
      equipmentMessage: {
        entity: {}
      },
      enterpriseMessage: {
        params: {
          day: 7
        },
        list: [],
        entity: {}
      },
      shopAccredit: {
        params: {
          day: 7
        },
        list: []
      }
    }
  },
  created() {
    this.getWeChatTotal()
    this.getWeChatMessage()
    this.getEquipmentMessage()
    this.getEnterpriseMessage()
    this.getShopAccredit()

    this.wechatTotal.timer = setInterval(() => {
      this.getWeChatTotal()
    }, this.wechatTotal.time)
  },
  destroyed() {
    clearInterval(this.wechatTotal.timer)
  },
  methods: {
    getWeChatTotal() {
      homeApi.getWeChatTotal().then(data => {
        data = String(data).split('').reverse().slice(0, this.wechatTotal.num)
        if (data.length < this.wechatTotal.num) {
          for (let i = data.length; i < this.wechatTotal.num; i++) {
            data.push(0)
          }
        }
        this.wechatTotal.list = data.reverse()
      })
    },
    getWeChatMessage() {
      homeApi.getWeChatMessage().then(data => {
        this.weChatMessage.entity = Object.assign({}, this.weChatMessage.entity, data)
      })
    },
    getEquipmentMessage() {
      homeApi.getEquipmentMessage().then(data => {
        this.equipmentMessage.entity = Object.assign({}, this.equipmentMessage.entity, data)
      })
    },
    getEnterpriseMessage(item) {
      if (item) {
        this.enterpriseMessage.params.day = item.value
      }
      homeApi.getEnterpriseMessage(this.enterpriseMessage.params).then(data => {
        this.enterpriseMessage.list = data.list
        this.enterpriseMessage.entity = Object.assign({}, this.enterpriseMessage.entity, data)
      })
    },
    getShopAccredit(item) {
      if (item) {
        this.shopAccredit.params.day = item.value
      }
      homeApi.getShopAccredit(this.shopAccredit.params).then(data => {
        this.shopAccredit.list = data
      })
    }
  }
}
</script>
