<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}"
                 v-show="zoom">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
<div class="ly-clearfix">
    <el-input v-model.trim="params.title" :maxlength="100" @keyup.native.enter="getTableList(1)" placeholder="输入标题" class="ly-margin-right-bottom-sm" clearable>
    </el-input>
    <el-date-picker class="ly-margin-right-bottom-sm" type="daterange" size="small" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" v-model="date" @change="dateChange">
    </el-date-picker>
    <!-- button -->
    <el-button class="ly-float-right" type="primary" size="medium" @click="getTableList">查询
    </el-button>
</div>
</el-collapse-item>
</el-collapse>
<div class="ly-box ly-margin-top-sm ly-width-100">
    <!-- 消息列表 -->
    <div v-show="zoom">
        <div class="ly-sidebar">
            <div class="title">
                <span class="ly-vertical-line">消息</span>
            </div>
            <div class="ly-text-center ly-margin-vertical-sm ly-font-16" v-if="tableData.total === 0">暂无数据</div>
            <ul class="ly-sidebar-list">
                <li class="ly-sidebar-item" v-for="(item,index) in tableData.records" :key="item.id" :class="{'active':isActive===index}" @click="getNoticeDetails(item.id, index)">
                    <p class="ly-font-color-3 ly-font-14">{{item.title}}<span class="ly-float-right ly-font-color-5" v-if="item.status === 1">已读</span><span class="ly-float-right ly-font-color-9" v-else-if="item.status === 0">未读</span></p>
                    <p class="ly-font-color-2 ly-font-14 ">{{fmt.date(item.createTime)}}</p>
                </li>
            </ul>
            <div class="ly-text-right" v-if="tableData.total > params.size">
                <el-pagination layout="prev, pager, next" small :current-page="tableData.current" :total="tableData.total" @current-change="getTableList">
                </el-pagination>
            </div>
        </div>
    </div>
    <!-- 通知详情 -->
    <div class="ly-bg-white ly-padding-sm ly-width-100 ly-margin-left-sm">
        <div class="ly-box">
            <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1 ly-border-bottom-1">
                <i class="ico_full_screen" :class="{'ico_small_screen':!zoom}" @click="zoom=!zoom"></i>
                <span class="ly-vertical-line">通知详情</span>
            </div>
        </div>
        <div v-if="isActive || isActive === 0">
            <p class="ly-font-color-3 ly-font-16 ly-margin-top-sm">通知标题：<span class="ly-font-color-4">{{noticeDetails.title}}</span></p>
            <p class="ly-font-color-3 ly-font-16 ly-margin-top-xs">发布时间：<span class="ly-font-color-4">{{fmt.date(noticeDetails.createTime)}}</span></p>
            <p class="ly-font-color-3 ly-font-16 ly-margin-top-xs">通知内容：</p>
            <div class="ly-margin-top-30px" v-html="$xss(noticeDetails.content)">
            </div>
        </div>
    </div>
</div>
</div>
</template>

<script>
    import {
        tableMixin
    } from '@/mixins'
    import {
        noticeApi
    } from '@/api/pms'
    import {
        mapMutations
    } from 'vuex'
    import * as mutationsType from '@/store/mutation-types'

    export default {
        mixins: [tableMixin],
        data() {
            return {
                activeNames: ['1'],
                isActive: null,
                date: '',
                tableData: {},
                noticeDetails: {},
                params: {
                    title: '',
                    begin_time: ''
                },
                zoom: true
            }
        },
        methods: {
            ...mapMutations({
                updateNoticeTip: mutationsType.UPDATE_NOTICE_TIP
            }),
            /**
             * 日期格式转换
             */
            dateChange(val) {
                if (!val) {
                    this.params.begin_time = ''
                    this.params.end_time = ''
                } else {
                    this.params.begin_time = new Date(val[0]).getTime()
                    this.params.end_time = new Date(val[1]).getTime()
                }
            },
            /**
             * 获取通知列表
             */
            async requestTableList() {
                await noticeApi.getNoticeList(this.params).then((result) => {
                    this.tableData = result
                    if (this.tableData.records.length === 0) {
                        this.noticeDetails = {}
                        this.isActive = null
                    } else {
                        this.getNoticeDetails(this.tableData.records[0].id)
                        this.isActive = 0
                    }
                })
            },
            /**
             * 根据id获取通知详情
             */
            getNoticeDetails(id, index) {
                let noticeStatus = false
                this.tableData.records.forEach(item => {
                    if (item.id === id && item.status === 0) {
                        item.status = 1
                    }
                })
                if (this.isActive === index) {
                    return
                } else {
                    this.isActive = index
                }
                noticeApi.getNoticeDetails(id).then((result) => {
                    this.noticeDetails = result
                    noticeApi.getNoticeNum().then(res => {
                        if (res > 0) {
                            noticeStatus = true
                        } else {
                            noticeStatus = false
                        }
                        this.updateNoticeTip(noticeStatus)
                    })
                })
            }
        }
    }
</script>