<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <ul class="ly-clearfix ly-margin-bottom-sm">
        <li class="ly-float-left ly-margin-right-sm">
          <el-radio-group v-model="tabCurrent" @change="searchCallEvent" size="small">
            <el-radio-button :label="1">消息推送</el-radio-button>
            <el-radio-button :label="2">一键加微</el-radio-button>
          </el-radio-group>
        </li>
        <li class="ly-float-left ly-margin-right-sm">
          <el-date-picker class="ly-margin-right-xs" type="daterange" size='small' range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" :clearable="false" v-model="dateRange.params" @change="delaySearch">
          </el-date-picker>
        </li>
        <li class="ly-float-left ly-margin-right-sm">
          <el-select placeholder="消息大类" class="ly-margin-right-xs" size='small' v-model="params.channelMaxMsgType" :disabled="tabCurrent == 2" clearable>
            <el-option :value="v.code" :label="v.name" v-for="(v, index) in TSAKMAXMSG_TYPE" :key="index" />
          </el-select>
        </li>
        <li class="ly-float-left ly-margin-right-sm">
          <el-select placeholder="消息小类" class="ly-margin-right-xs" size='small' v-model="params.channelMinMsgType" :disabled="tabCurrent == 2" clearable>
            <el-option :value="v.code" :label="v.name" v-for="(v, index) in TSAKMINMSG_TYPE" :key="index" />
          </el-select>
        </li>
        <li class="ly-float-left ly-margin-right-sm">
          <el-button type="primary" size='small' @click="searchCallEvent">搜索</el-button>
        </li>
        <li class="ly-float-right ly-margin-right-sm">
          <el-button type="primary" size='small' @click="exportAllCallback">导出全部</el-button>
        </li>
      </ul>
    </div>
    <!-- 消息推送 -->
    <div class="ly-margin-top-sm ly-bg-white" v-if="tabCurrent == 1">
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.data" tooltip-effect="dark" style="width: 100%">
        <el-table-column label="任务发起平台" prop="channelSourceName" />
        <el-table-column label="消息大类" prop="channelMaxMsgType" />
        <el-table-column label="消息小类" prop="channelMinMsgType">
          <template slot-scope="scope">
            <span>{{scope.row.channelMinMsgType}}</span>
          </template>
        </el-table-column>
        <el-table-column label="任务发起量" prop="requestCount">
          <template slot-scope="scope">
            <span>{{scope.row.requestCount}}</span>
          </template>
        </el-table-column>
        <el-table-column label="任务成功量" prop="successCount">
          <template slot-scope="scope">
            <span>{{scope.row.successCount}}</span>
          </template>
        </el-table-column>
        <el-table-column label="任务触达率" prop="touchRate">
          <template slot-scope="scope">
            <span>{{scope.row.touchRate}}</span>
          </template>
        </el-table-column>
        <el-table-column label="任务失败量" prop="type">
          <template slot-scope="scope">
            <p>
              参数错误：
              <span>{{scope.row.failTypeDataCount}}</span>
            </p>
            <p>
              好友不存在：
              <span>{{scope.row.failTypeUserCount}}</span>
            </p>
            <p>
              坐席不存在
              <span>{{scope.row.failTypeStaffCount}}</span>
            </p>
            <p>
              个人号不在线：
              <span>{{scope.row.failTypeAccountCount}}</span>
            </p>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 一键加微 -->
    <div class="ly-margin-top-sm ly-bg-white" v-if="tabCurrent == 2">
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.data" tooltip-effect="dark" style="width: 100%">
        <el-table-column label="任务发起平台" prop="channelSourceName" />
        <el-table-column label="任务发起量" prop="requestCount" />
        <el-table-column label="任务成功量" prop="successCount" />
        <el-table-column label="任务触达率" prop="touchRate">
          <template slot-scope="scope">
            <span>{{scope.row.touchRate}}</span>
          </template>
        </el-table-column>
        <el-table-column label="任务失败量" prop="type">
          <template slot-scope="scope">
            <p>
              参数错误：
              <span>{{scope.row.failTypeDataCount}}</span>
            </p>
            <p>
              好友不存在：
              <span>{{scope.row.failTypeUserCount}}</span>
            </p>
            <p>
              坐席不存在：
              <span>{{scope.row.failTypeStaffCount}}</span>
            </p>
            <p>
              个人号不在线：
              <span>{{scope.row.failTypeAccountCount}}</span>
            </p>
            <p>
              其他：
              <span>{{scope.row.failTypeOtherCount}}</span>
            </p>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import { indexMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import { TSAKMINMSG_TYPE, TSAKMAXMSG_TYPE } from '@/constants/selects'
import { watchDateRangeToTimestamp, getRangeDate, downloadFile, accurateTodate, strToTimestamp } from '@/utils'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  mixins: [indexMixin],
  components: {
    departmenTreeCascadert
  },
  watch: {

  },
  data () {
    return {
      params: {
        beginTime: '',
        endTime: '',
        channelMaxMsgType: '',
        channelMinMsgType: ''
      },
      tableData: {},
      dateRange: {
        params: ''
      },
      TSAKMINMSG_TYPE: TSAKMINMSG_TYPE,
      TSAKMAXMSG_TYPE: TSAKMAXMSG_TYPE,
      exportParams: {},
      tabCurrent: 1
    }
  },
  created () {
    this.$watch('dateRange.params', watchDateRangeToTimestamp(this.params, 'beginTime', 'endTime'))
    const weekDate = getRangeDate()
    weekDate.now = accurateTodate(weekDate.now, 23, 59, 59)
    this.dateRange.params = [weekDate.then, weekDate.now]
  },
  methods: {
    searchCallEvent () {
      if (this.tabCurrent === 2) {
        this.params.channelMaxMsgType = ''
        this.params.channelMinMsgType = ''
      }

      this.search()
    },
    list (current, size) {
      this.params.beginTime = strToTimestamp(this.params.beginTime)
      this.params.endTime = strToTimestamp(this.params.endTime)
      if (this.tabCurrent === 1) {
        v3indexApi.autoTaskMsgStatistics(this.params).then(data => {
          this.exportParams = Object.assign({}, this.params)
          this.tableData = data
        })
      } else {
        v3indexApi.taskStatistics(Object.assign({}, this.params)).then(data => {
          this.exportParams = Object.assign({}, this.params)
          this.tableData = data
        })
      }
    },
    // 导出全部
    exportAllCallback () {
      if (this.tabCurrent === 1) {
        v3indexApi.taskStatisticsExport(this.exportParams).then((res) => {
          downloadFile(res, '消息推送.xls')
          this.success('恭喜你，导出成功')
        })
      } else {
        v3indexApi.tautoTaskstatisticsExport(this.exportParams).then((res) => {
          downloadFile(res, '一键加微.xls')
          this.success('恭喜你，导出成功')
        })
      }
    }
  }
}
</script>
