<template>
  <div>
    <!-- 筛选查询 -->
    <search @search="search"
            entry="enterpriseList" />
    <!-- 数据列表 -->
    <div class="ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="企业名称"
                         prop="name" />
        <el-table-column label="创建时间">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column label="到期时间">
          <template slot-scope="scope">
            <span>{{scope.row.expirationTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column label="备注">
          <template slot-scope="scope">
            <span>{{scope.row.remark || ''}}</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import search from '../search'
import { businessManageApi } from '@/api/oms'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  components: {
    search
  },
  data() {
    return {
      date: '',
      params: {
        keyWord: '',
        beginTime: '',
        endTime: '',
        parentId: ''
      }
    }
  },
  created() {
    this.params.parentId = this.info.id
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await businessManageApi.getAgentListEnterpriseList(this.params).then(res => {
        this.tableData = res
      })
    },
    /**
     * 查询
     */
    search(params, typeVal) {
      this.params.keyWord = params.search
      this.params.beginTime = params.beginTime
      this.params.endTime = params.endTime
      if (typeVal) {
        this.getTableList(1)
      }
    }
  }
}
</script>
