<template>
  <div class="ly-bg-white ly-margin-top-sm ly-position-relative ly-addEdit">
    <div class="ly-font-16 ly-font-color-1 ly-margin-horizontal-sm ly-border-bottom-1 ly-padding-bottom-sm">
      <span class="ly-vertical-line">{{dialog.title}}活动</span>
    </div>
    <div class="business">
      <el-form :model="form"
               :rules="dialog.isEdit!=='see'?rules:{}"
               ref="form"
               label-width="150px"
               class="ly-margintop-25px demo-ruleForm">
        <el-form-item label="活动名称:"
                      prop="activityName">
          <el-input v-model="form.activityName"
                    placeholder="12字以内"
                    maxlength="12"
                    max="12"></el-input>
          <p class="ly-font-color-8">仅在后台出现，方便识别不同活动</p>
        </el-form-item>
        <el-form-item label="活动页面标题:"
                      prop="pageTitle">
          <el-input v-model="form.pageTitle"
                    placeholder="8字以内"
                    maxlength="8"
                    max="8"></el-input>
          <p class="ly-font-color-8">手机活动页标题</p>
        </el-form-item>
        <el-form-item label="活动分享文案："
                      class="ruleForm-sm"
                      prop="shareText">
          <div>
            <el-input type="textarea"
                      v-model="form.shareText"
                      rows="5"
                      maxlength="50"
                      max="50"></el-input>
            <div class="ly-el-lay ly-font-color-8">
              <span class="ly-float-right">{{form.shareText | shareTextFil}}/50字</span>
              <p>用户发送给朋友时会显示该文案</p>
            </div>
          </div>
        </el-form-item>
        <el-form-item label="活动时间:"
                      prop="date">
          <el-date-picker v-model="form.date"
                          type="datetimerange"
                          value-format="timestamp"
                          range-separator="~"
                          start-placeholder="开始时间"
                          end-placeholder="结束时间"
                          :default-time="['00:00:00', '23:59:59']"
                          :picker-options="pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="背景图:">
          <div class="ly-box">
            <vma-image-upload v-model="form.backgroundImg" />
          </div>
          <p class="ly-font-color-8">建议尺寸：750*1334 不上传则默认系统背景图</p>
        </el-form-item>
        <el-form-item label="奖品类型:">
          <!-- 1现金红包 -->
          <el-radio-group v-model="form.activityType">
            <el-radio :label="1">现金红包</el-radio>
          </el-radio-group>
        </el-form-item>
        <!-- 红包类型 1固定红包金额 2随机红包金额  -->
        <el-form-item label="红包类型:">
          <el-radio-group v-model="form.redpackageType">
            <el-radio :label="1">固定红包金额</el-radio>
            <el-radio :label="2">随机红包金额</el-radio>
          </el-radio-group>
        </el-form-item>
        <div v-if="form.redpackageType===1">
          <el-form-item label="红包金额:"
                        prop="moneyNum">
            <el-input-number v-model="form.moneyNum"
                             :min="1"
                             :max="200"
                             :precision="2"
                             :controls="false"
                             placeholder="输入金额1~200.00" />
          </el-form-item>
        </div>
        <div v-if="form.redpackageType===2">
          <el-form-item label="红包金额:"
                        prop="redpageConfig"
                        class="ruleForm-ss">
            <el-input-number v-model="form.redpageConfig.floorLine"
                             :min="1"
                             :max="200"
                             :precision="2"
                             :controls="false"
                             placeholder="输入金额1~200.00"></el-input-number>
            <span class="ly-margin-horizontal-xs">~</span>
            <el-input-number v-model="form.redpageConfig.upLine"
                             :min="1"
                             :max="200"
                             :precision="2"
                             :controls="false"
                             placeholder="输入金额1~200.00"></el-input-number>
            <span class="ly-font-color-8">元</span>
          </el-form-item>
        </div>
        <el-form-item label="参与频次:">
          <el-radio-group v-model="form.joinType">
            <el-radio :label="1">同一用户仅能参加一次</el-radio>
            <el-radio :label="2">同一用户每天可参与一次</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="参与条件:">
          <el-radio-group v-model="form.joinLimit">
            <el-radio :label="1">默认无限制</el-radio>
            <el-radio :label="2">必须要填入购物账号才能参与活动</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="审核设置:"
                      class="ruleForm-xs block">
          <el-radio-group v-model="form.checkType">
            <el-radio :label="1"
                      style="margin-top: 0;">人工审核，提交
              <el-input-number v-model="form.checkTime"
                               :min="form.checkType===1?1:null"
                               :max="99999"
                               :precision="2"
                               :controls="false"
                               placeholder="输入小时" />
              小时后，如未审核则自动审核</el-radio>
            <el-radio :label="2">自动审核，提交后立即自动审核</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="活动说明:"
                      prop="introduction"
                      class="ruleForm-sm">
          <el-input v-model="form.introduction"
                    type="textarea"
                    placeholder="活动说明"
                    :maxlength="300"
                    :max="300"
                    :min="0"
                    :rows="15"
                    :autosize="{ minRows: 5, maxRows: 15}"
                    ref="count"></el-input>
          <div class="ly-el-lay">
            <span class="ly-font-color-2 ly-font-12">{{form.introduction | introductionFil}}/300字</span>
            <span class="ly-float-right">
              <el-button type="text"
                         @click="inputExample('introduction')">示例文字</el-button>
            </span>
          </div>
        </el-form-item>
        <el-form-item label="活动引流:"
                      class="block">
          <!--是否活动引流1是0否-->
          <el-switch v-model="form.drainage"
                     :active-value="1"
                     :inactive-value="0"></el-switch>
          <span class="ly-font-color-2 ly-font-12">开启活动后提交申请成功会引导客户参与引流活动</span>
          <div v-if="form.drainage === 1">
            <el-radio-group v-model="form.drainageType">
              <el-radio :label="1">同步微活码&ensp;
                <el-select v-if="form.drainageType === 1"
                           v-model="form.microCode"
                           placeholder="选择微活码(必填)">
                  <el-option v-for="item in codeList"
                             :key="item.id"
                             :label="item.title"
                             :value="item.id">
                  </el-option>
                </el-select>
              </el-radio>
              <el-radio :label="2">自定义</el-radio>
            </el-radio-group>
            <template v-if="form.drainageType === 2">
              <div class="ly-box">
                <vma-image-upload v-model="form.drainageImgUrl" />
                <el-input type="textarea"
                          class="ly-margin-left-sm"
                          style="width:240px;"
                          placeholder="请输入引流话术(必填)"
                          max="25"
                          maxlength="25"
                          :min="0"
                          :rows="6"
                          v-model="form.drainageText"
                          ref="count"></el-input>
              </div>
              <p class="ly-font-color-2 ly-font-12">上传同步微活码(必填)</p>
            </template>
          </div>
        </el-form-item>
        <el-form-item v-if="dialog.isEdit!=='see'">
          <el-button @click="dialog.open = false">取消</el-button>
          <el-button type="primary"
                     @click="previewCallback('form')">预览</el-button>
          <el-button type="primary"
                     @click="sureCallback('form')">保存</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="h5-view-container"
         v-show="viewUrl">
      <!-- h5主页 -->
      <h5-view :url="viewUrl" />
    </div>
    <div v-if="dialog.isEdit==='see'"
         class="ly-mask-layer"></div>
  </div>
</template>
<script>
import { v2marketPlatformApi } from '@/api/system'
import { vmaH5ScrmAddShopGood } from '@/config'
import { compatUrl } from '@/utils'
import { marketPlatformAddMixins } from '@/mixins'

export default {
  mixins: [marketPlatformAddMixins],
  props: {
    dialog: [Object]
  },
  data() {
    const compareValidator = (rule, value, callback, source, options) => {
      let errors = []
      if (!value.floorLine) {
        errors.push('请输入最小红包金额')
      }
      if (value.floorLine && value.floorLine >= value.upLine) {
        errors.push('最小红包金额应小于最大红包金额')
      }
      if (!value.upLine) {
        errors.push('请输入最大红包金额')
      }
      callback(errors)
    }
    return {
      codeList: [],
      form: {
        redpageConfig: {},
        joinType: 1, // 参与频次 1同一用户只能参与一次 2同一用户每天参与一次
        joinLimit: 1, // 参与条件 1默认无限制 2必须填入购物账号
        checkType: 1, // 审核设置 1人工 2自动
        checkTime: 72, // 人工审核在x小时后未处理。自动通过
        drainage: 0, // 活动引流 1是 0否
        microCode: '', // 短链接URL
        drainageType: 1,
        introduction: '' // 介绍
      },
      rules: {
        // 随机金额红包
        redpageConfig: [
          { required: true, validator: compareValidator }
        ]
      },
      exampleWord: [
        '1.打开手机淘宝，发表15字以上追评并且截屏。',
        '2.复制相应订单号，粘贴至订单输入框，并且上传截图。',
        '3.1-3个工作日内将会发放相应奖励。',
        '4.若由于微信原因无法领取红包，请及时与我们联系。'
      ]
    }
  },
  created() {
    this.getCodeList()
    if (this.dialog.isEdit !== 'add') {
      this.getDetail()
    }
  },
  methods: {
    // 获取详情
    async getDetail() {
      const res = await v2marketPlatformApi.buyagainDetailsId(this.dialog.id)
      let resData = await this.getDetailValidate(res)
      this.form = Object.assign({}, this.form, resData)
    },
    // 提交表单
    sureCallback(formName) {
      this.validateForm(formName).then(() => {
        if (this.dialog.isEdit === 'add') {
          this.addCallback()
        } else {
          this.editCallback()
        }
      })
    },
    // 新增
    addCallback() {
      v2marketPlatformApi.buyagainAdd(this.form).then(res => {
        this.success('恭喜你，新增成功')
        this.dialog.open = false
        this.$emit('on-success', true)
      })
    },
    // 编辑
    editCallback() {
      v2marketPlatformApi.buyagainEdit(this.form).then(res => {
        this.success('恭喜你，编辑成功')
        this.dialog.open = false
        this.$emit('on-success', true)
      })
    },
    // 预览
    previewCallback(formName) {
      this.validateForm(formName).then(async () => {
        const cacheKey = await v2marketPlatformApi.buyagainPreview(Object.assign({}, this.form))
        this.viewUrl = compatUrl(vmaH5ScrmAddShopGood, {
          id: cacheKey,
          view: 1
        })
      })
    }
  }
}
</script>
