<template>
  <lazy-cascader v-model="modelValue"
                 :changeOnSelect="true"
                 :getDataFnOrDataList="getDataFn"
                 :options="mergedOptions"
                 @active-item-change="onActiveItemChange"
                 ref="lazyCascader" />
</template>

<script>
import lazyCascaderMixin from './mixin'
import { deviceManageApi } from '@/api/system'
export default {
  mixins: [lazyCascaderMixin],
  props: {
    'currentDepartmentId': {
      type: [Number, String],
      default: function() {
        return null
      }
    }
  },
  data() {
    return {
      ids: []
    }
  },
  methods: {
    getDataFn() {
      return new Promise(resolve => {
        resolve(this.getDepartmentList(this.blackData, this.currentDepartmentId, this))
      })
    },
    async getDepartmentList(blackData, id, that) {
      let arr = []
      await deviceManageApi.mManageGroupDepartGet().then(data => {
        if (blackData) {
          let param = [{
            name: '无',
            id: 0
          }]
          data = [...param, ...data]
        }
        if (id) {
          that.initDepartmentIds(data, id, that)
        } else {
          that.$emit('initDepartmentIds', [])
        }
        arr = (data || []).map(v => this.convertData(v.id, v.name, v))
      })
      setTimeout(() => {
        this.$emit('initDepartmentIds', this.ids)
      }, 200)
      return arr
    },
    initDepartmentIds(arr, id, that) {
      arr.forEach(item => {
        if (item.id === id) {
          let ids = item.parentIds.split(',')
          ids.splice(0, 1)
          ids = ids.map(item => {
            return parseInt(item)
          })
          ids.push(id)
          this.ids = ids
          /*
          this.$nextTick(() => {
            that.$emit('initDepartmentIds', ids)
          })
          */
        } else {
          if (item.children) {
            that.initDepartmentIds(item.children, id, that)
          }
        }
      })
    },
    onActiveItemChange(data, list, resolve) {
    }
  }
}
</script>
