<template>
  <div>
    <el-dialog title="导入订单"
               :visible.sync="dialogVisible"
               width="880px">
      <el-form label-width="100px">
        <el-form-item label="导入说明:"
                      required>
          <p class="ly-font-16 ly-font-color-2">1、导入文件格式必须为 .csv，.xls，.xlsx；</p>
          <p class="ly-font-16 ly-font-color-2">2、导入的文件大小不能超过50mb，如果文件过大请分多次导入；</p>
          <p class="ly-font-16 ly-font-color-2">3、导入的过程中请保持网络的联通，如导入中断，请点击“继续上传”；</p>
          <el-button type="primary"
                     size="small">下载模板</el-button>
        </el-form-item>
        <el-form-item label="平台类型:"
                      required>
          <el-select placeholder="请选择"
                     v-model="parentDepartmanet">
            <el-option label="区域一"
                       value="shanghai"></el-option>
            <el-option label="区域二"
                       value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="所属店铺:"
                      required>
          <el-select placeholder="请选择"
                     v-model="parentDepartmanet">
            <el-option label="区域一"
                       value="shanghai"></el-option>
            <el-option label="区域二"
                       value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="选择文件:"
                      required>
          <el-button type="primary"
                     size="small">选择文件</el-button>
        </el-form-item>
      </el-form>
      <span slot="footer"
            class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      parentDepartmanet: '',
      dialogVisible: false
    }
  },
  methods: {
    openDialog() {
      this.dialogVisible = true
    }
  }
}
</script>
