<template>
  <div>
    <el-dialog title="失败订单"
               :visible.sync="dialogVisible"
               width="880px">
      <div class="search-fail-order">
        <div class="ly-box ly-box-align-center">
          <span class="ly-font-size-16 ly-font-color-4">订单搜索:</span>
          <el-input placeholder="订单号"
                    class="ly-width-280px-im ly-margin-horizontal-sm"></el-input>
          <el-button type="primary"
                     size="small">查询</el-button>
        </div>
        <el-table class="fail-order-table"
                  :data="tableData">
          <el-table-column label="订单号"
                           align="center"
                           prop="orderNum"
                           width="180">
          </el-table-column>
          <el-table-column label="失败原因"
                           prop="reason"></el-table-column>
        </el-table>
      </div>
      <span slot="footer"
            class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      parentDepartmanet: '',
      dialogVisible: false
    }
  },
  methods: {
    openDialog() {
      this.dialogVisible = true
    }
  }
}
</script>
