<template>
  <el-form :model="dataInfo.data"
           ref="dataInfo"
           :rules="rules"
           label-width="120px"
           @submit.native.prevent>
    <el-form-item label="应用名称："
                  prop="appName">
      <el-input v-model.trim="dataInfo.data.appName"
                autocomplete="off"
                placeholder="请输入App名称"
                clearable
                class="ly-width-280px-im"
                maxlength="60"></el-input>
    </el-form-item>
    <el-form-item label="应用package："
                  prop="packageName">
      <el-input v-model.trim="dataInfo.data.packageName"
                autocomplete="off"
                placeholder="请输入包名称"
                clearable
                class="ly-width-280px-im"
                maxlength="60"></el-input>
    </el-form-item>
    <el-form-item label="例如以下应用：">
      <div class="ly-width-400px ly-mheight-36vh ly-bg-f6 ly-margin-center">
        <ul class="ly-padding-20px">
          <li class="ly-paddingtb-6px"
              v-for="(item,index) in list"
              :key="index">
            {{item.key+'&ensp;'+item.val}}
          </li>
        </ul>
      </div>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('dataInfo')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
    import {
        riskManagementApi
    } from '@/api/system'
    import {
        applicationList
    } from '@/api/common'

    export default {
        props: {
            dataInfo: {
                type: [Number, String, Object, Array],
                default: null
            }
        },
        data() {
            return {
                list: applicationList.applicationList,
                rules: {
                    appName: [{
                        required: true,
                        message: '请输入App名称',
                        trigger: 'blur'
                    }],
                    packageName: [{
                        required: true,
                        message: '请输入包名称',
                        trigger: 'blur'
                    }]
                }
            }
        },
        methods: {
            // 弹窗-确定
            sureCallback(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (this.dataInfo.data.id) {
                            this.editCallback()
                        } else {
                            this.addCallback()
                        }
                    } else {
                        return false
                    }
                })
            },
            // 新增
            addCallback() {
                riskManagementApi.addApp(this.dataInfo.data).then(res => {
                    this.success('恭喜你，新增成功')
                    this.dataInfo.open = false
                    this.$emit('getTableList')
                })
            },
            // 编辑
            editCallback() {
                riskManagementApi.editApp(this.dataInfo.data).then(res => {
                    this.success('恭喜你，编辑成功')
                    this.dataInfo.open = false
                    this.$emit('getTableList')
                })
            }
        }
    }
</script>