<template>
  <div>
    <el-input
      autocomplete="off"
      placeholder="请输入设备信息进行过滤"
      class="ly-width-641px"
      v-model.trim="dataInfo.keyWord"
      @blur="getData"
      @keyup.native.enter="getData"
      maxlength="100"
    ></el-input>
    <div class="ly-margin-top-15px">
      <el-tree
        :data="dataInfo.data"
        show-checkbox
        node-key="id"
        ref="tree"
        :default-expanded-keys="[1]"
        :default-checked-keys="dataInfo.defaultCheckeds"
      ></el-tree>
      <!-- <el-tree
        :data="treeData"
        show-checkbox
        node-key="id"
        ref="tree"
        :props="defaultProps"
        :default-expanded-keys="[1]"
        :default-checked-keys="dataInfo.defaultCheckeds"
      ></el-tree>-->
      <!-- <el-tree
          :data="treeData"
          :props = "defaultProps"
          :disabled="treeData.length ? false:true"
          :expand-on-click-node="false"
          :check-on-click-node="true"
          default-expand-all
          show-checkbox
          node-key="id"
          ref="tree"
          :filter-node-method="filterNode"
          :default-expanded-keys="[1]"
      ></el-tree>-->
    </div>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary" @click="sureCallback">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { riskManagementApi } from "@/api/system";

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  // data() {
  //   return {
  //     treeData: [
  //       {
  //         id: 1,
  //         name: "全选",
  //         root: true, // 全选标识
  //         children: []
  //       }
  //     ],
  //     defaultProps: {
  //       children: "children",
  //       label: "name"
  //     }
  //   };
  // },
  created() {
    this.getData();
  },
  methods: {
    getData() {
      this.dataInfo.defaultCheckeds = [];
      riskManagementApi
        .queryApp({ id: this.dataInfo.id, key_word: this.dataInfo.keyWord })
        .then(res => {
          // this.treeData[0].children = res;
          // for (var i = 0; i < res.length; i++) {
          //   var item = res[i];
          //   if (item.remark) {
          //     item.label = `${item.remark}（${item.imei}）`;
          //   } else {
          //     item.label = item.imei;
          //   }
          //   if (item.flag === 1) {
          //     this.dataInfo.defaultCheckeds.push(item.id);
          //   }
          // }
          var that = this;
          imeiList(res);
          function imeiList(imeiData) {
            for (var i = 0; i < imeiData.length; i++) {
              var item = imeiData[i];
              item.label = item.name;
              if (item.imei && item.flag === 1) {
                that.dataInfo.defaultCheckeds.push(item.id);
                if (item.children.length > 0) {
                  imeiList(item.children);
                }
              } else if (item.children.length > 0) {
                imeiList(item.children);
              }
            }
          }

          this.dataInfo.data = [
            {
              label: "全选",
              children: res
            }
          ];
        });
    },
    // 确定
    sureCallback() {
      this.dataInfo.checkeds = this.$refs.tree.getCheckedKeys();
      riskManagementApi
        .appAssign({ app_id: this.dataInfo.id, eq_id: this.dataInfo.checkeds })
        .then(res => {
          this.success("恭喜你，设置成功");
          this.dataInfo.open = false;
          this.$emit("getTableList");
        });

      // for (var i = 0; i < this.dataInfo.data[0].children.length; i++) {
      //   var item = this.dataInfo.data[0].children[i];

      //   var checked = false;
      //   for (var y = 0; y < this.dataInfo.checkeds.length; y++) {
      //     var id = this.dataInfo.checkeds[y];
      //     if (item.id === id) {
      //       checked = true;
      //     }

      //   }
      //   if (checked) {
      //     listArr[i] = {
      //       eq_id: item.id,
      //       flag: 1
      //     };
      //   } else {
      //     listArr[i] = {
      //       eq_id: item.id,
      //       flag: 0
      //     };
      //   }
      // }
    }
  }
};
</script>
